[2021-02-21 15:09] taspelund commented on #8122
This command is intended to show all interfaces that are known by/contributing to the OSPF process.  Passive interfaces still contribute to T1 (or T2) LSAs and bring their connected subnets into OSPF. Because of that, it's useful to have them included in this output as it makes it more clear to the operator which interfaces are known to ospfd.

Do you notice a difference in behavior here compared

[2021-02-21 15:20] vecinohk commented on #8122
I only have a comparison with Quagga 1.2.4, where the same command displays all interfaces, including passive ones. It's just an observation - if you don't see it as a issue, leave it at that.

[2021-02-22 12:08] vecinohk commented on #8122
This command displays the vlan203 interface twice.

[code]

[2021-02-22 16:15] louberger opened #8127 "7.5 rpmbuild requires librtr"
Version up to 7.5 did not require librtr to build an rpm.  builing a 7.5 RPM now reports

(tested on latest version of centos7)

This change was made in:
https://github.com/FRRouting/frr/pull/7429 and
https://github.com/FRRouting/frr/pull/7429/commits/a0187fdcf1d0476bf13473b47e78e395c22790a2

I think this requirement/default use of librtr is *not* desirable and should be moved back to a package op

[2021-02-22 17:52] wowczarek commented on #3973
I think it really comes down to this:

```zebra/connected.c``` **IS:**

[code]

```zebra/connected.c``` **SHOULD BE:**

[code]

Assuming that the assertion ```/32 == unnumbered``` is correct, for point to point interfaces, we should be looking at the destination netmask to establish this. This should, in theory, fix the issue, just need to test this. Again, assuming that the connected flag is alre

[2021-02-22 19:11] #8069 closed

[2021-02-22 19:17] qlyoung commented on #8118
This is not an FRR issue, this is an issue with your setup.

However, I'd be willing to help you as I personally run Proxmox myself. Unfortunately, you have provided basically no usable information about how to reproduce this problem, other than "frr in proxmox lxc", which is not sufficiently specific.

This is why I wrote the bug report template that appears when you go to file a bug report. It's

[2021-02-22 21:59] wowczarek commented on #3973
Ha, looks like someone's picked this up via pfsense bug tracker and tested this for me. Confirmed that this fixes the issue in FreeBSD - gre no longer shows up as unnumbered. I'll submit a PR.

[2021-02-22 22:42] taspelund commented on #8122
Can you get the output of `show interface brief`, `show interface vlan203`, and `show ip ospf interface vlan203` ?

[2021-02-23 07:18] vecinohk commented on #8122
Yes sure it is here:

[code]

[code]

[code]

[2021-02-23 11:31] 85ayush commented on #5982
I would love to work on this issue, I am new to open source contribution. Can you please guide me?

[2021-02-23 11:32] 85ayush commented on #5884
I would love to work on this issue, I am new to open source contribution. Can you please guide me?

[2021-02-23 11:32] 85ayush commented on #3014
I would love to work on this issue, I am new to open source contribution, could you please guide me?

[2021-02-23 13:28] taspelund commented on #8122
Looks like OSPF is detecting two IPs on vlan203 (10.107.80.65 and 89.248.***.***). I suspect we're seeing two entries because there's one display for each address. That said, the output could certainly be improved to reflect which address is being dumped

[2021-02-23 13:31] vecinohk commented on #8122
I understand - thank you for the explanation.

[2021-02-23 16:58] sworleys commented on #5884
Absolutely, feel free to work on it. Reach out on slack if you have any questions.

[2021-02-23 17:00] sworleys commented on #5982
Definitely!

[2021-02-23 19:36] qlyoung commented on #3014
I think @donaldsharp probably needs to add some more detail to this issue, because looking back at the description, I'm not sure what he's talking about specifically. Perhaps a method to look up connected addresses based on a global table?

[2021-02-23 21:05] donaldsharp commented on #3014
A method to lookup the Connected addresses based upon a O(1) lookup instead of cycling through a linked list

[2021-02-23 22:54] taspelund commented on #8122
No problem -- happy to help :-)

[2021-02-23 23:37] cachethrasher opened #8140 "ospf6d: Limiting the advertisement of secondary addresses into OSPF"
FRR version: 7.5

I am currently experiencing an issue where I have loopbacks with (sometimes multiple) secondary IPs, where they are all advertised into ospf6, although I only want the primary to be advertised. To pre-empt the question: I have multiple IPs on loopbacks because it is required in this configuration and that's that.

So for ospfd, under the loopback I can specify ```ip ospf area n .

[2021-02-24 06:12] 85ayush commented on #5982
Thank you, so I am starting working on it, where should I start from?
And if I get stuck somewhere how can I contact you for help?

Please reply.

On Tue, 23 Feb 2021, 10:30 pm Stephen Worley, <notifications@github.com>
wrote:

[2021-02-24 06:13] 85ayush commented on #5884
Where should I start?

On Tue, 23 Feb 2021, 10:28 pm Stephen Worley, <notifications@github.com>
wrote:

[2021-02-24 08:07] mrakotiq opened #8141 "route_match_ipv6_address_prefix_list missing in ripng_routemap.c"
Hi,
In our network we need to filter ipv6 redistribution by prefix list. But ripngd does not have the option  to match via ipv6 prefix-list in route map.

The addition of possibility to match route with ipv6 prefix-list and ipv6 access-list should be very easy.

[2021-02-24 08:18] tobias-urdin opened #8142 "feature request: detect failures for upstream or downstream links or bgp peer dependencies"
Hello,

This is a request for a feature similar to Uplink Failure Detection (DELL [1], Juniper [2], HP [3]), Link State Tracking [4] (Cisco) or the "depend on" statement in OpenBGPD [5].

This could potentially be broken down into a two feature requests, one that simply blocks a BGP peer from being established if another specified peer is not established to prevent blackholing traffic coming from

[2021-02-24 11:02] kwind opened #8143 "static route is not correct, when the same connect route are more than one"
Describe the bug
Hello.
There are two adsl interface(adsl1, adsl2)，configure one static route, Destination address 4.4.4.4/32 gateway 140.140.1.1，but，the static route 4.4.4.4/32 has only one nexthop in zebra.
expect：
[code]
Screenshots
kernel:
[code]
Versions
OS Kernel: [e.g. Linux, OpenBSD, etc] [version]: centos 7，Linux version 3.10.0
FRR Version [version]:7.2
Additional context
libyang: libyang

[2021-02-24 16:25] sworleys commented on #5884
Most of the info you need to get started is in the issue, but to get help in general building FRR yourself start here: http://docs.frrouting.org/projects/dev-guide/en/latest/

[2021-02-24 18:30] #7908 closed

[2021-02-24 18:43] 85ayush commented on #5884
Thanks, I'll check it out.

On Wed, 24 Feb 2021 at 21:55, Stephen Worley <notifications@github.com>
wrote:

[2021-02-25 12:10] ton31337 commented on #7730
@polychaeta autoclose in 1 week.

[2021-02-25 12:53] idryzhov opened #8149 "blackhole routes disappear after disabling/enabling the loopback interface"
---------------

**Describe the bug**

[this issue can be seen only when kernel nexthops are enabled]

Blackhole routes are deleted by the kernel when disabling the loopback interface.
Zebra doesn't monitor this and doesn't restore the routes when enabling the interface back.

This issue is actually even worse because blackhole routes depend on the nexthop installed
in the default VRF. When the lo

[2021-02-25 13:44] gmshake opened #8151 "[ripd] RIPv2 authentication regression"
Env: FRR 7.5

The RIPv2 Authentication Key is always 16 octets, as RFC 1723 3.1 and RFC 4822 2.4 claim.

https://github.com/FRRouting/frr/commit/5c84f23817a00fe3d46d275def673d01ad93b191 introduced regression incidentally, by replacing `strncpy` with `strlcpy`.

Observed the regression on one instance when upgrade from FRR 5 to FRR 7.5 , the instance was configured with 16 chars authentication key.

[2021-02-26 06:43] Jafaral commented on #7702
fixed in #7764

[2021-02-26 06:43] #7702 closed

[2021-02-26 17:47] fdomain opened #8162 "bgpd statistics for l2vpn evpn advertised prefixes always shows 0"
---------------

**Describe the bug**

I have a VXLAN/EVPN + VRF setup. I'm advertising several IPv4/IPv6 prefixes from my VRF that are redistributed over the l2vpn evpn afi/safi.
[code]
The above command output shows that we're sending 4 prefixes, however, statistics are always showing 0:
[code]
[x ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr maste

[2021-02-26 17:50] SarusKant opened #8163 "OSPF Area Range PPP"
Error in ospf area range for ptp links (gre, ipip, ppp) among others, I couldn't find the tag to fix.
As I see it, he doesn't understand that the peer is the ip in which he must participate in the range or even the prefix of the peer, I am a user of centos 8.
if someone can help. I thank.

[2021-02-26 18:15] qlyoung commented on #8163
Welcome to GitHub!

Unfortunately you haven't provided enough information to understand what you are talking about. Please edit your issue and provide all of the information requested in the bug report template.

[2021-02-28 23:06] DS819src opened #8169 "ISIS Interface with IPv4 Address"
Hi,

I'm using at this moment frr version 7.5 from frrouting.org on my debian buster. The kernel version is from proxmox 5.4.98-1-pve
The issue was tested on version 6.0.2 til 7.5.

frr:
[code]

My frr configuration for isis
[code]
The IPv4 connection works properly
[code]
The issue is, IPv4 doesn't appear on show isis interface, except for lo, therefore the ISIS can't set the next-hop to the rout

[2021-03-02 01:15] amollad commented on #6276
Hi Chris,

This is on its way..

https://github.com/FRRouting/frr/pull/8153

Amol

On Mon, 8 Feb 2021 at 19:49, chris-tof <notifications@github.com> wrote:

[2021-03-02 16:24] donaldsharp commented on #8141
added a feature request to the feature request page

[2021-03-02 16:25] donaldsharp commented on #8141
@polychaeta autoclose in 1 week

[2021-03-02 16:25] #7931 closed

[2021-03-02 16:34] pguibert6WIND commented on #8142
I feel that you look for a tracker that performs some additional actions, in addition to monitor a bfd link.
Can you confirm me what you expect:
if you perform bfd on lan link, when lan link fails, triggers shutdown on wan link.
right?

[2021-03-02 16:34] idryzhov commented on #7913
Fixed in https://github.com/FRRouting/frr/pull/8006. Also backported to 7.5.

[2021-03-02 16:34] #7913 closed

[2021-03-02 16:50] #6522 closed

[2021-03-02 16:51] sworleys commented on #8149
@idryzhov can we close this now?

[2021-03-02 16:53] idryzhov commented on #8149
@sworleys done

[2021-03-02 16:53] #8149 closed

[2021-03-02 18:51] qlyoung commented on #8163
@polychaeta autoclose in 3 days

[2021-03-03 12:05] yswery-reconz commented on #4994
I am having the same issue where I can find this returning at all via SNMP. I have FRR with snmp support installed (Pfsesne 2.5)

[code]

[code]

On the snmpd i also have agentx of course, but snmp walk doesnt show anything BGP related.

Does anyone know what I could try to do?

[2021-03-03 14:41] tobias-urdin commented on #8142
Yes, that is correct. Something that can handle dependencies on links or peers so that when the iBGP peers is down don't bring the eBGP peers up or kill them to prevent blackholing.

[2021-03-03 17:50] nwitkowski opened #8192 "set extcommunity bandwidth format should be float on the wire"
---------------

**Describe the bug**
The format of the bandwidth parameter in `set extcommunity bandwidth` is integer based right now on the wire (tcpdump). It should be a floating point format.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Setup extcommunity bandwidth in bgpd.conf
[code]

We see the following in

[2021-03-04 02:10] taspelund commented on #8162
I have a fix for this in https://github.com/FRRouting/frr/pull/8199

[2021-03-04 10:14] hothotstreet opened #8201 "Unable to dynamically update the direct routing of the interface after modifying the interface IP"
I installed in the openwrt frr7.2 version, I found a problem, I build a new bridge configuration and then for the Bridges an IP address, enter the FRR can see straight joint routing of the bridge, and then I quit the FRR, remove the IP address of the bridge to configure a new IP address, and then enter the FRR found it still holds the old direct routing, what's going on, I need to restart the FRR

[2021-03-04 12:10] #7730 closed

[2021-03-04 16:33] edipascale commented on #6965
this should have been fixed by https://github.com/FRRouting/frr/pull/7843

[2021-03-05 11:25] #7465 closed

[2021-03-05 11:35] FabianNiehaus opened #8204 "Add SNMP pre-built packages to documentation"
I recently noticed that the 'frr-snmp' Debian package is absent from the documentation.

There is no reference to the existence of the package on either of these sites:
- https://docs.frrouting.org/en/latest/snmp.html
- https://docs.frrouting.org/en/latest/installation.html
- https://deb.frrouting.org/

This leaves the impression that there is no other way to enable SNMP support than building from

[2021-03-05 13:10] eqx311 commented on #830
plz, this is urgently needed everywhere! |  https://media1.tenor.com/images/47f4721a4085e8b1d4d88e42c974782e/tenor.gif?itemid=8314542

[2021-03-05 13:33] rzalamena commented on #830
There is a PR open here:
https://github.com/FRRouting/frr/pull/8057

It is missing a topology test before it gets merged.

[2021-03-05 18:51] #8163 closed

[2021-03-08 05:41] mobash-rasool commented on #830
It will be merged once we write the topotest for this feature. The tester in our team is busy so we developers are trying to do it, so it will take some time to merge.

Will appreciate if some tester would like to help to add the test cases in the topotest for this feature.

Regards,
Mobashshera

From: eqx311 <notifications@github.com>
Reply to: FRRouting/frr <reply@reply.github.com>
Date: Friday,

[2021-03-08 12:12] mrakotiq commented on #8141
keepalive ping

[2021-03-08 12:12] polychaeta commented on #8141
This issue will no longer be automatically closed.

[2021-03-08 18:47] mjstapp opened #8213 "bgpd: pthread race in peer notify message handling"
I think there's a race in the handling of the NOTIFY message a peer can send when it shuts down. In bgpd, there are two pthreads that interact to handle incoming packets: the io pthread reads from the socket and enqueues each message as a stream on a fifo associated with the peer; the main pthread processes each stream/message on the fifo. When a peer shuts down, the outline goes something like th

[2021-03-09 08:12] idryzhov commented on #8143
I don't see a bug here, this is how the kernel works.
If you have two different routes to a single destination, only the first one actually works. It is the adsl1 in your case.

[2021-03-09 08:13] idryzhov commented on #8143
@polychaeta autoclose in 3 days

[2021-03-09 10:27] DS819src commented on #8169
Hi,

is there any hints for me?

I'm trying with the original Debian Buster kernel too, the ISIS interface behaviour is the same.

4.19.0-14-amd64

Best regards,

Daniel.

[2021-03-09 12:16] mruprich opened #8218 "EIGRP: authentication commands not applied from frr.conf on startup"
When trying to use 'ip authentication key-chain eigrp <asn> <key-chain>' and 'ip authentication mode eigrp <asn> md5' it only works when used manually from vtysh. If these commands are present in frr.conf when frr is starting up, they are not applied and following errors are produced:
[code]
The frr.conf looks like this:
[code]
After the startup, the 'sh run' command shows only this:
[code]

[x] D

[2021-03-09 16:10] qlyoung commented on #8127
Discussed in call; sounds like @louberger is okay with librtr being only a build time dependency so we can close this. If this isn't the case let's reopen the issue and continue discussion.

[2021-03-09 16:11] #8127 closed

[2021-03-09 16:13] #8162 closed

[2021-03-09 16:17] qlyoung commented on #8201
Please file a new issue and if you are reporting a bug, use the bug report template. If you're asking a question you need to provide more detail as it's not clear what you are asking. Feel free to join our community slack if you have FRR questions.

[2021-03-09 16:17] #8201 closed

[2021-03-09 16:24] qlyoung commented on #8218
@rzalamena any chance you could take a look at this one? I believe you did the EIGRP Northbound conversion.

[2021-03-09 21:04] cachethrasher commented on #8140
All right - thank you for your reply. For now I am redistributing connected and filtering that. Luckily my only use for OSPF is an underlying IGP for BGP, so loopbacks only and things are OK.

So is the process that we leave this here and it gets picked up eventually at some point, or is there another process for a feature request?

While I have your attention and I appreciate that this is off-top

[2021-03-10 02:03] polychaeta commented on #8143
This issue will no longer be automatically closed.

[2021-03-10 08:04] idryzhov commented on #8143
@kwind again, this is the way kernel works. You may not expect it looking at the `ip route` output, but all traffic to 140.140.1.1 goes through adsl1 with such configuration.

If you have two routes to the same destination, only the first one works and that's what zebra says to you. Look at the `>` sign:
[code]

If you have a single route with two nexthops, then it would work as you expect:
[code]

[2021-03-10 08:47] kwind commented on #8143
zebra has a problem dealing with connected routing ? in function frr-7.2\zebra\connected.c\connected_up, zebra create two connected route(in my case), but, only selected one(sign **>**); in function frr-7.2\zebra\zebra_nhg.c\nexthop_active, when the nexthop's type is connected(ZEBRA_ROUTE_CONNECT in zebra), zebra only choose the selected one, then return.
`		if (match->type == ZEBRA_ROUTE_CONNECT)

[2021-03-10 09:11] idryzhov commented on #8143
Please, look at what I wrote in my previous comment. There is nothing wrong with zebra.

[2021-03-10 10:26] GalaxyGorilla commented on #7829
Got fixed with #8217.

[2021-03-10 13:23] choppsv1 opened #8228 "isisd: incorrect use of running during validation"
**Describe the bug**

isisd is using running config incorrectly during commit validation stage. There appears to be 12 bad uses mostly pertaining to area, intefrace/circuits.

**To Reproduce**

Need to be batching commits (e.g., https://github.com/FRRouting/frr/pull/8210), or I suppose have an invalid address configured along with a new system id, where the invalid address is valid in the old conf

[2021-03-10 20:05] c-po commented on #7978
In addition to this issue another one was discovered when using RPKI and SSH.

Using the following configuration
[code]

A call to `frr-reload.py` will try to delete the configuration by:
[code]

It only works by calling:
[code]

Which is missleading as it shadows configuration parameters from above.

[2021-03-10 20:13] dslicenc commented on #8140
Both should probably go on the feature requests page.   How long the process takes is purely based on how important it is to someone wiling to do the coding.

[2021-03-11 06:19] anspectrum opened #8235 "Segment Routing Ti-LFA OSPFD crashing"
Operating System::: is Ubuntu 20.04 64 bit. Using docker community version  19.03.8
FRR version::: Downloaded from Docker Hub is FRRouting (version 7.7-dev_git)
The same problem was observed in 7.5 (major release nov 11 2020) as well
Kernel version::: Linux OS 5.4.0-66-generic

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

ISSUE Des

[2021-03-11 09:10] cihankom opened #8236 "Spoke and HUB couldn't communicate if Spoke behind NAT even that IPSEC established"
Hi,

I have installed FRR 7.5.1 release version into Devuan ascii running on 4.14.76 linux kernel.
It looks like Hub couldn't send packets back to spoke which is behind NAT even that IPSEC established successfully.
While investigating issue , I realized that Iptables NFLOG rules is not being hit even that nhrp nflog configuration is correct.
Another point is that Destination ADDR of GRE packets is

[2021-03-11 11:30] 0rb677 opened #8238 "ZEBRA: fpm_write: connection failed: Connection refused"
Hi. i cant connect zebra fpm throuth tcp . Can you please help?
netstat or ss doesnt show any tcp connections

( -M fpm:netlink or -M fpm:protobuf, or -M dplane_nl)

 zebra 7.7-dev-eugene-gddbc1b4dd
Ubuntu 18.04.5 LTS \n \l

[code]

[code]

[code]

[code]

[code]

[2021-03-11 18:46] 0rb677 commented on #8238
also ospf routes missing in routing table (iproute2)

[2021-03-11 19:24] idryzhov commented on #8228
This is actually a bigger problem. Such invalid usage of `nb_running_get_entry` may be find in a lot of daemons.

I created a list of all such usages. We can keep track of fixes here in this issue:

BGP CLI:

- [ ] no_router_bgp_cmd

BGP NB:

- [ ] bgp_router_destroy
- [ ] bgp_global_route_selection_options_deterministic_med_modify
- [ ] bgp_neighbors_neighbor_create
- [ ] bgp_neighbors_neighbor_d

[2021-03-12 04:36] rwestphal commented on #8228
Calling `nb_running_get_entry()` during the validation phase or CLI code is only problematic when the `abort_if_not_found` parameter is set to true. Unfortunately we're not doing that in a few places, but it should be something easy to fix.

What happens is that sometimes the candidate being committed needs to be validated against the internal state of FRR. As an example, we don't support deleting

[2021-03-12 04:53] rwestphal commented on #8169
It seems the problem is that you're using link-local addresses, and isisd filters them for some reason:
[code]

The link-local check was added by commit 3f045a08812525 and I think we need to reevaluate whether it's appropriate or not. Anyone has any opinion on this?

In the meanwhile, an easy workaround to your problem would be to switch to non-link-local addresses in your network.

[2021-03-12 07:56] idryzhov commented on #8228
@rwestphal I don't think this is correct.

Validation phase must not use operational state at all, calling `nb_running_get_entry` or any other functions. This is not correct that "candidate being committed needs to be validated against the internal state of FRR".

Your example of interface deletion is actually a very good example to discuss.
For FRR, all interfaces are _system-controlled_ (termino

[2021-03-12 12:31] anp135 commented on #4872
Docker does not want you have corect container's lo (loopback) interface working.

In case, when all frr from upper picture based on personal virtual machines, their loopbacks is unreacheable. Containers use ipvlan l2 mode for direct connection to the network adapter. Instead macvlan mode because basically promisc didn't allowed by hypervisor. So containers have the same MAC with Host... When dest

[2021-03-12 13:56] DS819src commented on #8169
Hi Renato,

thank you for the hint. The ISIS works if I change the prefix from 169.254 into 192.168.

In my humble opinion, there may some "limits", which address type can be used for the interface address or next-hop, as long as the address isn't unknown, localhost, broadcast or multicast. At least, I don't see if RFC 1142 or RFC 7981 forbid APIPA address.

Best regards,

Daniel.

[2021-03-12 17:43] rwestphal commented on #8228
You're mostly right but you need to remember that FRR is an old codebase with limitations that simply didn't cease to exist when the daemons were YANGified.

Here are a few examples where isisd needs to perform validation based on its internal state:
* You can't change the MTU of an IS-IS area if one of its configured IS-IS interfaces can't accommodate that MTU;
* You can't configure a non-broadca

[2021-03-13 00:06] idryzhov commented on #8228
@rwestphal Thanks for the detailed answer.

I understand what you are saying. Let's agree that we should strive to avoid using operational state in CLI and validation stage.
Unfortunately, it looks like there is no such goal in FRR right now. I don't want to offend anyone, but sometimes it looks like NB conversion was done just for show.

Let's look at `ip router isis` command implementation:

Fir

[2021-03-13 16:09] nevzorofff commented on #1601
FreeBSD 12.2-RELEASE-p4 and frr7-7.5_1 — same problem

d# sh ip ospf interface
ng1 is up
  ifindex 10, MTU 1500 bytes, BW 0 Mbit <UP,POINTOPOINT,RUNNING,NOARP,SIMPLEX,MULTICAST>

ifconfig:
ng1: flags=88d1<UP,POINTOPOINT,RUNNING,NOARP,SIMPLEX,MULTICAST> metric 0 mtu 1400
        inet 192.168.199.1 --> 192.168.199.5 netmask 0xffffffff
        inet6 fe80::2e0:f4ff:fe1e:2839%ng1 prefixlen 64 scopeid 0

[2021-03-13 16:16] nevzorofff opened #8245 "Doens't watch on MTU on ng-links"
Same as issue #1601

I use MPD daemon to make VPN links, an don inactive or non existend interfaces ospfd use MTU=1500 bytes.
When links up MTU changes to different value, but ospfd uses 1500 and we get MTU mismatch on other side.

FRR:
FRRouting 7.5 (homeserver-ospfd).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--enable-user=frr' '--enable-group=frr' '--enable-vty-group=f

[2021-03-13 20:35] pwangsy opened #8246 "BGP command neighbor x.x.x.x activate under labeled-unicast AF is failing"
Describe the bug
When running "neighbor 1.1.1.1 activate" under IPv4 labeled-unicast address family,  I got error message "The Graceful Restart command used is not valid at this moment"

[Yes ] Did you check if this is a duplicate issue?
[ Yes] Did you test it on the latest FRRouting/frr master branch?

To Reproduce
[code]

Expected behavior
No error message.

Screenshots

Versions 7.5 and 7.5.1

[2021-03-14 07:41] shocker2 opened #8247 "FRR 7.5.1 not advertising any routes."
Hello,
  Today I've tried to migrate from quagga to FRR and seems that it's not advertising any routes.
Using FRR 7.5.1, ubuntu 20.04.02 with kernel 5.4.0-66.

Current configuration:
[code]
cr# sh ip bgp nei upstream1 ad
cr#

From the upstreams, I'm getting the full routing table. If I'm removing from the neigh all the out filters and add only the route-map rm-yyy-out permit 10 for example I'm adv

[2021-03-14 08:55] Cheeze-It commented on #8246
Working on this by extending VyOS and I am also seeing the same issue as well.

When I try to add I see:

[code]

Other configs work in the address family:
[code]

Adding graceful restart as an off chance.....gives no solution:

[code]

Here is the error file:
[frr error.txt](https://github.com/FRRouting/frr/files/6136326/frr.error.txt)

[2021-03-14 15:05] donaldsharp commented on #8247
`no bgp network import-check`

[2021-03-14 15:07] shocker2 commented on #8247
Thanks, I'll try that. I know that I have tried it but not sure in what scenario I was with the rest of the config. I'll provide feedback tomorrow. Thank you!

[2021-03-14 20:25] kuldeepkash opened #8249 "PIM Support Bundle Commands are missing"
PIM Support Bundle commands are missing from support_bundle_commands.conf file. PIM commands should be added which will help us in debugging PIM test Failures.

**Command needed:**
[code]

[ x] Did you check if this is a duplicate issue?
[ x] Did you test it on the latest FRRouting/frr master branch?

**Additional context:**
Support bundle is generated on each test failure in topojson framework.

[2021-03-15 01:42] rwestphal commented on #8228
Yes. Using operational state in the CLI wrappers should only happen when there's a need to preserve backward compatibility (isisd does a lot of weird things because of that).

It does exist but it's probably poorly documented (the NB retrofitting docs is in serious need of some updates).

I can understand your frustration.

Yep, it seems we didn't do due diligence in the review process of that PR.

[2021-03-15 06:41] shocker2 commented on #8247
It's working, thank you!

[2021-03-15 06:41] #8247 closed

[2021-03-15 10:38] #7780 closed

[2021-03-15 10:55] SaiGomathiN commented on #8249
Addressed the above issue in #8252

[2021-03-15 11:30] #8213 closed

[2021-03-15 16:07] pguibert6WIND opened #8256 "missing ipv6 addresses on renamed interface"
* on upstream branch of frr*
ubuntu-18.04  with kernel 5.4.
[code]
* reproduction*
on shell, do the following commands : 1, 2, and 3.
[code]
* observation on vtysh after step 2:*
[code]

* observation on vtysh after step 3:*
[code]

[2021-03-15 16:08] pguibert6WIND commented on #8256
https://gist.github.com/pguibert6WIND/9ef21250e255996474400992473077a9

[2021-03-15 16:11] pguibert6WIND commented on #8256
it is worth noting that ipv4 works well.
[code]
traces ipv4 additional:
[code]

[2021-03-15 17:58] toddam310 opened #8259 "Specified route SAFI (0) is not a legal value"
- FRR VERSION : 7.5.1 Stable
- OPERATING SYSTEM VERSION:  Debian 9
- KERNEL VERSION: 4.9.0-13-amd64

After upgrading to version 7.5.1 from 7.3.1 I started getting the following errors in our logs and some odd OSPF6 behavior.  I'm mostly just wanting to know what this error points to so I know where to start for troubleshooting.
[code]

[x ] Did you check if this is a duplicate issue?
[x ] Did you

[2021-03-16 03:32] Napsterbater commented on #7921
Just wanted to confirm, this is indeed fixed for me on 7.5.1. Thanks!

[2021-03-16 13:07] #8143 closed

[2021-03-16 15:17] qlyoung commented on #8259
Hard to do without your config. If you can provide a minimal config example to reproduce this that'd be a start.

[2021-03-16 15:58] davischw opened #8269 "Missing Topotests for NHRP"
We were promised topotests for NHRP in the FRR community meeting on March 16th 2021. Were are they?

[2021-03-17 06:13] #8246 closed

[2021-03-17 08:50] cihankom commented on #8236
Thanks a lot. Its working now

[2021-03-17 09:00] pguibert6WIND commented on #8269
David , here is my plan. I have clear view on the 2 first points.
With pleasure, I would accept work for the last 2 points.

- https://github.com/FRRouting/frr/pull/8145 already has a test
- I plan to help for https://github.com/FRRouting/frr/pull/8240, by adding an other topotest.
- for multicast, and shortcuts testing, I faced a technical issue when handling nflog events under mininet.
You can t

[2021-03-17 09:43] #8236 closed

[2021-03-17 12:09] donaldsharp opened #8279 "evpn_type5_test_topo1 is not properly checking for vrf convergence in bgp"
code:
[code]

We are adding back interface and address data for vrf blue and then checking for convergence:

[code]

We can clearly see that vrf BLUE has not converged yet we appear to only be looking at the evpn convergence and vrf BLUE has not converged yet.  Therefore when we immediately check to see if vrf BLUE has routes in it:
[code]
snip some log file:

[code]

It sure looks like the verify

[2021-03-18 02:18] kwind commented on #8143
My personal advice， Should it be the same as below ？ The connected route, 140.140.1.1/32.

SSDW# show ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, N - NHRP, T - Table, v - VNC,
       V - VNC-Direct, A - Babel, D - SHARP, F - PBR,
       f - OpenFabric,

......
C>* 4.4.4.0/24 is directly connected, x3ge4, 00:01:51
C>* 140.140.1.1/32 is

[2021-03-18 21:19] stoza opened #8289 "IS-IS crash when refresh LSP with mtu of 200"
---------------

**Describe the bug**

When Trying to use isisd with mtu equal to 200, isis crash after about half a minute  when refreshing the lsp with the following error:
[code]
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

The setup is 2 machine connect together by a 10GB link.
Set mtu on the interface you wan

[2021-03-18 21:37] donaldsharp commented on #8289
how much memory does this box/vm/container have?  There are 9 million+ TLV's

[2021-03-18 21:47] stoza commented on #8289
the box have 8GB of memory.
Oh yes I didn't see that... But how is it possible to have as many TLV's? I only have to box connected together on a point to point network.
Is It because due to the very low size of the MTU there is a lot of fragmentation?

[2021-03-18 21:47] donaldsharp commented on #8289
I don't know yet.  How many nodes do you have in your isis network?

[2021-03-18 21:51] stoza commented on #8289
Only 2, that's why this number of TLV's surprise me

[2021-03-18 22:06] donaldsharp commented on #8289
Can I get config for the other 2 isis nodes?

[2021-03-18 22:13] stoza commented on #8289
Yes sure I've just notice that this is the config file use one the VM that I put in the description, so I will give the exact config file for the two nodes here
first one
[code]
second one
[code]

[2021-03-19 11:37] donaldsharp commented on #8289
while we are looking at this issue.  Why are you setting the mtu to such a low value?

[2021-03-19 12:21] stoza commented on #8289
I'm doing a master thesis on LSP flooding in IS-IS so I do a lot of different measurement with different parameters to be able to see if the solution I try to implement give better result.
And in this case I try different value of mtu to see if there is an impact on the number of LSP retransmitted

[2021-03-19 13:35] donaldsharp commented on #8289
I would recommend something like a min mtu of 250 for what you are testing.  I've stopped the crash.  I do not understand isis enough to understand the packing issue.

[2021-03-19 14:11] Naweap commented on #8118
@kaN5300 Did you find any solution regarding your issue ?

I've the same issue.

[2021-03-19 14:25] kaN5300 commented on #8118
I gave up with:

`sudo systemctl disable frr`
`sudo systemctl enable rc-local`

`cat /etc/rc.local
#!/bin/sh -e

/usr/lib/frr/frrinit.sh start`

[2021-03-19 18:47] Sunser opened #8294 "ospf6 network point-to-multipoint"
How to implement ospfv2 interface ip ospf network point-to-multipoint attribute in OSPFv3.
official documents only broadcast or point-to-point

[2021-03-20 19:06] Cheeze-It commented on #8246
@eqvinox, @donaldsharp, seems that this issue is not resolved even after the PR that was put in :(

The outputs I get are the following when I try to enable the neighbor:

[code]

Version I am running is on [latest](https://github.com/FRRouting/frr/tree/301dee3fd449ef600db3842d3c1f1e0352b5236c) build:
[code]

Is there any more output needed here? Should I open a new Issue? Should we just work off

[2021-03-21 14:53] choppsv1 opened #8299 "Remove "./" from yang lookups."
**Describe the Enhancement**

Remove use of "./" from all yang lookups e.g. in isisd:

[code]

Using `"enabled"` instead of `"./enabled"` is 22% faster as `.` and `/` are both being tokenized and processed by the xpath parser.

**Versions**
master

[2021-03-21 17:07] c-po opened #8300 "ISIS: CLI router statememnt contains trailing whitespace"
---------------

**Describe the bug**

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

There is a trailing whitespace behind FOO which displays itself also when running frr-reload.py:

[code]

This is bad for regexes.

**Expected behavior**

No trailing whitespace after `FOO`

**Screenshots**

**Versions*

[2021-03-22 08:31] Viktort-rf opened #8302 "Route Leaking Between GRT and VRF"
Hello!

We use FRR for L3 MPLS.
There was a need to configure route leaking between GRT and VRF.
In our understanding (cisco like), this should be based on PBR.
[code]
But similar functionality could not be achieved in FRR.
At the moment, we use route leaking based on static route:
[code]
Can anyone tell me how to configure route leaking via route-map? Need to be able to flexibly filter prefixes f

[2021-03-22 09:10] #8300 closed

[2021-03-22 15:40] Jafaral commented on #7862
@robmbrooks we haven't made a decision if/when such a behavior may change. If we do such a change it will be highlighted in  the release notes. So I  highly recommend checking the release notes before upgrading in a production environment.

[2021-03-22 15:44] Jafaral commented on #7862
@polychaeta autoclose in 5 days

[2021-03-22 15:46] Jafaral commented on #7862
@polychaeta autoclose in 2 days

[2021-03-22 18:33] odd22 commented on #8235
Hello,

Can you activate the ospf debug, at least for Segment Routing with `debug ospf sr` CLI and report here the log including the crash message.

Olivier

[2021-03-22 18:57] cihankom opened #8308 "NHRP not stable if multiple spoke behind same NAT"
Hi,

I realized an issue about nhrp which is not establish if more than one spoke is behind same NAT. NHRP continuously flapping between spokes to HUB. In short,  Only one spoke can establish nhrp to HUB for a moment. In my test lab there is only two spokes behind same NAT and HUB is in front of gw .

[code]

**HUB NHRP LOG**
[code]

**HUB NHRP Cache**
[code]

**HUB IPSEC Status**
[code]

**SPOKE1

[2021-03-23 14:02] nickleepfrog commented on #7662
Did this get fixed in the 7.5.1 RPM release?

[2021-03-23 14:38] Viktort-rf opened #8313 "Unstable tcp ldp session when using explicit-null"
---------------

**Describe the bug**
When enabling "label local advertisement explicit-null" on both routers, there are problems with maintaining the tcp ldp session. It drops when the Keep Alive timer expires. And immediately its new approval.
iptables is disabled.
No Keep Alive messages are visible on the removed dumps.
I note that if you turn off "label local advertisement explicit-null" on at

[2021-03-23 15:28] donaldsharp commented on #8308
we believe PR #8240 should address this

[2021-03-23 15:31] pguibert6WIND commented on #8308
@cihankom , this is a restriction of NHRP cisco NAT feature.
no more than 1 spoke behind one NAT.

[2021-03-23 16:40] taspelund opened #8315 "%pFX cuts off Type 2 EVPN routes with IPv6 addresses"
https://github.com/FRRouting/frr/pull/7343/commits introduced an issue with the display of Type 2 EVPN routes with IPv6 addresses where the last 3 characters are always missing from vtysh output.

This appears to be caused by vbprintfrr() using a char buffer of length 64, when the required string buffer size for a Type 2 with an IPv6 address is 80.

e.g.
[code]
Full ipv6 address:
[code]

[x] Did y

[2021-03-23 18:54] mjstapp commented on #8315
I tried just tweaking the buffer size, and it looked ok to me? I've opened #8317 to see if that works out...

[2021-03-23 19:42] taspelund commented on #8315
@mjstapp I think when I tried it before I only modified the buffer inside vbprintfrr (`char buf[80];`) rather than updating the BUF constant...  That was a silly oversight :|

I think #8317 will probably do the trick.  Thank you sir!

[2021-03-23 19:47] cihankom commented on #8308
I did my all tests with this patch and it didn't worked for multiple spoke case

[2021-03-23 19:48] cihankom commented on #8308
I didn't know that. it would be help a lot if possible you send me a reference about this ?

thanks

[2021-03-23 20:59] eqvinox commented on #8315
Oh the timing.

I have a rework of this entire thing pending on my PR docket & gonna post it hopefully tomorrow or so.  It completely removes the limit there.  (It just passes down the `struct fbuf *` so the extensions write directly to the output buffer.)

Anyway #8317 is good too, in case the rework is delayed.

[2021-03-23 21:33] pguibert6WIND commented on #8308
https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/sec_conn_dmvpn/configuration/15-mt/sec-conn-dmvpn-15-mt-book/sec-conn-dmvpn-dt-spokes-b-nat.html#GUID-2790D227-FE22-4805-8E45-42BFE54E722E

[2021-03-23 21:53] ak503 opened #8321 "ospf wrong calculate ospf_network_area counter"
Hello!
1. i not have string `router ospf` in config
2. confugure `ip ospf area 0` on interface
3. i go to `router ospf` and want create `network 192.168.105.0/24 area 0` and getting  `Please remove all ip ospf area x.x.x.x commands first`. It is ok!
4. remove  `ip ospf area 0` on interface
5. i go to `router ospf` and want create `network 192.168.105.0/24 area 0` again but getting  `Please remove

[2021-03-24 01:28] amollad commented on #8308
Multiple spokes behind same NAT is not supported. I've tried with two cisco routers behind same NAT and it also does not work so unfortunately we cannot support this use case

[2021-03-24 03:52] mobash-rasool opened #8323 "ASBR Summarisation feature support for OSPFv3"
ASBR Summarisation feature support for OSPFv3

Add this feature which will advertise the summarised route based on the configuration.

[2021-03-24 03:52] mobash-rasool commented on #8323
I am working on this feature. Will be raising PR in 2 weeks.

[2021-03-24 05:29] taher9990 opened #8324 "Routes not showing on host "Ubuntu 20.04""
Hi

I am facing an issue with Frr routes, not showing in host routing table:

Host VM Details:
[code]

Frr Packages installed

[code]

In /var/log/syslog
I see below logs
[code]

and in Host routing table I do not see the frr routes added there

Below are host routing table:
[code]

and here is the frr config
[code]

and Here is the /etc/frr/daemons file content
[code]

Here is the vtysh output
[c

[2021-03-24 06:30] cihankom commented on #8308
ok thanks for your helps.

[2021-03-24 06:30] #8308 closed

[2021-03-24 07:06] anspectrum commented on #8235
Thanks for the reply odd22.
I've changed the machine. Earlier I was using Laptop (Core i7, 8G RAM). Now I am using PC (Core i3, 8G RAM). Both systems have same Linux and installed softwares.

On PC topology is working and no more crashes.
For sake of information, here is the topology and configs:
![1](https://user-images.githubusercontent.com/33591798/112267854-1ffbc780-8c87-11eb-913d-9fc88dcfe1c0

[2021-03-24 09:03] ak503 commented on #8321
i think, what we need set `ospf->if_ospf_cli_count = 0` before
https://github.com/FRRouting/frr/blob/09e2d8ed97310687a87068e9f8173555b3abee70/ospfd/ospfd.c#L233-L238
, because `if_ospf_cli_count` will be recalculate again.

without  `ospf->if_ospf_cli_count = 0` we have double value of `if_ospf_cli_count`

[2021-03-24 12:27] pguibert6WIND opened #8327 "bgp connectionn may be rejected with multi vrf configuration"
- frr head branch
- ubuntu-18.04hwe with 5.4 kernel

this  happens in a setup similar to bgp_evpn_rt5 with in linux vrf mode.
sometimes bgp peering on backbone does not establish immediately.

following error can be seen when it fails.
it looks as if a socket from vrf was receiving connection from backbone.
in my case, `192.168.100.41` is the peer from vrf defauilt.

[code]

some investigation sho

[2021-03-24 12:30] pguibert6WIND commented on #8327
topotest test:
https://gist.github.com/pguibert6WIND/380db0850fffe8f5eb34b859c34374f1

[2021-03-24 12:37] pguibert6WIND commented on #8327
That commit log tries to fix something that looks similar to the issue I encounter
[code]

[2021-03-24 13:54] idryzhov commented on #8324
`172.16.16.0/24` is reachable through `ens3` according to your kernel routing table, but you specify `ens4` in your static routes.
Remove `ens4` from the static routes and this will work:
[code]

[2021-03-24 15:04] taher9990 commented on #8324
Thanks, that just fixed the issue

[2021-03-24 15:04] #8324 closed

[2021-03-24 17:48] eKKiM1 opened #8330 "FRR with VPP wiki outdated"
Hi,

The documentation in the wiki to use FRR in combination with VPP seems outdated.
https://github.com/FRRouting/frr/wiki/Alternate-forwarding-planes:-VPP

The linked VPP repository does not exist anymore ( https://gerrit.fd.io/r/vppsb )
The tap-inject module seems to be no longer used. It looks like it has been replaced by a virtual VirtIO adapter which is created with the "# vppctl create tap

[2021-03-24 20:07] pjdruddy commented on #8327
This issue is a race between vrf creation and  bgp socket creation.

vrf_bind() silently fails if the vrf l3mdev ifp does not exist in BGP. This leaves the socket bound to the default vrf where it can receive packets for the default vrf and in this case reject the connection.
There is no fixup code when the l3mdev eventually arrives and adding that is the solution to this issue.

[2021-03-24 22:39] #8228 closed

[2021-03-25 09:01] odd22 commented on #8235
OK. If you success to run TI-LFA on another PC, we could suppose is that your initial testbed which was faulty.

As suggested, I close this issue.

Don't hesitate to re-open it or open a new one if you find another problem.

[2021-03-25 09:01] #8235 closed

[2021-03-25 11:38] GalaxyGorilla opened #8336 "MPLS table entries for SR-TE not updated after interface DOWN->UP"
Nexthops for SR-TE MPLS table entries are not updated properly after an interface changes its operational state, in particular DOWN->UP doesn't seem to work. So what can happen is that you have an entry like this:

[code]

But after 'restarting' the interface, e.g. UP->DOWN->UP, the nexthop is wrong:

[code]

Here `10.0.8.5` was correct when the interface was DOWN.

ISIS SR Traffic Engineering is

[2021-03-25 13:21] Paikanx commented on #7292
Hello,

Any news about RFC7432 implementation ?

Thanks,

[2021-03-25 15:27] dattto opened #8343 "question: FPM-like functionality for Flowspec entries?"
Is there currently a way to tap into incoming Flowspec entries from bgpd in the same way FPM forwards routing events? Motivation is to process the rules in an external hardware-based data plane.

[2021-03-25 16:52] #8289 closed

[2021-03-25 17:21] pguibert6WIND commented on #8343
Hi @dattto , actually iptable, ipset and ip rules are given to zebra dataplane.
today, netlink is not implemented, but if netlink was, or if protobuf model was specified, it would be easier to continue this work.

[2021-03-26 12:28] GalaxyGorilla commented on #8336
First fix available [here](https://github.com/GalaxyGorilla/frr/commit/178f5042f9b4e9141fc768214d0fe845372a593e#) but another issue with BGP learned routes popped up, see updated issue description.

[2021-03-26 17:56] Siddhant-Ray opened #8349 "ZEBRA: FPM: beginning state transition connecting -> active. Reason: getsockopt() after async connect failed"
Hi! I am trying to run FRR on two Mininet switches, which I have configured as routers, by inheriting from the switch class. I want to get the FPM messages from the zebra daemons running on the routers. The FRR doc says "Zebra periodically attempts to connect to the well-known FPM port (2620). Once the connection is up, zebra starts sending messages containing routes over the socket to the FPM. Ze

[2021-03-27 15:47] Sunser opened #8352 "ospf network ptmp route error"
when using the ospf interface network mode point-to-multipoint, only one link is always working, and the other links are inactive

The following is the network topology diagram:
![Image](https://github.com/Sunser/images/raw/main/full-mesh.png)

The following is the configuration and routing table:
![Image](https://github.com/Sunser/images/raw/main/frr-route.png)

Here is how I tried the same opera

[2021-03-28 11:59] pguibert6WIND commented on #8349
Hi, it would be interesting see the string errno associated.
ensure that zebra is run with the appropriate plugin.
also, on upstream, there are 2 plugins that handle fast path; one without remote dataplane provider, the other with remote dataplane provider. I am using the latter one and did not have any problems. I did not tried with mininet though

[2021-03-28 14:38] lucize opened #8355 "some cross-compile issues"
using the latest master

if bfdd is not enabled

[code]

after enabling bfdd

[code]

Don't know if is a cross-compile issue and didn't search when this appeared

[2021-03-28 17:03] c-po opened #8357 "staticd throws SIGSEGV when adding / removing VRF routes"
**Describe the bug**

This bug was discovered some weeks ago on VyOS but I never nailed it down until now. When multiple VRF instances are created and deleted on the router, at some point in time `staticd` will SIGSEGV.

Attached is a backtrace from GDB

[code]

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Just

[2021-03-28 17:03] c-po commented on #8357
@idryzhov as mentioned on Slack

[2021-03-28 18:10] lucize commented on #8355
disabling pathd goes further but fails with

[code]

[2021-03-28 22:25] idryzhov commented on #8357
@c-po Please, check with my PR https://github.com/FRRouting/frr/pull/8359

[2021-03-29 10:57] c-po commented on #8357
Looks good, no more crashes. Thanks for the quick fix

[2021-03-29 12:22] idryzhov commented on #8279
Fixed in https://github.com/FRRouting/frr/pull/8280

[2021-03-29 12:22] #8279 closed

[2021-03-29 12:23] idryzhov commented on #8315
Fixed in https://github.com/FRRouting/frr/pull/8317

[2021-03-29 12:23] #8315 closed

[2021-03-29 13:07] mjstapp commented on #8355
This may be three different problems, and there may need to be three different solutions to them. the bfd one is just ... broken - @rzalamena ? the one about tcp is a value that comes from tcp.h, so maybe that's an environment issue - doesn't seem frr-specific? the one about xrefs probably needs input from @eqvinox ?

[2021-03-29 16:45] pjdruddy commented on #8327
https://github.com/FRRouting/frr/pull/8367

[2021-03-29 17:21] anp135 commented on #8313
The same behaviour with frr 7.5, 7.5.1

[2021-03-30 09:00] yinshuisiquan opened #8370 "When the tv_usec less than 1000, the dead time displayed is not accurate"
https://github.com/FRRouting/frr/blob/9b25636e14b99e8a5ff87930bc078b6966f93f1c/ospfd/ospf_dump.c#L224

[2021-03-30 12:48] #8321 closed

[2021-03-30 14:34] #830 closed

[2021-03-30 15:15] pguibert6WIND commented on #8343
Hi @dattto , what you need is a specification to handle those messages across fpm, thatis it ?

[2021-03-30 16:16] mjstapp commented on #8370
since you chose not to use our issue-report template, it's hard to know exactly what the issue is.

are you saying that the function doesn't report properly if  0 < tv_sec < MINUTE_IN_SECONDS, because the tests in the function test 'ms' instead of 'tv_sec' ?

[2021-03-30 16:47] mjstapp commented on #8370
Take a look at #8373 : If I understand your issue, this may fix it?

[2021-03-30 19:36] eqvinox commented on #8355
I'll look at the `xref` one but it'll probably be more than a week until I get to it, sorry...

[2021-03-30 20:08] shawnkazem opened #8374 "vrf core"

[2021-03-30 20:48] eqvinox commented on #8355
@lucize can you upload this file: `zebra/.libs/dplane_fpm_nl.so` somewhere?

[2021-03-30 21:39] eqvinox commented on #8355
@lucize ah, crap, there's an error message that for some reason is missing in your paste

[code]

That's probably what's going wrong there – unfortunately this doesn't mean I can get to it quicker, sorry :disappointed:

[2021-03-30 21:50] lucize commented on #8355
I've ran it again with -j1 and still no WARNING, guess is related to crosscompile environment ?

[code]

[2021-03-31 11:26] idryzhov commented on #8374
If you want to report a bug, please, file a new issue and use the bug report template.

[2021-03-31 11:26] #8374 closed

[2021-03-31 12:56] idryzhov commented on #8355
building with disabled bfdd is fixed in https://github.com/FRRouting/frr/pull/8377

[2021-03-31 18:26] c-po opened #8379 "bfdd throws SIGSEGV when reconfiguring"
**Describe the bug**
Discovered while running the VyOS build in smoketests about adding and removing profiles of BFD.

[code]

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
`1.txt`
[code]

`2.txt`
[code]

Now simply reload the configurations multiple times by:
[code]

**Expected behavior**

**Screenshots**

**Ve

[2021-03-31 18:26] c-po commented on #8379
@idryzhov

[2021-03-31 21:15] NEXUS2345 opened #8381 "Valid BGP routes not selected by zebra"
**Describe the bug**
I currently have a network of 15 FRR based routers in GNS3 for a dissertation project. I have managed to configure BGP sessions between the routers advertising /16 prefixes. Routes are being advertised and accepted by peers. However, data is not able to flow between peers which are not directly connected. Upon further investigation, I found that Zebra was not selecting the inc

[2021-04-01 12:53] idryzhov commented on #8379
@c-po https://github.com/FRRouting/frr/pull/8386 - 7.5 version of the fix.

[2021-04-01 13:41] from88 opened #8387 "problem with OSPF authentication using multiple OSPF processes, part #2"
---------------

**Describe the bug**

[ x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Use multiple OSPF instances with md5 auth

[code]
[code]

after connections is established, do  `systemctl restart frr`

**Expected behavior**

I expect to make OSPF neighbors work.

**Versions**

 - OS Version: CentOS Linux relea

[2021-04-01 15:33] idryzhov commented on #8299
There are places where we rely on the dot at the start of xpath, `nb_cli_apply_changes` is an example.
This should be changed before removing all `./`.

[2021-04-01 15:46] achernavin22 opened #8388 "Setting same OSPF area/address for interface multiple times causes error"
**Describe the bug**

When issuing the same command for setting OSPF area/address for an interface multiple times, an error arises.

This might cause `frr-reload.py` to fail after OSPF area/address changes. The whole config would not be reloaded.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. Set OSPF area and a

[2021-04-01 16:50] kwind commented on #7718
@mg964 HI，I have a similar problem , I can't find the patch(ipv6-interface-route-ecmp.patch), how did you fixd it?

[2021-04-01 16:51] #8379 closed

[2021-04-01 17:49] dgirardin81 commented on #4876
This issue has persisted despite updating to new versions of FRR, and I discovered that it can be triggered by executing a basic Nessus vulnerability scan against the loopback IP address which ldpd listens on.

[2021-04-01 18:26] c-po commented on #8379
Works for me - I can no longer crash `bfdd`

Thanks

[2021-04-01 20:42] #8357 closed

[2021-04-02 07:23] lucize commented on #1006
@vnpraveendesu
it would help more if you can find why the daemon crashes very often with lots of routes and cisco devices

[code]

eigrpd: eigrpd/eigrp_fsm.c:443: eigrp_fsm_event_nq_fcn: Assertion `successors'

[2021-04-02 08:26] idryzhov commented on #8249
Fixed in #8252

[2021-04-02 08:26] #8249 closed

[2021-04-02 08:29] davischw opened #8394 "bgpd: crash during VRF topotests teardown (FRR-FRRPULLREQ-18155)"
**Describe the bug**
The BGP daemon crashed on teardown during a routine topotest.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**Screenshots**
https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPO5U16AMD64-18155

**Versions**
 - OS Version: Ubuntu 16.04 LTS HWE
 - Kernel: 4.15.0 amd64
 - FRR Version: base frr master 3d506af6aa9e25a49

[2021-04-02 11:26] vnpraveendesu commented on #1006
@lucize
 can you share the topology

eigrp inserts the poison reverse( infinite delay/bandwidth) routes advertised by the cisco router ( Split horizon enabled).
eigrp crashes when the update/query receive for poison reverse routes.

Please check the output of "Show ip route eigrp"

[2021-04-02 12:07] lucize commented on #1006
@vnpraveendesu
does the attached file helps ?

[sh_ip_eigrp_topology_detail-links.txt](https://github.com/FRRouting/frr/files/6249421/sh_ip_eigrp_topology_detail-links.txt)

I don't have access on all switches and routers but the one I have are like:

[code]

and on frr side

!
router eigrp 110
 network 10.160.1.0/24
!

[2021-04-02 12:09] dgirardin81 commented on #5733
I am also still facing this same problem.  In my environment this issue has persisted despite updating to new versions of FRR, and I discovered that it can be triggered by executing a basic Nessus vulnerability scan against the loopback IP address which ldpd listens on.  I narrowed it down as much as possible, and the issue is triggered with only the Nessus "Unknown Service Detection: Banner Retri

[2021-04-02 12:59] mwinter-osr opened #8395 "Topotest test_bgp_instance_del_test test_adjacencies fails constantly on Debian 10"
While in the progress to add Debian 10 (to replace Ubuntu 16.04) on the CI, we found the issue that the test `test_bgp_instance_del_test` `test_adjacencies` always fails on Debian 10.

CI Tests: https://ci1.netdef.org/browse/TESTING-TOPO10DEB10

So far only tested with latest FRR master (sha c3ac2e5 as of 4/1/2021) (7.5 Testing in process)

This issue is mostly to track this, as it's holding up th

[2021-04-02 13:53] Mathlp opened #8397 "ISIS IPv4 loopback bug"
Hello team,
**Version**
FRR : Download here : https://deb.frrouting.org/ (7.5.1 version)
Operating System : LXC Container using Debian10 (buster) / kernel version : 5.8.0-48-generic

**Describe the bug**
It seems impossible to run ISIS on IPv4 and with an IPv4 Loopback (to do ip unumbered) whereas in IPv6 it's working.
I tried to configure ISIS in V4 version with a strict minimum configuration :

[2021-04-02 14:41] mwinter-osr commented on #8395
Same issue for stable/7.5 branch.  Fails same tests

[2021-04-02 16:30] markhorsfield opened #8399 "add 'bestpath' keyword to the show command output for l2vpn evpn"
Environment:
- FRR 4.0+cl3u15 with kernel 4.1 (Cumulus Linux 3.7.10)
- FRR 7.0+cl4u2 with kernel 4.19 ( CL 4.1.1)

Problem Description:
BGP has a "bestpath" keyword for some address families (eg. ipv4/6 uni) but it looks to be missing from l2vpn evpn

IPv4 Unicast syntax
[code]
IPv4 Unicast example
[code]
L2VPN EVPN example
[code]
the route exists
[code]

[2021-04-02 16:33] #8388 closed

[2021-04-02 17:17] mwinter-osr commented on #8395
The problem is with failing to establish BGP across a VRF connection

The issue is in our check if we need to set the sysctl `net.ipv4.tcp_l3mdev_accept`
We are setting this to **1** for Kernel 4.15-4.18 and for Kernel 5.0+
[code]
Debian 10 uses a 4.19 kernel

If we would do just a check for 4.15 or higher (and include Debian's 4.19 kernel), then the test passes

Why do we exclude Kernels 4.19+  (

[2021-04-04 07:38] dattto commented on #8343
@pguibert6WIND thanks for the reply,

One approach would be to define a message specification across FPM for flowspec entries. Correct me if I'm wrong
but an implementation of this would require to "reconstruct" iptable,iprules,ipset rules back into "raw" flowspec messages as received by the bgpd. Maybe it would be better to subscribe to those events at an earlier point straight from bgpd, since i

[2021-04-04 13:16] Neonboness opened #8400 ".history_frr"
Hi,

Is it possible to disable the logging of .history_frr?

- FRR version 7.5.1
- Debian 10
- 4.19.0-14-amd64

[2021-04-05 08:29] davischw commented on #8395
@mwinter-osr Fix in [PR #8402](https://github.com/FRRouting/frr/pull/8402)

[2021-04-05 09:22] c-po opened #8403 "bgp: option "graceful-restart" causes frr-reload.py to return non zero exit code"
**Describe the bug**

When reloading the FRR configuration and `bgp graceful-restart` option is set, the `/usr/lib/frr/frr-reload.py` script returns with 1 but the configuration is applied properly into FRR - this makes scripts processing the return code fail.

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

**1.

[2021-04-05 17:05] mhampasagar opened #8404 "PIM V6 and MLD support"
Checking with latest FRR version , PIMV6 and MLD support is not present. Any future plans or efforts going on for adding MLD and PIM v6?

[2021-04-05 19:03] #6491 closed

[2021-04-05 19:08] ton31337 commented on #6680
Timeout, closing.

[2021-04-05 19:08] #6680 closed

[2021-04-05 19:10] #7139 closed

[2021-04-05 19:12] #3039 closed

[2021-04-05 19:15] #2906 closed

[2021-04-05 19:19] #3846 closed

[2021-04-05 19:25] #5923 closed

[2021-04-05 19:30] ton31337 commented on #7035
Crash I believe is something like here https://github.com/FRRouting/frr/pull/7670, closing for now.

[2021-04-05 19:30] #7035 closed

[2021-04-06 05:18] rwestphal commented on #8397
For IP unnumbered to work on Linux/FRR you need to replicate your loopback address on your point-to-point interfaces.

Example (based on your config):
[code]

I'll add the "documentation" tag to this issue as this information seems to be missing in our documentation.

[2021-04-06 08:39] #4474 closed

[2021-04-06 08:44] #6655 closed

[2021-04-06 09:02] Mathlp commented on #8397
Hello,
Thank your for your answer. I had tested it thanks to an e-mailing list.
But I find an other issue using this solution.
If I configure my two routers like this :

[code]
and

[code]

As you can see with the screen below :
**Screenshots**
![image](https://user-images.githubusercontent.com/12167275/113685420-87256d00-96c6-11eb-8d68-d927efbbfbc9.png)

One of the session is initializing whereas

[2021-04-06 09:56] ton31337 commented on #4235
r1:
[code]
r2:
[code]
All good here (both: IPv4 and IPv6 works). Tested with Bird as well (r1).

[2021-04-06 09:56] #4235 closed

[2021-04-06 10:00] mg964 commented on #7718
Hello @kwind. The solution was specific to DANOS, there was no need to make any changes to FRR. Essentially, ended up issuing 'zebra nexthop kernel enable'.

[2021-04-06 10:04] ton31337 commented on #2776
[code]
[code]
Works fine with the latest master.

[2021-04-06 10:04] #2776 closed

[2021-04-06 10:08] Mathlp commented on #8397
Ok, my bad. It set my interfaces in p2p. And everything is fine.
Thank you for your help.

[2021-04-06 13:43] armenhovhannisyan0607 opened #8410 "Default route stopps being advertised after editing prefix-list."
Hello,

Starting from FRR 7.5 when editing prefix-list sometimes prefix stops being advertised.
My FRR Version is:7.5.1
OS: Ubuntu 18.04.5 LTS
Kernel: 4.15.0-109-generic

Here are the steps to reproduce the issue:

This is my bgp peer configuration:
[code]

With this configuration prefixes advertised to this peer are following:
[code]

now we change prefix list to be as following (just adding le/3

[2021-04-06 15:19] donaldsharp commented on #8397
closing

[2021-04-06 15:19] #8397 closed

[2021-04-06 15:22] donaldsharp commented on #8404
we are not aware of anyone working on this at this point in time

[2021-04-06 15:24] qlyoung commented on #8370
+1 for using the template. This is a bad bug report.

@polychaeta autoclose in 3 days

[2021-04-06 17:59] #5748 closed

[2021-04-06 19:32] mjstapp commented on #8387
it looks as if the md5 auth config was unusually strict about the config pattern that appears with multi-instance: I've tried to make it more forgiving in PR #8415 - let's see if that helps.

[2021-04-06 20:05] donaldsharp commented on #8404
I wouldn't add a pim6d.  I would just add the ability to pim to handle either case.  There is no specific design document.  If you have questions I would suggest just joining the frrouting slack channel and asking questions there.

I would actually start by just modifying all the places in pim that store a `struct in_addr` to use a `union g_addr`.

we should use yang for pim v6 as well.

[2021-04-06 20:08] mhampasagar commented on #8404
Sure, I will look in to it more,  but for MLD , igmp YANG with "igmp" container and address family did not made sense, So was asking if something specific, may be I will join the frrouting slack

[2021-04-07 12:16] #8387 closed

[2021-04-07 14:44] Mathlp opened #8417 "BFD-ISIS multiple links same address IPV4"
Hi team,
Version
FRR : Download here : https://deb.frrouting.org/ (7.5.1 version)
Operating System : LXC Container using Debian10 (buster) / kernel version : 5.8.0-48-generic

**Describe the bug**
I tried to configure BFD with ISIS routing protocol and using IP unnumbered.
It seems to be one BFD session per interface but seems to be managed by the same process.
I explain, if I shutdown the link be

[2021-04-07 19:06] mwinter-osr opened #8419 "OSPFd crashes during "show ip ospf neighbor detail""
Found in master, git sha c53b1ff19 on Debian 10
Packages used for test are from CI https://ci1.netdef.org/browse/FRR-FRR-4516/artifact

If there are OSPF neighbors established, then the command "show ip ospf neighbor detail" crashes the OSPF process

Current FRR as used with package doesn't show any backtrace.

Will retest with package compiled from source and gdb in a few hours and update this is

[2021-04-07 22:05] mwinter-osr commented on #8419
Crash info:
[code]
[code]
[code]

[2021-04-07 22:08] mwinter-osr commented on #8419
Bug is in latest master, but stable 7.5 branch is not affected.
Let me know if further information is needed (or a git bisect). Issue is always and reliable reproducible in my test setup. Only requirement seems to be to have a OSPF neighbor established.

[2021-04-07 23:20] idryzhov opened #8423 "ospfd crashes when deleting the vrf"
---------------

**Describe the bug**

ospfd crashes when deleting the vrf

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

**Expected behavior**

No crash.

**Screenshots**

[code]

**Versions**

 - OS Version: Ubuntu 20.04

 - Kernel: Linux 5.4

 - FRR Version: master

**Additional context**

[2021-04-08 11:28] lucize commented on #8355
@mjstapp
so it remains from pcep.h only

[code]
should I manually define this in Makefile or this is still a WIP ?

[2021-04-08 11:47] cgoncalves opened #8425 "BGP incorrectly withdraws routes on graceful restart capable routers"
---------------

**Describe the bug**

BGP advertised route prefixes are immediately removed on peer BGP routers even when BGP graceful restart is enabled.
This seems to be a regression in master and stable/7.5 branches, potentially caused by https://github.com/FRRouting/frr/commit/6af96fa383c645ac4d15b53faf066388909e6e4a as I also cherry-picked this patch to a 7.5.0 version and observed the same

[2021-04-08 13:12] mjstapp commented on #8355
@lucize I've tried out a fix for that MD5SIG value in #8427 - want to see if it works for you?

[2021-04-08 15:19] #2683 closed

[2021-04-08 15:33] lucize commented on #8355
@mjstapp pathd seems to still have some issues

[code]

[2021-04-08 15:42] mjstapp commented on #8355
so it looks like the compiler found those, right? is there something missing from the cross-build link?

[2021-04-08 15:47] lucize commented on #8355
other daemons are building fine, so nothing added or removed from previous builds

this are the arguments passed by the Openwrt SDK

`OpenWrt-libtool: link: mipsel-openwrt-linux-musl-gcc -I/home/build/erx/staging_dir/target-mipsel_24kc_musl/usr/include -Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc -fno-caller-saves -fno-plt -fhonour-copts -Wno-error=unused-but-set-variable -Wno-error=unused-r

[2021-04-08 18:46] lucize commented on #8355
@eqvinox
this is the entire make V=1 output with pathd
[pathd_err.txt](https://github.com/FRRouting/frr/files/6280812/pathd_err.txt)

[2021-04-08 19:10] mjstapp commented on #8355
I'm not sure what to suggest. The compiler is finding a declaration in some header file, but the linker isn't finding the symbol it's looking for?

[2021-04-08 19:32] eqvinox commented on #8355
There's at least 2 separate problems here:

- pathd (and bfdd?) missing `htobe64` and `be64toh` - this might be a musl problem, maybe wrong preprocessor flags (`_BSD_SOURCE` / `_GNU_SOURCE`)
- `_frr_xref_note` somehow ending up defined more than once

@lucize when I said `V=1` I meant on the FRR build... I really need the whole verbose output from FRR's make, `V=1` on OpenWRT is not enough :(

[2021-04-08 19:35] eqvinox commented on #8355
The full log shows the compiler isn't finding it in a header either.  Smells like we're missing a `#define _GNU_SOURCE` or `-D_GNU_SOURCE`… glibc may be overly lenient on this…

[2021-04-08 19:35] eqvinox commented on #8355
(`_BSD_SOURCE` would work too for this)

[2021-04-08 19:43] eqvinox commented on #8355
`_GNU_SOURCE` is normally defined in `config.h` (which is generated by `configure`) - it seems that the PCEP library isn't including `config.h`, which is pretty much the problem right there.  All of our source files MUST include `config.h` as the very first thing - this normally happens through `zebra.h` (which includes `config.h` first thing.)

So all of the PCEP `.c` files need to stick this at

[2021-04-08 19:54] eqvinox commented on #8355
(or - is it possible the OpenWRT build system is only showing `stderr`, not `stdout` from the build?)

[2021-04-08 19:58] lucize commented on #8355
so I added the include but didn't help, bfd compiles
also added -D_GNU_SOURCE to TARGET_FLAGS but again didn't helped

I'll see how I can add V=1 to the make, I've added it to MAKE_FLAGS but I don't think it added something new
V=1 is the stderr, I think
V=s is all output

[frr_build.txt](https://github.com/FRRouting/frr/files/6281129/frr_build.txt)

[2021-04-09 10:50] eqvinox commented on #8355
@lucize it's already passing `V=1` to FRR make, so all good there... but I have no idea where the `_frr_xref_note` is coming from :disappointed:

Can you `tar` the entire FRR directory and put it somewhere?

[2021-04-09 11:38] lucize commented on #8355
please find it here : https://drive.google.com/file/d/1P3xhJumatkMcJcizV5NnzHrdRoybiKuJ/view?usp=sharing

[2021-04-09 12:14] #8419 closed

[2021-04-09 15:24] #8370 closed

[2021-04-09 17:53] eqvinox commented on #8355
@lucize thanks - found the `_frr_xref_note` problem! (by looking through the symbols in your tar)

`pathd/path_main.c` is linked twice into pathd - in `pathd/subdir.am`:
[code]

@lucize can you check removing `pathd/path_main.c` from `pathd_libpath_a_SOURCES` and check if the `_frr_xref_note` error goes away?

(I have no idea why this error doesn't happen in CI... maybe the file is recognized as d

[2021-04-09 17:56] #8423 closed

[2021-04-09 17:59] eqvinox commented on #8355
`pathd/path_main.c` duplicate fixed here: 636aad94735aff8aeec911bca4c32f4e5e48d77c

[2021-04-09 18:02] lucize commented on #8355
@eqvinox
lto and parallel build is ok now, remains just the

[code]

[2021-04-09 18:06] eqvinox commented on #8355
@lucize can you see if this diff fixes the `be64toh` problem?

[code]

[2021-04-09 18:11] lucize commented on #8355
@eqvinox
ah, I didn't tried the pceplib folder, but still no joy for this

[2021-04-09 18:12] eqvinox commented on #8355
Hmm I'm out of ideas then :(

... @mjstapp ?

I'm pretty sure its *somehow* the `_GNU_SOURCE` define...

[2021-04-09 18:14] eqvinox commented on #8355
Oh wait it is also used in `pceplib/test/pcep_msg_tlvs_test.c`, can you put it there too @lucize ?

[2021-04-09 18:16] eqvinox commented on #8355
[code]

[2021-04-09 18:18] lucize commented on #8355
greatly appreciate your time for this, but is the same!

[2021-04-09 18:22] eqvinox commented on #8355
:cry: …really no other idea for the `be64toh` error if `config.h` doesn't fix it.  Thanks for the repeated trying!

…maybe I can think of something over the weekend, but for now it's a mystery to me :neutral_face:

[2021-04-09 18:22] lucize commented on #8355
@eqvinox bfdd includes endian.h, should I try that ?

[2021-04-09 18:22] eqvinox commented on #8355
LOL.  Yes.

[2021-04-09 18:27] eqvinox opened #8442 "Need a system with musl libc in CI"
[This is a "reminder" issue for a long-term TODO item.]

To catch problems like #8355 (which is in part due to the use of musl libc instead of glibc) we should really have a CI system that uses musl.  The easiest is probably Alpine Linux.  (No package build.)

(Also, testing cross-compile in CI would be good, but that is much more work, and some system with musl should be much easier & come first.

[2021-04-09 18:34] eqvinox commented on #8355
@lucize does it work with `endian.h`?  (It needs to be after `config.h`.)

[2021-04-09 18:35] nmaludy opened #8443 "Support sha-256/sha-512 based HMAC algorithms for OSPF authentication"
**Describe the Feature**
We've been doing a POC of FRR and noticed that the only supported HMAC algorithm for OSPF authentication is MD5. Unfortunately MD5 is not allowed and disabled by the kernel when enabling FIPS mode on RHEL systems: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/security_hardening/using-the-system-wide-cryptographic-policies_security-hardening

[2021-04-09 18:35] lucize commented on #8355
ups, I tried without config :) and no issues

[2021-04-09 18:36] lucize commented on #8355
[code]

[2021-04-09 18:41] lucize commented on #8442
cross compile is already implemented in openwrt/packages github for multiple targets, it may be a starting point

[2021-04-09 18:43] eqvinox commented on #8355
Added to #8421 in commit 0490ce41c133f9a801f36668dd58b326ec72a7aa - Thanks for the input!

[2021-04-09 18:51] mr-djan commented on #8400
Hello. I have the same question, I also cannot turn off logging in /root/.history_frr. I hope the developers will help solve this problem.

[2021-04-09 19:00] #8355 closed

[2021-04-09 22:12] #5753 closed

[2021-04-10 05:11] taspelund commented on #8410
I see the same behavior on master branch using this config.  I'll dig into it

[2021-04-10 05:26] taspelund commented on #8410
Looks like this can be reproduced with a very simple config:
[code]
e.g.
[code]

[2021-04-10 06:57] #7339 closed

[2021-04-10 07:04] #2554 closed

[2021-04-11 17:15] whitehse opened #8447 "rd vpn and rt vpn are changed/corrupted when ebpg vpn peer is established"
---------------

[X ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

I am seeing the following config statements change (inconsistently) when an ebgp peer is established, or due to a related event. This doesn't become apparent until the config is saved (without any user changes), although there are operational problems before hand.

[cod

[2021-04-12 12:00] #6907 closed

[2021-04-12 12:03] #5926 closed

[2021-04-13 09:41] thirdeyenick opened #8460 "dynamic peer groups with MD5 passwords don't work with views"
---------------

**Describe the bug**

We recently started to test if we could use FRR as a route server which peers with our external bgp speakers (configured as a dynamic peer group with password set). We installed FRR on a Ubuntu 20.04 via the debian package. The kernel there is 5.4.0-70. We used the following config just to see if a peering would be possible.

[code]

The connection of our ext

[2021-04-13 12:15] pguibert6WIND opened #8461 "core file dumped on daemons running with -M grpc, when leaving process"
**Describe the bug**

A crash happens on frr 7.6 branch ( presumably on all recentbranches including master branch).
that crash happens when I do Ctrl-C to a daemon.
this can be zebra or staticd daemon

this is seen on ubuntu1804hwe, kernel 5.4

**To Reproduce**

I built frr76 with option -M grpc.
I run it.

then at one moment, I press Ctrl-C
then I obtain the following crashlog:
[code]

**Analysy

[2021-04-13 13:44] donaldsharp commented on #8461
@eqvinox can you take a look at this?

[2021-04-13 15:11] donaldsharp commented on #8417
@rzalamena can you take a look at this?

[2021-04-13 16:27] tweippert commented on #3160
Hi @pguibert6WIND,
if i understand it correctly, the current implementation in frr is, that i receives the flowspec informations and split it up in ipset/iptables actions in pbr, but the real installation in the kernel by the pbrd weren't achieved as there is a missing "module" which do the real work, is this correct?

[2021-04-13 18:36] lmcerbo-ka commented on #5885
Same here. I'm looking for this feature as well

[2021-04-14 07:32] lihongguang commented on #8140
For IPv6, an interface can have multiple IPv6 addresses without specifying the secondary keyword.

[2021-04-14 09:11] lihongguang opened #8466 "Feature Request: learn default route and on-link route through ND in IPv6 network"
I'm looking to deploy frr and IPv6 SLAAC on an IPv6-only network, but I discovered that frr doesn't support this.

There are two problems about this on Cisco Community:
1. https://learningnetwork.cisco.com/s/question/0D53i00000Kt7Fi/ipv6-address-autoconfig-and-its-nd-0-route
2. https://learningnetwork.cisco.com/s/question/0D53i00000Kt1piCAB/solved-ipv6-router-does-not-get-its-default-route-through

[2021-04-14 13:59] #8400 closed

[2021-04-14 14:19] taspelund commented on #8466
The Linux kernel already supports this natively and FRR handles routes from non-FRR sources (marked with proto 'K' in zebra), so this can already be done without modification to FRR.

For standard linux this is controlled by a few sysctl parameters, specifically `accept_ra`, `accept_ra_defrtr` and `forwarding` (for IPv6):
[code]
Source:  https://www.kernel.org/doc/Documentation/networking/ip-sysct

[2021-04-14 15:10] donaldsharp opened #8473 "bgp crash in bfd code when using valgrind in our topotests"
I am seeing valgrind issues for bgp and bfd running our topotests:

[code]

[2021-04-14 15:19] donaldsharp commented on #8473
This happens with bfd-vrf-topo1/test_bfd_vrf_topo1.py

[2021-04-14 15:21] donaldsharp commented on #8473
additional memory leaks:

[code]

I do not know if this is the same issue or not.  But putting here for completeness of what I am seeing

[2021-04-14 15:29] donaldsharp opened #8475 "ospf has memory leaks when running bfd-topo2/test_bfd_topo2.py"
[code]

[2021-04-14 17:00] donaldsharp opened #8476 "BGP use after free in nexthop code"
[code]

This is topotest bgp_basic_functionality.

[2021-04-14 23:52] qlyoung opened #8480 "Build failure in ELF parser when using underflow & implicit conversion sanitizers"
---------------

**Describe the bug**
Building with integer underflow sanitizer enabled results in build failure due to underflow in XREF ELF parser.

Observed error:
[code]

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
On a recent clang, build with `-fsanitize=unsigned-integer-overflow,implicit-conversion`.

**Exp

[2021-04-15 00:05] qlyoung opened #8481 "ASAN false positive in xref initialization"
**Describe the bug**

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

ASAN reports global buffer overflow in all daemons on startup in the xref code

[code]

**To Reproduce**
On a recent clang build with `-fsanitize=address` then run any daemon

**Versions**
[code]

[2021-04-15 04:04] eqvinox commented on #8481
This is likely a false positive due to the way `xrefarray` is constructed as a section. But it's a bug nonetheless, we need the sanitizers to work. I'll look into proper annotations.

[2021-04-15 04:09] eqvinox commented on #8480
clippy is not intended to be built with sanitizers; it's a build tool that needs to accept our real inputs and nothing else. I'll still fix it - less warnings is always better - but this is "rainy day with a full moon" priority.

(the CI explicitly excludes clippy from *SAN builds last I checked)

[2021-04-15 04:33] eqvinox commented on #8481
Confirmed false positive, proper attributes to make ASAN work added in #8483

[2021-04-15 04:37] eqvinox commented on #8480
Just double-checked, and putting the sanitizer flags into `SAN_FLAGS` should correctly build clippy without the sanitizers.  `SAN_FLAGS` is in `AM_CFLAGS` (i.e. default CFLAGS), and clippy has its own `lib_clippy_CFLAGS` which supersedes `AM_CFLAGS` (... no, it doesn't add ontop of AM_CFLAGS, it completely replaces it; that's automake :roll_eyes:)

[2021-04-15 06:32] #8473 closed

[2021-04-15 10:54] donaldsharp opened #8484 "ecommunity string leak in bgp-vrf-route-leak-basic topotest"
Running bgp-vrf-route-leak-basic topotest with valgrind reports this ecommunity memory leak:

[code]

[2021-04-15 10:59] donaldsharp opened #8485 "memory leak in bgp_multi_vrf_topo2 test when run w/ valgrind"
Running the bgp_multi_vrf_topo2 test reveals this memory leak:

[code]

[2021-04-15 17:15] #8476 closed

[2021-04-15 20:39] qlyoung commented on #8480
This implies that since clippy needs to be exempted from sans (which is fine) any use of sanitizers needs to be encapsulated in an configure flag such that the compiler options end up in the `SAN_FLAGS` variable which is not applied to clippy. This is inconvenient. I see there is a `-fsanitize-blacklist` which I suppose we could use to exclude clippy sources from all sanitizers.

[2021-04-15 20:46] #8481 closed

[2021-04-15 21:22] qlyoung commented on #8476
did a pr fix this?

[2021-04-15 22:09] qlyoung opened #8489 "Alpine builds broken due to missing libelf-dev dependency"
**Describe the bug**
~~We can no longer build with alpine since the ELF rewriting stuff now depends `libelf-dev`, which hasn't been maintained in alpine since 3.9.~~

Apparently it has been maintained but it's been renamed to `elfutils-dev`.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

* FRR APKs need to be built on a version late

[2021-04-16 00:34] mwinter-osr opened #8492 "pim rp prefix lists match failing"
Tested with 7.5.1 release package and recent master

Configurations with "ip pim rp x.x.x.x prefix-list nnnnn" don't match correctly for the correct group.

Example:
![testnet](https://user-images.githubusercontent.com/1490788/114953980-df443800-9e59-11eb-9c3c-a50d0184cb96.png)

Configuration on DUT:
[code]

With this configuration if there is a IGMP join from the host for group `239.100.0.192` th

[2021-04-16 10:30] Prerana-GB commented on #8425
Hi,
Can you please assign this bug to me. I would like to triage this.

[2021-04-16 10:47] donaldsharp commented on #8425
go for it

[2021-04-17 03:54] lihongguang commented on #8466
I know Linux kernel has this capability, but how to deal with the following two scenarios below：
[](url)https://blog.ipspace.net/2012/11/ipv6-router-advertisements-deep-dive.html
RA messages may include prefix information. Each prefix has L and A flags:
1, set L and unset A:  only generate prefix routes
2, uset L and set A:  only generate ipv6 address

As we know, if two problems are not solved,

[2021-04-17 05:33] taspelund commented on #8466
The creation of the on-link routes, SLAAC addresses, and default routes in response to a received RA are all handled by the kernel *not* FRR.
After the addresses/routes have been installed by the kernel, they are visible/usable within FRR as routes with either proto Kernel or proto Connected -- in other words, if the kernel has done its job and setup the NDP address/routes correctly, then FRR will

[2021-04-17 05:47] taspelund commented on #8466
For what it's worth, I did also try configuring the other FRR VM to send 2 other prefixes in the RA (2001::/64 with L=1/A=0, 3001::/64 other with L=0/A=1) and it seems that the kernel running on 18.04 does what you'd expect based on those flags:
[code]

SLAAC created an address in 3001::/64 but no onlink route, and an onlink route for 2001::/64 with no address.

[2021-04-17 14:17] lihongguang commented on #8466
Could you attach the route information from FRR rib， especially the condition RA with the prefix route 3001::/64 L=0/A=1？
I remember there was something wrong with the situation，that one connect route (3001::/64) installed in the zebra rib.

[2021-04-17 14:23] taspelund commented on #8466
[code]

[2021-04-17 14:31] lihongguang commented on #8466
C>* 3001::/64 is directly connected, enp1s0, 00:00:16

This connect route shouldn‘t in zebra rib，and it doesn't exist in kernel, actually.

[2021-04-17 14:44] taspelund commented on #8466
Sure, but that's a separate discussion from what you filed this issue for.

Zebra derives the "connected" routes using the netmask/prefix length of the addresses on the interface, i.e. `inet6 2001:dead:beef:cafe:5054:ff:fe11:e2e2/64 -- the connected /64 route comes from the fact that the prefix length for the local address is 64.  Based on the current logic, it doesn't come from the presence of a

[2021-04-17 15:14] donaldsharp commented on #8466
no what we are doing is correct imo.  There is no need for a discussion.  @taspelund is correctly describing FRR behavior

[2021-04-17 15:26] lihongguang commented on #8466
Thank your for your answer.
Sure, but I do hope that FRR can deal with this problem just like cisco/juniper/huawei routers.

There are two problems about this on Cisco Community:

https://learningnetwork.cisco.com/s/question/0D53i00000Kt7Fi/ipv6-address-autoconfig-and-its-nd-0-route
https://learningnetwork.cisco.com/s/question/0D53i00000Kt1piCAB/solved-ipv6-router-does-not-get-its-default-route-th

[2021-04-17 15:35] lihongguang opened #8496 "Host routes should be into the rib table like cisco, juniper or huawei commercial routers"
There should be host routes in the rib table，or the conflicting route as shown below can’t be solved.
[code]
**Question:**
With ospf setups above, R2 will learn the route:  1.1.1.1/32 via 172.24.177.146, although it has the host route 1.1.1.1/32, but it doesn't seem to be checked.

**Note:**
I mean that if R2 has the host route “1.1.1.1/32”，why does zebra install “1.1.1.1/32 via 172.24.177.146 fro

[2021-04-17 15:44] taspelund commented on #8496
Currently FRR doesn't have the concept of a "Local" route like IOS/etc, which does pose some issues for situations like this or when leaking connected routes between VRFs.

This is something I'd like to see implemented as well.

[2021-04-17 16:11] lihongguang commented on #8466
I understand what @taspelund describes, but I don't  agree with you on "what we are doing is correct". And I think that whether FRR behavior is right or wrong directly depends on the scene of network equipments running.

[2021-04-17 19:27] lockmanaz commented on #7213
I'm using OSPF and I may be facing a similar issue. Periodically the network schedules a new router-LSA origination and I get what appears to be a could of severe warnings related to:

2021/04/17 19:12:38 warnings: OSPF: [EC 134217736] ospf_sr_local_block_release_label: Returning label 0 is outside SRLB [15000/15999]
2021/04/17 19:12:38 warnings: OSPF: [EC 134217736] ospf_sr_local_block_release_la

[2021-04-18 06:50] #8489 closed

[2021-04-18 16:28] ne-vlezay80 commented on #7213
Please show GCC version and Linux Distribution

[2021-04-18 18:13] lockmanaz commented on #7213
for the issue I was facing I was able to resolve it and it appears to not be related to a bug in FRR. Someone may face something similar and I found the solution through some obscure cisco webpage that described what I was facing:

https://www.cisco.com/c/en/us/support/docs/ip/enhanced-interior-gateway-routing-protocol-eigrp/22327-gre-flap.html

Basically the FRR ospf routing was set to route to t

[2021-04-19 04:45] taspelund commented on #8466
Can you give a real world example of when you'd want to use SLAAC to autogenerate an address but not an onlink route?
Or a real world example where the connected route in the RIB taken from the prefix length of the SLAAC address creates an issue that cannot be worked around using a route-map or similar config in FRR?

It's hard to say that FRR is doing the wrong thing without understanding specifi

[2021-04-19 11:34] eqvinox commented on #8480
You can also set `SAN_FLAGS` on the `make` commandline, e.g. `make SAN_FLAGS=-fsanitize=isopropyl-alcohol`.  Another option is to pre-build clippy and use `--with-clippy=` on configure.

Hadn't previously seen that option but yeah that should work too.

[2021-04-19 13:06] ak503 opened #8510 "ospf do not upload area settings on interfaces in vrf"
hello!
ospf not upload config If interface vrf.

i configured `ip ospf area 1`  on interface (in vrf), write config (`do write`) and restart ospf. `ip ospf area 1` is missing
<pre>
u1@u1-VirtualBox:~/mGIT/frr-master/ospfd$ ip a show dev enp0s8
3: enp0s8: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast master vrf1 state UP group default qlen 1000
    link/ether 08:00:27:10:7e:6e brd ff:

[2021-04-19 14:15] thirdeyenick commented on #8460
I have to revert my statement about that it is not working using `-n` for bgpd. When specifying `-n` for bgpd the MD5 authentication works. So it seems the issue only exists when using a `view` with the provided configuration.

[2021-04-19 15:08] f0o commented on #7743
I can reproduce this on both 7.5.0 and 7.5.1 - I always have to issue `vtysh -b` after restart (which is sometimes very tricky to do)

[2021-04-19 16:12] eqvinox commented on #8492
@qlyoung I'be been asked to look at this, ping me if you're already poking at it and/or want to leave it to me ;)

[2021-04-19 17:01] dteach-rv opened #8513 "BGP Add-Path RX Cannot Be Disabled."
Hello,

The FRR bgp daemon should have the ability to disable add-path negotiation completely.  Currently, the add-path RX capability is hardcoded into the daemon.  This seems like a bad idea as the only way one would be able to stop receiving add-path enabled routes from a peer who has negotiated add-path TX would be to disable that peer completely.

Steps To Reproduce.

Establish peering with a

[2021-04-19 17:03] dteach-rv commented on #8513
https://github.com/RIPE-NCC/bgpdump/issues/9

[2021-04-20 01:13] melissa-cjt opened #8515 "EIGRP missing check of the AS number"
---------------

**Describe the bug**

According to the RFC7868, AS number must be the same.

Autonomous System Number: 16-bit unsigned number of the sending system.  This field is indirectly used as an authentication value.  That is, a router that **receives and accepts** a packet from a  neighbor **must have the same AS number** or the packet is ignored. The range of valid AS numbers is 1 throug

[2021-04-20 02:42] eqvinox commented on #6813
fixed in #8465, sorry, this kinda fell off my radar :(

[2021-04-20 02:42] #6813 closed

[2021-04-20 04:29] eqvinox commented on #8492
@qlyoung fix in https://github.com/opensourcerouting/frr/commits/pim-fixes-20210420 - letting @mwinter-osr have a poke at it to confirm.

(That said, this is kind of a misuse of prefix lists, so if you have a different idea about how to fix this...)

[2021-04-20 08:54] idryzhov commented on #8510
Which FRR version do you use? I can't reproduce it on master and on stable/7.5.

[2021-04-20 09:48] rgirada opened #8519 "Graceful Restart Helper support for OSPFv3"
Adding graceful restart helper support in ospf6.
Implementing only Helper role  for now.
Ref RFC 5187.

[2021-04-20 09:49] rgirada commented on #8519
I am working on this specific feature , will be raising the pull request soon.

[2021-04-20 13:39] ak503 commented on #8510
it was master

[2021-04-20 14:21] vifino opened #8521 "FRR 7.5 YANG validation error with libyang 1.0.215"
**Describe the bug**

1) Download Alpine 3.13
2) Install FRR 7.5 (`apk add frr`)
3) Upgrade to Alpine Edge or fetch `libyang-1.0.215-r0.apk` from `edge/community`.
4) Start FRR.
5) Open `vtysh` in config mode, create a route-map with `set src` statement.
[code]

**Expected behavior**

No validation errors, config should work exactly as with libyang 1.0.184.

**Versions**

 - OS Version: Alpine Edg

[2021-04-20 14:37] davischw opened #8522 "tests: bgp-auth topotest failures"
**Describe the bug**
The "bgp-auth" topotest suite has seen multiple failures on our CI system over the past two weeks in both FRR-FRR (master) and FRR-FRRPULLREQ build plans.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**Screenshots**
https://ci1.netdef.org/browse/FRR-FRR-4542
https://ci1.netdef.org/browse/FRR-FRRPULLREQ-18376
h

[2021-04-20 14:45] davischw opened #8523 "tests: bgp_listen_on_multiple_addresses topotest failures"
**Describe the bug**
The "bgp_listen_on_multiple_addresses" topotest suite has recently seen a spike in failures on our CI system in both FRR-FRR (master) and FRR-FRRPULLREQ build plans.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**Screenshots**
https://ci1.netdef.org/browse/FRR-FRRPULLREQ-18222
https://ci1.netdef.org/browse/FRR

[2021-04-20 15:20] mwinter-osr opened #8524 "configure.ac should be more specific on libyang version"
FRR (master branch and older branches like stable/7.5) currently require libyang >= 1.0.184

With the release of Libyang2 (which is not compatible), the configure check should be changed to >= 1.0.184 **and** < 2 to avoid the compile with the wrong major version of libyang

[2021-04-20 15:31] patrick7 opened #8525 "FRR changes route distinguisher and route target on linkdown/linkup"
We are using FRR 7.5.1 (debian 10) in a MPLS VPNv4 environment. Today, we noticed, that after a linkdown / linkup, some route distinguisher settings in the configuration are changed automagically, without any user interaction.

**Config:**
[code]

**Steps to reproduce:**
Linkdown:
[code]
the following settings are changed:

[code]
ens224 is the only interface in vrf1. It looks like frr is using th

[2021-04-20 20:48] qlyoung commented on #8259
@toddam310, please provide a config to help us fix this.

[2021-04-20 20:48] qlyoung commented on #8049
Fixed by linked PR

[2021-04-20 20:48] #8049 closed

[2021-04-20 20:50] qlyoung commented on #8024
No response

[2021-04-20 20:50] #8024 closed

[2021-04-20 20:50] qlyoung commented on #7997
No response

[2021-04-20 20:50] #7997 closed

[2021-04-20 20:52] qlyoung commented on #7982
No response

[2021-04-20 20:52] #7982 closed

[2021-04-20 21:34] idryzhov commented on #8525
Looks like the same problem as https://github.com/FRRouting/frr/issues/8447

[2021-04-20 21:47] patrick7 commented on #8525
Oh, didn't see this one when I opened this issue. Seems to be the same problem.

[2021-04-20 21:47] #8525 closed

[2021-04-21 23:29] angelyouyou opened #8532 "Does BGP of FRR support vpnv4/vpnv6 and EVPN routes dump to MRT format？"
Does BGP of FRR support vpnv4/vpnv6 and EVPN routes dump to MRT format？

[2021-04-22 11:53] idryzhov commented on #8521
Fixed in https://github.com/FRRouting/frr/pull/8533

[2021-04-22 11:53] #8521 closed

[2021-04-22 12:01] ak503 commented on #8510
this is reproducible on master and 7.5.1 for any  `ip ospf ...` commands, if interface added to VRF

[2021-04-22 12:08] idryzhov commented on #8510
It seems you're using separate configuration files for daemons. Could you check with [integrated config](http://docs.frrouting.org/en/latest/vtysh.html#integrated-configuration-mode)?

[2021-04-22 13:56] rubensfig opened #8537 "Unkown commands in vtysh"
---------------

**Describe the bug**

Using the vtysh commands in a weird order leads to commands not being recognized anymore.

[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

**Expected behavior**

Using the above steps, I would expect that the shutdown command would be executed, but at that point its not

[2021-04-22 15:44] ne-vlezay80 commented on #6992
[code]

[2021-04-22 23:15] idryzhov commented on #8537
Did some investigation, the problem is the following.

The only command in vtysh which starts with "sh" is "shutdown" so it matches it unambiguously and sends the command to daemons.
But daemons also have "show" command in the interface node. Both "show" and "shutdown" partially match with "sh" and thus daemons treat "sh" as an ambiguous command.

[2021-04-23 03:45] mtomaschewski opened #8541 "test_zmq testcase intermittently hands during build"
We are observing **intermittent** failures of the frr package builds in our build system due to **hanging** `test_zmq.py` testcase until the build system kills the complete build job:
[code]
or
[code]
**To Reproduce**
It are intermittent hangs in the `test_zmq.py` testcase happening every few weeks I weren't able to reproduce yet.

**Versions**
 - OS Version: SUSE SLES-15-SP3, openSUSE
 - Kernel:

[2021-04-23 03:49] melissa-cjt opened #8542 "EIGRP: overread tlv in vtysh"
---------------

**Describe the bug**

[x ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

I find that frrouting can accpet malformed eigrp hello **paramter tlv** and **verison tlv**. Frrouting dosen't check the completeness of the tlv.

In eigrp_hello_parameter_decode() and eigrp_sw_version_decode() , there are no check  whether the in

[2021-04-23 12:04] EasyNetDev commented on #4069
Hi,

Nobody replicate this issue? Could be fixed in latest releases?

Kind regards,
EasyNet

[2021-04-23 12:25] mjstapp commented on #8541
Mind if I ask - do you need to / intend to use zmq - I take it you are enabling it in the configure step?

[2021-04-23 14:22] ckishimo commented on #4069
Check RFC2328, section 16.4.1 "External path preferences" if that could explain your problem (Intra-area paths using non-backbone areas are always the most preferred). Then try to enable RFC1583 compatibility in r1/FRR:
[code]
I believe Cisco is using RFC1583 by default while FRR is using RFC2328, that could explain the differences you see.
Hope it helps!

[2021-04-23 16:35] axinojolais opened #8550 ""show ipv6 ospf6 interface" doesn't show if an interface is passive or not"
**Describe the bug**

```show ipv6 ospf6 interface``` doesn't show if the interface is passive or not. Looking at the code of ```ospf6_interface.c```, the ```OSPF6_INTERFACE_PASSIVE``` flag is not used in the ```ospf6_interface_show``` function.

For IPv4 / OSPFv2, this information will be showed in the form of ```No Hellos (Passive interface)```

[x] Did you check if this is a duplicate issue?
[

[2021-04-23 17:58] mwinter-osr opened #8552 "BGP Peer Dampening failing to show in config"
This is as of latest master

BGP peer dampening occasionally doesn't show the config in a "show running". This can be seen in failing topotests

example of failures:
- https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPO3U18I386-18548/test
- https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TP3U1804AMD64-18554
- https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPO3U18I386-18556

Quick check shows the configu

[2021-04-24 00:51] mwinter-osr commented on #8552
The issue seems to be reliable to be reproduced if the numer of CPUs is limited to a single core:
i.e. running it as:
`taskset -c 0 ./test_bgp_features.py `

[2021-04-24 17:03] ne-vlezay80 commented on #6992
The problem is fixed, if compilling from clang.

[2021-04-25 02:43] hothotstreet commented on #8069
I've been in the same situation.like this:
top - 10:19:14 up 128 days, 21:32,  2 users,  load average: 0.01, 0.05, 0.06
Tasks: 118 total,   1 running,  61 sleeping,   0 stopped,   0 zombie
%Cpu(s):  0.0 us,  3.1 sy,  0.0 ni, 96.9 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
KiB Mem :  4032640 total,   406984 free,  2300436 used,  1325220 buff/cache
KiB Swap: 16777212 total, 16777212 free,        0 used.

[2021-04-25 20:01] blinklet opened #8558 "frrouting/frr docker cannot run start: /etc/frr/daemons does not exist"
Problem running frrouting/frr:latest docker image from DockerHub. frrouting/frr:7.5.1 works but frrouting/frr:latest fails to start.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Try latest version:

1. $ sudo docker run -dit --name frr10 frrouting/frr
2. $ sudo docker logs frr10
3. Observed output:  "cannot run s

[2021-04-26 08:43] idryzhov opened #8560 "test_ospf_sr_topo1 failed in CI on BGP-only PR"
PR: https://github.com/FRRouting/frr/pull/8553
Testrun: https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPO9DEB10AMD64-18594/test

[2021-04-26 13:01] angelyouyou opened #8562 "Is there a way or interface to get the MRT dump data of ISIS, OSPF and BGP? And does FRR support to dump vpnv4/vpnv6/EVPN routes to BGP MRT file？"
I want obtain the dumped MRT data to write message queue or database. Please tell me the way or interface to decode and save these data.
And does FRR support to dump vpnv4/vpnv6/EVPN routes to BGP MRT file？
Thanks very much.

[2021-04-26 13:08] anuragbhatia commented on #7804
Hi, it was sorted it's own even without any package or OS upgrade. Unsure how issue went away. Closing this for now.

Thanks for your help @mwinter-osr

[2021-04-26 13:08] #7804 closed

[2021-04-26 14:45] mjstapp commented on #8542
Thanks for reporting this - yes, the issues with TLV parsing there are clear, I will offer a PR.

[2021-04-26 16:07] Manikandaprab opened #8567 "OSPFv3-26.13 ANVL failed"
[ANVL-26.13_Failed.txt](https://github.com/FRRouting/frr/files/6378518/ANVL-26.13_Failed.txt)
FRR Version 7.2
On top of FRR Version 7.2, pulled the code from https://github.com/idryzhov/frr/commit/aba6351b399c4b65f2e9c3bd9fe96bd4cfe5deb5

With this commit ID, facing OSPFv3-26.13 ANVL testcase failed.
Please find attached 26.13_Failed.txt for reference.

Latest FRRouting/frr master branch has the a

[2021-04-26 18:11] #6090 closed

[2021-04-26 19:15] qlyoung commented on #8567
@idryzhov can you take a look at this one?

[2021-04-26 19:16] qlyoung commented on #8558
Thanks for the report. You should definitely be using `v7.5.1` and not the `latest` tag as there's no guarantees on what's in that tag at any given time.

[2021-04-26 19:17] idryzhov commented on #8567
@qlyoung I am not familiar with OSPFv3 code. The commit linked is just a backport I did. The actual commit is https://github.com/idryzhov/frr/commit/4c63a76a63fd02ae2aa73e4e66b04b37b10fdd99.

[2021-04-26 23:38] #8542 closed

[2021-04-27 11:51] abckey commented on #8558
/etc/frr seems now a file instead of a directory in v7.5.1 ?

[2021-04-27 13:01] ak503 commented on #8510
it for isis and rip too
`% VRF vrf1 not found`

[2021-04-27 14:18] davischw commented on #8552
The issue is caused by a mix of various things, therefor also requiring a mix of PRs to fix it:
* [PR #8548](https://github.com/FRRouting/frr/pull/8548)
* [PR #8551](https://github.com/FRRouting/frr/pull/8551)
* [PR #8572](https://github.com/FRRouting/frr/pull/8572)

[2021-04-27 15:00] networkop opened #8574 "Issues with multicast routing in network namespaces"
**FRR version**: version 7.5+cl4.3.0u1
**OS version**: Debian Buster
**Linux version**: 5.10.16

**Scenario**:
Two FRR instances are running inside (Docker) containers and are interconnected with a veth link.

FRR  swp1 <- veth -> swp1 FRR

PIM is setup between two the instances and neighbors are seeing each other fine.
IGMP static join is setup on a `lo` interface of one of the FRRs and the peer

[2021-04-27 15:25] qlyoung commented on #8519
Not sure I see the point of this issue, if there's a reason for it to exist let me know and we can reopen it

[2021-04-27 15:25] #8519 closed

[2021-04-27 15:31] networkop opened #8575 "Unable to protodown a veth link"
**FRR version**: version 7.5+cl4.3.0u1
**OS version**: Debian Buster
**Linux version**: 5.10.16

Scenario:
Two FRR instances are running inside (Docker) containers and are interconnected with a veth link.

FRR swp1 <- veth -> swp1 FRR

During EVPN MH warmup (`startup-delay`), bond memebers are put in the `protodown` state. However it seems like this is not supported for veth links.

The following

[2021-04-27 18:12] idryzhov opened #8578 "isis ldp-sync implemented incorrectly"
In the CLI, one can configure the ldp-sync individually per area:

[code]

However, the code actually works like this config is for the whole VRF. Just a few examples follow.

When removing a single area (`isis_instance_destroy`):
[code]
It removes the config for the whole VRF.

When enabling the ldp-sync (`isis_instance_mpls_ldp_sync_create`):
[code]
It is changing the setting for all circuits in

[2021-04-28 04:56] rgirada commented on #8519
Hi @qlyoung ,
This is an enhancement and I am currently working on this.
I opened this  issue  to notify and   avoid duplication of efforts on the same feature from others.
Please reopen this , i will raise Pull request for this  soon.

[2021-04-28 16:52] qlyoung commented on #8567
@gromit1811 ?

[2021-04-29 03:14] VictorCaiShen opened #8590 "[Help!!!]How to create a VRF by FRRouting?"
ubuntu(config)# vrf bule
ubuntu(config-vrf)#
  end       End current mode and change to enable mode
  exit      Exit current mode and down to previous mode
  exit-vrf  Exit from VRF configuration mode
  find      Find CLI command matching a regular expression
  ip        IP information
  ipv6      IPv6 information
  list      Print command list
  netns     Attach VRF to a Namespace
  no        Neg

[2021-04-29 04:16] Jafaral commented on #8590
@VictorCaiShen , network device management is not handled by FRR, ie, you can create a new network interface/device  using FRR. You have to do that using the underlying OS . On linux for example you can use iproute2 to create a vrf device than you can then configure using FRR.

see https://github.com/FRRouting/frr/wiki/Configuring-a-VRF-to-work-properly-for-FRR

[2021-04-29 06:15] VictorCaiShen commented on #8590
I got it. Thanks a lot. But this method of creation is too complicated and requires switching between the two OSs, which is too unfriendly.

[2021-04-29 13:24] gromit1811 commented on #8567
Quite possible that I'm guilty :-( I only understood 50% of the code I modified in 4c63a76a63fd02ae2aa73e4e66b04b37b10fdd99 to fix #7030 and @chiragshah6 who authored the original code in 76249532faadfb429f46dd94cf6bbc61d78b3f26 never responded to explain his intentions.

I'll take a closer look at this but I'm neither very familiar with the RFC nor with the implementation plus quite busy at the m

[2021-04-29 14:29] #8000 closed

[2021-04-29 15:16] rzalamena commented on #8475
PR #8409 fixes one part of it but there are more things left.

Instructions for people to test:

1. Compile FRR without ASAN (this is the default)
2. Add this patch to your topotest:

[code]

3. Before running topotest create the valgrind output directory: `mkdir /tmp/valgrind ; chmod 1777 /tmp/valgrind`
4. Run the `bfd-topo2` topology test
5. Read the `/tmp/valgrind/*` files

[2021-04-29 15:24] qlyoung commented on #8590
I'm closing this as your question has been answered.

[2021-04-29 15:24] #8590 closed

[2021-04-29 15:31] rzalamena commented on #8590
Yes, unfortunately. There is a GSOC project that might address that:
https://frrouting.github.io/frr-gsoc/year-2021/projects/layer-2-configuration

I'd not wait for it as it might not be picked or might take a while.

[2021-04-29 19:33] qlyoung commented on #8558
wack

[2021-04-29 19:51] jpsenior opened #8594 "frr-reload.py - When incrementally adding default & named VRF static routes at same time, default routes added to the final named vrf incorrectly"
**Describe the bug**
When incrementally adding static routes to a named vrf and default (GRT) vrf at the same time, the static routes in the global VRF are also improperly configured underneath the named VRFs.

It seems the issue is when a vrf context is entered by frr-reload.py (vrf Vrf-red), the new static routes in that named VRF are incrementally added, but the **vrf-context is not exited**, s

[2021-04-30 10:19] EasyNetDev opened #8595 "ospfd: "show ip ospf interface IFNAME" crashes the daemon"
When I'm trying to use the command "show ip ospf interface tun40105" command OSPF is crashing. I have one stable FRR version and one git FRR 7.6 version. Both they behave the same. Using an older git FRR 7.5 version is not doing this.
I think is related to all interfaces that have OSPF active on interface.

[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting

[2021-04-30 10:54] rzalamena commented on #8594
Looks like `frr-reload.py` is only handling the old syntax, the new syntax breaks the context handling.

References:

[code]

( https://github.com/FRRouting/frr/blob/master/tools/frr-reload.py#L1077 )

[code]

( https://github.com/FRRouting/frr/blob/master/tools/frr-reload.py#L282 )

[2021-04-30 10:58] #8578 closed

[2021-04-30 11:06] EasyNetDev opened #8596 "FRR 7.7-dev zebra: crash when try to "show ip ospf interface IFNAME""
When I'm trying to do some work via vtysh, zebra is crashing very often. I've tried on 4 different systems, all running Debian Bullseye, but 2 are real PC and 2 VM.

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

How to reproduce:
Start zebra and ospf like this:

[code]
Go to vtysh:

[code]

Then in the console you will receive this:

[2021-04-30 11:19] donaldsharp commented on #8596
why are you limiting the fd's to 100?  What is your goal? < not withstanding the crash that should not be happening > Just trying to understand

[2021-04-30 11:22] ak503 opened #8597 "Missed VRFs if usage separate configuration files with vrfs settings for daemons"
If use separate configuration files with some VRF settings, the daemons will detect VRF at startup later then it need.

1. For example for ospfd, ripd, isisd will be missing settings in interface section.
If ospfd.conf have next settings:
<pre>
interface enp0s8 vrf vrf1
 ip ospf area 1
</pre>

then after start ospfd `ip ospf area 1` will be missing.

2. Example for bgpd.
if confugure in runtime th

[2021-04-30 11:23] ak503 commented on #8510
update in #8597

[2021-04-30 11:23] #8510 closed

[2021-04-30 15:07] brotherdust commented on #2236
@maduri111 , just checking in again! Hope you are well!

[2021-04-30 15:26] donaldsharp commented on #8596
The problem -> You've told FRR to limit the number of FD's it will pay attention to and you've hit that limit.  There is not a whole lot we can do here given the intentional limitations that have been placed on FRR.

[2021-04-30 18:13] EasyNetDev commented on #8596
Without --limit-fds only OSPFD is crashing. I will update the other issue with the backtrace of the 7.7-dev-20210430-01-g4c7ce7bd2.

[2021-04-30 18:14] EasyNetDev commented on #8595
I'm adding a backtrace for 7.7-dev-20210430-01-g4c7ce7bd2.

[OSPFD show ip ospf interface IFNAME - FRR 7.7-dev-20210430-01-g4c7ce7bd2.txt](https://github.com/FRRouting/frr/files/6407223/OSPFD.show.ip.ospf.interface.IFNAME.-.FRR.7.7-dev-20210430-01-g4c7ce7bd2.txt)

[2021-04-30 18:17] EasyNetDev commented on #8595
What is interesting ospfd is not crashing if I'm using json output:

`show ip ospf interface ens224 json`

[2021-04-30 21:27] EasyNetDev commented on #8596
I'm thinking that is better to throw an error message before crashing. Is difficult for a non programmer to guess that she/he did a mistake using a lower fds limit.

[2021-04-30 23:30] idryzhov commented on #8447
I think this was broken by https://github.com/FRRouting/frr/commit/3c2a1ad1f0a7b8a29b944ce28c4e06d350aaf79f

[2021-04-30 23:33] idryzhov commented on #8484
I think this is fixed in master by https://github.com/FRRouting/frr/commit/ef7c53e244d5d0cd7c0ba2536fc931abf28df656 + https://github.com/FRRouting/frr/commit/d09328e5991c9f657758921264492825e7081175#diff-6113e995d27c0e099d78f00db8fc84c7998aa5951f6d51f2e2a3b750b0f97029

[2021-05-01 07:06] c-po commented on #8403
The issue also appears when configuriong graceful-restart options on the peer level.

[2021-05-01 12:52] EasyNetDev commented on #8595
I did a test. Changing this part in function void route_node_delete(struct route_node *node):

[code]

I got the ospfd working:

[code]

I don't know if is a bug in assert macro.

[2021-05-01 14:27] EasyNetDev commented on #8595
Ok, I've tested the assert macro. Seems that assert( var == NULL) is not accepted by the assert.

[code]

Compiling the sources and run it we will get:

[code]

If the pointer it has allocated something, it fails. If the pointer is null, is working:

[code]

First assert() is working but the second it will fail. This is my conclusion.

Kind regards,
EasyNet

[2021-05-01 14:51] mr-djan opened #8600 "FRR 7.5.1 cannot establish BGP session to Cisco NCS540 IOS XR 7.3.1"
Hello. I can not established BGP session with logs on FRR - `May  1 17:34:16 rr0sh100 bgpd[577]: [EC 33554501] 91.222.112.5 Unexpected afi/safi/next-hop afi: IPv4/multicast/2 in Extended Next-hop capability, ignoring`
I have full `debug bgp` from Cisco NCS
[HyDG5JRu.txt](https://github.com/FRRouting/frr/files/6409754/HyDG5JRu.txt)
And full `debug bgp neighbor-events 91.222.112.5` from FRR
[Dw7bywW

[2021-05-01 15:29] taspelund commented on #8600
On the FRR side can you try disabling extended next-hop for the peer?
`no neighbor <peer> capability extended-nexthop`
(My syntax may be a little off, so maybe question mark it out to be sure 😉)

[2021-05-01 16:00] mr-djan commented on #8600
`no neighbor 91.222.112.5 capability extended-nexthop` but i don't see it in config, so its a default configuration

[2021-05-01 16:11] taspelund commented on #8600
That sounds right. It's on by default so we'd have to explicitly disable it.

The error message you pointed out is related to FRR not liking the next-hop's address-family we received in the extended next-hop capability we got from the peer. I suspect disabling the capability may help.

[2021-05-01 16:26] mr-djan commented on #8600
I obviously turned it off as you advised, but it did not help, the error is the same

[2021-05-01 16:43] taspelund commented on #8600
Ok. Looking over the logs I don't think the error is contributing to the peering issue. We see in both files that the session moves into Established, which means the capability exchange hassucceeded regardless of ENHE being enabled.

On the FRR side we can see the peering gets cleared upon a TCP timeout:
[code]

The Cisco debugs seem to end before the peering goes down, so we don't know what it th

[2021-05-01 16:49] mr-djan commented on #8600
Okay, I'll try to make a pcap tomorrow and write right away.

[2021-05-01 18:38] choppsv1 opened #8604 "bgp neighbor interface capability extended-nexthop config broken"
---------------

**Describe the bug**

bgp interface neighbors unlike all other neighbor types is supposed to default to extended-nexthop enabled. When specifying the config to enable it, as well as the config to disable it, no config regarding this setting is produced.

[ ] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[2021-05-02 09:51] EasyNetDev commented on #4069
Thanks. Now I understand the issue.

[2021-05-02 09:51] #4069 closed

[2021-05-02 20:05] cosmedd opened #8609 "BGP does not re-establish peerings after systemctl restart"
---------------

**Describe the bug**

Since version 7.5.0, when the service is restarted, using systemd, the routes are lost and the BGP session is not restored until the server is rebooted.

[ x ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

The truth is that we don't know exactly how to reproduce it. We think it is

[2021-05-03 07:21] lyofab opened #8611 "Zebra: connected route not redistributed when interface goes up if interface has multiple ip addresses"
---------------

**Describe the bug**

When an interface is configured with multiple addresses on the same subnet, if it goes down and back up, the connected route associated with this interface is not redistributed.

I noticed it while using OSPF but from it seems that zebra is not redistributing the routes.

The route is distributed by OSPF at startup.

My main OS is FreeBSD 12 but I've checked

[2021-05-03 08:07] #8596 closed

[2021-05-03 13:55] #8524 closed

[2021-05-03 18:25] EasyNetDev commented on #5475
Hi,

I've notice same behavior also in "frr version 7.7-dev-20210430-01-g4c7ce7bd2".

[code]

If you enable password encryption, the passwords are getting multiple entries:

[code]

[2021-05-03 19:23] c-po commented on #8403
Turns out this issue is not frr-reload.py related but rather related to vtysh:

[code]

[2021-05-03 21:27] cosmedd commented on #8609
Hi again. I forgot to point out that the other client of the bgp session is also frrouting 7.5.1.

[2021-05-04 08:55] lyofab commented on #8611
I've been digging through the code and it seems the issue is coming from this part in `rib_process_result (zebra/zebra_rib.c:1865)`:

[code]

What I've seen is that here we will match on the second route_entry that was added but `rn->info.selected_fib` points to the first entry that was added. Later in `rib_update_re_from_ctx`, when the route_entry and `rn->info.selected_fib` are compared they dif

[2021-05-04 15:34] qlyoung commented on #8537
Fixed by https://github.com/FRRouting/frr/pull/8593

[2021-05-04 16:13] maduri111 commented on #2236
@brotherdust I am doing good. Thank you.
Sorry It got delayed due to other internal projects.
As you know, for updating document we need to provide the output of the test cases. So documentation can be done after completing testing. I will send you an email with the branch details once coding & testing is done.

[2021-05-04 17:27] AnuradhaKaruppiah commented on #8575
Looks like a kernel patch is needed. This function needs to be plugged into veth_netdev_ops -
.ndo_change_proto_down  = dev_change_proto_down_generic,

[2021-05-04 18:23] 0rb677 opened #8623 "can't setting an interface back to defaults (no "default interface <ifname>" command from cisco)"
if i don't know please correct me.
https://community.cisco.com/t5/switching/setting-an-interface-back-to-defaults/td-p/1866978

[code]

[code]

[2021-05-04 18:41] c-po commented on #8403
Turns our, return code 1 is used for both informational messages like "hey joe, please reset your peers" but also on real errors like "BGP -> Specify remote-as or peer-group commands first"

[code]

[2021-05-04 19:25] qlyoung commented on #8562
It's implemented for BGP. I don't think ISIS and OSPF support it. Our docs are super out of date for how to use it but if you look at the `dump bgp *` family of commands those should do what you want

https://docs.frrouting.org/en/latest/bgp.html#dumping-messages-and-routing-tables

We'd gladly accept work to add MRT support to ISIS and OSPF though!

[2021-05-04 20:05] qlyoung commented on #8623
[code]

Does this answer your question?

P.s. in the future if you're looking for a command you can use the `find` command.

[2021-05-04 23:53] angelyouyou commented on #8562
@qlyoung
What I want to express is: Is it possible to add external communication (such as message queue, etc.) before writing the MRT format file? In this way, the external program can obtain the MRT data more easily and efficiently (instead of re-analyzing it from the file),

[2021-05-05 07:16] #8403 closed

[2021-05-05 07:35] 0rb677 commented on #8623
Wow cool thank you @qlyoung

[2021-05-05 07:35] #8623 closed

[2021-05-05 14:59] qlyoung commented on #8562
No.

[2021-05-05 15:02] qlyoung commented on #8562
@polychaeta autoclose in 1 day

[2021-05-05 15:08] qlyoung commented on #8600
@polychaeta autoclose in 1 week

[2021-05-05 15:11] qlyoung commented on #8567
They're proprietary standards compliance tests sold by Keysight, which are unfortunately considered a standardized test suite in enterprise networking. They cost "call for quote" dollars.

@mwinter-osr can you do a quick ANVL run on OSPv3 on master to see if it fails?

[2021-05-05 15:17] #8522 closed

[2021-05-05 15:43] gromit1811 commented on #8567
I should have access to an Ixia box supporting these tests in the near future, but it'll probably take a few more weeks until it's delivered. But the logs attached here are quite detailed, so I should be able to reproduce this manually as well. I just need to find a time slot for it...

[2021-05-05 16:17] dslicenc commented on #8594
I don't see this misbehavior in master.   Have you tried to recreate your issues with latest code?

[2021-05-05 16:22] pguibert6WIND opened #8633 "OOM killed BGP process after reconfiguring BGP server with 1000 sessions"
**Summary**
It is a BGP server setup with 1000 sessions initiated by 2 remote exabgp handling around 500 sessions each one.
This is IBGP Session, and the exabgp clients send a network BGP update.

Once the 1000 BGP sessioss reached on the server, lets dump memory ('show memory') and lets unconfigure the BGP (`no router bgp`).
The first time happens well.
Then let's reconfigure BGP, and lets wait f

[2021-05-05 16:26] pguibert6WIND commented on #8633
below attached files should be renamed by removing .txt suffix, except the one about oom and show memory.

[exabgp_wan1_1.cfg.txt](https://github.com/FRRouting/frr/files/6428707/exabgp_wan1_1.cfg.txt)
[exabgp_wan1_2.cfg.txt](https://github.com/FRRouting/frr/files/6428708/exabgp_wan1_2.cfg.txt)
[exabgp_wan1.env.txt](https://github.com/FRRouting/frr/files/6428709/exabgp_wan1.env.txt)

[crash_oom_and

[2021-05-05 17:05] pguibert6WIND commented on #8633
note that it also crashes when stopping exabgp , and restarting it.

[2021-05-05 20:43] qlyoung commented on #8532
#8562

[2021-05-05 20:43] #8532 closed

[2021-05-06 06:17] mjbnz commented on #8330
The repo does exist, it just doesn't have gitweb on that URL. Try:

https://gerrit.fd.io/r/admin/repos/vppsb
and
https://gerrit.fd.io/r/gitweb?p=vppsb.git;a=summary

However, you raise a good point, as TNSR appears to not use the router plugin, I'm currently in the middle of trying to decipher how it sets up the tap interfaces for FRR.

[2021-05-06 12:52] mr-djan commented on #8600
Hello. Sorry, it was a weekend in Ukraine, a great Christian holiday. I'll rent and send a dump tomorrow.

[2021-05-06 12:52] polychaeta commented on #8600
This issue will no longer be automatically closed.

[2021-05-06 15:51] achernavin22 opened #8641 "BGP connections of different VRFs might be processed by wrong listeners"
**Description**
When you have multiple BGP routers configured in different VRFs, connections from remote peers might be processed by the wrong listeners. BGP sessions might not be established.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**How to Reproduce**
There are several ways how this problem can be reproduced. Here is one of

[2021-05-06 15:55] pjdruddy commented on #8641
I think the root cause is the same as https://github.com/FRRouting/frr/issues/8327
There is a PR out for this - https://github.com/FRRouting/frr/pull/8367

[2021-05-06 16:49] pguibert6WIND commented on #8633
some numbers are quite strange when dumping memory:
at first trial: ```  Total heap allocated:  18 MiB (*)```
at 2nd trial : ```   Total heap allocated:  > 2GB```

also, the size of BGP peer seems strange:
[code]
does that mean that struct bgp peer is 4MB ? whereas struct bgp peer only is 40K.

I also dumped information from malloc_info() instead of mallinfo(), and I oufnd that the memory is alloc

[2021-05-06 19:22] taspelund commented on #8447
Looks like this can be easily reproduced by triggering the automatic RD/RT creation in the VRF, i.e. adding the first IPv4 address to that VRF:
[code]

[2021-05-06 20:57] dslicenc commented on #8447
Same misbehavior happens if there aren't any addresses in the vrf and a router-id is defined manually.

[2021-05-07 08:31] idryzhov commented on #8641
I have a new PR for this - https://github.com/FRRouting/frr/pull/8644. It covers more cases.

[2021-05-07 08:34] mr-djan commented on #8600
Hello, full pcap

91.222.112.5 - Cisco NCS540
91.222.112.10 - FRR

thanks for help
[bgp2.pcapng.zip](https://github.com/FRRouting/frr/files/6440182/bgp2.pcapng.zip)

[2021-05-07 14:01] dslicenc commented on #8447
I suspect if you defined a router-id in the vrf the problem would also go away.  Testing now.

[2021-05-07 14:42] markdgray commented on #8558
Yes, I am seeing this too. It can be reproduced with:

$ docker run -it --entrypoint ls frrouting/frr:v7.5.0 -al /etc/frr
total 80
drwxr-xr-x    2 root     root          4096 Nov 25 21:07 .
drwxr-xr-x    1 root     root            66 May  7 14:36 ..
-rw-r--r--    1 root     root           665 Nov 25 20:55 babeld.conf.sample
-rw-r--r--    1 root     root            39 Nov 25 20:55 bfdd.conf.sample

[2021-05-07 15:29] taspelund commented on #8600
Okay, so here's more or less the order of events I'm seeing in the capture.

1) the session establishes (bidirectional Open + Keepalives)
2) both sides send TCP Acks for the Keepalive messages
3) FRR starts sending Update messages packed to the MSS (1460)
4) the Cisco sends Dupe Acks for the Keepalive segment sent by FRR (indicating it didn't receive or process the segments carrying the Updates)
5

[2021-05-07 20:10] pguibert6WIND commented on #8633
issue was related by overcommit memory management.

[2021-05-07 20:10] #8633 closed

[2021-05-07 20:11] pguibert6WIND commented on #8641
yes https://github.com/FRRouting/frr/issues/8327
I suppose you are using vrflite?

[2021-05-08 02:31] Thermi commented on #1758
Same, but on Debian 10 with version 6.0.2
Config loads fine if it's just written using vtysh, but if I even change a single line using nano or anything, vtysh doesn't load it anymore and there are no errors or logs whatsoever telling me of a problem with it.

[2021-05-10 02:47] SergeiFranco opened #8651 "Documentation clarification regarding "bgp community alias NAME ALIAS"."
Hi,

According to the documentation to set a human friendly alias for the bgp community one must use "bgp community alias ...".
According to the same documentation the command is deprecated in favor of more explicit command. No examples or links were given this documentation:
https://docs.frrouting.org/en/latest/bgp.html#clicmd-bgpcommunityaliasNAMEALIAS

Running "bgp community alias XXXX:YYYY TES

[2021-05-10 06:02] ton31337 commented on #8651
Hi, @SergeiFranco

which version of FRR do you use? This is not yet released actually. It will be included since 7.6 probably.

P.S. documentation fix is needed indeed, thanks for catching this.

[2021-05-10 06:11] SergeiFranco commented on #8651
Hi,

Thank you for your reply.

Any idea when 7.6 makes it to stable?

[2021-05-10 06:26] Manikandaprab commented on #8567
@gromit1811 , could you update if you could able to reproduce this manually? Thanks.

[2021-05-10 12:21] gromit1811 commented on #8567
I managed to reproduce it. The problem occurs with current master, it occurs with 4c63a76a63fd02ae2aa73e4e66b04b37b10fdd99 (bugfix #7030) but it doesn't occur with commit b0508095f18d376a692bff6da5ca3815ae51eec5 preceding it. So it's obvious that I broke it :-(

Stay tuned, I think I've got a rough idea about what could be wrong...

[2021-05-10 12:40] stipmonster opened #8653 "pathd: PCEP not signaling SR PCE Capability Sub-TLV but setting PST=1"
RFC8664 states the following:
    This document also defines the SR-PCE-CAPABILITY sub-TLV.  PCEP
   speakers use this sub-TLV to exchange information about their SR
   capability.  If a PCEP speaker includes PST=1 in the PST list of the
   PATH-SETUP-TYPE-CAPABILITY TLV, then it MUST also include the SR-PCE-
   CAPABILITY sub-TLV inside the PATH-SETUP-TYPE-CAPABILITY TLV.

However currently FRR o

[2021-05-10 14:03] Manikandaprab commented on #8567
purging the old LSA for both if and else conditions would help I think..
i.e., reverting the purge old LSA before the 'if check' in the patch.

[2021-05-10 18:01] iluffk opened #8654 "frr 7.5, bgp advertise-map"
Hi.

os-release:
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"

vtysh
Hello, this is FRRouting (version 7.5).

4.19.0-0.bpo.6-amd64 #1 SMP Debian 4.19.67-2+deb10u2~bpo9+1 (2019-11-12)

Based on this guide http://docs.frrouting.org/en/latest/bgp.html?highlight=advertis#clicmd-neighborA.B.C.Dadvertise-mapNAME[exist-map|non-exist-map]NAME , I

[2021-05-11 05:08] Raifeg opened #8657 "BGP "Local" routes arise after link down on some interface"
Hello.
frr-7.5.1-01.el7.x86_64

I have configured bgp neighbour with this route information:
[code]

Then I do this:
[code]

And routes received from this neighbour became not best because of strange "Local" routes.
[code]

After `systemctl restart frr.service` all is ok again.

[2021-05-11 07:17] idryzhov commented on #8654
This functionality is not available in 7.5. You should look at the docs for 7.5 - http://docs.frrouting.org/en/stable-7.5/bgp.html.

[2021-05-11 07:17] #8654 closed

[2021-05-11 08:46] achernavin22 commented on #8641
I think so

[2021-05-11 12:26] achernavin22 commented on #8641
I confirm that the code from PR #8644 fixes the problem for me for both IPv4 and IPv6.

[2021-05-11 12:44] idryzhov commented on #8641
@achernavin22 Thanks for the testing.

[2021-05-11 13:11] #8651 closed

[2021-05-11 15:12] mjstapp commented on #8611
I'll take a look at this

[2021-05-11 20:04] mjstapp commented on #8611
Thanks for the report; there are a couple of issues in this area. We very recently had PR #8514 on master, which should help with some of this by restricting the number routes per shared prefix on an interface. I think there were still a couple of problems after that, and I've opened #8659 to try to correct those.

[2021-05-12 07:19] rampxxxx commented on #8653
Thank you @stipmonster,
It would be nice to have those wireshark captures and also know which pce are you used in this tests and the config of the pathd.

[2021-05-12 15:12] stipmonster commented on #8653
[capture.zip](https://github.com/FRRouting/frr/files/6467125/capture.zip)
I have attached the zip file with the pcap because github does not allow directly pcaps.

This is currently with a somewhat extensively modifed PCE that originates from the netphony-pce.

[2021-05-12 15:15] rampxxxx commented on #8653
Pathd has been tested with cisco (6.5.1 and 7.0.2) and ODL. And in those cases the RFC support is "draft-ietf-pce-segment-routing-07" so in that case you need to add the draft compatibility flag , check this config

[code]

In this compatibility mode with the draft07, only SR-PCE-CAPABILITY is sent.
In the case of compatibility mode with the standard the PATH-SETUP-TYPE-CAPABILITY includes de sub

[2021-05-12 20:13] ConnorMcF opened #8664 "BGPd slow command/thread crash"
---------------

**Describe the bug**

About once a day or so FRR complains about 'SLOW THREAD/COMMAND' a lot followed by BGPd hanging. The watchdog attempts to restart it, but it ignores the signal - eventually dying and restarting.

The network this is running on has no special tuning, config or traffic. Traffic is very low and there is only one BGP peer providing a full table. The network expor

[2021-05-13 11:23] #8611 closed

[2021-05-13 12:11] #6571 closed

[2021-05-13 12:14] #6876 closed

[2021-05-13 12:20] rzalamena commented on #4485
It is now possible to update the timers in the protocols using the new BFD library (just send the updated timers with the BFD state message).

This work needs to be split in two parts:
1. Update BFD session timers to display the correct values in `show` commands.
2. Integrate the profile information so it gets passed up to daemons so they show: updated timers and what profile.

[2021-05-13 17:21] networkop commented on #8574
Hi @donaldsharp 👋 , this is not a super-important issue but is there any chance you can have a quick look at this? I just want to make sure I've at least got the command syntax right.

[2021-05-13 18:12] #7030 closed

[2021-05-13 18:12] #8567 closed

[2021-05-13 19:38] jpsenior opened #8668 "Point-to-Multipoint RFC5549 ipv6 unnumbered peering oscillation with overwritten 169.254.0.1 APIPA ARP causes traffic disruption"
Running Cumulus Linux 4.2.1, with FRR 7.4+cl4.2.1u1 on kernel version 4.19.0-cl-1-amd64.

Also observed on FRR 7.5.1, on Ubuntu 16.04.4 LTS w/ Kernel version 4.4.0-116-generic

In this setup, IPv6 BGP unnumbered is present between Leaf1 and a server (3) in the diagram.

VLAN 300 is carried across an MLAG peer-link providing L2 Adjancency.

![image](https://user-images.githubusercontent.com/1619504

[2021-05-13 19:44] k0ste opened #8669 "libyang 2.0.0 released: can't build last frr release"
Many warnings on make:

[code]

then many errors:

[code]

[2021-05-13 19:51] jpsenior commented on #8668
I could imagine some sort of fix in rt_netlink.c for `netlink_handle_5549` where an index for each used v6_2_v4_ll_neigh_entry, with an offset passed to `zebra/interface.c/if_nbr_ipv6ll_to_ipv4ll_neigh_update` , which is passed to `if_nbr_mac_to_ipv4ll_neigh_update` - Currently this is hard coded IP address `char buf[16] = "169.254.0.1";`, this could include an offset to start at 169.254.0.1 initi

[2021-05-13 19:56] taspelund commented on #8668
The current implementation has been focused around p2p links, with the assumption that there will only ever be RAs received from one other router, so I can't say I'm surprised that this is the behavior you're encountering.

To date, I don't believe there has been any code changes or plans made to accommodate unnumbered peering with multiple devices on the same network segment (maybe @donaldsharp k

[2021-05-13 20:11] jpsenior commented on #8668
@taspelund Yes, I can understand this is almost a differentiation between a feature request and a bug :) I agree that there could be more to adding support for this feature than just deterministic next-hop apipa.  We're experimenting with other NOS vendors on this behavior as well (Cisco, Juniper, Arista).

[2021-05-13 20:11] donaldsharp commented on #8668
@ddutt and myself talked about this a few years back.  I think we worked out a way to approach the issue but we have never gotten around to implementing this.  I would need to rewrap my head around thiis problem space again before I could comment though.

[2021-05-13 20:52] jmrcpn commented on #8238
Could this be related to linux kernel 5.12.+
Got a problem very similar..
ZEBRA: libyang: Schema node "condition" not found (./condition = 'ipv4-prefix-length' or
./condition) with context node "/frr-route-map:lib/route-map/entry/match-condition".

compilation and execution context equal,  problem show up with (new) kernel 5.12.3

Is there any progress on understanding that zebra trouble??

[2021-05-14 01:31] idryzhov commented on #8669
FRR 7.5 will never work with libyang2. There will be a new release in a month or so which supports ly2.

[2021-05-14 01:31] #8669 closed

[2021-05-14 02:15] jpsenior commented on #8594
Just an update that I don't have an update yet, but this is still on my radar to find an opportunity to compile and test latest master.  Just commenting here so it doesn't auto-close.

[2021-05-14 06:36] rampxxxx commented on #8653
@stipmonster did you test with the draft07 compatibility flag?

[2021-05-14 08:32] stipmonster commented on #8653
WIth sr-draft07 if i did not make any mistakes only the PATH-SETUP-TYPE-CAPABILITY is send and not the SR-PCE-CAPABILITY

[2021-05-14 09:20] rampxxxx commented on #8653
- With sr-draft07 both SR-PCE-CAPABILITY and PATH-SETUP-TYPE-CAPABILITY are sendend so cisco (6.5.1 and 7.0.2) are connecting -just tested right now-.

[code]
![open-with-srdraf07](https://user-images.githubusercontent.com/1529521/118248784-fdc34080-b4a4-11eb-914e-8fb6a97ff968.png)

- Without sr-draft07 only PATH-SETUP-TYPE-CAPABILITY is sended but includes embedded the SR-PCE-CAPABILITY. (Please

[2021-05-14 09:42] stipmonster commented on #8653
So, i made an interperation mistake, it needs ot be part of the sub-tlv SETUP-TYPE-CAPABILITY and not the sub-tlv of the OPEN message. So it is functioning as expected. I will close this issue.

[2021-05-14 09:42] #8653 closed

[2021-05-14 10:47] jmrcpn commented on #8238
My mistake (not related to kernel, didn't noticed libyang version was changed to 1.0.255)
problem show with libyang version 1.0.215 (still show up with 1.0.255)
zebra complains about....
Starting zebra daemon...2021/05/14 06:41:50 ZEBRA: libyang: Schema node "condition" not found (./condition) with context node "/frr-route-map:lib/route-map/entry/match-condition".
2021/05/14 06:41:50 ZEBRA: libyan

[2021-05-14 14:08] donaldsharp commented on #8664
From discussion in thread, we believe this is the issue causing the problem:

https://forums.centos.org/viewtopic.php?t=62558

tl;dr -> ssh on login, if dns is not properly setup for the reverse lookup of the user is logging in from, will loop through all routes in the linux kernel and setup memory data structures trying to find an appropriate match of some sort.  This spikes memory.  We are then

[2021-05-14 14:08] donaldsharp commented on #8664
@polychaeta autoclose in 1 week

[2021-05-14 15:51] nwitkowski commented on #8192
Any news on this?

[2021-05-15 10:21] q2dg opened #8674 "[Request for documentation] Minimal BGP functional configuration"
Hello.
Hello. I have this diagram:

![diagrama](https://user-images.githubusercontent.com/7274874/118356747-097f3780-b577-11eb-8610-68e593ce56c4.png)

and I want that PC1 pings PC2 through frr machines. I've achieved it easily with RIP and with OSPF but when I've tried to do it with BGP, I can get pings. I've spent a lot of time looking for documentation but there's no a simple minimal example of

[2021-05-17 08:49] lyofab commented on #8611
I tried, today. The problem is solved. Thanks!

[2021-05-17 22:06] javier-godoy opened #8681 "ospfd requires cap_sys_admin"
I had previously used quagga 1.2.4-r2 (particularly ospfd) in a docker container based on alpine 3.11.3

When trying to migrate to frr-7.3.1-r0 in a docker container based on alpine 3.12.3 (binaries installed with apk) I found that ospfd and zebra fail to initialize, with the following message:

[code]

I'm not granting `cap_sys_admin` to the container, and I would like to avoid it if possible (Qu

[2021-05-18 10:46] zyboy2000 opened #8685 "ospf filter-list don't work"
i want to ospf filter,but it does not work,why?

ip prefix-list denytest seq 5 deny 10.3..30.0/24
ip prefix-list denytest seq 6 0.0.0.0/0 le 32

area 0 filter-list prefix denytest out

frr version 7.2

[2021-05-18 11:11] mruprich commented on #7783
Hi @qlyoung,
seems like this was fixed since I don't see the error in 7.5.1. Any idea which commit was the one that helped? I was trying to find the right one but no luck. This was probably closed automatically...

Thanks and regards,
Michal

[2021-05-18 14:40] pguibert6WIND opened #8689 "bgp unnumbered does not work with a second peer connected to same interface : is it normal?"
- FRR 7.5
- Ubuntu-18.04 HWE
- kernel 5.4

step1 : configure ntfp2 on dut , and configure br1 on router, so as to establish unnumbered peering between dut and router
=> expectation that a bgp peering is established
=> observation: OK
[code]

step 2: configure ntfp3 on dut on separate vrf, and try to establish a second unnumbered peering between dut and router
=> expectation that a second bgp peeri

[2021-05-18 14:42] taspelund commented on #8689
Is this the same topic as #8668 ?

[2021-05-18 15:34] qlyoung commented on #8685
Use the bug report template.

@polychaeta autoclose in 3 days

[2021-05-18 15:37] pguibert6WIND commented on #8689
yes. I close it , then.

[2021-05-18 15:37] #8689 closed

[2021-05-18 18:03] rzalamena commented on #7743
I think this issue is resolved with: https://github.com/FRRouting/frr/pull/8512

There are no releases yet with this, so it might need to be built from source.

[2021-05-18 19:39] nancy-crypto commented on #7665
I also followed the directions  in the frr dev documentation and still get the error 'configure: error: libyang needs to be compiled with ENABLE_LYD_PRIV=ON. Instructions for this are included in the build documentation for your platform at http://docs.frrouting.org/projects/dev-guide/en/latest/building.html'

Is there a solution?

[2021-05-18 20:20] nancy-crypto commented on #7665
or a work-around.   Any help would be appreciated.

[2021-05-18 20:37] mjstapp commented on #7665
so ... you haven't provided much information about your environment.
did you install libyang from a package, or build it yourself? if a package, where did you get the package from? what does pkgconfig say? what does the search for .pc files shown above show - is there more than one version present, for example?

[2021-05-18 21:04] nancy-crypto commented on #7665
followed steps from http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-centos7.html

git clone https://github.com/CESNET/libyang.git
cd libyang
mkdir build; cd build
cmake -DENABLE_LYD_PRIV=ON -DCMAKE_INSTALL_PREFIX:PATH=/usr
-D CMAKE_BUILD_TYPE:String="Release" ..
make
sudo make install
---
git clone https://github.com/frrouting/frr.git frr
cd frr
./bootstrap.sh
 ./configure

[2021-05-18 23:19] dmbaturin opened #8695 "Trying to change a static route distance creates a second route"
Starting with FRR 7.5.1, when you try to change the distance of a static route with `ip route 192.0.2.0/24 201.0.113 200`, it creates a second route to 192.0.2.0/24 with distance 200 instead of overwriting the original route.

This is a breaking change because previous versions handled that differently: they would override the old route, like Cisco IOS does. It breaks our configuration scripts in

[2021-05-19 04:07] zyboy2000 opened #8696 "ospf filter-list problem"
---------------

**Describe the bug**

routerA-----area0---routerB----area1----routerC (10.3.30.3/24)

i want to filter  10.3.30.0/24   to area 0

router  B:
ip prefix-list denytest seq 5 deny 10.3.30.0/24
ip prefix-list denytest seq 6 permit 0.0.0.0/0 le 32
router ospf
area 1 filter-list prefix denytest out

but i find  10.3.30.0/24 still in routerA, it looks not work

[x ] Did you check if this

[2021-05-19 04:23] javier-godoy commented on #8681
Thanks for your quick response. For now I'll recompile with `--disable-capabilities` (since I'm already restricting the capabilities of the docker container that runs FRR). Based on your explanation I understand that it should work since my usage of FRR doesn't require `CAP_SYS_ADMIN`.

Once I'm certain that it works as intended I'll submit a PR. My approach would be adding a `--disable-cap-sys-ad

[2021-05-19 05:21] #8685 closed

[2021-05-19 12:54] choppsv1 opened #8699 "lib/prefix.h use of __attribute__((transparent_union)) breaks clang+grpc"
**Describe the bug**

clang does not support `__attribute__((tranparent_union))` within c++, thus grpc compile breaks. Also I think it's a goal of the project to support `cxx-compat`.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

compile with `clang` and `--enable-grpc`

**Expected behavior**

compile correctly.

[2021-05-19 13:51] mjstapp commented on #7665
hmm, it looks like you have several versions of libyang there, including maybe a libyang2 version? some more questions: what are you trying to do? do you have to build libyang yourself - why not just download and install a built package that matches the version of frr you want to work with? Note that we have recently (less than 1 week) switched frr master to libyang2, so master after that point is

[2021-05-19 19:26] nancy-crypto commented on #7665
We do not need to build libyang.  A built package would work.   We will need to update the FRR source.  I noticed that recently FRR had updated to use libyang2.   Since we have not started making changes, I can bring in the latest FRR.   But again, I ran into problems following the steps in
 http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-centos7.html
----------------------

[2021-05-19 19:37] mjstapp commented on #7665
Looks like we have built rpms for libyang2 here:
https://ci1.netdef.org/browse/LIBYANG-LIBYANGV2-2/artifact/shared/CentOS-7-x86_64-Packages/

and I found what look like rpms for libyang1 here (if you're using not-master frr) :
https://ci1.netdef.org/browse/LIBYANG-LY10215-5/artifact/shared/CentOS-7-x86_64-Packages/

[2021-05-19 21:58] nancy-crypto commented on #7665
SUCCESS!!!
I installed the four rpms from https://ci1.netdef.org/browse/LIBYANG-LIBYANGV2-2/artifact/shared/CentOS-7-x86_64-Packages/

then ran the rest of the steps from http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-centos7.html for building FRR from source and installed frr successfully.

Thank you for the help and your time!!!

[2021-05-20 14:01] jim-p opened #8711 "ospf6d uses all available memory after interface event"
Interface events (e.g. when reconfigured) in the operating system in certain cases cause `ospf6d` to consume all available RAM and swap. Eventually the process is killed when it hits its limit or resources run out. Once `ospf6d` restarts, it returns to normal.

It doesn't seem to happen with `bgpd` or `ospfd` as far as I can tell. Thus far I've only been able to make it happen with `ospf6d`.

Ther

[2021-05-20 19:49] f0o commented on #7743
Unfortunately that's only a partial fix!

I've come across the issue when the watchfrr daemon restarts bgpd. bgpd does come up healthy but without any config at all... issuing `vtysh -b` from the shell resolves it. (However I have no insight how dangerous it is to issue that command well within runtime)

[2021-05-20 19:59] kruisdraad commented on #7743
Yeah, it is still not fixed and a major issue

[2021-05-20 20:09] f0o commented on #7743
I mean it's fixed for startup at least for me running on that commit...
But yeah restarts aren't covered which is very annoying...

I recall @donaldsharp asking if it's about large configs but I honestly don't think my config is large, it would be nice to hear what qualifies as `large`....

I got ~2 full-tables upstreams and perhaps 10 peers. Each peer has 1-2 routemaps assigned to them. So LOC wi

[2021-05-21 12:02] PeterLinder opened #8714 ""set src x" not working in route map för 7.5.1"
I'm trying to set the source address to use in the routing table for learned routes. This configuration worked in 7.5, but not in 7.5.1.

10.0.0.3 is an address (among others) that is set on lo.

nodef3(config-route-map)# set src 10.0.0.3
% Configuration failed.

Error type: validation
Error description: YANG error(s):
 When condition "./action = 'source'" not satisfied.
 YANG path: /frr-route-map

[2021-05-21 12:07] PeterLinder commented on #8714
This is on Linux/fedora server.

[2021-05-21 14:08] #8664 closed

[2021-05-21 14:31] idryzhov commented on #8714
This is fixed in the latest stable/7.5 branch, you can compile it from source code.

[2021-05-21 14:31] #8714 closed

[2021-05-21 17:05] gromit1811 opened #8715 "ospfd infinite loop with option -C and multi-instance support"
When trying to check a multi-instance OSPFv2 configuration file, ospfd enters an infinite loop and needs to be killed.

**To reproduce**

[code]

The ospfd command never returns, consumes 100% CPU and ignores Ctrl-C.

**Expected behavior**

Provide result of config file check as exit status.

Note: When not running in instance mode (no `-n 1` option), ospfd terminates without entering an infinite

[2021-05-21 17:28] gromit1811 commented on #8715
It loops here: https://github.com/FRRouting/frr/blob/bf6005d5f4f893817723e26b844831c22532f2f1/lib/command.c#L1242

Note that the if condition just above contains a `ret != CMD_NOT_MY_INSTANCE` but the while loop doesn't. I guess one of the command handlers returns `CMD_NOT_MY_INSTANCE` because I've got router statements for two different instances in the config file. Should the while loop also che

[2021-05-21 22:24] taspelund commented on #8410
Just submitted #8718 to address this

[2021-05-24 11:31] jil7 opened #8721 "compile problem"
i tryed to compile frr on my centos 7 vm, some error appears when make.Have anyone met the problem?
[code]

[2021-05-24 12:28] rzalamena commented on #8696
@zyboy2000 can you try this PR?
https://github.com/FRRouting/frr/pull/8718

From your setup I think you could also use `ip prefix-list denytest seq 6 permit any`  instead of `ip prefix-list denytest seq 6 permit 0.0.0.0/0 le 32`.

[2021-05-24 12:34] rzalamena commented on #8721
What FRR version are you trying to compile? Is it `master` or `dev/8.0`?

If so the FRR builds with Python2 broke recently and other features got merged that require Python3. Python 2 is also EoL.

Things to try:
- Get Python 3
- Start build from scratch (sometimes autotools/makefile leave some stale object/files/options that might interfere with build)

[2021-05-25 01:04] skyworld42 opened #8728 "ospfd's behavior allows a malformed Router LSA to persists in the routing domain"
---------------

**Describe the bug**
ospfd rejects any LSA that has sequence number = `MaxSeqNumber` (0x7fffffff) and age different from `MaxAge` (3600). This is to addressed the vulnerability CVE-2017-3224. The code implementing this feature is located at [here](https://github.com/FRRouting/frr/blob/978f4b32ebd8081ae95b1d8ac6a2994d48a1719d/ospfd/ospf_packet.c#L2090).
However, when a router want

[2021-05-25 07:08] pguibert6WIND commented on #8681
There is already a flag named '--vrfwnetns' that, if not present, should be used to disable cap-sys-admin wherever needed.
this flag is part of zebra, and zebra should send information via zapi to other daemons to inform that the backend is not vrfwnetns.

arent you in the case where you are using BGP in standalone mode as route reflector ?

[2021-05-25 07:50] javier-godoy commented on #8681
@pguibert6WIND I'm not starting zebra with `--vrfwnetns`, and it fails immediately after starting. I think the failure is because the capability isn't permitted, and not an actual attempt to raise it.
https://github.com/FRRouting/frr/blob/58ba06470c6b62b4305eec940a4e49b34baae904/lib/privs.c#L312-L315

I'm not using BGP, just OSPF.

[2021-05-25 10:58] jil7 commented on #8721
@rzalamena thanks for your reply. I used branch stable/7.5.

[2021-05-25 11:16] jil7 commented on #8721
I have tried to build stable/7.4 with "--enable-grpc" and build successfully. but when I startd bfdd using "/usr/lib/frr/bfdd  -A 127.0.0.1 -M grpc", it returns this:
bfdd: lib/frrcu.c:305: rcu_read_lock: Assertion `rt' failed

[2021-05-25 14:39] qlyoung commented on #8681
Sorry for the delay. Yeah, that sounds appropriate.

[2021-05-25 14:41] qlyoung commented on #8721
Let's debug the build failure separately from the bfdd failure. This issue is for the build failure, if you want to report a BFD failure, please open a separate issue.

What do you need in terms of assistance with the build failure? Did you try building with Python 3 as @rzalamena suggested?

[2021-05-25 15:16] qlyoung commented on #8711
@pjdruddy is working on code that should fix this.

[2021-05-25 15:17] taspelund commented on #8696
To go along with what @qlyoung said, I think the area you choose in the filter-list command is the LSDB the LSAs will be filtered from.

So I think you should be using `area 0 filter-list prefix denytest out` on routerB to filter things out of area 0.

[2021-05-25 15:21] #7665 closed

[2021-05-25 15:31] #8410 closed

[2021-05-25 15:51] riw777 commented on #8515
Fixed by #8615

[2021-05-25 15:51] #8515 closed

[2021-05-25 18:12] dslicenc commented on #8696
I just tested this capability on latest master and it appears to work. Mind providing output demonstrating the problem you're having?  BTW, you do have the syntax correct, according to my testing.  "in" and "out" are used in an interesting way.  If you want want summaries in area 0 to not go out to any other area, you put the filter-list in area  0 and mark it "out".  Alternatively, if you want to

[2021-05-25 18:58] qlyoung commented on #7743
@f0o do you have a solid repro? I had some issues reproducing it, I sometimes saw and it sometimes not.

@kruisdraad have you tried it with your configs on master with #8512? Any change there?

[2021-05-25 23:28] idryzhov commented on #8552
All linked PRs are merged. Closing.

[2021-05-25 23:28] #8552 closed

[2021-05-26 02:04] jil7 commented on #8721
@qlyoung thank you. I have tried to reinstall python3 and problem solved. It seems that there is something wrong with my old python3 environment. I will close this issue.

[2021-05-26 02:04] #8721 closed

[2021-05-26 09:45] jil7 opened #8737 "grpc bgp problem"
I did some experiments using grpc api and met some problems.
the examples about get interface and set bfd config works well, but when I tryed to get bgp config using path "/frr-routing:routing/control-plane-protocols/control-plane-protocol/frr-bgp:bgp", the grpc stream returns "rpc error: code = Unavailable desc = error reading from server: EOF" and frr prints this log:

2021/05/26 05:24:46 BGP: l

[2021-05-26 11:40] #8695 closed

[2021-05-27 02:51] alex4747-pub opened #8745 ".dir-locals.el"
It seems to me that definitions in .dir-locals.el do not match format of the code. Am I getting it right? Is it intentional?

[2021-05-27 08:16] ak503 opened #8746 "Not fully sorted static routes in configuration."
If add some routes:
<pre>ip route 1.1.1.1/32 2.2.2.3
ip route 1.1.1.1/32 2.2.2.2
ip route 1.1.1.1/32 2.2.2.4</pre>

In config they sorted by gateway:
<pre># do show running-config
...
Current configuration:
!
frr version 8.1-dev
...
ip route 1.1.1.1/32 2.2.2.4
ip route 1.1.1.1/32 2.2.2.3
ip route 1.1.1.1/32 2.2.2.2</pre>

But when added `ip route 1.1.1.1/32 2.2.2.1`,  he will added after `ip route

[2021-05-27 13:21] mjstapp commented on #8745
those settings look ok to me - use tabs at eight spaces, avoid trailing whitespace. those are our general standards. we haven't forced every line in every file to match that standard, though, but the goal of the .el would be to help any new code?

[2021-05-27 13:48] rzalamena commented on #8745
I'm no emacs lisp expert, but I think it might not have all the settings we need to match the exact style we have.

Some of the advanced things (like newline at bracket open) needs C hungry mode which brings other unexpected editing behaviours.

What I found to work fine for me:
 * Write code normally and check formating using `clang-format-region` (see `clang-format` emacs package). I don't recom

[2021-05-28 01:52] #8737 closed

[2021-05-28 07:35] gsol10 opened #8755 "isisd: LSP with null sequence number is sent"
---------------
Hello everyone,

**Describe the bug**

There is an issue in the isisd handling of CSNP which makes FRR send bogus LSP with null sequence numbers.

When receiving a CSNP with unknown LSP, those LSPs are added to the LSPDB with null sequence number. When receiving a CSNP and building the list of LSPs unknown to the CSNP sender, there is no check that the sequence number is not null,

[2021-05-28 10:33] kuldeepkash opened #8757 "[Mulicast-multiuplink] :- PIM nbr not coming up after changing interface ip address"
**PIM nbr not coming up after changing interface ip address**

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

***
Issue:

1) Initially 31.1.1.2/24 was configured on interface, delete 31.1.1.2 and add 38.1.1.2/24

interface ens192.4010
 no ip address 31.1.1.2/24
 ip address 38.1.1.2/24
 ip pim

2) Change IP address back to original on

[2021-05-28 10:34] kuldeepkash commented on #8757
@mobash-rasool is looking into it.

[2021-05-28 11:42] idryzhov commented on #8755
Please, open a PR if you already fixed it.

[2021-05-28 13:19] alex4747-pub commented on #8745
Again it seems to me the result of clang-format is quite different from formatting with .dir-locals.el. Can it be configured to use clang-format.

Also, I have a hobby project - converting frr to c++. Any insights on how c++ code should look like? E.g. camel or no camel, capitalization of class names?

[2021-05-29 00:07] qlyoung commented on #6612
@abhi7428 what version are you running

[2021-05-29 00:12] qlyoung commented on #8745
You should follow Rafael's suggestions about configuring emacs to use clang-format. The clang-format file is more or less definitive. No one maintains the .el.

If this is really just a hobby project, style it however you want. We use Linux style for C and clang-format seems to work pretty well on the couple CPP files we have.

And just so we avoid any misunderstandings, if you're asking because y

[2021-05-29 00:15] qlyoung commented on #8594
We don't auto close all issues; issues only get automatically closed when we tell the bot to do it. Usually that is just to give a grace period in case the person wants to keep it open.

[2021-05-29 15:21] abhi7428 commented on #6612
frr version 7.5.1
Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 4.19.60
Architecture: x86-64

[2021-05-29 23:50] alex4747-pub commented on #8745
Thank you, I got the advice I was looking for at the point.

[2021-05-31 13:52] sarthurdev commented on #7696
Is there any plan for adding support of cisco-authentication to nhrpd?

[2021-05-31 14:36] jice commented on #5885
Ran into this limitation while deploying green field. Pretty important feature and supported by every major vendor.

https://news-blogs.cisco.com/datacenter/vxlanv6-vxlanv-what
https://eos.arista.com/eos-4-24-1f/ipv6-underlay-support-for-vxlan-with-evpn-control-plane/
https://apps.juniper.net/feature-explorer/feature-info.html?fKey=7914&fn=EVPN-VXLAN%20support%20for%20VXLAN%20Gateways%20using%20an

[2021-06-01 09:58] odd22 commented on #8728
Hello,

Thank's to report this issue. However, the incriminate code (line 2094 in ospfd/ospf_packet.c) made a reference to CVE-2017-3224:

So, we could correct the behaviour of OSPF in order to not reject / drop fight-back LSA, but in this case, we'll go against this CVE.

Do you have an opinion about that ? Does the issue is more on the way the fight-back LSA is forge i.e. it must have seqNumber

[2021-06-01 10:34] skyworld42 commented on #8728
Thank you for your comment.

From the RFC 2328 document, when a router wants to wrap around the sequence number of its router LSA (`0x7fffffff` to `0x80000001`), it must first flush the MaxSequence LSA from the routing domain. This is accomplished by a process called **premature-flooding** (RFC2328 Section 14.1) in which the MaxSequence, MaxAge LSA is flooded.

The source cause of CVE-2017-3224 is

[2021-06-01 13:58] abhi7428 commented on #6612
Please let me know if you need any additional info.

[2021-06-01 15:01] riw777 commented on #8169
I don't think IS-IS will be able to do the correct backlink checks if you're using link local here.

[2021-06-01 15:12] donaldsharp commented on #8745
@

[2021-06-01 15:12] #8745 closed

[2021-06-01 15:20] qlyoung commented on #8746
There shouldn't be any functional impact here so this is purely cosmetic. It seems that with libyang these will be dumped in the same order they were entered, which might even be what we want.

[2021-06-01 22:22] idryzhov commented on #8560
Should be fixed now by https://github.com/FRRouting/frr/pull/8726

[2021-06-01 22:22] #8560 closed

[2021-06-02 17:53] f0o commented on #7743
@qlyoung unfortunately not, I dont want to kick a production router every time to test it. I'm quite happy it didnt happen for some time now 😅

[2021-06-02 20:06] jpVm5jYYRE1VIKL commented on #6545
be sure that you not installed quagga before installing frr.
quagga default vtysh in /usr/local/bin/
frr vtysh placed in /usr/bin/
need to be careful because PATH at first look in /usr/local/bin and after it look in /usr/bin.
if you in doubt use command strace vtysh :
you must see someting like this in case if used vtysh from quagga :

[code]

Simple deletion vtysh from quagga solve issue.

[2021-06-02 20:48] pguibert6WIND commented on #8681
I meant, you don't need a new flag.
if you dont use vrfwnetns, frr should default to disable cap sys admin

[2021-06-03 07:19] toreanderson opened #8784 "`match ip address` route-map command fails to match EVPN MACIP routes"
**Describe the bug**

When applying a route-map in the outbound direction of the `l2vpn evpn` address-family of a BGP neighbour, `match ip address`-commands in that route-map fails to match the IP address part for EVPN MACIP routes.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Given the following MACIP route (see

[2021-06-03 12:50] toreanderson commented on #8784
@taspelund pointed me to #8647 on Slack – that is probably the missing piece of the puzzle.

[2021-06-03 13:13] pguibert6WIND opened #8785 "RIP sends connected information of local interface at iface up event, whereas split horizon is enabled by default"
- FRR 7.3.5
- ubuntu1804hwe
- kernel 5.4

dut and router back to back confiugration
router:
[code]
dut:
[code]

**Describe the bug**
router sends only once multicast packet to 193.1.1.1, then aborts the emission, because on ripd.c, line
[code]

expectation: because split horizon is enabled by default, no emission should occur

** Observation**
periodic emission code shows that connected entries ar

[2021-06-03 15:28] Frankkkkk opened #8788 "Dockerfile: missing "real" init process"
**Describe the bug**
The provided Dockerfile has no real init process (tail/sleep is actually used instead of something like `tini`). This can be bad if some process dies and thus becomes a zombie.

In our case, we had a server with 52k zombie processes. These were `watchfrr.sh` and `sleep`. For some reason they kept crashing (this shall be a separate issue). However, as the parent process (in our

[2021-06-03 19:39] #8641 closed

[2021-06-03 19:39] pguibert6WIND commented on #8327
https://github.com/FRRouting/frr/pull/8644

[2021-06-03 19:39] #8327 closed

[2021-06-03 19:44] pguibert6WIND commented on #8597
I think this is a startup issue.
I will make a proposal around that.

[2021-06-04 01:22] javier-godoy commented on #8681
Please see https://github.com/javier-godoy/frr-alpine/blob/test/init
[code]

When only NET_ADMIN is granted, zebra and ospfd fail with the following log and the processes are not started.

Note that it wants `cap_sys_admin=p` (not `cap_sys_admin` itself, but only as a permitted capability, I guess in order to effectively acquire it if/when needed). In this example `init` is the one who doesn't hav

[2021-06-04 12:23] ak503 opened #8794 "Reverse order sorted for display static routes"
Hello!
If we have in config file some static routes:
<pre>
ip route 1 ...
ip route 2 ...
</pre>
then after starting staticd daemon every route will be added to head and in display we see:
<pre>
ip route 2 ...
ip route 1 ...
</pre>

May be need  use `static_path_list_add_tail` instead `static_path_list_add_head`?
https://github.com/FRRouting/frr/blob/10ddcc321a59de099ee357fd5cca229a8c3110bf/staticd

[2021-06-04 17:00] mjstapp commented on #8681
Yes, I'm not sure what Phillipe meant: several daemons unconditionally request CAP_SYS_ADMIN currently.

[2021-06-04 22:27] mwinter-osr opened #8797 "Topotest 'multicast_pim_static_rp_topo1' too slow"
This is based on master at git sha 6198bc9

The topotest suite 'multicast_pim_static_rp_topo1' takes a full 2 hrs of runtime on the CI - delaying all the the runs. This is either a bug which needs to be fixed or the test needs to be split up.

Each topotest directory should not take more than 30mins runtime or it needs to be split to be able to run efficiently in parallel

See attached log of a si

[2021-06-05 05:18] kuldeepkash commented on #8797
I am looking in to this on priority.

[2021-06-05 05:55] kuldeepkash commented on #8797
Hi Martin,

After looking into latest multicast_pim_static_rp_topo1 code, I found that "expected=False" parameter is removed from all the test cases, which we are not able to track who did this change and when/why?

This is the reason this suite is taking longer time. Please help us to track the PR,  which has removed "expected=False" from all tests, so we can revert that PR changes.

Info:
We are

[2021-06-06 01:02] donaldsharp commented on #8797
[code]

@mjstapp do you remember why `expected=False` was removed?

[2021-06-06 01:19] donaldsharp commented on #8797
@mjstapp Please fix this.

[2021-06-06 17:17] networkop commented on #8574
confirmed that this is not supported on general-purpose kernels

[2021-06-06 17:17] #8574 closed

[2021-06-06 20:33] rcgoodfellow opened #8802 "staticd crash on successive VRF operations"
---------------

**Describe the bug**

FRR is crashing on successive VRF operations. This appears to be the result of FRR not completely clearing out existing state when a VRF is removed. When a VRF is removed, subsequent calls to add the VRF back result in segfaults. The following simple bash scripts demonstrate the issue.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on th

[2021-06-07 08:23] anlancs commented on #6741
@donaldsharp @qlyoung
I have study and test it, it is caused by not telling watchfrr to change node_type. It is fixed by below issue:
vtysh: send quit command to watchfrr #7574

So it can be closed.

[2021-06-07 09:06] idryzhov commented on #8802
Should be fixed in https://github.com/FRRouting/frr/pull/8358 and already backported to stable/7.5.
7.5.1 was released before the backport. Could you check on the latest stable/7.5, please?

[2021-06-07 09:12] idryzhov commented on #8794
Isn't this a duplicate of https://github.com/FRRouting/frr/issues/8746?

Anyway, the correct approach for fixing this issue is to output staticd config using NB layer and implement `cli_cmp` callback for sorting.

[2021-06-07 12:02] rameshabhinay opened #8804 "Support OSPF6 authentication trailer RFC 7166"
OSPFv2 has authentication support in OSPF header. OSPFv3 was implemented with the idea that it will use IPSec for authentication(AH) and Encryption(EH). IPSec is complex to implement and not supported in many devices, OSPF6 came up with authentication trailer.
This feature is easy to implement and has many advantages our IPsec.
It provides replay protection via sequence number.
It provides IPv6 so

[2021-06-07 13:05] donaldsharp commented on #8804
This is the first I've heard of this.  Please go ahead and assume you are the only one working on this.  Open the PR sooner imo so we can get eyes on it.

[2021-06-07 13:08] rzalamena commented on #7995
The PR #7996 never got merged, but I believe this the PR #8498 fixed this.

[2021-06-07 13:10] mjstapp commented on #8797
I'll see if I can recover why pylint objected to that argument

[2021-06-07 13:29] mjstapp commented on #8797
hmm - ok, so pylint objected to the use of the 'expected' argument because that's not part of any of the methods in lib/pim.py. And pim.py doesn't call generate_support_bundle, so I don't see how that could be a problem. so ... pylint spotted arguments that weren't used, and I don't see anything in the history that indicates that those arguments were ever being used. Am I misreading the history?

[2021-06-07 14:41] mjstapp commented on #8797
So I guess I have a question about the underlying logic: if you may have to wait for some time to get a _positive_ result, why do you think you can wait a shorter time to get a negative result?

[2021-06-07 15:41] rcgoodfellow commented on #8802
Yup, confirmed this is not an issue in stable/7.5. Thanks @idryzhov!

So I guess this becomes a question of how soon can a 7.5.2 release be cut?

[2021-06-07 19:02] idryzhov commented on #8802
Thanks for the testing. I'm not sure that 7.5.2 will ever be released. But there's a new 8.0 release coming this month with a lot of other important bug fixes.

[2021-06-07 19:13] kuldeepkash commented on #8797
@mjstapp
We are waiting for equal time in both positive and negative scenario. That is where for negative verifications we used "expected=False". If we get positive results instead of negative so API would retry for given counter.

Pylint results provided by you are from your local machine. Could you please try removing __pycache__ dir from your local machine and run pylint once.

Pylint results f

[2021-06-07 19:40] mjstapp commented on #8797
I get the pylint error report even if I rm __pycache__ - is that what you meant?

and my question about the logic is this: it appears that the pim lib functions return strings if the test condition is not satisfied. The 'for i in range' loop in the retry method appears to terminate right away if the retried method returns a string, and the 'expected' keyword is not True.

[2021-06-07 20:27] vecinohk opened #8809 "[OSPFD] Warning: closing connection to ospfd because of an I/O error! (7.5.1)"
**Describe the bug**

If I am using command `# show ip ospf interface` in vtysh:

[code]
**To Reproduce**

In vtysh write a command: `# show ip ospf interface`  or `# show ip ospf interface vlanxxxx`

**Versions**

 - OS Version: Debian 11“bullseye”
 - Kernel: 5.10.0-7-amd64  Debian 5.10.40-1 (2021-05-28) x86_64 GNU/Linux
 - FRR Version: 7.5.1 (from Debian repo)
 - frr.conf: [frr.conf.txt](https:/

[2021-06-08 07:33] ak503 commented on #8794
No, this is a separate issues.

[2021-06-08 10:02] VictorCaiShen opened #8812 "[QUESTION]How to configure priority for static routing?"
FOR example:
1. ip route 222.222.222.0/24 ens40
2. ip route 222.222.222.0/24 gre0

I found in kernel(LINUX), here is a feature(metric), I can modify it, when i configure static route.
But I have no idea how to modify it in FRR.

[2021-06-08 10:35] Denriful opened #8813 "[OSPFD] Multi-area support ?"
I can't find something like:
[code]

[2021-06-08 10:47] idryzhov commented on #8812
You can add a distance at the end of the command, for example:
[code]

The route with the lowest distance value and available nexthop (interface up in your case) will be used.

[2021-06-08 10:48] kuldeepkash commented on #8797
@mjstapp
Your understanding is right Mark:
"""
The 'for i in range' loop in the retry method appears to terminate right away if the retried method returns a string, and the 'expected' keyword is not True
"""

We have considered below scenarios:
1. Which you have mentioned already:
(Negative scenario)If API call returns errormsg(which is str) and expected=False then API will not retrying further be

[2021-06-08 10:50] kuldeepkash commented on #8797
I will fix and raise a separate pull request for pylint error: Unexpected keyword argument 'expected' in function call (unexpected-keyword-arg).

[2021-06-08 11:22] kuldeepkash commented on #8797
I have fixed Pylint error related to Unexpected keyword argument 'expected' and raised following pull request:
https://github.com/FRRouting/frr/pull/8814

[2021-06-08 11:42] mjstapp commented on #8797
so ... it seems as if there are a couple of problems there?

(1) seems questionable - you wrote in another comment above: "We are waiting for equal time in both positive and negative scenario." But that's not what you describe here in (1): you try once, and if the test case fails, you stop trying. That seems wrong: if it would take four retries, or 20 seconds, or whatever, for the case to succeed,

[2021-06-08 12:46] idryzhov commented on #6741
Thanks @anlancs

[2021-06-08 12:46] #6741 closed

[2021-06-08 14:39] #8169 closed

[2021-06-08 15:16] donaldsharp commented on #8812
@polychaeta autoclose in 2 days

[2021-06-08 15:18] riw777 commented on #8728
This makes sense (after reading it a couple of times) ... we should probably leave this open to be addressed. It seems like a bit of a corner case, however.

[2021-06-08 15:56] louberger commented on #8788
looks like this needs the solution described in https://stackoverflow.com/questions/49162358/docker-init-zombies-why-does-it-matter

[2021-06-08 16:07] wesleycoakley commented on #8788
I agree this is an issue and reflects the fact that our the `sleep` / `tail` semantics are not very Docker-y. The reason you're seeing those zombies is because Debian container has not been updated to use `tini` like the other containers I think.

W/r/t the `sleep` / `tail`, since we're starting all daemons in the container via `frrinit.sh` this becomes necessary as `frrinit.sh` exits after it sta

[2021-06-08 17:22] SpaceJelly opened #8816 "ipv6 not advertising route with either route-map or prefix-list"
- frr version 7.5.1
- Debian GNU/Linux 10
- Linux 4.19.0-16-amd64

Config (With AS numbers and IP's changed)
[code]

Installed from the repository for debian.

---------------

**Describe the bug**
Receiving ipv6 routes is fine with this configuration, there are many however advertising routes does not appear to be operational, we see no advertised routes.
Neighbor              V         AS   MsgR

[2021-06-08 17:50] Siddhant-Ray commented on #8349
Thank you, issue has been fixed. ZEBRA: FPM: beginning state transition connecting -> active. Reason: getsockopt() after async connect failed, apparently this message still persists regularly but it connects to the FPM anyway inside the router namespace I created using my Mininet node.

[2021-06-08 17:50] #8349 closed

[2021-06-09 01:11] VictorCaiShen commented on #8812
I think it’s a bit strange that static routes have different administrative distances. If the number of routes is large enough, the number of administrative distances may not be enough. If I want to modify the metric when configuring static routes, will FRR support it?

[2021-06-09 01:11] polychaeta commented on #8812
This issue will no longer be automatically closed.

[2021-06-09 03:07] anlancs commented on #1497
Hi,
Always problem with current master.
I have study and test it, i got the root cause. But i don't know how to fix it, or needn't fix it?

It is caused by multiple `vtysh` daemons: one is used for user, one is for watchfrr to run `vtysh -w`. Since it is two different daemons, so the host name (and domain name) can't be shared.

If not fix it, we can close it for these reasons:
Considering concurr

[2021-06-09 04:36] anlancs commented on #8812
@VictorCaiShen
Yes. FRR support it, but it is a little tricky.
For example, we want to add a static route with metric 2.

16777218=(1<<24 + 2)
ip route add 1.1.1.1/32 via 2.2.2.2 metric  16777218

Then, it will be converted into FRR:
K>* 1.1.1.1/32 [1/2] via 2.2.2.2, eth0, 00:00:03

As to [1,2]:
In FRR, the meaning is: "1" means protocol( here is static route), "2" means metric.

Hope it help you.

[2021-06-09 05:34] lucize opened #8818 "frr doesn't work without ipv6"
using latest from master if the system doesn't have ipv6 support, frr will not do anything

[code]

[code]

[2021-06-09 07:36] Frankkkkk commented on #8788
Hi @wesleycoakley thanks for the follow up !

Indeed, there's a real problem with what is creating these processes forever. We'll try to take a look ASAP but we'll create another issue for this if it's fine with you.

Cheers

[2021-06-09 08:28] SpaceJelly commented on #8816
ok, I have been reading, and not sure if this has appeared due to the new versions?
https://docs.frrouting.org/en/latest/bgp.html#networks
[code]
So, my config doesn't have either of these commands showing so could this be it? All networks and neigbors are specifically assigned as per the example above

My IPv6 course was unfortunately done using quagga!

[2021-06-09 08:42] ak503 commented on #8794
in #8746 FRR tries to sort by gateway but only if gateway is IP.
If gateway set as ifname, it s not sorting and displayed reverse list everytime after vtysh -c write and restart staticd. But may be it is a common ploblem.

<pre>
ip route 1.1.1.1/32 lo1
ip route 1.1.1.1/32 lo2
ip route 2.2.2.2/32 3.3.3.2
ip route 2.2.2.2/32 3.3.3.1
</pre>

after `write` and restart:
<pre>
ip route 1.1.1.1/32 lo2
ip

[2021-06-09 09:02] SpaceJelly commented on #8816
ok, I believe I've found it. No static route set!

added
`
 ipv6 route 0001:0001::/32 Null0
`
and it started advertising!

[2021-06-09 09:02] #8816 closed

[2021-06-09 09:27] idryzhov commented on #8794
Thanks, now I see the difference. It tries to sort the routes when the nexthop is an IP address but does it incorrectly. And it doesn't even try to sort them when the nexthop is an interface.

Anyway, both problems should be solved using the NB layer (implementing `cli_show` and `cli_cmp` functions for nexthops), so I'd combine them into a single issue.

[2021-06-09 09:29] idryzhov commented on #8818
This is just a bug in vtysh that is being worked on in https://github.com/FRRouting/frr/pull/8800.

[2021-06-09 10:00] lucize commented on #8818
also the ospfd or rip doesn't process routes

[2021-06-09 10:49] idryzhov commented on #8818
Please submit another issue with a detailed description if you have problems with ospfd/ripd.

[2021-06-09 13:36] choppsv1 commented on #8699
Fixed by #8353

[2021-06-09 13:36] #8699 closed

[2021-06-09 14:10] scwicker opened #8819 "[IS-IS Feature Request] - No adjacency-check"
I would like to form IS-IS adjacencies between FRR and Cisco neighbors in different subnets.

On most Cisco routers there is a configuration of 'no adjacency-check'.  With this option enabled, IS-IS forms adjacencies with neighbors in different subnets.

Does FRR have a similar feature that I am missing? I have version 7.5.1

Thank you

[2021-06-09 17:19] lucize commented on #8818
#8800 fixes also the routing

[2021-06-10 01:12] wesleycoakley commented on #8788
I want to pull in these changes soon but I think I'll package it with a fix for the Alpine Docker container which is broken since `master` adopoted libyang2. Unfortunately there's not a libyang2 package yet but I plan to upgrade Alpine's old libyang1 apk once I squish some build-time bugs on non-glibc systems over there.

[2021-06-10 02:32] anlancs commented on #1497
@donaldsharp
I know what you mean it works.
After i have tried some ways to fix this issue, i failed. So i think it needn't fix.

At first i think hostname can be saved in zebra daemon, or all  daemons, but it will cause more problems.
After more thinking, i think saving in current vtysh is reasonable.

Now, i think this issue can be closed with modifying doc:
The hostname and domainname is saved

[2021-06-10 15:01] pguibert6WIND opened #8826 "bgp manual ipv6 LL session over ipv6 vrflite does not work"
- distrib ubuntu1804 hwe (kernel 5.4)
-  summary:
- back to back configuration between dut and router. dut is on a vrflite, and bgp peering does not happen with router.
if dut is on default vrf, then bgp peering happens.

config dut:
[code]

router:
[code]

dump from show bgp summary
[code]

dump from interface of dut and router:
[code]

traces on dut based on some debugging
[code]

[code]

*other

[2021-06-10 19:59] yusufgungor opened #8830 "Zebra NS name invalid: too long (>15)"
Hi, we are trying to using FRR Zebra with "--vrfwnetns" parameter to be able to manipulate OpenStack Neutron fip netns routing tables to implement BGP learning. (Unfortunately neutron dynamic bgp routing does not support to learning routes :( )

We have installed the FRR to one of our compute nodes and tried to run Zebra wirh '--vrfwnetns' parameter but when it starting print logs like below:

[co

[2021-06-10 23:32] mwinter-osr opened #8832 "[8.0] ASAN heap-use-after-free when ISISv4 configuration is removed"
Found on dev/8.0, git sha 71cb5de (as of 2021/06/07)

## ERROR: AddressSanitizer: heap-use-after-free on address 0x60d000012ab8 at pc 0x7fd66ea75b18 bp 0x7ffe9706cb90 sp 0x7ffe9706cb80
[code]

### 0x60d000012ab8 is located 72 bytes inside of 136-byte region [0x60d000012a70,0x60d000012af8)
freed by thread T0 here:
[code]
previously allocated by thread T0 here:
[code]
### SUMMARY: AddressSanitizer:

[2021-06-11 00:49] donaldsharp commented on #8832
@mwinter-osr the commit sha you have listed is for ospf but this is an isis crash?  is this from a git bisect?

[2021-06-11 10:35] louis-6wind opened #8837 "ospf6d: issue with default-information originate with routemap"
**Describe the bug**
ospf6d default-information originate with routemap only works with a permit ::/0 prefix-list. Other maching prefix does not work.
Even with ::/0, restart of ospf6d fails to re-install default-route on lsdb

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

on shell (one machine is enough)
[code]
St

[2021-06-11 10:48] louis-oui commented on #8837
The issue is related to https://github.com/FRRouting/frr/pull/8057 @YashRanjanVMWare please have a look

[2021-06-11 14:12] triple-it opened #8840 "BGP default-originate route-map as-path prepending issue?"
Hi FRR!

I am having trouble to as-prepend the default-originate with a route-map.

- FRR VERSION
[code]
- OPERATING SYSTEM VERSION
[code]

---------------

Trouble (advice needed) with the following configuration

[code]

[X ] Did you check if this is a duplicate issue?   (I only saw some OSPF route-map issue but I think that is unrelated...)
[https://github.com/FRRouting/frr/issues/5665](https:/

[2021-06-13 13:28] azi1233 opened #8848 "Performance Test"
I think that FRR has multiple different conformance tests by Ixia IxANVL during CI process. But I'm wondering about the need for a performance test. Isn't it necessary to test the performance and scalability of FRR? By other test products such as Ixia IxNetwork?

[2021-06-14 10:19] edipascale opened #8852 "isisd: issue with NET addresses in batched config"
---------------

**Describe the bug**

basic isis config including an area address but without interfaces is not accepted when applying it via frr-reload. The configuration is batched in a single transaction and the validation step of the area address creation callback fails. This is due to the fact that the callback is using operational data to validate the requested change, but that data has not

[2021-06-14 14:40] pguibert6WIND opened #8854 "bgp ipv6 prefix flapping when using network command of a connected network"
- version 8.0
- ubuntu-18.04 hwe
- back to back setup with 2 BGP devices dut and router, connected over 2000:// network. after peering, both sends same network command with 2000:://64 network. This makes bgp of dut loop and flapping nexthop resolution over 2000::1/64 peer ip address

config dut:
[code]

router
[code]

[2021-06-14 14:47] pguibert6WIND commented on #8854
dump of nexthop tracker consecutively:
[code]

[2021-06-14 14:49] taspelund commented on #8854
It looks like each of the two devices are going to learn a host route to their peer's address via their peer's address,
e.g.
2001::1 via 2001::1
Which I don't think is valid, since it will cause a recursion loop. I also believe NHT explicitly disallows this and the route/next-hop will be marked inactive, until the /128 gets withdrawn (likely implicitly when the holdtime expires)

[2021-06-14 16:46] pguibert6WIND opened #8855 "bgp: can not connect to passive peer when local config inside vrf"
version : 8.0
distrib: ubuntu-18.04-hwe

On a back to back configuration, with dut on a vrflite interface,  router can not connect to bgp of dut.
config dut:
[code]

router config
[code]

traces on dut:

[code]

[code]

observation 1: if I remove passive command, then it works.
the config used has l3mdev_tcp settings set to 0.

[2021-06-14 20:42] pguibert6WIND commented on #8854
is not there an interest in doing that, in a network, for instance, instead of doing redistribute connected, transmitting an explicit network ?

[2021-06-14 21:00] taspelund commented on #8854
I'm not sure I understand the question.  Are you asking if it makes sense to advertise explicit routes instead of simply redistributing?
If so, the answer is yes (use `network` statements or route-maps on your `redistribute` statements) but that's a separate topic.

The issue here is that you're advertising the path to an IP through itself, which can't be resolved using recursive next-hop lookups.

[2021-06-15 05:55] pguibert6WIND commented on #8854
Hi,
I try to keep that kind of configuration working.
I wonder if an enhancement such as 'Selective Next-Hop Route Filtering ' could help

After all, if we receive such prefix from cisco, I guess cisco authorises such config.
[code]

[2021-06-15 08:06] anlancs commented on #8537
@idryzhov

Can you show where is the code? Thanks!

I'm puzzled here.
You mean "do show" ? I can't find any "show" commands in INTERFACE_NODE.

[2021-06-15 08:19] pguibert6WIND commented on #8854
the issue is specifically ipv6 related:
when installing 2000::1/64 network with nexthop link local ipv6 address, it encounters an inconsistency.
which invalidates the peer nexthop.
[code]

one way to solve this is to remove link local ipv6 addresses
[code]

[2021-06-15 09:00] pguibert6WIND commented on #8855
this is a startup issue. it deals with config on dut

[2021-06-15 10:21] idryzhov commented on #8537
The "show" command in the INTERFACE_NODE is only available when you connect directly to the daemon using telnet.

[2021-06-15 10:30] VictorCaiShen commented on #8812
thanks alot. However, there is a problem in this way. If the static route is configured in the kernel, a K mark will be affixed, which may cause problems when the route is redistributed.

[2021-06-15 11:35] pguibert6WIND opened #8859 "bgp: router can not reconnect due to nexthop entry broken"
version : 8.0
distrib: ubuntu-18.04-hwe

On a back to back configuration,  router can not reconnect to bgp of dut.
reason is that nexthop tracking broken when connected network is removed from remote peer list of updates

config dut:
[code]

router config
[code]

*steps*
1. start dut config, then router config : dut and router gets peered together
2. we can observe on router that nexthop tracking

[2021-06-15 12:14] taspelund commented on #8854
I'm not sure next-hop filtering would help or be the right approach in this situation, since the next-hop 2001::1 is legit for other routes.

Can't really comment on the link-local aspect, I don't see the link-local getting passed to zebra for nht in those debugs. Sounds like a separate behavior to me

[2021-06-15 13:58] pguibert6WIND commented on #5390
I think net-snmp code should be looked up.

[2021-06-15 15:06] qlyoung commented on #8812
Looks like the original question has been answered - if you have another issue to report, please open another github issue or if you have more questions feel free to ask in our slack.

[2021-06-15 15:06] #8812 closed

[2021-06-15 15:07] qlyoung commented on #8813
Can you maybe explain what it is you want?

[2021-06-15 15:12] qlyoung commented on #8819
Have you tried forming adjacencies across subnets without the command to confirm it doesn't work?

[2021-06-15 15:20] qlyoung commented on #8837
@YashRanjanVMWare is working on a fix

[2021-06-15 15:22] mjstapp commented on #8809
the basic show command does work, so there must be more to your issue. can you provide the output of 'ip link' and 'ip addr' also? did you get a core file - if so, can you include the backtrace from that?

[2021-06-15 15:22] qlyoung commented on #8848
We'd love to have that data. If you want to run a test, please let us know the results!

@polychaeta autoclose in 1 week

[2021-06-15 15:31] qlyoung commented on #8855
Can you add neighbor event and packet debugging configs so we can see what the passive dut is seeing from its neighbor?

[2021-06-15 15:40] taspelund commented on #8859
This sounds very similar to the issue in #8854, just with ipv4 instead of ipv6.
You're learning a route to your next-hop via your next-hop, thus NHT will fail.

Does NHT on "router" recover after "dut" goes down? or does it get stuck in this state indefinitely?

[2021-06-15 16:06] scwicker commented on #8819
Yes, I've tried forming adjacencies with both in different subnets and it shows up with 'show isis neighbor' but it does not create an entry in the routetable.

Thanks for getting back to me,
When I have both routers in the same subnet it forms the adjacency and adds the entires to route table. (as expected).

When I change the FRR interface ip to a different subnet then the entry is removed from

[2021-06-15 16:59] vecinohk commented on #8809
@mjstapp There is it:

[code]

[code]

[2021-06-15 18:15] mjstapp commented on #8809
I've tried reproducing this, without success. I've even tried to match what looks like a misconfiguration - you have config for 'vlan700', but that doesn't appear to exist? can you attach with gdb and get a backtrace of the crash?

[2021-06-15 18:24] vecinohk commented on #8809
I have 2 routers - Supermicro and APU2 (PC Engines) both with Debian 11 and behavior the same. And 'vlan700' was deleted - now is not in configuration but:

[code]
"gdb and get a backtrace" - I'm sorry, but I can't do it - it's hard for me.

[2021-06-15 18:44] vecinohk commented on #8809
@mjstapp Do you have Debian 11 and FRR from their repo? I think there's a mistake there.

[code]

[2021-06-15 20:40] pguibert6WIND commented on #8859
it gets suck in this state indefinitely.
I think the root cause is different than for #8854.
The bgp nexthop entry is used for peer and for bgp prefix.
It looks as reference counter incremented only once, instead of two.
then at unregistration of bgp prefix, the bgp nexthop entry becomes invalid.

[2021-06-16 03:25] anlancs commented on #8537
@idryzhov
Thanks for your reply!

I have understand the long history of this issue, including "git revert".
Yes, it can be closed with your fix. I learnt a lot.
I want to know: will the "walkup" mode to previous node surely be removed in the future?

[2021-06-16 04:37] #5178 closed

[2021-06-16 06:03] pguibert6WIND commented on #8855
============================================================ at startup
[code]

[code]

=> startup
[code]
=> incoming connection
[code]
============================================================ after bgp started, config injected
[code]
[code]
=> incoming connection
[code]

[2021-06-16 07:54] pguibert6WIND commented on #8855
https://github.com/FRRouting/frr/pull/8644 fixes this.
actually, I was testing dev/8.0

https://github.com/FRRouting/frr/pull/8644 should be backported to 8.0

[2021-06-16 09:38] static33rus opened #8863 "BGP. inbound route-map doesnt change next-hop ip address"
version of FRR: 8.0

Steps to reproduce:
1) Receive a route via bgp (in my example 11.11.11.11/32)
2) Create prefix list or access-list which matches this route
3) Create route-map with action permit, wich matches this prefix-list/access-list and sets new ip next hop
4) Check bgp table

Example:
I had a route in bgp table
[code]
Then I tried to rewrite next-hop from 33.33.33.2 to 3.3.3.2:
[code]
I

[2021-06-16 09:46] #8863 closed

[2021-06-16 09:47] static33rus commented on #8863
mistake in config

[2021-06-16 12:51] pguibert6WIND commented on #8859
the problem is visible on dev/8.0 , but not on frr 7.5
this is a regression.

[2021-06-16 13:06] mp77-arch opened #8866 "Crash when using "show ip ospf interface""
Hello I'm encountering a crash when using the "show ip ospf interface" command.

I'm using a virtual machine (Virtualbox) to run Debian Testing 32 Bits and FRR 7.5.1-1.

The network interface available on the virtual machine is the device enp0s3 with the IP address 192.168.3.3/24.

Here's the frr.conf file content (very basic configuration):

**frr version 7.5.1
frr defaults traditional
hostname d

[2021-06-16 13:18] scwicker commented on #8866
do you have 'ospfd = yes' in /etc/frr/daemons?

[2021-06-16 13:49] mp77-arch commented on #8866
yes, ospfd is enabled in /etc/frr/daemons an ospfd works fine as it is able to obtain all the routes announced in OSPF by the other routers in the same area (Cisco routers).

[2021-06-16 15:02] yusufgungor commented on #8830
Hİ @qlyoung I have searched but can not found any source about this limit.

Tested to see the max length and it seems that the limit is the file name legth limit. I think the reason is creating a file under `/run/netns/` with the netns name.

I have searched and it seems file name length depends on the filesystem. [Details](https://serverfault.com/a/9548)

[code]

File name length limit is **255**

[2021-06-16 19:08] vecinohk commented on #8809
json output is not problem:

[code]

[2021-06-17 15:39] mwinter-osr opened #8872 "OSPF Redistribution with route-map calling other route-map doesn't work"
Verified with current master as of 2021/6/17 and back to 7.4 release.

This probably never worked.

Configuration:
[code]

The above config should redistribute the 11.x.x.x addresses, but fails to do so. Removing the redistribute static and re-adding it seem to fix it, but it's not reliable.
Similar tests with route-map without the call function work with no problem

Topotest for this issue is ava

[2021-06-18 08:55] cihankom opened #8875 "OSPF Set Metric isn't working with/without route-map"
Hi,

I have to set metric for OSPF but it looks like that it doesn't work . I have tested by using "default-metric" and also "route-map set metric XX"

Here is my ospf config:
[code]

But routes in table still have metric 20:

[code]

I am not sure if I miss something or it is a bug ??

Thanks for your help

[2021-06-18 10:52] idryzhov commented on #8872
Fixed by https://github.com/FRRouting/frr/pull/8874

[2021-06-18 10:52] #8872 closed

[2021-06-18 12:20] #8832 closed

[2021-06-18 12:33] #8788 closed

[2021-06-18 12:52] #8461 closed

[2021-06-18 15:11] AlbertoSolaro opened #8877 "Default originate BGP not disappear when announced"
Hello, i have some problem with the conditional defualt-originate route-map with the BGP protocol.

I use the version 7.3.1 of FRR into the gns3 qcow2 template download from the website.

I have a testing enviroment where try our network configuration and i want to generate a default route only when a certain network is provided and installed into my RIB.

My configuation:

[code]

What happen:
1

[2021-06-18 15:39] gpnaveen commented on #8475
@rgirada Pls check this once.

[2021-06-19 11:30] choppsv1 commented on #8797
This actually makes sense. The assertion is that you have done something to transition form a positive to a negative state. So you enter the function assuming true looking for false. For example you've `shut` an interface which previously supported a route entry, and now you are looking for that route entry to disappear. The non-inverted logic is you have done something to make a route appear (lik

[2021-06-19 11:37] azi1233 commented on #8848
Actually, I'm wondering that If there is a conformance test infrastructure (IxANVL), why there is no FRR test by IxNetwork or something similar?

[2021-06-19 12:32] #6992 closed

[2021-06-19 12:32] #8595 closed

[2021-06-19 12:32] #8809 closed

[2021-06-19 12:32] #8866 closed

[2021-06-19 16:29] EasyNetDev commented on #8813
@qlyoung I thing is to this:
https://www.cisco.com/c/en/us/support/docs/ip/open-shortest-path-first-ospf/118879-configure-ospf-00.html

[2021-06-21 10:59] IvayloJ opened #8889 "bgpd incoming connection wrong header size negotiation"
FRR Version 8.1-DEV (git from 08.06.2021)

When other bgp , that do not support 65535 bytes header connects, connection is dropped with error message:
  Connections established 3; dropped 3
  Last reset 00:00:22,   Notification received (Message Header Error/Bad Message Length)

If FRR 8.1-DEV connects to remote peer that do not support 65535 bytes header connection goes well and bgp session is pr

[2021-06-21 17:39] mjstapp commented on #8797
Sure, some config changes or operations take effect or have an effect more-or-less immediately, and so seeing the 'false' result on the first try would be acceptable. I guess I was trying to get at the possibility that the test is actually testing the state of the test network, not just some simple local configuration. If there's the possibility that the test network needs some time to converge an

[2021-06-21 18:20] choppsv1 commented on #8797
These are utility functions to check whether something is there or not. The "invert_logic" (currently named "expected") is just programming foo to not have 2 functions to do the 2 things (verify_route_present and verify_route_not_present). Trying to add anymore semantics to these functions is hiding complexity where we shouldn't be IMO.

If the test is testing stability/instability then an explici

[2021-06-21 18:39] vecinohk commented on #7894
Any progress please?

`Jun 21 20:30:19 home ospfd[118255]: [RAW8J-4JD2F][EC 134217740] interface vlan710:10.107.80.218: ospf_check_md5 bad sequence 1624300220 (expect 1624300221)`

[code]
@mjstapp

[2021-06-22 01:59] wesleycoakley commented on #8875
Zebra installs routes into the kernel with a constant metric, see 1f5705f. This metric is still distributed to peers and used in the protocol

[code]

[2021-06-22 06:51] txrxkun opened #8896 "How to set maximum-paths for OSPF in FRR?"
I'm new to use FRR for my research. I will use OSPFv2 in my network model and i want to config a maximum paths, command can't be found. They said "Unknown Command"

How to set maximum-paths OSPFv2 in FRR?

I use FRR version 7.5 in Ubuntu 18.04 using GNS3

Thank You

[2021-06-22 10:39] idryzhov commented on #8896
OSPFv2 maximum-paths command is not available in 7.5. However, it will be available in the next version, which will be released soon.

@polychaeta autoclose in 1 day

[2021-06-22 11:14] rameshabhinay commented on #8804
PR raised : https://github.com/FRRouting/frr/pull/8890

[2021-06-22 12:30] kuldeepkash commented on #8797
Sorry for the delay, I was on leave for some time.

Thanks @choppsv1 for your inputs on this.

Hi @mjstapp
As per your thought we should put retry or wait in case of negative verifications to check system stability. Putting retries or wait in negative verifications(even after getting expected results) will increase execution time.

As @choppsv1  mentioned we should come up with different/new tests

[2021-06-22 13:48] sequoiar opened #8900 "Dose FPM support multicast route ?"
Seems Zebra FPM only support unicast route entry. Is it right ? thx.

[2021-06-22 14:06] #1497 closed

[2021-06-22 15:13] qlyoung commented on #8855
Well, you have the ability to backport it...

[2021-06-22 15:15] donaldsharp commented on #8900
No it does not support multicast routes in the FPM interface at the moment

[2021-06-22 15:22] #8848 closed

[2021-06-22 15:23] qlyoung commented on #8855
Ok, it's already backported

[2021-06-22 15:23] #8855 closed

[2021-06-22 15:25] #8900 closed

[2021-06-22 15:55] edipascale commented on #8819
This is probably due to what the Cisco is doing though, not FRR. If you use two FRR routers you should see the adjacency coming up and the routes should be added to the RIB regardless of the subnets matching. They will be inactive though, I guess due to the fact that you cannot reach the nexthop. E.g. if I have two adjacent nodes, node one with address `12.0.0.1/24` and node 2 with `42.0.0.2/24`,

[2021-06-23 07:52] anlancs commented on #8594
@rzalamena @qlyoung
Yes. It is fixed by that commit:
`commit eb9113dfe3888556554eefa3bc3ef75cb4734d2b`

Introducing 'exit-vrf'  into add_lines_to_add, it is  to avoid that wrong mixed configuration. Otherwise, the one will re-use the last one's context, it is the root cause of this issue.

It seems this issue can be closed.

[2021-06-23 10:39] #8896 closed

[2021-06-23 12:14] donaldsharp commented on #8875
@cihankom there appears to be some confusion.  The set metric that you have applied is for the importation of routes into ospf via a redistirbution statement.  This set metric should only affect the routes as they are passed throughout the ospf network.

Secondly, the rib's(zebra) idea of a metric is a combination of Administrative distance and the metric to decide.  As such when zebra see's multi

[2021-06-23 12:14] #8875 closed

[2021-06-23 12:16] donaldsharp commented on #8830
I'm not convinced setting the NS_NAMSIZ to 60 will be sufficient.  The VRF_NAMSIZ must be the same value as well and we would need to test it quite thoroughly to ensure it works.  I would not be surprised if we have cases where FRR confuses IF_NAMSIZ and VRF_NAMSIZ which would be fun to find.

I would suggest doing a thorough code search and submitting a PR.

[2021-06-23 12:30] ton31337 commented on #8877
Backported to 7.3. If you use a package version, you should wait for the next release. Or just recompile from stable/7.3 branch. Or we encourage using more recent versions, like 7.5, which is the most stable at the moment.