[2018-07-07 16:09] ne-vlezay80 opened #2634 "Пакеты для TinyCore linux"
Скажите пожалуйста, будут ли пакеты для tinycore linux?

Tell me please, will there be packages for tinycore linux?

[2018-07-07 18:37] pautiina commented on #2634
Вы можете собрать их ч исходников

[2018-07-07 20:13] donaldsharp commented on #2634
@ne-vlezay80 -> I am not aware of anyone who is doing any work on tinycore.  Having said that, if someone wanted to step up and provide packages for tinycore, we would welcome the work for this.

Я не знаю никого, кто занимается какой-либо работой на tinycore. Сказав это, если кто-то захочет активизировать и предоставить пакеты для tinycore, мы будем приветствовать эту работу.

[2018-07-08 16:22] raymonvdm opened #2638 "SNMP support on .deb files"
I have installed the .deb files on Ubuntu 16.04 (Version 4.01 and 5.01-1) but i`m unable to enable SNMP. Is it possible to get the .deb files build with enable-snmp?

[code]

[2018-07-08 16:54] lunarman opened #2639 "Support for ISIS-segment routing"
Hi,
First off, great work that you're all doing here.
I'd like to know if ISIS-segment routing is in your roadmap.
Thanks!

-Steve

[2018-07-08 22:14] patrick7 commented on #2638
Probably not possible due to the OpenSSL license.

[2018-07-09 07:13] pguibert6WIND commented on #2633
Good afternoon, if you advertise on the ibgp ipv6 route, then if the rouer that advertises the network falls down, then for some reason nothing is announced via the ipv6 protocol with the created route-map. Although, if route map is configured on the receiving device, then everything is fine. Also, if you run clear ip bgp, then the announcement works fine. What is this bug?

[2018-07-09 17:55] #2286 closed

[2018-07-09 19:06] qlyoung commented on #2638
Patrick is correct, there are licensing issues in play here. You will have to build FRR yourself.

Please see: http://docs.frrouting.net/en/latest/snmp.html

[2018-07-09 19:06] #2638 closed

[2018-07-09 19:21] donaldsharp commented on #2565
I think we should?  I find this behavior... odd and am not sure this actually belongs in vtysh.conf -vs- frr.conf.

[2018-07-09 21:48] amanshaikh75 commented on #2089
@paulzlabn  Turns out the issue I mentioned above had nothing to do with the patch. Rather it seems it was an issue in the Master branch itself. Today I pulled from GitHub and updated my local copy of the repository, and tried your patch again.

Unfortunately, I see that bgp daemon has stopped importing IPv4 routes from the individual VRFs to the global routing table (as VPNv4 routes). Is this a t

[2018-07-09 23:37] adharkar commented on #1967
I will work on this issue. Thanks!

[2018-07-10 01:50] ne-vlezay80 commented on #2634
Там нету всех необходимых пакетов, чтобы его собрать

[2018-07-10 04:30] pautiina commented on #2634
Я конечно не ас в линуксе, но такое первый раз слышу. Установите необходимые зависимости при помощи  менеджера пакетов своей системы. Список можно взять от убунты.

[2018-07-10 14:53] cfra commented on #1865
Fix has been merged

[2018-07-10 14:53] #1865 closed

[2018-07-10 15:15] riw777 commented on #2633
Can you explain the issue more clearly? It would be good to cut and paste the output you see versus the output you are expecting, for instance.

[2018-07-10 18:37] TekunoKage commented on #2621
EVPN Multi-Homing is very interesting.
Implementing ESI will allow to block BUM traffic without the need of MLAG. Also the esi all-active allow to send unicast traffic on multiple link, allowing load/balance traffic.

[2018-07-10 22:59] TekunoKage commented on #2429
Nice...
https://github.com/FRRouting/frr/commit/e093d9d57b404ae83ef81e7f9d11254393132f8e

[2018-07-11 08:16] patrick7 opened #2653 "filtered-routes & prefix lists"
sh bgp ipv4 nei 1.2.3.4 filtered-routes does not show routes filtered by prefix lists. However the routes are shown in "received-routes".

[2018-07-11 09:57] bestgen opened #2654 "Protocol cannot apply on TAP interfaces"
Hello.  I build FRR on two virtual machines and try to combine FRrouting with another project (called OpenFastPath), which needs to use the TAP interface. Thus I try to add the physical interfaces and TAP interfaces into FRR area. However, I found that OSPF protocol cannot apply to the interface.

The interface description shows the protocol status of TAP interface always down, and the result of s

[2018-07-11 12:15] shibumi commented on #2429
nice

[2018-07-11 14:50] louberger opened #2656 "zebra (stream_set_getp) assert seen in topotest"
seen on TopoTest Master arm8
https://ci1.netdef.org/browse/FRR-TOPOPR-TMARM8-256

[code]

[2018-07-11 14:50] louberger commented on #2656
full log [plan-34865825-TMARM8-256.log](https://github.com/FRRouting/frr/files/2184983/plan-34865825-TMARM8-256.log)

[2018-07-11 15:03] rwestphal commented on #2654
If the line protocol of the tap interface is down, doesn't it mean that there's no program attached to it? You need to check if your tap interface is working before anything else.

[2018-07-11 17:46] ajones-rvbd commented on #2442
Fixed pushed...

[2018-07-11 17:46] #2442 closed

[2018-07-12 09:58] raghavenderlomte opened #2657 "difference between quagga and FRR"
While learning about the FRR i came to know that FRR is a fork of quagga,then what is the difference between quagga and FRR,both has most of the implementation similar. If there is no change then why should i move to FRR from quagga?

[2018-07-12 10:05] donaldsharp commented on #2657
@raghavenderlomte there are signficant differences between FRR and Quagga.

Please see here:

https://github.com/FRRouting/frr/wiki/Major-Changes

For our documentation about what we have added and improved upon.

[2018-07-12 10:29] raghavenderlomte commented on #2657
Thanks for response donaldsharp.
So Quagga 1.1 -> FRR 2.0 indicates that FRR 2.0(first release) is built based upon quagga 1.1 and  the list what it is showing in the below link tells the features added to frr initially?https://github.com/FRRouting/frr/wiki/Quagga-1.1-%E2%86%92-FRR-2.0

[2018-07-12 10:38] donaldsharp commented on #2657
Yes exactly

[2018-07-12 11:08] raghavenderlomte commented on #2657
but after that i guess there is still development going on in quagga,because there is a release of 1.2.4, A month ago and they also might have added these fixes,are'nt they?.
sorry for asking i am completely confused between these two.

[2018-07-12 11:34] donaldsharp commented on #2657
So as I see it, FRR has released 4 major releases with each release getting major new features and Quagga has released a bug fix release or two.  Not sure I would even remotely compare the two at all.

[2018-07-12 11:53] raghavenderlomte commented on #2657
so can i conclude that what ever features got added(listed in below link) till the latest version in code of frr.
are not supported in quagga ?
https://github.com/FRRouting/frr/wiki/Major-Changes

[2018-07-12 11:55] donaldsharp commented on #2657
Yes.

[2018-07-12 16:52] pguibert6WIND opened #2659 "RIP vrf feature"
make RIPv2 vrf aware.
limit the scope to one vrf only.

[2018-07-12 20:44] adharkar commented on #1967
Hi @solevi ,
I was not able to report this issue on 3.0 and even 4.0.
dev# sh ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, P - PIM, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,

K>* 0.0.0.0/0 [0/0] via 10.33.83.253, ens160, 01:46:52
C>* 10.33.80.0/22 is directly connected, ens160, 01:46:52
C>* 19

[2018-07-12 22:08] adharkar commented on #2653
Hi, I can work on this issue. Thanks!

[2018-07-12 22:33] ajones-rvbd commented on #2443
Hey @mwinter-osr , I've got bamboo automation now which runs unit test (make check) code coverage reports for every commit to master to my fork at ajones-rvbd/frr (auto-sync'ed every 20 minutes from frrouting/frr) to https://codecov.io/gh/ajones-rvbd/frr .  It uses the script task, which looks like this (just need to substitute your codecov.io token):

[code]
I can leave this run for as long as ne

[2018-07-13 02:06] donaldsharp commented on #2443
@ajones-rvbd this is very cool.

@mwinter-osr what can we do to bring this in?

[2018-07-13 03:39] tigranmartirosyan commented on #1967
@adharkar could you please check at your setup whether the route is still being advertised to neighbors after bringing interface down?

PS
In order to advertise routes to the neighbors you should add `redistribute connected ` in the bgp configuration section.

[2018-07-13 06:53] solevi commented on #1967
Dear @adharkar,
Thanks for looking in.

Please read carefully my report.
1) I wrote that i do not observe this problem in version 3.0 but can observe in 4.0, both versions were release versions.
2) please try to add second loopback address such as lo:101 and then remove it, maybe with just one loopback lo:100 it is working as expected?

[2018-07-13 09:57] ne-vlezay80 opened #2661 "OSPF6 vrf feature"
Please make ospfv6 vrf feature.

[2018-07-13 14:14] TekunoKage commented on #2538
I'm interest in implementing/validating EVPN-MPLS to connect multiple Hypervisors with vlan-aware-bridge(s). The idea also include to get ecmp to balance/share traffic on the hypervisors uplinks. At the moment I'm not able to figure out what kink of interface create and use between FRR and the bridge, and also how to associate that interface to the EVPN instance.

[2018-07-13 22:09] TekunoKage opened #2664 "how much of the RFC 7432 is implemented? | BGP EVPN-MPLS"
Is there a way to understand how much of the EVPN-MPLS is implemented, that is to clarify the expectations when validating/testing?

I'm interested in connecting to vswitches with EVPN and MPLS as transport. Section 6.3 of the RFC mention a "vlan aware bundle interface" that could be the easier way to connect the vswitches. At this point I just find out information to vni, and those are 1:1 relati

[2018-07-17 09:37] patrick7 opened #2666 "frr wrong nexthop"
An interface was configured with /30 netmask:
- Router A 192.0.2.37/30
- Router B 192.0.2.38/30

To save some IP's, this was changed to /31:
- Router A 192.0.2.36/31
- Router B 192.0.2.37/31

ifupdown2 was used with "ifreload -a"

FRR on Router A started to discard all routes learned from 192.0.2.37 with the following reason:

`2018/07/17 11:19:07 BGP: 192.0.2.37 rcvd UPDATE about 1.2.3.0/24 IPv4

[2018-07-17 12:57] vishaldhingra opened #2667 "crash seen in BGP on "no rt vpn""
dev# configure terminal
dev(config)# router bgp 100 vrf r1-cust1
dev(config-router)# address-family ipv4 unicast
dev(config-router-af)# no rd vpn export 10:1
dev(config-router-af)# no rt vpn both 52:100
vtysh: error reading from bgpd: Success (0)Warning: closing connection to bgpd because of an I/O error!

I have attached the topology, steps to reproduce, bt and build version.
[Bgp_crash_no_rt.zip

[2018-07-17 13:02] jfloret commented on #2626
Hello,
Any news about this? Could you reproduce the problem?
This is quite blocking for us, because our system configures interfaces via iproute2.
Thanks!

[2018-07-17 13:03] vishaldhingra commented on #2622
@beneslami : I have tried the L3VPN configuration with BGP vrf on the latest code.
It seems to be working fine, the L3VPN routes are withdrawn successfully.

I am attaching my configurations.

Please have a look. If you have different configurations please let me know.
[L3VPN_cli.zip](https://github.com/FRRouting/frr/files/2201717/L3VPN_cli.zip)

[2018-07-17 15:02] Jafaral commented on #2626
@jfloret I will look at this today and get back to you

[2018-07-17 15:07] #2657 closed

[2018-07-17 15:10] donaldsharp commented on #2664
@vivek-cumulus do we have a quick and dirty answer here?

[2018-07-17 15:12] donaldsharp commented on #2667
@louberger have you seen this?

[2018-07-17 16:21] vishaldhingra commented on #2622
I have checked with beneslami, he has tried the same configuration. Now the issue is not seen on his testbed with latest code, so we can close this issue.

[2018-07-17 16:48] vishaldhingra commented on #2667
I am working on this issue and share my analysis soon.

[2018-07-17 17:22] tl0041926 opened #2671 "6PE functionality support in FRR"
I am looking for using FRR in our VM for BGP 3107 functionality with 6PE support. Basically FRR should peer with peering router with ipv6-label-unicast family and advertise its v6 loopback address with the label value of 2 (Explicit null label) and the next-hop of the route to be set to its v4 loopback address. I see FRR supporting native ipv6 BGP-LU, but not with 6PE where we require v4 nexthops

[2018-07-17 21:02] lion24 opened #2674 "Compilation issue for LEDE openwrt FRR 5.0."
Hi everyone !

I'm trying to compile FRR for my Linksys WRT1200AC at home. And autoconf is not able to set correct build parameter for cross-compilation.. It fails will the following error:
[code]
The following FRR package I'm trying to compile is available on my github repository here: https://github.com/lion24/frr-openwrt

I know this is an issue solved in the past in #958 but I'm not able to fi

[2018-07-18 09:25] pautiina opened #2675 "[OSPF] default-information originate - wrong next-hop"
Hello.
I have some configurtion on RS 1:
[code]
[code]
All OSPF servers add a route on the table  0.0.0.0/0 10.10.10.33
but on version 3.0 and version 4.0 a route is added 0.0.0.0/0 192.168.1.1 and it suited me perfectly.

That is, now the router establishes itself as the default gateway, although at the same time it has a static route, which instructs it to set the default route to the next route

[2018-07-18 13:19] felartu opened #2676 "[EVPN] Static ARP entries not being advertised"
EVPN should advertise dynamic and static ARP entries for MAC Mobility sticky.
Currently manually added ARP entries to the corresponding bridge are not being shown under the ARP cache of the VNI and not advertised in the EVPN network.

Example log:

[code]

[2018-07-18 17:13] TekunoKage commented on #2675
Can I ask... Why the redistribution? As a rule of thumb I suggest to avoid redistribution and static routes as much possible. You can add a network statement for each segment (interfaces & static routes) that your device have presence like you did with the 10.10.10.33.

[2018-07-18 17:23] pautiina commented on #2675
Unfortunately, this was built long before me and the network topology does not allow me to configure the OSPF network without a long shutdown.
On a server that accepts the default route (192.168.1.1) and does have only vlan780 on it, the OSPF is disabled, and in version > 5.0, I can only statically add a route to all servers. In this case, all servers have vlan780 and vlan781, and all servers have

[2018-07-18 18:21] donaldsharp opened #2680 "Ensure FRR has appropriate error messages for when it detects being run a second time"
I can run bgpd and get it up and running, and then mistakenly initiate a second bgp process.  This second process should return an appropriate error message that the user can figure out WTF is going on.

I believe that we have fixed a bug for BGP in this regards, but we should double check and do the same for all daemons we have.

[2018-07-18 23:34] ecbaldwin opened #2682 "Kernel MPLS route drops label when imported in frr"
I was playing around with some MPLS configs and I noticed something strange with a static MPLS route that I added to the kernel. Here is the kernel as shown by `ip route show`

[code]

frr picked it up but *without* the label. It shows

[code]

From there, a route that resolves recursively using this route is not getting the push label action added to it like they should be (see the 10.224.12.11 r

[2018-07-18 23:46] ecbaldwin opened #2683 "Recursive lookup through BGP-LU route not updated when labels change"
We're experimenting with BGP-LU and frr in our lab. We have two host machines running frr. Each is connected to two TOR switches through their eth0 and eth1 links (four TORs total). Those are connected through another pair of switches. We have configured BGP-LU to distribute MPLS labels over ebpg throughout. Connectivity between loopback addresses on the two hosts works well at this point.

Then,

[2018-07-19 10:41] kssoman commented on #2230
A ------------------------------------- B
                       EBGP
A
---

ip route 50.1.1.0/24 blackhole 200
!
interface ens192
 ip address 10.1.1.1/24
!
router bgp 1
 bgp router-id 1.1.1.1
 neighbor 10.1.1.2 remote-as 2
 !
 address-family ipv4 unicast
  redistribute static
 exit-address-family

B
---

ip route 50.1.1.0/24 ens192
!
interface ens192
 ip address 10.1.1.2/24
!
router bgp 2
 bgp ro

[2018-07-19 11:16] donaldsharp commented on #2230
No, bgp needs to respect admin distance.  BGP should be storing the redistributed routes admin distance and in section 3 of bgp_info_cmp when we look at the static route type we should do a quick comparison of the route's admin distance -vs- bgp's admin distance and select the better.

[2018-07-19 11:16] donaldsharp commented on #2230
To whit we want a reproducible deterministic network this bug is not.

[2018-07-19 11:35] dslicenc commented on #2230
I believe if you don't have a need to redistribute the static into bgp, the behavior would become deterministic because zebra would be doing the deciding.

[2018-07-19 12:58] kssoman commented on #2230
As mentioned by Don Slice,  admin distance is not a parameter in bgp route selection process (as per the standards), therefore the existing behavior is correct and the issue raised is not a defect.

[2018-07-19 15:41] #2584 closed

[2018-07-19 20:31] jairohg commented on #2287
I was able to reproduce this issue with FRR 5.1 - linux Kernel 4.9. It appears to be linked to user permissions. With the default configuration the user "frr" runs nhrpd. After making some changes to run nhrpd as root, the neighbors were added successfully.

[2018-07-20 16:35] #2633 closed

[2018-07-20 16:35] qlyoung commented on #2633
No response

[2018-07-20 16:40] brotherdust opened #2693 "Feature Request: OSPF MTU Override"
Example use-case:
Support for unfragmented ≥ 1500-byte packets across MPLS LSP.

To accomplish this in, say, Mikrotik RouterOS-land:
1. Set interface "L2" MTU as high as hardware allows (if it's not already)
2. Set MPLS interface MTU to 1530 (1508 is default, but 1530 is enough for VLAN + VPLS + MPLS headers).
3. IP "L3" MTU of interface remains 1500

This has the advantage of not having to fiddle

[2018-07-20 17:22] qlyoung commented on #2680
So replace the `pid file could not be locked` warning with something more informative?

[2018-07-20 17:25] qlyoung opened #2694 "Topotests needs a developer doc"

[2018-07-20 22:57] srimohans commented on #2664
+1 for the question.

[2018-07-21 08:59] jhiggins-NZ commented on #2287
Ah thanks! @jairohg

I'd been bashing my head against the wall for weeks on this one.
Tried multiple kernels & versions of FRR haha

Could use the ip neighbor replace cmd as per @donaldsharp  but there was no issue there.

Cheers 👍

[2018-07-21 14:38] pguibert6WIND commented on #2659
https://github.com/FRRouting/topotests/pull/112
https://github.com/FRRouting/frr/pull/2663

[2018-07-21 15:06] donaldsharp commented on #2287
Ah this should be fixable with elevated priviledges.  Let me poke at it some.

[2018-07-23 09:32] kssoman commented on #2666
Tried reproducing with the following steps but the issue is not observed

            Router A ------------------------------ Router B

dev# show version
FRRouting 5.1-dev-MyOwnFRRVersion-g972388d (dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-5.1-dev-316-g972388d
Associated branch(es):
        local:master
        github/frrouting/frr.git/master

Router A
--------

[2018-07-23 11:05] patrick7 commented on #2666
I have configured the IPs in /etc/network/interfaces, not in FRR.

[2018-07-23 12:32] jairohg commented on #2287
@jhiggins-NZ there's an option to configure your build with a certain user. So basically I just added the option "--enable-user=root" to configure, then ran make && make check && make install.

@donaldsharp The user "frr" privileges also kept nhrpd from accessing the charon.vici file. I was changing the ownership of "charon.vici" to allow user frr rw before I ultimately changed the daemons to run

[2018-07-23 12:38] donaldsharp commented on #2287
@jairohg @jhiggins-NZ -> Can you give this branch a try:
https://github.com/donaldsharp/frr/tree/possible_nhrp_fix

I would not compile with `--enable-user=root` and use frr instead.  I've added in an additional capability to nhrpd.  If this works for you I will push a PR with this change

[2018-07-23 13:50] jairohg commented on #2287
@donaldsharp I tried out your ZCAP_SYS_ADMIN commit and it doesn't seem to be working. I reverted the ownership of charon.vici file to use it as a test parameter. Additionally, I tested with NHRP registration. No dice (No neighbor entry for NHRP-reg no charon.vici access if owned by root). I see the logic of how it should've worked, yet it did not.

[2018-07-23 17:23] rwestphal commented on #2693
This makes sense to me. We have a single MTU setting in the Linux kernel which is the L3 MTU (1500 by default). When using MPLS we usually need to increase this MTU to account for MPLS labels, but this has the side effect of affecting routing daemons that use the MTU value for other things (e.g. checks for MTU mismatches in ospfd).

What we could do is to add two new commands in zebra: "mtu" and "

[2018-07-23 21:39] riw777 opened #2702 "Write Route Reflector Docs"
frr/doc/user/bgp.rst -- the rr section is nonexistent. Need to write one.

[2018-07-24 06:16] patrasar commented on #2305
Hi,

I am not able to see this issue on frr-5.1-dev. Please find the logs as given below.

![image](https://user-images.githubusercontent.com/40834655/43120159-dc0e3fbc-8f36-11e8-8115-36909d5bb4a0.png)

[2018-07-24 06:19] patrasar commented on #2305
I am not able to reproduce this issue on frr-5.1-dev. Please find the logs as given below.

    A ----------------------------------------- B
 
Version:
dev(config-router-af)# do show version
FRRouting 5.1-dev-MyOwnFRRVersion-gbf03267 (dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-5.1-dev-319-gbf03267
Associated branch(es):
	local:master
	github/frrouting/frr.git/m

[2018-07-24 06:30] patrasar commented on #2305
Only I am seeing a difference in the display format . In the command "show ip bgp vrf all neighbors 20.1.1.1 routes" symbol '>' is missing.

show ip bgp vrf r1-cust1
      *> 50.1.1.0/24      0.0.0.0                  0         32768 i

show ip bgp vrf all neighbors 20.1.1.1 routes .
       *  50.1.1.0/24      20.1.1.1                 0             0 1 i .

show ip bgp vrf all neighbors 20.1.1.1 ro

[2018-07-24 14:16] raghavenderlomte opened #2709 "socket:Operation not permitted error"
I have added a piece of code in zebra daemon and i am executing that from the main function of zebra.
I am getting socket:Operation not permitted error while executing frr.
the error is at socket(AF_PACKET,SOCK_RAW,0); but when i use AF_NETLINK instead of AF_PACKET it works fine.
may i know what exactly causing the issue,i'm executing as a sudo user and also tried assigning  capabilities using set

[2018-07-24 14:20] pguibert6WIND commented on #2709
this is due to the fact that you are compiling with linux capabilities.
on which daemon are you running this.
all privilege settings are handle by lib/privs.c api

if you don't want to bother about that, use ./configure --disable-capabilities

[2018-07-24 14:33] Jafaral commented on #2626
@jfloret, still working on this, I will post updates as soon as the issue is identified

[2018-07-24 14:54] raghavenderlomte commented on #2709
Thank you,it worked but if I want to run by enabling the capabilities ,is there any way to do ?

[2018-07-24 15:06] rwestphal opened #2710 "BGP LU (Label Unicast) needs documentation"

[2018-07-24 15:09] donaldsharp commented on #2680
Manoj will take this.

[2018-07-24 15:10] pguibert6WIND commented on #2680
warning: we have use cases with daemons running on the same machine but on separate netnamspaces.
we would like this use case to be yet possible

[2018-07-24 15:16] donaldsharp commented on #2693
Added to feature wiki

[2018-07-24 15:16] #2693 closed

[2018-07-24 15:18] donaldsharp commented on #2694
donald to move over to topotest repo

[2018-07-24 16:45] ecbaldwin commented on #2683
There is one part of this configuration that I inadvertently left out. On each host, there is an OVS bridge, `br0`. For each namespace, I create an OVS port and move it into the namespace. The routes like `10.224.12.10 dev br0  scope link` in the linux table above are the ones that direct local traffic onto the bridge for each of the namespaces.

So, on the host, this is a local L2 network. I'm to

[2018-07-24 18:39] qlyoung opened #3728 "Topotests needs a developer doc"
The readme suffices for users, but for developers new to topotests a document with the following information would be useful:

* Architecture and design overview of topotests
* How the simulation machines work and are configured
* The types of topotests
* How to write a topotest from scratch
* Anything else a topotest developer would find useful

[2018-07-24 18:39] #2694 closed

[2018-07-24 20:02] NetTinkerer opened #2713 "bgp routes not installed in kernel routing table"
I am running frr 5.0-1 from the deb packages provided on https://frrouting.org/. Routes learned via bgp are not placed in the kernel routing table. Routes remain inactive. I use a route-map on the upstream neighbour (cumulus Linux box) to set a different next-hop then the neigbour ip
[code]

[2018-07-24 20:09] NetTinkerer commented on #2713
adding the statement
[code]

solved my issue can't find the statment in the docs though

[2018-07-24 21:00] pautiina commented on #2675
you do not understand me. all neighbors are in two peer-to-peer networks, only ospf is running on one of them. and up to version 5 and higher the static route pointed to the neighbor from the second peer-to-peer network. everyone sees each other's arps. if in the second network was launched OSPF, then it was also IGP neighbor.

RS1:
[code]
RS2:
[code]
RS3:
[code]
FRR 3 and 4
[code]
FRR 5.0 release

[2018-07-25 03:04] brotherdust commented on #2693
@donaldsharp wait... what wiki?

[2018-07-25 08:15] pguibert6WIND opened #2716 "doc: issue when generating rpki documentation"
[code]

@qlyoung , you may know how to handle this ?

[2018-07-25 09:31] kssoman commented on #2666
The command ifreload -a  gives error,  issue raised (https://github.com/CumulusNetworks/ifupdown2)

Issue not reproduced using service networking restart command,  logs shown below

               Router A ------------------------------------- Router B

Router A
---------

root@dev:~# ifconfig -a

ens192    Link encap:Ethernet  HWaddr 00:50:56:96:cb:2c
          inet addr:192.0.2.37  Bcast:0.0.0.0

[2018-07-25 09:39] kssoman commented on #2093
Looking at the issue

[2018-07-25 09:52] pguibert6WIND commented on #2626
Hi,
I did not manage to reproduce the issue here with both master and stable/5.0 branch.
caution when passing arguments to vty command
if you use A::B/MASK as gateway, this will be read as interface name.
can you try to confirm the problem please?

[2018-07-25 11:59] eugenepaniot commented on #2287
I have the same issue -(
With ZCAP_SYS_ADMIN and with --enable-user=root

In my lab, I dont use vici yet, just trying to configure NHRP:
[code]

[2018-07-25 15:53] ghost opened #2723 "BGPd crashes when changing the label assignment from static to auto"
I have the following configuration:

[code]

Routes are learned from the VRF and exchanged the VPN routes with the peer.

I change the label assignment to auto and BGPD crashes.

[code]

[2018-07-25 15:54] karamalla0406 commented on #2723
I have assigned this to me and working on this. I have a fix ready, I will have to go through the process of code review and submission

[2018-07-25 15:57] ghost opened #2724 "Static routes added through the network command are not getting installed in the VPN"
I have the following configuration:
router bgp 100
 bgp router-id 1.1.1.1
 neighbor 4.4.4.4 remote-as 100
 neighbor 4.4.4.4 update-source 1.1.1.1
 !
 address-family ipv4 unicast
  no neighbor 4.4.4.4 activate
 exit-address-family
 !
 address-family ipv4 vpn
  neighbor 4.4.4.4 activate
 exit-address-family
!
router bgp 100 vrf vrf-blue
 bgp router-id 1.1.1.2
 !
 address-family ipv4 unicast
  networ

[2018-07-25 15:58] karamalla0406 commented on #2724
I am also working on fixing this issue.

[2018-07-25 18:09] qlyoung commented on #2716
Yeah, it's fixed in this pull request I opened a week ago:
https://github.com/FRRouting/frr/pull/2681

[2018-07-25 18:09] #2716 closed

[2018-07-25 18:58] qlyoung commented on #2674
Hey - just wanted to say I've seen this issue and want to nail down our process for cross compiling (and document it!), I just haven't gotten around to it yet. Did you manage to get it built?

[2018-07-25 20:02] qlyoung commented on #2713
Thanks, I've added this to the docs in #2729.

[2018-07-26 01:21] srimohans commented on #2194
I will be working on this bug

[2018-07-26 17:18] qlyoung commented on #2656
Root cause is a data race caused by deinitialization procedures in `SIGINT` handler made incorrect by introduction of pthreads
[code]

[2018-07-27 02:32] #2713 closed

[2018-07-27 05:15] vishaldhingra commented on #992
I am working on this issue.

[2018-07-27 06:39] patrasar commented on #2363
Started working on this issue

[2018-07-27 07:37] patrick7 opened #2738 "RPKI cosmetic issues"
Some not really critical issues:

[code]
-> 2 spaces are used for the indentation. All other sections use 1 space.

[code]
-> Why every command needs to start with rpki in the rpki section?

[code]
-> Is the exit needed? No other section has an exit.

[2018-07-27 11:03] patrick7 opened #2740 "CIDR style for all prefixes"
Some prefixes (Class A,B,C) in show bgp / show ip route are not shown as CIDR.
Probably it would be a good idea to change that, as classes are obsolete for a long time now.

[2018-07-27 13:23] bisdhdh commented on #2680
This is the mechanism followed in FRR to avoid running of second instance of the demons :-
 
1. Create/open a pid file for each demon invoking it
2. Lock the file.
3. Write the pid into the file.
4. Now if someone decides to start a second instance of the demon, it would fail in the above 2nd step.
 

 
The routine that does this job is being called from all the frr demon running in my VM.
 
 
_ro

[2018-07-27 13:26] patrick7 opened #2741 "Increase prefix table"
For longer IP prefixes, the table is too small:

![fra1 root cr1 - terminal_026](https://user-images.githubusercontent.com/24757877/43323205-44ac31c4-91b1-11e8-9e47-795480c55b0d.png)

Especially with IPv6 we should increase the size of that table.

[2018-07-27 15:02] donaldsharp opened #2744 "BGP rfapi uses table.c knowledge"
The BGP rfapi code uses internal knowledge of the table.c route_node data structure to do some units of work.  This will prevent us from modifying the table.c code to something more efficient/different in the future.

I'd like to have someone investigate this and figure out why the normal table.c operations are insufficient and move this implementation into table.c or convert the rfapi code to use

[2018-07-27 15:04] donaldsharp commented on #2680
1) I'm not terribly concerned about watchfrr at this point in time.  But I won't complain if this is not fixed by a bit of work either

2) Moving around this check is fine imo, but please be careful, we have had instances of moving startup code around and causing other issues.  So please be aware that there are a lot of use cases on startup we need to make sure we don't accidently cause problems f

[2018-07-28 09:32] jhiggins-NZ commented on #2287
@donaldsharp I've experienced the same result, on your branch.

Neighbour entries are not installed by nhrpd.

[2018-07-28 14:03] louberger opened #2747 "coding conventions script is misreporting a removal of non-conforming code as error"
see #2448

105c121
< #577: FILE: /tmp/f1-15243/ospf_opaque.c:577:
--

[2018-07-28 14:16] #2653 closed

[2018-07-30 04:59] ppmathis commented on #2738
@patrick7 Thanks for opening this issue! The current implementation of the RPKI module indeed deviates from the usual FRR code and CLI style, e.g.: double spaces, explicit exit command, underscores in config attributes, [...]

I'm working on a recode which will remedy those and some other issues. You can expect a PR against FRR master in the next few days, also there's a WIP branch on my fork (rpk

[2018-07-30 06:52] kssoman commented on #2093
Tried the following configuration using build stable/4.0 ,  the issue could not be reproduced

Please provide the detailed configuration and the exact steps to reproduce the issue

Please find the logs below:

                A --------------------------------------------- B

Router A
----------

dev#  show version

FRRouting 4.0-MyOwnFRRVersion-gb63506f (dev).
Copyright 1996-2005 Kunihiro Ishigur

[2018-07-30 08:38] mroethke commented on #2738
Thank you for working on the issues of the rpki module, however as one of the authors of said module I would have preferred having them pointed out during a review, especially because this is a learning experience for me.

After taking a quick look at the current state of your changes I would furthermore like to point out that making breaking changes to the rpki code several releases after it's in

[2018-07-30 11:15] eugenepaniot commented on #1578
I have the same issue in my LAB with "FRRouting (version 5.1-dev)."

[2018-07-30 11:37] eqvinox commented on #2738
@mroethke I understand your position (I assume you are a student?), but you also need to learn how to coordinate and live with other people. The reality is that for any code you contribute to an open source project, you have to expect other people sending in changes—or even a full rework—at any random point in time.

Even more importantly, **being able to review and evaluate other people's changes

[2018-07-30 14:03] ppmathis commented on #2738
@mroethke Thank you for your comment. As @eqvinox already said my intention was not to belittle your work in any way. I am glad that someone started with implementing RPKI and the basic functionality/core of it is also represented in my code, even though it may look totally different at a quick glance.

I however noticed that it contains many concepts that do not fit in to the general style of FRR

[2018-07-30 15:07] lamehost opened #2750 "Redistribute IGP labels to/from BGP-LU (feature request)"
Hello,

As [discussed by email](https://lists.frrouting.org/pipermail/frog/2018-July/000238.html), redistribution of dynamic (for instance IGP) MPLS labels to _address-family ipv4 labeled-unicast_ is not supported.

This is a feature request to tempt somebody from the community or the development team to work on it

Thank you

Regards

[2018-07-30 20:10] srimohans commented on #2194
@javcasalc

I have a similar setup with Router reflector configured. Tested for route types 2, 3, 5 and I don’t see any issues in my setup and route reflector does exchange all the routes as expected..

Trying to understand more on the issue & setup and I have the below questions.

1.	What does Type: EVPN-Nat mean ? which EVPN Route type it maps to ? I don’t see that this maps to any of Route Type

[2018-07-31 06:59] javcasalc commented on #2194
EVPN-Nat routes include information about nat-ted openflow endpoints. I think is a non-standard implementation made by Nuage/Nokia SR-OS. Let me check it.

Thanks for your help.
Javier.

[2018-07-31 10:09] bisdhdh commented on #2675
@pautiina
As per the configuration you had given, this is how the network should look like.

              ____________(10.10.10.0/27) VLAN781  ______________
              | .33                        |.34              .35|  <- n/w is running OSPF
            [ RS1]      *                 [RS2]         *     [RS3]
              |.8                          |.9               .10|   <- n/w is NOT r

[2018-07-31 12:56] donaldsharp commented on #2738
@ppmathis -> We have a active maintainer of the RPKI code, namely @mroethke, I would expect you work with him on any massive rewrites of the code.  I see surprise on his end about this drop of information, I would hope that any work done here can be done with the direct involvement of him.  I try to do the same thing whenever I touch code being actively maintained.  We should set up a culture of t

[2018-07-31 15:10] donaldsharp commented on #2724
Do you have import-check turned on/off? or actually have a static route.

[2018-07-31 15:17] donaldsharp commented on #2741
we would prefer a `wide` argument on the command to allow for auto column adjustment( either a new terminal option or add on to the command )

[2018-07-31 15:27] donaldsharp opened #2757 "Ensure all daemons handle vrf delete/ create events properly"
Each daemon thta is vrf aware needs to be checked for proper handling of delete/new vrf evetns for the same vrf name

[2018-07-31 15:31] #2656 closed

[2018-07-31 16:52] patrick7 commented on #2741
@donaldsharp Do you mean something like

`show bgp ipv4 neigh 1.2.3.4 received-routes wide
`
or
[code]
?

I prefer the second one.

[2018-07-31 17:40] netravnen commented on #2194
@javcasalc Would it be possible for you to capture the BGP update messages relevant to EVPN route type 'EVPN-Nat' received on in incoming interface on the host running FRR-RR ?

Was looking at [VPN Route Types][0] and [draft-ietf-bess-dci-evpn-overlay][1] (co-authored by Nokia people). Thinking it is maybe (!) still an IETF draft document which Nokia has implemented in SR OS.

[0]: https://www.ian

[2018-08-01 07:44] kssoman commented on #2493
looking at the issue

[2018-08-01 16:16] flaurencin opened #2768 "type 2 routes in l2vpn evpn vxlan not created"
Hi,

In advance thank a lot for your help.

___
# My case
___
I'm running version 5.1 dev g3a9a03d.

## Environment
I don't know what I'm doing wrong but here is my understanding. In case I vant to have L3VNI I have to create the vxlan/vni interface and the bridge attached to it. For isolation reasons I'd like to have a different VRF for each bridge.

So For my test I have:
[code]
Which I create w

[2018-08-01 16:42] srimohans commented on #2194
@javcasalc Thanks for the quick reply. I still didn't find any relevant IETF draft on this. But as @netravnen suggested, may be the packet dumps can reveal on why FRR BGP is not processing these packets on the RR. Please provide this if possible. Let us know. Thanks.

[2018-08-01 19:45] netravnen commented on #2194
@ghankins: Would you perhaps have any input to this issue?

[2018-08-02 00:13] srimohans commented on #2394
@shibumi
1) Could you please provide the BGP logs  for this issue ?
2) Did you observe this more than once  and if so any particular steps to reproduce this issue ?
3) if you are trying to reproduce this issue, could you please enable the below bgp flags and enable debug level for the logs ?

debug bgp neighbor-events
debug bgp nht
debug bgp update-groups
debug bgp updates in
debug bgp updates out

[2018-08-02 10:30] flaurencin commented on #2768
Ok My bad I clearly misunderstood at the same time L2vpn evpn and the interaction between netlink and Zebra.

Now I get it when you have an L3vni it means you can advertise mac-ip or just ip.
If you have an L2vni then you can advertise only MAC addresses and links.

To determine this Zebra will check the bridge attached to the VXLAN VNI and if it handles any kind of L3, it will turn it from L2 to

[2018-08-02 10:30] #2768 closed

[2018-08-02 15:28] jfloret commented on #2626
Hello @Jafaral , sorry for the delay. In fact, I missed that before but it seems that the bug occurs when an interface is renamed.
In our test:
- we configure the 'ntfp2' interface with an ipv4 address
- then unconfigured and renamed with a temporary name '_pci-b0s5'
- then add an ipv6 address
- then rename the interface to ntfp2 again
[zebra_log.txt](https://github.com/FRRouting/frr/files/2254081

[2018-08-02 20:11] bessa opened #2776 "Incorrect kernel neighbour installed with unnumbered BGP"
Its bit different than issue #2205.

Here its more depending on linux kernel used
test bed is ubuntu 17.10, FRR 5.0.1, unnumbered BGP over GRE tunnel

 kernels older than 4.14.16-041416-generic
[code]

As the 169.254.0.1 is unknown to the kernel, the kernel wont properly insert the received BGP routes.

[2018-08-03 09:06] shibumi commented on #2394
Hello @srimohans Thanks for the output. I have solved this issue already by my self. The BGP config that I have deployed via template from ansible was wrong. I will close this issue.

[2018-08-03 09:06] #2394 closed

[2018-08-03 16:14] srimohans commented on #2394
@shibumi Thanks for the quick update.

[2018-08-03 18:06] sredman opened #2786 "ospf6 does not add routing rules if subnet differs on link"
Hello,
I can't tell if this situation is the result of a bug or the result of a unsupported configuration

I have a network running in a testbed of x86 nodes, all running FRR, which looks like this:

  +----+   +-----+   +----+   +----+
  | N1 <---> OVS <---> N2 <---> N3 |
  +----+   +-----+   +----+   +----+

The OVS is configured as a passthrough (not running FRR), so is probably irrelevant for

[2018-08-05 20:05] pautiina commented on #2675
@bisdhdh You correctly described the topology of my network, but there is a conflict with another static route:
[code]
and show ip route on other RS:

[code]
It turns out that when you specify a static route other than the default route on all versions of the FRR, the route is set correctly, provided that there is a available next hop.

I believe that there is a mistake.

[2018-08-06 06:01] #2654 closed

[2018-08-06 07:08] kssoman commented on #2346
I will look at the issue  in the master build and also stable/4.0 build

[2018-08-06 12:35] kssoman commented on #2493
please mark the issue as enhancement

[2018-08-06 13:13] bisdhdh commented on #2675
@pautiina

It looks like you had change the "default static route" configured on RS1 to only "static route".  I had verified the same configuration below but i didn’t see any change in the behaviour from the previous one. I am running latest master FRR code.

RS1 >

Current configuration:
!
frr version 5.1-dev-MyOwnFRRVersion
frr defaults traditional
hostname dev
log syslog informational
service i

[2018-08-07 10:29] flaurencin opened #2796 "bgpd cpu usage grows dramatically when vtysh is running"
Good Morning,

I'm using version 5.1-dev -> g3a9a03d and suddenly realized that my virtual lab was CPU loaded.
After a quick review whenever vtysh is opened bgpd  meets a kind of race condition.

[code]

in strace I have tones of those events :
[code]

As soon as I leave vtysh all goes back to normal operations.

Kind regards,

[2018-08-07 11:46] Rosiak opened #2797 "Feature Request: Ability to filter "show ip route" output"
Hi,

Would be nice if it could be possible to do:
show ip route | grep 10.x.x.x

Currently it is not possible to pipe the output to grep/include/etc.

Thanks!

[2018-08-07 12:05] ton31337 commented on #2797
why don’t use vtysh -c ?

[2018-08-07 12:38] Rosiak commented on #2797
Oh, wasn't aware of that option - thanks!

[2018-08-07 12:38] #2797 closed

[2018-08-07 15:18] eqvinox commented on #2776
Hi @bessa, can you add some more description about the whole setup, including the configuration & what daemons are running & what routes the neighbors are used for?

It's obvious something is going wrong but we need quite a bit more information...

[2018-08-07 15:29] eqvinox commented on #2205
It is indeed incorrect and a bug to derive the APIPA MAC from the IPv6 address. That said, I can tell you why this is currently implemented this way: it's impossible to get the ethernet header for received IPv6 packets without bypassing the entire IPv6 stack.

The better/correct alternative would be to retrieve the MAC address from the IPv6 neighbor entry, i.e. read it from the neigh table.

[2018-08-07 15:35] eqvinox commented on #2205
code reference:
https://github.com/FRRouting/frr/blob/6e6b03c0dc272a2ca7337f5f9970052ee3709e2b/zebra/interface.c#L818
`ipv6_ll_address_to_mac()` needs to be incinerated

[2018-08-08 05:00] vishaldhingra commented on #992
It seems to be working fine in below FRR version:
dev# show version
2018/08/07 21:59:51 unknown: cmd_execute_command_real : Func=show_version_cmd

FRRouting 5.1-dev-MyOwnFRRVersion-g972388d-dirty (dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-5.1-dev-316-g972388d-dirty

[2018-08-08 08:59] vishaldhingra opened #2802 "vrf aware routmap is missing in Zebra"
`vrf gREEN`
`ip protocol XXX route-map blue`

[2018-08-08 09:00] vishaldhingra commented on #2802
I am working on it and will add the support for it.

[2018-08-08 12:15] bessa commented on #2776
Hi @eqvinox , I got straight forward configuration with just BGP/Zebra daemons, it seems the issue is only impacting the unnumbered BGP over L3 tunnel "ex: GRE" interfaces that doesn't have a mac address.

[code]

[2018-08-08 12:17] kssoman commented on #2381
i am looking at the issue

[2018-08-09 05:17] bisdhdh commented on #2786
This should be a BUG in ospfv3. As per OSPFv3 RFC says that two routers can share OSPFv3 packets over a link with multiple defined subnets, even if the two routers are not on the same subnet.

[2018-08-09 06:37] patrasar commented on #1636
I am working on this issue

[2018-08-09 06:37] patrasar commented on #1740
I am working on this issue

[2018-08-09 08:08] patrasar commented on #1740
Hi,

I tried the scenario with FRR and use of static route, but not able to reproduce the issue.
Please find the logs as given below.

=======================LHR========================

dev# show running-config
Building configuration...

Current configuration:
!
frr version 5.1-dev-MyOwnFRRVersion
frr defaults traditional
hostname dev
log syslog informational
ip pim rp 40.0.0.1 224.0.0.0/4
servic

[2018-08-09 08:32] bisdhdh commented on #1601
  @nevzorofff
 
I tried verifying this behaviour with two FRR virtual routers(running FRR master 5.2 ), connect via two different ip4 links. I had let the adjacency  come up in both the links.
 
[code]
 
  
**After that I played with the MTU i.e changed it from 1500 -> 1600. I saw ospf at the other end could detect the change in MTU and adjacency was torn down.**

[code]
 

[code]
 

[code]

**Now

[2018-08-09 16:09] HaasCM commented on #1740
Hi patrasar,

What kernel version are you using? I was able to resolve the issue by updating my kernel version; it seems the FRRouting team has pushed a lot of multicast changes to the upstream kernel. Upgrading to a kernel version that's been released within the last year should solve the issue.

[2018-08-09 18:18] rzalamena opened #2813 "`zebra`: rare assert on mpls part shutdown"
It has been noticed that sometimes `zebra` asserts during the shutdown on the MPLS code teardown, since it is uncommon and test runs are usually "retried" we don't have log on all occurences. If you have FRR CI system e-mails saved you may search for: `test_ldp_vpls_topo1 `.

The assert happens only on `zebra` shutdown and I've seen it happen on `4.0` and `master` branches, usually in the `ldp-vpl

[2018-08-10 05:48] kmunshi97 opened #2816 "Error: libjson.c.so.2"
When I try to make for OpenWRT  the build fails stating:
` libjson.c.so.2: cannot open shared object file: No such File or Directory`

The libjson.c has been upgraded to v3 and this project has a dependency on v2, which is no longer in use. Kindly fix this.

I downloaded the older version from here:
https://packages.ubuntu.com/search?keywords=libjson-c2

and then, dpkg -i libjson-c2_0.11-4ubuntu2_

[2018-08-10 11:35] bodleytunes opened #2819 "python or rest API?"
Hi,

This isn't an issue, more of a question, but I was wondering if there is a way to control FRR other than from the cli, either via some means like REST, python or unix socket, even bash?

I was hoping to use something like Dpinger to check a link quality by pinging something remotely and then based on a threshold, tell FRR to make a change to IBGP to signal an upstream router to change a next

[2018-08-10 14:32] rzalamena commented on #2819
Hi @bodleytunes ,

There is no such thing yet, but here are two suggestions:

* Short term: use `vtysh -c "<command>"`, but if it is not enough you may write your FRR script of commands to a text file and load it with: `vtysh -f <your-frr-script-file>`.

* Long term: the FRR northbound interface is being implemented, the CLI and everything else is going to use it. You will be able to create progra

[2018-08-10 14:49] bodleytunes commented on #2819
Brilliant thanks for the heads up.  I will just use the vtysh -c commands
for now.

Cheers,
Jon.

On Fri, 10 Aug 2018 at 15:32 Rafael Zalamena <notifications@github.com>
wrote:

[2018-08-10 18:05] #2819 closed

[2018-08-11 15:50] bisdhdh commented on #1431
@ JuergenKammer
 
I was looking into this issue and tried recreating the same on the latest FRR master. On the FRR master, I don’t observe the bug you had reported on 3.0 version.

        [ RS1] - - - - - - - - - - - [RS2]
                      [NW1]   |        |
                              |        |    [NW2]
                              |        |
                              ------ [RS3]

[2018-08-11 17:55] bmullan commented on #1780
@bodleytunes - did you ever get FRR working with unprivileged LXD containers?   I'm curious because I'd like to try this out also but don't want to duplicate work done by others where possible.

brian

[2018-08-12 11:29] aderumier commented on #2460
@donaldsharp @louberger

Hi, do we have some news of kernel dev about this bug ? Any reference of the kernel bug ?

[2018-08-12 11:41] aderumier commented on #2538
@TekunoKage

We are currently implementing frr and evpn-bgp in kvm/proxmox hypervisor.
here the doc (based on debian, and ifupdown2 configuration)
https://git.proxmox.com/?p=pve-docs.git;a=blob_plain;f=vxlan-and-evpn.adoc;hb=HEAD

maybe it can help you.

[2018-08-12 22:02] louberger commented on #2460
It should be in a forthcoming version of the kernel

https://patchwork.ozlabs.org/patch/931179/

4.14.57 https://lkml.org/lkml/2018/7/20/544

4.17.9 https://lore.kernel.org/patchwork/patch/965438/

Lou

On 8/12/2018 7:29 AM, alexandre derumier wrote:

[2018-08-13 08:04] patrasar commented on #1740
root@dev:~# cat /proc/version
Linux version 4.4.36-nn3-server (root@ubuntu) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4) ) #nn3 SMP PREEMPT Thu Apr 13 08:23:18 PDT 2017
root@dev:~# vtysh

Hello, this is FRRouting (version 5.1-dev-MyOwnFRRVersion-g46a9c3a-dirty).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

This is a git build of frr-5.1-dev-390-g46a9c3a-dirty
Associated branch(es)

[2018-08-13 08:06] patrasar commented on #1740
Hi mTaleqani,
Can we close this issue since this issue is not reproducible.

[2018-08-13 08:45] JuergenKammer commented on #1431
Thank you for looking into this. I noticed that several patches in ospf6d ECMP handling were made in the meantime... maybe the bug was solved by them.
Will retry myself with a newer version than 3.0 and report here. If I can not reproduce the bug, I'll close the issue.

[2018-08-13 09:40] patrasar commented on #1636
Hi AdrianBan,

We can remove the below commands as internally it does not do anything, by default these are already enabled on FRR.

- ip forwarding
- ipv6 forwarding
- ip multicast-routing

The below interface context command only enables pim sm on that particular interface and it is a hidden command.
interface XXX
- ip pim ssm

I have verified the command "ip pim ssm prefix-list ssm-range" on FR

[2018-08-13 12:10] #1740 closed

[2018-08-13 15:14] Jafaral commented on #2626
@jfloret sorry I missed you reply as well. I will continue working on this issue and let you know

[2018-08-13 15:25] Jafaral commented on #2786
In the current code there is no directly connected subnet check for neighborship to bring up.

@bisdhdh can you please enable adjacency logging ?
under router ospf6:
[code]
Please provide the output of the following commands:
[code]
Thanks!

[2018-08-13 15:44] TekunoKage commented on #2538
@aderumier

Thanks for the examples! My idea is also with Proxmox as hypervisor, so that was greate.
That make me confirm that what I'm trying to achieve could be a more broad need. May be we can exchange ideas to make it happen.

[2018-08-14 01:37] rwestphal commented on #2813
This issue is really intriguing. I tried to reproduce it locally but no success.

Here's the full crash report from topotest (taken from your link):
[code]

The absence of any entry for VRFs in the memstats indicates that the default VRF was indeed deleted before calling `work_queue_free_and_null(&zebrad.lsp_process_q)` in the sigint handler. But how could that happen? This is really strange.

@rz

[2018-08-14 02:02] rzalamena commented on #2813
@rwestphal here they are:

[r2-zebra-20180809-100908.log](https://github.com/FRRouting/frr/files/2285247/r2-zebra-20180809-100908.log)

[r2-zebra-20180809-100908.err.txt](https://github.com/FRRouting/frr/files/2285249/r2-zebra-20180809-100908.err.txt)

You can find the rest of the files here:
https://ci1.netdef.org/artifact/FRR-TOPOPR/T4B/build-324/TestExecutionLogs/test_ldp_vpls_topo1

Note: `ldp

[2018-08-14 14:52] mwinter-osr opened #2835 "RPKI Parser/Config issue"
Seen with latest RPKI package build from https://ci1.netdef.org/browse/FRR-RPKI-362/artifact

Installing new package, no previous configuration. Enabling RPKI module:
`/etc/frr/daemons.conf` change BGPd line to `bgpd_options="   --daemon -A 127.0.0.1 -M rpki"`

Go into vtysh, Config and RPKI, then exit again:
(Note: Need to do TWO exit from the rpki mode. Looks something went wrong there)

[code]

[2018-08-14 15:16] donaldsharp commented on #2835
@mroethke have you seen this?

[2018-08-14 16:19] ajones-rvbd opened #2836 "bfdd merge breaks alpine build"
This commit:

commit 6c705218232ce1513b2a43fa4e2307cc378a52f1
Merge: 4354a8052 d6853655b
Author: Donald Sharp <sharpd@cumulusnetworks.com>
Date:   Tue Aug 14 08:57:44 2018 -0400

    Merge pull request #2294 from opensourcerouting/bfd-final

    bfdd: add BFD support

Is causing this build failure for alpine linux:

build	14-Aug-2018 13:03:35	[91mbfdd/bfd_packet.c:86:11: warning: initialization m

[2018-08-14 16:44] rzalamena commented on #2836
I'll look into it.

[2018-08-14 17:52] sredman commented on #2786
@Jafaral I'm not sure if you meant to tag me, but I have made the change to the config file and attached the command outputs

I have updated all of the nodes to Ubuntu 18.04/FRR v5.0.1 to see if that helped. I don't see any difference.

Does `log-adjacency-changes detail` only work on FRR v4? It is giving me `2018/08/14 11:32:49 OSPF6: ERROR: No such command on config line 12:   log-adjaceny-chang

[2018-08-14 18:43] rzalamena commented on #2836
Please review this PR and tell me if it solves this problem: https://github.com/FRRouting/frr/pull/2838

[2018-08-14 18:59] ajones-rvbd commented on #2836
Thank you!  Will test now...

[2018-08-14 21:08] rzalamena commented on #2836
Hi @ajones-rvbd ,

Thank you for your patience, I've pushed a new solution and I've tested it myself on a VM.

I'm surprise you didn't find the other problems (or I didn't have the proper packages installed):

* There is an bad include which is using the system queue header instead of FRR's which caused my compilation to fail ( https://github.com/FRRouting/frr/blob/master/lib/csv.c#L25 );
* There

[2018-08-14 23:06] eqvinox opened #2842 "logging deadlock on SIGUSR1 due to mutex"
when sending `SIGUSR1` and the log file cannot be reopened, all daemons deadlock:

[code]

The code is attempting to take `loglock` twice, once in `zlog_rotate`, then in `vzlog`.

[2018-08-15 16:37] #2740 closed

[2018-08-15 20:59] rzalamena opened #2847 "bgpd: memory leak on show command"
I've been running topotest with address sanitizer and I recently found this in my `bgpd` log file:

[code]

It seems there is a loop[1] which leaks a JSON object every time there is a route which doesn't meet some conditions. If the `display` variable is not incremented here[2] it won't call `json_object_free` here[3].

[1]: https://github.com/FRRouting/frr/blob/master/bgpd/bgp_route.c#L8194
[2]:

[2018-08-16 00:57] aderumier commented on #2538
@TekunoKage
sure, please contact me on pve-devel@pve.proxmox.com. I'm already in contact with 2 others guys interested by vxlan && evpn bgp implementation in proxmox.
ifupdown2 is already available, but frr package not. frr 5.0.1 should be ready at the end of the month in proxmox repo.

[2018-08-16 04:41] patrasar commented on #2626
Hi,

The issue is not  reproducible on latest 5.1. Please find the logs as given below.

root@dev:~/frr_new# ifconfig
docker0   Link encap:Ethernet  HWaddr 02:42:32:e1:46:a7
          inet addr:172.17.0.1  Bcast:0.0.0.0  Mask:255.255.0.0
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overru

[2018-08-16 05:30] patrasar commented on #2847
Started working on this issue.

[2018-08-16 08:01] kssoman commented on #2381
Please provide dummy1 details

[2018-08-16 09:10] patrick7 opened #2851 "ip/ipv6 {large,ext}community-list, as-path, ..."
Some lists are configured under the "ip" section, even if it's possible to use them with IPv6.

- as-path
- community-list
- extcommunity-list
- large-community-list

In my opinion that's confusing and we should find a better place to configure them.

[2018-08-16 10:18] cfra commented on #2816
@kmunshi97 can you give a bit more details on how you are performing your OpenWRT build?

[2018-08-16 12:48] cfra commented on #2674
It is giving an error message detailing what to do:

So to address this, when you are in the `frr` dir, run:

[code]

You might run into other cross-compile issues, but this should address the error message you are seeing

[2018-08-16 14:51] #2836 closed

[2018-08-16 15:00] rzalamena opened #3729 "bgp_multiview_topo1: possible timing issue"
It was observed that this test failed on a ocasion due different output order:
https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPOU1604-4873

Fix suggestions:
* Use the JSON output version to compare;
* Add yet another template to match;

Error messages:

[code]

[2018-08-16 16:16] mjstapp opened #2853 "staticd: exits if no config file is present"
If no config files are present, staticd will exit() shortly after it starts. Other daemons don't exhibit this behavior - they just start up. I encountered this in a sandbox vm, where I had cloned and built frr from source, but I had not run 'install'. It turns out that staticd does something a little unusual, as part of the zebra->staticd transition I suppose. Here's an outline:

static_main.c:mai

[2018-08-16 20:51] pautiina commented on #2338
@rwestphal have any news about:
`ifam_read() doesn't read all socket data`

[2018-08-17 06:16] patrasar commented on #2847
Hi rzalamena,

Thanks for raising the issue, but the analysis you provided in the above comment section doesn't seem to be a memory leak.
Please find my investigation as given below.

Root Cause: In the function bgp_show_table(), we are creating a
    json object and a json array with the same name as “json_paths”.
    First it will create a json object variable "json_paths" pointing
    to the me

[2018-08-17 08:58] patrasar commented on #2851
Started working on this

[2018-08-17 22:36] altf4arnold opened #2861 "ip prefix-list filter"
I'm using frr for BGP in DN42 (wich use private ip subnets)
For whatever reason, if I apply any filter on a bgp peer, I won't install any routes.

If I do a ``show bgp ipv4 unicast sum`` ,I can see that it receives the routes, but even with a prefix-list that contains only the rule : `` ip prefix-list test seq 10 permit any `` , it will still have the same problem.

the build is : frr-3.0.3-11-g4b

[2018-08-18 09:45] mdash-vmware opened #2863 "Stack does not accept ASN number in ASDOT format."
frr version 5.0.1

FRR-1(config-router)# neighbor 192.168.1.11 remote-as 65535.65535
% Unknown command: neighbor 192.168.1.11 remote-as 65535.65535
FRR-1(config-router)#

[2018-08-18 09:51] mdash-vmware opened #2864 "FRR does not support Enhanced Route Refresh Capability [Code 70]"
We need to enhance the feature to support Enhanced Route Refresh Capability

2018/08/18 09:48:31 BGP: 192.168.1.11 unrecognized capability code: 70 - ignored

[2018-08-18 10:28] mdash-vmware opened #2865 "Creating Loopback Interface Flaps BGPd, it should update the Router ID in Next Restart only."
[code]

[code]

Yes Updating Router ID would Flap the BGP, that is expected but not just creating the Loopback Interface, the Router ID shouyld take effect (Loopback Interface) once the BGP is Flapped manually, it should take effect in next BGP restart.

[code]

[2018-08-18 11:45] mdash-vmware opened #2866 "BGP sends GR (Graceful Capability) even though GR is not enabled"
FRR-1# show running-config
Building configuration...

Current configuration:
!
frr version 5.0.1
frr defaults traditional
hostname sc2-hs2-potdarp-dhcp-234.eng.vmware.com
log file /var/log/frr/frr.log
hostname FRR-1
service integrated-vtysh-config
!
debug zebra events
!
interface lo
 ip address 11.11.11.11/32
!
router bgp 65535
 neighbor 192.168.1.11 remote-as 4294967295
 !
 address-family ipv4 un

[2018-08-18 17:44] patrick7 commented on #2319
I think this one has been fixed :-)

[2018-08-18 17:44] #2319 closed

[2018-08-19 15:43] bestgen opened #2869 "Usage help of FPM function of Zebra"
I'm using FPM function to send FIB to a software-based fast path. I configured frr with "--enable-fpm", added the fpm.h to the netlink server codes of the fast path project and then started the server. But the fast path netlink server cannot get any route message. I try to use the fpm debug function (with debug and information level) in zebra vrf but it return no message at all.
As the user docume

[2018-08-20 08:27] kssoman commented on #2866
I am looking at the issue

[2018-08-20 08:28] kssoman commented on #2865
I am looking at the issue

[2018-08-20 14:52] Jafaral commented on #2786
Thanks @sredman!   working on it

[2018-08-20 15:29] dmbaturin opened #2871 "Unable to create a route in a non-default table despite VRF backend set to netns"
Running FRR from master, I'm trying to create a route in a non-default table for PBR, but it fails.

I've added the -n option to /etc/frr/daemons.conf and verified that it indeed runs with -n:

[code]
However, when trying to insert a route, I still get this error message:

[code]

[2018-08-20 17:33] rwestphal commented on #2866
Looking at the source code, it seems this was done on purpose (_Sending base graceful-restart capability irrespective of the config_):

[code]

I have no opinion whether we should change this or not, but I tend to think that sending the capability by default is a good idea.

[2018-08-21 10:41] patrasar commented on #2847
I was running valgrind to see this memory leak, but i am not get this leak in the generated  valgrind report.
Could you please help me in running the address sanitizer on frr

[2018-08-21 12:28] donaldsharp opened #2880 "Remove the ospf_apiserver and ospfclient"
https://lists.frrouting.org/pipermail/dev/2018-August/001384.html

[code]

[2018-08-21 13:43] #2880 closed

[2018-08-21 13:43] donaldsharp commented on #2880
Looks like people are using it.

[2018-08-21 13:44] vjardin commented on #2880
I do confirm some people are using it. The connect some topology monitoring systems on this OSPF API.

[2018-08-21 15:11] donaldsharp commented on #2851
Just remove the ip part of the command

[2018-08-21 15:15] #2863 closed

[2018-08-21 15:17] donaldsharp commented on #2864
Addedt ofeature request page

[2018-08-21 15:18] mdash-vmware commented on #2863
Yes Donald, I agree this is another method to configure, but My argument is why not to support the same as well? What wrong in providing another method to configure?

-Manas

[2018-08-21 15:21] eqvinox commented on #2866
I think this might be because the feature flags are separately added per AFI/SAFI below or something, and without the flags the capability shouldn't do a whole lot (?)... I vaguely remember this behaviour being commonplace (or even suggested in the RFC?)

(But this is only hearsay memory in my head.)

[2018-08-21 15:25] mdash-vmware commented on #2866
HI David, This is not correct, IMO.. We should not send the capability where as Config is not enabled.
In some scenarios some Interop case it creates Issue, I have some observations on the same as well.

Will add more details and observations soon.

-Manas

[2018-08-21 16:41] mdash-vmware commented on #2866
I guess we are missing the reported Issue here, The RFC tells about capability to send or not when config is enabled "even if the speaker does not have the ability to preserve its forwarding state"

But the Issue reported is why we are sending the GR capability in Helper mode and stating that not capable of preserving FW state, where as Config is not enabled, in some scenarios it can mislead neigh

[2018-08-21 17:28] bestgen commented on #2869
Hi @rwestphal and thanks for your reply.
I read the documents before and roughly understand how the FPM works. I understand the codes above works as a client and a netlink server. In my case, these two programs, which belong to FRRouting and OpenFastPath, works in the same way.

[](https://github.com/FRRouting/frr/blob/stable/3.0/zebra/zebra_fpm.c)
[](https://github.com/OpenFastPath/ofp/blob/ofp_v

[2018-08-21 21:48] Jafaral commented on #2786
@sredman,
The "log-adjaceny-changes detail" command is under router ospf6

Can you also run:

```show ipv6 ospf6 route detail```

and validate the installed route and its nexthops

[2018-08-22 00:14] thebenanderson opened #2885 "Slack request"
Is it possible to add @oracle.com to the slack workspace? I have interest in joining and I know colleagues who have also expressed interest in this project.

[2018-08-22 00:33] donaldsharp commented on #2885
@thebenanderson send me your email address to me `sharpd at cumulusnetworks.com` and I'll get you in.

[2018-08-22 01:07] thebenanderson commented on #2885
Request sent. Thanks.

[2018-08-22 01:07] #2885 closed

[2018-08-22 03:43] lihongguang opened #2887 "Feature Request: candidate-RPs and candidate-BSRs configuration supports"

[2018-08-22 07:16] kssoman commented on #2866
Advertising GR capability is used for the following purposes as per RFC :

The first is to indicate its intention
of generating the End-of-RIB marker upon the completion of its
initial routing updates, as doing this would be useful for routing
convergence in general.

The second is to indicate its support for a
peer which wishes to perform a graceful restart.

A ------------------------ B

GR conf

[2018-08-22 07:47] ton31337 commented on #456
looks like this is solved

[2018-08-22 08:14] pguibert6WIND commented on #2871
this should help:
https://github.com/FRRouting/frr/pull/2888

[2018-08-22 08:20] pguibert6WIND commented on #2659
https://github.com/FRRouting/frr/pull/2879
work in progress.

[2018-08-22 08:25] ton31337 commented on #542
Looks like this is solved and works as expected. Metric greater than 16 is just silently ignored and route does not appear in rip/rib.

[2018-08-22 09:52] chsummers opened #2889 "BFD not working with OSPF?"
Hi, i'm testing BFD for rapid OSPF convergence but it seems to me OSPF daemon is ignoring BFD notifications.

This is what i get from BFDd:

[code]

BFDd seems to be working correctly, following peers up and down but OSPF neighbors and routes are not removed when BFD-enabled peer is down, only after the OSPF dead interval is expired.

Maybe there is something i'm doing wrong?

BR

[2018-08-22 12:57] kssoman commented on #2861
Tried the following configuration,  the issue could not be reproduced

Please provide the detailed configuration and steps to reproduce the issue :

          Router A -------------------------- Router B

Router A
----------

dev# show version
FRRouting 3.0.3-MyOwnFRRVersion-gUNKNOWN ().
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-3.0.3

router bgp 1
 neighbor 192.168.

[2018-08-22 14:34] pguibert6WIND commented on #2889
Hi @chsummers, is it possible to share the configuration you use, please?

[2018-08-22 14:53] chsummers commented on #2889
Sure thing, all IP have been redacted for privacy reasons.

interface xe1
 ip address $PTP_IP/31
 ip ospf bfd
 ip ospf network point-to-point
!
router-id $LOOPBACK_IP
!
router ospf
 ospf router-id $LOOPBACK_IP
 log-adjacency-changes
 passive-interface default
 no passive-interface xe1
 network $LOOPBACK_IP/32 area 0
 network $PTP_NET/31 area 0
 capability opaque
!
mpls ldp
 router-id $LOOPBACK_IP

[2018-08-22 14:54] rzalamena commented on #2889
Hello @chsummers ,

Thank you for your report, but I think we are going to need a little bit more information. I see that you have a properly configured BFD peer, however I did not see if the interface has the `ip ospf bfd` configuration.

Secondly: when I tested `bfdd` against OSPF I watched the output of `show ip ospf route` to see if the topology was fast converging or not. When BFD is disabled

[2018-08-22 16:54] rzalamena commented on #2847
This issue was fixed by: https://github.com/FRRouting/frr/pull/2890

I can confirm that I do not observe the leak anymore. Thank you @patrasar for fixing the problem!

[2018-08-22 16:54] #2847 closed

[2018-08-22 17:37] patrasar commented on #2363
Merged the fix into master.
https://github.com/FRRouting/frr/pull/2850

Can we close this issue?

[2018-08-22 17:43] patrasar commented on #2847
Thanks Rafael.

From: Rafael Zalamena <notifications@github.com>
Reply-To: FRRouting/frr <reply@reply.github.com>
Date: Wednesday, 22 August 2018 at 10:24 PM
To: FRRouting/frr <frr@noreply.github.com>
Cc: Sarita Patra <saritap@vmware.com>, Mention <mention@noreply.github.com>
Subject: Re: [FRRouting/frr] bgpd: memory leak on show command (#2847)

This issue was fixed by: #2890<https://na01.safelin

[2018-08-22 20:05] sredman commented on #2786
Routes and nexthops look good on N1 and N3, including the prefix change boundary for N1

For N2 it has an entry for the other prefix prefix, but nothing is listed under the Nexthop section (literally just a blank line). As might have been expected, the entries for the other two prefixes are normal

I think I don't understand what you mean by under router ospf6. Does it go in the config file? in wh

[2018-08-22 20:08] qlyoung commented on #2835
See PR.
@mwinter-osr what you are seeing in `list` is not a bug, those are variable bindings for clippy.

[2018-08-22 21:52] #2493 closed

[2018-08-23 07:50] patrasar commented on #1636
I have verified the pim ssm prefixlist configuration and booting up the system. Please find the logs as given below.

dev(config)# ip pim ssm prefix-list ssm-range
dev(config)# end
dev# exit
dev# show running-config
Building configuration...

Current configuration:
!
frr version 5.1-dev-MyOwnFRRVersion
frr defaults traditional
hostname dev
log syslog informational
ip pim ssm prefix-list ssm-range

[2018-08-23 10:46] #2363 closed

[2018-08-23 16:17] TekunoKage commented on #2538
I can't wait to see it at the repo...

Very Nice!

[2018-08-23 17:39] qlyoung commented on #2866
I believe FRR always sends End-of-RIB. Therefore it should always send the GR capability to indicate its intention to send End-of-RIB.

This is correct, and I agree that an explicit negation of the GR functionality in the config should cause the GR cap not to be sent.

I cannot imagine what kind of platform you are interoperating with that has an issue accepting GR and EOR? [RFC5492](https://tools

[2018-08-23 17:45] qlyoung commented on #2747
Should be fixed now

[2018-08-23 17:45] #2747 closed

[2018-08-23 17:50] #2835 closed

[2018-08-23 18:19] qlyoung commented on #2796
@flaurencin - I cannot find `g3a9a03d` as a git ref anywhere in this repository. Is this your own build?

[2018-08-23 18:25] qlyoung commented on #2816
@cfra can you please make a PR for that? Last time I tried to use the openwrt build docs I came up empty handed, they're really old.

[2018-08-23 19:18] bessa commented on #1780
Hi, I'm also interested in the multipoint to point unnumbered BGP "OSPF like :)", anyone found a way how to do it???

[2018-08-23 19:55] cfra commented on #2816
Yes, will do. I just worked with the person who submitted the original pull
request https://github.com/openwrt-routing/packages/pull/319 to get it
updated for 5.0.1. I am hoping to get that in and will then update the docs.

On Thu, Aug 23, 2018, 20:26 Quentin Young <notifications@github.com> wrote:

[2018-08-23 22:32] bodleytunes commented on #1780
never got it working in the end , sounds like its only designed for use on p2p connections for leaf and spine and such.   would be useful if you could do the same thing over a broadcast segment for containers to peer with the bridge/gateway and advertise their loopbacks.

In the end I just settle for using plain old ospf :(

[2018-08-23 22:37] bodleytunes commented on #1780
edit to say not technically a broadcast segment seeing as ipv6 don't broadcast!  im still stuck in ipv4 lingo-land lol

[2018-08-24 05:47] mdash-vmware commented on #2866
In that case I am ok to close this Issue... Thanks

-Manas

[2018-08-24 05:47] #2866 closed

[2018-08-24 07:13] pguibert6WIND opened #2899 "northbound config commands to return Error reference when something wrong"
from previous discussion on slack:
[code]

The above example illustrates a bit the need but need to be clarified more.

Complain 1)
Whatever the northbound config used ( yang or VTY), the user needs to know if the command(s) has/have been correctly executed ( and if something wrong, to know the reason). When something is wrong, currently, a print message is displayed. This print message must be re

[2018-08-24 08:29] pguibert6WIND opened #2900 "support for bgp vrf views"
Currently, it is only possible to create either bgp vrf instances or bgp view instances.
It should be possible to create [1-n] views per vrf.

[2018-08-24 11:38] kssoman commented on #2864
i can look at the issue

[2018-08-24 12:53] rgirada commented on #2360
Hi ,
I started looking into this issue , please assign it to my name .

[2018-08-24 17:02] AdrianBan opened #2904 "PIMD: intermediate router not showing neighbors and mcast routes"
Hi,

I'm trying to establish a multicast network between 3 routes.
The setup is like this: IPTV source to 232.0.0.0:1200, out eth0.4090 -> in VLAN 4090, Cisco C3560G-R3, out VLAN 913 -> in eth2.913, FRR router R1, out tun11 -> in tun0 R10 -> out br0.
I thought that one of the problems could be the IPIP tunnel, but I've tried with VXLAN also. The strange behavior is that R10 sees the R1 as neighbor

[2018-08-24 17:10] donaldsharp commented on #2904
We need to figure out why FRR-R1 has no pim neighbors, and where is the config for eth0.4090 in FRR as well?  Additionally it's weird FRR-R10 believes it does have a neighbor in FRR-R1.  Do you happen to have VRF's setup?

on FRR-R1:
`show ip multicast`

[2018-08-24 17:59] akw28888 opened #2905 "Routing Table is not working"
Hi,

I'm using FRR 5.0 on CentOS 7 now, but I have some issue with it.

I've set "table 105" on FRR, that means the route will export to table 105.
But the routes that received from BGP are still export to default routing table.

Config:
[code]

[2018-08-24 18:49] bessa opened #2906 "BGP dynamic listen under VRF"
For some reason, it seems the BGP dynamic neighbors doesn't work while configured under VRF.

However, static BGP neighbors works under VRF.
Dynamic listen neighbors works under non VRF.

Is that feature supported ?

Thanks

[2018-08-24 20:29] srimohans commented on #2230
Analysis

**1st Scenario: Configure static route followed by configuration for BGP.**
1)  A Static/Blackhole route is configured by use which will get added to RIB. (0.0.0.0/0 with admin distance 200). This will be selected as best route in RIB and also will get downloaded to FIB.
2)  When BGP is configured and when redistribute command is issued (“redistribute static”), RIB sends a notification t

[2018-08-24 20:42] pguibert6WIND commented on #2906
Hi @bessa, can you please precise which VRF are you using ? ( are you launching zebra without '-n' parameters ?)

[2018-08-24 20:43] pguibert6WIND commented on #2871
Hi @dmbaturin, please retry the testing.
I think this issue should be fixed now.

[2018-08-24 20:47] dmbaturin commented on #2871
@pguibert6WIND It appears to work fine now indeed, thanks for the fix!

[2018-08-25 03:57] baughj opened #2912 "bgpd/zebra: bgpd routes not distributed to kernel (FreeBSD)"
I am testing FRR 5.0.1 (we currently use Quagga for several border routers) in a local testbed, configured extremely simply. `router1` external interface is directly connected to `router2` over the 10.255.255.0/24 network; router1 is `10.255.255.1` and router2 is `10.255.255.2`. Both systems are running FreeBSD 11.2.

## router1

[code]

## router2

[code]

zebra is running on both hosts with mini

[2018-08-25 08:20] omidit opened #2914 "add command line to frr"
I want to add an arbitrary command [split-horizon group (1-1000)] to command "member pseudowire IFNAME".
DEFUN_NOSH (ldp_member_pseudowire,
        ldp_member_pseudowire_cmd,
        "member pseudowire IFNAME [split-horizon group (1-1000)]",
        "L2VPN member configuration\n"
        "Pseudowire interface\n"
        "Interface's name\n")
{
}
in vtysh when I add the command ,anything dont show.

[2018-08-25 10:37] donaldsharp commented on #2912
can we get a `show ip route 10.255.255.1` and a `show ip nht` on router2?

[2018-08-25 10:42] donaldsharp commented on #2914
This command needs to be added to both vtysh.c and ldpd/ldp_vty_cmds.c.  Typically after I've done this for a DEFUN_NOSH type command I need to do a make install.  If things still do not work, I need to check my configure line to ensure that install for vtysh went where I wanted it to go.

[2018-08-25 11:29] dmbaturin commented on #1440
Somehow the issue with rejected "null0" still exists in the latest master.

[2018-08-25 11:53] lucize opened #2915 "tar.xz source code ?"
can the source code be released also as a tar.xz archive ?
the size difference is about 1MB

[2018-08-25 13:16] lucize commented on #2816
I think now is safe to update the docs, or maybe include a subfolder in the frr source file with makefile if this is not accepted in openwrt ?

[2018-08-25 14:46] cfra opened #2916 "lib: NS backend outputs spurious error messages"
On OpenWRT, when I run any of FRR's daemons, I receive log output like following, although I do not have selected the NS backend:
[code]
I think this should be fixed, but I am not sure what the correct fix is. I see that there is a function `have_netns` which would behave better, but it doesn't get called by `ns_init`.

[2018-08-25 18:27] baughj commented on #2912
[code]

[2018-08-25 18:35] lucize commented on #2606
@donaldsharp do you have some more spare time to give a little love to eigrp ? 😄

[2018-08-25 18:36] donaldsharp commented on #2606
Unfortunately my time has been at a severe premium.  I suspect we'll be getting some EIGRP love in the not too distant future though. @diivious any thoughts on this?

[2018-08-25 18:53] donaldsharp commented on #2915
https://github.com/FRRouting/frr/releases

I see a tar.gz what is wrong with that?

[2018-08-25 18:54] lucize commented on #2915
just that xz compresses more

[2018-08-26 07:42] netravnen opened #2921 "Issue regarding the merge of #2685"
@donaldsharp @qlyoung Looks like I must have missed _some_ necessary code while writing patch #2685 because of unfamiliarity with the FRRouting code-base.

On Sat, 25 Aug 2018 at 14:17, <scan-admin@coverity.com> wrote:

[2018-08-26 10:39] omidit commented on #2914
@donaldsharp: thanks, it works when I add the command to vtysh.c.

[2018-08-26 10:58] #2914 closed

[2018-08-27 08:49] pguibert6WIND commented on #2916
I will have a look at this. is it affecting the behaviour, or is it just an error message ?
I mean error message may just be warning message .?

[2018-08-27 09:36] pguibert6WIND commented on #2626
Issue is reproduced by doing the renaming procedure from jfloret.
The issue is that at the first rename of interface, the frr context of interface is not removed.

So when the interface is going back, it looks like its contexts have not been refreshed.
This is why IPv6 address ( but should be true for ipv4 too) has been ignored

[2018-08-27 09:42] pguibert6WIND commented on #2626
this ticket : https://github.com/FRRouting/frr/issues/2393
should help solve the issue

[2018-08-27 09:54] cfra commented on #2916
I checked and it does not seem to affect the behavior. Is the default ns used at all if we are not using the NS backend? A more extended log of FRR startup looks like this:

[code]

So it just seems to be a cosmetic thing.

It would still be nice to fix it anyway so that users don't see a warning/error during startup, although it has no relevance to them.

[2018-08-27 11:58] rgirada commented on #2360
Hi ,
I have tried the same config in FRR 4.0 as well as Master but I haven't observed the reported behaviour.
Is there any additional configuration required apart from this , please let me know ?
Please find the following corresponding log.
Log:
-----
root@dev:~#
root@dev:~# vtysh

Hello, this is FRRouting (version 4.0-MyOwnFRRVersion-gb63506f).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

This

[2018-08-27 12:06] rgirada commented on #2757
Hi ,
I have started  working on this feature .
Please assign it to me .

[2018-08-27 12:29] fallegretti opened #2922 "OSPF interface cost not reflected on ospf database"
Hi all,

I am a network engineer and need to run ospf on few servers  for a solution I am working on.
I am currently testing, I have two boxes running OSPF with some Cisco Rtrs.
The issue I have is setting the ospf cost of an interface is not reflected in the lsa, here is  what I mean:

config of ospfd:
!
interface lo
 ip ospf cost 100
!
*********************************
lo is up
  ifindex 1, MTU

[2018-08-27 13:33] mwinter-osr commented on #2915
The current tar.gz is done automatically by Github based on the repo at the state of the label.
I could add this to the release build process if this is really an issue. Takes a bit work, but if there is some serious need/request for this, then I could start doing this for future releases.

[2018-08-27 14:51] pguibert6WIND commented on #2626
not related to 2393 ( despite it could help).

actually, what happens is that IP messages are ignored on zebra side.
[code]

[2018-08-27 15:12] pautiina commented on #2922
Hello. I also have this problem.

[2018-08-27 15:42] bessa commented on #2906
Hi @pguibert6WIND, it seems it works with "-n" parameter even I dont use namespaces.

Thanks a lot.

[2018-08-27 15:51] rwestphal commented on #2900
As we discussed today, I think we can potentially remove support for BGP views since the same functionality can be achieved by running separate _bgpd_ instances with `--pathspace` and `--no_kernel`. That would allow us to simplify bgpd code quite considerably.

[2018-08-27 16:47] pguibert6WIND opened #2924 "issue with documentation"
following of : doc: Add documentation for IANA well-known communities
error when compiling:
[code]

[2018-08-27 17:35] rzalamena commented on #2813
Here is another occurrence of this problem:
https://github.com/FRRouting/topotests/pull/126#issuecomment-416304091

Logs and artifacts:
https://ci1.netdef.org/browse/FRR-TOPOPR-T4B-339

[2018-08-27 19:29] pautiina opened #2925 "[OSPF] - After changing the cost of the OSPF interface, the route is removed from the routing table"
Hello.
My system FreeBSD 11.2 stable and I use frr5.0.1 stable.
My configuration:
[code]
[code]
after change ip ospf cost on vlan780 the route 31.133.89.0/24 left only one on route table:

[code]
[code]
I think it's a bug, since now all the routes with vlan780 are gone, instead of having to change the cost of the route.
Probably related: https://github.com/FRRouting/frr/issues/2922

[2018-08-27 22:43] srimohans opened #2927 "BGP crashes when unconfigure bgp and configure bgp again with EVPN related configuration present"
1) Setup: Simple two node setup with EBGP session between them.

                                Node A ------------------ Node B

2) Configuration
==========
Node A
======
dev# show running-config
Building configuration...

Current configuration:
!
frr version 5.1-devMyOwnFRRVersion
frr defaults traditional
hostname EdgeRouter-1
log file /var/log/frr/zebra.log
log file /var/log/frr/bgp.log
hostna

[2018-08-28 06:42] pguibert6WIND commented on #2900
adding to Renato:
we also thought of adding a config command per BGP instance, so that it is possible to instantiate multiple bgp views per instance. for instance [no] zebra-disable under bgp node could help.

any input from the community about chaning the way bgp views are used is needed.

[2018-08-28 07:44] AdrianBan commented on #2904
Hi donaldsharp,

No, there is no VFR configured. The device on eth0.4090 is has also FRR installed, but I've tried also just as a simple MULTICAST sender to the Cisco R3 switch. Is a Odroid C2 with few USB DVB-C running mumudvb and is sending multicast streams
VLAN 4090 on Cisco switch is configured as IGMP v2/v3.

On R3 as you can see the IGMP groups are all added.

Sample of traffic send by Odro

[2018-08-28 07:53] AdrianBan commented on #2904
And as additional troubleshooting is that R3 also believes that has a neighbor FRR-R1:

[code]

Where Vlan913 is the R1 and Vlan912 is R4 another Cisco C3560G L3 Switch.

Here is some debug output from R1, which looks a little bit strange for me, most of them those with "Received incoming pim packet on interface not yet configured for pim':

[code]

[2018-08-28 08:01] AdrianBan commented on #2904
I'm adding both interfaces of R1:

[code]

[2018-08-28 08:16] kssoman commented on #2081
To select a specified number of best paths, we need to add command
bgp additional-paths select best <number>  which is implemented in cisco
https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/iproute_bgp/configuration/xe-3s/irg-xe-3s-book/bgp-additional-paths.html

The best path selection algorithm needs to run in a loop to find the best N paths from the available
paths P  (if N > P  then it becomes

[2018-08-28 08:47] omidit opened #2928 "add command to show running- config"
I added an arbitrary command to Frr. How can I add the command that is shown in show running-config?
thanks.

[2018-08-28 10:53] AdrianBan commented on #2904
Hi @donaldsharp ,

You had right with the VRF. I didn't had the VRF configured under the FRR, but it was created under the system using iproute which I really forgot about it!
I've notice a strange line in FRR:

[code]

And I've remembered about it. I've deleted the VRF from system and I've restarted the FRR, if I didn't do it FRR still not showing the neighbors:

[code]

But after 5-10 minutes th

[2018-08-28 11:13] AdrianBan commented on #2904
And those logs are from when the PIM worked for few minutes and I could join in R10 for a received in multicast:

[R1-pimd-2.txt](https://github.com/FRRouting/frr/files/2327725/R1-pimd-2.txt)

And as you can see in the logs PIM stop responding and watcher restarted the daemon.

[code]

[2018-08-28 12:02] kssoman commented on #2081
I can look at this issue

[2018-08-28 12:59] donaldsharp commented on #2904
```Aug 28 10:49:28 Buh-R1 pimd[4208]: if_set_index(163752): corruption detected -- interface with this ifindex exists already in VRF 0!```

This is the real issue here:  What interface does this actually correspond to?  Can you dump the linux kernel interface state? `ip link show`

 We need to understand how we got into this state.  At this point in time I'd like to focus on some debugs in zebra,

[2018-08-28 14:32] diivious commented on #2606
Hey Donald,

I have finally started working on EIGRP!!

My 12 hour days are starting to slow down a bit.  On my flight ask week, I began studying the code - this week I have starting some restructuring.  I have see a lot I want to work on, the first is to do some clean up, then TLV3, then some state machine fixes.

About about 3/4 done with the TLV1 restructure needed so i can implement the TLV3 s

[2018-08-28 14:51] donaldsharp commented on #2606
@diivious I thought that is what you were alluding to in your tweet.  I hope to see some code!

[2018-08-28 15:05] donaldsharp commented on #2887
Added to feature request page

[2018-08-28 15:05] #2887 closed

[2018-08-28 15:12] diivious commented on #2606
Yup - coding testing testing ... course if it compiled on a mac it would make it so much faster; TGF VMs.....ha

[2018-08-28 17:40] donaldsharp commented on #2606
So we had someone start working on getting FRR compiling on a mac.  We would of course love for anyone to do this work too :)

Might not be too much of a stretch to make it work.

[2018-08-28 20:45] Jafaral commented on #2786
one more thing to look at is:

```show ipv6 ospf6 spf-tree```

[2018-08-28 23:15] louberger opened #2936 "atomic_add_fetch_explicit doesn't compile on all platforms"
see https://ci1.netdef.org/browse/FRR-FRRPULLREQ-CI003BUILD-5076
function introduced in #2933
...
28-Aug-2018 13:58:15 | lib/lib_clippy-memory.o: In function `mt_count_alloc':
28-Aug-2018 13:58:15 | /home/ci/cibuild.5076/frr-source/lib/memory.c:42: undefined reference to `atomic_add_fetch_explicit'
28-Aug-2018 13:58:15 | /home/ci/c

[2018-08-29 07:39] pguibert6WIND commented on #2906
Hi @bessa, actually I am not satisfied by the workaround you used.
using -n parameter means that you only used vrf based on namespaces.
as you mention me that you don't use namespaces, that implies that you neither can not use vrf lite ( the default ones )

Do you have a configuration to share, please ?
On which vrf do you want to apply the bgp range ?

I think it works because you may have someth

[2018-08-29 07:43] pguibert6WIND commented on #2900
Using bgp views to vrf ( in the network instance meaning as per https://datatracker.ietf.org/doc/draft-ietf-rtgwg-ni-model/?include_text=1 ) is not needed.

Using bgp views to vrf netns ( in the logical router instance meaning as per https://datatracker.ietf.org/doc/draft-ietf-rtgwg-ni-model/?include_text=1 ) may be used.

Adding to this, it is not clear to me whether or not the views feature is u

[2018-08-29 07:44] pguibert6WIND commented on #2916
if you can try https://github.com/FRRouting/frr/pull/2938, this may help.

[2018-08-29 07:44] #2871 closed

[2018-08-29 12:41] kmunshi97 commented on #2816
@cfra  Sorry for late reply!
uname -a
`Linux cosgrid-Latitude-3460 4.15.0-32-generic #35-Ubuntu SMP Fri Aug 10 17:58:07 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

[2018-08-29 12:53] lucize commented on #2816
@kmunshi97 i've updated the commit to 5.0.1, please retry

[2018-08-29 12:59] kmunshi97 commented on #2816
I am not at office today, I will try it tomorrow morning. Thanks.
Although one more thing I forgot to mention before was that while doing git pull,
I had to append the `--allow-unrelated-histories` flag.

[2018-08-29 13:06] karamalla0406 commented on #2723
I this issue got fixed by issue #2737. Hence I will close it.

[2018-08-29 13:41] mjstapp commented on #2936
Hmm, wow, sorry to have broken something.  are you certain that that fork has picked up the commit that introduced the new atomics? I do see that new api with an old gcc, but I don't seem to be able to look at the fork repo myself.

[2018-08-29 13:45] karamalla0406 commented on #2724
I have import-check turned on. However I don't have a static route added in the RIB.

[2018-08-29 15:12] louberger commented on #2936
what fork repo? you mean the PR?  Click changes on the pr or the link to
the source repo&branch?

Also yes, some platforms passed which means that the code is there on
those platforms.

On 8/29/2018 9:42 AM, Mark Stapp wrote:

[2018-08-29 15:28] mjstapp commented on #2936
by "fork repo" I meant "the labnconsulting repo where your fork lives" - I thought I would try to build with your branch, but I don't have access to it. I was able to use that new atomic on openbsd6 with gcc 4.2 and on ubuntu 14 with some slightly less old gcc 4, but just using frrouting master. I guess I will try setting up a freebsd 10 vm and repeating that test.

[2018-08-29 16:16] sredman commented on #2786
The closest command I could find to what you requested is `show ipv6 ospf6 spf tree` (with no dash). I don't know what that result should look like, so I won't try to interpret the results. The only thing I added is a "translated" section where I converted the router IDs to their names as in the first post. Let me know if this is too confusing!
[node3 spf-tree.txt](https://github.com/FRRouting/frr

[2018-08-29 16:34] pguibert6WIND opened #2941 "vrf route leak for vrf netns"
VRF route leaking is not yet possible with VRF with netns backend.
This is an enhancement that needs to be done.

for doing that, I plan to propose a mechanism that relies on cross vrfs.
an IP mapping would be configured in zebra.

[2018-08-29 19:45] mjstapp commented on #2936
Should be fixed by PR 2942.

[2018-08-29 20:40] nikos-github commented on #2230
This isn't a bug. Coming to the part of getting FRR to behave the way it is described above, I believe the desired behavior can be achieved if a route-map is applied to modify the weight of BGP paths to be greater than 32,768.

[2018-08-30 08:51] pguibert6WIND commented on #2626
https://github.com/FRRouting/frr/pull/2943 may help

[2018-08-30 09:11] kssoman commented on #2723
The issue is resolved with the fix for bug 2667 (bgpd: changes for crash seen in BGP on "no rt vpn" bug Id )

BGPd crash is not observed.

[2018-08-30 14:03] pguibert6WIND commented on #2941
illustration:
[code]

The first design approach tends to hide the underlying mechanism that converts one route entry into two.

[2018-08-30 15:29] kmunshi97 commented on #2816
Works fine!

[2018-08-30 15:29] #2816 closed

[2018-08-30 17:38] donaldsharp opened #2948 "route-map display ordering"
It would be nice for a show run to display the same ordering of route-map deterministically instead of the FILO order it is currently displayed as.

Adding it here because route-map.c appears to have some weird ordering issue it wants to keep.

[2018-08-31 10:17] #2948 closed

[2018-08-31 11:38] dmbaturin opened #2954 "Incorrect behaviour when inserting routes to the same prefix in more than one table"
In a build made from 753e2c9152ec2e089c5e6cdcdaba3e51581636a0, inserting routes into multiple tables is handled in a strange way.

If you create this configuration that is supposed to make the system use different next hops for the default route in different tables...

[code]

...instead you get a normal route in the main table, but an ECMP route in table 10 that uses both the intended next hop .2

[2018-08-31 13:05] pguibert6WIND commented on #2941
[code]
gives
# do show ip route vrf test
VRF test:
S>* 50.11.10.0/24 [1/0] via 43.43.43.7, dum42, 00:01:05
# do show ip route
S>  50.11.10.0/24 [1/0] via 43.43.43.7 (recursive), 00:01:34
  *                       via 4.4.4.1, veth0, 00:01:34
[code]

[2018-08-31 18:37] #2936 closed

[2018-08-31 18:38] qlyoung commented on #2928
You need to find the corresponding function that prints config related to the command you added, and add a `vty_out` line in there with the text of the command.

[2018-09-01 11:45] flaurencin commented on #2796
hi Quentin,

I think I used commit 873a9a03d39f10a70960689ff1d543177e326532 I was using master branch.
for some reason it compiles with my tag and this value behind g3a9a03d
weird.

[2018-09-03 04:30] bisdhdh commented on #2927
@donaldsharp  I will look into this isssue.

[2018-09-03 04:35] bisdhdh commented on #2925
@pautiina
I looked the configuration above.
You are able to see the ECMP routes as below boz they of equal cost to reach the destination n/w.

[code]

The same will not be true if you alter the cost of one of the interface. Thats the reason you see only one best route.

[code]

[2018-09-03 05:31] pautiina commented on #2925
I understand you. That is in route table gets only the best route?
Is there an opportunity to see in RIB table?

[2018-09-03 06:55] mdash-vmware commented on #2230
Hi All,
I am little disagree with this solution, what if we have many Neighbour, it would be very tedious for user to configure Route MAP for all the neighbours.

Why cant we just Ignore the default Weight (32768) while calculating the Best route in BGP table, If we ignore the default weight then the next Best path algo would kick-in and there IGP/EGP won the battle VS Unknown (Redistributed Stati

[2018-09-03 12:59] rgirada commented on #2296
Hi ,

In the reported problem , "end" command  is being used in unprivileged  mode.
I have a query on this , why do we required end command support in unprivileged mode ?since it is user mode. Is there any requirement ? Could you please let me know  on this.

[2018-09-03 14:45] harajukakei commented on #2201
same here. `bgp multiple-instance` doesnt work. or maybe this things is not supported in frr ?

[2018-09-03 14:51] pguibert6WIND commented on #2941
application to MPS switching ( BGP):
[code]
gives
[code]

application to routing with MPLS encapsulation ( it should be also similar for BGP).
[code]
gives
[code]

[2018-09-03 19:06] rzalamena opened #2960 "build: make failure when building without docs"
When building FRR `master` on FreeBSD without documentation enabled (`--disable-doc`), I'm getting some build errors which prevent the binaries installation.

**OS:** FreeBSD 11.2
**Note:** sphinx is not installed

Configure command line:
[code]

Failure output:
[code]

Creating the following symlink workarounds the problem:
[code]

[2018-09-04 10:13] pguibert6WIND opened #2961 "LDP MPLS entries not installed when IPv6 is configured"
I have 3 devices communicating with LDP, by using IPv4 IGP.
I did not configure OSPFv6 so as to propagate the router IDs of the various devices.
However, I configured loopback, and LDP with both ipv4 and ipv6.
[code]

ldp config:
[code]

result is that if I do not unconfigure IPv6 ( from both loopback interface and from LDP configuration), then MPLS entries are not installed. here snapshot without

[2018-09-04 10:41] raghavenderlomte opened #2963 "NHRP is detached"
NHRP has detected a error with the Strongswan code.

Error 117440513 - NHRP Strong Swan Error.
I have downloaded strongswan from https://git.alpinelinux.org/cgit/user/tteras/strongswan/commit
which is suggested in frr doucmentation of NHRPD.

[2018-09-04 13:57] mwinter-osr commented on #2915
Just to add a comment: I'll go and provide a tar.gz and tar.xz version of the source starting with the next release, but not going to re-release previous versions.
FRR 6.0 is scheduled for beginning of Oct.

[2018-09-04 14:08] lucize commented on #2915
it's perfectly fine, thanks !

[2018-09-04 14:08] #2915 closed

[2018-09-04 14:14] rwestphal commented on #2961
When _ldpd_ is configured for dual-stack operation, the transport connection preference is IPv6 by default (as specified by RFC 7552). On such circumstance, _ldpd_ will refuse to establish TCP connections over IPv4.

You can use the `dual-stack transport-connection prefer ipv4` command under `mpls ldp` to change the transport connection preference to IPv4. In this case, you'll be able to distribut

[2018-09-04 15:04] pguibert6WIND commented on #2961
thanks Renato.
I Will test with the prefered transport connection

[2018-09-04 15:07] eqvinox commented on #2906
=> there was a kernel bug about this; what kernel version are you using?

[2018-09-04 15:08] pguibert6WIND commented on #2941
2 questions:
- I will use the vrf abstraction to handle the extra vrf nexthop configuration. ok for you?
- I want to hide the extra routes created in zebra. if a daemon other than zebra tries to create a vrf route leak, then the relevant 'show ip route' will be different if I am on netns or vrf-lite backend. ok for you?

[2018-09-04 15:09] eqvinox commented on #2900
People on the call today would be happy with getting rid of views
=> e-mail dev alias

[2018-09-04 15:10] bessa commented on #2906
Hi,
[code]
Thx

[2018-09-04 15:16] eqvinox commented on #2723
Closing as fixed

[2018-09-04 15:16] #2723 closed

[2018-09-04 15:28] eqvinox commented on #2201
`bgp multiple-instance` is always turned on now, I guess we need to update docs

[2018-09-04 15:28] qlyoung commented on #2296
I don't think I understand the question. Can you elaborate on what relation you seen between the `end` command and whether the user is running in privileged or unprivileged mode?

[2018-09-04 15:34] eqvinox commented on #2941
=> @pguibert6WIND to set up a meeting

[2018-09-04 15:35] eqvinox commented on #2963
@raghavenderlomte this really isn't enough information, can you try to explain what issue you're running into?

[2018-09-04 16:09] srimohans commented on #2927
I am working with Anuradha and waiting for inputs on this.

[2018-09-04 16:15] raghavenderlomte commented on #2963
I was trying to configure nhrp using frr as mentioned in https://github.com/FRRouting/frr/blob/master/nhrpd/README.nhrpd. As they mentioned at the end(in the link),I have downloaded the patched strongswan and tried running the nhrp daemon using FRR. While configuring if i enter the command "show error all" it is displaying NHRP has detected error with the Strongswan code.

[2018-09-04 17:28] harajukakei opened #2969 "how to properly set bgp multiple instances in frr ?"
how to properly setting up bgp with multiple instances and multiple as number in frr ?

[2018-09-04 19:38] donaldsharp opened #2972 "Compiling FRR on a mac"
[build_mac.tar.gz](https://github.com/FRRouting/frr/files/2349951/build_mac.tar.gz)

zebra being run in a debugger:
[code]

Some simple vtysh to prove it came up:

[code]

[2018-09-04 19:38] donaldsharp commented on #2972
@diivious ->

This is not nearly production code, but I got it working on a mac.  I'll slowly work on getting this up and running `right` over the next couple of weeks

@eqvinox -> The tar.gz has the data you wanted.

[2018-09-05 06:56] fabled commented on #2963
Do you have more detailed error/debug logs?

[2018-09-05 19:48] rwestphal opened #2980 "ospfd: issue with the "default-information originate always" command"
Our documentation says the following about the `default-information originate` command:

However the `always` parameter is not being honored by ospfd. Even when this parameter is given, the default route is advertised only if it exists in the RIB.

[2018-09-06 05:04] raghavenderlomte commented on #2963
Error 117440513 - NHRP Strong Swan Error
========================================
Description:
NHRP has detected a error with the Strongswan code

Recommendation:
Ensure that StrongSwan is configured correctly.  Restart StrongSwan and FRR

[2018-09-06 14:11] pguibert6WIND commented on #2941
Hi,
Let me remind the problematic:
VRF lite supports vrf route leak mechanisms.
There is no reason that VRF netns does not have a similar vrf route leak mechanism.

I am not ready yet to set up a meeting. some more work is in progress, as a poc is in progress.
of course, I will keep you in touch.

Thanks,
Philippe

[2018-09-06 15:02] ton31337 commented on #2980
related: https://github.com/FRRouting/frr/pull/2978

[2018-09-07 09:38] raghavenderlomte commented on #2287
@eugenepaniot is ur error resolved ?
Because i'm also getting the same error.

[2018-09-07 14:44] donaldsharp opened #2990 "bgp Aggregates probably are over processing"
With a full bgp feed and aggregating the whole thing with a 0.0.0.0/0 aggregate address, bgp is spending significant time processing normal route updates from a peer.  It looks like bgp_process is being called a minimum of 3 times for each route add/delete during normal processing

2018/09/07 10:33:29.579136 BGP: SLOW THREAD: task bgp_process_packet (47e156) ran for 19054ms (cpu time 18992ms)
2018

[2018-09-08 00:27] mwinter-osr opened #2993 "BGP Aggregates have wrong Origin"
Found with Ixia ANVL and seen with IPv4 and IPv6 on dev/6.0 @ 2018/09/02 (sha 9c42f07)
This is a regression and bug was introduced sometime between June 4 and August 2, 2018

Seen in Ixia ANVL tests for IPv4 and IPv6: ANVL-BGP4-31.5, ANVL-BGP4-31.6, ANVL-BGPPLUS-38.4, ANVL-BGPPLUS-38.5

### Description
BGP Aggregated routes have the wrong Origin Attribute.

### Steps to Reproduce
1. Configure FRR

[2018-09-08 05:59] jhiggins-NZ commented on #2287
@raghavenderlomte  @eugenepaniot  I think you have to use vici in this implementation.
@donaldsharp is the detail below helpful, for some documentation to help FRR ?

If you don't want encryption, then I think you can always select a null encryption after the fact.

My steps to setup are like so:

Dependencies & extras:
`
git, autoconf, automake, libtool, libgmp-dev, m4, gawk, bison, flex, gperf,

[2018-09-09 15:08] eqvinox commented on #2963
@raghavenderlomte yes post everything in your log file

[2018-09-10 04:03] bisdhdh commented on #2925
@pautiina

You can get the zebra rib o/p via : "show ip route" command on FRR

[2018-09-10 05:01] bisdhdh commented on #2993
@donaldsharp

I am looking into this bug.

[2018-09-10 05:39] #2925 closed

[2018-09-10 12:23] ne-vlezay80 opened #2998 "MPLS Transport Profile support"
RFC:
https://tools.ietf.org/html/rfc7213
https://tools.ietf.org/html/rfc5921

The difference between MPLS-TP from the conventional MPLS in terms of development is that for point-to-point it is necessary to use the multicast address as the source of destination, and for point-to-multipoint use a unicast mac address.
To search for neighbors, use GAP.

[2018-09-10 13:32] donaldsharp opened #3000 "rfapi crashing when running solo"
Config:
[code]

[2018-09-10 14:19] donaldsharp commented on #2993
@bisdhdh -> I already have this fixed.  Will be submitting a PR in a few minutes for this.

[2018-09-10 18:05] srimohans commented on #3000
Donald, Could you please list the steps performed ? or Does it crash every time with the above configuration ? I tried reproducing with the above configuration and I don't see any crash.

[2018-09-10 18:06] donaldsharp commented on #3000
@srimohans - Did you compiile w/ vnc?

[2018-09-11 04:38] srimohans commented on #2230
![image](https://user-images.githubusercontent.com/10162511/45338390-c5277800-b541-11e8-9073-135c0e3d775e.png)

[2018-09-11 04:39] srimohans commented on #2230
![image](https://user-images.githubusercontent.com/10162511/45338415-ed16db80-b541-11e8-9ca7-f68a2fbb540e.png)

[2018-09-11 05:05] solevi commented on #2230
Hello everyone,
I would like to thank you all for diving so deep, really did not expected to make so much trouble.

[2018-09-11 07:34] raghavenderlomte commented on #2963
Error 117440513 - NHRP Strong Swan Error
=========================================
Description:
NHRP has detected a error with the Strongswan code

Recommendation:
Ensure that StrongSwan is configured correctly.  Restart StrongSwan and FRR

Error 100663297 - Failure to raise or lower privileges
=======================================================
Description:
FRR attempted to raise or lower its

[2018-09-11 12:18] donaldsharp commented on #2305
Unable to reproduce, closing

[2018-09-11 12:18] #2305 closed

[2018-09-11 15:03] eqvinox commented on #2960
fixed in #2977

[2018-09-11 15:03] #2960 closed

[2018-09-11 15:04] eqvinox commented on #2963
@raghavenderlomte we need the log, not the "show error" output...

[2018-09-11 15:08] eqvinox commented on #2972
=> will fix the `__attribute__((section()))` bits as part of the logging foo (because that uses it too and needs more functionality on it)

[2018-09-11 15:12] riw777 commented on #2998
Need to decide if this is a kernel or ldp thing -- need to think about where this goes. @donaldsharp will add to feature request page.

[2018-09-11 15:14] donaldsharp commented on #2998
Added to feature page

[2018-09-11 15:14] #2998 closed

[2018-09-11 17:21] srimohans commented on #2927
**Call Stack**

(gdb) bt
#0  0x00007f2bd80a6428 in __GI_raise (sig=sig@entry=6)
    at ../sysdeps/unix/sysv/linux/raise.c:54
#1  0x00007f2bd80a802a in __GI_abort () at abort.c:89
#2  0x00007f2bd8de5c41 in core_handler (signo=11, siginfo=0x7ffdced1c0b0,
    context=0x7ffdced1bf80) at lib/sigevent.c:249
#3  <signal handler called>
#4  0x000000000045e98e in is_route_parent_evpn (ri=0xced430)
    at .

[2018-09-12 03:42] vishaldhingra commented on #2905
It seems you are creating a default bgp.
You need to map table 105 to a particular VRF.

ip link add red type vrf table 105

router bgp 65100 vrf red

Please check this. If you still face any issue then please let us know.

[2018-09-12 10:00] rgirada commented on #2980
Hi,

We have tried the same scenario on the latest master branch . We could observe that default route is re-distributed when always was configured even though the default route is not present in the advertising router .

Please find  the following log with Rtr-a and Rtr -b configurations  along with the routing tables .

Did you observe the problem in the Master branch or any other branch ? pleas

[2018-09-12 10:04] ton31337 commented on #2980
This is because default route is injected into zebra after the external LSA is sent.

[2018-09-12 12:27] fresaelens opened #3008 "BGP Multiple-Instance"
### Related Issue:
#2969
#2201

### Description
Unable to create multiple BGP instances in BGPD daemon.

### Steps to Reproduce
I created my first BGP instance like this (fictional ASN):

router bgp 65501

This works as expected.

When I try to create a new BGP instance with the following command:

`router bgp 65502`

I always get the following error:

[code]

According to the documentation and is

[2018-09-12 12:28] donaldsharp commented on #3008
@fresaelens - have you tried `router bgp XXX view Y`?

[2018-09-12 13:59] fresaelens commented on #3008
@donaldsharp

With the router bgp XXX view Y command I am able to create multiple BGP instances, however they don't seem to do anything.

I always get the message that there is no default BGP instance.

[code]

Am I forgetting something?

[2018-09-12 14:02] donaldsharp commented on #3008
`show bgp view XXX`?

[2018-09-12 14:29] fresaelens commented on #3008
@donaldsharp

Yes that did the trick, thank you.

Is there any way to leak the routes learned between these views?
As well to the kernel routing table?

[2018-09-12 15:18] donaldsharp commented on #3008
The whole point of views is to eliminate the need to talk to the rib and intra process communication.  If you want intra-process communication and/or installation into the rib, views are not the right choice for you in bgp.  I would suggest using vrf's and the default bgp instance for this.

[2018-09-12 20:00] qlyoung commented on #3008
The documentation on this is still somewhat unclear, I will clean it up.

[2018-09-13 07:41] pguibert6WIND opened #3012 "EVPN / adj rib in does not reinject EVPN parameters"
when looking at code, in bgp_soft_reconfig_table(), bgp_update() is called with its last parameter set to NULL.
This last parameter stands for evpn parameters that should be used, when a reconfiguration occurs, and the administrator wants to use adj-rib-in support instead of bgp route refresh mechanism.

So clearly, a fix should be done for that.

[2018-09-13 12:46] donaldsharp opened #3014 "Examine storage of ifp and ifc pointers"
Interface data is broken up into 2 different pointers a `struct interface *` and a `struct connected *`.  The ifp pointer is stored as a RB tree off of the vrf associated with it.  The ifc's are stored as a sorted list under relevant ifp.  Looking at if.c we also have a table data structure that is #if 0'd out.  Perhaps look up mechansims here can be improved.  We probably need to look at the usag

[2018-09-13 13:37] AdrianBan commented on #1636
Hi @patrasar,

With 5.0.1 I didn't notice this issue anymore. I had old version of FRR, so could be this the issue.

Kind regards,
Adrian

[2018-09-14 06:02] raghavenderlomte commented on #2963
The error got resolved the problem was,i was assigning IP with wrong subnet to gre interface(ex:-192.168.0.2/24,which should be 192.168.02/32). I don't know how does it actually matters.
Now if i try to ping  another machine's gre interface IP then the ping is not happening ?

[2018-09-14 07:36] ton31337 commented on #126
For me, it works fine with 5.0.

[2018-09-14 11:13] rgirada commented on #2980
we could observe the issue with the following seq of commands .
step -1 :  "default-information originate always"   -> default route re-ditributed.
step -2 : "no default-information originate always"  -> default route has been deleted from peer.
step-3 : " default-information originate always" - > default route not re-distributed to peer.(Not Ok)
step-4 : "default-information originate always" ->

[2018-09-14 11:30] rgirada opened #3025 "Ensure OSPFv3 protocol handles VRF addition/deletion events properly"
Tha aim of this issue to ensure the functionality of ospfv3 after VRF addition / deletion /updation. And it  is being handled  appropriately . If any issues identified , can be resolved part this issue.

[2018-09-14 11:33] rgirada opened #3026 "Ensure RIpng protocol handles VRF addition/deletion events properly"
The aim of this issue to ensure the functionality of RIpng after VRF addition / deletion /updation and  it  is being handled  appropriately . If any issues identified , can be resolved part this issue.

[2018-09-14 11:36] rgirada opened #3027 "Ensure nhrpd daemon handles VRF addition/deletion events properly"
The aim of this issue to ensure the functionality of nhrpd after VRF addition / deletion /updation and it  is being handled  appropriately . If any issues identified , can be resolved part this issue.

[2018-09-14 11:37] rgirada opened #3028 "Ensure Ldp protocol handles VRF addition/deletion events properly"
The aim of this issue to ensure the functionality of Ldp after VRF addition / deletion /updation and it  is being handled  appropriately . If any issues identified , can be resolved part this issue.

[2018-09-14 11:43] rgirada opened #3029 "Ensure Babel handles VRF addition/deletion events properly"
The aim of this issue to ensure the functionality of Babel after VRF addition / deletion /updation and it  is being handled  appropriately . If any issues identified , can be resolved part this issue.

[2018-09-15 15:37] #2954 closed

[2018-09-17 10:55] #1762 closed

[2018-09-17 11:41] patrasar commented on #1836
Started working on this

[2018-09-17 12:14] rgirada commented on #2757
Hi @donaldsharp ,

As discussed in offline , I have raised  individual issues to track each protocol/module.
Issues Numbers : 3025,3026,3027,3028 and 3029
Kindly, could you please close this issue .

[2018-09-17 13:34] pguibert6WIND opened #3039 "BGP communities expanded mode"
it looks like the BGP expanded mode on vty is powerful, since it involves regular expressions.

From my understanding, this can be used to match incoming BGP updates with embedded ecommunities. But that should do nothing at outgoing side. no ?

Is there any documentation/pointer example of such configuration ?

[2018-09-18 07:04] pguibert6WIND commented on #3039
from user manual:
   This command defines a new expanded large-community-list. Where `line` is a
   string matching expression, it will be compared to the entire Large
   Communities attribute as a string, with each large-community in order from
   lowest to highest.  `line` can also be a regular expression which matches
   this Large Community attribute.
ip large-community-list expanded NAME perm

[2018-09-18 14:52] pguibert6WIND commented on #2941
status: still in progress
- actually, the first POC was based on creating IP network throughout the netns.
- the second POC that is in progress is based on IPless virtual ethernet interfaces. That POC will demonstrate that it is possible to do vrf route leak for some sample use cases like L3VPN, and/or static vrf route leak (via staticd).

[2018-09-18 16:33] pguibert6WIND commented on #3014
It is probably earlier to mention this. however, when I read off of the vrf, I Was thinking the interface could be removed from the vrf.
I wanted to share the case where vrf has a netns backend. the interface can have same name or same interface index from the main vrf entity.
So based on that, I think The interface should be indexed by the following ( zns, ifindex), or (zns, ifname).
zns being th

[2018-09-18 19:39] gellis713 opened #3046 "Having to wipe /etc/frr/frr.conf and rebuild each time the device is rebooted"
* [x] Did you test it on the latest FRRouting/frr master branch?
* [x] Did you check if this is a duplicate issue?

### Description
Configuration from /etc/frr/frr.conf not being loaded into ospfd daemon.

"Sep 18 14:18:53 edge3 frr[9858]: line 10: Failure to communicate[13] to ospfd, line:  ip ospf 1 area 0"

### Steps to Reproduce
1. Stop FRR service
2. Delete /etc/frr/frr.conf
3. Start service

[2018-09-18 21:57] gellis713 commented on #3046
Current workaround:

1) sudo systemctl disable frr.service
2) Setup a startup script that deletes frr.conf on bootup
2a) Start FRR with no configuration file
2b) Read in backup of configuration file through "vtysh -c"

[2018-09-19 05:07] NaveenThanikachalam opened #3049 "Dynamically invoking the "call" CLI within an existing route-map doesn't result in the rules being applied."
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

### Description
Assume that a route-map is configured and is used. Any attempt made to change the rules by introducing the "call" command fails.

### Steps to Reproduce
1. Consider Router-A and Router-B having a BGP peering with each other.
2. Have the following configuration on Rout

[2018-09-19 05:10] NaveenThanikachalam commented on #3049
I will work on a solution to this problem. Kindly assign this issue to me.

[2018-09-19 06:53] manoj-viswanath commented on #1666
Please reassign this to @pguibert6WIND as per the call on 18/09

[2018-09-19 08:52] patrasar commented on #1836
Hi @donaldsharp & @pguibert6WIND,

There are 3 different issues listed as given below.

show running-config>>>>
		router ospf
		area 0.0.0.2 range 1.0.0.0/24 cost 23
dev(config-router)# area 0.0.0.2 range 1.0.0.0/24 not-advertise
show running-config >>>
		router ospf
		area 0.0.0.2 range 1.0.0.0/24 cost 23 not-advertise

[2018-09-19 11:17] rgirada commented on #1155
Hi @SandroRaV
I have verified the behaviour in both  3.0 and 4.0, I haven't observed this issue. I have tried even master . I haven't seen it . Is there any other configuration apart from ipv6 prefix list  to simulate this issue ?  please let me know.

[2018-09-19 14:38] pguibert6WIND opened #3050 "with 2 unnumbered interfaces with same IP, should not we have ECMP on ?"
I create on 2 physical interfaces, 2 addresse identical
[code]

when I do show ip route , I can observe the following:
[code]
should not we have > and = ?
I checked that frr is build with enable-multipath
I also checked that if zebra -e 4 option is passed, behaviour does not change.

[2018-09-19 14:43] donaldsharp commented on #3050
Ip addresses *do* not imply ecmp at all.  If you want a static route with multipath configure it.

[2018-09-19 14:45] pguibert6WIND commented on #3050
thanks

[2018-09-19 14:45] #3050 closed

[2018-09-20 06:33] jpmondet opened #3053 "Zebra not refreshing rib on linux address deletion"
Hello
First, I'd like to thank you for this awesome project !
Then, I'm opening this issue cause I think I faced a bug.
I know the environment is a little exotic but I hope we'll determine the root cause :-)

(Sorry in advance if the issue is not perfectly formatted, it's my first one)

### Things you may try first
(put "x" in "[ ]" if you already tried following)
* [X] Did you check if this is a

[2018-09-21 04:31] vishaldhingra commented on #2861
Thanks for the CLI. We got your problem.
We will provide the fix soon.

[2018-09-21 11:16] #2680 closed

[2018-09-21 11:33] donaldsharp opened #3065 "EIGRP has some bad reads when being shutdown"
[code]

[2018-09-21 17:36] donaldsharp commented on #3046
@qlyoung but there is going to be the first instance later in his config right?  Shouldn't we accept this input especially since a `wr mem` outputs it thta way?

[2018-09-21 17:39] qlyoung commented on #3046
He has not configured the instance in `/etc/frr/daemons`, so no, even the `router ospf 1` configuration block should fail as stated.

[2018-09-22 07:09] NaveenThanikachalam opened #3070 "BGP: Default route advertisement to neighbour fails when configured with a route-map."
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

### Description
In BGP, a default route can be advertised to a neighbor.
While advertising a default route, if a route-map is used, the default-route is never advertised to the neighbour.

### Steps to Reproduce
Have a basic eBGP peering between Router-A and Router-B with the Router-

[2018-09-22 07:10] NaveenThanikachalam commented on #3070
@riw777 Kindly assign this issue to me. I'll try to come up with a solution for this.

[2018-09-22 11:40] ton31337 commented on #3070
Are you sure? Because it works for me. Related: https://github.com/FRRouting/frr/pull/2708

[2018-09-22 22:08] liuxyon commented on #1820
new server network still has the wrong

[code]
[code]

[code]

[2018-09-23 02:38] NaveenThanikachalam commented on #3070
Thanks, Donatas. Let me double check this.

[2018-09-24 04:16] NaveenThanikachalam commented on #3070
@ton31337, I did re-check this and it doesn't work. Some other changes may have broken your fix. I'll have a look at this and attempt a fix.

[2018-09-24 15:34] #3049 closed

[2018-09-24 16:32] qlyoung commented on #3046
@gellis713 - please take a look at the [updated docs](http://docs.frrouting.org/en/latest/ospfd.html#multi-instance-support) on using multi-instance OSPF. I think they'll resolve the issues you're seeing. If not, please reopen this issue.

[2018-09-24 16:32] #3046 closed

[2018-09-24 16:38] qlyoung commented on #2906
@eqvinox - can you provide some more information on whether this is a kernel bug or not? And what is the kernel version? Probably worth making a note of it in the docs even if said bug isn't responsible for this particular issue.

[2018-09-24 17:20] #2928 closed

[2018-09-24 17:34] #2263 closed

[2018-09-24 19:59] rwestphal commented on #2980
Fixed by #2978.

[2018-09-24 19:59] #2980 closed

[2018-09-24 21:15] qlyoung commented on #3053
I just tried this on Linux; it works fine there. I did not use Kubernetes but did the same process you describe w/ a dummy interface via iproute2. Will test on CentOS in the near future.

[2018-09-24 22:08] qlyoung commented on #3053
Works on CentOS 7 as well for me:
[code]
https://asciinema.org/a/2TuRr7DZAhcVeWw2IGO6PrIrD

@jpmondet can you try the same and see if this works for you? If so, then at least we know it's not a problem with Zebra <-> kernel

[2018-09-25 02:04] LQchengdu opened #3084 "BGP: 1248 ambiguous commands found"
hello,
i found some commands were ambiguous in bgpd daemon.

### Things you may try first
*  [x] Did you check if this is a duplicate issue?
*  [x] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**
N/A

### Description
`grammar find-ambiguous nodescan` find 1248 ambiguous commands found in bgp daemon

### Steps to Reproduce
1. execute command `show ip bgp vrf TEST ipv6

[2018-09-25 05:41] jpmondet commented on #3053
Hello @qlyoung,

Thank you for looking into this issue :+1:

Yeah, manually, via iproute2, it looks ok, Zebra do the ``ZEBRA_INTERFACE_ADDRESS_DELETE``.

However, via ``kube-proxy``, Zebra also receives exactly the same ``netlink_interface_addr RTM_DELADDR`` but does nothing. This is what I don't understand.
And I can't incriminate ``kube-proxy`` since everything else on the Linux side is in a goo

[2018-09-25 06:41] igoratencompass opened #3085 "zebra loading module "snmp" failed"
### Things you may try first
(put "x" in "[ ]" if you already tried following)
* [x ] Did you check if this is a duplicate issue?
* [ x] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**

### Description
I built with `--disable-snmp` but still see an error on startup related to snmp:

[code]

### Steps to Reproduce
Clone the current master and configure with:

[code]

[2018-09-25 11:28] ton31337 commented on #2150
fixed by https://github.com/FRRouting/frr/pull/2955

[2018-09-25 11:56] ton31337 commented on #986
fixed by https://github.com/FRRouting/frr/pull/2955

[2018-09-25 15:11] eqvinox commented on #3085
=> should fix the `daemons.conf` file to not load snmp if it's disabled at compile time.

[2018-09-25 17:57] donaldsharp opened #3090 "Create ability to query FRR about which route-maps/prefixes are defined but not used"
There are users who create a very large number of prefix-lists and route-maps.  Write a bit of code to allow us to know what is being used/referenced and what isn't and then be able to report on it with some command like `show route-map unused`

[2018-09-26 08:03] th3wingman commented on #2724
hey, anyone got this going?

[2018-09-26 09:38] patrasar commented on #3090
Started working on this

[2018-09-26 15:44] th3wingman commented on #651
Hi, has this been implemented now?

cheers, Greg

[2018-09-26 15:56] alliedtech commented on #651
No, is it functional in the new version?

From: Gregory Duraj <notifications@github.com>
Sent: Wednesday, September 26, 2018 11:54 AM
To: FRRouting/frr <frr@noreply.github.com>
Cc: Mario Gomez <mgomez@alliedtechpr.com>; Comment <comment@noreply.github.com>
Subject: Re: [FRRouting/frr] BGP receives VPNv4 updates but not sending VPNv4 updates (#651)

Hi, has this been implemented now?

cheers, Greg

[2018-09-26 17:03] louberger commented on #651
Mpls vpn was added in 5.0. There's even a topotest.

----------
On September 26, 2018 12:07:31 PM alliedtech <notifications@github.com> wrote:

[2018-09-26 17:07] th3wingman commented on #651
I'll upgrade and try again, thanks

[2018-09-26 17:36] alliedtech commented on #651
Excellent, I'll be going up a lab to test. Thanks!
From: Lou Berger <notifications@github.com>
Sent: Wednesday, September 26, 2018 1:04 PM
To: FRRouting/frr <frr@noreply.github.com>
Cc: Mario Gomez <mgomez@alliedtechpr.com>; Comment <comment@noreply.github.com>
Subject: Re: [FRRouting/frr] BGP receives VPNv4 updates but not sending VPNv4 updates (#651)

Mpls vpn was added in 5.0. There's even a to

[2018-09-27 08:01] pguibert6WIND opened #3099 "show ip ospf database [json] : json option not available"
### How to submit an issue
it is wishable to have the ability to extract OSPF show database command in json output.

[2018-09-27 09:19] bisdhdh commented on #739
@donaldsharp I am looking into this issue!

[2018-09-27 19:22] Avineus opened #3101 "Query regarding support of rsvp-te in free routing"
Are we planning to have support for rsvp-te.
Rfc 3209

### How to submit an issue
Please use this text as a template and replace text in the sections or remove
the entire section if it does not apply to your issue. For example in case of
a question or feature request, just a description with some example is probably
fine. Also remember to use GitHub Flavored Markdown properly, especially if
postin

[2018-09-29 23:33] altf4arnold commented on #2861
Can you explain a little bit further? I'm not quiet sure about what you mean

[2018-10-01 09:19] sarami99 opened #3109 "ICMP ping fail while VRF created on Ubuntu 16.04 TLS, hence the consequent FRR cannot run BGP vrf and OSF vrf etc"
I tried to create VRF on Ubuntu 16.04 TLS, and I target to build BGP vrf and OSPF vrf on FRR for multi-tenants over single server host if VRF is successful.

### **The setup process**
Environment:
Host A (ubuntu) lan2 10.11.0.2/30---direct connect---10.11.0.1/30 (vrf blue) lan2 Host B (EC-2)
Host A use local routing table by default; Host B created vrf blue in the following:

root@Sam-EC2:~# ip li

[2018-10-01 09:41] bisdhdh commented on #739
@donaldsharp NSSA feature seems to be broken in various ways. The main reason behind is the design of NSSA. More details on this would be shared below.

[2018-10-01 10:57] eqvinox opened #3112 "modules should be separate (sub-)packages with appropriate dependencies"
We should make (sub-)packages for
* frr-rtrlib
* frr-snmp
* frr-fpm
* (frr-zeromq)

Each of these would probably only contain very few files (`/usr/lib/frr/module/*.so`) but they would each have different dependencies, i.e.
* frr-rtrlib => rtrlib
* frr-snmp => net-snmp
* frr-fpm => protobuf
* (frr-zeromq => zeromq)

(The ZeroMQ one doesn't do anything useful without other code using it.)

[2018-10-01 11:33] bisdhdh commented on #3099
@pguibert6WIND I will be working on this.

[2018-10-01 12:47] altf4arnold commented on #2861
That's what I did

[2018-10-01 20:00] pguibert6WIND commented on #3112
Hi, may I know why frr-zeromq has been put inside FRR ?

[2018-10-01 20:02] pguibert6WIND opened #3114 "route-map / set ip nexthop nexthop-vrf id option"
I would like to bring the following feature:
ability for a route-map to replace a nexthop from a BGP entry with an other nexthop, and why not available on a distinct vrf.

[2018-10-02 00:52] ne-vlezay80 opened #3115 "FEATURE: Routing from openflow"
Please add support layer 2 routing from openflow to openvswitch. Example routers:

root@ne-vlezay80:/home/ne-vlezay80# ovs-ofctl dump-flows test
NXST_FLOW reply (xid=0x4):
 cookie=0x0, duration=850.049s, table=0, n_packets=599, n_bytes=68194, idle_age=276, in_port=1,dl_src=46:2e:2c:c8:8e:c3 actions=output:3
 cookie=0x0, duration=840.308s, table=0, n_packets=566, n_bytes=65492, idle_age=276, in_por

[2018-10-02 08:01] vishaldhingra commented on #2861
So the default behaviour is to deny all the routes for this configuration.
This is applicable for route maps also.
do you have a specific use case for this ?
do you want to modify this default behaviour ?

[2018-10-02 09:34] manuhalo commented on #3112
I wasn't around when it was included in FRR, but at Volta we are using frr-zeromq.

[2018-10-02 15:12] louberger commented on #3115
see https://github.com/LabNConsulting/frr-rfp-ovs-of/tree/working/3.0/rfp-ovs-of+port-queues issue is use of non-gpl code and that this is demo only. would be happy to collaborate on this

[2018-10-02 15:12] eqvinox commented on #3085
@igoratencompass you probably added `-M snmp` to your `/etc/frr/daemons.conf` and now your don't have the SNMP module.  There isn't really a lot we can do about this, if you enable a module and it isn't available that's an error...

[2018-10-02 15:14] louberger commented on #3101
labn has the code, but hasn't had time to integrate, please contact me directly (lberger@labn.net) if you'd like to discuss.

[2018-10-02 15:17] donaldsharp commented on #3114
set nexthop A.B.C.D nexthop-vrf <NAME>

seems appropriate

[2018-10-02 20:08] jpmondet commented on #3053
FYI, I also got the issue with Ubuntu and with the last version of Kubernetes (1.12).

Should I try with frr-6.1-dev ?

[2018-10-02 21:01] ne-vlezay80 commented on #3115
This fork is gpl based license.

[2018-10-02 21:04] ne-vlezay80 opened #3122 "FEATURE: please add bgpd not classes next hop"
Config peer example:

ifconfig eth0 91.219.5.246 netmask 255.255.255.255
ip route add 192.168.192.203 dev eth0
ip route add default via 192.168.192.203

Please add to bgp and zebra config this support.

[2018-10-02 21:05] donaldsharp commented on #3122
we already have the ability to create routes and add ip addresses to interfaces.  I do not understand the request.

[2018-10-02 21:06] louberger commented on #3115
the issue is with https://github.com/LabNConsulting/frr-rfp-ovs-of/blob/working/3.0/rfp-ovs-of%2Bport-queues/bgpd/rfp-ovs-of/librfp/rfp_ovs_testcontroller.c

[2018-10-03 11:31] rgirada opened #3124 "OSPF : default route got flushed after 30mins of refresh timer expiry"
After 30mins of refresh timer expairy , default route lsa got flushed from the originated router which intern makes it delete the route from peer end before the max expiry timer.
Idleay , Originate router should not flush the default route lsa in refresh timer expiry when user configured "default-info originate always".

Steps to reproduce the issue:
-----------------------------
1. Ensure the adj

[2018-10-03 11:35] rgirada commented on #3124
Please assign it me , I will start  look into this .

[2018-10-03 12:55] ne-vlezay80 commented on #3115
like a project under gpl, and what does the code under apache2 do in it

[2018-10-03 20:07] pguibert6WIND commented on #3114
Adding to this, I would like to refine the proposal, by:
- adding a match rule to match the nexthop vrfid.
- set a match rule to match nexthop-vrf self

[2018-10-03 22:03] #2201 closed

[2018-10-03 22:03] #2969 closed

[2018-10-03 22:03] #3008 closed

[2018-10-04 06:58] rohitgeek commented on #739
Hi @donaldsharp ,

As @bisdhdh mentioned, here I am sharing some of the test cases where NSSA doesn't yield the expected results:

Topology:
----------

<img width="697" alt="screen shot 2018-10-04 at 12 27 25 pm" src="https://user-images.githubusercontent.com/43746631/46457684-eaba4100-c7d0-11e8-8a26-f9001c7ed6a7.png">

1- As per standard NSSA ASBR should not generate a type-5 LSA. NSSA is design

[2018-10-04 08:02] Avineus commented on #3101
Thanks for your support

[2018-10-04 08:02] #3101 closed

[2018-10-04 13:57] donaldsharp commented on #3109
let's start by removing the custom rules you have added, they are not necessary, please read:
https://www.kernel.org/doc/Documentation/networking/vrf.txt
besides the rules you show you add are different than what is in the `ip rule show` command

[2018-10-04 14:50] altf4arnold commented on #2861
Yes, when it's configured like this, it's denying all the routes. If put no neighbor 172.23.215.167 filter-list empty in for example, it's going to work.

But if I re apply filters while putting allow any in it, it still blocks everything

[2018-10-04 16:41] qlyoung commented on #2969
@harajukakei Please see the updated documentation [here](http://docs.frrouting.org/en/latest/bgp.html#multiple-autonomous-systems).

[2018-10-04 16:41] qlyoung commented on #2201
@clintoncampbell Please see updated documentation [here](http://docs.frrouting.org/en/latest/bgp.html#multiple-autonomous-systems).

[2018-10-04 16:42] qlyoung commented on #3008
@fresaelens Please see updated documentation [here](http://docs.frrouting.org/en/latest/bgp.html#multiple-autonomous-systems).

[2018-10-04 17:56] qlyoung commented on #2921
Yeah, you set a bunch of variables to zero, never changed them, then wrote a bunch of `if` conditionals on the values, which of course will never execute. I'm not sure why I merged that code, as it also broke basically all of the show commands for BGP communities as described in #3084.

Anyway, seeing as that merge was my fault, I'm fixing this.

[2018-10-05 09:44] pautiina opened #3136 "After restarting the FRR service, zebra stops receiving routes from other services"
### Things you may try first
* [x ] Did you check if this is a duplicate issue?
* [x ] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**
[fill here if applicable]

### Description
After restarting the FRR service, the zebra stops receiving routes from other services.

### Steps to Reproduce
1. start server with enabled option` frr_enable="YES"` on file `/etc/rc.conf`
2

[2018-10-05 11:37] donaldsharp commented on #3136
can we get a `debug zebra packet`, `debug bgp zebra` from when it is not working?

[2018-10-05 11:56] pautiina commented on #3136
zebra.log
[code]
bgp.log
[code]

[2018-10-05 11:59] pautiina commented on #3136
By the way, I forgot to add that ipv6 routes are added

[2018-10-05 12:11] donaldsharp commented on #3136
ok let's see a `show ip nht` in the failed case?

[2018-10-05 12:16] pautiina commented on #3136
`show ip nht` - empty
![image](https://user-images.githubusercontent.com/11805503/46534659-93d86880-c8b1-11e8-9bea-443c86962ef8.png)

[2018-10-05 16:58] qlyoung commented on #3122
IP addresses:
http://docs.frrouting.org/en/latest/zebra.html#id3

Static routes:
http://docs.frrouting.org/en/latest/static.html#static-route-commands

[2018-10-05 16:58] #3122 closed

[2018-10-05 18:43] pautiina commented on #3136
@ocochard it's issue on FreeBSD rc.d frr script

[2018-10-05 19:11] pautiina commented on #3136
to fix it need for frr5 and frr4 and frr3 start script add next line:
[code]

[2018-10-05 19:15] pautiina commented on #3136
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=231984

[2018-10-05 19:17] pautiina commented on #3136
@donaldsharp  can confirm the solution to this problem and explain in more detail

[2018-10-06 07:36] pautiina commented on #3136
Thanks Oliver.
Fixed.

[2018-10-06 07:36] #3136 closed

[2018-10-06 13:49] jpmondet commented on #3053
Ok, done it just now with the most recent commits on the master branch : ``git build of frr-6.1-dev-122-g1c7e6ef``

I then followed the items 4 through 9 described here : https://github.com/FRRouting/frr/issues/3053#issuecomment-425627015

The issue is still there :
[code]
[code]

[2018-10-07 15:27] foosinn opened #3141 "frr for evpn without additional routers"
### Things you may try first
(put "x" in "[ ]" if you already tried following)
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

### Description

I have a 3 Node cluster in a Datacenter with /32 pointtopoint IPs. I want to setup a EVPN so my virtual machines can have a shared L2 domain no matter where they run.

### Steps to Reprodu

[2018-10-08 01:45] #2921 closed

[2018-10-08 01:45] #3084 closed

[2018-10-08 10:33] mdash-vmware opened #3144 "BGPd crashed on 2 routers while running Topotest "test_bgp_l3vpn_to_bgp_vrf.py""
BGPd crashed on 2 routers while running Topotest "test_bgp_l3vpn_to_bgp_vrf.py"

I just upgraded my Ubuntu kernel from 4.4 (4.4.0-87-generic) to 4.9 (4.9.0-040900-generic) and when I ran "test_bgp_l3vpn_to_bgp_vrf.py" from Topotest, I can see BGPd crashed and core generated on 2 of routers while cleaning up the test.

FRR Version :
==============

Hello, this is FRRouting (version 5.0.1).
Copyrigh

[2018-10-08 10:40] mdash-vmware commented on #3144
Attaching the full Topotest Run log.

[BGPd_Crash_Topotest_bgp_l3vpn.txt](https://github.com/FRRouting/frr/files/2455581/BGPd_Crash_Topotest_bgp_l3vpn.txt)

[2018-10-08 16:09] devicenull opened #3146 "ospf6d assertion failed"
### Description
OSPF6D is hitting this assertion and failing:

[code]

I'm currently hitting this in 2 distinct networks, although the other end of the OSPF6 session is currently a Juniper device in both cases.

### Components
Version: 3.1+cl3u3

### Versions
* OS: Cumulus 3.7.0 (this was fine in older versions, last known good was 3.5.1)

[2018-10-08 22:43] trae32566-w opened #3148 "Request: Add 'show' command in configuration mode"
### Request
The addition of a 'show' command when in configuration sub-nodes would allow administrators to see specific information about the node they're modifying, without the extra information that other commands give.

### Example of an alternate implementation
[code]
### Example of what it might look like
[code]

### Versions
* OS: CentOS 7
* Kernel: 3.10.0-862.14.4.el7.x86_64
* FRR: 6.0

[2018-10-09 07:47] baiwei0427 opened #3149 "Unknown commands "advertise-all-vni" and "advertise ipv4 unicast" in frr.conf"
### Description
I am trying to enable EVPN (Type-5) on FRR. However, my FRR reports that "advertise-all-vni" and "advertise ipv4 unicast" are unknown commands.

### Steps to Reproduce
#### 1. Build FRR 5.0.1 Docker image
<pre>
$ wget https://github.com/FRRouting/frr/archive/frr-5.0.1.tar.gz
$ tar -zxvf frr-5.0.1.tar.gz
$ cd frr-frr-5.0.1/
$ docker build --rm -f docker/alpine/Dockerfile -t frr:5.0.

[2018-10-09 14:16] pguibert6WIND commented on #3114
https://github.com/FRRouting/frr/pull/3150

[2018-10-09 15:52] donaldsharp opened #3151 "ZEBRA_ROUTE_MAX and using it to signify the default route"
We appear to be using ZEBRA_ROUTE_MAX in the code to signify the default route.  We need to review and come up with a better way of handling this.  Additionally we neeed to look at all the places we loop over the route types and make sure we are doing the right thing

[2018-10-09 16:55] pguibert6WIND opened #3152 "Kernel route kept in ZEBRA, whereas kernel suppressed it"
the problem occurs on 5.0, but should happen on master too.

I have a dhcp client configured before zebra is launched.
dhcp client offers a default route on an interface named mgmt0: 0.0.0.0/0 via 10.0.2.3, mgmt0
then I launch zebra.

at one moment, I release DHCP
what happens is that the default route is unseleted on zebra : * K 0.0.0.0/0 10.0.2.3
whereas on kernel, route is suppressed
ip ro show

[2018-10-09 16:55] pguibert6WIND commented on #3152
[issue_kernel_default_route_not_suppressed_from_frr_leads_to_inconst.txt](https://github.com/FRRouting/frr/files/2461417/issue_kernel_default_route_not_suppressed_from_frr_leads_to_inconst.txt)

[2018-10-09 18:33] donaldsharp commented on #3152
@pguibert6WIND -> Install the kernel route with a metric of 4278198272 and this problem will go away.

[2018-10-09 21:53] donaldsharp commented on #3141
do you have zebra running?

[2018-10-10 05:43] lguohan commented on #3149
looks like you need ```--enable-cumulus``` for 5.0 and 4.0 to use evpn, but you do not need this for 6.0 and above

[2018-10-10 06:05] foosinn commented on #3141
yes, zebra was always is running.

[2018-10-10 06:33] pguibert6WIND commented on #3152
the problem is due to the workflow.
- when calling dhcp -r , on kernel, the address is left, as well as the default route.
however, in frr, only address is left; default kernel route is unselected but still present.

- if i manually suppress the default route from kernel , then call dhcp -r, it is ok.

also as far as I know, this is not possible to set metric in dhcp client default route.

[2018-10-10 07:13] baiwei0427 commented on #3149
@lguohan Yes, the EVPN commands are enabled by default in FRR 6.0

[2018-10-10 09:22] pguibert6WIND commented on #3039
https://github.com/FRRouting/frr/pull/3157

[2018-10-10 09:27] liuxyon opened #3158 "install frr6 in ubuntu18.04 for network down"
When I installed the FRR6 version in the UBUNTU18.04 system, the system network was interrupted.

[code]

[2018-10-10 12:00] sarami99 commented on #3109
Finally, I reached vrf on Ubuntu like this. Please see the overall configuration.

root@ubuntu:~# -4.10.0-14-generic-get install linux-headers-4.10.0-14-generic linux-image-extra
Reading package lists... Done
Building dependency tree
Reading state information... Done
......
......
......
linux-headers-4.10.0-14-generic is already the newest version (4.10.0-14.16~16.04.1).
linux-image-extra-4.10.0-

[2018-10-10 15:40] pguibert6WIND commented on #3152
for some external reason, a route from kernel may be suppressed, because the address is no more available.
I think of the following:
- kernel routes should be suppressed in zebra when not selected
( next hop tracking should act differently with kernel routes, perhaps)
- alternatively, a special discovery to syncronise zebra view with kernel should be triggered

[2018-10-10 15:44] donaldsharp commented on #3152
I am going to nak any change that breaks admin distance issues.  non-frr routes are considered to be better admin distances and as such must be respected if we want proper route resolution to be done.  We've provided a methodology for the communication of routing priorities.  If you want a different resolution then a route-map for the incoming route to set a higher admin distance would be the appr

[2018-10-10 16:42] donaldsharp commented on #3152
I missunderstood @pguibert6WIND's issue.  This is that the kernel has a route and when the interface for that route goes down, there is no notification that that route has gone down.  It typically is expected that the routes originator should react to interface events, but in this case the originator has gone away for various reasons.

[2018-10-10 20:08] qlyoung commented on #3158
@liuxyon, we are going to need some more details, specifically:
1. What you expected
2. What you got instead
The output of `dpkg` during a package install is not very helpful here. The new issue template is provided to ensure we get the proper information needed to look into issues.

[2018-10-10 20:50] patrick7 commented on #3158
Maybe his connectivity depends on the routing?

[2018-10-11 01:23] 464d41 opened #3160 "Flowspec entry is not installed in PBR"
### Description

FRR receives flowspec entry but it is reported as "not installed in PBR" and rule isn't applied to traffic.

### Steps to Reproduce

1. Configure BGP to accept flowspec
[code]

2. Check received flowspec entry

[code]

[code]

[code]

**Expected behavior:**

Flowspec entry translated to underlying linux instructions and applied to traffic flow

**Actual behavior:**
Looks flowspect

[2018-10-11 02:16] sarami99 commented on #3109
Why there are many strikethrough inline??

[2018-10-11 02:16] #3109 closed

[2018-10-11 03:52] AlexFeng123 opened #3161 "pimd: startup failed"
pimd startup failed with configurations
root@alexfeng:/home/alexfeng# cat /etc/frr/pimd.conf
!
inteface lo
 ip igmp
 ip igmp join 224.1.1.1 13.13.13.2
!
log file pimd.log
startup  log:
2018/10/11 11:44:16 PIM: ERROR: No such command on config line 2:  ip igmp join 224.1.1.1 13.13.13.2

frr version: frr_6.0-1.ubuntu16.04+1_amd64.deb
os: Linux ubuntu 4.4.0-131-generic #157-Ubuntu SMP Thu Jul 12 15:5

[2018-10-11 05:50] bisdhdh commented on #3146
@donaldsharp @manoj-viswanath  I am working on this.

[2018-10-11 05:54] bisdhdh commented on #3146
@devicenull
Please let me know the router configuration and the steps to recreate. So that i can try it on my VM.

[2018-10-11 11:13] pguibert6WIND commented on #3160
the PBR install requires FRR to contain a plugin that is not yet in FRR main stream
( look at https://github.com/FRRouting/frr/pull/2025 for more information).

[2018-10-11 12:42] pguibert6WIND commented on #3160
yes. a patch will be provided. but the ETA has been delayed.

[2018-10-11 13:00] donaldsharp commented on #3161
@AlexFeng123 -> Please use "interface lo" not "inteface lo".  I am not sure why this line does not spit out the correct failing line as that is the actual bug.  @qlyoung -> the line number is correct for the failure but it has `switched to `ip igmp join ...` as the command that failed when `inteface lo` is wrong.

[2018-10-11 14:38] #3149 closed

[2018-10-11 14:55] devicenull commented on #3146
[code]

is the only ospf6 config present

[2018-10-11 14:55] ocochard commented on #1899
Same behaviour on 6.0

[2018-10-11 17:06] pguibert6WIND commented on #3152
i did not test it https://github.com/FRRouting/frr/pull/3165

[2018-10-11 18:08] 464d41 commented on #3160
That is great. Thank you guys for fast reply. Hope on same fast resolution. Let me know if any other debug data is needed.

[2018-10-11 18:08] vishaldhingra opened #3166 "Recursive static routes are not working with interface based routemaps"
### Steps to Reproduce
[code]

**Expected behavior:**
9.9.9.9 gets installed in FIB.

**Actual behavior:**
9.9.9.9 is discarded by the Route-map

[2018-10-11 18:10] donaldsharp commented on #3166
Sure they do, if they are passed in as interface based.  Some routing protocols do pass down fully resolved nexthops.

[2018-10-11 19:34] #2924 closed

[2018-10-11 19:36] qlyoung commented on #3158
No way to tell without additional info. @liuxyon I'll leave this open for a few more days, and will close it if you don't provide additional info.

[2018-10-11 20:55] ocochard commented on #1899
The "problem" with the multiple port, was because:
1. frr4 was not very stable, so I've preferred to kept net/frr3 and add a new net/frr4
2. It's great to provide a minimum of 2 main versions
But I didn't know at the moment of frr4, that each new version will be 'major' versions, pushing me to create a new port each time :-(
So, once frr6 will be out, I will delete net/frr3 and net/frr4 (I need to

[2018-10-11 22:08] pautiina commented on #1899
I think need read this PR https://github.com/FRRouting/frr/pull/2725 and then think about delete frr version port

[2018-10-11 22:30] pautiina commented on #2912
Can be related on this https://github.com/FRRouting/frr/issues/3136. Try update port and retest.

[2018-10-12 01:33] k0ste commented on #1422
@donaldsharp any news for this?

[2018-10-12 05:27] vishaldhingra commented on #2861
here you are trying the below operations
1. If put no neighbor 172.23.215.167 filter-list empty in for example, it's going to work.
address-family ipv4 unicast
no neighbor 172.23.215.167 filter-list empty in

2. But if I re apply filters while putting allow any in it, it still blocks everything

====== Filter configuration =========
ip prefix-list dn42 seq 5 permit any
ip prefix-list empty seq 10

[2018-10-12 06:58] pguibert6WIND commented on #3152
[code]

[2018-10-12 11:42] manoj-viswanath commented on #3124
This issue can be marked as closed.

[2018-10-12 12:10] ak503 opened #3169 "bfd: mistake in hash"
https://github.com/FRRouting/frr/blob/eaae6204a99340d67e50d36b8e67d0407608a1d4/bfdd/bfd.c#L1048

it is not work. i can create many identical multihop peers. need `return hash_lookup(bfd_mhop_hash, &bs); `

[2018-10-14 19:15] patrick7 opened #3173 "staticd naming & missing show commands"
- There's no "sh run static{d}"
- static{d} is not present in v6's /etc/frr/daemons
- to add it manually, the name is, not like all other daemons (except zebra), ending with "d"

[2018-10-14 23:03] donaldsharp commented on #3173
@patrick7 it was intentional not putting staticd in /etc/frr/daemons, as that tools/frr starts staticd automatically if zebra is started.  PR incoming for the 'show run static" in a sec here

[2018-10-15 11:02] pguibert6WIND commented on #3114
https://github.com/FRRouting/frr/pull/3177

[2018-10-15 15:27] #3158 closed, assigned to nobody

[2018-10-15 18:37] #3169 closed

[2018-10-16 03:23] aderumier opened #3183 "frr 6.0 : debian9 build error: command_py.c:337:2: error: dereferencing type-punned pointer will break strict-aliasing rules"
Hi,

I'm currently to build frr 6.0 on debian 9, and I have this build error

[code]

#gcc -v :  gcc version 6.3.0 20170516 (Debian 6.3.0-18+deb9u1)

It was working fine with 5.0.1 build.

[2018-10-16 03:36] aderumier commented on #3183
Ok, I have find the problem.

Seem that python3-dev is required to get it work. (I have both python2 && 3 installed on my build system)

It was added in this lost commit
https://github.com/FRRouting/frr/commit/4448b4daec8657dafe8b8f8167127f31d6928ff1#diff-d837a1c17de0268bcea321239ddbed47

and current control.ini have only "libpython-dev".

[2018-10-16 09:55] rzalamena opened #3184 "NetBSD: recent backtrace breakage"
### Description

Recently the NetBSD VMs in the CI system were upgraded and the `make check` tests started failing. After a quick investigation it was found that the daemons (e.g. everyone using `openzlog`) where crashing at this point:

[code]

The function that is causing the crash is `backtrace(bt, array_size(bt))`.

Is this function supposed to be used at all in NetBSD? The definition ( `HAVE_

[2018-10-16 11:37] rohitgeek opened #3185 "BGP authentication config leads to unreachability of virtual FRR-router."
When we try to configure BGP authentication between two peers (eBGP or iBGP), we lose connectvity to our virtual FRR-router. Please refer below screenshot for more information:

![image](https://user-images.githubusercontent.com/43746631/47013085-ac733900-d163-11e8-8bda-fdda78005f43.png)

In order to restore the connectivity VM has to be rebooted.

**Configuration on router:**

_router bgp 200
 bg

[2018-10-16 12:51] deltaman opened #3187 "BGP session does not come online when using ebgp-multihop 3"
### Things you may try first
(put "x" in "[ ]" if you already tried following)
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**
[fill here if applicable]

### Description
[Description of the bug or feature]

### Steps to Reproduce
1. Upgrade FRR from 5.0 to 6.0
2. Start FRR 6.0 with the config:
[code]

**Expected

[2018-10-16 13:13] eqvinox commented on #3184
NetBSD miscompiled their `libexecinfo`; it seems they accidentally used `-fomit-frame-pointer`.  The disassembly of `backtrace()` is clearly wrong (rbp/ebp is incorrectly used as temporary scratchpad register.)

Manually compiling libexecinfo on a test VM confirmed to get it back to working.

[2018-10-16 15:20] rzalamena commented on #3184
Actions:
* @eqvinox will handle the `libunwind` integration;
* @rzalamena will fix the `libexecinfo` in the NetBSD build VMs;
* @rzalamena will notify NetBSD about the breakage;

[2018-10-16 21:48] donaldsharp commented on #3187
Can we get `show bgp martian next-hop` as well as `show ip nht`, `show bgp nexthop` . Additionally it would be nice to know the output of `debug zebra neighbor-events` for when we are attempting to establish connectivity.

[2018-10-17 08:33] AlexFeng123 commented on #3161
ok,  i  will modify it and use  the config file to use pim:
pimd.conf
!
log file pimd.log
!
ip multicast-routing
!
ip pim rp 11.11.11.3
!
interface lo
 ip pim sm
!
interface enp0s8
 ip pim sm
!
interface enp0s9
 ip pim sm

!

 but in version 6.0
systemctl restart frr

it's long time to  to start:
root@ubuntu:/home/alex# systemctl status frr
â— frr.service - FRRouting
   Loaded: loaded (/lib/system

[2018-10-17 13:21] pguibert6WIND opened #3193 "bgp dampening parameters values are not self to each afi/safi"
Actually, bgp dampening can be configured on ipv4 unicast, and on ipv4 multicast.
but the values configured are commong.
so if I first configure bgp dampening for ipv4 unicast, then I choose different value for ipv4 multicast, then the ipv4 unicast values for bgp dampening are overwirtten.
[code]

[2018-10-17 16:20] qlyoung commented on #3183
@aderumier - this is a defect in our Build-Deps line. Thanks for pointing it out.

[2018-10-18 00:46] eqvinox commented on #3085
Seems to be a misconfiguration - closing.

@igoratencompass if you have further questions please reopen this issue!

[2018-10-18 00:46] #3085 closed

[2018-10-18 12:30] Adze1502 opened #3200 "BGP frr6 evpn vxlan: %EVPN-3-DUP_VNI_ROUTERMAC error received on Arista RR"
### Things you may try first
(put "x" in "[ ]" if you already tried following)
* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

### Description
My setup:

Two BGP EVPN route-reflectors running on Arista switches + two Hypervisors (Ubuntu 18.04 with 4.18.13  kernel) running frr 6.0 build. Each hypervisor has one iBGP session with ea

[2018-10-18 16:59] donaldsharp commented on #1422
we fixed this:

commit 40da52d8c10273f18e3b3cc522ecfa1847ca3198
Author: David Lamparter <equinox@opensourcerouting.org>
Date:   Thu Sep 27 01:49:07 2018 +0200

    tools/frr: use path settings from ./configure

    ...so we properly locate config files and daemons whereever the user
    decided to put them.

    Signed-Off-By: David Lamparter <equinox@diac24.net>

[2018-10-18 16:59] #1422 closed

[2018-10-19 10:11] #3161 closed

[2018-10-19 20:45] qlyoung commented on #3144
@mdash-vmware can you please apply the patch in #3195 and check if it fixes the issue? if so then we need to backport it to 5.X

[2018-10-21 07:54] deltaman commented on #3187
Good morning,

I have located the problem, static routes are moved from global routing table to vrf xxx routing table when restarting frr. Configuration that I have before the upgrade from 5.0 to 6.0:
!
vrf domoticz
 ip route 185.242.227.248/30 TUNIXCOREPUBLIC
 ip route 192.168.2.248/30 TUNDOMOTICZKK
 ip route 192.168.200.108/32 TUNDOMOTICZMBL
 ip route 192.168.35.12/32 TUNDOMOTICZHK
!
 ip route 1

[2018-10-21 12:48] altf4arnold commented on #2861
I didn't understood the last question. What do you mean by defining the ip filter-list?

Meanwhile, if I do step 1 from your previous message, then I can install routes.
if afterwards I put the filters back (even with permit any in the filter list) it still works until I take the interface down/up where it refuses again to install anything.

[2018-10-21 19:44] donaldsharp commented on #3187
@deltaman -> add a `exit-vrf` command instead of the '!' at the end of the vrf domoticz section.

[2018-10-21 20:14] dmbaturin opened #3215 "Unable to delete an entire community-list"
### Description

It is possible to delete most of the routing policy entities in one command, but for community-list and extcommunity-list is it impossible.

### Steps to Reproduce

Create a community-list or an extcommunity-list and try to delete the entire list by omitting the permit/deny part as it's done with other entities.

[code]

### Expected behaviour

For large-community-lists it works:

[2018-10-22 08:41] nkukard opened #3216 "IPv6 multipath nexthop issue and duplicate routes"
### Things you may try first
* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

### Description

Maybe I'm missing something here, but this looks incorrect...

Check these v6 bgp entries, they're right ...

[code]

From vtysh the routes look right too ...

[code]

Check these routes ... for some odd reason, the above vtysh commands p

[2018-10-22 08:58] chqinese opened #3217 "PIM-SM: Rp address is route's pim-sm neighbor, pim_upstream.rpf.rpf_addr is 0.0.0.0. So can not send join packet."
### Description
NetWork：
[code]
Setting：
* Ospf is open on all network.
* rp address is on router1‘s eth2.
* router1  eth1:  pim-sm igmp
* router1  eth1:  pim-sm
* router2  eth2:  pim-sm
* router2  eth1:  pim-sm igmp

Problem：
       A `pim_upstream` is create for igmp on router2. The rp address is the router2's pim neighbor.
       `pim_find_or_track_nexthop()` and `pim_ecmp_next_search()` will s

[2018-10-22 10:04] deltaman commented on #3187
I have upgraded and now am using version 6.0 and I have active BGP sessions.

thx

[2018-10-22 10:04] #3187 closed

[2018-10-22 10:04] deltaman commented on #3187
I have upgraded and now am using version 6.0 and I have active BGP sessions.

thx

[2018-10-22 16:04] Tuetuopay opened #3220 "Route-map with `set ip next-hop unchanged` not keeping original IP"
### Description
I am trying to inject type-5 routes in an L2VPN EVPN fabric using FRR as my VTEP daemon, the injector begin gobgp.

The issue is, when injecting a route, FRR will default to NOT respecting the announced gateway in the route, but use the injector's `router-id`. This behavior is OK as it is in line with the RFC. Yet I need to keep the announced GW IP for the NH IP, else my route inje

[2018-10-22 20:14] ne-vlezay80 opened #3223 "routing from vrf"
This config:

[code]

sh ip bgp:
[code]

Haw to route vrf via global?

[2018-10-23 08:45] aderumier commented on #2538
my pro email : aderumier@odiso.com

[2018-10-23 10:45] eqvinox opened #3224 "vtysh: daemon-list auto string"
re. PR #3175 we want some magic to auto-generate the list of all daemons for vtysh.

### Components
* vtysh

[2018-10-23 10:46] #3173 closed

[2018-10-23 15:36] eqvinox commented on #3152
Should be fixed in #3165

[2018-10-23 15:36] #3152 closed

[2018-10-24 03:47] bisdhdh commented on #3185
Hi All,

I am summarizing the investigation I had done.

1.  Here is see the VM becomes unreachable when we try to configure password for a BGP Neighbor. I had verified the VM actually crashed due to the above operation. The reason for the crash is, we are to configure MD5 portion on that bgp  sockets.

[2018-10-24 03:59] bisdhdh commented on #3185
Hi All,

I am summarizing the investigation I had done on this bug, as below : -

1.  Here is see the VM becomes unreachable when we try to configure password for a BGP Neighbor. I had verified the VM actually crashed due to the above operation. The reason for the crash is, we are to configure MD5 portion on that bgp sockets.
›
![screen shot 2018-10-24 at 9 18 51 am](https://user-images.githubuser

[2018-10-24 05:53] manoj-viswanath commented on #3185
@eqvinox Can you please mark this as closed as discussed in the weekly call on 23/10 ?

[2018-10-24 06:07] #3185 closed

[2018-10-24 06:24] rohitgeek opened #3228 "eBGP neighborship, between loopback IPs of peers, comes up without ebgp-multihop command"
Version: **FRRouting 4.0**

*********Topology**********

<img width="706" alt="screen shot 2018-10-24 at 11 53 15 am" src="https://user-images.githubusercontent.com/43746631/47410437-70536000-d783-11e8-9ae8-d8b2e391c176.png">

eBGP neighborship, between loopback IPs of peers, should not come up without ebgp-multihop command. However in FRR it comes up even without using ebgp-multihopcommand(which

[2018-10-24 11:35] Tuetuopay opened #3231 "[BGPD] Crash on route un-advertising"
**Related Issue:**
The setup is the same as in #3220

### Description
When un-advertising a route previously injected by gobgp, bgpd crashes with the following stack trace (obtained through `systemctl -xu frr`):

[code]

### Steps to Reproduce
1. Apply the steps of #3220
2. Unannounce the route with `root@injector:~# gobgp global rib -a evpn del prefix 10.0.0.0/24 gw 172.16.0.2 etag 0 label 1000 r

[2018-10-24 21:43] krytarowski commented on #3184
For your interest, NetBSD 6.x is EOL and 7.0 is oldstable. 8.0 is the newest release, and we plan to ship 9.0 sooner than usually (a lot of CPU bugs had to be mitigated and various other security reasons).

I propose to focus on 8.0+ entirely unless someone has a good reason to support older version of NetBSD-7.x.

[2018-10-25 04:10] vishaldhingra commented on #2861
Please paste the exact CLIs and steps(all the things that what you are trying like interface down/up) in a sequence .

[2018-10-25 04:12] vishaldhingra commented on #2861
may i know ur slack id ? My slack id : vdhingra in FRRouting workspace.

[2018-10-25 06:51] pguibert6WIND opened #3238 "ospf / can not delete area virtual link"
#router ospf
#area 1 virtual-link 1.2.3.4
#area 1 virtual-link 2.3.4.5
#no area 1 virtual-link 1.2.3.4
#no area 1 virtual-link 2.3.4.5
Area does not exist
#do show running-config
router ospf
 area 1 virtual-link 2.3.4.5
!

[2018-10-25 07:08] pguibert6WIND commented on #3238
the issue is that it is not possible to unconfigure virtual link.

[2018-10-25 09:19] dmians opened #3241 "TCP (BGP) sessions not established with passive peers | [FSM] TCP_connection_open_failed (Connect->Active)"
BGP sessions with passive peers not coming up. If other end configured as active BGP session brings up.
Also, if I not running zebra daemon (only bgpd), those BGP sessions working perfectly.
But If Zebra daemon is enabled, then peers are not working and no TCP sesions are established.

### Versions
* OS:  Debian 9.5
* Kernel:  Linux 4.9.0-7-amd64
* FRR:  frr_6.0-1.debian9+1_amd64.deb

In log i see

[2018-10-25 09:36] dmians commented on #3241
Just added most specific static route to the peer and session is up now

[2018-10-25 13:04] k0ste opened #3242 "[pbrd] How-to make ip rule without interface?"
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

### Description
How-to make ip rule with pbrd like this:
`ip rule add from 5.128.220.100 lookup ntk`
`ip route add 0.0.0.0/0 via 5.128.220.1 table ntk`

### Steps to Reproduce

[code]

**Expected behavior:**

Possible to add pbr without interface definition.

**Actual behavior:**

`p

[2018-10-25 13:05] pguibert6WIND opened #3243 "distribute-list is indexed by ifname only - need to extend to (ifname,vrf)"
distribute-list is used by some daemons.

because daemons become vrf compliant, the usage of distribute-list will become problematic, because the list is common and not separate for each vrf.

the ticket is here to implement this distribute-list per vrf and per interface.

[2018-10-25 13:13] k0ste commented on #1422
Thank you. I was cherry-pick'ed this changes to stable/6.0 #3244.

[2018-10-25 13:25] wowks opened #3245 "FreeBSD pimd"
### Description
Starting pimd results in

I tried GENERIC kernel with ip_mroute.ko and ip6_mroute.ko loaded
Tried kernel with MROUTING option.

### Versions
OS: FreeBSD 11.2-RELEASE
FRR: 6.0

Just tell me, if I can provide more details.
Thanks!

[2018-10-25 15:15] pguibert6WIND commented on #3243
https://github.com/FRRouting/frr/pull/3246

[2018-10-26 14:50] patrick7 opened #3248 "Static garbage routes"
It looks like FRR does not check if the nexthop is valid when adding static routes:

[code]
Should we check if the next hop is valid?

[2018-10-26 18:43] Wouter0100 commented on #3146
I might have hit a bug in #1878 some time back which looks like nearly the same. Seems to both come across `ospf6_intra_prefix_lsa`. This one in `add`, mine in `remove`. Could this be related? Also when using JunOS and ospf6d.,

[2018-10-26 19:14] devicenull commented on #3146
FWIW, the cumulus staff fixed this for me in cumulus 3.7.1, so there's definitely a patch floating around for it somewhere.

[2018-10-26 20:41] qlyoung commented on #3248
These are being interpreted as interface names, not v4 nexthops. That said, should we filter interface names a bit more strictly, i.e. applying the same constraints that netlink has? Probably.

@patrick7 could you update the issue title, or open a new issue, reflecting that?

[2018-10-27 05:07] madhu222 opened #3251 "BGP extended next hop capability not working from version 5.0.1"
### Description
The route is showing with next hop as IPv4 address instead of next hop ID/IPv6 link local

### Steps to Reproduce
1. Have BGP unnumbered neighborship between two systems
2. Have loopback configured on both and assign as router-id for both
3. Advertise a route from one system
4. Check the other system, it will show the route as not stable route in bgp because the next hop will be IP

[2018-10-28 22:20] altf4arnold commented on #2861
Can you add me to the FRRouting workspace please?

[2018-10-28 22:31] donaldsharp commented on #2861
@altf4arnold -> slack invite sent

[2018-10-29 04:49] alemonmk opened #3254 "Is BGP MPLS 6PE still not working?"
### Things you may try first
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**
#2671 #2750 ~~#879~~ ~~#421~~

### Description
I'm trying to deploy MPLS over DMVPN and implement 6PE. I have an ISR 4321 (on dynamic IP) and a VPS as spokes and another VPS as hub, connected using OpenNHRP. MPLS is set up using targete

[2018-10-29 08:33] Wouter0100 commented on #3146
Thanks, hopefully this fix will reach FRR at some point then. I just tested it again with the latest VyOS (running 5.1-dev) and I get the exact same error as reported here. Not the one reported in #1878 anymore.

[2018-10-30 01:13] donaldsharp opened #3259 "zebra_dplane.c does not compile w/ clang 6.0.1"
[code]

[2018-10-30 01:14] donaldsharp opened #3260 "new Data plane code crashes in CI"
AssertionError:  r4: zebra crashed. Core file found - Backtrace follows: [New LWP 8651] [Thread debugging using libthread_db enabled] Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1". Core was generated by `/usr/lib/frr/zebra'. Program terminated with signal SIGABRT, Aborted. #0  0x00007f471eac3428 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:54 #0

[2018-10-30 13:57] mjstapp commented on #3260
Looks like the changes that added the 'zebra_router' component overlapped with the async dataplane changes in a way that wasn't a merge issue, but is a semantic sort of issue. The zebra shutdown path is calling 'rib_close_table()' more than once, and that wasn't safe. I've opened PR 3621 to try to make that path safe.

[2018-10-30 15:08] donaldsharp commented on #3228
We need to check to see if we still behave like this under 5.0 and 6.0 and see what needs to be touched to fix.

[2018-10-30 15:13] donaldsharp commented on #3242
PBR is designed to work with an incoming interface, if you do not want that we will need to modify PBR to do this.

[2018-10-30 15:13] eqvinox commented on #3241
Can you provide more input on your setup (with zebra running)?
`show ip route`
`show ip nht`
`show bgp nexthop`

It seems that for some reason bgpd thinks your peer is unreachable...

[2018-10-30 15:29] eqvinox commented on #3254
I'm assuming we haven't implemented crossing the address family in an MPLS setup since the v6 route needs to resolve to a label acquired by the IPv4 nexthop.

=> need to check this is indeed the case and what work is needed to get this in

[2018-10-30 15:37] dmians commented on #3241
removed static route and peers not working now.
Requested output below:

BH1# sh ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR,

**K>* 0.0.0.0/0 [0/0] via 84.32.132.1, eth0, 00:02:06**
C>* 10.199.137.0/30 is directly connected, eth0.1001,

[2018-10-30 16:18] k0ste commented on #3242
I was thinking that pbrd is Policy Based Routing daemon and I'll can replace my iproute scripts with this `frr` feature.
My ip rule example, and lookup like this `ip rule add from all fwmark 0x1e5b lookup this_table` is a gentlemen's set.
If this is not possible at this time - this issue is feature request.

[2018-10-30 17:13] #3260 closed

[2018-10-30 19:07] donaldsharp commented on #3242
as a workaround you can add the pbr-policy to every interface, you'll end up with more rules but it will allow you to use it in the meantime.

[2018-10-30 19:21] donaldsharp commented on #3245
https://github.com/FRRouting/frr/pull/3263

@wowks -> things should work a bit better now.  I do not have a properly setup *bsd system in my testbed to do any further testing than to see if the pim mroute socket is created.

[2018-10-31 06:08] vijaykug opened #3264 "Ebgp neighbor stuck in active state if multihop cli given before the update-source"
Please the issue detail below , this looks like CLI sequencing issue.

[code]

R5 config :
[code]

R6 config:
[code]

In above config please note that `ebgp-multihop` cli is configure before the update source
when this config is applied Ebgp BGP session getting stuck in Active state , `clear bgp` also did not helped

 If i change the sequence  like below  ( update source command first and `ebgp-mu

[2018-10-31 06:32] vijaykug opened #3265 "BGP address family should be shown in running config"
Please note  this is not the functional issue might be related to display

 Currently when we configure the bgp address family either ipv4 unicast or ipv6 unicast configuration is accepted but address family type not shown in running config until we configure some commands under the family .
 i just configure the address family ipv4 unicast , but that is not shown in the running config.
R6(config)

[2018-10-31 12:44] rohitgeek commented on #3228
Hi @donaldsharp

I have tested the same behavior in version 6.1 today. There ebgp neighborship doesn't come up without **ebgp-multihop** command. However I noticed that even if we add this command to fix the issue at both ends, we need to delete BGP process globally and redo BGP the config for bringing up the peering. It doesn't come up by clearing the peering through CLI (**clear ip bgp**). pleas

[2018-10-31 13:05] louberger opened #3266 "make tags broken in master"
### How to submit an issue
Please use this text as a template and replace text in the sections or remove
the entire section if it does not apply to your issue. For example in case of
a question or feature request, just a description with some example is probably
fine. Also remember to use GitHub Flavored Markdown properly, especially if
posting output or code listings.

### Things you may try firs

[2018-10-31 15:52] manuhalo opened #3268 "zebra: memory leak detected by LeakSanitizer"
### Things you may try first
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**
N/A

### Description
Running `zebra -d` with the address sanitizer enabled shows that there are memory leaks.

### Steps to Reproduce
1. configure zebra with the `--enable-address-sanitizer` flag
2. `make` + `make install`
3. `zebra -d`

[2018-10-31 17:12] kooky commented on #3265
which version of FRR are you running?

I'm not 100% sure what you mean.

I think you are trying to say that after the
`address-family ipv6 unicast`
you should see
`R6(config-router-af)`

???
Looks ok to me in FRR6.

    rt2# configure terminal
    rt2(config)# router bgp 12345
    rt2(config-router)# address-family ipv6 unicast
    rt2(config-router-af)#

Or did you mean you want to see something

[2018-10-31 17:18] kooky commented on #3148
You know you can type  `do show running-config` anywhere?

[2018-10-31 17:30] patrick7 commented on #3148
Of course.
The topic here is to show the running config of a section

conf t
router ospf
show run

should display only ospf config.

[2018-10-31 17:47] rwestphal commented on #3148
Implementing this new functionality should be straightforward once the northbound PR (#2705) is merged. The new northbound architecture will allow us to manipulate configurations (running, candidate, etc) using high level abstractions, which wasn't possible before.

As an example, to display only the subsection of the candidate configuration the operator is editing, the following lines of code wou

[2018-10-31 18:08] vijaykug commented on #3265
hi ,
i am using 6.1 FRR version
dev# show version
FRRouting 6.1-dev-bgp_scale_test-gdc790ba (dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-6.1-dev-61-gdc790ba
Associated branch(es):
        local:master
        github/NaveenThanikachalam/frr/master

let me rephrase my question

i have configure below BGP nbr CLIs on router R6

R6(config)# router bgp 3
R6(config-rou

[2018-11-01 16:09] rwestphal opened #3270 "Small issue with Coverity Scan and DEFPY"
Using DEFPY we can define commands like this:
[code]

And here's the associated code generated by clippy:
[code]

Since `LINE` is a mandatory parameter, the `password` variable can never be NULL. The problem is that Coverity Scan doesn't know that, thus it throws lots of unnecessary `Explicit null dereferenced (FORWARD_NULL)` warnings.

What would solve this problem is to add `assert`s before dere

[2018-11-01 22:43] donaldsharp opened #3272 "Combine the zebra rnh send_client with the lib/zclient route_encode/decode functions"
The zebra rnh send_client() function is basically the same thing as the lib/zclient route_encode/decode functionality.  It would be awful nice if someone investigated the common code and figured out how to make it truly common.

[2018-11-02 05:35] Ruchaneeya opened #3273 "frr build errors: recipe for target 'install-dist_yangmodelsDATA' failed"
Hi,
I cannot install frr on ubuntu 18.04 machine successfully and get the errors related to yang model data.
I followed http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-ubuntu1804.html.
After executing "sudo make install", I got the following errors:

[code]

### Versions
* OS: Ubuntu 18.04
* Kernel: GNU/Linux 4.15.0-38-generic x86_64
* FRR: with git commit f0c709237058897b2

[2018-11-02 08:35] pautiina opened #3274 "[FreeBSD][staticd] - Failure to send nexthop to zebra"
* [x ] Did you check if this is a duplicate issue?
* [x ] Did you test it on the latest FRRouting/frr master branch?

### Description
When you run staticd in the server console and in the logs, an error message appears

### Steps to Reproduce
1. run `/usr/loca/etc/rc.d/frr start`

**Expected behavior:**
Clean run without error output

**Actual behavior:**
An informative error is displayed, but the

[2018-11-02 08:55] pautiina opened #3275 "[FreeBSD] - FRR cannot add routes to the kernel route system"
* [x ] Did you check if this is a duplicate issue?
* [x ] Did you test it on the latest FRRouting/frr master branch?

### Description
The latest version of the FRR does not add routes to the system kernel. It says in the logs that the operation is not allowed.

### Steps to Reproduce
1. update FRR from master branch
2. running frr
3. netstat -rn
4. less /var/log/zebra.log

**Expected behavior:**
I

[2018-11-02 13:34] rwestphal commented on #3273
Given the error message, I believe you configured FRR using the ``--with-yangmodelsdir="`pwd`/yang"`` option as described in the documentation. However, you shouldn't do that unless you want use FRR without installing it using `make install`. Both `--with-yangmodelsdir` and `--with-libyang-pluginsdir` shouldn't be used unless you really need to change these directories for whatever reason.

I'll u

[2018-11-02 14:54] donaldsharp opened #3277 "refactor route encode/decode functions that are in the system"
There are several places where we encode/decode routes w/ nexthops back and forth through zapi.  Let's take some time and consolidate/refactor where appropriate.

[2018-11-02 16:41] Ruchaneeya commented on #3273
@rwestphal, Thanks for your answer. yes, you are right. I configured FRR using both --with-yangmodelsdir and --with-libyang-pluginsdir options. However, without these options the 'make check' cannot be run successfully and get the following errors:

----------------------------- Captured stderr call -----------------------------
2018/11/02 16:14:03 warnings: NONE: libyang: Failed to open libyang u

[2018-11-02 17:57] madhu222 opened #3278 "BGP dynamic neighborship is not working"
### Description
BGP dynamic peering is not happening .

### Steps to Reproduce
1. Have two systems with vlan configured with tag ports
2. Configure IP address on the vlan(bridge)
3. Configure dynamic peering between the bridges

### Components
[bgpd, bfdd]

### Versions
* Kernel: 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
* FRR: 6.0

### Attachments

### System1:
[co

[2018-11-02 19:13] patrick7 commented on #3278
I don't see a system where the peer is explicit configured?

[2018-11-02 20:07] madhu222 commented on #3278
@patrick7 can you please give an example for explicit configuration?

[2018-11-02 22:24] madhu222 opened #3280 "BGP neighborship not coming up using ebgp-multihop and ttl-security"
### Description
BGP neighborship not coming up after configuring ebgp multihop or ttl-security hops.

### Steps to Reproduce
1. Have two systems connected back to back
2.  Configure layer 3 vlan , ip address on both systems
3. Configure loopback on both systems
4. Have a static route on each system to the corresponding loopback IP

[code]

[code]
**Expected behavior:**
EBGP neighborship should get

[2018-11-03 14:17] Wouter0100 commented on #1878
Issue seems to be fixed in 6.0 :confetti_ball:. Thanks!

[2018-11-03 14:17] #1878 closed

[2018-11-03 15:31] Wouter0100 commented on #3146
I've upgraded from 5.1-dev to 6.0 - where this issue seems to be fixed. So, this patch already reached FRR. I guess issue could be closed then? :dancer:

[2018-11-04 13:30] ghost opened #3283 "Arbitarily high memory usage (again?)"
Already had a similar issue a while ago: #2527

On a system working as route reflector which is part of an IS-IS area (the reflector is deployed to connect a bunch of Junipers), there is currently 3 BGP full feeds:

[code]

Memory usage for the RIB according to `show bgp summary`:

[code]

now, taking a look at the systems memory:

[code]

this is a bit far off sanity. The same full tables barely

[2018-11-04 13:37] donaldsharp commented on #3283
BGP's usage of streams is very large:

```Stream                        :    1295083  (variably sized) 264771096```

And I see a bunch of data associated with a clear * command.  What are you doing on this machine?  Maybe we have a bug somewhere in this area.

[2018-11-04 13:40] sybevnao commented on #3283
@donaldsharp I already found that very weird too. I'm pretty much getting 3 full tables of 3 different routers, then I'm sending back the routes again (so pretty much, I have this machine as route reflector in Frankfurt, and my backbone routers based on Juniper are meshed to that machine).

The data associated with the clear command could be because the machine is sitting at this for a while:

[co

[2018-11-04 13:44] donaldsharp commented on #3283
If we were running out of memory bgp would just be killed and we would restart.  There is nothing more complicated here.

Let's get some data gathered from perf about bgp:

https://github.com/FRRouting/frr/wiki/Perf-Recording

Can we gather a flame graph for bgp?  I am not sure what is going on here and would like to see some data gathered.  Can we get some idea of how you are configuring your pee

[2018-11-04 13:48] sybevnao commented on #3283
I'll have a look into PERF recording in a second. The peers are set up completely trivial:

[code]

the `addpath-tx-all-paths` is in there for "weird" internal reasons, that being pretty much that this peer needs to receive all available routes, not just preferred, due to special network preferences happening on that router. Shouldn't be of relevance though I do believe.

[2018-11-04 14:03] sybevnao commented on #3283
I've tried taking the flame graph, I hope I didn't mess it up, never used before. Please do let me know if it's useless. https://ufile.io/9bywe

[2018-11-04 14:15] sybevnao commented on #3283
Here's the same taken from the zebra pid, not sure though if it helps as it literally shows `bgpd` and almost the same as the other flame graph. https://ufile.io/7cb6d

[2018-11-04 14:53] donaldsharp commented on #3283
let's just attach the flamegraphs to this issue?  We'll loose them otherwise right?

BGP is taking so long because it is swapping heavily.

[2018-11-04 14:56] sybevnao commented on #3283
@donaldsharp It won't let me attach an `.svg` right *here* where I reply. Do you see any alternative way?
Either way, I entirely understand it's taking ages for sessions to clear and converge, but my point merely is that the box has 2GB of RAM, of which 1.9GB are used by FRR just to handle 3 BGP full feeds, which seems to be a bit too much, making me suspect a memory leak.

[2018-11-04 16:47] sybevnao commented on #3283
@donaldsharp I've tried to enable bgpd debugging, perhaps there's anything obvious that would explode the memory. I've seen large amounts of that:

[code]

and that:

[code]

and

[code]

the latter is pretty much creating hundreds of lines per second. If that's weird, what would cause it?

[2018-11-04 18:29] patrick7 commented on #3278
I won't post a config here, as that's BGP basic knowledge and in the documentation :-)

http://docs.frrouting.org/en/latest/bgp.html#miscellaneous-configuration-examples

In your config there are 2 systems which are "listening". What happens when two people are listening and nobody talks?

[2018-11-04 18:37] madhu222 commented on #3278
@patrick7 Great. Really helpful!! Thanks

[2018-11-04 18:51] madhu222 commented on #3278
Btw i know the neighbor statement to configure. I have basic knowledge in bgp.

I didn't know that neighbor statement has to be configured on one side and listen range on the other side. Thanks!

[2018-11-04 18:53] #3278 closed

[2018-11-05 00:09] dmbaturin opened #3284 "Attempting to enable agentx if it's already enabled produces multiple identical error messages"
It's probably cosmetic, but I haven't checked if it's no indicating a larger issue. If you enable agentx, and then try to enter the "agentx" command again, you get not just one, but five identical error messages.

[code]

[2018-11-05 04:29] bisdhdh commented on #3280
@madhu222 .
Is this issue same as https://github.com/FRRouting/frr/issues/3264 ?

Please verify and let me know.

Thanks
Biswajit.

[2018-11-05 14:59] Ruchaneeya commented on #3273
@rwestphal I can confirm that I can build frr successfully and can execute 'make check' without any errors after executing 'make install'. Thanks for your support.

[2018-11-08 01:00] madhu222 commented on #3280
@bisdhdh I believe this is a different issue. The issue  I am facing the issues where  BGP messages are sent only if I ping the next hop to reach the neighbor which is loopback

[2018-11-08 15:27] ghost opened #3291 "doc issue-- redist static/conneted missing from router isis"
The online doc (http://docs.frrouting.org/en/latest/isisd.html#isis-router) has no mention of support for isis redist static/connected ....   These features are in fact supported by the code.

[2018-11-08 15:31] bf228 opened #3292 "doc issue-- doc shows "secondary" as being required to define a secondary address on an int"
The doc (http://docs.frrouting.org/en/latest/zebra.html#clicmd-ipaddressADDRESS/PREFIXsecondary) shows that one needs to use a "secondary: tag to define a second or Nth address to an interface.  in fact this causes zebra to report an error:

No such command on config line 15:   ip address 20.20.0.1/24 secondary

note that i observed this issue when using a pre-built config installed in /etc/frr/ze

[2018-11-08 15:49] bf228 opened #3293 "doc issue. no mention of MT support in ISIS"
There's no mention of MT support in the ISIS doc (http://docs.frrouting.org/en/latest/isisd.html#isis-router) or precisely how to configure it.  But apparently the code supports multiple AF:

# topology
 ipv4-mgmt       IPv4 management topology
 ipv4-multicast  IPv4 multicast topology
 ipv4-unicast    IPv4 unicast topology
 ipv6-dstsrc     IPv6 dst-src topology
 ipv6-mgmt       IPv6 management top

[2018-11-08 18:13] madhu222 commented on #2626
I also observed that if I do the link flap on interface in kernel, the IPv6 address is getting deleted in FRR . I had to reconfigure the IPv6 address on the interface to get it programmed back to kernel. Hopefully it is the same issue

[2018-11-08 19:36] bf228 opened #3296 "doc update-- add ipv6 router isis word"
it would have said me some troubleshooting time if the doc here (http://docs.frrouting.org/en/latest/isisd.html#clicmd-iprouterisisWORD)
also mentioned that for v6 to work, one needs to also do a "ipv6 router isis WORD"

[2018-11-09 08:28] pguibert6WIND opened #3297 "ripng / distance feature"
it looks like the feature ripng / distance feature is not available on the ripng.
I think this should facilitate integration of ripng into a network ,if we had that capability to override distance value on network items of ripng. ( like rip does)

[2018-11-09 12:19] pguibert6WIND opened #3300 "ospfv6 / missing vty when executing area <ID> ?"
is there a reason to have different options if the are is a decimal value or an IP address ?

[code]

[2018-11-09 12:41] rwestphal commented on #3300
Looks like a bug to me.

[2018-11-09 14:27] pguibert6WIND opened #3302 "ospfv3 / nssa feature for ospf with IPv6 networks"
it would be nice to have that feature for ospfv3, similarly of what has been done for ospf for ipv4 networks.

[2018-11-11 03:36] jllorente commented on #3251
I ran into the same problem and decided to bisect the commit that introduced the problem.
I think this is the culprit: https://github.com/FRRouting/frr/commit/4c3911425c6fbfdd5014fcef3fc37ced69a7c408

However,  I was able to get around the issue by removing "neighbor fabric capability extended-nexthop", since the neighbor declared via an interface already use extended-nexthop by default. As a resu

[2018-11-11 15:21] dmbaturin opened #3308 ""show bgp community-list" does not display a community list"
The "ip community-list" and the like are deprecated, but the new "show bgp community-list" commands doesn't work the same as the old one:

[code]

[2018-11-11 21:31] patrick7 commented on #3308
show community-list?

[2018-11-11 23:55] dmbaturin commented on #3308
@patrick7 There's no such command.

[code]

[2018-11-12 00:47] dmbaturin opened #3309 "Unable to delete a route-map "set as-path exclude" clause without mentioning its argument"
Many of the route-map match and set clauses can be removed without mentioning their arguments, for example, "route-map FOO permit 10; no set as-path prepend" works as expected.

With the "as-path exclude" it's not the case: you have to mention the argument to delete it.

[code]

[2018-11-12 12:20] vijaykug commented on #3265
Yes correct if address family  has some config then it is shown in running config.
it will be easy for users  if we can display the default  address family configuration ( i have seen other vendor displaying the default address family )
it you think otherwise we can close this.

[2018-11-12 21:44] qlyoung commented on #3300
Certainly a bug.

[2018-11-12 22:14] qlyoung commented on #3308
Broken by #3037

`bgp_route.c` already defines the command `show bgp community-list <(1-500)|WORD>`, see `show_ip_bgp_cmd`. This one shows the routes matching a community-list.

[2018-11-13 07:55] #3296 closed

[2018-11-13 14:06] #3284 closed

[2018-11-13 14:49] paolss opened #3319 "FRR 6.1-dev - zebra/bgpd sequence start problem"
When sequence start is
bgpd -> zebra

fib is not filled with all learned routes from bgpd
sequence start neeed to be
zebra sleep -> 1sec -> bgpd
(without sleep - there is sometimes problem with some prefixes)

here is how it looks like when i start first bgpd then zebra (local routes interfaces is 349)
ip r | wc -l
349
after 5 mins
ip r | wc -l
349

and here how it looks like when i start zebra -

[2018-11-13 14:58] ton31337 commented on #3309
assign me, I will take a look

[2018-11-13 16:18] pguibert6WIND commented on #3300
merged in master

[2018-11-13 16:18] #3300 closed

[2018-11-14 01:56] madhu222 commented on #3251
@jllorente thanks. I tested it out. It works for me as well without capability extended next-hop

[2018-11-14 01:58] madhu222 commented on #3251
@donaldsharp Can you please check the commit as @jllorente mentioned and fix it?

[2018-11-14 06:18] ajackson79 opened #3328 "evpn-vpws (rfc8214) Support"
evpn-vpws (rfc8214) would be a good option and alternative to a traditional MPLS pseudowire since support is lacking in the linux kernel for PWs.  It is a layer 2 point to point connection that doesn't require mac address learning, and allows for single or multihome connections on one or both ends.

[2018-11-14 08:08] #3268 closed

[2018-11-14 08:09] #3292 closed

[2018-11-14 17:48] vijaykug commented on #3280
@madhu222   i#3264 also recovered after the next hop flap ,  this looks like sequencing issue .
 #3264 is observed  when  ebgp multihop cli configured before the update source  cli .
if update source cli is use before ebgp multihop then  BGP session coming  up fine.
can you check the CLI sequence you used ?

[2018-11-14 22:42] karamalla0406 opened #3333 "BGP daemon crash a L2VNI in unconfigured"
### How to submit an issue
BGP daemon crashed when  L2VNI is unconfigured with a "no vni xxxxx"  command. This happens when the impport/export route-target for the VNI is not auo-derived. The crash is caused by the double freeing of the route-target obejcts.

[code]

### Components
bgpd

### Versions
* FRR: 6.0

[2018-11-15 07:16] kallolkk opened #3334 "Create a BGP topology to run using SDN Controller?"
Hi,
I want to create a simple BGP topology with SDN. Previously QUAGGA was used to create such topologies ( example: https://github.com/sdnds-tw/SDN-IP-Example-VM).
Can you please guide me to create one.
Simple network:
Peer1(AS1)----R1(SDN Controller)-----Peer2(AS2)

Thanks

[2018-11-15 10:14] bisdhdh commented on #3280
@madhu222
Since your BGP session is on loopback. I hope you had used multi hop & update source lo command ?
Could you please share the configuration of the both the routers ?

[2018-11-15 10:22] manuhalo opened #3336 "isisd does not redistribute ipv6 connected routes when ipv4 is disabled"
### Things you may try first
(put "x" in "[ ]" if you already tried following)
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

**Related Issue:**
N/A

### Description
isisd does not redistribute ipv6 connected routes when ipv4 is disabled. However it does if multi-topology is enabled with `topology ipv6-unicast`.

### Steps to Rep

[2018-11-15 14:39] pguibert6WIND commented on #2585
Hi @iwaseyusuke,

by the way, even if the idea was interesting but not applicable; don't you think that there is a conflcit version ?
Remind that GRPC is Apache licensed, while FRR is not.
no ?

[2018-11-15 19:30] madhu222 commented on #3280
@bisdhdh Yes I used update source and ebgp-multihop command.

[2018-11-15 22:30] iwaseyusuke commented on #2585
Hi @pguibert6WIND

I don’t think using gRPC causes a conflict of licenses.
gRPC is a RPC framework using Protocol Buffer as encoding format including tools and libraries (protoc compiler, language bindings and so on). For example, protoc is written with Apache 2 license, but `.proto` files in each project which using gRPC should not always be forced to use Apache 2 license.
It is like that Python

[2018-11-15 23:36] karamalla0406 opened #3345 "EVPN Type-2 was withdrawn on "no rd" in VNI and never advertised to peer with auto-rd, also not present in the local database"
Before:
=====

[code]

After:
====
[code]

[2018-11-16 05:58] vijaykug opened #3347 "BGP daemon cored after configuring default-originate in ipv4 label unicast family"
Things you may try first
(put "x" in "[ ]" if you already tried following)

  Did you check if this is a duplicate issue?  [x]
  Did you test it on the latest FRRouting/frr master branch?  [x]

 **Related Issue:-**
N/A
**Description**
BGP daemon cored after configuring default-originate in ipv4 label unicast family

 **Steps to Reproduce**

Configure the BGP neighbors using address family ipv4  la

[2018-11-16 11:15] pguibert6WIND commented on #2941
status:
I have some slides to share to the community that talk about vrf netns leak

https://docs.google.com/presentation/d/1PoCBLIo8Q_w5tgTRCr1nz0AFUNbA6zsMTYM-Q9Y6qUM/edit#slide=id.p

let's talk about this, by beginning first by putting some comments to see if the approch seems ok.

[2018-11-16 13:05] donaldsharp opened #3349 "Performance of current dataplane is markedly worse"
Route installation under the new dataplane is markedly worse:

[code]

Testing was done on a 4.1 kernel and using latest master for `new dataplane` and the last commit prior to the first dataplane commit.

[2018-11-16 14:52] bittermandel opened #3350 "Cannot install Debian on stretch - error in frr.postinst"
* [X] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

### Description
frr package cannot be installed on a fresh Debian Stretch server. There's no files placed in /etc/frr after install, and it's failing with the following error:

[code]

### Versions
* OS: Debian 9.6
* Kernel: Linux 4.9.0-6-amd64
* FRR: 6.0.1

[2018-11-16 20:16] #3215 closed

[2018-11-16 20:43] #3309 closed

[2018-11-16 20:52] pguibert6WIND commented on #2585
Hi @iwaseyusuke, your understanding is exactly what I ask.

actually, I fear that my feeling is bad about that, at least in cpp language ( that could be presumably be linked ( dynamically for instance) with a frr library if everything is ok).

actually, I just looked at how helloworld from grpc is made:
and it looks like :
- libgrpc library is made up of C files licensed with apache license 2.0
-

[2018-11-16 21:21] adam-kulagowski opened #3354 "MPLS over GRE"
* [x] Did you check if this is a duplicate issue?
* [x] Did you test it on the latest FRRouting/frr master branch?

### Description
Is scenario when MPLS over GRE is used to set up l3VPN supported?
I'm trying to peer w/ Juniper VMX as described in
https://www.juniper.net/documentation/en_US/junos/topics/example/example-next-hop-based-dynamic-gre-tunnel-configuring.html

**Expected behavior:**
In l

[2018-11-18 00:21] rwestphal commented on #3273
Status update:
* Starting from libyang v0.16-rc3, it will be possible to embed our libyang plugins inside the FRR binaries (thanks David for doing [that work](https://github.com/CESNET/libyang/pull/666)!). Once we update our libyang version dependency to v0.16-rc3, this will solve half the problem of the FRR binaries not being self-contained anymore (the reason why `make check` isn't working befor

[2018-11-18 14:15] dmbaturin commented on #3215
In the latest master, the issue with community-list is fixed, but the issue with extcommunity-list stil exists.

[2018-11-18 19:16] ton31337 commented on #3215
yep, I planned to do this with two separate PRs. Will do this.

[2018-11-19 14:11] ton31337 commented on #3308
pick different naming for showing existing community-lists or so?

[2018-11-19 15:54] #1691 closed

[2018-11-19 19:54] karamalla0406 opened #3360 "EVPN: unconfiguring "default-originateipv4" doesn't withdraw default route."
configuration:
log file /var/log/frr/bgp.log
service integrated-vtysh-config
username cumulus nopassword
!
debug zebra events
debug zebra kernel
debug zebra vxlan
debug bgp neighbor-events
debug bgp nht
debug bgp update-groups
debug bgp updates in
debug bgp updates out
debug bgp zebra
debug bgp vpn label
debug bgp vnc verbose
!
ip route 1.1.1.1/32 21.1.1.1 ens192
!
vrf blue
 vni 10004 prefix-route

[2018-11-20 16:03] donaldsharp commented on #3328
added as a feature request

[2018-11-20 16:03] #3328 closed

[2018-11-20 16:10] donaldsharp commented on #3349
@mjstapp and @donaldsharp to look at this.  Mark has looked at this and sees the approximate without numbers for before and after being the same.

[2018-11-20 20:07] ocochard opened #3365 ""show ip bgp neighbors json" crash bgpd (on FreeBSD)"
### Description
Issuing command "show ip bgp neighbors json" crash bgpd on FreeBSD

### Steps to Reproduce
1. Configure a simple dummy BGP setup like this one:
[code]
2. Display bgp neighbors in json format
[code]
3. bgpd will crash

**Expected behavior:**
Displaying bgp neighbors

**Actual behavior:**
[code]

### Components
bgpd

### Versions
* OS: FreeBSD 11.2
* FRR: 5.0.1 and 6.0

[code]

### A

[2018-11-21 14:01] ak503 opened #3369 "bfd for static routes"
Are you planning bfd for static routes?

[2018-11-25 12:58] kssoman commented on #2865
PR https://github.com/FRRouting/frr/pull/2929  is  merged to master code branch

The issue can be marked closed

[2018-11-26 13:00] #3336 closed

[2018-11-26 14:55] mwinter-osr commented on #3350
@nikentic First of all, I assume you are trying the frr package as posted on github and not a modified package (https://github.com/FRRouting/frr/releases/download/frr-6.0/frr_6.0-1.debian9+1_amd64.deb). Otherwise please let me know.

I have not seen this error before and debian 9 package install is tested as part of the CI, so not sure yet what went wrong.

Based on the messages, the postinst scri

[2018-11-26 16:45] pguibert6WIND opened #3376 "doc : add a community rule to protect usage of using apache 2 code with frr"
Currently, sysrepo is available on upstream and is linkable in FRR, upon `./configure` option.
For remind, Sysrepo is Apache 2.0, while FRR is GPLed licensed.

Today, there is an implicit rule in the frr documentation `doc/developer/workflow.rst` saying that it is up to the user to license new code either Version 2, or any later version.

So, coming back to sysrepo, it is good that this rule exist