[2020-10-31 04:25] mwinter-osr commented on #7359
RPM Packages are updated.
Would appreciate if you could test either the 7.5 release candidate at https://ci1.netdef.org/browse/FRR-FRRPULLREQ-15084/artifact or the packages based on master at https://ci1.netdef.org/browse/FRR-FRRPULLREQ-15083/artifact

[2020-10-31 09:34] hohl opened #7431 "Add documentation for the `activate` keyword for IPv6/BGP"
**Describe the bug**

The documentation does not mention the `activate` keyword. Took me quite a while to figure out why the configured IPv6 subnets were not announced but only the IPv4 ones.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Use the search function on the BGP documentation for the `activate` keyword.

[2020-10-31 11:08] #7359 closed

[2020-10-31 15:38] donaldsharp commented on #7431
@hohl -> we would welcome help writing this.  Could you possibly help out by modifying the doc/developer/bgp.rst file?  I would be willing to help you get up to speed on our process if needed

[2020-11-01 18:17] JackSlateur commented on #7405
Awesome !

Here is the missing stanza:
[code]

It seems that frr need this to receive routes ..

Thanks for the help, this issue is resolved now

[2020-11-01 18:17] #7405 closed

[2020-11-02 00:46] mwinter-osr commented on #6378
Tried to reproduce this over weekend with FreeBSD 12.1 and latest from dev/7.5 branch with no success.
Created a small network of 3 FRR routers in sequence and all works so far.

Do I need a non-FRR router to reproduce this?
Would really like some config, `zebra -v` output or some other details to help me causing this crash.

[2020-11-02 08:58] vishaldhingra commented on #7347
RCA for mcast route (10.0.6.2,225.1.1.10)

The problem is at RP, RP is not sending (S,G) prune to R3 on the reception of (SGRpt) prune from R1.
1. r1: Shut the interface r1-r0-eth0 from R1 to R2
2. r2 receives (*,G) prune.
3. r2 removes the (*,G) Ifchannel state and marks the (SGRpt) to NOINFO.
4. r1: no Shut the interface r1-r0-eth0 from R1 to R2
5. r2 receives the (*,G) join
6. r2 creates the (*

[2020-11-02 09:05] vishaldhingra commented on #7347
Fix

r1: Shut the interface r1-r0-eth0 from R1 to R2
r2 receives (*,G) prune.
r2 During the processing of (*,G) prune, we are not removing the ifchannel on
    PruneTmp or PrunePendingTmp state. In this scenario, stop joinExpiry timer and delete the ifchannel.

When (*,G) join and (SGRpt) prune comes again after no shut. PIMd will configure the mroute correctly and send the prune correctly.

[2020-11-02 17:18] bmhughes commented on #6378
I've only seen the crash when there are non-FRR neighbours present myself. But it is annoying transient, if I run into it again i'll be sure to grab the `zebra -v` output.

[2020-11-02 17:36] #7400 closed

[2020-11-02 17:39] qlyoung commented on #7416
Please email a full description and the pcap to `security@lists.frrouting.org`.

We do fuzz BGP's packet parser regularly and there are some known crashes in 7.3/7.4 which have been fixed.

[2020-11-03 09:05] mobash-rasool commented on #7355
What kind of route advertisements do you want? Ideally speaking you should be able to do it in a similar way as OSPFv2. Can you try and let us know if any issue we can help you then.

[2020-11-03 14:30] cardosocristian commented on #7355
I have some IPs configured in loopback in IPv4, all / 32 for anycast announcement, this is working correctly

I have the same usage scenario in ospfv3, where I configured several IPv6 / 128 in the loopback, but when inserting the interface lo in the configuration, the advertisement is not propagated.

Follow my config below

router ospf6
 ospf6 router-id 10.1.1.1
 area 0.11.141.0 stub
 interface e

[2020-11-03 16:10] #7403 closed

[2020-11-03 16:12] pguibert6WIND commented on #7409
I wonder if the issue is not related to the config applied after the ip address source has been set on the system ?

[2020-11-03 16:13] gpnaveen opened #7446 "[FRR OSPFv2] OSPF is not flushing lsa based on router id in LAN case."
FRR OSPF : Currently FRR does not flush the LSA based on router id:

naveen-pa-ospf2-r4# show ip ospf database
OSPF Router with ID (4.4.4.4)
Router Link States (Area 0.0.0.1 [NSSA])
Link ID ADV Router Age Seq# CkSum Link count
1.1.1.1 1.1.1.1 104 0x8000000d 0x05ec 1
2.2.2.2 2.2.2.2 105 0x80000010 0xa443 1
3.3.3.3 3.3.3.3 106 0x8000002d 0x7d30 1
4.4.4.4 4.4.4.4 109 0x80000034 0xaf07 1
Net Link Stat

[2020-11-03 16:20] donaldsharp commented on #7428
OSPF is a protocol that uses both unicast and multicast data.  Using a unicast packet drop will leave ospf in a non-deterministic state.  The BDR still detects that the DR is still reachable because of multicast connectivity.  This not an appropriate test.  Please shut the interface down or pull the cable for testing.

[2020-11-03 16:43] Svisstack commented on #7428
This is multipoint gre and all neighbors are on the same interface without multicast connectivity, only unicast.

Sent from my iPhone

[2020-11-04 06:46] #7422 closed

[2020-11-04 08:53] cupide1991 commented on #7410
@donaldsharp
Looking forward to your reply~~

[2020-11-04 09:01] jiamuluo opened #7452 "how can i get individual vtysh function?"
if i just want to use vtysh,how to separate it from the hole project？Or，somewhere  has a single function  project？thanks a lot

[2020-11-04 09:27] Svisstack commented on #7428
@donaldsharp BTW. if you are claiming that there is multicast connectivity here then why it's in the Init state? Your response does not make any sense to me on all layers.

[2020-11-04 10:23] cupide1991 commented on #3849
@hnkeyang  wondering how do you do at last for this issue

[2020-11-04 16:05] jasonguy commented on #7428
@svisstack Your configuration may be wrong for the topology described. As @donaldsharp pointed out, the adjacency to the BDR is in init state. So it definitely will not take over when the DR disappears. Both the DR and BDR need to have the neighbor statements.
Keep in mind, OSPF non-broadcast is meant for non-broadcast multi-access (NBMA) technologies, which do not support native multicast and do

[2020-11-04 16:39] micron10 opened #7458 "Build problem with latest version Frr 7.5"
Build is not ok Please check log :

make[4]: Entering directory '/build/orionos/build64/frr-frr-7.5'
  CC       lib/filter_cli.lo
  CC       lib/if.lo
  CC       lib/netns_linux.lo
  CC       lib/netns_other.lo
  CC       lib/nexthop_group.lo
  CC       lib/northbound_cli.lo
  CC       lib/plist.lo
  CC       lib/routemap_cli.lo
  CC       lib/vty.lo
  CC       lib/printf/printf-pos.lo
  CC

[2020-11-04 16:56] donaldsharp commented on #7452
Can you be more specific about what you are trying to do here?

[2020-11-04 16:59] donaldsharp commented on #7458
I just pulled/checked out stable/7.5 / and built it.  Everything is working for me.  Can you include your configure line?  Maybe you have some option I am not using that is causing this issue.

[2020-11-04 17:04] micron10 commented on #7458
Hi
This is my configure :

 ./configure \
                --target=$(GNU_TARGET_NAME) \
                --host=$(GNU_HOST_NAME) \
                --build=$(GNU_BUILD_NAME) \
                --localstatedir=/var/run/frr \
                --sysconfdir=/etc/frr \
                --prefix=/usr \
                --disable-doc \
                --disable-ripd \
                --disable-ripngd \

[2020-11-04 17:08] micron10 commented on #7458
Found a problem need to rebuild clippy befor rebuild build new version.
i build clippy static befor build frr.
Sorry
Please close ticket

[2020-11-04 17:08] #7458 closed

[2020-11-04 20:57] qlyoung commented on #7446
File your issue again, and use the bug report template.

[2020-11-04 20:57] #7446 closed

[2020-11-04 21:30] qlyoung commented on #7420
http://docs.frrouting.org/en/latest/zebra.html?highlight=resolve-via-default#clicmd-ipnhtresolve-via-default

[2020-11-04 21:30] #7420 closed

[2020-11-04 21:33] qlyoung commented on #7411
Automake looks for `.pc` (`pkg-config`) files, you can check if `pkg-config` is finding it with
[code]
If it prints nothing then it's finding the file, if not you gotta get the `.pc` into the right spot.

[2020-11-04 21:41] #6862 closed

[2020-11-04 21:45] #1907 closed

[2020-11-04 22:30] #6165 closed

[2020-11-04 22:35] qlyoung commented on #3984
This is already in our build reqs

[2020-11-04 22:35] #3984 closed

[2020-11-05 01:36] jiamuluo commented on #7452
i want to extract a clean and simple vtysh as a common cli without zebra、bfdd 。。etc。

[2020-11-05 07:32] hansengao commented on #7411
ok .thanks

[2020-11-05 11:00] Svisstack commented on #7428
@jasonguy I do not understand your view. The @donaldsharp response does not make any sense, he must misunderstand the case.

Take a look at the critical section of this case.

State with routes:

[code]

And after traffic filtering, state without routes (invalid):

[code]

If you are trying to dissmis that case then this means that you DISAGREE that in this state above we should have a route, whic

[2020-11-05 13:48] AndriiLozovyi opened #7464 "`Show bgp vrf vrf_name summary` mixes up IPv4 and IPv6 neighbors"
When executed command "show bgp vrf Vrf1 summary" in vtysh I got the following output.
Is this an expected behavior ?

[code]

Versions used:
[code]

[2020-11-05 13:57] donaldsharp commented on #7464
ipv4 is turned on by default for all peerings.  As such it will show up in the v4 section for all neighbors.  If you don't want the `NoNeg` to show up do a `no neighbor fc00::72 activate` under address-family ipv4 uni

[2020-11-05 14:00] ton31337 commented on #7464
Or be more specific `show bgp vrf all ipv6 unicast summary`.

[2020-11-05 15:34] taspelund commented on #7428
Hey @Svisstack, we'd definitely like to get to the bottom of this so thanks for taking the time to recreate this and bring it to our attention.  In order to do that, I think we're going to need a bit more information though.

Can you please provide the output of `show ip ospf database network` captured from 10.1.253.2, 10.1.253.3 and 10.1.253.4 and attach it here?

It would be nice to see this dat

[2020-11-05 16:30] jasonguy commented on #7428
@Svisstack, Thanks for clarifying the neighbor output before and after filtering. Yes, I am a little insane, but I also see the issue, and want to dig a little more, if you will entertain our inquisitiveness. :)
My original point was mGRE is typically configured as a _broadcast_ network type, and (in general) the non-broadcast network type is uncommonly used these days. To that point, while this m

[2020-11-05 16:40] idryzhov opened #7465 "vtysh enters bfd peer configuration mode despite the validation error"
---------------

**Describe the bug**

After executing an invalid command in bfd configuration mode,
vtysh enters the peer configuration mode despite the error.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

**Expected behavior**

vtysh should not enter the peer configuration mode.
bfdd doesn't enter this m

[2020-11-05 17:32] rzalamena commented on #7465
You are correct, it shouldn't enter the node... Seems like something broke the return value of that function.

Maybe we should also improve the `DEFUN`s to also not allow having `multihop` and empty `source`.

[2020-11-05 17:59] idryzhov commented on #7465
@rzalamena I did git blame and it looks like the code was retuning CMD_SUCCESS since the beginning of transition to northbound model.

[2020-11-05 19:19] Svisstack commented on #7428
@taspelun

### Normal state:

**10.1.253.1**
[code]
**10.1.253.2**
[code]
**10.1.253.3**
[code]
**10.1.253.4**
[code]

### Conversion to invalid state:

**10.1.253.2**

[code]

### Invalid state:

**10.1.253.1**
[code]

**10.1.253.2**
[code]

**10.1.253.3**
[code]

**10.1.253.4**
[code]

----------

@jasonguy

You are applying an OUTPUT rule, which will prevent the packets sent from 10.1.253.2 to

[2020-11-05 22:05] taspelund commented on #7428
@Svisstack Thanks for the output, this confirms what I suspected was the issue.

In a Multi-Access segment (broadcast or non-broadcast), the DR is responsible for publishing a Type 2 (Network) LSA describing this segment and which routers are reachable on it.

When calculating SPF, this Type 2 LSA represents a psuedo-router which has point-to-point links to all the routers on the segment (includin

[2020-11-05 23:24] jasonguy commented on #7428
Well done @taspelund, I didn't even recall this subtle detail. To add to this, if the point of the exercise was to emulate a DR failure, clearly it is not that simple. :) Honestly, the best way to test failure scenarios is to actually fail the <insert_thing_here>. You mentioned that failing the DR provided the expected redundancy in the network, and the BDR took over, which verifies the DR/BDR fun

[2020-11-06 00:03] Svisstack commented on #7428
@taspelund @jasonguy

Appreciate the effort from your side to get to the bottom of this.

If I correctly understood this only explaining the fact why there should be no routes after old DR failure and before old BDR taking the new DR role, but in our case, the old BDR is already elected as the new DR and can provide all the routes to the spoke-1.

Let me know if that's not correct.

Yes, it looks

[2020-11-06 06:06] taspelund commented on #7428
When it comes to the DR/BDR election process, each router draws its own independent conclusion around which routers are DR or BDR.
In this case, when spoke-1 loses its adjacency to old-DR, the old-BDR is promoted to new-DR _only from spoke-1's point of view._  All the other routers on the segment, including the old-BDR, continue believing that the old-DR is the actual-DR and they defer to the old-

[2020-11-06 06:24] hothotstreet opened #7471 "Learning routing can be problematic when running dynamic routing using OpenVPN's interface"
frr version:7.2

When I used openVPN's tunnel interface to run the ISIS/RIP dynamic routing, if it ran for a long time, the neighbor state would be lost and the route would be lost. The declared interface could be restored after being deleted and re-declared. What's the matter

[2020-11-06 07:31] Svisstack commented on #7428
This basically mean, that the OSPF works correctly if there are same elections on all the nodes which is hard to believe as every node can elect their own DR and it's not the process where we need a quorum.

[2020-11-06 13:45] taspelund commented on #7428
OSPF assumes that all nodes on a multi-access segment can reach each other and have the same information to work with (LSDB + to some degree, adjacencies).  When you break this assumption, you reveal the independent nature of the election process.  There is no quorum that occurs during the election, however the election algorithm is designed in such a way that all routers with the same set of info

[2020-11-06 14:27] Svisstack commented on #7428
Thanks for the information, I understand your interpretation of the RFC, but strongly disagree (not with you) that any routing protocol should by-design not able to handle single link failure, and able to handle the only case when all links going down or software/device crashes. I'm not sure what was the intention of the author as I couldn't identify his email address here.

For sure this should b

[2020-11-06 15:11] jasonguy commented on #7428
While I admire your tenacity to support your false ideas of how OSPF _should_ work. The protocol is implemented according to the RFC, and that has worked pretty well for a couple decades. This is not _our_ interpretation of the RFC, this is simply how it works. OSPF works well in a properly designed network, though as you stated previously, you "do not have the technical expertise" here. As it hap

[2020-11-06 15:31] Svisstack commented on #7428
@jasonguy Please stop thinking like a bot, blindly following the flawed RFC that some single guy wrote in 1998, that's why aliens do not visit us! This RFC has blindspots and is subjective to the interpretation, the only one who has any expertise here is @taspelund

[2020-11-06 15:33] donaldsharp commented on #7428
Ok we are done here.  If we can't be respectful it needs to be taken elsewhere.

[2020-11-06 15:33] #7428 closed

[2020-11-06 16:57] donaldsharp commented on #7471
Can you please include the relevant data asked for when you opened the issue?  This is too open ended of a question to even begin to point you in the right direction

[2020-11-06 17:07] qlyoung commented on #7452
vtysh is heavily integrated with FRR and not really useful outside of it. You would be better off writing a shell from scratch.

[2020-11-06 17:48] deastoe commented on #7326
I was looking at this again and I think that `vtysh -m` can actually be made to work correctly.
For example, if we add an explicit "exit" line after the BGP section (rather than "end", which `vtysh -m` ignores), then it all works as intended:
[code]
So the issue then appears to be in frr-reload.py, which does not include the explicit "exit" lines in the configuration which gets applied. So when it

[2020-11-06 19:05] Svisstack commented on #7428
@donaldsharp @jasonguy if you feel offended then sorry that was not my intention. From my perspective, we just exchanged feedback and for sure I not felt offended by it as I always welcome it.

[2020-11-07 15:26] #3969 closed

[2020-11-07 15:26] #5386 closed

[2020-11-07 15:26] #6928 closed

[2020-11-07 15:26] #7391 closed

[2020-11-08 20:00] paunadeu opened #7488 "vtysh: double bgpd is not running warning"
Running FRR vtysh for first time, don't remember to enable BGP daemon:

[code]

When I'm exiting router context I see "bgpd is not running" again, message it's shown two times, I expect:
[code]

[2020-11-09 07:56] hothotstreet commented on #7471
**here is my config:**
**openvpn server:**
router isis cpegw
 net 49.0000.0000.0000.0001.00
 metric-style wide
 is-type level-2-only

interface tapkj
 ip router isis cpegw
 isis circuit-type level-2-only
 no isis hello padding
 isis hello-interval 2
 isis hello-multiplier 5

**openvpn client:**
router isis cpegw
 is-type level-2-only
 net 49.0000.0000.0000.0663.00

interface tapkj
 ip router isis

[2020-11-09 09:02] DivineHell opened #7490 "nhrp map will lost, when i up/down the gre interface"
- FRR VERSION ：7.4-1
- OPERATING SYSTEM VERSION：LuCI Master git-20.304.29912-0064a54
- KERNEL VERSION：4.14.180

- Question:
   if i set ip nhrp map 1.1.1.1 2.2.2.2 then disable and enable gre interface i not see my map in config

1. config is:
[code]
2. linux command: ip link set dev gre2 up
3. look the frr config
[code]
lost config:  **ip nhrp map 1.1.1.1 2.2.2.2**

[2020-11-09 15:42] AndriiLozovyi commented on #7464
Understood, thanks for the help.

[2020-11-09 15:42] #7464 closed

[2020-11-09 17:28] shellwhale opened #7493 "BGP instance not found"
I am a total beginner to FRRouting.
I'm running it on a Docker container, using a custom Dockerfile. (I can't easily access vtysh using [images from the Docker hub](https://hub.docker.com/r/frrouting/frrl))

I enabled bgpd in `/etc/frr/daemons` by changing `bgpd=no` to `bgpd=yes`.

But when entering vtysh and running `show bgp summary` or any bgp related commands, `BGP instance not found` is sent

[2020-11-10 06:30] hansengao opened #7496 "vrrpd bgpd run error"
on mips32 linux platform ，i run vrrpd bgpd ,but get error :

./vrrpd: symbol lookup error: ./vrrpd: undefined symbol: MTYPE_TMP

./bgpd: symbol lookup error: ./bgpd: undefined symbol: MTYPE_COMPLETION

[2020-11-10 11:36] KaushikNiral commented on #7493
@shellwhale the process of enabling daemons is correctly done by you.
But to use commands like "  show bgp summary  "  or any BGP related commands you have to configure BGP in the system where you want to see the output, in addition to that if you want to the see neighbor-ship with BGP you have to connect atleast two systems together. For config help please refer :- http://docs.frrouting.org/en/la

[2020-11-10 12:27] mobash-rasool commented on #7355
can you check the show ipv6 ospf6 database. Also paste show running configuration output.

[2020-11-10 14:08] shellwhale commented on #7493
My confusion came from the fact that running `router bgp 100` while having the daemon disabled lead to an error.
Once I enabled it, I forgot to run  `router bgp 100` again and tried instead to get an empty `bgp summary`.

Problem solved.

[2020-11-10 14:08] #7493 closed

[2020-11-10 16:12] donaldsharp commented on #7452
@polychaeta autoclose in 1 week

[2020-11-10 16:15] donaldsharp commented on #7488
Have you started frr?

[2020-11-10 16:17] donaldsharp commented on #7496
Do you have a library mismatch?  Perchance you have installed the FRR into two different spots?

[2020-11-10 20:18] qlyoung commented on #7496
Yeah this is quite strange. What `libfrr.so` is being used? The same one compiled when you compiled `vrrpd`? What's `ldd /path/to/vrrpd` give you?

[2020-11-10 20:20] qlyoung commented on #7488
That is because the `exit` command is part of the `router bgp` context and thus counts as a BGP command in that context, which needs to be sent to BGPD, which is not running. No plans to fix this, just start BGPD if you don't want to see it.

[2020-11-10 20:20] #7488 closed

[2020-11-10 20:24] #7411 closed

[2020-11-10 20:24] #7386 closed

[2020-11-10 21:06] qlyoung commented on #7342
I only have a rudimentary understanding of this protocol but my impression is that `show interface brief` is simply showing the addresses assigned to the netdevices associated with those interface names. This is expected behavior and it's not clear to me why you expect something else from the `show interface brief` output.

[2020-11-11 02:20] hansengao commented on #7496
ospf rip is ok
Does it mean that the path is OK？

[2020-11-11 15:32] qlyoung commented on #7496
Can you purge all your FRR binaries and reinstall them, sure seems like a compilation mismatch issue

[2020-11-11 16:08] hohl commented on #7431
I was actually referring to the user documentation, that should be in `doc/user/bgp.rst`.

Sure, I would be happy to be of help. I gave it a try in #7504, but it might be a wise decision to have that proofread by however actually implemented that command. All information mentioned is what I figured out myself through trial & error, but it seems reasonable and might help others in the process of se

[2020-11-11 18:53] taspelund opened #7505 "Feature Request: Sort/order output of 'show' commands where relevant"
Currently, when running something like `show run` or `show ip bgp vrf all ...`, vtysh doesn't return sorted information.
This can cause annoyances when reviewing the output, because a user would intuitively expect it to be consistently ordered based on clause number, instance name, etc.

With bgp instances for default vrf, vrf1, vrf2 and vrf3, `show ip bgp vrf all sum` displays the output in the o

[2020-11-11 19:46] hohl commented on #7431
Since the pull-request was merged into the repo, I guess I can close that ticket.

[2020-11-11 19:46] #7431 closed

[2020-11-12 14:08] gpnaveen opened #7509 "[FRR OSPFv2] OSPFd Coredump seen in ASBR summarisation topotest is executed (Pull Req : 7096)"
OSPFd coredump seen when

- FRR VERSION
7.6-dev-20201104-01-g8c7e5b4f6

- OPERATING SYSTEM VERSION
Ubuntu 16.04. / 18.04

- KERNEL VERSION
4.19

OSPF Crash. : Call stack

https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TP1U1604AMD64-15173/log
[code]

[x ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

To reproduce this issue, please run sc

[2020-11-12 17:55] cardosocristian commented on #7355
router ospf6
 ospf6 router-id 187.1.141.203
 area 0.11.141.0 range 2804:10:10::10/128 cost 0
 area 0.11.141.0 stub
 interface eth2 area 0.11.141.0
 interface lo area 0.11.141.0
!
line vty
!
end

# show ipv6 ospf6 database

        Area Scoped Link State Database (Area 0.11.141.0)

Type LSId           AdvRouter       Age   SeqNum                        Payload
Rtr  0.0.0.0        187.1.128.226

[2020-11-12 17:57] qlyoung commented on #7496
@polychaeta autoclose in 3 days

[2020-11-13 01:16] hansengao opened #7515 "run bgpd error"
error list:

/tmp # ./bgpd
2020/11/12 14:47:41 BGP: libyang: Regular expression "(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(%[\p{N}\p{L}]+)?" is not valid ("p{N}\p{L}]+)?)$": support for \P, \p, and \X has not been compiled).
2020/11/12 14:47:41 BGP: libyang: Module "ietf-inet-types" parsing failed.
2020/11/12 14:47:41 BGP: [EC 10066

[2020-11-13 01:58] hansengao commented on #7515
the vision of frr is 7.5
libyang 1.0.184
libncurses 6

[2020-11-13 02:32] hansengao commented on #7515
on mips32 linux
the vision of frr is 7.5
libyang 1.0.184
libncurses 6
run bgpd error :

/tmp # ./bgpd
yang_ctx_new_setup -- yang_models_path : /usr/lib
yang_ctx_new_setup : 1
1970/01/01 00:12:16 BGP: libyang: Processing "libevent" extension plugin failed, missing plugin list object (/usr/lib/libevent.so: undefined symbol: libevent).
1970/01/01 00:12:16 BGP: libyang: Processing "libevent_core" exte

[2020-11-13 03:41] imzyxwvu commented on #6623
Any progress?

[2020-11-13 08:12] amollad commented on #6276
I can look into implementing '"ip nhrp map multicast". Can someone give a high level overview of what is required to support this command?

[2020-11-13 13:08] mchiappini opened #7517 "bgpd not working in frr container running in host mode"
Currently we are not able to make bgpd work on frr container running in host mode.

Scenario:
VM running `Ubuntu 18.04.5 LTS`, kernel `4.15.0-112-generic`, docker version `19.03.13` and frr container `v7.4.0`

How to reproduce it:
```$ sudo docker run -itd --privileged --net host --name frr-test frrouting/frr:v7.4.0```

Parameters:
[code]
We checked all permissions are ok:

[code]

We add `bgpd=ye

[2020-11-13 22:44] paunadeu opened #7522 "*: change of hostname in vtysh don't take effect after FRR restart"
Reproduced on new installation 7.5. By default FRR inherits hostname from Linux. If you change hostname from Linux, but you don't apply on same change on vtysh, the hostname parameter appears two times on running-config:

Steps to reproduce:
Linux installer set hostname as 'irr01', I installed FRR and after see this I changed to irr01.girpa01 (using Linux command), result it's that we have two hos

[2020-11-14 02:24] hansengao commented on #7515
i recompile,but run bgpd auso occurred the following problems:

/usr/sbin # ./bgpd
./bgpd: symbol lookup error: ./bgpd: undefined symbol: prefix_free_lists
/usr/sbin # ./vrrpd
./vrrpd: symbol lookup error: ./vrrpd: undefined symbol: MTYPE_TMP

[2020-11-15 04:22] hansengao opened #7527 "libyang Invalid keyword "type" as a child to "annotation""
frr7.5 ,i run bgpd ospf rip also encounter errors:
what's wrong , thanks.

libyang Invalid keyword "type" as a child to "annotation"

[2020-11-15 13:50] chris-tof commented on #6276
Hello.

Nhrp map interface tunnel destination IP address to the physical interface
IP destination address which will be used for the encapsulation.

So when a router must forward a IP packet with a destination field that is
the peer IP interface tunnel, it must go out from local tunnel interface
and be encapsulated with the physical destination address.

When a router must forward a IP packet with

[2020-11-15 17:57] #7496 closed

[2020-11-16 07:01] andylemin commented on #6623
I have submitted a PR with a fix for this; https://github.com/FRRouting/frr/pull/7529

[2020-11-16 14:22] ton31337 commented on #7409
Should be fixed by https://github.com/FRRouting/frr/issues/7409

[2020-11-16 17:01] aderumier commented on #6082
@RobertB93

I think it's because "advertise-all-vni" is defined after vni. It has been fixed in more recent release of frr.

BTW, I'm the maintenair of frr version in proxmox distro. Just curious, why do you use debian version and not proxmox version? (currently 7.2.1,but I'm planning to upgrade to last 7.4 stable branch)

[2020-11-16 17:34] Jafaral commented on #6276
@amollad in simple terms, the issue is about adding multicast support to a NBMA subnet. As an example assume you have 4 nodes, A, B, C, and D all connected to each other through an mGRE tunnel configuration with interface name called tun0:

[code]

In a peer to peer GRE tunnel, if a multicast packet hits the tunnel device, it gets encapsulated and sent to the other side. In an mGRE tunnel configur

[2020-11-16 18:07] aderumier opened #7532 "feature request : evpn: ebgp: route-target partial auto-derivated"
Hi,

With vpn && ebgp, we can't use the auto-derivated route-target "<AS>:<VNI>", because AS is different between differents peers.

we have something like "route-target *:vni" default when nothing is defined, but it's only for import, but not export.   (and on remote peer, some hardware routers don't have wildcard import feature like frr)

so the only way, is to define manually, for each vni, lik

[2020-11-17 01:28] amollad commented on #6276
@Jafaral  and all, is there a way to use iptables to achieve this?

[2020-11-17 02:49] Jafaral commented on #6276
No, iptables alone won't do it.  You can use iptables to capture multicast packets going through the interface and send them to user space for processing via Netfilter queue. I did exactly that long ago for a multicast application to achieve the same goal here.

[2020-11-17 05:15] aderumier commented on #7532
https://github.com/FRRouting/frr/pull/7535

[2020-11-17 07:47] ak503 opened #7539 "zebra dont restoring kernel route after chenge link"
Hello!

If getting ip and route via dhcp:

`dhclient -v -d enp0s3`
[code]

vtush out:
[code]

Then change link (up->down) on interface and see:
[code]

vtush out:
[code]

Restore link (down->up) and see:

[code]
vtush out:
[code]

Default route not restored.
[code]

[2020-11-17 08:02] hansengao commented on #7527
ly_ctx_new ............. NO LY_CTX_NOYANGLIBRARY
modules :

IETF NETMOD (NETCONF Data Modeling Language) Working Group

WG Web: <https://datatracker.ietf.org/wg/netmod/>

WG List: <mailto:netmod@ietf.org>

WG Chair: Lou Berger
<mailto:lberger@labn.net>

WG Chair: Kent Watsen
<mailto:kwatsen@juniper.net>

Editor: Ladislav Lhotka
<mailto:lhotka@nic.cz>

This YANG module defines an 'extension' statem

[2020-11-17 09:53] igloo777 commented on #7539
It may be the same issue with ppp interfaces: after ppp0 down -> up zebra doesn't see it and related connected route.
Moreover, in some cases even ppp interfaces do not up from netlink point of view (ip link show the ppp0 is in DOWN state).

FRR 7.5, Debian10, Kernel 4.19.0-12-amd64

[2020-11-17 15:21] donaldsharp opened #7545 "topotests are loosing startup logging"
Current runs of topotests are loosing startup logging somewhere.  When I am running some topotests with custom debugs I clearly am not seeing some debugs until long after start up has finished.  Have not narrowed it down to where it is happening.  I know this because I am running bfd-topo3 and I've added zlog_debug.... code to the route_unlock_node and route_lock_node and the lock count is startin

[2020-11-17 16:12] #7452 closed

[2020-11-17 16:13] qlyoung commented on #7515
Honestly we have no idea how to fix this and no idea how to reproduce it.

[2020-11-18 00:49] andylemin commented on #6623
2nd time lucky maybe; https://github.com/FRRouting/frr/pull/7544

[2020-11-18 19:42] RobertB93 commented on #6082
Hey,
thanks for your reply, I will give it another try soon.
I was experimenting using different versions after hitting this bug, just to make sure that it's not my local version that's causing it and thus confirmed it in the latest version at this time.

[2020-11-18 22:32] andyswmr714 commented on #6108
Any Updates to EIGRP for IPV6 support?  Thanks!

[2020-11-18 22:51] diivious commented on #6108
yes an (mostly) no.  I have most of the TLV2.0 code in place (which is needed for ipv6 TLVs), started debugging it -then in the middle of a house move so have not gotten back to it.  I have 2 weeks off in Dec and hoping to complete the coding and doing some in-depth testing.  Once that is done, and I can exchange topology data, i will be able to work on the configs and routing table update.

[2020-11-19 05:06] andyswmr714 commented on #6108
Thanks for the update!

[2020-11-19 19:57] venkat-xaptum opened #7567 "Issue with integrating frr 7.5-0~deb10 with GoBGP"
---------------

**Describe the bug**
I am facing an issue with GoBGP + Zebra integration after upgrading to `frr 7.5-0~deb10`. This worked fine with `frr 7.3.1-1+frr1~deb10u1`.

NOTE: I installed `frr` following instrunctions in https://deb.frrouting.org/.

[X ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
1. Install

[2020-11-19 20:27] ton31337 commented on #7567
Could you send us a full core dump if possible? Otherwise, I'll try to replicate this on my own.

[2020-11-19 20:44] venkat-xaptum commented on #7567
The zebra process does not crash. It throws these errors and still remains up.

[2020-11-19 20:52] donaldsharp commented on #7567
So FRR is attempting to decode what gobgp is sending to it.  Which is incorrect.  The FRR code intentionally sends backtraces to allow developers to find and fix their code.  You should be opening an issue with gobgp to fix their code.  There is nothing we can do here.

[2020-11-19 21:25] venkat-xaptum commented on #7567
This integration worked fine with a previous version of FRR specifically `7.3.1-1+frr1~deb10u1`. GoBGP behaviour has NOT changed. FRR behaviour has changed.

[2020-11-19 21:45] donaldsharp commented on #7567
We are allowed to change our unpublished internal api any time we want without consulting GoBGP.  To be more pedantic.  GoBGP has decided to use an internal unpublished api that is meant for FRR to FRR communication.  We have no responsibility to talk with the GoBGP people to fix their code when it breaks.

[2020-11-19 21:45] #7567 closed

[2020-11-20 09:45] mshuttle76 opened #7570 "MPLS label range"
Hello,
is there a way to define a global MPLS label range ?
I tried "mpls label global-block 24000 1048575" into Zebra configurazione but seems not working.
The first local label still start from value "16"

FRR 7.4 on Ubuntu 20 LTS

Thank You!
Davide

[2020-11-20 15:21] pguibert6WIND commented on #7490
it may help: https://github.com/FRRouting/frr/pull/7501

[2020-11-20 17:13] sworleys commented on #7539
pretty sure this a duplicate of #7299

[2020-11-22 02:52] netvfi opened #7583 "The hostname isn't read/saved properly when using '-N' option."
**Describe the bug**

When using -N option its seems that hostname command is not being saved/read properly. When running vtysh it seems the hostname is being taken not from configuration file but from OS hostname. Then on top of that when hostname is configured manually in vtysh and saved it looks like it doesn't replace the old one but its added to configuration as another 'hostname' entry. I ha

[2020-11-22 19:30] paunadeu commented on #7522
Related with #7583

[2020-11-23 08:33] batmancn opened #7588 "[zebra_fpm] zebra_fpm error quit with abort() in `zfpm_build_updates` process"
Hi all,

I use frr-7.2.1-s3, and encounter a critical bug:

1. How to repeat this bug:
    1) build bgp peers through output ports Ethernet1, Ethernet2, ...
    2) up/down Ethernet1, Ethernet2, ...(ALL THE PORTS) with many times.
    3) Sometime, I got this log, and zebra error quit. log:
[code]

2. Why `zfpm_encode_route` return 0?
- I found is because `if (ri->num_nhs == 0) {` in `netlink_route_

[2020-11-24 16:00] #7545 closed

[2020-11-24 16:44] #7281 closed

[2020-11-24 17:47] sbordolo commented on #4533
Hi experts, I have been exploring frrouting very recently. I have a requirement - I need to start frrouting bfdd on a specific ip address as I already have one BFD process(another application) running on another ip address. Is it possible?

In the file /etc/frr/daemons, I could see something like this "bfdd_options="   -A 77.77.77.77""... here I have modified it from 127.0.0.1. But I could still s

[2020-11-25 09:01] kuldeepkash opened #7598 "[PIM]: Not able to delete RP config"
**Issue:**
Not able to delete RP config when same RP is configured for multiple groups. This issue is seen after PIM yang code is merged.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce:**
1. Configure RP as following:
     ip pim rp 1.0.1.2 225.1.1.1/32
     ip pim rp 1.0.1.2 225.1.1.2/32
2. Try to delete RP config:

[2020-11-25 09:38] GalaxyGorilla commented on #6591
The relevant PR #6455 is now working, I'd claim that

https://github.com/FRRouting/frr/blob/master/tests/topotests/lib/topotest.py#L1382

was part of the issue here (link locals are reset after zebra started). For some reason it now works in CI, locally I was never able to reproduce this anyway.

[2020-11-25 09:38] #6591 closed

[2020-11-25 09:42] majst01 commented on #6412
Can confirm the same kernel BUG with frr-7.5 and kernel 5.4.0-54-generic #60-Ubuntu

But does not happen with frr-7.2
[code]

[2020-11-25 10:16] k0ste opened #7599 "frr 7.5: access-list YANG validation error: Missing requred element "address" in "network""
---------------

**Describe the bug**

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

**Expected behavior**
Command accepted

**Screenshots**
![image](https://user-images.githubusercontent.com/7759548/100213812-ae627580-2f41-11eb-8356-ec8d2fc1343b.png)

**Versions**

 - OS Version: Archlinux

 - Kernel: Linux 5.9.11

[2020-11-25 15:02] davischw opened #7604 "ospf6d: segmentation fault during daemon shutdown"
**Describe the bug**
The ospf6 daemon goes out with a bang during 20% of topotests in lxc on both arm8 and amd64. The reason the CI system is not reporting this is because we have not rebuilt the containers for a while now.

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
https://github.com/opensourcerouting/frr-lxc-t

[2020-11-26 14:52] lucize commented on #7081
something has changed in 7.5 I'm not able to run multiple instances anymore, only the first instance is running

[code]
[code]
[code]

[code]

[2020-11-26 14:56] lucize commented on #7081
it seems that only the first entry from the config file is taken could be the wrong defined insance, despite the instance number, but anyhow, only one instance can work

[2020-11-26 17:20] gromit1811 commented on #7172
Thanks, I just noticed that a libyang 1.0.184 suitable for building the Docker image has appeared in https://deb.frrouting.org/frr/pool/frr-stable/liby/libyang/
2 remaining issues:

- The GPG key used to sign the repo seems to have changed and tests/topotests/Dockerfile still references the old one

- The image on Docker hub still contains the old libyang

I could imagine that the 2nd problem vani

[2020-11-27 08:24] cupide1991 commented on #7410
after I in depth look at the source codes,I think maybe I understand why table command deleted. And I develop codes for scene of our own to use table command,but would broke VRF function which we dont need ,Thanks a lot.

[2020-11-27 15:18] pjdruddy commented on #7292
sorry missed this reply - I'll take a look at this when I get some cycles.

[2020-11-27 18:21] idryzhov commented on #7604
@davischw I submitted a PR for that a week ago - https://github.com/FRRouting/frr/pull/7572
You are welcome to review.

[2020-11-27 19:00] idryzhov commented on #7599
@k0ste please check my PR https://github.com/FRRouting/frr/pull/7622

[2020-11-27 20:02] kruisdraad opened #7623 "frr 7.5 startup with incomplete configuration, maps missing and names elements due to race condition"
Upgrade from 7.3.1. to 7.5. After restarting we noticed that a lot of configuration was missing from the running config. The frr.conf was complete, so it should has loaded these configurations.

Interesting to add is that running vtysh -f /etc/frr/frr.conf loads without any errors except for the lines where are already present. However it add the missing elements to the running configuration, maki

[2020-11-27 20:10] kruisdraad commented on #7623
To add, the changes in the community list are not save persistantly, so until a wr mem is done this happens every restart.

In addition this happend to 2 of the 6 routers we had. The difference on these routers is they were strugling with I/O and having high delays, which may have cause the delay for the race condition to occur.

[2020-11-27 20:43] kruisdraad opened #7624 "OSPF point-to-multipoint broken in FRR 7.5"
After upgrading from 7.3.1 to 7.5.0 OSPF is no longer correctly working and there is no mention of breaking changes in OSPF in the release notes.

Setup:
pop1 - 2 routers, back2back and another interface for global ospf to other pop layer2
pop2 - 2 routers, back2back and another interface for global ospf to other pop layer2

These symptoms are:
- Neighbours arent properly found between pops, while

[2020-11-27 21:40] kruisdraad commented on #7624
To add, looking at the documentation we are using OSPF on a per interface definition:

[code]

[2020-11-28 07:04] batmancn commented on #7588
I found it's because flags here is 0 ?

This is my patch in zebra_rib.c
![image](https://user-images.githubusercontent.com/3353168/100495919-ec9ea580-318a-11eb-867d-880d09bb95d1.png)

This is result:
![image](https://user-images.githubusercontent.com/3353168/100495931-0213cf80-318b-11eb-9573-692ad1212287.png)

[2020-11-28 13:39] kruisdraad commented on #7624
As per slack discussed its reported that point-to-multipoint is broken. Switching to another mode should be a work arround.

[2020-11-29 19:02] Trae32566 opened #7627 "BFD Minimum TTL Not Working"
In my lab environment it appears that attempting to configure BFD with a minimum TTL causes an error:
[code]

Steps to reproduce:
[code]

This is on CentOS 8 Stream, FRR 7.5:
[code]

Admittedly this command was not what I was looking for (and I was in the wrong config node for what I was trying to do), *but* regardless, this seems like an odd error.

[2020-11-30 06:36] batmancn commented on #7588
Finally, I found root cause.

1.Before telling root cause, introduce “route keep mechanism”, which is added after FRR-3, in this commit: 5dfeba19
![image](https://user-images.githubusercontent.com/3353168/100576600-695f8a00-3319-11eb-9d85-dbdf0a4a79f5.png)
As picture shows above:
1)If I delete the route which added by zebra, “route keep mechanism” will trigger to add this route again in zebra, in

[2020-11-30 06:56] batmancn commented on #7588
How to fix this bug, I have two method:
1) disable abort in `zfpm_build_route_updates` function, and skip adding routes which has no ACTIVE NH to FPM.
OR
2) Add more check in “route keep mechanism” in `rib_delete` function, but I have no idea about add what check.

So I NEED YOUR HELP !!!

[2020-11-30 08:19] k0ste commented on #7599
@idryzhov patch works. But I think it's should be over master, then cherry-picked backported to the stable/7.5🤔

[2020-11-30 08:20] idryzhov commented on #7599
Thanks. PR for master is also opened: https://github.com/FRRouting/frr/pull/7621

[2020-11-30 08:40] thilse commented on #7042
My problem seems to be solved in stable/7.5 with this patch:

Autor: Donald Sharp <sharpd@nvidia.com>  2020-11-25 15:49:28
Eintragender: Donald Sharp <sharpd@nvidia.com>  2020-11-25 16:02:36
Eltern: 86096edd255624e89c3b0f995d3204460e56a689 (Merge pull request #7575 from idryzhov/7.5-fix-quit)
Kind:  093cc9723bd6182a0a5d7d493a2b3081413c9f7e (Merge pull request #7605 from donaldsharp/75_ospf_crash_f

[2020-11-30 11:07] txj36 commented on #7588
I also encountered the same problem. The solution is as follows：

` if (fromkernel && CHECK_FLAG(flags, ZEBRA_FLAG_SELFROUTE)
		    && !allow_delete) {
            // skip route entry with changed status
            if (!CHECK_FLAG(same->status, ROUTE_ENTRY_CHANGED)) {
                rib_install_kernel(rn, same, NULL);
            }
           route_unlock_node(rn);

           return;
 }
`

[2020-11-30 11:13] rzalamena commented on #7627
Hi @Trae32566 ,

You've created a new single hop peer and then tried to set a `minimum-ttl` (which is invalid for single hop peers, it only applies to multi hop).

[code]

From your `show running` I think you meant: `peer 192.168.253.6 multihop local-address 192.168.253.8` instead of `peer 192.168.253.6`.

Yes odd error, northbound is complaining the `minimum-ttl` leaf does not exist in `single-ho

[2020-11-30 11:37] rzalamena commented on #7588
@batmancn nice work investigating this. Does this still happens in `master`? If that is the case it would be nice to have a PR for it, otherwise just open a PR the branch you want to fix (the fix would be upstreamed, but I wouldn't expect a new release for FRR 7.2).

Did you also try this fix? https://github.com/FRRouting/frr/commit/b0e9567ed162da708f8d0b3a3caf87cd03b62e96 (from PR: #6508 )

@txj3

[2020-11-30 11:42] txj36 commented on #7588
@rzalamena see PR: #7628

[2020-11-30 12:15] txj36 commented on #7588
Part of the log output, note that I modified some of the code in order to analyze the problem.

- re 0x559cfc7ba590 replace with 0x559cfea3a3d0
   - 0x559cfc7ba590 status is ROUTE_ENTRY_CHANGED
   - 0x559cfea3a3d0 status is ROUTE_ENTRY_REMOVED

[code]

-  RTM_DELROUTE 20c0:a800::/64, trigger call rib_install_kernel
   - dest->selected_fib from 0x559cfea3a3d0 to 0x559cfc7ba590

[code]

- FPM build

[2020-11-30 12:16] #7599 closed

[2020-11-30 12:37] rzalamena commented on #7588
@txj36 nice catch, but I think the change is a bit intrusive because it changes the RIB processing. From a quick glance I though that this PR #7629 from @batmancn is more appropriated, since it skips the update entirely in FPM (not in `zebra` RIBs).

It is possible that #7628 improves a corner case, but I'd wait a bit more for opinions from other developers that spent more time there.

[2020-11-30 12:44] txj36 commented on #7588
I think if route entry's status is ROUTE_ENTRY_CHANGED should not to change dest->selected_fib. If it changes, there may be other potential problems.

[2020-11-30 14:32] ton31337 commented on #6699
This is fixed since 7.4. Please upgrade.

[2020-11-30 14:32] #6699 closed

[2020-11-30 19:17] Trae32566 commented on #7627
Yeah, that's what I meant by "I was in the wrong config node"; I'm a VyOS guy so I'm in the habit of calling it a config node.

[2020-12-01 00:58] jmiezitis commented on #4818
I would give my support to FRR taking on the management of interfaces and assignment of addresses etc.
With all the distros doing different things with regard to networking and changing every few years, it would be great to install frr to have a consistent interface of my choice.

Cheers.

[2020-12-01 14:31] #7627 closed

[2020-12-01 15:35] krazyken opened #7643 "Feature Request: Conditional Default Route Advertisement"
Would really love the ability to only advertise the default route when the default route is UP.
This could be measured by network probe.

I've worked with SonicWall appliances in the past which have this feature, it is very nice to have.

[2020-12-01 15:39] ton31337 commented on #7643
Can you be more specific?

Is this for BGP or which one protocol?

In BGP, this could be done already with `default-originate route-map RMAP`.

[2020-12-01 15:42] krazyken commented on #7643
I would be doing it in OSPF
But, how would you determine if a default route is up via route-map?

[2020-12-01 16:08] ton31337 commented on #7643
You can tag a default route with a tag or community and originate it if tag matches.

[2020-12-01 16:16] krazyken commented on #7643
Ahh I see, that won't work when the default route is statically defined, will it?

[2020-12-01 16:23] donaldsharp commented on #7623
Can you send us the frr.conf that you were usi9ng in 7.3.1?  We would like to test this

[2020-12-01 16:29] ton31337 commented on #7643
You should be able using match/set tag when adding a static route.

[2020-12-01 16:42] krazyken commented on #7643
I'm not following, I'm clearly missing a key concept here. The route always exists because it is statically defined since my ISP gave me a static IP with a static gateway. Are you saying there is a way to tag/untag the route if traffic no longer passes through it?

[2020-12-01 17:19] dslicenc commented on #7643
I'm a bit confused.  In ospf, if you define "default-info originate" it only generates a default in ospf if a default is present in the rib.  Isn't this what you want?

[2020-12-01 17:30] krazyken commented on #7643
The route may be in the rib, but that does not mean it is working. I'm looking for a conditional check where we determine if the default is working before originating it. Ideally periodically ping x.x.x.x if latency and loss are below certain threshold go ahead and originate the route.

[2020-12-01 17:34] dslicenc commented on #7643
This may be a good use of the lua scripting mentioned in the technical meeting today.  Short of that, I'm not aware of any mechanism in FRR to do probes.

[2020-12-02 00:28] qlyoung commented on #7042
Fixed by #7605

[2020-12-02 00:28] #7042 closed

[2020-12-02 04:56] lucize commented on #7081
#7651 seems to fix the issues for 7.5+

[2020-12-02 10:33] ton31337 commented on #7643
ping x.x.x..x in this case x.x.x.x is OSPF neighbor?

[2020-12-02 13:00] gromit1811 commented on #7172
The first remaining issue was fixed by 57d8980 and as expected, the 2nd disappeared subsequently. Thanks!

[2020-12-02 13:00] #7172 closed

[2020-12-02 14:36] krazyken commented on #7643
No, x.x.x.x would be upstream possibly the ISP GW or maybe an internet target.

[2020-12-02 15:34] brotherdust commented on #2236
@maduri111 Checking in again. Please let me know what I can do to help! Thanks!

[2020-12-02 16:04] maduri111 commented on #2236
@brotherdust Sorry, due to personal emergency could not work on this. Will be working on this from next week. Once I complete the CLI part, or make some significant progress, will ping you. Thanks !

[2020-12-02 18:07] #7624 closed

[2020-12-02 20:01] brotherdust commented on #2236
@maduri111 No problem! Whatever the emergency was, I hope things are better now. I am looking forward to working with you!

[2020-12-03 17:32] nickleepfrog opened #7662 "access-list to route map issue in 7.5"
We're using an access list for a BGP route map.

In moving to frr 7.5, we noticed the format of this has potentially changed.  Here's an example of our access list:

access-list 10 seq 5 permit 0.0.0.0
access-list 10 seq 10 permit IP-REMOVED 0.0.0.255
access-list 10 seq 15 permit IP-REMOVED0.0.0.255
access-list 10 seq 20 permit IP-REMOVED 0.0.0.255
access-list 10 seq 25 deny any

We use the "permi

[2020-12-03 23:47] Kinglink opened #7665 "Error: "libyang needs to be compiled with ENABLE_LYD_PRIV=ON." when trying to build frr 7.5/master"
Hello all.

Previously we have used 7.3 and 7.4 frr in a project and we compile our own RPMs.  This has worked.  We want to update the system to use frr 7.5, since it has new features and bug fixes.  However I'm running into issues with the configuration step.
 I use the command

And eventually it gets to

So going to that location takes me to a link where I go to http://docs.frrouting.org/project

[2020-12-04 01:40] abdul152 opened #7666 "Unable to run FRR on CORE Emulator"
I just installed CORE emulator. FRR services is showing on every node inside the CORE emulator. But these are not working. I ran these services and try to use vtysh then configuration prompt is not  appearing. I tried to click on nodes and the go to bash window to type vtysh so I get error that "no daemons found". However, Quagga is working properly.
Please help me out.
![1](https://user-images.gi

[2020-12-04 12:39] donaldsharp commented on #7662
no something is wrong:

[code]

sometimes it's ok.  Sometimes it's not.  Digging in now.

[2020-12-04 13:06] donaldsharp commented on #7662
this is fixed already https://github.com/FRRouting/frr/pull/7622

[2020-12-04 13:33] nickleepfrog commented on #7662
Do you know when this fix will make it's way into the latest package version in your yum repo list?

[2020-12-04 13:40] mjstapp commented on #7665
so there are a two different things  being tested by the frr build: one is the pkg-config file for the installed libyang, and the other is the actual header files that the frr configure script finds. it sounds as if you've got some inconsistent libyang files installed in your system. try removing libyang entirely, then verify it's gone, then build it with the correct flags and install again, then

[2020-12-04 15:40] KaushikNiral commented on #7604
Hi @davischw ,
Can you please check whether this issue is solved or not as PR #7572 is merged to master.

[2020-12-06 20:24] theonemcdonald commented on #6823
whats the solution here?

[2020-12-06 20:44] liweitianux commented on #6823
@theonemcdonald well, I don't know... But for us, we need to get OSPF working for our L4 load balance, so we've migrated to BIRD and it works well ;)

[2020-12-06 21:24] ACiDGRiM commented on #830
Any progress on this? I have to implement this on an upstream cisco router which creates a loop between vyos and cisco without a route-map.

[2020-12-07 10:15] ton31337 commented on #7643
Then scripting would be the easiest way to handle this for now. If it would be a neighbor it would be easy to add something similar we have in BGP for shutdown http://docs.frrouting.org/en/latest/bgp.html#clicmd-[no]neighborPEERshutdown[messageMSG...][rtt(1-65535)[count(1-255)]]. Like, shutdown the neighbor if round-trip-time increases.

Here would be similar but to advertise/withdraw the default

[2020-12-07 12:59] cardosocristian commented on #7355
Any idea what the problem might be?

[2020-12-07 16:10] nickleepfrog commented on #7662
Any idea on when this fix will make it into your yum repositories?

[2020-12-08 08:42] davischw commented on #7604
@KaushikNiral Issue has been resolved with merge of [PR #7572](https://github.com/FRRouting/frr/pull/7572).

[2020-12-08 08:42] #7604 closed

[2020-12-08 15:29] nickleepfrog commented on #7662
Any thoughts?

[2020-12-08 16:00] donaldsharp commented on #7666
Please ask the Core Emulator people what is going wrong.  We cannot diagnose their system

[2020-12-08 16:00] #7666 closed

[2020-12-08 16:17] qlyoung commented on #7665
1. We need to update the build instructions to include `-DENABLE_LYD_PRIV=ON`.
2. @Kinglink if you can't use the binary libyang packages we build in our [RPM repo](https://rpm.frrouting.org/) and must build yourself then yes you need to use that flag
3. A source install of libyang doesn't install the pkgconfig file that FRR's configure script looks for; this is something we need to document the wo

[2020-12-08 16:18] #7515 closed

[2020-12-08 21:24] PouuleT opened #7691 "Assertion failed: zns (zebra/zebra_l2.c: map_slaves_to_bridge)"
Hello!

**Describe the bug**

When using VRF-lite with bridges there is a race condition making zebra crash
at startup.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

- Stop zebra
- Setup the network
[code]

- Start zebra and watch it crash. No specific config is needed
[code]

Notes:
If you create the vrf before t

[2020-12-09 10:32] m-mahdy opened #7695 "bgpd crashes when accepting large number of IPv6 routes"
---------------

**Describe the bug**

I have FRR with ipv4, vpnv4, evpn and ipv6 labeled-unicast bgp adjacency with another router. For ipv4, around 800k routes are received. For vpnv4, around 15k routes are received. No routes are received for evpn. For ipv6, around 94k routes should be received.
The issue is that when the ipv6 bgp adjacency is being established the bgpd process becomes unrespon

[2020-12-09 12:55] zendulkaj opened #7696 "NHRP"
I would like to use the NHRP / FRR implementation, but when I test the NHRP / FRR implementation, then the DMVPN does not work with Cisco (the openhrp implementation works in this configuration).

I noticed that some commands are not supported by NHRP / FRR, but by openhrp they are supported.
 i.e. **cisco-authentication**.
https://sourceforge.net/p/opennhrp/code/ci/613277fda0f3a54e670e3e4b521adb8

[2020-12-09 12:58] donaldsharp commented on #7695
`Terminating on signal` indicates something decided to shut bgp down.  On startup can you issue a `watchfrr ignore bgpd` from the cli and let us know if bgp stays up?

[2020-12-09 14:00] m-mahdy commented on #7695
Still the bgpd crashed and all the other processes crashed and everything was restarted.
I attached the log from ``` journalctl -r -u frr.service ```
[log.txt](https://github.com/FRRouting/frr/files/5666341/log.txt)

[2020-12-09 14:09] mjstapp commented on #7695
I believe we've also seen a problem involving BGP-LU - I think that should be fixed by recent PR #7694 . I'll submit that fix to the 7.5 branch also.

[2020-12-09 14:14] m-mahdy commented on #7695
So should I reinstall from master or wait for the 7.5 update?

[2020-12-09 14:16] mjstapp commented on #7695
that sort of depends on what you need - you could try current master (at a point that includes that PR) and see if it helps you, if you can use a self-built package. If you need a 'stable' release, then you will need to wait for the next 7.5 update.

[2020-12-09 14:19] m-mahdy commented on #7695
My final question is when can we expect the next update?

[2020-12-09 18:07] xorira opened #7702 "NHRP: inactive route shortcut"
I am testing DMVPN using the ipsec s-terra vpn daemon, not using strongswan and vici.
FRR version - 7.3
Os - s-terra4.3 based on debian 9
linux core - 4.9.0-11-amd64

I am testing inside Eve-NG and other routers based on cumulus and mikrotik.

I use IBGP as the routing protocol inside the DMVPN phase 3 cloud.

While testing the solutions, I encountered many small problems in the work of the nhrp d

[2020-12-09 20:24] abdul152 opened #7704 "How can multiple nodes of FRRouting can run on single Ubtuntu 20.04 LTS Vm"
I wanted to run multiple nodes of FRRouting on single Ubuntu 20.04 LTS and the configuration of every node should me permanent and can rework after restart of system.  Can you pls suggest the method which can be possible approach to do this.
I wanted to create ISP design based on 2 PE , 2 P and 2 CE nodes including.
Thanks in advance.

[2020-12-10 12:10] #7691 closed

[2020-12-10 13:14] #7297 closed

[2020-12-10 21:46] sajmonowski115 commented on #6609
To be able to connect to quagga terminal you need to put the below line in your *.startup file
/etc/init.d/zebra start

[2020-12-11 10:39] mg964 opened #7718 "Failure to remove IPv6 static route with multiple output paths"
Looking for a clue as why the following is failing. I'm running with FRR 7.4 under DANOS, but I've managed to strip away the DANOS portions and am left with a fairly simple repro of the problem.

Two files with the necessary configuration to add and delete the route:

[code]
Run "sudo vtysh -f ~/add-ipv6-route.txt" to add the route and all looks OK:

[code]
But if you now apply the delete only the

[2020-12-11 11:31] mg964 commented on #7718
Can confirm the same issue exists with a master build "frr version 7.6-dev-20201209-05-g327c3aad2".

One other data-point. You can cut-n-past the add sequence directly into vtysh, but not the delete. To delete everything you have to "slowly" issue each individual "no ipv6 route ..." command, i.e. wait a second or two before issuing the next command.

[2020-12-11 14:56] mjstapp commented on #7718
I'm not able to reproduce this "need a delay" issue with master. my 'uninstall' file was:
[code]
I didn't have any subinterface config handy, so that may be different? I just ran the daemons and vtysh from a development sandbox: is there some other component of the danos/whatever stack that's involved?

[2020-12-11 15:49] mg964 commented on #7718
OK thanks.

The only DANOS item left in the test is the dataplane, at the moment I can't see how that would impact the kernel. Is staticd the right place to be poking about for clues at what might be happening?

[2020-12-11 15:53] mjstapp commented on #7718
sure: staticd is receiving the "ipv6 route" cli input there, and processing it to decide what to send to zebra. zebra is responding to the "show ipv6 route" cli. it would give you some insight to enable some debugs too:
debug zebra rib detail
debug zebra events
debug zebra kernel

those should show you what staticd is sending, and when, and then how zebra disposes of the info.

[2020-12-11 15:59] pjdruddy commented on #7718
Hi @mg964 - it might be worth knocking up a quick topotest to check this in a vanilla FRR setting. Can point you in the right direction if you want to pursue this.

[2020-12-11 16:03] donaldsharp commented on #7718
so the output from the first `ip -6 route ...` does not show ecmp behavior at all in the linux kernel.  After the route installation can we see `vtysh -c "show ipv6 route"` and  Can we see the route installation with `debug zebra rib detail`, `debug zebra dplane`, `debug zebra kernel` turned on?  Something is going wrong at install time, imo

[2020-12-11 16:24] mg964 commented on #7718
Does look like the multipath is present in the kernel. This is a similar test (which works) using ipv4:
[code]

[2020-12-11 16:27] donaldsharp commented on #7718
The output given in the initial message *is* not v6 ecmp from my perspective.  Something has gone wrong, hence the request for more data.  Secondly the ipv4 quote is missing data from your last response.

[2020-12-11 16:29] donaldsharp commented on #7718
This is what I expect it too look like:
[code]

[2020-12-11 16:42] mg964 commented on #7718
Its the interface/gateway attribute that is causing problems. Use an address and all works as expected.

[2020-12-11 16:58] donaldsharp commented on #7718
[code]
This works for me.  Can you please provide the requested data?

[2020-12-11 17:10] mg964 commented on #7718
Was it just the logging for add AND delete you wanted?

[frr-ipv6-route-2.txt](https://github.com/FRRouting/frr/files/5680568/frr-ipv6-route-2.txt)

[2020-12-11 17:12] donaldsharp commented on #7718
no just the add looking at the data now

[2020-12-11 17:40] donaldsharp commented on #7718
Can you please provide the kernel you are running as well as how it is compiled? ( the boot/config-XXX ) I would also like to see the output of `sysctl -a`

[2020-12-12 14:02] mipxman opened #7725 "advertise network in BGP/vrf"
Hi Guys !
In one project i have some vrf and I need redistribute networks from one vrf to another vrf. but when advertise my own network to Vrf A , it can't import to vrf B, however i add  the `import vrf Vrf_A` in `address-family ipv4 unicast ` of `router bgp 500 vrf Vrf_B` sub commands and vice-versa.  you can see my config here :

**topology :**  exact design is [here ](https://github.com/FRRou

[2020-12-12 15:24] taspelund commented on #7725
Can we get the output of `show ip bgp neighbor 10.10.10.10 advertised-routes` ?

[2020-12-12 15:24] taspelund commented on #7725
Also `show ip bgp vrf all`

[2020-12-13 06:03] mipxman commented on #7725
here is my topolgy in gns3 :
![TOPOLOGY](https://user-images.githubusercontent.com/66869651/102004425-bc780a80-3d25-11eb-9a1c-fcf7a0854286.png)

[2020-12-13 06:06] mipxman commented on #7725
**Rtr- SONiC1.1-1 :**
sonic# show ip bgp vrf all

Instance Vrf_A:
BGP table version is 2, local router ID is 10.10.10.6, vrf id 76
Default local pref 100, local AS 500
Status codes:  s suppressed, d damped, h history, * valid, > best, = multipath,
               i internal, r RIB-failure, S Stale, R Removed
Nexthop codes: @NNN nexthop's vrf id, < announce-nh-self
Origin codes:  i - IGP, e - EGP, ?

[2020-12-13 06:10] mipxman commented on #7725
in R1:
R1#show ip route
Codes: C - connected, S - static, R - RIP, M - mobile, B - BGP
       D - EIGRP, EX - EIGRP external, O - OSPF, IA - OSPF inter area
       N1 - OSPF NSSA external type 1, N2 - OSPF NSSA external type 2
       E1 - OSPF external type 1, E2 - OSPF external type 2
       i - IS-IS, su - IS-IS summary, L1 - IS-IS level-1, L2 - IS-IS level-2
       ia - IS-IS inter area, * - ca

[2020-12-13 06:26] mipxman commented on #7725
sonic# show ip bgp vrf Vrf_A neighbors 10.10.10.6 advertised-routes
BGP table version is 5, local router ID is 10.10.10.5, vrf id 90
Default local pref 100, local AS 500
Status codes:  s suppressed, d damped, h history, * valid, > best, = multipath,
               i internal, r RIB-failure, S Stale, R Removed
Nexthop codes: @NNN nexthop's vrf id, < announce-nh-self
Origin codes:  i - IGP, e - EGP,

[2020-12-13 07:51] lyricconch commented on #1402
this happens In frr 7.4 , is there any way to make trace path clear while using frr as ingress pe?

[2020-12-14 07:51] mobash-rasool opened #7727 "OSPF6d: Link LSA is not updated when router priority is modified"
Steps to reproduce the issue:

Change the OSPF6 router priority on the interface.

Check the database "show ipv6 ospf6 database link detail"

The Link LSA is not updated with the latest router priority.

Rtr-1(config-if)# do sh ipv6 ospf6 database link self-originated detail

        I/F Scoped Link State Database (I/F ens192 in Area 0)

Age:   67 Type: Link
Link State ID: 0.0.0.3
Advertising Rout

[2020-12-14 09:39] mg964 commented on #7718
This is the kernel:
[code]
The source can be found here:

https://github.com/danos/linux-vyatta/tree/linux-vyatta-5.4.y

I've attached config (from /proc/config.gz) & sysctl.
[sysctl.gz](https://github.com/FRRouting/frr/files/5687851/sysctl.gz)
[config.gz](https://github.com/FRRouting/frr/files/5687853/config.gz)

[2020-12-14 10:39] batot1 opened #7729 "frr-7.0-10.el8.x86_64 and 100% usage CPU past start before ~30min."
This day i was upgrade frr-7.0-5.el8.x86_64 to frr-7.0-10.el8.x86_64 and past start FRR have 100% usage CPU before about 30min.
On version  frr-7.0-5.el8.x86_64 all was ok.

To Reproduce
1. dnf update

**Screenshots**
[code]
past about 30min i see:

[code]
[code]

[code]
**Versions**

 - OS Version:  Centos 8
 - Kernel:
[code]
- FRR Version: frr-7.0-10.el8.x86_64

**Additional context**
What is it

[2020-12-14 10:41] mg964 commented on #7718
Another datapoint... used "ip -6 monitor" to see what is issued to the kernel. Looks a bit odd. The following is the result of manually/slowly issuing "ipv6 route 10:2::1/128 dp0p1s1" & "ipv6 route 10:2::1/128 dp0p1s2.102":

[code]
I can see how the first add & subsequent delete makes sense - preparation for the subsequent addition of the second NH interface - but the next add only includes the in

[2020-12-14 10:53] ak503 opened #7730 "bgp vpn advertised-routes don't showing"
Hello!

Advertised vpn routes not showing when using new style command:
Conf:
<pre>
router bgp 1
 neighbor 10.10.105.114 remote-as 1
 !
 address-family ipv4 unicast
  no neighbor 10.10.105.114 activate
 exit-address-family
 !
 address-family ipv4 vpn
  network 192.168.55.0/24 rd 1:1 label 55
  neighbor 10.10.105.114 activate
 exit-address-family
!

</pre>

Don't display advertised-routes:
<pre>
#

[2020-12-14 11:01] ak503 commented on #7725
Hello
Old commands work:

Advertised vpn routes not showing when using new style command:
Conf:
<pre>
router bgp 1
 neighbor 10.10.105.114 remote-as 1
 !
 address-family ipv4 unicast
  no neighbor 10.10.105.114 activate
 exit-address-family
 !
 address-family ipv4 vpn
  network 192.168.55.0/24 rd 1:1 label 55
  neighbor 10.10.105.114 activate
 exit-address-family
!

</pre>

Don't display advertise

[2020-12-14 11:01] ak503 commented on #7730
move to #7725

[2020-12-14 11:02] deastoe commented on #7718
@mg964 it looks like there might be a kernel bug in DANOS. If we take FRR out of the equation and use `ip` instead, ECMP routes aren't installed.
[code]

[2020-12-14 13:46] mg964 commented on #7718
Ok found that we (vyatta) have a kernel patch to allow device only routes via the multipath API. See the ipv6-interface-route-ecmp.patch in the above kernel tree. This patch was in response to a 2018 kernel update (b5d2d75):

[code]
and, as @deastoe pointed out, we must program up the kernel in some slightly different way to FRR. I guess FRR must have have a work around for the shortcomings of IPv

[2020-12-14 14:00] sglaus opened #7731 "Recursive static route no longer shown if nexthop changes"
---------------

**Describe the bug**

If the nexthop address of a recursive IPv4 static route changes, the route is no longer listed in the output of "show ip route" despite still being installed in the RIB.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

I'm testing this on DANOS but by stripping away the DANOS commands and interac

[2020-12-14 14:27] mjstapp commented on #7731
resolution via a default route is configurable - have you configured `ip nht resolve-via-default` ?

[2020-12-14 15:15] sglaus commented on #7731
Configuring ```ip nht resolve-via-default``` ends up with the default route being flagged as "inactive":
[code]
It also seems to result in 51.1.1.0/24 being flagged as "inactive", even though the next-hop is reachable.

[2020-12-14 15:40] taspelund commented on #7730
Does this work if you remove the first "ip" from the command? i.e. `show bgp ipv4 vpn neighbors 10.10.105.114 advertised-routes`

[2020-12-14 15:58] taspelund commented on #7725
From the output you've provided, it looks to me like Rtr-2 Vrf_B is advertising 185.170.30.12/30 to 10.10.10.10:
[code]

Right now all we know is that Rtr-3 has chosen the eBGP path via 20.20.20.1, we don't know whether it has properly received and processed the iBGP path we've advertised to them.

Can you get the appropriate `show ip bgp` output from Rtr-3, along with the equivalent of `show ip b

[2020-12-14 18:51] mjstapp commented on #7731
I'm able to reproduce some of this, and some of it does seem incorrect. I don't know that we see much use of recursive default routes - but it does seem reasonable to see consistent/predictable behavior with static routes.

[2020-12-14 19:01] donaldsharp commented on #7731
staticd watches nexthops and if it has no way to reach the 51.1.1.0/24 because the nexthops are not good then it withdraws the route from zebra..

[2020-12-15 03:58] qlyoung commented on #7696
NHRP is in alpha at this time and we are looking for someone to maintain it. Can't make any guarantees about it working or not. I'll leave the issue open in case someone wants it.

[2020-12-15 04:08] qlyoung commented on #7695
This progression of events is strange. First bgpd reports that it's rx'd a message from Zebra whose magic header values, which we use to detect incompatible versions of daemons talking to each other, are mismatched. But they're both 0 so this looks like a bug in either zebra or libfrr's zclient code. But notice this has occurred 28 seconds after bgpd's previous log and zebra complains that its mes

[2020-12-15 04:11] qlyoung commented on #7570
Please update your ticket following the format of the bug report template, including all requested information, specifically showing what you expected vs what happened.

@polychaeta autoclose in 1 month

[2020-12-15 04:15] qlyoung commented on #7727
What version of FRR? In the future please fill out the bug report template so we don't have to ask for the information already asked for there.

[2020-12-15 04:22] qlyoung commented on #7704
You have lots of options
- [GNS3](https://www.gns3.com/) is probably the easiest for you
- [Docker](https://hub.docker.com/r/frrouting/frr)
- [Network namespaces](https://man7.org/linux/man-pages/man8/ip-netns.8.html)

You might also want to join our Slack (check the project README) and connect with people there

[2020-12-15 04:22] #7704 closed

[2020-12-15 04:23] qlyoung commented on #7702
NHRP is in alpha at this time and we are looking for someone to maintain it. Can't make any guarantees about it working or not. I'll leave the issue open in case someone wants it.

[2020-12-15 04:23] polychaeta commented on #7280
This issue will be automatically closed in one week unless there is further activity.

[2020-12-15 04:26] qlyoung commented on #7623
Closing as reporter has not replied with requested info

@polychaeta autoclose in 1 week

[2020-12-15 04:42] mobash-rasool commented on #7727
I have used latest master.

[2020-12-15 04:43] mobash-rasool commented on #7727
I have fixed this issue as well and raised a PR. Please review it.
https://github.com/FRRouting/frr/pull/7728

[2020-12-15 04:59] qlyoung commented on #7662
We release every 4 months
http://docs.frrouting.org/projects/dev-guide/en/latest/workflow.html#releases
Next release will be February, in the meantime you can compile yourself with the instructions [here](http://docs.frrouting.org/projects/dev-guide/en/latest/building.html).

Since you didn't tell us what operating system you're using, which is one of the items requested by the bug report template

[2020-12-15 05:04] qlyoung commented on #7643
Sounds like what is wanted is a BFD-like check combined with a conditional advert. Similar use case to VRRP object tracking.

[2020-12-15 05:07] qlyoung commented on #7570
@polychaeta bad-report

[2020-12-15 05:07] polychaeta commented on #7570
When filing a bug report, please:

- Describe the expected behavior
-Describe the observed behavior

Please be sure provide:

- FRR version
- OS distribution (e.g. Fedora, OpenBSD)
- Kernel version (e.g. Linux 5.4)

Neglecting to provide this information makes your issue difficult to address.

[2020-12-15 05:09] qlyoung commented on #7527
@polychaeta bad-report

[2020-12-15 05:09] polychaeta commented on #7527
When filing a bug report, please:

- Describe the expected behavior
-Describe the observed behavior

Please be sure provide:

- FRR version
- OS distribution (e.g. Fedora, OpenBSD)
- Kernel version (e.g. Linux 5.4)

Neglecting to provide this information makes your issue difficult to address.

[2020-12-15 05:09] qlyoung commented on #7527
@polychaeta autoclose 2 months

[2020-12-15 05:09] qlyoung commented on #7527
@polychaeta autoclose in 2 months

[2020-12-15 05:36] mipxman commented on #7725
[code]
note that I add ` neighbor 10.10.10.9 soft-reconfiguration inbound ` , also in the other side :

[code]

[2020-12-15 07:01] taspelund commented on #7725
From R2 can you get the output of `show ip bgp` and `show ip route`?

[2020-12-15 07:14] ak503 commented on #7730
Do not work.
<pre>
u1-VirtualBox(config)# do show bgp ipv4 vpn neighbors 10.10.105.114 advertised-routes
u1-VirtualBox(config)# do show ip bgp ipv4 vpn neighbors 10.10.105.114 advertised-routes
u1-VirtualBox(config)#
</pre>

[2020-12-15 07:28] taspelund commented on #7730
The syntax looks correct, so I suspect this is a bug.
Is this specific to `advertised-routes`?  Can you try re-running with just `routes`?

[2020-12-15 08:31] ak503 commented on #7730
<pre>
SPOKE1# show ip bgp ipv4 vpn neighbors 10.10.105.113 routes
BGP table version is 37, local router ID is 192.168.30.1, vrf id 0
Default local pref 100, local AS 1
Status codes:  s suppressed, d damped, h history, * valid, > best, = multipath,
               i internal, r RIB-failure, S Stale, R Removed
Nexthop codes: @NNN nexthop's vrf id, < announce-nh-self
Origin codes:  i - IGP, e - EGP, ?

[2020-12-15 10:29] ZaphodB opened #7738 "ipv6 nd suppress-ra does not take for OS-configured interface"
---------------

**Describe the bug**
Hoster reported my router VM to be sending IPv6 RAs, disabling them via
[code]
 on the OS-configured interface did not take meaning the configuration did not disable the RAs from being sent and did not show up in show running-config.

[x] Did you check if this is a duplicate issue?
[-] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce*

[2020-12-15 13:48] nickleepfrog commented on #7662
Sorry, We're using centos 7.9.

[2020-12-15 14:48] gpnaveen opened #7740 "OSPFv2 P2MP : OSPF neighbors are going down on disable and enable ospf on interface. (steps to repro - script in PR : 7687)"
ALWAYS PROVIDE:
- FRR VERSION
    -- Latest FRR dev build or use 7.6-dev-20201203-02-g0fb4ab038

- OPERATING SYSTEM VERSION
    - Ubuntu 16.04

- KERNEL VERSION

SCRIPT TOPOLOGY =
      Please view in a fixed-width font such as Courier.
      +---+  A1       +---+
      +R1 +------------+R2 |
      +-+-+-           +--++
        |  --        --  |
        |    -- A0 --    |
      A0|      ----

[2020-12-15 16:30] qlyoung commented on #7740
You can use code blocks directly in Markdown with triple backtics
[code]

[2020-12-15 16:33] gpnaveen commented on #7740
Sure, Thank you ..

[2020-12-15 16:37] pguibert6WIND commented on #7696
Did you try without nhrp authentication of cisco ?

[2020-12-15 16:38] gpnaveen opened #7742 "FRR Infra : support_bundle_commands.conf file does not collect OSPF (other module's) information, suggested to add required show commands as part of support bundle"
FRR VERSION
-- Latest FRR dev build or use 7.6-dev-20201203-02-g0fb4ab038

OPERATING SYSTEM VERSION
Ubuntu 16.04

Please add ospf commands in  support_bundle_commands.conf file to collect ospf support info.

Topotest failure uses this file to generate support bundle, will help to analyse CI issues.

Example logs without ospf show commands : https://ci1.netdef.org/download/FRR-FRRPULLREQ-TP1U1604AM

[2020-12-15 16:39] mjstapp commented on #7727
closed via #7728

[2020-12-15 16:39] #7727 closed

[2020-12-15 16:43] qlyoung commented on #7729
We do not distribute this package so we don't know what code `7.0-5` has vs `7.0-10`, and therefore can't diagnose your issue. You would have to ask the CentOS package maintainer about that.

Our canonical RPM packages are available at https://rpm.frrouting.org. My recommendation would be to install those and see if your issue resolves as 7.0 is a rather old release at this point (we are on 7.5).

[2020-12-15 16:43] mwinter-osr commented on #7729
frr-7.0-10.el8.x86_64 is not built by us. Is this from the CentOS/RedHat Repository?

We would suggest to use latest FRR 7.5 from our Repo (see https://rpm.frrouting.org/) instead.

[2020-12-15 17:01] pguibert6WIND commented on #7702
Hi @xorira , the shortcut route should be forged with the nexthop of the remote spoke.
here, it looks like the nexthop  10.10.10.11 is the local endpoint. no ?

whatever, the ip route table is incomplete.
do you mind if you can send me hte full routing table, please?

[2020-12-15 18:38] kruisdraad opened #7743 "FRR 7.5 incomplete configuration @ startup"
Our build config does not survive reboots. The frr.conf is correct, but everything related to route-maps and/or communities are not loaded into the running config and no errors are given. There are no indication that there is a problem except that the configuration is incomplete.

running vtysh -f /etc/frr/frr.conf loads up the full configuration complaining some route-maps are missing, but contin

[2020-12-15 19:12] xorira commented on #7702
Hi @pguibert6WIND, screenshot from spoke2-2, local gre ip interface on spoke2-2 10.10.10.21.
NHRP after find neighbor inject nbma ip of peer in lladdr  address, "creating" connected route to next spoke

I will send a full table maybe tomorrow, what data is still needed?

[2020-12-16 03:04] hknet commented on #6086
at last I can confirm 7.5 seems fine/fixed for whatever was introduced in between 7.2 and now 7.5

[2020-12-16 05:01] mipxman commented on #7725
[code]

[2020-12-16 05:14] taspelund commented on #7725
Sorry, I mis-typed.  Can you get `show ip route` and `show ip bgp` from Rtr-3?

[2020-12-16 05:17] mipxman commented on #7725
according this [topology](https://github.com/FRRouting/frr/issues/7725#issuecomment-743958345) R2 is Rtr-3 .

[2020-12-16 05:53] taspelund commented on #7725
Ok. It wasn't clear to me that R2/Rtr-3 were the same device.  Well the output we have from Sonic1.1-1 states that we've leaked 185.170.30.12/30 from Vrf_A into Vrf_B:
[code]

And the output also shows that we believe we've advertised 185.170.30.12/30 to R2:
[code]

What I'd want to do next is either get a packet capture of the BGP exchange (to prove definitively whether an Update is sent that car

[2020-12-16 10:28] batot1 commented on #7729
Thanks, I was send report email to bugs@centos.org.

[2020-12-16 10:28] polychaeta commented on #7729
This issue will no longer be automatically closed.

[2020-12-16 13:39] mipxman commented on #7725
in SONiC1.1-1
[code]

my tcpdump result is :

[code]
@taspelund thanks your help and time.  I try to do this scenario with new algorithm.

[2020-12-16 14:41] taspelund commented on #7725
There are only BGP keepalive messages in the caoture.  That tcpdump looks like it was cut short or wasn't already running while the "clear" command was run on R2.

Could you start the tcpdump first, then while the tcpdump is going run the clear command on R2?

[2020-12-16 16:01] qlyoung commented on #7490
@DivineHell did the above patch work for you? Please advise.

@polychaeta autoclose in 1 month

[2020-12-16 16:04] qlyoung commented on #7662
Depends on if we make a 7.5.1 point release. There are no immediate plans for a release before our upcoming February release AFAIK. In the meantime you can build your own RPMs using [these instructions](http://docs.frrouting.org/projects/dev-guide/en/latest/packaging-redhat.html#packaging-redhat).

[2020-12-16 16:06] qlyoung commented on #7743
Can you just redact the config and post it here?

[2020-12-16 16:08] qlyoung commented on #6992
Likely has nothing to do with systemd. Please post the config that causes this issue.

[2020-12-16 16:11] #7409 closed

[2020-12-16 16:51] ne-vlezay80 commented on #6992
Config is not avaible. Commands, after with frr crashes with assersion failed.
`
conf t
router ospf

interface lo
ip ospf area 10

show ip ospf interface lo <-- after this command frrouting crashes.
`
Also crashis after configuring l3vpn from bgp.

Frrouting is normal from void linux.

[2020-12-16 17:07] kruisdraad commented on #7743
@qlyoung redachting it will change over 50% of the configuration, which will take hours to do and the point of reproduction might even be lost.

[2020-12-17 11:11] vijaykug opened #7750 "FRR accept IGMP leave message with unicast ip address"
**Describe the bug**

This issue observed as part of IGMP conformance testing ,
sending IGMP leave with unicast ip instead of ALL router MULTICAST IP address, leave message getting processes
and DUT responding  with group specific query

[ x] Did you check if this is a duplicate issue?
[ x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Ixia----------FRR

Send IGMP l

[2020-12-17 11:15] mobash-rasool commented on #7750
Please assign it to me

[2020-12-17 11:52] mobash-rasool commented on #7750
I have fixed this issue and raised the PR https://github.com/FRRouting/frr/pull/7751.

[2020-12-17 12:45] vijaykug opened #7752 "when changing non-DR to DR S,G mroute entry not created"
**Describe the bug**

Setup

![image](https://user-images.githubusercontent.com/44605300/102485441-a18ef880-408d-11eb-89b8-adc4bed57ca0.png)

1) Initially R1 is the DR  (*,G) and (S,G) created on R1 and traffic is flowing fine
2) Have change priority made R1 lower and R2 higher priority
3) Observed that R2 (DR)created (*,G) with S flag and  (S,G) not created <<< ( S flag is not correct in LHR)
4)

[2020-12-17 13:08] mobash-rasool commented on #7752
I have fixed this issue, will raise the Pull request in sometime.

[2020-12-17 16:30] mjstapp commented on #7731
I think we've identified the issue here, and have a fix in #7755

[2020-12-17 17:34] xorira commented on #7702
Hi @pguibert6WIND
I am attaching configurations, route tables, and some diagnostic information in a txt file.
[spoke1-2 new.txt](https://github.com/FRRouting/frr/files/5710955/spoke1-2.new.txt)
[spoke2-2 new.txt](https://github.com/FRRouting/frr/files/5710957/spoke2-2.new.txt)
[hub2 new.txt](https://github.com/FRRouting/frr/files/5710959/hub2.new.txt)
I tried replacing the empty debian nodes with

[2020-12-17 19:07] #7731 closed

[2020-12-17 22:03] bisdhdh commented on #5282
https://github.com/bisdhdh/BGP-GR-Extension-RFC-8538-Design

[2020-12-18 09:13] pguibert6WIND commented on #7702
[code]
from my perspective, the shortcut route to be installed should be that one
N>* 192.168.40.0/24 [10/0] via 10.10.10.2, gre1, 00:02:52
[code]

[2020-12-18 09:58] yasliang commented on #6090
Could you share the details how to reproduce？Thank you.

yasliang@tencent.com

[2020-12-18 10:03] yasliang commented on #6090
Could you share the details how to reproduce？Thank you.

yasliang@tencent.com

[2020-12-18 10:30] Str1ker17 commented on #2869
@azi1233 you may be interested in SONiC implementation of FPM processing: https://github.com/Azure/sonic-swss/blob/e1dd32788fc9f7985761135dbc8bb6c985b3cff9/fpmsyncd/fpmlink.cpp#L183
SONiC uses different approach of Netlink messages instead of Protobuf messages as in @bestgen's code

[2020-12-18 10:40] zendulkaj commented on #7696
Do you know reason why some configuration items are missing in FRR/NHRP implementation (in comparison with opennrhp)?
The "cisco-authentication" is used in many Cisco configuration of DMVPN.

I am newbie in DMVPN and I have another question regarding NHRP flags (U, T, A) and DMVPN flags meaning in NHPR/DMVPN status (see bellow). So far I do not find any explanation what these flags exactly mean.

[2020-12-18 15:15] pguibert6WIND commented on #7696
=> https://tools.ietf.org/html/rfc2332
described U,T,A flags

=> with opennhrp, you can use ospf, but not with frr.

=> I recomend you to look at current issues and pull requests using keyword nhrp, as there is some activity. for isntance, I think someone is looking at how to implement multicast traffic with frr over dmvpn.

[2020-12-19 02:21] ne-vlezay80 opened #7769 "MSDP: Please add filter prefix support."
The realization is not support filters from msdp sa peers. The requires from multicast peering to IX or Interconnect between providers.

[Example comfig from peering to multicast IX](https://www.sibir-ix.ru/documentation/primer-konfiguratsii-marshrutizatora-dlya-multikast-ix-s-kommentariyami/)
[Config PIM from Cisco](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/ipmulti_pim/configuration/xe-16

[2020-12-19 07:11] mipxman commented on #7725
[code]

[2020-12-19 07:21] mipxman commented on #7725
the result for another Rtr SONiC1.2-1  and clear ip bgp 10.10.10.2 all in R1 :
[code]

[2020-12-19 07:41] mipxman commented on #7725
also you can see the json file. you can see this specific network `185.170.30.12/30` was advertise in `Vrf_B` : but R2 can't get any data include this network.
[code]

[2020-12-19 15:56] chris-tof commented on #6276
Hello all.
So Amollad, do you succeed to begin to implement this functionality ?

Hope all of you and family are all right.
Chris

[2020-12-19 18:43] Jafaral commented on #7702
@xorira , please test the PR #7764 pointed by @pguibert6WIND , once we hear positive feedback I will merge the PR.

Thank you in advance.

[2020-12-19 18:51] taspelund commented on #7725
I feel like we're overlooking something...

Can we get some additional output?
  +  I'd like the full `show run` output from Sonic1.1-1, and `show run | section route` from R2

I'd also like to see R2's perspective of the update processing, i.e. does R2 believe it's received that route, and is there any policy dropping it.  For that, let's get some debugs from the Cisco side:
[code]

[2020-12-19 18:56] Jafaral commented on #7696
@pguibert6WIND , Does opennhrp support mullticast ? how did they get ospf to work ?

[2020-12-20 00:04] guesstenye opened #7774 "kernel route entry ipv6 issue"
Hi!

FRR VERSION: 7.5-0~ubuntu20.04
OS KERNEL: 5.4.0-58-generic #64-Ubuntu SMP Wed Dec 9 08:16:25 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

I'm using FRR 7.5.0 bgpd/vrrp/ospf/ospf6 on two router server where I'm peering with my internet provider.
I've set up the basic interface addresses on both router server with netplan.
Now I've upgradeded from 7.2.1 to 7.5.0 I've issues with ipv6 - kernel route

[2020-12-20 05:25] amollad commented on #6276
Yes, I'll submit PR when ready

On Sat, 19 Dec 2020 at 21:27, chris-tof <notifications@github.com> wrote:

[2020-12-20 05:48] mipxman commented on #7725
[code]

[code]

[code]

[2020-12-20 07:26] chris-tof commented on #6276
Great thank you !

Le dim. 20 déc. 2020 à 06:25, amollad <notifications@github.com> a écrit :

[2020-12-21 08:19] zendulkaj commented on #7696
I looked into RFC for flags and I found

     A :     authoritative bit
     U:       This is the Uniqueness bit.

But flags T is not mentioned there.

Yes, I noticed that FRR/NHRP does not support multicast so OSPF does not work.

[2020-12-21 08:47] pguibert6WIND commented on #7696
Opennhrp uses a userplan patch, that is to say that they interrupt all multicast packets and do a processing per multicast packet for each nhrp peer. I think this is not very perf, and I would prefer a kernel support for that.

[2020-12-21 08:48] pguibert6WIND commented on #7696
T stands for timeout.
that means a timer is attached to the session.

[2020-12-21 11:03] GalaxyGorilla commented on #7740
Since I would really like to get the test in before #7127 I will try to find some time for debugging with @gpnaveen tests. Thanks for doing this, OSPFd is really not tested enough yet.

[2020-12-21 13:43] gpnaveen commented on #7740
@GalaxyGorilla This PR is about ospf neighborship, We can have work around for this issue to get #7687 working  and continue to verify basic ospf p2mp test. I would like to know community opinion if work around can be implemented and do basic ospf p2mp testing using #7687. Once the PR is fixed, scripts can be updated.

[2020-12-21 14:48] GalaxyGorilla commented on #7740
I would be absolutely fine with getting all already working tests in first and then adding bugfixes with further tests over time.

[2020-12-21 16:48] taspelund commented on #7725
This is really strange.  The config seems okay to me, so overall I'm not sure why the route isn't seen by R2 at all...
Could you get the output of `show ip bgp vrf Vrf_B update-groups` and `show ip bgp vrf Vrf_B update-groups advertised-routes`?

Can we maybe also get some extra debugs on the Sonic1.1-1 side?

From vtysh:
[code]

One other thing I think might be worth trying...  Could we try origi

[2020-12-21 16:49] taspelund commented on #7725
FYI on the logging, I believe SONiC dumps FRR logs into /var/log/quagga/

[2020-12-22 00:35] GregATL opened #7780 "Regression / behaviour change in manual BFD peers between 7.4 and 7.5"
When creating a manual BFD peer in 7.4 and changing configuration values on it (transmission interval, reception interval etc), the peer would remain up and operating after each change.

In 7.5, manually created peers are supposed to be shutdown by default, however the behaviour is inconsistent.

Reproduction:
1. Begin with a remote neighbor that has a BFD peer configured to speak to the local dev

[2020-12-22 04:23] #7280 closed

[2020-12-22 04:26] #7623 closed

[2020-12-22 05:54] mipxman commented on #7725
@taspelund thank you . the network `185.170.30.12/30` is connected to `Ethernet4` on `SONiC1.1-1` and `R4` [here ](https://user-images.githubusercontent.com/66869651/102004425-bc780a80-3d25-11eb-9a1c-fcf7a0854286.png), when in the `router bgp 500 vrf Vrf_A` and `router bgp 500 vrf Vrf_B` I `redistributed connected` separately I can access to this network.
[code]
but I  think when I use `import vrf

[2020-12-22 08:00] AmoySaical opened #7783 "graceful-restart not work"
frr version 7.5 in ubuntu18.04

device-1 configuration:
[code]

device-2 configuration:
[code]

device-1 will have route when bgp established:
`2.2.2.2 via 172.31.41.2 dev ens4 proto bgp metric 20`

after I restart device-2's frr:
`service frr restart`

device-1 will lose the 2.2.2.2 route, and relearn the route in seconds

what I want is device-1 hold the 2.2.2.2 route in a few seconds when peer

[2020-12-22 10:52] yannbreizh opened #7784 "BGP received routes not in routing table"
Hello.

I'm comming here after having spent hours and hours trying to fix my issue.
I'm sorry to bother you but I'm really stuck :-(

**Describe the bug**
My FRR router has 2 eBGP sessions, both are in "Established" state.
I receive advertised routes from session #1 (with all routes marked as '*>') that I'd want to be advertised to session #2.
I see nothing beeing advertised in session #2.
Actuall

[2020-12-22 10:58] ak503 commented on #7784
Hello! may be need set `no bgp ebgp-requires-policy`?

[2020-12-22 11:07] yannbreizh commented on #7784
Hello ak503.
Thank you for the idea, it's not better unfortunately.

All:
Below log lines resulting from a 'bgp clear *' command, if this can help...

'''
2020/12/22 10:32:47 BGP: %NOTIFICATION: sent to neighbor 90.84.143.92 6/4 (Cease/Administratively Reset) 0 bytes
2020/12/22 10:32:47 BGP: %NOTIFICATION: sent to neighbor 193.251.245.131 6/4 (Cease/Administratively Reset) 0 bytes
2020/12/22 10:32

[2020-12-22 11:11] ton31337 commented on #7784
According to `193.251.245.131 4 328126 1336 73 0 0 0 00:00:53 (Policy) (Policy)` is quite clear that in/out filter is missing for that peer. What happens when you enter `no bgp ebgp-requires-policy` and clear the session?

[2020-12-22 16:24] yannbreizh commented on #7784
Hello.
I've updated the config with policies:

<code>
jnb01vrf1# sh run
Building configuration...

Current configuration:
!
frr version 7.5
frr defaults traditional
hostname jnb01vrf1
log file /var/log/frr/frr.log
no ipv6 forwarding
service integrated-vtysh-config
!
debug zebra events
debug zebra packet
debug zebra kernel
debug zebra rib detailed
debug zebra nht
debug zebra dplane detailed
debug z

[2020-12-22 17:09] taspelund commented on #7725
Can you rephrase this a little bit?
 - What do you mean by separately? (config examples would probably help)
 - What do you mean when you say you can access the network?  Does this mean the route is received by R2 and installed via 10.10.10.9 when using `redistribute` instead of `network`?

And just to clarify: Were these debugs triggered with `redistribute` or `network` config?

[2020-12-22 17:42] mipxman commented on #7725
[code]

when I config like as above in the `SONiC1.1-1` the backbone switches `SONiC1.2-1` and `R2` can see this network .

[2020-12-22 17:57] taspelund commented on #7725
Ok, thanks for the clarification.  Sonic1.2-1 has always been able to see 185.170.30.12/30, correct?  So there's no real difference in behavior from the perspective of this peer?

Probably unrelated, but I don't think `redistribute connected` is necessary in Vrf_B.

It sounds to me like this is specific to leaking routes that were originated by a `network` statement.

@mipxman can you get the outp

[2020-12-22 17:59] mipxman commented on #7725
Yes.

next day I send you and Edit this post. :)

[2020-12-23 18:24] guesstenye commented on #7774
issue was with netplan and RA, had to include  accept-ra: no on each interface.

    eth1:
     match:
      macaddress: 52:54:00:92:20:21
      **accept-ra: no**
      addresses:
- "65.138.8.252/24"
- "2323:aa40::252/48"
- "192.168.100.200/24"

[2020-12-23 18:28] #7774 closed

[2020-12-24 03:01] kevinchiang1122 opened #7792 "About OSPF VRF environment related question"
Hi,

I want to setup OSPF VRF related application.
But it seems the ospfd can not receive hello packet from Kernel??
After I revise ospf_if_add_allspfrouters function to listen OSPF_ALLSPFROUTERS multicast group packet through VRF interface's index(not physical interface index), then Kernel start to send hello packet to ospfd.
I think this is very basic function, maybe I miss some part.
Could you

[2020-12-24 09:44] duziheng opened #7793 "Warning: closing connection to watchfrr because of an I/O error!"
when i use frr ospf6 ,the process /usr/lib/frr/ospf6d may crash
error message:
ostype =ubuntu16.04lts
root@zihengdu-nb:/home/dzh# vtysh

Hello, this is FRRouting (version 7.6-dev-g7c08b70).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

This is a git build of frr-7.4-dev-1306-g7c08b70
Associated branch(es):
	local:master
	github/frrouting/frr.git/master

123# show running-config
Building configura

[2020-12-24 10:33] hothotstreet opened #7794 "does frr support route track?"
![image](https://user-images.githubusercontent.com/42403291/103078710-6b152880-460d-11eb-8aa5-418646d58c8d.png)

the static route can not support track

[2020-12-24 15:15] santiagovaughn commented on #7784
Create and add an empty route-map with a permit statement to the neighbor for inbound  routes.  For example : -

route-map peer-routes permit 1
router bgp 65001
  address-family ipv4 unicast
      neighbor 90.84.143.92 route-map peer-routes in

[2020-12-24 19:09] taspelund commented on #7784
Are you running the daemons with any non-default options?  Might also help to see `ps aux | egrep 'bgp|zebra'`

[2020-12-24 21:29] ne-vlezay80 commented on #7793
Please show gcc version

[2020-12-25 01:19] duziheng commented on #7793
gcc ver info:
root@zihengdu-nb:/home/dzh# gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/5/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 5.4.0-6ubuntu1~16.04.12' --with-bugurl=file:///usr/share/doc/gcc-5/README.Bugs --enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --progra

[2020-12-25 02:38] duziheng commented on #7793
add error message ：
root@zihengdu-nb:/home/dzh/code# ps -ef | grep frr
root     26553     1  0 10:35 ?        00:00:00 /bin/bash /usr/lib/frr/frrinit.sh start
root     26563 26553  0 10:35 ?        00:00:00 /usr/lib/frr/watchfrr -d -F traditional zebra ospfd ospf6d staticd
root     26564 26563  0 10:35 ?        00:00:00 /usr/lib/frr/watchfrr -d -F traditional zebra ospfd ospf6d staticd
frr      26

[2020-12-25 14:11] napaster commented on #6412
Hey. on 5.19 the same bug.

Kernel version
[code]
Systemd version
[code]

Error
[code]

[2020-12-25 22:22] maznu commented on #6086
Looks like I'll need to see whether 7.5 is going to fix the issue I'm seeing in #6735 (happened again just a couple of hours ago, and still can't establish an adjacency on one particular VLAN because otherwise FRR across the network comes crashing down).

[2020-12-26 19:32] ne-vlezay80 opened #7796 "MSDP Please add support SA send request support"
The is required from multicast peering of IX.

[2020-12-27 19:42] mx648 opened #7799 "vtysh is significantly slower in FRR than Quagga"
**Describe the bug**

We're trying to transition from Quagga 1.2.4 to FRR 7.5 and have found that running vtysh takes significantly longer with FRR. We frequently call vtysh from scripts and this additional run time makes FRR unusable.

FRR's vtysh takes over 10 times longer to finish than with Quagga. With the latest FRR commit (7c08b70) it's even worse at nearly 15 times slower.

I narrowed down

[2020-12-27 21:40] maznu commented on #6086
7.5 hasn't exploded yet, while 7.3 continues to be a crashy nightmare.

[2020-12-28 08:39] qlyoung commented on #7799
Yeah, this is a fixed initialization overhead, we have to load in all the commands. FRR has a lot more features than Quagga and therefore a lot more commands.

I wrote most of this code, I'll see if I can take a pass at optimizing it. On my relatively low powered laptop CPU your example runs in 171ms :sweat_smile:

Btw what were your compilation options? And what particular ppc chip is this?

[2020-12-28 08:41] qlyoung commented on #7794
@polychaeta bad-issue

[2020-12-28 08:42] qlyoung commented on #7794
No idea what is being asked for here, please open a new issue and use the template.

[2020-12-28 08:42] #7794 closed

[2020-12-28 08:44] qlyoung commented on #7783
@polychaeta bad-report

[2020-12-28 08:44] polychaeta commented on #7783
When filing a bug report, please:

- Describe the expected behavior
- Describe the observed behavior

Please be sure provide:

- FRR version
- OS distribution (e.g. Fedora, OpenBSD)
- Kernel version (e.g. Linux 5.4)

Neglecting to provide this information makes your issue difficult to address.

[2020-12-28 08:45] qlyoung commented on #7783
Please provide all information requested in the bug report template.

@polychaeta autoclose in 1 week

[2020-12-28 12:55] goodian opened #7800 "frr 7.2.1 ospf advertise different subnets from different interfaces not work"
hi,  I am fairly new to FRR and I have a problem using ospf on frr 7.2.1.
i have two different subnets, 178.99.4.0/24 and 178.99.11.0/25. and i want to advertise 178.99.4.0/24 from local interface vt0 and advertise 178.99.11.0/25 from local interface vt1. i have tried lots of configurations but all did't work, can anyone help me? thanks.
here is my config:
`
#bgpd=yes

ospfd=yes
#ospfd=no
ospfd_in

[2020-12-28 22:07] yannbreizh commented on #7784
Hello all.

I eventually found the issue in my config.
All routes learned from my session #1 have 193.251.245.131 as next-hop.
From my linux system this IP is reachable, but it was not from the FRR itself.
As the next-hop is unreachable, all corresponding routes were not installed in the RIB.

I added a static route to reach the next-hop <code> ip route 193.251.245.131/32 197.29.126.17 </code>.
Th

[2020-12-28 22:07] #7784 closed

[2020-12-29 04:22] mx648 commented on #7799
I looked at the generated vtysh_cmd.c file and in our Quagga build it calls install_element 3709 times while in FRR it only gets called 2495 times, so I guess it's a matter of each call taking longer rather than it being called more.

FRR was configured with:
[code]

No extra options were passed to make.

The gcc toolchain was generated by crosstool-NG.

The target system has an NXP MPC8280 runnin

[2020-12-29 05:39] taspelund commented on #7725
@mipxman can you get the output of `show ip route vrf Vrf_B` with the `network` config in place?

[2020-12-29 05:50] mipxman commented on #7725
[code]

my config is :
[code]

[2020-12-29 06:01] taspelund commented on #7725
Where is 185.170.30.12/30 in the routing table (for either vrf)?  Shouldn't this be a Connected route via Ethernet4 in Vrf_A?

[2020-12-29 06:10] mipxman commented on #7725
[code]

[2020-12-29 06:21] taspelund commented on #7725
I think I'm confusing myself here...  Is this output all coming from Sonic1-1.1?

It would be helpful to have a label stating which device the output is from, since the vtysh prompt displays "sonic" for all of the devices running SONiC :)

[2020-12-29 07:24] mocallins commented on #2634
Anybody know which distro to follow to get all the required "libs" for tinycore ?
I was doing some homelab playing and on my tinycore32 its version 5.0.1 on tinycore64 its version 6.0.1
I just thought i would give it a shot to update to 7.5 but i can't seem to find all the "libs".
libyang compiled for based on the steps in one of the instructionsd.

Or did someone in the tincycore community compil

[2020-12-29 07:59] mipxman commented on #7725
yes its from SONiC1.1-1 :)

[2020-12-29 08:06] qlyoung commented on #7799
I have a patch that'll cut about 50% off, I'll post it in a bit. Will still be rather long on your chip though :(
Unfortunately the rest of the overhead doesn't seem very easy to cut down, as its a rather large directed graph traversal that we can't really skip.

That should work as the overhead is only incurred on startup and the daemons will still be around. Other than interactivity vtysh aggreg

[2020-12-29 11:53] #7800 closed

[2020-12-29 11:53] goodian commented on #7800
got the reason, it's my mistake, thks.

[2020-12-29 16:11] qlyoung commented on #7793
Please post the steps to reproduce this bug, and if you have a backtrace from the crash, that would be helpful as well.

[2020-12-29 16:15] qlyoung commented on #7796
Can you add some more detail about what exactly is desired? RFC reference or something? This is a bit sparse.

[2020-12-29 18:31] ne-vlezay80 commented on #7796
https://www.cisco.com/c/en/us/td/docs/switches/lan/catalyst3750x_3560x/software/release/12-2_55_se/configuration/guide/3750xscg/swmsdp.html

[2020-12-29 19:19] mocallins opened #7801 "Tinycore libs and etc."
Anybody know which distro to follow to get all the required "libs" for tinycore ?
I was doing some homelab playing and on my tinycore32 its version 5.0.1 on tinycore64 its version 6.0.1
I just thought i would give it a shot to update to 7.5 but i can't seem to find all the "libs".
libyang compiled for based on the steps in one of the instructionsd.

Or did someone in the tincycore community compil

[2020-12-29 20:04] taspelund commented on #7725
Ok, there's a chance I have my head on straight again :-)

Let me repeat back to make sure I have the topology correct:

Sonic1.2-1 has 185.170.30.12/30 installed in Vrf_A and is advertising it to Sonic1.1-1, who is receiving it in Vrf_A.
Sonic1.1-1 leaks 185.170.30.12/30 from Vrf_A -> Vrf_B, but isn't advertising it to R2 (10.10.10.10).

Assuming that's correct, can we get the following from Soni

[2020-12-30 02:58] mx648 commented on #7799
That definitely sounds like a decent improvement, thank you very much for taking a look at it. I think we should be alright for now with creating a small utility to handle commands, but the faster vtysh startup will definitely still help when someone needs to manually log in to nodes to take a look at things.

[2020-12-30 05:44] mipxman commented on #7725
@taspelund don't forgot my issue. if I separately advertise the network in two or more vrf,  the next-hop neighbours of each vrf can see this advertised routes. in this scenario I installed two vrf in one switch and advertise a network to one vrf and in the next vrf I said `import vrf Vrf_A`. when I do this, the networks of each vrf are advertised and communicate together, without the direct netwo

[2020-12-30 06:15] taspelund commented on #7725
I see from the above `show ip route vrf all` output that this is the connected route associated with Ethernet4 in the default VRF of Sonic1.1-1, but I don't see any configuration (across all 5 devices you've included config for) showing where 185.170.30.12/30 would be injected into BGP on any of the devices.

How/where is 185.170.30.12/30 getting introduced into the BGP environment?
Can you show t

[2020-12-30 06:35] mipxman commented on #7725
it is not important where is this network.  I can introduce any dummy networks,  like `55.0.0.0` in `R1` and `AS=100` and you can see this networks advertised in `R3` in `AS=1000` and vice versa. however, here in `SONiC1.1-1` in `AS=500 `
[code]
is defined. the connected networks of each vrf ` 10.10.10.4/30` from `Vrf_A` and `10.10.10.8/30` from `Vrf_B` was advertised. in this design. but `SONiC1.

[2020-12-30 07:04] taspelund commented on #7725
I understand that the point of origination for the BGP route shouldn't be coming into play for whether we re-advertise the route, given we're expecting the leaked route to be advertised to an iBGP route-reflector-client, but I can't help but wonder whether this issue we're chasing has any relation to the source of the route.

Like I mentioned before, I'd seen issues in the past with leaking locall

[2020-12-30 07:20] mipxman commented on #7725
here is my wrong. I add it by hand. the vrf default must be removed. (`Etherntet4` in `Vrf_A`)

[code]
thanks @taspelund . It's okay.

[2020-12-30 07:30] taspelund commented on #7725
`sudo ip addr add 100.64.0.1/32 dev Vrf_A` just added the address to the Vrf_A vrf-interface with a /32 mask.  If you want to try it with a different iface/subnet you can use the same `ip addr add` command with a different L3 interface or netmask.
e.g.
`sudo ip addr add 200.200.200.1/24 dev Ethernet0`

[2020-12-30 07:31] #7725 closed

[2020-12-31 17:12] anuragbhatia opened #7804 "snap install having permission issues for /var/tmp/frr"
- FRR VERSION - 7.5 (installed via snap)
- OPERATING SYSTEM VERSION - Ubuntu 20.04 LTS
- KERNEL VERSION - Linux version 5.4.0-58-generic (buildd@lcy01-amd64-004) (gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)) #64-Ubuntu

Installed frr via snap and bgpd works fine but unable to configure ospf. I get this when I try to configure:

[code]

The debug option shows me:

[code]

and at the same time

[2020-12-31 20:50] jwh opened #7805 "FRR memory usage"
Hi,

This is more a query than an issue (well it is an issue, but whether or not it's a bug is another matter) - zebra+bgpd with a single full table of ~800k prefixes will happily chew through 2G+ of ram, which is all fine except it's rather excessive, the same table with bird is a combined ~380M including the kernel fib.  According to ``show memory`` - zebra is using between 500 and 600M and bgpd

[2021-01-01 15:49] kruisdraad commented on #7743
It just happend again, just by adding a few ip filters!

Warning: connecting to zebra...failed!
Warning: connecting to ospfd...failed!
Warning: connecting to ospf6d...failed!
Warning: connecting to bgpd...failed!
Warning: connecting to vrrpd...failed!
Warning: connecting to zebra...failed!
Warning: connecting to ospfd...failed!
Warning: connecting to ospf6d...failed!
Warning: connecting to bgpd...

[2021-01-02 12:40] c-po opened #7806 "Can not install multiple default routes pointing to different routing tables"
**Describe the bug**
Initially reported from several VyOS users via https://phabricator.vyos.net/T3172.

When installing multiple default routes for individual routing tables this is no longer possible as the last installed route will overwrite previous table entries.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
[

[2021-01-03 08:13] maznu commented on #6086
7.5 is working fine for about a week now, where 7.3 was unstable. I believe this issue to have been fixed, likely thanks to [pull 6407](https://github.com/FRRouting/frr/pull/6407).

[2021-01-03 22:51] maznu commented on #6735
@pcdog: FRR 7.5 seems to fix this, which is in the latest builds of VyOS 1.3.

And c-po is going to try backporting https://github.com/FRRouting/frr/pull/6407 to earlier versions of VyOS' FRR. So fingers crossed for a maintenance 1.2.x release, maybe.

[2021-01-03 22:59] maznu commented on #6378
@mwinter-osr: we were able to get pretty reliable crashing to happen when establishing adjacencies to a non-FRR OSPFv3 implementation: MikroTik RouterOS (but only in certain configurations, not all!)

@kooky: I presume you weren't also trying to establish an adjacency between FRR and a 'Tik?

[2021-01-04 02:39] kooky commented on #6378
My other device was a HP Switch.

On 03/01/2021 22:59, Marek Isalski wrote:

--
Tim Bray
Huddersfield, GB
tim@kooky.org

[2021-01-04 08:45] #7783 closed

[2021-01-04 10:56] tiborschneider opened #7808 "iBGP Session re-establishes on reconfiguring neighbor to route-reflector-client"
**Describe the bug**

Upon reconfiguration of an already existing internal BGP session to become a route-reflector, the session is always re-established, and the routes are distributed again, which results in transient black holes. In my humble opinion, the [BGP spec](https://tools.ietf.org/html/rfc4271#section-9.1.3) does not require the session to be re-established in this scenario, by simply re

[2021-01-04 11:01] ton31337 commented on #7808
Could you show logs? Before that, please enable `debug bgp updates`, `debug bgp neighbor-updates`.

[2021-01-04 11:25] tiborschneider commented on #7808
Do you mean `debug bgp neighbor-events`? `neighbor-updates` is not known.

Log on `r2`:
[code]

Log on `r1`:
[code]

[2021-01-04 11:36] ton31337 commented on #7808
Yes, events, sorry :)

I've just noticed, that you reconfigure neighbor manually. That's normal behavior if entering `route-reflector-client` to restart a session.

[2021-01-04 11:39] tiborschneider commented on #7808
Ok, thanks!

So is this behavior required by the BGP spec, or an implementation detail of FRR? Is there a way to reconfigure this without restarting a session?

[2021-01-04 14:22] ton31337 commented on #7808
There is no way to avoid reseting the session. For instance Cluster-ID is negotiated during OPEN message, which is handled at the session start.

[2021-01-05 07:56] tiborschneider commented on #7808
Thanks for the clarification.

It makes sense that for some reconfigurations, the session needs to be re-established, like changing the Cluster-ID (which, as @ton31337 mentioned can only be communicated in the OPEN message). I presume that bgpd always resets a session upon reconfiguration for simplicity, and does not distinguish between different cases.

[2021-01-05 07:56] #7808 closed

[2021-01-05 14:34] cosmedd commented on #7805
You should take a look at this issue: https://github.com/FRRouting/frr/issues/5443#issuecomment-561176134

[2021-01-05 15:13] satti001 commented on #3709
Is this issue is resolved I have recently installed the EIGRP using snap and tested EIGRP with cisco routers. When the link gets down EIGRP on ubuntu doesn't advertise information on lan link that wan is down. Whenever the link gets back EIGRP than updates the table again.

[2021-01-05 16:06] qlyoung commented on #7801
What is tinycore?

[2021-01-05 16:30] vishaldhingra commented on #7806
Hi,

This behaviour is modified in the 7.5 version.
The tableId is aligned with zebra data structures. Previously tableId was not in sync with Zebra.

So it will consider the tableId 200 as the update and overwrite the existing tableId 146.
The hierarchy for the route is as below

<img width="698" alt="Screen Shot 2021-01-05 at 9 56 36 PM" src="https://user-images.githubusercontent.com/39765936/10

[2021-01-05 16:30] c-po commented on #6735
Backporting and VyOS package rebuilding done.

[2021-01-05 17:01] vishaldhingra commented on #7806
Yes, you can configure, but with different administrative-distance.

ubuntu(config)# ip route 8.8.8.8/32 ens38 table 200
ubuntu(config)# ip route 8.8.8.8/32 ens33 100 table 148

[2021-01-05 17:20] mjstapp commented on #7806
I do think this is wrong, @vishaldhingra : zebra ends up installing the first route in the correct table, then copies it to the second table and installs two routes there. it does look like something worth fixing - I'm looking at it now.

[2021-01-05 17:30] sever-sever commented on #7806
It definitely a bug/wrong way.
For example, if I have 300 static routes in one table and 200 routes in another table, and some routes in the main table.
So, Do I need to set a distance for each route to make this work? It doesn't make any sense.
Also, any update from 7.3 to any new version will break all routing.

[2021-01-05 17:40] vishaldhingra commented on #7806
No, I am talking for the same prefix, like in the given problem statement the prefix is same 0.0.0.0/0 but nexthop and distance are different.

So, you can configure 300 static routes in one table and 200 routes in another table without setting the distance.

[2021-01-05 17:52] sever-sever commented on #7806
The problem is that there is no control and it is not known in advance which of the prefixes may overlap.

[2021-01-05 18:32] vishaldhingra commented on #7806
I got the problem. I will raise the PR.
@mjstapp : Please assign this bug to my name.

[2021-01-05 19:21] mwinter-osr commented on #7804
Anurag,

Tried to reproduce this on a Ubuntu 20.04 (Kernel 5.6) and don't see the issue.

The one part I see as well is the  `OSPF: failed to mkdir "/var/tmp/frr/ospfd.81711": Permission denied` during the debug run and I'll investigate it. Looks like a path not being redirected to inside the snap container. But it does not seem to impact the correct operation.

Questions:
1) Did you follow frr.re

[2021-01-06 05:34] mocallins commented on #7801
Tiny Core Linux

[2021-01-06 08:20] jwh commented on #7805
I'd expect this sort of memory usage (ish) with soft reconfig on, but it's not, even without any filters the usage is 3-4x bird, the comments suggest that the memory usage is a trade off for speed, but it's slower to process updates and update the rib as well so does that really still hold true?

[2021-01-06 14:55] pguibert6WIND commented on #3557
same issue happens with frr 7.3
[code]

[2021-01-06 15:51] pguibert6WIND opened #7822 "L3VPN : issue when importing (and installing) multipath routes from 2 separate VRFs"
*overview*
version  :FRR 7.5
OS : ubuntu1804
kernel 5.4.0-47

The issue is related to configuration as depicted in issue https://github.com/FRRouting/frr/issues/3557.
Actually, this deals with BGP routes imported from two separate VRFs with same prefix.
As example, r1-cust1 imports 10.201.0.0/24 prefix from both r1-cust2 and r1-cust3.

What happens is that:
- BGP learns 2 Multipath routes : OK
- Z

[2021-01-06 15:55] pguibert6WIND commented on #7822
zebra traces with debug zebra rib/events/kernel/nht
the issue has been seen on 73/75/master.
[trace_frr_master_zebra.txt](https://github.com/FRRouting/frr/files/5776744/trace_frr_master_zebra.txt)

[2021-01-06 16:17] pguibert6WIND commented on #7822
expectation:
[code]

[2021-01-07 07:26] Sutharsan85 commented on #3812
This issue is still there. I am seeing if i can raise a new PR with the changes mentioned above

[2021-01-07 10:13] #6038 closed

[2021-01-07 10:14] GalaxyGorilla commented on #6380
This is implemented by now.

[2021-01-07 10:14] #6380 closed

[2021-01-07 10:24] GalaxyGorilla opened #7829 "Minor issues with OSPF SR config changes"
There have been some minor problems exposed by #7827 on OSPF SR, all related to config changes:

1. The SRGB has to be reconfigured when SR was taken off and up again.
2. Switching from 'explicit-null' back to 'implicit-null' doesn't work properly.
3. The SRGB is not checked properly for validity.

All points are marked with a FIXME in the python test code.

[2021-01-07 11:49] mg964 commented on #7718
@donaldsharp in your working example, what kernel/FRR versions were you using? I've run a quick test using a stock debian 10 image together with FRR7.5:
[code]
The RIB has tagged the paths as rejected and there is nothing in the kernel, i.e. everything has been left in a "sensible" state. This is the result of the kernel rejecting the attempt to use the multipath API. From the logs:
[code]
Wonderi

[2021-01-07 12:39] mg964 commented on #7718
Never mind, looks like we've found a possible solution in DANOS.

[2021-01-07 12:39] #7718 closed

[2021-01-09 07:21] ton31337 commented on #7662
@polychaeta autoclose in 1 week.

[2021-01-09 18:17] vishaldhingra commented on #7806
update : changes are done, testing is in progress. I will raise the PR by tomorrow.

[2021-01-11 07:03] mobash-rasool commented on #830
Was not able to take out time for this, was busy in some other higher priority tasks. Will try to take it up in jan/feb.

[2021-01-11 09:00] odd22 commented on #7829
@GalaxyGorilla Thanks to report these problems. I'll look to them and propose a PR soon to correct these various issues. I'll use your new topotest to assess the fixes.

[2021-01-11 11:30] cloppy13 opened #7846 "Problem with BGP announce in Frrrouting."
Hi

- buildroot
- Linux vpnfw 4.19.77
- frr version 7.5

I have such problem with BGP protocol. My circuit is very simple - two devices:

1. first one - 172.20.8.57, AS number 65001.
2. second one - 172.20.8.58, AS number 65002.

**Configuration for the first dev:**
_file daemons_

**file frr.conf**

**Configuration for the second dev:**
_file daemons_

**file frr.conf**

After saving the configur

[2021-01-11 12:06] donaldsharp commented on #7846
This is working as intended.  We have implemented https://tools.ietf.org/html/rfc8212 and incoming and outgoing routes are rejected due to route-map policy not being used.  Either add incoming and outgoing route-maps or turn on this command http://docs.frrouting.org/en/latest/bgp.html#clicmd-[no]bgpebgp-requires-policy

[2021-01-11 12:06] #7846 closed

[2021-01-11 15:15] cgoncalves opened #7848 "vtysh running-config output not showing bgp ttl-security hops option"
**Describe the bug**

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

BGP configuration option `neighbor PEER ttl-security hops NUMBER` not displayed in vtysh `show running-config` output.

Although the configuration is not displayed, it is being set per the BGP daemon log:
`2021/01/11 14:56:26 BGP: peer_ttl_security_hops_set: set gts

[2021-01-11 19:46] qlyoung commented on #7743
@kruisdraad please email me the config, qlyoung <- -> qlyoung.net. Alternatively you can join slack and DM me.

[2021-01-12 01:46] EthanYue opened #7851 "loading module bmp failed"
I try to add option "-M bmp" with bgpd, then I started frr failed and failed to start bgpd

\# /usr/local/frr/etc/daemons
bgpd=yes
ospfd=no
ospf6d=no
ripd=no
ripngd=no
isisd=no
pimd=no
ldpd=no
nhrpd=no
eigrpd=no
babeld=no
sharpd=no
pbrd=no
bfdd=no
fabricd=no
vrrpd=no

vtysh_enable=yes
zebra_options="  -A 127.0.0.1 -s 90000000 -n"
bgpd_options="   -A 127.0.0.1 -M bmp"
ospfd_options="  -A 127.0.0.1"

[2021-01-12 08:01] EthanYue opened #7853 "./configure failed"
These are outputs when I execute "./configure --prefix=/usr/local/frr -exec-prefix=/usr/local/frr --enable-watchfrr --enable-user=root --enable-group=root --enable-static --enable-static-bin --enable-systemd", I want to know thi reason of this WARNING

config.status: config.h is unchanged
config.status: executing depfiles commands
config.status: executing libtool commands
config.status: WARNING: C

[2021-01-12 12:06] cloppy13 opened #7857 "Binding VRF to a network interface"
Hi

buildroot
Linux vpnfw 4.19.77
frr version 7.5

Please, tell me how I can set up the following configuration:

I have one device and I want to creat isolated table with routes using VRF. To do this I enter the following commands:

After that I try to connect this VRF to network interface:

The system issues a message:"**_VRF <vrf name> not active_**". Could you tell me why it is not possible to

[2021-01-12 15:54] kruisdraad commented on #7743
@qlyoung check you PM, data provided

[2021-01-12 16:31] sworleys commented on #4630
@donaldsharp can we close this one? are you still seeing it

[2021-01-12 16:48] sworleys commented on #7857
you have to first create a vrf externally from FRR using another linux tool such as iproute2 or ifupdown2 or networkmanager.

https://www.kernel.org/doc/html/latest/networking/vrf.html#using-iproute2-for-vrfs

[2021-01-12 17:49] qlyoung commented on #7853
What you have described is not a failure, merely informational and warning messages.

[2021-01-12 17:49] #7853 closed

[2021-01-12 17:53] qlyoung commented on #7851
Please update your issue to match the report template. You have left out the relevant information, specifically what you built FRR with.

We cannot help you without knowing the information asked for in the bug report template. That is why the template is there.

@polychaeta autoclose in 1 week

[2021-01-12 21:04] qlyoung commented on #4659
This feature is now available provided you are using a compatible kernel version.

[2021-01-12 21:04] #4659 closed

[2021-01-12 23:33] robmbrooks opened #7862 "frr since 7.5.1 failing to import vxlan default route"
frr since 7.5.1 failing to import vxlan default route

frr running on Centos 7, via rpms from rpm.frrouting.org. On frr-7.4.1 the route is valid and added to fdb. Once upgraded to frr-7.5.1 the route is not added, it can be seen, but is not marked valid.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Upgrade frr fr

[2021-01-13 00:15] taspelund commented on #7862
Can you grab some extra output?
`show evpn`
`show evpn vni`
`show bgp l2vpn evpn import-rt`

I'm assuming 10022 is the L2VNI here?  If so, then the syntax below should be good.  If not, could you replace "10022" with the proper VNID?
`show bgp l2vpn evpn route vni 10022 mac 00:00:5e:00:01:22 ip 10.195.17.1`
`show bgp l2vpn evpn route vni 10022 mac 00:00:5e:00:01:22`
`show evpn mac vni 10022 mac 00

[2021-01-13 00:34] robmbrooks commented on #7862
[code]

[2021-01-13 00:50] taspelund commented on #7862
None of the update debugs seem to mention the NLRI pointed out initially.  Given the NLRI is in the BGP table already, I think we've made it past loop prevention.

From lab02:
Can you grab all the details for the routes in question from `show bgp l2vpn evpn route type macip`?
Can you also get `show evpn mac vni 10022` and `show evpn arp-cache vni 10022`? (no specific mac/ip for either command)

[2021-01-13 01:59] robmbrooks commented on #7862
[code]

[code]

[2021-01-13 03:53] robmbrooks commented on #7862
sorry, missed the first command...

[code]

from 7.4.1:

[code]

[2021-01-13 05:14] ashishsaxenahsc commented on #3520
@odd22 Hi Olivier,
Can you please share the current status of the bgp ls support . I tried to compile the code as provided in the link shared by you , but it is not compiling and it looks like some file are missing from the repo.
Can you please help me out in compiling the code ?
Thanks and Regards,
Ashish

[2021-01-13 08:00] devious3 opened #7864 "bgpd: peer-group can not be applied"
In the current master branch, it is no longer possible to apply a peer-group to a neighbor.

Example configuration of `peer-group`:

[code]

Attempt to apply a `neighbor` to `peer-group`:

[code]

which yields the following error:

[code]

After having a look at the diffs between 7.5 and latest stable, there appears to have been done major rework within the bgpd area, for example the `bgpd_nb_conf

[2021-01-13 13:46] oakford-IS opened #7865 "BGP routes rejected - netlink-dp Invalid argument"
**Describe the bug**
HI, After FRR has been running for a while (observed 4 hours to 48 hours) some BGP routes are rejected

[code]

If we bounce FRR daemons all routes are rejected from BGP, the only way to fix this is reboot the server, where all the routes are learned and added correctly to the kernel route tables

[x] Did you check if this is a duplicate issue?
related to #5215
[x] Did you tes

[2021-01-13 15:58] oakford-IS commented on #7865
Routes are only accepted on boot, attempting to bounce or start FRR later after boot causes routes to be rejected

[2021-01-13 19:23] #4630 closed

[2021-01-14 02:26] taspelund commented on #7862
Can you grab `show bgp l2vpn evpn route rd 10.253.0.1:2 mac 00:00:5e:00:01:22 ip 10.195.17.1` + `show bgp l2vpn evpn route rd 10.253.0.1:2 mac 00:00:5e:00:01:22 ip fe80::200:5eff:fe00:122` from these two devices?

[2021-01-14 02:35] robmbrooks commented on #7862
on 7.5.1:

[code]

On 7.4.1:

[code]

[2021-01-14 03:53] taspelund commented on #7862
Here's our issue:
[code]

`show ip route 10.253.0.1` please :-)

[2021-01-14 04:49] robmbrooks commented on #7862
[code]

[code]

[2021-01-14 04:53] taspelund commented on #7862
On the 7.5.1 box, does `ip nht resolve-via-default` fix the issue?

[2021-01-14 05:12] robmbrooks commented on #7862
Yes it does!

[2021-01-14 05:22] taspelund commented on #7862
Excellent!  That's good to hear.

I don't recall offhand whether the difference in behavior (needed in 7.5.1, not needed in 7.4.1) was due to any bug fixes or explicit changes to default behavior.

@donaldsharp do you know what changes there might have been around `ip nht resolve-via-default` (or nht resolution of BGP/EVPN next-hops) between 7.4.1 and 7.5.1?

[2021-01-14 14:46] cihankom commented on #7864
I have faced same issue . It doesn't allow me to set neighbor into peer-group
`vtysh -c "configure term" -c "router bgp 65525" -c "neighbor spokes-ibgp peer-group" -c "neighbor 172.16.0.1 peer-group spokes-ibgp"`

Error:
`% Specify remote-as or peer-group commands first`

[2021-01-14 14:49] devious3 commented on #7864
I would argue this is quite a major flaw that should be fixed with priority. Configuration of slightest complexity is usually coupled with the usage of `peer-group`.

[2021-01-15 04:11] #7570 closed

[2021-01-15 09:38] kssoman opened #7871 "BGP blackhole community"
---------------

**Describe the bug**

Issue with the blackhole community (RFC 7999)

linux# show version
FRRouting 7.6-dev-MyOwnFRRVersion-gf32fc9907 (linux).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-7.4-dev-1320-gf32fc9907

1)  CLI command "set community does not display "blackhole" option but configuration is accepted

linux(config)# route-map map1 permit 1
linux

[2021-01-15 11:36] xorira commented on #7702
@pguibert6WIND @Jafaral  Sorry for the late reply, winter holidays.
I tested on debian 9 works well. Below is a screenshot of the routing table after setting the shortcut.
I could not install on s-terra, the new package has too many dependencies. I contacted the s-terra team, they will test the package a little later too.
![frr shortcut](https://user-images.githubusercontent.com/57842440/104722521

[2021-01-15 13:22] donaldsharp commented on #7864
I believe this was fixed in #7869 please test latest master and if it is not fixed I'll get this one fixed too.

[2021-01-15 13:49] oakford-IS commented on #7865
169.254.0.1 was already bound to an interface

[2021-01-15 13:49] #7865 closed

[2021-01-15 14:11] cihankom commented on #7864
Thanks for your commit. It fixed my issue. Its working well now.

[2021-01-15 14:12] donaldsharp commented on #7864
closing the issue then

[2021-01-15 14:12] #7864 closed

[2021-01-16 03:13] ne-vlezay80 opened #7880 "Send community is not working"
**Describe the bug**

[*] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

**Versions**
 - OS Version: Debian 9.13
 - Kernel: 4.9.0-14-amd64
 - FRR Version: 6.0

**Additional context**
[code]

[2021-01-16 04:04] #7880 closed

[2021-01-16 07:21] #7662 closed

[2021-01-16 09:53] craterman commented on #739
Is it fixed in FRR 7.4 or 7.5? This is still present in 7.3.1

[2021-01-16 16:01] #7490 closed

[2021-01-17 12:14] rivuletstone commented on #7517
Have you solve the problem?  I have the same question.

[2021-01-18 05:38] andylemin commented on #6568
Hi @kruisdraad Have you been able to test using the latest master? (my PR with the TCP session fix is not in a release version yet I think). I have confirmed that whenever the kernel thinks the TCP session is wonky, that it is now reset correctly.

However, we have spotted another issue where the transmission of BMP messages still stalls randomly, this seems to be at the BMP session layer? I cant

[2021-01-18 08:10] #7848 closed

[2021-01-18 08:12] cihankom opened #7883 "Zebra exit on Error ver 7.6 master branch"
Hi,
I compiled Zebra by cloning from Master branch with f7f52f0d2b2c7f3e8187fb9d02a077660f1f60e2 commit. After running a few of seconds , it exiting an error with "zebra[20707]: [EC 4043309091] netlink-listen (NS 0) recvmsg overrun: No buffer space available" .
I tried to start zebra with "--nl-bufsize 1000000" option  and it helps to live longer sometimes 1 day sometimes 15 min. But In the end, i

[2021-01-18 14:55] mchiappini commented on #7517
@rivuletstone We are still having the same issues

[2021-01-19 12:43] ton31337 commented on #2864
Will be shipped in 7.6.

[2021-01-19 12:43] #2864 closed

[2021-01-19 12:46] sever-sever opened #7887 "frr-reload works incorrect with rpki/bgp"
---------------

**Describe the bug**
The script "frr-reload.py" with rpki and bgp configuration  can't correct exit from **rpki** section

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

File "test.bgp" with test config
[code]
So configuration for neighbor exists in section "rpki", that incorrect
[code]

**Expected

[2021-01-19 16:09] donaldsharp commented on #7857
@polychaeta autoclose in 2 days

[2021-01-19 16:11] donaldsharp commented on #7862
@polychaeta autoclose in 2 days

[2021-01-19 17:53] #7851 closed

[2021-01-20 07:07] QiweiWen opened #7889 "IGMP + VRF: "Could not bind IGMP socket""
The commit `d05d3f7` breaks IGMP when the interface to which the bound address belongs is in a non-default VRF. The bind() call (pim_igmp.c:pim_igmp_sock_add) fails with EADDRNOTAVAIL.

The kernel documentation on VRF (https://www.kernel.org/doc/Documentation/networking/vrf.txt) mentions that to put a socket into a VRF context, it must be bound to the VRF device first. The missing BINDTODEVICE app

[2021-01-20 13:38] donaldsharp commented on #7883
@cihankom -> I routinely set this value much much higher.  I use 90000000 locally for when I have full bgp feeds.

[2021-01-20 15:22] cihankom commented on #7883
Do I have to set this parameter when running zebra? Its not working even when zebra run without this parameter

[2021-01-20 15:24] donaldsharp commented on #7883
yes add the much higher `--nl-buf-size 90000000` to your `/etc/frr/daemons` file zebra option line

[2021-01-20 16:27] idryzhov commented on #7332
Fixed in https://github.com/FRRouting/frr/pull/7844

[2021-01-20 16:27] #7332 closed

[2021-01-20 19:40] robmbrooks commented on #7862
@donaldsharp should we add `ip nht resolve-via-default` into our production configs and upgrade to 7.5.1 or will the behaviour revert in a future version?

[2021-01-20 19:40] polychaeta commented on #7862
This issue will no longer be automatically closed.

[2021-01-20 20:21] cihankom commented on #7883
Thanks your solution is helped to fix my problem.

[2021-01-21 02:38] QiweiWen opened #7892 "pimd crashes when receiving IGMP join if pim is not enabled"
When IGMP is enabled on some interfaces, and PIM is not enabled on any interfaces (so no pim register tunnels made), receiving IGMP join on two or more of these interfaces causes pimd to crash in the function `pim_channel_update_mute`. Attached below is a patch that contains a workaround, please let me know whether this is a right fix for the problem.

[pimd-crash-patch.txt](https://github.com/FRR

[2021-01-21 04:33] poige opened #7893 ""0.0.0.0/32" should be either a valid address or "no shutdown" should be kept in config"
(I've read 10% of your template and got tired. Some countries has less visa papers than it.)

Typical use is OVS interface that needs to be `ip link up`'ed and in quagga it works exactly with `0/32`.
FRR is trying to be smart and ends up being dumb failing to bring interface up and of course `no shutdown` is no one taken care to save in config as well.

[2021-01-21 07:56] cihankom commented on #7883
I tried even 490000000 , zebra still gives same error. Here is zebra parameters:

[code]

[2021-01-21 08:46] vecinohk opened #7894 "FRR 7.5 - ospf check md5 bad sequence + ospf write failed (operation not permitted)"
---------------

**Describe the bug**

- I see these errors in the log every day.
- Otherwise, routing works without problems / outages.
- OSPF Neighbors also use Debian 11, but so far with Quagga 1.2.4-4.

[code]

**Versions**

 - OS Version: Debian 11 - Bullseye

 - Kernel: 5.9.0-4   (the problem was too in older kernels)

 - FRR Version: 7.5 frr-stable from https://deb.frrouting.org/frr

[2021-01-21 09:45] gpnaveen opened #7895 "[FRR OSPFv2] OSPFd Coredump seen at ospf_ls_upd_send in ASBR summarisation topotest is executed (Pull Req : 7096)"
OSPFd coredump seen when

FRR VERSION
7.6-dev-20201104-01-g8c7e5b4f6

OPERATING SYSTEM VERSION
Ubuntu 16.04. / 18.04

KERNEL VERSION
4.19

OSPF Crash. : Call stack

Build : https://ci1.netdef.org/browse/FRR-FRRPULLREQ-16416/artifact/shared/Ubuntu-18.04-x86_64-Packages/

warning: Unexpected size of section `.reg-xstate/11477' in core file.
#0  0x00007f5785bda428 in __GI_raise (sig=sig@entry=6) at .

[2021-01-21 09:55] rgirada commented on #7895
Hi,

Please assign it to me , I wanted to work on this.

[2021-01-21 09:56] vijaykug commented on #7750
fix is working fine

[2021-01-21 09:56] #7750 closed

[2021-01-21 10:05] vijaykug opened #7896 "FRR accept hold timer value less than hello timer because of that PIM nbr flapping"
**Describe the bug**

FRR accept Hold timer value smaller than hello timer , which is causing hold time to expire before second hello received and pim nbr flap. I think FRR  should not allow hold timer to less than hello

[ x] Did you check if this is a duplicate issue?
[ x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Setup :-

FRR1----PIM-nbr-----FRR2

1) Create

[2021-01-21 10:05] mobash-rasool commented on #7896
I will check this issue, please assign it to me.

[2021-01-21 10:31] andylemin commented on #6568
Hi @kruisdraad I think have reproduced the issue in my lab;
`BMPStation<--(BMP)-->FRR1<--(BGP)-->FRR2` At first the BMP 'MonSent' counter on FRR1 increments correctly for every BGP Update received from FRR2. If I then reset the BGP peering between FRR1 and FRR2, the BMP 'MonSent' counter stops incrementing for any subsequent prefix updates received from FRR2. If I then remove and re-add the `bmp c

[2021-01-21 10:53] andylemin opened #7897 "New BGP neighbours are not registered with existing BMP sessions"
---------------

**Describe the bug**

[x] Did you check if this is a duplicate issue?
Similar to this reported issue; https://github.com/FRRouting/frr/issues/6568
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
FRR1<--(BGP)-->FRR2(Test Prefixes Added/Removed)`

1) At first the BMP 'MonSent' counter on FRR1 increments correctly for every BGP Update received from FR

[2021-01-21 16:09] #7857 closed

[2021-01-22 05:52] Prashankalikotayt opened #7907 "Frr Cross-compilation issue"
@lucize @eqvinox  I am trying to cross-compile frr for a nxp board using LSDK(a complete linux kit for NXP QorlQ Arm-based SoC's). I am not pretty sure about my parameters for ./configure however these are the parameters

        @$(call fbprint_b,"frr") && $(call fetch-git-tree,frr,apps/networking) && \
        cd $(NETDIR)/frr && ./bootstrap.sh &&  mkdir build && cd build && \
        ../configu

[2021-01-22 07:44] amollad opened #7908 "ospfd: duplicate configuration shown when multiple instances of ospf running"
Hi,
1) I'm testing this in FRR master.
2) /etc/frr/frr.conf is deleted so per daemon configuration file can be used
3) enabled ospfd_instances=2,3,4,5 in /etc/frr/daemons

ospfd=yes
ospfd_instances=2,3,4,5

Now, do "no router instance-id" for all instances and then "router ospf" and add below statements:

ospf router-id 1.1.1.1
network 20.20.20.0/24 area 0

Please notice that configuration is "rep

[2021-01-22 10:17] ne-vlezay80 opened #7910 "Remove local AS from as path"
Local network AS:
[code]
After AS4200220009 exists DN42 peerings from AS: 4242428845.
Prefixes from dn42 announced from DN42 between AS 4242428845 and local network from ebgp 4200220007.
From home router announced DN42 internal prefixes from lxd container. Inside lxd container creating gre tunnel from DN42 and DN42 prefixes from ibgp. My network announced from vps container, but it turns out as-pa

[2021-01-22 13:34] mjstapp commented on #7907
did you cross-build libjson-c and make it available to the frr build?

[2021-01-22 16:23] GalaxyGorilla commented on #7829
I updated the issue since @odd22 explained that SR needs to be completely re-configured after it has been turned off. So what's left are problems with prefix sid config, e.g. switching from
[code]
to
[code]
appears to not work properly.

[2021-01-22 17:07] pguibert6WIND opened #7913 "bfdd : show bfd peer <peerIP> fails when missing some input parameters"
* observation change in frr 7.5 compared with frr 7.3 *

some changes in bfd stack force the show commands to return no session
when the input parameters are incomplete. This is the case for ipv6
sessions, when local address or interface is not mentioned. This is also
the case for multihop ipv4 parameters.
example :
[code]

This change of behaviour is due to the following:
https://github.com/FRRou

[2021-01-22 21:20] jsmolic opened #7914 "Frr cross-compilation fails on Gentoo Linux"
I am trying to cross compile frr 7.5 on Gentoo Linux, and after encountering
[code]
I tried to build it out of source, but now I'm seeing `fatal error: zebra.h: No such file or directory`

Invoked configure command is:
[code]

I'm attaching full build log.
[build.log](https://github.com/FRRouting/frr/files/5858616/build.log)

[2021-01-23 09:23] runborg commented on #7887
After a bit of investigation the issue looks to be that rpki context exits with the keyword `exit` and not `end` as other contexts.  frr-reload does not know this, and you will be stuck inside the rpki context until you get a `end` at some point.

This could be fixed by allowing the use of the `exit` keyword inside rpki context.
I've created a fix for this: https://github.com/runborg/frr/commit/25

[2021-01-23 09:56] c-po commented on #7887
The fix has been successfully added to VyOS https://github.com/vyos/vyos-build/commit/c6728db700820fe931c839e629cf92a278517be5 and the RPKI tests now pass again.

[2021-01-23 17:05] ne-vlezay80 opened #7918 "Sticks route with FRR"
---------------

**Describe the bug**

[ *] Did you check if this is a duplicate issue?
[ *] Did you test it on the latest FRRouting/frr master branch?

**Expected behavior**

If removed route from zebra table, is not remove the route from kernel.

**Screenshots**

**Versions**

 - OS Version: 9.13

 - Kernel: 4.9.0-14-amd64

 - FRR Version: 6.0

**Additional context**
[code]
2. Routing from kerne

[2021-01-23 17:38] ne-vlezay80 opened #7919 "Incorrect recursion"
---------------

**Describe the bug**

[*] Did you check if this is a duplicate issue?
[] Did you test it on the latest FRRouting/frr master branch?

If you remove a route from the network 2a01: d0: c353 :: / 112 and get the network from BGP from another peer, the route from Table 10 is not updated, and the result is a loop out of the network.

**Versions**

 - OS Version: 9.13

 - Kernel: 4.9.0-1

[2021-01-23 19:25] ton31337 commented on #7871
@kssoman could you test with the latest master?

[2021-01-24 06:11] Napsterbater opened #7921 "critical: BGP: Received signal 11 at 1611466616 (si_addr 0x0, PC 0x55aaae6f9802); aborting..."
**Describe the bug**

Upon adding/activating a particular IPv6 Multiprotocol Link-Local peer FRR completely crashes and restarts with the following in the logs (set to debug.

Note FRR already running normal with many peers connected when I then set the logging to debug and configured the peer,, this starts at the very first message generated, wichch are the basic and "normal" "unrecognized capabi

[2021-01-24 07:23] kssoman commented on #7871
R1  ----------------------------  R2 --------------------------  R3
                    ebgp                              ibgp

Observed the following :

1)  When the community NO-ADVERTISE is added to routes received in router R2  from  router R1,  the route gets advertised to router R3

2)  When the community blackhole is added to routes advertised from router R1,  the NO-ADVERTISE community get

[2021-01-24 08:13] ton31337 commented on #7871
[code]
RFC says `to prevent propagation of the prefix outside the local AS`. That means, that only eBGP peers are affected. If I understand RFC correctly.

[2021-01-24 08:30] kssoman commented on #7871
Since routers R2 and R3  are in same AS , R3 should get the route, this behavior is observed when  NO-ADVERTISE is applied to incoming routes on router R2 as  mentioned in case (1) above

[2021-01-24 08:34] ton31337 commented on #7871
I'll check this and add a test case.

[2021-01-24 09:11] ton31337 commented on #7871
@kssoman can you test this https://github.com/FRRouting/frr/pull/7922?

[2021-01-24 15:59] ton31337 commented on #7871
@kssoman changing no-advertise to no-export would solve that as well.

[2021-01-24 20:56] jasonmvp opened #7924 "Request: Send LLA Next-Hop Only"
Version: FRRouting 7.6-dev_git (Docker container)

Docker bridge networks apparently disable IPv6 LLA addresses unless you specify:

`--ipv6 --subnet <ipv6 /64>`

when creating them.  Unfortunately that also assigns an IPv6 address to each container that's attached to the network.  When an FRR container forms an LLA BGP peer with another container, it sends both the GUA (that it got from the Docke

[2021-01-25 07:04] Prashankalikotayt commented on #7907
Yes I have done that

[2021-01-25 07:08] Prashankalikotayt commented on #7914
your sequnce of command should be:
git clone .....
cd frr
./bootstrap.h
mkdir build
cd build
../configure .....
You should build it from a sub-folder

[2021-01-25 12:14] jasonmvp commented on #7924
Ignore this.  Figured out a work-around on the container.

[code]

That removes the Docker-assigned GUA, and the LLA next-hop routes show up as expected.

I hate Docker.

[2021-01-25 12:14] #7924 closed

[2021-01-25 13:17] GalaxyGorilla commented on #6386
This seems to be resolved, see #7550.

[2021-01-25 13:17] #6386 closed

[2021-01-25 13:18] #6535 closed

[2021-01-25 13:36] GalaxyGorilla opened #7926 "OSPF SR race in label processing"
The tests in #7827 exposed a new race condition in the CI which is related to MPLS label processing. I'm not able to reproduce this issue locally so I tested this on a CI machine to generate more info on this problem.

The topology in question looks like this:

[code]

The problem mostly occurs on RT2, where `show ip route ospf` should look like this for SR nodes:

[code]

But (at least on the CI)

[2021-01-25 14:06] ptzling310 opened #7927 "BGP establishment problem"
Hi.
I’m a student and try to get to know more about BGP.
I did an experiment that establishes the connection between 2 peers on ubuntu 18.04 but it will reset the connection every minute.
`show ip route` did not show the BGP route on this machine.
Is it means that I didn’t establish the BGP session successfully?
- FRR version
[code]
- Firewall is closed.
[code]
- Interface with machine 1 configura

[2021-01-26 06:16] cihankom commented on #7883
ITs working well now with latest commit

[2021-01-26 06:16] #7883 closed

[2021-01-26 07:55] cihankom opened #7930 "How routes can be inserted to different Routing Table which created by NHRP?"
Hi,

I want to insert NHRP routes into specific Routing table different from Main Table. Currently, NHRP inserting all routes into Main table as following:

[code]

Just try to insert above routes into higher Priority tables. I can do this for BGPD by using `route-map-> set table [table-no]`
but couldn't do it same for NHRP.

Is there any way to do this ? otherwise I will try to patch FRR code to

[2021-01-26 09:05] goodian opened #7931 "OSPF: create multi instance failed"
version: 7.5, create multi instance failed; but version 7.2-7.4 seems to work.
here my config:
/etc/frr/daemons:
`
ospfd=yes
ospf6d=yes
ospfd_instances=1,5

`

7.5:
`
$sudo vtysh -c "configure terminal" -c "router ospf 1"
$sudo vtysh -c "configure terminal" -c "router ospf 5"
$sudo vtysh -c "show ip ospf route"
% OSPF instance not found
% OSPF instance not found

`
7.4:
`
$sudo vtysh -c "configure

[2021-01-26 09:23] duziheng commented on #7793
crosscompile  ok

[2021-01-26 11:54] mwinter-osr opened #7932 "ASAN: heap-use-after-free in ospf6d"
This is with frr from devel/7.6, git sha f939c3a69f1eb7f3a99885132809104b95518c17 as of Jan 22, 2021

Issue is reproducible and happens during a ANVL Compliance Test, during Test `ANVL-OSPF6-2.3`
(Issue is not triggered by configuration alone. ospf6d seems tom crash during the hello phase while forming
neighbors)

# ERROR: AddressSanitizer: heap-use-after-free on address 0x612000006ac0  at pc 0x00

[2021-01-26 12:53] riw777 commented on #7927
Two things ... you're getting a lot of drops on one of your interfaces ..

`RX errors 0  dropped 134958  overruns 0  frame 0`

Second thing ... try `no bgp ebgp-requires-policy` or configuring a route map with `permit all` of some sort and applying it to the peer on both speakers.

[2021-01-26 12:57] riw777 commented on #7910
I think (?) what you might be looking for is accept own as?

`[no] neighbor <A.B.C.D|X:X::X:X|WORD> allowas-in [<(1-10)|origin>]`

[2021-01-26 13:37] ton31337 commented on #7927
Yes, it's http://docs.frrouting.org/en/latest/bgp.html#clicmd-[no]bgpebgp-requires-policy. You can spot (Policy) notation in show bgp summary.

[2021-01-26 13:53] ton31337 commented on #7921
Are you able to gather coredump?

[2021-01-26 14:43] mwinter-osr commented on #7932
Confirmed fix. #7935 fixes the issue

[2021-01-26 15:33] ne-vlezay80 commented on #7793
What is crosscompile. Compile from gcc 10.2.x

[2021-01-26 16:24] idryzhov commented on #7931
Could you check with the latest stable/7.5? Should be fixed in https://github.com/FRRouting/frr/pull/7654.

[2021-01-26 16:26] sworleys commented on #7919
what exactly is the problem we are supposed to be seeing here?

[2021-01-26 16:28] qlyoung commented on #7918
With respect, you keep opening issues that **do not provide enough information** to glean what the problem you are describing is. Until you start providing that information I'm going to keep closing your issues, because there is **nothing we can do** if you do not describe what the problem you are having is.

Provide the information requested in the template if you want your issues addressed.

@po

[2021-01-26 16:36] idryzhov commented on #7913
Did you check the latest stable/7.5? Might be fixed in https://github.com/FRRouting/frr/pull/7672.

[2021-01-26 16:36] donaldsharp commented on #7893
I've read 10% of your issue and got tired.  Can you take the time and do it right?

But seriously can you take some time and be a bit more explicit about what is not working and where?  with actual examples?

[2021-01-26 16:36] #7892 closed

[2021-01-26 16:39] qlyoung commented on #7893
With respect, we have a template because people file issues like yours, which do not provide enough information to understand what the problem is.

[2021-01-26 17:41] jsmolic commented on #7914
Yeah I guess the issue was that the package wasn't building frr in a sub-folder. I was trying to do this inside of packaging as it's easier to integrate with my current use-case rather than building manually via `git clone` && ...

Anyway I resolved it by building clippy on the host and point the configure script to it when cross-compiling

[2021-01-26 17:41] #7914 closed

[2021-01-26 22:00] Napsterbater commented on #7921
If you can get me info on how I would be glad to.

[2021-01-26 22:19] poige commented on #7893
well, guys, if you need someone to explain where `no shutdown` is applicable (and where would `0.0.0.0/32` fit in this context) I bet absurdly massive issue template isn't your biggest issue.

And nope, your template won't help against issues like mine, @qlyoung because it's the bigger issue itself.

[2021-01-26 22:35] donaldsharp commented on #7893
@poige we are not here for your abuse.  If you cannot discuss this in a manner which is appropriate for business you are not welcome here.

[2021-01-26 22:35] #7893 closed

[2021-01-26 22:45] bewing opened #7939 "[master] IGMP/PIM issue with VRF"
**Describe the bug**
IGMPv2 state is not converted into PIM-SM Join/Prune state inside a VRF

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
* Environment: Windows Hyper-V Lab
* OS: CentOS 7.9
* Kernel: kernel-lt-5.4.92-1.el7.elrepo.x86_64
* FRR: master with commit d05d3f7a6fac8351a39026bf750cbf2ce8b7ad51 reverted (s

[2021-01-26 23:09] poige commented on #7893
That's nevermind. As usual those who are getting offended that easy (even to consider themselves "a-b-u-s-e-d", lol) aren't the sharpest tools in the box.

[2021-01-27 00:49] Napsterbater commented on #7921
Is this what you need?

From /var/tmp/frr
https://drive.google.com/file/d/1J2qDwBmb6KUyyUztTRv17IuMTyU09OOn/view?usp=sharing

[2021-01-27 01:30] Napsterbater commented on #7921
NVM, this is what you wanted.

I have 2 in a 7z file. .crash1 is the first time this happened and it generated the dump that I didn't know about. .crash2 is one I just made. Same peer, same commands, practically identical test, only on a different day.

https://drive.google.com/file/d/1Frafmbw_iyWk_30fGhge-MlgWMVcsx5I/view?usp=sharing

[2021-01-27 12:21] goodian commented on #7931
I‘am using 7.5 release version, is this the same with stable/7.5 ?

[2021-01-27 12:31] idryzhov commented on #7931
@goodian No, it's not. stable/7.5 gets bugfixes and will be used to build the next 7.5 release.

I checked your commands and they work fine on the stable/7.5.
If you need the fixed version, you can build FRR from source or wait until version 7.5.1 is released.
I suppose it should be released in the near future but it's up to maintainers.

[2021-01-27 12:40] donaldsharp commented on #7931
yes this works on latest dev as well:
{code}
sharpd@eva ~/frr7 (ospf6_use_after_free)> ps -ef | grep frr
root      276426       1  0 07:38 ?        00:00:00 /usr/lib/frr/watchfrr -d -F datacenter zebra ospfd-1 ospfd-5 sharpd staticd
frr       276448       1  0 07:38 ?        00:00:00 /usr/lib/frr/zebra -d -F datacenter --log file:/tmp/zebra.log -r --graceful_restart 60 -A 127.0.0.1 -s 90000000
frr

[2021-01-27 12:47] donaldsharp commented on #7927
@polychaeta autoclose in 2 days

[2021-01-27 12:49] donaldsharp commented on #7931
@polychaeta autoclose in 3 days

[2021-01-27 13:25] donaldsharp commented on #7908
Initial analysis indicates this was probably introduced by:

sharpd@eva ~/frr7 ((b238167a…)|BISECTING)> git bisect good
c3391da1f09108193ad7e9d94953a66692ceb205 is the first bad commit
commit c3391da1f09108193ad7e9d94953a66692ceb205
Author: Igor Ryzhov <iryzhov@nfware.com>
Date:   Wed Dec 2 03:36:10 2020 +0300
    ospf: fix instance initialization when using multi-instance mode
    OSPF instance i

[2021-01-27 13:33] goodian commented on #7931
got it, thanks.

[2021-01-27 13:33] polychaeta commented on #7931
This issue will no longer be automatically closed.

[2021-01-27 13:56] goodian opened #7943 "OSPF multi instance message-digest-key does not work"
I'm using frr 7.2 release, and using multi instance, but when i config 'ip ospf message-digest-key'，it don't work.
here my config:
/etc/frr/daemons:
`
ospfd=yes

ospfd_instances=1,5
`

/etc/frr/frr.conf:
`
interface vt0
 ip ospf 1 area 0.0.0.248
 ip ospf authentication message-digest
 ip ospf bfd
 ip ospf cost 1000
 ip ospf message-digest-key 1 md5 ospf2016
 ip ospf network point-to-point
!
interf

[2021-01-27 14:56] ne-vlezay80 commented on #7793
[code]
Bt:
[code]

[2021-01-27 15:30] ton31337 commented on #7921
Could you tell me how did you grab those core-dumps? Seems not as I was expecting.

[2021-01-27 16:03] pguibert6WIND commented on #7930
Hi,
I was thinking this would be possible to configure 'set table' under zebra route-map by using 'ip protocol nhrp route-map ' command, but 'set table' is not reachable at this level.
I think the best would be to do:
[code]

[2021-01-27 17:05] pushpasis opened #7949 "frr: Need a way to detect if a FRR daemon has been CPU starved for sometime or not."
- FRR VERSION: 7.6
- OPERATING SYSTEM VERSION: Ubuntu 16.04.1 LTS
- KERNEL VERSION: (GNU/Linux 4.4.36-nn3-server x86_64)

** Bug Description **
During a specific issue in production we ran into some issue where BGP session was flapping on the peer almost once every one hour. After a lot of investigation finally figured out some other workloads were hogging the CPU to the extent it was starving the

[2021-01-27 20:33] qlyoung commented on #7919
@polychaeta autoclose in 1 week

[2021-01-27 22:48] Napsterbater commented on #7921
Got the from /var/crash

How should a generate a proper core dump?

[2021-01-27 23:47] idryzhov commented on #7908
In fact, it is an old issue and was not introduced by my changes, but I came up with PR #7957 to fix this.

[2021-01-28 02:49] goodian commented on #7943
I also tested in stable/7.5, after i started frr, instance 1 works fine, but instance 5 does not work .
'
[sankuai@gh-sys-imgw-sess-test-test03 frr]$ sudo vtysh

Hello, this is FRRouting (version 7.5-MyOwnFRRVersion-ga4af08a).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

This is a git build of frr-7.5-22-ga4af08a
Associated branch(es):
	local:stable/7.5
	github/FRRouting/frr.git/stable/7.5

# sh

[2021-01-28 03:00] goodian commented on #7943
I added some log in the codes in stable/7.5, I found when instance 1 stared, zebra pushed config to instance 1, but then instance 5 started, zebra pushed the same config to instance 1 and instance 5. But in this time, instance 1 already has the message-digest-key , so it return error in func ip_ospf_message_digest_key_cmd, and zebra will not push message-digest-key conf to instance 5.
Is this the

[2021-01-28 04:45] ptzling310 commented on #7927
@riw777 @ton31337  Thank you! The BGP route shows in the routing table.
When I check `show bgp summary` it still has a `Warning` message and reset connection every 50-60 seconds.
I gonna check my interface.

[2021-01-28 04:45] polychaeta commented on #7927
This issue will no longer be automatically closed.

[2021-01-28 05:54] mobash-rasool opened #7959 "PIMD: RP does not get resolved via default route without the CLI "ip nht resolve-via-default" although static route is configured"
**Describe the bug**
When RP address is via default route, the command "ip not resolve-via-default" is required to get it resolved. Without this command, the next hop cannot be resolved. The problem here is if we enable this command "ip nht resolve-via-default" it impacts other daemons too, for example, bgp/ospf will start using the default route although that was not our intention.

**To Reproduc

[2021-01-28 10:20] liuxyon opened #7964 "add Enabling IPv6 Source Address Validation support"
I received a security report about a DSAV issue. I searched the FRR help file and I never found the relevant description. How to solve this problem?

After testing, Ipv6 is easy to impersonate the source of fake IP addresses.

[I see that the juniper system has this feature](https://www.juniper.net/documentation/en_US/junose15.1/topics/task/configuration/ipv6-source-address-validation-enable.html)

[2021-01-28 10:20] ton31337 commented on #7921
`is not a core dump: File format not recognized`.

Use these sysctl settings:
[code]

[2021-01-28 10:22] liuxyon commented on #7964
Relevant information
https://www.rfc-editor.org/rfc/rfc8704.html
https://www.manrs.org/isps/guide/antispoofing/

[2021-01-28 11:53] goodian commented on #7943
Another question: after the second instance started, why zebra push the config to the first instance again? thanks.

[2021-01-28 12:45] cihankom commented on #7930
Unfortunately FRR not accepting. It gives an error "Unknown command"

[2021-01-28 13:49] taspelund commented on #7964
The Linux kernel has sysctl knobs for RPF checks, called "rp_filter".  I'm positive this knob exists for ipv4 and would bet it's there for ipv6, but I'm not 100% sure.

At any rate, uRPF is a data plane feature, not control plane, so I'm not sure how relevant this is to FRR unless the request is to add a vtysh command to control rp_filter.

[2021-01-28 14:09] ossark opened #7966 "Shutting down FRR ospf DR sends LSU with age 3600"
---------------

**Describe the bug**
Shutting down a DR FRR (rr1) in one segment will cause another DR FRR (rr2) on an adjacent segment to drop the routes that were "withdrawn". All other routers are not FRR.

[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
1. Shut down frr on rr1 gracefully.
2. Watch rr2 receive a L

[2021-01-28 14:10] ossark commented on #7966
@taspelund

[2021-01-28 14:49] odd22 commented on #7926
Thanks for the additional logs. From what I could see, the SR database has correctly store the new SRGB value for node 3.3.3.3 (17000/24999) but not update accordingly the MPLS table.

I will try to understand where the problem is located during the Router Information LSA processing.

[2021-01-28 17:29] vijaykug commented on #7347
working fine on latest master , closing this issue

[2021-01-28 17:29] #7347 closed

[2021-01-28 17:36] #6868 closed

[2021-01-28 17:38] vijaykug commented on #3660
working fine on latest master , closing this issue

[2021-01-28 17:38] #3660 closed

[2021-01-28 17:55] bewing commented on #7889
Can confirm this worked in 7.4, and appears broken in 7.5

[2021-01-28 19:07] devious3 opened #7975 "bgpd: peer-group issues all over the place"
I would like to use this issue as an opportunity to ask what stoned developer merged complete trash into the master branch which first broke peer-groups as a whole and now breaks them just half. If you apply them like this:

[code]

Then apply it to a neighbor:

[code]

You can no longer set ANY parameters for the neighbor:

[code]

This does not work with various parameters, also not timers.

If

[2021-01-28 19:33] ton31337 commented on #7975
Could you give me more details here? `show version` and a distribution you use as a first shot would be enough to double-check.

[2021-01-28 19:36] devious3 commented on #7975
I'm literally using the latest build.
7.7-dev-20210128-01-g04e5b8525

For your reference, this issue was partially solved in: #7864
It was introduced somewhere after the release of stable-7.5.

I do not believe the operating system used matters here.
You can grab a .deb to test here: https://ci1.netdef.org/artifact/FRR-FRR/shared/build-4239/Debian-10-(Buster)-x86_64-Packages/frr_7.7-dev-20210128-0

[2021-01-28 19:40] ton31337 commented on #7975
I've just tested with the latest master and can't reproduce this part:

[code]

[2021-01-28 19:41] donaldsharp commented on #7975
@devious3 Please refrain from using language that denigrates the developers on this project.  We are all working as hard as we can to build FRR.  No-one is intentionally putting in code that breaks you.  We all are striving to do our best.

[2021-01-28 19:43] devious3 commented on #7975
My apologies for the language @donaldsharp. It is just frustrating to see issues like this, which can be devastating in production, slip through checks and actually get merged and built. As for @ton31337 not being able to reproduce the description part, have you tested with the .deb or latest build from netdef?

[2021-01-28 19:47] ton31337 commented on #7975
[code]

Just installed the .deb you gave in the link:

[code]

[2021-01-28 19:50] devious3 commented on #7975
I am not sure if this will make a difference, but can you set `frr defaults datacenter`? This is the only difference in configuration I see ad-hoc. Literally the same executing on my side does not work.

[2021-01-28 19:54] ton31337 commented on #7975
[code]
Tested with datacenter profile.

[2021-01-28 19:55] devious3 commented on #7975
Actually, your output does not include any description. Please try this:

[code]

I will try changing to `frr defaults traditional` in a bit, but I do not believe this to be the cause.

[2021-01-28 19:59] ton31337 commented on #7975
Ups, yes, I can reproduce it. Thanks. Missed description part.

[2021-01-28 20:07] devious3 commented on #7975
Also, if you check configured hold/keepalive timers, you will notice they are not applied and set to 0. Even if the session is established.

[2021-01-28 20:34] #7939 closed

[2021-01-29 00:37] Napsterbater commented on #7921
So apparently those were Apport crash files. And encoded in them was the dump file.

I have unpacked them (apport-unpack _usr_lib_frr_bgpd.0.crash1 crash1/), and packed them into the .7z, there is 3 folders, in those 3 folders is the core dumps from 3 different crashes related to this, plus other misc info about the process.

All three used the same peer/commands, only difference is the day they w

[2021-01-29 02:25] ne-vlezay80 commented on #7793
If usid latest version, the proplem is provides in musl.

Temporary fix the problem:
Use older version compiller or add -O1 flag to CFLAGS env.

[2021-01-29 03:55] ne-vlezay80 commented on #6992
[code]
Bt:
[code]

[2021-01-29 03:57] ne-vlezay80 commented on #6992
If usid latest version, the proplem is repeated in musl.

Temporary fix the problem:
Use older version compiller or add -O1 flag to CFLAGS env.

[2021-01-29 07:34] ton31337 commented on #7921
Can you install `gdb` in your machine and run `gdb -ex 'bt' --batch /usr/lib/frr/bgpd crash1/CoreDump`? The output from there will be helpful unless there is something like I get:

[code]

[2021-01-29 07:40] liuxyon commented on #7964
i had try ubuntu 20.10 and kernel 5.10.10 still has no for ipv6 rp_filter.

i see other bgp system all support this. like cisco system support this.
[cisco](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/ipv6_basic/configuration/xe-3s/ip6b-xe-3s-book/ip6-urpf-xe.html)

[2021-01-29 07:44] liuxyon commented on #7964
Because I have received the security report email notification, and there have been attacks that exploited this vulnerability.

[Security report notification comes from here had sent me](https://imaal.byu.edu/dsav/faq.html)

[2021-01-29 07:44] taspelund commented on #7966
For a given multi-access segment, only one router will publish the Type 2 LSA describing the network (subnet + mask) and its attached routers (fully adjacent to the publishing router).  This router is the DR.

The BDR's responsibility is only to be the predetermined successor to the DR and to maintain full adjacencies to all routers on the segment, which accomplishes two things:
1 - More resilient

[2021-01-29 08:02] taspelund commented on #7964
Cisco or Juniper aren't great comparisons in this context because they implement both a control plane and a data plane together in one solution.  FRRouting is only the control plane. It isn't responsible for forwarding traffic whatsoever.

With regards to the data plane options on Linux, I did some googling and came to the same conclusion you did -- there doesn't seem to be a native rp_filter impl

[2021-01-29 10:03] liuxyon commented on #7964
I tried it doesn't work.

`
ip6tables -t raw -N RPFILTER
ip6tables -t raw -A RPFILTER -m rpfilter -j RETURN
ip6tables -t raw -A RPFILTER -m limit --limit 10/minute -j NFLOG --nflog-prefix "rpfilter drop"
ip6tables -t raw -A RPFILTER -j DROP
ip6tables -t raw -A PREROUTING -j RPFILTER`

This command blocks normal routing through
ip6tables -t raw -A RPFILTER -m rpfilter --invert -j DROP

[2021-01-29 10:44] c-po opened #7978 "RPKI: CLI inconsistency when deleting entire config section"
**Describe the bug**

As VyOS transitions from raw `vtysh` commands to make use of frr-reload another RPKI related inconsitency has been discovered after the fix provided in https://github.com/FRRouting/frr/issues/7887.

The `rpki` configuration block can not be deleted at once unlike other protocols:
* `no router bgp`
* `no router ospf`
* `no router ospf6`

* [x] Did you check if this is a duplic

[2021-01-29 11:12] runborg commented on #7978
This issue makes frr-reload fails to remove the rpki config block, because it tries to execute `no rpki` internally but failes to do this.
Snipped from the frr-reload process with debugging enabled:
[code]

[2021-01-29 14:07] donaldsharp commented on #7964
https://strlen.de/talks/rpfilter.pdf

[2021-01-29 18:53] devious3 opened #7982 "bgpd: changing route-map causes undefined behaviour"
Latest build of FRR has unexpected behaviour if you change the route-map of an established neighbour. Example route-map has the following layout:

[code]

If I set this `route-map` on a neighbour from a previously defined neighbour with exchanged routes, I am not seeing the communities as would be expected. The local preference however gets applied correctly. After hard-clearing the neighbour of w

[2021-01-29 20:11] ton31337 commented on #7982
Could you enable `debug route-map` and show the logs?

[2021-01-29 20:55] brotherdust commented on #2236
Hi @maduri111! Just wanted to check in with you again. It's almost February! How time flies!

[2021-01-29 21:25] devious3 commented on #7982
I sadly can't because vtysh just hangs when I change the route-map with the BGP process consuming 100% CPU until I tear the session down.

[2021-01-29 22:59] Napsterbater commented on #7921
Crash 1
[code]
Crash 2
[code]
Crash 3
[code]

[2021-01-30 00:07] mwinter-osr opened #7983 "Applying a route-map in global BGP config fails with Internal CLI error"
This is seen in dev/7.6 branch as of 1/22/2021 (git sha f939c3a)

Applying a route-map without going into a `address-family` first fails with a CLI error:
[code]

It works as intended if the address-family is selected first.

[2021-01-30 01:36] donaldsharp commented on #7983
bisected to this commit:
c6685575336566680aeb537e8ed5abb164be0268 is the first bad commit
commit c6685575336566680aeb537e8ed5abb164be0268
Author: Chirag Shah <chirag@nvidia.com>
Date:   Mon Dec 21 17:11:50 2020 -0800

    bgpd: convert nbr rmap transactional cli

    - Move vtysh handler to DEFPY
    - Convert neighbor route-map command to transactional cli.
    - After nb conversion, remove not u

[2021-01-30 02:27] donaldsharp commented on #7983
This is a result of the ALIAS_HIDDEN command causing this crash, which was put in place to allow old style configs to work properly. in an upgrade.

[2021-01-30 10:54] liuxyon commented on #7964
Difficult, still don't know how to operate

[2021-01-30 10:54] liuxyon commented on #7964
Difficult, still don't know how to operate

[2021-01-30 15:12] devious3 commented on #7982
It appears either it takes ages to apply, then causes 100% cpu usage on the bgpd process, or it just right out dies:

[code]

In case it "only" stalls the CPU until clearing, the following logs happen:

[code]

[2021-01-30 20:25] ton31337 commented on #7975
We found the root cause, just verifying, and wanna prevent this in the future with more testing for peer-groups. Thanks for reporting this fast.

[2021-01-30 20:38] devious3 commented on #7975
Thank you for your efforts. Please do keep me updated.

[2021-01-30 21:19] ton31337 commented on #7921
Please install `frr-dbgsym` and `frr-rpki-rtrlib-dbgsym` packages and try again with core dump.

[2021-01-31 09:05] #7983 closed

[2021-01-31 09:22] ton31337 commented on #7982
double-checking: Do you have a full feed from Cogent? If not, how many prefixes are involved in this processing?

[2021-01-31 10:32] pguibert6WIND commented on #7930
Hi,
I made a specification note on how this issue could be handled.

[2021-01-31 10:52] devious3 commented on #7982
Indeed it is a full table view, yes. I can't reproduce the bug on 7.5 though.

[2021-01-31 12:27] lucize opened #7986 "eigrp query mtu size"
trying to crash eigrp while having tcpdump on I see that frr query has MTU value of 14419200 is this somehow a bug ?

tcpdump attached

[frr_mtu.zip](https://github.com/FRRouting/frr/files/5899685/frr_mtu.zip)

[2021-01-31 13:36] donaldsharp commented on #7986
@lucize can you test my PR out?  Should fix the issue.

[2021-01-31 14:17] lucize commented on #7986
@donaldsharp I still get that value, to be more sure I replaced the unstripped eigrpd binary and assured that eigrp_mtu_convert text is in the binary

[frr_mtu.zip](https://github.com/FRRouting/frr/files/5899890/frr_mtu.zip)

[2021-01-31 15:05] marcioelias commented on #7035
@KaushikNiral can you give more details about the "current kernel" version. I'm trying this setup on a Debian Buster, with kernel 5.9, and getting the same error on installing the routes. After some time, bgpd and zebra process crash.

When you say to use an external dataplane, it is possible to share more details on this?

[2021-01-31 15:22] pguibert6WIND commented on #7975
https://github.com/FRRouting/frr/pull/3653 clarifies a behaviour specific with as configuration within as groups.
this said, I was wondering if frr yang model and ietf/openconfig yang model behavior do not differ.

[2021-01-31 15:32] donaldsharp commented on #7986
let me try it backwards but I am a bit confused right now.

[2021-01-31 21:28] Napsterbater commented on #7921
Seems those are not available/built(?) for ubuntu?

[code]

[2021-02-01 08:26] yinshuisiquan opened #7989 "Who is the client?"
https://github.com/FRRouting/frr/blob/01c949cd5a5835720b6f9379bc9dfc77befe5d94/bfdd/control.c#L131
It creates a server, but no client connects to it.

[2021-02-01 09:34] maduri111 commented on #2236
@brotherdust Right. Working on this. Thanks!

[2021-02-01 10:20] rzalamena commented on #7989
This server is a small interface to configure BFD daemon without a CLI.

Originally:
https://github.com/rzalamena/bfdd/blob/master/bfdctl.c

You can also create your own, but I'd recommend migrating to use YANG via gRPC, sysrepo etc...

[2021-02-01 10:28] ossark commented on #7966
In my case rr2 drops the said routes from kernel, as per design according to the RFCs. Strangely enough, extfw1/2 does not. I cannot at this point see any workaround that would solve this issue as it stems from how OSPF works with multiple multi-access segments. (short of dropping OSPF all together)

[2021-02-01 10:44] pkharat opened #7990 "EVPN routes not advertised - MACSec + VXLAN use case"
---------------

**Describe the bug**

**Failing to distribute EVPN routes when using MACSec over VXLAN.**
here is the topology - vxlan interface is not part of the bridge, instead macsec interface is added to bridge and then macsec is linked to vxlan interface. Observation is as long as vxlan interface is part of the bridge it advertises evpn routes but when it is removed from the bridge evpn rou

[2021-02-01 17:08] mwinter-osr opened #7995 "zebra: Assertion `api->opaque.length < ZAPI_MESSAGE_OPAQUE_LENGTH' failed"
This is with dev/76 branch, git sha f939c3a69f
Issue happend during compliance Test, while running ANVL-BGP4-31.10

Zebra crashes with assert:
`zebra: lib/zclient.c:1415: zapi_route_decode: Assertion `api->opaque.length < ZAPI_MESSAGE_OPAQUE_LENGTH' failed.`

Last message in zebra.log:
[code]

Backtrace:
[code]

Assert is triggered in
[code]

[code]

I believe the issue is triggered by a BGP Updat

[2021-02-01 17:12] hexicans commented on #1497
Hello,
Always problem for me version 7.2.1

[2021-02-01 17:17] mjstapp commented on #7995
yep, 1024 is the magic number there - should be easy to get bgp  not to do that...

[2021-02-01 17:18] donaldsharp commented on #7995
yep.. I'll fix this shortly but I believe my assertion is wrong.

[2021-02-01 17:40] donaldsharp commented on #7995
@mwinter-osr can you test this out?

[2021-02-01 19:56] devious3 opened #7997 "bgpd: advertised network is not being advertised actually"
Yet another very nice-to-have bug in current master: if you set an announcement of a specific network using this config:

[code]

You will be able to see the prefix in the RIB:

[code]

But you won't see it advertised to a neighbor which has a route-map to allow community `64600:1`:

[code]

You might see the prefix being advertised for a while but after a few hours it just disappears.
Flapping th

[2021-02-01 20:34] ton31337 commented on #7997
Please show a full config. Please check this option http://docs.frrouting.org/en/latest/bgp.html#clicmd-[no]bgpnetworkimport-check. `show ip route 8.8.8.0/24` as well.

[2021-02-01 22:44] wesleycoakley commented on #7907
If you still haven't gotten this to work...

From your `configure` line I can see that you tell the linker to expect libraries to be available in the `/home/kal/lsdk/flexbuild_lsdk2004/build/rfs/rootfs_lsdk2004_ubuntu_main_arm64/usr/local/include` directory. This doesn't seem right because your headers are also in this directory.

Try adjusting `LDFLAGS` to point to the directory where you're inst

[2021-02-01 23:31] mwinter-osr commented on #7995
Testing it now...

[2021-02-02 00:22] mwinter-osr commented on #7995
Confirmed. Fixes this issue and a similar issue with IPv6

[2021-02-02 01:45] donaldsharp commented on #7989
@polychaeta autoclose 3 days

[2021-02-02 03:21] getabc opened #7999 "VXLAN: BGP EVPN with FRR over LTE"
Route reflector
- FRR 7.2.1
5.4.0-65

VTEPs
- FRR 7.5
- KERNEL 4.19.81

Can we use VXLAN BGP EVPN over private LTE?

When I have it running in my lab on a mixture of WLAN and LAN interfaces everything works fine. However, when I try to run in on our private LTE test lab it doesn't work. The customer has an L2 network sending small amounts of data around, and the LTE network only supports L3.

L2VP

[2021-02-02 10:08] gpnaveen opened #8000 "[OSPFv2 Routemap] Toggle of route map action from permit to deny is not working in ospf."
FRR VERSION
7.6-dev-20201104-01-g8c7e5b4f6

OPERATING SYSTEM VERSION
Ubuntu 16.04. / 18.04

KERNEL VERSION
4.19

Topo : R1 --ospf--R2

Steps:
1. Bring up the base config as per the topology

2. Create static routes(10.0.20.1/32) in R1 and redistribute to OSPF using route map
Verify that route is advertised to R2.

3. Configure route map with permit rule
Verify that route is advertised to R2.

4. C

[2021-02-02 10:11] rgirada commented on #8000
Hi,
I knew the root cause for it . I will raise PR for this.
Could you please assign this issue to me ?

Regards,
Rajesh.

[2021-02-02 12:30] pjdruddy commented on #7999
can you share the linux plumbing configuration, and maybe a quick topology sketch?

[2021-02-02 12:31] #7986 closed

[2021-02-02 12:57] riw777 commented on #7927
Okay -- good! let us know if you need more help.

[2021-02-02 12:57] #7927 closed

[2021-02-02 12:58] #7910 closed

[2021-02-02 13:21] taspelund commented on #7999
I'm with @pjdruddy. Understanding the interface/bridge config on the Linux side would be helpful here.

The TX drops on the vxlan interface make me suspect we don't have a route to the remote VTEP.
It would also be good to see whether routes have been learned for the EVPN next-hops:
`show ip route`

[2021-02-02 16:28] #7918 closed

[2021-02-02 17:48] getabc commented on #7999
When I manually create the fdb forwarding entry on nb2700-site-00x VxLAN works.

![test-network-diagram-v3 1](https://user-images.githubusercontent.com/6085468/106640441-e76b2780-653a-11eb-8907-6af323375cb1.png)

**nb2700-site-008**

[code]

[code]

[code]

[code]

**bgpd**

[code]

[code]

[code]

[2021-02-02 18:04] getabc commented on #7999
You are correct - when I manually create the fdb forwarding entry on nb2700-site-00x the vxlan interface will transmit data.

[2021-02-02 18:20] taspelund commented on #7999
Could you provide the following:
[code]

[2021-02-02 20:04] getabc commented on #7999
**Over LTE**

[code]

[code]

[code]

**Over WiFi**
_More devices active_
[code]

[code]
[code]

[2021-02-02 21:13] devious3 commented on #7975
You are referencing a 2 year old issue on a bug that was introduced since 7.5, I'm not following what your point is?

[2021-02-03 01:36] taspelund commented on #7999
Can you try `ip nht resolve-via-default` ?  It looks to me like the issue is that we aren't considering the Type 3 learned over LTE to be a remote VTEP because our only route to get to that peer is via the default route:
[code]

Whereas on wifi we have a connected /24 which is more specific than the default:
[code]

My guess is that we'll see the Type 3 get accepted by allowing next-hop tracking t

[2021-02-03 04:53] getabc commented on #7999
That worked perfectly - thank you so much!

The devices are working across the private LTE network.

[2021-02-03 14:25] taspelund commented on #7999
Excellent, that's great news!
And you're welcome, happy to help.

@polychaeta autoclose 1 day

[2021-02-03 15:05] donaldsharp commented on #7999
@polychaeta autoclose 1 day

[2021-02-03 16:43] skydevil56 commented on #7702
Hi!
Thanks a lot for job!
Please, merge it :)

[2021-02-03 20:33] #7919 closed

[2021-02-04 13:26] davischw opened #8014 "tools: generate_support_bundle.py written for use with old and busted Python version 2.x"
**Describe the bug**
The script ``tools/generate_support_bundle.py`` does not work with current python versions and is in dire need of some love. This is a problem in regards to the planned migration of topotests to python3, because some tests rely on this script.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Set u

[2021-02-04 17:51] #7989 closed

[2021-02-04 17:57] qlyoung commented on #7997
Typically, in software development, `master` is the branch used for active development. This means that it's liable to be broken in any number of ways, because we are actively working on this branch, merging new code regularly.

Yes, 7.5 is what we call a "release" in software. This means we think it's sufficiently functional to recommend for actual use.

Thanks for your report, please provide the

[2021-02-04 21:42] c-po opened #8016 "Leaking route from PBR table to specific VRF misses whitespace and can not be deleted with frr-reload"
**Describe the bug**

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

When calling `show run` this will result in
[code]

Missing whitespace after the table id, this prevents frr-reload.py to execute properly - as deleting will thrown "Unknown command":

[code]

**Expected behavior**

[code]

**Screenshot

[2021-02-04 22:35] qlyoung commented on #7185
http://docs.frrouting.org/projects/dev-guide/en/latest/cross-compiling.html#toolchain-preliminary
Hope this helps

[2021-02-04 22:35] #7185 closed

[2021-02-04 22:36] qlyoung commented on #7907
@polychaeta autoclose in 1 week

[2021-02-04 22:38] qlyoung commented on #7982
If possible, please take a perf recording and post the results here.
https://github.com/FRRouting/frr/wiki/Perf-Recording

You can leave nonconstructive comments out in future issues.

[2021-02-04 22:45] qlyoung commented on #4054
Well, we did ship ppc64el packages at some point, so I guess we can close this :)

[2021-02-04 22:45] #4054 closed

[2021-02-04 22:59] andylemin commented on #7897
Hi. Not directly related, but similar to the dependency for BGP to be setup first before BMP; On the recent builds I have discovered that FRR will not accept BMP commands in etc/frr/bgpd.conf before BGP commands.

For example you cannot declare;

bmp targets BOCS
bmp monitor ipv4 unicast post-policy
bmp connect 10.10.255.100 port 1800 min-retry 1000 max-retry 720000

before

bgp listen limit 5000

[2021-02-05 10:43] ton31337 commented on #7871
Verified by @kssoman. Talked in Slack.

[2021-02-05 10:43] #7871 closed

[2021-02-05 21:50] terenceyfung opened #8024 "Dynamic neighbor 'remote-as' command NOT saved in configuration file when 'peer-group' is used"
I used 'peer-group' for dynamic BGP peering. I am using integrated-vtysh-config.

Host-1 (Server)  [mGRE tunnel IP: 172.22.22.101]
-----------------
[code]

Host-2 (Client) [mGRE tunnel IP: 172.22.22.1]
----------------
[code]

Note-1
--------
I have to add this line first. Otherwise, the following line will prompt a warning:
`% Specify remote-as or peer-group commands first`

The configuration ab

[2021-02-05 22:11] hasan-brcm commented on #6523
@donaldsharp, can you please reassign this issue to the right owner who is working on the fix? If no one is currently working, you can reassign to me to take care of the fix.

To summarize the soln discussed on 2/2 community call, it was decided to keep the snapshot of dynamic(listen-range) neighbors in a file in /var/run directory and attempt to reconnect to them after bgpd comes up if GR & prese

[2021-02-06 04:59] terenceyfung commented on #8024
Operating System: Ubuntu 18.04.5 LTS
Kernel: Linux 4.15.0-126-generic
FRR version: 7.5
Attached frr.conf (renamed as .txt) for Host 1 (Srv0) and Host 2 (Srv1).

[host1_frr.txt](https://github.com/FRRouting/frr/files/5936281/host1_frr.txt)
[host2_frr.txt](https://github.com/FRRouting/frr/files/5936283/host2_frr.txt)

[2021-02-07 00:29] cheesy63 commented on #5344
I am seeing a similar error with **FRR 7.6.0** and **libyang 1.92.**   I have built libyang with **cmake -DENABLE_LYD_PRIV=ON**
as directed by the configure script.    I also verifed that the symbols listed below exist with the libyang library.  Any help would be greatly appreciated.  I am cross-compiling to **gcc5.3.0-X86_64**

[code]

[2021-02-07 02:34] Prolixium opened #8029 "readline 8.1 bracketed paste breaks pasting in vtysh"
It looks like the backeted paste that's now enabled by default in the readline 8.1 release[0] breaks pasting of multi-line configuration commands into vtysh on FRR.  For example, if I want to paste in the following config:

[code]

The pasted text colors are inverted in the terminal and newlines are not treated as newlines, so after pasting and then hitting enter vtysh thinks all three lines are p

[2021-02-07 06:44] ton31337 commented on #7921
Ah, I forgot. I'll try testing with your configuration.

[2021-02-08 00:21] qlyoung commented on #8029
Thanks for filing this issue.

[2021-02-08 06:08] #7999 closed

[2021-02-08 11:17] vnpraveendesu commented on #1006
@donaldsharp
  Handling of external route support is added in the FRR EIGRP code? If not,  any suggestions what is involved in adding this support. I have some understanding of FRR EIGRP code. I can look into adding this support, but will need some pointers to get started.

[2021-02-08 12:07] m-varasteh opened #8037 "lib: invalid return code for errors in filter commands"
returning a `CMD_WARNING` could cause vtysh to exit with wrong exit code( 0).

[code]

[2021-02-08 14:18] chris-tof commented on #6276
Hello all.

Amollad, do you succeed to implement this functionality ?

Hope all of you are all right.

Chris

Le dim. 20 déc. 2020 à 08:25, Christophe BASQUIN <
christophe.basquin@gmail.com> a écrit :

[2021-02-08 16:18] liuxyon commented on #3652
frr 7.5 in ubuntu 20.10 still show this in system log.

watchfrr.sh: Cannot stop zebra: pid file not found
watchfrr.sh: Cannot stop staticd: pid file not found
 watchfrr.sh: Cannot stop bgpd: pid file not found

[2021-02-08 16:21] donaldsharp commented on #8016
this looked fixed in versions 7.4 and beyond.

[2021-02-08 16:21] donaldsharp commented on #8016
@polychaeta autoclose in 3 days

[2021-02-08 19:33] qlyoung commented on #5344
Usually this happens when you compiled with the correct headers and then tried to link against the wrong headers. Is it possible you have an old version of libyang installed?

[2021-02-09 07:37] gpnaveen opened #8043 "[FRR BGP Peer Group] Neighbor using Ipv6 link local with peer-group is throwing yang error in frr 7.6"
- FRR VERSION = 7.6-dev-20210121-00-g7bc18ac87
- OPERATING SYSTEM VERSION = Ubuntu 18.4
- KERNEL VERSION  = 4.19

Below configuration is throwing yang error:

[code]

Error seen :

`% Failed to edit configuration.
YANG error(s):
 Value "fe80::d840:b6ff:fe69:f27b" does not satisfy the constraint "1..16" (range, length, or pattern).
 Value "fe80::d840:b6ff:fe69:f27b" does not satisfy the constraint

[2021-02-09 09:41] mobash-rasool commented on #7313
#7961

This is done and merged.

[2021-02-09 09:41] #7313 closed

[2021-02-09 15:57] odd22 commented on #7926
After many hours of test, I hope that I have found a beginning of explanation. It seems that the reason is a slow election process of DR and Backup DR for broadcast interfaces. Note that the same problem occurs with the simple ospf-sr-topo1 test.

Apparently, when DR election took too many times, the DR router sends lately its Router Information Opaque LSA as well as Extended Link & Prefix Opaque

[2021-02-09 19:04] dteach-rv opened #8049 "FRR doesn't support RFC 8050 for add-path formatted MRT dumps."
Hello,

It appears that with the added support of bgp-add path to FRR, MRT dumps of add-path enabled peers are now producing garbage.  Is this due to the fact that, bgp_dump.c doesn't do any validation of the bgp packet stream before writing out to the file.  RFC 8050 addresses add-path enabled peers, frr just needs to adopt the updated format based on negotiated add-path capability.

Steps To Rep

[2021-02-09 22:32] taspelund commented on #7730
I submitted https://github.com/FRRouting/frr/pull/8050 for this.  When the PR gets merged this issue should be fixed.

[2021-02-10 09:01] #8029 closed

[2021-02-10 10:22] ton31337 commented on #7921
@Napsterbater you are now able to install those packages, already added into the repo.

[2021-02-10 18:36] odd22 commented on #7926
Finally, after deep investigation, the problem occurs when Router Information Opaque LSA is received late, in particular after SPF run and after ospf_sr_nhlfe_update() was called. This scenario is unfrequent and takes place due to a slow DR election.
In this particular case, SR Prefix are handle but not fully fill. In fact, SRGB for the nexthop is not yet received and thus, output label could not

[2021-02-11 00:10] qlyoung commented on #8024
For the first part:
[code]
This line is redundant, as the peers within a peer group always inherit the AS of the peer group and can't override it. So this config line won't be persisted as defaults aren't written to the config.

You explained that you have to enter this line, lest you get a warning, but I don't see this behavior on current master:
[code]

For the second part, when I restart FRR I

[2021-02-11 00:15] qlyoung commented on #8037
Are you planning to submit a patch for this or should we?

[2021-02-11 03:21] Napsterbater commented on #7921
`sudo apt install frr-rpki-rtrlib-dbgsym frr-dbgsym`
Was successful.

### Crash1
[code]

### Crash 2
[code]

### Crash 3
[code]

[2021-02-11 04:49] m-varasteh commented on #8037
I've already did.

https://github.com/FRRouting/frr/pull/8039

[2021-02-11 06:46] ton31337 commented on #7921
@Napsterbater that sounds much better. One last thing to ask you :) `gdb -ex 'bt full' --batch /usr/lib/frr/bgpd /var/crash/crash3/CoreDump`.

[2021-02-11 07:09] Napsterbater commented on #7921
Here is the output for all three.

[crash1.txt](https://github.com/FRRouting/frr/files/5963514/crash1.txt)
[crash2.txt](https://github.com/FRRouting/frr/files/5963515/crash2.txt)
[crash3.txt](https://github.com/FRRouting/frr/files/5963516/crash3.txt)

[2021-02-11 07:14] ton31337 commented on #7921
Thanks.

[2021-02-11 11:29] ton31337 commented on #7921
OK, this sounds like a prefix with the wrong attributes is handled. I need more context here. It looks like it's originated locally and then crashes when handling next-hop. That could be due to `import vrf` maybe. I pinged you in Slack, please provide me the details I asked you.

[2021-02-11 16:21] #8016 closed

[2021-02-11 21:14] qlyoung commented on #7975
I just want to be very clear here. If you are running our development branch in production - good luck. While we do code reviews and have tests, we still can, will and do frequently break that branch. That's why it is a development branch. If you want something stable, use a release.

[2021-02-11 21:15] ton31337 commented on #7921
I managed to replicate this. This is as my first thought was (due to import vrf).

[2021-02-11 21:44] dteach-rv commented on #8049
Pull request.
https://github.com/FRRouting/frr/pull/8066

[2021-02-11 22:36] #7907 closed

[2021-02-12 01:03] Napsterbater commented on #7921
Just copying some info from the slack convo.

[debug.log](https://github.com/FRRouting/frr/files/5969183/debug.log)
[show bgp vrf dn42 summary.txt](https://github.com/FRRouting/frr/files/5969184/show.bgp.vrf.dn42.summary.txt)
[show bgp ipv6 unicast.txt](https://github.com/FRRouting/frr/files/5969187/show.bgp.ipv6.unicast.txt)

[2021-02-12 02:08] liuxyon opened #8069 "FRR causes very full CPU"
I use frr 7.5 in pfsense2.5(freebsd 12.2) system, It takes up a lot of CPU resources. When I stop the FRR service, the resources are released.
talk about at https://forum.netgate.com/topic/160155/running-frr-high-netstate-cpu-usage-in-pf2-5/19

and i use frr 7.5 in ubuntu 20.10, when i use  service integrated-vtysh-config mode, Will take up a lot of memory and CPU.
But when I do not use service in

[2021-02-12 18:33] #8037 closed

[2021-02-12 20:47] qlyoung commented on #6568
The issue described here is fixed by #8067

[2021-02-13 00:02] qlyoung commented on #7897
I did that with an admin shutdown (`neighbor foo shutdown`) and after I removed it and the session re-established it started working again as expected. However, deleting the peer entirely and bringing it back does do the behavior you described.

[2021-02-15 05:09] #7527 closed

[2021-02-15 13:11] #6568 closed

[2021-02-15 16:07] mruprich opened #8086 "-diag-disable and -diag-error compilation error"
I was building frr-7.5 in Fedora and with the new gcc11 I've hit an interesting issue with gcc options -diag-disable and -diag-error. First of all, to be honest, I cannot find much about these options but it seems like gcc does not know them(at least on Fedora it doesn't). When running the configure script, -pthread works as a flag to link pthreads library. With the new gcc, I've received this bui

[2021-02-15 17:05] c-po commented on #5424
The issue still persists in FRR 7.5. Given

[code]

[code]

[2021-02-15 17:13] c-po opened #8087 "Daemon bfdd is not a valid option for 'show running-config'"
**Describe the bug**

When trying to implement FRR reload support for BFD daemon this errors out with `Daemon bfdd is not a valid option for 'show running-config'`

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

[code]

**Expected behavior**

Reload would work.

**Versions**

 - OS Version: Debian 10

 -

[2021-02-15 17:41] GalaxyGorilla commented on #7926
@odd22 Again, thank you so much for investing all the time and effort into this issue! I ran my tests locally and never ran into this issue again, hence I consider this issue being fixed.

[2021-02-15 17:41] #7926 closed

[2021-02-15 19:03] mjstapp commented on #8086
Can you try the small patch in #8091 and see if it helps with gcc11?

[2021-02-15 20:23] mruprich commented on #8086
Works like a charm. Thanks for the quick fix. You can close this together with the PR.

[2021-02-16 00:11] #8086 closed

[2021-02-16 01:28] andylemin commented on #7897
Hi @qlyoung Ahh good point. Sorry I should have clarified that for me, the "BGP reset" was a result of broken TCP connections though a firewall. Which constitutes a full tear down of the BGP neighbor etc.

Looking through the bgp_bmp.c code, it looks like the BGP neighbors are discovered by bgp_node_lookup() in bmp_wrsync() and bmp_wrqueue(), which are called only after case 'BMP_Run'.

From what

[2021-02-16 09:52] gpnaveen commented on #7895
To reproduce this issue, please run scripts from this PR : #7096

[2021-02-16 19:23] qlyoung commented on #8069
I don't see any indication from that thread that FRR is causing the high cpu usage. Maybe I missed it.

By the way, you keep opening these issues and the quality of your reports is very low. Almost none of the issues provide the information requested in the bug report template and it's often unclear what problem you are reporting. Please improve your reports as we have a lot of them to go through

[2021-02-16 19:46] ton31337 commented on #7921
Fixed in master, backported to 7.5, but not yet released as .deb. I believe soon you will have a new release.

[2021-02-16 20:02] AnuradhaKaruppiah opened #8097 "evpn: improve fwd_info handling in zebra_evpn_mac"
- OS Version: ubuntu-18.04
 - Kernel: 5.4.0-65-generic #73~18.04.1-Ubuntu
 - FRR Version: 7.5

The fwd_info field in zebra_evpn_mac is being cleared (via memset) in a few places. This needs to be changed to a cleanup-api (instead of the memset) to allow addition of new fields like a back-ptr (and links) to the access-port.

I am using this ticket to track LACP-bypass related changes needed for EVP

[2021-02-16 20:11] mjstapp commented on #8014
Should be fixed by #8015

[2021-02-16 20:11] #8014 closed

[2021-02-17 14:26] ton31337 commented on #7921
@polychaeta autoclose in 2 days.

[2021-02-17 14:29] idryzhov commented on #6881
@m-varasteh fixed in https://github.com/FRRouting/frr/pull/8048

[2021-02-18 06:08] shrikantdaigavane commented on #3349
@qlyoung - can you help me with PR or any other references which fixes this issue? Can you help me with a document/testcases that has covers routing convergence performance of FRR for a reference platform  ( say  per release for a 4 core intel cpu running Debian/Ubutu version). -Shrikant

[2021-02-18 07:34] #7887 closed

[2021-02-18 07:38] #2473 closed

[2021-02-18 07:40] #4928 closed

[2021-02-18 08:34] vishaldhingra commented on #7975
RCA :

router bgp 100
neighbor congent peer-group >>> This command will create the dnode for peer-group
neighbor congent remote-as 174 >>> This command will set the remote-as under peer-group
Till this point every thing is correct.
neighbor 70.0.0.2 peer-group congent >>> Problem started, here data tree is not set properly.

[code]

dev(config-router)# neighbor 70.0.0.2 description sadf
% Specify

[2021-02-18 10:48] WenceyWang commented on #7738
Is there any update on this issue?

[2021-02-18 14:03] mjstapp commented on #3349
this is an old, closed issue: I don't think there are any performance problems with the dataplane infrastructure currently.

[2021-02-18 16:47] sglaus opened #8109 "IPv6 recursive static route that resolves to another static with a directly-connected nexthop rejected by kernel"
---------------

**Describe the bug**
Using FRR 7.5.

I have an IPv6 static route configured (2::1/128):
[code]
[code]
The routes to 2::1/128 have been configured with nexthop interfaces. If I now configure another static route, and use 2::1/128 as the nexthop, it is rejected by the kernel:
[code]
...and I see these errors in the log:
[code]
If I re-configure the 2::1/128 static, and configure nex

[2021-02-19 13:27] Naweap opened #8113 "When will Debian 11 (Bullseye) be supported ?"
Hi,

Simple question.

When will Debian 11 (Bullseye) be supported and deployed to the APT repository ?

Thanks in advance.

[2021-02-19 14:14] #8113 closed

[2021-02-19 14:26] #7921 closed

[2021-02-19 14:28] KaushikNiral commented on #7035
@marcioelias sorry for late reply.
my kernel version  Debian 4.19.114-0vyatta2 , I am using DANOS2005. I didn't find any crash actually.

Thanks,

[2021-02-19 19:30] cardosocristian commented on #6378
@mwinter-osr I have this problem of ospfv3 service crash with Juniper routers.
At that moment I have no config running, but when there was it was as follows

ospf6 router
  ospf6 router-id 1.1.1.1
  lo0 area interface 0.0.0.0
  ixl0 area 0.0.0.0 interface
  interface ixl1.901 area 0.0.0.0
  interface ixl1.902 area 0.0.0.0
  interface ixl1.912 area 0.0.0.0
  interface ixl1.916 area 0.0.0.0
!

I had

[2021-02-19 20:04] brotherdust commented on #2236
@maduri111 , just wanted to check in with you again. Are you ready to give me access so I can start working on docs? Very eager to get this feature into FRR as I have a very good use-case for it.

Please let me know. Thanks!

[2021-02-20 10:13] kaN5300 opened #8118 "systemd start issue with 7.5-0~deb10 package under Debian Proxmox LXC container"
When installing by steps from https://deb.frrouting.org/ getting issue with starting daemon via systemctl. Host system is PVE 6.3-3. FRR is installed inside LXC container.

[code]

[code]

`sudo systemctl start frr`

[code]

frrinit.sh running by hand working fine:

[code]

[2021-02-20 13:30] liuxyon commented on #8069
Because when I stop FRR running, the CPU returns to normal. In the freebsd pfsense system, the operation of FRR causes netsat to occupy high CPU.

last pid: 43434;  load averages:  7.58,  7.44,  6.71

[2021-02-20 14:31] donaldsharp commented on #8069
Have you talked with the people who write netstat?  The FRR community has no insight into what netstat is doing or why it is behaving the way it does.

[2021-02-21 15:00] vecinohk opened #8122 "[OSPFv2] - vtysh "show ip ospf interface" passive interface (not all)"
**Describe the bug**

* Is it cosmetic "bug" but if using via vtysh `show ip ospf interface` ... I don't only see active interfaces, but there are also two passive interfaces. I think only ospf active interfaces or all + including passive  ones should be displayed here.

**To Reproduce**

vtysh `show ip ospf interface`

**Versions**

 - OS Version: Debian Bullseye

 - Kernel: 5.10.0-3

 - FRR Vers