[2022-02-06 03:32] whichbug opened #10507 "isisd: overflow bugs in unpack_tlv_router_cap"
https://github.com/FRRouting/frr/blob/18ed776ca29533f6c49479b1a0dd95d36bb6b5ec/isisd/isis_tlvs.c#L3004-L3114

There are a few issues in the loop above leading to overflow vulnerabilities. The loop condition is `subtlv_len > 2` and `subtlv_len` is updated at the end of the loop (Line 3113: `subtlv_len = subtlv_len - length - 2`).

**The Issue on Loop Condition**: at Line 3113, when we update `subtl

[2022-02-06 04:13] whichbug commented on #10507
**Issues on stream_forward_getp**: Also in the loop shown above, at Line 3015, Line 3020, Line 3045, Line 3054, Line 3061, Line 3066, Line 3097, Line 3107, and Line 3110, when we call `stream_forward_getp(s, length)`, there is no check whether `s + length` exceeds the bound of the stream, thus causing assertion failures in `stream_forward_getp`.

[2022-02-06 04:24] whichbug commented on #10507
**Issues on stream_get**: Also in the loop shown above, at Line 3049, when we call `stream_get`, we do not check if enough data are available in the buffer, which will cause overflows...

[2022-02-06 04:44] whichbug commented on #10507
**Integer overflow bugs**: Also in the loop shown above, at Line 3043 and Line 3090, when we do the operation `size = length - (size + SUBTLV_SR_BLOCK_SIZE)`, integer overflows often happens, when `length < size + SUBTLV_SR_BLOCK_SIZE`. Both `length` and `size` are of uint8_t, making the overflow happen frequently...

[2022-02-06 04:53] whichbug commented on #10507
*Heap overflows*: Also in the loop shown above, at Line 3031 and Line 3078, the operation `stream_getl(s)` is valid only when `length = 10` but `length` may be `9`...

[2022-02-06 13:29] birdofprey commented on #10344
两台或多台Linux主机能在网络层面有类似CISCO的 Vpc，华三的IRF，华为的CSS或者ISTACK技术实现。那第一跳网关协议的自由开源版就算是更好玩一点点啦[微笑][微笑][微笑]

[2022-02-06 17:55] #10487 closed

[2022-02-07 00:11] kenji-osr commented on #10493
Frrouting version 4

[2022-02-07 15:11] qlyoung commented on #10507
Hi! Are you fuzzing or auditing manually?

[2022-02-07 15:24] whichbug commented on #10507
Hi, I am using FRR in one of our projects and trying to test its reliability. You can regard it as a kind of testing.

I carefully went through every problem I found and reported the issue only when I thought it is really a problem. I also tried to propose fixes as I also want to make contributions to FRR's community.

[2022-02-07 16:20] qlyoung commented on #10507
Yes, your reports are good quality and appreciated. I'm just curious what techniques you're using to find the issues. Are you part of a group? Others seem to be reporting the same type of issues recently.

[2022-02-07 17:25] idryzhov commented on #10507
Please check PR https://github.com/FRRouting/frr/pull/9850.
I believe most of the reported issues are solved there. Or even all of them.
The PR is finished and the code is approved, but unfortunately it breaks some of our tests so it was not merged.
I believe the tests could be wrong and should be fixed so it would be great if you look into that.

[2022-02-07 18:14] whichbug commented on #10507
Thanks very much. That patch is helpful for me.

[2022-02-07 18:33] ewlumpkin commented on #10258
New pull request for fix with verbose commit message.

https://github.com/FRRouting/frr/pull/10519

[2022-02-07 19:01] udf2457 opened #10520 "Default /var/log/frr directory permissions need fixing"
When installed via the frr repo (in my case  https://deb.frrouting.org/frr bullseye stable), the directory permissions as setup by the package are a bit weird.

You have:

- Directory `/var/log/frr` as _750 frr:frr_
- Logfile `/var/log/frr/frr.log` as _640 root:adm_

Do you see the problem ?

Its all a bit pointless giving _adm_ read permissions if it can't even get to the file.

IMHO the parent d

[2022-02-07 21:11] cli0 opened #10523 "How to show rpki status of prefix in the command line?"
I have an frr setup with rpki enabled and successfully connected to an RP. However, I don't know how to show the status of my prefix (valid/invalid/notfound). When running `show rpki prefix <prefix>` the result only shows `Prefix | Prefix-Length | Origin-AS` nothing about the status. Is it possible to get this information and if yes what command should I use?

I am running FRR 8.1 on Ubuntu 20.04.

[2022-02-07 21:18] donaldsharp commented on #10523
`show bgp ipv4 rpki [valid|invalid|notfound]'

Additionally http://docs.frrouting.org/en/latest/bgp.html#displaying-rpki

[2022-02-07 21:19] donaldsharp commented on #10523
@frrbot autoclose in 1 day

[2022-02-08 02:03] kaiw opened #10525 "BGP default-originate route-map last-as does not work"
**Describe the bug**

`default-originate route-map` does not work with `last-as`

The fix in #8840 does indeed work so that e.g.,
[code]
works. However, doing the same with the `last-as` syntax e.g.,
[code]
does nothing (and gives no error). This was both tested with an FRR peer (running 7.5.1), and also confirmed using `tcpdump`.

[x] Did you check if this is a duplicate issue?
[ ] Did you test i

[2022-02-08 02:17] taspelund commented on #10525
What AS do you expect to be prepended here?
When you use `default-originate` you are creating + advertising a brand new prefix, i.e. the AS-Path is empty at this point.  If the "last-as" is null, what should we be prepending with?

[2022-02-08 04:45] #10462 closed

[2022-02-08 13:41] idryzhov commented on #10507
https://github.com/FRRouting/frr/pull/10517 is now merged, could you please check if it fixes all reported issues?

[2022-02-08 15:10] #10502 closed

[2022-02-08 15:10] #10503 closed

[2022-02-08 16:07] whichbug commented on #10507
Yes, I think all are fixed. This issue can be closed. Thanks for your great efforts!

[2022-02-08 16:10] whichbug commented on #10505
@idryzhov Could you also have a look at this issue?

[2022-02-08 16:13] odd22 commented on #10361
This is a good news that SR-TE policy when mpls-te is configured as p-t-p.

Now regarding the trouble with the SR-Policy, it is normal. I mean that using SID to describe the SR path, means that this SR path is loose. Indeed, if a router along this SR Path failed, previous router will take an appropriate action to re-route the packet up to the next valid router on the SR-Path. This could conduct in

[2022-02-08 16:19] odd22 commented on #10493
Hum, this let us think that it is an old bug. FRR is currently version 8.x. Can you check that you could reproduce the same problem with the latest version of FRR ?

In addition, can you provide the configuration of R1 & R2 ? I'm suspecting a wrong configuration on one side letting to only half of the adjacency fire up. Typically, check that MTU, network type (point-to-point or broadcast) of the i

[2022-02-08 16:23] idryzhov commented on #10507
Thanks for reporting!

[2022-02-08 16:23] #10507 closed

[2022-02-08 18:31] #10453 closed

[2022-02-08 19:06] #10422 closed

[2022-02-08 19:15] #9775 closed

[2022-02-08 21:15] chiragshah6 commented on #10461
https://github.com/FRRouting/frr/pull/10539

[2022-02-09 02:20] #10361 closed

[2022-02-09 07:16] ton31337 commented on #10421
@frrbot autoclose in 1 week.

[2022-02-09 11:04] pguibert6WIND commented on #6623
can we close this ticket ?

[2022-02-09 17:56] #10404 closed

[2022-02-09 20:25] fett0 opened #10548 "FRR 8.1 - frr-reload fails for bmp "Unknown command""
---------------

**Describe the bug**

when configuring BMP it was a notice that when loading the configuration doesn't load correctly a show a issues,  frr-reload.py will throw an error:

[code]
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Load the following config via frr-reload.py , first, you need to have enab

[2022-02-09 21:31] brotherdust commented on #2236
@maduri111 , just doing my usual check-in. You committed to this feature quite a while ago. I understand your time is limited and valuable, so if it's not going to happen and you want me to stop bothering you, please say so.
Thank you!

[2022-02-09 22:58] idryzhov commented on #10505
Hi @whichbug, I checked the issue. The problem here is that we're trying to represent binary data as a simple string, which is wrong.

The only correct solution here would be to implement new function `yang_data_new_binary(const char *xpath, const char *binary, size_t len)` which will create a correct textual representation of YANG binary data, which is Base 64 Encoding.
I probably won't find time

[2022-02-09 23:04] whichbug commented on #10505
Hi, @idryzhov  thanks for your reply. I think your idea makes sense and I will try.

[2022-02-09 23:54] idryzhov commented on #10523
Looks like the bot doesn't follow the interval... @qlyoung could you check?

[2022-02-09 23:54] #10523 closed

[2022-02-10 06:52] maduri111 commented on #2236
@brotherdust No you are not bothering, Thanks for checking the status.
As of now, CLI, Zebra,ospf and bgp interaction, route table modification in route-reflector based on active root is working fine.
Also addressed comments posted in https://github.com/FRRouting/frr/pull/9002

Separate BGP tables creation(for different ORR groups and non ORR groups) and topo tests creation pending.
Resumed workin

[2022-02-10 06:54] kenji-osr commented on #10493
I can't upgrade to frr 8. This error occured in our production network.
Network type is point to point. I already check configuration there is no missmatch config.

[2022-02-10 13:04] slankdev commented on #5853
It's merged.
Let me close.

[2022-02-10 13:12] #10548 closed

[2022-02-10 14:21] xkubee commented on #10251
@riw777
@donaldsharp

when the change happens, will it be moved to the "stable/8.1" branch?

I see that there are data changes only in the "master" branch.

[2022-02-10 16:46] fdomain opened #10559 "Unable to filter EVPN type 5 routes with ip prefix-list"
---------------

**Describe the bug**

In a L2VPN EVPN setup, when trying to filter EVPN type-5 routes with an ip/ipv6 prefix-list, it drops everything.

[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Consider the following EVPN type 5 route received on the FRR instance
[code]
Here is a basic configuration:
[code]
R

[2022-02-10 16:48] brotherdust commented on #2236
Thank you for responding so quickly; and thank you for the link to the pull request. Do you think there's enough to get started on the docs?

[2022-02-10 16:55] maduri111 commented on #2236
@brotherdust better to start after completing "separate BGP tables creation(for different ORR groups and non ORR groups)"

[2022-02-10 18:01] punithkumar-spk opened #10560 "bgpd: uninitialized compiler warning"
Build warning: 'label' may be used uninitialized in this function bgpd/bgp_mplsvpn.c alloc_new_sid
---------------

**Describe the bug**

Build warning: 'label' may be used uninitialized in this function bgpd/bgp_mplsvpn.c alloc_new_sid

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

- Build any latest frr with --en

[2022-02-10 18:21] qlyoung commented on #10560
Since you have the fix, would you mind submitting a pull request for it? We'd really appreciate it!

[2022-02-11 03:10] rameshabhinay commented on #8804
Changes are merged to master branch. Closing the issue.

[2022-02-11 03:10] #8804 closed

[2022-02-11 04:31] whichbug commented on #10505
Sure. Many thanks!

[2022-02-11 06:51] asdfjkluiop opened #10567 "RIPng not converging when interface stays up"
**Describe the bug**
When running ripng with multiple paths to the same address a failure of one upstream router which does not result in a local interface going down causes refreshes of the route even though the announcements are coming from a different interface. For example, if I have interface A and interface B both which announce routes to 2001:db8::cafe:babe, if the router attached to interf

[2022-02-12 12:57] liuxyon commented on #10421
i have try ipv6 prefix-list ipv6in seq 115 deny ::/0 and set ipv6 next-hop global 100::, it is still route out.

ipv6 prefix-list ipv6in seq 105 deny ::1/128
ipv6 prefix-list ipv6in seq 110 deny ::/128
ipv6 prefix-list ipv6in seq 115 deny ::/0
ipv6 prefix-list ipv6in seq 120 deny 3ffe::/16 le 128
ipv6 prefix-list ipv6in seq 130 deny 2001:db8::/32 le 128
ipv6 prefix-list ipv6in seq 140 permit 2001:

[2022-02-13 00:47] kaiw commented on #10525
I'm very willing to believe that I'm misunderstanding the configuration, and I omitted some config for brevity, but with the `neighbor` in e.g., a `router bgp 65000` block, the AS-path advertised is `65000`.

This is consistent with the behaviour of e.g., `set as-path prepend 65000 65000 65000` which (assuming a `router bgp 65000` block)  will give a path of `65000 65000 65000 65000` (see [test_bg

[2022-02-13 23:01] svlobanov opened #10574 "Cross-platfrom build (build=darwin, target=linux) is not possible due to using libelf"
Hello, FRR developers

After FRR starts using libelf for build purposes (commits https://github.com/FRRouting/frr/commit/9e6c14a46b437187b99c8f1233a08d2f2ee0b9b9, https://github.com/FRRouting/frr/commit/5609b3af497c44d980aad2bc7d6332dedd7974e7 and some other commits), it is not possible to build FRR on macos. Previously it was possible using GCC Toolchain with target=Linux.

MacOS doesn't have lib

[2022-02-14 20:36] alberts-s opened #10578 "frr-vrf:lib request via northbound gRPC leads to SIGABRT"
**Describe the bug**
Making a request via gRPC with path `/frr-vrf:lib` to Zebra leads to SIGABRT due to failure in yang_dnode_edit.
Only gRPC seems to be affected - VTYSH works as expected and prints output via `show yang operational-data /frr-vrf:lib`.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
1. Compile FRR

[2022-02-14 21:05] donaldsharp commented on #10574
https://ports.macports.org/port/libelf/

https://formulae.brew.sh/formula/libelf

I haven't tried either but both seem to be supported to some extent

[2022-02-14 23:13] svlobanov commented on #10574
@donaldsharp it is another libelf (at least, this libelf is unsupported, normal libelf is a part of elfutils project), but I will try this one

[2022-02-15 08:57] xkubee opened #10581 "bgpd: option "as-path prepend" does not work"
Option "as-path prepend" does not work.

 - OS Version: Debian 9

 - Kernel: 4.9.0-11-amd64

 - FRR Version: 8.1 stable (also tested on 8.3~dev)

Stand layout:

![Снимок](https://user-images.githubusercontent.com/55625869/154026605-cb739a19-0104-46ba-a871-4cc105e2d2fd.PNG)

If GW1 has a route to the 10.1.0.0/30 network (10.1.0.0/30 via 10.0.0.2), then
it is necessary to transmit the route to 10.10

[2022-02-15 12:43] ton31337 commented on #10581
It's not possible at the moment with the current implementation to set any attributes with advertise-map.

[2022-02-15 13:22] xkubee commented on #10581
@ton31337, thanks for the answer!
Could you please indicate this in the documentation? This is very important for us.

[2022-02-15 15:46] dereddy93 commented on #10567
I'm using the Docker Image `frrouting/frr:v8.0.1` and running into the same issue.

[2022-02-15 16:27] ton31337 commented on #10581
Are you able to test compiled version? https://github.com/FRRouting/frr/pull/10585

[2022-02-15 16:43] punithkumar-spk commented on #10560
@qlyoung Ok, I will work on it to raise pull request

[2022-02-15 18:50] fedepaol opened #10587 "Docker images on quay are not multiarch"
Hi, we got a report from a metallb user that the images on quay are not published as multi arch manifests (in particular, the `stable_7.5` tag we are using).
We could switch to dockerhub, but using quay bypasses the pull limitation that docker currently has.

Would it be possible to enable that on quay too? Thanks!

[2022-02-15 18:50] fedepaol commented on #10587
Relates to https://github.com/metallb/metallb/issues/1216

[2022-02-15 19:08] punithkumar-spk opened #10588 "RIP packets are not being sent out of Interface while configured with multiple IPv4 address"
RIP packets are not being sent out of Interface with multiple IP address
---------------
Network topology:
    R1[int1]-------[alias-int]R2

**Describe the bug**

- Ripd does not send updates on interface configured with multi address(using it as alias interface setup)

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[2022-02-15 20:28] EasyNetDev opened #10589 "BGP: peer-group doesn't accept local-as if remote-as is already added"
---------------

**Describe the bug**

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

If the BGP peer-group you try to set the same AS for local and remote but the remote-as command is sent before local-as, you can't set local-as anymore.
Example of commands:
[code]

Output:
[code]

But if I'm adding local-as first

[2022-02-15 21:16] ton31337 commented on #10560
Already fixed by https://github.com/FRRouting/frr/pull/10586

[2022-02-15 21:16] #10560 closed

[2022-02-15 21:28] donaldsharp commented on #10589
I suspect this is a case where FRR is not properly spitting out a failure case here as that I found code paths with errors not properly handled.  I will have a fix shortly

[2022-02-16 05:27] punithkumar-spk commented on #10588
But we also see another issue.
When multiple aliases are configured, RIP updates are being sent on all the aliases configured under the interface and not just only the subnet which is enabled for RIP.

[2022-02-16 08:14] xkubee commented on #10581
Yes, of course, I tested this version.

Packages from: https://ci1.netdef.org/browse/FRR-PULLREQ2-3472/artifact/shared/Debian-9-%28Stretch%29-x86_64-Packages/

The configuration and scheme are listed above.

GW1# show ip bgp
BGP table version is 3, local router ID is 192.168.1.1, vrf id 0
Default local pref 100, local AS 64000
Status codes:  s suppressed, d damped, h history, * valid, > best, = mu

[2022-02-16 09:59] ton31337 commented on #10581
Not sure about 8.1, since this is more like "a feature"... And even 8.2 is almost released, which won't have this. We will discuss.

[2022-02-16 11:17] xkubee commented on #10581
Well, thanks for the answer!
I am very much waiting for a decision on the issue of transferring this feature to the release.

[2022-02-16 14:26] plsaranya opened #10595 "PIM (S,G,I) loser is not removing the OIL from the route"
Describe the bug

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

To Reproduce:
            R1
         /        \
      R2         R3
       |            |
      ___________
      |             |
      R4         R5

In the above topology Source is coonected to R1. R4 and R5 has one receiver each.  Vlan1009 is a lan segment attached

[2022-02-16 14:44] elirun20 opened #10596 "AS202468"

[2022-02-16 14:46] donaldsharp commented on #10596
@frrbot autoclose in 1 day

[2022-02-16 14:58] donaldsharp commented on #10588
please open a separate issue then

[2022-02-16 16:44] #10589 closed

[2022-02-16 19:06] tweippert commented on #8447
Think i run into the same issue, but with test on SRv6 IPv6 L3VPNs:

[code]
but i need to reconfigure the vpn nexthop to function again:

[code]
seems the rd/rt informations are correct. i'm at 8.1

[2022-02-16 23:19] alberts-s commented on #10578
It appears that the function which is being called by `get_oper_data_cb` has trouble working with Yang values which have a type `empty`.
`get_oper_data_cb` calls `yang_dnode_edit` which has the following signature
[code]
However std:string can't have a NULL value.

[2022-02-16 23:26] kruton commented on #4928
So if you have a /24 route from the kernel, it will show up as "direct" and connect to the BGP peer.

However if your DHCP client adds a /32 it will show up as "kernel" and not connect to the BGP peer even if there is a /24 route that would allow it to show up as "direct" It seems like FRR's filtering mechanism is surprising here.

[2022-02-17 03:38] lucize opened #10599 "crosscompile mips64 issue"
frr: 8.1.0

crosscompile will fail on mips64 target with

[code]
using this patch seems to compile (not run tested)

[code]

[2022-02-17 06:53] anp135 commented on #8447
just create loopback (type dummy) interface for your vrf. You got no rd/rt changed again after that.

[2022-02-17 11:18] ak503 opened #10601 "staticd segfault"
getting segfault if added MULTIPATH_NUM + 10~15 static multipath routers:

1. configure with --enable-multipath=2
2. added 15 static multipath routers.

<pre>
u1-VirtualBox# c t
u1-VirtualBox(config)# ip route 192.150.1.0/24 192.168.1.101
u1-VirtualBox(config)# ip route 192.150.1.0/24 192.168.1.102
u1-VirtualBox(config)# ip route 192.150.1.0/24 192.168.1.103
u1-VirtualBox(config)# ip route 192.150

[2022-02-17 12:08] tweippert commented on #8447
Ok, will try, but with what ip address or what naming?
The VRF has an interface attached with IPv6, as i had a BGP peering within the VRF ...

[2022-02-17 12:16] mjstapp commented on #10601
yes, quite - staticd isn't very careful with the zapi route struct there. we'll get it fixed...

[2022-02-17 12:25] donaldsharp commented on #10599
@eqvinox do you agree with this patch?

[2022-02-17 12:28] anp135 commented on #8447
It's does not matter. Take your our logic. For example use ${vrf}-lo for dummy. For example vrf under ubuntu with nmcli:
`nmcli con add con-name blue-lo type dummy ifname blue-lo master blue ipv4.method manual ipv4.address 127.0.0.1/8 ....`

The gate with FRR 8.1.0 under Ubuntu 21.04 with mpls l3vpn functionality:
[code]
There is four interfaces inside GRT and one vfr (named blue).  The vrf type i

[2022-02-17 12:56] tweippert commented on #8447
I added a vrf-lo interface with ipv4 and v6 address (on linux, outside frr):

[code]
and i had a announcement of the vpn route:

[code]
If i clear the eBGP Peering from ce side, the route gets relearned but not advertised further:
[code]
after an reconfigure of the vpn nexthop, the announcement is immediately done:
[code]
The RT i see is always correct, also the vrf association (rd) is correct ...

[2022-02-17 13:26] anp135 commented on #8447
whats show `sh bgp ipv6 neighbors <peer> received-routes` on pe01 and advertise-routes on remote side to pe01 in both cases?

Yes, you have another case, no rd/rt changed. This issue about on the fly chaging ` rt vpn both 64512:20` to `rt vpn export 100.64.0.2:2` under `show run` (see first message of thread).

[2022-02-17 13:53] mjstapp commented on #10601
Should be fixed by #10604

[2022-02-17 15:37] qlyoung commented on #10587
The images on Quay were just a test by me to see if we could set up some sort of automated builds on Quay, since DockerHub started charging for that. I didn't find a way to do it and gave up on it. They aren't the official images, the official images are on DockerHub and are multi arch as you know.

It may be worth switching to quay to bypass the pull limit. What worries me is that people will the

[2022-02-17 15:41] fedepaol commented on #10587
I think that's independent of where the official images live right?
In any case, if this is problematic we can switch back to consume the dockerhub images.

[2022-02-17 15:48] EasyNetDev opened #10606 "BGP: memory is still allocated after the the L3VPN routes were reduced"
---------------

**Describe the bug**

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

After by mistake I was announcing full table via L3VPN from my R01 to another router R10 and after correction the export, I notice BGP on R10 is still high.
[code]

**Expected behavior**

I was expecting the memory allocation for t

[2022-02-17 15:59] donaldsharp commented on #10606
it is freed to libc but not to the kernel.  This is because the actual freeing of data to the system is very very very expensive and we have not found a way to control the release so it is not so expensive and not service impactful.  Additionally the community tends to believe if you've allocated over 1gb of data to bgp to handle routes, you probably are going to continue to do so.  So from a prog

[2022-02-17 15:59] #10596 closed

[2022-02-17 16:49] tweippert commented on #8447
When it is working:
[code]
[code]
and the same when it isn't working ... the routes get advertised/received, but the "re-advertise" to other PEs are only working with the vpn nexthop reset trick.

But i think i will create a new issue for my situation.

[2022-02-17 18:14] #1479 closed

[2022-02-17 18:15] #4412 closed

[2022-02-17 19:58] #10588 closed

[2022-02-18 00:51] #10601 closed

[2022-02-18 05:29] vijaykug opened #10614 "Reserved multicast ips are allowed to be configured under ip igmp join-group command"
Issue - Multicast reserved group  ( 224.0.0.4 , 224.0.0.5) are allowed to configured as igmp join , i think we should validate the groups while configuring  and display a warning message accordingly

frr(config)# int ens192
frr(config-if)# ip pim
frr(config-if)# ip igmp join 224.0.0.4
frr(config-if)# do sh run
Building configuration...

Current configuration:
!
frr version 8.3-dev-MyOwnFRRVersion

[2022-02-18 09:48] ak503 opened #10617 "bgp wrong router_id_update"
start config is:
<pre>interface enp0s8
 ip address 192.168.1.1/24
exit
!
router bgp 1
 !
 address-family ipv4 unicast
  rd vpn export 1:1
  rt vpn export 1:1
  export vpn
 exit-address-family
exit</pre>

but running config is:
<pre>interface enp0s8
 ip address 192.168.1.1/24
exit
!
router bgp 1
 !
 address-family ipv4 unicast
  rd vpn export 192.168.1.1:1
  rt vpn export 192.168.1.1:1
  export vpn

[2022-02-18 10:07] ton31337 commented on #10617
Which version do you run?

[2022-02-18 10:34] ton31337 commented on #10617
Can't replicate this on master or I'm missing something.

[2022-02-18 10:42] ak503 commented on #10617
i not have bgp router-id in config.
if i set it, then all ok

[2022-02-18 13:50] EasyNetDev opened #10619 "LDP: mismatch between the documentation and CLI"
---------------

**Describe the bug**

When I read the documentation for LDP protocol I notice this:

**discovery transport-address A.B.C.D | A:B::C:D**
    _Located under mpls address-family interface node, use this command to set the IPv4 or IPv6 transport-address used by the LDP protocol to talk on this interface._

It says that is located under "mpls address-family interface node". But in CLI

[2022-02-18 13:58] donaldsharp commented on #10619
It just looks like a poorly worded document.  Why don't you submit a PR with a change to the documentation to make it better?

[2022-02-18 14:18] armenhovhannisyan0607 opened #10620 "IPv4 address on vlan subinterface are not synced with system"
Dear colleagues,
hitting a bug when frr does not see ipv4 address configured on interface. I am running frr 8.1 on a Ubuntu 18.04.5 machine with kernel 4.15.0-109-generic.
This is the interface as it is seen in system:
[code]
This is how it is seen in frr:
[code]
After that I change the vlan id on subinterface via following commands:
[code]
This is new dpdk0.4033 interface in system:
[code]
And th

[2022-02-18 20:36] c-po opened #10622 "route-map "set src" option seems to have no effect"
**Describe the bug**

When trying to overwrite the `src` of a received route the new addres sis not reflected in `show ip route`. The [documentation](https://docs.frrouting.org/en/stable-8.1/zebra.html#clicmd-set-src-ADDRESS) states:

[code]
Within a route-map, set the preferred source address for matching routes when installing in the kernel.

The following creates a prefix-list that matches all

[2022-02-19 08:55] ton31337 commented on #10421
@frrbot autoclose in 1 week.

[2022-02-19 08:58] ton31337 commented on #10622
src is used only for outgoing direction to specify the source address that will be installed into the kernel. It's not much about overwriting the next-hop.

So I guess a minor documentation update might be handy.

[2022-02-19 09:01] ton31337 commented on #10617
I just tried with the config you gave, and I see a different result (the correct).

[2022-02-19 09:01] tweippert opened #10623 "SRv6 L3VPN IPv6 and nexthop vpn export issue with eBGP Peering in VRF"
---------------

**Describe the bug**

[X ] Did you check if this is a duplicate issue?
[ X] Did you test it on the latest FRRouting/frr master branch?

Learned eBGP Prefixes within VRF weren't re-advertise until `nexthop vpn export <xyz>` wasn't reconfigured.

SRv6 L3VPN Config, and eBPG Peering within VRF:

[code]
Restart of frr learns the routes via eBGP but not re-advertise it to other "PEs":

[2022-02-19 09:03] tweippert commented on #10623
Wrote some informations in #8447 as thought it was maybe the same issue, but seems another one, therefore the new issue.

[2022-02-19 09:08] #10461 closed

[2022-02-19 09:09] ton31337 commented on #10416
@frrbot autoclose in 1 week.

[2022-02-19 09:38] cli0 opened #10624 "BGP protocol does not distribute RPKI prefixes"
I have 2 FRR routing units, both have RPKI enabled and one of them has a connection to an RP. I want the router with RP connection to send BGP prefixes to my other router but so far it is not working. The other router is not receiving any announcements from the first router. Below is the configuration files for R1 (with RPKI) and R2.

I am running FRR 8.1 on Ubuntu 20.04

[code]

[code]

Currently

[2022-02-19 14:19] ton31337 commented on #10624
Did you enable RPKI on R2? How should it know the RPKI state if not enabled?

[2022-02-19 14:21] cli0 commented on #10624
Yes, rpki was enabled on R2 as well.

[2022-02-19 14:23] ton31337 commented on #10624
I don't see it in config, R1 has it.

[2022-02-19 16:25] cli0 commented on #10624
I have not configured R2 to poll from an RP, only R1 can do that and then I wanted R1 to distribute the routes to R2 but so far R1 was not sending anything to R2. I actually just fixed this problem by defining static routes
[code]

and adding `redistribute static` in the `address-family` block. Now the networks are known to R2 as well.
It was my mistake for forgetting to write down the step. Sorry

[2022-02-19 20:26] ton31337 commented on #10624
You can just disable http://docs.frrouting.org/en/stable-8.1/bgp.html#clicmd-bgp-network-import-check and afterwards you don't need static routes.

Can you show the output of `show rpki prefix-table` and how it looks in Routinator?

[2022-02-19 20:58] cli0 commented on #10624
Hello,
this is the prefix table

[code]

And the following is my routinator output:
[code]

[2022-02-21 10:44] ton31337 commented on #10624
Origin AS is 65000, but your AS is 1.

[2022-02-21 12:28] horser1 commented on #10386
![image](https://user-images.githubusercontent.com/48501653/154954396-0bf0613a-fb73-4c20-ad79-38973ea4e64e.png)
hello, this is a sample of the logs after configuring the precision of 6, the precision is second.
And this frr image is baesd on alpine, Ifind that the frr image based on ubuntu can do this but alpine cannot.
but I can't use the frr image based on ubuntu for some reasons.
thanks

[2022-02-21 14:42] IgorAlov commented on #10622
@ton31337 it is work when I change pref-source for the routes received from bgp peers.

[code]
`# ip r s  | grep 100.100.101.4`

[code]

[2022-02-21 15:02] IgorAlov commented on #10581
Try to use` route-map` instead `advertise-map`

` neighbor 192.168.1.1 advertise-map OutMap exist-map IntMap  <-- remove`

[code]

[2022-02-21 19:32] ton31337 commented on #10622
OK, but it's not a next-hop as @c-po expects? @c-po you can overwrite next-hop, not src to achieve what you need. Did you try it? http://docs.frrouting.org/en/stable-8.1/routemap.html#clicmd-set-ip-next-hop-IPV4_ADDRESS

[2022-02-22 15:05] Jafaral commented on #10595
@plsaranya are you able to test with the latest release 8.1?

[2022-02-22 15:07] plsaranya commented on #10595
I have not tested in latest release 8.1

[2022-02-22 17:05] mobash-rasool commented on #9071
Teststeps :-

TEST_DESCRIPTION
Every IGMP message described in this document is sent with
IP Precedence of Internetwork Control (e.g., Type of Service
0xc0)
(Tests that IGMPv3 Membership Query Message conforms to
above statement)
TEST_REFERENCE
NEGATIVE: RFC 3376, IGMP Version 3, s4 p7 Message Formats
TEST_METHOD
- ANVL: Cause an application on DUT to join multicast
        group <MCAST_GRP_1> on

[2022-02-22 17:45] #10614 closed

[2022-02-23 06:28] ton31337 commented on #10624
@frrbot autoclose in 1 week.

[2022-02-23 06:29] ton31337 commented on #10525
@frrbot autoclose in 1 week.

[2022-02-23 12:34] muhammadkashif44 opened #10637 "OSPFfv3 routes sync issue in FRR 8.1"
The new ipv6 ospf6 area command introduced in frr 8.1 to add the interface in an area was found to introduce an unexpected functionality. That is, when the machine is added to a certain topology, it only captures the routes already present but does not learn the new routes afterward.
Another noticeable difference found b/w the two commands after comparison of the source code was that the old inter

[2022-02-24 14:44] mruprich commented on #9782
Hi,
just adding another part of the investigation, with route-map and nexthop groups debugging enabled:
[code]
So for some reason the match_ret, which is set to RMAP_NOMATCH at the beginning stays that way all the way through the route_map_apply function. Inside the optimization part, it seems to me that route_map_get_index has to return something since the debug output is inside the if(index) sta

[2022-02-24 20:13] ton31337 commented on #10622
@frrbot autoclose in 1 week.

[2022-02-24 21:41] ak503 commented on #10617
looks like it's a duplicate of  https://github.com/FRRouting/frr/issues/8447. Need close this issue

[2022-02-24 21:41] #10617 closed

[2022-02-25 16:55] 00xc commented on #10507
This was assigned CVE-2022-26125.

[2022-02-26 08:06] liuxyon opened #10663 "nexthop_set failed, resetting connection - intf 0x0"
i using  FRR8.1 and FRR7.5.1. via wireguard tunnel creat bgp seesion, but session can't up.

log show:

 2022/02/26 15:31:42 BGP: [VX6SM-8YE5W][EC 33554460] 2602:fed:7020:ca::1: nexthop_set failed, resetting connection - intf 0x0
2022/02/26 15:31:42 BGP: [NQGZV-Y3W62][EC 100663299] bgp_connect_success: bgp_getsockname(): failed for peer 2602:fed:7020:ca::1, fd 33
2022/02/26 15:31:42 BGP: [MNE5N-K0

[2022-02-26 08:17] #10663 closed

[2022-02-26 08:55] #10421 closed

[2022-02-26 19:43] ndeffayet opened #10666 "zebra daemon exit without crashing - routing socket overrun: No buffer space available"
<pre>
**Describe the bug**
zebra daemon exit without crashing, watchfrr restart zebra daemon but zebra exit again...

In logs:
zebra[2885]: [X2HR8-VHNZ2][EC 4043309091] routing socket overrun: No buffer space available
watchfrr[2521]: [HD38Q-0HBRT][EC 268435457] zebra state -> down : read returned EOF

After some search, zebra exit seem to be done by this code part:
---zebra/kernel_socket.c
	if (n

[2022-02-26 19:46] donaldsharp commented on #10666
argh tis is freebsd.  Give me a few minutes to look at the code.

[2022-02-26 20:29] donaldsharp commented on #10666
@ndeffayet -> can you try a patch out if I were to point you at it?

[2022-02-26 20:49] ndeffayet commented on #10666
@donaldsharp Yes, I can try the patch. If possible on 8.2-RC (I hope it is not too late to integrate into 8.2 next release if patch works).

[2022-02-26 20:58] donaldsharp commented on #10666
So the patch https://github.com/FRRouting/frr/pull/10667 basically requires the operator to tune their receive buffer via a `-s XXX` option size to zebra on startup.

The default size of the receive buffer is 8k.  I have a freebsd 12.0 that I can compile on and do some minimal testing to show that the code compiles and at least runs.  I have never run into a issue with a receive buffer over run on

[2022-02-27 11:06] liuxyon opened #10670 "add Configure Unicast Reverse Path Forwarding for IPv6 support"
Cisco has support ipv6 Unicast Reverse Path Forwarding command.
[urpf](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/ipv6_basic/configuration/xe-3s/ip6b-xe-3s-book/ip6-urpf-xe.html#GUID-8F080EB9-724A-4C80-9824-98EA6B85FE5D)
i have no find about this in frr doc.
please add this command support.
ipv6 verify unicast source reachable-via {rx | any} [allow-default] [allow-self-ping] [access-list-na

[2022-02-27 11:18] liuxyon commented on #10421
your mean is should use route-map A01 permit 20,right ?

[2022-02-27 17:25] ton31337 commented on #10581
Backported to 8.2, which is gonna be released next week.

[2022-02-27 17:25] #10581 closed

[2022-02-27 17:28] ton31337 commented on #10421
yes

[2022-02-27 21:29] wshamroukh opened #10673 "received-routes and advertised-routes commands showing the same addresses"
- FRR VERSION: 8.1
- OPERATING SYSTEM VERSION: Ubuntu 20.04
- KERNEL VERSION: Linux onprem-gw 5.11.0-1028-azure #31~20.04.2-Ubuntu SMP Tue Jan 18 08:46:15 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

Put "x" in "[ ]" if you already tried following:

[x ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

I am using FRR for testing purposes to e

[2022-02-28 02:16] hothotstreet commented on #10034
it there anybody can help?

[2022-02-28 03:20] hubblezzhu opened #10674 "Slack request"
Is it possible to add @alibaba-inc.com to the slack workspace?
I have interest in joining and I know colleagues who have also expressed interest in this project.

:)

[2022-02-28 06:56] ton31337 commented on #10673
Do you have `172.16.0.0/16` in a RIB? If not, it won't be advertised unless disabling http://docs.frrouting.org/en/stable-8.1/bgp.html#clicmd-bgp-network-import-check.

[2022-02-28 07:41] xkubee commented on #10251
Can I hope that this change will appear in version 8.2?

[2022-02-28 08:42] wshamroukh commented on #10673
I have disabled ` bgp network import-check` and now the config is like this
[code]
Now I see the local address `172.16.0.0/16` but I still see the remote addresses are also advertised to bgp peers - why is that?
[code]

[2022-02-28 09:54] xkubee commented on #10581
Thanks! We are waiting for the release of version 8.2.

[2022-02-28 09:55] xkubee commented on #10581
@ton31337 Can I ask you a question about CI? I decided to test this version on Debian 9. Took the packages here: https://ci1.netdef.org/browse/FRR-FRR-5499/artifact/shared/Debian-9-%28Stretch%29-x86_64-Packages/

An error occurred when installing packages: libc6 version 2.28 was required. And Debian 9 uses libc6 2.23. Did you build packages for Debian 9 on a Debian 10 assembly machine? Or do I mis

[2022-02-28 11:05] wshamroukh commented on #10673
I have even done it differently like the below config by adding a static route to `172.16.0.0/16` :
[code]
but i still see remote addresses from bgp peer is being advertised by frr router:

[code]

[2022-02-28 11:41] donaldsharp commented on #10674
goto https://frrouting.org/community/ click on the `Join` our community button

[2022-02-28 11:41] #10674 closed

[2022-02-28 14:56] #10666 closed

[2022-02-28 18:43] Shaligram commented on #353
Hi,

putting it here.. given multiple instance is getting discussed.

I have the below simple topology for Customer A to Customer B communication via Provider.

![image](https://user-images.githubusercontent.com/17795464/156038173-be5c43a7-c26f-456b-a15c-213b1b2fb735.png)

PE1, P , PE2 form the MPLS Core and are running OSPF in AREA 0with all loopbacks running a /32 addressand all have full connec

[2022-03-01 02:47] zhujiayin commented on #9719
so, Did you get the better solution??

[2022-03-01 15:45] johnfzc opened #10700 "Routes not accepted when adjusting BGP local-preference with inbound route-map"
FRR Local Preference

System Details:

 - OS Version: OpenWrt Build, based on https://github.com/openwrt/openwrt/commit/4ab0b5f
 - Kernel: 5.4.142
 - FRR Version: 7.5.1

I am trying to use a route-map to control local preferences on a eBGP connection. I created a simple route map with a single entry that sets the preference, when this is applied I stop accepting the route from the peer. I believe

[2022-03-01 15:50] taspelund commented on #10700
Can you get the output of `show route-map set-loc-pref-170 prefix`?

[2022-03-01 16:12] johnfzc commented on #10700
It appears to be defaulting to accepting all v4 and v6 prefixes as I would expect:

[code]

[2022-03-01 18:08] #10622 closed

[2022-03-01 20:49] johnfzc commented on #10700
I enabled some debugs (route-map, bgp updates and neighbor-events) and see the following, it's pretty clear the route-map is responsible for the issue:

[code]

I still don't understand why this is happening, the configuration I'm using seems very basic. Thanks very much for any help you can offer me.

[2022-03-02 06:29] #10525 closed

[2022-03-02 09:28] leonshaw opened #10708 "Memory corruption in route map"
**Describe the bug**

If a route-map is created and deleted multiple times within an update timer interval, we rely on the order of elements in hash
table to get the correct one freed. However, if hash size threshold is hit, the list is reversed in `hash_expand()`, which will cause memory corruption.

**To Reproduce**

Add an assertion

[code]

Create and delete several route-map multiple times qu

[2022-03-02 11:30] mruprich commented on #9782
Hi,
more info on this. I have set the map->optimization_disabled to false in the code and the route-map works as expected... No idea if this command works in the 7.5 version of frr but it does not show in the running-config when used.

@NaveenThanikachalam  I see you added the map optimization in these commits:
https://github.com/FRRouting/frr/commit/49a08bb09137bed2c2c96f6bcb414817030fb8bc
https:

[2022-03-02 11:52] johnfzc commented on #10700
I tried switching to use prepending instead of local-preference:

[code]

And see the same behaviour:

[code]

[2022-03-02 15:04] NaveenThanikachalam commented on #9782
Thanks, @mruprich.
I will investigate this with @mobash-rasool.

[2022-03-02 20:44] johnfzc commented on #10700
I spun two new test x86 based OpenWrt routers running 21.02.2 with FRR 7.5-4 (version based on OpenWrt package version) and was able to make local preference function properly:

[code]

I'm planning to try to upgrade FRR on my embedded devices to see if it resolves the issue.

I used the following configuration:

[code]

[2022-03-03 04:59] mobash-rasool commented on #9782
@mruprich : Hi, Did you check this scenario in the latest FRR?

I tried checking the similar config in my set up(having latest master) and it seems to work fine.

I will check the logs provided by you to understand more about this issue and will update my findings in sometime.

[2022-03-03 07:31] mobash-rasool commented on #9782
Hi @mruprich : I have a question. From the logs and outputs I can see a difference in the 7.0 and 7.5.

**In 7.5, Nexthop is via default route:**
O   10.101.4.214/32 [110/16] via 10.101.4.135, enc0600 inactive, weight 1, 00:00:34
via 10.101.5.135, enc0800 inactive, weight 1, 00:00:34
O   10.101.4.215/32 [110/11] via 10.101.4.72, enc8000 inactive, weight 1, 00:00:33
O   10.101.4.216/32 [110/11] via

[2022-03-03 07:34] mruprich commented on #9782
Hi,
no, the configs are the same for both 7.0 and 7.5. The problem is the route-map that is filtering out relevant routes and marking then as inactive. I did not try this with 8.x version.

[2022-03-03 09:24] ton31337 commented on #10673
@wshamroukh this is a normal BGP behavior, receiving side will filter properly incoming routes as it sees them as _own AS_ and discards (not processed further). You can filter out outgoing prefixes by using lots of techniques: distribute-lists, as-path lists, prefix-lists.

[2022-03-03 09:28] ton31337 commented on #10700
Will check this.

[2022-03-03 10:13] shoyabs opened #10718 "CLI command 'maximum-paths' with maximum path number 16 doesn't reflect in configuration file"
**Describe the bug**

FRR does show the range as (1-16) for maximum-paths but when we run command with 16 i.e, 'maximum paths 16' or 'maximum-paths ibgp 16', frr doesn't write to configuration file and no errors displayed.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Install any latest frr and run maximum-paths c

[2022-03-03 10:39] ton31337 commented on #10718
@shoyabs seems you are compiled or set `-e 16` in `/etc/frr/daemons`. Didn't you? Because it's treated as a default value and not displayed.

[2022-03-03 11:36] shoyabs commented on #10718
@ton31337 which means if we set default value to any configurable param, it won't displayed on config file ?

[2022-03-03 11:47] ton31337 commented on #10718
Correct.

[2022-03-03 12:02] shoyabs commented on #10718
Got it, thanks for the clarification. Closing the issue.

[2022-03-03 12:02] #10718 closed

[2022-03-03 12:03] #10606 closed

[2022-03-03 12:10] ton31337 commented on #10670
@liuxyon FRR is not the OS management tool, you can do this easily with Netfilter.  Something like:

[code]

[2022-03-03 12:17] ton31337 commented on #10384
10.10.10.10/32 is from B, and 20.20.20.20/32 is from C. Seems good, not?

[2022-03-03 16:32] ahmdnauman opened #10720 "Issue with OSPFv3 DR Election"
Hello everyone, As the DR election is non-preemptive for OSPFv3, but in the FRR implementation, the DR election happens even when the priority is reduced.

Consider this scenario between two routers:

1) Router1 has priority of 30 and Router2 has priority of 20, Router1 is selected as DR and Router2 is selected as BDR.
2) Now if we decrease the priority of Router1 to 15, Router1 becomes BDR and Ro

[2022-03-03 20:42] ton31337 commented on #10440
Basically, this can be _fixed_ by using slightly bigger `coalesce-time`. Let's say `advertisement-interval 5` and `coalesce-time 6000`. Otherwise, at the moment there is no quick way to do this apart something like:

[code]
Which means that we _override_ coalesce time to be equal MRAI timer at least.

[2022-03-04 06:52] mobash-rasool commented on #9782
@mruprich: This is a very interesting problem. I think I got the root cause of it. Just to be sure, wanted to confirm is your system Big Endian?

[2022-03-04 09:27] ton31337 commented on #10700
@frrbot autoclose in 1 week.

[2022-03-04 09:28] ton31337 commented on #10673
@frrbot autoclose in 1 week.

[2022-03-04 09:30] ton31337 commented on #10142
@frrbot autoclose in 1 week.

[2022-03-04 09:31] ton31337 commented on #9595
@frrbot autoclose in 1 week.

[2022-03-04 09:39] fedepaol commented on #10142
Let's close it now, rearranging the way we create the containers reduced and possibly removed the flake.
Thanks for the support!

[2022-03-04 09:39] #10142 closed

[2022-03-04 09:40] #8859 closed

[2022-03-04 09:42] #8826 closed

[2022-03-04 09:44] ton31337 commented on #8381
@frrbot autoclose in 1 week.

[2022-03-04 09:48] #7695 closed

[2022-03-04 09:49] ton31337 commented on #7517
Could you test with 8.1 containers?

[2022-03-04 09:52] ton31337 commented on #7104
@zoltan can you check with the latest releases?

[2022-03-04 09:55] ton31337 commented on #6921
https://github.com/FRRouting/frr/pull/4084

[2022-03-04 09:55] ton31337 commented on #6921
@frrbot autoclose in 1 week.

[2022-03-04 10:45] mwinter-osr opened #10728 "[RPM Packaging] FRR libyang2 dependency conflicts with libyang 2.x from EPEL library"
EPEL added recently the `libyang` package in Version 2.x to their repository. Unfortunately, they called the package `libyang` instead of `libyang2`. Despite breaking the parallel install of  the incompatible libyang 1.x and libyang 2.x libraries, they also marked the new `libyang`  package to obsolete `libyang2`. This will block installation of the FRR dependency `libyang2`
from our repository.

[2022-03-04 11:31] #5963 closed

[2022-03-04 11:43] johnfzc commented on #10700
Thanks for looking at this and attempting to reproduce it @ton31337 , I'm still investigating on my side; sorry that I didn't update the issue.

Currently I'm trying to build an updated version of FRR for my current platform to confirm that it resolves the issue.

[2022-03-04 13:27] #9782 closed

[2022-03-04 15:50] johnfzc commented on #10700
In my original testing I was using FRR 7.5.1 as packaged in OpenWrt commit https://github.com/openwrt/packages/commit/2e4c264 .

This is on a Big Endian mips platform with the following details:

[code]

My successful test was on x86 using FRR 7.5 as packaged in OpenWrt Commit https://github.com/openwrt/packages/commit/adda7b8 .

I then built the same version of 7.5 on the mips platform and still

[2022-03-04 20:28] johnfzc commented on #10700
I've updated to 8.1 as described above, the behaviour I'm seeing is much the same, I'm seeing the following debug messages when processing the route-map.

[code]

I'm not really sure how to proceed from here; cross compiling directly from source outside of the openwrt tree would seem like a good option but I do not know how to do this. I still wonder if the issue is endian related.

I could also a

[2022-03-04 20:34] ton31337 commented on #10700
Please show the full config.

[2022-03-05 11:47] johnfzc commented on #10700
Here's the full configuration:

[code]

[2022-03-05 12:48] patrick7 opened #10737 "FRR 8.2 changelog"
Is there a changelog for the new release?

[2022-03-05 13:07] swoga commented on #10737
see commit message : https://github.com/FRRouting/frr/commit/a267f52c3aeecd51ec2b2db5c03115110a1d2516
github release is currently missing.

[2022-03-05 13:08] patrick7 commented on #10737
Thanks @swoga

[2022-03-05 13:08] #10737 closed

[2022-03-05 13:29] liuxyon commented on #10670
This firewall command does not work at all. It blocks bgp routing. All options of this command are tried.

[2022-03-05 13:31] liuxyon commented on #10670
Since it is added to the bgp cisco system, this function is necessary.

[2022-03-05 18:26] ton31337 commented on #10670
Cisco differs from FRR because it's a full-stack solution with own OS, tooling. Here, it's up to the operator. Freebsd, linux, etc., it's not so easy to cope.

[2022-03-05 23:35] rhermsen opened #10740 "isis topology command missing in documentation"
The isis topology command (isis-mt part of frr-4.0) is not explained in the online documentation.
http://docs.frrouting.org/en/latest/isisd.html

conf t
router isis {instance}
topology {options}

(edit 2022-03-10: changed angle brackets to braces)

[2022-03-07 16:49] #9732 closed

[2022-03-07 16:49] #10073 closed

[2022-03-07 16:49] #10578 closed

[2022-03-08 06:39] kuldeepkash commented on #8757
Issue is fixed, closing issue.

[2022-03-08 06:39] #8757 closed

[2022-03-08 09:00] ton31337 commented on #10700
Can't replicate on Raspberry as well, but seems this is really related to MIPS. Are you able to provide a testing box (OpenWRT) with SSH access to debugging?

[2022-03-08 10:50] Stephenxf opened #10756 "GR fails due to bgp route-map delay-timer behavior"
**Describe the bug**
The behavior of `bgp route-map delay-timer` at the very beginning of bgp startup seems incorrect and can cause GR to fail.
This timer has a default value of 5 secs (btw, the comment “disabled by default” is not true). We don’t have this command in our use case, so the default takes effect.
[code]
What is weird to me is that, the timer kicks in at the very beginning of bgp star

[2022-03-08 11:14] johnfzc commented on #10700
Direct remote access by SSH will be challenging but not impossible to provide; screen sharing to the reproduced issue is trivial however. I will contact you on slack to see what you need and try to provide it.

I have been working on trying to reproduce the issue using qemu-system-mips.

[2022-03-08 11:21] johnfzc commented on #10700
I can't yet confirm, installing qemu mips is proving challenging. If it is I will be able to provide you with a self contained test system and we'll be able to confirm that the issue isn't specific to some aspect of OpenWrt.

I've tried to message you on slack, screen sharing would be far easier if it's possible, I could provide you with access now.

[2022-03-08 14:00] johnfzc commented on #10700
I was able to recreate the issue using OpenWrt running on qemu mips, here's the BGP adjacency before applying the route-map:

[code]

And after:

[code]

You can download drive images and the kernel here, compressed with bzip2:

[kernel](https://z-c.ca/files/frr-10700/openwrt-malta-be-vmlinux.elf.bz2)
[wrt-bgp-1](https://z-c.ca/files/frr-10700/wrt-mips-bgp-1.img.bz2)
[wrt-bgp-2](https://z-c.ca/fil

[2022-03-08 15:43] deepakkumarbhagat opened #10758 "After the router OSPF DB is cleared, incorrect "Auth Crypt Sequence Number" in the hello packets multicast by the router"
[code]

I have a broadcast multiple-access networks topology, and there is a scenario in which a router OSPF database is cleared.
The observation is, there is incorrect "Auth Crypt Sequence Number" chosen by the router in the hello packets multicast to all it's neighbors after OSPF DB cleared. As  a result, if the dead interval configured is longer (~20secs), the router's neighbors gets the expect

[2022-03-08 18:27] bgolab commented on #1710
@Shahrin123
Try to load the mpls modules first:
sudo modprobe mpls-router mpls-iptunnel

The relevant directories should be created and you should won;t see these errors.

Just tested this on ubuntu where the mpls kernel modules are not loaded by default (I had the same errors)

[2022-03-08 20:26] johnfzc commented on #10700
I've built a debian mips system and I'm unable to recreate the issue using the OS packaged frr 6.0.2.

I'm attempting to update to a current version of frr to see if the issue can be reproduced.

[2022-03-09 01:23] chaowyc opened #10760 "Potential uncontrainted memeory allocation issue."
Hi, there
I find code in [here](https://github.com/FRRouting/frr/blob/master/bfdd/control.c#L415) may has a potential uncontrolled memory allocation issue.

Here are details.
![bug](https://user-images.githubusercontent.com/8779184/157201241-14b1aab5-7883-43b2-a9fc-11a1604dc63b.jpg)

Label 1 (read msg but no limit to its length) -> Label 2 (obtain the msg's length) -> Label 3 (alloca memory accord

[2022-03-09 07:40] Stephenxf commented on #10756
Additional notes:

1. We don’t have `bgp route-map delay-timer` command in our config, but the timer has a default value 5 secs, so the delay kicks in every time a route-map is added/deleted/modified, e.g., `bgp_route_map_add()` -> `bgp_route_map_mark_update()`.
2. When I say “route-maps are not ready”, I mean bgp knows the name of the route-map but haven’t got the pointer to the map. In FRR langu

[2022-03-09 14:08] mruprich opened #10761 "grpc unit test requires absolute path that does not exist"
---------------

**Describe the bug**

So this is something that I mentioned in https://github.com/FRRouting/frr/issues/10073 but the previous issue turned into a discussion about a segfault in grpc. I decided to open a separate issue for this. The problem here is that tests/lib/test_grpc.cpp uses the northbound api and the api needs .yang files provided by frr. The problematic code execution of t

[2022-03-09 23:53] ibehren1 commented on #8971
@nancy-crypto Can you share how you built these RPMs?  I am trying to install FRR on ARM64 Amazon Linux 2 and hitting all the same issues.

[2022-03-10 03:20] hothotstreet opened #10765 "The OSPF DR/BDR is always elected"
The two centos run frrouting and learn routes through OSPF, but find that they re-elect DR/BDR every ten seconds. The version is 7.3. The configuration files and logs are as follows：

configure:
interface tapgw.122
 ip ospf dead-interval 15
 ip ospf hello-interval 3
 ip ospf priority 0

router ospf
 ospf router-id 10.0.2.1
 redistribute static
 network 10.0.0.0/24 area 0
 network 10.0.2.0/24 area

[2022-03-10 09:57] captainark opened #10766 "Route not in RIB announced via BGP"
**Describe the bug**

While `bgp network import-check` is configured, a route that isn't in the RIB is being announced via BGP.

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

In our production environment, routes that are only supposed to be announced while they are being learned through OSPF are still being announ

[2022-03-10 10:18] RPBE76 commented on #7073
do you fix this ?

[2022-03-10 12:03] RPBE76 commented on #7073
yes... vpn routes are well propagated but not imported automatically into vrf .. I have to type rt vpn import XX and after that only vpn routes are imported to vhf routing table

[2022-03-10 12:10] hothotstreet commented on #7073
There may be a configuration problem, because I have not encountered this problem later, please post your configuration and I will help you analyze it

[2022-03-10 12:15] johnfzc commented on #10700
I built FRR 7.5 on an emulated mips debian buster system from the git branch debian/7.5 and was able to recreate the issue:

[code]

This serves as confirmation that the issue:

 - Is related to MIPS and not OpenWrt
 - Didn't exist in 6.5
 - Was introduced as early as 7.5 ( https://github.com/FRRouting/frr/commit/a6c3698 )

I expect that a full Debian system will be a much more comfortable environ

[2022-03-10 12:24] RPBE76 commented on #7073
[code]

Example 94.94.94.94 not imported to vrf 91.91.91.91 well imported

 sh ip bgp ipv4 vpn 94.94.94.94
BGP routing table entry for 100:200:94.94.94.94/32, version 43
not allocated
Paths: (1 available, best #1)
  Not advertised to any peer
  200
    2.2.2.2 from 2.2.2.2 (1.1.1.1)
      Origin incomplete, metric 0, localpref 100, valid, internal, best (First path received)
      Extended Communi

[2022-03-10 12:48] liuxyon commented on #10670
The point is that there is currently no solution for IPv6.

[2022-03-10 12:50] liuxyon commented on #10421
Tested and still can't block if the system exists by default route.

[2022-03-10 13:26] ahmdnauman commented on #10637
Hi @idryzhov , is this issue valid and can we use this patch in our implementation? Any idea why is the topology test failing?

[2022-03-10 14:28] RPBE76 commented on #7073
FYI Same config with FRR version 7.5.1 no issue working as expected

[2022-03-10 15:44] nancy-crypto commented on #8971
some additional notes I found...

The *-devel RPMs are required on the development machine (only) for building FRR.

git clone frr stable 7.5  Configure and Compile.  The options on the configure statement were in the original documentation as a sample. I have included them in our build. We may want to make changes at some point.

cd frr
./bootstrap.sh
./configure \
    --bindir=/usr/bin \
    --s

[2022-03-10 16:08] nathan-duddles commented on #5982
I see in `zebra/rt_netlink.c` that `vrf_lookup_by_id()` is used at lines 1405 and 1650. This function is defined in `lib/vrf.c` starting at line 275 and uses a find function on a red-black tree (`lib/vrf.c` includes `openbsd-tree.h`).

Is issue is for updating the implementation of `vrf_lookup_by_table()` which starts at line 367 in `zebra/rt_netlink.c`?

It seems the implementation of `vrf_lookup

[2022-03-10 20:20] taspelund commented on #10766
Can you provide the output of `vtysh -c 'show ip bgp' | grep 192\.168\.0` ?

[2022-03-10 20:23] taspelund commented on #10766
Better yet, can you get the output of `vtysh -c 'show ip bgp 192.168.0.0/16 longer-prefixes'`?

[2022-03-10 20:39] mobash-rasool commented on #10765
Is this happening always or just during the initial phase when the routers comes up? Can you provide more logs here.

[2022-03-11 00:59] ibehren1 commented on #8971
Thanks @nancy-crypto!  Appreciate the help!

[2022-03-11 01:58] hothotstreet commented on #10765
happens all the time，This is all the log, keep repeating this log

[2022-03-11 02:00] hothotstreet commented on #7073
which version are you

[2022-03-11 04:51] angelyouyou opened #10771 "Does FRR support Ubuntu and CentOS with ARM CPU?"
Does FRR support Ubuntu and CentOS with ARM CPU?

[2022-03-11 08:44] RPBE76 commented on #7073
8.1

[2022-03-11 09:05] captainark commented on #10766
As requested :

[code]

[code]

[2022-03-11 09:28] #10673 closed

[2022-03-11 09:44] #8381 closed

[2022-03-11 09:55] #6921 closed

[2022-03-11 12:11] donaldsharp commented on #10771
yes.

[2022-03-11 12:11] #10771 closed

[2022-03-11 13:11] donaldsharp commented on #10760
@rzalamena can you take a look here?  It sure looks like later code does work to ensure we do not read past the end of the packet later in the code but I want you to double check.

[2022-03-11 13:59] hothotstreet commented on #10765
2022/03/11 21:54:56 OSPF: NSM[tapgw.122:10.251.0.4:10.251.0.1:default]: Full (PacketReceived)
2022/03/11 21:54:56 OSPF: NSM[tapgw.122:10.251.0.4:10.251.0.1:default]: Full (PacketReceived)
2022/03/11 21:54:56 OSPF: NSM[tapgw.122:10.251.0.4:10.251.0.1:default]: Full (PacketReceived)
2022/03/11 21:55:02 OSPF: NSM[tapgw.122:10.251.0.4:10.251.0.1:default]: Full (PacketReceived)
2022/03/11 21:55:02 OSPF

[2022-03-11 19:21] nathan-duddles commented on #5982
Thanks for your reply!

I have another basic question:
Do you recommend using `lib/hash.c` for this?

I see there is some documentation on this in `frr/doc/developer/lists.rst`. Besides this and the source code, is there anything else I should be looking at?

[2022-03-11 19:27] sworleys commented on #5982
You won't use lib/hash directly. That is the old style. We have a newer API provided by `lib/typesafe.h` that acts as a wrapper for all our list/table/tree implementations to provide common macros for lookup/iteration.

if you look here you can see the macros available to use and how to use them: http://docs.frrouting.org/projects/dev-guide/en/latest/lists.html#cheat-sheet

there are also examples

[2022-03-11 21:33] nathan-duddles commented on #5982
Thank you, @sworleys! This is super helpful!

[2022-03-12 08:48] #10193 closed

[2022-03-12 08:49] ton31337 commented on #10700
Thanks, I'll try later.

[2022-03-12 13:53] mwinter-osr opened #10782 "pim crash with segv in pim_upstream_kat_start_ok"
Reproducable during ANVL runs with FRR master @ 477884316

PIM crashes with a SEGV:
[code]
[code]
This is in `pim_upstream_kat_start_ok`, where `ifp` has a value, but `ifp->info` is null:
[code]

This happens after some `no ip pim` and `no ip igmp` interface configuration. Maybe some timer isn't deleted when the PIM/IGMP is removed from the interface?

[2022-03-12 16:00] donaldsharp commented on #10766
This breakage is a result of the changes in sept around consolidating the import check and nexthop check code into one path in zebra.  The problem is that there is a prefix that zebra has been asked to match against and a prefix that it actually matched against.

Zebra was only sending back the prefix it was asked to match against.

I should have a fix here shortly where zebra will send back both

[2022-03-12 19:46] #10766 closed

[2022-03-13 14:08] #10708 closed

[2022-03-14 13:48] zdc commented on #10160
A little update on this.
The problem still exists in the current `master` (commit: 7baebfb715fe61244930c18821f4c38d392bfeb0). And some debug info that may be interesting:
[code]

[2022-03-15 09:35] weekendzhang opened #10795 "RFC 5709: HAMC-SHA-1, HMAC-SHA-256, HMAC-SHA-384, HMAC-SHA-512 supported for OSPFv2?"
Hi, all
Sorry to trouble. I am new to OSPFv2 and FRR. I found in the user guide, it specifies it supports the authentication trailer in the OSPFv3 and supports HAMC-SHA-1, HMAC-SHA-256, HMAC-SHA-384, HMAC-SHA-512. but not mentioned in the OSPFv2, i want to confirm these supported by the FRR in the OSPFv2?
I have used the "ip ospf authentication key-id 1 hash-algo hmac-sha-1 key ABCDEFGHIJK" comman

[2022-03-15 12:12] donaldsharp commented on #10782
woud #10706 fix this issue?

[2022-03-15 14:21] astrablaster commented on #6823
I'm suffering from the same issue.
My set up is: debian 11 in lxd (v4.23) container with FRR 8.1-0~deb11u1
Hw node is running debian 11, kernel 5.10.0-11-amd64 and FRR 8.1-0~deb11u1.
It is working well on debian 8 in lxd container with quagga 0.99.23.1-1+deb8u5 (on the same hw node).

/etc/networ/interfaces:
auto eth0
iface eth0 inet dhcp

auto eth0:0
iface eth0:0 inet static
    address 193.xxx.x

[2022-03-16 08:28] EasyNetDev opened #10800 "BGP VPN route-leak between VRFs misbehave when we redistribute static and network routes"
---------------

**Describe the bug**

- [X] Did you check if this is a duplicate issue?
- [X] Did you test it on the latest FRRouting/frr master branch?

If you are redistributing default route as ```static``` or ```network``` via BGP VPN and then you are changing the ```rt vpn import``` paramenters in one of the VRFs you will end with an non-installed route in zebra because BGP set it as ```unkn

[2022-03-16 09:14] EasyNetDev commented on #10800
Hi,

Let me add the BGP information about the default route:

[code]

[2022-03-16 12:34] donaldsharp commented on #10795
currently this is opsfv3 only

[2022-03-16 12:34] #10795 closed

[2022-03-16 13:35] muhammadkashif44 opened #10802 "Vtysh interface unknown command"
On running the following command in vtysh on FRR 8.1:
``` (config)# interface Port2 ```

I'm getting the following error message:
``` % [ZEBRA] Unknown command: interface Port2 ```

[2022-03-16 14:26] rnurgaliyev-s11 commented on #10468
@vidister I believe you are facing the same issue that I have reported here: https://github.com/FRRouting/frr/issues/9327
Please share if you have any work-around for it.

[2022-03-16 18:29] c-po opened #10805 "vtysh interface command lacks vrf option"
**Describe the bug**

After an Upgrade from FRR 8.1 -> 8.2.2 I noticed the `interface` vrf configuration changed.

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

FRR 8.1

[code]

FRR 8.2

[code]

But the completion helper suggest `vrf` is still a valid option

[code]

**Expected behavior**

Same as in 8.1 `inter

[2022-03-16 18:35] Jafaral commented on #10805
https://github.com/FRRouting/frr/pull/10411

[2022-03-16 18:38] c-po commented on #10805
According to @idryzhov in Slack

[2022-03-16 19:38] li-pingmao opened #10808 "Issue with reading message size over 64K via vty socket"
---------------

**Describe the bug**

When reading message from vty socket for command, for example,  "show bgp summary json",  if the response has size over 64K,  we only get paritial response,   i.e. it only reads up to 64K(tcp send buf size) of response with read(),  if read() in a loop,  read() will be blocked, the rest of the response will only be sent after a write() to the socket.

vty soc

[2022-03-17 07:20] mruprich opened #10811 "Use different tags on github"
---------------

**Describe the bug**
Hi,
so this is not a bug report, just a suggestion. When you tag new version of frr, would it be possible to use the NVR only? For instance instead of tag frr-8.2.2, just use 8.2.2? The reason why I am writing this is because github adds the name of the project infront of the tag when you try to download the sources. So the name of the file you download is ```

[2022-03-17 12:49] armenhovhannisyan0607 commented on #10500
Hi,
Here are more more information and exact steps to reproduce. I have 4 switches in topology - switch6, switch9, switch10 and switch11. PLease see attached topology diagram and frr configuration for all 4 switches, also debug log for switch 10 where issue is currently being reproduced.
Issue is reproduced on switch10 via frr restart. Here are detailed steps:

root@switch10:/home/netris# vtysh -c

[2022-03-17 15:39] rzalamena opened #10818 "pimd: DR priority bugs"
**Describe the bug**

DR priority doesn't work as expected (details below).

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

When two PIM routers with different DR priorities are in the way for the
designed RP for multicast traffic, the DR priority is not being take
into account.

Topology:
![pim-dr](https://user-ima

[2022-03-17 17:44] mobash-rasool commented on #10818
If you want to pass the traffic via FRR-2, can't we just disable pim on FRR-3 interface?

[2022-03-17 19:59] rzalamena commented on #10818
I talked with @mobash-rasool in private and we found that the RFC ([6754](https://www.rfc-editor.org/rfc/rfc6754.txt) and [7761](https://www.rfc-editor.org/rfc/rfc7761.txt)) don't mention specific behavior for intermediate routers, only for LHR.

So this issue can be reduced to the following topology:
![pim-dr-lhr](https://user-images.githubusercontent.com/205063/158882744-d9b6efcf-5d72-401b-b8d8-

[2022-03-17 20:14] nathan-duddles commented on #5982
I think I may be ready to submit a pull request for this. I have my patch on [this branch](https://github.com/nathan-duddles/frr/tree/hashmap_for_vrf_lookup_by_table).

I have gone through the steps in the [Pre-submission Checklist](http://docs.frrouting.org/projects/dev-guide/en/latest/workflow.html?highlight=rebase#submitting-patches-and-enhancements), except when I run `make test` in the frr di

[2022-03-17 20:17] donaldsharp commented on #5982
it's `make check` not `make test`.  Easy to get that mixed up.
If topotests work then great.  It's always a great idea to rebase to latest master and push up changes without merge commits

[2022-03-17 21:02] nathan-duddles commented on #5982
Thanks! Now I do remember seeing `make check` somewhere... it looks like this may need to updated in the Pre-submission Checklist section: http://docs.frrouting.org/projects/dev-guide/en/latest/workflow.html#pre-submission-checklist.

`make check` results: 435 passed, 5 skipped, 3 warnings

Warning are all: PytestCacheWarning: cache could not write path...

Topology tests are still running, but se

[2022-03-18 08:30] hothotstreet opened #10822 "The update-source command is not effective on bgp"
**version 7.3 on centos**

In BGP, the `neighbor 10.254.0.1 update-source 10.254.0.2` command does not take effect. Packet capture shows that the neighbor does not use the address specified in the local address to connect to the specified interface on the peer(10.254.0.2), but uses the direct interface to connect to the specified interface on the peer(10.240.0.2)

ROUTE-A:
[code]
This is the packe

[2022-03-18 09:08] ndesseauve opened #10823 "BadLSReq error in ospf6d"
---------------

**Describe the bug**
Since upgrading to 8.2.2 ospf6d crash with :
'''
2022/03/18 09:19:23 OSPF6: [JAQ1W-C74W9] Received is not newer, on the neighbor xx request-list
2022/03/18 09:19:23 OSPF6: [NW18S-5RD0A] BadLSReq, discard the received LSA lsa [Router Id:0.0.0.0 Adv:x] send badLSReq
'''
Worked well in 8.0 and 8.1.

[ x] Did you check if this is a duplicate issue?
[ ] Did you tes

[2022-03-18 11:02] donaldsharp commented on #10823
config and topology please?

[2022-03-18 20:10] liuxyon opened #10826 "8.2.2 stuck with high number of peers/routes with RPKI"
running frr v8.2.2 use ubuntu 20.0.4 and  debian11 version in ubuntu 21.10 system,  The routing system is stuck for no reason, causing the frr system to crash. I haven't found the reason yet, but is there any way to find out why?

Also request the release of frr for the latest system version of ubutntu. like ubuntu 21.10 and 21.04

[2022-03-18 20:17] ton31337 commented on #10826
Can you provide at least a configuration?

[2022-03-18 20:19] donaldsharp commented on #10826
or logs?  This is pretty useless bug report.

[2022-03-18 21:32] liuxyon commented on #10826
2022/03/19 02:40:39 STATIC: [MRN6F-AYZC4] Terminating on signal
2022/03/19 02:40:39 ZEBRA: [XVBTQ-5QTVQ] Terminating on signal
2022/03/19 02:40:39 ZEBRA: [GE156-FS0MJ][EC 100663299] stream_read_try: read failed on fd 39: Connection reset by peer
2022/03/19 02:40:39 ZEBRA: [VXKFG-8SJRV][EC 4043309121] Client 'static' encountered an error and is shutting down.
2022/03/19 02:40:39 ZEBRA: [YDZ55-W3VM6

[2022-03-18 21:57] edecaen commented on #10823
Here is an example to reproduce the problem using 3 frr gateways: frr01, frr02, frr03

**frr01 (frr 8.1):**
ens224.10 : fd10::1/64
ens224.17 : fd17::1/64
[code]
**frr02 (frr 8.2.2):**
ens224.10 : fd10::2/64
[code]
**frr03 (frr 8.1):**
ens224.10 : fd10::3/64
ens224.17 : fd17::3/64
[code]

When frr02 uses FRR in version 8.1, ospf6d works.
If it goes to FRR 8.2.2, ospf6d crashes.

[2022-03-19 05:17] hothotstreet commented on #10822
can anybody helo?

[2022-03-19 05:59] liuxyon commented on #10826
Some IP addresses are modified or hidden

!
! Zebra configuration saved from vty
!   2022/03/12 19:53:42
!
frr version 8.1
frr defaults traditional
!
hostname sir
log file /etc/frr/frr.log
!
!
!
router bgp 29753
 bgp router-id 134.196.121.55
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 no bgp network import-check
 neighbor 2602:fed2:ca1:b::11 remote-as 65105
 neighbor 2602:fed2:ca1:b

[2022-03-19 10:45] liuxyon opened #10827 "ZEBRA: [EC 100663303] kernel_rtm: rtm_write() unexpectedly returned -4 for command RTM_DELETE"
frr 7.5.1 in pfsense 2.6 system.
Where could this go wrong? How can i fix it?
log show a lot of wrong:

2022/03/19 02:40:34 ZEBRA: [EC 100663303] kernel_rtm: 2a10:cc42:1d51::/48: rtm_write() unexpectedly returned -4 for command RTM_DELETE
2022/03/19 02:40:34 ZEBRA: [EC 100663303] kernel_rtm: 2a10:cc45:7e3::/48: rtm_write() unexpectedly returned -4 for command RTM_DELETE
2022/03/19 02:40:35 ZEBRA:

[2022-03-19 10:54] liuxyon opened #10828 "BGP: can't connect to fd 37 : Permission denied"
frr 7.5.1 in pfsense 2.6 system.
i need setup and connect ebgp-multihop, but it is could not establish connection
log:
2022/03/19 02:16:50 BGP: can't connect to 2604:8800:240::200 fd 37 : Permission denied

neighbor 2604:8800:240::200 remote-as 64496
 neighbor 2604:8800:240::200 local-as 18753
 neighbor 2604:8800:240::200 description
 neighbor 2604:8800:240::200 password
 neighbor 2604:8800:240::2

[2022-03-19 11:25] donaldsharp commented on #10828
we are going to need a actual underlying OS version number to help us debug.  But reading the connect man page:
       EACCES, EPERM
              The user tried to connect to a broadcast address without having the socket broadcast  flag  enabled  or
              the connection request failed because of a local firewall rule.

you are receiving EPERM

[2022-03-19 11:36] donaldsharp commented on #10827
A route is attempting to be deleted but it does not exist in the kernel's routing table.  There is insufficient data here to diagnose what has happened at a fundamental level.  To diagnose this what is going on in the system from before to after needs to be looked at.  Is this repeatable?  What OS is this?  More data is needed

[2022-03-19 13:51] liuxyon commented on #10828
System	KVM Guest
Netgate Device ID:
BIOS	Vendor: SeaBIOS
Version: rel-1.14.0-0-g155821a1990b-prebuilt.qemu.org
Release Date: Tue Apr 1 2014
Version	2.6.0-RELEASE (amd64)
built on Mon Jan 31 19:57:53 UTC 2022
FreeBSD 12.3-STABLE
CPU Type	AMD A8-5600K APU with Radeon(tm) HD Graphics
4 CPUs: 1 package(s) x 4 core(s)
AES-NI CPU Crypto: Yes (active)
QAT Crypto: No
Hardware crypto	AES-CBC,AES-CCM,AES-GC

[2022-03-19 14:01] liuxyon commented on #10828
i have allow from peer ips to lan ip. and allow LAN net to peer ips in firewall. Is there any special setup required?

[2022-03-19 14:03] liuxyon commented on #10827
pfsnese 2.6 stable version.  But this problem has been happening for a long time.
https://frafiles.netgate.com/mirror/downloads/pfSense-CE-2.6.0-RELEASE-amd64.iso.gz

What data and logs are required? I will provide it to you.

[2022-03-19 14:11] liuxyon commented on #10827
https://redmine.pfsense.org/issues/12951?next_issue_id=12950&prev_issue_id=12954

[2022-03-19 14:14] liuxyon commented on #10827
Is it something to do with setting up a lot of static routes?
like:
ip router-id 10.50.1.254
ip route 1.0.1.0/24 pppoe0
ip route 1.0.2.0/23 pppoe0
ip route 1.0.8.0/21 pppoe0
ip route 1.0.32.0/19 pppoe0
ip route 1.1.0.0/24 pppoe0
ipv6 route 2604:8800::/32 pppoe0

[2022-03-19 23:42] vidister commented on #10468
@rnurgaliyev-s11 Yes and no and yes...
Cumulus support gave me the hint that one can trigger a new announcement manually from vtysh:
`bgp local-mac vni 23 mac 13:37:00:00:ac:ab seq 687`
Also they said that have fixed it in cumulus linux 5.0 and will upstream the fix eventually.

For such a severe bug I would have wished for more transparent communication here in the issues than "working on this" a

[2022-03-20 20:20] ton31337 commented on #10826
Is this the whole log? `Terminating on signal` tells it's kinda killed with SIGTERM or SIGINT.

[2022-03-21 07:51] yiyuaner opened #10833 "Possible buffer overrun in command_graph.c"
In the file [command_graph.c](https://github.com/FRRouting/frr/blob/ecf0ea4b00ff32e1453c7f437c235fb350f33d39/lib/command_graph.c), we have the following [code](https://github.com/FRRouting/frr/blob/ecf0ea4b00ff32e1453c7f437c235fb350f33d39/lib/command_graph.c#L88-#L103):

	size_t len = strlen(varname), i;
	token->varname = XMALLOC(MTYPE_CMD_VAR, len + 1);
	token->varname_src = varname_src;

	for (i

[2022-03-21 07:53] #5898 closed

[2022-03-21 11:13] gpnaveen opened #10835 "ospfv3 summarisation display with json prints duplicate entries."
Version::

r0# show ver
FRRouting 8.3-dev (r0) on Linux(4.19.127-nn4-server).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--build=x86_64-linux-gnu' '--prefix=/usr' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--sysconfdir=/etc' '--localstatedir=/var' '--disable-silent-rules' '--libdir=${prefix}/lib/x86_64-linux-gnu' '--li

[2022-03-21 12:18] armenhovhannisyan0607 commented on #10500
Hi,

Please see below steps again to reproduce situation when rmac disappears after frr restart:

`root@sw22-nyc:~# vtysh -c "show evpn rmac vni 16000001"
Number of Remote RMACs known for this VNI: 3
MAC               Remote VTEP
ae:72:9a:3d:75:09 10.254.46.21
86:61:23:8d:96:8f 10.254.46.1
1e:db:0a:6b:32:d8 10.254.46.12
root@sw22-nyc:~# systemctl restart frr
root@sw22-nyc:~# vtysh -c "show evpn rm

[2022-03-21 16:01] ton31337 commented on #10835
This is intentional, because of https://github.com/FRRouting/frr/pull/10447/commits/08d79bce3df0028f3db56010a49b57ca908c1f25. Wrong JSON keys gonna be dropped after the deprecation cycle ends.

[2022-03-21 16:19] lyrh7819 commented on #10444
is that also means ‘bgp vpnv4 routes exporting to vrf can not resolve recursively’?

[2022-03-22 03:11] hothotstreet commented on #10822
yes,offcourse

R1:
`localhost.localdomain# show running-config
Building configuration...

Current configuration:
!
frr version 7.3-MyOwnFRRVersion
frr defaults traditional
hostname localhost.localdomain
log file /var/log/frr/frr.log
no ipv6 forwarding
!
router-id 10.254.0.2
!
router bgp 65000
 bgp router-id 10.254.0.2
 neighbor 10.254.0.1 remote-as 65000
 neighbor 10.254.0.1 update-source 10.254.0

[2022-03-22 09:15] ton31337 commented on #10822
Can you enable logging for BGP? `debug bgp neighbor`, `debug bgp nht`

[2022-03-22 10:48] liuxyon commented on #10826
yes, whole log.
and when i input vtysh command, frr no any output.
![IMG_20220322_184530](https://user-images.githubusercontent.com/13004536/159465217-08a05652-efa1-4a7a-b0b9-d203dbec51ed.jpg)

[2022-03-22 12:58] liuxyon commented on #10826
2022/03/22 20:50:01 ZEBRA: [SWQK6-6JY63][EC 4043309074] 0:254:2602:fed3:7021::/48: Failed to enqueue dataplane install
2022/03/22 20:50:01 ZEBRA: [SWQK6-6JY63][EC 4043309074] 0:254:2a06:e882:119::/48: Failed to enqueue dataplane install
2022/03/22 20:50:01 ZEBRA: [SWQK6-6JY63][EC 4043309074] 0:254:2a0d:2405:511::/48: Failed to enqueue dataplane install
2022/03/22 20:50:01 ZEBRA: [SWQK6-6JY63][EC 4

[2022-03-22 20:06] qlyoung commented on #10587
Quite.

For now, DockerHub remains official. We're aware of the pull limit you mentioned and it's on the radar to be addressed soonish. Whatever we do move to will certainly be multi arch capable.

[2022-03-23 02:13] hothotstreet commented on #10822
2022/03/23 10:15:19 BGP: [Event] 10.240.0.1 connection rejected - not configured and not valid for dynamic
2022/03/23 10:15:57 BGP: 10.254.0.1 [FSM] Timer (connect timer expire)
2022/03/23 10:15:57 BGP: 10.254.0.1 [FSM] ConnectRetry_timer_expired (Active->Connect), fd -1
2022/03/23 10:15:57 BGP: 10.254.0.1 [Event] Connect start to 10.254.0.1 fd 27
2022/03/23 10:15:57 BGP: 10.254.0.1 [FSM] Non bloc

[2022-03-23 07:53] ton31337 commented on #10822
Can you show `show ip nht`?

[2022-03-23 09:02] ton31337 commented on #3440
@patrasar is this fixed?

[2022-03-23 09:04] #3810 closed

[2022-03-23 09:04] #3912 closed

[2022-03-23 09:10] #4577 closed

[2022-03-23 09:19] hothotstreet commented on #10822
localhost.localdomain# show ip nht
10.254.0.1
 resolved via ospf
 via 10.240.0.1, tapbgp_20002
 Client list: bgp(fd 23)

[2022-03-23 09:40] ton31337 commented on #10822
Still missing logs from both sides and CLI outputs from both sides.

[2022-03-23 09:49] hothotstreet commented on #10822
R1:

`
LOG:
2022/03/23 10:15:19 BGP: [Event] 10.240.0.1 connection rejected - not configured and not valid for dynamic
2022/03/23 10:15:57 BGP: 10.254.0.1 [FSM] Timer (connect timer expire)
2022/03/23 10:15:57 BGP: 10.254.0.1 [FSM] ConnectRetry_timer_expired (Active->Connect), fd -1
2022/03/23 10:15:57 BGP: 10.254.0.1 [Event] Connect start to 10.254.0.1 fd 27
2022/03/23 10:15:57 BGP: 10.254.0.1 [F

[2022-03-23 10:03] liuxyon commented on #10826
where i can downlaod old frr version 8.1? the frr 8.2.2 often get stuck

[2022-03-23 10:24] ton31337 commented on #10822
Just checked on CentOS 7.6 with FRR 7.3:

[code]
Everything looks like in your setup, and it's working fine. Can't reproduce this.

[2022-03-23 10:27] hothotstreet commented on #10822
Yes, I have another environment like this, and it works very well, but not on this one, and I'm frustrated

[2022-03-23 10:33] ton31337 commented on #10822
Is it possible to have access to your environment?

[2022-03-23 10:48] hothotstreet commented on #10822
How can you connect to my device

[2022-03-23 10:54] ton31337 commented on #10822
SSH?

[2022-03-23 10:59] hothotstreet commented on #10822
My device is on the Intranet and cannot be connected. If you want to see any more information, I can give it to you

[2022-03-23 11:18] hothotstreet commented on #10822
I have also encountered some strange problems. On OpenWRT devices, static routes added through THE FRR will become invalid after a period of time. The route can be seen inside the FRR, but outside the FRR, the route cannot be seen through the IP route show, and the FRR must be restarted

[2022-03-23 11:57] donaldsharp commented on #10833
XMALLOC asserts if allocation fails.  This cannot happen.

[2022-03-23 11:57] #10833 closed

[2022-03-23 15:05] fedepaol commented on #10587
Understood. I already filed a pr to switch back to dockerhub, let me close this.

[2022-03-23 15:32] Jafaral commented on #10811
We have been using the current tag format  since day 1, I'm not sure we want to change the format now just to have a slightly shorter tar/zip file name.

[2022-03-23 21:50] sturkie opened #10855 "Fresh install of FRRouting cannot run start"
---------------

**Describe the bug**

Unable to start FRR after a fresh OS and FRR install

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. Followed the steps in the Ubuntu 20.04 LTS installation guide (http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-ubuntu2004.html)
2. Followed the Basic

[2022-03-24 08:08] inspurSDN opened #10856 "bgpd crashed after removing bmp targets"
---------------

**Describe the bug**

[o] Did you check if this is a duplicate issue?
[o] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

continuously execute the following command
[code]
**Expected behavior**

bgpd should not crashed
**Screenshots**

![image](https://user-images.githubusercontent.com/57648884/159870064-b8144423-452d-48b8-960e-f97f9a8c14d6.png)

**Ve

[2022-03-24 12:33] ryu-jin opened #10860 "bgpd: Improper data length validation in srv6_service_data"
---------------

**Describe the bug**

[ X] Did you check if this is a duplicate issue?
[ X] Did you test it on the latest FRRouting/frr master branch?

https://github.com/FRRouting/frr/blob/511935cfa4c3c8ac4d5c4d8d5a9ef36e4b2eb507/bgpd/bgp_attr.c#L2544-L2581

It seems that the `length` extracted on line 2564 and used to check if the stream is readable on line 2566 is then not checked against BGP_

[2022-03-24 16:07] scratchy opened #10863 "lib/linklist.c:335: listnode_lookup(): assertion (list) failed"
fighting since a couple of month with this bug here, on a frr restart(s):

[code]

any idea whats the issue?

[2022-03-25 00:17] #10856 closed

[2022-03-25 03:31] liftdat opened #10869 "[Bug] buffer overflow at redist_add_instance"
In the function `redist_add_instance`:

[code]

`in` is allocated a buffer of 2 bytes (`sizeof(unsigned short)`) and is passed as the second argument of `listnode_add`. While in the function `listnode_add`, we have:

[code]

As analyzed, `val` points to a buffer of 2 bytes. However, inside the function `listnode_new`, `val` is used as a `struct listnode *` and the memory access will pass the lengt

[2022-03-25 08:53] ryonkn opened #10876 "bgpd crashed after `show bgp vrf all all` command"
**Describe the bug**
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
execute in vtysh
[code]

**Expected behavior**
bgpd should not crashed

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/1219422/160085179-721d1966-8f2b-4b26-957b-586b922846db.png)

**Versions**
 - OS Version: Ubuntu 20.04.4 LT

[2022-03-25 10:10] patrick7 opened #10880 "OSPF uptime"
Probably it's not up for 284326560 weeks :-)

`192.0.2.249    1 Full/DR         284326560w0d      36.976s 192.0.2.228  ens18.426:192.0.2.227             0     0     0
`

Seen on FRR 8.2

[2022-03-25 11:01] vecinohk commented on #10880
I will also join...

Debian 11 - 5.10.103-1 (2022-03-07) x86_64 GNU/Linux

[code]

[2022-03-25 11:31] donaldsharp commented on #10869
This is incorrect, list->flags does not have LINKLIST_FLAG_NODE_MEM_BY_APP, therefore this will never go into that section of code.

[2022-03-25 11:31] #10869 closed

[2022-03-25 12:44] pantxisto opened #10884 "BGP Routes not updated on kernel"
---------------

**Describe the bug**

[ x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. Install FRR from packages. 8.2.2 Release on Ubuntu 20.04.
2. Configure to start automatically with zebra, staticd and bgpd.
3. Set bgp configuration under /etc/frr/frr.conf
[code]
4. systemctl daemon-reload
5. systemctl restart

[2022-03-25 12:47] taspelund commented on #10884
Try `ip nht resolve-via-default`

[2022-03-25 13:24] JustInVTime commented on #10884
Same problem here on an Ubuntu 20.04 server with frr 8.2.2 as well. The routes from the kubernetes cluster are visible via `show ip bgp` but they don't exists in the kernel routing table.

[2022-03-25 13:32] taspelund commented on #10884
@JustInVTime I don't have any data around your situation, so I have no idea if the same suggestion would be relevant for you. Can you open a new issue with details from your environment? Then we can follow up there without getting things confused between the original issue and yours

[2022-03-25 13:34] taspelund commented on #10884
@pantxisto can you ping the IP you're trying to curl? Can you run a traceroute against it? What SIP is being used for this traffic? (`ip route get <IP>`)

If the RIB and kernel routing table look fine, you're probably having an issue with resolving ARP for the next-hop or there's an issue with return traffic. Let's try to find where the packets are getting lost

[2022-03-25 14:05] taspelund commented on #10884
You're seeing multiple hops so it doesn't look like an ARP issue.  Multiple hops in traceroute means you have a route to get to the remote device, there are multiple intermediate routers that know how to get to the remote device (and back to yours), but some device after the last hop you see doesn't know how to get back to your device or isn't sending TTL expired ICMP errors back.

In any event, u

[2022-03-25 14:29] pantxisto commented on #10884
@taspelund ```network <router-ip>/<router-ip-mask>``` does not solve it. If I traceroute kubernetes nodes it is done directly:

´´´
traceroute <master1-ip>
traceroute to <master1-ip> (<master1-ip>), 30 hops max, 60 byte packets
 1  ip-<unknown-ip-1>.static.contabo.net (<unknown-ip-1>)  0.956 ms  1.918 ms  0.886 ms
 2  ddf-b2-link.ip.twelve99.net (<master1-ip>)  0.872 ms !N * *
[code]

[2022-03-25 14:42] qlyoung commented on #10507
Yeah, so...this is an assertion failure unless I'm reading the issue wrong. We push a stream buffer until a point where automatic bounds checks kick in and terminate the program to *prevent* a buffer overflow. Yet this is labeled as a buffer overflow and assigned a CVE score of 7.8.

@00xc @whichbug can one of you guys clarify the situation here?

[2022-03-25 14:51] taspelund commented on #10884
I don't know how your network is setup, so I can't really comment on the specifics.

What I see is that we have installed the routes into the kernel and they are being used by the kernel to forward the ICMP packets via the gateway you've specified -- so FRR is working correctly.

I don't know anything about your network, so I don't know if the path beyond the first hop is expected for your environ

[2022-03-25 15:25] pantxisto commented on #10884
You mean doing traceroute or a ping from router to all the ips gotten when tracerouting 126.26.26.1?
When doing a traceroute from 126.26.26.1 to router I'm only getting 1 hop and after that all the next 29 hops appear with * * *.

On metallb slack suggest that all cloud providers don't work with metallb because some of them may filter ip addresses that don’t belong to their cloud servers and recom

[2022-03-25 18:01] taspelund commented on #10884
No, I meant logging into 126.26.26.1 and doing a traceroute to the router IP.  If you're not getting anything beyond your first hop, then I'd say either that first hop doesn't have a route to the router-ip or there's some kind of filter in place.

If there isn't end-to-end reachability between 126.26.26.1 and the router-ip then you'd need some way of crossing the network via some IPs that can be f

[2022-03-25 21:07] ton31337 commented on #10880
What do you see under ` Progressive change 10m09s ago` when using `sh ip ospf neighbor detail`?

[2022-03-25 23:51] donaldsharp commented on #10855
The sysconfdir specified in the configure statement in the ubuntu 20.04 LTS installation guide does not match what has been specified probably in your configure line.  Can we see the configure line you used? (please cut-n-paste it from the config.log ).  Because the configure line is out of sync the installation steps for copying the /etc/frr/daemons file is not correct.

[2022-03-26 10:31] vecinohk commented on #10880
[code]

and

second observation - offered 2x "detail":

[code]

Thanks

[2022-03-26 11:10] donaldsharp commented on #10880
os?

[2022-03-26 11:16] donaldsharp commented on #10880
Also ->
[code]

the first detail is bering interpreted as an interface name, since it's indistinguishable from an interface name

[2022-03-26 11:25] vecinohk commented on #10880
@donaldsharp
I wrote os in my first post: Debian 11 - 5.10.103-1 (2022-03-07) x86_64 GNU/Linux

detail - ok I understand - thanks

[2022-03-26 15:55] ton31337 commented on #10880
Can you share your config? I'm unable to reproduce it.

[2022-03-26 18:16] vecinohk commented on #10880
You have to wait more than 24+ hours ... otherwise, the problem will not manifest itself - look here: the neighbor on vlan102 has an up time of about 16+ hours and everything is fine. The problem will take effect later.

[code]

[2022-03-26 20:20] donaldsharp commented on #10880
I have a fix.  Will submit it here shortly

[2022-03-26 22:04] MEschenbacher opened #10893 "Babel stops operating on interface after link flap"
**Describe the bug**

A link flap causes babel to stop operating on the interface.

[x] Did you check if this is a duplicate issue? Yes -- could not find
[x] Did you test it on the latest FRRouting/frr master branch? Yes

**To Reproduce**

`/etc/frr/daemons`
[code]

`/etc/frr/frr.conf`
[code]

Watch babel packets leaving the interface
[code]
Now cause a link flap

[code]

No more packets are sent

[2022-03-27 03:47] iqraaswad opened #10896 "Got BGP Rejected at Routing Table (Show IPv6 Route) - SRv6 L3VPN"
---------------

**Describe the bug**

[ X] Did you check if this is a duplicate issue?
[ X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Router 1 :

Router Configuration :
[code]

Router 2 :

[code]
**Expected behavior**

B> 2001:d30:8000:3:100::/128 [20/0] is directly connected, vrf1, seg6local End.DT6 table 10, seg6 ::, weight 1, 00:04:31

**Screenshots**

<img

[2022-03-27 08:51] #10880 closed

[2022-03-27 08:56] #10893 closed

[2022-03-27 11:28] donaldsharp commented on #10896
what does the log say about the rejection?

[2022-03-27 12:44] iqraaswad commented on #10896
I don't know how to produce a log. I have checked file /var/log/frr/frr.log but found nothing 🥲. I just got daemon status from that file

[2022-03-27 12:58] iqraaswad commented on #10896
I don't know exactly how to do that.. but this is my interface brief

[code]
i create manually vrf1 using this command
[code]
and when trying to ping eth0.241 from same router (FRRouting cli) ...  i got
[code]
any solutions please.. 😢

[2022-03-27 13:33] Waffle2 commented on #8711
I can confirm that this is still an issue.  It is happening regularly on my system, with frr-7.5.1

[2022-03-27 14:12] MEschenbacher commented on #10893
Thank you for the swift fix! I'm not familiar with the backport mechanisms but is there any chance the commit 93d9b1a may be backported to appear in the current debian 11 stable package?

[2022-03-28 06:04] #10860 closed

[2022-03-28 12:27] #10876 closed

[2022-03-28 16:52] sworleys commented on #10468
As you already seem to be aware from other issues/people, we are re-working mobility in EVPN altogether. It is a large change in how pretty much all of it works so that extended mobility events are more deterministic and can go backwards for example. I am not sure how much more transparency I can give other than that it's being worked on to get into the FRR tree.

In cumulus the frr codebase is mu

[2022-03-28 18:16] qlyoung commented on #10507
There are no potential overflows. The potential for overflow is eliminated by the assert. That's the whole point of the assert, that's why we put it there.

Since it sounds like you agree with my assessment, can you work with the CVE people to fix the CVE you filed? Frankly I don't even think this deserves a CVE but if you are set on filing them, please make sure you accurately report the problem.

[2022-03-28 18:20] qlyoung commented on #10505
@whichbug you should have advised us that you were going to file a CVE for this issue. Please see my comment [here](https://github.com/FRRouting/frr/issues/10507#issuecomment-1080985102).

Everyone else, this is now filed as [CVE-2022-26126](https://nvd.nist.gov/vuln/detail/CVE-2022-26126), with an assigned severity score of...7.8 :roll_eyes:

[2022-03-28 18:23] qlyoung commented on #10487
This has been assigned [CVE-2022-26127](https://nvd.nist.gov/vuln/detail/CVE-2022-26127) with a severity score of 7.8.

As with all your other issues, please see my comment [here](https://github.com/FRRouting/frr/issues/10507#issuecomment-1080985102)

[2022-03-28 18:25] qlyoung commented on #10502
Assigned [CVE-2022-26128](https://nvd.nist.gov/vuln/detail/CVE-2022-26128) with a score of 7.8.

No assessment of exploitability has been made.

Please see my comment [here](https://github.com/FRRouting/frr/issues/10507#issuecomment-1080985102).

[2022-03-28 18:29] qlyoung commented on #10503
This has been assigned [CVE-2022-26129](https://nvd.nist.gov/vuln/detail/CVE-2022-26129) with a severity score of 7.8.

No assessment of exploitability has been made.

Please see my comment [here](https://github.com/FRRouting/frr/issues/10507#issuecomment-1080985102).

[2022-03-28 18:32] qlyoung commented on #10507
@00xc @whichbug By the way, if you guys are really interested in helping us with project security, we have a big list of issues just like this one found via our own security processes (such as Coverity, LLVM scan-build, ClusterFuzz, etc) that we need help fixing. Let me know if you're interested in contributing and I'll get you connected with our services so we can get some patches rolling.

[2022-03-28 18:50] c-po opened #10911 "ospf6: daemon crash in 8.2.2"
**Describe the bug**

* [x] Did you check if this is a duplicate issue?
* [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

Loading the following config make ospf6 daemon die

[code]

[code]
**Expected behavior**

No daemon crash

**Screenshots**

**Versions**

 - OS Version: Debian 11

 - Kernel: 5.10.108

 - FRR Version: 8.2.2 commit 1d1f40958

**Additiona

[2022-03-28 23:01] whichbug commented on #10507
I have sent a request to update. I think it will be updated soon.

[2022-03-29 11:10] 00xc commented on #10507
I don't think this was directed to me, but to be clear, I did not request the CVE, I just tried to make everyone aware. For what is worth, I updated [our downstream CVSS score](https://www.suse.com/es-es/security/cve/CVE-2022-26125.html) for this issue accordingly. Hopefully MITRE will do the same soon.

Not that my personal opinion matters much here, but a remotely reachable assertion (i.e. remot

[2022-03-29 11:44] ton31337 opened #10914 "bgpd: Lua with route-map match script crashed"
**Describe the bug**

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

[code]

**To Reproduce**

[code]
[code]

**Expected behavior**

No crash and expected modified metric(med) attribute.

**Versions**

 - FRR Version: master

[2022-03-29 15:30] #10756 closed

[2022-03-30 11:53] #10914 closed

[2022-03-30 12:21] mwinter-osr commented on #5403
Issue known on upstream FRR: https://github.com/FRRouting/frr/issues/5403
Missing feature on FRR at this time which needs to be implemented

[2022-03-30 12:21] eqvinox commented on #5403
We're missing "PIM passive mode" essentially; without PIM we don't have a DR, without a DR, we don't know if we should be handling IGMP on the interface. ⇒ need to have PIM in passive mode to at least do DR election.

[2022-03-30 12:27] #10911 closed

[2022-03-30 14:34] #10128 closed

[2022-03-30 15:46] telirebarry opened #10932 "Zebra reject bgp route with "next hop invalide gateway""
Devices : same version for twice
[code]

Issue :
In both instances i received bgp routes (valid and selected), but when zebra try to install it in vrf (netns here. With vrf-lite no issue), it's rejected with next hop invalide gateway in log file.

Example in VM1 :
[code]
In log file, we can read this :
[code]
In frr documentation "ip nht resolve-via-default" in vrf config must solve issue, but no

[2022-03-30 16:37] qlyoung commented on #9220
Copying from our conversation in Slack:

@p-rintz:

[2022-03-30 21:27] cosmedd commented on #10404
Will this backported to frr 8.2.x?

[2022-03-31 10:36] telirebarry commented on #10932
This might explain the fact that "ip nht resolve-via-default" doesn't fix the next hop issue.

In the running config of zebra the default route is not taken into
[code]
unlike in the show run
[code]

[2022-03-31 11:09] ak503 opened #10939 "isisd crash"
On default config:
<pre>u1-VirtualBox(config)# router isis 1
u1-VirtualBox(config-router)# mpls-te on
u1-VirtualBox(config-router)# no mpls-te
u1-VirtualBox(config-router)# mpls-te on
u1-VirtualBox(config-router)# no mpls-te
vtysh: error reading from isisd: Resource temporarily unavailable (11)Warning: closing connection to isisd because of an I/O error!
</pre>

Checked  on master and stable 8.2

[2022-03-31 20:03] donaldsharp commented on #10932
There is absolutely no way to do route leaking across vrf's with a netns backend.  It's just not possible.  Please use the l3mdev device for vrf's if at all possible as that namespaces are not a good abstraction for vrf's.

[2022-04-01 07:29] #10939 closed

[2022-04-01 07:48] telirebarry commented on #10932
Thanks for answer. That's normal? i would like to know, in this case : zebra don't considere the default route or just not showing it with "show running-config zebra"

[2022-04-01 13:12] donaldsharp commented on #6412
https://git.kernel.org/pub/scm/linux/kernel/git/netdev/net.git/commit/?id=6bf92d70e690  This is fixed in the linux kernel now

[2022-04-01 13:12] #6412 closed

[2022-04-01 18:12] donaldsharp commented on #10896
`log file /tmp/zebra.log`
debug zebra kernel
debug zebra rib detail

then cause bgp to reinstall the route

[2022-04-01 19:08] donaldsharp commented on #10932
you issued a `show running-config zebra` which zebra provided it's config to you.  the static route is not visible because zebra does not own the static route configs.  Just issue `show run` imo

[2022-04-01 19:08] #10932 closed

[2022-04-01 19:09] qlyoung commented on #10811
I agree with Jafar; changing our tagging scheme at this point would be disruptive for little benefit. Unfortunately GitHub tags how they tag; we generally use git from the command line and downloading GitHub-distributed tarballs/zips isn't really part of our workflow at all. Thank you for pointing this out, though.

[2022-04-01 19:09] #10811 closed

[2022-04-01 19:12] qlyoung commented on #10826
It's too hard to figure out what you are trying to show when you dump information this way. I've asked you to use the template repeatedly and you never do it. You need to use the template in order for others to make sense of the issues you're reporting.

[2022-04-01 19:17] qlyoung commented on #10828
It seems likely you have a firewall rule or something else your system preventing us from making the connection. This is almost certainly a detail of your particular platform, which we don't provide support for.

We don't know. You should probably try the usual methods for debugging firewall issues, such as disabling your firewall completely and seeing if you can connect.

Please use the issue tem

[2022-04-01 19:21] qlyoung commented on #10855
Like Donald said, it looks like your installation has been configured incorrectly to set `sysconfdir=/usr/local/etc/frr`, which will cause init scripts and other things to look there for configuration files, which aren't there on your system.

If you post the exact configure line you use we can validate this and help you correct any errors in it.

@frrbot autoclose in 1 week

[2022-04-01 19:27] qlyoung commented on #10760
The issue here is that we read a uint32 off the wire and then use it as an amount of memory to allocate without having a reasonable upper bound on it, which will simply terminate the program if it's too big (`XMALLOC` will assert, which also makes the code following the `XMALLOC` dead). Seems legit to me.

[2022-04-01 20:01] qlyoung commented on #1119
I'm closing this, reopen if it's still relevant.

[2022-04-01 20:01] #1119 closed

[2022-04-01 20:02] qlyoung commented on #1934
No point keeping this one open, this is still just a would-be-nice.

[2022-04-01 20:02] #1934 closed

[2022-04-01 20:02] #2235 closed

[2022-04-01 20:03] qlyoung commented on #2899
4 years old, reopen if still relevant

[2022-04-01 20:03] #2899 closed

[2022-04-01 20:04] qlyoung commented on #3427
Sorry no one replied, 3 years on I'm sure this is no longer relevant.

[2022-04-01 20:04] #3427 closed, assigned to nobody

[2022-04-01 20:19] qlyoung commented on #10827
CF https://github.com/FRRouting/frr/issues/5252

[2022-04-01 20:55] qlyoung commented on #6597
Logs already have severity levels. I can see some potential utility for interactive shell output but in practice the specific error message usually makes it clear enough. VTY messages don't really have anything to do with system logging though, and our log system is quite robust in that area, so I think this use case is covered by the existing log system.

[2022-04-01 20:55] #6597 closed

[2022-04-01 20:56] qlyoung commented on #6856
@mwinter-osr is this fixed? If so can you close it?

[2022-04-01 20:59] qlyoung commented on #9339
The official Alpine images should have this fixed.

[2022-04-01 20:59] #9339 closed

[2022-04-01 21:00] qlyoung commented on #10863
CF / Dupe https://github.com/FRRouting/frr/issues/9950

[2022-04-01 21:02] qlyoung commented on #3793
Any idea if this is still a problem?

[2022-04-01 21:03] qlyoung commented on #10761
#10925

[2022-04-02 01:28] mazhenfeng-mzf opened #10952 "BFD - How to config descriminator?"
---------------

**Describe the bug**

[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

**Expected behavior**

**Screenshots**

**Versions**

 - OS Version:

 - Kernel:

 - FRR Version:

**Additional context**

[2022-04-02 07:53] iqraaswad commented on #10896
after do that... i got some error from zebra.log

[code]

[2022-04-02 11:19] ton31337 commented on #10326
@frrbot autoclose in 1 week.

[2022-04-02 11:50] donaldsharp commented on #10896
```2022/04/02 16:41:32 ZEBRA: [HSYZM-HV7HF] Extended Error: lwt encapsulation type not supported``` looks like your kernel does not support this encapsulation.

[2022-04-02 11:51] donaldsharp commented on #10896
@slankdev do you know what version of the linux kernel @iqraaswad should be using?

[2022-04-02 12:26] donaldsharp commented on #10827
I believe this was addressed in f2f2a16af48137d5f29cc85f08593542002e5bd0 My mistake I should have put a fixes tag. but I slipped up

[2022-04-02 12:26] #10827 closed

[2022-04-02 12:26] donaldsharp commented on #5252
Fixed in f2f2a16af48137d5f29cc85f08593542002e5bd0

[2022-04-02 12:26] #5252 closed

[2022-04-02 12:31] donaldsharp commented on #10952
This is not currently possible with FRR.  What are you trying to do that you need this ability?

[2022-04-02 12:36] donaldsharp commented on #10670
@frrbot autoclose in 2 days

[2022-04-02 20:22] iqraaswad commented on #10896
thanks for mentioning kernel.. i've recompiling kernel.. and everything works now...

[2022-04-02 20:22] #10896 closed

[2022-04-03 05:13] mazhenfeng-mzf commented on #10952
Thanks, I am trying connecting FRR to HUAWEI Switch.
1. HUAWEI only can config <1-8191> discriminator value

[HWs11-S6720-10/40G-bfd-session-mzf]discriminator remote ?
  INTEGER<1-8191>  Discriminator value
[HWs11-S6720-10/40G-bfd-session-mzf]discriminator remote 8000
[HWs11-S6720-10/40G-bfd-session-mzf]dis this
#
bfd mzf bind peer-ip 172.18.15.14 interface Vlanif18
 discriminator remote 800

2. F

[2022-04-03 12:42] liuxyon commented on #10826
the same report in mail list.

Today's Topics:

   1. BGPD hanging in FRR 8.2.2 (Philip Smith)
Message: 1
Date: Sat, 2 Apr 2022 20:47:42 +0100
From: Philip Smith <philip@nsrc.org>
To: frog@lists.frrouting.org
Subject: [FROG] BGPD hanging in FRR 8.2.2
Message-ID: <54869a9a-07db-2033-cc16-c0b8a6612060@nsrc.org>
Content-Type: text/plain; charset=UTF-8; format=flowed

Hi everyone,

Just following up o

[2022-04-03 12:58] ton31337 commented on #10826
I'll try to replicate and work on this.

[2022-04-03 20:44] ton31337 commented on #10826
@liuxyon could you enable `debug rpki`? Also, it would be useful to have `show memory | include RPKI` (as late as possible before not responding). And `ps aufx | grep bgpd` + `free -m`.

[2022-04-04 05:07] mobash-rasool commented on #5403
VMWare has implemented the PIM passive mode. We will be raising the changes.

[2022-04-04 05:49] ton31337 commented on #10440
Seems fixed with https://github.com/FRRouting/frr/pull/10838 as well.

[2022-04-04 05:49] #10440 closed

[2022-04-04 06:40] panktrip opened #10956 "FRR 8.1 - bgpd not sending out the routes (bgp update message) when I configure network <ip> command"
FRR Version:
(show version o/p on vtysh console).

FRRouting 8.1-UpfFrr810 (localhost.localdomain).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--build=x86_64-redhat-linux-gnu' '--host=x86_64-redhat-linux-gnu' '--program-prefix=' '--disable-dependency-tracking' '--prefix=/usr' '--exec-prefix=/usr' '--bindir=/usr/bin' '--sysconfdir=/etc' '--datadir=/usr/share' '--includedir=

[2022-04-04 06:44] panktrip commented on #10956
I missed to add the kernel version, where I am running 8.1 FRR.

CentOS Linux release 7.8.2003 (Core)
[root@localhost frr]# uname -a
Linux localhost.localdomain 3.10.0-1127.el7.x86_64 #1 SMP Tue Mar 31 23:36:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2022-04-04 08:59] ton31337 commented on #10956
http://docs.frrouting.org/en/stable-8.2/bgp.html#clicmd-bgp-network-import-check

[2022-04-04 08:59] #10956 closed

[2022-04-04 09:03] panktrip commented on #10956
Thanks.  This worked.
Please close this issue.

[2022-04-04 09:30] liuxyon commented on #10826
Since version 8.2.2 cannot be used, we have all returned to using version 8.1

[2022-04-04 10:34] ton31337 commented on #10826
I can't replicate this with 100k routes and two full RPKI validators (cache servers), but just found a [memory leak](https://github.com/FRRouting/frr/pull/10957) (which might be a possible reason, don't know, that's why I asked for more details).

[2022-04-04 10:44] pfsinoz commented on #10826
@ton31337 I'm still staying with 8.2.2 and happy to help troubleshoot this. Will get you `debug rpki` etc when it next happens. For me, it's every 5 days this happens (sorry, we'll have to wait). Got 60 peers, probably 5 of them giving me full tables in v4 and v6, the rest just global R&E routes (which is about 20k IPv4 and 6k IPv6). Let me know if anything else needed.

[2022-04-04 10:46] ton31337 commented on #10826
@pfsinoz cool, let me know when you have more details (as I described in a previous comment).

[2022-04-04 10:53] pfsinoz commented on #10826
@ton31337 is the stack trace I have from the last hang of any use at all?

[2022-04-04 10:56] ton31337 commented on #10826
At least it's quite clear that RPKI-related...

[2022-04-04 17:51] #10761 closed

[2022-04-04 21:36] Supermathie commented on #10326
We'll do so (upgrading to debian 11 and we'll get a newer version) and let you know (cc: @fitzy101)

[2022-04-05 09:43] vahid-1980 opened #10967 "NHRP without security - NEED HELP!"
Hello everyone,
would someone please help me with this:

I want to use nhrpd from FRR, to connect to a Cisco network.
I have an IPv4 network and want to use IPv6 with gre tunnels over IPv4.

the structure is as below:

      **Spoke1** ----- **Switch** ------**Spoke2** (gentoo PC with Frr running)
                           |
                        **HUB**

**Spoke1** : Cisco router configured wi

[2022-04-05 12:36] mruprich commented on #10811
Ok, np, this was just a suggestion. Thanks though ;)

[2022-04-05 15:35] idryzhov commented on #10952
The remote discriminator should not make any difference for the local machine. It's an opaque value that is simply reflected back to the peer. Why do you have the need to configure it?

[2022-04-06 02:12] mazhenfeng-mzf commented on #10952
Hi idryzhov
  Thanks
  For HUAWEI, "remote discriminator"  must be configured when using static BFD.
  For FRR, I am willing to configure "local discriminator".
  Maybe I can try to using dynamic BFD.

[2022-04-06 03:12] mazhenfeng-mzf commented on #10952
Hi idryzhow and donaldsharp,
  Thanks for your help.
  After I configure "**Static BFD for negotiation**"  in HUAWEI Switch, **it can work** without static discriminator.
  _https://support.huawei.com/enterprise/zh/doc/EDOC1100197869/85400051_

  This is my FRR config:
 bfd
   peer 179.18.15.1 interface vlan18
   exit

  This is my SW config:
     bfd mzf14 bind peer-ip 179.18.15.14 interface Vlan

[2022-04-06 03:13] #10952 closed

[2022-04-07 09:47] vahid-1980 commented on #10967
My problem solved, the problem was with filters in ip6tables

[2022-04-07 09:47] #10967 closed

[2022-04-07 17:35] vincentschuele opened #10985 "ISIS labels routes when SR disabled"
with ISIS-SR disabled and other nodes in the topology running ISIS-SR the mpls table is still used for forwarding.
![show ip route](https://user-images.githubusercontent.com/42813133/162262580-370f05e1-fa6b-4bce-9388-c10d26281db1.png)
![show mpls table](https://user-images.githubusercontent.com/42813133/162262630-c6fb1c27-50e1-4870-b822-c04b92a3915d.png)

[code]

[isis-sr-issue.txt](https://github

[2022-04-07 17:41] vincentschuele commented on #10985
issue does not exist in 7.5.1-1.1 from Debian Bullseye repo.

[2022-04-07 22:15] mwinter-osr opened #10986 "PIMd crash with sigsegv (During ANVL IGMPv3 Tests)"
Found in FRR master, sha e09284ca from April 7, 2022
Crash during ANVL Test IGMPV3-4.19

### Address Sanitizer Output
[code]

Crash happens at
[code]

Function `pim_upstream_kat_start_ok()`
[code]

`ifp->info` is 0

[code]

I do believe the crash happens while igmp/pim is removed from interfaces.
Issue is reproducable with this specific git sha

[2022-04-08 00:15] donaldsharp commented on #10986
isn't this just #10782

[2022-04-08 06:32] mwinter-osr commented on #10986
yes, silly me to open same issue again... must have been tired

[2022-04-08 06:32] #10986 closed

[2022-04-08 07:54] odd22 commented on #10985
I confirm the problem. It was introduced with TI-LFA feature.

I'm preparing a patch to correct this bug.

[2022-04-08 15:36] mwinter-osr commented on #10782
No, unfortunately not. Still the same crash

[2022-04-08 19:17] #10828 closed

[2022-04-08 19:21] #10855 closed

[2022-04-08 19:35] lifenwu opened #10998 "bgp community alias caused routemap set community errors"
---------------

bgp community alias caused routemap set community errors

[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
"""
977c7467ab48# configure
977c7467ab48(config)# bgp community alias 1:11 ca_test
977c7467ab48(config)# route-map rm_test_1 permit 10
977c7467ab48(config-route-map)# set community 1:11
% [BGP] Ar

[2022-04-09 12:28] alberts-s commented on #10160
I am encountering also this issue - this is especially troubling where the default route is set up via DHCP. Restarting FRR makes sure the default route shows up again.
Reproducible on master (#[ef362a5](https://github.com/FRRouting/frr/commit/ef362a5156ff5cc358cf2efe0797bf634bb1c5a5))

[2022-04-09 12:36] #10670 closed

[2022-04-09 14:36] ton31337 commented on #10998
@lifenwu can you test this branch? https://github.com/FRRouting/frr/pull/10999

[2022-04-11 01:02] lifenwu commented on #10998
It fixed "% [BGP] Argument form is unsupported or malformed." to allow numeric pattern.  But alias still cannot be used in set community.
e09377f09c5b# configure
e09377f09c5b(config)# bgp community alias 1:11 ca_test
e09377f09c5b(config)# route-map rm_test_1 permit 10
e09377f09c5b(config-route-map)# set community 1:11
e09377f09c5b(config-route-map)# route-map rm_test_2 permit 10
e09377f09c5b(confi

[2022-04-11 05:57] tyaguvg opened #11005 ""ipv4 vpn" can not be used inside a VRF instance of BGP"
[ yes ] Did you check if this is a duplicate issue?
[  ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Thank you.
tyaguvg.

[2022-04-11 06:00] tyaguvg commented on #11005
I referred the similar issue but didn't get any relevant reply to this issue.
flowspec can not be used on Vrf instances #2235 -- https://github.com/FRRouting/frr/issues/2235

Thank you.

[2022-04-11 06:16] ton31337 commented on #10998
@lifenwu it's not allowed to enter `set community <alias>`. We have `match alias <alias>`. We might add this as a separate feature request for `set` operation.

[2022-04-11 06:19] lifenwu commented on #10998
ok.  thx.

[2022-04-11 06:19] #10998 closed

[2022-04-11 10:24] scratchy commented on #7299
Somehow related to https://bugs.launchpad.net/ubuntu/+source/frr/+bug/1968550 . At least in both cases routes are missing which should be there.

[2022-04-12 13:15] Koaxiel opened #11016 "No propagation of Link Bandwidth community when FRR acts as a route server"
---------------

**Describe the bug**

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Configure FRR as a route server for EVPN BGP sessions
From an rs-client, send to FRR an EVPN prefix with Link Bandwidth community and check if an other rs-client receive this one

**Expected behavior**

According to the [LInk Bandw

[2022-04-12 13:53] ton31337 commented on #11016
Is this happening only for EVPN? Because I can't replicate this in IPv4/IPv6 unicast.

[2022-04-12 14:06] ton31337 commented on #11016
Even with EVPN I'm able to receive link-bandwidth community.
[code]

[2022-04-12 14:36] RealUrsus opened #11017 "BFD is ignoring local-address settings"
**Describe the bug**

With the second IP assigned to the interface, local-address setting (pointing to the second ip) is ignored and BFD traffic being sent from the primary IP.

[ x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
1. Have secondary IP on interface
    `ip a`

   enp5s0: <BROADCAST,MULTICAST,UP,LOWER_UP> m

[2022-04-12 16:04] Pcrossley69 commented on #4872
I have the same problem - frr 8.1 docker containers under GNS3 2.2.29
Kernel modules are installed
sysctl has been modified

I am using explicit null labels.

"show mpls status" shows mpls is enabled
"show mpls table"  and "show mpls ldp bindings" shows that the labels are being allocated

doing a ping test: wireshark shows label swapping occurring at intermediate hops but there are no replies to

[2022-04-12 16:19] taspelund commented on #4872
I haven't tried this in a container, but I recall having blackholing issues with explicit-null labels until I enabled net.mpls.conf.lo.input = 1 in sysctl.
@Pcrossley69 maybe that would help in your situation as well?

[2022-04-12 16:28] mjstapp commented on #4872
There's also the long-standing issue that FRR zebra has when terminating LSPs. Historically, we've relied on PHP it seems, and zebra is not really willing to terminate an LSP locally. Implicit-null works for us for this reason. There may be some container-specific issue too, not aware of that, but in general at this time zebra doesn't really handle tunnel termination completely.

[2022-04-12 17:09] Koaxiel commented on #11016
Hello, I tried only with EVPN.

I just tried with 8.2.2, I have the same issue:

the route-server receive correctly the prefixes with LB community:

[code]

but when the RS this prefix to another RS client, the LB community isn't set anymore (but still RT, ET and Rmac):

[code]

The configuration of RS:

[code]

[2022-04-12 18:12] chaowyc commented on #10760
I believe attackers can utilize this bug to crash remote servers running bfdd. so, hope the bug can be fixed asap.

[2022-04-12 18:12] chaowyc commented on #10760
I believe attackers can utilize this bug to crash remote servers running bfdd. so, hope the bug can be fixed asap

[2022-04-12 21:00] ionb42 opened #11021 "MSDP weird state"
I ran into a weird issue with MSDP where frr is dropping an incoming connection from a configured MSDP peer, claiming it's not actually configured. This is likely difficult to reproduce and will probably go away on an frr restart (planned for this evening), but I figured people more familiar with the code might be able to spot something in the msdp code anyway. Frr is version 8.1, but a quick peru

[2022-04-12 21:38] ionb42 commented on #11021
I can confirm that restarting frr on 10.158.1.42, without changing anything else, resolved the issue.

[2022-04-13 06:01] Koaxiel commented on #11016
Of course:
[code]

[2022-04-13 06:38] inspurSDN opened #11022 "apply different distance on the same static route"
---------------

**Describe the bug**

[x] Did you check if this is a duplicate issue?
[] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

**Expected behavior**

The same configuration on FRR 7.2 seems to be replaced the distance value and only formed one route.
I am wondering, what is the consideration for the two routes to be formed and what are they used for

[2022-04-13 12:55] Koaxiel commented on #11016
Oh, I posted the config of the RS-client receiver.
The RS-client which set the community is gobgp as [library](https://github.com/osrg/gobgp/blob/96e76ca84535ca55c23d21dd9cd698b3ad91388d/pkg/packet/bgp/bgp.go#L10485).
GoBGP seems to respect the Link Bandwidth [RFC](https://datatracker.ietf.org/doc/html/draft-ietf-idr-link-bandwidth-07#section-5) and set this attribute like non-transitive.
As I see

[2022-04-13 13:59] ton31337 commented on #11016
Correct, will fix this.

[2022-04-13 15:55] mgob commented on #6823
This is an oldie but I'll toss my hat in the - this affects me too ring.

OPNsense 21.7.8-amd64
FreeBSD 12.1-RELEASE-p22-HBSD
FRR os-frr-1.26

I have a CARP on the same interface as the OSPF instance and I get the same error, removing the CARP /32 entry results in normal operation.

2022-04-13T08:44:54 | ospfd[64790] | [EC 134217741] interface lagg0_vlan2223:x.x.x.x: ospf_read network address is n

[2022-04-14 08:46] fdomain commented on #10559
Hello, do you have any update on this ?

[2022-04-15 12:42] idryzhov commented on #11022
This is fixed in newer versions and even backported to stable/7.5 – https://github.com/FRRouting/frr/commit/13d2a156eacb1754b3534d06e90eb421cb4158c0.
You can update FRR, or, if you want to stay on 7.5, you have to build it from source using branch stable/7.5.

[2022-04-15 12:42] #11022 closed

[2022-04-15 20:04] #11016 closed

[2022-04-16 11:19] rhermsen opened #11034 "Request to have a Usage output for script frrinit.sh"
- FRR VERSION: 8.2.2
- OPERATING SYSTEM VERSION: Tiny Core Linux 13.0
- KERNEL VERSION: 5.15.10 (5.15.10-tinycore SMP Tue Dec 21 16:51:09 UTC 2021 i686 GNU/Linux)

---------------

**Describe the Enhancement**
Enhancement request for frrinit.sh [1].

Request to have a Usage message displayed if frrinit is run without or incorrect option.

**Current behavior**
[code]

**Expected behavior**
Expected

[2022-04-16 11:39] rhermsen opened #11035 "Request to test if script frrinit.sh is run by root"
- FRR VERSION: 8.2.2
- OPERATING SYSTEM VERSION: Tiny Core Linux 13.0
- KERNEL VERSION: 5.15.10 (5.15.10-tinycore SMP Tue Dec 21 16:51:09 UTC 2021 i686 GNU/Linux)

---------------

**Describe the Enhancement**
Enhancement request for frrinit.sh [1].
Test if script is run by root e.g.:
[code]

**To Reproduce**
If script is not run by root watchfrr and staticd are started, but the other protocols ti

[2022-04-18 13:26] ChinmayaAgarwal opened #11038 "Restart Limit in FRR service"
Hi,

We have observed that FRR has a restart limit configured in its service file (i.e. 3 restarts within 3 minutes). What is the reason for configuring this limit?

Thanks and Regards,
Chinmaya Agarwal

[2022-04-18 15:20] taspelund commented on #11038
The point of a restart limit is to put an upper bound to the amount of impact an FRR failure can have on the system it's running on.  By adding the restart limit you make sure the service doesn't get into a restart loop and you avoid the possibility of systemd getting stuck trying to manage that loop.

I have seen other services hosted by systemd crash + attempt to restart more than 100k times wit

[2022-04-19 04:45] Manikandaprab opened #11042 "Issues while changing the area type."
There are issues like in OSPFv2 stale entry is present when user change the area type from normal to stub / NSSA to stub.
Below are the list of issues.

1. In non ABR NE3, While changing the area from normal to stub, AS external LSA max age and not removed. (stale entry)

2. In ABR NE2, While changing the area from NSSA to stub, NSSA LSA and translated As external LSA is not getting cleared. (afte

[2022-04-19 07:23] aliforouzan opened #11044 "route redistribution in EIGRPD not work"
tested on master commit [33dfcd7](https://github.com/FRRouting/frr/commit/33dfcd73978647961b578a2348cd6eb931d40713)

When redistribution for PROTOCOL(BGP, ISIS, rip,...) configure in EIGRP, EIGRP requests PROTOCOL routes from Zebra and then Zebra sends the routes. At this moment a  `ZEBRA_REDISTRIBUTE_ROUTE_ADD` message receives from zebra and EIGRP handles this message in the `eigrp_zebra_read_ro

[2022-04-19 09:50] ton31337 commented on #10826
@pfsinoz maybe you have more details about this?

[2022-04-19 10:35] ton31337 commented on #10200
@frrbot autoclose in 1 week.

[2022-04-19 10:36] ton31337 commented on #10229
@frrbot autoclose in 1 week.

[2022-04-19 10:36] ton31337 commented on #10234
@frrbot autoclose in 1 week.

[2022-04-19 10:38] ton31337 commented on #10302
@frrbot autoclose in 1 week.

[2022-04-19 10:38] ton31337 commented on #10303
@frrbot autoclose in 1 week.

[2022-04-19 10:39] ton31337 commented on #10326
@frrbot autoclose in 1 week.

[2022-04-19 10:39] pfsinoz commented on #10826
@ton31337 Frustratingly it has not hung since! I'm still waiting, still gathering the data every hour. I've had to restart the system once for another reason, but still no hang since. This is the latest snapshot, from about 40 minutes ago:
[code]
I've had a couple of instances where the `sh ip bgp` on a full feed has caused the `clogin` driven by my scripts to timeout. But not repeatable.

[2022-04-19 10:39] ton31337 commented on #10384
@frrbot autoclose in 1 week.

[2022-04-19 10:43] rubenrdp commented on #10234
The problem is still there. Not sure whether you have done something to solve it...

[2022-04-19 10:52] sbrs3 opened #11047 "EVPN Type 5 prefix not accepted"
---------------

**Describe the bug**

[x ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

I have two routers configured for EVPN as follows:
Router 1:

[code]
Router 2:
[code]
Each router advertises one prefix (a loopback in the VRF), but the other is not accepting it. For example:
Router 1:
[code]
However, router 2 do

[2022-04-19 11:07] ton31337 commented on #10234
I assume [this](https://github.com/FRRouting/frr/pull/11048) will fix this issue.

[2022-04-19 11:11] ton31337 commented on #10822
I don't know, TeamViewer or so then? If you are in FRR Slack, ping me.

[2022-04-19 17:20] taspelund commented on #11047
Awesome, glad you were able to figure it out!

@frrbot autoclose in 1 week.

[2022-04-19 17:20] #11047 closed

[2022-04-19 18:57] #11034 closed

[2022-04-19 19:15] ton31337 commented on #10802
More details needed:
* `cat /etc/frr/daemons`
* `cat /etc/frr/frr.conf`
* `cat /var/log/frr/frr.log` or `journalctl -u frr -n 100`
* `ip link show`
* OS?
* Is this compiled or from the packages?

[2022-04-19 19:44] rhermsen commented on #11034
Thanks for solving this enhancement so quickly.

Btw, Is 'namespace' a possible (optional) argument for frrinit.sh?
(I haven't tried that yet)

[2022-04-19 22:19] rhermsen opened #11056 "Request command line auto-completion with space"
Enhancement request

Request for command line auto-completion with space.
Currently command line auto-completion only works with Tab [1].
This request is to also allow auto-completion with space in addition.

[1] http://docs.frrouting.org/en/latest/basic.html?highlight=tab#cli-advanced-commands

[2022-04-19 22:36] #10160 closed

[2022-04-19 22:37] #10234 closed

[2022-04-20 10:55] birdofprey commented on #10802
how time supported Vpc or IRF or HUAWEI M-LAG

[2022-04-20 16:10] qlyoung commented on #11056
If I understand correctly - the desired behavior is that if you press space all keywords that are absolutely resolved up to that point in the line will be expanded to their full forms. So e.g. `c t<space>` will expand to `configure terminal`.

[2022-04-20 18:58] rhermsen commented on #11056
@qlyoung
Yes indeed but only for each keyword, `con<space>` will expand to `configure`.

[2022-04-21 05:43] tyaguvg opened #11065 "Set Metric (not AD) to a Static Route"
Hi,

I'm trying to configure a Metric to a Static Route but I don't see an option to do that but I've option/cmd to configure/set an Administrative Distance to a Static Route.

I thought of attaching a route-map (where we can set a metric) to a static route but even that is not possible.

Can you please help of how we can configure a metric to a static route?

router1(config)# ip route 10.0.1.0/32

[2022-04-21 20:38] ton31337 commented on #3942
@frrbot autoclose in 1 week.

[2022-04-21 20:40] ton31337 commented on #5282
@bisdhdh are you working still on this?

[2022-04-21 20:45] ton31337 commented on #6534
Duplicate with https://github.com/FRRouting/frr/issues/5879, closing.

[2022-04-21 20:53] ton31337 commented on #8425
This is fixed in master with https://github.com/FRRouting/frr/pull/10838/commits/aa24a36a2d1814c8a1844465b8ff73e54cb85b45

[2022-04-21 20:53] #8425 closed

[2022-04-21 20:55] ton31337 commented on #7517
@frrbot autoclose in 1 week.

[2022-04-21 21:03] ton31337 commented on #8657
Can you provide the configuration?

[2022-04-21 21:06] ton31337 commented on #9373
Please upload somewhere (or maybe here) screenshots (flamegraphs), strace logs.

[2022-04-21 23:57] #2381 closed

[2022-04-22 01:02] kyrio360 opened #11068 "ospf6d loses adjacency and restarts database sync"
My frr works in full state for a few hours varies from 8 to 10 hours, but something happens that causes the process to restart I have already tried to install frr in the stable version and also in version 6 but the problem persists I am currently testing version "7.5 .1".

Below are the logs I normally receive.

########################################################################
abr 21 20:27:

[2022-04-22 08:22] birdofprey commented on #10802
架构设计和测试中应该定义一个新名词:双螺旋完备性测试。这个概念来源于生物学概念"双螺旋"。设计需要这样一个协议支持横向自动扩展。适用于各个层的普世协议，就像DNA双螺旋结构那样，那高可靠性将是数量级提升。比如网络层有VPC，我理解就是一种架构双螺旋。但VRRP协议应该不算，主备模式浪费了一半能力。ORACLE的RAC也可以理解为架构双螺旋。但自由开源比较缺少这种通用架构或者通用协议，或者说架构设计中应该定义这些内容，一方面为降级做好准备，一方面为横向扩展做好准备，并能通过形式化验证，具有良好的工程化方法实现。这样架构就有了彻底的单点故障消除和降级运行能力。没有双活哪里来的降级运行，在当下数据流实时性和相关性越来越紧密相连的模式下。很多应用系统单点故障带来的故障MTTR时间过长应用是无法接受的。或者换个说法，用户作业过程是无法接受的。 IEEE缺少一个自由的类似VPC的垮设备多链路捆绑协议。

[2022-04-22 11:06] hothotstreet commented on #7141
I encountered this error when cross-compiling FRR8.2. I installed the library during cross-compiling, but it was not found.
[code]

[2022-04-22 11:33] kak2zz opened #11071 "FRR 8.2.2 EVPN MH duplicate packets"
Duplicate trafic with FRR EVPN MH

i have problem with EVPN MH. My scheme:
![image](https://user-images.githubusercontent.com/5379083/164704315-629efe13-315e-4dd4-b28a-a8e6615e29c7.png)

scheme description:
- bond interface on 2 host (host1 and host2) attach to bridge. This nodes have vlanif10
[code]

- 4 nodes on ubuntu 20.04 with FRR 8.2.2
on links between this nodes work bgp ipv4 to advertize l

[2022-04-22 17:35] captainark opened #11073 "Route removed from RIB still being announced via BGP"
**Describe the bug**

A route that was in the RIB but is removed is still announced to peers via BGP.

- [x] Did you check if this is a duplicate issue?
- [x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

I have the following configuration:

[code]

When I start frr, there is no route for the 192.168.0.0/16 network in RIB.

[code]

As expected when frr starts, the r

[2022-04-22 17:46] omshii opened #11075 "Improper updating of access-list rules involving host filters"
---------------

**Describe the bug**

Modifying an existing access-list rule that filters by host by entering another rule with the same sequence number leads to the rule often not being fully replaced. The same also occurs if you start with a rule that does not filter by host and try to modify it to a rule that filters by host.

- [x] Did you check if this is a duplicate issue?
- [ ] Did you tes

[2022-04-22 21:07] rhermsen commented on #11035
Thanks for fixing this so quickly.

For me I also needed root privileges to get correct results with 'frrinit.sh status'.

[2022-04-23 08:42] ton31337 commented on #11073
Please enable `debug bgp updates` and show the output here.

[2022-04-24 05:12] aderumier commented on #10404
@fluboi

Hi,
I'm the proxmox frr package maintenair, I'll try to see if I can backport it to current proxmox 8.0.1.  (Another user have reported same kind of netlink error)

[2022-04-24 09:43] fluboi commented on #10404
Hi,
Thanks @aderumier !
Currently the fix is in master, but not in 8.2.2 nor 8.3-dev.
@donaldsharp Any idea of when could we expect that fix to be in a stable version ?

[2022-04-24 11:19] rhermsen opened #11078 "Configure with runstatedir fails"
- FRR VERSION: 8.2.2
- OPERATING SYSTEM VERSION: Tiny Core Linux 13.0
- KERNEL VERSION: 5.15.10 (5.15.10-tinycore # 622 SMP Tue Dec 21 16:51:09 UTC 2021 i686 GNU/Linux)

**Describe the bug**
If I configure frr using (full configure [1]):
[code]

I'm not able to start frr with:
`sudo frrinit.sh start`

During this I see a pid file created in /var i.s.o. /var/run/frr:

[code]

frrinit.sh script deta

[2022-04-24 11:20] #4904 closed

[2022-04-25 06:02] aderumier commented on #10404
@fluboi
I had tried to backport to 8.0.1 but, they are 2 others patches
(https://github.com/FRRouting/frr/pull/10482)
and I'm not sure about the stability.

I think I'll update to 8.2.2 + patches (seem they apply fine, I have done fast tests, I don't see evpn regression).

If you want to test, here a build with the 3 patches

[code]

For the record, I have another proxmox user on the forum with sa

[2022-04-25 07:34] triple-it opened #11084 "DOUBLE entry ip prefix-list crash?"
Hi!

- FRR VERSION: Hello, this is FRRouting (version 8.2.2)
- OPERATING SYSTEM VERSION: Ubuntu 20.04.4 LTS
- KERNEL VERSION: 5.4.0-107-generic

---------------

- [ x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

A double prefix in a prefix-list is not allowed... but it gets created with one entry

[code]

This is however not the ca

[2022-04-25 08:08] fluboi commented on #10404
@aderumier
Just tried your package, it fix the issue and evpn seems to just work as expected. (but it's a small Lab)  :)

[2022-04-25 16:47] ton31337 commented on #11078
Please show `show version`.

[2022-04-25 16:54] rnurgaliyev opened #11091 "netlink-dp error: No buffer space available (on system startup)"
---------------

**Describe the bug**

We run a small eVPN with ~1200 type-2 routes. Problematic node peers with two route reflectors via iBGP:
[code]

When I do a cold start of FRR, zebra will report lot of following messages:

[code]

Most of MAC addresses as expected are not added to the kernel forwarding table.

I was blaming `net.core.rmem_default`, `net.core.rmem_max`, and zebras argument `-

[2022-04-25 16:56] donaldsharp commented on #11065
Can you help me understand what you are trying to do by setting a metric?

[2022-04-25 17:49] rhermsen commented on #11078
Thanks for looking into this.
Below the show version with the working situation where both localstatedir and runstatedir are /var/run/frr.
Should I compile with `--localstatedir=/var`?

[code]

[2022-04-25 18:03] ton31337 commented on #7212
Nexthops are zeroed if no route-map is applied with NH changes, that's why we see 0.0.0.0/::.

[2022-04-25 22:59] #11073 closed

[2022-04-26 09:43] yiyuaner opened #11097 "[Bug] buffer overflow in bfdd/control.c due to unsanitized input"
In the file `bfdd/control.c`, the function `control_read` has the following [code](https://github.com/FRRouting/frr/blob/64f9fa7fcfdb8c55c68b3f0e3557f8b60af50f10/bfdd/control.c#L395):

[code]

The problem of the above code is that one can craft the file content of `sd` such that the length value `plen` equals `UINT32_MAX`.

Then on 32-bit platforms, the computation of the size for malloc (`sizeof(

[2022-04-26 12:57] rzalamena commented on #11097
The code seems problematic. The quick fix is to add a reasonable size check to avoid the mentioned problem.

The long term fix should be remove the control socket support (probably needs a deprecation cycle) and ask people to use northbound instead. At the moment there is no equivalent replacement in northbound to replace the session notifications via socket (only via log messages, see #7050 for m

[2022-04-26 12:57] rzalamena commented on #11097
Duplicated issue: #10760 .

[2022-04-26 13:46] ton31337 commented on #9109
http://docs.frrouting.org/en/latest/bgp.html#clicmd-set-as-path-replace-any-ASN

[2022-04-26 13:46] #9109 closed

[2022-04-26 14:04] aderumier commented on #10404
@fluboi
thanks. It's also fixing forum user bug.  I'm currently testing 8.2.2 on a big test cluster for 7-10 days. If it's ok, I'll update the proxmox repo to 8.2.2.

[2022-04-26 14:59] odd22 commented on #10985
I continue my investigation, and routers are not behave the same way:
- Juniper routers never encapsulate packets into MPLS when traffic goes to another SR router i.e. ping, ssh, bgp ... are sent without labels
- Cisco routers always encapsulate packets into MPLS when traffic goes to another SR router (if not neighbor or neighbor with no-php flag) i.e. ping, ssh, bgp .. are sent labelled
FRR seems

[2022-04-26 15:09] fxie00 opened #11101 "An assert in zebra_rib.c for FRR 8.1"
Hi,

I cloned a local FRR git repo for release 8.1. I was able to compile the source code by following the instruction in http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-centos8.html#. When I tried to start the Zebra daemon, an assert in zebra_rib.c was seen. Was the issue reported before? Any hint is highly appreciated. Thanks,

Feng Xie

The command to start Zebra:

[frr]

[2022-04-26 15:13] donaldsharp commented on #11097
Closing issue since this is a duplicate

[2022-04-26 15:13] #11097 closed

[2022-04-26 15:15] Yuya9786 commented on #5884
@sworleys
I would like to work on this issue.  Could you guide me?  Because I'm not familiar to FRR.

I think It requires the modifications as like
adding a debug line telling us that a entry is being created for X neighbor's link local address or something before calling `netlink_talk()` in `netlink_neigh_update()` under `IS_ZEBRA_DEBUG_KERNEL`.

I don't know what information shoule be included i

[2022-04-26 15:18] eqvinox commented on #11078
`runstatedir` was just never added to FRR, it didn't exist in autoconf a while back and noone got around to add it…

[2022-04-26 15:41] qlyoung commented on #10760
This bug is a little more serious than an assert - it's possible to manipulate `plen` such that the arithmetic for what buffer size to allocate (line 452) wraps, allocating a small buffer. Thank you @yiyuaner for pointing that out.

[2022-04-26 15:44] donaldsharp commented on #11101
2022/04/25 18:48:32 ZEBRA: zebra/zebra_rib.c:4283: check_route_info(): assertion (route_info[i].key) failed

Have you modifed the source code?  That line number does not match up to anything where check_route_info is called for 8.1.

Having said that the point of check_route_info is to ensure that when a user adds a new routing daemon that new data is appropriately entered into the code base.  Whi

[2022-04-26 17:50] rhermsen commented on #11034
Small update. Just successfully verified the use of 'namespace'.
Would be nice if `[namespace]` can be added to the usage info.

[2022-04-26 17:58] ton31337 commented on #11034
It's added already.

[2022-04-26 21:20] rhermsen opened #11102 "`Integrated configuration` is not the default if 'namespace' is used"
- FRR VERSION: 8.2.2
- OPERATING SYSTEM VERSION: Tiny Core Linux 13.0
- KERNEL VERSION: 5.15.10 (5.15.10-tinycore SMP Tue Dec 21 16:51:09 UTC 2021 i686 GNU/Linux)

---------------

**Describe the bug**
I successfully verified the use of a custom `namespace` with version 8.2.2.
Only found that `Integrated configuration` is not the default if 'namespace' is used.
It is the default without use of 'na

[2022-04-26 21:27] rhermsen commented on #11034
Thanks, should have looked at the master branch.

[2022-04-27 04:14] #11078 closed

[2022-04-27 05:21] paulgear opened #11103 "ospfd fails to drop redistributed kernel route when interface disappears"
---------------

On a Linux host running KVM, I'm using point-to-point veth interfaces.  The interface receives a manually assigned IPv4 /32 route to the KVM guest, along with an IPv6 /64 which is SLAAC-capable.  `redistribute kernel` is used for `ospfd` and `redistribute connected` for `ospf6d`, and this works fine while the guest is running.  However, when the KVM guest exits and the interface a

[2022-04-27 09:05] ton31337 commented on #11035
Will be fixed by https://github.com/FRRouting/frr/pull/11087

[2022-04-27 09:05] #11035 closed

[2022-04-27 10:37] kuldeepkash opened #11105 "Inconsistency in show ip igmp groups cli and json o/p"
**Inconsistency in show ip igmp groups cli and json o/p**

This issue is seen when we try to configure igmp local join for igmp version 2, show ip igmp groups CLI o/p shows version as 2 but JSON o/p shows version as 3.

**Steps to Reproduce**
1. Configure ip pim and igmp and igmp version 2
2. Configure local join on router R1, using commands: ip igmp join 225.1.1.1

**Config and CLI o/p**
[code]

[2022-04-27 10:37] kuldeepkash commented on #11105
@mobash-rasool, As we discussed, please check it.

[2022-04-27 12:43] donaldsharp commented on #11102
It's the operators responsibility to properly setup FRR to run with integrated config.  Which means that the initial frr.conf needs to be placed in there before FRR is run, else frr does not run in integrated configuration mode

[2022-04-27 12:43] #11102 closed

[2022-04-27 14:47] sebastianw opened #11108 "RFC5549 next-hop is unusable/wrong after restart"
---------------

**Describe the bug**

- [X] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

FRR is set up to peer with Arista switches to exchange IPv4 routes over IPv6 Link-Local BGP sessions (RFC5549).

This stops working sometimes, mostly after restarting FRR it seems. When this happens I noticed the following:

#### BGP neighbor ou

[2022-04-27 23:28] ionb42 commented on #11021
I suspect I have an explanation for the above, after having thought about it some more. It revolves around net.ipv4.tcp_l3mdev_accept = 1, which is set on the machine running frr as per the recommendation from an older frr manual (v7.1, I believe).

Anyway, the theory is as follows: this particular frr instance does everything inside a non-default VRF, but at some point somebody accidentally confi

[2022-04-28 07:38] ak503 opened #11111 "crash bgpd"
crash bgpd after `show running-config`
<pre>
u1-VirtualBox(config)# router bgp 65037
u1-VirtualBox(config-router)# address-family l2vpn evpn
u1-VirtualBox(config-router-af)# network 1:2:3::4/64 rd 11:22 ethtag word label 1048575 esi 10:11:12:13:14:15:16:17:18:19 gwip 1:2:3::4 routermac aa:bb:cc:dd:ee:ff
u1-VirtualBox(config-router-af)# do show running-config
</pre>
<pre>
2022/04/28 10:31:20 BGP: l

[2022-04-28 09:43] JackSunshine opened #11115 "advertise EVPN routes without checking their validity"
Hello
      I want to advertise any EVPN routes defined by the Sdn controller regardless of whether it exists on the data plane,
like gobgp this way: https://github.com/osrg/gobgp/blob/master/docs/sources/evpn.md
Does FRR support it?

Thanks

[2022-04-28 10:04] paulgear commented on #11103
Per the advice of @donaldsharp on FRR Slack, upgrading to 8.2.2-0~ubuntu20.04.1 from deb.frrouting.org fixed this issue.

[2022-04-28 10:04] #11103 closed

[2022-04-28 14:10] donaldsharp commented on #11111
Why in the world would you cut off the full stack trace?

[2022-04-28 16:42] #11084 closed

[2022-04-28 20:09] ak503 commented on #11111
it easy reproduced.

Full trace:
<pre>2022/04/28 23:05:18 BGP: lib/prefix.c:1341: esi_to_str(): assertion (size >= ESI_STR_LEN) failed
BGP: Received signal 6 at 1651176318 (si_addr 0x6da, PC 0x7f778a5d7438); aborting...
BGP: /home/u1/mGIT/frr-master/lib/.libs/libfrr.so.0(zlog_backtrace_sigsafe+0x70) [0x7f778b3458a0]
BGP: /home/u1/mGIT/frr-master/lib/.libs/libfrr.so.0(zlog_signal+0xec) [0x7f778b345

[2022-04-29 07:18] linnaea opened #11120 "tests: test_timer_correctness fails due to thread pointer not being initialized to NULL"
- [x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**Describe the bug**

openSUSE enables glibc's MALLOC_CHECK_ during build and thus all thread pointers are initialized to non-NULL values by `malloc`, causing `thread_add_timer_msec` to do nothing and subsequently crashes the test when dereferenced.

**To Reproduce**
[code]

**Expect

[2022-04-29 10:04] manojvn opened #11121 "Support OSPF Refresh and Flooding Reduction RFC4136"
As of now OSPF requires every LSA to be refreshed every 1800 seconds or else they will expire when they reach 3600 seconds.
This rfc proposes to overcome the LSA expiration by generalising the use of DoNotAge LSAs.  This technique will facilitate OSPF scaling by reducing OSPF traffic overhead in stable topologies.

This enhancement relies on the implementation of the DoNotAge bit and the Indicatio

[2022-04-29 15:59] #11111 closed

[2022-04-30 07:39] c-po opened #11129 "bgp: rpki: causes SIGSEGV in FRR 8.2.2 on cache removal"
- [x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

Unfortunately there is still no `no rpki` command #7978
[code]

**Expected behavior**

**Screenshots**

[code]

**Versions**

 - OS Version: Debian 11 / VyOS 1.4

 - Kernel: 5.10.113

 - FRR Version: 8.2.2 commit 89eb0c950

**Additional context**

[2022-04-30 20:24] donaldsharp commented on #11129
this crash occurs for me with just the first no rpki cache ... liine

[2022-05-01 02:30] kthomas8 commented on #3787
This trail went cold pretty quickly. Maybe if we off free beer we can find out how to debug BGP and other routing protocols?

[2022-05-01 11:13] angelyouyou opened #11131 "Does frr support run on MacOS（m1）？"

[2022-05-01 17:06] donaldsharp commented on #11131
no.  FRR uses some libelf features as part of the compile that are not available on Mac's

[2022-05-01 17:06] #11131 closed

[2022-05-01 20:56] ton31337 commented on #11129
@c-po are you able to test https://github.com/FRRouting/frr/pull/11133?

[2022-05-02 07:11] AbhishekNR commented on #11105
This issue is not about inconsistency between cli and json outputs. I tried on my local setup, what I could see is initially the output shows as version 3, but after sometime it changes to version 2.

Reason: When an igmp group is created default version 3 is assigned to it. When an igmp v2 report is received for this group, we are setting the group version to 2.

 In your setup it might be you ar

[2022-05-02 07:16] mobash-rasool commented on #11105
We will try to find out why the default version 3 is assigned to the group, can't we assign the interface version directly to the group.

[2022-05-02 08:07] c-po commented on #11129
@ton31337 I can confirm this commit solves the issue for me.

[2022-05-02 08:30] tyaguvg commented on #11065
Hi Donald Sharp,

I would like to create a static route with the below config.

"metric or preference" -- this helps me to set the metric that i want on a
static route. If there are two identical static route and if i've to select
one versus another, then I can use the metric to prioritize it than its AD
value which is same for both the routes.

Thank you.
Thiyagu Ganesan.

On Mon, Apr 25, 2022 at

[2022-05-02 12:10] ton31337 commented on #11129
@c-po could you check once again? Slightly changed the fix.

[2022-05-02 13:53] c-po commented on #11129
@ton31337 I can confirm this is still working on stable/8.2 branch (cherry-picked)

[2022-05-02 15:10] sworleys commented on #5884
Info about the neighbors being created. That would include ifindex, ifname, and neighbor IP at the minimum. Look at other neighbor debugs as an example.

[2022-05-02 15:28] taspelund commented on #5884
Please also include the lladdr (mac).
Since the same IP is used for every 5549 ARP entry (169.254.0.1), the mac and interface are the only variables in what will be sent to the kernel -- so we need to make sure we log both.

[2022-05-02 18:53] bewing commented on #10379
This still an issue in 8.2.2.  I created the attached containerlab lab showing the bug:

[code]

The `receiver` container will be subscribing to 239.100.5.1, which is not covered by any of the prefix lists configured in the `downstream` container.  However, the `downstream` container will still issue a PIM Join/Prune joining the *, G, listing the last configured RP on the host as the RP:

[code]

[2022-05-02 19:48] #11120 closed

[2022-05-02 23:46] donaldsharp commented on #11091
This is a tough one as that these error messages are coming from the kernel.  I am not aware of what we should even be checking on the kernel side to increase the buffers.

[2022-05-03 14:18] kruisdraad commented on #7041
@idryzhov sorry for the delay, i have been quite busy.

The issue is still there, but act differently. I have upgraded to 8.1.x and when the bug hits it no longer crashes or causes a massive stall. However if i boot the machine *all* routemaps are *not* loaded (previously just parts of sections where missing). The rest are loaded just fine. When i run vtysh -f /etc/frr/frr.conf all is restored jus

[2022-05-03 14:52] ton31337 opened #11139 "bgpd: Add JSON outputs for RPKI commands"

[2022-05-03 14:56] ton31337 opened #11140 "Publish librtr 0.8.0 in rpm/deb.frrouting.org"
At the moment we have librtr 0.6.3, which is buggy. 0.8.0 fixed a lot of bugs especially needed for connection handling when one of the RPKI servers goes down or so.

[2022-05-03 15:12] mwinter-osr commented on #11140
Update: Same needs to be updated for the RPM packages on rpm.frrouting.org as well.
I'll take care of the RPM packages

[2022-05-03 15:19] mwinter-osr commented on #11140
RPM packages are updated on rpm.frrouting.org

[2022-05-04 07:25] pfsinoz commented on #10826
@ton31337 just a quick update... FRR has been up and running for last 12 days now and not exhibited the hang issue. The full BGP feeds do pause for about 20-30 seconds when I do a "sh ip bgp" on them, but I can replicate that on other FRR versions too. I'm left wondering if there were any validator issues that perhaps led to "funny" VRPs being sent to FRR, but I can't even think what those might b

[2022-05-04 07:31] ton31337 commented on #10826
@pfsinoz thank you for the update. We are going to revert the latest changes related to connection handling (workarounds) that are fixed in librtr itself (0.8.0). https://github.com/FRRouting/frr/pull/11138

You just have to make sure you have librtr 0.8.0 version.

[2022-05-04 19:52] brotherdust commented on #2236
@maduri111 just checking in again! Hope are well!

[2022-05-04 19:55] brotherdust commented on #2236
@maduri111 sorry pressed submit too soon. I looked at the commit history on the referenced repo and it looks like work stopped about 10 months ago (I can't find anything more recent). If this is the case, what is missing from the implementation at present? I'm just trying to think of ways I can help push this over the finish line. 😁

[2022-05-05 19:29] #11108 closed

[2022-05-06 12:37] yangtzeriverli commented on #8681
I meet the same problem, when I want to run BGP in docker container, so how to fix it?
`privs_init: initial cap_set_proc failed: Operation not permitted
Wanted caps: = cap_net_admin,cap_net_raw,cap_sys_admin+p
Have   caps: = cap_chown,cap_dac_override,cap_fowner,cap_fsetid,cap_kill,cap_setgid,cap_setuid,cap_setpcap,cap_net_bind_service,cap_net_raw,cap_sys_chroot,cap_mknod,cap_audit_write,cap_setfc

[2022-05-06 14:04] yangtzeriverli commented on #8681
As I am just experiment, I use  --privileged to run docker container and no error

[2022-05-06 18:46] lifenwu opened #11153 "vtysh hang at vtysh_client_receive __libc_recvmsg"
---------------

**vtysh hang at vtysh_client_receive  __libc_recvmsg**

- [ ] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**REPRO: copy and paste in size 163,337 of configuration.  **

**Expected behavior**

**Screenshots**

**Versions**

 - OS Version:
 - frr@3f6dfb566779:/etc/frr$ uname -a
Linux 3f6dfb566779 5.4.0-1077-azure #80~

[2022-05-07 11:06] liuxyon opened #11157 "BGP downstream ip prefixes cannot be sent to BGP upstream"
FRR 8.1 and FRR 8.2.2, ubuntu 22.0.4
BGP downstream ip prefixes cannot be sent to BGP upstream.

IPv6 Unicast Summary (VRF default):
BGP router identifier 23.129.32.90, local AS number 39753 vrf-id 0
BGP table version 1272837
RIB entries 278247, using 49 MiB of memory
Peers 2, using 1446 KiB of memory

[code]
Total number of neighbors 2

log:
2022/05/07 12:39:06 BGP: [MNE5N-K0G4Z] Resetting peer (

[2022-05-07 11:19] liuxyon commented on #11157
`!
! Zebra configuration saved from vty
!   2022/05/07 18:50:41
!
frr version 8.1
frr defaults traditional
!
hostname changeme
log file /etc/frr/frr.log
!
!
!
router bgp 59753
 bgp router-id 33.129.32.90
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 no bgp network import-check
 neighbor 2602:fed5:fc0::1 remote-as 33356
 neighbor 2602:fed5:fc0::1 description "upstream"
 neighbor 2602:f

[2022-05-07 23:13] hknet commented on #10823
we are running into the exact same issue - the peer reported in the log ending up as "Received is not newer, on the neighbor" is a cisco.
reverting back to frr-8.1 solves the issue (aka ospf6d starting up successfully)

[2022-05-08 15:44] liuxyon commented on #11140
please add for Ubuntu 22.0.4

[2022-05-09 02:54] LoveCPro opened #11165 "ospf muti instance"
Q:
frr : 7.3.1
configured as：
interface wg_11
 ip ospf area 2
!
router ospf
 ospf router-id 44.40.40.1
!
router ospf 1
!

But it works：

**- show running-config**

Building configuration...

Current configuration:
!
frr version 7.3.1
frr defaults traditional
log syslog
!
password zebra
!
interface wg_11
 ip ospf 1 area 2
 ip ospf 2 area 2
 ip ospf 3 area 2
 ip ospf area 2
!
router ospf
 ospf route

[2022-05-09 10:24] liuxyon opened #11168 "when i add RPKI server and then show closing connection to bgpd because of an I/O error"
frr 8.2.2 and  ubuntu 22.0.4

c
vps3630.first-root.com(config)# rpki
vps3630.first-root.com(config-rpki)# rpki polling_period 900
vps3630.first-root.com(config-rpki)# rpki cache 2602:fed5:ca1::face 3323 preference 1
vps3630.first-root.com(config-rpki)# rpki cache 134.196.121.55 3323 preference 2
vps3630.first-root.com(config-rpki)# end
vps3630.first-root.com# wr
Note: this version of vtysh never w

[2022-05-09 12:40] ton31337 commented on #11168
Related to https://github.com/FRRouting/frr/issues/11129, closing.

[2022-05-09 12:40] #11168 closed

[2022-05-09 14:56] fedepaol opened #11171 "MetalLB: bgpd stops sending keepalives"
---------------

**Describe the bug**

- [ x ] Did you check if this is a duplicate issue?
- [ x ] Did you test it on the latest FRRouting/frr master branch? (kinda, we tried against the 8.1_stable image)

**To Reproduce**

This was reported by a metallb user in https://github.com/metallb/metallb/issues/1354 .

Tried to have a look at the logs.
At some point I see in logs bgpd stops sending keepal

[2022-05-09 15:54] woffs commented on #10344
You can set rdnss in the vrrp interface's options, like
[code]

Unfortunately there seems still no way to suppress the RA at all (not needed if VRRP is just used for HA on a server). Even if I set `ipv6 nd ra-lifetime 0` there will be a RA sent every 16s and no way to modify the interval or turn it off. Also it would be more intuitive when the RA options could be set on the master interface.

[2022-05-09 18:24] stgraber commented on #10344
Ah thanks for the RDNSS trick. It still feels weird to have the address in one place and that setting in another but at least that's a valid workaround :)

And yeah, not being able to suppress RAs or alter them has been a bit annoying.
For my physical servers, I tend to prefer having a static IPv6 address combined with a dynamic (from RA) default gateway.
This is quite easy to configure otherwise

[2022-05-09 23:36] #10826 closed

[2022-05-09 23:36] #11129 closed

[2022-05-10 01:17] LoveCPro commented on #11165
config have “router ospf 1”， add  "router ospf", it error:
(config)# router ospf
% [ospfd]: command ignored as it targets an instance that is not running

frr/daemons have:
ospfd=yes
ospfd_instances=99,1,2,3
ospf6d=yes

"router ospf" and “router ospf $(instance id)” cannot coexist ?

[2022-05-10 06:26] gpnaveen commented on #9470
This is currently working in the latest community build. Hence closing this bug. I will re open the bug or raise new one if i thi the issue again. Thanks.

[2022-05-10 06:26] #9470 closed

[2022-05-10 06:36] gpnaveen opened #11172 "OSPFv2 Router id is getting changed every time when frr restarts."
Platform - Ubuntu linux 18.04 , Platform AMD 64.

FRR Version - 8.2.2.

Taken from - https://deb.frrouting.org/

OSPFv2 Router id is getting changed every time when frr restarts.

Steps to reproduce -

1. Configure the 3 interfaces with different ip address.
2. Configure ospf without manual router id, wait for ospfv2 to calculate the automatic router id.
3. Reboot the router.
4. Check for the rout

[2022-05-10 06:47] gpnaveen commented on #11172
Please assign it @rgirada

[2022-05-10 08:36] ton31337 commented on #11157
Can you provide the simplest configuration on how to reproduce this? Because this issue lacks a lot of information. An example of a route from downstream (show ip route, show ip bgp), `debug bgp updates` logs, etc.

[2022-05-10 09:36] #7517 closed

[2022-05-10 09:36] #10200 closed

[2022-05-10 09:37] #10229 closed

[2022-05-10 09:38] #10303 closed

[2022-05-10 09:38] #10326 closed

[2022-05-10 09:38] #10384 closed

[2022-05-10 11:07] fedepaol commented on #11171
@xhejtman would you mind adding also the output of
`show ip route A.B.241.5` and `show ip bgp A.B.241.5` (before it breaks / after it breaks) ?

Thanks!

[2022-05-10 12:23] scratchy opened #11174 "frr not updating l2 evpn on mac change"
Today i run into an issue of a changed mac address within a evpn bridge.
my bridge is using the vni 11, its promoted to the vni with advertise-svi-ip .  Enslaved is a vxlan interface.
Somehow the bridges mac address changed (still searching the cause, any ideas suggested) which lead to packet loss on the bridge. The packet was still received on the vxlan interface, but not forwarded (due to the ch

[2022-05-10 14:36] Yuya9786 commented on #5884
I can't reproduce as like the above [description.](https://github.com/FRRouting/frr/issues/5884#issue-574143764)
I executed 8 commands and then `ip netns exec frr ip neigh show`.
and the return is the following:
[code]

How should I reproduce?

Versions:
- OS Kernel: [Linux Ubuntu 20.04] [5.4.0-109-generic]
- FRR [master 0ef5ec616]
- This is a virtual machine on Windows 10 with VirtualBox 6.1.14

[2022-05-10 15:09] Jafaral commented on #11172
A router id must be configured explicitly to avoid this issue.

[2022-05-10 15:15] Jafaral commented on #11165
you may have to configure the 0 instance, i,e:

[code]

[2022-05-10 15:21] Jafaral commented on #11140
Deb packages are published.

[2022-05-10 15:39] fdumontet6WIND commented on #10240
Hi all

I reproduced the issue, but this was due to the fact that the adj_in was empty.
use of soft-reconfiguration inbound populate adj_in, and then issue is solved.

BR
François

[2022-05-11 01:21] LoveCPro commented on #11165
it still has problems：
bgpd=yes
ospfd=yes
ospfd_instances=0,99,1,2,3

(config)# router ospf
% [ospfd]: command ignored as it targets an instance that is not running

[2022-05-11 10:27] louis-6wind opened #11178 "bgp no-rib causes a bgpd crash"
---------------

**Describe the bug**

The command bgp no-rib causes a bgpd crash.

- [X ] Did you check if this is a duplicate issue?
- [X ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
[code]

On r1
[code]

**Screenshots**
[code]

**Versions**

 - OS Version: Debian 10

 - Kernel: `4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux`

 - FRR Ver

[2022-05-11 19:02] seanfulton opened #11184 "BGP Config working under 7.3 does not work in the latest release"
---------------

**Describe the bug**

- [ ] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

**Expected behavior**

**Screenshots**

**Versions**

 - OS Version:

 - Kernel:

 - FRR Version:

**Additional context**

[2022-05-11 19:19] sworleys commented on #11184
Please follow the issue template

[2022-05-11 19:19] #11184 closed

[2022-05-11 21:23] msherif1234 opened #11185 "eBGP IPv6 session doesn't go to ESTAB because NHT can't resolve directly connected interface with DHCPv6 assigned IP"
I have a problem with IPv6 NHT on OCP with eBGP directly connected nbr, DHCPv6 assigns the interface Ipv6 global address with /128
[code]
so when tried to have eBGP peering with directly connected nbr
[code]
from ipv6 routing its doesn't look as connected and fails NHT
[code]
if I changed interface prefix length manually to /64 NHT resolve and eBGP go to estab
[code]

NHT implemntation for IPv6 ne

[2022-05-12 06:41] vahid-1980 opened #11187 "nhrp - link-local ip"
Hello all,
I am using nhrpd and couple of gre tunnels. everything works fine except, nhrp took the link-local ip from gre tunnel instead of configured ip!!
so every time before running nhrpd I manually have to delete the link-local
**do I miss a configuration?** below is my frr/nhrpd and frr/zebra config:
--------------------nhrpd.conf-------------------------------
interface gre1
 description DSL

[2022-05-12 12:58] #11140 closed

[2022-05-12 13:20] odd22 opened #11189 "FPM lack support of MPLS"
**MPLS labels are not propagated through FPM**

If you activate MPLS on FRR with LDP or Segment Routing (OSPF or IS-IS), MPLS labels that are enforce on Linux Kernel through netlink interface are not propagate through the FPM interface. Within SONIC, the fpmsyncd client (see https://github.com/Azure/sonic-swss/tree/master/fpmsyncd and more particular onLabelRouteMsg function https://github.com/Azu

[2022-05-12 13:40] ton31337 commented on #11171
[code]
Isn't very good, you don't have even a default route here?

[2022-05-12 13:43] fedepaol commented on #11171
I think he had.
This is from the metallb slack thread:
[code]

@xhejtman mind confirming?

[2022-05-12 13:45] xhejtman commented on #11171
Yes, this is true. The host has default route.

[2022-05-12 13:45] mjstapp commented on #11189
Just to be clear: FPM doesn't include LSPs currently, and it doesn't include nexthops' labels at all.

[2022-05-12 14:50] vahid-1980 commented on #11187
ip a s gre1
24: gre1@NONE: <POINTOPOINT,UP,LOWER_UP> mtu 1472 qdisc noqueue state UNKNOWN group default qlen 1000
    link/gre 100.64.60.100 peer 10.179.240.169
    inet6 2a02:d20:e8:503::c/128 scope global
       valid_lft forever preferred_lft forever
    inet6 fe80::200:5efe:6440:3c64/64 scope link
       valid_lft forever preferred_lft forever

**log when there is link local and it does not wo

[2022-05-12 14:52] vahid-1980 commented on #11187
ip a s gre1
24: gre1@NONE: <POINTOPOINT,UP,LOWER_UP> mtu 1472 qdisc noqueue state UNKNOWN group default qlen 1000
    link/gre 100.64.60.100 peer 10.179.240.169
    inet6 2a02:d20:e8:503::c/128 scope global
       valid_lft forever preferred_lft forever

**log when there is link local and it works:**

2021-11-06 15:50:26.043 [zebra] [X25ZY-TGTPJ] yang model directory "/share/yang" does not exist
2

[2022-05-12 17:20] mjstapp commented on #11185
@taspelund ah, yes, I see where this is happening. We had some discussion recently when some changes were made to make NHT offer a broader definition of "valid" and "connected". But it looks like we are only accepting CONNECTED and STATIC routes in a path in that code. I don't really see why the KERNEL type wouldn't be acceptable there also. Let's talk about this and see if there would be any issu

[2022-05-13 06:00] #11178 closed

[2022-05-13 08:31] ton31337 commented on #11187
What should be the proper fix here? An additional knob to force global address (GA) or link-local (LL)?

[2022-05-13 11:26] rzalamena commented on #11189
@odd22 here is some information to help you figure out what is missing.

The FPM module `dplane_fpm_nl` supports MPLS if it is handled in `zebra` netlink encode/decode routines (are you talking about this FPM module or the other one?).

Browsing the code I see the following:

1. If `zebra` learns and configures MPLS via netlink, then it should work because the data plane framework encapsulates the

[2022-05-13 14:22] taspelund commented on #11187
A simpler workaround may be to set the ipv6 addrgenmode to none on the GRE interface during interface creation.
`ip link set <tunnel> addrgenmode none`

[2022-05-13 21:23] kmorales026 opened #11200 "FRR BGPD Stop suddenly"
Hello, I am using Rocky Linux release 8.5 (Green Obsidian) with frr-8.2.2-02.el8.x86_64, everything works fine for a little time, but suddenly the daemon BGPD stop,

this is the log:

May 13 13:17:04 nsr-02 zebra[4354]: [S929C-NZR3N] client 37 disconnected 0 static nhgs removed from the rib
May 13 13:17:04 nsr-02 bgpd[4359]: [YAF85-253AP][EC 100663299] buffer_write: write error on fd 18: Broken pi

[2022-05-16 08:50] odd22 commented on #11189
@rzalamena I'm referring to FPM module and not dplane_fpm_nl.

Indeed, within SONiC, zebra is launched with `-M fpm` option. I try to change for `-M dplane_fpm_nl` option, and configure zebra with `fpm address 127.0.0.1` to let `dplane_fpm_nl` connect to the fpmsyncd process. Here, as you mention, MPLS information are properly sent to fpmsyncd process. However, this configuration is not working be

[2022-05-16 10:25] odd22 commented on #11189
After dig around both FRR and SONiC code I finally understand how it exactly work.

First, SONiC needs to collect the VRF ID to properly enforce route within the ASIC. As such VRF IDs is not supported by netlink, they substitute the TABLE ID information by the VRF ID. For that purpose, they produced and apply a patch to FRR when building FRR for SONIC: see https://github.com/Azure/sonic-buildimage

[2022-05-16 12:30] donaldsharp commented on #11189
yeah frankly this patch is wrong imo.   Sonic has taken a shortcut and cut themselves into a corner.  If they ever want to push a route into a table that is not a vrf they can not do so.  If they need a mapping of table -to vrf they need to keep that in their code.  Additionally this patch will never be acceptable in FRR land and is something that they need to carry for themselves

[2022-05-16 12:31] Viktort-rf opened #11208 "The mpls label is announced but not used"
---------------

**Describe the bug**

- [X ] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. Enabling mpls ldp
2. (Egress LSR) Use (ip.addr example) "show mpls ldp binding 1.1.1.1/32" and see in dst.addr mpls label in use is ALL "no". And no label was installed in the mpls table "show mpls table".
3. (P-router) Log

[2022-05-16 13:11] odd22 commented on #11189
@donaldsharp I'm completely agree with you. The way SONiC is handle VRF ID is not good. I just try to achieve a fast (yes dirty ;-)) patch to let fpmsyncd learnt MPLS table. Do you know if there is another solution to properly convey VRF ID through FPM/netlink ? As, if SONiC should maintain the mapping table_id / vrf_id, at a certain moment, they need to populate it, thus, to learn it. VRF ID coul

[2022-05-16 13:38] arunsesh opened #11209 ""show bgp ipv4 neighbors x.x.x.x advertised-routes" does not show the local AS configured for the neighbor, instead shows the BGP AS number"
- FRR VERSION : FRRouting 8.0.1
- OPERATING SYSTEM VERSION : Centos7
- KERNEL VERSION: 3.10.0-1160.41.1.el7

// Sample config
!
router bgp 5555
 bgp router-id 1.1.1.1
 no bgp ebgp-requires-policy
 bgp graceful-restart-disable
 no bgp network import-check
 neighbor 10.40.66.1 remote-as 200
 neighbor 10.40.66.1 local-as 201 no-prepend replace-as
 neighbor 10.40.66.1 update-source 10.40.10.91
 neighb

[2022-05-16 15:13] tyaguvg commented on #11065
Hi Donald Sharp,

Can you please let me know if you get time to check my request?

Thank you.
Thiyagu Ganesan.

On Mon, May 2, 2022 at 1:59 PM ThiyaguVG ***@***.***> wrote:

[2022-05-16 15:17] tjjh89017 opened #11212 "[Question] L3VNI without bridge"
FRR version: 8.2.2
Linux: Debian 11

FRR runs L3VNI properly and it works for me. So it's not a bug.

It's a little bit weird for me that L3VNI needs a bridge to carry the L3 traffic.
Pure VXLAN interface without bridge master and with VRF RED should be a L3 interface that could be route interface.
You could see the route destation is `vxbr100` and router ip is 192.168.0.12.
But it might be able t

[2022-05-16 15:23] taspelund commented on #11212
There's some work being done internally at NVIDIA to support the use of a standalone VXLAN interface (no bridge) to be used as L3VNI, but it's not complete yet.

I believe @chiragshah6 is driving that work -- Chirag, is there any more info to add here?

[2022-05-16 15:32] taspelund commented on #11212
That's my understanding as well. The L3 VXLAN interface in kernel would be mapped to an L3 VXLAN bridge in hardware.

[2022-05-17 00:04] EasyNetDev opened #11215 "BGP VPN redistribution via route-map doesn't update routes into leaked VRFs after remove extcommunity"
---------------

**Describe the bug**

When you change a BGP IPv4 / IPv6 unicast redistritubution route-map it doesn't update the routes into the leaked VRF.

- [x] Did you check if this is a duplicate issue?
- [X] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Use this simple config:
1. Create 2 VRFs: mgmt1 and servers2
2. Use this FRR config:
[code]

Nothing compli

[2022-05-17 02:28] tjjh89017 commented on #11212
Hope it will support L3 VXLAN interface in pure Linux kernel.
and mapping to ASIC in NVIDIA's ASIC own way.
It will be closer to Linux behavior.

[2022-05-17 08:23] flipkickmedia commented on #10822
Im having a similar problem, send me your public SSH key and you can maybe help me resolve it?

[2022-05-17 10:08] EasyNetDev commented on #10800
Maybe this issue could be related also to this one #11215 ? The redistributed routes via VPN to other VRFs aren't updated correctly?

[2022-05-17 10:49] hothotstreet commented on #10822
i'm sorry.I also don't know how to solve this problem. The host with my problem has not been solved, and my other hosts have not had this problem. Maybe you need to upgrade a more advanced FRR

[2022-05-17 15:05] donaldsharp commented on #11208
can you please provide actual configs and some more useful data to help us figure out what is going on?

[2022-05-18 06:49] ton31337 commented on #11200
Is this the full log? Can you provide a configuration and/or how to reproduce this?

[2022-05-18 14:47] SarusKant opened #11221 "OSPF Area Range not working with (pptp,pppoe,gre,ipip)"
Hello collaborators, I have already tested numerous versions of FRR from 7 onwards, but they all have the same problem.

Area range does not work with point-to-point tunnels, not only the tunnels but also the lsa.

Below is the example with the settings.

#FRR
Building configuration...

Current configuration:
!
frr version 8.2.2
frr defaults traditional
hostname edge-core-brs01.brnet.net.br
log fi

[2022-05-18 16:03] kmorales026 commented on #11200
Hi, yes!, that is the full log about FRR Services., I only made the configuration between Linux Server and Router.

[2022-05-18 19:10] #11209 closed, assigned to ton31337

[2022-05-19 10:33] ton31337 opened #11226 "Implement rfc9234"
https://datatracker.ietf.org/doc/html/rfc9234

[2022-05-19 10:50] fedepaol commented on #11171
We think we narrowed the issue down. Unfortunately I wasn't able to reproduce it locally.

@xhejtman 's cluster uses calico. He was able to reproduce it by just moving a pod from one node to another. From frr's perspective, it means that an interface with both v4 and v6 addresses is removed from the host.

The deleted interface's ips are:
- 2001:718:801:42bf:8:2:6d8:19e
- 10.42.6.129/32

This is w

[2022-05-19 10:52] fedepaol commented on #11171
Filtered ZEBRA logs at https://pastebin.com/Quest2CG

[2022-05-20 01:49] weekendzhang opened #11228 "Segment routing related LSA"
Hi, all
I am new to ospf and FRR, if say something wrong, please correct me.
Now I am trying the OSPFv2 segment routing feature using FRR and my config file is as follows:
`
interface enp0s8
ip ospf authentication message-digest
ip ospf message-digest-key 1 md5 ABCDEFGHIJK
ip ospf hello-interval 10
ip ospf priority 2
ip ospf dead-interval 3
router ospf
network 192.168.56.0/24 area 0.0.0.0
capabili

[2022-05-20 07:24] hothotstreet opened #11230 "Ospf equal-cost routes are faulty."
My FRR version is 7.3，I want to test ospf equal-cost routes and my test topology looks like this：A--B----C，A B C Establish the ospf adjacent relationship, then I on A C all write the same static routing to outside, and then redistribute the static in the ospf routing, according to the normal on B can learn this routing and have two next jump, but it is only A next jump, the introduction of the sta

[2022-05-20 15:44] vijaykug opened #11233 "PIM6D:- Group , source and Protocol field repeated in "show ipv6 mroute " o/p"
Issue :- In below output group and protocol field repeated for each output interface ,  I think for same group we should create one entry,  OIL can be multiple
This issue is observed in LHR and FHR both

[code]

[code]

[2022-05-20 16:01] vijaykug opened #11234 "PIM6D:- For ipv6 mroute , FHR is adding pimreg OIL but for kernel created pim6reg"
FHR  created pimreg as OIL , i think for IPv6 mroute it should be pim6reg ???
After enabling PIM6d daemon  , i see kernel created  pim6reg , but mroute OIL has pimreg only

[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

MLDv1 configured on R1 ixia connected interface
PIMv6 enabled on all the interfaces
MLDv1 join sent from receiver ixia and traffic sent f

[2022-05-20 16:16] vijaykug opened #11235 "PIM6D:- Rej prune not received in FHR , FHR always sending register packet"
Issue:- Looks like RP is not sending register stop , which is causing FHR to always send register packet
upstream also shows Join Reg J and mroute not removing pimreg interface from OIL

I did TCP capture on FHR out going interface

[code]

[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

MLDv1 configured on R1 ixia connected interface
PIMv6 enabled on all

[2022-05-20 17:32] paulzlabn opened #11237 "zebra: SR policy not applied after route or route-map changes"
FRR master 20 May 2022 197191a0cecb7a25935327c93d9740272c6080f2
OS: Ubuntu 21.04
Kernel: 5.11.0-38-generic

A SR policy matches a BGP nexthop based on the IP address of the nexthop and the color of the route (color may be assigned to routes using a route-map).

The order of events (BGP route arrival, route-map definition, policy and candidate-path definition) should not affect the matching/mapping

[2022-05-21 06:36] patrasar commented on #11235
Debugged the issue in Vijay setup. Working on this.

[2022-05-21 06:37] patrasar commented on #11234
Debugged the issue in Vijay setup. Working on this.

[2022-05-21 06:37] patrasar commented on #11233
Debugged the issue in Vijay setup. Working on this.

[2022-05-22 11:30] EasyNetDev commented on #11215
Also I forgot to mention if I save the config and restart FRRouting everything is loaded as we expect it. The routes in mgmt1 are not redistributed.

[2022-05-23 06:04] ppoozl commented on #9905
Now the RHEL9 is out beta. I need rtrlib at el9 too.

[2022-05-23 07:28] vijaykug opened #11240 "PIM6d- MLD enabled in PIMreg interface"
Had brought up multicast testbed with PIM6d daemon , observed that mld is enabled on  pimreg interface  by default

[code]

[2022-05-23 07:37] vijaykug opened #11241 "PIM6d-Display issue in "show ipv6 mld interface""
Observing 2 issues here .

1) Down interface showing "show ipv6 mld interface" , I think we dont need  to display interfaces which are down ( this is more over to align with "show ip igmp interface "command )

2) Few fields are missing ( not matching with "show ip igmp interface command" O/P) also timer and uptime of this command is not aligned )

Have pasted both the o/p for comparison

[code]

U

[2022-05-23 08:19] patrasar commented on #11233
I have raised the fix. https://github.com/FRRouting/frr/pull/11242

[2022-05-23 11:25] vijaykug opened #11246 "PIM6D- CLI output format is not correct"
Following CLIs o/p is not in readable format

show ipv6 pim upstream-rpf
show ipv6 pim interface
show ipv6 multicast count
show ipv6 pim join
show ipv6 pim rpf

[code]

[2022-05-23 11:28] mobash-rasool commented on #11246
@AbhishekNR will fix this and raise a PR.

[2022-05-23 11:32] vijaykug opened #11247 "PIM6d- show ipv6 pim nexthop is not showing correct output"
This is IPv6 command , but it is showing some ipv4 addresses  , i don't have these addresses configured in system  am not sure how they are getting displayed

[code]

[2022-05-23 12:48] vijaykug opened #11249 "PIM6d- IPv6 PIM state remain even after MLD groups prune"
Issue- In below setup , have sent MLD prune from Ixia , After sometime MLD groups are expired , but pimv6 state still populated
[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

MLDv1 configured on R1 ixia connected interface
PIMv6 enabled on all the interfaces
MLDv1 join sent from receiver ixia and traffic sent from source ixia

Ubuntu 1804

Linux R4 4.20.1

[2022-05-23 13:22] mobash-rasool commented on #11247
Sai has fixed this issue https://github.com/FRRouting/frr/pull/9307

[2022-05-23 16:10] davik opened #11253 "How to configure FRR OSPF so that the route is advertised by the OSPF daemon but not added in the linux routing table?"
`
ip route 1.1.1.1/32 ens33
ip route 1.1.1.2/32 ens33
!
interface ens33
 ip ospf 1 area 0 192.168.84.191
!
router ospf 1
 ospf router-id 192.168.84.191
 redistribute static metric 10000 route-map RM-ens33
!
access-list AC-ens33 seq 1 permit 1.1.1.1/32
access-list AC-ens33 seq 2 permit 1.1.1.2/32
!
route-map RM-ens33 permit 10
 match ip address AC-ens33
`

This is an example configuration which we

[2022-05-23 16:14] donaldsharp commented on #11253
Please look at http://docs.frrouting.org/en/latest/zebra.html#zebra-route-filtering

[2022-05-24 01:23] arunsesh opened #11257 "BGP Notifications Sent statistics are incremented twice on hard reset of the neighbour"
- FRR VERSION : 8.0.1
- OPERATING SYSTEM VERSION : Centos 7
- KERNEL VERSION: 3.10.0-1160.41.1.el7

Sample Config:
[code]

**Describe the bug**

- [x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[2022-05-24 07:23] vijaykug opened #11260 "PIM6d- Default value of last member query interval and count for MLD is not as per RFC"
Issue- When MLD leave sent router will keep entries in expiring state for 125sec which will cause multicast traffic to flood until groups are completely deleted .

This looks like we are not setting default timer as per RFC  , please refer section 7 RFC 2710

[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

MLDv1 configured on R1 ixia connected interface
PI

[2022-05-24 07:27] vijaykug opened #11262 "PIM6d-mroute not repopulated after clear ipv6 mroute"
Issue;- As per below setup , initially (*,G) and (S,G) populated fine on all the nodes , i did clear mroute on LHR , after that  MLD joins are present but mroutes are not added back

[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

MLDv1 configured on R1 ixia connected interface
PIMv6 enabled on all the interfaces
MLDv1 join sent from receiver ixia and traf

[2022-05-24 07:38] vijaykug opened #11263 "PIM6d:- issues in MLD interface outputs"
I am observing couple of issues , please check the details below

1) Same interface showing  "no PIM/MLD config " and then "MLD running" with all the details , please refer ens225 in below output
2) Looks like version 1 is not taking affect , please check output "show ipv6 mld interface ens225 detail"  here i have enable mld version 1 but its shows version 2 only
3) MLD get enabled by default on P

[2022-05-24 08:22] mobash-rasool commented on #11263
@eqvinox : Can you please check this one?

[2022-05-24 11:50] #11257 closed

[2022-05-24 12:44] mruprich commented on #10104
Hi, is there any update here?

[2022-05-24 14:06] ton31337 opened #11269 "Update docker builds to use librtr >= 0.8.0"

[2022-05-25 01:52] weekendzhang commented on #11228
Hi,
Thanks for your kind. reply.
1) show ip ospf adjacency, i try to use this command but find the error: unknown command. But i use wireshark to capture the ospf packet, there is a network LSA and saying 192.168.56.140 and 192.168.56.200 has attached one same network and 192.168.56.200 is the DR. So I think adjacent is up between two routers (maybe it is a wrong understandingm please correct me.)

[2022-05-25 04:24] #11269 closed

[2022-05-25 07:09] vijaykug opened #11273 "PIM6d- MLD join is happening for ff05::2 and mroute get created and then deleted later"
When MLD and PIMv6 enable on interface few control plan groups will be added to that interface
Out of of that i see group ff05::2 create (*.G) mroute IIF and OIL also updated correctly for same
I have RP configure configured for group range  ff00::/8   , would like to know why we are created (*,G) for ff05::2

[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

[2022-05-25 09:08] ChinmayaAgarwal opened #11274 "Current LTS and End of life"
Hi,

What is the current LTS release in FRR? Also we are using FRR v8.0.1, what is the end of life for this release?

Thanks and Regards,
Chinmaya Agarwal

[2022-05-25 09:19] ton31337 commented on #11274
We don't have such releases like LTS. At the moment 8.2 is the version we backport fixes mostly. Soon there will be 8.2.3.

[2022-05-25 10:46] vijaykug opened #11275 "PIM6d- Mroutes are not getting timeout"
Issue - As per below setup , initially i had mroutes created and traffic was flowing fine , i was adding deleting RP config  ( changing RP from ff00::/8 to ffaa::0/64 on all the nodes )  later have stopped the traffic , observed that  mroutes are still present and KAT timer getting refreshed even without traffic

Note that below o/p is from LHR node
[code]
Setup
Ixia(receiver)---R1----R2-----R3---

[2022-05-25 14:24] #5282 closed

[2022-05-25 15:31] eqvinox commented on #11273
⇒ correct behavior if we get MLD join for `ff05::2` — if it changes, need logs + pcap (should always be there)

[2022-05-25 15:44] eqvinox commented on #11275
Kernel issue / error in zebra, `S,G` statistics GET from kernel is not implemented for IPv6. I am working on it.

[2022-05-25 15:46] eqvinox opened #11280 "pimd: delay in RPT → SPT switchover setting SPT bit is causing issues"
When we switch from RPT to SPT, first we clear `USE_RPT`, then we wait until kernel statistics indicate that we get SPT traffic, then we set `SPT_BIT`.

Unfortunately, the delay to the kernel statistics update creates an intermediate window in time where things don't quite work correctly, in particular PIM ASSERTs are broken (`could_assert` is false).

⇒ need to change to use `WRONGVIF` kernel not

[2022-05-25 16:34] ton31337 commented on #11171
As talked about in Slack, using the Docker image built against the `master` branch, fixes the problem.

[2022-05-25 16:34] #11171 closed, assigned to nobody

[2022-05-25 16:50] ton31337 commented on #11200
The configuration is needed at least. Also, please enable `debug bgp neighbor`, `debug bgp updates`. And `/etc/frr/daemons` output as well.

[2022-05-25 19:48] mobash-rasool commented on #11235
RCA:
FHR is sending register packet with outer source IP address as a link local address. This packet when received at RP node, RP tries to send the register stop message to FHR node but the destination IP address is a link local address which becomes unreachable for RP node. Therefore the register stop can never be sent and Pimreg is always present at FHR.

[2022-05-25 22:03] routingrocks commented on #10379
This issue will be addressed as part of https://github.com/FRRouting/frr/pull/11277

[2022-05-26 01:22] EasyNetDev commented on #11215
Hi guys,

We need to troubleshoot very well this situation. I hit another strange situation when R02 has the full IPv4 routing table and is exporting it to R01 via VPN. If I use the same RT export on both routers then I got a L3 loop: R01 is redistributing the routes back in VPN and R02, instead to keep ISP received routes, is replacing the routes with ones received from R01 via VPN.
Meanwhile R01

[2022-05-26 05:04] #11274 closed

[2022-05-26 05:06] ton31337 commented on #11101
@frrbot autoclose in 1 week.

[2022-05-26 14:01] eqvinox commented on #11263
I only see `ens225` once in the output you pasted?

[2022-05-26 14:36] vijaykug commented on #11263
Please refer o/p of  "show ipv6 mld interface detail"

<snip>
[code]
First it says "Interface ens225: MLD running " and just after it is showing  "Interface ens255: no PIM/MLD config"

[2022-05-26 16:48] kmorales026 commented on #11200
I change to CentOS 7 and everything works fine!,

[2022-05-26 19:59] #11105 closed

[2022-05-26 22:47] routingrocks commented on #10379
Fix merged with master, this issue can be closed
https://github.com/FRRouting/frr/pull/11277

[2022-05-26 23:26] bewing commented on #10379
Confirmed I no longer see the behavior from my test case in rev 9eee8fd

[2022-05-27 10:13] vijaykug commented on #11273
[debug_log_r11.zip](https://github.com/FRRouting/frr/files/8785859/debug_log_r11.zip)

[code]

[2022-05-27 15:14] vijaykug opened #11296 "PIM6d-Unable to delete RP from one of the node"
Issue - In below topology,  i have 2 RPs configured on all the nodes  1333::1 for group range ffaa::/64 and 1222::1 for group range ff00::/8 , i was trying to delete one of RP using ```no ipv6 pim rp 1333::1 ffaa::/64```  from all the nodes , on LHR deletion  is successful ,  but observing error  "% Unable to find specified RP"  while  i try to delete same from one of the RP node itself

I tried e

[2022-05-27 20:31] dmrzzz opened #11298 "IPv6 fragmentation produces ospf6d LSUpdate packet length error"
---------------

**Describe the bug**

RFC 5340 (Appendix A.1) indicates that it is permissible (though not recommended) to send large OSPF packets using IPv6 fragmentation, but ospf6d in frr 8.2.2 does not successfully handle receiving such packets from a peer router.

- [x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduc

[2022-05-27 20:34] dmrzzz commented on #11298
Here is the packet capture (prefiltered with `ospf || ipv6.fraghdr` in Wireshark):
[frr-fragmented-ospf6.pcap.gz](https://github.com/FRRouting/frr/files/8789592/frr-fragmented-ospf6.pcap.gz)

[2022-05-28 13:13] eqvinox commented on #11263
@vijaykug that's 255 and 225, it's not the same number…

[2022-05-28 18:12] polds commented on #11171
Are there any plans to release a tagged image from what's in `master` at the moment?

[2022-05-29 09:39] c-po opened #11301 "eigrp: multiple Error type: validation"
- [x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

[code]

[code]

**Expected behavior**

No config error

**Screenshots**

**Versions**

 - OS Version: Debian 11 (VyOS 1.4)

 - Kernel: 5.10.117

 - FRR Version: 8.2.2 commit 56694ea7d

**Additional context**

[2022-05-30 11:06] #11237 closed

[2022-05-30 12:15] vijaykug opened #11305 "PIM6d- MLD join and IPv6 Mroute not removed after disabling MLD config "no ipv6 mld""
Issue :- I have MLD join received and mroutes create on LHR/FHR and RP node in below setup , have remove mld config from interface using "no ipv6 mld" "no ipv6 mld version 1" ,  observed that MLD join still present and getting refreshed periodically that is causing mroute to be intact .

[code]

Setup
Ixia(receiver)---R1----R2-----R3---Ixia(source)

R1 LHR , R2 RP and R3 FHR

MLDv1 configured on R

[2022-05-30 12:18] vijaykug commented on #11305
[PIM_mld_logs.zip](https://github.com/FRRouting/frr/files/8798244/PIM_mld_logs.zip)

[2022-05-30 13:15] vijaykug opened #11310 "PIM6d- (*,G) not created on RP node"
Issue - I have 2 different RP (R2 and R3) configured on all the nodes , sending MLD groups ffaa::1 to ffaa::5 from Ixia ,  R2 is RP address for 1222::1 R3 is RP address for 1333::1 , Initially (*,G) created on R2 but after adding  other RP ,(*,G) not present on R2 and R3 both the nodes  , from logs observed that LHR sending  (*,G) towards R2 , but R2 is not installing the same.

[code]

[2022-05-30 13:26] vijaykug opened #11311 "PIM6d-(*,G) is not created on RP node"
Issue -  In below setup , i have R2 (1222::1 ) and R3 (1333::1 ) configured as RP  , FFAA::1-FFAA::5 are the MLD group range sent from Ixia , as per logs LHR sending (*.G) join towards R2 , but R2 not creating the join for same

[code]

[2022-05-30 13:28] SarusKant commented on #11221
Nothing yet? No help?

[2022-05-30 15:46] vijaykug commented on #11311
Please ignore this issue , i had one of the RP config missing in LHR , after adding that,  its working as expected

[2022-05-30 15:46] #11311 closed

[2022-05-31 02:47] chenbaolou commented on #10397
I have the same problem. Has anyone fixed it?

[2022-05-31 03:17] chinome opened #11313 "evpn-vpws support"
Hello, I've noticed https://github.com/FRRouting/frr/issues/3328.

I'd like to know if this feature (evpn vpws) has been included in the latest version？

If yes, could you show me some information page links about this feature？

Thanks.

[2022-05-31 06:16] vijaykug commented on #11273
@eqvinox  i think this issue could be same as #11262 , (*,G)  for this group did not come up after clear mroute

[2022-05-31 06:47] EasyNetDev commented on #11215
Hi all,

Can we take a look to this bug?

[2022-05-31 09:58] vijaykug commented on #11249
Adding one more related issue to this bug
here we don't have Codes for MLD , IGMP report code "I" added for MLD report
[code]

[2022-05-31 12:00] #11139 closed

[2022-05-31 12:22] ne-vlezay80 opened #11316 "Feature: support match peer PEERGROUP from route-map"
Good afternoon, in the route-map there is a match peer IP / INTERFACE. It would not be bad to add the opportunity to match the entire peer group.

This is desirable for bgp free AS.

This is when autonomous systems within the network begin to distribute not from those defined in the RFC, but starting from 1. BGP will essentially be an internal routing protocol in this network.

Borders from netns

[2022-05-31 12:32] gromit1811 opened #11317 "/etc/init.d/frr stop complains about lots of missing PID files"
FRR version: Git master, fdf4a4f73c9eb85d3307cda0603dd6404f85373b
OS: Debian Linux 10 (but bug should also occur elsewhere)
Kernel: Debian 5.16.12-1~bpo11+1 (irrelevant)

Since 1686b1d4864384ee508b58418f20970f2dff2587, FRR tries to stop all daemons, even those which are not (no longer) enabled in /etc/frr/daemons. That's good, but it results in lots of irrelevant complaints about missing PID files

[2022-05-31 14:53] #11174 closed

[2022-05-31 15:12] eqvinox commented on #11313
There is no VPWS support in the Linux kernel. OpenBSD may support it but does not support EVPN. Therefore FRR cannot implement EVPN-VPWS.

[2022-05-31 16:37] donaldsharp commented on #11316
As a general note you can add a `neighbor <PEER_GROUP> route-map <ROUTEMAPNAME> in` that will do what you want.  I'm not necessarily opposed to here but that would probably get what you want here as well

[2022-06-01 07:49] vijaykug commented on #11296
Similar issue observed with IPv4 in below sequence , here i have added RP config,  command is successful , but RP config not present in "show run" and "show ipv6 pim rp-info"
[code]

[2022-06-01 07:53] mobash-rasool commented on #11296
Yes this is a base code issue. I have added the pim tag as well. What is happening is: the code is returning error in the APPLY Phase, and the yang/northbound code does not expect an error in this phase, all the error checks must be done in the VALIDATE phase. Since error is returned in the APPLY phase, hence the yang node is created and when the user tries to do the config change again that node

[2022-06-01 08:04] #11310 closed

[2022-06-01 09:20] chinome commented on #11313
Ok, I see. Thanks

[2022-06-01 09:22] #11313 closed

[2022-06-01 12:26] #11317 closed

[2022-06-01 13:00] ton31337 commented on #3216
Can you test with the latest version? 5.0 is kinda "deprecated".

[2022-06-01 15:16] eqvinox commented on #11298
Should be fixed in #11329, if you could confirm that would be much appreciated.

[2022-06-02 05:06] #11101 closed

[2022-06-02 06:23] vijaykug opened #11330 "PIM - Multicast traffic blackhole when LHR is RP"
Issue- I have 2 node setup , where LHR and RP on same node and other is FHR , MLD joins are fine on LHR but on FHR IIF is prune as soon as traffic started

[code]
OS Ubuntu 1804

kernel
Linux R4 4.20.10-042010-generic #201902150516 SMP Fri Feb 15 10:19:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

FRR version frr_8.3-dev-PR11134-g7a7101b-20220518.055210-1~ubuntu18.04.1_amd64.deb

[2022-06-02 06:29] vijaykug commented on #11330
[LHR_RP_logs.zip](https://github.com/FRRouting/frr/files/8821294/LHR_RP_logs.zip)

[2022-06-02 06:40] vijaykug opened #11331 "PIM :- when FHR is RP register prune not received , FHR always sending register packets"
Issue - I have 2 node setup where one is acting FHR and RP and other one is LHR , here FHR is RP so register send/stop process on same node  , looks like register stop not received , FHR upstream are in Reg J state.

[code]

OS- Ubuntu 1804

kernel
Linux R4 4.20.10-042010-generic #201902150516 SMP Fri Feb 15 10:19:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

FRR version frr_8.3-dev-PR11134-g7a7101b

[2022-06-02 06:41] vijaykug commented on #11331
[FHR_RP.zip](https://github.com/FRRouting/frr/files/8821331/FHR_RP.zip)

[2022-06-02 06:58] ton31337 opened #11332 "bgpd: Memory leak when using route-map set large-community"
[code]
Affected in master, stable/8.2, stable/8.1, stable/8.0.

[2022-06-02 09:57] mobash-rasool commented on #11331
This issue is observed in both pimv4 and pimv6, hence added both the labels. This is base code issue.

[2022-06-02 10:53] mobash-rasool commented on #11330
This issue is observed in both pimv4 and pimv6, adding both the labels.

[2022-06-02 11:20] mobash-rasool commented on #11296
This needs to be discussed in the community. The validate phase does not have the parent node info. For example when first time a config is applied, the vrf in yang will be NULL and hence we cannot get the PIM info in the validate phase, it is available only in apply phase. Will check how to fix this problem.

@vijaykug : If you are blocked with your testing, there is a workaround for this.
You ne

[2022-06-02 11:55] vijaykug opened #11335 "PIM6d- When upstream interface configured as RP , (*,G) join not received on RP node"
Issue - In below topology,  i have configured RP as R2  ((R2---R1)  connected interface)  on all the node , this RP interface is connected  IPv6 address of R2 but R2 show that its not an RP , because of that join sent from LHR is getting dropped on RP node

Note - This is working fine for IPv4

[code]

[2022-06-02 11:58] vijaykug commented on #11335
Logs
[code]

[2022-06-02 13:11] #11298 closed

[2022-06-02 15:10] arunsesh opened #11336 "Route-Map filtering based on prefix-list update not happening when prefix in prefix list matches both deny and permit"
- FRR VERSION : version 8.0.1-
- OPERATING SYSTEM VERSION : Centos7
- KERNEL VERSION : 3.10.0-1160.41.1.el7
---------------

router bgp 5555
 bgp router-id 1.1.1.1
 no bgp ebgp-requires-policy
 bgp graceful-restart-disable
 no bgp network import-check
 neighbor 10.40.66.1 remote-as 5000
 neighbor 10.40.66.1 update-source 10.40.10.91
 neighbor 10.40.66.1 advertisement-interval 0
 neighbor 10.40.66.

[2022-06-02 18:47] arunsesh opened #11337 "BGP Route Advertise(update/withdraw) is happening immediately and not waiting for MRAI for the peer"
- FRR VERSION : 8.0.1
- OPERATING SYSTEM VERSION: Centos7
- KERNEL VERSION: 3.10.0-1160.41.1

**To Reproduce**
router bgp 5555
 bgp router-id 20.20.20.20
 no bgp ebgp-requires-policy
 bgp graceful-restart-disable
 no bgp network import-check
 neighbor 10.40.66.1 remote-as 5000
 neighbor 10.40.66.1 update-source 10.40.10.91
 neighbor 10.40.66.1 advertisement-interval 90  <<<<
 address-family ipv4 u

[2022-06-02 18:52] ton31337 commented on #11337
This is already fixed in master, please verify.

[2022-06-02 21:29] arunsesh commented on #11337
Not sure if the build generated @ https://ci1.netdef.org/artifact/FRR-FRR82REL/shared/build-5/CentOS-7-x86_64-RPMs/frr-8.2.2-02.el7.x86_64.rpm is good enough. Checked and found updates/withdraw go immediately. Had MRAI configured to 15 secs

[2022-06-03 04:13] ton31337 commented on #11337
I'll check this.

[2022-06-03 07:49] winyannainghtut commented on #6966
Is there any update about this issue ? I'm facing the same problem with the FRR v8.2.2

[2022-06-03 12:29] ton31337 commented on #11337
I misunderstood your issue. Actually, FRR sends initial updates bypassing the MRAI timer, this is the actual implementation. If you need to delay initial updates as well, you have to use http://docs.frrouting.org/en/stable-8.2/bgp.html?highlight=update-delay#clicmd-bgp-update-delay-MAX-DELAY.

[2022-06-03 12:53] arunsesh commented on #11337
1> The 13.13.13.13/32 was added after sometime of BGP peering.
Are you saying this will be sent immediately and not wait until MRAI ?

2> The 13.13.13.13/32 was removed after it was advertised. And update happened immediately. For this the fix was given (https://github.com/FRRouting/frr/commit/b10b6d527200c92bef9d576c8c90eaf7098aed06). This seems to be broken now.

[2022-06-03 13:24] ton31337 commented on #11337
1. No. If this is an initial start of the BGPd, then MRAI is skipped and updates are forced to be sent.

2. If we remove 13.13.13.13/32 after the peering is up and running, and add 13.13.13.13/32 again. Then updates are sent only after the MRAI timer expires. This is how it works in master at the moment (verified). Or are you concerned about immediate withdrawals?

[2022-06-03 14:15] ton31337 commented on #11337
Are you about immediate withdrawals or updates? If you remove the route, it's removed immediately (not waiting for MRAI). If you re-add it, MRAI started and the update is pending until MRAI expires.

[2022-06-03 16:57] #11337 closed

[2022-06-03 17:34] arunsesh commented on #11337
Tested on latest master - https://ci1.netdef.org/browse/FRR-FRR-5757/artifact/shared/CentOS-7-x86_64-RPMs/ too.

Issue is seen.

Updates sent immediately and not waiting for MRAI expiry.
Withdraws - it is ok to send immediately to avoid black-holes.