[2020-07-25 08:53] toreanderson opened #6800 "Support of Address Families in OSPFv3 (RFC 5838)"
It would have been very nice if [RFC 5838](https://tools.ietf.org/html/rfc5838) *Support of Address Families in OSPFv3* was supported by `ospf6d`.

The rationale for wanting this feature is essentially the same as for the already implemented *[BGP unnumbered](https://cumulusnetworks.com/blog/bgp-unnumbered-overview/)* support ([RFC 5549](https://tools.ietf.org/html/rfc5549)).

That is, it facilita

[2020-07-25 17:41] pimvanpelt commented on #6086
7.5-dev from today does not exhibit the issue.
[code]

[2020-07-25 17:56] pimvanpelt commented on #6735
I'm continuing my debugging trail in the other issue #6086. I think this issue is a dup of that one.

[2020-07-25 20:26] pimvanpelt commented on #6086
7.4 exhibits the issue.

[code]

[2020-07-25 20:31] pimvanpelt commented on #6086
@qlyoung in case you wanted to take a look. Regression on OSPF6 is not present in 7.5-dev at gd2b4eeb1f. It is present in git tag `frr-7.4`. Stacktrace in the other issue #6735 - I have access to an offensive network in which 7.3 and 7.4 crash but 7.5-dev does not.

[2020-07-27 05:23] liuxc0116 commented on #6785
not yet

[2020-07-27 06:15] liuxc0116 commented on #6785
I just tested it on master. it works.

[2020-07-27 17:49] ton31337 commented on #6790
@paolss could you test this PR? https://github.com/FRRouting/frr/pull/6801

[2020-07-28 10:09] maduri111 commented on #6520
Please check the sample output of "all" option and provide your inputs.

![sh_bgp_all_options](https://user-images.githubusercontent.com/10223016/88652221-25991180-d0e8-11ea-8fc8-217499728395.png)
![sh_ip_bgp_all_summary](https://user-images.githubusercontent.com/10223016/88652239-2b8ef280-d0e8-11ea-9e8f-8dff8c492e97.png)
![sh_bgp_all](https://user-images.githubusercontent.com/10223016/88652261-35

[2020-07-28 11:26] rgirada commented on #6761
@zhanggongc
Tried to delete and add  ospf router multiple times, we didn't encountered this crash.
Do you had scale routes in the system while hitting this crash ? what were the configurations used ?
wanted to understand the exact scenario which is leading to this currption.
providing these details helps us for debugging.

[2020-07-28 11:34] donaldsharp commented on #6757
debian bullseye -> amd64 system

[2020-07-28 12:48] donaldsharp opened #6813 "log filtering shows up in telnet but not in vtysh"
sharpd@eva ~/frr6 (master)> sudo telnet localhost 2605
Trying ::1...
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.

Hello, this is FRRouting (version 7.5-dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

User Access Verification

Password:
eva> enable
eva# conf
eva(config)# log fil
file       filtered-file
eva(config)# log filt
eva(config)# log filtered-file
  FILENAME

[2020-07-28 13:35] zhanggongc commented on #6761
@rgirada
our tester input ospf vty command in different switch terminal when they testing ospf protocol
I let our testers try to catch this crash repeatly.
I will provide debugging info

[2020-07-28 13:56] maduri111 commented on #6520
![sh_ip_bgp_all](https://user-images.githubusercontent.com/10223016/88675088-3194cb80-d108-11ea-8b6a-445ebc6ab036.png)

[2020-07-28 15:11] eqvinox commented on #6786
@Fredi-raspall may be working on this

[2020-07-28 15:12] eqvinox commented on #6797
closing as fixed

[2020-07-28 15:12] #6797 closed

[2020-07-28 15:13] Fredi-raspall commented on #6786
Yes, I have been working on this but not submitted a PR yet.

[2020-07-28 15:13] qlyoung commented on #6723
@zhanggongc it sounds like you didn't enable ospfclient in the configure settings, can you post your configure line?

[2020-07-28 15:14] eqvinox commented on #6086
Seems we need to backport something?

[2020-07-28 15:15] eqvinox commented on #6785
May need to backport another fix to 7.4?

[2020-07-28 16:30] maduri111 commented on #6520
i have few queries regarding showing dampening parameters.
when different dampening parameters are configured for different safi
1. show ip bgp ipv4/ipv6 unicast/multicast dampening parameters => shows correct values
2. show ip bgp dampening parameters => shows only parameters configured for unicast
3. show bgp dampening parameters => show only parameters configured for unicast

when dampening par

[2020-07-28 17:39] maduri111 commented on #6520
router#
router# show ip bgp all dampening parameters

For address family: IPv4 Unicast
Half-life time: 15 min
Reuse penalty: 750
Suppress penalty: 2000
Max suppress time: 60 min
Max suppress penalty: 12000

For address family: IPv4 Multicast
Half-life time: 20 min
Reuse penalty: 1000
Suppress penalty: 10000
Max suppress time: 40 min
Max suppress penalty: 4000

For address family: IPv4 VPN
dampenin

[2020-07-28 20:28] maduri111 commented on #6520
sh [ip] bgp all neighnors A.B.C.D [advertised-routes|received-routes|filtered-routes] [wide]

![sh_bgp_all_adv_routes](https://user-images.githubusercontent.com/10223016/88717780-af73c980-d13e-11ea-91e6-4dca559af57b.png)
![sh_bgp_all_recv_routes](https://user-images.githubusercontent.com/10223016/88717812-b995c800-d13e-11ea-953c-da0ad26149d2.png)

[2020-07-28 20:43] maduri111 commented on #6520
@eqvinox & @ton31337
Please check the above sample output and provide your inputs

[2020-07-29 00:49] zhanggongc commented on #6723
@qlyoung   sir , I have enable the settings, compile log is following:
![image](https://user-images.githubusercontent.com/58503468/88743534-86bbf600-d177-11ea-8d39-abca58454cf6.png)

and I have added the enable options in this file: src\sonic-frr\frr\debian\rules
![image](https://user-images.githubusercontent.com/58503468/88743847-545ec880-d178-11ea-8e19-4c80b7d7625b.png)

[2020-07-29 05:33] #2741 closed

[2020-07-29 05:36] ton31337 commented on #6520
Does this command also works without `ip` keyword? I mean for example `show bgp all neighbor X.X.X.X routes`?

[2020-07-29 06:23] maduri111 commented on #6520
Yes, its works for both show ip bgp and show bgp.
Please find the sample out below

![sh-bgp-all-adv-routes](https://user-images.githubusercontent.com/10223016/88763846-73b61f80-d191-11ea-9ff4-cb90724227a8.png)
![sh-bgp-all-recv-routes](https://user-images.githubusercontent.com/10223016/88763856-7add2d80-d191-11ea-8193-5473debb73b2.png)

show bgp all dampening parameters
--------------------------

[2020-07-29 06:34] ton31337 commented on #6520
:+1: do you have a PR?

[2020-07-29 06:36] maduri111 commented on #6520
not yet.
just wanted to confirm the expected output before opening PR.
Will send it by EOD. Thanks

[2020-07-29 07:06] maduri111 commented on #6520
Please let me know if I could create a structure for bgp show option (json, wide, all etc)
instead of adding another argument to functions like
struct bgp_show_opt {
     bool uj;
     bool wide;
     bool all_afi_safi; (show [ip] bgp all  ) => displays for all SFIs info for all AFIs
     bool all_safi;  (show [ip] bgp [ipv4/ipv6] all) => displays for all SFIs info for the given AFI
};
function (.

[2020-07-29 07:52] ton31337 commented on #6520
Or just `enum bgp_show_opt { bgp_show_uj, bgp_show_wide, ... }` to cover all of those options?

[2020-07-29 07:53] ton31337 commented on #6520
Ah, it could be more than more options. `uint8_t flags` another option.

[2020-07-29 08:04] maduri111 commented on #6520
sure, uint8_t flags would be the better option too.

[2020-07-29 09:23] davischw opened #6817 "make check: compilation warning."
**Describe the bug**
After compiling, a "make check" spits out a warning.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
No compilation warnings.

**Screenshots**
[code]

**Versions**
 - OS Kernel: Debian 10.4 buster / Linux 4.19.0 amd64
 - FRR Version 7

[2020-07-29 12:35] omidit opened #6818 "The network command is not supported in multi-instance ospf"
I have seen this issue (#340) and following link (https://github.com/CumulusNetworks/quagga/commit/7c8ff89e9346227f0e721f7686d4c4d58f9c9135) . but I could not understand what should I do for supporting this command ? please help me to solve this issue .
**setup**
Ubuntu 20.04
Frr 7.3.1
.............................

Hello, this is FRRouting (version 7.3.1-MyOwnFRRVersion-gfea8db7-dirty).
Copyright

[2020-07-29 13:57] #6747 closed

[2020-07-29 14:06] donaldsharp commented on #6818
This was an intentional design decision when MI ospf was implemented.  This is because we did not want to accidently allow overlap of network statements across MI.  The solution was to specifically add each interface to a specific instance in ospf under the instance command.

[2020-07-29 14:11] donaldsharp commented on #6817
Compiler version?

[2020-07-29 14:17] svenauhagen opened #6819 "FRR 7.3.1 frr reload bgp routes not removed"
My base config for the reproduction is this:

[code]

Which leads to:

[code]
When I change the config to:

[code]

and run systemctl reload frr the old networks are not removed:

[code]

a systemctl restart frr gets me back to the correct state.
This works in 7.2.1.

I am using the official repository and debian 10.

Best
Sven

[2020-07-29 19:02] davischw commented on #6817
gcc (Debian 8.3.0-6) 8.3.0

[2020-07-29 19:42] sworleys commented on #6785
https://github.com/FRRouting/frr/pull/6419

@liuxc0116 can you see if these commits in this PR applied on `stable/7.4` fix it for you?

[2020-07-30 06:34] batmancn opened #6822 "[BUG] [BGP] command of `show ip bgp sum` shows ipv6 neighbors in ipv4 address-family"
Hi all,

I'm using frr-7.2.1-s3, I found command of `show ip bgp sum` shows ipv6 neighbors in ipv4 address-family, like this.

Is this a bug?

[code]

[code]

[2020-07-30 06:39] ton31337 commented on #6822
address-family ipv4 is enabled by default for all neighbors. You have to disable `no bgp default ipv4-unicast`.

[2020-07-30 07:25] batmancn commented on #6822
That not work

[code]

[2020-07-30 07:28] ton31337 commented on #6822
Show the running-config after entering `no bgp default ipv4-unicast`.

[2020-07-30 07:36] batmancn commented on #6822
[code]

[2020-07-30 07:41] ton31337 commented on #6822
You have to deactivate the followings under address-family ipv4 unicast:

[code]

And new IPv6 neighbors will not be listed under `address-family ipv4 unicast`.

[2020-07-30 07:47] batmancn commented on #6822
That works! Thank you!

[2020-07-30 08:28] batmancn commented on #6822
But I want to know why I have to `no neighbor fc00::72 activate` by hand?
As this is NOT required in quagga.

If I do not type `no neighbor fc00::72 activate` by hand, I will got error display as issue said.

Is this a bug need to fix?

[2020-07-30 10:23] ton31337 commented on #6822
Please show the full configuration.

[2020-07-30 11:15] liweitianux opened #6823 "ospfd: ospf_read network address is not same when using /32 IP"
**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Configure an /32 IP (service/virtual IP for L3 ECMP load balancing) on an Ethernet interface (say `eth2`, the m

[2020-07-30 11:27] batmancn commented on #6822
root@dut-testbed:~# vtysh

Hello, this is FRRouting (version 7.2.1-sonic).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

dut-testbed# show ru
Building configuration...

Current configuration:
!
frr version 7.2.1-sonic
frr defaults traditional
hostname sonic
hostname dut-testbed
service integrated-vtysh-config
!
router bgp 65100
 neighbor 10.0.0.57 remote-as 64600
 neighbor 10.0.0.57 description A

[2020-07-30 15:23] liweitianux commented on #6823
With the same OSPF setup (area, interface, and addresses), both Quagga (0.99.x version) and BIRD work fine on our CentOS 7 servers.

[2020-07-30 17:21] maduri111 commented on #6520
@ton31337 opened the below PR. Please check
https://github.com/FRRouting/frr/pull/6827

[2020-07-30 19:21] ton31337 commented on #6822
Well, I don't see `no bgp default ipv4-unicast` in your configuration. Set this option and restart the FRR.

[2020-07-30 20:59] #6734 closed

[2020-07-31 03:05] batmancn commented on #6822
Do I must restart FRR to make `no bgp default ipv4-unicast` work?
As I test, type `no bgp default ipv4-unicast` without restart could NOT work.

So in my product environment, I must add `no bgp default ipv4-unicast` into start script?

But the `no bgp default ipv4-unicast` is in `router bgp 65100` block, which is determined in runtime, so how to deal with this?

[2020-07-31 06:43] ton31337 commented on #6822
Yes, because _new_ peers should be delisted.

Yes.

[2020-07-31 07:56] batmancn opened #6830 "[BUG] [IPv6] IPv6 route learned by BGP with error nexthop"
Hi all,

I'm using frr-7.2.1-s3. I found IPv6 route learned by BGP with error nexthop, like this:

[code]

[2020-07-31 07:57] batmancn commented on #6822
Oh, I hope this could be fix, like quagga.

[2020-07-31 08:06] ton31337 commented on #6822
I don't understand where is a bug here?

[2020-07-31 08:09] ton31337 commented on #6830
This is how IPv6 nexthop resolution works. If you want to use global addresses then you have to define a route-map `set ipv6 next-hop prefer-global`.

[2020-07-31 08:15] batmancn commented on #6830
Can you share real configure about this feature? haha ~

[2020-07-31 08:24] ton31337 commented on #6830
http://docs.frrouting.org/en/latest/routemap.html#clicmd-setipv6next-hopprefer-global

[2020-07-31 10:56] batmancn commented on #6830
But I'm using my ipv6 address to establish bgp peer, why nexthop is link local ?

[code]

[2020-07-31 19:08] vincentbernat commented on #6077
Hey! As we need this feature as well, I intend to implement it before end of next month. As for other vendors, I will simply expose BGP sessions for all VRF. For scalar OID, I will only expose the default VRF (the BGP4-MIB is too antiquated to handle several ASN). I don't have immediate plan to support IPv6 (as we use both IPv4 and IPv6 sessions, monitoring IPv4 is enough for us).

[2020-07-31 22:42] kirooshu commented on #6624
Hello, what about the newest 7.4 version? It does not seem to be published as an RPM at least from what we can see. Thank you!

[2020-08-01 04:49] taspelund opened #6835 "ospf-sr: ospfd crashes at 'show ip ospf database segment-routing' after p2p neighbor removes and re-configures 'segment-routing prefix'"
ospfd will crash when running `show ip ospf database segment-routing` after removing and re-adding `segment-routing prefix ...` on a peer router.

Topology:
[code]

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**Expected behavior**
ospfd handles LSDB update without becoming unstable

[2020-08-01 05:15] taspelund opened #6836 "ospf-sr: same label allocated for two separate SR prefixes + pushed to kernel as multipath MPLS route"
**Describe the bug**
The same MPLS label is being allocated for two separate prefixes, leading to the label being installed in the kernel as a multipath MPLS route.  Since the prefixes are both unique and in discrete locations, they should have discrete labels.

[code]

Topology:
[code]

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you t

[2020-08-01 05:30] omidit commented on #6818
@donaldsharp : That is great, Thank you

[2020-08-01 05:37] taspelund commented on #6836
Disregard, this was user error. When using an index value in the SR advertisement, the index should be globally unique per prefix.
My config had both prefixes using an identical index, which resulted in both prefixes being allocated the same label out of the SRGB.

[2020-08-01 05:37] #6836 closed

[2020-08-01 08:55] maduri111 commented on #2336
Hi,
Is this FR still open ? if yes, shall I start working on this feature support ?

[2020-08-01 09:12] maduri111 commented on #2236
Hi,

draft version 21 is now in effect.
https://tools.ietf.org/html/draft-ietf-idr-bgp-optimal-route-reflection-21

Expires 2020-12-18

Anyone working on this FR ? if not, Shall I start working this feature support ?

[2020-08-01 10:11] ton31337 commented on #6830
You have to use it under address-family ipv4.

[2020-08-01 10:12] ton31337 commented on #6822
@polychaeta autoclose in 1 day.

[2020-08-01 10:12] ton31337 commented on #2336
I don't know anyone signed for this task.

[2020-08-01 10:30] maduri111 commented on #2336
Ok. shall I start working on this then ?

[2020-08-01 15:33] ton31337 commented on #2336
Sure, why not.

[2020-08-01 15:34] maduri111 commented on #2336
Ok Thank you!

[2020-08-01 16:58] brotherdust commented on #2236
To my knowledge, no one has worked on it. I don’t have the skills to do it, otherwise I would have done it. However, I’m happy to write the documentation for it if you’d like to collaborate.

[2020-08-01 17:08] maduri111 commented on #2236
Thanks for the update. would let you know when I need your help.

[2020-08-02 04:16] ton31337 commented on #6819
Fixed.

[2020-08-02 04:16] #6819 closed

[2020-08-02 05:48] m-varasteh opened #6838 "lib: "Duplicated instance of interface list" error"
**Describe the bug**
In a circumstance( which will be explained), after adding an interface to a VRF, entering interface config node for some interfaces is blocked by the error in title.

[x ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
I have a router with 4 interfaces named `eth0, eth1, eth2, eth3`.
using vtysh inte

[2020-08-02 05:55] m-varasteh commented on #6838
I can confirm it's happening on `master` too:
[code]

[2020-08-02 10:12] #6822 closed

[2020-08-02 11:14] ton31337 commented on #6830
@polychaeta autoclose in 1 day.

[2020-08-02 11:15] ton31337 commented on #6818
@polychaeta autoclose in 1 day.

[2020-08-02 13:51] myracullu opened #6839 "blackhole route is no longer exported"
Hello everyone. I've had a recurring problem with 7.3.1 + ospf. Any route that I insert into the blackhole will stop being advertised to your neighbors. It is necessary to remove and add again a route in the blackhole for the route to be exported again. Anyone going through this?

[2020-08-02 16:15] ton31337 commented on #6839
Could you show the config and the topology to replicate?

[2020-08-02 17:08] myracullu commented on #6839
Current configuration:
!
frr version 7.3.1
frr defaults traditional
hostname debian
log syslog informational
service integrated-vtysh-config
!
ip route 0.0.0.0/0 172.16.0.1
ip route 100.64.0.0/10 Null0
!
interface eth1.3
 description P2P NATSERVER
 ip address 172.16.0.6/30
 ip ospf network point-to-point
!
router ospf
 ospf router-id 172.16.10.2
 redistribute connected
 redistribute static
 networ

[2020-08-03 04:54] taspelund opened #6841 "LDP only builds implicit-null bindings upon initial config -- bindings are non-null after restarting frr with systemd"
**Describe the bug**
All label bindings built by ldpd upon initial config have implicit-null.  After writing the config and restarting frr, proper (non-null) bindings are built for the same prefixes.
This affects the bindings for both local and non-local prefixes.

Topology:
[code]

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test i

[2020-08-03 05:10] taspelund opened #6842 "LDP label bindings created even when 'mpls ldp' is not configured"
**Describe the bug**
ldpd builds and maintains a label binding database even when LDP (`mpls ldp`)has not been configured.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Start FRR with ldpd and any routes in the RIB (connected only

[2020-08-03 05:12] ton31337 commented on #6830
@batmancn for newbie questions please come into our Slack channel. You will find all the relevant information here: https://github.com/FRRouting/frr/wiki.

[2020-08-03 05:12] polychaeta commented on #6830
This issue will no longer be automatically closed.

[2020-08-03 05:58] #6830 closed

[2020-08-03 10:39] liuxc0116 commented on #6785
![image](https://user-images.githubusercontent.com/6480317/89174382-5aa9d600-d5b8-11ea-944a-18107d0ef2e9.png)

yes, use the patch(in this PR #6419), it works.

[2020-08-03 10:44] liuxc0116 commented on #6785
p

[2020-08-03 10:44] #6785 closed

[2020-08-03 11:15] #6818 closed

[2020-08-03 12:38] mimugmail opened #6843 "Updating FRR7.3 to FRR7.4 breaks eBGP on FreeBSD12.1"
**Describe the bug**
OPNsense 20.7 updated FRR from 7.3 to 7.4 and with this update the BGP daemon doesn't exchange routing information via eBGP. Reverting back to 7.3 let them exchanging routes again. Please know that also FreeBSD itself was updated from 11.2 to 12.1, but I think this is no relevant since v7.3 works with latest version of OPNsense.

In 7.4 `sh ip bgp sum` looks a bit weird:
OPN3.

[2020-08-03 12:43] ton31337 commented on #6843
@mimugmail since 7.4, we have strict eBGP policy enabled by default. Read more about it here: http://docs.frrouting.org/en/latest/bgp.html#require-policy-on-ebgp.

[2020-08-03 12:47] mimugmail commented on #6843
@ton31337 Thx for the quick reply.
Is it good idea to change a default like this? I can think of many broken setups out there.

Ok, for now we'll revert to 7.3 and maybe disable it.
Is there a link about a discussion of this feature so I can get more insights into it?

[2020-08-03 12:53] ton31337 commented on #6843
It's mentioned in release notes: https://github.com/FRRouting/frr/releases/tag/frr-7.4 (RFC 8212 is now enabled by default).

[2020-08-03 13:02] mimugmail commented on #6843
Thx, I'll have a deeper look at it ..

[2020-08-03 13:02] #6843 closed

[2020-08-03 15:59] GalaxyGorilla commented on #6835
I did not grasp the full issue text, but maybe this is fixed by https://github.com/FRRouting/frr/pull/6726 :)

Can you give this PR a shot?

[2020-08-03 18:05] toreanderson commented on #6800
Closing this as I just realised that there is a wiki page with feature wishlist, where this is already mentioned: https://github.com/FRRouting/frr/wiki/Feature-Requests

[2020-08-03 18:05] #6800 closed

[2020-08-04 01:13] jachen-ship-it opened #6848 "PIM Join doesn't use correct interface IP when multiple IPs are configured"
**Describe the bug**
FRR PIM Join does not use the correct interface IP despite being explicitly configured to do so.
The expected IP is a Virtual IP address. ie the interface has multiple IPs.

[code]

**Expected behavior**
Would send the PIM Join from the explicitly specified interface IP ie. 10.24.22.214 not 10.119.112.38

[x] Did you check if this is a duplicate issue?
[] Did you test it on th

[2020-08-04 01:44] rwestphal commented on #6842
@taspelund This should already be the behavior implemented by ldpd. No LDP label binding should be created nor any neighborship established until LDP is explicitly enabled via configuration (regardless if the daemon is running or not). If this isn't the behavior you're seeing, please share your ldpd log file so that I can take a look at it.

One thing I noticed, however, is that ldpd will retain t

[2020-08-04 01:59] rwestphal commented on #6841
@taspelund There are a few misconceptions here. ldpd should create implicit-null label bindings only for destinations that satisfy one of the LDP egress conditions specified by RFC 5036:
1. connected networks;
2. networks reachable over a non-LDP enabled interface (i.e. destination is outside the MPLS network).

There's no exception for loopback routes, they also receive implicit-null labels as an

[2020-08-04 02:55] rwestphal commented on #6838
Looks like a duplicate of #5718.

The solution consists of updating to libyang 1.x. More details here: https://github.com/FRRouting/frr/issues/5718#issuecomment-607306847

Please let us know if that fixes the problem for you.

[2020-08-04 02:59] taspelund commented on #6841
Hey @rwestphal thanks for taking a look!

Sorry if I'm missing some crucial info. I'm not hoping for you to provide a magic solution out of nothing, that's all I had thought to grab at the time. I'm including more output below, but if there's more that would be helpful then let me know and I'll be happy to get it.

I think the missing `net` command on leaf02 was just a copy/paste error. I was tryi

[2020-08-04 04:59] m-varasteh commented on #6838
Hi Renato.

Good catch! Upgrading to newer libyang, fixes the problem. Interestingly I believed i've built my libyang with `DENABLE_CACHE=OFF`. But it seems i was wrong. Thanks

[2020-08-04 04:59] #6838 closed

[2020-08-04 06:01] mobash-rasool opened #6849 "PIM crashed when RP configuration is removed and sending joins stopped"
Topology -- R1--R2
Have pim neighbors between 2 routers. Start sending (*,G) joins to R1. R2 is the RP.
Upstream (*,G) should be present.

Execute below command on R1, stop sending Joins from R1 and wait for neighbor join expiry timer to be expired on R1.
"no ip pim rp 2.2.2.2 224.0.0.0/4"

Rtr-1(config-if)# do sh ip pim upstream
Iif             Source          Group           State       Uptime

[2020-08-04 06:02] mobash-rasool commented on #6849
I am looking into this issue. Please assign to me.

[2020-08-04 06:43] Spantik commented on #5863
@polychaeta autoclose in one week.

[2020-08-04 07:34] Spantik commented on #6839
I tried bringing up with latest master and I do not see any issues. I can see rotuer with NULL nexthop is getting distributed to OSPF and inturn to its adjencies. I played around with static route as well and do not see any issues. May be we need more info to triage this issue. Do you have any distribution list configured?

[2020-08-04 08:55] Spantik commented on #6823
Hmmm this seems to be a issue. Code in FRR has been added such that it loops over the all ospf interface and then check in this order.
1. Virtual link
2. Unnumbered
If any of these two matches then it breaks.

While quagga does not have this code. I think it is assumed that if we have a unnumbered interface then we should not be having broadcast.

This assumptions is broken with your config.

[2020-08-04 12:25] riyaz86a opened #6852 "Zebra crash when blackhole route is sent over FPM module."
**Description**

I am running FRR 7.4 version (7.4-dev-MyOwnFRRVersion).
I tried to configure a blackhole route as below in staticd module.
     ip route 77.77.77.0/24 blackhole

As soon as blackhole route is configured, zebra is crashed with following backtrace.
	(gdb) bt
	#0  0x00007ffff7122445 in raise () from /lib/x86_64-linux-gnu/libc.so.6
	#1  0x00007ffff7125bab in abort () from /lib/x86_64-

[2020-08-04 15:26] donaldsharp commented on #6848
have you tried ` ip pim use-source AAAA` ?

[2020-08-04 16:02] mwinter-osr opened #6856 "CI Issue: Locking during package install"
Not a FRR issue - but an issue which causes CI failures on some times.

On Ubuntu systems, there is sometimes a package installation fails as Ubuntu does some checks/upgrades in the background:
[code]

the `unattended-upgrade` package is already removed, but this still happens. I didn't find a way to flag apt to wait or better signal if this happens, so I could wait some time and try again.

If an

[2020-08-04 22:22] rwestphal commented on #6762
Hi @rahveiz,

Unfortunately that's not possible as of now. The Linux kernel doesn't support the ICMP MPLS extensions [1] required to embed MPLS information into ICMP messages. There's nothing we can do on FRR's side to solve that problem.

Other option would be to use MPLS OAM [2] tools like "LSP ping" and "LSP trace" to analyze your network. Unfortunately, however, I'm not aware of any Linux-comp

[2020-08-04 22:37] rwestphal commented on #6841
That's definitely a bug. I've managed to reproduce the same problem locally, it seems ldpd is failing to clean things up properly upon "no mpls ldp". It's a recent regression as the same problem doesn't happen on 7.3.

Thanks for bringing this to our attention. We'll try to provide a fix asap.

[2020-08-05 00:10] jachen-ship-it commented on #6848
Thanks @donaldsharp use-source has done the trick.

Apologies for not trying that, I didn't see that option in the latest FRR manual. Guess i should of just tabbed it out on the terminal.

[code]

[2020-08-05 00:10] #6848 closed

[2020-08-05 00:20] donaldsharp commented on #6848
https://github.com/FRRouting/frr/pull/6861

[2020-08-05 09:21] batmancn opened #6862 "[BUG] [aggregate route] zebra crash after `aggregate-address` command"
Hi all,

I'm using FRRouting version 7.2.1-s3

I found zebra crash after `aggregate-address` command.

This is my step:
[code]

This is error log:
[code]

[2020-08-05 11:25] riyaz86a commented on #6862
This panic is because of sending/updating aggregator address (blackhole route) over FPM module.
Its same as below bug.
https://github.com/FRRouting/frr/issues/6852

[2020-08-05 14:17] maduri111 commented on #2336
@ton31337
I have added the required CLI for this feature support.
Please let me know If i need to send the code for review now or once I complete the feature implementation ?

[2020-08-05 14:20] ton31337 commented on #2336
It's better to push the final code to avoid 100x review time.

[2020-08-05 14:26] maduri111 commented on #2336
sure thanks

[2020-08-05 16:36] ton31337 commented on #6862
Could you show the full config? Or at least how to reproduce it? I've just tried with stable/7.2 and can't replicate that.

[2020-08-05 18:17] gtorre commented on #4397
@strizhechenko you've probably figured this out by now but I ran into the same issue and the solution is to add the line to the `staticd.conf` under frr.

[2020-08-05 22:22] #6762 closed

[2020-08-06 05:54] taspelund commented on #6841
Glad I'm not going completely crazy :)

A bit of clarification on this:  I am not triggering this by running "no mpls ldp" + reconfiguring,

I'm completely restarting FRR with a startup-config where `mpls ldp` is not present (IGP + BGP only).  Once FRR comes up + routing protocols converge, I am adding `mpls ldp` manually.  It's after this "initial configuration" of `mpls ldp` that I see all bindi

[2020-08-06 07:46] kuldeepkash opened #6867 "[EVPN-FRR]: Not able to delete VNI config"
**Issue**
---------
If we try to delete VNI number associated with a Tenant VRF, FRR is showing error.
[code]
**Issue found when performing next step:**
[code]
**Helpfull CLI o/p for debugging:**
[code]

**Steps To Reproduce:**
1. Configure tenant VRF and attach VNI to it
2. Verify VRF/VNI is configured
3. Try running no vni <vni-id>

**Expected behavior:**
We should be able to delete VNI configur

[2020-08-06 08:47] zhanggongc commented on #6723
@qlyoung   I have try my best to run sonic's ospfclient deamon successfully .it is necessary to modify following files:
![image](https://user-images.githubusercontent.com/58503468/89511401-70134000-d804-11ea-8569-5f0b79bfc0a1.png)

so this problem has been resolved ..thanks..

[2020-08-06 08:47] #6723 closed

[2020-08-06 09:35] #3347 closed

[2020-08-06 09:53] vijaykug opened #6868 "Group specific query sent in response of invalid checksum leave"
This issue is observed while running IGMP conformance test.

Issue detail -

When DUT receive IGMP leave with invalid checksum,
It response to leave message with Group specific query .

Here expectation is :-
DUT should drop invalid checksum IGMP leave packet , and should not generate Group specific query for that.

[ x] Did you check if this is a duplicate issue?
[ x] Did you test it on the lates

[2020-08-06 09:55] mobash-rasool commented on #6868
I am working on it. Please assign it to me.

[2020-08-06 22:57] rwestphal commented on #6841
Thanks for the details @taspelund. Apparently both issues are in fact correlated. @lynne-volta seems to have already identified the root cause of the problem and plans to submit a fix within the next few weeks. In the meanwhile I'd suggest you to stay at FRR 7.3 if you need a fully working LDP implementation.

[2020-08-07 08:40] riyaz86a commented on #6862
I am able to see this crash, please find below setup and config details.
Its must to have FPM server configured to see this crash.

Setup:
------
      BGP router1 (cisco)  ------ BGP router2 (DUT - FRR)

Router1 updates prefix 22.22.22.0/24
Router2 (FRR) aggregates routes as below.
	*> 22.0.0.0/8       0.0.0.0                            32768 i
	*> 22.22.22.0/24    200.200.200.150        777

[2020-08-07 15:04] #6077 closed

[2020-08-07 16:14] hatclub opened #6876 "overwriting match community on a route-map causes bgpd to crash signal 11 SIGSEGV"
**Describe the bug**
Overwriting the match community statement in a route-map (even when that route-map is not in use anywhere) can cause bgpd to SIGSEGV

[code]

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Environment: 4 bgp neigh (all shut), 6 ospf neigh, 6 ospfv

[2020-08-07 18:01] rzalamena commented on #6876
@hatclub hey I think your problem is fixed in the `stable/7.3` branch, but it happened after the 7.3.1 release.

If you need it immediately you can build the `stable/7.3` branch or upgrade to 7.4. The PR that fixed it is this one:
https://github.com/FRRouting/frr/pull/6551

[2020-08-07 18:38] hatclub commented on #6876
Ok, thanks! I am happy to wait for the next package release for the time being - there does not appear to be any 7.4 branch packages and I don't like diverging from packages wherever possible for maintainability reasons - is it likely to be a long time before there is a new 7.3 release?

[2020-08-09 05:46] m-varasteh opened #6881 "zebra: crash after setting VNI for an already removed VRF"
**Describe the bug**
Using FRR 7.4, After removing a VRF which has had some static routes defined on it from linux, It seems on Zebra i can't make the same pseudo-VRF and the `assert` in `vrf_vni_mapping` is triggered.

(put "x" in "[ ]" if you already tried following)
[ x ] Did you check if this is a duplicate issue?
[ x ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce

[2020-08-09 06:05] m-varasteh commented on #6881
Also the path that led me to this bug is interesting. After i removed the VRF, i checked my running-config and i saw that static route is still there. It seems correct. So i entered `no vrf green` to remove all remaining configurations.
[code]
After looking at code, I realized that zebra in `netlink_vrf_change`, delete VRF after receiving the netlink message. So i just entered `vrf green`, believi

[2020-08-11 06:43] #5863 closed

[2020-08-11 14:39] KaushikNiral opened #6896 "Issue when redistribute is performed with route-map using access-list"
There are around 7 scenario's where the redistribute is not working with route-map using
access-list.
Below mentioned 2 scenario for reference.

**Scenario 1 :**

Initially access-list is added :-  access-list acl seq 10 permit any
After changing the access-list :-  access-list acl seq 10 permit 3.3.3.3/32

Only 3.3.3.3 should be redistributed, but this didn't happen.
After frr restart it reflecte

[2020-08-11 15:07] #6867 closed

[2020-08-12 01:23] zhanggongc opened #6900 "[frr7.2 ospf6d]forwarding traffic can't pass because of nexthop's link-local address in ospf route table"
ospf6d 's configuration is following:
![image](https://user-images.githubusercontent.com/58503468/89964005-bb51a680-dc7b-11ea-8d75-b1144b64840a.png)
we can see neighbor 's status is normal.

output interface 's configure is following:
link local addr is fe80::290:fbff:fe66:c79/64
configged handly addr is 2001::2/64
![image](https://user-images.githubusercontent.com/58503468/89964140-eb994500-dc7b-

[2020-08-12 01:27] zhanggongc commented on #6900
I know destination prefix should be link-local prefix in OSPF6 's packet.
but what should I do if traffic that mach this ospf6 route can't be forwarded ?

[2020-08-12 06:51] ton31337 commented on #6790
http://docs.frrouting.org/en/latest/bgp.html#clicmd-[no]neighborPEERmaximum-prefixNUMBER[force]

[2020-08-12 06:51] #6790 closed

[2020-08-12 16:20] mjstapp opened #6907 "lib: signal handling race leads to abort in CI"
A signal-handling race condition exists in the core frr lib event loop. An FRR daemon handles all signals in `lib/sigevent.c:quagga_signal_handler()`. This handler records that the signal was received, but does not call the daemon-specific handling code. The event loop in `lib/thread.c:thread_fetch()` checks for received signals at the top of each loop iteration, calling the daemon's handler. But

[2020-08-13 08:02] ruben-herold commented on #2864
Still not working in 7.3 ;-(
What  happend to "bgpd: Enhanced Route Refresh capability #5094"

[2020-08-13 08:03] ruben-herold commented on #3571
Is it on the roadmap?

[2020-08-13 08:49] ton31337 commented on #2864
@ruben-herold I have plans to continue with that, but no free time so much :(

[2020-08-13 12:56] davischw opened #6910 "bgpd: copy/paste one too many times."
Is the second occurrence necessary or can it be removed?

[code]

https://github.com/FRRouting/frr/blob/e11baa4c72974c851a522a6f301efdd14ba2045c/bgpd/bgpd.c#L3966-L3979

[2020-08-13 13:00] donaldsharp commented on #6910
yes it clearly looks like a bit of original code that was always wrong.  Are you planning on fixing it?

[2020-08-13 13:45] ing-wher opened #6911 "ospfd: please make proactive arp configurable"
Proactive arp in issue #6869 should be configurable, which should be disabled by default.

A possible configuration:

router ospfd
  proactive-arp

[2020-08-13 13:47] #6297 closed

[2020-08-14 01:32] notsethw opened #6915 "FRR 7.3.1 cannot establish BGP session to Cisco ASR1002 w/ IOS 16.03"
**Describe the bug**

I am trying to get a very basic BGP session between FRR and a Cisco ASR established over a IPSEC/VTI tunnel. I can ping over the tunnel just fine, and static routing over the tunnel works. The provider has given us an internal AS (64597) to use, and we are peering with their external AS.

When I try to bring up BGP to the Cisco, the session never establishes. The Cisco-side r

[2020-08-14 04:35] davischw commented on #6910
If you would assign me, sure.

[2020-08-14 04:55] davischw commented on #6910
done:
https://github.com/FRRouting/frr/pull/6918

[2020-08-14 08:36] k0ste commented on #6412
Any news?

[2020-08-15 05:23] thongal-frr opened #6921 "one-sided BGP neighbor password is ignored"
Starting FRR 7.2 we are seeing one issue with  bgp neighbor command.

Topology:
--------------
e.g
[code]
vtysh config:
------------------

R1
[code]
R2
[code]
I do see BGP NBR come up with this configuration, even though password
is not configured on the other side(R2).

R1 starts sending  TCP syn packet with Tcp options(md5).
R2 acks without md5 option.(as password is not configured)
R1 drops md

[2020-08-15 10:34] ton31337 commented on #6915
Could you show `show ip route 172.29.4.170` from the FRR node?

[2020-08-15 16:07] notsethw commented on #6915
`Hello, this is FRRouting (version 7.3.1).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

[redacted]# show ip route 172.29.4.170
Routing entry for 172.29.4.168/30
  Known via "connected", distance 0, metric 1, best
  Last update 19:34:24 ago
  * directly connected, ipsec4000`

As an aside: I setup a cisco CSR1000V with IOS XE 17.02.01r, on our side. I am able to talk to it from frr/bgpd without an

[2020-08-16 07:01] ton31337 commented on #6915
Could you turn on `debug bgp updates`, `debug zebra updates`, `debug bgp neighbor-changes` and paste the information here?

[2020-08-16 07:04] ton31337 commented on #6852
duplicate with https://github.com/FRRouting/frr/issues/6862

[2020-08-16 07:04] #6852 closed

[2020-08-16 07:10] ton31337 commented on #6911
@ing-wher could you describe reasons for that?

[2020-08-17 00:47] Cryst commented on #5344
FRR 7.3 is compiling fine with libyang 0.16.105 (0.16-r3) package for OpenWrt CC 15.05.1.
Then I tried to build FRR 7.4 with same libyang (I removed lib clippy from Makefile) but it ends with error:
[code]

libyang was working before, so I commented PKG_CHECK for checking libyang version in configure.ac.
[code]
Looks like there is a path mismath somewhere starting from FRR7.4 and libyang cannot be

[2020-08-17 00:52] lucize commented on #5344
don't have the commit in mind, libyand dependency was  increased, just backport the new libyang committed in master branch

[2020-08-17 14:09] bmerry opened #6928 "Documentation claiming config file per daemon is misleading"
**Describe the bug**

The documentation at http://docs.frrouting.org/en/latest/basic.html#config-commands says

I was porting from Quagga where that was familiar, so I created /etc/frr/zebra.conf and /etc/frr/ospfd.conf, but things didn't work. After instead putting all my configuration into /etc/frr/frr.conf, things started working.

(put "x" in "[ ]" if you already tried following)
[x] Did you c

[2020-08-17 18:18] notsethw commented on #6915
hi @ton31337 ,

It looks like `debug zebra updates` and `debug bgp neighbor-changes` do not exist in my version of FRR, but `debug bgp neighbor-events does`. (`debug bgp updates` also does work; `debug bgp zebra` also exists)

[code]

[code]

you might notice that these are from a different subnet than I mentioned above; we have two pfsense routers set to peer with this provider. Unfortunately, th

[2020-08-17 19:06] ton31337 commented on #6915
Sorry, `debug zebra events` and `debug zebra nht`.

[2020-08-17 19:55] notsethw commented on #6915
Got it. Enabled those.

[code]

I am still not seeing any zebra-specific log messages, so hopefully this is what you are looking for:

[code]

[2020-08-18 08:45] slankdev opened #6935 "topotests: Our PR can't pass the job:route-scale ci-evaluation when we make zapi_nexthop biggere"
## Short Summary

- When we make `struct zapi_nexthop`'s size bigger, and submit PR, CI's route-scale test can't be passed.
  - I proof that behavior on [this test-PR](https://github.com/FRRouting/frr/pull/6933)
  - This looks like typical memory size issue.
  - zebra consume much of memory and `qmalloc` will be failed for many-many(1M) routes.
  - I think it's not BUG. just like-a full-routes iss

[2020-08-18 10:56] nic1225 opened #6936 "Adaptation of new sysrepo version"
hi.

Sysrepo has released a new version 1.4.70, and a few APIs have changed. Do we have an implementation of sysrepo corresponding to this version in northbound module?

Nick
thanks.

[2020-08-18 11:13] slankdev commented on #6935
I finished porting.

[2020-08-18 11:57] mjstapp commented on #6935
So it looks like the change you're proposing to zapi_nexthop has a large impact. I don't see any actual use of seg6_segs though? I mean, it seems like the zapi change that's causing a problem isn't even ... used?

[2020-08-18 12:29] slankdev commented on #6935
Yes, In current implementation, seg6 route isn't used. (but my later patch uses seg6 route).
seg6 will be used by routing protocol daemons (bgpd,isisd,etc..)

In the future after my all PRs are merged, bgpd creates seg6 route to construct VPNv4 with SRv6 backend.
like this . https://www.cisco.com/c/en/us/td/docs/routers/asr9000/software/asr9k-r6-6/segment-routing/configuration/guide/b-segment-rout

[2020-08-18 12:31] slankdev commented on #6935
FYI:
But number doesn't need to be big such as `16*16`.
I think `16*4` or `16*2` is ok for me.

[2020-08-18 13:40] Spantik commented on #6090
BGP RCA:
-----------
Issue is seen in a race condition where we BGP session enters established state. BGP now tries to clean up the doppelgänger, during this time if the we fail to fetch remote address then it closes both connections. With improper clean up a stale BGP session with OPENCONFIM state stays.

Steps to get in to this state:
---------------------------
1. Initially BGP start listening

[2020-08-18 14:09] xThaid commented on #6911
I can do this.

[2020-08-18 15:11] #6910 closed

[2020-08-18 15:25] qlyoung commented on #6921
@thongal-frr
You say:
[code]
So on R1 FRR has properly set the MD5 socket option, if you're seeing it on the wire. R2 acks without the option. My understanding is that at this point the kernel is responsible for dropping the connection. From RFC 2385:
[code]
If this is actually happening the way you describe it sounds like a bug in the kernel TCP stack.

This is an example of why we ask for platfo

[2020-08-18 15:26] #6849 closed

[2020-08-18 16:04] thongal-frr commented on #6921
Here more details:( will send pcap soon).
root@pavo-colo-leaf1:~# uname -a
Linux pavo-colo-leaf1 4.15.0-36-generic #1 SMP Mon Oct 22 21:20:30 PDT 2018 x86_64 x86_64 x86_64 GNU/Linux
root@pavo-colo-leaf1:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial
root@pavo-colo-leaf1:~#

[2020-08-18 16:06] mobash-rasool commented on #6900
@zhanggongc : what is the problem here? forwarding for which prefix is not working?

[2020-08-18 17:05] thongal-frr commented on #6921
FRR 4.0 with the same kernel and OS was ok.

[2020-08-18 20:47] notsethw commented on #6915
Finally got some logs from the cisco side. It looks like we are advertising capabilities the cisco cannot handle:

[code]

The important bit seems to be:

[code]

https://www.iana.org/assignments/capability-codes/capability-codes.xhtml
 Code 73 – “FQDN capability”

I had mentioned in my original comment:

2) establish it with dont-capability-negotiate, if the Malformed AS_PATH issue can be resolve

[2020-08-19 03:23] batmancn opened #6946 "[BGP GR] bgp gr could not work"
Hi all,

Now I'm using frr-7.2.1-s3 in 2 DUT.

DUT-1 create bgp peer with DUT-2, with BGP GR enabled. But I found, when I restart DUT-1, DUT-2 GR works fine, when I restart DUT-2, DUT-1 GR could not work at all !!!

DUT-1 info:
[code]

DUT-2 info:
[code]

I'm confused, as DUT-1 and DUT-2 use same frr-7.2.1, and almost same configure, why GR works fine in DUT-2, and not work in DUT-1 ???

[2020-08-19 04:24] batmancn commented on #6946
need to configure `bgp graceful-restart`

[2020-08-19 04:24] #6946 closed

[2020-08-19 06:04] zhanggongc commented on #6900
@mobash-rasool
this problem is about sonic-frr in our switch.
we should make sure link-local address be delivered down into hardware driver, since link-local address is used for ospf v6.
After we modify the code permitting (not filter)link-local address  in sonic ,it is ok and traffic can be passed.

[2020-08-19 06:04] #6900 closed

[2020-08-19 06:06] ton31337 commented on #6915
Are you able to test with the latest master branch? We have there already a _helper_ which dumps all the attributes in such situations. It would show something more useful.

[2020-08-19 12:09] static33rus opened #6947 "frr doesn't set default route in RIB when acts as L1 IS-IS router and attached bit received from L1/L2 neighbour"
When FRR acts as L1 IS-IS Router and receives an attached-bit from L1/L2 neighbour, there is no default route in RIB.
I tested the same scenario with cisco VXR 7206 and cisco set default route.

[code]
[code]
RFC 2966:
[code]

**Expected behavior**
FRR has to set default route in RIB with neighbour's ip as next-hop

**Versions**
FRR 7.4

[2020-08-19 17:00] thongal-frr commented on #6921
Please see attached pcap file, you will have to unzip, as it does not allow me to attach pcap file directly.
Look into packet 333 onward,  where TCP packet with MD5 option is send, and upon receiving ACK from NBR, it drops MD5 and sends BGP Open.

[tmp.pcap.zip](https://github.com/FRRouting/frr/files/5098013/tmp.pcap.zip)

[2020-08-19 17:07] thongal-frr commented on #6921
More info(config, show output)

R1(with password)

router bgp 12000
 bgp router-id 12.1.1.1

 neighbor 31.0.1.1 remote-as 21000
 neighbor 31.0.1.1 description none
 neighbor 31.0.1.1 bfd
 neighbor 31.0.1.1 password ******<----------------------- One side
 neighbor 31.0.1.1 timers 10 30
 neighbor 31.0.1.1 timers connect 15

 address-family ipv4 unicast

leaf1# show bgp neighbors 31.0.1.0
% No such

[2020-08-20 06:34] Sunil-pradhan-blr opened #6956 "Documentation for starting multiple instances of ISIS/Zebra"
Hello,
I'm new to FRRouting.
Just wondering where can I find documentation for:
1. starting multiple instances of ISIS and Zebra.
2. what is the maximum number of ISIS and Zebra instances I can start in a single ubuntu VM (any theoretical limitations)?
3. how do I use VTYSH to get console for multiple instances.

---------------

**Describe the bug**
A clear and concise description of what the bug

[2020-08-20 10:50] ne-vlezay80 opened #6957 "Frrouting ignoring address witch loopback interface or local addressing"
**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Enter
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2020-08-20 11:38] ne-vlezay80 opened #6958 "Frrouting not visible RP from PIM else used address from loopback interface"
**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1.Enable PIM
2. Try create rp from loopback source address and get the warning:
[code]

**Versions**
 - OS Kernel

[2020-08-20 14:17] patrasar commented on #6090
Raised PR
https://github.com/FRRouting/frr/pull/6959

[2020-08-20 20:38] notsethw commented on #6915
hi @ton31337 ,

I am not able to test with the latest master branch as it's not available on pfsense and I don't have the time to build a machine from scratch and test it against this BGP peer.

I was able to finally get this working with "dont-capability-negotiate" enabled on both sides. Initially the vendor was stating that was not available in their version of IOS, but it turns out that it in f

[2020-08-21 00:11] #6936 closed

[2020-08-21 05:47] slankdev opened #6964 "sharpd: feature request to support seg6local nexthop after srv6 manager will be merged"
This is some additional work for https://github.com/FRRouting/frr/pull/5865.
Modification of sharpd is not bit work, so I divided this from main PR.

## AS-IS

- sharpd supports to install various nexthop route (i.e. label/lsp, etc..)
[code]

## TO-BE (just a plan)

- we can configure seg6local route via sharpd like this
[code]

[2020-08-21 10:05] static33rus opened #6965 "FRR wich acts as L1L2 ISIS Router doesn't send attached bit to L1 Neighbour"
FRR version: 7.4

Scheme:
L1(Cisco VXR 7206) ------ L1L2(FRR) ------- L2(Cisco VXR 7206)
In this scheme I expect FRR will send attached-bit to L1 neighbour by default as cisco, but frr didn't send. Then I found command 'set attached-bit' in 'router isis' section. When I started use this command, Attached bit appeared in cisco isis database, but there was no default route in cisco RIB. Then I decid

[2020-08-21 11:08] static33rus opened #6966 "FRR which acts as L1L2 ISIS Router doesn't append L1 routes to L2 database"
FRR version: 7.4
Scheme:
FRR1(L1) --- FRR2(L1L2) ---- FRR3(L2)
FRR1 advertises network 192.168.4.0/24, this network appeared in FRR2 RIB, but not in FRR3

FRR2 database:
[code]
As you can see on output above, FRR2 received route  192.168.4.0/24 from FRR1 in L1 LSP, but didn't append this route to L2 database and as a result FRR3 didn't receive this route

[2020-08-24 04:47] Trae32566 opened #6973 "Configured IPv6 BFD Peers Broken"
**Description**
Attempts to configure IPv6 BFD peers via both cli and editing files by hand fail.

[ x ] Did you check if this is a duplicate issue?
[ - ] Did you test it on the latest FRRouting/frr master branch? - Tested 7.4 from the `frr-stable` repo for CentOS; not sure if this equates to master or not

**To Reproduce**
Steps to reproduce the behavior:
1. Enable bfdd daemon in `/etc/frr/daemon

[2020-08-24 05:54] Trae32566 commented on #6973
It looks like this is actually caused by setting both an `interface` and `multihop`, which appears to be incorrect.

[2020-08-24 05:54] #6973 closed

[2020-08-24 11:04] kruisdraad commented on #6957
did you check this @startup of FRR? As far as i know, FRR only sets the IP's at startup and if you use e.g. ifupdown2 it will remove it again. We had this same problem and made sure its _also_ added onto the networking config. Maybe worth checking out if this is similair for you.

[2020-08-24 11:35] #6911 closed

[2020-08-24 13:28] yassineaouadi commented on #6957
hi this issue is pretty recent for me on  : CentOS Linux release 8.2.2004 (Core)

Having a CI always installing frr using stable rpm  : https://rpm.frrouting.org/repo/frr-stable-repo-1-0.el8.noarch.rpm
Last succesfull  install and anycast test was on 8/18   and first failure with same issue as described above is on on 8/20

How can i get the latest previous stable rpm ?

DO i need to build from so

[2020-08-24 15:49] idryzhov commented on #6973
Hi @Trae32566, even if setting both arguments is incorrect, the daemon should not crash because of that.
It is an actual bug, PR #6978 should fix this.

[2020-08-24 16:00] yassineaouadi commented on #6957
ok so i am finally able to use 7.3.1 again  rpm and my loopback /anycast issues are fixed .

Still have issue with 7.4 from official stable rpm

[2020-08-24 17:53] #6958 closed

[2020-08-25 01:49] nic1225 opened #6980 "northbound_sysrepo calls sysrepo exception"
hi, @rwestphal:

for the latest version of northbound_sysrepo, I have the following problems

    2020/08/24 12:48:12 errors: BGP: [EC 100663349] sr_module_change_subscribe(): Operation not authorized

    2020/08/25 15:49:26 errors: BGP: [EC 100663303] Can't create pid lock file /var/run/frr/bgpd.pid (Permission denied), exiting
I found the reason is that FRR is not run with root permission. When

[2020-08-25 12:13] zhanggongc opened #6984 "[bgp neighbor status] question about bgp neighbor status mismatch"
bgp neighbor has been established ,but neighbor's status is not same when show bgp summary and show bgp neighbor.
![image](https://user-images.githubusercontent.com/58503468/91172501-deb23200-e70e-11ea-8534-3ae6ba313c37.png)

show bgp summary is following:
![image](https://user-images.githubusercontent.com/58503468/91172567-fee1f100-e70e-11ea-8518-8ba06188fdda.png)
 so what is the meaning with 'No

[2020-08-25 12:22] nic1225 commented on #6980
hi,
Use the following command to solve the problem

    ./configure  --enable-multipath=1    --with-pkg-extra-version=-ctyun   --enable-sysrepo=yes  --enable-user=root --enable-group=root

[2020-08-25 12:30] mjstapp commented on #6980
I think we should talk about this

[2020-08-25 12:41] rzalamena commented on #6980
@nic1225 recompiling doesn't look like a good solution... Have you tried running daemons with `-u root -g root` as temporary solution?

Other than that is sysrepo/sysrepo integration is expecting the wrong permissions? Or is your sysrepo client wanting root credentials? I have very little experience with this, but I don't recall needing this a while ago (I just ran it as test, nothing elaborated).

[2020-08-25 12:46] vijaykug opened #6985 "Non Querier sending IGMP queries"
Issue :- Non Querier port sending query messages after each query interval

Setup :-

 R1, R2, R3 connected to Switch , here R1 is having lower ip , which is the querier for the network .

  (ip 2.1.1.1)  r1 -- s1 -- r2 (ip 2.1.1.2)
                             |
                           r3
                      (ip 2.1.1.3)

Now when i did TCP capture and observed that query message are sent ou

[2020-08-25 13:01] mobash-rasool commented on #6985
I have triaged this issue. Assign it to me.
Root Cause:
=========
In function igmp_recv_query, if_lookup_address function is used which does best match, hence the below code returns and does not execute non-querier code:
        if (if_lookup_exact_address(&from, AF_INET, ifp->vrf_id)) {
                if (PIM_DEBUG_IGMP_PACKETS)
                        zlog_debug("Recv IGMP query on interface: %

[2020-08-25 13:42] rwestphal commented on #6980
In the new sysrepo version you need to set the owner of each YANG module after installing it. Example:
[code]

More information here:
* https://netopeer.liberouter.org/doc/sysrepo/master/index.html#access_control
* https://netopeer.liberouter.org/doc/sysrepo/master/sysrepoctl.html

@nic1225 please try that and let us know if that fixes the problem for you.  Documentation for the sysrepo and other

[2020-08-25 15:26] mobash-rasool commented on #6985
#6979 : This Pull request will fix this issue.

[2020-08-25 18:10] ne-vlezay80 opened #6992 "Assertion failed witch ospf"
**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Enable ospf from interface
2. Enable router ospf
3. Enter command "sh ip ospf interface lo"
4. See error

**Sc

[2020-08-26 02:29] nic1225 commented on #6980
hi, @rwestphal

Start the process after entering `sysrepoctl --install /usr/local/share/yang/frr-isisd.yang` ，the following exception occurred

    2020/08/26 10:06:56 errors: BGP: [EC 100663349] sr_module_change_subscribe(): Operation not authorized

Continue with operation `sysrepoctl -c frr-isisd --owner frr --group frr` ，new problems arise

    2020/08/26 10:07:39 errors: BGP: [EC 100663349] s

[2020-08-26 04:37] ne-vlezay80 commented on #6992
New backtrace:
[code]

[2020-08-26 07:01] ne-vlezay80 commented on #6992
This bus is appears? if build frr with not --enable-dev-build.

[2020-08-26 09:19] nic1225 commented on #6980
hi, @rwestphal

Another related issue.
I added some debugging information to function `frr_sr_config_change_cb `,When the  database changes, the callback function will not be executed

    flog_warn(EC_LIB_LIBSYSREPO, "frr_sr_config_change_cb, module: %s, xpath=%s,sr_ev=%d",module_name, xpath, sr_ev);

After that, I changed the `opts `parameters of function `sr_module_change_subscribe`. thread `sr

[2020-08-26 12:54] netfreak98 commented on #4983
@ton31337 Hi, sorry for not replying, I just didn't followed this issue. Somehow it's not working anymore. Did you remove the feature?

http://docs.frrouting.org/en/latest/bgp.html#clicmd-%5Bno%5DneighborPEERmaximum-prefix-outNUMBER

[2020-08-26 12:58] ton31337 commented on #4983
Are you testing with the master branch?

[2020-08-26 14:35] rwestphal commented on #6980
I can confirm that's not the case, since I was able to use the sysrepo plugin without having to change the FRR user. You just need to use _sysrepoctl_ to change the owner of each installed module as I explained before.

If that didn't work, there's a chance your sysrepo datastores might be corrupted. This is relatively easy to happen if you use gdb and quit while inside a Sysrepo function. This is

[2020-08-26 15:05] fahedhijazi opened #7004 "Cloning BGP messages"
Our team has a unique requirement for listening to BGP messages in real-time. We parse and publish the contents of the BGP messages to an internally managed SDN controller that handles dynamically shifting traffic in real-time. Our setup isn't ideal at the moment. We are dumping BGP updates to an MRT file and publishing the state changes in real-time on arrival. We have a custom file-system which

[2020-08-26 16:09] netfreak98 commented on #4983
@ton31337 no, I'm always waiting for the debian repository release. But thanks for the info, I'll check this as soon as a deb package is available :) Thanks!

[2020-08-26 19:33] #6511 closed

[2020-08-26 19:38] fahedhijazi commented on #7004
I wasn’t aware of BMP. I think that might solve my needs but will require some time to develop a poc.

[2020-08-26 19:42] rzalamena commented on #4133
I think this issue might be resolved with this PR: https://github.com/FRRouting/frr/pull/6606/commits/4aa283cd4e9976e98c9e0f44f240ffa5e5bb8607

The `bgpd` commit in that PR removes a BFD removal event on BGP session establishment which did not seem to make sense.

If this is still a problem, please comment here.

@polychaeta autoclose in 1 week

[2020-08-27 02:46] nic1225 commented on #6980
hi, @rwestphal
thanks for reply,I will try frr user later.
currently, there is a problem that sysrepo database changes but no callback function is called. I used command `sysrepocfg --edit=vi --lock -d running -f xml  -m frr-route-map` to issue configuration to frr-route-map module, and the callback function `frr_sr_config_change_cb `was not called

    <lib xmlns="http://frrouting.org/yang/route-

[2020-08-27 18:05] rwestphal commented on #6980
Hi @nic1225,

I've no idea why bgpd isn't receiving the configuration changes committed to Sysrepo. It might be a corruption issue in your configuration datastores as I explained before. My suggestion for you would be to reinstall Sysrepo following my steps as that is a sure way to make things work.

Regarding log information, you can use the `debug northbound` command if you want to get more deta

[2020-08-28 04:22] #7004 closed

[2020-08-28 19:41] ton31337 commented on #6984
`NoNeg` means that your neighbor is UP, but you didn't activate this neighbor for IPv6 address-family.

[2020-08-28 19:45] ton31337 commented on #6915
@notsethw yeah, seems pretty sure Cisco does not handle that right. Unrecognized capability MUST be ignored and not ceased the session.

[2020-08-28 19:45] ton31337 commented on #6915
@polychaeta autoclose in 1s.

[2020-08-28 19:45] #6915 closed

[2020-08-29 03:21] andrewyager opened #7021 "BGP-LU Routes aren't installed into zebra/kernel table (and segfault bgpd)"
**Describe the bug**
With a standard BGP-LU config for 6PE, attempting to install a V6 route into Zebra results in Zebra crashing and the route ist not installed.

(put "x" in "[ ]" if you already tried following)
[ x ] Did you check if this is a duplicate issue?
[ x ] Did you test it on the latest FRRouting/frr master branch?

In the 7.4 release the routes would simply fail to install with invali

[2020-08-29 03:32] andrewyager commented on #7021
Rolling back to FRR 7.3 removes the crash, but returns to what seems to be broken LU 6PE behaviour that others have reported of:

[code]

In this case 728d:6001 is 114.141.96.1, which we have a label for:

[code]

[code]

but there is nothing in the logs. The same behaviour was observed in 7.4 mainline.

[2020-08-29 09:49] hothotstreet opened #7022 "is it support mpls vpn option b"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
A clear and concise description of what the bug is.

hao to comfigure a mpls vpn option b?

[2020-08-29 10:05] #6984 closed

[2020-08-30 10:30] rzalamena opened #7024 "topotests: bgp_l3vpn_to_bgp_direct fails often on ARM8"
We need to check the test `bgp_l3vpn_to_bgp_direct` which is failing often lately on the ARM8 architecture.

References:
- https://github.com/FRRouting/frr/pull/6934#issuecomment-677507600
- https://github.com/FRRouting/frr/pull/6925#issuecomment-682631580
- https://github.com/FRRouting/frr/pull/7011#issuecomment-682153552
- https://github.com/FRRouting/frr/pull/6999#issuecomment-681246314
- https

[2020-08-30 18:22] ne-vlezay80 commented on #7024
The problem also applies:
https://github.com/FRRouting/frr/pull/6725

[2020-09-01 07:28] nic1225 commented on #6980
hi, @rwestphal

I added an idle thread at the end of initialization (although it should not be), and then when operating the sysrepo database, the callback failed, but pipe sr_evpipe always exists. Therefore, I speculate that after the initialization of module northbound_sysrepo is completed and exited, the subscription will also stop, so that pipe sr_evpipe will disappear.

    static void * work

[2020-09-01 08:30] nic1225 commented on #6980
hi, @rwestphal
In another attempt, I'll create a thread at the end of the initialization and let it loop through the subscription information. Oddly enough, this thread only executes once and is never scheduled again. GDB view also does not have this thread information, I think this thread also disappeared

    static void * worker_thread(void *arg)
    {
    	struct yang_module *module;

    	 wh

[2020-09-01 12:43] #7021 closed

[2020-09-01 13:20] steveyiyo opened #7029 "support second or more rpki cache server?"
Hello,

I've two network, DN42 and Clearnet. When i set RPKI validator, I just can set once.
If i tried to set second validator, it will prompt "Cache with preference 2 is already configured```
I think preference just representative the priority. So, I think if frrouting support more rpki cache server is a wise choose.
I use frrouting 7.3.1.

[2020-09-01 13:27] gromit1811 opened #7030 "ospf6d: Sometimes DR doesn't originate Network LSA after reboot"
**Describe the bug**

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?
I've not tested later versions yet but the guilty code identified below looks exactly the same in Git master.

When ospf6d becomes DR on an Ethernet link, I've seen cases where it fails to originate a Network LSA for that link. Typically, this seems to happen after a

[2020-09-01 15:18] donaldsharp commented on #7022
rfc 4374

[2020-09-01 15:21] donaldsharp commented on #7029
@mroethke is this possible?

[2020-09-01 15:30] louberger commented on #7022
Does option b = https://tools.ietf.org/html/rfc4364#section-10 (b)? I suspect that this will come down to a new configurable behavior as well as label setup procedure -- that is *not* currently supported.

[2020-09-01 22:10] andrewyager opened #7035 "BGPv6 LU can't install routes into Zebra/Kernel and then crashes"
**Describe the bug**
In a correctly configure BGP LU session over v4:

- The 6in4 MPLS routes are not installed into the kernel
- Zebra attempts to install v6 routes using a v4 nexthop
- Zebra thinks it has installed the routes
- The routes are not installed
- BGPd freezes and becomes unresponsive, and eventually crashes

As I see it there are two, posisbly three, distinct issues now:

- Zebra thi

[2020-09-02 01:49] hothotstreet commented on #7022
thank you for you replay,I did an experiment,the ASBR could not send the packet to the other ASBR.on cisco devices,it have a commd "no default route-targe filter",i think this is the probles.

on the other hand,i did an experiment(mpls vpn option a ),sometimes the PE receive the packet but did not send to the CE,it have the vrf router table ,i did not know hao to debug this proble ,everything look

[2020-09-02 13:45] mroethke commented on #7029
Setting multiple cache is possible, but they must have different preferences.
While it is possible to have multiple validators with the same preference in a single rtrlib instance, it is unfortunately problematic due to API limitations. I see no way to implement this in a backward compatible manner with the current rtrlib API.

[2020-09-02 15:04] pguibert6WIND opened #7038 "inet_ntop() behaviour does not display ipv4 mapped ipv6 addresses"
The problem is related to the usage if inet_ntop().
actually, the implementation is in frr, and is different from what is observed with glibc.

implementaiton of inet_ntop is here:
https://github.com/FRRouting/frr/pull/4480/commits

to reproduce it:
[code]

in recent frr versions, the ipv6 mapped ipv4 address is displayed as below:
[code]

instead of in old versions ( frr/stable/7.0)
[code]

[2020-09-02 17:58] sworleys commented on #7035
the "r" here means the route was rejected by the kernel, hence zebra knows it was rejected.

[2020-09-02 18:00] sworleys commented on #7035
Re guarding the Ipv6 over Ipv4 stuff... we have had a number of issues opened about this in the past... I'm not sure, is this even fully supported in the kernel?

https://github.com/FRRouting/frr/issues?q=is%3Aissue+is%3Aopen+6PE

[2020-09-02 18:01] sworleys commented on #7035
Either way, if BGP is freezing/crashing that needs to be fixed regardless so please give us the info for that if possible.

[2020-09-02 18:02] sworleys commented on #7035
@KaushikNiral could you chime in here? I believe you have experience with this setup and have written some code here.

[2020-09-02 18:27] kruisdraad opened #7041 "wr mem saves incomplete route-maps causing major issues at restart"
When the router is busy with checking routes on route-maps, e.g. at startup when many new peering established that carries full tables or when enabling RPKI on a alraedy running router, which is fine ... however when issueing a 'wr mem' the file saved to /etc/frr/frr.conf is missing a LOT of statements regarding filters. The running configuration is not affected and waiting until the router is don

[2020-09-02 18:59] dl001 opened #7042 "route-map from Qugga kill ospfd"
[x] Did you check if this is a duplicate issue?

FreeBSD 12.0-STABLE  amd64
frr-7.4
4 daemons:
dl@vpn-2:/# vtysh -c 'sh daemons'
zebra ospfd bgpd staticd

We take trivial configuration that previously worked on Quagga with route-map (from RPSL BGP generator). Apply to FRR. OSPFD configuration becomes incorrect.

How to repeat.

1. We take an empty configuration.
[code]
2. Take trivial configuratio

[2020-09-02 19:42] #4133 closed

[2020-09-02 20:45] webczat opened #7044 "eigrp: expected feasible successors not appearing"
I am currently using frr version 7.3.1 on linux (container with fedora 30).
I have created a test network. I have three routers (r1, r2 and r3) forming a triangle (r1 has separate direct links to r2 and r3, r2 has links to r3 and r1, r3 has links to r1 and r2). Each router has a stub network (represented as a dummy interface):
* r1: 172.16.0.0/16
* r2: 172.17.0.0/16
* r3: 172.18.0.0/16

All router

[2020-09-02 20:52] KaushikNiral commented on #7035
@sworleys  sure will look into it.

[2020-09-03 01:12] maznu commented on #6735
Seeing these problems on VyOS 1.3 (with FRR 7.3) since February. Initially thought that an EdgeOS device had injected some really funky LSAs into OSPFv3, as the crashed happened around the time those routers were connected. But those devices are gone now, and still ospf6d crashes out.

[2020-09-03 06:16] VictorCaiShen opened #7048 "OSPF Can't Re-establish neighbors"
FRR version： 7.3 stable

My operations:
1. Configure two FRR, basic OSPF  neighbor establish successfully.
2. Use  ip ospf hello_interval xxx, change one FRR's ospf hello_interval. E.Change to maximum 65535. Now, after dead_interval, neighbor  relationship break.
3.Use no ip ospf hello_interval xxx. Cancel this operation.Theoretically, the neighbor relationship should be re-established, but it has

[2020-09-03 07:02] nic1225 commented on #6980
hi, @rwestphal
Using strace，I discovery, when configuring sysrepo, it needs to check whether the thread creating the subscription is still there. If not, the pipe sr_evpipe  will be deleted. However, we do not generate threads in northbound_sysrepo, and all subsequent callbacks will fail.

    1565  01:51:29.188460 kill(1171, 0)     = 0
    1565  01:51:29.188487 kill(1548, 0)     = -1 ESRCH (No su

[2020-09-03 07:57] KaushikNiral commented on #7035
Hi @andrewyager,
This  IPv6 over IPv4 nexthop will not work in the current Kernel now.
So the routes are showing as rejected in zebra  " show ipv6 route"

But if you use an external dataplane the FPM will send the 6PE route to the external dataplane.

As you mentioned you are seeing some crash, so zebra or bgp crashed ? please share some info on it.

Thanks,

[2020-09-03 09:11] hothotstreet opened #7049 "bgp state is active when the routers is in different subnet"
I found a problem,there is two frr router,i configure then to built bgp neighbors,if the two router's interface is in the same subnet,it will success,if the rotue's interface in different subnet,the bgp state is active,i capture the package and found the router will not send tcp packet,waht's the problem?

[2020-09-03 09:53] ton31337 commented on #7049
Please paste a configuration to replicate. And pcap (capture) as well.

[2020-09-03 09:55] ton31337 commented on #6928
@bmerry we really appreciate a contribution to our documentation. Would you like to add that?

[2020-09-03 10:08] maznu commented on #6735
Literally happening in front of my eyes :-( :-( :-(

[code]

[code]

[2020-09-03 12:55] Dainii opened #7050 "BFP: Call script on event"
OS: Debian 10
FRR: version：7.3.1-1

Hi,
I have a question about BFD's events. I can easily create a peer to monitor its status. Now I try to found out if it's possible that the down/up event trigger a script with some variables (like the peer ip, interface,.. ). I know the Cumulus integration is a bit different, but the goal is to have something similar to them (https://docs.cumulusnetworks.com/cu

[2020-09-03 15:02] pguibert6WIND commented on #7022
"mpls bgp forwarding" should be what you look for.
at least this is how it is configure on cisco.

[2020-09-04 01:57] hothotstreet commented on #7022
so what is it on frr

[2020-09-04 02:32] nic1225 commented on #6980
hi, @rwestphal
According to the previous reply, the problem can be solved

thanks
Nick

[2020-09-04 02:32] #6980 closed

[2020-09-04 03:17] hothotstreet commented on #7049
**the topology is like this:**
(192.168.200.1)centos7-1(frr)(192.168.1.136)----(192.168.1.1)[SW](192.169.1.1)------(192.169.1.200)centos7-2(frr)(192.168.200.2)
 |                                                                                                                                                                                               |
 |

[2020-09-04 03:23] kssoman opened #7056 "LDP: pseudowire status is DOWN"
When pseudowire is configured between 2 routers, status is DOWN in one of the routers

**Describe the bug**
Pseudowire is configured between the routers running latest FRR code.

The status showing as DOWN (as displayed in the command **show l2vpn atom vc**)  in one of the routers while it is UP in the peer router

The  logs show :  l2vpn_pw_ok: pseudowire pw0: no remote label
on the router where

[2020-09-04 14:41] cmattiuzzi opened #7057 "Using of sub interfaces for vxlan/evpn communication"
![Capture](https://user-images.githubusercontent.com/70760763/92245330-832d3480-eec4-11ea-8288-8f6652475eef.PNG)
[bash.txt](https://github.com/FRRouting/frr/files/5175094/bash.txt)
[frr1.txt](https://github.com/FRRouting/frr/files/5175481/frr1.txt)
[frr2.txt](https://github.com/FRRouting/frr/files/5175482/frr2.txt)

I am trying to use vxlan with bgp / evpn: No problem with using vlan.
However, as

[2020-09-04 19:40] rwestphal commented on #6841
Fixed by #6971. Thanks for the bug report @taspelund!

Closing...

[2020-09-04 19:40] #6841 closed

[2020-09-04 19:40] rwestphal commented on #6842
Fixed by #6971. Thanks for the bug report @taspelund!

Closing...

[2020-09-04 19:40] #6842 closed

[2020-09-05 08:34] kssoman commented on #7056
The function zebra_pw_check_reachability() is not able to find the label for the pseudowire nexthop  but the command "show mpls ldp bindings" shows exp-null  as the label for the nexthop

[2020-09-06 15:49] ton31337 commented on #7049
I'm not sure what is 192.168.200.1 and 192.168.200.2 exactly. It's not quite clear from the picture. Could you paste your full configuration and `show ip route`, `show bgp` outputs?

[2020-09-07 07:12] zhanggongc opened #7059 "[grpc question]one project need start grpc client? is that possible to start grpc client in FRR ?"
![image](https://user-images.githubusercontent.com/58503468/92358365-f5e41d00-f11b-11ea-9a19-317883a1b8ba.png)
as described above,
we want to start grpc client in FRR to transmit LSA data to grpc server in another docker.
is that possible or feasible for current FRR code version ? we expect...
need help appreciately.

[2020-09-07 08:15] hothotstreet commented on #7049
i mean i use two centos host to install frrouting,the two hosts all have two interfaces,one interface is in the same subnet(192.168.200.0/24),one interface is in defferent subnet(192.168.1.0/24,192.169.1.0/24),Whether it is the same network segment interface or different network segment interface, their routing is reachable,I succeeded in building a BGP neighbor using the same segment interface, b

[2020-09-07 08:19] ton31337 commented on #7049
Did you specify `update-source`?

[2020-09-07 08:20] hothotstreet commented on #7049
maybe not ,i forgot,I'll try it right away

[2020-09-07 08:22] ton31337 commented on #7049
And please show `show ip route` from both nodes.

[2020-09-07 08:30] hothotstreet commented on #7049
i specify update-source but it's still not work .
host1:
**BGP config**
router bgp 100
 neighbor 192.168.1.136 remote-as 100
 neighbor 192.168.1.136 update-source 192.169.1.200

**route**
localhost.localdomain# show ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D

[2020-09-07 08:33] ton31337 commented on #7049
Well, you have 192.168.1.0/24 on both nodes. It won't work in this case. You have to use /32 loopback addresses instead and static routes to them or OSPF/RIP/anything else to announce them before using in BGP.

[2020-09-07 08:40] hothotstreet commented on #7049
I don't quite follow you,first,i do not have 192.168.1.0/24 on both nodes,one is 192.168.1.0/24,one is 192.169.1.0/24,and " You have to use /32 loopback addresses instead ",instead what?

[2020-09-07 08:45] ton31337 commented on #7049
192.168.1.0/24 and 192.168.0.0/23 which points to directly connected on both sides.

[2020-09-07 08:48] hothotstreet commented on #7049
it is 192.16**9**.1.0/24  not 192.168.1.0/24

[2020-09-07 08:50] ton31337 commented on #7049
Ok, then in case you don't have those routes in RIB, you have to enable `ip nht resolve-via-default`.

[2020-09-07 08:57] hothotstreet commented on #7049
amazing,when i enable "ip nht resolve-via-default" the bgp state is Established,why?

[2020-09-07 08:59] ton31337 commented on #7049
Because as I said previously, you don't have those routes in RIB and your _router_ does not know how to resolve nexthop.

[2020-09-07 09:03] hothotstreet commented on #7049
I have the default route，look
K>* 0.0.0.0/0 [0/100] via 192.168.1.1, ens160, 01w5d04h

K>* 0.0.0.0/0 [0/0] via 192.169.1.1, ens192, 3d06h22m

[2020-09-07 09:29] ton31337 commented on #7049
Nexthop tracking in done on routes in RIB if that option is not enabled.

[2020-09-07 10:32] hothotstreet commented on #7049
thank you very much.

[2020-09-07 10:32] #7049 closed

[2020-09-07 15:14] lucize opened #7060 "libyang 1.0.184"
stable and master don't work with libyang 1.0.184
target is a mips cpu

it's throwing something like this:

[code]

is there something I can do ?
or maybe is something else ?

[2020-09-07 15:31] lucize commented on #7060
it seems that 7.3.1 with some backports from 7.4 related to routemap and northbound works as it should on libyang 1.0.167 and 1.0.184 but master and current 7.4 is not

[2020-09-07 16:13] KaushikNiral commented on #7048
Yes, you are correct this issue is observed.
The "Hello due" of the interface is not resetting when you do "no ip ospf hello-interval 65535".

[2020-09-07 16:15] KaushikNiral commented on #7048
@donaldsharp please assign to me.

[2020-09-08 08:11] VictorCaiShen commented on #7048
@KaushikNiral
Besides. For Hello due.
There was a new problem. I noticed hello due default value is 10s and dead due is 40s.
AND I changed hello due to 60s, the dead due not chanaged. It would make a big problem. Before send hello packet, dead status is refresh,  the neighbor relationship will break or not stable.
I find in Cisco or HUAWEI,  The death interval is four times the hello interval.This

[2020-09-08 11:14] hothotstreet opened #7061 "MPLS VPN cannot slice large packets"
**Describe the bug**

**i use to frr hosts to make mpls vpn test,and it is success,at the client,i can ping the other client success,**
[code]
**but if i set the biger packet,it will not success,why?**
[code]

**The MPLS package cannot be caught on the LDP interface of the gateway**
[code]

[2020-09-08 11:16] KaushikNiral opened #7062 "Issues in communication between FRR and sysrepo."
1) When we run isisd in background, it does not receive the new running config exported from sysrepo.

**sysrepo version : 1.4.70**

However, when we run isisd in foreground, it receives the config running config from sysrepo.
We used the following commands to import  to running config:

**sysrepocfg --format=json --import=frr-isis.json --datastore=running -m frr-isisd**

2) Secondly, when we are

[2020-09-08 15:13] qlyoung commented on #7060
@lucize I'm seeing mojibake in your output, is that what you're seeing or is that a paste error?

[2020-09-08 15:14] qlyoung commented on #7059
No, this is not possible. FRR provides a gRPC server that can be used to interface with the northbound API, but no client implementation. In theory you could write a loadable module for OSPF to do this.

[2020-09-08 15:16] #7059 closed

[2020-09-08 15:18] pguibert6WIND commented on #7022
it is not on frr . it has to be implemented.

[2020-09-08 15:18] qlyoung commented on #7050
This is part of the larger object tracking feature set - the ability to trigger events / run scripts based on arbitrary events, not just in BFD but in any daemons. We want to do this with Lua integrations someday but nobody is working on it right now.

[2020-09-08 15:23] zhanggongc commented on #7059
@qlyoung   OK, thanks for your point ..we need to consider other ways.

[2020-09-08 15:32] qlyoung commented on #7038
I remember a conversation about this when that code was up for review, we decided nobody was using the mapped format. If that's not true then we need to update the libfrr version (not switch back to libc, its sooo slow).

[2020-09-08 15:34] lucize commented on #7060
There are more special characters, but I didn't paste all, I could  attach a text file

[2020-09-08 16:42] pjdruddy commented on #7057
Looks like you need the tagging enabled on the alpines
[code]

[2020-09-08 19:47] lucize commented on #7060
don't remember if already had this fix mentioned before

[code]

[2020-09-08 21:37] rwestphal commented on #7060
@lucize please clarify the status on this issue. Did the patch above fix the problem for you?

[2020-09-08 21:47] lucize commented on #7060
@rwestphal yes, now it's working ok on Ubiquiti Edgerouter X  MediaTek MT7621

[code]

[2020-09-08 23:20] rwestphal commented on #7060
@lucize thanks for your confirmation. In that case this is a duplicate of #6331. Unfortunately we still don't have a more generic workaround that works across all GCC versions that have that flexible array bug.

Closing...

[2020-09-08 23:20] #7060 closed

[2020-09-09 01:28] #7022 closed

[2020-09-09 01:59] hothotstreet commented on #7061
i have found if i set the interface more bigger(ifconfig ens192 mtu 10000),it will work will.does the mpls interface will not slice large packets default？

[2020-09-09 06:25] zhanggongc opened #7068 "【grpc】compiling reports error when open enable-grpc switch in FRR"
enable-grpc in configure before compiling:
![image](https://user-images.githubusercontent.com/58503468/92561887-9dda2180-f2a7-11ea-9d66-582661717102.png)
but when make compile ,it reports following error:
![image](https://user-images.githubusercontent.com/58503468/92562122-09bc8a00-f2a8-11ea-8d0f-cc186f0cbad2.png)

so I don't know how to resolve this error, need help ...
anyone know ? appreciately

[2020-09-09 06:26] zhanggongc commented on #7068
sudo make
[sudo] password for cailei:
Makefile:10461: warning: overriding recipe for target 'grpc/grpc_libfrrgrpc_pb_la-frr-northbound.grpc.pb.lo.bc'
Makefile:10213: warning: ignoring old recipe for target 'grpc/grpc_libfrrgrpc_pb_la-frr-northbound.grpc.pb.lo.bc'
git suffix: -gc501155c3-dirty
git branches: local:master
Files lib/gitversion.h.tmp and lib/gitversion.h are identical
make  all-am
make

[2020-09-09 08:28] zhanggongc commented on #7068
![image](https://user-images.githubusercontent.com/58503468/92574299-7e4bf480-f2b9-11ea-9fbc-64a72200251a.png)

[2020-09-09 10:38] m-varasteh commented on #6881
I got the time to check this issue more. And it turned out to be a problem with paths that VRFs are configured. One path is via ZAPI( in staticd) or netlink( in zebra) and the other path is through NB and Yang. So in this test, we create the VRF through netlink, then enter configuration node( and create it through NB). Then we remove it via netlink. But notice that the XPATH still exists. Next we

[2020-09-09 11:21] zhanggongc commented on #7068
following error report is latest print info:
  PROTOC grpc/frr-northbound.pb.cc
  CXX      grpc/grpc_libfrrgrpc_pb_la-frr-northbound.pb.lo
  PROTOC grpc/frr-northbound.grpc.pb.cc
  CXX      grpc/grpc_libfrrgrpc_pb_la-frr-northbound.grpc.pb.lo
In file included from grpc/frr-northbound.grpc.pb.cc:6:0:
./grpc/frr-northbound.grpc.pb.h:730:176: error: 鈥?[01mgrpc::experimental::ServerCallbackRpcControll

[2020-09-09 14:06] pguibert6WIND commented on #7061
not sure frr can help. some recent options in frr introduce mtu concept, but not sure it is applied in your config.
you have to ensure your dataplane is well configured.

[2020-09-09 14:09] hothotstreet commented on #7061
dataplane is well configured，i am sure.Please pay attention to the development in this area

[2020-09-09 18:27] rwestphal commented on #7061
That's probably because of the overhead of the MPLS labels used by the L3VPN solution. Increasing the MTU of your core-facing interfaces to 1508 should be enough to solve that problem.

@polychaeta autoclose in 3 days

[2020-09-09 18:31] rwestphal commented on #7068
@zhanggongc googling the error messages you got I found this:
* https://github.com/google/sentencepiece/issues/190#issuecomment-416818597
* https://github.com/BVLC/caffe/issues/6527#issuecomment-429661350

It looks like there's a mismatch between your `protoc` compiler version and protobuf headers. Please look at the links I referenced above for tips on how to solve that problem.

@polychaeta auto

[2020-09-09 18:37] ethanspitz commented on #6957
Add a `redistribute connected` to your bgp config. A new security thing was added in 7.4 so that routes that are directly connected are not implicitly distributed. Loopback counts for this.

[code]

[2020-09-09 19:53] kruisdraad commented on #6957
@ethanspitz how does this relates to BGP at all? its configuring an IP on an interface ...

[2020-09-10 00:50] zhanggongc commented on #7068
@rwestphal
sir, mismatch between protoc compiler version and protobuf headers   have been resolved  .
now the latest compiling error is :

PROTOC grpc/frr-northbound.pb.cc
CXX grpc/grpc_libfrrgrpc_pb_la-frr-northbound.pb.lo
PROTOC grpc/frr-northbound.grpc.pb.cc
CXX grpc/grpc_libfrrgrpc_pb_la-frr-northbound.grpc.pb.lo
In file included from grpc/frr-northbound.grpc.pb.cc:6:0:
./grpc/frr-northbound.g

[2020-09-10 00:50] polychaeta commented on #7068
This issue will no longer be automatically closed.

[2020-09-10 04:16] ethanspitz commented on #6957
Well the ticket was pretty lackluster in the details filed, but the very last thing it says is

Which I was trying to address

[2020-09-10 07:39] jachen-ship-it opened #7072 "PIM Join appears to use existing but incorrect interface to formulate join"
**Describe the bug**
FRR PIM Join does not use the correct interface despite being explicitly configured to do so. It appears to sends both joins down the same interface.

[code]

**Expected behavior**
Would send the PIM Join for 239.1.127.130 from the explicitly specified interface IP ie. 10.2.2.2 not 10.1.1.2
ie. in the capture there would be 2 seperate PIM join packets.

1. 10.1.1.2 -> 239.1.1.

[2020-09-10 07:58] hothotstreet commented on #7061
Will the big bag be sliced ​​automatically?

[2020-09-10 08:24] hothotstreet opened #7073 "the mp-bgp will not update the routes to the vrf"
The mpls vpn  topology is as follows：
CE-----PE-----PE------CE

question：
**Under normal circumstances, I can see the vrf route on the PE，like this,the route of 10.0.1.0/24 is learn for the other PE **
[code]
**the ipv4 vpn routes:**
[code]

**Now I manually close the PE interconnection interface, and then open it again. After a period of time, the ldp neighbors and BGP neighbors are all up, but I

[2020-09-10 09:20] Dainii commented on #7050
Thanks for the answer. I probably don't have the required skills to help developing this feature.
Is there a way to "watch" these events ? Can I connect to zebra somehow to be able to read the bfd events ?
Right now, when a peer goes down/up, a log is generated so the workaround solution I use now is to watch the log file, it works but it's not ideal.

[2020-09-10 11:36] zhanggongc commented on #7068
@rwestphal @polychaeta
sir , have a look at my latest compile result , i still cann't find the reason for error report.

[2020-09-10 11:42] donaldsharp commented on #7068
it's the exact same error.  Have you really fixed the problem?

[2020-09-10 11:48] zhanggongc commented on #7068
I have installed grpc third party repeatlly. this is mismatch or mach  ?

![image](https://user-images.githubusercontent.com/58503468/92725305-89c51b80-f39e-11ea-871f-62c52d5b56fd.png)

[2020-09-10 12:36] zoltan commented on #6165
Was this done?

[2020-09-10 12:38] mjstapp commented on #6165
yes - see the developer docs online:
http://docs.frrouting.org/projects/dev-guide/en/latest/

-- Mark

On Thu, Sep 10, 2020 at 8:37 AM Zoltán Arnold Nagy <notifications@github.com>
wrote:

[2020-09-10 15:00] brotherdust commented on #2236
@maduri111 hey just wanted to check in and see how things are going with your work on this feature request! Excited to hear back from you! Thanks!

[2020-09-10 15:04] maduri111 commented on #2236
@brotherdust Hi, completed the CLI part and working on functionality implementation. will submit the probably by next weekend. Thanks.

[2020-09-10 15:49] rzalamena commented on #2661
Linked the PR with this issue (the issue needs to be open in order to link it). Once the PR is merged this issue will be closed again for tracking.

[2020-09-10 17:26] bmerry commented on #6928
Sorry, I've barely used FRR at all, so I don't feel confident in correcting the documentation for it.

[2020-09-11 08:19] VictorCaiShen opened #7081 "OSPF multi instance have some problem"
FRR version 7.3 stable

Description:
Just config one OSPF instance in area0, BUT there is two instance.

/etc/frr/daemon
[code]

R1:
[code]

R2:
[code]
SHOW IP OSPF NEIGHBOR                      !!!!!!!!!!!!!(two instance)
[code]

WIRESHARK (Two hello packet at same time)
![image](https://user-images.githubusercontent.com/35729741/92891224-5c35ac00-f44a-11ea-90fe-b371354ccfc3.png)

[2020-09-11 14:50] lucize commented on #7081
from my experience the first session defined in ospfd_instances will send duplicate and will not work, so you can define some instance that you will not use as the first one like ospfd_instances=999,1,2,3 this is working for me

[2020-09-11 15:32] brotherdust commented on #2236
@maduri111 ok! Thanks for the update!

I'd like to get a head-start on documentation (if you're still interested!) so it's ready on day 1. If possible, can you give me read-only access or a link to the repo you'll be working in for this feature?

Thanks much!

[2020-09-11 16:29] batot1 opened #7088 "/usr/lib/frr/frr: line 133: break: only makes sense in the loop `for', `while' or `until'"
- When reporting a crash, provide a backtrace

[code]
Is it normal that FRR all time reboots itself when not connected to any BGP session?
[code]
---------------
[ ] Did you check if this is a duplicate issue?
   - No
[ ] Did you test it on the latest FRRouting/frr master branch?
    -No

**Versions**
 - OS Kernel: CentOS Linux release 8.2.2004 (Core)
  - [root@gateway ~]# uname -a
    Linux gatew

[2020-09-11 19:03] batot1 commented on #7088
Past change zebra=yes probably all is ok.

[2020-09-11 20:04] rwestphal commented on #7068
@zhanggongc It looks like you're still having the same problem. Here's what I have on my development VM:
[code]

Apparently you installed the latest gRPC version from the sources but you obtained protobuf (headers and libs) from a distro package (your protobuf headers are under _/usr/include/_ and not under _/usr/local/include/_).

Please try `apt-get remove libprotobuf-dev` and check if you didn'

[2020-09-11 20:04] #7068 closed

[2020-09-11 20:09] rwestphal commented on #7061
@hothotstreet I didn't understand your question. Could you please elaborate?

[2020-09-11 20:09] polychaeta commented on #7061
This issue will no longer be automatically closed.

[2020-09-11 21:52] d-mihaylenko opened #7094 "zebra[5040]: Received signal 11 at 1599860139 (si_addr 0x8, PC 0x7fba64fd62cb); aborting..."
Hello. When i try to change prefix-list in bgp route-map, an accident happens with demons
<img width="785" alt="Screenshot 2020-09-12 at 00 15 44" src="https://user-images.githubusercontent.com/17220673/92975970-21effd00-f492-11ea-84a4-ba722d4570da.png">

After that in frr.log
<img width="919" alt="Screenshot 2020-09-12 at 00 29 15" src="https://user-images.githubusercontent.com/17220673/92976005-

[2020-09-12 00:31] donaldsharp commented on #7094
Can I get before config?  My simple example does not make this happen.

[2020-09-12 00:44] donaldsharp commented on #7081
I'm not seeing this same behavior.

[code]

[2020-09-12 06:19] zhanggongc commented on #7068
thanks a lot ....I get it.

[2020-09-12 09:05] d-mihaylenko commented on #7094
Hello, your attention the whole configuration

[files.zip](https://github.com/FRRouting/frr/files/5212452/files.zip)

[2020-09-12 09:46] ton31337 commented on #7094
@d-mihaylenko this is fixed in stable/7.3 branch https://github.com/FRRouting/frr/pull/6551, but if you use .deb package, then you have to upgrade to 7.4.

[2020-09-12 10:31] d-mihaylenko commented on #7094
Ok, what repo i must use for upgrade to 7.4 .deb package.?
Now it is
deb https://deb.frrouting.org/frr buster frr-stable

[2020-09-12 10:35] ton31337 commented on #7094
We don't have 7.4 .deb yet. In progress, sorry.

[2020-09-12 12:34] d-mihaylenko commented on #7094
Please tell me when the deb package will be available?

[2020-09-12 15:10] ton31337 commented on #7094
We are working on this and improving the system to ship packages as fast as possible in the future.

[2020-09-13 01:35] Jafaral commented on #7072
@jachen-ship-it , we have made a fix just recently that might be related #6979.    Can you test  the latest sources ?

[2020-09-13 01:37] Jafaral commented on #6985
fixed in #6979. I'm closing  this issue. If you still have a problem please let us know.

[2020-09-13 01:37] #6985 closed

[2020-09-13 14:25] d-mihaylenko commented on #7094
This true? https://deb.frrouting.org/
maybe i should use repo - frr-7 instead of repo - frr-stable, to install 7.4 package?
if not, please explain which repository to use to wait for the 7.4 update?

[2020-09-13 15:10] ton31337 commented on #7094
Yes, the repository is this you mentioned, but there is no 7.4 package yet. I'm closing this, duplicate with https://github.com/FRRouting/frr/issues/6876.

[2020-09-13 15:10] #7094 closed

[2020-09-14 03:52] hothotstreet commented on #7061
If the packet byte is larger than the interface mtu, won’t the packet be fragmented? Why increase the interface mtu?

[2020-09-14 06:24] VictorCaiShen commented on #7081
I changed a lot of test environments, and this problem keeps appearing.

[2020-09-14 06:29] VictorCaiShen commented on #7081
Thanks for your solution, But it did't work.

[2020-09-14 06:42] VictorCaiShen commented on #7081
OK. I found sometimes, show ip ospf neighbor, it's just one instance full. BUT capture ospf packets(wireshark), you can find two hello packet at same time. There still two instance. Maybe you can try to capture ospf packets.

[2020-09-14 14:44] py0ker opened #7098 "how to config common ecmp?"
I'd like to do bgp ecmp, but the documents about "weighted ecmp using BGP link bandwidth" cannot help me. I just need the common ecmp, which transfer packets by hashing without considering weighted.
And I use frr image from docker hub.

[2020-09-14 21:15] ne-vlezay80 commented on #7098
If BGP, set same local preferance with input routers. ECMP setup is automaticy.

[2020-09-15 00:34] jachen-ship-it commented on #7072
thanks for the suggestion, will try testing from the latest source this coming weekend

[2020-09-15 01:26] glaubermattar commented on #7048
Same problem here, sometime the ospf neighs still stopped on Init, only solution is clear ospf interface, when done that, all back to normal.

[2020-09-15 12:16] londdon110c opened #7100 "filter route without splitting the area, or within virtual-link"
I create a test enviroment with 3 devices running frr, like R1<==>R2<==>R3.
How could I filter the inteface or loop ip of R3 on R1? Is it impossible when R1, R2, R3 all in the same area 0？
I tried to change R2-R1 connection to area 1, and used _area 1 virtual-link x.x.x.x_ to connect，but filter policies like _area x filter-list prefix xxxx in/out_ still don't work.

Is there any method to make sur

[2020-09-15 15:18] qlyoung commented on #7057
@polychaeta autoclose 3 days

[2020-09-15 15:18] qlyoung commented on #7057
@polychaeta autoclose in 3 days

[2020-09-15 15:20] qlyoung commented on #7050
Mm, you might be able to get them via FPM? @rzalamena are BFD events exposed through FPM by chance?

[2020-09-15 15:21] qlyoung commented on #7029
Sounds like a wontfix to me?

[2020-09-15 15:22] dslicenc commented on #7100
I'm confused about what you're trying to accomplish.  If you don't want to propagate the loopback address from R3 via OSPF, leave the network statement off for the loopback.  Is the problem that you want the address to be learned on R2 but not R1?  One of the normal operations of OSPF is that all routers in the area have the same information about the area so they can run spf on it with a consiste

[2020-09-15 15:41] pguibert6WIND commented on #7073
I have already saw that, but not sure it is same as yours.
on my case, the outgoing ospf route had no MPLS label assigned, so vrf importation could not happen.

in your case, vpnv4 route is selected, which I presume means that mpls entries are correct.
Do you mind if you could dump mpls table + add some troubleshooting with this, pls?

ubuntu1604es# show mpls table
ubuntu1604es# debu bgp vpn  labe

[2020-09-15 15:50] jasonmvp opened #7102 "FreeBSD: FRR Not Updating w/OS-level IP Changes in Interfaces"
**Describe the bug**
If an IP address is added, deleted, or changed on an interface from the OS, FRR retains the initial "snapshop" of that interface and its IP address(es).  It doesn't update the changes that are performed in the OS.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**

[2020-09-15 16:02] rzalamena commented on #7050
There is no standard/recommended way for this yet, but I'll list some options:

1. (Best way/future proof) Use YANG notifications. It is not implemented yet, but long term this won't be going away

2. Watch the log files (works fine too)

3. (Might go away with YANG) FRR's BFD [old control socket](https://github.com/FRRouting/frr/blob/master/bfdd/control.c), you can find very old code for using it

[2020-09-15 18:08] qlyoung commented on #6957
I've called this out more explicitly in the release notes. Sorry about the confusion.

[2020-09-15 18:08] #6957 closed

[2020-09-15 18:36] ethanspitz commented on #6957
Awesome! Yeah I spent a solid 4 hours trying to figure that out after we upgraded! 😂

[2020-09-15 19:42] zoltan opened #7104 "zebra doesn't install evpn type-2 routes as neighbours into the kernel under ubuntu 18.04"
Tested on the same machine on both both ubuntu 18.04 and then upgraded to 20.04. config is **identical**. first captured on ubuntu 18.04 then did do-release-upgrade to 20.04, reinstalled frr, rebooted the machine.

under ubuntu 20.04 ip neigh show has:
`100.127.1.2 dev br10 lladdr 00:50:56:ac:9d:05 extern_learn  NOARP proto zebra`
but this is missing under ubuntu 18.04

zebra debug messages are id

[2020-09-16 02:10] VictorCaiShen commented on #7081
Did u use frr 7.3stable?  I find the latest vesrion(branch-master) is ok. But 7.3 and 7.4 stable this issue keep appearing.

[2020-09-16 03:46] hothotstreet commented on #7073
of course,it's my pleasure.here is the troubleshooting

**localhost.localdomain(config)# do show ip route vrf  vrf_20006_8**
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,

VRF vrf_20006_8:
K>* 0.0.0.0/0 [0/8192] unreachable (ICMP

[2020-09-16 07:56] hothotstreet opened #7111 "Announce the ospf interface but cannot learn its own route"
I added an openvpn tunnel sub-interface to vrf, and declared the sub-interface network segment under the ospf of the vrf, but sometimes when I check the ospf route of vrf, the interface route disappears. I have to delete the configuration and re-announce it, After learning the route of this interface. the strange thing is that the neighbor status is normal, and hello packets can be seen even when

[2020-09-16 14:23] jasonmvp commented on #7102
Note: this doesn't appear to apply to loopback interfaces.  For instance: I can create interface lo1 and put an IP address on it.  As soon as I do that, FRR sees it.  If I add an alias to that same loopback interface, FRR picks up the addition.

The actual setup I have on my FreeBSD server is with a lagged .1Q interface, so there may be some combination of issues with that.  Specifically, I'm usin

[2020-09-16 14:39] jasonmvp commented on #7102
Further note:  It may just be IP deletes on physical or .1Q interfaces.  I added IP alias: 10.200.0.1/32 to my lagg0.50 interface and FRR picked it up.

`arkham#	ifconfig lagg0.50 alias 10.200.0.1/32
arkham#	ifconfig lagg0.50
lagg0.50: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0 mtu 1500
	options=600703<RXCSUM,TXCSUM,TSO4,TSO6,LRO,RXCSUM_IPV6,TXCSUM_IPV6>
	ether a0:36:9f:0d:ea:c0

[2020-09-16 16:57] dslicenc commented on #7100
Sorry, but I still don't understand what you're trying to do.  Why do you need to use a virtual link for this?  Why are both R1 and R2 acting as ABRs?

[2020-09-16 19:09] pguibert6WIND commented on #7073
it seems that mpls table is incomplete.
It looks like your IGP on wan did not  react.
'show ip route' ?

[2020-09-16 23:32] fcastello commented on #2236
It is not clear if this has been implemented or not. Is there a link to follow the FR in the wiki?

[2020-09-17 00:34] #7062 closed

[2020-09-17 01:42] hothotstreet commented on #7073
**localhost.localdomain# show ip route**
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,

K>* 0.0.0.0/0 [0/0] via 192.168.1.1, ens160, 2d19h41m
C>* 10.253.0.48/30 is directly connected, tapbgp_13628, 21:57:04
C>* 10.254.128.30/32 is

[2020-09-17 03:55] pankajgarbyal opened #7119 "FRRRouting PIM Protocol Issue: pimreg"
Hello Sir/Madam,

I am using FRRRouting Release 5.1 for PIM Protocol support in my Switch. But I find that PIM Protocol is not acknowledging the multicast packets coming towards it. When i compared the same with FRR installed in Linux PC, i found that a new interface named "pimreg" is enabled by FRR but the same is not happening in FRR of my switch. Kindly provide me help to get the pimreg interfa

[2020-09-17 04:37] maduri111 commented on #2236
@fcastello
Its not implemented yet. Planning to complete it by October end.

[2020-09-17 05:07] maduri111 commented on #2236
@brotherdust
You could start with documentation. that would be helpful.
Will give you the access to my repo, once I start committing the changes to this feature branch.

Thanks.

[2020-09-17 06:48] pguibert6WIND commented on #7073
[code]
on show ip bgp vrf ipv4 , indicates that route to underlay nexthop 10.253.0.50 could not be established.
[code]
shows a route, but without mpls label, and this is why ipv4 route from vrf could not be selected (missing label in 10.253 route).

all looks as if your LDP daemon was not set up.
Is LDP still alive ?

[2020-09-17 07:34] Dainii commented on #7050
Oh, thank you for that.

What would it take to implement option 1 ? I have no idea what kind of work is needed for that but maybe I could help.

[2020-09-17 08:36] pankajgarbyal commented on #7119
label: help needed

[2020-09-17 10:55] donaldsharp commented on #7119
can we see `show ip multicast` from vtysh?  And from the linux cli can we see `ip link show pimreg`

[2020-09-17 10:56] hothotstreet opened #7120 "ospf lsa question"
![1600339866(1)](https://user-images.githubusercontent.com/42403291/93461058-c2bd3d00-f916-11ea-8df5-29c9fefc2069.jpg)

I have a frr host, I added two of the interfaces to vrf, and announced the two interfaces in the ospf of vrf, but when I checked the database of ospf, I found that two lsa representing my frr host appeared in the type 1 lsa ,How is this going?

**ospf configuration:**
router ospf

[2020-09-17 10:58] hothotstreet commented on #7073
yes,it is work good

localhost.localdomain# show mpls ldp neighbor
AF   ID              State       Remote Address    Uptime
ipv4 10.254.128.30   OPERATIONAL 10.254.128.30   3d07h56m

[2020-09-17 11:01] pankajgarbyal commented on #7119
1. Output of "show ip multicast" in my switch gives this result.
Mroute socket descriptor: -1(Default-IP-Routing-Table)
Mroute socket uptime: 02:34:02

Zclient update socket: 7 failures=0
Zclient lookup socket: 8 failures=0

Maximum highest VifIndex: 31

Upstream Join Timer: 100 secs
Join/Prune Holdtime: 350 secs
PIM ECMP: Enable
PIM ECMP Rebalance: Enable

RPF Cache Refresh Delay:    50 msecs
RPF

[2020-09-17 11:02] donaldsharp commented on #7120
That column is `Link Count`.  Show ip ospf database shows each lsa type in it's own section `Router Link States`, `Net Link States`...

[2020-09-17 11:58] pguibert6WIND commented on #7073
"Now I manually close the PE interconnection interface, and then open it again."

I tend to think the problem is an LDP issue.
what is the remote PE product, please?

further investigation needs to be done with LDP.
'show mpls ldp ..' dumps before and after the PE interconnection closure should be done.

[2020-09-17 20:55] lucize commented on #7081
you are right, it seems that now the master is working fine, despite doubling the first entry on show run

[2020-09-18 00:30] #7098 closed

[2020-09-18 01:25] hothotstreet commented on #7073
the remote PE product is a centos host installed frr,i do not think it is the lDP issue,because i have to ways to Restore vrf routing，the first way is Re-publish the CP side route, the second way is to rebuild the bgp neighbor between ASBRs

[2020-09-18 01:33] hothotstreet commented on #7120
![clipboard](https://user-images.githubusercontent.com/42403291/93544882-a4e0ee00-f991-11ea-915f-4d35e1ea2b08.png)
sorry,look at this picture,Data in blue box,the interface ip address 10.251.0.1 10.251.0.1 is this the same host ,So this network lsa should be abnormal

[2020-09-18 15:18] #7057 closed

[2020-09-18 16:17] donaldsharp commented on #7042
This works on both master and 7.4 for me:

[code]

[2020-09-18 17:33] dipankarshaw commented on #4872
i ran into the same problem and MPLS was not showing enabled. I could by pass the problem
this is how i did it.
i was using a GNS3VM on my PC to host Frr routing as docker containers.
now, when i was checking the command :
frr_d-5# show mpls status
MPLS support enabled: no (mpls kernel extensions not detected)

this shows me MPLS support not enabled.
in the command sysctl -a, i could see there was

[2020-09-18 20:43] ne-vlezay80 commented on #7119
Where  RP? Please set RP and configure msdp.MSDP peering support with:
https://github.com/FRRouting/frr/pull/6725

[2020-09-19 02:14] pankajgarbyal commented on #7119
First, I just want to verify if pimd is joining igmp groups..but "show ip igmp groups" have no joiners in pimd of switch while i can see multicast groups joining on pimd installed on Linux pc..

[2020-09-21 05:17] jachen-ship-it commented on #7072
@Jafaral unfortunately that did **not** work. ie. the issue still persisted in frr-7.5_dev

[2020-09-21 06:19] dl001 commented on #7042
Donald, hello

The answer was very disappointing. Your example is not relevant to the desired working network configuration.

The modern telecommunications world cannot do without an automatic generator of BGP configuration according to RPSL.
See https://en.wikipedia.org/wiki/Routing_Policy_Specification_Language + https://github.com/irrtoolset/irrtoolset

The configuration obtained by IRRToolSet

[2020-09-21 06:24] dl001 commented on #7042
Small config from IRRToolSet .

[2020-09-21 07:01] VictorCaiShen opened #7139 "Can I use FRR to directly create a loopback interface?"
I found create a loopback interface in Kernel was very complex. SO, Can I use FRR to directly create a loopback interface?

[2020-09-21 09:26] nic1225 opened #7141 "Cross compilation of FRR"
hi，
I want to cross compile FRR in ubuntu 18.04 to run in arm64 environment device，are there any compilation instructions?
Or how to configure the parameters of a `./configure`

thanks
Nick.

[2020-09-21 09:37] pjdruddy commented on #7141
this pretty much worked for me on a RASPI4 - there was some jiggery-pokery getting the right packages installed but give me a shout on the slack channel if you hit issues.
http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-ubuntu1804.html

[2020-09-21 09:54] nic1225 commented on #7141
hi，
    When I command `./configure  --enable-multipath=1  --enable-sysrepo=yes`  to compile, I have the following problems

    checking json-c/json.h usability... no
    checking json-c/json.h presence... no
    checking for json-c/json.h... no
    checking for json_object_get in -ljson-c... no
    checking for json_object_get in -ljson... no
    configure: error: libjson is needed to compile

I

[2020-09-21 10:46] gebgebdmz opened #7142 "frr routing daemon and vtysh problem"
---------------

**Describe the bug**
Before all of this happen, I have tried to install frr following step from
http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-debian9.html

but  for some reason, no systemctl file being installed so i decided to download with from here
https://deb.frrouting.org/

everything is fine but suddenly i cant start vtysh(i have displayed the error

[2020-09-21 12:10] donaldsharp commented on #7142
vtysh needs to be given permission to connect the daemons.  This can be done by either adding the user you are running as to the frrvty group *or* running `sudo vtysh`.

[2020-09-21 12:11] donaldsharp commented on #7139
There is no code in FRR to add interfaces ( beyond some very very specialized code around pim ).  Can you explain a bit better what you are trying to do?  loopback devices under linux and *bsd are auto-created at run time.

[2020-09-21 12:22] melissa-cjt opened #7144 "EIGRP: configured with authentication enabled can established connection with one without authentication"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
 When I used frr configured with authentication enabled and a script does not have authentic

[2020-09-21 12:27] gebgebdmz commented on #7142
i am running it on root, and the fact that vtysh of frr routing version still exist even though I have purge all related frr routing package really surprised me

[2020-09-21 14:07] purezhang commented on #2925
Has this bug been fixed? thank you

[2020-09-21 14:07] purezhang commented on #2922
Has this bug been fixed? thank you

[2020-09-21 16:40] mjstapp opened #7146 "ospfd: hello-interval config doesn't reset running timer"
The topotest ospf_basic_functionality/test_ospf_single_area.py is showing this currently. The test configures a long hello-interval, then clears that config with:

[code]

The result is that the running timer with the long hello interval is left running, even though the config has reverted to the default value:

[code]

I don't know whether this is related to the recent change in the dead/wait tim

[2020-09-21 17:25] KaushikNiral commented on #7146
Hi @mjstapp ,
This issue is fixed in PR #7133
It is merged to master 2 days ago.

[2020-09-21 18:12] qlyoung commented on #7119
Any chance you can try with a more recent release, like 7.3?

[2020-09-21 18:26] qlyoung commented on #7142
I'm also surprised that you have FRR's version of vtysh installed after an `apt-get purge`. If it was installed by the package it should have been removed by the purge - `vtysh` is listed in `debian/frr.install`, which I believe is what apt uses to know which files to purge. I am tempted to chalk that up to some mysterious order of events or permission issues or conflicting packages.

Of course we

[2020-09-21 18:37] qlyoung commented on #7141
While we ostensibly support `cjson`, I have always used libjson-c, which has ARM packages prebuilt for most distros. It's very possible that compilation with cJSON is either broken, or that your source install did not install a corresponding pkg-config file, which is what automake is looking for when searching for json libraries.

[2020-09-22 01:57] VictorCaiShen commented on #7139
I have no idea to do it. But alot of protocols need loopback dev, like BGP needs loopback update source and as a peer. I will try to find a solution.

[2020-09-22 02:04] nic1225 commented on #7141
I have installed `libjson-c3_0.12.1-1.3_arm64.deb` and` libjson-c-dev_0.12.1-1.3_arm64.deb`,the problem remains.I think the problem now is how to make automake to find `json-c/json.h` in the specified directory `/home/nick/build/rfs/rootfs_arm64_main/usr/include/json-c/json.h`, instead of the default directory `/usr/include/`.

    # dpkg -X libjson-c-dev_0.12.1-1.3_arm64.deb /home/nick/build/rfs/

[2020-09-22 03:25] nic1225 commented on #7141
Back to the previous question, I use command` ./configure   --host=aarch64-linux-gnu`, It is mentioned in the echo
" builddir separate from srcdir or by building clippy separately",Is there any operation procedure related to it?

    checking build system type... x86_64-unknown-linux-gnu

thanks
Nick.
    checking host system type... aarch64-unknown-linux-gnu
    configure: error: cross-compilatio

[2020-09-22 03:37] gebgebdmz commented on #7142
thanks I have done `dpkg -l | grep quagga` and yes there are still remnants of quagga package laying aroung even thought I have purge quagga, and for vtysh I will try to find them later because I am kind of busy right now, but I know this is kind of silly but I manage to open ospfd without vtysh by doing telnet  with the addresss and provided port (using netstat to check address and port for relat

[2020-09-22 06:37] KaushikNiral opened #7147 "isisd, zebra : ISIS L1, L2 route display in zebra (RIB) via "show ip route""
Change in "show ip route" where the ISIS route can be identified in this below mentioned way.

Codes:    I  L1  -  IS-IS level-1,  I  L2  -  IS-IS level-2

route entry of ISIS L1 :
I L1>* 20.20.20.0/24 [115/20] via 172.16.168.10, ens38, weight 1, 02:40:23

route entry of ISIS L2 :
I L2>* 40.40.40.0/24 [115/20] via 172.16.170.10, ens39, weight 1, 02:30:55

[2020-09-22 08:02] saschaarthur commented on #5113
Problem still exists in latest ubuntu 20.04 package:  7.3.1-1+frr1~ubuntu20.04.1

[2020-09-22 08:47] zoltan commented on #5113
I was struggling with this setup as well, and the two things I see that are different between your setup and mine:

* why are you using a route reflector? can't all 3 VMs just peer with each other? have you tried without one?
* if you put an IP on the bridge that *will not* get advertised unless advertise-svi-ip is set and you don't have this set so I am even more confused of why the SVI IPs show

[2020-09-22 10:36] saschaarthur commented on #5113
Thanks @zoltan i did a small check and it looks really like `advertise-svi-ip` is doing the trick.
The reason why the bridges ip was showing up in the routes is that learning was enabled on the bridge, which i used as a workarround till now...

Sad thing nobody realized this until now, and i had really a lot of people looking over it..

Now i can disable learning on the bridge and let frr fully ma

[2020-09-22 10:42] zoltan commented on #5113
Great, glad it helped!

How about that double routing issue vs direct routing? Is that solved?

[2020-09-22 11:18] saschaarthur commented on #5113
Still checking everything..

but so far seems to be perfectly solved now.

Will close this issue, as soon if im done checking.

Thanks !

[2020-09-22 11:40] nic1225 commented on #7141
use the following command, there will be related problems

    ../configure --host="arm-ubuntu-linux" --build="x86_64-pc-linux-gnu" --localstatedir=/var/run/frr --sysconfdir=/etc/frr/  --enable-bgpd  --enable-vtysh --enable-zebra --enable-multipath=1 --with-pkg-extra-version=-ctyun --enable-sysrepo=yes 	    --enable-user=frr 	    --enable-group=frr 	--enable-vty-group=frrvty 	--enable-systemd=yes

[2020-09-22 12:04] #7146 closed

[2020-09-22 12:28] mwinter-osr opened #7149 "Multiple new LDP RFC Compliance Bugs (ANVL issue)"
Multiple bugs in 7.5-dev in regards to LDP:

### ANVL-LDP-26.8
**RFC 3036, s3.5.7.1.1 p67 Independent Control Mapping**   (MUST)
[code]
### ANVL-LDP-31.2
**RFC 3036, s3.10.1 p83 Well-known Numbers/UDP and TCP Ports   (MUST)
[code]
### ANVL-LDP-32.6
**RFC 3036, s5.1 p86 Spoofing  (MUST)
[code]
### ANVL-LDP-42.3
**RFC 3036, Appendix A.2.1 p121 Send_Label  (MUST)
[code]

Investigation still in proces

[2020-09-22 12:58] krsdrr opened #7150 "BGP is not following the best path"
Anybody seen this before? There are multiple paths to a destination. A show ip bpg *.*.*.* gives a "best (Router ID)" and a second path. The show ip bgp and show ip route have that "best" path shown as a ">".  However when I do a traceroute it takes the second path. The address is in a different AS. Under bgp there is a "neighbor <ip address>  remote-as *","neighbor <ip address>  disable-connected

[2020-09-22 13:21] saschaarthur commented on #5113
okay, sadly need to correct myself.

Traffic is still flooding through all clients, but it seems somehow at least a bit 'less'.

for example on "10.9.0.113" im receiving, which shouldnt go there..

[code]

[2020-09-22 13:28] #5113 closed

[2020-09-22 13:46] donaldsharp commented on #7150
Please actually provide useful output to us.  `show bgp ipv4 uni A.B.C.D/M` and `show ip route A.B.C.D/M` and `ip route show A.B.C.D/M`.  As it is you have given us insufficient information to help you at all.

[2020-09-22 13:47] paunadeu commented on #7150
Maybe have multipath enabled?

[2020-09-22 15:05] sworleys commented on #7139
you can create loopback interface via the iproute2 command in linux

[2020-09-22 15:28] qlyoung commented on #7147
This does not have enough information in it to understand what the point of this issue is.

Please either update the issue or close it.

@polychaeta autoclose in 1 month

[2020-09-22 23:04] #7102 closed

[2020-09-23 02:41] VictorCaiShen commented on #7139
Thanks alot.
Which  iproute2 command ? ip link add name loop0 type dummy?    I'm not find loop type. And input ifconfig, the flag of dummy dev is not loopback.

[2020-09-23 02:41] polychaeta commented on #7139
This issue will no longer be automatically closed.

[2020-09-23 06:42] atiwaripw opened #7159 "bgp keepalive timer is always taken as 1/3 of hold time, even if configured with lower values"
I am observing some discrepancy in keepalive and hold time relation in case it configured at bgp router vs when it is configured at per neighbor.
Lets say I am configuring 20 as keepalive and 80 as hold time, if this configuration is at neighbor level its applied as it is...But if same configuration is at BGP Router(applicable to all neighbor in case neighbor timer is not configured) , it is appli

[2020-09-23 11:43] nic1225 commented on #7141
@lucize
The cross-compilation platform is Ubuntu 18.04, and the host is armv8(cortex-a53) 64 bit system, the issue is similar as reported in[#2131](https://github.com/FRRouting/frr/issues/2131), my `configure  `like this

    ../configure \
    --host="aarch64-linux-gnu" \
    --build="x86_64-pc-linux-gnu" \
    CFLAGS="-Os -g -mcpu=cortex-a53 -mfpu=neon -funroll-all-loops --param max-inline-insns

[2020-09-23 12:05] gromit1811 commented on #7030
I've implemented a topotest which is able to reproduce this in Docker with only 3 routers (simple topology: R1-R2-R3). In each iteration, R2 gets disconnected from R1/R3, is restarted and then gets reconnected _after_ it has become DR on its links. It sometimes needs quite a few attempts until the problem occurs (I've seen everything from 2 to 50 iterations), but sooner or later R2 will forget to

[2020-09-23 12:10] donaldsharp commented on #7030
@gromit1811 please submit a PR with this topotest let's get this worked on.

[2020-09-23 12:22] gromit1811 commented on #7030
Results from one topotest run: [results-ospf6-dr-no-netlsa-bug7030.zip](https://github.com/FRRouting/frr/files/5267985/results-ospf6-dr-no-netlsa-bug7030.zip)

After the problem occured, these are the routing tables and network LSAs:

R1:
[code]

R2:
[code]

R3:
[code]

As you can see, R1 is missing the routes to `fc00::2/128` and `fc00::3/128` and R3 is missing the route to `fc00::1/128`. This is

[2020-09-23 12:39] donaldsharp commented on #7144
@melissa-cjt - Please submit a PR to get the endianess issue fixed.  We'd love to have it fixed.  I'll see if I can squeeze in a fix to this problem a bit later this week

[2020-09-23 12:53] mwinter-osr commented on #7149
Offending commit which break the LDP is 9db35a5e6ffa14acc6ca6b675ad43a352d71eec1
(Verified for ANVL-LDP-26.8, assumed but not verified for the other issues)

[code]

[2020-09-23 13:52] mwinter-osr commented on #7149
Here is what test 26.8 basically does:
- ANVL: Establish LDP Session with DUT
- ANVL: Update/Configure DUT with new off-net (FECx)
-  DUT: Send a Label Mapping message to LSRu

Test starts with the following base config:
[code]

After LDP is established, the new off-net is added:
[code]

and in the good case, the LDP mapping is received:
(In the failing case this will not happen - just not receivi

[2020-09-23 13:53] mwinter-osr commented on #7149
@mjstapp The breaking commit is signed by you. Do you want to have a look at it?

If you have a PR, then please ping me with PR number and I'll add an additional CI testbed testing for this specific issue. (the normal CI tests are not covering this)

[2020-09-23 15:12] lucize commented on #7141
But did you find the exact error from config.log?

[2020-09-23 17:29] paunadeu commented on #7098
You can also specify how many paths will be used at the same time (router bgp X address-family ipv4 unicast maximum-paths X), or you can also specify if you require entire AS_PATH requires be exactly the same or if you allow relaxed policy (http://docs.frrouting.org/en/latest/bgp.html#clicmd-bgpbestpathas-pathmultipath-relax)

[2020-09-23 17:30] paunadeu commented on #7150
@krsdrr any update on this?

[2020-09-23 17:47] mjstapp commented on #7149
interesting - well, there's something fishy going on with the cli, it appears, at least some of the time. I see in the ANVL zebra debug logs instances where the config includes a static route, but zebra is sent a route DELETE instead of an ADD. I can reproduce this in the ldp-topo1 topotest, where I type:

```mjs-ubu20(config)# ip route 172.1.0.1/24 1.1.1.1```

but zebra gets a DELETE:

[code]

so

[2020-09-23 19:57] LensHunnel opened #7166 "Route-map set src on freebsd(Opnsense)"
**Describe the bug**
I have a BGP session between two devices. I receive a default route from device1 to device2.
![image](https://user-images.githubusercontent.com/6883486/94061826-30211000-fde6-11ea-912b-5d6dc2f3d140.png)

In device2, i've a loopback with an address that I want to use in a route-map as source IP of device2 for any packet using the default route received via BGP from device1.
I'v

[2020-09-23 20:29] sworleys commented on #7166
Is this a regression?

[2020-09-24 01:22] donaldsharp commented on #7166
No it's not a regression.  This was never implemented in *BSD.  We need someone to pick this up from the community

[2020-09-24 01:23] nic1225 commented on #7141
hi，lucize.

Judging from the error message above, it is probably the compiler's fault

    checking for aarch64-linux-gnu-gcc... aarch64-linux-gnu-gcc
    checking whether the C compiler works... no
    configure: error: in `/home/nick/nxp/flexbuild/packages/apps/frr/build':
    configure: error: C compiler cannot create executables

I don't know what the problem is, I posted the log, please help

[2020-09-24 06:10] lucize commented on #7141
this is a working rock64 configuration, maybe you can spot something here:

[code]

but from your config file it seems that you are missing at least the --target option or build only clippy first, not in the cross compile stage and specify it like I did in the second stage

config for clippy only (for running on build system):

`./configure --target=x86_64-pc-linux-gnu --host=x86_64-pc-linux-gnu -

[2020-09-24 06:29] nic1225 commented on #2131
hi, @rajaram-ghosh
The scene we use is very similar to yours, Could you give the last configure  parameter you used?

thanks
Nick.

[2020-09-24 07:14] nic1225 commented on #7141
hi，lucize
I don't quite understand what a means for cross compilation. I think the cross compilation process is as follows

    ./bootstrap.sh
    mkdir build; cd build/
    ../configure xxx
    cd hosttools
    make
    make install

is that all?

thanks
Nick

[2020-09-24 07:31] lucize commented on #7141
it can be like your example, but that is the mixed config setup
you can split the build, I found it more clear like that
first natively build with         --enable-clippy-only then
second if you specify --with-clippy=<path> it seems you don't have to make a sub folder, again look at my configure argument for the cross compile stage

[2020-09-24 08:11] gromit1811 commented on #7030
[results2-ospf6-dr-no-netlsa-bug7030.zip](https://github.com/FRRouting/frr/files/5274396/results2-ospf6-dr-no-netlsa-bug7030.zip)

New test results with improved logging. Now we actually see all the LSA-related logs. In the ZIP file, there are 2 logs for R2: `.../r2/ospf6d.log` from the last (failing) iteration containing the "Suppress updating LSA" message and `.../r2/ospf6d.log.prev` from the pr

[2020-09-24 08:16] emabo commented on #7141
Hi,

I also have a cross-compilation issue. I don't know if it's the same described here, but I'll try to describe the problem.
My environment is adding a prefix to all main tools:

MACHINE       = tilegx
ARCH          = tilegx
CROSS_COMPILE = tile-
CROSS         = $(CROSS_COMPILE)
CC        = $(CROSS_COMPILE)gcc $(CPUCFLAGS)
AS        = $(CROSS_COMPILE)as $(CPUCFLAGS)
CXX       = $(CROSS_COMPILE)

[2020-09-24 08:33] nic1225 commented on #7141
hi @emabo

How do you set the configure parameter?

thanks
Nick

[2020-09-24 08:45] emabo commented on #7141
in the configure command line:

configure --sysconfdir=/var/tmp/shells --localstatedir=/tmp --sbindir=/usr/local/6bin --bindir=/usr/local/6bin --libdir=/lib --host=tilegx-redhat-linux --build=x86_64-linux-gnu --srcdir=/home/emanu/ports/frr/src --enable-user=root --enable-group=root --enable-vtysh --enable-multipath=4 --enable-capabilities --disable-irdp --disable-rtadv --disable-doc --disable-ripd

[2020-09-24 09:58] nic1225 commented on #7141
hi @emabo

I've added the following to line 28 of the configure.ac file

    AC_ARG_VAR([AR],[archiver command])
    AC_ARG_VAR([LD],[linker command])
    AC_ARG_VAR([OBJCOPY],[objcopy command])
    AC_ARG_VAR([OBJDUMP],[objdump command])
    AC_ARG_VAR([RANLIB],[ranlib command])
    AC_ARG_VAR([STRIP],[strip command])

Use the following configure parameter

    ../configure --host=aarch64-linux-g

[2020-09-24 10:23] emabo commented on #7141
I think it's a bit confusing, but from what I understood from configure.ac, HOST_xx contains the local tools and flags needed for building hosttools:

configure:2996: checking build system type
configure:3010: result: x86_64-pc-linux-gnu
configure:3030: checking host system type
configure:3043: result: tilegx-redhat-linux-gnu
configure:3085: ...
configure:3087: ... cross-compilation: creating host

[2020-09-24 11:14] lucize commented on #7141
I again ask, did you tried with adding also --target?

[2020-09-24 11:22] nic1225 commented on #7141
hi，lucize

Sorry for the late recovery, I just tried it, the problem remains the same

../configure   --host=aarch64-linux-gnu  --build=x86_64-linux-gnu` --target=aarch64-linux-gnu` 	CC=aarch64-linux-gnu-gcc  	CXX=aarch64-linux-gnu-g++  	AR=aarch64-linux-gnu-ar  	LD=aarch64-linux-gnu-ld  	HOST_CC=gcc       HOST_LD=ld       HOST_AR=ar       HOST_CXX=g++       HOST_OBJCOPY=objcopy       HOST_OBJDUMP

[2020-09-24 11:22] donaldsharp commented on #7166
I am not even seeing a way to communicate to the freebsd kernel hey use this source from my 5 minutes of poking.

[2020-09-24 11:23] lucize commented on #7141
@nic1225 please try first native build of clippy only and then specify the clippy path and let's see

[2020-09-24 11:27] lucize commented on #7141
also look at specific variables aarch64-* that you didn't defined in the config

[2020-09-24 11:49] nic1225 commented on #7141
I understand the steps are as follows
first, build  clippy only
./configure --target=x86_64-pc-linux-gnu --host=x86_64-pc-linux-gnu --build=x86_64-pc-linux-gnu --enable-clippy-only

    FRRouting configuration
    ------------------------------
    FRR version             : 7.3
    host operating system   : linux-gnu
    source code location    : .
    compiler                : gcc -std=gnu11

[2020-09-24 12:05] #7147 closed

[2020-09-24 12:07] lucize commented on #7141
./configure --enable-clippy-only
make (build), it will take a while because configure.ac builds everything even if clippy-only is selected
..
then cross compile, your cflags are not ok, if you look at my output variables the includes are added to cppflags and clippy path is the full path to the bin object
here is a paste with all variables added before ./configure
[code]

[2020-09-24 13:30] dyemi6075 opened #7170 "Centos8 PBR not functional. No tables created in iproute2 and rules not used"
Centos8. Kernel versions tried, from stock to latest, same problem.
FRR 7.0

PBR rules added and are show as valid and installed.

ip rule show provides the tables as being implemented.

iproute2 does not see tables created.

when traffic is recieved and the routes do not exist in the main table, the traffic is dropped. This should be handled by the PBR of FRR.

I have manually created the tables

[2020-09-24 15:48] gromit1811 opened #7172 "topotests docker image not usable"
The topotests image built by frr master's tests/topotests/Dockerfile is not  usable for building frr master since it uses libyang 0.16.105 whereas frr requires at least 1.0.184.

Either the repo at https://deb.frrouting.org/frr/pool/frr-stable/liby/libyang/ should be updated to include the right version or the Dockerfile should get modified so that it pulls the YANG DEBs from elsewhere (e.g. https

[2020-09-24 18:02] paunadeu opened #7174 "ospfd: NSSA Translate Type 7 > Type 5 Supress-FA"
Hello,
Using 7.0.1 here.

We are having a problem, on two routers and Cisco switch involved.

R1 have area 10 NSSA configured
R2 (DR) have area 0 (backbone) and area 10 NSSA configured
S1 (Cisco) have area 0 (backbone)

We have configured on R2 area 10 nssa to translate always, and sometimes (9/10 times) we don't see LSA on OSPF Database of Cisco device.

So:
We have been troubleshooting OSPF setu

[2020-09-24 18:21] mjstapp opened #7176 "staticd: sends route delete zapi when add is configured (northbound?)"
Martin W has reported some ANVL problems during LDP testing of dev/7.5. From looking at the debug logs, it appears that at least part of the problem is that staticd is not sending route-add zapi messages to zebra when routes are configured. That's preventing zebra from telling LDP about the routes, LDP doesn't label them, and the test fails. This doesn't happen all the time, of course - some amoun

[2020-09-24 18:28] paunadeu commented on #7174
Maybe #7030  too. We are getting this failure randomly when we reboot.

[2020-09-24 21:42] taspelund commented on #7159
Submitted https://github.com/FRRouting/frr/pull/7178 for this.
Also thanks to Arun Seshadri, who prevented me from creating a bug with a keepalive of 0 + non-0 holdtime :)

[2020-09-25 03:27] nic1225 commented on #7141
hi，lucize
  Your suggestion is correct. With the modification of CFLAGS, it can continue to go down, but new libjson  problem have been encountered

     ./configure --enable-clippy-only
    ./configure --target=aarch64-ubuntu-linux --host=aarch64-ubuntu-linux --build=x86_64-pc-linux-gnu AR=aarch64-linux-gnu-ar  AS=aarch64-linux-gnu-as LD=aarch64-linux-gnu-ld NM=aarch64-linux-gnu-nm CC=aarch64-lin

[2020-09-25 04:20] lucize commented on #7141
the problem could be that you also need the dependencies to be compiled for aarch64, might I ask what is the board? can't it be used with openwrt sdk as there is already a layerscape target working ?
or maybe just use de precompiled packages if your musl version is compatible

[2020-09-25 06:08] nic1225 commented on #7141
This is a 4 core armv8 development board running Ubuntu18.04 version.It can also run Openwrt, but we're going to use its Ubuntu system for now.

[2020-09-25 06:54] lucize commented on #7141
ok, so on openwrt I added this crosscompiled dependencies, depending on config:
`librt libatomic libcap libjson-c libyang libopenssl libnetsnmp libreadline libncurses more libcares
`all are available on the sdk include folders

[2020-09-25 09:38] nic1225 commented on #7141
hi，@lucize
after configure ,I run the command make

    CLIPPY   bgpd/bgp_debug_clippy.c
    /bin/bash: ./build: Is a directory
    Makefile:9695: recipe for target 'bgpd/bgp_debug_clippy.c' failed
    make[1]: *** [bgpd/bgp_debug_clippy.c] Error 126
    make[1]: Leaving directory '/home/nick/nxp/flexbuild/packages/apps/frr'
    Makefile:4060: recipe for target 'all' failed
    make: *** [all] Err

[2020-09-25 09:43] gebgebdmz commented on #7142
Hi @qlyoung   so I have checked what you asked, and I have uninstalled frr (sorry for late reply, I am kind of busy). I have tried to remove vtysh by searching from the directory that you provided, but I didnt find anything related to vtysh, but the vtysh service is still exist so, it is so weird.

provided some screenshot for prove:

![gambar](https://user-images.githubusercontent.com/71374762/94

[2020-09-25 09:43] lucize commented on #7141
I already told you that you have to add the path of the clippy binary
you build the native clippy and in **another** folder you build the cross compile (not a sub folder) specifying the full path to your other native folder with clippy

[2020-09-25 11:20] gebgebdmz commented on #7142
oof I manage to find the problem. So I am trying this debugging tool called Strace, which let you debug the process of every command that you enter. After that, I run "strace vtysh --help", I notice that vtysh is running from /usr/local/bin/vtysh (sorry, I forgot to screenshot the output and its gone forever but you get the idea). After that, I search every file and folder that related to either f

[2020-09-27 04:21] hansengao opened #7185 "How to cross compile FRR to MIPS"
dear

How to cross compile FRR to MIPS

thanks .

[2020-09-27 09:52] nic1225 commented on #5344
@Cryst,
Is this problem finally solved? I have the same problem as you?

[2020-09-27 10:06] Cryst commented on #5344
@nic1225 No. I'm unable to compile frr7.4.

[2020-09-27 18:54] #6520 closed

[2020-09-27 23:36] maduri111 commented on #2336
Opened PR. Please check.
https://github.com/FRRouting/frr/pull/7189

[2020-09-28 02:31] nic1225 commented on #7141
hi，@lucize
When I execute the `make `command, I have the following problem，libyang is 1.xx version and it is normal during compilation of other modules.

      CC       pimd/mtracebis_netlink.o
      CC       pimd/mtracebis_routeget.o
      CCLD     pimd/mtracebis
    lib/.libs/libfrr.so: undefined reference to `cap_to_text'
    lib/.libs/libfrr.so: undefined reference to `lyd_schema_sort'
    lib

[2020-09-28 07:32] lucize commented on #7141
libyang is built in a subfolder with

CMAKE_OPTIONS += \
        -DENABLE_LYD_PRIV:BOOL=ON \
        -DCMAKE_BUILD_TYPE:String="Release" \
        -DGEN_LANGUAGE_BINDINGS=ON \
        -DGEN_PYTHON_BINDINGS=OFF

[Makefile_libyang.txt](https://github.com/FRRouting/frr/files/5290602/Makefile_libyang.txt)

[2020-09-28 17:53] #7150 closed

[2020-09-28 17:54] qlyoung commented on #7172
Packaging work is in progress for the repo.

[2020-09-28 19:21] mjstapp commented on #6567
should be fixed with #6600

[2020-09-28 19:21] #6567 closed

[2020-09-28 19:23] mjstapp commented on #6907
Should be fixed with #6704 and #7045

[2020-09-29 02:52] VictorCaiShen opened #7196 "Some problem about set ip addr."
FRR version:7.3stable

**FRR configuration:**
!
interface vpp3
 ip address 2.2.2.2/32

**show interface**
Interface vpp3 is up, line protocol is up
  Link ups:       1    last: 2020/09/29 10:24:12.68
  Link downs:     2    last: 2020/09/29 10:24:11.12
  vrf: default
  index 9 metric 0 mtu 1500 speed 10
  flags: <UP,BROADCAST,RUNNING,MULTICAST>
  Type: Ethernet
  HWaddr: de:ad:00:00:00:00
  inet 2.

[2020-09-29 11:12] willyhun commented on #7081
**Actual configuration:**

ii  frr            7.3.1-1+frr1~ubuntu20.04.1 arm64        FRRouting suite of internet protocols (BGP, OSPF, IS-IS, ...)

daemons configuration

ospfd=yes
ospfd_instances="110,140"

**started daemons:**

frr         5395  0.4  0.0  11716  5956 ?        S<s  09:48   0:00 /usr/lib/frr/ospfd -d -F traditional -A 127.0.0.1
frr         5403  0.1  0.0  11684  5560 ?        S<s

[2020-09-29 12:28] pguibert6WIND commented on #7030
Some remarks:
- I wonder if that snipped of code is not explicitly described in RFC. If that is the case, then I would be pro patching this behavior.
[code]
as I can read on rfc2328 ( ospfv2, but it should also apply to ospfv3)
[code]
- I reused your script to do ospfv2 setup, and look whether there are any inconsistencies with the number of ospf routes. It appears the problem does not exist ( aft

[2020-09-29 14:20] pguibert6WIND opened #7200 "BGP convergence between state and current BGP nexthop status"
This ticket is a question about BGP behavior

I have a e-bgp session configured like below.

[code]
 My concern is that the 10.255.255.4 ip address may not be available all the time.
( this is a route inherited by NHRP, and I as you can see with below dumps, the nexthop tracking perfectly reflects the availability of this IP.
[code]
My concern is about BGP session.
The route is not available, thou

[2020-09-29 15:17] donaldsharp commented on #7159
@polychaeta close 1 week

[2020-09-29 15:17] donaldsharp commented on #7159
@polychaeta autoclose 1 week

[2020-09-29 15:18] #7159 closed

[2020-09-29 15:25] qlyoung commented on #7196
Please update your issue to provide the information requested in the bug report template. We cannot understand what you are trying to communicate here.

[2020-09-29 15:27] qlyoung commented on #7185
I doubt anyone has tried this. I don't know how to do it out of hand. There have been github issues where others got it to work in the past, e.g. https://github.com/FRRouting/frr/issues/7141; perhaps reading those will help. We'll try to get some docs on this.

[2020-09-29 15:33] paulnice commented on #7139
https://superuser.com/questions/1089092/how-to-add-a-second-local-loop-back-address

[2020-09-29 15:38] Jafaral commented on #7072
@jachen-ship-it can  you post the routing table here?

[2020-09-29 16:08] #7048 closed

[2020-09-29 16:25] pguibert6WIND commented on #7174
I presume this ticket opened to handle the new feature "suppress-fa" ?
Because it seems without this key command, the behavior is as you describe, and you need to use network command ( *in addition* to redistribute, I guess). no ?

[2020-09-29 17:25] paunadeu commented on #7174
Yes, @pguibert6WIND ! 👍

[2020-09-29 22:26] paunadeu commented on #7196
Are you using VPP dataplane?

[2020-09-30 06:32] hansengao commented on #7185
ok ,thanks

[2020-09-30 07:33] ton31337 commented on #7200
This sounds valid and useful for me.

Nexthop could be set per prefix (faked - inaccessible) and could be overridden with route-maps, hence that could lead to down all the prefixes (including _good_) for a decent peer.

An additional knob for `bgp disable-ebgp-connected-route-check [shutdown]` or so could be added though to force this behavior as you described.

[2020-09-30 07:41] odd22 commented on #7030
Hi, I think you perfectly analyze the problem. I look to OSPFv2 code to compare both approach. If I correctly understand, this problem is handle in ospfd/ospf_packet.c starting at line 1981 for Opaque LSA. This is name here "Boomerang Effect" i.e. you received your self LSA from a neighbor and after flushing it, never send it. In opsfd we got the problem where self Opaque LSA are not advertised af

[2020-09-30 07:48] jachen-ship-it commented on #7072
Its quite large, assume just interested in the RP route?
[code]
Looking at that am guessing it's related to them being in the same VRF, and the route table?

[2020-09-30 09:50] VictorCaiShen commented on #7196
In a word, ospf can't network unnumbered address.  But i just set ip addr normally, this addr flaged unnumbered.

[2020-09-30 09:51] VictorCaiShen commented on #7196
Yes, but this has no effect on this problem.

[2020-09-30 10:04] pguibert6WIND commented on #7200
I made some proposal in atached pull request.
I fell on a strange behavior on 7.3, where after forcing BGP to go down, and go up ( after reestablishing route to GRE interface), I fell on continuous error message.
I had to configure remote as passive in order to avoid this to happen.

[code]

[2020-09-30 13:08] toreanderson opened #7211 "bgp: missing ?-completion for `neighbor N next-hop-self` in vtysh"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**

The command documented at http://docs.frrouting.org/en/stable-7.4/bgp.html#clicmd-[no]neigh

[2020-09-30 13:30] rzalamena commented on #7166
@donaldsharp it seems FreeBSD doesn't support this (or at least it is not documented):
https://www.freebsd.org/cgi/man.cgi?query=route&sektion=4&apropos=0&manpath=FreeBSD+12.1-RELEASE+and+Ports

OpenBSD on ther other hand at least has the definitions and the doc here:
http://man.openbsd.org/route.4

[code]

If one is willing to implement this, then maybe developing for OpenBSD is a starting point.

[2020-09-30 13:48] toreanderson opened #7212 "bgp: `show ip bgp neighbors N advertised-routes` incorrectly reports advertised next-hop"
**Describe the bug**
When issuing the command `show ip bgp neighbors N advertised-routes` in vtysh, it reports an incorrect next-hop. It appears to display the next-hop found in the FRR RIB, instead of what was actually advertised to the BGP neighbour in question.

This issue led me down a rabbit hole where I tried to figure out how the hell I could make FRR use *"self"* as the next-hop for all ad

[2020-09-30 14:23] ne-vlezay80 opened #7213 "BGP l3vpn is not working in Arch Linux"
**Describe the bug**
BGP daemon is shutdown with SIGABRT, if redistribute static route from inside vrf.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Creating VRF in archlinux
2. Creating static route with the vrf

**Screenshots**

[2020-09-30 16:00] ton31337 commented on #7211
This is intentional. Autocomplete works under address-family and without address-family this command is _hidden_.

[2020-09-30 16:56] ton31337 commented on #7212
This is because network/redistribute (with Null0) creates a blackhole with nexthop as self (0.0.0.0). If you want to see/override that you can do with route-maps. `set ip next-hop <addr>`.

[2020-09-30 17:13] toreanderson commented on #7212
I think maybe you missed my point: the next-hops shown in the `advertised-routes` command output (`0.0.0.0` and `fe80::aa2b:b5ff:fe28:db38` in the above example) are *not* the next-hops that are *actually advertised to the neighbour (`158.174.206.77` as shown in the Wireshark screenshot). In other words, the output from `advertised-routes` is a lie.

[2020-09-30 19:03] ne-vlezay80 commented on #6992
This bus is not appers from alpine linux. all it's all to blame systemd. Alpine linux is script-based init system.

[2020-10-01 18:02] qlyoung commented on #7211
Yeah its defined in the top level bgp node but its supposed to go in address-family so the command is hidden outside of an AF block.

[2020-10-02 10:16] edipascale commented on #6965
Your analysis is correct, this is unfortunately not currently supported in FRR: the attach bit is not set automatically, and even though there is a command to set it manually (which doesn't really make a lot of sense) it doesn't add a default route.

[2020-10-02 14:32] ton31337 commented on #2864
@ruben-herold I'll continue this work, I hope I will find more time in the next few weeks.

[2020-10-02 14:43] dslicenc opened #7234 "access-list using wildcard mask inconsistent and broken"
When defining an access-list using wildcard notation, the resulting config is changed and certain sequences of changes end up with complete changes of operation, including going from single route filter to permit any.

[x] Did you check if this is a duplicate issue?
Note that this could be related to issue 6896 but it doesn't describe this symptom

[x] Did you test it on the latest FRRouting/frr m

[2020-10-02 14:53] donaldsharp commented on #7234
This must be fixed for 7.5 to roll out

[2020-10-03 15:59] netravnen opened #7240 "Feature Request: TCP-AO (RFC 5925)"
## Feature Request: Support for TCP Authentication Option

### Reasons to consider implementation

- Supported in the newest NOS releases by Nokia, Juniper, and Cisco. (1)
- Stronger verification of BGP updates as a "successor" for MD5 message authentication.

### Links

1. [The Routing Table Podcast: TCP Authentication Option – Greg Hankins and Ron Bonica][0]
2. [RFC 5925][1]
3. [BGP YANG Model f

[2020-10-03 16:06] donaldsharp commented on #7240
Someone needs to implement this in the linux kernel first.  We have no way to do it from FRR until then

[2020-10-04 10:42] rzalamena commented on #5833
It is fixed. Thanks all!

[2020-10-04 10:42] #5833 closed

[2020-10-04 11:28] rzalamena commented on #7050
Sorry for the late response. I don't know what it takes to implement option (1), but I think you could probably find help doing that by joining FRRouting slack (especially the #yang channel) or by sending an e-mail to the mailing list.

Once FRR northbound support YANG notifications the implementation would be trivial:
- Add FRR BFD YANG model a notification type leaf
- Implement the northbound ca

[2020-10-05 08:58] pguibert6WIND commented on #7050
Hi @Dainii , I would add an other solution, that would be to create a frr plugin so that you can customise the BFD behaviour.
A plugin is how snmp feature is implemented in FRR.
This piece of code stands for a dynamic module, that you associate with an extra vty command.

[2020-10-06 14:51] odd22 commented on #7120
Can you show your complete configuration? in particular IP addresses assigned to the various interface? and also the resut of `show ip ospf neighbor`?

Regarding LSA type 1 announced by OSPF, it depends of the `network ... ` CLI. Here, you setup 2 network for respectively `10.251/16` and `10.254/16`, so that, it is normal that OSPF announce these 2 subnets if there is interfaces that belongs to th

[2020-10-06 15:02] ghmj2417 opened #7249 "7.4 - Loopback address not advertised via BGP"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
Loopback address is not being advertised via BGP even though I include a `network x.x.x.x/32

[2020-10-06 16:21] Jafaral commented on #7072
@jachen-ship-it, your guess is correct. That is why I asked about the routing table.  PIM will always use the route that takes you back to the RP. In your case  a.1214 is picked and the packet is routed correctly. That is the expected behavior, so I claim this is not a bug.

[2020-10-06 23:49] jachen-ship-it commented on #7072
Yep agree with that. Thanks for your help.

[2020-10-06 23:49] #7072 closed

[2020-10-07 06:13] thangarajsamy opened #7253 "When Area ID of an interface is changed, the routes are not getting flushed"

[2020-10-07 16:19] pguibert6WIND commented on #2661
from my perspective, the feature is not yet done.
ok, the socket stuff is done
but the vty part is not available yet.

show ipv6 ospf- neighbor vrf <> ?

[2020-10-07 20:49] sworleys commented on #7249
i think this commit fixed the issue: https://github.com/FRRouting/frr/pull/7191/commits/0dd8f34328f6e8580548565ba1dd33a8c2b39273

it is backported to release branch `stable/7.4`: https://github.com/FRRouting/frr/tree/stable/7.4

and will be included in a 7.4.1 release if/when made.

[2020-10-08 01:01] ghmj2417 commented on #7249
Thank you @sworleys.  I will pull from the stable/7.4 branch and test it.  Assuming all goes well, I will update and close when I am done.

[2020-10-08 11:52] idryzhov opened #7263 "isis assert crash on interface shutdown in VRF"
**Describe the bug**

isisd crashes on the assert in `isisd/isis_csm.c:77`: `assert(circuit == NULL);`

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior (only isisd is enabled in `/etc/frr/daemons`):
[code]

**Expected behavior**
No crash.

**Logs**
[code]

**Versions**
 - OS Kernel: Lin

[2020-10-08 16:12] ghmj2417 commented on #7249
Confirmed, https://github.com/FRRouting/frr/commit/0dd8f34328f6e8580548565ba1dd33a8c2b39273, fixed my issue.  I am now building from `stable/7.4`.  Thanks again @sworleys.

[2020-10-08 16:12] #7249 closed

[2020-10-08 17:19] qlyoung commented on #7213
Can you please add the stack trace if available in FRR's logs?

[2020-10-08 17:23] ne-vlezay80 commented on #7213
I rebiuld FRR with through gcc-8. The problem from frr build with gcc-8 and --enable-systemd is not appers.

[2020-10-08 20:06] qlyoung commented on #7213
well, that is concerning

[2020-10-08 20:21] qlyoung commented on #7088
It's normal if you didn't compile with `--enable-systemd`. If you're using a release centos package I suggest upgrading, the init scripts were rewritten in later releases. If you're still having problems here please reopen the issue.

[2020-10-08 20:21] #7088 closed

[2020-10-08 20:42] qlyoung commented on #7042
I believe you parsed Donald incorrectly. He was saying that on 7.4, he was unable to reproduce your issue. He demonstrated this by providing an minimal config file that contains the line that I believe you were trying to report as causing issues, specifically:
[code]
and stating that it parses successfully for him. I did the same thing and also see the `match ip address 5` statement correctly refl

[2020-10-08 22:35] qlyoung commented on #6921
Couple questions
1. Are both peers FRR 7.2 on the same kernel version? If not, please describe the other peer
2. Does this repro for you on a recent release, e.g. 7.4?

I looked at your pcap. Based on what I see, it looks like 30.0.1.0 (the local router whose config you posted, I believe) attempts to SYN with MD5 enabled, and gets no response. Then the remote peer (30.0.1.1) SYNs with MD5 disabled

[2020-10-09 04:26] thanghl commented on #2922
I have same prolem how to fix, if use quagga it ok

[2020-10-09 11:55] #7263 closed

[2020-10-09 14:27] ne-vlezay80 commented on #7213
Hi, i testing frrouting, which the compiled from gcc-8, the bug is not ba appers, if compiling gcc v8. The bug in GCC.
All is work good, for a small exclude.

Routing is removed in VRF, if start tcpdump in transport interface.
From logs:
[code]
Helped's only restart FRR.

Here temporary solution:
[code]

[2020-10-09 18:37] ne-vlezay80 opened #7273 "Frrouting: LDP is not assigned labels from assress 169.254.0.0/16"
**Describe the bug**
LDP daemon is not assigneng labels for link local ipv4 address.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ *] Did you test it on the latest FRRouting/frr master branch?

**Expected behavior**
Assigning labels from the address space.

**Versions**
 - OS Kernel: [Linux] [5.8.14-arch1-1]
 - FRR Version: [frr-7.4-dev-964-g7

[2020-10-09 23:38] #6477 closed

[2020-10-12 01:28] #7141 closed

[2020-10-12 06:56] kruisdraad opened #7280 "Reloading filters causes BGP to terminate"
We have a large amount of filters. Reloading them with:

no ipv6 prefix-list prefix6-xxxxx
ipv6 prefix-list prefix6-xxxxx seq 1 permit xxxxx::/32

etc total filter is about 500 lines. The loading is being done by a CLI command:

vtysh -f /opt/output/filters_2020-10-12-0818.conf

This CLI command completes and BGP is remapping all the routes based on the new filters (soft reconfiguration is enabled

[2020-10-12 09:00] hansengao opened #7281 "there is a problem when i compile on mips32"
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... unsupported
checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... no
checking whether to build shared libraries... no
checking whether to build static libraries... yes
checking how to run the C++ preprocessor... g++ -E
checking for ld

[2020-10-12 10:22] donaldsharp commented on #7281
What is your configure line?

[2020-10-12 10:42] hansengao commented on #7281
thanks , my conifigue is

def build_frr_configure pre, envs, flags
    c = " ../frr/configure"
    c += " --host=#{pre}-linux"
#    c += " --host=mipsel-linux"
    c += " --build=x86_64-unknown-linux-gnu"
    c += " --prefix=/usr"
    c += " --sysconfdir=/etc"
    c += " --localstatedir=/tmp"
    c += " --sharedstatedir=/tmp"
    c += " --enable-user=root"
    c += " --enable-group=root"
    c +=

[2020-10-12 10:49] hansengao commented on #7281
../frr/configure --host=mipsel-linux --build=x86_64-unknown-linux-gnu --prefix=/usr --sysconfdir=/etc --localstatedir=/tmp --sharedstatedir=/tmp --enable-user=root --enable-group=root --program-prefix="" --disable-libtool-lock --disable-vtysh --disable-doc--enable-shared --enable-zebra --enable-bgpd --enable-ripd --enable-ospf6d --enable-ospfd --enable-vrrpd --enable-isisd --disable-ospfapi --disa

[2020-10-12 10:55] donaldsharp commented on #7281
let's try changing `--enable-shared` to `--enable-shared=yes`

[2020-10-12 11:04] hansengao commented on #7281
thanks , also have problem:

checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... unsupported
checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... no
checking whether to build shared libraries... no
checking whether to build static libraries... yes
checking how to run the C++ preproces

[2020-10-12 11:05] hansengao commented on #7281
change to --enable-shared=yes

[2020-10-12 11:09] donaldsharp commented on #7281
re-reading the messages let's also add `--enable-static --enable-static-bin`

[2020-10-12 11:14] hansengao commented on #7281
thanks , add --enable-static --enable-static-bin

checking for ld used by g++... /opt/mscc/mscc-brsdk-mips-2018.02-011/stage2/smb/x86_64-linux/bin/mipsel-linux-ld -m elf_x86_64
checking if the linker (/opt/mscc/mscc-brsdk-mips-2018.02-011/stage2/smb/x86_64-linux/bin/mipsel-linux-ld -m elf_x86_64) is GNU ld... no
checking whether the g++ linker (/opt/mscc/mscc-brsdk-mips-2018.02-011/stage2/smb/x86_

[2020-10-12 11:22] mobash-rasool commented on #7120
10.254.0.1 IP is configured on some other router with router-id as 10.254.0.1. This is received LSA. You can check if the same IP is configured somewhere else as well.

[2020-10-12 11:34] donaldsharp commented on #7280
what version of FRR?  Are you using systemd?

[2020-10-12 11:41] kruisdraad commented on #7280
Version 7.3.1-1+frr1~ubuntu20.04.1
with systemd yes

[2020-10-12 11:54] eugeneai commented on #6378
Hi!
The assertion fail still exists in v 7.4.

[2020-10-12 11:56] donaldsharp commented on #7280
As a workaround for the moment, can you turn on `watchfrr ignore bgpd` right before you reload the route-map information.  Turning it off immediately after would be the right approach `no watchfrr ignore bgpd`.  I'd also like to get a perf report on what is going on on your system.  Could you gather this data:

https://github.com/FRRouting/frr/wiki/Perf-Recording and create a svg graph for us?  If

[2020-10-13 10:05] Paikanx opened #7292 "EVPN over MPLS / RT-1 mpls label issue"
---------------
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**Describe the bug**
Hello, not sure if it's a bug or simply something that is not implemented yet.
We are currently testing using FRR as Route Reflector for EVPN/MPLS.
It works well as long as there is no ES used in the network. When ES is involved (either Single-homed o

[2020-10-13 13:32] dslicenc opened #7297 "adding prefix-list or access-list without a sequence number duplicates configuration"
When entering an access-list or prefix-list configuration without a sequence number more than once, multiple entries are added to the config with incrementing sequence numbers.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Enter an access-list or prefix-list command without a seq

[2020-10-13 15:19] qlyoung commented on #7253
Please use the issue template in the future.

[2020-10-13 17:23] pjdruddy commented on #7292
EVPN-MPLS is not currently supported but it's something I'm working on. I ssupect there is some VXLAN-based check that is going on in your reflector which is causing these routes to be binned. If you get a moment could you attach bgp logs for the failiing period, perhaps with `debug bgp zebra` enabled and maybe we can fix it for the RR case.

[2020-10-13 18:47] devicenull opened #7299 "Static routes go missing after interface flaps"
This is with 30a276f3c144b3f1b2eba25d9b2bdc0a1cd6049a on CentOS 7 (running 3.10.0-1127.19.1.el7.x86_64)

[code]

You'll note the 10.20.20.0/24 route goes missing from FRR, even though the kernel still knows about it.

[code]

[2020-10-13 19:09] sworleys commented on #7299
to be clear this is a kernel route we are losing right, not staticd configured route?

[2020-10-13 19:10] sworleys commented on #7299
if so, could you change the title to "kernel" route

[2020-10-13 20:21] devicenull commented on #7299
Yea, it's a kernel route (not staticd)

[2020-10-14 08:06] Paikanx commented on #7292
Hello,

Thanks for your answer, below is the output of various debug commands (including those you asked). As far as i can see, '_debug bgp zebra_' send no output:

[code]

[code]

[2020-10-14 14:52] toddam310 opened #7305 "/31 point-to-point IPs don't work"
FRR Version: 7.3.1
Debian Linux v9
---------------

This one is pretty simple, but I can't find a solution anywhere.  We are trying to use /31 subnets on point-to-point connections between FRR and our edge routers.  This is something the routers can do no problem, but when I try to ping the FRR interface from my router, I get no response and then if I try to ping the router from FRR, FRR says "Do

[2020-10-14 16:03] KaushikNiral opened #7307 "ospf6 : Support for NSSA"
We are implementing the following.

1. Adding area as NSSA.
2. NSSA translator functionality.
3. Converting Type 7 to Type 5 ( NSSA ABR)

The implementation will be based as per section https://tools.ietf.org/html/rfc5340#section-3.3  and  (RFC 3101).

[2020-10-14 19:34] netravnen commented on #7305
On 14/10/2020 16:53, toddam310 wrote:

What about configuring the interface as OSPF P2P?

http://docs.frrouting.org/en/stable-7.3/ospfd.html#clicmd-ipospfnetwork(broadcast|non-broadcast|point-to-multipoint|point-to-point)

[2020-10-14 19:46] toddam310 commented on #7305
With a /31 on the interface, ospf point-to-point doesn't form an adjacency.  We don't built our point-to-points with /32 and unnumbered.  Will that extend to BGP, allowing BGP peering?

We'd prefer for it ot work according to RFC 3021.

[2020-10-14 19:59] taspelund commented on #7305
What does the interface look like from outside FRR? (`ip addr show enp130s0f0.929`)
Does ping work from outside FRR?

[2020-10-14 21:55] thongal-frr commented on #6921
Hi Quentin,

Thanks for detailed analysis.
I will try these options and get back to you.

Thanks

On Thu, Oct 8, 2020 at 3:35 PM Quentin Young <notifications@github.com>
wrote:

[2020-10-15 06:09] mobash-rasool opened #7313 "ospf6: Support max-path CLI feature for OSPFv3"
Add maximum-paths feature to ospfv3 which will give the user to control the number of ECMPs to download to Zebra.

New CLI to be added:
Rtr-1(config-router)# maximum-paths
  (1-64)  Number of paths

[2020-10-15 06:09] mobash-rasool commented on #7313
I will be implementing this feature. Please assign it to me.

[2020-10-15 13:36] ossark opened #7316 "reload will not remove old route-maps"
**Describe the bug**
When changing the frr.conf (unified config) any already existing route-maps will not be removed if they are missing from the new config.

(put "x" in "[ ]" if you already tried following)
[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**Expected behavior**
Config not in frr.conf will not be present in running con

[2020-10-15 15:10] sworleys commented on #7299
@devicenull this commit would cause the route to be removed due to the interface down event. We need to know where it broke from coming back. Is it also this commit?

From reading the comment history, this commit was used to address the `kernel not sending ROUTE_DELETE on ifdown` anymore that has been a thorn in our side for a while as you know... it shouldn't break the behavior for ifup.

[2020-10-15 15:17] devicenull commented on #7299
Yes - prior to that commit the route came back just fine.

I was bisecting with this test case:

[code]

[2020-10-15 15:26] sworleys commented on #7299
well thats flabbergasting. out of curiosity were you able to repro this on a new kernel? kinda smells like a kernel bug.

Maybe I am missing it in the logs, but i dont ever see a NEWROUTE message from the kernel? Do you see it?

[2020-10-15 15:27] sworleys commented on #7299
you could use `ip monitor route` to verify

[2020-10-15 15:32] devicenull commented on #7299
This is on 3.10.0-1127.19.1.el7.x86_64 (default cent7 kernel)

[code]

Let me grab a newer kernel

[2020-10-15 15:35] c-po opened #7319 "route-map error "not a local address" when interface link is down"
**Describe the bug**
Using FRR route-maps it is required that the interface used for the `set src` statement is up.
This assumption is not optimal as this blocks link maintenance work.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. Configure an interface and configure it in either admin-down state or operational

[2020-10-15 15:38] sworleys commented on #7299
try this on the box you are seeing it though and post here

[2020-10-15 15:40] devicenull commented on #7299
This is on `5.9.0-1.el7.elrepo.x86_64`

[code]
That's while running the test case script above.  Corresponding zebra output:

[code]

[2020-10-15 15:59] sworleys commented on #7299
This one is going to require some deeper investigation... I was able to repro just a moment ago. I think we may be making some incorrect assumptions somewhere about how kernel routes and interface events along with what messages we should be receiving from the kernel.

Specifically, it looks like the kernel doesn't remove the route for link going down on the other side but FRR does. And I think th

[2020-10-16 15:25] deastoe opened #7326 "vtysh marking is ordering dependent (affecting frr-reload)"
**Describe the bug**
The behaviour of `vtysh -m` can differ based on the ordering of sections in input configuration file. Since frr-reload.py marks all input files this can cause a failure to reload a valid configuration (particularly if the new configuration has already been marked correctly, as these are stripped).

For example, this snippet:
[code]
is not marked correctly:
[code]
because vtysh

[2020-10-16 15:55] Spantik opened #7328 "Add topotest for ACL wildcard fixes"
Topotest required for https://github.com/FRRouting/frr/pull/7235. Since release is blocking due to PR https://github.com/FRRouting/frr/pull/7235 and Issue https://github.com/FRRouting/frr/issues/7234 will go ahead without topotest for now.

[2020-10-16 15:58] #7234 closed

[2020-10-16 18:08] idryzhov opened #7332 ""ip route" commands don't work properly with "table" parameter"
**Describe the bug**
[code]

The second `ip route` command with a different `table` parameter rewrites
the first one, however, both routes stay in both routing tables.
After removing the single remaining "ip route" command, the first route
still stays in the routing table.

**Versions**
 - OS Kernel: Linux 4.15
 - FRR Version: master

[2020-10-16 20:02] mjstapp commented on #7176
nope, different problem

[2020-10-16 20:02] #7176 closed

[2020-10-16 21:40] mjstapp commented on #7149
Should be fixed by #7333 (master) and #7334 (7.5)

[2020-10-17 15:48] birdofprey opened #7338 "frr7.3.1 ospfd don't nework a.b.c.d/M area X"
os:Debian Gnu/Linux 10
frr: 7.3.1
error:
localhost.localdomain(config)# router ospf 200
localhost.localdomain(config-router)# network 192.168.15.0/24 area 0
The network command is not supported in multi-instance ospf

Current configuration:
!
frr version 7.3.1
frr defaults traditional
hostname localhost.localdomain
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
inter

[2020-10-17 19:52] donaldsharp commented on #7338
Only run instance ospf if you intend to have more than one instance of ospf going at the same time, else use `router ospf` and the network statement.  This behavior is normal behavior for FRR in ospf as that if you run multiple instances of ospf they must be in different process space and as such there is no way to ensure that network statements don't over lap.

instances of ospf require that you

[2020-10-17 23:34] moorereason opened #7339 "Document BGP neighbor timers configuration option"
**Describe the bug**
The BGP docs do not mention that neighbor timers are supported.

**To Reproduce**
Search for `timers` in [`master`](https://github.com/FRRouting/frr/blob/0894afd4cf49511be5ac68f36115ca6acf6a5707/doc/user/bgp.rst).

**Expected behavior**
Expected to find something similar to:

[code]

[2020-10-17 23:35] birdofprey commented on #7338
trank you for help me !!!
How to understand non-instance ospf vs instance ospf ??

[2020-10-18 01:22] bmhughes commented on #6378
Same here, still getting this on 7.4 and master under freebsd and linux. I've applied the patch from https://github.com/ocochard/BSDRP/commit/13e1da5fa1c3f3c0b0a3ad4a265e011186215592 and it seems to be stable so far.

[2020-10-18 12:29] #7149 closed

[2020-10-18 16:49] micron10 opened #7342 "Bug when shoe ip interfacce in vtysh and pppoe customer"
with latest tar and when connect users with pppoe
in show ip interface :

 show interface  brief "

[code]

but real ip of customer is 192.168.x.x
[code]

The problem is show ip interface show wrong ip inet ip not peer ip

[2020-10-19 03:35] imzyxwvu commented on #6862
I have encountered the same issue. Any progress?

[2020-10-19 19:56] rzalamena commented on #6862
I think this issue might be resolved with #6508 or #7192 . The changes from these PR were backported to FRR 7.4 and 7.5.

Can you try and report back with FRR built from branches `stable/7.4`, `stable/7.5` or `master`, please?

[2020-10-20 09:32] vijaykug opened #7347 "(S,G) Prune not received on FHR"
Issue -
CI/CD for pull req #7126 is failing after rebase
On further debugging found that , Prune is not sent from RP (R2)to FHR (R3) node , because of that FHR (s,g) mroute is having OIL towards R2 (RP) and R1 (LHR) , this is causing duplicate multicast traffic  on LHR  ( Traffic received via RPT and SPT path)

It looks to be regression  , pull request #7126 was submitted on sep15, that time all t

[2020-10-20 11:02] vishaldhingra commented on #7347
Please assign this issue to me. (vdhingra)

[2020-10-20 15:28] qlyoung commented on #7342
Can you please provide the rest of the information that's explicitly asked for in the bug report template, specifically your OS and kernel version?

[2020-10-20 15:30] micron10 commented on #7342
Os is Ubuntu 20.04 server , kernel 5.9.1

On Tue, Oct 20, 2020, 18:28 Quentin Young <notifications@github.com> wrote:

[2020-10-20 15:34] odd22 commented on #7305
I confirm the problem. I try several time to setup /31 IPv4 address on FRR without luck. This work perfectly on Cisco or Juniper routers.

But, I'm not sure it is an FRR problem. I think it is more a Linux limitation. Currently, I'm testing DANOS 2009 on an Edge-Core devices with /31 and FRR v7.3.1 with OSPF perfectly running. IP address is setup to the Broadcom ASIC through a linux switch, so not

[2020-10-20 16:06] toddam310 commented on #7305
I do see the same thing in when I drop down to linux, so I agree it's more a linux issue than an FRR issue.  Here is the kernel version for my box "Linux version 4.9.0-13-amd64" and we are running Debian Buster.

[2020-10-20 16:12] pushpasis commented on #7280
@donaldsharp This could be candidate for batching of configs. I maybe wrong. But I am investigating batching of show commands in scale scenario under Northbound project. And this seems to be suggesting that we need to batch large configs as well.

[2020-10-20 16:56] taspelund commented on #7305
The message seen from the ping comes from a `broadcast` route in the `local` table.

If I create a dummy interface and add a /31 to it via iproute2, then there is no broadcast route created.  If I then manually create the broadcast route, trying to ping the remote side displays this message:
[code]

I suspect the issue here is FRR adds a broadcast route when configuring ip addresses with a /31 mas

[2020-10-20 20:13] cardosocristian opened #7355 "OSPFv3 areas support"
I don't have a bug to report but a question

Is there a roadmap to support stub areas in OSPFv3?

[2020-10-21 07:33] erpgme opened #7357 "PIMREG interface not getting created"
Hello to the respected members,

I am trying to use FRR (5.0) PIM on linux platform. However, on my target, pimreg interface is not coming up after giving the command "ip pim sm". The pim log shows that the setsockopt (of pim_mroute_add_vif) failed with -5 as :

2020/10/01 00:01:42 pimd 5.0 starting: vty@2611
2020/10/01 00:01:42 PIM: pim_if_create_pimreg : going to call if_create for pimreg, vrf_i

[2020-10-21 11:36] erpgme commented on #7357
Hello again,

To add to the issue#7357, the following troubleshooting:

1. show ip pim interface
-------------------------------
Interface  State          Address  PIM Nbrs           PIM DR  FHR IfChannels
pimreg      down          0.0.0.0         0            local    0          0
eth1          up         192.168.1.40         1            local    0          0

2. show ip pim neighbor
-----------

[2020-10-21 14:34] brotherdust commented on #2236
@maduri111 Just checking in! Have you made enough progress that I can begin working on docs?
Thanks much!

[2020-10-21 21:18] sarkoziadam opened #7359 "SNMP support for RPM packages"
---------------

**Describe the bug**

[ x ] Did you check if this is a duplicate issue?
[ x ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Installing binaries from this page: https://rpm.frrouting.org
Changing this line: ospfd_options="  -A 127.0.0.1" to ospfd_options="  -A 127.0.0.1 -M snmp"
After restart frr service, the ospf service dont started.

**Solution:**

[2020-10-22 09:30] zhanggongc opened #7362 "function definition question in FRR ospfv3"
spf calculation function has been using vertex refer functions like :
vertex_pqueue_add()
vertex_pqueue_pop()
![image](https://user-images.githubusercontent.com/58503468/96852710-0d892200-148c-11eb-8d81-80f670453455.png)

but i can't find these functions' definition files in FRR, who can tell me where can we see  these functions' definition ?

[2020-10-22 11:40] zhanggongc opened #7363 "vtysh running reports error after add one new command in ospfd code files"
FRR report error when running:
![image](https://user-images.githubusercontent.com/58503468/96866327-be4bed00-149d-11eb-9c9e-038446f11248.png)

my added code in file ospf_vty.c is following:
![image](https://user-images.githubusercontent.com/58503468/96866662-34505400-149e-11eb-8704-66af2399a812.png)

so please tell me what is the meaning of report error  ? how to fix it  ?

[2020-10-22 12:11] rzalamena commented on #7363
The error `Ran out of docstring while parsing ...` happens because the `DEFUN`s you pointed out don't have doc string for the command word `calculation`.

The rule is: for each word in the command you must provide a doc string (for more info look here: http://docs.frrouting.org/projects/dev-guide/en/latest/cli.html#defining-commands ).

Also you might want to run a spellchecker to correct some wor

[2020-10-22 12:46] zhanggongc commented on #7363
@rzalamena   thanks for your points. I will check every word repeatedly.

[2020-10-22 14:25] zhanggongc commented on #7363
@rzalamena   I have modified cmd spellword just now , it didn't report first error .
but still reports Unknown command:
![image](https://user-images.githubusercontent.com/58503468/96885772-7f299600-14b5-11eb-8a4c-c80240a166dd.png)

[2020-10-22 14:28] zhanggongc commented on #7363
![image](https://user-images.githubusercontent.com/58503468/96886162-e5161d80-14b5-11eb-8a48-a2ce44d0e666.png)

[2020-10-22 14:44] donaldsharp commented on #7363
I would suggest this conversation be moved to the FRRouting slack.  We can discuss this faster and easier there.

[2020-10-22 17:24] KaushikNiral commented on #6341
Closing this issue. It is fixed by PR #6821

[2020-10-22 17:24] #6341 closed

[2020-10-22 17:26] KaushikNiral commented on #6382
Closing this issue. It is fixed by PR #6821

[2020-10-22 17:26] #6382 closed

[2020-10-22 17:31] KaushikNiral commented on #6896
Closing this issue. It is fixed by PR #6987

[2020-10-22 17:31] #6896 closed

[2020-10-22 22:10] woshka opened #7373 "FRR is running but zebra is not running"
I have installed the FRR through the guidelines but I get Error Zebra is not running
I also enabled all the services to yes but still cant run any of them such as bgp
show ip route
zebra is not running

[2020-10-22 22:35] sworleys commented on #7373
please follow the issue template. we need that info if you actually want us to help.

attach any logs you can provide as well.

frr.log, zebra.log, frr service logs, etc.

[2020-10-23 11:16] topranks commented on #5965
I don't want to re-open, but if it helps we hit this issue - problem was permissions on the /var/agentx directory itself, which was owned by root and 700.  Changed to 777 and all working.

[2020-10-23 18:32] qlyoung commented on #5965
Probably worth adding as a troubleshooting note to the docs, I don't think there's anything we need to do here specifically right?

[2020-10-23 19:12] qlyoung commented on #7362
[code]
They are generated by the skiplist declaration macro

[2020-10-23 19:12] #7362 closed

[2020-10-23 20:32] qlyoung commented on #6378
@odd22 did we ever merge the patch for this into our tree?

[2020-10-23 23:49] eugeneai commented on #6378
I've checked the master branch of FRRouting (tried to apply the patch, all hunks have failed, and I checked also visually), the patch has been already included.

[2020-10-24 09:01] topranks commented on #5965
No not at all, once the permissions on /var/agentx are set up so FRR can access it it works fine.  Nothing within the FRR config files has to change.

[2020-10-24 13:47] alaunay commented on #7305
Same thing here with frr 7.3.1. It seems very much like this bug:
https://github.com/FRRouting/frr/pull/4773

A workaround might be
ip address localip peer distantip/32

At least, the routers discuss, but I suspect it has some side effects...

2020/10/24 15:43:48 ZEBRA: Extended Error: Invalid flags for nexthop - PERVASIVE and ONLINK can not be set
2020/10/24 15:43:48 ZEBRA: [EC 4043309093] netlin

[2020-10-25 04:49] bbs2web commented on #5733
Covid took me away from this project for a long time but I would really like to provide the information developers require...

All instances that we run LDPD on exhibit this behaviour, but take 4-7 days before one thread starts consuming 100% CPU.

Problematic process appears to be 'ldpd -E':
[code]

[2020-10-26 05:05] erpgme commented on #7357
Hello respected members,

I was able to resolve this issue, hence closing it.

Thanks and regards

[2020-10-26 05:05] #7357 closed

[2020-10-26 10:46] ak503 opened #7386 "[EC 100663301] INTERFACE_VRF_UPDATE"
Hello!
When i work with vrf i get next:

<pre>
2020/10/26 13:08:52 OSPF: [EC 100663301] INTERFACE_VRF_UPDATE: Cannot find IF fake in VRF 0
2020/10/26 13:08:56 OSPF: [EC 100663301] INTERFACE_VRF_UPDATE: Cannot find IF fake in VRF 8
</pre>

<pre>
# uname -a
# Linux u1-VirtualBox 4.15.0-96-generic #97~16.04.1-Ubuntu SMP Wed Apr 1 03:03:31 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
</pre>

steps:
1: Crea

[2020-10-26 10:48] ak503 commented on #7386
It is  info message or error message?

[2020-10-26 14:22] brotherdust commented on #3099
@qlyoung @pguibert6WIND
Is.. anyone still working on this? It's a useful feature. My use-case is that I want to build a topology graph from the output of this command. Having it in JSON would make it a LOT easier than screen-scraping it.

[2020-10-26 16:32] qlyoung commented on #7363
Yeah, this issue tracker is for bugs, not questions about how to write FRR code.

[2020-10-26 16:32] #7363 closed

[2020-10-26 16:58] qlyoung commented on #6378
Hmm, okay. I want to make sure we resolve this for 7.5. @bmhughes @kooky @zBeeble42 can you guys confirm you no longer see this problem with a build off of our master branch?

[2020-10-26 16:59] qlyoung commented on #7373
Nothing we can do here if you don't provide the information explicitly required by the issue report template.

[2020-10-26 16:59] #7373 closed

[2020-10-26 21:37] bmhughes commented on #6378
@qlyoung it'll take me a couple of days to be able to do it but I'll get a test build off when I've got chance and will report back.

[2020-10-26 21:37] mroy31 opened #7391 "VRRP : router in backup mode does not forward packets"
[x ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

While testing VRRP support in FRR, I tried a topology that does not seem to work.
The topology is described below (/24 is used for 2 subnetworks)

[code]

I activate VRRP on the 2 subnetworks with the following configuration
  - On the left : VRRP Id 1, IPv4 address 19

[2020-10-27 00:54] sabik opened #7392 "deb.frrouting.org vanished?"
From the README:

However, the deb.frrouting.org domain name doesn't appear to exist.

[2020-10-27 01:07] sabik commented on #7392
BTW, as a work-around, I've been able to use https://deb-us.frrouting.org

Nevertheless, either the deb.frrouting.org domain name should be fixed or the documentation should be updated.

[2020-10-27 07:08] kn0rki commented on #7392
for me the domain exist - but the ssl certificate is issued to pkg.frrouting.org

[2020-10-27 07:57] sabik commented on #7392
I'm still getting NXDOMAIN; what other information would be useful to diagnose this?

In addition to getting NXDOMAIN from my default nameservers (both at home and at work), I also get no answers from ns1.dnsimple.com or 8.8.8.8

Not sure what else I could try to help diagnose the issue...

[2020-10-27 15:22] sworleys commented on #7386
this error is generally safe to ignore as long as the final state is good

[2020-10-27 16:01] mobash-rasool commented on #7355
We are going to implement stub area for ospfv3

[2020-10-27 16:03] taspelund commented on #7391
Does setting the kernel sysctl knob `ignore_routes_with_linkdown` on your transit interfaces (on R2) affect this behavior?
e.g.
`sudo sysctl -w net.ipv4.conf.eth0.ignore_routes_with_linkdown=1` # (use this on all 4 interfaces, not just eth0)

[2020-10-27 18:07] mroy31 commented on #7391
Yes, this setting fixes the problem for my case. Now the FIB of R2 looks like this:

[code]
Thanks for the trick, I do not know this kernel setting. Since, it seems to be at 0 by default, is it possible to complete the vrrp documentation or perhaps better to modify this setting when we activate VRRP on an interface ?

[2020-10-27 18:55] qlyoung commented on #7391
Yeah this needs to be documented. It's surprising to me also.

[2020-10-27 23:10] sabik commented on #7392
Looks like it's back today:
[code]

[2020-10-27 23:10] #7392 closed

[2020-10-28 01:30] #7061 closed

[2020-10-28 01:32] arunacha1678 commented on #7392
libyang-dev_0.16.105-3~ubuntu18.04.1_amd64.deb file also vanished from this location  https://deb-us.frrouting.org/frr/pool/frr-stable/liby/libyangg
/libyang-dev_0.16.105-3~ubuntu18.04.1_amd64.deb

[2020-10-28 01:33] arunacha1678 opened #7400 "file vanished"
The file is vanished..

 https://deb-us.frrouting.org/frr/pool/frr-stable/liby/libyangg
/libyang-dev_0.16.105-3~ubuntu18.04.1_amd64.deb

[2020-10-28 09:44] FlorentCoppint opened #7401 "Deb packages signing key"
Hi,
Last night, my automated deb repository mirror refused to sync with deb.frrouting.org because signing key wasn't unknown.
I allow keys from "https://deb.frrouting.org/frr/keys.asc" (which is announced in index page).
And my system detected E5385459A6207F13 as signing key.
What is this key ?
Thank you.

[2020-10-28 11:38] ylopez opened #7403 "Default route learnt via RIP in VRF not added to routes"
### Describe the bug
I configure RIP on an interface in a VRF. When, I receive a RIP packet containing the default route on this interface, the default route is not added to the VRF routing table.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

### To Reproduce
Steps to reproduce the

[2020-10-28 11:40] donaldsharp commented on #7403
`show ip rip vrf ROUTER` output?

[2020-10-28 11:45] ylopez commented on #7403
added in initial post

[2020-10-28 11:52] donaldsharp commented on #7403
you have the static route redistributed into rip, I would remove that as I suspect it will win as that local routes typically win in dvrp's.

[2020-10-28 11:53] donaldsharp commented on #7403
[code]

[2020-10-28 11:56] donaldsharp commented on #7403
and then if we redistribute kernel for me:
[code]

[2020-10-28 14:15] Jafaral commented on #7401
@FlorentCoppint, please reload https://deb.frrouting.org/frr/keys.asc  and let me know if the issue persists.

[2020-10-28 14:17] kruisdraad commented on #7280
initially i thought it happends because of the NO statement reloading everything, but adding a single permit to the map under a new sequence also trigers this. The adding goes fine, however if you so a show ip bgp sum or a advertised prefixes the command hangs for a while and after 2 mins or so everything dies.

So i had enabled SNMP agentx, but it seems buggy and doing weird stuff, so i now disab

[2020-10-28 15:17] FlorentCoppint commented on #7401
It works thanks

[2020-10-28 15:17] #7401 closed

[2020-10-28 15:23] Jafaral commented on #7400
It was replaced by a newer version : libyang-dev_1.0.184-2~ubuntu18.04_amd64.deb

https://deb-us.frrouting.org/frr/pool/frr-stable/liby/libyang/libyang-dev_1.0.184-2~ubuntu18.04_amd64.deb

[2020-10-28 15:55] JackSlateur opened #7405 "vxlan evpn: type-5 not installed in the FIB"
Hi,

Frr never installs evpn type-5 into the FIB

The setup: a bgp session with another host (not frr), exchanging the VTEP endpoint and evpn informations
BGP status:
[code]

[code]

A single type-5 route is received, as excepted, in the RIB:
[code]

However, nothing is actually installed on the fib:
[code]

The full configuration:
[code]

Am I missing something ?
Thank you for the support

Frr ve

[2020-10-28 16:15] taspelund commented on #7405
I don't think `vrf-policy` is the config you want.

Try this instead:
[code]

[2020-10-28 17:14] pushpasis commented on #7280
@kruisdraad "The adding goes fine, however if you so a show ip bgp sum or a advertised prefixes the command hangs for a while and after 2 mins or so everything dies." -- Is this right after adding the single commit? Or anytime after? In Vmware we have seen this behaviour with large prefix-scale.

[2020-10-28 17:35] JackSlateur commented on #7405
@taspelund Sadly, I get the same behavior

[2020-10-28 17:43] taspelund commented on #7405
Can you show me the Linux bridge/vxlan config for your L3VNI?

[2020-10-28 17:55] kruisdraad commented on #7280
@pushpasis yes, so its still heavily busy recalculation routes. It is running in a VM, but Qemu/KVM not vmware. The prefixlist(s) that were editted had ~25 ipv4 and ~40 ipv6 in them and are part of the export policy, so it affects all the peers on the exported table.

[2020-10-28 21:30] JackSlateur commented on #7405
@taspelund Here is the whole running state:
[code]

The config:
[code]

[2020-10-28 21:41] rzalamena commented on #6862
I think this bug is fixed when using FRR with the commits I mentioned in the previous post, but if not feel free to comment/re-open this issue.

@polychaeta autoclose in 1 week

[2020-10-28 21:45] rzalamena commented on #1907
I think this is already fixed... Will autoclose in 1 week if no responses.

@polychaeta autoclose in 1 week

[2020-10-28 21:49] #2621 closed

[2020-10-28 21:52] rzalamena commented on #2228
topotest now complains when there are memory leaks, so I think it is safe to close this.

[2020-10-28 21:52] #2228 closed

[2020-10-28 21:54] rzalamena commented on #3065
topotest will complain if address sanitizer finds something, so I think it is safe to close this.

[2020-10-28 21:54] #3065 closed

[2020-10-28 21:57] rzalamena commented on #2972
Some Mac OS X related PRs for history completeness:

- https://github.com/FRRouting/frr/pull/6032
- https://github.com/FRRouting/frr/pull/6034

[2020-10-28 21:57] rzalamena commented on #2813
I didn't see this problem anymore, it is fixed.

[2020-10-28 21:57] #2813 closed

[2020-10-28 22:28] taspelund commented on #7405
Ok. You also should add the following config to designate VNI 5 as the L3VNI for vrf vrf_evpnzone:
[code]

If that doesn't work, can you please attach the output of `show ip bgp vrf vrf_evpnzone` and `show ip route vrf vrv_evpnzone`

[2020-10-29 01:56] pprindeville opened #7409 "route-map / set src disappearing on linux"
**Describe the bug**
I'm trying to use route-map/set src but while the configuration is accepted, it silently disappears with no errors.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

Configure an OSPF router, a route-map/set src pair, and apply the route-map to OSPF.

1. Create a trivial configuration with OSPF, a

[2020-10-29 02:05] pprindeville commented on #7409
A little more debugging:

[code]

[2020-10-29 03:02] cupide1991 opened #7410 "I used "table X" command in quagga 1.2.4,but now in FRRouting 7.3.1,table command disappeared,wondering how can I config now to target linux routing table?"
- OS Version:Ubuntu 16.04

 - Kernel:4.9.39

 - FRR Version:7.3.1

In our production environment，we use quagga 1.2.4 to broadcast bgp router，and zebra use "table command" to config bgp router to target linux routing table.
[code]
Now wo prepare to replace quagga to FRRouting,but we find there is no table command with zebra in Frrouting
[code]

So I commit this issue to ask how can i config zebra w

[2020-10-29 03:29] hansengao opened #7411 "configure: error: libyang (>= 0.16.105) was not found on your system"
when i compile the 7.4 on mips , i get error
but the libyang already in /home/vitesse/frr7.4/build/zebra_only/mips/root/usr/include/

---------------------error list-------------------------------------------
checking for struct if_data.ifi_link_state... no
checking for netinet/tcp.h... yes
checking whether TCP_MD5SIG is declared... yes
checking for crypt in -lcrypt... yes
checking for res_init in

[2020-10-29 04:47] pprindeville commented on #7409
Confirmed with 7.4 as well.

[2020-10-29 09:01] ylopez commented on #7403
thank you, removing the static route to default was the solution. Now, it appears in the RIP routing table.

[2020-10-29 10:03] JackSlateur commented on #7405
@taspelund Here:
[code]

[2020-10-29 12:04] taspelund commented on #7405
`show vrf` and `show vrf vni` please

[2020-10-29 12:12] bmhughes commented on #6378
I've only tested under FreeBSD (pfSense) but `master` doesn't crash.

My only concern with making that statement is that the crash behaviour was dependant on the state of the OSPF database at the time, it didn't always crash for me then a reboot or service restart would trigger it. When it was triggered with just FRR neighbors it wouldn't crash but having other vendors (CSR1000v/vSRX in this case)

[2020-10-29 13:14] thilse commented on #7042
I have similar problems with ospfd crashing (leaving invalid configuration terms) when I modify route-maps needed for configuration of the bgpd daemon.  I am using frr7.4 under freebsd 12.1 in my production environment.

I can reproduce the issue reported by "dl001" in my test setup: frr7.4, freebsd 12.2 running under qemu.

So may be the problem is OS dependant? (Remark: I could not reprduce the

[2020-10-29 13:29] JackSlateur commented on #7405
[code]

[2020-10-29 13:37] taspelund commented on #7405
Can you try `ip link set vxlan-bridge up` and `ip link set vxlan5 up` and see if that helps?

[2020-10-29 13:39] JackSlateur commented on #7405
I get the same behavior (sh vrf vni -> Down)

[2020-10-29 13:43] taspelund commented on #7405
Is vrf_evpnzone up too? If not, can we set that interface up as well?
We shouldn't be seeing down in that output, so I want to make sure vrf_evpnzone, vxlan5 and vxlan-bridge are all up

[2020-10-29 13:46] JackSlateur commented on #7405
vrf_evpnzone is up too:
[code]

If I reup it (`ip l s vrf_evpnzone up`), sh vrf vni is still down :/

[2020-10-29 14:24] taspelund commented on #7405
From vtysh can you get the output of `show int brief` ?

[2020-10-29 14:26] JackSlateur commented on #7405
Yep:
[code]

[2020-10-29 15:00] kooky commented on #6378
ospf v6 still crashes on the master branch.

I'm sure it was fixed before, so maybe a different problem.

Built from. 502dd27af98c46d20f82c43a3e2d80db53128782

console log

debian(config-ospf6)# interface eth0 area 0
debian(config-ospf6)#
debian(config-ospf6)# exit
debian(config)# exit
Warning: closing connection to ospf6d because of an I/O error!
Warning: connecting to ospf6d...failed!
debian#

s

[2020-10-29 15:05] donaldsharp commented on #6378
Can we get the full set of what you typed in?

[2020-10-29 16:17] acasualpenguin opened #7416 "Possible Malformed Packet Bug for bgpd on frr"
---------------

**Describe the bug**

Hello, I have opnsense with the frr plugin running on some intel server hardware and was toying around with some malformed packets. A few packets I found cause the bgpd proc to crash and from what I can tell the only way it restarts is manually.

I was wondering if this was known. I haven't seen mention of anything of the sort on frr or openbgp.

[ ] Did you

[2020-10-29 16:50] qlyoung commented on #6378
Probably the same as the crash demonstrated on May 11

[2020-10-29 19:05] taspelund commented on #7405
With the config you have and the interfaces all up, I'd expect that output in `show vrf vni` to show Up.  I suspect that the output is reflecting the state of the VRF instance of BGP, and with that instance down there's no way for routes to be imported into vrf_evpnzone.

Can you try with 7.4 release?  I know there's been a lot going on with EVPN as Multi-homing support is getting merged, so I wou

[2020-10-29 19:37] JackSlateur commented on #7405
Here, I've just built frr from the `frr-7.4` tag

Sadly, I get the same behavior: `show vrf vni` is Down

[2020-10-29 19:48] taspelund commented on #7405
In my setup, I am able to cause that entry in `show vrf vni` to appear "Down" by doing two different things:
1) setting the L3VNI down
2) setting the L3SVI down

When I set the L3VNI down I still see the RMAC present, similar to your output:
[code]

If I bring the L3VNI back up and drop the L3SVI (SVI/bridge), then I see the State is also down, but the Rmac info is gone:
[code]

Just based on the

[2020-10-29 19:51] taspelund commented on #7405
edited the requested output

[2020-10-29 21:25] JackSlateur commented on #7405
@taspelund
[code]

Can you paste your full network config, so that I try to find what is different with mine ?

[2020-10-29 22:07] taspelund commented on #7405
Here's the simplified version of mine (confirmed that the L3VNI still comes "UP" with this version):
[code]
[code]

I also tried moving my `vxlan-local-tunnelip` to a dummy0 interface and I shutdown the peers. In either case I still see State for the VRF appear UP.

Just as an FYI I'm using a dev (pre-release) version of Cumulus Linux, so the FRR version doesn't quite line up with upstream (7.4 or

[2020-10-30 07:11] mobash-rasool commented on #830
I can take this requirement and implement it.

[2020-10-30 09:28] Slepwin opened #7420 "TCP (BGP) sessions not established with passive iBGP peer | [FSM] TCP_connection_open_failed (Connect->Active)"
Versions:
OS: CentOS Linux release 7.7.1908 (Core)
Kernel: 3.10.0-1062.9.1.el7.x86_64
FRR: frr-7.4-01.el7.x86_64.rpm

Issue the same as on https://github.com/FRRouting/frr/issues/3241
FRR doesn't not try establish BGP connection with passive peer if have only default route (0.0.0.0/0).
With static /32 route to passive BGP peer via the same next hop as default all works good.

[2020-10-30 11:13] mobash-rasool commented on #7355
Hi @cardosocristian : I have checked the existing code, I can see that the below CLI is available in the latest master code:

FRR-4(config-ospf6)# area 0.0.0.0
  export-list  Set the filter for networks announced to other areas
  filter-list  Filter networks between OSPF6 areas
  import-list  Set the filter for networks from other areas announced to the specified one
  range        Configured addr

[2020-10-30 11:57] pierrecdn opened #7422 "bgpd statistics when total advertised prefixes = 1 incorrectly shows 0"
---------------

**Describe the bug**

I need to advertise more than 1 BGP prefix for the output of `show bgp [family] [unicast] statistics [json]` to be correct.

If I only advertise 1, statistics will always show 0, such as:
[code]

[X] Did you check if this is a duplicate issue? Did not find something obvious at first.
[] Did you test it on the latest FRRouting/frr master branch? Had a look at

[2020-10-30 12:32] cardosocristian commented on #7355
In router ospf ipv4, the config is

 network 10.10.10.10/32 area 0.51.0.1
 network 10.10.10.10/32 area 0.51.0.1
 network 10.7.150.0/24 area 0.51.0.1
 area 0.51.0.1 stub

on the ospf ipv6 router these configs did not work, and the frr documentation, says that stub zones have not yet been implemented.

[2020-10-30 12:34] mobash-rasool commented on #7355
can you try the below command and see if it works:

router ospf6
area 0.0.0.1 stub

[2020-10-30 12:35] mobash-rasool commented on #7355
And if it does not work, let us know the details so that we can help.

[2020-10-30 12:40] cardosocristian commented on #7355
I updated to version 7.4 and went up the neighborhood with the neighbors.

How do I advertise networks or IPs, in the same way that is done on the ospf router?

[2020-10-30 13:51] mwinter-osr commented on #6378
Trying to see how to reproduce this. Can someone who has this issue post the following info:
- Output of "zebra -v"
- Full config (feel free to swap sensitive info in it)
- version of related packages used to build FRR (clang, python, etc. A list of all installed packages with version would be ok too)

Also, I assume the crash happens immediatly and every time when OSPFv3 is enabled on an interfac

[2020-10-30 14:48] kooky commented on #6378
I'm pretty sure it has to see another neighbour to crash.

I have a reliably crashing setup when I add OSPF IPv6 to an interface.

I'll do some more tests later.

On 30/10/2020 13:51, Martin Winter wrote:

--
Tim Bray
Huddersfield, GB
tim@kooky.org
+44 7966479015

[2020-10-30 15:06] bmhughes commented on #6378
It definitely needs to form an adjacency and being to sync an ospf database before the crash in my experience.

[2020-10-30 23:42] Svisstack opened #7428 "Empty OSPF routing table after a link failure with OSPF DR."
**Describe the bug**

We found critical issue with the frr ospf implementation preventing it from using this software in any production workloads that care about the uptime.

The problem is that all routes are dropped on the link failure with DR, routes are not acquired from BDR.

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

**To R