[2016-12-16 14:52] donaldsharp opened #2 "Allow abstraction of ECMP and Routes Installable"
Currently we have 2 ways of specifying ECMP
1) Via compilation of FRR
2) Via runtime specification

Let's add a 3rd ability to query the kernel( or relevant api ) for any underlying hardware abstraction

Then after we have this input.  Choose the min of the 3 to use at run time

Also add the same thing for # of routes.  Some hardware has a limitation on the # of routes that can be installed.  Allo

[2016-12-16 17:39] donaldsharp opened #3 "OSPFv6 summarization not working properly"
The problem in this defect exhibited itself as a prefix that should be summarized by an area-range statement appearing the rib of a router downstream of the ABR, but not in the lsdb

r3# sh ipv6 route
Codes: K - kernel route, C - connected, S - static, R - RIPng,
       O - OSPFv6, I - IS-IS, B - BGP, T - Table, v - VNC,
       V - VPN,

O>* 2000::/16 [110/30] via fe80::4638:39ff:fe00:6d99, swp1
O

[2016-12-16 17:40] donaldsharp opened #4 "isis crash"
[code]

[6:35]

[code]
[6:35]

[code]

[6:36]
In the above topology we are seeing crashes in isis on r11, r4,  and r7

[6:36]
config on r10:

[6:37]
[code]

[2016-12-16 18:09] eqvinox commented on #4
do we have some pcap files for this?

[2016-12-16 21:25] qlyoung opened #9 "proto_redistnum() uses strncmp() with invalid strlen assumption"
lib/log.c:
[code]

This is called in many locations with raw user's CLI input. In cases where the user matches one of the calling commands with a single letter for the protocol name, this function will fail.

Checking 1 or 2 letters is not consistent and breaks some CLI completions.

~~Broken out from #20.~~

[2016-12-16 22:38] qlyoung opened #11 "BGPD segfaults on startup"
BGPD segfaults on startup due to missing qobj_init().

[2016-12-16 23:39] #11 closed

[2016-12-18 18:14] louberger opened #14 "Renamed: Commands that are present in quagga R.1.1.0 are missing in stable 2.0"
Commands that are present in quagga R.1.1.0 are missing in stable 2.0

[2016-12-18 19:29] louberger commented on #14
examples of missing commands (not the full list!):
bgp_mplsvpn.c:       "show bgp ipv4 vpn neighbors (A.B.C.D|X:X::X:X) routes",
bgp_mplsvpn.c:       "show bgp ipv6 vpn neighbors (A.B.C.D|X:X::X:X) routes",
bgp_mplsvpn.c:       "show bgp ipv4 vpn neighbors (A.B.C.D|X:X::X:X) advertised-routes",
bgp_mplsvpn.c:       "show bgp ipv6 vpn neighbors (A.B.C.D|X:X::X:X) advertised-routes",
bgp_mplsvpn.c:

[2016-12-19 09:02] NetDEF-CI opened #16 "BGP Multi-View setup fails to validate nexthops"
<a href="https://github.com/mwinter-osr"><img src="https://avatars.githubusercontent.com/u/1490788?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mwinter-osr](https://github.com/mwinter-osr)**
_Thursday Dec 15, 2016 at 11:51 GMT_
_Originally opened as https://github.com/opensourcerouting/cumulus-private_quagga/issues/19_

----

In a BGP multi-view setup, the nexthops a

[2016-12-19 09:02] NetDEF-CI commented on #16
<a href="https://github.com/eqvinox"><img src="https://avatars.githubusercontent.com/u/1715611?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [eqvinox](https://github.com/eqvinox)**
_Friday Dec 16, 2016 at 18:11 GMT_

----

Bumping to 2.0-rc2 - needs reworking the VRF lookup.

NB: Views were never quite a useful feature, cf. documentation (doc/bgpd.texi):
[code]

[2016-12-19 09:04] NetDEF-CI opened #17 "Pressing TAB crashes vtysh"
<a href="https://github.com/rwestphal"><img src="https://avatars.githubusercontent.com/u/931662?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rwestphal](https://github.com/rwestphal)**
_Thursday Dec 15, 2016 at 11:35 GMT_
_Originally opened as https://github.com/opensourcerouting/cumulus-private_quagga/issues/18_

----

This only happens when we are in configure mode

[2016-12-19 09:07] NetDEF-CI opened #18 "ldpd should display interfaces in order consistent with the rest of the routing protocols"
<a href="https://github.com/donaldsharp"><img src="https://avatars.githubusercontent.com/u/10601296?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [donaldsharp](https://github.com/donaldsharp)**
_Friday Dec 09, 2016 at 17:53 GMT_
_Originally opened as https://github.com/opensourcerouting/cumulus-private_quagga/issues/12_

----

mpls ldp
 router-id 6.0.0.3
 !
 address-fa

[2016-12-19 09:09] NetDEF-CI opened #19 "Zebra is ignoring IPv6 link-local addresses on recent Linux kernels"
<a href="https://github.com/rwestphal"><img src="https://avatars.githubusercontent.com/u/931662?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rwestphal](https://github.com/rwestphal)**
_Thursday Dec 08, 2016 at 17:52 GMT_
_Originally opened as https://github.com/opensourcerouting/cumulus-private_quagga/issues/9_

----

Regression introduced by commit 6a3b35 ("Zebra: H

[2016-12-19 09:15] NetDEF-CI opened #20 "FreeBSD: Routes are not updated in kernel if nexthop changes"
<a href="https://github.com/mwinter-osr"><img src="https://avatars.githubusercontent.com/u/1490788?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mwinter-osr](https://github.com/mwinter-osr)**
_Monday Dec 12, 2016 at 09:24 GMT_
_Originally opened as https://github.com/opensourcerouting/cumulus-private_quagga/issues/14_

----

Tested based on stable/2.0, commit 2580192

[2016-12-19 09:15] NetDEF-CI commented on #20
<a href="https://github.com/donaldsharp"><img src="https://avatars.githubusercontent.com/u/10601296?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [donaldsharp](https://github.com/donaldsharp)**
_Monday Dec 12, 2016 at 15:48 GMT_

----

The log file indicates that this is a route replace.  When it goes to remove the route rt_socket detects that it does not think that

[2016-12-19 09:15] NetDEF-CI commented on #20
<a href="https://github.com/rwestphal"><img src="https://avatars.githubusercontent.com/u/931662?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rwestphal](https://github.com/rwestphal)**
_Thursday Dec 15, 2016 at 20:43 GMT_

----

This workaround solves the problem for me:

[code]

Now I need to figure out who's unsetting NEXTHOP_FLAG_FIB before expected...

[2016-12-19 09:17] NetDEF-CI opened #21 "LDP fix for snap package"
<a href="https://github.com/mwinter-osr"><img src="https://avatars.githubusercontent.com/u/1490788?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mwinter-osr](https://github.com/mwinter-osr)**
_Tuesday Nov 29, 2016 at 20:01 GMT_
_Originally opened as https://github.com/opensourcerouting/cumulus-private_quagga/issues/6_

----

LDPd needs some cleanup to support a snap p

[2016-12-19 09:17] NetDEF-CI commented on #21
<a href="https://github.com/donaldsharp"><img src="https://avatars.githubusercontent.com/u/10601296?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [donaldsharp](https://github.com/donaldsharp)**
_Friday Dec 09, 2016 at 14:21 GMT_

----

Martin can I get a clarification?  I see the patch 9c9af95 above, is that what you want to be added in?  Do you just need a bit of te

[2016-12-19 09:17] NetDEF-CI commented on #21
<a href="https://github.com/mwinter-osr"><img src="https://avatars.githubusercontent.com/u/1490788?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mwinter-osr](https://github.com/mwinter-osr)**
_Friday Dec 09, 2016 at 14:30 GMT_

----

Sorry, was traveling.

I saw the patches from Renato and I think they are what I need/want. But
I need to verify and test them in deta

[2016-12-19 09:17] NetDEF-CI commented on #21
<a href="https://github.com/eqvinox"><img src="https://avatars.githubusercontent.com/u/1715611?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [eqvinox](https://github.com/eqvinox)**
_Wednesday Dec 14, 2016 at 17:45 GMT_

----

comments on mailing list - 9a165a3ac2b47fcfbe93f93afb6a0838420260ab is not quite ready yet

[2016-12-19 11:03] qlyoung opened #23 "Conditional jump or move depends on uninitialised value(s)"
Just a small valgrind nit here.

[code]

[2016-12-19 18:12] rwestphal opened #25 "ldpd: problem trying to copy & paste l2vpn config using vtysh"
Problem description:
[code]

The same problem doesn't happen when we configure ldpd directly through telnet:
[code]

[2016-12-19 22:35] #17 closed

[2016-12-21 21:30] rwestphal commented on #20
Fix available on this branch: https://github.com/opensourcerouting/frr/commits/freebsd-route-update-fix

@mwinter-osr could you confirm that it fixes this issue for you?

[2016-12-21 21:36] rwestphal commented on #18
Fix available on: https://github.com/opensourcerouting/frr/commits/ldpd-ordered-output

[2016-12-23 09:03] mwinter-osr commented on #20
The branch was based on master and I need the changes to go into stable/2.0. I've created a new branch at https://github.com/opensourcerouting/frr/tree/freebsd-route-update-fix-for-2.0
with the changes cherry-picked on top of stable/2.0

Testing is in progress.. Will create a pull request if it passes.

[2016-12-28 14:49] eqvinox commented on #20
Should be fixed by #31 - closing

[2016-12-28 14:49] #20 closed

[2016-12-29 06:59] qlyoung opened #33 "Zebra does not check flags when updating static routes"
Before installing a new static route Zebra checks to see if an equivalent route already exists and deletes it before installing the new route.

zebra_static.c
[code]

This fails to check the route flags, which results in behavior like this:

[code]

The route flags are still set to reject. Correct behavior:

[code]

The route has been changed to a blackhole route.

[2017-01-03 19:45] donaldsharp commented on #4
[output.swp2.pcap.gz](https://github.com/freerangerouting/frr/files/683075/output.swp2.pcap.gz)
[output.swp1.pcap.gz](https://github.com/freerangerouting/frr/files/683076/output.swp1.pcap.gz)

Multiple iterations of the crash hopefully included in the 2 pcap files.  This is on r11

[2017-01-04 07:31] pguibert6WIND commented on #2
Hello,

unless i misunderstood, I do not agree with proposed solution.
I understand that if enable-multipath=64 is set by compilation, and bgpd command maximum-path 32 is chosen, and if the kernel support for multipath is 1, then that means that BGP global RIB does not support ECMP routes.

If this is the correct understanding, then I disagree. Unless the 3rd ability impacts only zebra. Meaning th

[2017-01-05 22:51] job opened #46 "Add support for BGP Large Communities"
patch which was submitted to quagga: https://bugzilla.quagga.net/show_bug.cgi?id=875

specification: https://tools.ietf.org/html/draft-ietf-idr-large-community

[2017-01-05 23:42] donaldsharp commented on #4
Valgrind caught it this time:

==7946== Invalid free() / delete / delete[] / realloc()
==7946==    at 0x4C29E90: free (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==7946==    by 0x119634: lsp_clear_data (isis_lsp.c:119)
==7946==    by 0x119750: lsp_destroy (isis_lsp.c:150)
==7946==    by 0x11DEC8: lsp_tick (isis_lsp.c:2639)
==7946==    by 0x4E611CB: thread_call (thread.c:1442)
==7946==

[2017-01-05 23:54] donaldsharp commented on #4
So in isis_tlv.c we have this:

	case DYNAMIC_HOSTNAME:
	  *found |= TLVFLAG_DYN_HOSTNAME;
#ifdef EXTREME_TLV_DEBUG
	  zlog_debug ("ISIS-TLV (%s): Dynamic Hostname length %d",
		      areatag, length);
#endif /* EXTREME_TLV_DEBUG */
	  if (*expected & TLVFLAG_DYN_HOSTNAME)
	    {
	      /* the length is also included in the pointed struct */
	      tlvs->hostname = (struct hostname *) (pnt - 1);

[2017-01-06 00:50] donaldsharp commented on #4
Commit 4fedc05c8895ae5400a13c17b7 addresses the issue from happening.  But I would like to see Christian comment on the further debugging I provided before closing to see if he thinks what he has done has sufficiently closed the loop holes.

[2017-01-06 14:18] louberger commented on #14
also missing:
  show bgp (ipv4|ipv6|unicast|multicast|vpn|encap) summary
and show bgp summary only shows v6

[2017-01-06 14:21] pguibert6WIND opened #48 "appending bgp debugging config at end of bgpd.conf file does not succeed"
Failure to enable bgp debugging using a sample configuration below.
It seems appending debug does not work, whereas it was working with quagga 1.x.

*config file tried*
hostname bgpd
password sdncbgpc
log stdout
service advanced-vty

line vty
 exec-timeout 0 0
debug bgp

*error message*
*** Error occurred processing line 9, below:
debug bgp

2017/01/06 15:19:18 BGP: *** Error occurred processing l

[2017-01-06 14:48] #48 closed

[2017-01-06 14:49] pguibert6WIND commented on #48
debug bgp command deprecated.

[2017-01-06 19:19] donaldsharp opened #52 "configure.ac needs a check for libxml"
We should fail the build if we do not have libxml to properly build ldpd

[2017-01-06 20:15] donaldsharp commented on #4
Resolved via 07f2fb1374661390f48bc1fd748b5a72ecd4f60b

[2017-01-06 20:15] #4 closed

[2017-01-07 00:34] #23 closed

[2017-01-07 00:42] #33 closed

[2017-01-07 00:46] #9 closed

[2017-01-07 00:52] donaldsharp commented on #18
Fix committed into develop

[2017-01-07 00:52] #18 closed

[2017-01-10 12:40] pguibert6WIND opened #60 "unable to run bgp with gdb"
from master branch, I fail to run gdb command, because of undefined symbol qobj_t_route_map_index
.

./configure --prefix=/opt/quagga --enable-user=root --enable-group=root --enable-vty-gro\
up=root --localstatedir=/opt/quagga/var/run/quagga --disable-doc --enable-multipath=64 --host=`cc -dumpmachine` --build=`gcc -dumpmachine`

root@ubuntu1404:~/frr# LD_LIBRARY_PATH=./lib/.libs/ gdb ./bgpd/.libs/

[2017-01-10 13:34] donaldsharp commented on #60
I built with this cli: ./configure --prefix=/opt/quagga --enable-user=root --enable-group=root --enable-vty-group=root --localstatedir=/opt/quagga/var/run/quagga --disable-doc --enable-multipath=64 --host=x86_64-rehat-linux --build=x86_64-redhat-linux

and the issue does not exist for me.  Nor do I see it with my normal cli:
./configure --build=x86_64-linux-gnu --prefix=/usr --includedir=\${prefix

[2017-01-10 15:44] louberger opened #61 "deprecate vpnv4 (safi+afi) usage, now stick with <afi> <safi> convention"
current usage in mainline:
    show [ip] bgp [<view|vrf> WORD] [<ipv4|ipv6|vpnv4 <all|rd ASN:nn_or_IP-address:nn>>] neighbors [<A.B.C.D|X:X::X:X|WORD>] [json]
    show [ip] bgp <view|vrf> all [<ipv4 [<unicast|multicast>]|ipv6 [<unicast|multicast>]|encap [unicast]|vpnv4 [unicast]>] [json]
    show [ip] bgp [<ipv4 [<unicast|multicast|vpn|encap>]|ipv6 [<unicast|multicast|vpn|encap>]|encap [unicast]|v

[2017-01-10 16:15] pguibert6WIND commented on #61
do you mean the commands will be suppressed, thus breaking backward compatiblity with quagga. right ?
I just wanted to understand.

[2017-01-10 16:15] donaldsharp commented on #19
This bug was introduced by a patch from Vivek, I'll ask him to look at it real quick

[2017-01-10 17:48] pguibert6WIND commented on #60
we can close the issue, until someone is really disturbed.

[2017-01-10 17:49] #60 closed

[2017-01-10 17:51] pguibert6WIND commented on #61
OK. from the meeting, I understood that those show commands will be deprecated.
I will then update the https://github.com/freerangerouting/frr/pull/57 to take into account vpnv6 commit relate to fixing ECMPv6.

[2017-01-13 10:33] eqvinox commented on #3
fix merged in #38

[2017-01-13 10:33] #3 closed

[2017-01-13 13:52] donaldsharp commented on #52
fixed via: 95f5922d277c9f4ab983545c0a99fb80c4c1655a

[2017-01-13 13:52] #52 closed

[2017-01-13 15:11] louberger opened #71 "NLRI next hops are not formatted properly for ipv4 vpn"
Seen in wireshark, Works fine in Quagga.
Format is correct when constructed.
Check in debugger @ bgp_updgrp_packet.c line 811 (stable/2.0)

[2017-01-14 10:02] job opened #74 "Request to add support for draft-ietf-idr-shutdown"
The draft-ietf-idr-shutdown (https://tools.ietf.org/html/draft-ietf-idr-shutdown) document specifies a mechanism to transmit a short freeform message across the wire as part of an Administrative Shutdown Cease NOTIFICATION message. This message serves to inform the neighbor why the BGP session was shut down. This is useful to communicate for instance a ticket reference, contact person or other inf

[2017-01-17 17:07] pguibert6WIND opened #79 "Provide EVPN basic support on master branch"
This basic work would consist in providing the following on master branch:
- basic vty command
- add prefix modifications
- make it (un)configurable using --enable-evpn; default evpn is disabled.
reason behind configuration is the memory consumption hidden behind this change

The other missing changes that I forget to mention would be the common modifications necessary, so that everyone is able to

[2017-01-17 17:08] louberger opened #80 "bgp address-family config should be consistent, i.e., <afi> <safi>"
OLD
 address-family vpnv4
 address-family vpnv6
 address-family encap|encapv4
 address-family encapv6
NEW
 address-family <vpnv4|ipv4 vpn>
 address-family <vpnv6|ipv6 vpn>
 address-family <encap|encapv4|ipv4 encap>
 address-family <encapv6|ipv6 encap>

show config shows <afi> <safi> form

[2017-01-17 17:21] pguibert6WIND opened #81 "strategy integration master versus stable/2.0"
This issue is a question.
due to the multiple commits pushed on stable/2.0, and what is inside master branch, we can observe some changes:
- in the API ( vty)
- in the internals ( the vty engine)
- some features/ bug fixes

is there a strategy integration process currently to push stable/2.0 into master ?
if not, should we trigger one, and putting a deadline for that  ?
each stakeholder taking its

[2017-01-17 17:24] pguibert6WIND commented on #80
proposal suits ok for me.
question for extension:
if the labeled unicast or evpn feature is to be put, would it be then
- address-family <luv4|luv6|ipv4 lu|ipv6 lu>
- address-family <evpn|l2vpn evpn>

[2017-01-17 18:32] louberger commented on #80
everything but the <afi> <safi> form is for legacy support, new should only be of the new form
for evpn, it's AFI of l2vpn (25) and a SAFI of evpn (70).

[2017-01-17 18:35] donaldsharp commented on #81
As stated previously, we are accepting merges into both stable/2.0 and master.  Occassionally one of the maintainers will do a merge down from stable/2.0 into master.  If you have need of something happening prior to a maintainer getting to the work feel free to ask on alias, or on slack to get one done.

[2017-01-17 18:35] #81 closed

[2017-01-17 23:24] donaldsharp opened #84 "Fix compile warning in command_lex.c"
CC       command_match.lo
command_lex.c:1152:3: warning: comparison of integers of different signs: 'size_t' (aka 'unsigned long') and 'int' [-Wsign-compare]
                YY_INPUT( (&YY_CURRENT_BUFFER_LVALUE->yy_ch_buf[number_to_move]),
                ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
command_lex.c:698:18: note: expanded from macro 'YY_INPUT'
                for

[2017-01-18 00:01] donaldsharp commented on #46
@job I submitted https://github.com/freerangerouting/frr/pull/86.  Before we can go further since you are the author of the patch we need approval to place a 'Signed-off-by: ...' from you and I would love to have a better commit message.  Do you have something to suggest?

[2017-01-18 03:57] qlyoung commented on #84
https://github.com/westes/flex/issues/61

[2017-01-18 03:59] #84 closed

[2017-01-18 13:32] job commented on #46
Yes, looks good, feel free to add `Signed-off-by: Job Snijders <job@ntt.net>`

Commit message:

[code]

[2017-01-18 13:35] donaldsharp commented on #46
@job I will initiate a new Pull Request with this commit message.

[2017-01-18 23:34] louberger commented on #80
addressed in https://github.com/freerangerouting/frr/pull/83

[2017-01-18 23:34] louberger commented on #71
fixed in https://github.com/freerangerouting/frr/pull/83

[2017-01-18 23:34] louberger commented on #14
https://github.com/freerangerouting/frr/pull/83

[2017-01-18 23:37] louberger opened #91 "VNC code not ignoring reflect routes (which is new in FRR)"
Need to move VPN and encap VNC related calls to after filtering.

Does not need to gate 2.0-rc1, but should be fixed in 2.0-rc2

[2017-01-19 13:55] rwestphal opened #94 "The "show ip bgp" command is missing on master"
[code]

[2017-01-19 14:01] qlyoung commented on #94
[code]

WFM

[2017-01-19 14:12] rwestphal commented on #94
Indeed, it works on master. So it looks like this bug was introduced by the Large Communities patch itself and was not a problem inherited from master. Please close this issue and I'll add a note about this bug in the Large Communities PR.

[2017-01-19 15:04] #94 closed

[2017-01-19 16:36] eqvinox commented on #71
#83 merged - closing.

[2017-01-19 16:36] #71 closed

[2017-01-19 16:37] eqvinox commented on #14
#83 merged - closing.

[2017-01-19 16:37] #14 closed

[2017-01-19 16:38] eqvinox commented on #80
#83 merged - closing.

[2017-01-19 16:38] #80 closed

[2017-01-19 17:14] louberger opened #95 "Seeing memory loss in regression"
Scenario is: 2xNVAes + 2xGWs (import/export to vpn safi)  + 2xRRs, 2xCEs (regression-rr+gw+nva)
This is probably blocked by Issue #91

Leaked type: Socket union : 1 * 28 blocks
Leaked type: Route table : 72 * 32 blocks
Leaked type: Hash : 23 * 40 blocks
Leaked type: Hash Index : 23 * (variably
Leaked type: Work queue : 1 * 128 blocks
Leaked type: Work queue name string : 1 *
Leaked type: BGP insta

[2017-01-19 17:32] louberger commented on #61
need to reconcile / merge backend handlers show bgp <afi> <safi> <unicast|multicast|vpn|encap>

[2017-01-24 12:11] louberger opened #108 "new parser leaking memory - seen in bgp"
seen on basically any config that includes a debug bgp ... line, simply start then exit - nothing else needed and see:
bgpd: showing active allocations in memory group libzebra
bgpd: memstats:  Command Tokens                :    502 * (variably sized)
bgpd: memstats:  Graph Node                    :   7776 *         32
bgpd: memstats:  Temporary memory              :  10476 * (variably sized)
bgpd

[2017-01-24 13:15] rwestphal opened #110 "cmd_terminate() is failing to release all memory allocated by the CLI code"
This is not exactly a memory leak but releasing all memory explicitly on exit is always a good idea.
[code]

[2017-01-25 01:36] eqvinox commented on #108
broken for quite a while, fixed by #114
issue is actually on all commands, not just bgp debug.

[2017-01-25 01:39] eqvinox commented on #110
have a branch with a working uninstall_element on my laptop, that should fix a lot of this

[2017-01-25 02:16] #108 closed

[2017-01-25 03:04] eqvinox commented on #74
bgpd has always - even in the initial zebra->Quagga fork - dumped out the notify data:
[code]
but that obviously isn't quite readable :)

[2017-01-25 03:06] eqvinox commented on #74
TX and slightly-improved RX up in:
opensourcerouting/frr@75dc968e77ed93ef07b65a8a74a7dfb2d853b04c
(pending, need to move text_sanitize to lib/ and make the log print text instead of hex for 6/2)

[2017-01-25 07:36] pguibert6WIND opened #115 "BGPD support to filtering RT set with VRFs"
some discussion on https://github.com/freerangerouting/frr/pull/101 led to the need to:
1- implement rfc4684 in order for a BGP speaker to signal which RT he wants the remote BGP speaker to learn
2- change the default behaviour of frr when receiving VPNvx messages. that is to say if VRF are no configured, then the incoming vpnvx message should be ignored.

This issue is related to 2.

[2017-01-25 13:50] louberger opened #117 "cleanup: VRF_UNKNOWN/VRF_ALL definition"
Issue to track https://github.com/freerangerouting/frr/pull/107#pullrequestreview-18400590:
1) define VRF_UNKNOWN as VRF_MAX and VRF_MAX be some less than 2^16-1
2) that special values be defined above VRF_MAX
3) that the config interface prevent config of >= VRF_MAX

[2017-01-25 14:28] donaldsharp commented on #117
While I agree that this needs to be done.  I have not signed up for this work.

[2017-01-25 22:59] eqvinox commented on #46
#92 merged, large community support now in master.

[2017-01-25 22:59] #46 closed

[2017-01-26 15:25] louberger opened #125 "exptract.pl should handled macros (#defines) in DEFUNs"
Per https://github.com/freerangerouting/frr/pull/122#issuecomment-275387084
exptract.pl can't handled macros (#defines) in DEFUNs.  The limits standard c syntax and code extendability.

[2017-01-26 15:46] qlyoung commented on #125
Disagree, makes command definitions difficult to read.

[2017-01-26 20:35] donaldsharp opened #126 "Adding to prefix list should cause a soft-clear of the neighbor"
[code]
s1's config:
[code]
[code]
on robot we have:
[code]
[code]

Let's add a new item to the prefix-list:
[code]
whoops...
[code]

[2017-01-26 20:38] donaldsharp commented on #126
The mechanism as I remember it is that we have a timer that should pop after a route-map or prefix-list change, to cause the soft clear.  I am not sure why this is not happening?  Or was I going to fast?

[2017-01-27 02:29] louberger commented on #91
fixed in https://github.com/freerangerouting/frr/commit/eb78bc468effe7ca07f4bf5d62f3f10170e8f64f

[2017-01-27 02:29] #91 closed

[2017-01-27 19:45] louberger commented on #125
This should certainly be a requirement for any exptract.pl replacement!

[2017-01-30 17:54] pguibert6WIND commented on #61
this issue is still open ?
I have observed some vpn commands do not work.
as illustration, command show bgp ip vpn 1.2.3.4/24   returns % Ambiguous command.

More generally, all commands that have been deprecated should be gathered in a single handler.
It would work for all encap/vpn commands.

@louberger , if you don't have begun doing some changes in relation to this, maybe i can create an issue

[2017-01-31 16:04] #21 closed

[2017-01-31 16:12] donaldsharp commented on #95
From Technical Meeting:

Lou -> not seeing allot of these issues anymore, still think he needs to run an issue down.
Scratch that, seeing all these issues still.

MTYPE_TMP -> Issues there that need to be addressed.

Should we add memory and valgrind test cases?

[2017-01-31 16:15] eqvinox commented on #110
should be fixed by #139

[2017-01-31 16:17] donaldsharp opened #141 "Rename libraries to remove collisions from happening"
We need to rename the installed libraries to something appropriate so that quagga and frr can co-exist side by side

[2017-01-31 16:37] donaldsharp opened #142 "lib/prefix.c needs ability to stringify mac addresses and reverse"
Add to prefix.c the ability to stringify mac addresses and take strings of mac addresses and turn them into the internal data representation.

[2017-01-31 16:38] donaldsharp commented on #142
all places that have their own need to be switched to using these new functions.  EVPN and rfapi

[2017-01-31 17:00] louberger commented on #61
On 1/30/2017 12:54 PM, Philippe Guibert wrote:

it needs to be ipv4 or ipv6

I think my changes are in so any additional cleanup is welcome!

Lou

[2017-01-31 21:50] louberger opened #144 "2.0: double free in vty_terminate"
double free in qfree of mt

 	3181	vty_terminate (void)
-	3182	{
-	3183	  if (vty_cwd)
-	3184	    XFREE (MTYPE_TMP, vty_cwd);
 	3185
-	3186	  if (vtyvec && Vvty_serv_thread)
 	3187	    {
-	3188	      vty_reset ();
-	3189	      vector_free (vtyvec);
-	3190	      vector_free (Vvty_serv_thread);
 	3191	    }
-	3192	}

 	58	void
 	59	vector_free (vector v)
-	60	{
-	61	  XFREE (MTYPE_VECTOR_INDEX, v->i

[2017-01-31 21:50] louberger commented on #144
@eqvinox is this yours?

[2017-01-31 21:54] louberger commented on #95
Issue is with v6 only
[bgpd-2017-01-31-16:17:41.192.1.1.7.valgrind.txt](https://github.com/freerangerouting/frr/files/743275/bgpd-2017-01-31-16.17.41.192.1.1.7.valgrind.txt)

[2017-02-01 10:12] eqvinox commented on #144
Err, I have no idea, where/when is this? bgpd on exit? Which of the free() statements is the double free triggered in? Is this valgrind or an underflow in the counter?

Really need more info...

[2017-02-01 10:16] eqvinox commented on #125
Title is misleading - AFAIK what you mean is "extract.pl should handle string concatenation".  It does actually handle #defines since it passes the source code through cpp; the problem is that the resulting output will be `"string1" "string2" "string3"` which needs to be concatenated. _That_, extract.pl doesn't do...

[2017-02-01 10:46] louberger commented on #144
On February 1, 2017 5:13:18 AM David Lamparter <notifications@github.com>
wrote:

Yes.

Look at the last snippet of code and see the free of mt.  Is this what you
intended?

Both.

Lou

[2017-02-01 10:50] louberger commented on #125
On February 1, 2017 5:16:57 AM David Lamparter <notifications@github.com>
wrote:

Interesting - I think others are confused on this limitation as well. (At
least as they explained it to me.)

[2017-02-01 11:13] eqvinox commented on #144
Yes it is what I intended (???) - `mt` is not free'd, its the counter structure... `mt_count_free` does not contain a `free` call...

Real problem seems to be that XFREE is called twice on the same pointer?

[2017-02-01 11:18] eqvinox commented on #110
#139 merged, closing (zebra did not leak any CLI-related memory in my tests)

[2017-02-01 11:18] #110 closed

[2017-02-01 11:41] louberger commented on #144
This issue is on 2.0.

cherry-pick
https://github.com/freerangerouting/frr/commit/fd7aa3f557b7a17cda20fd63e2c1445b15104d83
(and
https://github.com/freerangerouting/frr/commit/56c8423f58945e0c6b5d3fd71a07fd7ae40d4a3f)
to trigger assert.

On 2/1/2017 6:13 AM, David Lamparter wrote:

[2017-02-01 11:44] eqvinox commented on #144
You still haven't mentioned which of the 3 XFREE calls in your paste actually triggers the underflow... and I don't understand why you're asking about `mt_count_free` or `mt`???

[2017-02-01 11:45] louberger commented on #144
with the cherry-picks see:
==13114== Invalid read of size 4
==13114==    at 0x54E0A5: vty_log (vty.c:2609)
==13114==    by 0x5711FB: vzlog (log.c:260)
==13114==    by 0x57282C: zlog (log.c:677)
==13114==    by 0x572DA9: _zlog_assert_failed (log.c:722)
==13114==    by 0x58641B: mt_count_free (memory.c:43)
==13114==    by 0x5865C9: qfree (memory.c:89)
==13114==    by 0x547F10: vector_free (vector.c:

[2017-02-01 11:47] louberger commented on #144
Perhaps the type is wrong on the free (or on the allocate)?

On 2/1/2017 6:13 AM, David Lamparter wrote:

[2017-02-01 11:54] eqvinox commented on #144
don't see that anywhere - can you set a breakpoint on `vty_terminate` and check if it's called twice?
(Also, slack?)

[2017-02-02 00:16] louberger commented on #144
possibly related error reproduced on master:
==11290== ERROR SUMMARY: 7 errors from 2 contexts (suppressed: 6 from 6)
==11290==
==11290== 1 errors in context 1 of 2:
==11290== Conditional jump or move depends on uninitialised value(s)
==11290==    at 0x52E131: vty_close (vty.c:2272)
==11290==    by 0x52F916: vty_reset (vty.c:2996)
==11290==    by 0x52FD8D: vty_terminate (vty.c:3127)
==11290==    b

[2017-02-02 15:11] rwestphal commented on #19
Apparently this issue is a false alarm.

Vivek's change to ignore IPv6 addresses with the IFA_F_DADFAILED/IFA_F_TENTATIVE flags is correct as these addresses can not be used nor bound to.

I did some more testing here and the problem only happens on a very specific scenario. When you run a VirtualBox VM using a bridged network adapter based on a wlan interface, all IPv6 addresses added to this vir

[2017-02-02 15:56] mwinter-osr opened #155 "bgp timers - default not visible"
This is not necessary a defect. The only purpose is to make a conscious decision at a technical meeting.

Cisco, old Quagga and various others use BGP timers of 30s for Keepalive and 90s for Hold timer.
FRR uses currently 3s for keepalive and 9s for holdtimer.

The argument (long time back) on the Quagga mailing list is that the new default is better suited - and it might be much better for BGP as

[2017-02-02 17:23] donaldsharp opened #156 "Ambiguous commands 'address-family ipv4 and v6'"
We are seeing ambiguous commands in the
address-family ipv4 uni|mul
address-family ip6 uni|mul

commands

[2017-02-02 17:25] donaldsharp commented on #156
Note this is for stable/2.0

I am picking up to fix

[2017-02-02 18:26] dsahern commented on #19
My results vary on a ubuntu 16.10 VM I just installed:

dsa@ubuntu-1610:~$ uname -a
Linux ubuntu-1610 4.8.0-22-generic #24-Ubuntu SMP Sat Oct 8 09:15:00 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

This interface is bridged to my Wi-Fi and pulls a dhcp address from the router (actual addresses obscured, but it is a valid address):
dsa@ubuntu-1610:~$ ip addr sh enp0s8
3: enp0s8: <BROADCAST,MULTICAST,UP

[2017-02-02 18:28] donaldsharp commented on #19
@rwestphal ok to close this bug then?

[2017-02-02 19:08] rwestphal commented on #19
@donaldsharp sure.

[2017-02-02 20:34] #19 closed

[2017-02-03 13:42] louberger opened #160 "Valgrind errors on master (LabN Regression)"
The following popped up during a full valgrind regression run:
-------------------------------------------------------------------------------
==19919== 1 errors in context 1 of 2:
==19919== Conditional jump or move depends on uninitialised value(s)
==19919==    at 0x52E7A1: vty_close (vty.c:2275)
==19919==    by 0x52FF86: vty_reset (vty.c:2999)
==19919==    by 0x5303FD: vty_terminate (vty.c:3130)

[2017-02-03 13:54] donaldsharp commented on #141
I have submitted this Pull Request:
https://github.com/freerangerouting/frr/pull/161

[2017-02-03 13:55] donaldsharp commented on #16
I have submitted PR:
https://github.com/freerangerouting/frr/pull/147

To address this issue

[2017-02-03 16:00] dslicenc opened #163 "Errors when installing frr debian package with quagga already present"
While attempting to install the frr package on a device currently running quagga, the following error is encountered.

root@leaf2:# dpkg -i frr_2.1_amd64.deb
(Reading database ... 25545 files and directories currently installed.)
Preparing to unpack frr_2.1_amd64.deb ...
Unpacking frr (2.1) ...
dpkg: error processing archive frr_2.1_amd64.deb (--install):
 trying to overwrite '/usr/share/snmp/mibs

[2017-02-06 04:55] #160 closed

[2017-02-06 16:28] dslicenc opened #170 "zebra and bgp crash at startup in master"
installing frr deb causes core files to be generated at startup.  Stacks follow:

bgpd

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Core was generated by `/usr/lib/frr/bgpd --daemon -A 127.0.0.1'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007f1c0068723e in vty_log_fixed (
    buf=buf@entry=0x7ffe

[2017-02-06 22:48] louberger opened #172 "2.0: encap attribute broken on the wire"
Seen in wireshark, not sure where/when this broke.  Testing fix now...

[2017-02-07 15:01] louberger opened #175 "valgrind issues on master"
from labn basic regression:
==21683== ERROR SUMMARY: 6 errors from 2 contexts (suppressed: 6 from 6)
==21683==
==21683== 1 errors in context 1 of 2:
==21683== Conditional jump or move depends on uninitialised value(s)
==21683==    at 0x52E7A1: vty_close (vty.c:2275)
==21683==    by 0x52FF86: vty_reset (vty.c:2999)
==21683==    by 0x5303FD: vty_terminate (vty.c:3130)
==21683==    by 0x41EAF7: bgp_e

[2017-02-07 15:03] louberger commented on #175
Woops - this is fixed already...

[2017-02-07 15:03] #175 closed

[2017-02-07 16:07] donaldsharp commented on #95
Martin has updated the CI system to log memory output as an artifact

[2017-02-08 14:13] donaldsharp opened #184 "make distclean now fails with this error"
rm -f TAGS ID GTAGS GRTAGS GSYMS GPATH tags
rm -rf ./.deps
rm -f Makefile
make[1]: Leaving directory '/root/frr/vtysh'
Making distclean in ospfclient
make[1]: Entering directory '/root/frr/ospfclient'
Makefile:562: ../ospfd/.deps/ospf_api.Plo: No such file or directory
Makefile:563: ../ospfd/.deps/ospf_dump_api.Plo: No such file or directory
make[1]: *** No rule to make target '../ospfd/.deps/ospf

[2017-02-08 14:13] donaldsharp commented on #184
Assigning to David since his commit created this issue.  @eqvinox if you don't want this let me know.

[2017-02-08 14:16] eqvinox commented on #184
great... thanks, automake... lemme figure out some way to fix this.  may end up moving libfrrospfclient to the ospfd/ directory...

[2017-02-08 20:20] #172 closed

[2017-02-08 23:42] #16 closed

[2017-02-08 23:43] #170 closed

[2017-02-08 23:44] donaldsharp commented on #141
Fixed

[2017-02-08 23:44] #141 closed

[2017-02-08 23:44] donaldsharp commented on #156
Fixed

[2017-02-08 23:44] #156 closed

[2017-02-09 13:19] donaldsharp commented on #163
Diversion:
https://www.debian.org/doc/debian-policy/ap-pkg-diversions.html

-or-

Do we remove this MIB file from the debian install?  As that we do not build with snmp on in debian

[2017-02-09 15:14] eqvinox commented on #163
As discussed on Slack, I'd say remove the MIB file (since SNMP is disabled in the Debian packages anyway)

If SNMP is enabled... no idea... the files are likely going to stay identical for the foreseeable future...

[2017-02-10 12:13] eqvinox commented on #184
fixed by #191

[2017-02-10 12:13] #184 closed

[2017-02-10 16:29] mwinter-osr opened #196 ""show ip bgp view XXX" broken"
(Master branch only - not stable/2.0)

This started with Git SHA 1a35e2e5653 (First broken) and is only broken in Master
-- EDIT: See correct bad commit below (as found by bisect). NOT 1a35e2e5653

	mininet12# show ip bgp view
	Defined BGP views:
		1 (AS100)
		2 (AS100)
		3 (AS100)
	mininet12# sh ip bgp view 1
	Can't find BGP instance (default)
	mininet12# sh ip bgp view 2
	Can't find BGP instance

[2017-02-10 16:30] mwinter-osr commented on #196
Issue can be reproduced with topotests, Test `bgp_multiview_topo1`

[2017-02-10 19:29] mwinter-osr commented on #196
Did a git bisect and the offending commit is:

	commit af462945f1a46f80c857e30b72e53ad3610817ee
	Author: Donald Sharp <sharpd@cumulusnetworks.com>
	Date:   Mon Jan 23 19:48:24 2017 -0500

		bgpd: Start cleanup of 'show [ip] bgp ...' commands

		Create bgp_vty_find_and_parse_afi_safi_vrf that
		will parse the
		`show [ip] bgp [<view|vrf> WORD] [<ipv4|ipv6> [<unicast|multicast|vpn|encap>]]'
		part o

[2017-02-11 12:01] #163 closed

[2017-02-12 17:15] eqvinox opened #198 "duplicate bgp encap show commands"
These commands are ambiguous (on master):
- `show_bgp_ipv4_encap_neighbor_routes_cmd`
- `show_bgp_ipv4_encap_neighbor_advertised_routes_cmd`
- `show_bgp_ipv6_encap_neighbor_routes_cmd`
- `show_bgp_ipv6_encap_neighbor_advertised_routes_cmd`

Output from `vtysh/vtysh -C -c 'grammar find-ambiguous nodescan'` (needs `--enable-dev-build` on configure):
[code]

[2017-02-17 16:08] louberger commented on #115
@pguibert6WIND how is this different from rfc4684 support?

[2017-02-17 21:11] eqvinox opened #215 "need to restore "bgp import-check" functionality (without "exact")"
for BGP speakers in the DFZ, "bgp import-check" (with inexact match) is pretty much operating best practice. unfortunately it was removed in 5623e905f2812201b5efeb4b780e9c0ed83c31ee

standard DFZ setup is:
- some network statements in bgpd
- no redistribute in bgpd
- bgp import-check enabled
- IGP or static route providing more specific routes for network statements
- announces should be pulled if

[2017-02-18 08:54] pguibert6WIND commented on #115
specification from 2.
- drop incoming messages with no RT set or RT set not matching configured vrf-policy
- if the vrf-policy configuration change or the vrf import policy change, then bgp reconnection should occur

[2017-02-20 12:49] pguibert6WIND commented on #79
closing this issue as it is merged

[2017-02-20 12:49] #79 closed

[2017-02-21 01:53] louberger commented on #144
I'm not sure if this still an issue, I think this can be closed if unable to reproduce after cherry-picking per the above.

[2017-02-21 16:08] donaldsharp commented on #144
Donald To look at cherrypick issue later today hopefully

[2017-02-21 20:45] ne-vlezay80 opened #218 "BGP is not receiving routes"
It does not work to obtain Ipv6 route. Although Ipv6 network anonce normal.

[2017-02-21 20:55] louberger commented on #144
just reproduced (*but* can't reliably reproduce)
2017/02/21 15:39:46 BGP: Terminating on signal
2017/02/21 15:39:46 BGP: 192.1.1.1 went from Active to Deleted
2017/02/21 15:39:46 BGP: 192.1.1.2 went from Idle to Deleted
2017/02/21 15:39:46 BGP: 192.1.1.3 went from Idle to Deleted
2017/02/21 15:39:46 BGP: 192.1.1.4 went from Idle to Deleted
2017/02/21 15:39:46 BGP: 192.1.1.5 went from Active to Del

[2017-02-22 22:31] qlyoung commented on #25
I'm not able to reproduce this on master, can you check if it still occurs?

[2017-02-23 12:06] rwestphal commented on #25
Yes, still with the same error. It only happens when you try to configure a second pseudowire without exiting to the l2vpn node first.

[2017-02-24 06:35] k0ste opened #223 "memory allocation count underflow for "Temporary memory""
How-to reproduce: go to `interface eth0` -> type `link` -> press `tab`.

[code]

Then auto complete works fine.

[2017-02-28 16:10] #218 closed

[2017-03-01 14:58] riw777 commented on #2
I think this might be in support of various chip set's ability to modify the next hop rather than just replace the entire route (?) -- what you'd need to know in this case is what the max number of next hops (ie the size of the ecmp group) is that the hardware chipset can support, so zebra doesn't overrun that number, and blow up the modification of the ecmp group at the hardware level.

How would

[2017-03-01 15:09] donaldsharp commented on #2
So we have several issues here:

Hardware ECMP support
Kernel ECMP support
Zebra ECMP support

Currently there is no methodology to have any of these 3 layers know about what is supported under them.

Additionally one can use the zebra FPM manager to tell the hardware about the route, and bypass kernel installation altogether

What I am proposing here is the creation of a API where zebra can ask f

[2017-03-02 10:08] job commented on #74
Met with @mwinter-osr today at APRICOT, promised to share links to OpenBGPD's implementation for inspirational purposes.

The initial patch: https://github.com/openbsd/src/commit/0561b344da393d4a962339c507c2e78057100ae1 and a small extension to make it work not only with "Shutdown" but also with "Reset" https://github.com/openbsd/src/commit/5bab1d70cb9b577d4c9a0c67846f558fd06accbd

[2017-03-02 10:10] job commented on #74
This was the implementation report as written by @habbie on his experience coding up the first patch for openbgpd https://mailarchive.ietf.org/arch/msg/idr/8ueDFbC4ZBd1WwolRS78aFA8oyw

[2017-03-02 10:20] Habbie commented on #74
I'm monitoring this thread in case you have questions I can help with!

[2017-03-02 12:59] ne-vlezay80 opened #242 "http://www.freerangerouting.org/ not working"
Official project site is not work. Server not found.

[2017-03-02 14:03] donaldsharp commented on #74
@Habbie This is PR #244 I would suggest giving it a whirl, thanks!

[2017-03-02 14:15] donaldsharp commented on #242
Yes we are aware of this.  We plan to launch an official project site soonish.

[2017-03-02 14:15] #242 closed

[2017-03-02 15:11] louberger commented on #95
still seeing memory even with  PR #238

[2017-03-06 21:14] ne-vlezay80 opened #252 "VRF activate commend?"
How does the VRF work in this program?

Current configuration:
!
password test
log file /tmp/zebra.log
!
!
vrf test
!
vrf test1
!
interface host0
!
interface lo
!
ip route 8.8.8.0/24 10.2.2.1 vrf test
ip route 8.8.9.0/24 10.2.2.1 vrf test
ip route 8.8.10.0/24 10.2.2.1 vrf test1
!
no ip forwarding
no ipv6 forwarding
!
!
line vty
!
end

quagga-frr(config-vrf)#
  end    End current mode and change to

[2017-03-06 21:23] ne-vlezay80 opened #253 "vtysh: duplecate options"
root@quagga-frr:~# vtysh -h
Usage : vtysh [OPTION...]

Integrated shell for FRR.

-b, --boot               Execute boot startup configuration
-c, --command            Execute argument as command
-d, --daemon             Connect only to the specified daemon
-f, --inputfile          Execute commands from specific file and exit
-E, --echo               Echo prompt and command in -c mode
-C, --dryrun

[2017-03-07 00:47] donaldsharp commented on #252
@ne-vlezay80 look at this document on how to setup vrf's and how to put interfaces into those vrf's.

https://www.kernel.org/doc/Documentation/networking/vrf.txt

This is of course predicated that you are running a newer version of the linux kernel.

Once you have created the vrf's, FRR will notice the vrf being created and react accordingly.  At this point in time we have not programmed the abili

[2017-03-07 00:53] donaldsharp commented on #95
Can I get a valgrind output or a configuration that shows this happening?

[2017-03-07 01:24] louberger commented on #95
Theres a file attached. I can add another...

On March 6, 2017 7:54:01 PM Donald Sharp <notifications@github.com> wrote:

[2017-03-07 15:16] eqvinox commented on #253
fixed, closing

[2017-03-07 15:16] #253 closed

[2017-03-07 16:07] donaldsharp commented on #144
Donald to take another look at it this week.

[2017-03-07 16:09] donaldsharp commented on #215
Donald to ask Daniel to look at this issue.

[2017-03-07 16:12] donaldsharp commented on #223
Donald and David to get together and figure out what is going on.

[2017-03-07 16:13] #252 closed

[2017-03-07 16:31] donaldsharp commented on #74
Pushed in

[2017-03-07 16:31] #74 closed

[2017-03-07 16:32] pguibert6WIND opened #258 "Label Unicast Support"
The issue is related to feature BGP labeled unicast feature for IPv4 and IPv6.
RFC3107

[2017-03-07 18:02] eqvinox commented on #223
confirmed reproduced on stable/2.0, not present on master

[2017-03-07 18:23] eqvinox commented on #223
fix PR'd. to reproduce:
[code]

[2017-03-07 18:26] eqvinox commented on #223
fix merged by @qlyoung - closing

[2017-03-07 18:26] #223 closed

[2017-03-07 18:32] eqvinox commented on #198
additional issue now:
[code]
(probably an ignore rule or `DEFUN_NOSH` missing?)

[2017-03-07 21:19] ne-vlezay80 opened #260 "Linux MPLS perforance"
What is the MPLS speed in Linux? Share the iperf / iperf3 result.

[2017-03-07 23:54] donaldsharp commented on #215
@eqvinox @dwalton76 Please take a look at this branch:

https://github.com/donaldsharp/frr/tree/import_check

Wanted to get consensus this was the 'rightish' approach before I submitted a PR.

[2017-03-08 00:04] dwalton76 commented on #215
Why not just use an aggregate-address command?

[2017-03-08 12:40] donaldsharp commented on #260
@ne-vlezay80 all of our testing for performance has been against hardware asics.  As such we do not have software only forwarding only tests.

[2017-03-08 15:12] donaldsharp commented on #196
Fixed under

https://github.com/freerangerouting/frr/commit/2989c6c960b8f7e407182c3917c9baeedab9ad55

[2017-03-08 15:12] #196 closed

[2017-03-08 15:48] louberger commented on #95
[bgpd-2017-03-08-10:28:19.192.1.1.1.valgrind.txt](https://github.com/freerangerouting/frr/files/828134/bgpd-2017-03-08-10.28.19.192.1.1.1.valgrind.txt)

[2017-03-08 15:59] donaldsharp commented on #95
From conversation with @louberger here is the config:
!
hostname NVA-192.1.1.1
password zebra
log stdout notifications
log monitor notifications
!
debug bgp allow-martians
!
!
router bgp 64512
bgp router-id 192.1.1.1
no bgp default show-hostname
bgp cluster-id 192.1.1.1
neighbor 192.1.1.2 remote-as 64512
neighbor 192.1.1.2 description H192.1.1.2
neighbor 192.1.1.2 port 4182
neighbor 192.1.1.2 upda

[2017-03-08 16:06] louberger commented on #95
the .1 failures was due to bad cleanup in reduced testing - full tests doesn't reproduce original issue (on .7) with Donald's change -  so closing issue

[2017-03-08 16:06] #95 closed

[2017-03-08 16:08] louberger commented on #144
still seeing this issue.  Most recent stack:
2017/03/08 11:01:37 BGP: Terminating on signal
2017/03/08 11:01:37 BGP: memory allocation count underflow for "Vector index"
2017/03/08 11:01:37 BGP: Backtrace for 11 stack frames:
2017/03/08 11:01:37 BGP: [bt 0] ./bgpd(zlog_backtrace+0x2b) [0x4e2106]
2017/03/08 11:01:37 BGP: [bt 1] ./bgpd() [0x4ec984]
2017/03/08 11:01:37 BGP: [bt 2] ./bgpd(qfree+0x16)

[2017-03-09 20:46] eqvinox commented on #144
fixed in #267, closing

[2017-03-09 20:46] #144 closed

[2017-03-09 20:50] eqvinox commented on #215
@dwalton76 isn't that only for BGP->BGP aggregation? wouldn't you need to configure network statements for all of the to-be-aggregated subnets first (or need to enable redistribution)?

use case here is subnets in IGP => covering larger network statement in BGP.
(sidenote: redistribute into BGP is heavily frowned upon in DFZ setups)

[2017-03-09 22:39] ne-vlezay80 opened #268 "MPLS NetBSD is not supported"
You wrote in the FRR documentation that NetBSD does not support MPLS. In fact, this is not so. There is MPLS in NetBSD.
https://wiki.netbsd.org/users/kefren/mpls/

[2017-03-10 13:11] eqvinox commented on #268
While this might be the case, we don't automatically have resources to implement and test the support... patches are welcome :)

[2017-03-10 13:17] pguibert6WIND commented on #258
this ticke can be used for the following:
- draft-ietf-idr-bgp-prefix-sid-04
- rfc3107

[2017-03-13 15:30] ne-vlezay80 opened #273 "VPLS on LInux?"
Tell me please, why in VPLS? VPLS when it seems like it does not support Linux.
 VPLS is supported on the following systems:

[2017-03-13 15:52] donaldsharp commented on #273
@ne-vlezay80 I do not understand your question, can you clarify?  Also feel free to type your question in your native language.

[2017-03-13 16:00] ne-vlezay80 commented on #273
Дело в том, что операционная система LINUX поддерживает базовый MPLS (IP/MPLS) но не поддерживает туннели через MPLS, как это, например умеет OpenBSD.

[2017-03-13 16:01] donaldsharp commented on #273
Translation:

The fact is that the LINUX operating system supports basic MPLS (IP / MPLS) but does not support tunnels via MPLS, as, for example, OpenBSD knows how.

[2017-03-13 17:28] donaldsharp commented on #273
@ne-vlezay80 tunnels are supported via MPLS:

http://www.netdevconf.org/1.1/proceedings/slides/prabhu-mpls-tutorial.pdf

has examples on how to create them and tells you what kernel versions you need to actually do so.

[2017-03-13 17:29] donaldsharp commented on #273
@ne-vlezay80 Russian Translation(From translate.google.com):
Туннели поддерживаются через MPLS:

Http://www.netdevconf.org/1.1/proceedings/slides/prabhu-mpls-tutorial.pdf

Имеет примеры того, как их создавать, и сообщает вам, какие версии ядра вам необходимы для этого.

[2017-03-13 17:29] #273 closed

[2017-03-14 13:34] donaldsharp commented on #258
https://github.com/donaldsharp/frr/tree/MPLS

[2017-03-14 13:35] donaldsharp commented on #258
Email discussion:

1. The attribute should be named PREFIX_SID rather than LABEL_INDEX, because the latter is one of the 3 TLVs under this attribute
2. Label Index is the only TLV currently supported and should be encoded as a TLV within this attribute.

The operation itself seems to be fine. However, one additional point of note is that any networks configured in BGP for LU (with or without 'labe

[2017-03-14 13:36] donaldsharp commented on #258
Additionally this branch is not encoding the labeled unicast correctly at the moment.  It is showing up as a v6 route instead of a v4 route + label

[2017-03-14 13:36] donaldsharp opened #275 "EIGRP Support"
Add EIGRP to FRR

[2017-03-14 13:36] donaldsharp commented on #275
Currently being worked:

https://github.com/donaldsharp/frr/tree/EIGRP

[2017-03-14 13:37] donaldsharp commented on #275
This code forms neighbors and passes eigrp updates with routes around.

[2017-03-14 13:39] donaldsharp commented on #268
To further clarify:  We need some *BSD developer to help us get the zebra <-> kernel interface into better shape

[2017-03-16 11:44] jhiggins-NZ opened #279 "Router ACLs"
Feature Request for Router ACLs (RACLs)
- Desirable for traffic filtering.
- As a user I would like to configure a ACL and apply it to a L3 interface for the purposes of traffic filtering.

Commonly used variations
- Standard & Extended ACLs
(http://www.cisco.com/c/en/us/support/docs/security/ios-firewall/23602-confaccesslists.html#standacl)

- Object groups for ACLs
(http://www.cisco.com/c/en/us/

[2017-03-19 09:40] k0ste opened #283 "Dry_run: no description when prefix is empty."
Test data (generated via NOT vtysh):

[code]

[code]

*** want to see description of error ***

This is because static route without prefix length. After add prefix /32 - all okay, of course.

[code]

[2017-03-19 10:09] ne-vlezay80 opened #284 "Подержка BGP Inter-AS"
Будет ли в данной программе реализованна поддержка BGP Inter-AS?
http://www.juniper.net/documentation/en_US/junose16.1/topics/concept/mbgp-inter-as-option-a-overview.html

[2017-03-19 10:59] donaldsharp commented on #284
Translation:
Will there be any support in this program? BGP Inter-AS?
http://www.juniper.net/documentation/en_US/junose16.1/topics/concept/mbgp-inter-as-option-a-overview.html

[2017-03-19 11:48] mTaleqani commented on #275
hi Donald. i do not know if it is right to announce this problem here or should i create another Issue. any way i post it here.
after running eigrpd daemon, it successfully formed neighborship with GNS3 cisco router and the learned routes visible in  EIGRP Topology table but not inserted into zebra routing table. the problem has already been detected by other guys as it is announced here : "https:

[2017-03-19 12:15] donaldsharp commented on #275
@mTaleqani Yes I am aware of this issue.  I have not had time to look at this issue, yet.  I was hoping @diivious was going to have time to look at it and point out the issue for me :)

[2017-03-20 00:31] donaldsharp commented on #283
@k0ste -

All failed commands have no help associated with them when read in from the log file.  Not that it wouldn't be impossible to do so, it just would be a major change to get it in.

[2017-03-20 00:33] donaldsharp commented on #275
@mTaleqani -

Please check out my branch listed above, EIGRP now installs routes:

robot.cumulusnetworks.com# show ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, P - PIM, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct,

K>* 0.0.0.0/0 via 10.0.2.2, enp0s3
C>* 10.0.2.0/24 is directly connected, enp0s3
E   192.168.2.0/24 [0/0

[2017-03-20 12:15] donaldsharp commented on #284
@ne-vlezay80 This looks like l3 vpn.  While we don't have this ability at this point in time.  We do see FRR getting this.  I do not have a explicit road map for this though as this depends on individual developers doing this work as their use cases dictate.

[2017-03-20 12:15] donaldsharp commented on #284
Translation:

Это похоже на l3 vpn. Пока у нас нет этой способности на данный момент. Мы видим, что FRR получает это. У меня нет четкой дорожной карты для этого, хотя это зависит от индивидуальных разработчиков, выполняющих эту работу по мере того, как диктуют свои варианты использования.

[2017-03-20 12:20] ne-vlezay80 commented on #284
L2/L3 vpn - это отдельные интерфейсы, которых в Linux нет. Но я думаю, реализовать MPLS-MBGP будет не лишним:
http://www.golas.ru/blog/pogloschaem-mpls-set-ili-inter-as-mpls-option-c/
Добавить опцию send-label

[2017-03-20 12:22] donaldsharp commented on #284
Translation:

These are separate interfaces, which are not found in Linux. But I think implementing MPLS-MBGP will not be superfluous:
Http://www.golas.ru/blog/pogloschaem-mpls-set-ili-inter-as-mpls-option-c/
Add send-label option

[2017-03-20 12:29] donaldsharp commented on #283
I don't think it would be unreasonable to have vtysh output what part of the read in failed.  But this would need to be thought through a bit more than I have done here.  And we would probably need some decent amount of code changes to support anything along these lines.

[2017-03-20 16:23] k0ste commented on #283
In fact I needed to be more precise so that you understood me faster.

If separator not in new line:

[code]

We got this:

[code]

Reading the output immediately understanding of where the error is, not counting the lines. I.e. printing problem line is 90% of resolving problem, I think.

[2017-03-21 15:22] donaldsharp commented on #279
FRR is a Control plane protocol.  We currently do not see allot of value to implementing another way to configure netfilter(ip tables for some distrubution), or pf(*bsd distros) inside of FRR at this time.

[2017-03-22 14:49] donaldsharp commented on #155
Taking over of this issue

[2017-03-23 08:06] eqvinox commented on #155
Sorry, I dropped the ball on things :(

my previous work on this is at https://github.com/opensourcerouting/frr/commits/defaults
it's mostly the import check thing that's giving me a headache

[2017-03-23 08:08] eqvinox commented on #155
the following items from your changes mail were still left on my to-check list:
*  2) bgp: import-check enabled by default
* 10) bgp: 'no-as-set' default for 'bgp as-path multipath-relax'
* 11) bgp: enable IPv6 ND by default for BGP unnumbered neighbors
* 12) bgp: relaxed peer-group restrictions, update-groups determine outbound policy anyways
* 15) zebra: IPv6 ND RA has lifetime set to 0

I belie

[2017-03-23 08:11] eqvinox commented on #125
WiP on https://github.com/opensourcerouting/frr/tree/cli_magic
(fixes this as a side-effect)

[2017-03-23 16:58] cfra commented on #215
Looking through the current codebase and also at the old code, I cannot find any implementation of the described behavior.

`import-check` would e.g. announce 10.0.0.0/16 e.g. if there was a usable route 10.0.0.0/8 in the routing table. `import-check exact` would announce 10.0.0.0/16 only if there was a usable route 10.0.0.0/16 in the routing table. I don't see code anywhere that would have announ

[2017-03-25 07:49] eqvinox commented on #215
After discussing this with @cfra in person, I agree that this is a non-issue, i.e. we shouldn't do anything.  I misunderstood what the code was doing before, and we should just leave bgp import-check as it is now.

(Would still make the default depend on whether it's `datacenter` or `traditional` config; the "default" branch already does that.)

Closing issue.

Apologies for the churn caused :(

[2017-03-25 07:49] #215 closed

[2017-03-25 13:55] cfra commented on #155
Given that the "import-check" issue has been cleared up and the outcome was that no change in behavior is needed there, I think that the `defaults` branch is all that is needed to move forward here. I looked at it and it appears sensible to me, so I'd propose to merge it into stable/2.0 - then we should be able to close this issue.

[2017-03-27 23:06] diivious commented on #275
hummm...
You may not have permission to access frr-eigrp. Check Preferences to make sure you’re still logged in.

[2017-03-28 01:50] donaldsharp commented on #275
@diivious - Try here:  I just gave you collaborator permission too on the REP
https://github.com/donaldsharp/frr/tree/EIGRP

[2017-03-28 15:16] mwinter-osr commented on #260
I assume this is about forwarding speed which is outside of the FRR protocol stack. The performance depends on OS and forwarding platform below. (Software or potentially hardware forwarding is possible with FRR)

[2017-03-28 15:16] #260 closed

[2017-03-28 15:19] mwinter-osr commented on #198
@louberger : Any update on this? Is this resolved?

[2017-03-28 15:20] mwinter-osr commented on #142
@pguibert6WIND Can you give an update on this?

[2017-03-28 15:23] mwinter-osr commented on #61
@louberger Does this issue need more work? Or should it be closed?

[2017-03-28 19:48] #125 closed

[2017-03-29 21:23] qlyoung opened #300 "LDPD build fails on maybe-uninitialized rt"
[code]
This breaks builds with `-Werror`.

Presumably due to a switch statement with an empty default:

[code]

[2017-03-29 22:21] rwestphal commented on #300
Thanks for the report. It's a rather silly warning because there's no way 'rt' can be used uninitialized in those functions. Initializing 'rt' to NULL in both functions should fix the warning.

I'll open a new PR for ldpd tomorrow which will include a patch for this. If you need to get this fixed before that please let me know.

[2017-03-29 23:15] qlyoung commented on #300
I agree it's silly. On the other hand someone might come along in the future and accidentally make this soft warning into a hard failure. And yep, initializing to null is a workaround. Just opened an issue 'cause you know your code better than I do.

[2017-03-30 10:48] jhiggins-NZ opened #303 "OSPFv3 - Address Families"
Hey just wondering if we could expect to see OSPFv3 AF support in FRR?

https://tools.ietf.org/html/rfc5838

[2017-03-30 11:13] #155 closed

[2017-03-31 08:15] mwinter-osr opened #308 "FreeBSD: Zebra Group Membership check fails"
This is seen on FreeBSD 10.3:

The Membership check for the frrvty group fails on FreeBSD.

	root@ams1a:~dmahoney/frr-stable-2.0/doc # zebra -d
	privs_init: user(frr) is not part of vty group specified(frrvty)

But:

	root@ams1a:~dmahoney/frr-stable-2.0/doc # groups frr
	frr frrvty
	root@ams1a:~dmahoney/frr-stable-2.0/doc # grep frr /etc/group
	frrvty:*:102:frr
	frr:*:101:

[2017-03-31 08:40] mwinter-osr commented on #308
Same reported with FreeBSD 11 as well

[2017-03-31 11:43] jhiggins-NZ opened #309 "CLI - Hierarchy position does not change, when moving to BGP L2VPN EVPN"
When entering the configuration mode for bgp l2vpn evpn, the prompt does not change to reflect the new mode.

**Example:**

	(config-router)# address-family l2vpn evpn
	(config-router)# neighbor 2.2.2.2 activate       **<< Expected " (config-router-af)# " prompt**
	(config-router)# exit

	(config)# do sh run
	Building configuration...

	Current configuration:
	!
	no ipv6 forwarding
	!
	debug ospf6

[2017-03-31 14:52] mdtancsa commented on #308
The line
if ( (ngroups = getgrouplist (zprivs->user, zprivs_state.zgid, groups, &ngroups )) < 0 )
sets ngroups to zero. I worked around the issue by adding
ngroups = sizeof(groups)/sizeof(groups[0]);

[2017-03-31 16:58] rwestphal commented on #300
Agreed, even the harmless warnings should be fixed. Will close this once #311 is merged. Thanks again Quentin.

[2017-03-31 17:28] mdtancsa commented on #308
getgrouplist returns 0 on success or -1 on failure for FreeBSD.  This seems to fix the problem for me.

--- lib/privs.c.orig    2017-03-31 12:15:23.139190000 -0400
+++ lib/privs.c 2017-03-31 13:25:39.297130000 -0400
@@ -731,7 +731,7 @@
   if (zprivs->user)
     {
       ngroups = sizeof(groups);
-      if ( (ngroups = getgrouplist (zprivs->user, zprivs_state.zgid, groups, &ngroups )) < 0 )
+

[2017-03-31 20:40] rwestphal commented on #308
@mdtancsa thanks for your contribution, it fixes the same problem on OpenBSD for me.

Indeed the most portable way to use getgrouplist() is to use its return value only for checking if it succeeded or not.

Can you open a Pull Request with this fix on top of stable/2.0? If you prefer me to do it for you please let me know.

[2017-03-31 21:05] rwestphal commented on #308
Sorry but we need to get this fixed asap so I opened a PR myself (#312) preserving you as the author of the commit. Thanks again for your contribution.

[2017-03-31 21:07] mdtancsa commented on #308
On 3/31/2017 4:40 PM, Renato Westphal wrote:

Go for it. I am not sure if this is the best way to do it.  Perhaps a
bunch of compiler macros is better ?

	---Mike

--
-------------------
Mike Tancsa, tel +1 519 651 3400
Sentex Communications, mike@sentex.net
Providing Internet services since 1994 www.sentex.net
Cambridge, Ontario Canada   http://www.tancsa.com/

[2017-03-31 21:47] rwestphal commented on #308
Using compiler macros to fix anything is usually a last resort measure.

Your diff couldn't be any simpler and just fixes the problem.

We were using getgrouplist() in a non-portable way as this function's return values vary across different platforms.

On failure, it returns a negative value on *BSD and Linux (ok so far).

On sucess, it returns 0 on *BSD and 'ngroups' on Linux. But since 'ngroups

[2017-04-01 04:39] ultimatewindows10networks opened #313 "FRR needs Windows 10 support"
As time goes on, it is becoming more and more apparent in the networking world that only one platform will survive. Only one platform will excel beyond the rest and become the de facto champion of open networking. The platform I'm speaking of is, of course, *Microsoft Windows 10*©.

With more and more switches and network appliances shipping with *Microsoft Windows 10* pre-installed, it's becoming

[2017-04-01 04:52] qlyoung commented on #308
Closed by #312

[2017-04-01 04:52] #308 closed

[2017-04-01 05:12] RStandley commented on #313
I agree. Let's get it on _Microsoft Windows 10©_. Network viruses don't stand a chance against _Microsoft Windows 10©'s_ Windows Defender, which is the number one antivirus.

[2017-04-01 10:46] #313 closed

[2017-04-01 22:51] donaldsharp commented on #275
a

[2017-04-02 10:27] mTaleqani commented on #275
@donaldsharp - I have tested it several times and now EIGRP successfully inserts routes into zebra daemon, then i leave it running and after 30 minutes (sometimes after on hour) zebra daemon crashes and a syslog message saying "Warning: closing connection to zebra because of an I/O error!" is printed and zebra daemon is killed but EIGRP daemon is still running and working.
but if i run zebra daemo

[2017-04-02 11:48] donaldsharp commented on #275
@mTaleqani do you have a stack trace?  Since Zebra is crashing that implies that eigrp is sending bad data.  Do we have any other logs?

I'll set this up a bit later today and see what I can make happen.

[2017-04-02 12:37] mTaleqani commented on #275
@donaldsharp - unfortunately did not get any other logs except the one i mentioned above.

[2017-04-02 14:15] donaldsharp commented on #275
@mTaleqani - I just found and fixed an issue in the send of data to zebra involved with a route delete.  Please give this new version another try.

[2017-04-02 20:51] mTaleqani commented on #275
@donaldsharp - It seems you fixed the problem. i'll try to test in detail and let you know if i find any issue.

[2017-04-02 21:04] mTaleqani commented on #275
@donaldsharp - now route delete does not work for the zebra. i mean if an eigrp route is gone, eigrpd topology table reacts to it and it removes it from it's topology table but that route still alive in zebra daemon :(

[2017-04-03 00:52] donaldsharp commented on #275
@mTaleqani -> Fixed another issue with the send down of data.  Probably still more work ahead :)

[2017-04-03 12:19] jhiggins-NZ opened #317 "CLI - Interface description character return action, prints "[RIP] Unknown command""
**Issue:**
- When description is added for an interface AFTER existing "(config-link-params)", RIP reports that it is an unknown cmd.
- **Severity assumed low**, due to syntax written to running config.

**Setup Detail:**
- Interface config as below.
- No routing processes configured.
- Just a very basic almost default config.
- Running FRRouting 2.0 release, on CentOS 7.

**Example:**

(config)#

[2017-04-03 12:30] donaldsharp commented on #317
Happens as well for non RIP:
robot.cumulusnetworks.com# conf t
robot.cumulusnetworks.com(config)# int enp0s10
robot.cumulusnetworks.com(config-if)# link-params
robot.cumulusnetworks.com(config-link-params)# enable
robot.cumulusnetworks.com(config-link-params)# exit
robot.cumulusnetworks.com(config-if)# description FUN FUN
% [EIGRP] Unknown command: description FUN FUN
robot.cumulusnetworks.com(con

[2017-04-03 12:41] donaldsharp commented on #317
Actually it happens for anything non zebra

[2017-04-03 15:38] louberger opened #318 "redhat/frr.spec issues"
1) frr.spec is hardcoded to enable systemd in configure flags.  Should included when initsystem variable is set to "systemd".
2) typo: ospfd6d should be ospf6d

[2017-04-03 15:57] donaldsharp commented on #318
Silas -

Do we have this addressed in the code you are working on?

donald

On Mon, Apr 3, 2017 at 11:38 AM, Lou Berger <notifications@github.com>
wrote:

[2017-04-03 15:57] mdtancsa opened #319 "FPM automatically added to zebra.conf even when not compiled in"
If I disable fpm from the build, zebra automatically installs the fpm configuration line in zebra.conf (fpm
connection ip 0.0.0.0 port 0) at the first write conf.  There does not seem to be a way to do a
no fpm
either from the cli

So the next time zebra is started, it complains (non critical error at least) about the configuration entry
# ./zebra -d
*** Error reading config: There is no such comm

[2017-04-03 17:45] louberger opened #320 "redhat rpm install issues"
1) missing file: /etc/sysconfig/frr
2) frr executables not in path
can be fixed by adding  /etc/sysconfig/frr with contents
export PATH=${PATH}:/usr/lib/frr

[2017-04-03 21:30] donaldsharp commented on #300
Committed with #311

[2017-04-03 21:30] #300 closed

[2017-04-03 21:30] silasm commented on #318
I'd noticed the ospfd6d issue, but not the --enable-systemd one. Thanks! Testing a mock build now, looks like we've picked up some new build dependencies since last I tried it. Will include those as well once they're figured out.

[2017-04-03 21:31] donaldsharp commented on #319
fpm if turned on from the cli should have the ability to accept 'no fpm con...'

[2017-04-04 05:13] jhiggins-NZ opened #325 "Enhancement - "show interface description" alias change"
Suggestion:
- Make "show interface description" more user friendly to Cisco & ZebOS engineers.
- Also create IPv4 & IPv6 filtered outputs.

Example:

[code]

.
.

Change to "show interface brief" and add more options.

**Summary of all interfaces**
[code]

**Summary of IPv4 interfaces**
- Might also be good to alias "show ip interface brief" for the legacy IOS cmd.

[code]

**Summary of IPv6 inter

[2017-04-04 06:41] mTaleqani commented on #275
@donaldsharp - now eigrpd and zebra successfully add and remove routes when changes happen to the network.
with this version of eigrpd we can even configure eigrp hello-interval and hold-time per interface and it works without any problem, but there are still some issues :
1 - by default eigrp maximum-path should be 4 so equal-cost routes should be inserted into the zebra daemon but right now only

[2017-04-04 07:57] mTaleqani commented on #275
@donaldsharp - now eigrpd and zebra successfully add and remove routes when changes happen to the network.
with this version of eigrpd we can even configure eigrp hello-interval and hold-time per interface and it works without any problem, but right now it can not handle equal cost routes :
by default eigrp maximum-path should be 4 so equal-cost routes should be inserted into the zebra daemon but

[2017-04-04 09:22] mTaleqani commented on #275
@donaldsharp - i made some changes to the one of the eigrpd neighbors (cisco router) and one of the neighbors now advertise the same routes with higher metric. so now both routes are visible in eigrp topology table but none are inserted to the zebra daemon! it is shown in the following pictures :

![image](https://cloud.githubusercontent.com/assets/24407965/24649908/d30d7a06-193d-11e7-92c8-8e4c446

[2017-04-04 13:06] jhiggins-NZ opened #326 "CLI - OSPFv2 Router ID help returns <cr> when dotted decimal input is expected"
**Issue:**
- Character Return is printed, instead of indicating dotted decimal input is required, when using the CLI help (?)

**Setup:**
- FRR 2.0 release on CentOS 7.

**Example:**

[code]

.
.

OSPFv3 & BGP Examples: (good case)

[code]

[2017-04-04 13:10] donaldsharp commented on #326
router-id under ospf is a HIDDEN command, The expected input is:

` ospf router-id A.B.C.D`

HIDDEN commands don't get help strings associated with them displayed but they do get displayed.

I do not have the history of the why of this without, potentially useless, code diving

[2017-04-04 13:18] k0ste commented on #326
On quagga from CumulusLinux-2.5.9 this works fine:
[code]

[2017-04-04 13:22] donaldsharp commented on #326
@qlyoung am I missing something obvious?

[2017-04-04 13:24] jhiggins-NZ commented on #326
I don't think this is a hidden command.

Probably shouldn't be anyway, its the normal case that people lock down the RIDs in OSPF, ISIS & BGP environments.

Here is the example below anyway.

[code]

[2017-04-04 13:52] gaberger opened #327 "Build documentation seems out of date does not reference bootstrap.sh"
Build documentation points to old configure script https://frrouting.org/manual/Build-the-Software.html#Build-the-Software

The new methodology is to utilize `./bootstrap.sh` to leverage` automake`.

[2017-04-04 15:30] eqvinox commented on #303
https://www.nrl.navy.mil/itd/ncs/products/ospf-manet

[2017-04-04 15:30] donaldsharp commented on #303
This is already done under Boeings work against a much older version of quagga.  Our understanding is that Boeing stopped maintaining that code.

[2017-04-04 15:44] eqvinox commented on #327
The documentation is correct for builds from release tarballs; `./bootstrap.sh` is only needed for git checkouts.  Should probably still be in the docs, above that section.

[2017-04-04 16:10] sieben opened #328 "Link problem"
https://frrouting.org/maintainers.html the link at the top doesn't seem to be pointing to https://github.com/FRRouting (probably typo and capitalized problem)

[2017-04-04 23:09] ellisgl commented on #327
eqvinox: Can't run configure on frr-2.0.0's tarball.

[2017-04-04 23:26] ellisgl commented on #327
Also would be nice to have a list of dependencies instead of having to find out with configure/make.

[2017-04-04 23:51] donaldsharp commented on #327
@ellisgl please take a look at this directory:
https://github.com/FRRouting/frr/tree/master/doc

There are individual files that tell you what you need to do to build on different platforms.

We realize that we need to have better pointers to specific build instructions and are working on it.  I believe @mwinter-osr has this particular action item.

If you have suggestions we would love to hear th

[2017-04-05 00:02] ellisgl commented on #327
Thanks!

[2017-04-05 00:28] ellisgl commented on #327
So for CentOS 7  redhat/*.service doesn't exist - just *.init - which don't jive with systemd.

[2017-04-05 00:40] donaldsharp commented on #328
@sieben I am working on getting this fixed now.

[2017-04-05 12:55] osmoc opened #335 "split lib/vty.c into separate library"
Would be nice to share vty code with both osmocom.org and quagga projects.

[2017-04-05 13:41] donaldsharp commented on #335
This is something that we need to discuss in greater detail to get (a) get a better understanding of the ask and (b) discuss if we want to do so.

@osmoc would you be willing to attend next weeks Technical Meeting to discuss this?

[2017-04-05 17:18] jrrivers commented on #328
Fixed on website

[2017-04-05 17:20] #328 closed

[2017-04-06 00:41] donaldsharp commented on #275
@mTaleqani I just addressed some rib add/del issues, cleaned up some memory leaks.  Please give it another whirl

[2017-04-06 05:12] jhiggins-NZ opened #340 "OSPFv2 - Configuration is not written to the running configuration, if Domain ID is used"
**Issue:**
- OSPFv2 configuration is not written to the running-configuration, when a domain ID is specified.
- Issue prevents users from creating multiple instances of OSPFv2.

.
.

**Setup:**
- FRR-2.0 on Ubuntu 16.04 Server.
- FRR-2.0 on CentOS 7.

.
.

**Example:**

Setting a Domain ID prevents configuration being written to running config.

CentOS(config)# router ospf 65530
CentOS(config-rout

[2017-04-06 05:15] k0ste commented on #340
You run ospfd and ospfd-instance@65530?

[2017-04-06 05:43] jhiggins-NZ opened #341 "OSPFv3 (IPv6) - Parser takes user to (config-if) instead of rejecting, when incomplete "interface" cmd is entered"
**Issue:**  _(Potential Issue)_
- Parser logic is to take user to the (config-if) mode, since the interface syntax matches.
- However in this case, it is a component in the interface command (OSPFv3 for IPv6).
- Possibly expected that the **% Command incomplete** message is returned in this case.

.
.

**Setup:**
- FRR-2.0 on CentOS 7.

.
.

**Example:**

[code]

[2017-04-06 06:05] jhiggins-NZ commented on #340
No. Guess that must be the problem then.

Thought it would initiate a new instance by itself.

[2017-04-06 09:06] osmoc commented on #335
Could you clarify where Technical Meeting takes place or how can I attend?

[2017-04-06 12:52] k0ste commented on #340
No, you should run this manually. For example:
[code]

[code]

I do it via usual systemd service. You can grab systemd patch for frr from [ArchLinux package](https://aur.archlinux.org/cgit/aur.git/tree/?h=frr). Don't know why systemd support is not a part of frr.

You can read more about Multi-Instance OSPF in original [patch](https://github.com/CumulusNetworks/quagga/commit/7c8ff89e9346227f0e721f

[2017-04-06 14:14] donaldsharp commented on #335
Meetings are Tuesday at 11 am PDT.  If you will pm me your email address I can add you to the meeting invite.

Alternatively as part of my sending out the agenda to the dev list, I list the meeting details and how to attend.

[2017-04-06 14:18] donaldsharp commented on #327
@ellisgl There has been some discussion about how to properly handle the redhat startup with two camps of thought currently( I believe we have had this discussion on the dev alias ).  Most of the issue is that no-one has implemented the required service stuff for redhat.  There already exists a frr.service file in tools/ that could easily be used.

We would love for someone to have the time to pro

[2017-04-06 14:53] linvjw commented on #327
Sorry, newbie -- can you point me at the "discussion on the dev alias"? Is there a list of issues or concerns with the redhat/rpm packaging? I have some experience in that department and may be able to help...

[2017-04-06 14:56] donaldsharp commented on #327
https://lists.frrouting.org/pipermail/dev/

I believe that the discussion is in there.  If not, feel free to start a discussion on the dev alias and we can go over what has been discussed again.

[2017-04-06 17:54] qlyoung commented on #341
Hey there, thanks for pointing this out.

When you enter a command that's invalid for the current mode, the CLI will 'walk up' to parent nodes and attempt to execute the command in those contexts. If the command succeeds, the current mode changes to the mode where the command was successful. What's happening here is that while `interface ens33` is not valid for the ospf6 config mode, it *is* valid

[2017-04-06 17:54] #341 closed

[2017-04-06 23:44] ellisgl commented on #327
@donaldsharp With Redhat based distros, things start getting weird. I tried Fedora 25, and the make check ended up failing, since it was looking for python, but on Fedora, it's python3, even symlinking it didn't fully work since the test suite wasn't added. Ugh. Too many distros, maybe there should be an FRR distro that has it's own repo the uses the latest 4.x stable kernel. Of course I haven't g

[2017-04-07 04:00] mwinter-osr opened #346 "RIPng Redistribution broken"
RIPng redistribution is broken (at least for static and connected routes)

Example Config:

	interface r5-eth0
	 description to sw7
	 ipv6 address fc00:7::1/64
	 no link-detect
	!
	interface r5-eth1
	 description to sw6 - RIPng interface
	 ipv6 address fc00:6::2/62
	 no link-detect
	!
	router ripng
	 network fc00:6::/62
	 redistribute connected
	 redistribute static
	!
	ipv6 route fc00:7:1111::/64

[2017-04-07 08:03] mTaleqani commented on #275
@donaldsharp - they are all fixed and working like a charm :+1: .

when vtysh is called some warnings are printed out but i guess do not affect vtysh functions. the warnings are shown in the following pictures :
![image](https://cloud.githubusercontent.com/assets/24407965/24790012/a79f4d32-1b8a-11e7-9584-8721be81ceb3.png)

there are still some EIGRP features that not working still (probably not im

[2017-04-07 11:28] jhiggins-NZ commented on #340
Thanks :)

[2017-04-07 11:29] #340 closed

[2017-04-07 14:09] rwestphal commented on #346
I couldn't reproduce this bug here.

Please take a look at my test topology:

[code]

RT1's config:
[code]

RT2's config:
[code]

RT3's config:
[code]

RT4's config:
[code]

In summary, RT1 is not running RIPng and RT2 has a static route to RT1's loopback address. Also, RT2 is redistributing connected and static routes. This means that the following two routes must be present in RT3's and RT4's RI

[2017-04-07 15:22] rwestphal commented on #346
I think I found what the problem is.

I can't see lines like these in your ripngd's log file:
[code]

Presumably your r5-eth1 interface was shut down when you performed this test. Could you confirm that?

BTW, we definitely need a command like "show ipv6 ripng interfaces" to help troubleshooting problems like this.

[2017-04-07 17:07] mwinter-osr commented on #346
No. Interface up and running and I've tested the same.in older Quagga releases where it works

[2017-04-07 20:07] rwestphal commented on #346
So, according to your log file ripngd is not receiving the fc00:6::2/62 address from zebra. Without this information it can't enable RIPng on the r5-eth1 interface.

[2017-04-07 23:44] mwinter-osr commented on #346
The topotest git now contains a new test (in branch ripng_topo1) which shows the issue (with FRR 2.0)
See https://github.com/FRRouting/topotests/tree/ripng_topo1

[2017-04-08 10:01] mwinter-osr opened #348 ""show ip ospf interface" always returns "No such interface name""
This happens in stable/3.0 branch (2.0 works correct)

Config extract:

	[...]
	!
	interface r1-eth3
	 description to sw3 - OSPFv2 interface
	 ip address 192.168.3.1/26
	 ipv6 address fc00:0:0:3::1/64
	 no link-detect
	!
	[...]
	!
	router ospf
	 ospf router-id 192.168.0.1
	 log-adjacency-changes
	 network 192.168.0.0/24 area 0.0.0.0
	 network 192.168.3.0/24 area 0.0.0.0
	!
	[...]

No OSPF neighbor

[2017-04-08 10:56] mwinter-osr commented on #348
Issue can be reproduced with test from topotest library `all-protocol-startup`
(Checkout branch called `all-protocol-startup` to get the test)

[2017-04-08 11:03] mwinter-osr opened #349 "Spurious output to STDERR by ldpd"
Tested with stable/3.0 - the issue does NOT exist in stable/2.0

LDPd returns some log/errors to stderr at startup:

	2017/04/08 03:30:49 unknown: zclient_serv_path_set: zebra socket `/var/run/frr/zserv.api' does not exist
	2017/04/08 03:30:49 unknown: zclient_serv_path_set: zebra socket `/var/run/frr/zserv.api' does not exist
	2017/04/08 03:30:49 unknown: Connecting to Label Manager
	2017/04/08 0

[2017-04-08 11:05] mwinter-osr commented on #349
Issue can be reproduced with test from topotest library `all-protocol-startup`
(Checkout branch called all-protocol-startup to get the test)

[2017-04-08 11:11] mwinter-osr opened #350 "RIP crashing with redistribution"
Tested with stable/3.0 - the issue does NOT exist in stable/2.0

Issue can be reproduced with test from topotest library `rip-topo1`
(Checkout branch called `rip-topo1` to get the test)

RIP redistribution crashes RIPd. Crashdump:

	Program terminated with signal SIGABRT, Aborted.
	#0  0x00007f1940692428 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:54
	#0  0x00007f19406924

[2017-04-08 13:10] donaldsharp commented on #275
@mTaleqani - I fixed the max-path issue last night (untested) and pushed it up.  router-id is going to be more work than I want to do.

Question to all -> What do we need to do to consider this ready for a PR?

[2017-04-08 21:08] rwestphal commented on #350
Should be fixed by #352.

[2017-04-08 21:28] marymanohar opened #353 "Documentation for multiple instance and multi-vrf support"
It would be great to see documentation on multi-vrf support and how to run multiple instances of FRR (in different namespaces).

[2017-04-08 22:23] mwinter-osr commented on #346
Issue found by Renato: The test had duplicate IPv6 addresses. Test fixed, which solved the problem. This is NOT a FRR issue. Test was broken.

[2017-04-08 22:23] #346 closed

[2017-04-09 10:47] ne-vlezay80 opened #354 "FRR Init script"
#!/bin/bash

	### BEGIN INIT INFO
	# Provides:             frr
	# Required-Start:       $remote_fs $syslog
	# Required-Stop:        $remote_fs $syslog
	# Default-Start:        2 3 4 5
	# Default-Stop:
	# Short-Description:    FreeRouting Project
	### END INIT INFO

	FRR_PATH="/opt/frr"
	DAEMONS="zebra bgpd"
	PARAMS="-A 0.0.0.0 -d"

	ACTION=$1
	SHELL_CMD=$(echo $@|cut -d ' ' -f 2-|tr ' ' '_')

	cas

[2017-04-09 12:33] ne-vlezay80 opened #357 "Multipath routing not working"
Routing add on vtysh:
ip route 0.0.0.0/0 192.168.122.1
ip route 0.0.0.0/0 192.168.122.2 2
Routing table:
default via 192.168.122.1 dev eth0 proto zebra metric 20

Multipath routing not working?

[2017-04-09 12:42] donaldsharp commented on #357
nah multipath works.  Just not for statics as of yet.
Adding the ability to do that w/ statics shouldn't be too difficult by itself I reckon.  I would really like to see the statics pulled out into it's own daemon/thread though.

[2017-04-09 13:02] rwestphal commented on #357
@donaldsharp just tested here and ECMP works for static routes as well. The problem with @ne-vlezay80's configuration is that his routes have different administrative distances.

[2017-04-09 13:06] jhiggins-NZ commented on #357
Yea just did a test.

[code]

[2017-04-09 13:33] ne-vlezay80 commented on #357
Однако в таблицу маршрутизации попадает только:
0.0.0.0/0 via 192.168.1.4

[2017-04-10 03:01] rwestphal opened #358 "Problem with DEFUNSH in vtysh"
I discovered the hard way a weird problem in vtysh.

Commands defined with the DEFUNSH macro are always executed with argc set to zero and argv set to NULL.

Apparently the only command affected by this bug is bgpd's "address-family":
[code]
Since argc is always zero, the argv_find() calls always return 0 and vty->node is set to BGP_IPV4_NODE regardless of the safi modifier that is given.

[2017-04-10 03:02] #350 closed

[2017-04-10 03:05] rwestphal commented on #357
@ne-vlezay80 in this case please check if you configured FRR with --enable-multipath=2 or more (--enable-multipath=0 should work too).

[2017-04-10 17:01] bingen commented on #349
I will fix this.

[2017-04-10 17:04] bingen commented on #349
Oh, I saw you already fixed, @donaldsharp Thanks! I'll review @rwestphal comments and fix whatever is still missing.

[2017-04-11 00:59] mwinter-osr opened #360 "bgp summary shows multiple "Unknown Summary""
This is with stable/3.0 and master.

"show bgp summary" show multiple "Unknown Summary" sections. I would not expect any of them and definitly not multiple copies:

	dut# show bgp summary

	IPv4 Unicast Summary:
	BGP router identifier 192.168.0.1, local AS number 100 vrf-id 0
	BGP table version 1
	RIB entries 1, using 136 bytes of memory
	Peers 4, using 84 KiB of memory

	Neighbor         V

[2017-04-11 01:03] jrrivers commented on #327
Updated manual has been posted to the website.

[2017-04-11 15:10] louberger commented on #358
@qlyoung  @eqvinox  - can you take a look at this

[2017-04-11 15:14] riw777 commented on #357
This appears to be working; if there still an issue please reopen.

[2017-04-11 15:14] #357 closed

[2017-04-11 15:23] riw777 commented on #348
Martin to double check.

[2017-04-11 15:27] mwinter-osr commented on #327
I believe the wrong instructions are here: https://frrouting.org/manual/Installation.html#Installation

[2017-04-11 15:30] mwinter-osr commented on #327
I think we can have a basic description on the web

- ./bootstrap.sh
- ./configure
- make
- make install

and then point on the same page to the doc dir with all the detailed description per distro for more detailed instructions

[2017-04-11 15:33] riw777 commented on #326
Probably need to make v6 router-id command hidden to make the two versions consistent. Wait on Donald for more discussion.

[2017-04-11 15:52] rwestphal commented on #309
I just checked here and the "address-family l2vpn evpn" command works when telneting directly to bgpd but not when using vtysh.

Looking at the code I found this:

bgpd's code:
[code]
vtysh's code:
[code]
@louberger could you take a look at this?

[2017-04-11 16:06] louberger commented on #309
evpn really belongs to 6winds @vjardin6WIND @pguibert6WIND , can one of you take a look?

[2017-04-11 16:08] elsobrino opened #361 "route src is wrong if dummy interface is used as loopback"
If you use a dummy interface as loopback interface, the installed kernel routes get  a wrong src, if there is any other configured ip address.

[code]

10.10.100.22 is learned via BGP and enp4s0f1 is one of the machine's BGP interfaces. I would expect src to be 10.10.100.21, which is the machine's loopback ip on dummy0. If I add 10.10.100.21 to lo instead of dummy0, I get the expected route:

[cod

[2017-04-12 06:39] mwinter-osr commented on #348
Verified fixed in 3.0 (Tested Git sha 64919312).

See topotest result for this specific test here: https://ci1.netdef.org/browse/FRR-FRR4-TOPOU1604-8/test/case/27329861

[2017-04-12 06:39] #348 closed

[2017-04-12 06:53] mTaleqani commented on #275
@donaldsharp - maximum-path still not working. when it is set to 1 there are still 2 eigrp routes in rib.
**passive-interface** : it is not feasible to make an interface as passive-interface in eigrpd. when we type passive-interface in eigrpd cli, only the following options are available :
![image](https://cloud.githubusercontent.com/assets/24407965/24790895/5205c5c4-1b8d-11e7-8f38-85e4997c31d6.pn

[2017-04-12 12:22] ne-vlezay80 opened #362 "vrf unkown interface"
ne-vlezay80(config)# ip route 10.194.1.0/24 servers
% Unknown interface: servers

ifconfig servers
servers   Link encap:Ethernet  HWaddr 8e:e7:54:c1:0a:b6
          UP RUNNING NOARP MASTER  MTU:65536  Metric:1
          RX packets:348 errors:0 dropped:0 overruns:0 frame:0
          TX packets:31 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX bytes:28814

[2017-04-12 12:42] pguibert6WIND commented on #309
Hello,
thanks @ jhiggins-NZ for pointing out the issue.
thanks @rwestphal for pointing out the root cause.
I made a fix into pull request

https://github.com/FRRouting/frr/pull/363

I think it will be very helpful.
anyone can review it ?

[2017-04-12 13:00] jhiggins-NZ opened #364 "LISP - Routing Support"
Might be good to see if FRR could support LISP in a future release.

Some examples:
- Not sure which is more up to date.

https://github.com/OpenOverlayRouter/oor

https://github.com/lip6-lisp

[2017-04-12 18:31] donaldsharp commented on #364
FRR would love to have a implementation of LISP.  At IETF 98 when I was speaking with Dino he asked about it as well.  I would love to have someone step forward and provide this functionality for FRR.

[2017-04-12 18:38] donaldsharp commented on #362
@ne-vlezay80 if servers is in a different vrf then specify the vrf as part of the ip route command:
`ip route 10.194.1.0/24 servers vrf <VRF>`

[2017-04-12 18:44] ne-vlezay80 commented on #362
donaldsharp,
ne-vlezay80(config)#  ip route 10.194.2.0/24 servers vrf servers
ne-vlezay80(config)# exit

S>* 0.0.0.0/0 [1/0] via 10.247.0.1, eth0
S>* 10.194.0.0/16 [1/0] is directly connected, Null0, bh
C>* 10.194.0.0/24 is directly connected, vlan10
K * 10.194.1.0/24 is directly connected, **unknown inactive**
S   10.194.1.0/24 [1/0] is directly connected, **unknown inactive**
B   10.247.0.0/24 [

[2017-04-14 02:00] mwinter-osr commented on #318
This is fixed in my work-in-progress for stable/2.0 with multiple other fixes
See https://github.com/opensourcerouting/frr/tree/rpm-fixes-2.0

Pull Request will be submitted once it's well tested.
(3.0 and master will be fixed after 2.0 is done)

[2017-04-14 07:52] lamabot opened #367 "pimd missing in FRR documentation"
There is no pimd description in https://frrouting.org/user-guide/
It would be nice to have Protocol Independent Multicast usage description.
Also MSDP too.

[2017-04-14 08:33] mwinter-osr commented on #354
Current (old) redhat scripts have a init script per daemon.
In the process to change this, but the correct way would be to select daemons based on a daemons.conf file (similar like on debian).
A newer init script already exists as tools/frr, but it needs fixes for rpm based systems

I'm working on fixing this and various other rpm packaging issues. Current progress can be seen at https://github.co

[2017-04-14 14:24] donaldsharp commented on #361
@elsobrino can I get a 'show int dummy0'  I would like to see what it's flags are.

[2017-04-14 14:29] elsobrino commented on #361
@donaldsharp sure

[code]

[2017-04-14 14:32] donaldsharp commented on #361
@elsobrino the dummy0 interface is not considered a loopback from FRR's perspective, here is a loopback interface:
[code]

[2017-04-14 14:37] elsobrino commented on #361
@donaldsharp Is there any way to configure dummy0 as loopback? I am stumbling over this issue, because I am trying to build a Ceph cluster above a Clos IP fabric and Ceph is not able to use lo as its interface.

[2017-04-14 14:38] donaldsharp commented on #361
@elsobrino Pointers to a 'Ceph cluster'?  I'll need to do some research here.

[2017-04-14 14:42] elsobrino commented on #361
@donaldsharp two more things

1.) as far as I understand 'set src a.b.c.d' should set the route src to a.b.c.d. This does not work neither.
2.) If I remove all other addresses besides dummy0 the route src is set correctly.

[2017-04-14 21:08] Challado opened #368 "show ip bgp regexp always empty"
bgpd compilation: '--enable-snmp' '--enable-systemd' '--runstatedir=/run/frr/' '--localstatedir=/var/run/frr' '--sysconfdir=/usr/local/etc/frr' '--libdir=/lib' 'LIBS=-lpcre'
vtysh compilation

 vtysh

Hello, this is FRRouting (version 3.1-dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

serveru# show ip bgp regexp 28158
serveru#

always return EMPTY. Is that correct?

[2017-04-14 21:20] marymanohar opened #369 "set as-path prepend last-as does not allow 10 as input"
In stable/2.0
router(config-route-map)# set as-path prepend last-as
<1-10> Number of times to insert
router(config-route-map)# set as-path prepend last-as 10
% BGP Argument is malformed.
router(config-route-map)#

[2017-04-14 22:01] donaldsharp commented on #368
I hate to ask the obvious.  Do you have routes with 28158 in the as path?

[2017-04-14 22:05] donaldsharp commented on #368
Never Mind this is a bug.  Code inspection shows the silliness.  Thanks for the find.

[2017-04-14 22:15] Challado commented on #368
Sorry, i'm not a programmer. I take a buided package from friend, doesn't
have the source.
References about any changes on code are on documentation or on changelog?
Or all the users will need to find the code to discover changes?
show ip bgp regexp _28158_ doesn't show nothing. In documentation have
references about command.
What I need to looking for, exactly?

2017-04-14 19:05 GMT-03:00 Donald

[2017-04-14 22:18] Challado commented on #368
Ah, sorry. I doesn't understand the first post. I read "never mind that is
a bug", but is this. Sorry for mistake.
Waiting for changes on code to ask for a recompilation to a friend.

2017-04-14 19:05 GMT-03:00 Donald Sharp <notifications@github.com>:

[2017-04-15 00:16] donaldsharp commented on #369
Fixed in PR #370 and #371

[2017-04-15 04:35] lamabot opened #372 "pimd: incomplete command leads to disconnect and demon quits"
Hello, this is FRRouting (version 3.1-dev-g73a9e6d).
This is a git build of frr-2.0-1558-g73a9e6d

incomplete
ip pim rp 10.1.1.1
no ip pim rp 10.1.1.1

![pimdbug](https://cloud.githubusercontent.com/assets/24563152/25060755/98f2f710-21ad-11e7-9587-5a57312255a5.png)

pimd.log

2017/04/14 20:21:20 PIM: pimd 3.1-dev-g73a9e6d starting: vty@2611
2017/04/14 20:21:20 PIM: PIM INTERFACE UP: on interface e

[2017-04-15 17:30] donaldsharp commented on #275
@mTaleqani - Yes you are correct, I wrote no code to handle the situation of setting max-paths after we have already brought up neighbors.  Save the config and reload and things should work.  Hopefully 'good enough' for the moment.

I'll take a look at passive-interface while I got some time this afternoon to see what I can scrumble up.

[2017-04-17 14:26] ne-vlezay80 opened #375 "Will LDPD and MPLS work with this kernel?"
Вот, собственно ядро:
https://github.com/i-maravic/MPLS-Linux
Будет ли с ним работать frrouting?

[2017-04-17 14:34] donaldsharp commented on #375
Translation:

Will LDPD and MPLS work with this kernel?

Here, actually the core:
Https://github.com/i-maravic/MPLS-Linux
Will frrouting work with him?

[2017-04-17 14:52] donaldsharp commented on #375
I do not believe that the MPLS-Linux repo of i-maravic made it into the linux kernel.

MPLS started to be supported in the linux kernel was introduced around March of 2015.  This support allowed a maximum of two labels on the stack.  This should roughly correspond to Linux 4.0.  It looks like various bug fixes went in over the last couple of years.  In late March of this hear David Ahern reworked

[2017-04-17 14:52] donaldsharp commented on #375
Translation:

Я не верю, что репозиторий MPLS-Linux от i-maravic превратил его в ядро linux.

MPLS начала поддерживаться в ядре linux, которое было выпущено в марте 2015 года. Эта поддержка позволила использовать максимум две метки в стеке. Это должно примерно соответствовать Linux 4.0. Похоже, что в течение последних нескольких лет были исправлены различные исправления ошибок. В конце марта этого

[2017-04-17 16:44] ne-vlezay80 commented on #375
Дело в том, что в ядре Linux нету поддержки VPLS. А в вышеуказанном ядре такая поддержка есть. Также она есть в OpenBSD. Почему в Linux нету поддержки VPLS?

[2017-04-17 16:52] donaldsharp commented on #375
Translation:

The fact is that there is no VPLS support in the Linux kernel. And in the above kernel, there is such support. Also it is in OpenBSD. Why is there no VPLS support in Linux?

[2017-04-17 16:54] donaldsharp commented on #375
Because no-one has implemented it yet.  I imagine it will be implemented at some point in time in the future.

Потому что его еще никто не реализовал. Я думаю, он будет реализован в определенный момент времени в будущем.

[2017-04-17 17:01] ne-vlezay80 commented on #375
А почему тогда его реализовали в OpenBSD? Кто его там реализовывал?

[2017-04-17 17:28] donaldsharp commented on #375
Translation:

And why then it was implemented in OpenBSD? Who implemented it there?

[2017-04-17 17:36] donaldsharp commented on #375
I cannot answer the why( or who of it)  it was implemented in OpenBSD, other than someone had a need for VPLS and paid someone to implement it in OpenBSD.  Once someone ponies up some resources for this to happen in Linux it will happen very shortly afterwords.

Я не могу ответить на вопрос о том, почему (или кто он) был реализован в OpenBSD, кроме того, кто-то нуждался в VPLS и платил кому-то за

[2017-04-17 19:25] qlyoung commented on #372
Also fixed by #373

[2017-04-17 21:06] ne-vlezay80 opened #376 "Can I use FRR to connect ip-transit from operators?"
Интересно, можно ли FRR использовать для подключения ip-транзита по протоколу BGP от следующих провайдеров:
https://moscow.rt.ru/b2o/services/datacom/iptransit
http://voronezhskaya-obl.beeline.ru/about/partners/operators/
http://ttk.ru/rus/voronezh/operators/service/servicepage60823.phtml
https://moscow.megafon.ru/operators/fixed/ip/
https://www.inet2.net/idea/
И можно к ним подключится, если сист

[2017-04-17 23:22] donaldsharp commented on #376
Translation:

I wonder if FRR can be used to connect ip-transit using the BGP protocol from the following providers:
Https://moscow.rt.ru/b2o/services/datacom/iptransit
Http://voronezhskaya-obl.beeline.ru/about/partners/operators/
Http://ttk.ru/eng/voronezh/operators/service/servicepage60823.phtml
Https://moscow.megafon.ru/operators/fixed/ip/
Https://www.inet2.net/idea/
And you can connect to them

[2017-04-17 23:27] donaldsharp commented on #376
FRR is perfectly acceptable to be used to receive full tables from providers.  I cannot comment on the 'old kernel' as that we need a bit more understanding of how old.  I would guess we would really want the route replace netlink feature as a minimum in that case.  If you do not have a route replace you could fairly easily work up a patch like what *bsd does to delete than add the route.

FRR впо

[2017-04-18 03:36] mwinter-osr commented on #354
Pull Request with updated init script for stable/2.0 is submitted. See https://github.com/FRRouting/frr/pull/378
Would appreciate if you could test and provide feedback on it.

[2017-04-18 03:38] mwinter-osr commented on #320
Pull Request with updated init script for stable/2.0 is submitted. See #378
Would appreciate if you could test and provide feedback on it.

I did NOT add a /etc/sysconfig/frr to the RPM package as I feel like this is all
duplicated with the config files in /etc/frr/ .
If you think it's needed, then please explain and what config should be in it.

[2017-04-18 03:39] mwinter-osr commented on #318
Pull Request with updated init script for stable/2.0 is submitted. See #378
Would appreciate if you could test and provide feedback on it.

[2017-04-18 14:17] donaldsharp commented on #275
passive-interface commands are now accepted on the branch but nothing is done about it yet.  That code has not been written yet

[2017-04-18 15:43] donaldsharp commented on #335
vty.c is tied closely to our implementation.  It provides a telnet connection and there are several telnet libraries available already.  During today's technical meeting we do not see any thing advantageous to split this code out into it's own library.

This issue will be closed in 1 week if there is no activity.

[2017-04-18 16:06] #368 closed

[2017-04-18 16:06] #369 closed

[2017-04-18 18:13] louberger commented on #364
The BGP RFAPI can be used *as is*
          to provide a (bgp-based) mapping system  backend  LISP for map
          registers and resolutions transaction. Drop me a line if
          you're interested in working on this...

        On
          April 12, 2017 2:33:15 PM Donald Sharp
          <notifications@github.com>
          wrote:

          FRR would love to have a implementation of LISP. A

[2017-04-18 18:24] donaldsharp commented on #361
@elsobrino by the fact that dummy0 interfaces do not push packets for forwarding I am deeply concerned about their usefullness as a 'pretend' loopback.  I'd like to understand why loopbacks don't work in a 'ceph cluster'.

[2017-04-18 18:31] dsahern commented on #361
@elsobrino An address on the egress device (enp4s0f1 in your example above) always takes precedence in source address selection.

[2017-04-18 21:43] elsobrino commented on #361
@dsahern But enp4s0f1 is not the interface which has the used ip address. enp4s0f1 has only IPv6 link-local through which it does BGP. The used ip address is configured on enp5s0, which is used only for management purposes.

@donaldsharp When I use lo as Loopback Interface the ceph Services are not able to Start because they can't find the configured public/cluster network. On Ceph IRC they told m

[2017-04-18 21:51] dsahern commented on #361
@elsobrino hmmm... read those interface names too quickly. the source address logic is as follows:
1. address on egress device if it has one
2. address on VRF device if egress device is enslaved (kernel version 4.5 and up)
3. walk list of interfaces in same L3 domain looking for an address. This means loopback first, then auto-probed devices (your enp* ones), then added devices.

The result is tha

[2017-04-18 22:18] elsobrino commented on #361
@dsahern #3 is clearly the behaviour I can observe. But shouldn't this be influecable by 'set src a.b.c.d' within a route-map?

[2017-04-18 22:21] dsahern commented on #361
That's a question for @donaldsharp; my comment above is how the kernel picks a source address if the route does not have a preferred source.

[2017-04-19 11:16] #372 closed

[2017-04-19 11:35] donaldsharp commented on #349
Closing bug since we've fixed this issue already

[2017-04-19 11:35] #349 closed

[2017-04-19 11:38] donaldsharp commented on #367
1)  There is documentation that cumulus has written that I need to see if we can get converted over to markdown and contributed back.  I will take this item.

2) I am not aware of anyone working towards modifying the msdp commands.

[2017-04-19 11:38] donaldsharp commented on #375
Closing discussion as that I think we've fully explored the issue

[2017-04-19 11:38] #375 closed

[2017-04-19 23:43] ne-vlezay80 opened #380 "Why is the router with MPLS on Linux not visible in the traceroute?"
Вот трасировка до тестового стенда:
traceroute to 10.194.4.1 (10.194.4.1), 30 hops max, 60 byte packets
 1  10.247.1.1 (10.247.1.1)  0.113 ms  0.108 ms  0.120 ms
 2  10.247.0.250 (10.247.0.250)  0.303 ms  0.305 ms  0.308 ms
 3  * * *
 4  10.194.4.1 (10.194.4.1)  0.368 ms  0.372 ms  0.375 ms
3-й хоп - это хоп с MPLS.

[2017-04-20 00:03] qlyoung commented on #380
From the manual page `traceroute(1)`:
[code]
From Wikipedia (https://en.wikipedia.org/wiki/Multiprotocol_Label_Switching)
[code]

Because `traceroute(1)` uses the TTL field in IP packets, and MPLS does not operate with IP packets, the MPLS router does not send an ICMP message based upon the TTL field.

Please note that there are plenty of resources available online to learn about networking. Openi

[2017-04-20 00:06] donaldsharp commented on #380
@ne-vlezay80 Are you asking for a version of mpls ping/traceroute?  If so I can provide early access to some code written to do that.

Вы спрашиваете версию mpls ping / traceroute? Если так, я могу обеспечить ранний доступ к некоторому написанному для этого коду.

[2017-04-20 00:14] ne-vlezay80 commented on #380
Вот трассировка. Почему тогда здесь показанны mpls-метки?
traceroute to 8.8.8.8 (8.8.8.8), 30 hops max, 60 byte packets
 1  10.247.1.1 (10.247.1.1)  0.119 ms  0.115 ms  0.127 ms
 2  100.64.0.1 (100.64.0.1)  14.974 ms  14.975 ms  15.028 ms
 3  192.168.192.193 (192.168.192.193)  5.355 ms  5.414 ms  5.416 ms
 4  * * *
 5  google2.inet2.net (85.112.122.160)  31.909 ms  32.188 ms  32.368 ms
 6  216.239

[2017-04-21 07:58] pguibert6WIND opened #385 "VRF support broken in contrast with quagga 1.1 implementation"
One difference with quagga 1.1 is that the frrouting feature of VRF has changed, and brings two issues:
* the VRF feature in frrouting is lost for kernels not supporting [1], whereas it was working on Quagga.
* it is not possible to rely on kernel netns, whereas in Quagga the netns solution was used.

[1] https://www.kernel.org/doc/Documentation/networking/vrf.txt

This issue is here to solve that

[2017-04-21 13:42] pguibert6WIND commented on #353
Hi @marymanohar,

There is an issue [0] that explains that FRR lost the support for netns.
A work is in progress on our side to (re)implement it.

Once done, a documentation will be provided.
Do you have a specific use case in mind ?
Which routing protocol do you intend to use ? AFAIK, not all routing protocols in FRR are compatible with VRF.

[0] https://github.com/FRRouting/frr/issues/385

[2017-04-21 22:22] marymanohar commented on #353
Hi @pguibert6WIND

I are primarily looking at using bgpd and ospf.
I was looking for documentation in the user guide to run multiple instances. I was able to figure out that the vty_socket option helps by specifying a different directory for each instance.

I would also like to play with the multi-vrf feature for bgp and ospf.

[2017-04-21 23:26] mwinter-osr opened #389 "ospf_interface.c fails building with --enable-werror on PPC Architectures"
On a Debian 8, PPC (PPC or PPC64, Big Endian) system, the build fails:

	gcc -std=gnu99 -DHAVE_CONFIG_H  -DSYSCONFDIR=\"/etc/frr/\" -I. -I..  -I.. -I.. -I../lib -I../lib  -Werror -g -Os -fno-omit-frame-pointer -Wall -Wextra -Wmissing-prototypes -Wmissing-declarations -Wpointer-arith -Wbad-function-cast -Wwrite-strings -Wno-unused-result -Wno-unused-parameter -Wno-missing-field-initializers -MT osp

[2017-04-22 16:47] ne-vlezay80 opened #390 "Bug or Configuration Error?"
Короче, вот конфиг MPLS на одном из дистрибутивов:
In short, here's the MPLS configuration on one of the distributions:
 226 sysctl -w net.mpls.conf.lo.input=1
 227 sysctl -w net.mpls.platform_labels=1048575
 228 ip link add veth0 type veth peer name veth1
 229 ip link add veth2 type veth peer name veth3
 230 sysctl -w net.mpls.conf.veth0.input=1
 231 sysctl -w net.mpls.conf.veth2.input=1
 232 ifc

[2017-04-24 06:37] mwinter-osr opened #392 "Git commit 2f834b356 ("vtysh: parsing fixes on distribute-list") breaks RIP compliance"
Issue seems to be based on some configuration. Each compliance test on it's own passes, but they fail if run in sequence. Expect to be an issue of some config not correctly getting removed.

[2017-04-24 06:39] mwinter-osr commented on #392
Here is the comparison of the git sha before and this specific commit

| Test          | Git 16807aa | Git 2f834b3 |
|---------------|:-----------:|:-----------:|
| ANVL-RIP-1.1  |    Passed   |    Passed   |
| ANVL-RIP-1.2  |    Passed   |    Passed   |
| ANVL-RIP-1.3  |    Passed   |    Passed   |
| ANVL-RIP-2.1  |    Passed   |    Passed   |
| ANVL-RIP-2.2  |    Passed   |    Passed   |
| ANVL-

[2017-04-24 07:10] mwinter-osr commented on #392
Issue seems to be related to some distribute-list not getting correctly unconfigured. Investigating further and will update once I know the exact issue.

[2017-04-24 09:10] mwinter-osr commented on #392
Issue seems to be related on an attempt to disable/enable RIPv2 host routes. The commit actually fixed the distribute-lists for RIP, but it looks like either the ANVL test is bad or there it triggered another issue.

This is how ANVL currently tries to disable RIP host routes:

	router rip
	 version 2
	 network 192.168.1.0/24
	 network 192.168.2.0/24
	 distribute-list prefix anvl in
	!
	ip prefix-

[2017-04-24 12:12] donaldsharp commented on #392
shouldn't that prefix list be:

`ip prefix-list anvl seq 5 deny 0.0.0.0/0 le 32`

[2017-04-24 12:22] donaldsharp commented on #385
@pguibert6WIND Can you help me to understand what is broken exactly?  What do you want the behavior to be?

[2017-04-24 14:29] dsahern commented on #390
drop the mtu on the devices in the LSP

[2017-04-24 14:29] dsahern commented on #390
I mean lower it ... e.g, to 1490

[2017-04-24 14:49] pguibert6WIND commented on #385
Hi @donaldsharp ,

========
Behind what I say is "broken" means that VRF features does not work like it was working in Quagga 1.1 world.
It is broken, since frrouting users can not do the same thing as they were doing when they were quagga users.
Before going further let me precise some terms:
- VRF kernel feature
- Netns kernel feature
- "VRF quagga" versus "VRF frrouting"

This has some conseque

[2017-04-24 15:42] pguibert6WIND commented on #385
quagga 1.1.1 enclosed permits adding a static route in netns1
This feature is not available in FRR.
[config_vrf.txt](https://github.com/FRRouting/frr/files/952291/config_vrf.txt)

[2017-04-24 20:05] ne-vlezay80 opened #396 "Можно ли Linux или OpenBSD использовать в следующих MPLS сетях как P или PE?"
TTK:
http://www.sakhttk.ru/img/faq_vpn_1.gif

https://hsto.org/files/32c/f20/5d3/32cf205d34d648caa6ab8c2983f754db.gif
http://www.lessons-tva.info/archive/logos/net_MPLS.png
http://telekomza.ru/wp-content/uploads/2013/04/p1.png
http://5fan.ru/files/1/5fan_ru_5480.html_files/23.png

Или вот статья про MPLS:
https://habrahabr.ru/post/246425/

Кстати, если я пытаюсь сделать:
ip route add 80.194.222.8/

[2017-04-24 20:07] ne-vlezay80 commented on #390
А тагда почему на ядрах 4.9.x всё работает нормально даже с mtu 1500?

[2017-04-24 21:58] ak503 opened #397 "netlink_link_change not detected rename iface"
fox example i have clear zebra config
1. run zebra
2. insert usb device (wifi)
3.  run vtysh: show interface.
i see :
Interface wlan0 is up, line protocol is down
 Link ups:       1    last: 2017/04/25 00:35:15.23
  Link downs:     1    last: 2017/04/25 00:35:15.23
  PTM status: disabled
 vrf: Default-IP-Routing-Table
 index 40 metric 0 mtu 1500
 flags: <UP,BROADCAST,MULTICAST>
 Type: Unknown
 HWa

[2017-04-24 22:03] ak503 opened #398 "crash libfrr"
if i run zebra, and then insert usb wifi, and then deletet my device and then  'Terminating on signal' (ctr+c), i see:
^C2017/04/25 00:59:02 ZEBRA: Terminating on signal
2017/04/25 00:59:02 ZEBRA: IRDP: Received shutdown notification.
2017/04/25 00:59:02 ZEBRA: VRF Default-IP-Routing-Table id 0 is now disabled.
2017/04/25 00:59:02 ZEBRA: rib_unlink: 0:169.254.0.0/16: rn 0x7ec6b0, rib 0x7ec710
2017

[2017-04-25 00:14] rwestphal commented on #398
Thanks for the report, I'm working on this.

I managed to reproduce this bug with the commands below:
[code]

I'll convert if_table to use a sane data structure which should naturally fix this problem. Using a routing table to store interfaces is very error prone and inefficient.

[2017-04-25 02:15] mwinter-osr commented on #392
So tried it your suggested way:

	router rip
	 version 2
	 network 192.168.1.0/24
	 network 192.168.2.0/24
	 distribute-list prefix anvl in
	!
	ip prefix-list anvl seq 5 deny 0.0.0.0/32 le 32

But this somehow filtes a route of 200.0.1.0/24 pointing at 0.0.0.0:

	RIP: RECV packet from 192.168.1.1 port 520 on eth2
	RIP: RECV RESPONSE version 2 packet size 24
	RIP:   200.0.1.0/24 -> 0.0.0.0 family 2

[2017-04-25 02:37] k0ste commented on #385
Thanks @pguibert6WIND
Who doesn't works with "VRF kernel feature", I make example (did this before).

[code]

[code]

[2017-04-25 02:51] mwinter-osr commented on #392
I think the issue is in the prefix-list matching library code. See code here with debug comments.

Comparing 200.0.1.0/24 against list
`ip prefix-list anvl seq 5 deny 0.0.0.0/0 le 32`

	static int
	prefix_list_entry_match (struct prefix_list_entry *pentry, struct prefix *p)
	{
	  int ret;

	  ret = prefix_match (&pentry->prefix, p);

	# pentry->prefix:
	# $5 = {family = 2 '\002', prefixlen = 0 '\0

[2017-04-25 03:00] mwinter-osr commented on #392
Correct prefix-list should be `ip prefix-list anvl seq 5 deny 0.0.0.0/0 ge 32` not `le 32` to filter out host routes. Testing again...

[2017-04-25 03:53] mwinter-osr commented on #392
2 choices should work:

`ip prefix-list anvl seq 5 permit 0.0.0.0/0 le 31`
or
`ip prefix-list anvl seq 5 deny 0.0.0.0/0 ge 32`
`ip prefix-list anvl seq 10 permit any`

Quick test confirms this as a ANVL script issue. Fixed script and in progress of a full retest

[2017-04-25 06:33] pguibert6WIND commented on #385
Hello @k0ste ,
Thanks for pointing out this linux configuration example to enhance "VRF kernel feature".

Before "VRF kernel feature" exists, "NetNs kernel feature" was used by quagga to map "Quagga VRF".
In the same way it is illustrated by you, you can create a netns in the shell;

Then, once done, you can configure in the routing engine.
For netns, you must call function 'ip netns add netns1' t

[2017-04-25 06:42] mwinter-osr commented on #392
Confirmed to be an issue with the ANVL configuration which got triggered by the distribution list getting fixed.
Issue is fixed in the ANVL compliance scripts. Not a problem in the FRR code

[2017-04-25 06:42] #392 closed

[2017-04-25 07:27] k0ste commented on #385
I want to note, the most optimal variant of development is the creation VRF interfaces by the frr, instead of manual work in the shell, then, if there was an error, expect the correct operation of the frr ("VRF kernel feature").

For less advanced Linux users, this causes problems that you need to perform a configuration somewhere else besides vtysh. Accordingly, it repels new users to the Linux r

[2017-04-25 10:43] mTaleqani commented on #385
@k0ste - I tried to make a vrf in the way you said (using VRF kernel feature), but encountered the following error :
![image](https://cloud.githubusercontent.com/assets/24407965/25381221/15f7c804-29c8-11e7-84ca-eac209191bf1.png)
i have installed IProute2 and my linux kernel is 4.10 (4.10.6-1.el6.elrepo.x86_64) and using centos 6.5 but unable to create vrf.
for the ones like me beginner in linux, i

[2017-04-25 11:36] k0ste commented on #385
Check your kernel config:
[code]
Check iproute know about vrf:
[code]

[2017-04-25 11:52] donaldsharp commented on #396
Or here is an article about MPLS:
Https://habrahabr.ru/post/246425/

By the way, if I try to do:
Ip route add 80.194.222.8/32 encap mpls 100/101/102/103/104/105/106/107/108 via inet 172.20.220.2
That's a mistake:
Invalid argugent.

Will such a compression work on OpenBSD?

[2017-04-25 11:52] donaldsharp commented on #390
And why on kernels 4.9.x everything works fine even with mtu 1500?

[2017-04-25 12:43] mTaleqani commented on #385
@k0ste - there is no file named "config.gz" in /proc.   but i found the kernel config in
/boot/config-4.10.6-1.el6.elrepo.x86_64 . then i searched for VRF keyword in kernel config but nothing found.
![image](https://cloud.githubusercontent.com/assets/24407965/25385711/2ec8b746-29da-11e7-9f69-52dba055f5b4.png)

this is the result of executing the command "ip link help vrf" :
![image](https://cloud.

[2017-04-25 13:31] k0ste commented on #385
@mTaleqani, you should build kernel with NET_VRF. Or try use ArchLinux for example, where NET_VRF is enabled by default.

[2017-04-25 14:05] donaldsharp opened #404 "clang Static Analysis always warns about RB trees"
When we run clang's SA over the source base, we get a bunch of warnings about the RB tree implementation:

25-Apr-2017 07:02:40	                        if ((RB_LEFT(tmp, field) == NULL ||             \
25-Apr-2017 07:02:40	                             ^~~~~~~~~~~~~~~~~~~
25-Apr-2017 07:02:40	../lib/openbsd-tree.h:313:30: note: expanded from macro 'RB_LEFT'
25-Apr-2017 07:02:40	#define RB_LEFT(elm,

[2017-04-25 14:59] pguibert6WIND commented on #385
Hi @mTaleqani ,

I think you are not the only one that wants to benefit from "frrouting VRF feature", while you don't have the correct kernel ( either by kernel settings or old kernel).
That is why it is proposed to be able to configure and map the "frrouting VRF feature" into the "netns kernel feature". "Netns Kernel feature" should be present in your case.

This issue is just here to :
- collect

[2017-04-25 15:10] dsahern commented on #385
@k0ste In your VRF commands above you show:

"[root@linux02 ~]# ip ru sh
0:      from all lookup local
1000:   from all lookup [l3mdev-table]
32766:  from all lookup main
32767:  from all lookup default
"

You should move the local rule to after the l3mdev-table rule to avoid false hits (e.g, duplicate addresses or overlapping networks between interfaces in the default VRF and another VRF). The l3

[2017-04-25 15:18] donaldsharp commented on #380
This is not control plane related.  Use traceroute -e to get mpls label information if available.

[2017-04-25 15:18] #380 closed

[2017-04-25 15:21] donaldsharp commented on #385
Having FRR create the vrf, is a separate issue.  If there is interest file a new issue and someone can take up that coding effort.

[2017-04-25 15:25] dsahern commented on #385
I'd be careful about making FRR a swiss army knife. A VRF is used by more than just FRR. Maintaining all of the network configuration is better done (meaning cleaner and less complicated)  by a network manager or interface manager.

[2017-04-25 15:33] Jafaral commented on #389
Fixed in PR #399

[2017-04-25 15:33] #389 closed

[2017-04-25 15:37] dsahern commented on #390
This issue has nothing to do with FRR so it is better discussed on the netdev mailing list (netdev@vger.kernel.org). Rather than continue adding comments to this thread, please send an email to the list and I will replay with my comments.

[2017-04-26 00:28] donaldsharp opened #407 "*bsd interface speed from the kernel"
FRR on linux now has the ability to retrieve the interface speed from the kernel.  It would be real nice if *bsd had this ability as well.

[2017-04-26 06:16] elsobrino commented on #361
On Ceph mailing list someone mentioned that one ip might be added to more than one interface. I tried this with adding my loopback ips on lo as well as dummy0 and this indeed solves the problem.

Are there any objections against this work around?

[2017-04-26 13:58] osmoc commented on #335
Pardon the silence - got occupied by related developer conf. Among other things we've discussed prospectives of moving towards smth like netconf. Nothing is decided yet so I'm not sure if it's worth the efforts after all. The diff between lib/vty.c and libosmocore/src/vty/vty.c doesn't seem to be that big.

[2017-04-26 17:16] qlyoung commented on #358
Yeah this happens because there's some calls in vtysh.c that are like `func (argv, argc, 0, NULL)`. At some point in time I knew what the control flow was that invoked those calls but in general an invariant for vtysh overrides is that they cannot rely on argv / argc.

I'll take a look at fixing this, it may be part of a vtysh rewrite at some point.

[2017-04-27 01:45] donaldsharp opened #414 "ldpd compile failures w/ clang and -werror"
ldpe.c:146:12: error: address of array 'init->user' will always evaluate to 'true' [-Werror,-Wpointer-bool-conversion]
        if (init->user)
        ~~  ~~~~~~^~~~
ldpe.c:148:12: error: address of array 'init->group' will always evaluate to 'true' [-Werror,-Wpointer-bool-conversion]
        if (init->group)
        ~~  ~~~~~~^~~~~
lde.c:167:12: error: address of array 'init->user' will always ev

[2017-04-27 13:41] #414 closed

[2017-04-27 16:52] lairsdragon opened #420 "Building a Debian package with SNMP enabled fails."
Hi

I trying to build a frr debian package with SNMP but the build fails with:

[code]

A manual build with `configure --enable-snmp=agentx` does now show the behaviour.

BTW: in the Build dependencies `pkg-config` is missing.

cheeiro
    Steve

[2017-04-27 17:54] ne-vlezay80 opened #421 "Поддержка labeled BGP"
Здесь: http://www.cisco.com/en/US/docs/ios-xml/ios/iproute_bgp/configuration/xe-3s/asr903/irg-labeled-bgp.html

address-family ipv4
  neighbor pan send-community
  neighbor pan next-hop-self
  neighbor pan send-label
!The send-label option is used to associate a BGP label to the prefix.
  neighbor 100.111.14.3 activate
 exit-address-family

Хорошо было бы подобное реализовать в FRR.

[2017-04-27 18:13] rwestphal commented on #421
In FRR, instead of using the send-label command, you have a whole new address-family node to configure BGP-LU. Example:
[code]

[2017-04-27 18:39] ne-vlezay80 commented on #421
А поддерживается ли labeled unicast в ipv6?

[2017-04-27 21:42] rwestphal commented on #385
@pguibert6WIND I'm ok with your proposal.

The long term goal is to have an abstraction layer that is capable of handling VRFs on different stacks, like FreeBSD's Jails, OpenBSD's rdomains, etc. So IMO having two different VRF methods for Linux is reasonable considering that we need to have an abstraction layer anyway. Also, a lot of people will be stuck with older kernels for a while, like people

[2017-04-28 03:09] hwchiu commented on #404
I use the **scan-build make** to scan the branch "stable-2.0" and get the whole [report](https://gist.github.com/hwchiu/b1589690743baed0fc90b01897c7a578)

Most of those warning are caused by accessing NULL pointer in some case.
Maybe I can send a PR after I  have solved all of them.

[2017-04-28 05:33] mwinter-osr commented on #404
Every pull request and every push to the repo creates a full clang report.
As an example, see https://ci1.netdef.org/browse/FRR-FRR4/latestSuccessful/artifact/shared/static_analysis/index.html for the report on the last successful CI build in 3.0 branch.

But maybe I need to make this more visible...

[2017-04-28 06:01] hwchiu commented on #404
Thanks your sharing, I will use those reports to check all warnings and try to fix.

[2017-04-28 15:10] donaldsharp commented on #421
Not yet.

[2017-04-28 16:18] ne-vlezay80 commented on #421
А вот это тогда что за код:
`  if ((afi == AFI_IP && p.prefixlen > 32)
	  || (afi == AFI_IP6 && p.prefixlen > 128))
	return -1;
`

[2017-04-28 16:19] ne-vlezay80 commented on #421
if ((afi == AFI_IP && p.prefixlen > 32)
	  || (afi == AFI_IP6 && p.prefixlen > 128))
	return -1;

[2017-04-28 17:09] hwchiu commented on #404
Hi @donaldsharp .
I thinks those warning all are caused by calling followings [MACRO](https://github.com/FRRouting/frr/blob/master/lib/openbsd-tree.h#L313-L317) without checking it's first parameter
[code]

We can check its first parameter before calling those macro or do you have any ideas?

[2017-04-28 19:03] rwestphal commented on #397
@ak503 Thanks for the bug report.

Handling interface renames is tricky, and I'm not sure what's the best way to tackle this problem.

One possibility is, once an interface is renamed, do the following:
* set its ifindex to IFINDEX_DELETED;
* send a ZEBRA_INTERFACE_DELETE message to all client daemons;
* create a new interface for the new ifname/ifindex pair.

The other solution, the obvious one,

[2017-04-28 19:15] rwestphal commented on #396
No, it won't work. In OpenBSD you can push only one label per route, plus one other label if you're using the mpw(4)/mpe(4) virtual interfaces to run L2/L3 VPNs.

Please try to use this Issues page to report potential bugs only. A better place to ask questions is our Slack channel and mailing lists.

[2017-04-28 19:24] Jafaral commented on #397
@rwestphal I agree it is tricky. Changing the name in-place might have some implication. However, you can't rename an active interface; the interface has to be brought down in advance and zebra should catch and handle the down event and communicate to the daemons. This will be followed by a name update which according to this bug report is not being handled. If we handle this  correctly and commun

[2017-04-28 20:37] ne-vlezay80 commented on #396
Но, как с этим дела в linux обстоят?

[2017-04-29 17:47] rwestphal commented on #397
@Jafaral Thanks for your feedback.

Yes, renaming the interfaces in-place should work as you explained. My only concern is that this will cause the running configuration of all daemons to be updated to account for the interface rename, but I guess this is more of a feature than a problem. I'll try to cook a patch here to fix the renaming in set_ifindex() as @ak503 pointed out.

[2017-04-29 17:50] rwestphal commented on #398
Fixed by #427. Thank you @ak503.

[2017-04-29 17:50] #398 closed

[2017-04-29 17:54] rwestphal commented on #358
Fixed by #413. Thank you Quentin and Daniel.

[2017-04-29 17:54] #358 closed

[2017-04-29 18:16] rwestphal commented on #407
The SIOCGIFMEDIA ioctl + the ifmedia_baudrate() function should do the job, I just checked and they are available in all major BSD platforms (OpenBSD, FreeBSD and NetBSD). I'll take a look at this later.

[2017-04-29 18:39] rwestphal commented on #396
In Linux you can also push at most two labels at once.

Recently there has been some movement to increase this limit to 8 or something like that, but I don't know if it went anywhere.

[2017-04-29 18:41] rwestphal commented on #309
Fixed by #379.

[2017-04-29 18:41] #309 closed

[2017-04-29 19:47] donaldsharp commented on #396
@rwestphal that limitation has been fixed by @dsahern and is much larger than 8 now.  We had recent discussion about this on the dev alias.  Feel free to peruse it.

[2017-04-29 20:00] dsahern commented on #396
@rwestphal Kernel version 4.12 will allow up to 30 labels per nexthop.

[2017-04-29 20:01] dsahern commented on #361
Why can't you use loopback for both? Linux will allow you to put the same address on 2 different interfaces. Since one of those interfaces is a dummy device it might work fine. Haven't tried it.

[2017-04-29 22:10] rwestphal commented on #396
@donaldsharp @dsahern Thanks for the clarification :)

[2017-05-01 15:50] Jafaral commented on #397
@rwestphal, regarding configuration change, I agree with you, it is a "feature". Changing an interface name is a very rare event anyway and it happens based on a conscious decision (we hope) of someone who knows the implications of this across the system.

[2017-05-01 16:35] ne-vlezay80 opened #433 "Поддержка много меток в MPLS стеке?"
Стало известно, что в ядре 4.12 колличество меток будет увиличено с 2+ до 30+. Кстати, в дефолтном ядре также можно обойти лимит на две MPLS метки и увиличить колличество меток до 7. Почему бы не реализовать в FRR поддержку меток больше 2?

[2017-05-01 17:29] Jafaral commented on #433
It became known that in the kernel 4.12 the number of marks will be increased from 2+ to 30+. By the way, in the default kernel, you can also bypass the limit for two MPLS tags and reduce the number of labels to 7. Why not implement in FRR support for labels greater than 2?

[2017-05-02 01:01] rwestphal commented on #404
Unfortunately I think the best thing we can do is ignore these warnings.

The biggest problem seems to be the RB_GENERATE macro, which is expanded by the preprocessor into a lengthy piece of code (example: https://hastebin.com/efasuyoxon.c). clang complains about a "Dereference of null pointer" that's very hard to track down. Maybe we can add a few NULL checks here and there to get rid of the warn

[2017-05-02 01:12] rwestphal commented on #397
Fixed by #431. Thanks @ak503 and @Jafaral!

[2017-05-02 01:12] #397 closed

[2017-05-02 06:48] rickicook opened #436 "ospfd service failing on Ubuntu 16.04"
Hi All,
So far all is working BGPd wise, however wanted to use OSPF to distribute loopback interfaces & discovered the following. I stopped & removed apparmor.service with no change.

root@ubuntu:/home/router02#
root@ubuntu:/home/router02# systemctl status snap.frr.ospfd.service
● snap.frr.ospfd.service - Service for snap application frr.ospfd
   Loaded: loaded (/etc/systemd/system/snap.frr.ospfd.

[2017-05-02 07:27] mwinter-osr commented on #436
(For everyone else reading this: This is related to FRR as a snap package)

Did you follow the instructions?  (try `frr.readme` command.)
It sounds like you didn't grant the required priviledges.

Did you do a

    snap connect frr:network-control core:network-control

after installing the snap? It sounds like you didn't grant the required priviledges to modify the routing table to the the snap. U

[2017-05-02 10:24] rickicook commented on #436
Yep, that was it! Thank You!

My apologies, I did not see the frr.readme, I started with the documentation on the website.

[2017-05-02 10:24] #436 closed

[2017-05-02 15:17] #360 closed

[2017-05-02 15:18] donaldsharp commented on #404
Should we tell clang to ignore these issues?

[2017-05-02 15:21] donaldsharp commented on #433
Because someone has not implemented this yet.

[2017-05-02 15:21] #433 closed

[2017-05-02 15:26] donaldsharp opened #437 "Add function to daemons to allow them to handle memory debug requests smarter"
@mwinter-osr sending a SIGBUS will cause the daemons to abort without giving them a chance to clean up their memory. If you want to to detect memory leaks at exit, the best way to do that would be to add a parameter like --debug to frr_getopt() and make each daemon call log_memstats_stderr() before exiting if this parameter was given.

[2017-05-02 20:41] #376 closed

[2017-05-02 23:06] marymanohar opened #443 "Updating bgp distance (ebgp/ibgp) does not update FIB with the new distance"
When bgp distance is configured, FIB is not updated with the new distance.
clear ip bgp neighbor soft does not help.
bgp does NOT have 'redistribute-static' configured in this case.

[2017-05-02 23:10] donaldsharp commented on #443
This is not a bug.

bgp distance value as given to zebra is meaningless from a usability perspective for anything other than other bgp implementations ( and why would you run separate bgp implementations on a box ).  As such we have made the decision that zebra appropriately decides what the correct route to install into the kernel is and we send a value of 20.  That way if you are running somethi

[2017-05-02 23:23] marymanohar commented on #443
clear ip bgp * (hard-reset) does update Zebra with the correct distance
(the configured value, not 20).

FRR allows setting distance for a static route. If the bgp distance is not
updated in Zebra (for a bgp route), and a static route (overlapping with
the bgp route) is configured later with a distance, the route selection in
Zebra will not be correct.

On Tue, May 2, 2017 at 4:10 PM, Donald Sharp

[2017-05-03 07:34] jhiggins-NZ opened #446 "Other - Closing connection because of an I/O error"
**Issue:**
- After applying two or so commands to OSPFv2, I/O error occurs.
- Issue prevents the user from applying OSPFv2 configuration to the running-configuration.
- Reproduced 7/7 times.

*
*

**Version:**
- Ubuntu 4.10.12 with FRR master branch.

*
*

**Example:**
- Does not appear to occur when using TAB or ?
- Seems to only occur when using character return to commit the changes.

[2017-05-03 09:27] jhiggins-NZ commented on #446
Also seeing this on latest 3.0 stable branch.
Build frr-2.0-1631-g5503498

[2017-05-03 14:46] donaldsharp opened #453 "ospf v3 has no ability to handle prefix_list changes"
ospf v3 does not have the ability to react to prefix-list changes when they are modified via the cli.

sharpd@robot ~/stash> git grep prefix_list_add_hook
bgpd/bgp_main.c:  prefix_list_add_hook (NULL);
bgpd/bgpd.c:  prefix_list_add_hook (peer_prefix_list_update);
lib/plist.c:prefix_list_add_hook (void (*func) (struct prefix_list *plist))
lib/plist.h:extern void prefix_list_add_hook (void (*func) (

[2017-05-03 16:09] hwchiu commented on #420
If we configure the **--enable-systemd**, frr will define the `HAVE_POLL` on its **config.h** and it's conflict with **net-snmp-config.h**.

[2017-05-03 17:56] marymanohar opened #456 "Route selection between bgp and static routes with distance does not work"
bgp has 'redistribute-static' configured
Static route is configured with a higher distance than bgp
Static route always wins and the distance of the static route is ignored.

[2017-05-04 02:04] mwinter-osr opened #457 "Automatic refresh (upgrade) of snap packages"
This is mainly to document (and track) an issue which I've just noticed:

If a user installs the snap package from the official channel and I publish a new version (same stable/beta etc channel), then the package will AUTOMATICALLY upgrade.
This is obviously a *BAD* thing for something like a routing daemon. Configs not saved will be lost and even with saved configs, there will be an unexpected re

[2017-05-04 02:13] mwinter-osr commented on #457
(Some) Documentation about this is here
https://docs.ubuntu.com/core/en/reference/automatic-refreshes

and some discussion here:
https://www.mail-archive.com/snapcraft@lists.snapcraft.io/msg01563.html
and more extensive here:
https://forum.snapcraft.io/t/process-lifecycle-on-snap-refresh/140/15

[2017-05-04 05:34] jhiggins-NZ opened #458 "Enhancement - "show ip | ipv4 | ipv6 fib" command"
**Issue:**
- Currently the ip / ipv6 route table displays all routes from the different protocol sources.
- For simplification, when we need to check only FIB routes, it would be good if there was a "show ip fib" command implemented.

**Enhancement:**
- Introduce new "show ip fib" command with "ip | ipv4 | ipv6" options   (ip & ipv4 will provide the same output)
- Displays only valid, resolved rou

[2017-05-04 05:40] jhiggins-NZ opened #459 "CLI - User cannot move to the BGP VPNv4 Unicast SAFI"
**Issue:**
- When "address family vpnv4 unicast" SAFI is specified, "Unknown command" is returned.
- Specifying "address family vpnv4" AFI on its own works.

**Version:**
- Ubuntu 16.04.02 on kernel 4.4.
- FRR 2.0 release.

**Example:**

[2017-05-04 10:13] pguibert6WIND commented on #459
Hi @jhiggins-NZ ,

I think this is a vty error.
vpnv4 is the old way to configure IPv4 MPLS Labeled VPN Service..
- VPNv4 means that afi is ipv4 and safi is MPLS-labeled VPN address
- if you use address-family ipv4 vpn , then it implies the same.

If you want to address something other than unicast ( you mean multicast), then there is a specific safi number ( 129). And this is not supported yet on

[2017-05-04 13:45] rickicook opened #460 "BGP won't peer to anything but directly connected interface"
Hi All,

I'm going to assume I'm missing something very obviously wrong here, so I may need some assistance... Otherwise its an odd fissue.

When I have two VM's running Ubuntu 16.04.2 & FRR is installed via snap. I can bring up a BGP session if I set the neighbor statement to peer with the alternste routers physical (vNIC) interface.

When I attempt to setup basic static routes in Zebra pointing

[2017-05-04 13:46] donaldsharp commented on #25
@rwestphal Is this still an issue?

[2017-05-04 13:47] donaldsharp commented on #115
@pguibert6WIND This is implemented correct?

[2017-05-04 13:49] donaldsharp commented on #460
What's the error message in the log file for both sides?

[2017-05-04 13:59] donaldsharp commented on #142
This code is in

[2017-05-04 13:59] #142 closed

[2017-05-04 14:03] pguibert6WIND commented on #115
Hi @donaldsharp ,

it is not implemented yet in frrouting.
But I fear that the porting may be not so easy as thought ( impact with VNC).
so I would prefer closing the issue for now.
thank

[2017-05-04 14:03] #115 closed

[2017-05-04 14:04] donaldsharp commented on #258
This is in master

[2017-05-04 14:05] donaldsharp commented on #284
Closing this as this was a question

[2017-05-04 14:05] #284 closed

[2017-05-04 19:28] rwestphal opened #467 "segfault in the "list permutations" command"
An infinite loop occurs when "list permutations" is given on a node that has at least one command that uses curly braces.

These are the commands that are causing "list permutations" to segfault:
[code]

[2017-05-04 20:49] donaldsharp commented on #443
The change of the distance should invoke a soft clear of bgp

[2017-05-04 22:19] marymanohar commented on #443
I tried doing a 'soft clear' of BGP but it did not update distance of BGP routes in FIB.

[2017-05-04 22:32] donaldsharp commented on #443
I assume you mean RIB, right?

[2017-05-04 22:39] marymanohar commented on #443
Correct.. I meant RIB.

[2017-05-05 10:43] rwestphal commented on #460
You need to use the `neighbor x.x.x.x update-source lo` command in both routers to bring your eBGP session up.

[2017-05-05 11:05] rwestphal commented on #459
This is already fixed on stable/3.0 and master.

The problem here is that we have an `address-family vpnv4 unicast` command in vtysh but we don't in bgpd, so that's why the "Unknown command" error.

[2017-05-05 20:02] louberger opened #471 "bgp_labeled_safi doesn't cover all labelled safi types"
bgp_labeled_safi  should wither just cover the UNICAST case or should include EVPN.  Usage is inconsistent as sometimes code post check assumes UNICAST and other times then makes explicit checks for EVPN.  This should be make consistent, i.e., include all safit types that support labels and calling code needs to be modified as appropriate.

static inline int
bgp_labeled_safi (safi_t safi)
{
  if (

[2017-05-05 21:15] louberger opened #473 "master mpls changes break non MPLS UNICAST SAFI label distribution"
Breaks VPN SAFI for at least the implicit label (3) case -- which is used for tunnel control with ENCAP SAFI/Attribute.  Based on code review, expect that EVPN label distribution is also broken.

[2017-05-08 10:40] #275 closed

[2017-05-08 21:17] sieben opened #479 "Integrate FRR in a fuzzing testing suite (Google oss-fuzz)"
Fuzzing is an efficient way to find various bugs inside a software. Maybe FRR could be integrated into the oss-fuzz google project.

https://github.com/google/oss-fuzz

This project already found relevant issues in various well established software projects:
https://testing.googleblog.com/2017/05/oss-fuzz-five-months-later-and.html

[2017-05-09 08:06] mwinter-osr commented on #479
I'll look into this fuzzer. The challenges with many fuzzers are that they are not protocol aware, so as an example, they can fuz things like a BGP open, they can't fuz a BGP update as this would require a valid BGP open first.
We (at NetDEF) use a commercial protocol fuzzer from Spirent (SPS-8000) to do tests like these.

However, always open to add another fuzzer if it makes any sense. I'll look

[2017-05-09 08:09] sieben commented on #479
I've also tested randpkt from the wireshark suite. Very low level but it
helped to localize where dissectors failed.

Le mar. 9 mai 2017 à 10:06, Martin Winter <notifications@github.com> a
écrit :

[2017-05-09 14:38] louberger commented on #473
To test: Bring up two bgp neighbors with both v4 and v6 neighbors activated, i.e., under:
   address-family ipv4 vpn
and
    address-family ipv6 vpn

Simple test 1: v4 vpn route with label
   enter configure
   configure bgp
  add:
      address-family ipv4 vpn
      network 1.1.1.1/24 rd 1.1.1.1:1 tag 1000
     ^Z
   Check on local:
 'H192.1.1.1# show bgp ipv4 vpn
BGP table version is 0, local ro

[2017-05-09 14:43] louberger commented on #473
More complex test uses to RR clients and 1 RR: BGP1<-->RR<-->BGP2

Repeat addition of single label on BGP1 and check that it propagates to  BGP2

[2017-05-09 14:52] sebageek opened #481 "bgpd crashing with debug options enabled"
I'm running FRRouting (version 3.0-ci.NetDEF.org-20170508.200309-git.76dfee9) on Debian Jessie with the daemons bgpd and zebra enabled. I have 18 IPv4 and 3 IPv6 neighbors configured. One of the IPv4 neighbors has `attribute-unchanged next-hop` and `addpath-tx-all-paths` activated and talks to an addpath-rx/tx enabled bird.

The following debug options have been enabled in the config:
<pre><code>d

[2017-05-09 15:18] eqvinox commented on #481
[code]
=> `" with addpath ID "` is 17 characters, leaving only 2 (+ null term) for the addpath_id, which is overrun by the ID "100" :(

=> buffer is too small

=> this should really be `snprintf`, especially if we have a bug somewhere else and end up with an invalid longer addpath ID.

[2017-05-09 15:20] donaldsharp commented on #471
This will probably be addressed by bug #473

[2017-05-09 15:22] donaldsharp commented on #460
Closing this issue because @rwestphal is correct

[2017-05-09 15:22] #460 closed

[2017-05-09 15:23] louberger commented on #198
I need to check...

[2017-05-09 15:28] donaldsharp commented on #459
We need to fix the old way to be accepted on stable/3.0.

We should accept the old way and nvgen new way.  Without having to use the #define OLDVPN_....

[2017-05-09 15:30] donaldsharp commented on #459
Figure out what the old behavior is on 2.0 as well as quagga...

[2017-05-09 15:30] donaldsharp commented on #459
2.0 accepts without the keyword 'unicast'
3.0 does not.

[2017-05-09 15:31] sebageek opened #482 "Extra character in router help text in config mode"
When entering configuration mode in vtysh and entering `router ?` a help text pops up. The help text for the options rip and ripng seems to have an extra 0x03 attached to it.

<pre>
intserv(config)# router
  bgp    BGP information
  isis   ISO IS-IS
  ospf   Start OSPF configuration
  ospf6  Open Shortest Path First (OSPF) for IPv6
  rip    RIP
  ripng  RIPng
</pre>

This has been observed with

[2017-05-09 15:41] donaldsharp commented on #446
This is, I believe is frr not being compiled with --enable-systemd

[2017-05-09 15:41] #446 closed

[2017-05-09 15:42] louberger commented on #459
new command format is: address-family ipv4 vpn
Old commands on quagga:
  address-family ipv4
  address-family ipv4 (unicast|multicast)
  address-family ipv6
  address-family ipv6 (unicast|multicast)
  address-family vpnv4
  address-family vpnv4 unicast
  address-family vpnv6
  address-family vpnv6 unicast
  address-family encap
  address-family encapv4
  address-family encapv6
on 2.0: (show shows

[2017-05-09 15:46] donaldsharp commented on #437
make this a cli issue instead of a startup cli

[2017-05-09 15:54] #467 closed

[2017-05-09 16:23] louberger opened #483 "configuring bgp with vrf results in a crash (2.0, 3.0, master)"
--> crash

[2017-05-09 16:44] louberger commented on #483
only issue with real rfp (e.g., openflow)

[2017-05-09 17:34] nelim opened #484 "question: bfd support compability"
Is there a plan for BGP BFD support, compatible with openbfdd/bird/junos etc. in near future, without need of Cumulus PTMd ?

Thanks in advance, you are doing great job.

[2017-05-09 18:55] louberger commented on #459
https://github.com/FRRouting/frr/pull/487 addresses 2.0 only.  3.0/master is TBD.

[2017-05-09 20:55] qlyoung commented on #335
Netconf and vty.c are, in my mind, unrelated except that they happen to be involved, at some point in the stack, in configuration of some stuff. As Donald said, vty.c is a telnet implementation + backend for vtysh, so it's not really useful for anything outside FRRouting.

Please feel free to open a new issue if you've got some concrete ideas for how we could improve in this area, we'd love to hea

[2017-05-09 20:55] #335 closed

[2017-05-09 20:56] qlyoung commented on #25
@rwestphal could you post the exact set of steps to repro this? I'm not familiar with l2vpn pseudowire configuration.

[2017-05-10 15:26] markhayes0338 opened #497 "Unable to remove EIGRP from Config"
After configuring 'router eigrp <ASN>', I am unable to remove the configuration with 'no router eigrp <ASN>'. The command is accepted, but the config is not removed and the neighbors remain up. This is as of 5/10/17 on the master branch.

[2017-05-10 17:05] pguibert6WIND opened #498 "Transmitted EVPN packets do not contain nexthop attribute"
transmitted EVPN packet did not contain nexthop attribute;

see
https://github.com/pguibert6WIND/frr/tree/issue_473

[2017-05-10 17:07] pguibert6WIND commented on #473
about EVPN setup to share, some more work is needed to make evpn work and be available to troubleshoot label:
- fix https://github.com/FRRouting/frr/issues/498
- show bgp l2vpn evpn  should display  the label value ( which is not the case yet)

however, below you can find a dut/router config setup
router bgp 7675
 bgp router-id 10.125.0.1
 neighbor 10.125.0.2 remote-as 7675
 !
 address-family l2vp

[2017-05-10 17:41] louberger commented on #483
can close once 3.0 merged down to master

[2017-05-10 20:14] donaldsharp commented on #483
I am not seeing this:
dell-s6000-02# show vrf
vrf blue id 42 table 1002
vrf red id 41 table 1001
dell-s6000-02# conf t
dell-s6000-02(config)# router bgp 44 vrf blue
dell-s6000-02(config-router)# end
dell-s6000-02# show run
Building configuration...

Current configuration:
!
frr version 3.1-dev
frr defaults datacenter
no log monitor
no log monitor
no log monitor
no log monitor
!
service integrated-

[2017-05-10 21:08] louberger commented on #483
The fix is in 3.0, it just needs to be propagated to master.

On 05/10/2017 04:14 PM, Donald Sharp wrote:

[2017-05-10 23:42] #458 closed

[2017-05-10 23:43] donaldsharp commented on #484
I'm not aware of anyone working on this issue at this point in time.  It would be great if someone picked this up.

[2017-05-11 00:08] #483 closed

[2017-05-11 06:26] pguibert6WIND commented on #498
https://github.com/FRRouting/frr/pull/503

[2017-05-11 10:13] blakedotfr opened #504 "basic RSVP Traffic Engineering P-Router"
Would love to see a very simple "minimum viable product" transit-only RSVP​-TE/IS-IS P-router implementation.  No originating/terminating LSPs, just a basic aggregation box.

Please contact me for more details.

[2017-05-11 11:58] eqvinox commented on #482
fixed in #500

[2017-05-11 11:58] #482 closed

[2017-05-11 12:26] donaldsharp opened #507 "Allow FRR to auto create the localstatedir"
/var/run/frr is the default we tell people to use(see doc directory).  On some systems /var/run is wiped clean on boot.  FRR needs the ability to mkdir and change permissions on the localstatedir as appropriate

[2017-05-11 12:27] odd22 commented on #504
Hi,

Up to know, both OSPF and IS-IS support Traffic Engineering. You could configure TE link parameters and then they are advertise by the routing protocol. This is the base for an implementation of RSVP-TE. But, currently there is no implementation of RSVP-TE in FRR. We have on-going code to implement Segment Routing (I hope to publish it soon).

If I correctly understand, you would have an FRR

[2017-05-11 12:33] louberger commented on #504
Open sourcing our RSVP-TE implementation (which is used in production) is on our wish list.
Contact me directly (lberger@labn.net) if interested in discussing.

Lou

[2017-05-11 12:45] louberger commented on #198
the bug was introduced by the cli refactoring done to bgp_route.c and is still there.

[2017-05-11 13:07] louberger opened #509 "show bgp ipv4|6 vpn|encap neighbor <address> advertised-routes doesn't show advertised routes"
failing on 3.0 -- think this worked on quagga 1.0, but not sure.

[2017-05-11 18:33] Jafaral opened #513 "vtysh symlink to /snap/bin/frr.vtysh doesn't work"
FRR snapcraft package documentation mentions this

sudo ln -s /snap/bin/frr.vtysh /usr/local/bin/vtysh

As a way to use the vtysh command directly without needing to prefix it with frr package name ( i.e. frr.vtysh). This trick doesn't work.  frr.vtysh itself is a symlink  to  the snap command.  The new symlink just calls snap, see below.

$ which frr.vtysh
/snap/bin/frr.vtysh
$ file /snap/bin/frr

[2017-05-11 21:00] Jafaral commented on #513
I have experimented with this a bit, the proper way to do it is through supporting snap aliases for FRR. After adding vtysh as a possible alias in the snap, one could do:

sudo snap alias frr vtysh

do enable vtysh command.

I will work on a patch for this.

[2017-05-12 04:40] k0ste commented on #507
Why frr is opposed to the systemd?

On systemd with [tmpfiles](//www.freedesktop.org/software/systemd/man/tmpfiles.d.html) possible execute simple operations on boot, like create/delete/write.

You can easy define file like this I use in [frr package for ArchLinux](//aur.archlinux.org/packages/frr).
[code]

[2017-05-12 14:02] ne-vlezay80 opened #519 "VPLS on Openvswitch"
Кстати, openvswitch вроде как поддерживает mpls до 3 меток в стеке. Кроме того, говорят, что он даже поддерживает VPLS. Мне бы хотелось узнать, будет ли frrouting работать с тем интерфейсом, который был поднят в ldpd?

[2017-05-13 07:10] eqvinox commented on #198
fixed in #508

[2017-05-13 07:10] #198 closed

[2017-05-13 22:55] louberger opened #528 "Master: bgp: unable to configure ipv6 encap peer"
e.g.,
    address-family ipv6 encap
        neighbor 192.1.1.4 activate
        exit-address-family

v6 vpn safi and v4 encap safi works fine

[2017-05-14 15:16] louberger commented on #528
Was more fallout from Labeled Unicast breakage covered in Issue #473

[2017-05-14 15:16] #528 closed

[2017-05-14 16:12] louberger opened #529 "master: valgrind shows bad writes after thread changes"
start and stop bgpd under valgrind and see the following:

==17593== Invalid write of size 8
==17593==    at 0x53321A: thread_fetch (thread.c:1405)
==17593==    by 0x563BC2: frr_run (libfrr.c:441)
==17593==    by 0x41DE11: main (bgp_main.c:447)
==17593==  Address 0x7feffdca8 is not stack'd, malloc'd or (recently) free'd
==17593==
{
   <insert_a_suppression_name_here>
   Memcheck:Addr8
   fun:threa

[2017-05-14 22:11] ne-vlezay80 opened #530 "Increase the number of labels in the MPLS stack of zebra"
Ядро 4.12 уже доступно в виде rc версии.
https://git.kernel.org/torvalds/p/v4.12-rc1/v4.11

[2017-05-15 01:02] donaldsharp commented on #519
By the way, openvswitch seems to support mpls up to 3 tags in the stack. In addition, they say that it even supports VPLS. I would like to know if frrouting will work with the interface that was raised in ldpd?

[2017-05-15 01:05] donaldsharp commented on #530
The kernel 4.12 is already available as an rc version.

[2017-05-15 01:09] donaldsharp commented on #507
These would be to auto-create as well @k0ste

[2017-05-15 12:32] #497 closed

[2017-05-15 14:35] louberger commented on #529
not addressed by previous change

==17593== Invalid write of size 8
==17593== at 0x53321A: thread_fetch (thread.c:1405)
==17593== by 0x563BC2: frr_run (libfrr.c:441)
==17593== by 0x41DE11: main (bgp_main.c:447)
==17593== Address 0x7feffdca8 is not stack'd, malloc'd or (recently) free'd
==17593==
{
<insert_a_suppression_name_here>
Memcheck:Addr8
fun:thread_fetch
fun:frr_run
fun:main
}

[2017-05-15 15:21] qlyoung commented on #529
can you post exact steps to reproduce? are you running this with any peers? I can't repro it after aforementioned commit

[2017-05-15 15:31] eqvinox commented on #507
@k0ste FRR is not opposed to systemd. However, FRR is supported on systems without systemd, i.e. BSD and non-systemd Linux distributions.

IMHO, creating the directory in `/run` is therefore the right thing to do here.

The other 2 directories (`/var/log/frr` and `/etc/frr`) should be created by the package install (because they are persistent.)

[2017-05-15 16:47] #513 closed

[2017-05-15 17:43] louberger commented on #529
with current master, now see different error set

On 5/15/2017 11:21 AM, Quentin Young wrote:

dcfs1> echo > t ; valgrind --suppressions=/dev/null
--gen-suppressions=all -v --leak-check=full --show-reachable=yes
--track-origins=yes --log-file=v.outbgpd -f t --skip_runas -i pid ; cat
v.out &
[1] 32337
dcfs1> kill `cat pid`
dcfs1> ==32338== Memcheck, a memory error detector
==32338== Copyright (C) 2

[2017-05-16 01:03] qlyoung commented on #529
This is the relevant bit:

[code]
try this one out for size #538

[2017-05-16 08:59] ak503 opened #542 "`set metric` for route-map"
if i run ospfd and ripd i can set only 1-16 value.

(config)# route-map map1 permit 22
(config-route-map)# set metric 16
(config)# route-map map1 permit 22
(config-route-map)# set metric 17
Argument is malformed

if i run only ospfd i can set other mertic. Its ok?

[2017-05-16 11:43] eqvinox opened #543 "install_element warning improvement"
(from #539)

The "didn't install_node before install_element" could/should print the command definition.
Maybe we can also find some way to get the node name from the node number.

[2017-05-16 11:45] eqvinox commented on #542
This is an error from ripd because the RIP protocol only supports 4 bits for the metric. The setting should still be applied in ospfd, just ripd can't support it.

=> need to improve error message

[2017-05-16 12:40] jhiggins-NZ commented on #459
@pguibert6WIND yea I figured that ipv4 vpn was the same thing as VPNv4.

Why the change though?

I think more people are familiar with vpnv4 & vpnv6

[2017-05-16 15:11] donaldsharp commented on #484
I will go back and explore PTMd being included into the FRR fold

[2017-05-16 15:12] donaldsharp commented on #498
#503 is merged

[2017-05-16 15:12] #498 closed

[2017-05-16 15:16] donaldsharp commented on #509
Possibly removed as FRR uplift.

[2017-05-16 15:26] donaldsharp commented on #529
Need to document the api that the child process can update the parents pointer.

@eqvinox to put together a meeting to discuss future threading and how we want to approach the issue.

@qlyoung to fix api a bit, to return thread pointer and have the ability to pass in NULL

[2017-05-16 15:30] donaldsharp commented on #530
Zebra can support 8 labels currently?

Modify the code to adapt zebra to what the linux kernel supports.

We need to modify the display of labels as well as that we currently only support displaying of 2

[2017-05-16 15:31] donaldsharp commented on #542
rip should intelligently handle set metrics for values larger than what it can support

[2017-05-17 10:55] ak503 opened #560 "problem with static route and dynamic interface."
The quagga uses the STATIC_IFNAME/STATIC_IFINDEX and NEXTHOP_TYPE_IFNAME/NEXTHOP_TYPE_IFINDEX. The FRR uses only the STATIC_IFINDEX and NEXTHOP_TYPE_IFINDEX. This gives rise to some problems with dinamic interfaces and static routes. For exampe:
<pre>
config# ip route 1.1.1.0/24 fake1
config# do show running-config
...
ip route 1.1.1.0/24 fake1
...

config# do show ip route
S   1.1.1.0/24 [1/0] is

[2017-05-17 17:38] louberger opened #564 "master bgpd: valgrind reports loss"
shows even with trivial config:

Commands:
    echo > t ; valgrind --suppressions=/dev/null --gen-suppressions=all -v --leak-check=full --show-reachable=yes --track-origins=yes --log-file=v.out bgpd/bgpd -f t --skip_runas -i pid ; cat v.out &
   sleep 10 ; kill `cat pid`

==2507== Memcheck, a memory error detector
==2507== Copyright (C) 2002-2012, and GNU GPL'd, by Julian Seward et al.
==2507== Us

[2017-05-17 17:39] louberger commented on #529
original issue is resolved, new valgrind issues covered under issues #564

[2017-05-17 17:39] #529 closed

[2017-05-17 18:21] qlyoung commented on #25
fixed by #565

[2017-05-17 18:21] #25 closed

[2017-05-17 21:52] anithanarasimhamurthy opened #570 "nhrpd crash on unconfig of nhrp event socket"
Crash decode -

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Core was generated by `/usr/lib/frr/nhrpd --daemon -A 127.0.0.1'.
Program terminated with signal SIGABRT, Aborted.
#0  0x00007ffad3c52067 in raise () from /lib/x86_64-linux-gnu/libc.so.6
(gdb) bt
#0  0x00007ffad3c52067 in raise () from /lib/x86_64-linux-gnu/libc.

[2017-05-17 23:35] rwestphal opened #572 "Issues with the encoding of VPNv4 static routes"
I found this with wireshark:

![](https://camo.githubusercontent.com/fe293ba7f0124907b30dc653e3f438cee6140437/68747470733a2f2f7332332e706f7374696d672e6f72672f6832303863677879332f746573742e706e67)

* We're sending four nexthops instead of just one;
* The BoS bit is not set.

[2017-05-18 14:18] louberger commented on #572
see pr #577

[2017-05-18 14:28] louberger commented on #471
I think this is addressed by recent PRs.

[2017-05-18 14:28] #471 closed

[2017-05-18 14:30] louberger commented on #473
VPN and ENCAP safis are working on master.

[2017-05-18 14:30] #473 closed

[2017-05-18 14:42] donaldsharp opened #578 "Refactor bgp_static_set/bgp_static_set_safi as well as bgp_static_update/bgp_static_update_safi"
These 2 pairs of functions are subtly different yet very similar.  They should be refactored as appropriate by someone with good knowledge of the code.

[2017-05-18 22:59] mwinter-osr opened #585 "AddressSanitizer: Buffer Overflow in privs.c"
(this is based on work in progress to run FRR with GCC AddressSanitzer in the CI. Comments on missing information or false positives are highly appreciated)

Found in stable/3.0 @ f1deac6

ospf6d fails in startup with AddressSanitzer because of detected Buffer Overflow:

	==7728==ERROR: AddressSanitizer: global-buffer-overflow on address 0x0000007998a4 at pc 0x0000004c9298 bp 0x7fffa6ebba20 sp 0x7

[2017-05-19 10:51] mwinter-osr opened #587 "AddressSanitizer: heap-use-after-free in ospf6d"
(this is based on work in progress to run FRR with GCC AddressSanitzer in the CI. Comments on missing information or false positives are highly appreciated)

Found in stable/3.0 @ f1deac6

ospf6d fails during route convergence with a heap-use-after-free:

	==8783==ERROR: AddressSanitizer: heap-use-after-free on address 0x610000016eb0 at pc 0x00000045629a bp 0x7ffc8529d6a0 sp 0x7ffc8529d690
	WRITE

[2017-05-19 17:31] anithanarasimhamurthy opened #589 "ip and ipv6 access-list commands Unknown to NHRPd"
With nhrpd enabled, host of ip and ipv6 access-list command configurations lead to -
% [NHRP] Unknown command:

For reference, list of commands that generate this error -

'access-list 199 deny ip 20.10.10.0 0.0.0.255 20.20.20.0 0.0.0.255',
 'access-list 199 deny ip 20.20.20.0 0.0.0.255 any',
 'access-list 199 deny ip 20.20.20.0 0.0.0.255 host 20.10.10.10',
 'access-list 199 deny ip any 20.20.20.0

[2017-05-20 01:46] mwinter-osr commented on #457
No clear solution yet. Opened a discussion on the snapcraft forum

https://forum.snapcraft.io/t/enhancement-needed-disabling-automatic-refresh-for-snap-from-store/707

[2017-05-20 02:18] mwinter-osr opened #595 "AddressSanitizer: global-buffer-overflow in vtysh"
(this is based on work in progress to run FRR with GCC AddressSanitzer in the CI. Comments on missing information or false positives are highly appreciated)

Found in master @ 78ca62a

vtysh fails on startup with a buffer overflow. This looks to me based on the new work
with autocomplete. See details below

Relevant code snippets:

vtysh.c:
(Issue in `cmd_variable_handler_register(&vtysh_var_handl

[2017-05-20 13:27] donaldsharp commented on #570
Fixed in #571

[2017-05-20 13:27] #570 closed

[2017-05-20 14:47] eqvinox commented on #595
Yep -- I changed the API and forgot to update this call location. Fix in 5 minutes.

[2017-05-22 00:37] #595 closed

[2017-05-22 02:16] qlyoung commented on #587
confirmed

[2017-05-22 02:24] qlyoung commented on #585
confirmed

[2017-05-22 11:34] blakedotfr commented on #504
@odd22 that's right.  The basic goal is to be able to use a white-box switch as a P-router in an existing RSVP-TE network.

[2017-05-22 16:47] #589 closed

[2017-05-22 16:47] #587 closed

[2017-05-22 16:47] #585 closed

[2017-05-22 18:22] anithanarasimhamurthy opened #604 "Route-map config/unconfig, is Unknown Command to EIGRP"
[code]

[2017-05-23 15:21] donaldsharp commented on #572
Fixed already

[2017-05-23 15:21] #572 closed

[2017-05-23 15:26] eqvinox opened #606 "route_table exact-match optimization"
98% of our route_table lookups are exact-match, but our data structure is longest-match optimized.

=> should do something hash-based

[2017-05-23 16:16] louberger opened #607 "3.0: disable use of encap safi"
- at least configuration and perhaps cli commands as well
- To align with encap safi being deprecated in IETF (see https://tools.ietf.org/html/draft-ietf-idr-tunnel-encaps)

[2017-05-23 16:17] louberger opened #608 "cleanup deprecated encap safi code"
- remove safi type and related code
- note encap attribute still used
match https://tools.ietf.org/html/draft-ietf-idr-tunnel-encaps

[2017-05-23 17:43] di5s1 commented on #459
sounds like my bug on quagga / vtysh:

https://bugzilla.quagga.net/show_bug.cgi?id=950

[2017-05-23 21:28] louberger commented on #509
encap no longer needed.  It does look like the code was dropped in one of the various merges.  I'll try to dig up an old version an restore it.

[2017-05-23 21:30] louberger commented on #61
think this is obe, so closing.,

[2017-05-23 21:30] #61 closed

[2017-05-25 16:11] mTaleqani opened #616 "VRF Static Routes written in FRR not Added to kernel routing table"
Hi
i am using latest master FRR version in Centos 6.5 with kernel 4.10.13.
i have made 2 VRFs named red and blue and have assigned interface eth4 to vrf red and eth3 to vrf blue.
![image](https://cloud.githubusercontent.com/assets/24407965/26457480/8624954c-4185-11e7-8fff-f9892b095898.png)

![image](https://cloud.githubusercontent.com/assets/24407965/26457783/9bb6492c-4186-11e7-91c4-640c4cad83fd.p

[2017-05-25 20:49] pguibert6WIND commented on #459
Hi @jhiggins-NZ ,
the habits should change for that :-)
ipv4 vpn describes better what is the afi parameter and what is the safi parameter
While vpnv4 was condensed.

yes quagga uses the old format.

[2017-05-27 13:52] ne-vlezay80 commented on #530
Я пробывал указивать больше двух меток в
zebra_mpls.h:
`#define MPLS_MAX_LABELS 32`
В результате при:
ip route 10.194.2.0/24 10.194.0.50 label 100/200/300/400
В ядро попадает:
100/200/0/99
В чём ошибка?

[2017-05-30 11:34] donaldsharp opened #631 "RIPNG announcing connected routes?"
I received a private email in regards to this, my quick look at the code leaves me to believe that a glance at it is insufficient to see anything, hence opening a issue:

What about reannouncing a connected route although the config explicitly
specifies "no redistribute connected"?  Here's the config:

  router ripng
    network eth0
    no passive-interface eth0
    no redistribute connected

[2017-05-30 12:41] rwestphal commented on #631
When we enable RIPng on an interface, ripngd automatically adds the associated connected routes to its RIB[1]. The `[no] redistribute connected` commands only work for connected routes not associated with any interface running RIPng.

[1] `ripng_enable_apply()` -> `ripng_connect_set()`.

[2017-05-30 12:45] rwestphal commented on #631
Complementing... I think this is a non-issue. Not advertising any connected route doesn't make much sense to me.

[2017-05-30 15:21] donaldsharp commented on #631
we believe this is a documentation issue, in that the '[no] redistribute connected' is implied for the connected routes not covered by the networks statements.

We believe other implementations and other routing protocols behave in the same way.

[2017-05-30 15:21] #631 closed

[2017-05-30 15:35] eqvinox opened #635 "need to check ONLINK nexthop behaviour for babel"
Mesh networks generally don't have a prefix "connected" on an interface, for example the setup has an IPv4 /32 on the interface and nothing else. Hence, routes use the ONLINK flag to force the kernel to ignore the check whether the nexthop is actually in a connected prefix.

=> need to check what to do here (unconditionally enable the flag?)

[2017-05-30 16:54] donaldsharp opened #636 "Collapse on one init script"
As per TSC discussion, we need to collapse onto one init script to be used

[2017-05-30 16:55] donaldsharp opened #637 "one frr.service file"
We currently have two frr.service files, collapse to one

[2017-05-30 16:56] donaldsharp opened #638 "Document how we want packaging to work across distros"

[2017-05-30 17:20] jech commented on #631
I'm the original reporter of this issue (by private mail to Donald).

My use case is the following: our network runs Babel internally, and the edge routers speak RIPng to a Cisco router.  We only announce the prefix of the Babel network over RIPng, which is a static nullroute (the Babel routes use longer prefixes).

We are not allowed to advertise any other prefixes to our upstream, including the

[2017-05-30 18:58] donaldsharp commented on #637
@mwinter-osr please look at https://github.com/FRRouting/frr/pull/639

[2017-05-30 18:58] donaldsharp commented on #636
@mwinter-osr  please take a look at this https://github.com/FRRouting/frr/pull/639

[2017-05-30 21:40] TekunoKage commented on #504
Is any progress on this? RSVP could be key for scale deployments... @louberger any luck to move your implementation to open source?

[2017-05-30 22:32] mikma opened #640 "Stack overflow causing crashes in daemons when RLIMIT_NOFILE is very large"
If RLIMIT_NOFILE is very large (for example 1048576) then the following line lib/thread.c (line 1232 in 3bf2673b3094727edee168f4b5a93095420f6b23) causes a crash when it tries to allocate the array on the stack.

[2017-05-31 03:23] jhiggins-NZ opened #641 "Enhancement - Fully Specified Static Routes"
**Issue:**
- Currently there are options for recursive and directly connected static routes only.
- Fully Specified Static Routes are needed when the next hop must be directly connected to the specified exit interface.

**Enhancement:**
- Ability to have IPv4 & IPv6 fully specified static routes, for both default & created VRFs.

E.g.   172.16.0.0/16 eth0 192.168.1.1

[2017-05-31 12:15] #258 closed

[2017-05-31 12:19] donaldsharp commented on #420
This has been fixed in master with the removal of select and switch over to HAVE_POLL in commit pr #633 as well as some earlier fixes as well

[2017-05-31 12:19] #420 closed

[2017-05-31 15:00] jech commented on #635
I would suggest enabling the flag unconditionally.  Recursive lookups of nexthops are useful for protocols that support multihop neighbourships, shuch as BGP.  For IGPs, there is no reason why the next-hop address should be in the connected prefix, and indeed IPv6 does away with this assumption (due to next hops being link-local.)

Just enable ONLINK unconditionally and be done with it.

[2017-05-31 20:40] rwestphal commented on #635
I think we're talking about unnumbered interfaces here. In this case, zebra should be already using ONLINK when necessary. Please check the links below:

https://github.com/FRRouting/frr/blob/f0683d22277017e5a93798ce88a06fc7927dc326/zebra/zebra_rib.c#L279-#L280

https://github.com/FRRouting/frr/blob/f0683d22277017e5a93798ce88a06fc7927dc326/zebra/connected.c#L83-#L89

[2017-05-31 21:55] qlyoung commented on #640
good catch, thank you for the report

[2017-06-01 09:55] mTaleqani opened #649 "BGP Address Family VPNv4 unknown to FRR"
It is not possible to create BGP Address-Family VPNv4 in current FRR master Version.
I have done the following BGP configuration in order to configure an MPLS VPN Scenario.

![image](https://cloud.githubusercontent.com/assets/24407965/26674189/cd1ad840-46d4-11e7-8bf4-cf5be1d35fe9.png)

when trying to configure BGP Address-Family VPNv4 the following error is returned :

![image](https://cloud.githu

[2017-06-01 09:58] eqvinox commented on #638
This is what I tried to get started with:
https://github.com/FRRouting/frr/wiki/Distro-&-Packaging-README-FAQ

[2017-06-01 10:24] donaldsharp commented on #649
address-family ipv4 vpn

Or compile with --enable-oldvpn-commands

[2017-06-01 17:42] mTaleqani opened #651 "BGP receives VPNv4 updates but not sending VPNv4 updates"
Configured FRR as a PE router which has two ibgp neighborships with cisco PE routers. FRR successfully receives BGP VPNv4 Updates from cisco PE routers but not sending BGP VPNv4 updates to any PE routers at all (checked via Wireshark).
this is the configuration :

![image](https://cloud.githubusercontent.com/assets/24407965/26692254/4247eb36-4715-11e7-9014-a0d5b500d8dc.png)

and to verify if FRR h

[2017-06-01 17:46] rwestphal commented on #651
RFC 4364 (MPLS L3VPNs) is not supported at this moment.

[2017-06-01 17:51] rwestphal commented on #651
We already have a good base in bgpd (support for VRFs, RTs/RDs, VPN routing table) but there're still a few missing pieces that need to be implemented, like importing VPN routes into VRFs and exporting VRF routes into VPN routes.

[2017-06-01 18:13] louberger commented on #651
The rfapi code has the ability to do this from the "default" vrf -- all
that's really needed is the config pieces (using the new syntax hammered
out a few months ago) and passing the right vrf ID to make this all
work.  Lets talk if you want to do it!

Lou

On 6/1/2017 1:51 PM, Renato Westphal wrote:

[2017-06-01 20:01] mTaleqani commented on #651
@rwestphal -->  Does FRR has any plan to implement the missing codes to support MPLS VPN in near future?
@louberger --> it would be great if possible to implement and test MPLS VPN scenarios by adding some patches to FRR.

[2017-06-01 20:54] louberger commented on #651
the control path signaling is there, but it isn't tied into the data
plane (label manager) yet...

On 6/1/2017 4:01 PM, Majid Taleqani wrote:

[2017-06-02 10:59] jhiggins-NZ opened #653 "CLI - IPv6 router preference parameter & help strings are mismatched."
**Issue:**
- Parameters are mismatched to the associated help strings.
- Low & Medium seems to be mixed up.

.
.

**Setup:**
- frr-2.0-2195-gcf4e348
- Ubuntu 16.04
- Kernel 4.11

.
.

**Example:**

[code]

[2017-06-02 11:36] donaldsharp commented on #653
Added fix to PR #652

[2017-06-02 13:36] #607 closed

[2017-06-02 13:37] #649 closed

[2017-06-02 13:59] eqvinox commented on #507
WiP

[2017-06-02 17:13] qlyoung opened #655 "Unify zebra_static_ipv4 & static_ipv6_func"
In `zebra/zebra_vty.c` these functions can and should be one function that supports both v4 & v6 static routes.

[2017-06-02 17:24] qlyoung commented on #564
right then... #564

[2017-06-02 17:47] qlyoung commented on #608
:tada: :shipit:

[2017-06-02 18:57] louberger commented on #608
need to remove SAFI and associated memory and code as part of cleanup.

[2017-06-03 22:00] #564 closed

[2017-06-04 09:39] mwinter-osr opened #666 "OSPFd: stack-buffer-overflow"
Issue found on stable/3.0, git 082ac4f running compliance test with address sanitizer enabled

	ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7ffff239594e at pc 0x00000045d721 bp 0x7ffff2395860 sp 0x7ffff2395850
	WRITE of size 1 at 0x7ffff239594e thread T0
		#0 0x45d720 in ospf_get_spf_reason_str /home/anvl/frr-3.0-20170603/ospfd/ospf_spf.c:89
		#1 0x45d720 in ospf_spf_calculate_time

[2017-06-04 09:41] mwinter-osr opened #667 "OSPF6d: heap-use-after-free"
Issue found on stable/3.0, git 082ac4f running compliance test with address sanitizer enabled

	ERROR: AddressSanitizer: heap-use-after-free on address 0x610000001db0 at pc 0x000000456af1 bp 0x7ffd547d1ec0 sp 0x7ffd547d1eb0
	READ of size 1 at 0x610000001db0 thread T0
		#0 0x456af0 in ospf6_intra_brouter_calculation /home/anvl/frr-3.0-20170603/ospf6d/ospf6_intra.c:1646
		#1 0x45ddbd in ospf6_spf_ca

[2017-06-04 10:06] mwinter-osr opened #668 "RIPNGd: LeakSanitizer: detected memory leaks"
Issue found on stable/3.0, git 082ac4f running compliance test with address sanitizer enabled

	ERROR: LeakSanitizer: detected memory leaks

	Direct leak of 40 byte(s) in 1 object(s) allocated from:
		#0 0x7f17c129179a in __interceptor_calloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x9879a)
		#1 0x486a9c in qcalloc /home/anvl/frr-3.0-20170603/lib/memory.c:66
		#2 0x45be8a in stream_new /home/anvl/

[2017-06-04 10:09] mwinter-osr opened #669 "Zebra: LeakSanitizer: detected memory leaks"
Issue found on stable/3.0, git 082ac4f running compliance test with address sanitizer enabled

	ERROR: LeakSanitizer: detected memory leaks

	Direct leak of 4416 byte(s) in 69 object(s) allocated from:
		#0 0x7f9d0c9c479a in __interceptor_calloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x9879a)
		#1 0x4f6b00 in qcalloc /home/anvl/frr-3.0-20170603/lib/memory.c:66
		#2 0x4f2a2f in vrf_bitmap_init /ho

[2017-06-04 11:16] mwinter-osr opened #670 "BGPd: global-buffer-overflow"
Issue found on stable/3.0, git 082ac4f running compliance test with address sanitizer enabled

	ERROR: AddressSanitizer: global-buffer-overflow on address 0x00000062d9d0 at pc 0x0000005e624a bp 0x7fff4bc68440 sp 0x7fff4bc68430
	READ of size 4 at 0x00000062d9d0 thread T0
		#0 0x5e6249 in mes_lookup /home/anvl/frr-3.0-20170603/lib/log.c:894
		#1 0x45d51e in bgp_notify_code_str /home/anvl/frr-3.0-201

[2017-06-04 11:42] mwinter-osr opened #671 "ISISd: heap-use-after-free"
Issue found on stable/3.0, git 082ac4f running compliance test with address sanitizer enabled

	ERROR: AddressSanitizer: heap-use-after-free on address 0x61400000ffa8 at pc 0x000000414983 bp 0x7ffd3355fcf0 sp 0x7ffd3355fce0
	READ of size 4 at 0x61400000ffa8 thread T0
		#0 0x414982 in isis_adj_state_change /home/anvl/frr-3.0-20170603/isisd/isis_adjacency.c:220
		#1 0x44f764 in clear_isis_neighbor_c

[2017-06-06 15:25] #640 closed

[2017-06-06 16:53] qlyoung commented on #670
this one is really nasty and there may be additional issues here

[2017-06-06 18:04] qlyoung opened #683 "Need to print source for srcdest Null0 statics"
[code]

Expect:

[code]

[2017-06-07 14:34] ne-vlezay80 opened #689 "Падает frr при запуске через init ( FRR crashes when run through init)"
root@border:/home/admin# tail /var/log/frr/frr.log
2017/06/07 13:59:15.488105 ZEBRA: Terminating on signal
2017/06/07 13:59:15.488310 ZEBRA: IRDP: Received shutdown notification.
2017/06/07 13:59:15.492952 BGP: Terminating on signal
2017/06/07 13:59:15.495718 OSPF: Terminating on signal
2017/06/07 13:59:15.497457 OSPF6: Terminating on signal SIGTERM
2017/06/07 14:00:21.988085 ZEBRA: Terminating on

[2017-06-07 17:33] acoul opened #690 "--disable-rtadv compile issue (patch included)"
compiling with --disable-rtadv produces:

for some reason I am unable to upload files so here it is in plain text:

--- a/zebra/interface.c
+++ b/zebra/interface.c
@@ -849,6 +849,7 @@ if_up (struct interface *ifp)

   if_nbr_ipv6ll_to_ipv4ll_neigh_add_all (ifp);

+#if defined (HAVE_RTADV)
   /* Enable fast tx of RA if enabled && RA interval is not in msecs */
   if (zif->rtadv.AdvSendAdvertisement

[2017-06-07 17:57] ne-vlezay80 opened #691 "ospf not working"
Router1:
!
frr version 3.1-dev-frr1
frr defaults traditional
no log monitor
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp 65301
 neighbor 10.247.0.1 remote-as 65500
 !
 address-family ipv4 unicast
  network 10.194.0.0/21
 exit-address-family
 !
 address-family ipv6 unicast
  network 2a01:d0:c353:180::/58
  neighbor 10.247.0.1 activate
 exit-a

[2017-06-08 11:04] ne-vlezay80 opened #695 "Frr зависает при запуске через встроинный скрипт (FRR hangs on startup via builtin script)"
oot@s1:/usr/src/frr# service frr start
/etc/init.d/frr: line 479: /etc/frr/debian.conf: No such file or directory
Loading capability module if not yet done.
Starting Frr daemons (prio:10):. zebra
...

Причина зависания в том, что демонам не передаются параметры коммандной строки.
Версия: stable/3.0

[2017-06-08 12:00] donaldsharp commented on #690
https://github.com/FRRouting/frr/pull/696

[2017-06-12 12:42] TekunoKage commented on #695
I can confirm the issue. I create a blank file to bypass the error.

[2017-06-12 13:37] ne-vlezay80 commented on #695
TekunoKage, Какой файл?

[2017-06-12 20:50] rickkosa opened #706 "BGPD locks up after issuing 'show ip bgp'"
When I issue 'show ip bgp' the cli locks up. Once it returns, all peers have been reset. I am running 2.0 on a vm with 2x vCPU 2.8GHz and 8GB memory with Ubuntu 16.04. Is this a known issue?

[2017-06-13 00:19] donaldsharp commented on #706
How many routes and how many peers?

In general this is a known issue.  Current approach is to increase the hold time/keep alive timers to something larger than the time it takes to run 'show ip bgp'.

We are working towards adding an approach with threading where this does not occur any more.

[2017-06-13 12:20] rickkosa commented on #706
19 peers with 1195923 RIB entries. Do you know if this issue is addressed in 3.0? Also, is support for eVPN and flowspec on the roadmap?

[2017-06-13 12:22] donaldsharp commented on #706
We are working towards adding an approach with threading where this does not occur any more.
I would recommend setting your hold time and keep alive timers to 60/180 at a minimum.

eVPN type 5 is currently available, type 2 and 3 is under consideration for inclusion now.

I am not aware of anyone working on flowspec.

[2017-06-13 15:04] qlyoung commented on #706
Ditto, this is a known issue and should be hopefully fixed by the next release.

[2017-06-13 15:11] #481 closed

[2017-06-13 15:13] #666 closed

[2017-06-13 15:13] rzalamena commented on #404
Suggestion: use the new RBT_* data structure family to avoid generating the amount of code that these macros do and probably fix this warnings by using functions that can do compiler type checks.

The new macros can be found here:
http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/sys/sys/tree.h?rev=1.27&content-type=text/x-cvsweb-markup

The function implementations can be found here:
http://cvsweb.ope

[2017-06-13 15:14] #667 closed

[2017-06-13 15:14] #668 closed

[2017-06-13 15:14] #669 closed

[2017-06-13 15:14] #671 closed

[2017-06-13 15:16] donaldsharp commented on #683
This should be fixed in 3.0

[2017-06-13 15:18] donaldsharp commented on #689
I'll look more closely at this, I believe we have not properly setup the install

[2017-06-13 15:19] donaldsharp commented on #690
Merged in with PR #696

[2017-06-13 15:19] #690 closed

[2017-06-13 15:21] donaldsharp commented on #691
If I am reading this right router2 should be redistributing static routes to router1.  Is this what you expect @ne-vlezay80 ?

[2017-06-13 15:21] eqvinox opened #708 "Remove superfluous configure options"
Some options on `configure` are really rather pointless, e.g.

* `--disable-rtadv`
* `--disable-irdp`

They disable features at compile time that could as well just be compiled in and disabled at runtime.

[2017-06-13 15:23] donaldsharp commented on #695
Copy tools/etc/frr/debian.conf into /etc/frr/debian.conf

[2017-06-13 15:23] #695 closed

[2017-06-13 15:34] rickkosa commented on #706
Thanks for the quick responses. We are looking to migrate our RR duties off of our 9ks and I really like FRR. Keep up the good work.

[2017-06-13 15:46] qlyoung commented on #706
Great to hear, thanks for the report 🙂

[2017-06-13 15:46] #706 closed

[2017-06-13 15:47] eqvinox commented on #635
should work in merged version through magic in zebra - closing

[2017-06-13 15:47] #635 closed

[2017-06-13 16:04] dslicenc commented on #691
Would it be possible to supply the output of "show ip ospf database external" from both routers?

[2017-06-13 18:57] ne-vlezay80 commented on #691
Дело в том, что на quagga подобная схема работала нормально.

[2017-06-13 19:11] dslicenc commented on #691
"The fact is that on a quagga this circuit worked fine."

That doesn't help me know what is not working.  If you wish us to try to resolve the issue, then additional information is required. I've set up a very similar config in my lab and it works just fine redistributing static routes into ospf and advertising to a peer.

[2017-06-14 22:45] jech commented on #635
I haven't tested the latest version yet (sorry), but I'd like to make it clear that we're not speaking of unnumbered interfaces here.  A common deployment model for Babel is to put a /32 prefix on each interface; in that case, the next-hop address is not on the prefix assigned to the interface.

[2017-06-14 22:47] donaldsharp commented on #635
Yes, that is exactly what @eqvinox asked me to test and that works.

[2017-06-15 00:28] mwinter-osr opened #719 "Type conversion error (build fails with werror on armv7) in rfapi"
Building on a ARMv7 (32 bit system) fails with `-Werror` because of a type mismatch:

	gcc -DHAVE_CONFIG_H -DSYSCONFDIR=\"/etc/frr/\" -I. -I..  -I.. -I.. -I../lib -I../lib -Irfapi -I../bgpd/rfp-example/librfp  -Werror -g -Os -fno-omit-frame-pointer -Wall -Wextra -Wmissing-prototypes -Wmissing-declarations -Wpointer-arith -Wbad-function-cast -Wwrite-strings -Wno-unused-result -Wno-unused-parameter

[2017-06-15 01:49] mwinter-osr commented on #719
Fixed and merged.

[2017-06-15 01:49] #719 closed

[2017-06-15 02:42] chenyq2 opened #721 "ospf can't distribute default route to peer after "default-information originate always" reset"
version: FreeRangeRouting 2.0-rc2
Platform: PPC1010
recurrence:
TOPO: DUT1 connect DUT2 through eth-0-9
Configuration:
DUT1:
    configure terminal
    interface eth-0-9
        ip address 49.1.1.1/24
     exit
     router ospf
     network 49.1.1.1/24 area 0
DUT2:
    configure terminal
    interface eth-0-9
        ip address 49.1.1.2/24
     exit
     router ospf
     network 49.1.1.2/24 area 0

[2017-06-15 11:40] dslicenc commented on #721
Confirmed this is an issue in 2.0, 3.0, and master.  Taking a look at it now.

[2017-06-15 20:52] rzalamena opened #727 "SIGINT handling"
While running topology tests on FRR I noticed an unwanted behavior: zebra and other daemons are handling SIGINT like SIGTERM.

Steps to reproduce the unwanted behavior:

* Edit a topology test (any) and add a Mininet CLI call in the middle of the execution
(e.g. during the test_bgp_converge() test)
* Run the test and wait for the mininet CLI to show up
* Start a vtysh on the running router

[code]

[2017-06-15 21:52] qlyoung commented on #727
So I'm not sure what the problem being reported here is exactly.

It looks like the Mininet CLI has its own interpretation of SIGINT that means 'kill the test'. I suspect what is going on is that your ^C terminated the test, which caused the daemon to die. As for the GDB session, I'm not sure what to make of it or what is being demonstrated.

If your report is

* that the program terminates when i

[2017-06-15 22:15] rzalamena commented on #727
The gdb output just demonstrates that zebra would receive the SIGINT signal when that happens.

I'm reporting that maybe zebra and other daemons should ignore SIGINT (and/or SIGQUIT) after they go to background, as it is not possible to send this signals to the daemon without using some utility (like kill).

Mininet based shell is in fact sending incorrectly signal to processes it is running, but

[2017-06-16 10:15] jhiggins-NZ opened #729 "IS-IS - Redistribution does not appear to work"
**Issue:**
- Redistribution of static routes into IS-IS process, does not appear to work.
- Description strings for level-1 & level-2 redistribution destinations look a bit suspect too.

**Setup:**
- Ubuntu 16.04
- Kernel 4.11
[code]

**Examples:**

**1stAttempt**
[code]

**2nd Attempt**

[code]

[2017-06-18 08:04] jhiggins-NZ opened #736 "OSPFv2 - Network statement only matches when shorter or equal prefix lengths are used"
**Issue:**
- OSPFv2 network statement isn't matching the interface with the specified address, to enable OSPF processing & message transactions.
- Network statement only seems to work if the prefix length is the same - or greater than the interface's.
- Tested as present on FRR 3.0 branch.

.
.

**Expected Behaviour:**
- Specifying "network 192.168.23.2/32 area 0" = match and run OSPF only for an

[2017-06-18 13:33] ne-vlezay80 commented on #736
Покажи вывод sh ip route

[2017-06-18 20:39] jhiggins-NZ commented on #736
Sure

[code]

[2017-06-18 21:54] ne-vlezay80 commented on #736
У меня такая-же проблема была.

[2017-06-18 21:55] ne-vlezay80 commented on #736
I had the same problem.

[2017-06-18 21:56] ne-vlezay80 commented on #736
Please show output command:
`sh ip ospf route`

[2017-06-18 23:45] jhiggins-NZ opened #737 "CLI - "Unknown command: autocomplete 2" is printed for the routing processes, when the "?" is used"
**Issue:**
- "Unknown command: autocomplete 2" is printed for the routing processes, when the "?" is used.
- This occurs at the command parameter where a  AS, Area or Instance ID input is required.
- Tested as present on FRR master branch.

.
.

**Version:**
- Ubuntu 16.04
- Kernel 4.11
- FRR master branch
[code]

.
.

**Example:**

[code]

[2017-06-18 23:50] jhiggins-NZ commented on #736
Here it is.

In fact I found this issue also on a proprietary continuation of Zebra for RIP - so ill test that later too, as it may still be present through the Quagga -> FRR continuation.

[code]

[2017-06-19 03:36] jhiggins-NZ opened #738 "OSPFv2 - Displaying self originated Type 7 LSAs on ASBRs, does not work."
**Issue:**
- "show ip ospf database nssa-external self-originate" command does not work.
- ASBR will not display Type 7 LSA detail.
- Neighbouring routers **CAN** see the advertised Type 7 LSAs though.

.
.

**Setup:**
- Ubuntu 16.04.
- Kernel 4.11
- 3.0 branch.
[code]

.
.

**Example:**
- R3 does not display self originated Type 7 LSA detail.

[code]

.
.

**Example - NSSA adjacent router R2 can

[2017-06-19 03:38] jhiggins-NZ commented on #738
In short NSSA ASBRs cannot observe their own Type 7 LSA detail.

Adjacent NSSA routes can see the LSA detail.

[2017-06-19 04:18] jhiggins-NZ opened #739 "OSPFv2 - ASBR originates a Type 5 LSA, when it is only configured in an NSSA"
**Issue:**
- ASBR is originating a Type 5 LSA, even through its only configured to reside in a NSSA.
- The Type 5 LSA is not being originated into the NSSA (area 4) however.
- _Expected behaviour is the Type 5 is only generated if the node is acting as an ASBR for a non-NSSA area - which permits External LSAs._

.
.

**Setup:**
- Ubuntu 16.04
- Kernel 4.11
- 3.0 branch

.
.

**Topology:**

Area 0

[2017-06-19 14:39] donaldsharp commented on #737
@jhiggins-NZ This sure looks like you have different versions of FRR installed at the same time.  Or when you started with a new version you didn't kill off the old one running fully.

Can you make sure that you've (a) killed all the daemons (b) and then installed and finally (c) restarted?

[2017-06-19 19:40] jhiggins-NZ commented on #737
Thanks Donald. I might have forgotten to paste in the stop, daemon reload & start commands from my template.

I'll give it another go later.

[2017-06-20 15:19] #404 closed

[2017-06-20 15:20] donaldsharp commented on #407
No update

[2017-06-20 15:24] donaldsharp commented on #729
@cfra to look at and get back with results of investigation

[2017-06-20 15:26] donaldsharp commented on #736
This should work, waiting for a volunteer to work on

[2017-06-20 15:28] donaldsharp commented on #737
As per Lou's Suggestion, we should have a new enhancement to let vtysh notice it is compiled against the wrong version of the daemons currently running.

@jhiggins-NZ have you had a chance to retest?

[2017-06-20 15:29] donaldsharp opened #743 "vtysh should be able to detect when run against daemons compiled differently"
If vtysh is compiled against 2.0 and we attempt to run it against say 3.0 daemons vtysh should be able to notice this and warn appropriately

[2017-06-20 15:29] qlyoung commented on #727
We discussed this some more in the meeting and general consensus was that the current behavior is the desired behavior. Changing signal handlers when daemonizing strikes me as somewhat counterintuitive as well. If the daemon shouldn't receive SIGINT when it's a daemon then that doesn't merit any code changes on our part. I would suggest submitting a PR against mininet.

If you have further thought

[2017-06-20 15:29] #727 closed

[2017-06-20 15:57] donaldsharp opened #744 "Insure that all daemons use the same routemap code"
lib/routemap.c provides a bunch of generic routemap code.  Not all daemons have been switched over to use this.  We need to ensure that this is actually done, without breaking any special case route-map code that does exist for some daemons.

[2017-06-20 20:52] cfra commented on #729
Aparrently this functionality has experienced some bitrot. :( When I have the time I will add a topotest for it to avoid this in the future. I have pushed a branch based of stable/3.0 to https://github.com/opensourcerouting/frr/tree/isis-redist-fixes could you take it for a spin?

[2017-06-21 08:18] jhiggins-NZ commented on #729
No problem. I'll give it a go later and get back to you.

[2017-06-21 08:23] jhiggins-NZ commented on #737
@donaldsharp yes, running on NZ time.  :)

Looks like it is my fault and I forgot to kill the old processes properly.

[code]

CLI tests look fine.

[2017-06-21 12:45] #737 closed

[2017-06-21 16:26] qlyoung commented on #670
@mwinter-osr please rerun ASAN compliance tests and check that this bug is resolved

[2017-06-22 11:15] jhiggins-NZ commented on #729
@cfra I was unable to checkout for your branch.

Seems to only build from the master branch.

[code]

Was attempting to use this ^      (or am I doing it wrong?)

[2017-06-22 13:49] cfra commented on #729
Did the checkout fail? Or did the build fail? The following works fine for me:
<pre>git clone https://github.com/opensourcerouting/frr.git frr
cd frr/
git checkout isis-redist-fixes</pre>
Otherwise, you could also try the following to make it more explicit:
<pre>git checkout -b isis-redist-fixes remotes/origin/isis-redist-fixes</pre>

[2017-06-24 11:50] tigranmartirosyan opened #752 "ARP is not updating if mac address changed on remote side"
### Scenario 1:
Running BGP on the host between Cumulus OS running switch and Blade servers running Linux.
Physical connection between host machine and switch is achieved by using intermediary blade switch and vlan subinterface per every blade server.
So when blade machine is physically moved from one bay to another bay, the trunk port or vlan subinterface port on the Cumulus switch remains UP - w

[2017-06-25 00:03] jhiggins-NZ commented on #729
@cfra never mind, was my mistake.  :)

Anyway your build looks good so far.
- Help strings look correct.
- Redistribution commands will commit to the running config.
- Redistribution works.

[code]

Going to test all the combinations, so will take me some time to do.

[2017-06-26 19:31] RidgebackZulu opened #755 "EIGRP Crashes Zebra"
I have the latest FRR code as of 26 Jun 2017.
Hello, this is FRRouting (version 3.1-dev-MyOwnFRRVersion-gea37652).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

This is a git build of frr-3.0-rc0-674-g8ea37652
Associated branch(es):
	local:master
	github/frrouting/frr.git/master

I have a Cisco router CSR1000V with the following config:
interface GigabitEthernet1
 ip address dhcp .   !Get as 192.

[2017-06-26 21:53] mwinter-osr commented on #457
Still no solution. Had some exchange with Ubuntu folks.

Their view is that they don't want to allow indefinite or long term delays of updates (based on their assumption that it could be a security update and potentially causing a risk).
There is a new feature to set the update time within a 24hr window, but no way to skip
it or delay it further.

Their view is to improve the software so the outag

[2017-06-27 15:04] donaldsharp commented on #670
Still waiting for ASAN compliance tests to run, Martin to respond

[2017-06-27 15:04] donaldsharp commented on #407
@rwestphal is busy at the moment and if someone could pick this up

[2017-06-27 15:05] donaldsharp commented on #560
I have not had a chance to look at this yet

[2017-06-27 15:17] donaldsharp commented on #752
This is related to the 5549 code additions for bgp.  The zebra code to install a neighbor table entry is not being reset when the VM moves

[2017-06-28 12:05] dslicenc commented on #736
Assign to me.  I already have a fix for it I'm testing

[2017-06-28 13:57] donaldsharp opened #761 "CI system Static Analysis is mixing branches"
The CI system when running against a PR, needs to keep track of which branch the Static Analysis is being run against because we will have different SA results for different branches.

[2017-06-28 22:56] mwinter-osr commented on #761
This should be how it's implemented, but it seems like there is a bug.

Can you point me to a case where you think it's mixed up?

[2017-06-28 23:35] lucize opened #765 "EIGRP PROC OUT EOT: NENastavujem metriku (ggl translate: Do not set the metric)"
on a centos server and a cisco 3285 router

[code]
the centos settings

[code]
regards

[2017-06-28 23:46] donaldsharp commented on #765
@lucize -> eigrp believes it has received a goodbye from the other side.  What does the 3285 router state as the reason why it is shutting down the connection?

[2017-06-28 23:49] lucize commented on #765
on simple log I have this

[code]
should it be the linux firewall ?
regards

[2017-06-28 23:55] donaldsharp commented on #765
@lucize EIGRP needs both unicast and multicast connectivity.  I would add a linux firewall rule to allow unicast network connectivity.  I know I had problems testing EIGRP on my home box due to the firewall installed on it at that time, in which I had to turn it off to get it to work.

[2017-06-29 00:11] dwalton76 opened #766 "bgpd: allow neighbor to be active for both ipv4 unicast and labeled-unicast"
In a nutshell remove this restriction

The bestpath algorithm will need some tweaking to handle the scenario where we learn two paths for the same prefix from a single peer.  RFC3107 doesn't describe.  We will also need to discuss what routes are advertised over each SAFIs...do we just advertise everything above both or try to do something else?  We should probably look at what other vendors do in

[2017-06-29 00:12] dwalton76 commented on #766
The restriction above came in via #733

[2017-06-29 00:15] lucize commented on #765
I disabled the firewall (eigrp uses protocol 88)

enabled some debug

[code]

and more verbose

[code]
don't know if it helps
regards !

[2017-06-29 00:23] louberger commented on #766
What's the planned solution?

[2017-06-29 00:26] donaldsharp commented on #765
The linux side does not appear to be sending ack's to update packets from the cisco side.  Can you turn on 'debug eigrp packets all' and `debug eigrp transmit all` and upload the resulting log file?

[2017-06-29 00:28] lucize commented on #765
yes, I'll try later, now is late :)
regards

[2017-06-29 00:35] dwalton76 commented on #766
We'll need to discuss that....for the bestpath part if everything is a tie then it doesn't matter too much which one we choose we just need it to be consistent so we don't re-install routes for no reason.  We could say "prefer the path with the label as the bestpath".

For whether or not to TX all routes over both SAFIs it seems like we would want to and then leave it up to the user to define outb

[2017-06-29 09:00] jhiggins-NZ commented on #729
Tested most of the IS-IS features around redistribution etc.

Tested as working:
- L1, L1-L2, L2 adj.
- Redistribution into L1
- Redistribution into L2
- Redistribution BGP, Static, RIP & Connected types to IS-IS.
- P2P Net Type
- Area password
- Checking prefixes added to the correct L1 & / or L2 DBs.

Still going to add more tests, but its looking really solid, no issues found yet.

[2017-06-29 12:08] donaldsharp commented on #765
@diivious or @janovic  Can you help us out here?  Looks like we have a situation that could use your expertise

[2017-06-29 12:41] lucize commented on #765
executing
`debug eigrp packets all` and `debug eigrp transmit all` I see noting on linux side, or I don't know how to enable the debug to stdout
issuing `sh log` I have this:
[code]
nothing more

[2017-06-29 12:42] donaldsharp commented on #765
from your above config the log file is saved in `/var/log/frr/eigrpd.log`  attach that here

[2017-06-29 12:43] lucize commented on #765
nothing more than the previous output

[code]

[2017-06-29 12:46] lucize commented on #765
cisco has this (Version 15.1(4)M12a)

[code]

[2017-06-29 15:19] donaldsharp commented on #736
PR #763 was merged in

[2017-06-29 15:19] #736 closed

[2017-06-29 20:29] mwinter-osr commented on #670
I see this issue fixed in master (fix was merged there), but the issue still exists in stable/3.0

Can you please provide same fix for stable/3.0 ?

[2017-06-29 23:34] donaldsharp commented on #761
https://github.com/FRRouting/frr/pull/756

[2017-06-30 00:05] mwinter-osr commented on #761
PR #756 is a special case.
The PR was initially pushed against master on top of base SHA f30a732 and the CI system correctly triggered against it. Base sha is correct for this.

However, the PR was then EDITed to be based on stable/3.0 instead of master. This triggered a `edit` webhook trigger which I ignored in the CI. Just never thought about this... Oops.

Going to fix to handle `edit` webhooks

[2017-06-30 00:24] mwinter-osr commented on #761
This should be fixed now. In the future, for the edit case, there should be 2 CI runs: One for the original pull request and then a new one after an edit event.

@donaldsharp Please update with another case where the CI Static Analysis got mixed up (without editing the branches after the push) or close if you think this is solved.

[2017-06-30 17:51] donaldsharp opened #772 "ldp ipv4 tests are inconsistent"
https://github.com/FRRouting/frr/pull/742
https://github.com/FRRouting/frr/pull/733
https://github.com/FRRouting/frr/pull/767

These recent updates have the ldp ipv4 test fail the first run and then work the subsuquent run.  We need to get these tests to be much more consistent.

[2017-07-03 12:34] ne-vlezay80 opened #776 "Увилечение колличества MPLS-меток в (Increasing the number of MPLS-tags in) zebra"
Кстати, ядро 4.12 уже доступно: (https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-4.12.tar.xz)
В данном ядре, по заверению разработчиков колличество MPLS-меток в стеке состовляет 30.

По этому я предлагаю, увиличить этот лимит в Zebra.

[2017-07-03 16:03] Jafaral commented on #776
By the way, kernel 4.12 is already available: (https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-4.12.tar.xz)
In this kernel, according to the developers, the number of MPLS tags on the stack is 30.

Therefore, I suggest that this limit in Zebra should be avoided.

[2017-07-04 15:09] eqvinox commented on #407
@rwestphal mentioned he might be able to get to it in the next week

also there is some scepticism on whether this is 3.0?