[2017-11-06 22:50] donaldsharp commented on #1412
@pogojotz it looks reasonable from a very very cursory look at it.  Please submit a Pull Request for it and let's get it looked at officially

[2017-11-06 23:50] #1404 closed

[2017-11-07 07:58] mwinter-osr commented on #1394
Before you try to build a RPM, can you try following the normal compile as described in https://github.com/FRRouting/frr/blob/master/doc/Building_FRR_on_CentOS6.md ?

Pay special attention to the update of automake/autoconf/bison as highlighted in the doc.

How far do you get with this?

Happy to give you a few hints, but expect a VERY painful manual upgrade of various packages to get this working

[2017-11-07 09:46] JuergenKammer opened #1420 "ospf6d: LSA hooks are never called when ipv6 opsf6 cost is manually set on an interface"
If the ipv6 ospf6 cost on an interface is changed, no recalculation of routes happens, though the interface structure is updated with the new value. The new cost will be used later, when LSA hooks are called for any other reason.

Diagnosis:
The DEFUN for the config command sets oi->cost and calls ospf6_interface_recalculate_cost(oi) whenever there is a change in the supplied value. ospf6_interfac

[2017-11-07 11:06] JuergenKammer commented on #1325
Had the same problem, though on debian. Diagnosed the closing connections as getting closed because the actual daemons were being restarted continuously after some 30 or so seconds. I had wrong watchfrr options in /etc/frr/debian.conf (do not know if you have that on ubuntu). Anyway: check the systemd configuration (/etc/systemd/system/frr.service or /lib/systemd/system/frr.service) and/or watchfr

[2017-11-07 12:58] donaldsharp commented on #1420
@JuergenKammer Again this looks like a good analysis and a more than decent approach.  Please submit a PR for this issue.

[2017-11-07 13:05] cryptronic opened #1421 "frr-reload.py failes due to unexpected config line"
If executing frr-reload.py with an identical config the following happens:

Currently testing against current stable/3.0.

`/usr/lib/frr/frr-reload.py /tmp/frr.conf --reload`

[code]

File /var/run/frr/reload-0YF0EG.txt hsa the following content:

`2017/11/07 14:02:19 unknown: buffer_flush_available: write error on fd -1: Bad file descriptor`

It seems like vtysh has this line in it's output:
`/us

[2017-11-07 13:08] cryptronic commented on #1404
Thanks for your quick fix. I can confirm that the bgp next-hop is set correctly!

[2017-11-07 13:38] k0ste opened #1422 "Scripts not respect build options."
Hardcoded path in `frr` script:

[code]

The same in `frr.service`:

[code]

So, when `prefix`/`sbindir` are not default (for example `--prefix="/usr"`, `--sbindir="/usr/bin"` - frr is unusable.

[2017-11-07 13:58] patrick7 opened #1423 "debianpkg version number"
I have built version 3.0.1, but the package version number is the same as on 3.0

[2017-11-07 15:15] daseinhorn commented on #1399
same issue here

[2017-11-07 15:20] SandroRaV commented on #1399
and same issue here

[2017-11-07 16:09] donaldsharp commented on #1395
FRR does not have a summary command for ospf at this point in time.  It would be awesome of someone would submit a PR for this

[2017-11-07 16:18] donaldsharp commented on #1409
This would be a non-trivial amount of work and is a feature Request

[2017-11-07 16:40] patrick7 commented on #1421
I think this is related to https://github.com/FRRouting/frr/issues/1380

[2017-11-07 18:24] louberger opened #1429 "indent.py/clang-format breaks comments"
in two cases indent.py (clang-format) added a space to: '*/' which of course breaks the code due to a now unterminated comment.

See https://github.com/FRRouting/frr/pull/1428/commits/e0aeb0b8ecc9fe7c2787a0b8c2fdbaa38e60379f for the specific lines that were broken,

[2017-11-08 11:29] JuergenKammer opened #1431 "ospf6d: ECMP route handling is bogus for the most part."
Frr-3.0:

ECMP routes which reach a FRR ospf6d are only taken as ECMP routes if the route corresponds to a net over which the nexthop routers themselves have an ospf6 neighborship.

In other cases (observed: external-1, intra-area prefix with no active ospf6) one route learned is taken as "best" route, the other as alternative (i.e. not taken in the fib) even though the path cost is the same.

A s

[2017-11-08 11:50] patrick7 commented on #1328
I think we can close this issue as there are binaries for debian 9.

[2017-11-08 11:50] #1328 closed

[2017-11-08 12:49] patrick7 opened #1432 "Removing password not possible"
FRR 3.0.2

Iit's possible to set a password, but it's not possible to remove it with VTYSH:
[code]

[2017-11-09 14:25] #1136 closed

[2017-11-09 14:57] donaldsharp commented on #1345
Marking this for 3.0 inclusion as well.  2.0 too?

[2017-11-09 15:52] #1420 closed

[2017-11-10 07:27] Chen0Yang opened #1435 "Is there any plan to implement BGP Monitoring Protocol?"

[2017-11-10 13:02] donaldsharp commented on #1435
I am not aware of anyone implementing this feature at this point in time.  I will add this to the Feature Request page.

[2017-11-10 21:52] patrick7 opened #1439 "Improve address-family matching"
With the merge of https://github.com/FRRouting/frr/pull/1426, prefixes will never match prefix lists of another address family.

BUT: While matching (in a route-map), FRR does not check the address family of the prefix and always tries to match. That means, an IPv4 prefix will be checked against an IPv6 prefix list and vice versa.

Example:
[code]
-> We test if 192.168.1.0/24 matches PL6-TEST

As

[2017-11-11 14:09] patrick7 commented on #1190
@stannous Are there already some news in the cumulus ticket? :-)

[2017-11-11 14:44] patrick7 commented on #1380
Looks like still not working (I'm using git from yesterday)

[code]
[code]

[2017-11-11 23:48] janaki-r-bhagwath commented on #1340
Hi Any update on this? I have the same error when I try versions Stable/3.0 as well as Stable/2.0
Attached is the error for reference. I compiled frr with -enable-systemd. Even then after certain period of inactivity I get following error
Nov 11 18:39:23 EPC-HV03.empatco.com systemd[1]: frr.service: Failed to enqueue OnFailure= job: No such file or directory
Nov 11 18:39:23 EPC-HV03.empatco.com sy

[2017-11-12 09:16] mwinter-osr commented on #1340
Thanks for the failure log, but this (unfortunately) only shows the failed restart. The restart issue is an error in /etc/frr/daemons file with the wrong directory in it for watchfrr.
This is fixed in 3.0.2.

However, the real question is why any of the daemons crashed and that part is unresolved. Any chance you can try 3.0.2 and if it still happens provide the information I've asked in the previo

[2017-11-12 18:09] #1412 closed

[2017-11-12 18:11] donaldsharp commented on #1423
This was fixed w/ 3.0.2

[2017-11-12 18:11] #1423 closed

[2017-11-12 18:12] donaldsharp commented on #1432
@qlyoung, Mind if we give this to @pogojotz for working on?

[2017-11-12 18:15] #1399 closed

[2017-11-12 18:59] janaki-r-bhagwath commented on #1340
Ok will try that out. Also can you please confirm that it is not because I am trying to use the frr on Fedora 26 instead of Fedora 24? Saw some dependency related post w.r.t quagga so just wanted to check if using a different Fedora version might help?

[2017-11-12 19:21] janaki-r-bhagwath commented on #1340
New to Linux and the Routing world. For now have picked up the log file without the debug option enabled. Will figure out how to set the debug option. Also using version 3.0.2 and downloaded frr from GIT stable 3.0 branch hence don't have an RPM version. Verified the configure.ac file to confirm it's 3.0.2
[loganddaemonfile.zip](https://github.com/FRRouting/frr/files/1465017/loganddaemonfile.zip)

[2017-11-12 21:55] ppmathis commented on #1385
The same issue applies for **neighbor PEERGROUP prefix-list <...> in/out**, which will wipe all peer-specific prefix list overrides. I just learned that myself the hard way... Tested with version 3.0.2~git20171110.b9d45c5c.

[2017-11-12 21:57] patrick7 commented on #1385
Maybe some other settings (remote-as, route-map, password, ...) are also affected.

[2017-11-13 04:21] mwinter-osr commented on #1340
Thanks for the update.
However, it seems like you missed to include the /tmp/frr.log (if configured the way I suggested above).

I can see the watchdog timeout and the constant restart, but don't see the reason for the restart in the logs you've provided. Could you please provide me this logfile? Thanks.

I have not tried Fedora 26, but I'll see if I can do some quick check over the next day.

[2017-11-13 08:02] mwinter-osr commented on #1340
I've built the packages on Fedora 26 and installed it, with no issues so far (but very limited testing).
I really need some error messages, tracebacks or other logs to narrow down this issue. Or let me know if you are willing to do some screen sharing session (Hangout, skype, etc) or are able to give remote access to it.

[2017-11-13 14:29] fatihusta commented on #1394
Finally I builded and rpm is ready.
I have a question.
I patched this lines. Is it problem?

[code]

[2017-11-13 16:21] devicenull opened #1440 "Static null0 regression"
Older versions of quagga/FRR used to accept this:
[code]

However, now you have to specify 'Null0' instead.  This ended up breaking some of our automation.

That error message is super confusing as well.

[2017-11-13 18:09] patrick7 opened #1441 "show bgp ipv4 received-routes does not show filtered routes"
FRR v3.0

**Config core:**
[code]
**Config test vm:**
[code]

I see the garbage routes advertised by the test vm to the core (which will be filtered by the route-map RM-CUSTOMER-IN)
[code]

But the core does not see them:

[code]
I think:
-  show bgp ipv4 ... received-routes should show ALL routes before any route maps and prefix lists
- show bgp ipv4 ... routes should show all routes learned/acce

[2017-11-13 21:24] qlyoung commented on #1440
I believe we intended to reject all variants except `Null0` (such as `nUlL0`, `nuLl0`, etc). Automation breaking changes should be noted in the next official release. I agree the error message is pretty bad.

[2017-11-13 22:02] mwinter-osr commented on #1394
I don't see any issues there. Feel free to submit a pull request for the change.
And any chance to add some comments to this issue on what it took to compile it on CentOS 5?

Might be a good reference. (You could also make a more formal doc/Building_on... doc, but not sure if it's worthwhile or if you are one of the very last ones)

[2017-11-13 22:42] louberger commented on #1440
I fully support this bug being fixed.

Think rejecting previously working forms of an operational command is horrible idea.  This would break all automation tools that used this form for no benefit more than aesthetics!  It also violates our compatibility policy in community.cd

[2017-11-13 23:06] qlyoung commented on #1440
I think accepting `NuLl0` as a valid way to specify a blackhole route is confusing and obtuse, I am not diametrically opposed to re-adding support for `null0` as an accepted input.

[2017-11-14 02:41] louberger commented on #1440
I have no objection to adding new/additional forms...

On November 14, 2017 7:07:04 AM Quentin Young <notifications@github.com> wrote:

[2017-11-14 09:38] fatihusta commented on #1394
I created pull request for this patch.
I will prepare reference doc.

[2017-11-14 15:21] ak503 opened #1446 "delete ip on interface"
if delete ip addres on interface then route via interface will deleted. It is ok?

for test:
<pre/>ip link add fake2 type dummy</pre>

in zebra:
<pre/>(config-if)# no shutdown
(config)# ip route 1.1.1.0/24 fake2</pre>

in console:
<pre/> ip r s </pre>
see ok:
..
<pre/>1.1.1.0/24 dev fake2  proto zebra  metric 20</pre>
then i added and deleted ip address on fake2
<pre/>(config-if)#  ip address 2.2.

[2017-11-14 16:09] donaldsharp commented on #1421
this was fixed in 3.0

[2017-11-14 16:09] #1421 closed

[2017-11-14 16:12] donaldsharp commented on #1435
This is a feature Request and will be added to the Feature Request Wiki

[2017-11-14 17:53] donaldsharp commented on #1435
Added to the Feature Request Wiki

[2017-11-14 17:53] #1435 closed

[2017-11-14 17:54] #1355 closed

[2017-11-14 17:57] donaldsharp commented on #1395
Added to Feature Request wiki

[2017-11-14 17:57] #1395 closed

[2017-11-14 20:39] donaldsharp commented on #1446
This is a bug in the kernel as that zebra still thinks the route is `good`:
robot.cumulusnetworks.com# show ip route 1.1.1.0/24
Routing entry for 1.1.1.0/24
  Known via "static", distance 1, metric 0, best
  Last update 01:51:24 ago
  * directly connected, fake1

Watching the kernel netlink notifications we get this:

sharpd@robot ~/frr5> ip monitor all
[ADDR]9: fake1    inet 2.2.2.2/32 scope glob

[2017-11-14 20:39] #1446 closed

[2017-11-15 10:05] gl00my commented on #1446
It's like that the problem is the fib_disable_ip() call (net/ipv4/fib_frontend.c) while removing the last ip from interface (called from fib_netdev_event()). I am not sure, if it is a good idea...

[2017-11-15 11:28] donaldsharp commented on #1446
Yep that is where I traced it too as well.  I have every confidence in @dsahern to tackle this issue appropriately.

[2017-11-15 15:22] cryptronic opened #1450 "FRR 3.0.2 (version 3 head) does not come up with "large" route-map"
Hi all,

I have troubles getting frr up and running. Config comes from quagga 0.99.23.1 running smooth.

I have two route maps, one for ipv4 and one for ipv6.
IPv4 route-map has around 1,1k permit statements which are for /32 networks
IPv6 route-map has 1,5k permit statements which are for /64 networks

Currently frr starts up fine, BGP Sessions are estabileshed. After around 50 seconds BGP is bee

[2017-11-15 16:59] devicenull commented on #1450
Are you using watchfrr here?  The default timeout is comically low, try changing that to "-t120" (in /etc/frr/daemons)

[2017-11-15 17:24] cryptronic commented on #1450
Thank you very much, this did solve my issue!

[2017-11-15 17:30] cryptronic commented on #1421
With current version (3.0.2) this issue is still happen.

[2017-11-17 10:04] JuergenKammer opened #1461 "IPv6 FIB update error: newly inactive route stays in FIB."
FRR 3.0.0

When an IPv6  route is present which was learned via ospf6 is added as a static Null0 route in zebra, both the dynamic route and the static route stay in the FIB.

In detail:

<h3>status: no static route, no dynamic route:</h3>
zebra:
<pre>
r1# show ipv6 route ::/0
% Network not in table
</pre>
linux:
<pre>
(no output for "ip -6 route ls ::/0")
</pre>
<h3>Dynamic route arrrives:</h3>
<p

[2017-11-17 13:13] nskeeper commented on #1396
@donaldsharp I have update my question and append some output. Thanks  for your quickly reply.

[2017-11-17 15:57] donaldsharp commented on #1461
@JuergenKammer Yep this is an issue.  I'll have a fix here shortly.  I've also opened an issue with some kernel developers to add v6 route replace semantics to the linux kernel as well.  Once that gets in we can switch back to using route replace semantics for v6

[2017-11-17 22:59] spale75 opened #1465 "route-map limitations for community, large community and prepending"
I am using BGPD as a source to test border cases with BGP peers. I noticed that communities, large communities and prepending seems to be limited to 60 in route-maps. The protocol allows much more than that.

Is there any good reason for this limitation or should this be corrected to the actual maximum?

[2017-11-18 22:21] patrick7 opened #1467 "clear bgp ipvX"
v3.0

clear bgp ipv4 * clears ALL peers (including v6)
clear bgp ipv6 * clears ALL peers (including v4)

[2017-11-19 05:03] k0ste opened #1468 "Double '/' symbol in vty_out when write memory."
frr 3.0.2.

**`//`**:

[code]

[2017-11-19 14:30] donaldsharp commented on #1468
This is fixed in master:
[code]

Minor display bug imo

[2017-11-19 17:27] lucize opened #1469 "debuild not working anymore on ubuntu 17.10 [lib/csv.lo] Error 1"
with latest update, `debuild -b -uc -us`  or `dpkg-buildpackage -d -b` fails with

[code]

only `./configure` and `make` in root folder seems to work

[2017-11-19 17:40] lucize commented on #1469
and before debianpkg update it fails with
[code]

[2017-11-20 00:59] k0ste commented on #1468
Fixed via https://github.com/FRRouting/frr/commit/e82314b1bf75ee7240e70a8e97aac8dccbe5d061

[2017-11-20 00:59] #1468 closed

[2017-11-20 01:14] donaldsharp commented on #1467
if (sort == clear_all) {
		for (ALL_LIST_ELEMENTS(bgp->peer, node, nnode, peer)) {
			if (stype == BGP_CLEAR_SOFT_NONE)
				ret = peer_clear(peer, &nnode);

We are not paying attention to the afi here.

[2017-11-20 11:27] f0o opened #1471 "Support Unicast OSPF"
Hi,

is there any chance of supporting unicast/peer-to-peer OSPF2/3 ?

- f0o

[2017-11-20 12:38] lucize commented on #958
@eqvinox so I tried another approach to include python in hostpkg build dir and I'm getting this
is the version 2.7 good enough ? or maybe something with linking in python is to blame ?

[code]

[2017-11-21 02:14] #1373 closed

[2017-11-21 11:46] beneslami commented on #1306
Do LDP create FIB table in Frr3.0

[2017-11-21 16:15] fser commented on #1372
@patrick7: what about `clear ip bgp 192.0.2.41 ipv4 unicast soft`?

[2017-11-21 16:15] fser commented on #126
Hi,
any news on this? We observe the same behaviour on 2.0. @donaldsharp how long should be the default timer?

[2017-11-21 17:10] patrick7 commented on #1372
@fser That works.
However, I think we should clean up that and do it the same way "show bgp" works.
(show bgp ipv4, clear bgp ipv4, show bgp ipv6, clear bgp ipv6).

Currently, for IPv6 the working syntax is:

`cr1# clear ip bgp ipv6 2001:7f8:abcd`

which is a bit strange.

[2017-11-21 19:11] #1450 closed

[2017-11-22 13:21] SandroRaV opened #1475 "Missing auto-shutdown-new-neighbors feature for BGP"
Brocade has a feature called auto-shutdown-new-neighbors which disables new configured peers in BGP automatically when they are configured for the first time.

This prevents a session to become established before all parameters are configured for this session.

To enable the session with all parameters when it was auto-shutdown, it will need a no neighbor xxxx shut

Was not able to find this in FR

[2017-11-22 19:25] f0o commented on #1190
Any news on this? :)

[2017-11-23 12:13] #1461 closed

[2017-11-23 15:39] pautiina opened #1479 "FRR not support configures security associations in the SA/SP database automatically on BSD (FreeBSD)"
Hello.
On BSD systems, keys for TCP MD5 authentication are stored in the global	SA/SP database, which can be accessed by external utilities (e.g. setkey(8))

On FreeBSD kernel must add next:

[code]
setup ipsec key:
[code]
Sutup of the IPSEC keys must be done directly through FRR without change /etc/ipsec.conf file.

[2017-11-24 23:25] pautiina commented on #1479
The problem is solved.
A full description of the problem and its solution is described here: [Bug 223835 - BGP session not established with md5 password via FRRouting](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=223835)
Many thanks to Marek Zarychta mailto:zarychtam@plan-b.pwste.edu.pl for the help.
He showed me a similar problem: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=219453.
Аnd

[2017-11-26 01:36] patrick7 commented on #1190
Any news in the cumulus ticket?

[2017-11-26 13:01] f0o opened #1483 "Gentoo Overlay"
Hi,

I've created a gentoo overlay with the goal to provide official releases to gentoo for all stable releases of frr.

I'm using frr on gentoo myself for production load which lead me to the creation of the overlay in the first place.

I was wondering if you'd allow me to tag the overlay as `official` and whether you'd prefer moving it into the FRRouting group.

I've already applied for inclusio

[2017-11-26 13:22] xdel commented on #1483
Sent an ebuild update privately to your signed-off-by email, just in case.

[2017-11-27 07:30] pautiina commented on #1479
Maybe it's bug [BGP session not established with md5 password via FRRouting](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=223835)

[2017-11-27 13:44] jean-christophe-manciot opened #1485 "tail: cannot open 'debian/changelog' for reading: No such file or directory"
Building frr-3.0.2 on stable/3.0 within a clean sid chroot with:
[code]
leads to:
[code]
No surprise there: the common debian folder has been replaced by a strange "**debianpkg**"; I'm sure there is some obscure reason behind that decision.

A wise move would be to revert the folder name to the common one, **like on the master branch**.
Also, it would also be better to align the build practice wit

[2017-11-27 14:00] jean-christophe-manciot opened #1486 "Multiple errors during build in a sid chroot"
Building frr-3.1-dev on master within a clean sid chroot with:
[code]
leads to:
[code]
Whole build log
[frr_3.1-dev_amd64.build.txt](https://github.com/FRRouting/frr/files/1506060/frr_3.1-dev_amd64.build.txt)

[2017-11-27 14:56] donaldsharp commented on #1483
I personally don't have a big problem providing another way to build FRR.  At this point though I am not sure how to properly bring it in.  Seems like I need to do a bit of research on this topic.

[2017-11-27 14:57] donaldsharp commented on #1479
@pautiina - I've quickly skimmed the included link and am a bit confused about what I should be focusing on to understand the bug.  Can you help me out here?  Why do you think this is a bug still?

[2017-11-27 15:20] auranext opened #1487 "FRR send type3 IMET route without pmsi informations"
Hi all,

I'm using frr 3.1 (master) on debian 8 Jessie for interoperability tests with HPE 5940 hardware VTEP
The goal is to automate the creation of VTEP tunnels based on EVPN informations
at this point I can tell
- the BGP session is established and Debian VTEP receives all BGP EVPN routes from HPE VTEP
- Routes are populates in Debian kernel fdb table
- Debian and HPE VTEPs use same RD and RT i

[2017-11-27 16:02] pautiina commented on #1479
I'm not sure if this is a bug. Maybe just for this faket must be mentioned in the documentation.

[2017-11-27 17:44] f0o commented on #1483
I don't mind maintaining the overlay since I'm running frr in production on gentoo boxes anyways.

With the addition of RPKI it also needs to provide rtrlib which is missing from the official overlays as well.

So in the end my overlay is now providing stable and upstream builds for both frrouting and rtrlib.

Feel free to re-use my overlay or create an own, official, overlay and grant me maintain

[2017-11-27 20:03] pautiina commented on #1479
At first I thought it was a bug of the FRR, so I wrote it here.
On FreeBSD found that this is a bug drivers and network card is an issue that the TCP MD5 signatures is not validated and is not set until the network interface will not set TX/RXcsum options.
Concerning the frr, I think it is necessary to add support for SA / SP key control, as it was done in the [bird](https://gitlab.labs.nic.cz/lab

[2017-11-27 22:14] #1345 closed

[2017-11-28 11:05] paolss opened #1488 "[FEATURE REQUEST]: remove-private-as [ all [ replace-as ]]"
Hi

If there are any plans to extend remove private as command by all / replace-as it will be really good.

https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/iproute_bgp/configuration/15-sy/irg-15-sy-book/irg-remove-as.pdf

[2017-11-28 16:05] donaldsharp commented on #1465
We believe that this was an arbitrary limit created when we switched to the new cli.

[2017-11-28 16:09] donaldsharp commented on #1471
@f0o - What problem are you trying to solve here?  We think unicast support would be harder to implement and a fairly invasive change to the protocol so we would like a better understanding of the problem being faced

[2017-11-28 16:12] donaldsharp commented on #1479
@rwestphal to look into understanding this issue better and see if FRR needs to do anything

[2017-11-28 16:13] f0o commented on #1471
I've had an frr deployment in virtual environments where the virtual network would engage in IGMP filtering. This sporadically ended up in OSPF breaking apart.

The issue has been resolved by removing and form of IGMP snooping/filtering from the hypervisors' network stack.

This issue was merely an observation and a question if there are any future plans, albeit I must admit it is written in a ver

[2017-11-28 16:13] pguibert6WIND commented on #1479
from http://bird.network.cz/?get_doc&f=bird-6.html
On BSD systems, keys for TCP MD5 authentication are stored in the global SA/SP database, which can be accessed by external utilities (e.g. setkey(8)).
I guess this should be a store that BGP could get directly from it.

[2017-11-28 16:17] donaldsharp commented on #1483
@mwinter-osr to discuss with @f0o about bringing this into the fold and getting maintainership status

[2017-11-28 16:22] donaldsharp commented on #1487
@vivek-cumulus @mkanjari can you take a second to look at this issue?

[2017-11-28 16:47] qlyoung opened #1489 "Add style checker script"
Modify `checkpatch.pl` to handle exceptions in FRR from kernel style with the goal of adding it to CI.

[2017-11-28 17:44] pautiina commented on #1479
@pguibert6WIND you're right.
It would be great if the FRR managed keys for TCP MD5 authentication on BSD system.
I think this issue should be attributed to the enhancement.

[2017-11-28 19:37] #1378 closed

[2017-11-28 20:41] mikma opened #1492 "Undeclared fall through in bgp_attr.c"
Undeclared fall through in bgp_attr.c.
[code]

Patch below:

[code]

[2017-11-28 20:44] donaldsharp commented on #1492
@mikma why not submit a PR for this issue?

[2017-11-28 20:47] louberger commented on #1492
Umm, the comment already says it's a fallthrough....

On November 28, 2017 3:42:18 PM Mikma <notifications@github.com> wrote:

[2017-11-28 20:48] donaldsharp commented on #1492
@louberger the comment tells the compiler it's intentional.

[2017-11-28 20:49] mikma commented on #1469
Real error message which was piped to /dev/null
[code]

[2017-11-28 21:26] rwestphal commented on #1492
This reminds me of the Swift programming language where each switch case statement has an implicit "break" in the end, unless the `fallthrough` statement is used. Much better considering that in 99% of the cases we want the "break" to be there.

@mikma Please open a PR for this. Never heard of `-Werror=implicit-fallthrough` before, I used to think that `FALLTHROUGH` comments were only useful for t

[2017-11-28 23:33] louberger commented on #1492
cool, I too wasn't aware of the compiler check...

    On 11/28/2017 3:48 PM, Donald Sharp
      wrote:

      @louberger the comment tells the
        compiler it's intentional.
      —
        You are receiving this because you were mentioned.
        Reply to this email directly, view it on GitHub, or mute the thread.

      {"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55

[2017-11-28 23:54] lucize commented on #1469
I managed to build the latest update wit a debian folder from an older release with `-Wno-error=implicit-fallthrough=` added to build, the error was from the BGP posted earlier, this time didn't had the csv.c error

[2017-11-29 00:44] mwinter-osr commented on #1485
@jean-christophe-manciot For Debian Package building, see doc in debianpkg/README.deb_build.md

We changed the previous debian package setup with a more flexible backport infrastructure. As part of the change, the directory was renamed to debianpkg
Debian has a rule to NOT include any directory named debian in the source. They reserve this directory name for their build system and worry that autom

[2017-11-29 00:48] mwinter-osr commented on #1469
@lucize Is the issue resolved or is there still an issue? Can you confirm if this fails for stable/3.0 branch and master or just master?
(Or if you have a fix, then a PR is welcome)

I have not tested it on ubuntu 17.10, but will try if this still is an issue.

[2017-11-29 00:52] lucize commented on #1469
I copied the debian folder from an older version, made a git reset --hard HEAD and added the ignore for BGP error, last time I tried I followed the README.deb_build.md amd it did not worked, I'll make a new clone and test it again, but later, is late in my timezone

regards!

[2017-11-29 01:08] mwinter-osr commented on #1483
@f0o First of all, thanks for your work.

I'm happy work with you to somehow support and document FRR on gentoo linux. However, it seems that most of us lack gentoo experience, so we need your help.

To start this, I would appreciate some doc on building FRR from source on gentoo (similar to the other Building_FRR_on_xxxxx.md files in doc/).
For the overlay, my understanding is that this is the "k

[2017-11-29 04:11] mwinter-osr commented on #1469
Ok, installed a Ubuntu 17.10 and the main issues are the new GCC 7.0 compiler

1) The implicit-fallthrough is new - but can be fixed by adding a special comment in code to mark this as intended (as it is in this case).
2) Added a backport for Ubuntu 17.10
3) Still looking at the csv.c error... (How did you get the error visible?)

Will update with PR once I have it solved

[2017-11-29 09:16] f0o commented on #1483
Good morning @mwinter-osr,

Just to cover some ground - here is a short, generalized, abstract on how gentoo installs software:

It's important to note that portage cannot install from a standalone ebuild file but only from an overlay. The support for standalone ebuilds was always very buggy and has been deprecated now.

Now that we're hopefully on the same page; I think having an install-doc for

[2017-11-29 09:29] lucize commented on #1348
this is the output from the last update, until now I saw no loop maybe because it crashed too soon

[code]

[2017-11-29 10:25] auranext commented on #1487
HPE feedback confirm the HPE 5940 device behavior :

![image](https://user-images.githubusercontent.com/34024736/33370455-ddc96b96-d4f7-11e7-964b-197d429a90cf.png)

[2017-11-29 10:29] jean-christophe-manciot commented on #1485
@mwinter-osr
There are **multiple issues**::
- the build process outlined in debianpkg/README.deb_build.md is complex and incorrect: a ```git checkout <stable_tag>``` is missing between 3. and 4.; it is necessary because the build processes are different between stable & unstable branches.
- the ```additional packages``` should be automatically installed with a process like ```dpkg-checkbuilddeps`

[2017-11-29 10:36] mkanjari commented on #1487
FRR doesn't support PMSI attribute. currently, it only carries RD, Ethernet-Tag(0), ip-address len and IP address (local tunnel IP)

[2017-11-29 10:54] mwinter-osr commented on #1469
@lucize Pull Request for master submitted. Would appreciate if you can test it.

Work on stable/3.0 needs another day - there are more issues to fix. Main problems are the new gcc 7.0 which generates more warnings (and they break build because of the `--Werror` during package build)

[2017-11-29 11:19] mwinter-osr commented on #1492
I assume this is part of the Ubuntu 17.10 issues.

I've found the same issue and submitted a PR for Ubuntu 17.10 which includes this.
See PR #1494

[2017-11-29 12:49] #1440 closed

[2017-11-29 15:54] easyguy45 opened #1495 "Zebra daemon disables forwarding on Ubuntu 16.04"
Hey guys,

using the latest release 3.0.2, on Ubuntu 16.04.3 LTS with Kernel 4.4.0-101-generic we experience the following issue:

The Zebra Daemon is configured with the following directives:
`ip forwarding`
`ipv6 forwarding`

While trying to save these directives, they neither appear in integrated configuration file frr.conf (if exists) nor in the distinct configuration file zebra.conf. Therefor

[2017-11-29 17:07] donaldsharp commented on #1495
`ip forwarding` and `ipv6 forwarding` are `on` by default.  As such they will not show up in a `show run`. This is working as intended

The only *place* that we turn off v4 and v6 forwarding is when these commands are read in:
`no ip forwarding` and `no ipv6 forwarding`:

`sharpd@robot ~/frr5> git grep ipforward_off
zebra/ipforward.h:extern int ipforward_off(void);
zebra/ipforward_proc.c:int ipfor

[2017-11-29 18:34] patrick7 opened #1497 ""hostname" not persistent"
If I set a hostname with vtysh and do a write, the hostname is not saved to the config.

[2017-11-29 18:43] easyguy45 commented on #1495
I can verify, that for 2.0.0, 2.0.2 and 3.0.2 the systemctl parameters are not enabled, if zebra is started without the directives present in the configuration file (added per file editor).

Adding the statements via vtysh results in changing the systemctl parameters. This seems a little bit inconsistent.

I have setup another host and tested with a clean configuration and I cannot reproduce the b

[2017-11-29 18:55] donaldsharp commented on #1497
@patrick7 what version of FRR are you using?  This worked for me on master

[2017-11-29 18:55] patrick7 commented on #1497
@donaldsharp v3 and master

[2017-11-29 22:32] mwinter-osr opened #1501 "invalid assert in lib/command.c (found with gcc 7)"
(stable/3.0 branch - not affecting master)

It seems `lib/command.c` has an invalid assert. From gcc 7 warning:
[code]

Which matches this section in `lib/command.c`:
[code]

The contents of the assert is always 1 or 2, so always true -> never triggering the assert.

Assigning to @qlyoung on his request (Thanks!)

This affects blocks issue #1469 for stable/3.0

[2017-11-30 02:33] mwinter-osr commented on #1485
@jean-christophe-manciot

On your issues:

- the build process outlined in debianpkg/README.deb_build.md is complex and incorrect: a git checkout <stable_tag> or git checkout <stable_branch> is missing between 3. and 4.; it is necessary because the build processes are different between stable & unstable branches.

The package build procedure should be very similar. Differences are mainly in requir

[2017-11-30 04:00] mwinter-osr commented on #1485
Added improved doc
- fixed numbering
- added note on how to add backport
- comment on checking out the branch
- add how to change a WANT_... option

Submitted as part of PR #1494 for master
Similar change for stable/3.0 will be submitted with the Ubuntu 17.10 backport for 3.0 (after issue #1501 is resolved)

[2017-11-30 08:26] auranext commented on #1487
thank you for this clarification
However it seems type 3 route must also carry a Provider Multicast Service Interface (PMSI) Tunnel attribute as specified in RFC 6514
the FRR roadmap announce  the RFC 6514 compliance in version 3
With this consideration can you give me a clarification
I anderstand pmsi field actually not supported, but it will be or not ?

[2017-11-30 11:25] easyguy45 commented on #1495
Hey guys,

after a downgrade to 2.0.2 and an upgrade to 3.0.2 again some magic has happened and now we can not reproduce the effect that zebra is disabling ip forwarding by himself. As all of this were "inplace" upgrades not clean installs it might be that were parts of previous installations left and not updated, which caused the effect. But I can't determine which parts this could be.

If there

[2017-11-30 12:02] jean-christophe-manciot commented on #1485
I just did a diff between the README.deb_build.md in stable/3.0 and master and didn't see
any. Can you explain what differences you talk about?
I had (in the past) some git checkout <branch> in there, but removed it as it always forgot to be updated :-( I could probably add a generic comment.

The difference is obvious: we can build unstable version with a simple and debian-compatible ```dpkg-chec

[2017-11-30 14:38] lucize commented on #1469
tested master and worked, I'm using stable only on non debian systems, yes I disabled --Werror last time

[2017-11-30 15:43] igorcamilovic opened #1504 "BGP advertises network for non-existent routes"
**For now I would simply like to know does BGP work especially regarding my question, I have a tight project planed so I need to know if I should reject it while I can.**

In short, you can add network statement for any network that does not exist on your machine and it will be advertised.

I have 2 machines running BGP (10.1.1.10 and 10.1.1.20).

On first one there are 2 ethernet ports. One is 10

[2017-11-30 15:51] donaldsharp commented on #1504
Are you using `bgp network import-check`?

[2017-11-30 15:53] igorcamilovic commented on #1504
No, this is my config simple as it could be

!
! Zebra configuration saved from vty
!   2014/01/01 00:38:50
!
frr version 3.1-dev
frr defaults traditional
!
hostname bgpd
password zebra
log stdout
!
!
router bgp 7675
 bgp router-id 10.1.1.10
 neighbor 10.1.1.20 remote-as 7676
 network 10.1.1.0/24
 network 192.168.1.0/24
!
!
line vty
!

[2017-11-30 15:55] donaldsharp commented on #1504
The default value for `bgp network import-check` is false for non `--enable-datacenter=yes` configure.

I suspect you do not have this turned on.  Try it and see if it fixes your issue.

[2017-11-30 16:12] igorcamilovic commented on #1504
No it does not fix the issue.

Router 1:

bgpd# sh ip bgp
BGP table version is 2, local router ID is 10.1.1.10
Status codes: s suppressed, d damped, h history, * valid, > best, = multipath,
              i internal, r RIB-failure, S Stale, R Removed
Origin codes: i - IGP, e - EGP, ? - incomplete

   Network          Next Hop            Metric LocPrf Weight Path
*  10.1.1.0/24      10.1.1.20

[2017-11-30 16:22] donaldsharp commented on #1504
I do not believe import check causes a resend.  Can you do a `clear bgp *` and see if it is working for you?

[2017-11-30 19:12] dslicenc commented on #1504
It's not clear what's going on in your test since import-check works fine in my test setup.  For example, starting without import-check enabled:

router bgp 2
 bgp router-id 2.2.2.2
 neighbor swp2 interface remote-as external
 neighbor swp3 interface remote-as external
 neighbor swp3 timers 5 15
 !
 address-family ipv4 unicast
  network 2.2.2.2/32
  network 100.100.100.0/24
 exit-address-family

s

[2017-12-01 00:50] mwinter-osr commented on #1483
@f0o Sorry for delay. I realized that I probably need to spend a few minutes to install a gentoo to get a better understanding. Hope to get this done within the next 24hrs.
If you are on central european time, then we could probably chat sometimes your morning hours (if you count mornings as 'human-hours')

[2017-12-01 00:58] mwinter-osr commented on #1469
Re-opening the issue until we have stable/3.0 fixed as well.
(@lucize Might not be relevant to you, but we need to fix it in stable version as well).

[2017-12-01 06:11] f0o commented on #1483
@mwinter-osr No problem, I'm fine with chats in the mornings. Suggest a time+date and I'll make sure to be awake and available :)

I've joined your IRC channel on freenode now.

Installing Gentoo is said to be tricky but their documentation and handbook are outstanding. Let me know if you run into any issues on the way.

[2017-12-01 11:06] mimugmail opened #1505 "show run differs from quagga config, long term solution?"
Hi,

I'm maintaining the BGP part of Quagga plugin from OPNsense distribtion (https://github.com/opnsense/plugins/tree/master/net/quagga). We are thinking about migrating to FRR and on my test bed the `show run` looks a bit different from the config our templates generate via Jinja2 (https://github.com/opnsense/plugins/blob/master/net/quagga/src/opnsense/service/templates/OPNsense/Quagga/bgpd.conf

[2017-12-01 11:26] donaldsharp commented on #1505
The plan is to leave this backwards compatibility in, it's a tiny bit of code that allows this to work

[2017-12-01 12:29] slesru opened #1506 "AS-external LSAs not propagated out of NSSA"
Hello!

I had this problem with quagga
https://bugzilla.quagga.net/show_bug.cgi?id=493

And it is fixed in quagga 1.2.1
https://lists.quagga.net/pipermail/quagga-dev/2017-March/033209.html

but,  as I can see, bug exists in frr, i.e. it has the same code as in quagga before 1.2.1.

Could you, please, fix it?

Thank you!

[2017-12-01 13:09] igorcamilovic commented on #1504
OK it works on your computer but on mine its useless.

Lets start from scratch. My conf is very basic, couldn't be simpler, for start. If this one doesn't work, application doesn't work.

I have added statement **network 78.98.78.0/24** on advertising router and whomp there it is on the second router.
So if I am an ISP, and I install this application, I can tell my upstream or clients that I own t

[2017-12-01 13:58] dslicenc commented on #1504
Please provide the output of "show ver" from vtysh.

[2017-12-01 14:08] igorcamilovic commented on #1504
bgpd# sh ver
FRRouting 3.1-dev (bgpd).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
     '--host=arm-linux-gnueabihf' '--build=x86_64' '--enable-user=root' '--enable-group=root' '--enable-vty-group=root' '--prefix=/home/rados/frr-build-exe' '--sysconfdir=/etc/frr' '--localstatedir=/var/run' '--sbindir=/usr/lib/frr' 'ac_cv_search_readline=/usr/lib/arm-linux-gnueabihf/libreadline.s

[2017-12-01 14:43] dslicenc commented on #1504
Please enable the following debugs and then turn "bgp network import-check" off and back on and post the resulting debug output.

debug bgp nht
debug bgp zebra
debug zebra nht
debug zebra rib

[2017-12-01 14:56] igorcamilovic commented on #1504
Here are the results.
After removing network import-check, only on advertising router I got some log and it is

bgpd(config-router)# no bgp network import-check2014/01/02 01:37:21 BGP: : bgp_unlink_nexthop: freeing bnc 10.1.1.0/24
2014/01/02 01:37:21 BGP: : bgp_unlink_nexthop: freeing bnc 78.98.78.0/24
2014/01/02 01:37:21 BGP: : bgp_unlink_nexthop: freeing bnc 192.168.1.0/24

After enabling it:

r

[2017-12-01 15:03] igorcamilovic commented on #1504
If I leave debug logs on router 2, and restert the app on router 1 which advertises, I get these logs.

Router 2 bgpd

bgpd# 2014/01/01 04:27:50 BGP: : Tx IPv4 route delete VRF 0 78.98.78.0/24 metric 0 tag 0
2014/01/01 04:27:50 BGP: : Tx IPv4 route delete VRF 0 192.168.1.0/24 metric 0 tag 0
2014/01/01 04:27:53 BGP: : Tx IPv4 route add VRF 0 192.168.1.0/24 metric 0 tag 0 count 1
2014/01/01 04:27:53

[2017-12-01 15:09] donaldsharp commented on #1506
This is in master

[2017-12-01 15:09] #1506 closed

[2017-12-01 15:36] dslicenc commented on #1504
Your image definitely is missing some debugs I expected.  For example, it's missing the registration process of next-hop tracking between bgp and the zebra nht code.  Could you do "show zebra client" before and after enabling bgp network import-check and provide the output?

[2017-12-01 15:54] dslicenc commented on #1504
Actually, I see some of the registration messages but not all I expect.  i would still like to see the output of "show zebra client" however.

[2017-12-01 16:19] auranext commented on #1487
Just for confirmation :
With scapy I tried by injecting PMSI attributes into the (FRR) BGP UPDATE message and it works
The HPE-5940 VTEP bring up his VXLAN tunnel interface

[2017-12-02 09:03] mwinter-osr commented on #1501
Fixed by #1509

[2017-12-02 09:03] #1501 closed

[2017-12-02 22:21] lucize commented on #1348
started to have this kind of messages in event log, every 2 seconds

` EIGRP: *** sendmsg in eigrp_write failed to 10.160.1.100, id 0, off 0, len 2620, interface brsrv, mtu 9000: Message too long`

but there is no 9000 MTU on the cisco device

`sh int GigabitEthernet0/0`
GigabitEthernet0/0 is up, line protocol is up
  MTU 1500 bytes, BW 1000000 Kbit/sec, DLY 10 usec,

`sh int GigabitEthernet0/1
`G

[2017-12-02 22:30] lucize commented on #1348
and after a network restart

[code]

[2017-12-03 23:48] lucize opened #1511 "[solved] fatal error: ospf_vty_clippy.c: No such file or directory"
on cross compile if I activate ospf I get this error, only with ospf, any other `*_vty_clippy.c` is found by CC
the `ospf_vty_clippy.c` file is present like the other files.

[code]

[2017-12-04 00:17] qlyoung commented on #1511
Try doing `make clean` and `git clean -fd` and see if that solves it.

On Dec 3, 2017 6:48 PM, "Lucian CRISTIAN" <notifications@github.com> wrote:

[2017-12-04 00:30] lucize commented on #1511
I tried the latest commit wit the same results
the package is always starting from a fresh clone downloaded when the hash is updated, if I change the hash then it will make a new archive with the new commit unpack it and start compile, should I try an older one ?

[2017-12-04 09:08] auranext commented on #1487
Could you clarify this information
the FRR roadmap announce the RFC 6514 compliance in version 3
With the conversation consideration can you give me a clarification
I anderstand pmsi field actually not supported, but it will be or not ?
@donaldsharp

[2017-12-04 09:16] mkanjari commented on #1487
As far as I know, PMSI attribute support for VxLan-EVPN implementation is not planned for near future. Adding @vivek-cumulus for future roadmap.

[2017-12-04 09:35] pautiina opened #1512 "Discussion on license"
Hello, dear developers and users.
I'm a little concerned about the problem of code licensing. Paul, the developer of Quagga, intends to defend in court their rights to the main code. Will this not affect the end users? And will the project continue to develop so quickly and efficiently?
Link to the discussion with [Paul](https://bugzilla.quagga.net/show_bug.cgi?id=938#c5).
Perhaps you will find wa

[2017-12-04 10:33] AdrianBan opened #1513 "Output filtering"
Hi all,
About 1-1.5 year ago I've started to do an output filtering in vtysh and daemons for a cisco-like | include/exclude/begin WORD function.
I've posted at that time on Quagga development my idea.
Because I didn't had enough time to finish the work (few thinks remained to be fixed) I was thinking to try to post the diffs somewhere and maybe finish the idea and integrate it into FRR.
Because of

[2017-12-04 11:39] igorcamilovic commented on #1504
With import check ON,  application is started:

Router 1, advertising:
Router# sh zebra clie
Client: bgp
------------------------
FD: 18
Route Table ID: 0
Connect Time: 00:12:53
Nexthop Registry Time: 00:12:52
Nexthop Last Update Time: 00:12:52
Last Msg Rx Time: 00:12:52
Last Msg Tx Time: 00:12:52
Last Rcvd Cmd: ZEBRA_NEXTHOP_REGISTER
Last Sent Cmd: ZEBRA_NEXTHOP_UPDATE

Type        Add        Upd

[2017-12-04 12:25] donaldsharp commented on #1513
@AdrianBan - The ability to filter based on the keywords above would be a very welcome addition to FRR.  I would recommend forking the FRR project and porting the code to a branch and submitting a Pull Request.  I would be willing to work with you on getting the code in.  There have been some significant upgrades to how FRR works and you may have questions.  Which can be answered here or on our sl

[2017-12-04 17:05] dslicenc commented on #1504
I'm at a loss to why it doesn't work for you. I've tried everything I can think of and it works every time for me.  I've changed my configure options to match up as close as possible (though I'm not running on arm) and it still works.    If anyone else has any ideas, feel free to pass them on.  I may play with it a bit longer but I don't appear to be making any progress recreating your issue.

[2017-12-04 17:35] patrick7 commented on #1513
+1. Also see https://github.com/FRRouting/frr/issues/823

[2017-12-04 18:26] AdrianBan commented on #1513
Hi,
@donaldsharp - Thanks. I will. First I have to take a look in to the code the FRR and check the vty functions. Actually what I've did was to add new functions for filtering, change a little bit the cli line processing and for each function of show adding a additional function with pipe.

@patrick7  - I know that are work-around solutions, but my proposal is to integrate output filtering (which

[2017-12-04 18:27] patrick7 commented on #1513
@AdrianBan Yes, I just wanted to make a reference. A native integration would be great!

[2017-12-04 19:45] qlyoung commented on #1511
It should work on the tip of master. I just cloned a fresh copy of the repo and compiled without issue.

[2017-12-04 19:47] lucize commented on #1511
should I put the config.log ? or after what should I look ? is strange that only osfp is complaining

[2017-12-04 19:55] AdrianBan opened #1516 "VRF master interface not visible in main table"
Hi,
Today I've installed first 2 routers with FRR. Very nice job was done with some VRF features. I have to check if the old bugs regarding BGP IPv6 and OSPF route distribution is preferred via a none-backbone area, but is another story.
First test which I've did it it on one router where I have a vrf master interface called vrf-be.
To route-leak some routes I'm using iproute with this command:
ip

[2017-12-04 19:57] rwestphal commented on #1511
@lucize please try this:
[code]

IIRC correctly there was a similar problem for zebra_vty.c a while ago and David figured out that the culprit was the relative path in the #include directive. Not sure if it will help but it's worth trying.

[2017-12-04 20:12] lucize commented on #1511
@rwestphal Yes, it worked !

Thank you !

[2017-12-04 20:14] #1511 closed

[2017-12-04 20:29] donaldsharp commented on #1512
@pautiina thanks for bringing this to our attention

[2017-12-04 21:02] aliprf opened #1517 "access-list not working correctly"
I used vtysh to deny traffic from a source by using 'access-list' but I was nothing happen:
[code]
but after that, I was able to ping my router from any source. was I wrong or access-list does not work correctly?
thanks.

[2017-12-04 22:54] rwestphal commented on #1517
Please try this:
[code]

Note that `vtysh` will still be able to connect to all FRR daemons. More info here: https://frrouting.org/user-guide/Basic-Config-Commands.html

[2017-12-04 23:03] donaldsharp commented on #1517
@aliprf are you talking about a packet filter or the ability to limit telnet connections to the telnet of each daemon?

[2017-12-05 01:10] donaldsharp commented on #1516
@AdrianBan -> VRF route leaking has not been implemented yet in FRR.  You can do this in the linux kernel currently but the support for it in FRR needs to be added.  There needs to be a decent amount of work to get this right.  I could put some hacks into place to get the display of 'show ip route' and it's ilk right, but I'm afraid that things like NHT and individual routing daemons doing the rig

[2017-12-05 06:45] aliprf commented on #1517
@donaldsharp thanks for your answer, I want to reject all the traffic. you mean it's not possible?

[2017-12-05 06:49] aliprf commented on #1517
@rwestphal thanks for your kind answer. I followed your instruction, but every source could ping my router. so my question is what traffic would be denied?
thanks.

[2017-12-05 09:05] mwinter-osr commented on #1485
@jean-christophe-manciot

1) On the differences between master and 3.0:
In your example, you are NOT checking out master. You are checking out a old tag ("frr-3.1-dev" from past April

2) On the `apt-get install realpath equivs groff fakeroot debhelper`:
You are right. Could be improved. Feel free to send a pull request (It's not on my urgent list as the packages are needed anyway for the debuild,

[2017-12-05 09:08] mwinter-osr commented on #1340
Closing this issue in 5 days if nobody is able to provide more information on the failed startup or crash. I can't replicate the issue here.

[2017-12-05 10:46] igorcamilovic commented on #1504
Thanks, we will try to recompile the application and let you, I cant think of anything else for now except maybe our error

[2017-12-05 16:31] #1492 closed

[2017-12-05 16:40] #1512 closed

[2017-12-05 22:00] mwinter-osr commented on #1497
To add this: This is a long-standing issue/bug/decision from back in the Quagga days.
This happens (at least) with separate daemon configs (I have not verified it with a integrated config)

I can start out with a config with no hostname:  (my Linux box is called `ci-comp103` in this case) and change the hostname:

[code]

Once I go back into vtysh, the hostname is reverted to the linux hostname:

[2017-12-05 22:13] mwinter-osr commented on #1483
As discussed with @f0o last saturday and on the FRR community call today:
- You (@f0o) are welcome to maintain a gentoo overlay for FRR. THANKS!
- We will create a new github repo in the github.com/frrouting group for the Overlay once @f0o is ready to move the files from his repo (ping @mwinter-osr when ready and I'll work with you)
- @f0o will be the main maintainer for the new repo with the Gent

[2017-12-06 07:46] IulianStan opened #1523 "realm support"
Dears,

I am looking into FRR project and looks very promising. Unfortunately the start-up of FRR project is using quaga 1.1 and in this version realm support was already dropped.
Do you think this could be added in the future ?

Here is an old post from quagga containing the reference for this patch.
https://lists.quagga.net/pipermail/quagga-dev/2015-July/029438.html

Thanks in advance,

[2017-12-06 14:33] f0o commented on #1483
Thanks :)

Please create the repository already so I can push the git-tree into it after the discussed updates passed (Issue Nr8 on my repo) and prepare a PR towards Gentoo's overlay list.

Looking forward!
/ f0o

[2017-12-06 14:57] AdrianBan commented on #1516
Hi,

My setup is pretty simple:
Main VRF to be used towards a IPIP/VPN tunnel and route the traffic of the devices (LAN+WiFi specific SSID) and a secondary VRF which I'm using a separate SSID with a VLAN 10 and that interface is slaved under vrf-be interface.
All traffic which connected to that SSID on VLAN 10 is directly forwarded towards the local internet.
The other SSID is forwarded via the VP

[2017-12-06 16:50] donaldsharp commented on #1523
@lulianStan -> My memory is that REALMS never made it into Quagga.  I'm looking at seeing what I can do to bring this code in.  I think adding the code to zebra/lib makes sense and we can argue further about what to do with BGP.

[2017-12-07 03:42] IulianStan commented on #1523
Correct,  never made to the official release but at least the patch was well maintained for a while.
It's a pitty because it's a great way to insert/mark routes in Linux kernel and do manipulation after that.
Thanks in advance for looking into this.

[2017-12-07 13:55] pautiina commented on #1517
![default](https://user-images.githubusercontent.com/11805503/33718552-7a854418-db66-11e7-9c0a-9c2a1f488780.png)
I do not use Linux, but I think that to block some traffic you need to use a regular Linux firewall, perhaps iptables.
`access-class access-list ` is something of type: /etc/hosts.allow

[2017-12-07 21:19] qlyoung commented on #1517
@aliprf the instructions Renato gave you are for restricting access to the FRR telnet interface, not traffic to the box itself. @pautiina is correct, FRR does not support installing Linux-style ACL's for that purpose at this time. Your best bet is `iptables`.

[2017-12-07 21:19] #1517 closed

[2017-12-08 02:47] mwinter-osr commented on #1469
FRR is now updated for 17.10 for stable/3.0 and master branch
Closing issue

[2017-12-08 02:47] #1469 closed

[2017-12-08 02:50] mwinter-osr commented on #1486
@jean-christophe-manciot Can you confirm that this is with the latest master and not a checkout of the master at 'frr-3.1-dev' tag. Please check last commit in your branch and confirm (or report with sha).
I'm asking as it looks in the other issue that you are checking out based on an old tag.

[2017-12-08 03:19] mwinter-osr commented on #1483
Repo created and you have an invite to have admin access to it.
github.com/frrouting/gentoo-overlay

If you prefer different name, then let me know (or rename yourself if the access allows it)

The repo is currently blank. Please make sure to add the appropriate license for your overlay files as well

[2017-12-08 09:07] jean-christophe-manciot commented on #1486
[code]

[2017-12-08 15:58] thorvald opened #1529 "Unsigned AS for 4-byte AS in bestpath-from-AS"
Found on current Cumulus FRR.

In ```show ip bgp x.y.z.w```

[code]

Which I believe originates from:
```./bgpd/bgp_route.c``` which states:
```vty_out(vty, ", bestpath-from-AS %d"``` and should probably be ```%u``` to match how it is used elsewhere.

[2017-12-08 17:25] donaldsharp commented on #1529
@thorvald this is fixed in master on frr
[code]

[2017-12-08 17:25] #1529 closed

[2017-12-09 03:26] Jalae opened #1532 "Cross compile with uclibc"
I have been trying to get frr running on an arm-X-linux-uclibc device, building it on my
x86_64-pc-linux-uclibc.

I ran into issues with libjson-c not linking:
[code]
it seems for standard libc these are included in <float.h> but uclibc defines them in <math.h>
I was able to resolve the issue for my own build by adding
`AC_CHECK_DECLS([isnan], [LIBS="$LIBS -lm"], [], [[#include <math.h>]]) `
befor

[2017-12-09 03:42] Jalae commented on #1532
Oh, im dumb. see the fix in master.

[2017-12-09 03:42] #1532 closed

[2017-12-09 20:17] snospar commented on #1340
On a debian systemd box the frr service fails to start (error code 13). Executing "/usr/lib/frr/frr start" manually works and starts all the correct daemons but systemctl still shows frr.service as 'failed'

[2017-12-12 00:13] lucize commented on #958
finally tracked down the problem with python, it an Openwrt problem that I hope it can be fixed

[2017-12-12 08:50] caroyy commented on #1407
Hi,

Can we check if the latest rpm/deb includes this fix?

Thanks,
caroyy

[2017-12-12 11:35] pguibert6WIND opened #1537 "IPv6 addressing configuration does not use netlink"
when available on Linux, ipv6 addressing is preferred over netlink

[2017-12-12 16:40] donaldsharp opened #1541 "Look at RST"
1) Is it available for all platforms?
2) Can we convert *all* our documents to RST?
3) Do we feel it's too complicated?
4) People need to go look at it.

[2017-12-12 16:47] qlyoung commented on #1541
Another data point - the Linux kernel's doc format is RST as of July 2016.

[2017-12-13 07:22] caroyy opened #1544 "[Polls] Preferred OS"
Hi Guys,

I do not have an issue. Just wan to find out the community here, can i know what OS you all using for FRR and why is that so?
Cause i cant decide whether to use ubuntu/debian/centos for production used.

Thanks,
caroyy

[2017-12-13 07:37] pautiina commented on #1544
Among the offered OS, mine is not present. But if you will be intirest, I use FreeBSD.
There are very many reasons. In my experience, the network stack is much more stable and less security problems.

[2017-12-13 08:47] mwinter-osr commented on #1541
For the ones looking at some formatting editor, look at rstpad: https://github.com/ShiraNai7/rstpad
There are pre-built binaries for OSX and Windows in the release sections.

![screen shot 2017-12-13 at 12 46 29 am](https://user-images.githubusercontent.com/1490788/33929682-31799020-df9f-11e7-9f1d-cd8b355e2f0e.png)

[2017-12-13 11:06] donaldsharp commented on #1544
I would figure out what features are needed from a data plane perspective and pick a distrib that has the kernel version necessary for what I wanted to do.

[2017-12-13 11:22] caroyy commented on #1544
Thank you @donaldsharp! Mainly, im using for bgpd and isis for live production, intend to take 3 full bgp routes, but traffic less than 1gbps. :)

[2017-12-13 11:23] patrick7 commented on #1544
I'm using debian (16GB Mem, Xeon D-1518), 4 IPv6 Fulltables, 3 IPv4 Fulltables, no problems at all with >5Gbps.

[2017-12-13 11:27] caroyy commented on #1544
@patrick7 thats good bro. great to hear that!

[2017-12-13 12:04] rzalamena commented on #1544
I'd go with something with Long Term Support (LTS) and that has most OS support for FRR features. The major operating systems that offer those features are: Ubuntu, CentOS and FreeBSD (for the non-linux option).

Between the options I mentioned above, I'd pick Ubuntu <whatever-lts-version>, because of the main following points:

* Ubuntu seems to be the only distro taking security more seriously a

[2017-12-13 12:25] donaldsharp commented on #1544
Thinking about this some more, I would not recommend Fedora because it has a impossibly brain-dead Network Manager.  I have not found a good way to turn it off without crippling some other important part of the desktop for me.

[2017-12-13 19:24] thorvald opened #1548 "local-as and allowas-in"
If you have both "local-as" and "allows-as" in defined for a neighbor, any path that involves the "replaced-with" AS is still filtered.

My understanding from ```bgp_update()``` is the logic is:

- If "local-as" is defined, and replaced-with-as is in path, filter path
- Then, check if AS appears in path fewer times than allowas-in number.

I believe the first check (for local-as) should also honor

[2017-12-13 20:11] dwalton76 commented on #1548
Sounds reasonable to me

[2017-12-14 08:06] lamehost commented on #1487
Hello,

@mkanjari

I may be wrong, but i think you do.

RFC7432 paragraph 11.2 states:

Anyway, we're facing similar issues with NX-OS as routers ignore the NLRI because of the missing attribute.

[2017-12-14 09:48] lamehost commented on #1487
@mkanjari,
I noticed that my comment could be mis-interpreted as i mentioned RFC7432 wich is MPLS and we're dealing with VxLAN.

I don't think that PMSI is optional at all even if the carried information is the same as the originator's IP.
Agreed that the information is redundant, but it is cited multiple times even in RFC6514.

[2017-12-14 09:53] mkanjari commented on #1487
@lamehost,

will discuss this with @vivek-cumulus and update soon.

[2017-12-14 14:25] donaldsharp opened #1552 "vtysh performance of handling large amounts of data"
[code]

[2017-12-14 19:14] rzalamena commented on #1407
The issue has been fixed and a topology test is coming to make sure it never happens again.

[2017-12-14 19:14] #1407 closed

[2017-12-15 08:02] lamehost commented on #1487
@mkanjari,

Just to be sure i checked with the authors of draft-ietf-bess-evpn-overlay-10.
[They agree you should attach the PMSI to IMET](https://mailarchive.ietf.org/arch/msg/bess/BwgfhOaFeuCdN8wMISga39THTA8).

Regards

[2017-12-15 11:44] aojea commented on #1396
@nskeeper 1.1.1.1/32 has a more restrictive mask than the interface that's 1.1.1.1/24

[2017-12-15 17:13] mkanjari commented on #1487
@lamehost,
 Synced up with @vivek-cumulus. We will be addressing this soon. If we don't have a bug/feature request request for this already, can you please create one ?

[2017-12-15 18:14] lamehost opened #1556 "Enhancement - Attach PMSI to IMET routes"
Hello,

According to [RFC7432](https://tools.ietf.org/html/rfc7432) and [draft-ietf-bess-evpn-overlay](https://tools.ietf.org/html/draft-ietf-bess-evpn-overlay-10) (which is a sort of extension) PE must always attach PMSI to IMET route.

At this very moment FRR doesn't do that and re-use BGP originator's IP address which in turn breaks multicast when FRR is coupled with other vendors's devices (mo

[2017-12-16 06:58] nskeeper commented on #1396
@aojea I mean that if R2 has the host route “1.1.1.1/32”，why does zebra  install “1.1.1.1/32 via 172.24.177.146 from ospf”?

[2017-12-16 14:55] patrick7 opened #1557 ""sh interface" shows deleted interfaces"
"show interfaces" shows interfaces which are not existing anymore (there is *no* config for the interfaces)

[code]

If 'no interface X' is executed, the interface disappears from "show int".
I think we should only display interfaces which a) have some config or b) are existing.

v3.0.2

[2017-12-17 05:20] tomammon commented on #1340
I believe I am hitting this same issue, I get the same error messages on my fresh centos 7 build with a fresh install of FRR from https://github.com/FRRouting/frr/releases/download/frr-3.0.2/frr-3.0.2-2017110701.el7.centos.x86_64.rpm. I am willing to do screen sharing to give you visibility on this, please contact me and we can get something scheduled.

[2017-12-17 08:45] mwinter-osr commented on #1340
Thanks to @tomammon for a long shared screen debugging issue.

The bug is not a FRR crash, but systemd restarting FRR

Here is the issue:
1) The systemd config of FRR uses a watchdog (as seen with `WatchdogSec=60s` in `/usr/lib/systemd/system/frr.service`
2) `watchfrr` is the process handling and sending the watchdog signal.

If a user only enables some routing daemons, but no watchfrr, then syste

[2017-12-17 08:53] mwinter-osr commented on #1340
## Temp Workaround for anyone running into this issue:

1) Enable watchfrr in /etc/frr/daemon (preferred)
or
2) comment out `WatchdogSec=60s` in `/usr/lib/systemd/system/frr.service`

[2017-12-17 14:13] nskeeper opened #1559 "ospf6 can't send a LSU packet larger than 4096 bytes, excluding ospf6 header size."
The max lsa size is limited to 4096 bytes.

#define OSPF6_MAX_LSASIZE      4096

[2017-12-17 16:24] rburkholder commented on #1544
For what it is worth, I use Debian Stretch with FRR.  FRR is a first class citizen with package build notes for Debian in the FRR repository.

By accident, last night I took on a full bgp table and replicated to about 7 or 8 other LXC containers running FRR on an Intel E5-2609 CPU.  Things slowed down considerably until I stopped the service.  Took a while to purge the extra kernel entries after I

[2017-12-18 12:42] mwinter-osr opened #1562 "ISIS broken on FreeBSD (works on Linux)"
(Master branch only)

Commit d9e5b00 ("isisd: bpf: ETHER_HDR_LEN -> ETH_ALEN") breaks the ISIS hello's on FreeBSD 10.3 (at least). Linux works fine.
(Commit verified with a bisect)

[2017-12-18 17:48] qlyoung commented on #1541
For editors, see also:
https://www.mantidproject.org/Documentation_Guide_For_Devs#reST_editors.2FIDE_plugins

[2017-12-18 21:01] rzalamena commented on #1541
Here are some questions I have about this matter:

1. What does rest do that markdown doesn't? Are we going to use the things we just mentioned?
2. What are the benefits of using rest? (e.g. the Sphinx thingy to generate HTML/PDF/etc...? If so, read the note I've made)
3. Do we lose GitHub `.rst`/files preview[1]? If so, are we going to move the official docs to an official web site?

Note (a):
Sp

[2017-12-18 22:13] devicenull opened #1565 "EVPN routes are getting mangled after awhile"
So, we have the following route:

[code]

Most of the time, this works properly, and we get the following added to the forwarding table:
[code]

However, something seems to be triggering the removal of half of the entry:
<pre>
# /opt/iproute2/sbin/bridge fdb | grep 5a:00:01:4e:d4:e5
5a:00:01:4e:d4:e5 dev 57cf22469ee9a vlan 1 master br57cf22469ee9a
</pre>

But then it sometimes gets readded all by

[2017-12-19 01:27] jhiggins-NZ commented on #1544
Ubuntu 100% here.

[2017-12-19 10:23] aojea commented on #1396
Don't have a strong opinion here but seems that is linux who doesn't install the /32 route for each interface

[2017-12-19 15:43] qlyoung commented on #1541
1, 2. It understands links between documents, syntax highlighting (Markdown does not support this, just GFMD), cross references / bibliography (I know you can sort of get this in MD with [0] etc), and overall has much richer formatting options in terms of page layout, plus the ability to use sphinx extensions which we at least have an option to use as opposed to Markdown. Additionally it was desig

[2017-12-19 16:20] donaldsharp commented on #1541
Decision ->
Convert to rst format
Convert .texi to rst format
Convert .md to rst format
Provide documentation for how people can convert markdown to rst easily

[2017-12-19 21:37] devicenull commented on #1565
I had 'debug zebra events', 'debug zebra kernel', 'debug zebra vxlan' enabled.  This is what I saw before the fdb entry went missing:

<pre>
2017/12/19 16:12:06 ZEBRA: Del remote MAC 5a:00:01:4e:d4:e5 intf 57cf22469ee9a(11948) VNI 70699 - readd
2017/12/19 16:12:06 ZEBRA: Tx RTM_NEWNEIGH family bridge IF 57cf22469ee9a(11948) VLAN 1 MAC 5a:00:01:4e:d4:e5 dst f.f.f.f
2017/12/19 16:12:06 ZEBRA: netlin

[2017-12-19 22:13] devicenull commented on #1565
I think the issue is frr not understanding whatever these "Deleted ???" messages mean.

I had `ip mon` running:
    2017-12-19 17:05:05 Deleted ??? dev 57cf22469ee9a lladdr 5a:00:01:4e:d4:e5 STALE

And `bridge monitor` running:
    2017-12-19 17:05:05 Deleted 5a:00:01:4e:d4:e5 dev 57cf22469ee9a dst 172.20.0.249 self offload stale

And that entry was present at 17:04, but missing at 17:05:11:
<pre>

[2017-12-20 09:52] tmartiro opened #1570 "Multicast on the host with BGP unnumbered interfaces does not work"
FH - Frr host
FS - Frr switch
RP - Rendezvous point

FH connected to FS running ipv4 over bgp unnumbered interfaces. When FH sends multicast stream to FS, FS does not generate PIM REGISTER message towards RP.

 FH <-------- bgp un. -----> FS <--------- bgp un. ----->  RP

It does send PIM REGISTER message, when FH is connected to FS through Layer 2 domain
and there are ipv4 addresses assigned on b

[2017-12-20 11:09] tigranmartirosyan commented on #1570
We are already working on it, please assign this ticket to me.

[2017-12-20 11:41] donaldsharp commented on #1570
@tmartiro - is the FS the designated router for the link between the FH and FS?

You can influence this with ip pim dr-priority

[2017-12-20 13:24] tigranmartirosyan commented on #1570
Sketch of the config
==
FH (ens9) <---- bgp un -----> (swp1) FS (swp6) <----- bgp un -----> (swp1) RP

FH (ens9) physicaly connected to FS (swp1)
FS(swp6)  physicaly connected to RP (swp1)

FH config (192.168.10.34/32 set on lo interface)
==
[code]

FS config ( 192.168.10.101/32 set on lo interface)
==
[code]

RP config  (192.168.10.104/32 set on lo interface)
=====================================

[2017-12-20 13:25] nskeeper commented on #1396
[root@R2 ~]# ip route list table 0|grep 1.1.1.1
1.1.1.0/24 dev eth1  proto kernel  scope link  src 1.1.1.1
**1.1.1.1 via 172.24.177.147 dev eth0 proto 188  metric 20**
broadcast 1.1.1.0 dev eth1  table local  proto kernel  scope link  src 1.1.1.1
**local 1.1.1.1 dev eth1  table local  proto kernel  scope host  src 1.1.1.1**
broadcast 1.1.1.255 dev eth1  table local  proto kernel  scope link  src 1

[2017-12-20 13:37] nskeeper opened #1571 "How to configure Default-information originate under ospf6?"

[2017-12-20 13:38] patrick7 commented on #1571
Also see https://github.com/FRRouting/frr/issues/830

[2017-12-20 13:40] #1571 closed

[2017-12-20 13:57] donaldsharp commented on #1570
The `debug mroute` and `debug pim packets register` would be really helpful on the FS device.  For when packets are flowing from the FH

[2017-12-20 14:05] tigranmartirosyan commented on #1570
ping from FH
-
[code]
log on FS
-
frr.log
[code]

[2017-12-20 14:35] tigranmartirosyan commented on #1570
FS
--
[code]

[2017-12-20 18:36] devicenull commented on #1565
I ended up just disabling aging here with `brctl setageing br57cf22469ee9a 0`,  which seems to have improved things.  I don't really know why we'd want these entries to age out in the first place.

[2017-12-22 04:24] louberger opened #1573 "master: intermittently seeing long bgp_event runs on startup"
Very occasionally seeing BGP unresponsive for up to minutes on startup.  Have had more success reproducing when running with valgrind.  with some added debugging, see:

bgpd-2017-12-21-23:01:54.192.1.1.4.log:2017/12/21 23:03:16 BGP: bgp_event: SLOW THREAD: ran for 73672ms (cpu time 73706ms), event=BGP_Stop (2), state=Idle(1) peer=192.1.1.1
bgpd-2017-12-21-23:01:54.192.1.1.4.log:2017/12/21 23:03:16

[2017-12-22 17:35] louberger commented on #1573
only when this occurs, perf shows:
    39.16%  bgpd     [kernel.kallsyms]   [k] avtab_search_node

[2017-12-23 12:22] mwinter-osr opened #1575 "crash in zebra/rib_process()"
Seen in master.
Bad commit seems to be 5f7a4718 ("zebra: Replace SELECTED_FIB flag with a rib_dest_t pointer
")

Various tests crash in rib_process():
[code]

The line 1474 was introduced with commit 5f7a4718.

The crash seems to be happen with dest == 0, which is a valid case based on the code as line 1463 is actually checking for it.

[2017-12-26 13:42] pguibert6WIND commented on #385
FRR VRF will now be able to handle the following:
- discover netns from system ( equivalent to get 'ip netns list') and map it to VRF
ex: # ip netns list
test
test2
# ./zebra/zebra&
# ip netns list
test:0                   <--- an ID is automatically generated if not available,and used to encode the vrf-id
test:1
zebra# show running-config
...
zebra(conf)# vrf test
zebra(vrf)# netns /var/run/netns

[2017-12-26 14:19] pguibert6WIND commented on #385
Hi @louberger , if you happen to be online, some lecture is present in this ticket and may help you on the questioning:
"I guess I don't understand the overall use case for netns.  is it just another way to do vrf lite, or something more?"

[2017-12-26 14:44] patrick7 opened #1577 "Some IPv6 ospf options cannot be removed from the config"
The config
[code]
cannot be removed:

[code]

FRR 3.0.2

[2017-12-26 14:50] louberger commented on #385
Okay thanks for the info.  Looks interesting / useful. I'll need to look a
little more carefully at the existing VRF feature to fully understand
consequences.

On December 26, 2017 9:19:45 AM Philippe Guibert <notifications@github.com>
wrote:

[2017-12-26 21:48] qlyoung commented on #1577
This is fixed in master. We will be pulling a 4.0 branch soon.

[2017-12-26 21:48] #1577 closed

[2017-12-27 05:03] igloo777 opened #1578 "BGP third-party next-hop resolution via kernel default route doesn't work"
Hello!
I'm using FRRouting 3.0.2 under Debian9 (frr package downloaded from https://github.com/FRRouting/frr/releases).

I have a simple setup with a single Route Reflector and some number of RR clients.
(RR) 10.196.112.16 <-> 10.196.112.1 (Def gw) <-> ... <-> 10.196.32.10 (RR Client)

RR have a kernel default route via 10.196.112.1, but BGP can not use it to resolve next-hop.
[code]

RR client 10

[2017-12-31 16:42] philipishungry commented on #1340
Simply for your information ,I am running into the same situation ( centos7-1708-minimal install / frr-3.0.2-2017110701.el7.centos.x86_64.rpm).

also to note: in `frr.spec`, watchfrr is not built if systemd is used:

    # If init system is systemd, then always disable watchfrr
    #
    %if "%{initsystem}" == "systemd"
        # Note: For systems with systemd, watchfrr will NOT be built. Systemd

[2018-01-01 22:44] mwinter-osr commented on #1340
@philipishungry Should be same issue with watchfrr not enabled by default in the daemon config.
Can you verify the workaround?
I'll try to make sure to have watchfrr enabled by default in future RPMs (and add comment with this info in daemon config)

[2018-01-02 14:42] patrick7 opened #1585 "JSON bgpTimerUp and bgpTimerUpString not matching"
[code]
84378000 milliseconds in days -> 0.97659722222

Seen in FRR v3.0.2

[2018-01-02 15:24] donaldsharp commented on #1573
can we get a `debug bgp neighbor-events` and `bgp updates` and finally `debug bgp keepalives` output from this?

[2018-01-02 16:32] #1575 closed

[2018-01-02 16:56] philipishungry commented on #1340
@mwinter-osr , yes, both work-arounds function correctly. I have chosen to enable watchfrr.

[2018-01-02 18:12] f0o commented on #1483
Linking the PR for submission to overlays.gentoo.org: https://github.com/gentoo/api-gentoo-org/pull/96

I will close this issue once it's been added.

[2018-01-02 18:13] f0o commented on #1483
Woops, one tab too little

[2018-01-03 16:44] louberger commented on #1573
the following was seen in a simple 2 node bgp configuration using valgrind (non-valgrind runs fail too, but with much less frequency.)
[bgpd-2018-01-03-11:21:31.192.1.1.1.log](https://github.com/FRRouting/frr/files/1601024/bgpd-2018-01-03-11.21.31.192.1.1.1.log)
[bgpd-2018-01-03-11:21:31.192.1.1.2.log](https://github.com/FRRouting/frr/files/1601025/bgpd-2018-01-03-11.21.31.192.1.1.2.log)

[2018-01-03 17:07] louberger commented on #1573
here are the configs
[192.1.1.1-mesh.conf.txt](https://github.com/FRRouting/frr/files/1601063/192.1.1.1-mesh.conf.txt)
[192.1.1.2-mesh.conf.txt](https://github.com/FRRouting/frr/files/1601064/192.1.1.2-mesh.conf.txt)

[2018-01-04 02:10] mwinter-osr opened #1593 "bgp_route fails compiling on 32-bit systems"
Commit e2a86ad9 by @dslicenc broke this.

If compiling on 32-bit systems (see on Ubuntu 16.04 on i386 and on arm7), the build fails with:

[code]

(It compiles fine on 64-bit platforms)

[2018-01-04 02:11] mwinter-osr commented on #1593
PS: 32-bit builds are currently only done on merges, not on PR by CI. (I should probably add some of this to the PR tests as well)
You see the failures on the FRR CI testplan (which is executed after a merge) here:
https://ci1.netdef.org/browse/FRR-FRR

[2018-01-04 12:07] dwiesner commented on #1487
Hello,
I recently tested against a Nokia 7750 SR as hardware VTEP. The 7750 will not forward any multicast/broadcast traffic to FRR because the PMSI_TUNNEL attribute is missing.
Adding the PMSI attribute to IMET routes generated by FRR solves this.

This is the patch I did for my test: https://github.com/dwiesner/frr/commit/79a698daefe543595861c5c111a813e78062878d

[2018-01-04 12:12] donaldsharp commented on #1487
@dwiesner -> This looks awesome.  I would suggest submitting a PR.  Additionally you need to Sign-off the commit as outlined in COMMUNITY.md ( https://github.com/FRRouting/frr/blob/master/COMMUNITY.md ).  If you have any questions feel free to ask here and we'll get you set up.

[2018-01-04 13:07] donaldsharp commented on #1573
@louberger -> I've run bgp with the two above configs 10-15 times and have not gotten the failure to occur.  Can I get your configure line that you are compiling with?  I've made some guesses but could be wrong.

Additionally I've guessed on how you are invoking bgp for the two processes.  Can I get a simple what you are doing here?

I'm going to continue to attempt to narrow this down, in the mea

[2018-01-04 13:34] #1593 closed

[2018-01-04 13:55] louberger commented on #1573
To reproduce I've run start and stop in a in a loop, checking for output of
slow thread and if it sees that it stops. It can take a few hundred runs to
occur. I'll add the commands shortly

On January 4, 2018 8:07:35 AM Donald Sharp <notifications@github.com> wrote:

[2018-01-05 08:16] f0o commented on #1483
Got merged upstream and works through layman. Closing this issue now.

[2018-01-05 08:16] #1483 closed

[2018-01-05 14:48] patrick7 commented on #1385
Any status on this one? :-)
Also affects nei xyz shut.

[2018-01-05 16:12] donaldsharp commented on #1385
No status yet :(  Just been extremely busy.

[2018-01-05 17:18] qlyoung opened #1597 "Split sources out into -dev package"
Presently headers and static libraries are included in the package, which is unnecessary. We should split these into a `-dev` package at least for Debian-like targets.

[2018-01-05 19:08] #1487 closed

[2018-01-05 20:16] louberger commented on #1573
files used to reproduce PR can be found in https://github.com/LabNConsulting/frr/tree/testing/master/pr1573

#to test:
# ./bootstrap.sh
# ./configure --enable-static --disable-shared
# make
# ./loop

[2018-01-05 21:43] louberger commented on #1573
Here's an example output:
Loop: 54 @ Fri Jan 5 15:33:10 EST 2018
[1] 5022
[2] 5023
LONG WAIT! ~ 113 seconds
Logs/bgpd-15:33:10.192.1.1.2.log:2018/01/05 15:35:02 BGP: bgp_event: SLOW THREAD: ran for 108921753us (cpu time 108965435us), event=BGP_Stop (2), state=Idle, peer=192.1.1.1, prev_event=<none/init>
Logs/bgpd-15:33:10.192.1.1.2.log:2018/01/05 15:35:02 BGP: SLOW THREAD: task bgp_event (42d638)

[2018-01-05 22:33] donaldsharp commented on #1573
I do not know why it was implemented the way it was implemented.

What would you consider a reasonable # of iterations before it should show up?

[2018-01-06 02:13] louberger commented on #1573
A few hundred.  It took 150 the first time I tried it...

On January 5, 2018 5:33:43 PM Donald Sharp <notifications@github.com> wrote:

[2018-01-06 11:57] donaldsharp commented on #1573
My config line which does not have --enable-static and --disable-shared ran ./loop ~1600 times without an issue.

Running with --enable-static --disable-shared and I have seen the issue 2 times now with about 75 runs.  I have recreate I beleive

[2018-01-06 12:32] donaldsharp commented on #1573
[code]

[code]

[2018-01-06 12:37] donaldsharp commented on #1573
[code]

[code]

[2018-01-06 12:38] donaldsharp commented on #1573
atomic_load_explicit is locking for a long period of time it appears to be.  @qlyoung @eqvinox any thoughts?

[2018-01-06 12:48] donaldsharp commented on #1573
[code]

So I added the same type of debugs to bgp_io_start.  As we can see it's not being run for a very long time.  I'm testing a pthread_yield() after the creation of the bgp_io_thread start.  Will know in a bit if this fixes the issue

[2018-01-06 15:58] donaldsharp commented on #1573
[code]

[2018-01-06 23:01] nevzorofff opened #1601 "Downs't watch on MTU change"
I use MPD daemon to make VPN links, an don inactive or non existend interfaces ospfd use MTU=1500 bytes. When links up MTU changes to different value, but ospfd uses 1500 and we get MTU mismatch on other side.

[2018-01-06 23:21] nevzorofff opened #1602 "wrong master flag"
L2TP link beetween Mikrotik with RouterOS and FreebSD with MPD5. On this link mikrotik reports that
DBD packet has wrong master flag (MASTER | MORE | INIT ) 11100000

On ethernet link no problem.
On L2TP link with quagga and bird no such problem(but have many others))

[2018-01-07 00:41] donaldsharp commented on #1602
@nevzorofff can you capture a pcap of the exchange that is causing you issues?  We will need a bit more info in an effort to fix this

[2018-01-07 08:52] nevzorofff commented on #1602
Yes, of course. All you need to solve problem)

[frr.zip](https://github.com/FRRouting/frr/files/1609596/frr.zip)

[2018-01-07 14:49] louberger opened #1603 "bgp io counters are inconsistently read (sometimes atomic, sometimes not)"
Looking at how update_out is used, it is always set using an atomic operation, but sometimes it is read using atomic_load (bgp_vty.c:7143) and other times not (bgp_show_peer, bgp_snmp.c).  It looks like atomic should always be used.  Same issue exists for other _out counters incremented in bgp_write.

[2018-01-08 09:20] pguibert6WIND commented on #385
discussion with @donaldsharp about this feature:
- memory impact with pim
- also mapping VRF over Netns does not mean that all underlying functionalities in the dataplane are ready ( this is the case of vrf route leaking mechanism that is not available for inter-NS communication).
- VRF concept may be confusing, because it could not only be mapped with vrf lite, but also with netns
- 2nd confusion

[2018-01-08 09:25] pguibert6WIND opened #1605 "BGP flowspec support"
Need to support flowspec

[2018-01-08 10:56] #1605 closed

[2018-01-08 10:56] pguibert6WIND commented on #1605
duplicate 1203

[2018-01-08 16:41] donaldsharp commented on #1516
#1607 is the start of the correct handling of this in side of FRR.

[2018-01-08 21:20] dwalton76 commented on #1101
@tigranmartirosyan any luck figuring out how to reproduce this one?

[2018-01-08 21:25] tigranmartirosyan commented on #1101
No luck to reproduce. We have not seen this problem again with frr.

[2018-01-08 21:29] devicenull opened #1610 "Increased memory usage with 2018-01-08 HEAD"
I just built off of HEAD, and I'm seeing significantly increased memory usage:

<pre>
Memory statistics for bgpd:
System allocator statistics:
  Total heap allocated:  > 2GB
  Holding block headers: 16 MiB
  Used small blocks:     0 bytes
  Used ordinary blocks:  780 MiB
  Free small blocks:     1552 bytes
  Free ordinary blocks:  > 2GB
  Ordinary blocks:       2884046
  Small blocks:          46

[2018-01-08 21:35] dwalton76 commented on #1488
This is supported `neighbor 20.1.1.6 remove-private-AS all replace-AS `

[2018-01-08 21:35] #1488 closed

[2018-01-08 21:36] dwalton76 commented on #1101
Ack, will close this, please re-open if you see it again.

[2018-01-08 21:36] #1101 closed

[2018-01-09 09:20] vjardin6WIND commented on #385
@pguibert6WIND @donaldsharp
We should avoid compilation options since it creates some complexity to manage the packaging.

[2018-01-09 15:22] ak503 opened #1613 "some router bgp commands"
1. what is default value?
i create `neighbor TAG peer-group`
in config for bgp in section `address-family ipv4 unicast` i write `no neighbor TAG activate` and see it in config.
but in section `address-family ipv4 multicast` i write  `no neighbor TAG activate`, and do not see  'no neighbor TAG activate'. if write `neighbor TAG activate` - i see `neighbor TAG activate`

2. i enter  `timers bgp 33 66

[2018-01-09 16:15] donaldsharp commented on #1613
1) Can you show us the full bgp config so we can understand.

2) BGP intentionally enforces the keepalive timer RFC while still accepting the command.  Not a bug.

3) This is intentional and not a bug for these examples given.

[2018-01-09 22:03] #1603 closed

[2018-01-10 08:17] ak503 commented on #1613
router bgp 65001
 bgp router-id 192.168.1.69
 neighbor 192.168.1.1 remote-as 65002
 !
 address-family ipv4 unicast
  **no neighbor 192.168.1.1 activate**
 exit-address-family
 !
 address-family ipv4 multicast
  **neighbor 192.168.1.1 activate**
 exit-address-family
 vnc defaults
  response-lifetime 3600
  exit-vnc
!

[2018-01-10 11:08] ak503 commented on #1613
may by it is ok. this command (and some other) possible and from global 'router bgp NNN'  section and from 'address-family ipv4 unicast' section, but in config it will be only  in 'address-family ipv4 unicast' section. (not in global section)

[2018-01-10 12:04] pautiina opened #1617 "FRR is not compiled on FreeBSD with support for snmp"
My configuration options:
[code]
configuration status::
[code]
gmake result:
[code]
The screenshot looks more informative and beautiful:
![default](https://user-images.githubusercontent.com/11805503/34771971-1540930a-f60f-11e7-94d8-1fb842672eaa.png)

[2018-01-10 12:37] rwestphal commented on #1613
FRR usually omits commands that are enabled by default when showing the running configuration. When you configure a new BGP peer, the IPV4-unicast AFI/SAFI is enabled by default whereas the other AFIs/SAFIs are not. That's why you're not seeing `no neighbor TAG activate` under `address-family ipv4 multicast` in your running configuration.

Ideally this should be documented somewhere. In the future

[2018-01-10 13:20] donaldsharp commented on #1617
I was able to reproduce this on freebsd 10.3 with `./configure --enable-snmp=agentx`.  This looks like a symbol space collision of some sort with net-snmp on freebsd.

[2018-01-10 13:43] ak503 commented on #1613
thank you

[2018-01-10 13:43] #1613 closed

[2018-01-10 17:50] devicenull commented on #1610
This largely looks to be related to reflecting a full table out to a bunch of servers.  On one of our other machines, which just receives a full table, upgrading reduced the memory usage by about half.

[2018-01-10 23:04] amanshaikh75 opened #1621 "FRR/Zebra: Problem with MPLS Encapsulation while Resolving Next-Hop of a Route"
Hi

The Zebra daemon distributed with FRR release 3.0.2 does not seem to copy MPLS encapsulation information when it resolves next-hop of a (BGP) route.

See the attached PDF for more details.

thx
aman
[frr_zebra_mpls_bug_report.pdf](https://github.com/FRRouting/frr/files/1620688/frr_zebra_mpls_bug_report.pdf)

[2018-01-10 23:07] amanshaikh75 opened #1622 "FRR/Zebra: Problem with Multi-Step Resolution of a BGP Next-hop"
Hi

Zebra distributed with FRR release 3.0.2 performs a single step while resolving the next-hop of a BGP route. If the matching route is directly connected (via a local interface), Zebra accepts and installs the BGP route into its own forw arding table, while passing the route to the Linux forwarding table. On the other hand, if the matching route is not directly connected, Zebra assumes BGP next

[2018-01-11 00:58] #1585 closed

[2018-01-11 01:42] rwestphal commented on #1621
Thanks for the detailed bug report.

This is a known issue. I already tried to fix this problem in the past[1], but my fix is not complete because it doesn't handle label changes once a route is resolved. Fixing this is on my to-do list.

[1] https://github.com/opensourcerouting/frr/commit/a7aa30434f585d9400e18599efde3bb4066cc4d3

[2018-01-11 03:17] rwestphal commented on #1622
Please try one of the following commands in the vCE:
[code]

Then reset your session using `clear ip bgp ...`. Does it solve the problem?

If you need more than one level of recursive nexthop resolution then you need to try FRR from the master branch.

[2018-01-11 14:44] rwestphal commented on #1601
Given the other issue you opened I assume you're using FreeBSD.

I can not reproduce this problem here using FreeBSD 11.1. zebra is able to detect MTU changes and notify the client daemons about them. Please take a look:

bash:
[code]

ospfd log file:
[code]

Please provide more details about the OS version you're using and if the problem is specific to PPP links or if it also happens for ethernet

[2018-01-11 16:18] amanshaikh75 commented on #1621
Hi Renato

Thanks for prompt reply.  Should I be using FRR from the master branch to take advantage of the fix?

And if you don't mind me asking, when do you plan to complete your fix?

thanks,
aman

[2018-01-11 16:38] amanshaikh75 commented on #1622
Thanks Renato.

While I will try out what you have suggested, I have one question: can this command be specified in the configuration file?

thx
aman

[2018-01-11 16:52] rwestphal commented on #1621
The commit I pointed out wasn't pushed to master yet because it's still incomplete. I can't promise anything but I should be able to find some time to work on this within the next couple of weeks.

[2018-01-11 16:54] rwestphal commented on #1622
Yes, all commands can be specified in the configuration file. These commands in particular should be specified under the "router bgp" section.

[2018-01-11 20:37] rwestphal commented on #1617
After spending many hours on this I figured out what the problem is: FRR depends on certain C11 features in order to be built (apparently only the `lib/hook.h` file to be more precise). It can't be built using -std=c99 or -std=gnu99 anymore.

The FRR SNMP modules are built using `SNMP_CFLAGS`, which are taken from the `net-snmp-config --base-cflags` command. On FreeBSD the output of this command g

[2018-01-12 01:50] rwestphal commented on #1617
Rectification: FRR can be built using both C99 and C11. The problem is that we're using a few GNU extensions here and there so we can't build FRR with `-std=c99` or `-std=c11` (we need either `-std=gnu99` or `-std=gnu11`). The extensions I detected are the use of `typeof` (which can be replaced by the `__typeof__` standard variant) and trailing commas in function parameter lists.

Example: `DECLAR

[2018-01-12 02:28] louberger opened #1629 "bgpd: show bgp ipv4 vpn with no routes no longer reporting no prefixes, json broken"
H192.1.1.3> show bgp ipv4 vpn
H192.1.1.3> show bgp ipv4 unicast
No BGP prefixes displayed, 0 exist
H192.1.1.3> show bgp ipv4 multicast
No BGP prefixes displayed, 0 exist
H192.1.1.3> show bgp ipv4 labeled-unicast
No BGP prefixes displayed, 0 exist

H192.1.1.3> show bgp ipv4 unicast json
{
 "vrfId": 0,
 "vrfName": "Default",
 "tableVersion": 0,
 "routerId": "0.0.0.0",
 "routes": {  } }

H192.1.1.3>

[2018-01-12 06:29] igloo777 commented on #1622
Seems like we are talking about the same issue: https://github.com/FRRouting/frr/issues/1578

[2018-01-12 10:55] igloo777 opened #1631 "BGP auth doesn't work with peer-group and dynamic neighbors"
Hello, i made a simple setup with 2x Debian 9 KVM Virtual Machines and FRR 3.0.2

**R1** config:
 lo: 10.0.0.1/32
 ens3: 192.168.100.1/24
[code]

**R2** config:
 ens3: 192.168.100.2/24
[code]

With such config i see BGP session between R1 and R2 establishing correctly (session also establishing correctly if i add R1 as a static neighbor on R2 instead of peer-group).

**Problem:** If i add on **R1*

[2018-01-12 13:10] donaldsharp commented on #1523
The linux realm patch made it in a few weeks back

[2018-01-12 13:10] #1523 closed

[2018-01-12 13:11] donaldsharp commented on #1544
This issue has remained quiet for a while now and since it's not an actionable issue from FRR's perspective I am going to close this.  If needed we can restart the discussion.

[2018-01-12 13:11] #1544 closed

[2018-01-12 15:33] dwalton76 commented on #1548
@thorvald I have a patch for this so am going to steal this one from you

[2018-01-12 16:26] thorvald commented on #1548
@dwalton76 I've been swamped under competing priorities. Thank you!

[2018-01-12 20:14] qlyoung commented on #1631
No, it presently does not work. This is due to a limitation in the Linux kernel that has been patched in 4.14: https://github.com/torvalds/linux/commit/8917a777be3ba566377be05117f71b93a5fd909d

To give you some more detail, under Linux, TCP MD5 auth happens via a setsockopt() call in which you specify

* a socket fd
* an (exact) address – no prefixes
* the password associated with the address

In

[2018-01-12 22:08] patrick7 commented on #1432
Just tried the fix in v3.0.3.
Looks like it works, but FRR warns twice:

[code]

[2018-01-12 22:54] nevzorofff commented on #1601
# uname -a
FreeBSD homeserver.home 10.3-RELEASE-p17 FreeBSD 10.3-RELEASE-p17 #1
r316462: Tue Apr  4 22:58:27 YEKT 2017
niko@homeserver.home:/usr/obj/usr/src/sys/SERVERv10
i386

When i change mtu with ifconfig:
ifconfig ng2 mtu 1100
ifconfig ng2 mtu 1500
i see in log only:
2018/01/13 03:43:44 OSPF: interface 192.168.199.1 [9] leave AllSPFRouters
Multicast group.
2018/01/13 03:43:44 OSPF: interface

[2018-01-13 01:14] AdrianBan opened #1636 "Commands missing in VTYSH"
Hi,

Working for a while with FRR, I've notice missing some comands in vtysh and in saved configuration or are interpreted wrongly:

ip forwarding
ipv6 forwarding
ip multicast-routing
ip pim ssm prefix-list ssm-range

interface XXX
   ip pim ssm

Even if I'm typing those commands I see that they do their effect but are not saved.
Example:

[code]
but the configuration file:

[code]
Booting a syste

[2018-01-13 15:57] ne-vlezay80 opened #1637 "BGPSec support"
Добрый вечер, когда в FRRouting появится поддержка BGPSec?
https://www.noction.com/blog/bgpsec_protocol

[2018-01-13 16:02] pautiina commented on #1637
Если ты про RPKI, то уже есть. https://github.com/FRRouting/frr/pull/1443

[2018-01-13 16:09] pautiina commented on #1512
Hello.
On FreeBSD ports (https://svnweb.freebsd.org/ports/head/net/frr/Makefile?r1=457965&r2=458787) add some information about FRR, what it's mean?

[2018-01-13 16:27] ne-vlezay80 commented on #1637
FreeBSD на роутерах я не использую по ряду причин. Максимум это OpenBSD и то, только ради VPLS.

[2018-01-14 13:25] patrick7 commented on #1380
Still not working on 3.0.3

[2018-01-15 10:09] cultcom opened #1639 "OSPF on VLAN interfaces with FreeBSD 11.1 (OPNSense 18.1r1)"
I tried to enable OSPF on OPNSense 18.1r1 which uses "frr" now and encountered an interesting problem with the interfaces.

A configured interfaces is assumed as not being "OSPF enabled" whereas the other one is:
[code]

Are there compatibility issues with the FreeBSD kernel?

[2018-01-15 10:11] cultcom commented on #1639
For IPv6 it looks better.
[code]

[2018-01-15 10:21] cultcom commented on #1639
ok, sorry, I pasted the output of the old quagga package which I installed for testing. But with frr I got the same result:
[code]

[2018-01-15 13:06] rwestphal commented on #1639
Under `router ospf` you have these network statements:
[code]

But it seems like you configured your VLAN interfaces with these IP addresses:
[code]

Now you have to identify what's wrong (the network mask of vmx0_vlan1451 or the network statement) and fix the problem accordingly.

Hope it helps.

[2018-01-15 13:46] cultcom commented on #1639
oh, you are right, that explains much ... it should have been /27 for the interface definition. Now both interfaces are displayed as "OSPF enabled".

Thanks a lot for that one.

But now I still have my old OPNSense problem, that neighbour states are stuck in  ExStart state like I described in this issue: https://github.com/opnsense/plugins/issues/346

As I described there it only works when I expl

[2018-01-15 18:53] louberger opened #1640 "valgrind error on master - seen on shutdown/exit"
(seen on merge test, but looks like issue on master)
 ==27990== Thread 2:
==27990== Invalid read of size 8
==27990==    at 0x4A09B66: memmove (mc_replace_strmem.c:1026)
==27990==    by 0x4D75AD: thread_cancel_rw (thread.c:937)
==27990==    by 0x4D77AB: do_thread_cancel (thread.c:1029)
==27990==    by 0x4D7969: thread_fetch (thread.c:1326)
==27990==    by 0x4A5D80: bgp_io_start (bgp_io.c:88)
==2799

[2018-01-15 18:58] louberger opened #1641 "deadlock seen on startup of CI testing"
Unable to telnet into bgpd during regression run (master + 1638), suspect bgp_io...
manually killed...

dcfs1> cat Logs/bgpd-2018-01-14-17:59:58.127.0.0.136.log
2018/01/14 18:00:35 errors: BGP: ERROR: Command returned Incomplete on config line 10: debug bgp
2018/01/14 18:00:35 errors: BGP: Cannot bind path /var/run/bgpd.vty: Address already in use
2018/01/14 18:00:35 BGP: bgpd FRR-sw/frr.github-me

[2018-01-15 19:19] devicenull commented on #1610
This isn't a 1:1 comparison, but I compared 3.1_dev_2018010901 to 3.1-dev-2018011501 with jemalloc enabled..
[2018010901](https://github.com/FRRouting/frr/files/1632753/before.txt)
[2018011501 with jemalloc](https://github.com/FRRouting/frr/files/1632752/after.txt)

To me, this seems to be significantly improved.  jemalloc also produces more detailed statistics here... to me it looks like bgpd is

[2018-01-16 02:11] chenxiang12 opened #1643 "fpm connection break for frr on CentOS7"
Hello
I have downloaded and tested FRR 3.0.3 release on different OS and platfrom.  I find that the FRR release  file on CentOS X86_64 has no FPM support at default compared to release files on other platforms, such as ubuntu and debian. So I build the FRR source code according to redhat/README.rpm_build.md and set the with_fpm option to 1 in the spec file.  Finally I get the RPM release files.
Af

[2018-01-16 08:39] jhiggins-NZ opened #1644 "BGP - "all" parameter for next-hop-self command is missing"
Issue:
- The "all" parameter for BGP next-hop-self command appears to be missing in FRR.
- Supposedly it is implemented in Quagga.

http://www.nongnu.org/quagga/docs/docs-multi/BGP-Peer-commands.html

There does appear to be a "force" parameter, however it is unknown if this is intended to replace the "all" keyword.
The description implies it will perform next hop processing, to encode the NH in t

[2018-01-16 16:16] donaldsharp commented on #1637
@ne-vlezay80 We need someone to do this work.  Adding to the feature request list

[2018-01-16 17:36] louberger commented on #1641
This was due to an oddly stuck zombie valgrind process on the server.

[2018-01-16 17:36] #1641 closed

[2018-01-16 19:31] #1552 closed

[2018-01-16 19:40] qlyoung commented on #1150
The overall limit is 256 space-delimited tokens. I investigated implementing either of the two suggestions here, it would be a significant amount of code. The problem for the first part is that the information needed to make that advisory message would be nasty to collect and would look really strange (e.g it would say 253 for the as-path example given, isn't really intuitive).

The problem for th

[2018-01-16 20:29] #1475 closed

[2018-01-16 20:29] qlyoung commented on #1640
Turns out I patched this a while ago, it just never made out of my local git...

[2018-01-18 14:23] donaldsharp commented on #1643
I've submitted #1651 to resolve redhat not building FPM.

So a very very quick look at the wireshark trace, shows that 10.250.250.242 believes the checksum is incorrect.  At this point I don't have an idea of what is expected here.  There are no tcp options for FPM other than a port to connect to.

Let's try `show zebra fpm stats`.  Additionally I've added a commit to add a bit more debug informat

[2018-01-18 15:05] odd22 opened #1652 "OSPF with Opaque LSA crash with memory error when close"
To reproduce the error, just setup *OSPF* with *MPLS-TE* or *Router-Information* enable for one adjacency, start `ospfd`, wait for adjacency establish. Verify with `show ip ospf neighbor` and `show ip ospf database` that ospfd fulfil the Opaque LSDB with at least one self Opaque LSA, then stop ospfd (with `CTRL+C` or `no router ospf`) and you'll get this kind of output:

[code]

It is hard to foll

[2018-01-18 15:37] #1640 closed

[2018-01-18 17:04] devicenull commented on #1610
What ended up being the big fix here was #1650

The other option that helped was `coalesce-time 10000`.  Together these mean bgpd is no longer consuming all 4GB of ram and getting killed.

I still have jemalloc enabled, fwiw

[2018-01-19 07:16] chenxiang12 commented on #1643
Thanks @donaldsharp .I will use your commit to try again.

[2018-01-19 13:35] donaldsharp opened #1657 "Rework VRF_DEFAULT and VRF_UNDEFINED"
From the static vrf route leaking PR:

So it's unfortunate that VRF_DEFAULT is zero and unknown is 0xffffffff. If we reversed this, then it would be possible to use vrf_id when vrf_id =0=UNKNOWN and it wouldn't be necessary to change all users of zapi. @donaldsharp what do you think it it worth making this change, or does its downsides outweigh the benefit...

I think that there would be benefits

[2018-01-19 14:44] pguibert6WIND commented on #1657
why don't you create map the macro to a function ?
Inside, you can do the check that you want.
This is what I propose in https://github.com/FRRouting/frr/pull/1633

[2018-01-19 15:39] cardosocristian commented on #1340
Hello, I installed version 3.0.3 in my centos 7 and the bug did not occur anymore.
Thank you

[2018-01-19 18:02] odd22 commented on #1652
To help debugging, I isolated the function that cause the crash. It is:
 `ospf_opaque_type10_lsa_term(struct ospf_area *area)` define in `ospf_opaque.c` line 162.
the function is called twice in `ospf_area_free()` define in `ospfd.c` line 829 and 848.

Putting this function call into comment solve the issue.

Now, the tricky point is to determine which of the `list_delete_and_nul()`call cause the

[2018-01-21 06:09] ipinlnd opened #1660 "ISIS using timer to read received packets"
Hi,
I wanted to know why we're using timers to read packets in ISIS? in the code below that's taken from isis_circuit.c, we can see we're using timer to call the isis_receive function and we're using the number of circuits as timer which is a second question for me. What if we have 32 interfaces, all running ISIS ? then we'll be waiting 3200 milliseconds for every packet? Is it right to check for

[2018-01-21 21:02] donaldsharp commented on #1660
My very vague recollection about this when I reviewed the rework of this code last year was that there was something *special* about *bsd that did not allow us to read the protocol as we expected.  @rwestphal @vjardin6WIND do you remember the reasoning for this?

[2018-01-22 10:51] ipinlnd commented on #1660
I'm using a FreeBSD machine and i tried the thread_add_read and it's working fine.

[2018-01-22 13:26] chenxiang12 commented on #1643
@donaldsharp The problem is solved. It's because the watchfrr option is not enabled in my /etc/frr/daemon file, but the systemd config of FRR uses a watchdog. The daemons will be restart again and again, So as to the tcp connection of fpm. I found it in #1340 . Thanks again.

[2018-01-22 13:30] donaldsharp commented on #1643
@chenxiang12 ah that makes sense, closing issue

[2018-01-22 13:30] #1643 closed

[2018-01-22 13:45] rwestphal commented on #1660
In short, isisd has three different I/O methods (PF_PACKET, BPF and DLPI) and which one is used depends on the platform FRR is being run. More details here: https://github.com/FRRouting/frr/blob/frr-3.0.2/configure.ac#L844-L874

On FreeBSD isisd uses the BPF I/O method (`isis_bpf.c`) and as you saw it uses a polling strategy to read packets from the BPF file descriptor. However I found this in the

[2018-01-23 15:05] Fredi-raspall opened #1666 "IPv6 routes not being restored on interface transtion down->up"
The issue has to do with zebra **installing routes in the kernel** .

The setup is:  **one interface** (in a network namespace) gets configured an IPv4 address and an IPv6 one. As a result, two directly connected routes are pushed to kernel, one for IPv4 and one for IPv6. Right after, interface is brought down. Consequently, both connected routes are removed from kernel. So far so good.

However,

[2018-01-23 16:04] pguibert6WIND commented on #1657
some checks on VRF_DEFAULT have been pushed by https://github.com/FRRouting/frr/commit/4b1e01ba3ce32f93993de469a261337f514a6577

[2018-01-23 18:01] patrick7 commented on #1666
I agree this should be fixed in FRR.
But I think the following kernel setting will solve your problem:

`net.ipv6.conf.all.keep_addr_on_down=1`

[2018-01-24 08:06] ak503 opened #1669 "incorrect bgp nexp-hop for ebgp with usage route-map"
On default, when ebgp,  nexp-hop  mast be as ip of interface.

**Topology**
[code]

**PE1**
[code]

**PE2**
[code]

**PE3**
[code]

if quagga on PE1
[code]

if FRR on PE1
[code]

[2018-01-24 09:40] Fredi-raspall commented on #1666
Patrick, thanks for the suggestion. Will try it out. Unfortunately, such a variable is only available for kernels >=4.6. It is indeed, a kernel issue.

[2018-01-24 11:52] igloo777 opened #1670 "FRR 3.0.3-1 OSPF: metric and metric-type can not be used in default-information originate at the same time"
Hello!
**Problem:** if i enter in router ospf the next command
[code]
the next command disappears from config
[code]
and vise versa.

If i define metric-type 2, i see in config only
[code]

**How to reproduce:** enter the metric-type, then define a metric value - the first command will be replaced by the second.

So we can no change metric value for the metric-type 1.

[2018-01-24 11:54] igloo777 commented on #1670
The same behavior i observe in version 3.0.2.

[2018-01-24 22:48] rwestphal commented on #1660
I found this in the libpcap source code: https://github.com/the-tcpdump-group/libpcap/blob/master/pcap-bpf.c#L2495-L2531

Quoting the relevant part here:
[code]

My understanding of this is that it should be safe to use poll() with a BPF file descriptor on all BSD platforms, except for the old FreeBSD 4.3 and FreeBSD 4.4. I'll postpone changing isisd until I have a better testing framework that wi

[2018-01-25 18:13] rwestphal commented on #1670
Thanks for the bug report. Fixed by #1673. Now you should be able to enter both metric and metric-type in the same command like this: `default-information originate metric-type 1 metric 50`.

[2018-01-25 18:13] #1670 closed

[2018-01-25 20:18] philipishungry commented on #1340
I have had a look at the code to see what is going on with systemd/watchdog and I have found that the function call, "systemd_send_started()", to start up the systemd side of things is initiated from "watchfrr/watchfrr.c".
So that means, watchfrr needs to be enabled to allow the systemd watchdog, therefore we would have 2 watchdogs running.
Further, if we do run with the systemd startup, the sd_wa

[2018-01-26 15:06] ne-vlezay80 opened #1678 "FRR filter is not working"
router bgp 65301
 neighbor 10.247.0.1 remote-as 65500
 neighbor 192.168.122.5 remote-as 65301
 neighbor 198.18.0.1 remote-as 65577
 !
 address-family ipv4 unicast
  network 198.18.25.0/24
  network 198.18.26.0/24
  network 198.18.27.0/24
  neighbor 10.247.0.1 route-map MY-P out
  neighbor 198.18.0.1 route-map MY-P out
 exit-address-family
 !
 address-family ipv6 unicast
  network 2a01:d0:c353:180:

[2018-01-26 15:35] pautiina commented on #1678
Hello.
And what does not work here?
You are not using **le** (le command specifies prefix length. ) or **ge** (ge command specifies prefix length. The prefix list will be applied if the prefix length is greater than or equal to the ge prefix length)
https://frrouting.org/user-guide/IP-Prefix-List.html#IP-Prefix-List

[2018-01-28 15:16] aaglenn commented on #1639
if it works with pf disabled, then it's a firewall issue and not really a FRR issue :-)

verify what rules are active when pf is enabled with ``pfctl -s rules``
you can also log all OSPF traffic on an interface by adding a ``match`` rule in your pf.conf. see your pf.conf(5) man page as I am unfamiliar with the PF found in FreeBSD (of which OPNsense is based)

[2018-01-28 16:28] jimyuan1995 opened #1681 "FRR 2.0 BGP sends received routes back to the sender"
I am running an experiment with FRR BGPD.

I set up the experiment as Tester A <-> FRR BGPD. When BGPD receives an update from Tester A, it sends that update immediately back to Tester A after processing it.

This is confusing to me as it creates an AS-PATH loop. So why does it occur?

For my setup, I am running only FRR BGPD (e.g. no ZEBRA). I installed FRR 2.0 within a docker container running U

[2018-01-28 17:56] jimyuan1995 commented on #1681
The same problem occurs within FRR 3.0

[2018-01-29 06:13] igloo777 commented on #1670
May i know when this fixed will be released in package for Debian ?

[2018-01-29 08:31] pguibert6WIND opened #1682 "scan-build should not detect some cases / any way to mitigate the tool"
the static analysis tool is a good tool that permits to get the list of potential issues a C function may have.
however , there are some limitations.
if I take as example the case in BGP, where the peer->bgp pointer is not checked, then one can wish to enforce the code, whereas it should not be necessary. The reason is that peer->bgp pointer can never be null. I take this as example, my assumption

[2018-01-29 15:04] qlyoung commented on #1682
For null pointer checks in particular, scan-build will warn if you dereference a pointer where there was a nullity check earlier in the same code path. The nullity check implies that the pointer could be null, and so accessing it later without the check will cause it to warn. The correct thing to do there is to remove the nullity check if you know the pointer can never be null.

Of course there ar

[2018-01-29 16:14] rwestphal commented on #1682
My opinion about this is that yes, scan-build is not perfect and emits wrong warnings sometimes.

In the case of "null pointer dereference" warnings, we can use `assert()` to silence them when we know for sure that scan-build is wrong. Here's an example: https://github.com/FRRouting/frr/commit/11bf8e13f203

But my experience is that scan-build tends to be right most of the time. I think all warnin

[2018-01-29 18:56] donaldsharp commented on #1340
@philipishungry why are you stating that you have 2 watchdogs running?

We consider watchfrr the responsible party for all the FRR daemons up and running, which is why we put this systemd call here.

[2018-01-29 20:17] rwestphal commented on #1670
Just pushed the fix to the stable/3.0 branch.

@mwinter-osr could you help me to answer @igloo777's question?

[2018-01-29 21:25] philipishungry commented on #1340
when you start watchfrr and then call "systemd_send_started()" from watchfrr, there is a call to sd_watchdog_enabled() which then starts a thread to send keepalives to systemd.
so that would be 2 watchdogs, watchfrr & systemd keepalives? is that not correct or I may be barking up the wrong tree ;-)

[2018-01-30 13:40] donaldsharp opened #1691 "Document VTYSH"
Can we get some documentation added to cli.md that talks about the differences between DEFUN, DEFUN_HIDDEN, DEFUN_NOSH and when to use them?

Maybe add something to tell people to start using DEFPY for new cli?

[2018-01-30 13:55] vjardin6WIND commented on #1691
+documentation on using modules combined with VTY?
  https://github.com/FRRouting/frr/blob/master/lib/module.c

[2018-01-30 14:21] donaldsharp commented on #1340
@philipishungry I think your understanding is a bit off.

1) watchfrr sends pings to each running daemon to ensure that they are listening and responding.  If they do not respond in the timeout window, watchfrr considers the daemon dead so it will restart the malfunctioning daemon following it's own set of rules.
2) watchfrr sends a message to systemd that it FRR has successfully started up on boo

[2018-01-30 14:32] boisseleaud opened #1692 "[Security] Unicast IGMPv3 General Query"
Hi,
I noticed a little security issue in the pimd processing of IGMP Queries. It appears to me that, upon reception of an IGMP General Query, no check is done on the destination address.
However in RFC3376, which specifies IGMPv3, is stated this :

If not check is made upon reception of an IGMPv3 General Query, this query can be received on the unicast IPv4 address of the router as if it was sent

[2018-01-30 16:08] donaldsharp commented on #1681
This is normal BGP behavior for update groups as well if someone has `allow-as-in` on the receiving side.

[2018-01-30 16:08] #1681 closed

[2018-01-30 16:13] donaldsharp commented on #1682
1) Martin plans to upgrade to a newer version of scan-build
2) Renato's suggestion is the right thing to do
3) We need to finish cleaning up the remaining ~20 CI issues
4) We will start opening issues with new coverity problems found against the originator

[2018-01-30 16:13] #1682 closed

[2018-01-30 16:54] qlyoung commented on #1692
Thanks for reporting this! We'll look into it for the next release.
If you find anything else, we do have a security mailing list you can email with information:
security@lists.frrouting.org

[2018-01-31 14:56] patrick7 commented on #1190
Any news?

[2018-02-03 19:11] aaglenn opened #1706 "ldpd XML requirement"
Hi,

I'm trying to build a package for the OpenBSD ports system. In doing so, I chose the latest stable release tag, frr-3.0.3. I am confused by the inclusion of the XML requirement for the ldpd cli.

[This commit](https://github.com/FRRouting/frr/commit/c740f7d3678a8ea2c70a062c1207157e999bd6e8) dates from June 2017 and removes it. However the [3.0.3 configure.ac](https://github.com/FRRouting/frr/

[2018-02-04 06:01] Ragsboss opened #1707 "FRR on Debian 8 failing with symbol lookup error"
I installed FRR using `dpkg -i` from https://github.com/FRRouting/frr/releases/download/frr-3.0.3/frr_3.0.3-1_debian8.1_amd64.deb but starting it is failing with below error.

[code]

My OS version is
[code]

Any help is appreciated.

[2018-02-04 08:42] liuxyon commented on #1380
me too, not work in ubunt 17.10

systemctl reload frr
Job for frr.service failed because the control process exited with error code.
See "systemctl  status frr.service" and "journalctl  -xe" for details.
root@uk:~# systemctl  status frr.service
● frr.service - FRRouting
   Loaded: loaded (/lib/systemd/system/frr.service; enabled; vendor preset: enab
   Active: active (running) (Result: exit-code)

[2018-02-04 10:28] liuxyon opened #1708 "vtysh Exiting: failed to connect to any daemons."
i am change from quagga to frr, i have no more help files from frr site. so i have to ask for here.

now frr can running bgpd use telnet, but i dont know how start the vtysh.  what is need me for fix it?

when i input "vtysh" command, show
  root@uk:~# vtysh
Exiting: failed to connect to any daemons.

root@uk:~# sudo systemctl status frr
● frr.service - FRRouting
   Loaded: loaded (/lib/systemd/sy

[2018-02-04 12:24] donaldsharp commented on #1708
frr is run as frr/frr you need to have permission to connect to it's named sockets.  Have you tried `sudo vtysh`?

[2018-02-04 19:34] sergey-safarov opened #1709 "ZEBRA: cannot assign interface address"
I enabled ffr service and after host reboot i see error in journal
[code]
Interface with this IP is configured as
[code]
I checked interface and found that ipv6 address is really not assigned.
[code]
Interface `cloudx` is initialized using `systemd-netword.service`
[code]
Other interface (about 10) is configured IPv4 and IPv6 addresses correclly.
NIC `cloudx` is created using `openvswitch-2.8.90`

[2018-02-05 01:36] liuxyon opened #1710 "sysctl: cannot stat /proc/sys/net/mpls"
what is need i fix it ?

sysctl: cannot stat /proc/sys/net/mpls/platform_labels: No such file or directory

when i add these in files. show wrong.
https://github.com/FRRouting/frr/wiki/Building-FRR-on-Ubuntu-1604
Enable MPLS Forwarding (with Linux Kernel >= 4.5)
Edit /etc/sysctl.conf and the following lines. Make sure to add a line equal to net.mpls.conf.eth0.input or each interface used with MPLS

[2018-02-05 12:42] rwestphal commented on #1706
Hi Glenn,

Your effort to build a FRR package for OpenBSD is very much appreciated.

Regarding your question, the stable/3.0 branch was created before the ldpd CLI was converted, and we only backport bug fixes to stable branches. That's why FRR still has the LibXML dependency on stable/3.0.

The good news is that we're planning to release a 4.0 version anytime soon, probably in this week. Stay tun

[2018-02-05 12:42] #1706 closed

[2018-02-05 12:46] donaldsharp commented on #1708
What are the permissions of the files in `/var/run/frr`?

[2018-02-05 13:35] liuxyon commented on #1708
/var/run/frr 0755  frr frr
/var/run/frr/zebra.vtyfrrvty [120] frr [115] 0770

[2018-02-06 04:53] johnmarcou commented on #1497
Hi,

Same issue here, running `quagga-1.2.2`.
This hostname parameter is a bit confusing :/

[2018-02-06 16:26] donaldsharp commented on #1709
Has the container been given access to send netlink messages to the kernel?

[2018-02-06 16:27] donaldsharp commented on #1710
What kernel are you running?

[2018-02-06 16:44] #1489 closed

[2018-02-06 18:27] sergey-safarov commented on #1709
Hello Donald (@donaldsharp)
Operation system is installed on bare metal server
I now reinstalled server and `docker` service is not runned. FRRouting daemon started using systemd unit.
[code]
And full `ps` output
[code]

I think `frr` service have all required permission to configure NIC. SELinux is disabled.
[code]

[2018-02-06 18:44] #1562 closed

[2018-02-06 20:04] amanshaikh75 opened #1715 "ZAPI version 5 versus 4"
Hi

I have noticed that master branch of FRR has shifted to a new version of ZAPI -- version 5. Is there any document describing the difference between version 5 and the previous version 4?

thx
aman

[2018-02-06 20:12] donaldsharp commented on #1715
4 -> 5 has vrf_id's going to 32 bit.  In addition we've added these new ZAPI messages:

EVPN messages:
ZEBRA_INTERFACE_SET_MASTER
ZEBRA_FEC_REGISTER
ZEBRA_FEC_UNREGISTER
ZEBRA_FEC_UPDATE
ZEBRA_ADVERTISE_DEFAULT_GW
ZEBRA_ADVERTISE_ALL_VNI
ZEBRA_VNI_ADD
ZEBRA_VNI_DEL
ZEBRA_L3VNI_ADD
ZEBRA_L3VNI_DEL
ZEBRA_REMOTE_VTEP_ADD
ZEBRA_REMOTE_VTEP_DEL
ZEBRA_MACIP_ADD
ZEBRA_MACIP_DEL
ZEBRA_REMOTE_MACIP_ADD
ZEB

[2018-02-06 20:20] amanshaikh75 commented on #1715
Thanks Donald for your prompt response. I have another question. Is there any document describing the entire ZAPI API -- either version 4 or 5 will do.

thanks,
aman

[2018-02-06 20:25] donaldsharp commented on #1715
lib/zclient.h  -> Mostly cleaned up code that focuses on defining the zapi interface.
lib/zclient.c  -> Library functions that allow encoding / sending / decoding.  We are slowly moving all the custom implementations of the zapi into here.
zebra/zserv.c -> Zebra's decoding and sending of zapi data.  Some functions need to be moved into lib/zclient.c.

So there is no document as such.  The code is

[2018-02-06 20:37] qlyoung commented on #1715
To add to this — presently we are working on overhauling our documentation and the state of our docs should improve dramatically over the next few months as we get around to documenting more of our APIs.

Donald is correct that there is presently no doc on versions 4 and 5 of the protocol. There is a brief stub for versions 0 and 1 located here:
https://github.com/FRRouting/frr/blob/master/doc/pro

[2018-02-06 21:23] #1715 closed

[2018-02-06 21:30] liuxyon commented on #1710
Ubuntu 17.10 (GNU/Linux 4.14.17-041417-generic x86_64)

[2018-02-06 22:03] mkanjari opened #1716 "clearly distinguish mpls label vs vni in EVPN code"
Currently, we use mpls_label_t for VNIs passed in the EVPN route types as well. This code needs to be refined and clear distinction needs to be made.

[2018-02-07 01:15] liuxyon commented on #1708
what is need normal start run vtysh?

[2018-02-07 08:22] odd22 commented on #1710
Here I also load the `mpls_gso` module in addition to the `mpls_router` and `mpls_iptunnel`modules.
I'm using kernel 4.14.11 on Ubuntu 16.04. So close to your configuration.

So, can you check that the modules are correctly loaded with:
`lsmode | grep mpls`
And look at `dmesg` output to see if there is some errors.

You could also perform a:
`sudo modprobe -v mpls_router mpls_gso mpls_iptunnel`
an

[2018-02-07 09:49] chenxiang12 opened #1717 "ip rip split-horizon poisoned-reverse command cause frr to reboot"
When I configure rip and input the command "ip rip split-horizon poisoned-reverse", the rip process is quitted, and the whole frr is reboot.

[2018-02-07 13:29] donaldsharp commented on #1717
@chenxiang12 I've fixed the `crash` in PR #1719.  Are you planning on using rip or is this just some testing?

[2018-02-07 14:14] liuxyon commented on #1710
root@uk:~# lsmode | grep mpls
No command 'lsmode' found, did you mean:
 Command 'lsmod' from package 'kmod' (main)
lsmode: command not found
root@uk:~# sudo modprobe -v mpls_router mpls_gso mpls_iptunnel
root@uk:~#

[2018-02-07 14:16] liuxyon commented on #1710
now i get the /proc/sys/net/mpls

what i need do it?

[2018-02-07 16:28] amanshaikh75 commented on #1715
Hi Donald and Quentin

While this is not a promise to create documentation for ZAPI versions 4 and 5, if we do end up writing some documentation, should we use GNU texinfo format?

thx
aman

[2018-02-07 16:40] donaldsharp commented on #1715
We are in the process of switching over to .rst(Restructured Text)

Here is the PR:
https://github.com/FRRouting/frr/pull/1704

[2018-02-07 18:15] qlyoung commented on #1715
@amanshaikh75 yep as Donald said, we expect to land a mass conversion of all of our docs from Texinfo to RST in the coming days. I would hold off any documentation work you may or may not do until then.

I am also aiming to get developer and user web docs uploaded on our website very soon once the aforementioned is complete.

[2018-02-07 19:56] rzalamena commented on #1660
Hi all,

The PR to improve this situation for FreeBSD has been merged already, I hope this solves the situation. I'll close the issue in a week if no more inputs are given.

[2018-02-08 06:42] Amar-Chaudhari commented on #1340
I am still facing this issue on CentOS 7 with installation from source.
However, the temporary solution mentioned above does seem to solve this.

[2018-02-08 15:23] cultcom commented on #1639
Well, I verified that it was:
pass in
pass out
So I still assume some kind of kernel flag or a problem with vmxnet driver. But I have absolutely no deep knowledge about FreeBSD.

[2018-02-08 19:34] mwinter-osr opened #1724 "AddressSanitizer: heap-use-after-free in OSPFd"
This is in dev/4.0 and master - tested with git sha 5b8b08d (just before the branching)

## ERROR: AddressSanitizer: heap-use-after-free on address 0x62000002a1c8 at pc 0x000000536b83 bp 0x7ffe0527d890 sp 0x7ffe0527d880
#### WRITE of size 8 at 0x62000002a1c8 thread T0
    #0 0x536b82 in thread_fetch lib/thread.c:1347
    #1 0x4fcbfa in frr_run lib/libfrr.c:878
    #2 0x416e4d in main ospfd/ospf_ma

[2018-02-08 19:38] mwinter-osr opened #1725 "AddressSanitizer: LeakSanitizer: detected memory leaks in OSPF6d"
This is in dev/4.0 and master - tested with git sha 5b8b08d (just before the branching)

## ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 184 byte(s) in 1 object(s) allocated from:
[code]

#### Indirect leak of 20 byte(s) in 1 object(s) allocated from:
[code]

### SUMMARY: AddressSanitizer: 204 byte(s) leaked in 2 allocation(s).

[2018-02-08 19:42] mwinter-osr opened #1726 "AddressSanitizer: LeakSanitizer: detected memory leaks in ISISd (IPv4 operation)"
This is in dev/4.0 and master - tested with git sha 5b8b08d (just before the branching)

## ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 5120 byte(s) in 128 object(s) allocated from:
[code]

### SUMMARY: AddressSanitizer: 5120 byte(s) leaked in 128 allocation(s).

[2018-02-08 19:45] mwinter-osr opened #1727 "AddressSanitizer: LeakSanitizer: detected memory leaks in ISISd (IPv6 operation)"
This is in dev/4.0 and master - tested with git sha 5b8b08d (just before the branching)

## ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 2760 byte(s) in 69 object(s) allocated from:
[code]

#### Direct leak of 792 byte(s) in 1 object(s) allocated from:
[code]

#### Indirect leak of 536 byte(s) in 1 object(s) allocated from:
[code]

#### Indirect leak of 64 byte(s) in 2 object(s

[2018-02-09 02:39] chenxiang12 commented on #1717
we want to use rip, not just test!来自我的华为手机-------- 原始邮件 --------主题：Re: [FRRouting/frr] ip rip split-horizon poisoned-reverse command cause frr to reboot (#1717)发件人：Donald Sharp 收件人：FRRouting/frr 抄送：chenxiang12 ,Mention @chenxiang12 I've fixed the crash in PR #1719.  Are you planning on using rip or is this just some testing?

—You are receiving this because you were mentioned.Reply to this email d

[2018-02-09 17:00] amanshaikh75 commented on #1621
We tried out latest FRR code from the master branch. Zebra daemon was able to "copy" MPLS label when it performed a recursive look-up of a BGP route next-hop. Does this mean the problem is fixed now?

thanks,
aman

[2018-02-09 17:28] donaldsharp commented on #1621
we've solved half the problem as we understand it.  When we create the new nexthop for the recursive resolution, we now notice that the recursively resolved nexthop has labels and copy them over appropriately.

The other half of the issue is the case where the nexthop that needs recursive resolution has a label as well as the recursively resolved nexthop.  We need to combine them both.  As I under

[2018-02-09 23:26] silasm commented on #1485
I suspect you're comparing source packages to git trees. This is by no means an apples-to-apples comparison, plenty of git trees require special instructions (see for example the debian linux kernel tree), and source packages by definition can't (they need to be handled automatically by the debian build infra). That said...

* The whole idea behind debian/backports is exactly to get the source pac

[2018-02-10 00:07] #1717 closed

[2018-02-10 16:47] mTaleqani opened #1740 "Multicast routes not shown in mroute table"
Hi
I have configured FRR as a PIM Rendezvous Point and cisco routers as usual multicast routers. but when a multicast address is advertised to FRR (pim join message) they are not shown in the FRR mroute table.

this is the the topology i am working :
![image](https://user-images.githubusercontent.com/24407965/36064267-a590591c-0e9d-11e8-8381-453f803c225d.png)

according to the above topology, frr

[2018-02-10 17:45] donaldsharp commented on #1740
Let's start with a `show ip pim rp-info`?

[2018-02-10 22:07] mTaleqani commented on #1740
![image](https://user-images.githubusercontent.com/24407965/36067118-13b251ce-0ecc-11e8-8ddb-ae4f8f71e5b8.png)

![image](https://user-images.githubusercontent.com/24407965/36067111-f8231cb8-0ecb-11e8-8730-5787c54d2290.png)

[2018-02-12 13:54] lucas1986 opened #1743 "ADD-PATH issue"
Hello,

I configured FRR (FRRouting 4.1-dev) to advertise BGP routes with the ADD-PATH extension. It seems that every route announced by FRR with this extension contains a different path-ID, while according to the specs of ADD-PATH we would expect one path-ID per neighbor.

This is the scenario overview:

- two BGP neighbors which advertise about a thousand of routes to FRR
- another neighbor of F

[2018-02-12 16:35] mwinter-osr commented on #1707
Please confirm that you are really using the FRR from the URL given above.

I've just installed FRR from https://github.com/FRRouting/frr/releases/download/frr-3.0.3/frr_3.0.3-1_debian8.1_amd64.deb on a plain Debian 8 and I don't see the error.

In addition, the service does NOT show as 'Cumulus Linux FRR', it shows as FRRouting as seen here:
[code]

My OS here is
[code]

My only guess is that thi

[2018-02-12 16:40] mwinter-osr commented on #1340
@Amar-Chaudhari: I assume you are running FRR 3.0.3?
If you needed the workaround, which one did you use? Did you had to enable the watchfrr?
(It should have been enabled after upgrade to 3.0.3)

Was this a clean install of FRR 3.0.3 or an upgrade from an earlier version (which previous version?)

[2018-02-12 22:31] amanshaikh75 opened #1744 "Configuring which FECs are assigned labels by LDP daemon"
Hi

Is there a way to specify set of FEC (Forwarding Equivalence Classes -- IPv4 prefixes in my specific case) for which LDP daemon assigns labels while ignoring the rest?

thanks,
aman

[2018-02-13 07:39] jagter commented on #1380
@liuxyon
By default FRR creates a configuration file per daemon. If you want to use the frr.conf you have to enable the service integrated-vtysh-config.

vtysh -c 'configure terminal' -c 'service integrated-vtysh-config'

[2018-02-13 09:12] jignesh045 opened #1746 "FRR on Debian 8 failed with frr.service start request repeated too quickly, refusing to start"
**Issue:** FRR restart (rapidly) failed (used automation script to restart service & failed)

**Test Scenario:** We are configuring FRR on multiple invaders with the script & restarting service simultaneously on all devices

**Environment:**

1. FRR Version: Fresh Installation (https://github.com/FRRouting/frr/releases/download/frr-3.0.3/frr_3.0.3-1_debian8.1_amd64.deb)

2. root@invader31:/# /usr/

[2018-02-13 09:19] paolss opened #1747 "Problem with bgp timers - cant reach less than 10/30 with config below"
FRR 4.0-dev
Example configuration for peer (there is 500 peers for testing - 50 with connected sessions)

conf t
router bgp 65501
neighbor 192.168.0.2 remote-as 1234
neighbor 192.168.0.2 description TEST
neighbor 192.168.0.2 update-source 192.168.0.1
neighbor 192.168.0.2 soft-reconfiguration inbound
neighbor 192.168.0.2 maximum-prefix 250 restart 60
neighbor 192.168.0.2 prefix-list TEST-in in
neig

[2018-02-13 09:24] qlyoung commented on #1746
This is a [systemd feature](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#StartLimitIntervalSec=interval).

You may adjust the restart rate limit to your preferred value by editing the systemd service file for FRR.

[2018-02-13 09:28] qlyoung commented on #1747
What is the nature of your 500 test peers? Are they hardware routers? Software? What is the software or hardware?

[2018-02-13 09:38] paolss commented on #1747
There are connected some VM's (45 neighbors with FRR 3) , 3x Cisco ncs 5500 and some juniper mx - all routers have same problem when i set timers less than 10/30

[2018-02-13 11:24] pguibert6WIND commented on #1747
Hello, which tool should be used to read the perf.data file ?

[2018-02-13 11:34] vjardin6WIND commented on #1747
@pguibert6WIND perf.data can be read with perf tool:
  http://www.brendangregg.com/blog/2014-06-22/perf-cpu-sample.html

[2018-02-13 12:42] jignesh045 commented on #1746
Thanks

[2018-02-13 12:42] #1746 closed

[2018-02-14 12:14] rwestphal commented on #1744
Yes, under the address-family node you can use the `label local allocate` command to control label allocation for that particular address-family.

Here's the command definition: `[no] label local allocate <host-routes|for <(1-199)|(1300-2699)|WORD>>`

You can either use the `host-routes` option to allocate labels for host routes only (/32 or /128) or use the `for` option to have more fine-grained

[2018-02-14 12:16] #1744 closed

[2018-02-14 12:18] rwestphal commented on #1622
@amanshaikh75 Is this still an issue? Did you try my suggestions?

[2018-02-14 12:27] louberger commented on #1744
What is WORD used for and what are the ranges?

On February 14, 2018 7:15:14 AM Renato Westphal <notifications@github.com>
wrote:

[2018-02-14 12:37] rwestphal commented on #1744
Sorry, `<(1-199)|(1300-2699)|WORD>` is used to identify an access-list. Writing documentation for ldpd is still on my to-do list.

[2018-02-14 12:40] louberger commented on #1744
Why not use route maps like other protocols?

On February 14, 2018 7:38:19 AM Renato Westphal <notifications@github.com>
wrote:

[2018-02-14 13:07] rwestphal commented on #1744
If we only need to select/filter a set of prefixes and nothing else, then I think ACLs or prefix-lists are just enough. We don't need the "match and set" functionality of route-maps here.

[2018-02-14 14:05] #1660 closed

[2018-02-14 14:17] rzalamena commented on #1726
At least one case of this was found and fixed by Donald here:
https://github.com/FRRouting/frr/pull/1741

I'll keep the issue open to look for more and wait for new tests results (see if it went away).

[2018-02-14 15:05] amanshaikh75 commented on #1622
We're trying what you suggested in our test-bed right now. Will keep you posted.

aman

[2018-02-14 16:19] amanshaikh75 commented on #1744
I tried with the latest stable version of ldpd, but didn't succeed.

**[ashaikh@vsp-vpe-west ~]$ sudo /home/ashaikh/sbin/ldpd -v**
ldpd version 3.0.3
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
         '--prefix=/home/ashaikh' '--localstatedir=/var/run/frr' '--enable-multipath=64' '--enable-user=frr' '--enable-group=frr' '--enable-vty-group=frrvty' '--enable-configfile-mask=064

[2018-02-14 16:26] rwestphal commented on #1744
[code]

This command only accepts access-lists as you can see, prefix-lists and custom prefixes won't work.

To configure an access-list, use the `access-list` command in the global configuration node. I hope it helps.

[2018-02-14 16:35] rwestphal commented on #1744
The `label local allocate` command only accepts one ACL, you can't configure it multiple times using different ACLs (that would be confusing and unnecessary).

When you do this:
[code]

You're effectively configuring the `label local allocate` command to use the `192.168.10.3/32` ACL. Since this ACL doesn't exist, no labels are allocated at all. This is the expected behavior.

[2018-02-14 17:02] amanshaikh75 commented on #1744
Thanks Renato for quick replies.

I tried with access lists as you suggested:

[code]

[2018-02-14 17:05] rwestphal commented on #1744
Did you start zebra in addition to ldpd? If yes, could you show me the ldpd log file? Your config looks fine to me.

[2018-02-14 17:17] amanshaikh75 commented on #1744
Restarting zebra hasn't helped. Where should I look for the log file? Didn't find anything under /var/log/frr.

[2018-02-14 17:21] rwestphal commented on #1744
You can put these lines in the ldpd configuration file:
[code]

Just be sure that the `/var/run/frr` directory is writable for the `frr` user. Also, you need to restart vtysh every time one of the FRR daemons starts. Alternatively, you can use `telnet 127.0.0.1 2612` to access ldpd directly.

[2018-02-14 17:40] amanshaikh75 commented on #1744
Here's what I see in ldpd log file.
[code]
Seeing error messages about connecting zclient, I checked zebra daemon. Turns out zebra daemon was not running, so I restarted only to see it run into assertion error.
[code]

[2018-02-14 17:45] rwestphal commented on #1744
Interesting, I'll try to reproduce this problem and fix it. In the meanwhile, please start zebra before starting ldpd and see if it solves the problem for you.

[2018-02-14 18:39] amanshaikh75 commented on #1744
I realized it was a problem with my setup. There was bgpd running which was compiled using the latest master branch (3.1-dev). Once I terminated it, zebra daemon (version 3.0.3) is running fine, and so is ldpd (version 3.0.3 as well).

[2018-02-14 18:52] amanshaikh75 commented on #1744
Finally, I managed to implement allocation of LDP labels to selected prefixes the way I wanted.

Here's my ldpd.conf
[code]
And LDP daemon is only allocating labels for prefixes matching 192.168.10.0/24:
[code]

[2018-02-14 19:02] patrick7 commented on #1497
I think the parameter should not touch the underlying system.
If you have multiple routers with the same hostname but different domain (for instance r1.location.example.com), it would be great to override the name in vtysh like this:

No hostname set:
[code]

Hostname "cr1.fra1" set:
[code]

[2018-02-16 05:19] tynany opened #1758 "/etc/frr/frr.conf does not load on start on CentOS 7"
On CentOS 7, when a valid /etc/frr/frr.conf file exists, FRR will not load the configuration when it starts. A workaround is to start FRR followed by a reload. This behaviour is not present when you use individual configuration files (zerba.conf, bgpd.conf etc).

I have not been able to reproduce this behaviour on Ubuntu 16.04 kernel 4.4.0-87.

The below page suggests 'vtysh -b' needs to be run, b

[2018-02-16 13:56] donaldsharp commented on #1758
Add this line:
`vtysh_enable=yes`

to the /etc/frr/daemons file

[2018-02-16 15:06] amanshaikh75 opened #1759 "Supporting MPLS label popping followed by sending packet to VRF device"
In order to support BGP/MPLS L3VPN, we need FRR/Zebra to support adding an MPLS route of this form: "<MPLS_label> dev <vrf_name>".

Accepting and installing such route in Linux kernel instructs kernel to treat an incoming MPLS packet with label 'L' this way: "Pop label 'L' and forward the resulting packet by consulting forwarding table of VRF denoted by vrf_name.

Does FRR/Zebra support this in ZA

[2018-02-16 17:02] pguibert6WIND opened #1760 "crash when entering vrf-policy when under bgp vrf instance"

[2018-02-16 17:04] pguibert6WIND commented on #1760
https://github.com/FRRouting/frr/pull/1761

[2018-02-16 17:08] louberger commented on #1760
I think this is fixed/addressed already in https://github.com/FRRouting/frr/pull/1739 - @paulzlabn can confirm.

[2018-02-16 17:18] paulzlabn commented on #1760
I did not change any of the vrf-policy code in #1739

[2018-02-16 19:16] rburkholder opened #1762 "bgp_evpn_vty.c with -Werror=maybe-uninitialized build on master"
bgp_evpn_vty.c: In function 'show_bgp_l2vpn_evpn_vni':
    bgp_evpn_vty.c:725:4: error: 'json_export_rtl' may be used uninitialized in this function [-Werror=maybe-uninitialized]
        json_object_array_add(json_export_rtl,
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                json_object_new_string(ecom_str));
[code]
    bgp_evpn_vty.c:657:15: note: 'json_import_rtl' was declared here

[2018-02-17 17:22] patrick7 opened #1763 "JSON: Large communities wrong placed"
"show bgp ipv4 <prefix> json" is displaying large communities wrong:

[code]

Also see https://github.com/FRRouting/frr/issues/1191. Was merged but it seems the issue is not fixed in 3.0.3-1

[2018-02-17 17:40] donaldsharp commented on #1763
Yes this was fixed on master but not the 3.0 tree. We'll discuss if we should backport on tuesday

[2018-02-20 07:53] Timo3924 opened #1767 "Problems setting default-information originate (OSPF)"
[code]

CentOS 7, frr-3.0.3-2018010901.el7.centos.x86_64.rpm

Workaround (ugly):

[code]

[2018-02-20 10:23] Timo3924 commented on #1767
Saw it was fixed in HEAD:

[](https://github.com/FRRouting/frr/commit/ea38ced19f5f08bcb6bc0742624693c2ff81b028)

[2018-02-20 10:23] #1767 closed

[2018-02-20 11:54] riw777 opened #1768 "Include +/- metric in OSPF documentation"
https://github.com/FRRouting/frr/blob/master/doc/ospfd.texi

Needs to be updated to include fix from #1732

[2018-02-20 13:33] pguibert6WIND opened #1769 "BGP flowspec client"
Following picture could help.
This issue to note that there is a work in progress currently on FRR to have flowspec client feature.
flowspec client feature implies:
- handle reception of flowspec nlri entries as per RFC5575
- convert flowspec nlri entries into policy route entries so that some policy rules are written down into zebra.

![image](https://user-images.githubusercontent.com/16295538/36

[2018-02-20 13:45] pguibert6WIND commented on #1769
this implies also that the controller part is out of the scope of this issue.

[2018-02-20 14:39] mwinter-osr commented on #1707
Closing as no answer and it doesn't seem to be an official package.

[2018-02-20 14:39] #1707 closed

[2018-02-20 14:43] #1548 closed

[2018-02-20 14:49] dwalton76 commented on #1669
@ak503 two questions
- who is 4.0.0.2? I see that PE3 is peering with them but that device isn't in your diagram
- Can you capture a `show ip bgp 3.0.0.0/24` on both PE1 and PE3.  We will need this for the scenario where PE1 is running quagga and the scenario where PE1 is running FRR.

[2018-02-20 14:53] dwalton76 commented on #1743
@lucas1986 `while according to the specs of ADD-PATH we would expect one path-ID per neighbor.` this is not the case...it is working per the spec.  Will leave this open for a few days...

[2018-02-20 16:31] lucas1986 commented on #1743
Ok I'm sorry, I understood... I was misled by the fact that other implementations actually use one path ID per neighbor i.e. one path ID per neighboring BGP session (and replacement/withdrawn of a route occurs on same path-ID and same network). By chance is there the possibility to activate that in FRRouting? Thanks!

[2018-02-20 16:31] donaldsharp commented on #1759
This is in master currently and the bgp part is in a open PR #1739

[2018-02-20 16:31] #1759 closed

[2018-02-20 16:32] #1760 closed

[2018-02-20 16:33] donaldsharp commented on #1763
I'll submit a PR for 3.0 to get this fixed.

[2018-02-20 16:39] donaldsharp commented on #1769
1) PBRd is being worked on by Cumulus as that this will have interactions let's sit down as a group and nail down the architecture.  Meeting to be scheduled as we get a bit more clarity

2) Olivier suggests opendaylight as a test infrastructure.

[2018-02-20 16:54] pguibert6WIND commented on #1769
this implies
- that the controller part is out of the scope of this issue.
- some other rfcs (rfc7674 )  and drafts will be supported ( draft-simpson-idr-flowspec-redirect-02)

for topotest, I think most of the test can be used with  exabgp.
however some testing may require other manager.

[2018-02-20 19:40] devicenull commented on #1565
So, `setageing 0` is definitely not correct.  Despite what the docs seem to suggest, setting this to 0 results in mac addresses immediately dropping out of the bridge fdb.  This essentially turns the bridge into a dumb hub, and causes any traffic to get broadcast out to all the VTEPs

[2018-02-21 14:38] dwalton76 commented on #1743
We do not have anyone working on such a feature...what does it buy you?

[2018-02-21 15:02] auranext opened #1771 "ZEBRA local mac learning pb with bridge vlan filtering"
Hello,

In my VXLAN lab consisting of 2 servers I use BGP/EVPN to maintain the consistency of L2 tables.
Each server learns correctly remote and local macs
When I enable vlan fitering on a bridge linked to a VXLAN, Zebra is no longer able to learn local MACs.
and return : could not find VNI

I think Netlink message is the same when brigde is VLAN filtering enable or disable

here the Zebra logs :

[2018-02-21 18:40] devicenull opened #1774 "Logging annoyance"
<pre>
# sh log
Logging configuration for zebra:
Syslog logging: disabled
Stdout logging: disabled
Monitor logging: level debugging
File logging: level debugging, filename /var/log/frr/frr.log
Protocol name: ZEBRA
Record priority: disabled
Timestamp precision: 0

Logging configuration for bgpd:
Syslog logging: disabled
Stdout logging: disabled
Monitor logging: level debugging
File logging: level de

[2018-02-21 20:36] amanshaikh75 commented on #1759
Can you tell me what the format of the message should be when client wants to instruct Zebra to add "<MPLS_label> dev <vrf_name>" route?

thx
aman

[2018-02-21 20:55] donaldsharp commented on #1759
Look at shard/sharp_zebra.c for zclient_send_vrf_label(...) and in lib/zclient.c

[2018-02-21 22:08] louberger opened #1777 "indent.py should report required minimum clang-format version"
If a version of clang-format is too old, it shouldn't be used by indent.py

Per @qlyoung from slack:
lberger [2:20 PM]
@mwinter @qlyoung I just updated https://github.com/FRRouting/frr/pull/1428, by running indent.py on *.[ch] in directories following the community rules and am getting a bad format CI error - something is wrong here... See https://ci1.netdef.org/browse/FRR-FRRPULLREQ-CHECKOUT-2620

[2018-02-21 22:10] louberger opened #1778 "docs need to specify which version of clang-format needs to be used and how to install it"
from slack:
lberger [2:20 PM]
@mwinter @qlyoung I just updated https://github.com/FRRouting/frr/pull/1428, by running indent.py on *.[ch] in directories following the community rules and am getting a bad format CI error - something is wrong here... See https://ci1.netdef.org/browse/FRR-FRRPULLREQ-CHECKOUT-2620

qlyoung [2:56 PM]
then your version of clang-format is too old
error found is already e

[2018-02-22 10:05] bodleytunes opened #1780 "BGP unumbered peerings question"
Hi

I'm testing LXD containers peering BGP using the unumbered scheme.

The Interface that is being peered with is the LXD host openvswitch bridge and as such is a single interface (vlan_100).

I've noticed that if you have more than one container try to peer with the openvswitch bridge one of the peerings will work and the any of the others will get a TCP RST.  It is like this type of setup doesn

[2018-02-22 12:47] pguibert6WIND opened #1782 "VRF backend netns / enhance debug vty command for troubleshooting netns"
Question: do we have to introduce netns keyword ?
or do we have to add a subelement for vrf, so that we could separately debug either vrf netns backend or logical-router feature ?

choice 1 :
[no] debug netns

choice 2 :
[no] debug vrf netns

[2018-02-22 12:49] pguibert6WIND opened #1783 "VRF backend netns / netlink_talk() should be used by zebra_netns_nsid* files."
The action of getting/setting a NSID can be integrated into netlink_talk() procedure.
This would simplify code.

[2018-02-22 13:04] donaldsharp commented on #1782
End user probably doesn't care about netns or vrf backend usage

`debug vrf`

[2018-02-22 15:00] pguibert6WIND opened #1786 "checkpatch / error seems to apply to original file instead of both original and modified one"
when submitting #1711 ,
checkpatch complains about a codeblock I did not write, but merely improved

git show dfaa040b6069 zebra/rt_netlink.c
====================
![image](https://user-images.githubusercontent.com/16295538/36545722-777f993c-17e1-11e8-86b1-45d4d713b826.png)

====================

complaint is the following:
Report for rt_netlink.c
===============================================

If

[2018-02-22 15:54] qlyoung commented on #1786
I agree, self-assigned

[2018-02-22 22:24] amanshaikh75 commented on #1759
Perfect. Using this I was able to add an MPLS route of form "<MPLS_label> dev <vrf_name>". However, when the process that added the route died, Zebra did NOT withdraw the route. Should Zebra be doing this automatically when the zclient goes away OR is the process supposed to explicitly signal this to Zebra before dying? If latter, what's the way to achieve this?

[2018-02-22 23:07] donaldsharp commented on #1759
This is a bug.  Feel free to file an issue

[2018-02-22 23:23] amanshaikh75 opened #1787 "ZEBRA_VRF_LABEL routes are not removed from kernel when the zebra client process disconnects"
Let's assume a zebra client process sends a ZEBRA_VRF_LABEL command. This correctly results in zebra daemon adding an MPLS route to kernel -- the route is of the form "<label> dev <vrf_name>". However, when the client process disconnects from the daemon, zebra fails to remove the route from its own RIB and kernel forwarding table.

[2018-02-22 23:23] amanshaikh75 commented on #1759
Done. https://github.com/FRRouting/frr/issues/1787

[2018-02-23 07:29] pguibert6WIND commented on #1786
the same happens on file interface.c

I suppressed a space in calling kernel_neigh_update(), but the script is signaling an error whereas I fixed it.

build	22-Feb-2018 09:45:29	> WARNING: space prohibited between function name and open parenthesis '('
build	22-Feb-2018 09:45:29	> #814: FILE: /tmp/f2/interface.c:814:
build	22-Feb-2018 09:45:29	> +	kernel_neigh_update (0, ifp->ifindex, ipv4_ll.s_ad

[2018-02-23 07:31] pguibert6WIND commented on #1786
I did not look at the internals of the script, but if a solution is hard to find, could it be possible to mitigate it. among solutions:
- review the pull request and manually inform the checkstyle is ok
- to mitagate the script, if it is due to multiple commit pull request, what about fusing all commits in a single commit and get a patch to submit to checkstyle ?

[2018-02-23 13:05] pguibert6WIND opened #1790 "checkpatch / warning space between if macro (RB_FOREACH ) and parenthesis"
when I run manually checkpatch.pl, I get the following error

WARNING: space prohibited between function name and open parenthesis '('
#23: FILE: lib/netns_linux.c:132:
+	RB_FOREACH (ns, ns_head, &ns_tree) {

=> this is an if statement, so the space should be accepted.
no warning should be displayed.

[2018-02-23 13:09] pguibert6WIND opened #1791 "checkpatch / error with GPL license in [.ch] files"
following error appears when I run following script:./tools/checkpatch.pl *.patch .

ERROR: Do not include the paragraph about writing to the Free Software Foundation's mailing address from the sample GPL notice. The FSF has changed addresses in the past, and may do so again. Linux already includes a copy of the GPL.
#856: FILE: lib/netns_other.c:16:
+ * with this program; see the file COPYING; if

[2018-02-23 13:36] pguibert6WIND commented on #1786
any news on the issue @qlyoung ?
It seems the issue does not appear in checkstyle.pl.
So I am assuming something is wrong outside (  in the .sh script ?)

[2018-02-23 14:03] f0o commented on #1190
@stannous Any news?

[2018-02-23 16:02] pguibert6WIND opened #1794 "checkpatch / remove quoted string split across lines"
sometimes, we need to split the quote in two.
because we are in indented code, and the message we carry is big.

I think it would really bring improvements if that rule is not applied to frr code.

[2018-02-23 16:06] qlyoung commented on #1794
https://www.kernel.org/doc/html/v4.10/process/coding-style.html#breaking-long-lines-and-strings

[2018-02-23 16:52] qlyoung commented on #1778
I don't believe they do. `clang-format` is not responsible for formatting your files; you are.

[2018-02-23 17:11] qlyoung commented on #1786
closed by #1792

[2018-02-23 17:11] #1786 closed

[2018-02-24 06:24] #1790 closed

[2018-02-24 06:24] #1791 closed

[2018-02-25 18:23] Amar-Chaudhari commented on #1340
@mwinter-osr
Yes, I am using FRR 3.0.3.
I had to comment out **WatchdogSec=60s** in **/usr/lib/systemd/system/frr.service**
It was a clean install build from source as per the documentation here -https://github.com/FRRouting/frr/wiki/Building-FRR-on-CentOS-7

[2018-02-25 18:25] donaldsharp commented on #1340
Documentation is missing a `--enable-systemd=yes`.   I would rebuild with this.
Additionally I'll fix the doc.

[2018-02-25 18:49] Amar-Chaudhari commented on #1340
@donaldsharp
Trying to rebuild with the systemd flag but getting the following error.
[code]
**Error:**
`configure: error: enable systemd has been specified but systemd development env not found on your system`
**OS**
`CentOS Linux release 7.4.1708 (Core)`

[2018-02-25 18:50] donaldsharp commented on #1340
install systemd-devel

[2018-02-26 06:16] tynany commented on #1758
Yep, that does the trick. How can I help out by adding this to documentation?

[2018-02-26 07:19] qlyoung commented on #1758
At present the project lacks documentation on configuration file uses and locations, although this should be rectified in the near future. In the meantime if you wish to add a note, I would do it in this file:
https://github.com/FRRouting/frr/blob/master/doc/vtysh.texi

[2018-02-26 10:44] ak503 commented on #1669
excuse me. my config was wrong. I close this issue and will be testing again

[2018-02-26 10:44] #1669 closed

[2018-02-27 05:07] tynany opened #1803 "frr configuration items causing issues for /usr/bin/vtysh"
The below default configuration items cause a buffer_flush_available error when passing configuration to /usr/bin/vtysh.
[code]

As an example:
[code]
Notice the last line with the buffer_flush_available error.

Now if we exclude the frr configuration items, there is no error.:
[code]

This is especially an issue with the reload script as it uses /usr/bin/vtysh to parse configuration.

For example

[2018-02-27 13:54] #1747 closed

[2018-02-27 14:26] #1743 closed

[2018-02-27 16:05] donaldsharp commented on #1771
@mkanjari Can you take a look at this?

[2018-02-27 16:06] donaldsharp commented on #1774
@devicenull can you give us exact steps to reproduce as well as your configure line?  We've never seen this.

[2018-02-27 16:13] donaldsharp commented on #1780
Unnumbered was designed to have only 1 neighbor( point to point ) per interface.

What I really am reading here is that you are trying to simplify the config.  I am not sure how to approach this issue with this setup.  I would look at peer-groups to help solve this issue

[2018-02-27 16:17] donaldsharp commented on #1794
I agree w/ Quentin, the debug line should be on one line to allow for grepping.  I find it extremely useful to do this and use it often.

[2018-02-27 16:17] #1794 closed

[2018-02-27 20:48] mkanjari commented on #1771
@auranext could you please enable logs (debug zebra kernel, debug zebra vxlan) and share it for further debugging ?

[2018-03-01 10:35] pguibert6WIND opened #1810 "Some Commands are not functional ( bgp update groups)"
dut-vm# show bgp update-groups
  <cr>
  SUBGROUP-ID        Specific subgroup to display detailed info for
  advertise-queue    Advertisement queue
  advertised-routes  Announced routes
  packet-queue       Packet queue
  statistics         Statistics
dut-vm# show bgp update-groups
dut-vm# show bgp update-groups advertise-queue
  <cr>
  advertise-queue    Advertisement queue
  advertised-routes  An

[2018-03-01 16:31] auranext commented on #1771
Hello,

I finally reproduced and more clearly defined the problem.
when @mac appears in the bridge the netlink message differs according to the bridge mode used (vlan unaware or aware)

**in vlan unaware mode the message is as follows**
`52:54:00:88:88:88 dev vk61 master br8888`
Zebra works fine, @MAC is communicated to BGPD and transmitted to BGP neighbors

**in vlan aware mode the message is as

[2018-03-02 11:48] pguibert6WIND commented on #1769
first pull request: https://github.com/FRRouting/frr/pull/1817

For the following steps, some technical information can be found
https://docs.google.com/presentation/d/1ekQygUAG5yvQ3wWUyrw4Wcag0LgmbW1kV02IWcU4iUg/edit#slide=id.g34379ce9b6_0_15

[2018-03-02 15:15] liuxyon opened #1820 "Not advertised to any peer inaccessible"
i have setup bgp and show bgp up get full table, why it is show inaccessible and  Not advertised to any peer?
what is need fix it?

show bgp 2001:19f0:ffff::1
BGP routing table entry for ::/0
Paths: (1 available, no best path)
  Not advertised to any peer
  64515
    2001:19f0:ffff::1 (inaccessible) from 2001:19f0:ffff::1 (108.61.115.55)
      Origin IGP, localpref 100, invalid, external
      Add

[2018-03-05 12:03] mimugmail commented on #1505
@donaldsharp Sorry for bothering again, I tried this with an IPv6 peer and then it's listed in address-family ipv4. Is this a bug on your side? I know it's not in your main focus, but perhaps it's only a one-liner for you :)

[2018-03-05 15:41] cfra commented on #1380
@liuxyon your issue is different. Apparently you do not have `frr-reload.py` installed in the correct place. How did you install FRR? If you have built it on your own, [the build instructions for Ubuntu 16.04](https://github.com/FRRouting/frr/wiki/Building-FRR-on-Ubuntu-1604#install-the-systemd-service-if-rebooted-from-last-step-change-directory-back-to-frr-directory) might provide you with the mi

[2018-03-05 16:22] cfra commented on #1803
Pull request #1822 should contain a fix for this.

[2018-03-05 16:43] cfra commented on #1380
@patrick7 investigating this, I found two issues. One concerns all cases and is fixed by #1822, the other affects only configs with bgp, those are fixed with #1833

[2018-03-05 17:31] cfra commented on #902
This has been merged as c837dfdecc6f1da5f85acfe5390cf99bea2a5337 on Sep 4 2017, so closing this lingering issue.

[2018-03-05 17:31] #902 closed

[2018-03-05 17:38] cfra commented on #1115
`--enable-systemd` controls whether `watchfrr` will send watchdog information to systemd.

When building without that flag and then using systemd with the provided `.service` files, systemd will encounter a watchdog timeout.

I am not really convinced if it is really necessary to support this combination though, so closing this for now. Feel free to reopen if you run in a real case where this is c

[2018-03-05 17:38] #1115 closed

[2018-03-05 20:34] donaldsharp opened #1829 "BGP unable to establish unnumbered interface based peers over bonds in a vrf"
[code]

How the bonds and vrf's are configured
[code]

[code]

[2018-03-05 20:35] donaldsharp commented on #1829
git bisect leads me to this commit causing the failure:
https://github.com/FRRouting/frr/commit/ec31f30d28b65a4820a44ac658e677840ed6f88b

Commit immediately before bgp is forming neighbors.

[2018-03-06 01:00] TimJSwan89 opened #1834 "libfrr.so build order"
I don't have permission to give this "help wanted" label, but I am needing help building the project.
There seems to be something wrong with how my `.so` files are linked.

Environment:
[code]

To reproduce:
[code]

`make` tail:
[code]

[2018-03-06 01:37] donaldsharp commented on #1834
so I would recommend building following the documentation in doc/Building_FRR_on_Ubuntu_1604.md.

When I do not compile specifying the `LD=gcc` the compilation works for me.  I see your issue when I specify the LD=gcc, but do not when I don't.

[2018-03-06 08:28] pguibert6WIND opened #1835 "log messages not caught at startup by zlog_xxx"
When starting a daemon with its configuration, many log messages are lost.
This leads to difficulties in troubleshooting the init mechanism with traces.

I see at least two sub-issues :
- how to have zlog mechanisms work even before loading the starting configuration
- is there a way to benefit from debug vty commands, even before the config is loaded?

[2018-03-06 09:27] auranext commented on #1771
@mkanjari with these new elements could you have a look ?
thank you

[2018-03-06 10:27] pguibert6WIND opened #1836 "OSPF / inconsistency in ospf config with substitute / not-advertise command"
following setup :
https://gist.github.com/pguibert6WIND/8727be9afabeb9b52efdde9f3f244c7c

shows that the not-advertise keyword  is not handled very well with substitute keyword.

either both keywords should be excluded ( because ospf do not mix those parameters together), or some extension should be found for substitute vty command so as to also handle not-advertise keyword

[2018-03-06 10:55] odd22 commented on #1835
+1
Got the same night mare when debugging SR. I didn't find suitable solution instead of adding temporarily some ugly `fprintf(stderr, ...)` in the code

[2018-03-06 11:03] donaldsharp commented on #1835
Don't use a log file and let the logs go to the system journal. I yse that for early start up

[2018-03-06 14:33] louberger commented on #509
@donaldsharp looks like this is still an issue - is it still on your plate?

[2018-03-06 16:07] donaldsharp commented on #1810
Waiting for CR, can we please add this as a PR against 4.0 as well?

[2018-03-06 16:09] donaldsharp commented on #1820
@liuxyon we are going to need the show run output for your config.  Additionally it would be nice to see a 'show ip route' before you bring up the feed.

[2018-03-06 16:11] donaldsharp commented on #1829
I have provided a setup for @pguibert6WIND to reproduce.  He has 2 fixes to this.

[2018-03-06 16:36] amanshaikh75 opened #1839 "Adding BGP/MPLS VPNv4 route to Zebra"
Hi

I'd asked on the FROG mailing list, but did not get a response. So, I am opening an issue here.

I am trying to use FRR/Zebra BGP/MPLS L3-VPN. To make this work, I need to install route in Linux kernel via Zebra at the ingress LSR/PE. Let me explain through an example.

Let's assume the ingress LSR receives following route from the egress LSR/PE:

[code]

Let's assume a VRF with id 'v' imports

[2018-03-06 16:48] pguibert6WIND commented on #1829
https://github.com/FRRouting/frr/pull/1840

[2018-03-06 19:40] qlyoung commented on #1725
Looks like LSA not getting deleted when ospf6d is dying. Low priority.

[2018-03-06 19:41] qlyoung commented on #1726
@rzalamena seen anything new here?

[2018-03-07 02:24] #1829 closed

[2018-03-07 09:10] pguibert6WIND opened #1845 "simplify network initialisation of BGP with vrf-lite/vrf-netns backends"
Before, the BGP network initialisation was relying on a single network socket for all ( BGP with or without VRF lite).
Introducing vrf with netns changes the initialisation, and the BGP socket creation is conditioned to the availability of the VRF. This has been extended to BGP socket creation on VRF that are unknown.

Now, the BGP code is not yet clean, and there is not yet a network wrapper to h

[2018-03-07 10:36] mwinter-osr commented on #1724
This needs to be committed to dev/4.0 (and probably is rated as a stopper for 4.0 - missed it at meeting). This is a crash, but was opened against 4.0, but only committed to master.

[2018-03-07 13:50] #1810 closed

[2018-03-07 15:06] qlyoung commented on #1724
Done

[2018-03-07 15:06] #1724 closed

[2018-03-08 02:40] gpziemba opened #1850 "vrf route nexthop resolution via multiple routes in default vrf sometimes missing outer label"
This issue is observed using the code in pull request "bgpd: vpn - vrf route leaking #1739" (LabNConsulting:working/master/bgp-vpn-vrf-leaking)

[code]
[pe3-zebra.log](https://github.com/FRRouting/frr/files/1791652/pe3-zebra.log)

[2018-03-08 08:09] subsecond opened #1851 "IPv6 RA should include all on-link prefixes as prefix information"
# Problem Description

While doing a series of tests with FRR 3.0.3 using a combination of `no ipv6 nd suppress-ra` and `ipv6 nd prefix...` I discovered that FRR 3.0.3 does not send any prefix information in the RA when `no ipv6 nd suppress-ra` is set on an interface with one or more GUA address(es) configured on that interface.

According to [RFC 4861 ](https://tools.ietf.org/html/rfc4861) a rout

[2018-03-08 11:29] f0o commented on #1190
@donaldsharp / @mwinter-osr  - Do you guys know if there's any progress on this issue?
It's been open for quite a while and it's rather tedious not to know what peers are doing well which arent via SNMP

[2018-03-08 11:32] f0o commented on #509
It's worth to mention that this isn't just about vpn|encap. I'm unable to see any advertised routes from any peer.

They do work initially but after a while (days) it's just empty. I still need to ask my peers to tell me what I advertise to them, which is a bit of a hassle ;)

[2018-03-08 14:46] bodleytunes commented on #1780
OK thanks I'll have another look into it :)

Cheers,
Jon.

[2018-03-08 14:50] bodleytunes commented on #1780
I think my original idea was to use unumbered scheme as it meant not having to use large swathes of ipv4 ranges to allow containers, of which there could be many, to peer with the bridge and advertise their loopbacks and thus provide mobility if they are migrated from one host to another.   I thought the fact it uses link local to peer meant saving a lot of admin overhead and creating big ipv4 IPA

[2018-03-08 17:55] donaldsharp commented on #1850
@paulzlabn - Can we get debugs for 'debug zebra mpls' and 'debug zebra rib detail'

[2018-03-08 18:16] rwestphal commented on #1850
This is a known issue. The NHT codes doesn't keep track of label changes, so if bgpd converges before ldpd you'll have problems. I'll assign this to myself and see if I can provide a solution.

[2018-03-08 19:23] paulzlabn commented on #1850
'debug zebra rib detail' should already have been set in previous zebra log; in any case, I also added 'debug zebra mpls'  and reran.
[pe3-zebra+mpls.log](https://github.com/FRRouting/frr/files/1794500/pe3-zebra.mpls.log)

[2018-03-08 19:52] rwestphal commented on #1845
Thanks for opening this issue. In my understanding, the root of the problem is that bgpd needs to act differently depending on which VRF backend is in use. When using the VRF-lite backend, a single TCP listening socket is created for all VRFs (the code assumes that the `tcp_l3mdev_accept` sysctl option is enabled). When using the netns backend, a separate TCP listening socket is created for each V

[2018-03-08 19:57] rwestphal commented on #1839
I think this question is rather vague. What are you trying to accomplish?

Support for L3VPNs is a work in progress as of now (see #1739). Once it's implemented, bgpd will send regular `ZEBRA_ROUTE_ADD` messages to zebra to add routes to VRFs. If that doesn't answer your question, could you provide more details on what you're trying to do?

[2018-03-08 19:59] rwestphal commented on #1622
I'm glad it worked for you Aman. I'll close this issue.

[2018-03-08 19:59] #1622 closed

[2018-03-09 02:34] mwinter-osr commented on #1726
This doesn't happen anymore with FRR 4.0 as of 2018-03-07 (Git sha 5a2bd15)

[2018-03-09 02:36] mwinter-osr commented on #1727
First leak (of 2760 bytes) does no longer happen with FRR-4.0 as of 2018-03-07 (Git sha 5a2bd15), but the remaining leaks are still present

[2018-03-09 02:37] mwinter-osr commented on #1725
Still exists in FRR 4.0 as of 2018-03-07 (Git sha 5a2bd15)

[2018-03-09 12:19] #1726 closed

[2018-03-09 16:19] amanshaikh75 commented on #1839
In the context of bgpd, does it send the route as 'Labeled NLRI = { prefix = 10.0.0.0/24, label = 100 }, next-hop = 192.168.0.2' using ZEBRA_ROUTE_ADD message? If so, will zebra resolve the next-hop 192.168.0.2 using the route 'IPv4 prefix = 192.168.0.2/32  push label = 20 next-hop = 10.1.100.2' and install a route in VRF v's kernel forwarding table of this form: 10.0.0.0/24 encap 20/100 via 10.1.

[2018-03-09 16:32] rwestphal commented on #1839
Good question. Yes, the `ZEBRA_ROUTE_ADD` message allows the client daemons to add all sorts of routes to zebra. A daemon can specify a different number of nexthops for each route and up to 16 MPLS labels for each nexthop. It's also possible to set the VRF ID of the nexthops to the ID of the global VRF, this way the nexthops of VRF routes will be resolved in the global VRF, which is what you want

[2018-03-09 16:47] amanshaikh75 commented on #1839
Yes, this does. Thanks a bunch.

[2018-03-09 17:38] #1839 closed

[2018-03-09 19:02] ne-vlezay80 opened #1856 "Debian package build failed"
`
ne-vlezay80@ne-vlezay80:~/sources/frr$ debuild --no-conf
 dpkg-buildpackage -rfakeroot -D -us -uc
dpkg-buildpackage: пакет исходного кода frr
dpkg-buildpackage: версия исходного кода 4.1-dev
dpkg-buildpackage: дистрибутив исходного кода RELEASED
dpkg-buildpackage: исходный код изменён FRRouting-Dev <dev@lists.frrouting.org>
 dpkg-source --before-build frr
dpkg-buildpackage: архитектура узла amd6

[2018-03-09 19:21] ne-vlezay80 opened #1857 "With rtrlib build failed"
make[3]: вход в каталог «/home/ne-vlezay80/sources/frr/bgpd»
  CC       bgpd_rpki_la-bgp_rpki.lo
bgp_rpki.c:47:27: fatal error: rtrlib/rtrlib.h: No such file or directory
 #include "rtrlib/rtrlib.h"
                           ^
compilation terminated.
Makefile:951: ошибка выполнения рецепта для цели «bgpd_rpki_la-bgp_rpki.lo»
make[3]: *** [bgpd_rpki_la-bgp_rpki.lo] Ошибка 1
make[3]: выход из катал

[2018-03-09 22:59] ajones-rvbd opened #1859 "Build alpine linux packages"
Currently, FRR supports redhat and debian packaging.  Add alpine packaging to the supported package formats.  From https://alpinelinux.org/ :

"Alpine Linux is a security-oriented, lightweight Linux distribution based on musl libc and busybox."

It is used as the base distro for docker images and targets embedded devices, including network devices.

[2018-03-09 23:06] ajones-rvbd commented on #1859
I have a sketch of this in a local git repo, cleaning it up for review...

[2018-03-10 12:44] ne-vlezay80 opened #1862 "Install frr to debian sid"
dpkg: dependency problems prevent configuration of frr:
 frr depends on libc-ares2 (>= 1.7.0); however:
  Package libc-ares2 is not installed.
 frr depends on logrotate (>= 3.2-11); however:
  Package logrotate is not installed.
 frr depends on iproute; however:
  **Package iproute is not installed.**

dpkg: error processing package frr (--install):
 dependency problems - leaving unconfigured
Proc

[2018-03-11 08:57] n3wtype opened #1864 "Extremely high CPU usage on zebra/netlink with two full iBGP sessions"
Hey,

I have been doing some simple tests of frr. The configuration is straightforward. One frr box connected with two routers over iBGP, session established between loopbacks, OSFP underneath, nothing fancy. FRR box is only accepting prefixes not sending anything. Once both sessions establish, zebra CPU usage goes 100% on single core. According to provided outputs bgp client is causing some insan

[2018-03-11 10:12] n3wtype commented on #1864
I think I found the root cause. It was some route oscillation case caused by misconfiguration. One of connected subnets (let's say x.x.x.0/30) towards upstream "A" wasn't advertised into OSPF.

FRR have received bunch of prefixes from upstream "A" via single iBGP with nex-thop value set to x.x.x.1 and localpref=1400

1. FRR resolved nexthop x.x.x.1 via the x.x.0.0/16 with local pref 1000 received

[2018-03-11 11:09] ipinlnd opened #1865 "ISIS multiple packets on bpf"
With the current implementation of ```isis_recv_pdu_bcast``` , when multiple packets arrive at the same time, we would only process the first packet, and ignore the rest. I suggest we add a loop to parse the ```readbuff``` fully and process every packet.

[2018-03-11 12:10] donaldsharp commented on #1864
@dslicenc is already working on this issue.  He'll mark this issue as the committing issue

[2018-03-11 12:16] donaldsharp commented on #1865
@ipinind -> isis_receive is resetting the read event and we should come right back with more than 1 packet to read in at one time.  Do you have an example of this not working?

[2018-03-11 13:48] ipinlnd commented on #1865
@donaldsharp Well, in my case, when I had 2 FRRs, directly connected to each other, they could only see the level-1 hello messages and therefore, wouldn't be level-2 neighbors. When I tried to see where the problem was, I found out that level-1 and level-2 hellos, are almost sent at the same time. In this case, the receiving side's bpf, would capture both packets at once. Now the current implement

[2018-03-11 14:10] donaldsharp commented on #1865
@cfra can you take a look at this issue?

[2018-03-11 18:06] patrick7 commented on #1862
apt-get -f install?

[2018-03-11 22:39] rzalamena commented on #1865
I've just looked over the code and it seems that the problem is that the BPF socket is being flushed here:
https://github.com/FRRouting/frr/blob/master/isisd/isis_bpf.c#L253

(right after the packet read)

According the man page ( https://www.freebsd.org/cgi/man.cgi?query=bpf ):
[code]

I don't think we need to do this and I'm almost sure this is the culprit, but I have no ideia if this was ever a

[2018-03-12 05:00] ipinlnd commented on #1865
@rzalamena I haven't tried it yet, but i don't think, removing the flushing, would help. Because we ARE reading the packet. We're just not processing it. I mean without flushing, we still have read both packets, so bpf would be empty either way.

[2018-03-12 06:26] ipinlnd commented on #1865
@rzalamena I checked and removing the flush, didn't fix my problem. In my own solution, I brought ```isis_handle_pdu``` declaration to isis_pdu.h, and instead of using it in ```isis_recieve``` function, I used in the the ```isisi_bpf.c``` . Then, I used while loop to parse the ```readbuff``` for multiple packet, and after getting every packet, I called ```isis_handle_pdu``` . For example, in my ca

[2018-03-12 11:05] auranext commented on #1771
@donaldsharp  @mkanjari
hello, Mitesh , I m sorry to insist, would you have forgotten me?
would you mind taking a little moment to answer me ?
I don't know if it's a malfunction or a misuse, but it's a bit blocking me.
thank you

[2018-03-12 12:20] donaldsharp commented on #1865
@ipinlnd Why don't you create a PR with your fix?

[2018-03-12 14:31] patrick7 commented on #1467
I think we should :-)

[2018-03-12 14:33] patrick7 commented on #1372
Any news on this? :)

[2018-03-12 14:33] patrick7 commented on #1190
+1

[2018-03-12 14:34] patrick7 commented on #987
Any news? :-)

[2018-03-12 15:09] ipinlnd commented on #1865
@donaldsharp I felt like it should be discussed first...

[2018-03-12 16:05] cfra commented on #1865
@ipinlnd this looks generally correct. Can you submit a pull request?

[2018-03-12 17:03] ipinlnd commented on #1865
@cfra Sure, I'll do it tommorow :)

[2018-03-12 19:51] rzalamena opened #1874 "BGP VRF (netns) test failures"
It was noticed recently that the netns tests are failing too often. After some investigation it seems that the bug lies in `i386` VRF with netns.

Here are some samples of failing tests (i386):
* https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPOI386-2838/artifact
* https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPOI386-2848/artifact
* https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPOI386-2845/artif

[2018-03-12 20:24] louberger commented on #1874
I have a pull request in to address the timing issue on AMD ... it failed
another test, and have no idea why

On March 12, 2018 3:51:51 PM Rafael Zalamena <notifications@github.com> wrote:

[2018-03-12 21:55] rwestphal commented on #1874
I think this problem is already affecting our normal workflow. Couldn't we temporarily disable the netns topotest until the problem is found and fixed?

[2018-03-12 21:57] codyjohn opened #1877 "Support for read-only CLI access"
We have operational support folks who need to have read-only access for troubleshooting purposes.  Checking for routes, status of routing protocols, etc.   We need a way for non-root users to be able to access vtysh and implement "show" commands, but not be able to enter config mode or make any changes to the config.

[2018-03-12 22:58] patrick7 commented on #987
Still not working in v4

[2018-03-13 00:30] Wouter0100 opened #1878 "ospf6d crashes when receiving routes"
I've been playing with FRR lately to deploy IPv6 and to play with FRR, where I first had Quagga on VyOS, this issue unfortunately also occurred. But now everything is running on FRR, that's why I'm reporting it here.

We have a fairly easy setup: 2 Ubuntu 16.04.4 LTS machines (running FRR in Snaps) both interconnected and connected to 2 Juniper switches in a VC. When one of the Ubuntu machines reb

[2018-03-13 04:01] k0ste opened #1879 "frr 4.0: make: vtysh: warning _FORTIFY_SOURCE requires compiling with optimization (-O)"
[code]

[2018-03-13 09:09] pguibert6WIND commented on #1874
- I am looking right now the i386 issue.
I am surprised that i386 is still in use ( 32 bit). On last week discussion , we discussed EOL for some linux distros, but we did not discuss 32 bit. I assume this is because 32 bit is still popular.
- for the timer issue, I think Lou may have some idea behind that.

[2018-03-13 09:43] louberger commented on #1874
#1876 fixes the issue, but agree that this is probably avoidance rather than a root cause fix

[2018-03-13 11:28] louberger commented on #1874
@pguibert6WIND It looks to me that an error return (-1) may be mapped into VRF_UNKNOWN...

but this is just a WAG based on

2018/03/11 05:12:53 ZEBRA: VRF 4294967295 is to be deleted.

[2018-03-13 11:43] pguibert6WIND commented on #1874
There are 3 issues, including 2 blocking, that I can see
- the display ( out of scope for now). displaying -1 instead of 4294.
This is not what triggered the opening of the issue
- an impossiblity to use NETNS on the 32bit system I used ( I used 4.5 kernel on 32 bit system, and I could not figure out how to make netns work until now).
- an inconsistency that indicates that zebra vrf considers ZVRF

[2018-03-13 12:52] pguibert6WIND commented on #1874
for timer issue: increasing timer from 90 to 120 does not solve the issue.

[2018-03-13 13:05] rzalamena commented on #1874
New artifacts output:
https://ci1.netdef.org/artifact/FRR-FRRPULLREQ/TOPOU1604/build-2863/TestExecutionLogs/bgp_vrf_netns.test_bgp_vrf_netns_topo

Seems that zebra is crashing even on `amd64`:
**zebra output**
[code]

**zebra error output**
[code]

[2018-03-13 13:23] pguibert6WIND commented on #1874
ok. I Get it.
both issues are related to the way frr is compiled ( user capabilities...).
#1880 should give the answer to the fixes.

and I think topotest #77 should be reverted

[2018-03-13 13:56] pguibert6WIND commented on #1874
let's see what https://github.com/FRRouting/frr/pull/1880 will output as test result.

[2018-03-13 14:59] pguibert6WIND commented on #1874
it seems to be better.
I just remove the first and last commit from the review.
IT should be ready to be merged.

[2018-03-13 15:09] pguibert6WIND commented on #1874
https://github.com/FRRouting/frr/pull/1880

[2018-03-13 15:20] donaldsharp commented on #1850
2 cases here:

1) no labels on nexthops that we are going to recursively resolve to
   bgp should not attempt to install the route in this case

2) X way ecmp where we have Y way labels( X > Y) zebra should resolve appropriately when labels are added removed and notify bgp so it can make the right decision.

[2018-03-13 15:23] donaldsharp commented on #1857
Have you installed the rtrlib package?  The ci system has it @mwinter-osr can you provide a link for it?

[2018-03-13 15:29] qlyoung commented on #1879
@k0ste this could show up under a variety of circumstances, some of them being our problem, others not.
What were your compiler flags for this?

[2018-03-13 15:32] mwinter-osr commented on #1857
You are missing rtrlib libraries. You can get them pre-built from our CI system at
https://ci1.netdef.org/browse/RPKI-RTRLIB/latestSuccessful/artifact
or you could build your own. See https://github.com/rtrlib/rtrlib

[2018-03-13 15:40] donaldsharp commented on #1845
1) Look at VRF_UNKNOWN 64 bit -vs- 32 bit in vrf.c
2) consider current topotest failures as an example of the type of issues we should fix as part of this PR

[2018-03-13 15:40] troglobit commented on #1344
Same here, while cross-compiling FRR v4.0 for a variety of platforms.  Hopefully someone can have a look at hosttools/clippy et al for the stable/4.0 series.  I tried looking into it, but it's a bit over my head since you seem to be moving away from the traditional recursive build and some makefiles are hand made without proper `$(top_srcdir)` prefix I dunno?

[2018-03-13 15:47] lucize commented on #1344
On openwrt, python host doesn't compile well with zlib enabled, for the moment I couldn't find the fix, I just disable zlib patch and the pip-install from host, who needs zlib

Maybe a bug report to python mantainers?

[2018-03-13 15:48] donaldsharp commented on #1877
This should be under consideration as part of the north bound api changes being worked on currently.  We feel that any solution that implements this needs to be carefully thought through and architected due to security issues.

If you need a workaround you can implement shell scripts that run `vtysh -c "show ..."` that would limit what is available

Individually you can setup passwords and have th

[2018-03-13 15:49] donaldsharp commented on #1878
@chiragshah6 can you take a look at this?  Has this already been fixed?

[2018-03-13 15:56] k0ste commented on #1879
[code]

[2018-03-14 12:16] mkanjari commented on #1771
@auranext sorry for the late reply. I was caught up with some other deliverables. I will take at look at this today and update.

[2018-03-14 14:09] donaldsharp opened #1887 "Static Route Refactoring"
Static routes are a weird little beast. They are read in and stored in a stable as a route entry.  When a new ecmp path is selected we search the stable for the static route find it, modify and directly interject the route into thesystem with rib_link/rib_unlink.  This causes some weird gyrations in zebra_rib.c as well as making static routes special in the code( which we have to handle ).  Additi

[2018-03-14 14:17] ipinlnd commented on #1865
The PR is at:
https://github.com/FRRouting/frr/pull/1888

[2018-03-14 14:24] pautiina commented on #1479
Hello. What about enchantment for this issue?

[2018-03-14 15:32] ipinlnd commented on #1865
Ok please forget the previous PR 😬

This is the new PR:
https://github.com/FRRouting/frr/pull/1891

[2018-03-14 15:52] liuxyon opened #1892 "install frr_4.0-1.ubuntu16.04.1_amd64 ubuntu 17.10 system dead"
when i  install frr_4.0-1.ubuntu16.04.1_amd64 with ubuntu 17.10 system dead and system cant restart.

at digitalocean  vps

apt --fix-broken install
Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following additional packages will be installed:
  libc-ares2 libjson-c2 libreadline6
The following NEW packages will be insta

[2018-03-14 16:15] liuxyon commented on #1892
Created symlink /etc/systemd/system/network-online.target.wants/frr.service → /lib/systemd/system/frr.service.

Progress: [ 89%] [###########

89% dead

[2018-03-14 16:23] qlyoung commented on #1892
I don't think this is an FRR bug, it sounds like a misconfiguration on your DO box.

[2018-03-14 17:12] paulzlabn opened #1895 "COMMUNITY.md: please add "how to run checkpatch.sh""
In #1883 we are discussing adding a description of checkpatch to the "Code formatting" section. @qlyoung  asked for an issue to update this section with instructions for a developer to run checkpatch on changes to be submitted.

[2018-03-14 21:53] riw777 commented on #1887
==
Figure out how to separate static routes out better. Remove/refactor stable usage and storage of static routes that can be inserted or not.
==

Definitely a good idea. Static routes should act just like any other process that installs routes in the RIB, rather than as a "special case."

==
Does this include making static routes a separate daemon to handle? Should we spawn a special pthread in z

[2018-03-15 04:43] ocochard opened #1899 "ZEBRA: ifam_read() doesn't read all socket data (on FreeBSD)"
Testing FRR 4.0 on FreeBSD, and lot's of (cosmetic only?) warning/error messages during checkup config or startup:
[code]

[2018-03-15 06:13] qlyoung opened #1900 "Fix CLI nits introduced w/ #1739"
Note to myself

[2018-03-15 13:29] f0o opened #1901 "frr 4.0: ospf6d compatibility issues with frr 3.0.3 neighbors"
[code]

First one (mac ending in 9c) is 4.0, 2nd one is 3.0.3 - just taken from tcpdump

4.0 has the neighbor in his list but 3.0.3 has nobody in it's list

[code]

[code]

This was working fine before the update on the first party.
Let me know if you want any other logs etc :)

[2018-03-16 08:41] yanecisco opened #1906 "OSPFv3: Supporting Authentication Trailer (RFC7166)"
Please add RFC7166 support to OSPFv3

[2018-03-16 13:13] mwinter-osr opened #1907 "FRR fails to run on FreeBSD (NS initialisation failure)"
This is with FRR master, git sha 6ca96cc  (March 14, 2018)

Compiling works, but trying to run aborts `zebra`, `ospfd` etc immediatly with:
[code]

[2018-03-16 14:26] lihongguang opened #1910 "OSPFv3: Supporting LSA fragment"
If ospfv3 cann't support the LSA fragment, there isn't a route convergence when many routes exist to a given network.

[2018-03-16 16:09] qlyoung commented on #1834
No response, closing.

[2018-03-16 16:09] #1834 closed

[2018-03-16 18:11] f0o commented on #1901
After reboot of 3.0.3, OSPFv3 works again.

Must've been a stale state in 3.0.3 :/

Closing.

[2018-03-16 18:11] #1901 closed

[2018-03-16 22:31] chiragshah6 commented on #1878
There were few issues in ospf6 route remove in general addressed. Need to check latest code and try the same configuration to collect further details.

Can you provide more logs 'debug ospf6 route memory', 'debug ospf6 lsa intra-prefix examin'  output.

Also two boxes configurations so I can try locally reproduce it.

P.S.  Based on backtrace api ospf6_route_remove is generic and used multiple pla

[2018-03-17 08:38] f0o commented on #1190
This is still an issue in FRR 4.0 :(

[2018-03-17 11:31] f0o opened #1917 "show advertised routes in bgp with peer-groups fail after a while"
Widening the scope of #509

Initially frr does report the advertised groups but eventually it will be reported empty. Specially when dealing with peer-group'ed neighbors.

Observed in:
- 3.0
- 3.0.1
- 3.0.2
- 3.0.3
- ~~4.0~~ Fixed

Let me know what kind of logs you'd like to have, and I'll fire them up in our prod-env

Ideally we should be able to backport the fix, do we know if that's possible?

[2018-03-17 19:02] mwinter-osr opened #1919 "RPKI packages fail to build on 32-bit systems"
This happens on FRR 4.0 and master - need to fix both branches

Trying to build the RPKI debian packages causes the following compile error:
[code]

[2018-03-18 12:07] #1919 closed

[2018-03-18 12:18] mwinter-osr commented on #1919
Thanks for fix. Was actually interesting that this only failed on 32bit.
(And thanks for Chris who was able to explain it: polling_period was always 32 bit unsigned [unsigned int], but temp was "long" which translated to 64bit or 32bit. But there is no warning if a 64-bit long is compared)

Will push to 4.0 as soon as the cherry-pick PR #1922 passes

[2018-03-19 02:09] dmbaturin opened #1923 "Licensing of babeld and ldpd"
All libraries under /lib are licensed under GPL, including zclient.h. This makes me wonder why LGPL is and has been included since Zebra times if none of the libraries is under LGPL. This implies that everything that links with them must also be under GPL.

However, babeld and ldpd are under MIT. Since they link with those libraries, their own license is moot: the composite work after compiling an

[2018-03-19 11:11] mwinter-osr commented on #1923
@dmbaturin You are correct, that the "composite work after compiling" is under GPL.
However, the source itself does not have to be under GPL. You can take the Babel or LDP
code and build it on your own (may need to modify it a bit) and use any other compatible
license to THIS PART for your own derivate work.

MIT/BSD licenses are compatible to GPL in a way, that we can copy and include code licens

[2018-03-19 11:18] mwinter-osr commented on #1892
Would love to know what went wrong, but I can't see how/what in FRR causes this.
You might also try to build the FRR for Ubuntu 17.10 (should work, just follow instructions
in `debianpkg/README.deb_build`. Sorry, not building on Ubuntu 17.10 by default at this
time.

PS: Was this an upgrade of new install? New install is even less likely to cause this as daemons are not started by default. But if

[2018-03-19 14:15] pguibert6WIND opened #1926 "upon moving an interface to an other netns, interface not removed from zebra interface list"
Init:
zebra is run with vrfwithnetns option.
a vrf netns is present : toto

Action done :
interface veth3 moved from netns default to netns toto
'''
ip link set dev veth3 netns toto
'''
Observation:
show interface from zebra dumps twice the same interface
'''
r1# show interface veth3
Interface veth3 is down
  Link ups:       0    last: (never)
  Link downs:     0    last: (never)
  PTM status: dis

[2018-03-19 14:19] rzalamena commented on #1865
Thank you @ipinlnd for the contribution, you code was merged here: https://github.com/FRRouting/frr/pull/1925 .

Should this code be also merged in `4.0` or `3.0`? I'm guessing this problem was recently caused by allowing FreeBSD/*BSDs to use `select()`/`poll()`, but I don't remember if it was included in the stable branches yet.

[2018-03-19 15:56] cfra commented on #1865
I tend to agree with that assessment. Could you do a cherrypick for 4.0 ?

[2018-03-19 17:02] ajones-rvbd opened #1930 "CentOS 7 chroot build failing"
When building the rpm packages from a dist tarball in a chroot (ensures that the BuildRequires is correct), we fail with errors like:

checking for CARES... no
configure: error: trying to build nhrpd, but libcares not found. install c-ares and its -dev headers.
error: Bad exit status from /var/tmp/rpm-tmp.FewvLf (%build)

We're also missing texinfo.  Testing a patch now...

[2018-03-19 18:09] qlyoung opened #1934 "Document relation of ABI + API to versioning scheme"
We need to start providing a versioning method for people who want to program against libfrr or the APIs exposed by various FRR components. Zebra currently has its compile time constant that vaguely indicates the feature level ZAPI is at, but IMO this information should factor into the `MAJOR.MINOR.BUGFIX` scheme for all APIs and for the libfrr ABI.

[2018-03-19 18:43] chiragshah6 commented on #1910
As part of PR #1341  Router and Intra Ara Prefix LSA fragmentation based on changing incremenatal Link State-IDs.
 https://github.com/FRRouting/frr/pull/1341

Do you still see an issue? Which specific LSA fragmenting is referred?

[2018-03-19 18:54] qlyoung commented on #1923
The only part we have under LGPL is two copy-pasted source files from `glibc`, specifically `lib/strlcat.[ch]`, which we use because it's a GNU extension.

In the project root we have a copy of the LGPL license, which itself says:

[code]

I would guess -- though I am not sure -- that the intent was to remain GPLv2 licensed and this was interpreted as an updated version of the GPLv2 license.

I am

[2018-03-19 19:57] liuxyon commented on #1892
This is not my configuration problem because I installed it with a brand new system. When the installation is not complete, the system has crashed and the system fails to start.I return to the normal installation with the old version of frr3.

[2018-03-19 20:04] liuxyon commented on #1892
What I mean is that it can't be installed at all. When the installation is halfway through, it makes the system paralyzed.

[2018-03-19 20:08] liuxyon commented on #1892
i can creat and offer new vps for your test.

[2018-03-19 20:41] qlyoung commented on #1429
I'm not really seeing this anymore

[2018-03-19 20:41] #1429 closed

[2018-03-19 20:51] #1150 closed

[2018-03-19 20:52] #1900 closed

[2018-03-19 22:23] ajones-rvbd commented on #1859
Minimal Alpine Linux support is now in, I think we can close this...

[2018-03-20 10:45] Wouter0100 commented on #1878
Excuse me. I meant `clear ipv6 ospf6 interface`, indeed. I mixed up with another command (`show`) while typing.

For some unknown reason, when calling `debug ospf6 route memory`, it won't show up in `show running-config`, like `debug ospf6 lsa intra-prefix examine` does.  Not sure if that's okay. And there does not seem to be a command like `show debugging ospf6`.

I've uploaded the configuration

[2018-03-20 12:51] rwestphal commented on #1874
Fixed by #1880.

[2018-03-20 12:51] #1874 closed

[2018-03-20 14:51] pguibert6WIND commented on #1926
after discussion with Renato, there is a reason why interfaces should not be deleted without reason:

    vrf lite use a move mechanism to move an interface from vrf1 to new vrf2
    we want to retain the configuration

so, I will make a new proposal in that branch to handle this case.
(1) moving an interface from a NETNS 1 to a NETNS 2 is supported in netlink messages, only on recent kernels. Tha

[2018-03-20 14:56] mwinter-osr commented on #1930
Fixed in master. I'll go a 2nd PR with the cherry-pick to 4.0. Please keep open until same issue s merged to 4.0

[2018-03-20 15:07] donaldsharp commented on #1892
@mwinter-osr can help you debug this @liuxyon but can do this next week.

[2018-03-20 15:10] donaldsharp commented on #1899
We need to be a bit smarter about what we try to read data against on a *bsd system for if_ioctl. @rwestphal can you comment here with a bit more data

[2018-03-20 15:11] donaldsharp commented on #1906
Added as a Feature Request.

[2018-03-20 15:11] #1906 closed

[2018-03-20 15:13] donaldsharp commented on #1910
@lihongguang have you tested since PR #1341 (4.0 and master? )

[2018-03-20 15:16] donaldsharp commented on #1917
@f0o when it is in this state does the peer receiving routes show that they are receiving data?

If this works on master ( and we assume it does since it is fixed in 4.0 ) it might be worth while doing a git bisect to figure out the happy commit which fixes this issue.

Barring that some sort of actual setup w/ how to reproduce would be awesome.

[2018-03-20 15:48] pautiina commented on #1899
Hello. It's problem have and on frr 3.0.3 stable.
This happens only at startup, and then sometimes.
[code]
[code]

[2018-03-21 00:46] donaldsharp commented on #362
This has been addressed in newer versions of code in FRR

[2018-03-21 00:46] #362 closed

[2018-03-21 00:47] donaldsharp commented on #367
Documentation added over xmas holidays

[2018-03-21 00:47] #367 closed

[2018-03-21 00:47] donaldsharp commented on #385
This has been integrated with FRR

[2018-03-21 00:47] #385 closed

[2018-03-21 00:49] donaldsharp commented on #457
@mwinter-osr do we need to track this as open issue still?

[2018-03-21 00:50] donaldsharp commented on #479
We've implemented several ways to allow fuzzing via zebra and bgp.  This is an ongoing effort and I don't see a need to keep this issue open at this point in time.

[2018-03-21 00:50] #479 closed

[2018-03-21 00:55] donaldsharp commented on #691
Issue is closed for lack of detail to debug and fix

[2018-03-21 00:55] #691 closed

[2018-03-21 00:56] #738 closed

[2018-03-21 01:00] donaldsharp commented on #853
I believe we can close this with the addition of the new documentation

[2018-03-21 01:00] #853 closed

[2018-03-21 01:02] donaldsharp commented on #958
@lucize do we need to keep this open with the Openwrt python issue discovered?

[2018-03-21 01:02] HaasCM commented on #367
Has the documentation been added on the FRRouting site? Or in-source?

[2018-03-21 01:03] lucize commented on #958
No, thank you!

[2018-03-21 01:03] #958 closed

[2018-03-21 01:09] #1251 closed

[2018-03-21 01:21] #1573 closed

[2018-03-21 01:24] donaldsharp commented on #1621
This has been done

[2018-03-21 01:24] #1621 closed

[2018-03-21 01:24] #1859 closed

[2018-03-21 04:13] qlyoung commented on #367
@HaasCM It is in the source tree (`https://github.com/FRRouting/frr/blob/master/doc/user/pim.rst) and will be on the website soon. We just transitioned to a new documentation system and should have much better web docs up in the near future.

[2018-03-21 04:16] HaasCM commented on #367
Thanks, this helps so much!

[2018-03-21 13:34] pguibert6WIND commented on #1907
@mwinter-osr , I would be happy to contribute if you could allocate me a freebsd access with the frr compilation folder installed, please.
thanks in advance,

[2018-03-21 13:58] auranext commented on #1771
@mkanjari
hello, Mitesh , have you made a diagnosis ?

[2018-03-21 17:14] qlyoung commented on #1879
@k0ste Those are configure flags, not compiler flags. Helpful, but since compilers (which one btw? gcc? clang?) don't build with `-D_FORTIFY_SOURCE` by default, I would like to know what specific options you passed to your compiler, and what version your compiler is.

I don't see this show up with the following flags to gcc:
[code]
which should cause the issue as I understand it.

[2018-03-21 17:55] qlyoung commented on #1465
@spale75 the maximum is somewhere around 251 now. And yes this is a limitation of how many tokens we accept on the CLI line in order to limit buffer / stack overflow.

[2018-03-21 17:55] #1465 closed

[2018-03-21 18:41] #1895 closed

[2018-03-21 18:50] #1930 closed

[2018-03-22 01:58] k0ste commented on #1879
I'm just mean I was don't change anything, only standard build from stable release.

[code]

[2018-03-22 02:27] qlyoung commented on #1879
@k0ste okay, thanks for the info. I'll take a look.

[2018-03-22 08:02] pguibert6WIND opened #1948 "VPN / It is not clear what will become vrf-policy under bgp node"
Discussion around vpn leak show that some CLI/code will become obsolete.
This is the case for current bgp/vrf-policy<> command configuration.

proposal from [0] show that vrf-policy configuration will be replaced with vpn-policy
But for now the vpn-policy does not exist.

That mechanism is , from my perspective , important because of the following points:
- vrf-policy was intended to be used for d

[2018-03-22 08:34] pguibert6WIND opened #1949 "VRF netns / on some cases, default VRF ID may not be 0"
The issue raised here is to deal with the need for zclient daemons to rely on zebra to get all vrf_ids, including the default VRF.
That implies:
- should default VRF bet set by default to VRF_UNKNOWN while zebra is not connected ?
( I would say answer is no, because one can use a zclient daemon in standalong mode without zebra, so we should expect a default vrf set correctly).

- should we have a

[2018-03-22 15:40] pguibert6WIND opened #1953 "checkscript / removed warning aligned from checkscript"
WARNING: __aligned(size) is preferred over __attribute__((aligned(size)))

this error in fact, presumably relies on a macro that is existing for kernel, but not for us.
for that, this warning should be removed

[2018-03-22 15:52] ak503 opened #1954 "what is peer-address in route-map?"
in route-map i can write
`set ipv6 next-hop peer-address `

What is peer-address?
it may be necessary: `set ipv6 next-hop peer-address A:B::F ` ?

[2018-03-22 17:07] pguibert6WIND commented on #1907
Hi @mwinter-osr , any news on freebsd availability?

[2018-03-22 20:20] donaldsharp commented on #1954
This command tells bgp to do this:

for Incoming updates set the nexthop to be the address that we have for the peer
for Outgoing updates rewrite the nexthop to be the outgoing peers ip address.

If you want a specific nexthop specified use 'set ip next-hop A.B.C.D' or 'set ipv6 nexthop X:X::X:X'

[2018-03-23 04:57] tynany commented on #1758
Looks like the documentation has been updated in FRR4.0, so I'll close this issue:

/etc/frr/daemons:
[code]

[2018-03-23 04:57] #1758 closed

[2018-03-23 08:10] ak503 commented on #1954
thank you!

[2018-03-23 08:10] #1954 closed

[2018-03-23 08:13] pguibert6WIND opened #1960 "VRF NETNS / Ability to inject Routes to Tables from non default VRF"
This ticket is to make possible usage of table_ids outside the default VRF:
This may be used for PBR, but also for FS.

2 choices thought to tackle this, until now:
- unify code as recommended in
this is a remark from https://github.com/FRRouting/frr/pull/1944/commits/0528d946d51e7095d8c073d2f846717fe8803fc4

When support for policy based routing for vrf netns, this code will not be unified.
I kno

[2018-03-23 18:59] amanshaikh75 opened #1962 "Links from user-guide are no longer working"
I am on https://frrouting.org/user-guide/. From there, if I click on a link like 'BGP', I get an error. The link takes me to a page with URL https://frrouting.org/user-guide/BGP.html#BGP which gives me '404 Not Found' error message.

[2018-03-23 19:43] ajones-rvbd commented on #1962
Works for me.  Browser cache issue?  Docs were down for a bit too, try again?

[2018-03-23 19:55] amanshaikh75 commented on #1962
Tried. But no success. Cleared cache. Tried a different browser. Still no luck.

[2018-03-23 20:05] ajones-rvbd commented on #1962
Yeah, makes sense to try that...

This is the link I see when hovering over "BGP": https://frrouting.org/user-guide/bgp.html

[2018-03-23 20:06] qlyoung commented on #1962
You are accessing the docs from a cache at one point or another. Try fetching them outside of your browser:
[code]

[2018-03-24 22:57] qlyoung commented on #1962
Closing this as I don't believe it's broken.

[2018-03-24 22:57] #1962 closed