[2019-11-20 18:58] rzalamena commented on #5308
Hi @vascojcm and @ak503 , I've opened a new PR ( #5391 ) with a possible fix for this problem, please let me know if that helps.

[2019-11-20 19:30] rwestphal commented on #5390
I had some problems with VRF-bound UDP sockets in the past too. Please check it out: https://github.com/FRRouting/frr/pull/3548#issuecomment-451575660

One of my comments was this:

Looks related to the problem you're reporting. If you try a recent version of an LTS kernel chances are this problem won't be present anymore.

Requiring those two sockoptions to be set in order to create VRF-bound soc

[2019-11-20 20:06] ton31337 commented on #3228
@rohitgeek could you test this with master branch? I've just tried to replicate this and no joy, I'm able to successfully establish the session with and without ebgp-multihop using loopback IPs.

[2019-11-20 20:51] jaredmauch commented on #5382
It appears that when you configure an IP address it tries to do a DNS resolution on it:
`2019/11/20 15:46:00 BGP: bmp[204.42.254.15]: hostname resolution failed`

which prevents it from connecting outbound to the BMP collector.

[2019-11-20 21:01] jaredmauch commented on #5382
Using a DNS name seems to have worked around this problem, but:

1) I believe you should be able to view sessions that are configured but not up
2) It looks like if you configure an IP address it does not work
3) If you configure an IP it doesn't appear the port is used/logged:

[code]

[2019-11-21 00:00] jaredmauch commented on #5382
Issue looks to be in `resolver_resolve` function/call or the handling of the response from this

[2019-11-21 00:15] donaldsharp commented on #5382
@jaredmauch -> I just pushed an experimental change to addresss this issue in https://github.com/FRRouting/frr/pull/5399  Possible you can compile and give it a try?

[2019-11-21 00:29] jaredmauch commented on #5382
There appear to be other conflicts with your tree that make it so I can't use it at present.. let me see if I can make it work.

[2019-11-21 00:30] donaldsharp commented on #5382
Maybe drop in on slack and I can help you work through the issues?

[2019-11-21 00:59] jaredmauch commented on #5382
worked with @donaldsharp and he pushed a new fix which addressed the issue in my testing

https://github.com/FRRouting/frr/pull/5399

[2019-11-21 01:04] jaredmauch opened #5400 "FRR: 7.2+ DNS changes not honored for BMP stations"
---------------

**Describe the bug**
If the DNS has changed for a BMP station name it doesn't follow the DNS change for new connections.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
remove config for BMP station
re-add config for the BMP station

**Expected behavi

[2019-11-21 01:14] jaredmauch opened #5401 "7.2: BMP does not show configured stations"
---------------

**Describe the bug**
`show bmp` does not include configured stations if they are not currently connected.  The behavior expected should likely mirror `show bgp` to show configured elements even if they are not currently connected.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr maste

[2019-11-21 03:34] fadedreamz opened #5402 "[bgp] docker image can not establish tcp connection with neighbor"
FRR - 7.1
---------------
I am trying to learn about frr and have a toy setup where two VM is communicating with each other. In one VM, frr is set to broadcast RIB with a single prefix, where in other VM frr is configured to just learn it. It works when both frr is running in VM, but as soon as I run the frr docker image it is not able to connect any more.

config in VM1
[code]

config in VM2
[cod

[2019-11-21 03:47] fadedreamz commented on #5402
with neighbor peer ttl-security hops 2, it works (so probably my suspicion was correct?). Still doesn't it defeats the purpose of the security? (both are sitting 1 hop away to each other).

[2019-11-21 10:23] Kevin-Chiang-1122 opened #5403 "Not support only IGMP enable case"
[Description]
If we enable only IGMP on interface, the data path will not work even the related route is existed.

[Steps to Reproduce]
1.Enter into interface mode and executes "ip igmp" to enable the IGMP capability on two interfaces. (Names : P1, P2)
2.Send IGMPv3 is_in report (11.1.1.1, 235.1.1.2) to P1.
3.Send corresponding multicast data packet (235.1.1.2) to P2.
4.Sniff packet on P1.

[Runni

[2019-11-22 03:21] abrahambinu83 commented on #5297
Hi Sara,

 Actually, below fix solve my issue partially (ie.If test  after keep alive timer expires, then its working as expected)
https://github.com/FRRouting/frr/pull/5355/commits/cfa8f7eb057b2314bfca96f9e358935dff27915b

Our issue is , pimd is starting a KAT timer for SSM. Do we need a KAT timer for SSM ?

Thanks
Binu

[2019-11-22 07:06] ak503 commented on #5308
Hi @rzalamena!  its work for me with udp_l3mdev_accept=1

[2019-11-22 09:31] leidemon opened #5411 "eigrp question for help"
I cross complier the frr code in mipsel; then I want to test eigrp on nhrp,
adn in the code (eigrp_packets.c),it  show as followed
2019/11/22 17:07:18 EIGRP: interface tun0: eigrp_read network address is not same [22.252.169.1]
2019/11/22 17:07:18 EIGRP: --lwd--line:991, me:22.252.169.41,him:2.252.169.41, ip:2.252.169.41.ei:22.252.169.41

I do not know why ? please frr term give me some suggestion

[2019-11-22 10:53] leidemon commented on #5411
add more messages:
log:
2019/11/22 18:11:16 EIGRP: --lwd--line:544, ip:22.252.169.1

2019/11/22 18:11:16 EIGRP: --lwd--line:557, ip:2.252.169.41.ei:22.252.169.41
code:
 544         zlog_debug("--lwd--line:%d, ip:%s\n",__LINE__,inet_ntoa(iph->ip_src));
 545         /* associate packet with eigrp interface */
 546         ei = ifp->info;
 547
 548         /* eigrp_verify_header() relies on a valid "

[2019-11-22 10:59] leidemon commented on #5411
use the last version7.2

[2019-11-22 11:38] ak503 commented on #4716
current state in master:
[code]

[2019-11-22 11:41] #4843 closed

[2019-11-22 13:35] donaldsharp commented on #5411
what's mask?  But it sure looks like we are receiving a packet that we think we originated.  Do you happen to have the same address configured in the interface?

[2019-11-22 18:22] ron5t opened #5414 "frr 7.2 - systemd startup log messages & missing staticd line in /etc/frr/daemons"
I'm using CentOS and was on frr 7.0, i uninstall frr 7.0 using rpm -e  then
install frr 7.2 using the rpm -i frr-7.2-01.el7.centos.x86_64.rpm

everything seems to be working but i do have on issue when i do systemctl status frr i get three error toward the top, error below
[code]
[code]

here is my /etc/frr/daemons
[code]

is there an issue with watchfrr? i did put this line in daemons just to see

[2019-11-22 18:34] qlyoung commented on #4716
just to be clear, you're saying the help text is wrong here, but the behavior is correct - right?

[2019-11-22 18:37] qlyoung commented on #5414
1. For the systemctl message - this isn't a bug, or an error, this is an informational message. We are very aware that it reads like an error and are going to fix it. But it just means it didn't find any currently running instances to clean up before performing a restart.

2. staticd and zebra are always started and so have been removed from `daemons`.

[2019-11-22 18:38] #5414 closed

[2019-11-22 18:40] ron5t commented on #5414
ok thanks, do i even need the watchfrr_options?
watchfrr_options=(-d -r /usr/sbin/servicebBfrrbBrestartbB%s -s /usr/sbin/servicebBfrrbBstartbB%s -k /usr/sbin/servicebBfrrbBst#opbB%s -b bB)

[2019-11-22 19:25] AnuradhaKaruppiah commented on #5297
You are right that if KAT is started the upstream entry will be held by reference till KAT expires. However in your test the OIL for (S,G) will become NULL. This will cause the JoinDesired macro to go to False and send a (S,G) prune immediately i.e. traffic should stop immediately (as @sarav511 has also pointed out).

True you have an entry hanging for sometime but for all practical purposes that

[2019-11-22 21:10] qlyoung commented on #5386
@smarcosmarco macvlan devices are netdevices like any other interface device in Linux. They are slaved to a physical interface. I am confused on whether you think you have to enable promiscuous mode (due to a misunderstanding of how macvlan works) or if you are referring to some specific issue in a vmware appliance (not clear to me which product you're talking about) where macvlan devices require

[2019-11-22 23:30] qlyoung commented on #5402
The traffic is being routed over `docker0`, incurring a ttl decrement. By default BGP requires neighbors to be directly connected. From a routing perspective this isn't the case.

Here's a good article on ttl-sec / ebgp-multihop:
https://www.dasblinkenlichten.com/ebgp-multihop-vs-ttl-security/

[2019-11-22 23:30] #5402 closed

[2019-11-23 11:25] ak503 commented on #4716
Yes!

[2019-11-23 15:10] fadedreamz commented on #5402
@qlyoung  thank you for the reference. Have a great day!

[2019-11-23 21:46] qlyoung commented on #5386
@polychaeta autoclose in 1 day

[2019-11-24 21:34] acharaj commented on #5056
@Spantik do you have any updates on this?

[2019-11-25 00:45] qlyoung commented on #5414
No, these options are baked in as defaults in 7.2, just comment the line
out.

On Fri, Nov 22, 2019, 1:40 PM ron5t <notifications@github.com> wrote:

[2019-11-25 03:59] leidemon commented on #5411
nhrp conf as follow，nhrp server ip is 22.252.169.1，the product is 22.252.169.41
interface tun0
	map 22.252.169.1 192.168.252.22 register cisco
	cisco-authentication prov
	multicast dynamic
	holding-time 255
	shortcut
	redirect
	non-caching
	multicast nhs

interface lo
	shortcut-destination

[2019-11-25 04:03] leidemon commented on #5411
the mask is strange，I will debug it if as soon as I have time
nhrp server ip is 22.252.169.1，the product is 22.252.169.41

[2019-11-25 04:09] k0ste opened #5424 "frr 7.2: frr-reload failed to reload frr.conf"
**Describe the bug**

When administrator deploy custom configuration (frr.conf), that is compatible with `frr` (frr service startups with this configuration without any errors), `frr-reload` helper can't work with exactly this configuration file.

- [x] Did you check if this is a duplicate issue?

**To Reproduce**
1. daemons.conf:

[code]

2. frr.conf:

[code]
3. `systemctl start frr`
4. `frr-relo

[2019-11-25 04:20] k0ste commented on #5424
Output from `vtysh -c 'show run' | tail -n +4 | vtysh -m -f -`

[code]

[2019-11-25 08:05] abrahambinu83 commented on #5297
1.   In frr 7.0 or in master of frr,  in pim_upstream_evaluate_join_desired function, there was no check for OIL List and  channel state (ch->ifjoin_state) was JOIN while calling pim_upstream_update_join_desired from ifchannel_delete. Because of this , pimd was not sending prune message. I think since you add that check in your new code (commit ID a53a9b3e6b28d2da6342dc705d9bf2299a831eaa),  this i

[2019-11-25 11:02] smarcosmarco commented on #5386
Hello @qlyoung
Keepalived add "mobile IP address" to the same interface and MAC.
In this case promiscuous mode is note needed.
Here an example where XXX.XXX.32.1/28 is managed by Keepalived:
[code]

Instead FRR need to use a different MAC as the documentation:

[code]
The result is that the virtual interface has two different MAC addresses and not just one.
This doesn't work without promiscuous mo

[2019-11-25 11:07] smarcosmarco commented on #5386
@polychaeta how to reopen the issue?

[2019-11-25 11:11] smarcosmarco opened #5425 "VRRP with unique MAC address #5386"
Please wait "office hours" before close the issues!
How to open again the the #5386 ?
Regards

[2019-11-25 14:43] vascojcm commented on #5308
hi @rzalamena, in order to test your fix how can I compile only the new bfdd code and create a new bfdd executable daemon.
Thanks

[2019-11-25 14:46] devicenull commented on #896
We don't use addpaths anymore, so I can't really say.  Probably not still relevant.

[2019-11-25 14:48] ton31337 commented on #896
@polychaeta autoclose in 1week.

[2019-11-25 15:18] rzalamena commented on #5308
@vascojcm

1.  Clone the FRR `stable/7.2` branch (it already got merged) or the `master` based branch `bfdd-vrf-fix` in OpenSourceRouting/frr[1].

2.  Follow your Linux distro / BSD building guide here:
http://docs.frrouting.org/projects/dev-guide/en/latest/building.html

    (don't attempt to remove options or it might have different struct sizes or internal protocol differences)

3. Copy only th

[2019-11-25 15:52] aderumier opened #5426 "frr 7.2: bgpd crash on frr-reload (Could not find default BGP instance)"
Hi,
I have bgpd crashing on configuration reload, can reproduce 100%
maybe related to https://github.com/FRRouting/frr/pull/4384

initial config:

[code]

target config

[code]

/usr/lib/frr/frr-reload.py --reload /etc/frr/frr.conf

frr.log:
[code]

[2019-11-25 16:09] aderumier commented on #5426
/usr/lib/frr/frr-reload.py --reload /etc/frr/frr.conf --debug --stdout

[code]

[2019-11-25 16:49] rzalamena opened #5428 "FRR Northbound Migration Roadmap"
This issue will serve the purpose of tracking the current FRR efforts to implement and possibly migrate the CLI to the new northbound model.

There is a public branch for the development of the northbound here:
https://github.com/FRRouting/frr/tree/nb_conversions

Please comment here if you have plans to work on something.

## Implemented (YANG model + northbound)

*   `bfdd`
*   `eigrpd`
*   `lib

[2019-11-25 16:50] #5426 closed

[2019-11-25 16:50] aderumier commented on #5426
I'm closing it, i'm was testing with  frr6.

I have another bug for frr7.2, I'll open another issue

[2019-11-25 18:07] Spantik commented on #5428
Thanks Rafael for opening this issue for tracking. We will keep updating our status as comments here for tracking. We would be pushing yang files first for static, PIM, BGP.

[2019-11-25 18:13] AnuradhaKaruppiah commented on #5297
yes, skipping kat_start if pim_is_grp_ssm seems like the right thing to do. Maybe look for all places where the code is checking for is "kat_running" to make sure that it doesn't impact other processing. And if it does it is that code that needs to be fixed up. Closer we move the FRR state machine to the RFC easier the debugging.

[2019-11-25 18:29] #4714 closed

[2019-11-25 21:47] qlyoung commented on #5386
@smarcosmarco did you actually try it and see it not work? Or are you inferring based on the documentation?

The virtual interface does not have two MAC addresses, it has one.

[2019-11-25 21:47] qlyoung commented on #5425
Fair enough, reopened.

[2019-11-25 21:47] #5425 closed

[2019-11-25 22:19] smarcosmarco commented on #5386
I tried with two VM (FRR 7.2 + VRRP) in our environment without a good result.

A simple tcpdump show that packet are announced by the VM but do not arrive on the network/virtual network.

I have not tried to enable promiscuous mode to not impact our infrastructure. I will try tomorrow in a testing environment. I'm pretty sure that's the reason...

[2019-11-25 22:42] qlyoung commented on #5386
On which kernel?
What is the macvlan device mode?
What are your iptables rules?

Would you like to find out what the problem with your configuration is, or do you just want to know whether promiscuous mode is required for FRR VRRP to operate? If the latter - it's not. If the former - let's take a look at your configuration and see what the actual problem is here.

[2019-11-25 23:02] aderumier opened #5431 "frr 7.2: "zebra: move EVPN VTEP programming to dataplane" break routing through l3vni"
Hi,

since this commit
https://github.com/FRRouting/frr/commit/0bbd4ff44231a0b3015abb8594068d1183a65f43
I can't get routing working through l3vni.
(reverting this single commit from frr-7.2 tag make it working)

my setup is 2 physical hypervisors nodes, debian buster with kernel 5.0 (or 5.3), with 2 bridge+vxlan and a l3vni vxlan/bridge.
bridge vnet11 is anycast gateway with 10.0.0.1/24 , for a vm

[2019-11-26 00:58] aderumier commented on #5431
more info.
I thinked that reverting the commit was enough, but I really need to checkout the commit before this one.
 checkout 6252100f88a2fad0495deb4af26ebba1e96eb3a7

If I tcpdump the l3vni bridge
[code]
the node (10.59.100.232) ip is not in the arp table of node1 for brevpnzone bridge interface
[workinglog.txt](https://github.com/FRRouting/frr/files/3889501/workinglog.txt)

[code]
frr debug log

[2019-11-26 01:04] aderumier commented on #5113
Hi,I'm seeing same kind of error with frr 7.2
https://github.com/FRRouting/frr/issues/5431

I have bisect it,and find the commit when it's breaking.

[2019-11-26 07:38] k0ste opened #5433 "feature request: vtysh: add autocomplete neigbor address for 'clear' commands."
It's very handy to work with autocomplete peer addresses for `show` commands.

It'll be very useful for `clear` commands too.

![image](https://user-images.githubusercontent.com/7759548/69608528-3aee0580-105a-11ea-8ed9-a3a977e0ec81.png)

[2019-11-26 13:48] smarcosmarco commented on #5386
[code]

Here the interface where VRRP-4-2-1 have different MAC

[code]

This is the status from FRR

[code]

VMware Policy Settings:

[code]

And here you can see VRRP packet with different MAC from ens160

[code]

VM 2 can't see VRRP packet

[code]

Running FRR on test2:

[code]

Now, changing VMware settings to:

[code]

this is the result

[code]

[2019-11-26 13:51] smarcosmarco commented on #5386
Keepalived example:

[code]

VRRP packets have the same MAC and work correctly with VMware default Security Policy

[2019-11-26 16:08] rzalamena commented on #5369
FPM part was fixed here: https://github.com/FRRouting/frr/pull/5361

We probably need to backport it to 7.2.

[2019-11-26 16:21] qlyoung commented on #5424
@k0ste looks like we have a bug in frr-reload.py or vtysh, but I noticed you have `-f` statements in your daemon options lines although you're using integrated config - is that intentional or not?

[2019-11-26 16:22] eqvinox commented on #5424
We need `show running-config` output to debug this since it crashes there

[2019-11-26 17:41] seanfulton commented on #5174
Hey guys, this is a serious issue. I'm reverting all of our nodes back to Quagga until someone figures this out. Too risky to continue in production with this.
Happy to test anything any time, but this is not getting me where I need to be.
This is still a problem.

sean

[2019-11-26 20:56] qlyoung commented on #5386
Looking at your post, there's several problems with your configuration.

First, your kernel:
[code]
This kernel does not support FRR VRRP. This is mentioned in the docs:
![2019-11-26-150319_1171x227_scrot](https://user-images.githubusercontent.com/6827003/69668447-eea4c480-105d-11ea-9231-4e1010a356fb.png)

The reason 5.1 is the minimum required kernel version is because that version adds support f

[2019-11-27 02:29] tylerlinp commented on #5369
@rzalamena Is that all? It seems my problem wasn't fixed at that PR. In my test, there is no zebra shutdown in running, just remove vrf device in kernel when FPM connected. If that vrf has routes, zebra could crash.

[2019-11-27 04:25] k0ste commented on #5424
@qlyoung it's just a defaults. I use only `frr.conf` (all-in-one-file config).

[2019-11-27 04:26] k0ste commented on #5424
@eqvinox

[code]
[code]

[2019-11-27 12:57] #126 closed

[2019-11-27 13:25] smarcosmarco commented on #5386
Thank you for the important information and time dedicated to this case.
Sorry if I missed the kernel version before opening this case. I assumed it was correct.
I am away from the office to work in another location and country until Sunday.
I will be able to do a new test with a kernel upgrade just next Monday.
I don't know if you can keep the case open for a little time...
Regards

[2019-11-27 13:57] rzalamena commented on #5369
@tylerlinp you are right. Sorry I recognized the last lines of the stack and assumed that was happening during `zebra` shutdown.

I managed to reproduce the problem myself and here is what address sanitizer complains:

[code]

To reproduce I just created a VRF, put an interface on it, installed some routes via BGP and opened a socket with FPM only discarding data. After that I deleted the VRF and

[2019-11-27 16:25] #5074 closed

[2019-11-27 16:36] qlyoung commented on #5386
Sure can, let me know how it goes.

[2019-11-27 22:53] dteach-rv opened #5440 "Backtrace in bgpd/rpki"
Backtrace:
[code]
Daemons config:
[code]
Config:
[code]
Issue:
FRR backtraces when configured with RPKI validators. I haven't been able to identify a specific time period or condition that causes it.

---------------
(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Step

[2019-11-28 01:33] tylerlinp commented on #5369
@rzalamena Yes, you reproduced it. Thank you.

[2019-11-28 11:11] theundefined opened #5441 "staticd dont install routes"
** staticd dont install routes **
frr from debian buster (6.0.2)

**To Reproduce**
Steps to reproduce the behavior:
2 routers (r1, r2), between them - ospfd with redistribute static
on  common interfaces - external configuration which brings on 1 router an ip in every interface (something like vrrp). Interfaces like br10, br11, br12, brX etc.
Bringed ip is 172.30.X.253/24

In vtysh configured rout

[2019-11-29 10:57] mroethke commented on #5440
The fault happened in the revalidation codepath which is triggered by updates from the rpki side, can you check if that is reproducible? The easiest way to do that is to take [gortr](https://github.com/cloudflare/gortr) and point it to a custom json file. Something like this:
[code]
Start gortr with these arguments `-cache $PATH_TO_JSON_FILE -verify=false -refresh 1 -checktime=false`.
Now configur

[2019-11-29 23:51] liuxyon commented on #3283
I also encountered a very large memory footprint, when i get an v4 full route from upstream, then frr Consumes 1.5G of memory.   Really need to solve the problem of large memory consumption

i have config is
 bgp bestpath as-path confed
 bgp bestpath med confed

neighbor 10.88.45.149 remote-as 108
 neighbor 10.88.45.149 enforce-first-as
 neighbor 10.88.45.149 update-source 10.88.45.150
neighbor 10

[2019-11-29 23:55] liuxyon opened #5443 "need to solve the problem of large memory consumption"
frr version 7.2

I also encountered a very large memory footprint, when i get an v4 full route from upstream, then frr Consumes 1.5G of memory. Really need to solve the problem of large memory consumption

i have config is
bgp bestpath as-path confed
bgp bestpath med confed

neighbor 10.88.45.149 remote-as 108
neighbor 10.88.45.149 enforce-first-as
neighbor 10.88.45.149 update-source 10.88.45.150

[2019-11-30 00:53] donaldsharp commented on #5443
can we get the output of "show memory'

[2019-11-30 00:56] donaldsharp commented on #5443
converting to master should save about 100 mb of memory in zebra.  But it sure look slike we have something we need to look at as that I too run a bgp feed and I see bgp taking up about 450 mbs as well upon initial startup

[2019-11-30 00:57] donaldsharp commented on #5441
we have fixed a large number of issues in staticd since 6.0 came out.  I would highly recommend upgrading to a more modern version

[2019-11-30 08:46] liuxyon commented on #5443
show memory
Memory statistics for zebra:
System allocator statistics:
  Total heap allocated:  482 MiB
  Holding block headers: 18 MiB
  Used small blocks:     0 bytes
  Used ordinary blocks:  454 MiB
  Free small blocks:     1134 KiB
  Free ordinary blocks:  28 MiB
  Ordinary blocks:       147315
  Small blocks:          11355
  Holding blocks:        2
(see system documentation for 'mallinfo' fo

[2019-11-30 08:53] liuxyon commented on #5443
`
sh bgp sum

IPv4 Unicast Summary:
BGP router identifier 205.81.104.100, local AS number 753 vrf-id 0
BGP table version 913925
RIB entries 1418965, using 249 MiB of memory
Peers 2, using 41 KiB of memory

Neighbor        V         AS MsgRcvd MsgSent   TblVer  InQ OutQ  Up/Down State/PfxRcd
10.11.0.2       4      65105     377  303404        0    0    0 06:13:49            1
195.89.45.149   4

[2019-11-30 08:55] liuxyon commented on #5443
how do it for converting to master?  what is mean?   only an ipv4 full tables about 1.3-1.5G RAM.

[2019-11-30 22:49] donaldsharp commented on #5443
Memory shows you have `neighbor X.X.X.X soft-reconfiguration inbound` turned on, this is aproximately 100mb of data alone.  Do you need this?

[2019-12-01 09:34] ton31337 commented on #3228
@polychaeta autoclose in 1week.

[2019-12-01 10:35] crami opened #5445 "Very huge memory consumtion of bgpd after several 100 sh commands"
I've written a script to collect metrics via vtysh for Prometheus. Script is available here: https://git.freestone.net/cramer/frr-prometheus-stats

After running some hours memory of bgpd increased to > 30GB
I run two fill feeds and several peerings.

**Config**

[code]

**sh memory**

[code]

**Versions**
 - OS Kernel: Debuan GNU/Linux 10 (buster), Kernel 5.2.0-0.bpo.2-amd64
 - FRR Version 7.2 (o

[2019-12-01 10:38] crami commented on #5445
![Screenshot from 2019-12-01 11-37-26](https://user-images.githubusercontent.com/206035/69912823-0bab1000-142f-11ea-87ce-e21ca81056d5.png)

[2019-12-01 16:36] ton31337 commented on #5033
@felartu is this still relevant? are you able to test it with master?

[2019-12-01 19:39] #5445 closed

[2019-12-02 05:43] NaveenThanikachalam commented on #5443
@donaldsharp, I would like to take this up.

[2019-12-02 13:13] crami commented on #5440
Probably hit the same issue:

`Dec  2 13:01:57 bluepill bgpd[26680]: vty[??]@> enable
Dec  2 13:01:57 bluepill bgpd[26680]: vty[??]@# show bgp ipv4 large-community-list LCL-RPKI-Invalid json
Dec  2 13:01:59 bluepill zebra[6917]: vty[??]@> echo PING
Dec  2 13:01:59 bluepill zebra[6917]: vty[??]@> enable
Dec  2 13:01:59 bluepill bgpd[26680]: vty[??]@> enable
Dec  2 13:01:59 bluepill bgpd[26680]: vty

[2019-12-02 14:48] #896 closed

[2019-12-02 15:08] smarcosmarco commented on #5386
Hello!
I've updated my test VMs with the last kernel

[code]

But I've the same result...

About the "bridge" mode , is this correct?

[code]

[2019-12-02 17:37] qlyoung commented on #5386
Your interface configuration looks correct to me. What is `show vrrp` indicating, and are you seeing VRRP traffic inbound on `ens160` with promiscuous mode off (you've got it turned on in your example there)?

`tcpdump -i ens160 --direction in 'vrrp'`

If you turn on `debug vrrp` what are you seeing in the logs?

[2019-12-02 17:44] mwinter-osr opened #5453 ""lib,mlag : Defining MLAG Proto file" commit broke snap build"
Commit https://github.com/FRRouting/frr/commit/e05ab0b0c8ecdd76afe972572cff2c0f9cc14574 forces FRR Protobuf to use 'proto3' which is not available in a package on Ubuntu 16.04 (and potentially others)

[code]

FRR Snap packages fail building since this commit (as the snap package includes protobuf and builds on Ubuntu
 16.04)

---------------

**Describe the bug**
A clear and concise description o

[2019-12-02 17:48] donaldsharp commented on #5453
Install protobuf 3 compiler?

[2019-12-02 23:34] dteach-rv commented on #5440
Hey,

Thanks for the quick response!  Will this fix get back-ported to the stable branches?  I'm happy to test if we can get it into stable/7.2.

[2019-12-02 23:42] donaldsharp commented on #5440
I am not sure yet that the problem has been fixed experiments are still going on.

[2019-12-02 23:45] dteach-rv commented on #5440
okay, I'll keep an eye out here.  Thanks.

[2019-12-03 00:20] donaldsharp commented on #5440
@dteach-rv I went and looked at the test bed I was using and decided that this was good enough and pushed a PR for 7.2 into #5454   Take a look at that.

[2019-12-03 00:36] dteach-rv commented on #5440
great. I'll get this built tomorrow and see how it goes.

[2019-12-03 01:15] #5440 closed

[2019-12-03 04:34] satheeshkarra commented on #5453
Other workaround is disable "PROTOBUF" is you don't need..?, (or) as Donald said Protobuf-3  need to be installed

[2019-12-03 06:35] NaveenThanikachalam opened #5457 "Add abstraction layer to AS-Paths."
**Describe the bug**
Multiple AS-Paths, AS-Segments and, AS-Segment-Data is created for the same AS string.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
Let's say, we have a configuration as below:

The memory footprint for this will be:
![Screenshot 2019-12-03 at 11 56 05](https:/

[2019-12-03 06:39] NaveenThanikachalam commented on #5457
I would like to take up this issue.
I kindly request the maintainers to assign this bug to me.

[2019-12-03 07:29] #5159 closed

[2019-12-03 08:06] netfreak98 opened #5458 "FRR crashes when RPKI is enabled"
Since the upgrade to version 7.2 FRR is unstable again using FRR.. Please have a look at these log snippet:

[code]

OS: Debian Buster
Linux edge01 4.19.0-5-amd64 #1 SMP Debian 4.19.37-5+deb10u2 (2019-08-08) x86_64 GNU/Linux
FRR Version 7.2

Thanks!

Joey

[2019-12-03 08:11] mwinter-osr commented on #5453
Please suggest package which contains Protobuf-3 for Ubuntu 16.04. I can't find this version in the official repos. So this makes it either unsupported on Ubuntu 16.04 (and probably others) or maybe there is a way to change this to keep it compatible to the older Protobuf version?

"protobuf not needed" for a package is not an option. It should be supported.

[2019-12-03 08:11] ton31337 commented on #5458
@netfreak98 thank you for reporting this, but we already solved this with https://github.com/FRRouting/frr/pull/5450

7.2 backport will be pushed soon as well.

Related as well: https://github.com/FRRouting/frr/issues/5440

[2019-12-03 08:11] #5458 closed

[2019-12-03 08:13] chenxiang12 opened #5459 "Loading module snmp failed in frr 5.0.1"
I think the part about snmp support in the user guide of frr is obsolete, it tells us to enable snmp support with the config option when building. Actually there is no option about snmp support now.

**Versions**
 - OS Version [CentOS 7.6]
 - FRR Version [5.0.1]

Here is the config file of my build, no snmp build option.
<img width="537" alt="1" src="https://user-images.githubusercontent.com/10181

[2019-12-03 08:14] satheeshkarra commented on #5453
protobuf-c-compiler, libprotobuf-c-dev

[2019-12-03 08:17] mwinter-osr commented on #5453
Installed, but not providing the protobof-3. They only support protobuf-2

[2019-12-03 08:20] satheeshkarra commented on #5453
can you please try this..
https://github.com/linkerd/linkerd/issues/1118

[2019-12-03 08:21] mwinter-osr commented on #5453
Won't work. This isn't a package. We need a supported package to be able to build packages.

[2019-12-03 08:42] satheeshkarra commented on #5453
you mean Un-isnatlling & re-installing(apt remove & apt install) not working..?

[2019-12-03 08:43] satheeshkarra commented on #5453
you mean Un-isnatlling & re-installing(apt remove & apt install) not working..?

[2019-12-03 08:43] satheeshkarra commented on #5453
you mean Un-isnatlling & re-installing(apt remove & apt install) not working..?

[2019-12-03 08:43] satheeshkarra commented on #5453
you mean Un-isnatlling & re-installing(apt remove & apt install) not working..?

[2019-12-03 09:05] smarcosmarco commented on #5386
VMware Policy Settings:

[code]

VM TEST1:
[code]

VM TEST2:
[code]

VM1 CONFIG VRRP:
[code]

VM1 DEBUG VRRP LOG:
[code]

VM2

[code]

Chaning VMware Policy Settings to:

[code]

..this is the log for VM2:
[code]

Note: the problem occurs even if the 2 VMs run on the same VMware ESXi host

[2019-12-03 09:57] mwinter-osr commented on #5453
Package is already at latest version - there is no newer version as a package and that version doesn't support protobuf-3

[2019-12-03 13:50] liuxyon commented on #5443
i had close this setup. i have close RPKI.
I think there is a huge gap between memory consumption and normal, and normal should consume memory no more than 1G. so friend told me use bird no more 1G RAM.

[2019-12-03 14:01] donaldsharp commented on #5443
I disagree with you fundamentally about how much memory FRR should use.  There are trade-offs being made here, where we have made choices that trade memory usage for faster processing( see the table hash lookups we implemented a year or so ago).  In fact *you* have made a choice in your configuration to use more memory in order to turn on a useful feature.  With modern cpu's and modern memory pric

[2019-12-03 15:30] Manevolent opened #5461 "feature request: AIGP/RFC7311: accumulated IGP metric attribute for BGP"
Please consider adding support for the accumulated IGP metric attribute, abbreviated as AIGP.  The RFC is here: https://tools.ietf.org/html/rfc7311

The AIGP attribute functions like an inter-AS IGP metric, its transience (accumulation) confined within the bounds of a so-called AIGP administrative domain.  This allows network operators to confine an IGP-like metric within a group of self-administe

[2019-12-03 16:13] #5433 closed

[2019-12-03 16:17] qlyoung commented on #5386
Sounds like a VMware issue to me, since your kernel configuration is correct at this point. I'm not familiar with whatever VMware product this is (ESXi?), but from a quick google:

Wouldn't this drop outbound VRRP traffic? Maybe you can try turning each of the 3 policies you mentioned on, one at a time, and report back what you find. Then we can add it to the docs.

In any case I think we agree th

[2019-12-03 16:21] rzalamena commented on #5428
Meeting note (2019/12/03):
@rwestphal has plans for `fabricd` but will not start now. Please, contact him if anyone wants to join efforts or take over.

[2019-12-03 16:21] donaldsharp opened #5463 "Document that shutdown should be done through FRR"
If end user wants to have the ability to make sure proper notifications / rfc compliance can happen

[2019-12-03 16:33] Spantik commented on #5428
https://github.com/FRRouting/frr/pull/5460 for staticd Yang is ready for review.

[2019-12-03 16:48] liuxyon commented on #5443
I haven’t used bird. I want to know how much memory can be used to complete the same function. I mean to learn the advantages of other software in order to make us better. I asked multiple people and got the same opinion. So I think the memory Can significantly reduce costs.

[2019-12-03 17:04] qlyoung commented on #5390
@rzalamena

What's the reasoning here? Aren't VRF devices stored in the same RB tree(s) as regular interfaces?

[2019-12-03 18:02] rzalamena commented on #5390
@qlyoung I don't know if the VRF pseudo interface is even being stored in the interface tree, but it still doesn't fix the problem.

Try the following:
*   Open a socket and bind it to `0.0.0.0`/`12345`
*   Open a new socket, bind it to a VRF and then try to bind it to `0.0.0.0`/`12345`

Once you get that working (that doesn't work in any Ubuntu 18.04 kernel 4.15, 4.18 and 5.0) do attempt to recei

[2019-12-03 19:07] mjstapp opened #5465 "resolve conflicting nexthop-group commands"
Figure out how to coordinate the `nexthop-group` config cli, implemented in lib/nexthop_group.c, and the `show nexthop-group` cli, implemented in zebra/zebra_vty.c. the two things sound alike, but are completely separate.

The zebra show command hasn't been released yet.

[2019-12-03 19:24] crami opened #5466 "Add json output option to "sh ip(v6)? route summary""
It would be very nice to have a json output option for "sh ip(v6)? route summary". To consume it to make statistics.

[2019-12-04 03:14] satheeshkarra commented on #5453
On Ubuntu 18.04 I am not seeing any issues.

[2019-12-04 06:43] jhiggins-NZ commented on #4845
Bump @fabled

Still testing this condition occurring.

Spoke which installs the Shortcut, does not send Resolution-Reply when the remote Spoke queries for it (to build a direct tunnel in both directions).

Do you have any workarounds?

I'm going to give opennhrp a go to see if that works, but ideally I'd prefer to use nhrpd.

[2019-12-04 07:54] mwinter-osr commented on #5453
We are still supporting CentOS 6, 7, Debian 8, 9, 10, Ubuntu 14.04, 16.04 and 18.04 (beside of some BSD)
Can you please investigate to get your changes working with Protobuf v2 ?

[2019-12-04 08:23] smarcosmarco commented on #5386
I had already done these tests. The only way to make VRRP work with FRR is to enable all 3 options.

Sure, this is not a FRR bug, but since it is a product for enterprise use it can be said that it is not efficient and usable.
You cannot imagine the impact in terms of security and performance on the infrastructure enabling these 3 options.

I will be forced to continue using Keepalived or other to

[2019-12-04 09:41] chenxiang12 commented on #5459
Actually issue #4678 shows the reason, but there is another problem.
Build frr with "with_snmp" option added in the spec file you need install packages libnl3 and libnl3-devel first. Or you will see the follow compile error.
<img width="406" alt="1" src="https://user-images.githubusercontent.com/10181682/70130911-673dfd80-16bc-11ea-8233-8d8c92b1a0ce.PNG">
After successful build, you will see
<img

[2019-12-04 09:41] #5459 closed

[2019-12-04 12:15] jasonmvp opened #5470 "Can Support For EVPN RT-1 Be Added?"
In order for leaf nodes attached to an FRR-enabled spine to support EVPN multi-homing, they must transmit and receive EVPN type 1 routes.  Currently and as far as I can tell, FRR (including 7.2) doesn't support RT-1; though it does support the other 4.

[code]

Can type 1s be added at some point?

[2019-12-04 21:01] qlyoung commented on #5386
I guess that behavior makes sense from a virtualization security standpoint in that ESXi wouldn't allow guests to propagate virtual MACs up to the hypervisor VNIC, since that's effectively allowing promiscuous mode to be configured from within the guest, which I suppose is a security risk in some scenarios if you planned to run untrusted software in the guest. So I guess what we can conclude here

[2019-12-04 21:34] qlyoung commented on #5386
Actually, gonna reopen this to remind myself to put a note in the docs about this scenario.

[2019-12-05 07:05] napaster opened #5474 "/usr/bin/frr binary operator expected"
Good day. When you restart frr, the following error appears in the log:
System:

Frr version

    FRRouting (quagga fork) supports BGP4, OSPFv2, OSPFv3, ISIS, RIP, RIPng, PIM, LDP, BFD, VRRP, NHRP and EIGRP.

![изображение](https://user-images.githubusercontent.com/10761151/70211409-92c9f200-1767-11ea-93bb-941cc05b9bb8.png)

Moreover, this error occurs only on version 7.2, on version 7.0 this was

[2019-12-05 07:21] k0ste opened #5475 ""doubled" service options in configuration"
**Describe the bug**
Single line service settings in frr.conf after start `frr` was doubled and tripled:

[code]

**To Reproduce**

1. Touch daemons.conf

[code]

2. Touch frr.conf

[code]

3. systemctl start frr

4. Run vtysh and `sh run`:

[code]

**Expected behavior**
`service` options present only once.

**Screenshots**
![image](https://user-images.githubusercontent.com/7759548/70212650-489640

[2019-12-05 13:42] mjstapp commented on #5431
Thanks for the detailed report - I'm sorry it's taken me a while to get into it; I'm looking at it now.

[2019-12-05 16:10] qlyoung commented on #5386
@smarcosmarco Someone on the FRR slack informed me that ESXi 6.7 has a new mac learning feature that you can use in lieu of promiscuous mode. If you can upgrade that should solve your problem.
https://www.virtuallyghetto.com/2018/04/native-mac-learning-in-vsphere-6-7-removes-the-need-for-promiscuous-mode-for-nested-esxi.html

[2019-12-05 16:17] mjstapp commented on #5431
Can I ask whether you could try a very simple patch and see if it helps you? This should apply onto stable/7.2 :

[code]

[2019-12-05 18:03] qlyoung commented on #5474
Quite so. Do note you're using the old init script which is only being kept for compatibility reasons, there should be a new one called `frrinit.sh` that works better.

[2019-12-05 19:07] Try75 opened #5477 "Next Hop is incorrectly shown as route reflector when using fqdn"
**Describe the bug**
The output of `show ip bgp` was correct using FRR-6.x. After upgrading to FRR-7.2, the next hop started showing as fqdn AND was displaying the wrong fqdn for routes learned from a route reflector.

According to change https://github.com/FRRouting/frr/pull/4377, the fqdn was enabled because `bgp default show-hostname` was enabled.

Output of `show ip bgp` with `bgp default show

[2019-12-05 21:10] qlyoung commented on #5463
what

[2019-12-05 21:41] #5474 closed

[2019-12-05 23:41] ron5t opened #5490 "frr.log file reports ZEBRA: [EC 4043309093]"
I'm running frr 7.2 and have seen this error on frr 7.0
I enable frr.log
 log file /etc/frr/frr.log
 log stdout critical
 log syslog critical

when i check the frr.log file, I get a lot of these ZEBRA errors
ZEBRA: [EC 4043309093] netlink-cmd (NS 0) error: Operation not supported, type=RTM_GETROUTE(26), seq=76, pid=4294963176

Is this a know error?  I notice it on frr 7.0 and still see it on frr 7

[2019-12-06 12:47] liuxyon commented on #5443
this is my other server running frr show:

show memory
Memory statistics for zebra:
System allocator statistics:
  Total heap allocated:  475 MiB
  Holding block headers: 18 MiB
  Used small blocks:     0 bytes
  Used ordinary blocks:  463 MiB
  Free small blocks:     55 KiB
  Free ordinary blocks:  12 MiB
  Ordinary blocks:       217387
  Small blocks:          691
  Holding blocks:        2
(see

[2019-12-06 15:17] mwinter-osr opened #5495 "[7.2] OSPFv6: Memory leak found by Address Sanitizer"
Found in FRR-7.2, git sha 7ff88745c19c2eb78a728b936509b07d1b5d5c72:

[code]

[2019-12-06 16:34] mwinter-osr opened #5496 "[7.2] ISIS: Memory leaks found by Address Sanitizer"
Found in FRR-7.2, git sha 7ff88745c19c2eb78a728b936509b07d1b5d5c72:

Found during the IPv4 Tests
[code]

and during IPv6 Tests:
[code]

[2019-12-06 19:26] Try75 opened #5500 "Not all routes removed using addpath-tx-all-paths with route reflectors"
**Describe the bug**
With FRR 6.x using `addpath-tx-all-paths` with redundant route reflectors, removing a network advertisement from one AS withdrew the advertisement from another AS that learned it. In FRR 7.2 with identical configurations, all of the duplicate routes from different addpath IDs are not withdrawn. It doesn't matter what version of FRR is used on the peers of the route reflectors,

[2019-12-06 19:40] qlyoung commented on #5495
Dupe #1725

[2019-12-06 19:40] qlyoung commented on #5496
Dupe #1727

[2019-12-06 19:47] qlyoung commented on #5490
@ron5t Please fill out the issue template. There is a field for kernel version. We need to know your kernel version.

[2019-12-06 20:39] ron5t commented on #5490
sorry running
Centos 7
with kernel 3.10.0-957

[2019-12-06 20:59] ton31337 commented on #5500
@Try75 are you able to test with the latest 7.2 build or the master branch? Because this should be fixed by https://github.com/FRRouting/frr/commit/d4a0d83bfde0e0834edcf3d261fc542286c2fec2

[2019-12-06 21:34] Try75 commented on #5500
I have tested with FRR-7.2 debian package from https://deb.frrouting.org/. I think I thought https://github.com/FRRouting/frr/commit/d4a0d83bfde0e0834edcf3d261fc542286c2fec2 was included in the 7.2 debian package I tried, but maybe the package was made before that commit. Is there somewhere I can get a latest 7.2 dev package or a nightly build?

[2019-12-08 09:34] #3228 closed

[2019-12-08 12:20] m-varasteh opened #5503 "lib: if_update_to_new_vrf cause crashes"
using Frr stable/7.2 in linux shell enter:
[code]
And all the daemons are crashed.

The problem is in the HACK section of function. After an interface's VRF is changed, we modify manually the node.
It cause a break in `nb_running_get_entry`. it uses the xpath for `hash_get` function and Since xpath is changed, it can't get correct config. so we need to unset previous node config and set it to new

[2019-12-08 12:35] m-varasteh commented on #5503
crash happens in `stable/7.2`

[2019-12-08 14:36] ton31337 commented on #5500
@Try75 let me double-check if this is a valid issue.

[2019-12-09 05:25] satheeshkarra commented on #5453
Actually the Receiver in our case which is MLAGD is also using proto3 encoding & Decoding, if we change encoding to proto2 at FRR, functionality might not working as expected until MLAGD also changes to proto2.

Can I guard this using a new compilation flag" HAVE_PROTOBUF3"..?

[2019-12-09 05:59] Spantik opened #5506 "Support for ospf graceful restart - RFC 3623"
Need support for RFC 3623 in FRR. This feature is not currently supported.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

[2019-12-09 06:00] Spantik commented on #5506
This is feature request and we are working on this. Can someone assign this to me?

[2019-12-09 08:30] smarcosmarco commented on #5386
I already have ESXi version 6.7. Let me look at the document carefully and I'll let you know.
Thanks

[2019-12-09 12:12] rohitgeek opened #5507 "Manual RD value doesn't have a boundary limit check and translates exceeding value to an adhoc value."
**Version: FRR-7.0**

Type-1 RD encoding: The Value field consists of two subfields:

         * Administrator subfield: 4 bytes
         * Assigned Number subfield: 2 bytes

* The Administrator subfield must contain an IP address.
* The Assigned Number subfield contains a number from a numbering space which is administered by the enterprise to which the IP address has been assigned.

If the secon

[2019-12-09 14:29] mjstapp commented on #5431
Hi @aderumier - have you had any chance to try the patch I offered above? If it helps you, I'd like to get it into our next 7.2.x update.

[2019-12-10 00:12] Jafaral opened #5512 "pim: any source static multicast route include additional outgoing interface"
given the current config file where two static multicast routes are added, one source specific the other is any source:
[code]
---------------

**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[* ] Did you check if this is a duplicate issue?
[ *] Did you test it on the latest FRRouting/frr master branch?

**Expected behavio

[2019-12-10 04:33] m-varasteh commented on #5503
on `master` branch, it doesn't crash. just simply nagging about `can't configure`

@rwestphal could you assign me for this issue?

[2019-12-10 07:35] aderumier commented on #5431
@mjstapp
Hi, sorry, I miss your previous message.
I'm going to test it today.

Thanks !

[2019-12-10 13:04] rwestphal commented on #5503
The same crash was happening on master too:
[code]

Just merged #5513. Thanks for fixing this problem!

[2019-12-10 13:04] #5503 closed

[2019-12-10 13:14] aderumier commented on #5431
@mjstapp

I have tested, it's working 100% now.
[code]

Thanks.

[2019-12-10 13:33] javcasalc opened #5515 "Redistribution BGP into OSPF, routes removal"
Hi

## Describe the bug
Redistribution of BGP routes into OSPF seems to work. The BGP process learn a prefix from one of its bgp peers and inserts the prefix perfectly into OSPF database.

However, when the BGP process stops receiving this prefix from its bgp peer, the OSPF database does not remove the prefix learnt via bgp.

## Expected behavior
When a prefix is no longer received by the BGP proc

[2019-12-10 13:47] sarav511 commented on #5512
@Jafaral - For (*,G) we deliberately add the iif in oif list. kernel takes care of filtering it. Probably @donaldsharp must be knowing the history. I see the comment in code that this is required for starg to work on kernel.

[2019-12-10 14:59] mjstapp commented on #5431
Super - sorry for the bug! We'll get the fix into master and 7.2 shortly.

[2019-12-10 15:05] Spantik commented on #5515
I will try this out locally.

[2019-12-10 15:45] Spantik commented on #5515
@javcasalc Is this issue with LSA in database or route is not being removed? I tried it locally and saw that routes are removed immediately locally where redistribute BGP was issued and also from peer. LSA in DB remains with MAXAGE and that is expected and it will eventually flush those LSA.

                AS External Link States

Link ID         ADV Router      Age  Seq#       CkSum  Route
1.1.

[2019-12-10 16:02] rohitgeek commented on #5339
All these issues are related to FRR CLI. Please refer the attached outputs for more details.

[2019-12-10 16:04] smarcosmarco commented on #5386
@qlyoung ...hit in full ;-)

[code]

[code]
...you need to update the documentation about this scenario and solution.
Regards!

[2019-12-10 16:07] Jafaral commented on #5512
referencing #4636 , I had the work around of configuring the static routes later in the file after all interfaces were configured

[2019-12-10 16:11] sworleys commented on #5490
@ron5t

a couple things. Can you share your configs and also do a `show ip ro` so we can see the rib state.

further can you enable `debug zebra kernel msgdump` this will give us a raw hex of the values you are sending to the kernel. I can then decode that and identify what netlink fields we are sending.

Most likely the kernel you are using is too old for some feature we are expecting it to suppo

[2019-12-10 16:51] ron5t commented on #5490
here is the hex value from debug zebra kernel
2019/12/10 12:44:57 ZEBRA: [EC 4043309093] netlink-cmd (NS 0) error: Operation not supported, type=RTM_GETROUTE(26), seq=20, pid=4294963175
2019/12/10 12:45:06 ZEBRA: netlink_talk_info: >> netlink message dump [sent]
2019/12/10 12:45:06 ZEBRA:
0x00007f8307e61990: 3c 00 00 00 18 00 01 05 <.......
0x00007f8307e61998: 1e 00 00 00 e6 ef ff ff ........
0x00

[2019-12-10 17:01] qlyoung commented on #5386
@smarcosmarco yes, I intended to update the docs. Although seeing as I've never used ESXi, I might not be the best person - and remember everyone can contribute to FRR! ;-)

[2019-12-10 17:03] javcasalc opened #5520 "7.2 crash"
Hi

I try to upgrade FRR from 7.1 to 7.2, and exactly with the same OS, same environment, 7.2 crashes:
[code]

## Additional info
- Environment: AWS
- Base OS: Amazon Linux 2 AMI
- kernel: 4.14.146-120.181.amzn2.x86_64 (from amzn2-core)
- Instance type: t3.small

Is there any config/log that we can set in order to debug this?

Thanks,
J.
---------------

[2019-12-10 18:23] qlyoung commented on #5520
Can you post your OSPF config?

[2019-12-10 18:28] javcasalc commented on #5520
Quite simple:
[code]

I've notice that entering into ethernet eth1 configuration fires up the problem......
[code]

[2019-12-10 21:54] mjstapp commented on #5431
Fixed by #5517 (master) and #5518 (7.2)

[2019-12-10 21:54] #5431 closed

[2019-12-11 08:43] smarcosmarco opened #5526 "VRRP "preempt_delay" implementation"
After a restart it is a good idea to wait for a defined time before returning to "master" state.
This is to wait for the BGP, OSPF, etc sessions return UP.

Keepalived use a setting called "preempt_delay"

[code]

It would be important to have this function in FRR

[2019-12-11 11:21] eqvinox commented on #5400
I tried this and it worked just fine.  Are you sure there DNS TTLs/caches aren't messing with you there?

[2019-12-11 17:43] javcasalc commented on #5515
Hi

I've been working on a vagrant lab: [https://github.com/javcasalc/FRR_Lab](https://github.com/javcasalc/FRR_Lab)

Clone it, fire vagrant up and let the environment to run ospf and bgp. You can enter in the different nodes with commands like "vagrant ssh core" or "vagrant ssh asbr0" or "vagrant ssh pe1", and then "sudo -i" and "vtysh".

Notice the route 192.168.99.99/32  is advertised by  bgp r

[2019-12-11 18:21] #5382 closed

[2019-12-11 18:22] #5401 closed

[2019-12-11 18:54] sworleys commented on #5490
Looks like its failing trying to when getting the kernel IP multicast routing stats.

[code]

[code]

That family type of 128 is for multicast routes (RTNL_FAMILY_IPMR)
This info is asked for in `kernel_get_ipmr_sg_stats()`

[2019-12-11 19:06] sworleys commented on #5490
You haven't shared your configs but I assume you are using pimd?

If so, please see this: http://docs.frrouting.org/en/latest/overview.html#supported-protocols-vs-platform

pimd is only supported on > 4.18 kernels.

[2019-12-11 21:10] ron5t commented on #5490
@sworleys

Yes we are using pimd and running on an older kernel, everything seems to work fine for pimd.
Let me upgrade the kernel to 4.18 or something higher and will let you know if the error goes away.

Thank for assistance

[2019-12-11 21:22] donaldsharp commented on #5490
If you are running PIM-SM this will be a problem.  This is a query to the kernel to give us information about status of the stream to know if data is flowing.

[2019-12-12 02:39] matiasojedam opened #5529 "BGP address-family ipv6 send-community not working"
Hi!

I trying to send community to peers but not working. at configuration, I put:
router-mia-us-01(config-router)# address-family ipv6 unicast
router-mia-us-01(config-router-af)#
neighbor 2001:xxxx:ffff::1 send-community all
neighbor 2001:xxx:10:72::1 send-community all

wr me , but the send-community no keep in running-config and community are not sending to peers.
Debian buster
ii  frr

[2019-12-12 04:34] qlyoung commented on #5520
@javcasalc is there a traceback in your log file?

[2019-12-12 06:10] m-varasteh commented on #4433
@rwestphal I'm sorry but i don't think it's a problem with Independent Label Distribution Control mode.
I've run a similar scenario with Cisco's routers( with IOS 15.0). and it was working. regarding that IOS 15.0 LDP also uses Independent Label Distribution Control mode by default, I think something else causes the problem.
I haven't change the code to see if it works, but i believe if we make LD

[2019-12-12 06:33] javcasalc commented on #5515
Hi

clone my Vagrant FRR LAB https://github.com/javcasalc/FRR_Lab/tree/trunk7.2 (ensure branch 7.2), and:
- vagrant up core
- vagrant ssh core
- sudo -i
- cat /var/log/messages or vtysh

J.

[2019-12-12 07:31] javcasalc commented on #5520
Hi

clone my Vagrant FRR LAB https://github.com/javcasalc/FRR_Lab/tree/trunk7.2 (ensure branch 7.2), and:

    vagrant up core
    vagrant ssh core
    sudo -i
    cat /var/log/messages or vtysh

J.

[2019-12-12 08:06] napaster commented on #5474
it is not very obvious where to use frrinit.sh instead of frr?
in systemd scripts or?

[2019-12-12 10:57] ton31337 commented on #5529
@matiasojedam basically `send-community` is enabled by default and it appears in running-config only if `no send-community` is defined. Can you show the running-config from the source node you are sending communities and `show bgp <prefix>` from the destination?

[2019-12-12 13:30] highlandy commented on #2350
Hi, still no news?

[2019-12-12 14:20] fabled commented on #4845
@jhiggins-NZ I think something has changed in frr vs. quagga what gets distributed from the route table by default. Unfortunately I am quite busy currently, and will not have "free" time to look at it for near future. If you are interested on contracting me to look at it please email me privately.

[2019-12-12 15:29] ton31337 commented on #4207
@polychaeta autoclose in 1week.

[2019-12-12 20:23] qlyoung commented on #5520
ref
[code]

[2019-12-12 23:31] donaldsharp commented on #5512
yes the oil must have the iif in it when the *,G is installed

[2019-12-12 23:31] #5512 closed

[2019-12-13 00:42] donaldsharp commented on #1727
This is also #5496.  Closing this because we know that #5496 has a new memory leak as well.

[2019-12-13 00:42] #1727 closed

[2019-12-13 04:47] #5496 closed

[2019-12-13 13:06] rwestphal commented on #4433
I agree that would solve the problem, but doing that check is not required for an LSR implementing the Independent Label Distribution control mode.

RFC 5036 defines three conditions in which an LSR may act as an egress LSR for a given FEC, and one of them are routes whose nexthop is outside of the label switching network. But whether an LSR is egress or not for a given FEC is only relevant when t

[2019-12-13 13:15] rwestphal commented on #5520
This is probably related to a bug in the libyang cache mechanism that was only fixed on libyang 1.0.4.

@javcasalc please try using libyang >= 1.0.4 or build libyang 0.x using `-DENABLE_CACHE=OFF` and see if that solves the problem for you. We apologize for the inconvenience.

[2019-12-13 13:32] javcasalc commented on #5520
jejeje no there is no need to apologize.

I'm working with [libyang-0.16.111-0.x86_64.rpm ](https://ci1.netdef.org/artifact/LIBYANG-YANGRELEASE/shared/build-10/CentOS-7-x86_64-Packages/libyang-0.16.111-0.x86_64.rpm )

Isn't it ok then?

[2019-12-13 13:42] rwestphal commented on #5520
I suspect these rpms are being built without `-DENABLE_CACHE=OFF`, but somehow only a few people are affected by the libyang cache bug.

I'd suggest you to build and install the latest libyang from the sources following our [documentation instructions](http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-centos7.html#install-required-packages):
[code]

[2019-12-13 13:52] Spantik commented on #5515
@javcasalc I will try that out and get back.

[2019-12-13 14:09] from88 opened #5536 "FRR 5.0.2 bgp config lines in frr.conf not accepted after system boot"
Hello,

After systemboot i'm getting bgp error (see it below):

systemctl status frr
`line 91: Failure to communicate[13] to bgpd, line:  neighbor 10.130.13.10 shutdown`

and as a consequence FRR turns UP the neighbor, even it was shutted down.

i'm using quite old FRR version (5.0.2) with Centos 7.6. Is there're anything i can do to avoid this type of behaviour ?

Thanks

[2019-12-13 15:55] qlyoung commented on #5536
Can you post the config snippet for that peer?

[2019-12-13 15:56] from88 commented on #5536
[code]

[2019-12-13 15:57] from88 commented on #5536
[code]

[2019-12-13 16:45] matiasojedam opened #5537 "sh ip bgp regexp with son output is not posible"
Hi
any way to get work sh ip bgp regexp with output json?
vtysh -c "sh ip bgp regexp _100$ json"
Invalid character in as-path access-list _100 $ json

[2019-12-13 18:10] sworleys commented on #5490
@polychaeta autoclose in 1 week

[2019-12-13 18:44] qlyoung commented on #5490
@polychaeta autoclose in 1 week

[2019-12-13 19:53] qlyoung commented on #5537
We don't do regex filtering for JSON, sorry. You can use a dedicated JSON transformer like `jq` instead.

[2019-12-13 21:00] matiasojedam commented on #5537
Any way to do it?

[2019-12-14 18:41] stealthaway opened #5538 "ospfd sigabrt"
---------------
ospfd crash SIGABRT

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Compile FRR with version as below.
2. Enable bgpd, ospfd in /etc/frr/daemons
3. systemctl start frr
4. pgrep ospfd, gdb attach <pid>
5. ospfd gets a

[2019-12-15 11:49] cscarpitta opened #5539 "Zebra and ospf6d routes are not moved to the VRF's routing table after adding an interface to the VRF"
**Describe the bug**
I have a problem with FRR 7.2 related to the VRF implementation.
I have a network and I'm executing zebra and ospf6d daemons on the routers. When I create a VRF from the Linux command-line (with the command `ip link add vrf0 type vrf table 100`) Linux moves  correclty the proto kernel routes to the VRF's table, but the routes installed by zebra and ospf6d are not moved to the

[2019-12-15 14:01] donaldsharp commented on #5539
OSPFv3 has not been made aware of VRF's.  This work is still needed to be done by someone.  As such you can have this situation where the protocol does not properly handle vrf routing data at this point in time.

[2019-12-16 19:41] ton31337 commented on #5536
@from88 I just used such a config:
[code]
Restarted frr, rebooted the VM, nothing I could see in error log:
[code]
Could you copy your `show running-config`? Or any other stuff configured around this case.

This won't be backported probably to 5.x, but I'm curious if that happens in new releases. I still can't replicate this with 5.0.2 and CentOS 7.6.

[2019-12-16 19:41] ton31337 commented on #5536
ups, didn't see your snippet, will test it :)

[2019-12-16 20:06] ton31337 commented on #5536
leaf:
[code]
spine:
[code]
No any similar logs you gave in my testing still. By the way, I don't see shutdown in your config snippet. Are there any other related configurations in your setup to know?

[2019-12-17 08:05] santoshdoke commented on #4636
@Jafaral  Is there a fix or workaround available for this issue?

[2019-12-17 11:29] from88 commented on #5536
hello, sorry, for late reply:

here i have full config:

cat /etc/frr/frr.conf

[code]

Also i've using this FRR setup made from source code which was provided in webpage.

Don't know what i can troubleshoot more. Thanks

[2019-12-17 11:30] from88 commented on #5536
sorry, closed it by mistake

[2019-12-17 11:58] ton31337 commented on #5536
thanks, will continue my tests.

[2019-12-17 15:05] #5466 closed

[2019-12-17 15:08] Jafaral commented on #4636
@jpchIC
@santoshdoke

No fix yet, didn't get a chance to work on it. For now, the work around is to edit the config file directly and move the static multicast command later in the file after all interfaces has been configured. Example:

[code]
You just have to make sure the output interface you are referencing in the command is already configured.

[2019-12-17 15:32] santoshdoke commented on #4636
Thanks a lot for the quick response.

Santosh

On Tue, Dec 17, 2019 at 8:38 PM Jafar Al-Gharaibeh <notifications@github.com>
wrote:

[2019-12-17 18:31] Spantik commented on #5515
@javcasalc can you give me your vagrant versions and virtualbox version? I tried with below and hitting one or other dependencies issue.

vagrant - 1.8 with virtualbox - 5.0.x, 5.1.x, 5,2,x It creates virutalbox but cant reach them to reboot or login.

vagrant - 2.2.6 with virtualbox - 5.0.x, 5.1.x, 5,2,x it throws below errors.

There was an error while executing `VBoxManage`, a CLI used by Vagra

[2019-12-17 18:35] javcasalc commented on #5515
Hi

my laptop runs Manjaro Linux, kernel 5.3.15, vagrant 2.2.6, virtualbox 6.0.14

[code]

[2019-12-17 18:51] Spantik commented on #5515
output I posted is from command "vagrant up" I will try with virtualbox 6.0.14.

[2019-12-17 19:27] javcasalc commented on #5515
Ensure you have all my vagrant plugins installed.

Vagrant, in theory, is a great tool to share common environments, but it's not perfect.

[2019-12-18 07:16] ton31337 commented on #5536
@from88 can't replicate. Isn't here a case when you generate /etc/frr/frr.conf template using other automation tools (ansible, chef, etc.) and the config differs from what `show running` produces? In addition, please show your /etc/frr/daemons content.

[2019-12-18 10:55] sudhanshukumar22 opened #5554 "BFD single-hop peer configured for user VRF does not work if interface parameter is not specified"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
A clear and concise description of what the bug is.
In FRR 7.2 released branch, when we conf

[2019-12-18 11:34] javcasalc commented on #5520
Hi,

compiling from source libyang seems to work as long as I also compile FFR from source.
I think this should be tackled from FRR project in some way.

This is my vagrant lab with FRR/libyang source compilation: [https://github.com/javcasalc/FRR_Lab/tree/trunk7.2](https://github.com/javcasalc/FRR_Lab/tree/trunk7.2)

BR,
J.

[2019-12-18 14:06] mwinter-osr opened #5555 "OSPFd AddressSanitizer: heap-use-after-free"
Found in FRR master as of 12/16/2019, Git sha 8887295390c5785b82922eeb5caba49da2f373d9

Issue found while running the Ixia ANVL Compliance Tests for OSPFv2

[code]

[2019-12-18 14:35] mruprich opened #5557 "TestTypelist tests failing with s390x big-endian arch"
I know that this isn't probably going to get much attention since this only happens on s390x arch but I wanted to share this with you anyway.

I have hit this issue when building frr-7.2 in Fedora. The only arch that failed in all of the TestTypelist tests is s390x which is the only one with big-endian:

[code]

Other errors are similar to the last one.

I know that the fail is caused by this comm

[2019-12-18 14:50] from88 commented on #5536
i managed to replicate it:

1) yes, i created the config with puppet automation tool. But config line is correct, because when i do sysctemctl reload frr, it accepts the shutdown command ant puts into running-config.
2). Now after every reboot on test machine i got this:
[code]

and after the system boot, intiation of `systemctl reload` the shutdown commands starts to act and shutdowns the BGP ses

[2019-12-18 15:05] ton31337 commented on #5536
I created an animated gif what I do and what I get:
![frr_issue_5536](https://user-images.githubusercontent.com/3352707/71097320-7e024b00-21b8-11ea-816c-5a62dfbbab28.gif)
Am I doing something wrong to replicate?

[2019-12-18 15:07] mwinter-osr opened #5558 "ISISd (IPv4) LeakSanitizer: detected memory leaks"
Found in FRR master as of 12/16/2019, Git sha 8887295

Issue found while running the Ixia ANVL Compliance Tests for ISIS on IPv4

[code]

and

[code]

[2019-12-18 15:08] mjstapp commented on #5557
interesting - the assert in there is comparing a byte-swapped 'count' with un-swapped 'i' - on little-endian, I'll bet that passes, but I think it might be off-by-one for a big-endian arch. could I offer you a patch to try?

[2019-12-18 15:10] mwinter-osr commented on #5555
Confirmed PR 5556 to fix this issue. Thanks

[2019-12-18 15:13] mjstapp commented on #5557
This retains the un-swapped value of 'list_count', and tweaks the comparison with the index value 'i'.

[code]

[2019-12-18 15:34] donaldsharp commented on #5557
@mjstapp -> I agree with your patch.  Can you submit a PR?

[2019-12-18 15:37] javcasalc commented on #5515
Hi,

I can confirm this is a bug in FRR 7.1.

In FRR 7.2 this is not happening, route withdrawal is immediately. You can check it from my vagrant lab. (master branch -> 7.1; 7.2 branch FRR 7.2)

[2019-12-18 18:44] #5555 closed

[2019-12-18 19:21] ton31337 commented on #5500
Confirmed, it's a bug.

[2019-12-18 19:21] mjstapp commented on #5557
Should be fixed by #5559

[2019-12-18 19:21] #5557 closed

[2019-12-18 19:58] qlyoung commented on #5520
Yeah we definitely need to fix this. I did spin up your lab and repro'd it there, appreciate you setting it up for us.

[2019-12-18 21:21] ton31337 commented on #5500
The problem is that route reflectors generate TX IDs for 172.16.3.0/24 (let's say 2 and 5 - from two peers) and send an UPDATE message to route reflector client. When 172.16.3.0/24 is removed, route reflectors send WITHDRAW message only for ID: 2. And for ID 5 WITHDRAW message is not sent and the route with ID 5 sits in the RIB.

[2019-12-18 22:07] alekskomp opened #5565 "BUG ebgp-requires-policy + iBGP configuration. Can`t recieve any prefixes from iBGP neighbor"
Hello.
The problem is that I can`t recieve any prefixes from iBGP neighbor with
[code]
even with configured inbound and outbound policy.

Configuration (all setup in EVE-NG lab, just nevermind about AS numbers and ip addresses) :
[code]

Summary:
[code]

[code]
I got:
Inbound updates discarded due to missing policy
Outbound updates discarded due to missing policy
**0 accepted prefixes**
[code]

lo

[2019-12-19 05:53] mruprich commented on #5557
Great, I didn't expect this to be fixed so swiftly. All builds on Fedora are green. Thanks guys.

[2019-12-19 08:17] from88 commented on #5536
very strange, seems you're doing same steps. This is what i get after reboot:

journalctl -f -u frr -n 100
[code]

[code]

and the only difference that i add that `shutdown` command with automation tool (puppet). But i dont understand how could it impact the behavior..

[2019-12-19 09:42] ton31337 commented on #5536
Tested with your `/etc/frr/daemons` - same behavior, all is fine for me. I just want to double-check: is that config taken from `cat` command or `show running` because I don't see `shutdown` statement. If that was from `show running`, can you send me `cat /etc/frr/frr.conf`? And or show me the Puppet template to be sure what's going on?

[2019-12-19 09:52] EthDucky commented on #1544
Hi, i have a doubt that, can I build and run the latest FRR version in my OS, which is quite old, and not included in prefferd OS list?

[2019-12-19 12:21] santoshdoke commented on #4636
@Jafaral

Another related issue is the ordering of the command sequence in the running/saved config. The static MROUTE command appears before the 'ip pim' command in the interface config. This sequence fails during startup when applying saved config, as the PIM needs to be enabled on interface before the mroute command can succeed. It appears there is some kind of alphabetical sorting done in the

[2019-12-19 13:12] rwestphal commented on #5520
I discussed this issue with @equinox a few days ago and we're planning to backport a few important fixes from libyang 1.x to libyang 0.16 and update all libyang 0.16 packages accordingly. That should solve the problem.

We should also migrate to libyang 1.x at some point, but let's defer doing this until strictly necessary.

[2019-12-19 14:55] #5565 closed

[2019-12-19 15:29] #4207 closed

[2019-12-19 15:53] from88 commented on #5536
it was taked from running config (sorry). But I can ensure that Puppet generates correct config with shutdown option in frr.conf.

from exmaple this file (bgp section cut) on test machine was generated with puppet. As you see shutdown line is included correctly.

[code]

But after reboot im seeing this:

[code]

[2019-12-19 17:58] alekskomp opened #5570 "[BUG] Can`t remove configured statement "bgp listen range""
Hello
I got problem that I can`t remove "bgp listen range" statement
Configuration:
[code]
[code]
[code]

[2019-12-19 18:35] jefftant opened #5571 "Inter-VRF leaking with “advertise ipv4 unicast” configured issue"
FRR, by default doesn't re-export routes that have been imported from another VRF, however “advertise ipv4 unicast” that is needed to allow type5 advertisement will also allow “re-export” imported routes, that under number of conditions would lead to undesired results. Especially when implementing route-leaking on more than 1 device (for resiliency or optimality reasons) with “advertise ipv4 unica

[2019-12-19 19:33] marcioelias opened #5572 "6PE with Cisco"
After a long time trying without success, and about to give up, as a last resource I can ask here.
I have a Cisco 7200 running as a Route-Reflector for a BGP Free Core design. In order to inject IPv6 routes without configuring multiple BGP sessions, I started using 6PE functionality.

Now what I'm trying to do, is take a Linux box, with Accel-PPP and turn this in a PPPoE concentrator dual-stack. T

[2019-12-19 19:50] Jafaral commented on #4636
@santoshdoke can you please open a new issue for this so that it can be tracked separately. The fix is different from the original opened issue and it should be easier to fix.

[2019-12-19 20:16] ctr49 opened #5573 "debian repository unavailable"
The 7.2 release notes mention the debian repository at deb.frrouting.org
However, it seems the repo is currently unavailable.

[2019-12-19 20:36] marcioelias commented on #5573
Following these steps [here](https://deb.frrouting.org/) to add the repo, yesterday I installed 7.2 release on a Debian buster.

[2019-12-19 21:09] Jafaral commented on #5573
Looks like something is wrong with the dns registration/server nslookup fails for deb.frrouting.org even though I can get to one of the two servers serving that sub-domain

https://209.182.234.180/

Will look into it

[2019-12-19 21:53] Jafaral commented on #5573
Thanks to @ton31337

https://dnschecker.org/#A/deb.frrouting.org

looks like there is somekind of nslookup outages where some locations can't reslove deb.frrouting.org

[2019-12-19 21:55] ton31337 commented on #5573
[code]
The problem is with authoritative name servers.

[2019-12-20 07:58] ton31337 commented on #5536
@from88 that's why I asked you to show the output from `cat`. The reason you get this error is that you issue shutdown on a neighbor which is not created yet. You have to move shutdown statement after the neighbor is defined already.

[2019-12-20 07:58] #5536 closed

[2019-12-20 08:53] from88 commented on #5536
thank you.

[2019-12-20 08:53] from88 commented on #5536
thank you.

[2019-12-20 13:28] #5570 closed

[2019-12-20 21:35] vivek-cumulus commented on #5571
@jefftant and I had briefly discussed this a couple of days ago.

The behavior described here is needed in scenarios too, and was explicitly added i.e., this "works as designed" right now. Consider a typical Clos deployment where the route leaking between vrf A and vrf B is happening at a centralized location - e.g., spine switches or 'service' leafs. Obviously, at more than one router for redunda

[2019-12-20 22:31] jefftant commented on #5571
@vivek-cumulus IMO we should have "no re-advertise" when "advertise ipxx unicast" is configured as default behaviour (for safety reasons).
advertise ipxx unicast "re-advertise" CLI would solve the issue

Thanks!

[2019-12-20 22:53] pwariche opened #5582 "MBGP for AF IPv4 mcast advertises IPv6 Link Local address as next-hop"
* Description
When using IPv4 MBGP (iBGP or eBGP) the next hop advertised to the peer is the IPv6 link local address of the interface in place of the ipv4 address.

* Condition
Stock FRR 7.2 running on ubuntu Sonic in a Vagrant box

* Configuration

RTR1 is an iBGP RR client with RTR2 (the RR server)
[code]

RTR2 is the RR server for AS65000 and has an eBGP session with RTR4

[code]
Prefixes adver

[2019-12-21 08:15] ton31337 commented on #5529
@polychaeta autoclose in 1week.

[2019-12-21 08:20] ton31337 commented on #5573
seems fixed:

[code]

[2019-12-21 08:20] #5573 closed

[2019-12-21 08:40] ton31337 commented on #5572
Could you show some more outputs from the Cisco device:
[code]

[2019-12-22 18:37] #5582 closed

[2019-12-22 18:47] Jafaral commented on #4636
@santoshdoke , the issue you raised should be fixed in #5579

[2019-12-23 06:08] santoshdoke commented on #4636
Thanks Jafar. I verified the fix and it is working fine now.

Santosh

On Mon, Dec 23, 2019 at 12:17 AM Jafar Al-Gharaibeh <
notifications@github.com> wrote:

[2019-12-23 09:06] ton31337 commented on #4235
This is fixed by https://github.com/FRRouting/frr/pull/5295 as well. I tested for 7.0 and 7.1.

[2019-12-23 09:08] ton31337 commented on #5529
@polychaeta autoclose in 1week.

[2019-12-23 09:13] ton31337 commented on #5538
@stealthaway could you show us the full log and the running configuration?

[2019-12-23 09:27] #5490 closed

[2019-12-23 09:29] ton31337 commented on #5463
@donaldsharp are you about extending http://docs.frrouting.org/en/latest/bgp.html#clicmd-[no]neighborPEERshutdown with a notification message?

[2019-12-23 09:53] ton31337 commented on #3697
@lortec please consider upgrading to 7.x releases, this is fixed there.

[2019-12-23 09:53] #3697 closed

[2019-12-23 09:55] ton31337 commented on #5538
Something similar is found in CI: https://ci1.netdef.org/browse/FRR-FRRPULLREQ-TOPOU1604-10225

[code]

[2019-12-23 13:40] ton31337 opened #5587 "Update install/packaging documentation for RHEL8"
Needs some adjustments.

[2019-12-23 15:34] Jafaral commented on #4636
@ton31337 the original issue hasn't be resolved yet. @santoshdoke raised up a separate problem that we we haven't tracked in a separate issue.

[2019-12-24 07:20] melissa-cjt opened #5588 "bgpd not send Notification FSM ERROR when recieve Notification message in opensent state"
In RFC 4271 8.2.2  it said ，when recieve a Notifcation message (Event 25) , it need to send a  NOTIFICATION with the Error Code Finite State Machine Error.

opensent：
      In response to any other event (Events 9, 11-13, 20, 25-28), the local system:
        - sends the NOTIFICATION with the Error Code Finite State Machine Error,
        - sets the ConnectRetryTimer to zero,
        - releases al

[2019-12-24 09:00] ton31337 commented on #5588
@melissa-cjt what is the simplest way to reproduce it?

[2019-12-24 09:32] melissa-cjt commented on #5588
I write a script. First build the TCP connction with the route. The route will change to the state opensent . Then send a notification message to the route.

[reproduce.zip](https://github.com/FRRouting/frr/files/3997839/reproduce.zip)

[2019-12-25 04:09] marcioelias commented on #5572
Hi @ton31337, sorry for not see your comment before.

[code]
There a full routing table, but I believe that was no need to show all. Pay attention to the next hop.

[code]
Again, this is not the entire output.

[code]

There is a lot of running-config on this Cisco, he was in production, let me put the interesting parts and let see if help.

Loopback:
[code]
BGP:
[code]

About the route-maps, I be

[2019-12-26 07:56] ton31337 commented on #5588
@melissa-cjt your script is not complete or you forgot to describe the flow how to reproduce it because I can't reproduce with your script.

[2019-12-26 09:30] melissa-cjt commented on #5588
192.168.1.100      192.168.1.200
       A        =====>        B
 step 2: running     step 1: running frr
reproduce.py

process:
for B
1. service frr start

for A
2. sudo iptables -A OUTPUT -p tcp --tcp-flags RST RST -s 192.168.1.100 -j DROP
3. python reproduce.py

Also, you can find this problem in the source code directly.  In bgp_fsm.c, for opensent state receive notification message event use

[2019-12-26 09:58] ton31337 commented on #5588
I see the source, but I’m willing to know how do you reproduce it because I can’t.

[2019-12-26 10:05] ton31337 commented on #5588
I'm able to reproduce by injecting iptables rule. Will fix this.

[2019-12-27 06:06] Tomcat0829 opened #5592 "BGP RR for 6PE"
Hi,

I have been trying to use FRR as BGP-RR for 6PE. The BGP LU sessions were up and also received 6PE routes from PE routers (Cisco IOSXR), however the FRR didn't use these routes as best-path, therefore didn't advertise these routes to the PEs (BGP-RR client).

Could anyone please advise how to make it work?

Thanks a lot in advance.

FRR version: 7.1
FRR-IP: 10.10.10.10
PE1-IP: 10.10.10.1
PE2-

[2019-12-27 16:07] Spantik commented on #5515
I am still facing issues with vagrant and resolving it.  I am also looking at code  changes around 7.1 and 7.2 with redistribution.

I am having below versions and all plugin installed.
Vagrant     - 2.2.6
virtualbox  - 6.0.14

# vagrant plugin list
vagrant-cachier (1.2.1, global)
vagrant-hostmanager (1.8.9, global)
vagrant-hostsupdater (1.1.1.160, global)
vagrant-libvirt (0.0.45, global)

When I

[2019-12-27 16:58] marcioelias commented on #5592
On my understanding of 6PE, this was not designed to run over MPLS?

Where are you MPLS/LDP configuration?

[code]
Can you try applying this config?

[2019-12-27 18:24] javcasalc commented on #5515
Hi

kindly describe your host environment: Linux? which distro? kernel version? RAM? HDD??

Many times, a simple uninstall and reinstall of both VirtualBox and Vagrant solves this issue.

thanks.

[2019-12-28 05:28] Spantik commented on #5515
Below is my Dev env. I am running all this on my VM running ubuntu 16.04. I will reinstall all my plugins and see if that works. I am also looking up few references to resolve the issue.

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.1 LTS
Release:        16.04
Codename:       xenial
Kernel - Linux dev 4.5.0-040500-generic
RAM - 8GB
HDD - 100G

[2019-12-28 07:28] javcasalc commented on #5515
I'm not sure whether Vagrant with Vbox can do nested virtualization.....

[2019-12-28 08:20] ton31337 commented on #5515
Since 6.1 it can do nested virtualization.

[2019-12-28 08:56] Spantik commented on #5515
You are right my VM does not have CPU which will allow virtualization. I am looking at your config file to see if I can create the same setup with my VMs.

[2019-12-28 08:57] Spantik commented on #5515
you mean virtualbox 6.1 right? but Vagrant does not support 6.1  VB yet.

[2019-12-28 09:09] javcasalc commented on #5515
Hey mates,

Vagrant and VirtualBox can be installed directly in Windows and Mac OS, there is no need for a Linux VM. That's the great thing with Vagrant, no matter what your host runs, different people can share a common lab/environment.

[2019-12-28 09:09] Spantik commented on #5515
You are right my VM does not have CPU which will allow virtualization. I do not have native linux right now. I am looking at your config file to see if I can create the same setup with my VMs.

[2019-12-28 09:14] Spantik commented on #5515
I am trying on my Mac OS. Will get back on this.

[2019-12-28 10:03] saschaarthur commented on #5113
since #5431 is now solved, you think its solved here as well?

[2019-12-28 12:03] Tomcat0829 commented on #5592
Hi marcioelias,

For my use case, I dont need MPLS on the FRR as it is used as BGP-RR. I tried the config you suggested, but it didnt help. I did also try a bit further by establishing LDP neighbor with the CORE router of the MPLS network, it didnt work either. The LDP sessions was up, but MPLS is not supported by the kernel.

I guess I need a kernel that supports MPLS to fix it?

mpls ldp
 router

[2019-12-28 14:08] Spantik commented on #5515
@javcasalc I am able to being up the setup on my mac os and also able to recreate the issue. We can see the issue on ASBR0 itself where OSPF on ASBR0 keeps that route even after BGP is shutdown. I will take a look at it.

[2019-12-28 14:55] Spantik commented on #5515
With initial analysis it does looks like you are hitting below PR.

https://github.com/FRRouting/frr/pull/4766

Logs indicate that old_re is not being sent with redistribute and hence no updates are being sent to OSPF.

2019/12/28 14:26:58 BGP: vty[??]@(config)# no router bgp 65010
2019/12/28 14:26:58 ZEBRA: rib_delnode: 0:192.168.99.99/32: rn 0xe51eb0, re 0xe517d0, removing
2019/12/28 14:26:58 ZE

[2019-12-28 15:04] javcasalc commented on #5515
@Spantik good job with your Vagrant lab!!! :)

With FRR7.2, there are no problems, get my 7.2 lab [https://github.com/javcasalc/FRR_Lab/tree/trunk7.2](https://github.com/javcasalc/FRR_Lab/tree/trunk7.2) Same topology, same configs, just FRR7.2

[2019-12-28 18:37] Spantik commented on #5515
@javcasalc I loaded 7.2 and with that it is confirmed that you are hitting https://github.com/FRRouting/frr/pull/4766

In 7.2 we can clearly see redistribute delete is going to OSPF and not in 7.1 The fix was merged on August 2nd and 7.1 was released on July. Please see logs below from 7.1 and 7.2

**Logs from 7.1**

2019/12/28 14:26:58 BGP: vty[??]@(config)# no router bgp 65010
2019/12/28 14:26:5

[2019-12-29 23:37] marcioelias commented on #5592
Well, in my case, I need MPLS and LDP, so I installed Kernel version 5.0.21 at the time on the Debian 10 (new versions are not compatible with Accel-PPP that is running on the same server).

But looking at the compatibility table, you are good to go on Linux kernel >4.5.

[http://docs.frrouting.org/en/latest/overview.html#feature-matrix](http://docs.frrouting.org/en/latest/overview.html#feature-ma

[2019-12-30 03:28] Tomcat0829 commented on #5592
Hi marcioelias,

Got MPLS working on FRR, but still couldn't resolve the issue. The next-hop of 6PE route was still showing '::ffff:10.10.10.1 (inaccessible)', please see blow.

Any ideas?

[code]

[2019-12-30 08:59] ton31337 commented on #3954
Can't replicate this. Please show the full `/etc/frr/daemons` and `/etc/frr/frr.conf`.

[2019-12-30 08:59] ton31337 commented on #5033
@polychaeta autoclose in 1 week.

[2019-12-30 09:08] #5529 closed

[2019-12-30 09:14] from88 commented on #3954
lets close this, as it's not longer relevant.

[2019-12-30 09:14] #3954 closed

[2019-12-30 11:34] marcioelias commented on #5592
Don't know if was the case, but look on this config:

[code]
Since the address of the interface are on a /24 subnet

[code]
The OSPF Network config should be this

[code]
Yes?

[2019-12-31 03:37] kwind opened #5599 "ripng: "redistribute" command cannot work in sometimes"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
 Hi, ripng can redistribute static route to peer when i execute “redistribute static metric

[2019-12-31 13:30] ton31337 commented on #5599
I just quickly tested this and this is valid. Same behavior in 7.0, 7.1, 7.2. Not only for `redistribute static`, but for `redistribute connected` and friends.

[2019-12-31 14:11] #5588 closed

[2020-01-01 07:33] #5599 closed

[2020-01-01 09:05] thanhuwng opened #5603 "BGPD failed to start when RPKI is added in daemons config"
When /etc/frr/daemons file has the following config for bgpd
`bgpd_options="   -A 127.0.0.1"`
frr can start without issues - see below logs
[code]

When RPKI is added to bgpd daemons config as below
`bgpd_options="   -A 127.0.0.1 -M rpki"`
frr fails to start - see below logs
[code]
Full /etc/frr/daemons content is below
[code]
---------------

**Versions**
 - OS Kernel: ubuntu xenial 5.0.0-37
 - F

[2020-01-01 09:13] ton31337 commented on #3912
@akinengineer did you have a chance to test with newer releases?

[2020-01-01 09:15] ton31337 commented on #3837
can't replicate this.
@polychaeta autoclose in 1week.

[2020-01-01 09:30] ton31337 commented on #5603
Do you use a compiled version or a Debian package? If compiled, please show `show version`.

[2020-01-01 09:55] kwind commented on #5599
I'll try later. Thanks a lot.

[2020-01-01 10:46] thanhuwng commented on #5603
Hi ton31337, I use a complied version below
[code]

[2020-01-01 21:33] ton31337 commented on #5603
I don't see `--enable-rpki` in your configure line. Did you enter it?

[2020-01-01 21:42] #5317 closed

[2020-01-01 21:47] ton31337 commented on #5289
@adamx77 is this still relevant?

[2020-01-01 21:47] ton31337 commented on #5191
@faicker still relevant?

[2020-01-01 21:51] ton31337 commented on #5026
is this still relevant?

[2020-01-01 21:55] ton31337 commented on #4840
@batmancn still relevant?

[2020-01-01 22:07] ton31337 commented on #4623
@pulkittandon88 could you please show `show ip bgp 1.2.3.4`? And please show debug logs, like: `debug zebra rib`, `debug zebra events`.

[2020-01-02 06:20] adamx77 commented on #5289
Hi,

No it isnt.

Found the issue thanks.

Sent from my iPhone

On 01 Jan 2020, at 23:47, Donatas Abraitis <notifications@github.com<mailto:notifications@github.com>> wrote:

@adamx77<https://github.com/adamx77> is this still relevant?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/FRRouting/frr/issues/5289?email_source=noti

[2020-01-02 07:24] #5289 closed

[2020-01-02 08:21] thanhuwng commented on #5603
Thanks, I've now added that to configure line, but the issue is still the same.

[code]

[2020-01-02 08:25] ton31337 commented on #5603
can you show the configuration? or you didn't touch it from the beginning? Although, I will check if I can replicate this with `-M rpki`. Will back to you later.

[2020-01-02 08:30] thanhuwng commented on #5603
Yes, please see below.

Good daemons config
[code]

Troublesome daemons config
[code]

[2020-01-02 09:01] rohitgeek opened #5605 "Inconsistency in RT value of EVPN show commands."
**FRR version**: 7.0
**Topology**: [R1]----ebgp----[R2]

For an RT-5 prefix received from an EBGP peer, FRR shows different RT values in the output of different commands. R1 is the advertising prefix 10.1.1.1 to router R2(which has 3 tenant VRFs.) Please refer below outputs for more details:

"sh bgp l2vpn evpn vni" shows that vrf RED imports prefixes with RT value 300:100

[code]

"sh bgp l2vpn e

[2020-01-02 10:38] ton31337 commented on #5603
I just tested on the master branch (with Debian9) and can't see those errors for me. I'll try with 7.2 and Ubuntu.

[2020-01-02 10:42] ton31337 commented on #5603
Tested with 7.2, works too:
[code]

[2020-01-02 11:41] thanhuwng commented on #5603
Hi ton31337, I tested on Debian9 and it works, so it looks to be a Ubuntu issue.

[2020-01-02 12:09] ton31337 commented on #5603
I'll test it on Ubuntu.

[2020-01-02 14:29] Try75 commented on #4840
I can verify that I have seen this behavior as well. I don't know if it is a bug or not. The example trap handler script I found (I think in frr docs) calls `snmpget` in the handler to get the the new peer state like:
[code]
which is how I worked around this as well. It does seem like the trap should return the new value and not the `Established` value (6) every time.

[2020-01-03 14:00] pjdruddy commented on #5110
I'm working on EVPN-MPLS (RFC7432).

[2020-01-04 06:08] gadrenayan commented on #5538
Is a core file getting generated. I have installed frr using the Installation steps mentioned for Ubuntu 18.04 Bionic, I am unable to see a core dump although SIGABRT is received.

@stealthaway @ton31337

[2020-01-04 14:04] matthew-rutledge commented on #5603
@thanhuwng- I saw similar behavior when I was trying to start bgpd with the rpki option without having rpki installed. Have you tried installing the `frr-rpki-rtrlib` package? What errors do you see if you start bgpd manually? ie: `/usr/lib/frr/bgpd -M rpki`.

[2020-01-04 14:29] thanhuwng commented on #5603
Thanks matthew, I had the message below.
[code]
 I initially followed https://rpki.readthedocs.io/en/latest/rtrlib/installation.html#from-source to install rtrlib but it wasn't successfully installed, with the error message below.

[code]
 I've tried installing `frr-rpki-rtrlib` with `apt` and although there are errors encountered, I can now run frr with rpki successfully.

Thanks for your and ton

[2020-01-04 17:07] ton31337 commented on #5603
glad.

[2020-01-04 17:07] #5603 closed

[2020-01-05 08:09] gadrenayan commented on #5538
I see the following logs:

Jan  5 10:50:13 r01 systemd[1]: frr.service: Watchdog timeout (limit 1min)!
Jan  5 10:50:13 r01 systemd[1]: frr.service: Killing process 9034 (watchfrr) with signal SIGABRT.
Jan  5 10:50:13 r01 systemd[1]: frr.service: Killing process 9056 (zebra) with signal SIGABRT.
Jan  5 10:50:13 r01 systemd[1]: frr.service: Killing process 9063 (ospfd) with signal SIGABRT.
Jan  5 10

[2020-01-05 09:10] slankdev opened #5629 "bgpd: format of route-distinguisher type-0 is invalid"
Hi, I have a question about VPNv4 route distinguisher’s format.
I configured FRR as vpnv4-router with following conf. Let’s focus the line `rd vpn export 1:4182117997`.

[code]

After configuration, I check the route adversing info with sh bgp ipv4 vpn , and I get following outputs. I think RD’s format is defined as u-int tuple, thus I feel this output is little strange.
ref: https://tools.ietf.or

[2020-01-05 22:09] Tomcat0829 commented on #5592
Hi marcioelias,

'network 10.1.0.2/32 area 0' just a different way of enabling ospf. It has same effect as putting /24 there.

Anyway, i tried putting /24, unfortunately it didnt make any difference.

Thanks

[2020-01-06 11:17] ton31337 commented on #5629
@slankdev could you please cherry-pick #5630 to 7.0, 7.1 and 7.2?

[2020-01-06 14:48] rzalamena commented on #5369
@tylerlinp it seems that this PR fixes the problem more precisely:  #5553 .

[2020-01-06 17:00] mjstapp commented on #5113
could be - you were the submitter: are you still seeing the issue?

[2020-01-06 17:03] #5537 closed

[2020-01-06 17:38] saschaarthur commented on #5113
didnt had time to verify it yet, still using the workaround for learning enabled on the bridge.

Will verify it within the next two weeks with latest stable 7.2 frr.

[2020-01-06 18:05] #5587 closed

[2020-01-07 03:22] Spantik commented on #5554
Do you have the same IP subnet configured 102.1.1.0/24 in both VRF-1 and default VRF? If that is the case then you might be hitting issue described in PR https://github.com/FRRouting/frr/pull/5412. Please confirm.

[2020-01-07 07:08] slankdev commented on #5629
OK! Just a moment, I'll do that.

[2020-01-07 09:11] ton31337 opened #5643 "Topology Tests on Ubuntu 18.04 amd64 failed"
This happens on stable/7.x branches.
[code]

[2020-01-07 20:08] #5629 closed

[2020-01-07 20:08] #5643 closed

[2020-01-08 06:53] #5477 closed

[2020-01-08 07:56] zyboy2000 opened #5652 "already in vrf 0"
when i run zebra ,  An error occurred as follows “errors:zebra: netlink)interface(eth1): corruption detected --interface with this name exists already in VRF 0 !”  What does this problem mean and how to solve it? Thanks

[2020-01-08 09:15] #3837 closed

[2020-01-08 14:01] edipascale opened #5654 "isisd receives a SIGKILL after setting low lsp-mtu"
**Describe the bug**
isisd exits with a SIGKILL sometime after setting the lsp-mtu for the area to something quite low (e.g. ~200), as long as there is at least one established adjacency.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:

[2020-01-08 15:14] pguibert6WIND opened #5655 "bgp evpn rt5 / unable to propagate imported entries entry to bgp peer"
*setup*
[code]
r2 and r1 are vteps with bgp evpn, and r4 and r3 are private networks.
using evpn permits to import networks from r4 and r3.

on r2 and r1 device, the evpn rt5 entries are transformed into imported ip entries in the respective vrf overlay. for instance, on r2:
[code]
however when I try to establish a peering  with a config like below:
[code]
I fall on systematic failure because remo

[2020-01-08 15:54] Try75 commented on #5477
Thanks! I'll keep an eye out for the fix in the next release.

[2020-01-08 17:52] sworleys commented on #5465
can we close this @mjstapp ?

[2020-01-08 17:59] mjstapp commented on #5465
I think we've just gotten a bit of a workaround/band-aid in at the moment - we don't really have integration between the two kinds of "group" at all (zebra doesn't even connect with the lib module, e.g.)

I guess I'd rather keep the reminder that we need to do more to resolve the gap, in the future?

[2020-01-08 18:04] sworleys commented on #5465
Sounds good, want me to change the title and description then to something along those lines?

[2020-01-08 18:08] mjstapp commented on #5465
heh - I will edit / update it

[2020-01-08 19:19] mjstapp commented on #5465
Resolved the immediate issue via #5551 I'll open a fresh issue to track the higher-level issue...

[2020-01-08 19:19] #5465 closed

[2020-01-08 21:15] ton31337 commented on #5441
@polychaeta autoclose in 1week.

[2020-01-08 21:17] ton31337 commented on #5400
@polychaeta autoclose in 1week.

[2020-01-08 21:19] ton31337 commented on #5378
what should we do with this? pin such information to somewhere else too?

[2020-01-08 21:20] ton31337 commented on #5373
@v00lk could you please try this patch https://github.com/FRRouting/frr/pull/5479?

[2020-01-08 21:26] ton31337 commented on #5304
I think the unified format for naming should be better without any exceptions (like for Debian).

[2020-01-08 21:27] ton31337 commented on #5291
@polychaeta autoclose in 1week.

[2020-01-08 21:30] ton31337 commented on #5206
@polychaeta autoclose in 1week.

[2020-01-08 21:30] ton31337 commented on #5191
@polychaeta autoclose in 1week.

[2020-01-08 21:32] ton31337 commented on #5147
seems fixed.
@polychaeta autoclose in 1week.

[2020-01-08 21:47] ton31337 commented on #1602
@polychaeta autoclose in 1week.

[2020-01-08 21:54] ton31337 commented on #2044
@chaispaquichui lots of issues have been fixed since version 4.x. Could you please try the latest release?

[2020-01-08 21:56] ton31337 commented on #1967
@solevi could you test this with the latest release?

[2020-01-08 21:57] #1892 closed

[2020-01-08 21:58] ton31337 commented on #1851
@subsecond could you please test this with the latest release?

[2020-01-08 22:01] ton31337 commented on #1836
looks fixed. closing.

[2020-01-08 22:01] #1836 closed

[2020-01-08 22:03] ton31337 commented on #1778
@polychaeta autoclose in 1week.

[2020-01-08 22:05] ton31337 commented on #1708
@liuxyon `sudo vtysh`?

[2020-01-08 23:17] sworleys commented on #5652
A few things:

Can you provide the `frr version` and `kernel version`?
Can you provide the full logs around it with `debug zebra kernel` on?
Can you provide your `frr.conf`, `ip link show`, and `steps to repro`

The code seems to indicate exactly what the log says is happening. We are trying to insert an interface into our memory that we see is already present.

[code]

There are a couple way the

[2020-01-08 23:18] mwinter-osr opened #5658 "Zebra: Memory leaks found by LeakSanitizer"
This is based on FRR Master as of 2020-01-07, Git SHA dba6ddda
Issue was found during ANVL OSPF test in Zebra Daemon

[code]

[2020-01-09 01:08] zyboy2000 commented on #5652
I creat valnip interface through "vconfig" command,   Does it have anything to do with this?

[2020-01-09 01:11] zyboy2000 commented on #5652
by the way, linux kernel 2.6.35

[2020-01-09 17:00] werebear73 opened #5660 "Error Installing on Centos 7 - install: cannot stat ‘redhat/daemons’: No such file or directory"
I am installing from source on Centos 7.

When I get to the step in the documentation that is
`sudo install -p -m 644 redhat/daemons /etc/frr/`

I get the following error
`install: cannot stat ‘redhat/daemons’: No such file or directory`

I looked and the file is missing and it hasn't been in that directory since Version 6.  I'm not sure if this is a documentation issue or a file issue.

(put "x"

[2020-01-09 23:52] qlyoung commented on #5658
#2 doesn't exist, pr merge ordering introduced that. #1 fixed by #5662

[2020-01-10 03:57] zyboy2000 commented on #5652
frr version:7.2   kernel version 2.6.35

[2020-01-10 18:44] #5660 closed

[2020-01-10 21:59] #5658 closed

[2020-01-10 23:20] Hakujou commented on #3812
Can confirm the issue is happening. Any update ?

Thanks

[2020-01-11 08:27] zyboy2000 opened #5665 "default-information originate route-map problem"
i found that the default route could not be sent out when i configure this way , why ?
I feel like the default route won't send out as soon as I add route-map condition

router ospf
 ospf router-id 110.110.56.129
 redistribute bgp
 default-information originate route-map def_test

access-list 110 seq 5 permit 10.5.56.0/24

route-map def_test permit 20
 match ip address 110

Router# show ip route
B

[2020-01-11 08:35] zyboy2000 commented on #5665
R1----BGP ----R2 ----OSPF----R3    ,     R2 config as above!

[2020-01-12 15:45] chaispaquichui commented on #2044
It's working now ! Thanks !

[2020-01-12 18:27] #2044 closed

[2020-01-12 19:42] #3070 closed

[2020-01-13 01:59] cynron commented on #1557
https://github.com/FRRouting/frr/pull/5009

[2020-01-13 02:02] cynron commented on #2393
https://github.com/FRRouting/frr/pull/5009

[2020-01-13 07:54] #1557 closed

[2020-01-13 12:18] saschaarthur commented on #5113
sadly not solved :((

[2020-01-13 13:39] Spantik commented on #5665
I will triage this and get back.

[2020-01-13 14:52] ton31337 commented on #5500
fixed by https://github.com/FRRouting/frr/pull/5664

[2020-01-13 14:55] v00lk commented on #5373
Yes, looks like it works just fine but I need some time to do more tests. I'll give a full update during next week. Thank you!

[2020-01-13 16:15] Spantik commented on #5665
@zyboy2000 I am trying to understand your configuration. It seems that have routemap with access-list pointing to route for connected route but you are redistributing BGP route which does not have this route. With your configuration behaviour is expected. If there is a BGP route matching with prefix that has been added in access-list then default route will be originated.

[2020-01-13 16:22] tuxfrw opened #5667 "7.2 BGP session problem intermitent"
Hi,

I am using Debian Buster 10.2 with FRR repository:  deb https://deb.frrouting.org/frr buster frr-stable

My Kernel version: Linux frr-lg 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux

# dpkg -l | grep frr
ii  frr                                       7.2-1~deb10u1                amd64        FRRouting suite of internet protocols (BGP, OSPF, IS-IS, ...)
ii  frr-d

[2020-01-13 18:27] Spantik commented on #5665
I tried with static route and even if I have routemap satisfied I am seeing that default route is not being originated. This looks like a bug and will fix it.

router ospf
 ospf router-id 92.1.3.1
 redistribute static
 network 192.1.2.0/24 area 0
 default-information originate route-map R1
!
ip prefix-list p1 seq 5 permit 1.1.1.0/24
!
route-map R1 permit 1
 match ip address p1
!
line vty

Now with

[2020-01-13 20:09] ton31337 commented on #5667
@tuxfrw this was fixed with https://github.com/FRRouting/frr/commit/5911f65c7bcb05ee81a744bdc8eec5bdae54a591, but not in the repo yet. 7.2.1 will be released soon, afaik.

[2020-01-14 01:14] tuxfrw commented on #5667
Thanks Ton. Waiting for the fix in the repository. :)

[2020-01-14 13:07] v00lk commented on #5373
Did my checks, the bug is still here, may be a little bit different now.
I can see than only 2 paths are advertised. What I mean here, I have a 4 BGP routes on reflector, but only 2 of them are advertised.

Here is 4 local routes:
[code]

Here is what is advertised from FRR-CLI.
[code]
Seems like CLI command is not showing add-path routes, but it's not a case.
Here is what I receive from the other

[2020-01-14 14:05] nicoturp commented on #5500
We've seen also this bug on our infrastructure. I confirm also that's fixed by #5664

[2020-01-14 15:55] chiragshah6 commented on #5605
@rohitgeek  Auto-derived RT is derived from `AS:VNI-ID`. In the above outputs import RT is relevant as `*:VNI-ID`.The evpn routes with any aspath and tenant vni-id configured on the VTEP.
In your case tenant vni id `100` is configured which matches to the prefix route `10.1.1.1` extended community Route-target value `100`.

It is more of show command issue where it can be displayed (interpreted) a

[2020-01-14 16:15] brotherdust commented on #2236
RFC version 20 is now in effect. Providing link here for convenience.
https://tools.ietf.org/html/draft-ietf-idr-bgp-optimal-route-reflection-20

Expires 2019-07-11

[2020-01-14 20:21] xaisng opened #5678 "[FRR CLI] "% Command incomplete." error while moving between different views in conf t"
ubuntu# conf t
ubuntu(config)# interface eth1 ------> configure interface , cli is in interface view
ubuntu(config-if)# interface eth1 ---> retry the same command, error is seen.
% Command incomplete.
% [ZEBRA] Unknown command: interface eth1
ubuntu# conf t
ubuntu(config)# interface eth1 . ---> now try to jump to "router ospf" from interface view, error is seen.
ubuntu(config-if)# router ospf
% Co

[2020-01-14 20:35] pguibert6WIND commented on #5652
not sure about that. @sworleys , is vrf lite embedded on that kernel version ?
if not, I would recommend that you use zebra with network namespaces.
[code]

[2020-01-14 20:47] sworleys commented on #5652
I thinks vrf lite is 4.3?

[2020-01-15 03:52] tylerlinp commented on #5369
@rzalamena That is not enough. The RTM_DELROUTE message for ff00::/8 comes after RTM_NEWLINK vrf-change for Ethernet8. The vrf_id gets from ifindex in RTM_DELROUTE message, so it changes as vrf-change. So it is needed to update all routes nexthops in rib when handling vrf-change message. The worst thing is that handling is asynchronous, maybe nexthop vrf hasn't been updated when to delete the rout

[2020-01-15 09:24] ton31337 commented on #5667
Closing this, because it's fixed already in stable/7.2 branch. But for a deb package, we need to wait for 7.2.1.

[2020-01-15 09:24] #5667 closed

[2020-01-15 09:36] ton31337 commented on #5678
Well, that's as expected to work. You should keep the context path properly and not a random way.

[2020-01-15 09:36] #5678 closed

[2020-01-15 12:39] rzalamena commented on #5369
@tylerlinp thanks for the feedback. Meanwhile we don't get a definite fix for this, would you be willing to try my new FPM module that uses data plane framework?

This new module doesn't the same race problem as the old one (it uses dplane_ctx that only gets `free`d after every data plane plugin processed it) and is much simpler (uses the same netlink code as the zebra <-> kernel socket).

PR: #55

[2020-01-15 14:35] xaisng commented on #5678
@ton31337 But the behaviour was not the same in previous versions.

[2020-01-15 15:40] ton31337 commented on #5678
This is done when reading the config from a file, but not from the CLI, basically.

[2020-01-15 19:35] #2346 closed

[2020-01-15 19:38] ton31337 commented on #1185
@pguibert6WIND is this still relevant?

[2020-01-15 19:40] ton31337 commented on #1578
lots have been fixed in 7.2, could you test it?

[2020-01-15 20:55] kotuk commented on #5033
Same problem
2020/01/15 20:53:13 BGP: [EC 100663299] buffer_flush_available: write error on fd 2: Bad file descriptor
2020/01/15 20:53:13 BGP: [EC 100663299] buffer_flush_available: write error on fd 2: Bad file descriptor

[2020-01-15 21:15] #5441 closed

[2020-01-15 21:17] #5400 closed

[2020-01-15 21:27] #5291 closed

[2020-01-15 21:30] #5206 closed

[2020-01-15 21:30] #5191 closed

[2020-01-15 21:47] #1602 closed

[2020-01-15 22:03] #1778 closed

[2020-01-16 04:51] ton31337 commented on #5033
could you show me your configuration?

[2020-01-16 10:51] kotuk commented on #5033
sure. if you need original i can show you privately
this one modified
hostname AS123456
password password
enable password password
log file /var/log/frr/bgpd.log
log stdout
!
router bgp 123456
 bgp router-id 222.222.111.246
 network 111.111.4.0/23
 network 111.111.4.0/24
 network 111.111.5.0/24
 network 111.111.6.0/23
 network 111.111.6.0/24
 network 111.111.7.0/24
 redistribute static
 neighbor 2

[2020-01-16 11:21] kotuk commented on #5033
FRRouting 7.2 (AS).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--build=x86_64-linux-gnu' '--prefix=/usr' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--sysconfdir=/etc' '--localstatedir=/var' '--disable-silent-rules' '--libdir=${prefix}/lib/x86_64-linux-gnu' '--libexecdir=${prefix}/lib/x86_64-linux-gnu' '--disable-mainta

[2020-01-16 13:21] ton31337 commented on #5500
fixed for 7.2 and master branches (7.3 included as well).

[2020-01-16 13:21] #5500 closed

[2020-01-16 15:44] ton31337 commented on #2667
@vishaldhingra is this fixed in newer versions?

[2020-01-16 15:47] ton31337 commented on #3468
@devicenull this should be fixed in 7.1 with https://github.com/FRRouting/frr/pull/5586, could you try this?

[2020-01-16 16:00] ton31337 commented on #5033
could you show me /etc/frr/daemons as well?

[2020-01-16 16:08] ton31337 commented on #5033
I've just tested now with master and 7.2. Can't see this error message.. Dunno what I'm doing wrong then.

[2020-01-16 16:11] ton31337 commented on #5033
Tell me which OS you are running too.

[2020-01-16 16:18] qlyoung commented on #5378
I'd really like to do a table like this: https://wiki.ubuntu.com/Releases
Or this: ![image](https://user-images.githubusercontent.com/6827003/72542273-de38eb00-3851-11ea-8b3a-722323e5888e.png)

[2020-01-16 16:28] rampxxxx opened #5695 "Loading module gives incorrect error msg"
Hi,
Just trying to load a module by hand it tries to load the corresponding library and says 'cannot open shared object file: No such file or directory' which is false .
Finally I understand (thanks strace) that it opens the module/library but it's an old/wrong one ,etc without the proper symbols or whatever.

So the error is that is the wrong lib instead existence, so this update msg will help a

[2020-01-16 17:09] kooky commented on #5304
I think this is fixed by https://github.com/FRRouting/frr/commit/429576883e95072c464a5f906b1f777651303d89

[2020-01-16 21:34] kotuk commented on #5033
Runnning on  Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-74-generic x86_64)

/etc/frr/daemons:
bgpd=yes
ospfd=no
ospf6d=no
ripd=no
ripngd=no
isisd=no
pimd=no
ldpd=no
nhrpd=no
eigrpd=no
babeld=no
sharpd=no
pbrd=no
bfdd=no
fabricd=no
vrrpd=no

vtysh_enable=yes
zebra_options="  -A 127.0.0.1 -s 90000000"
bgpd_options="   -A 127.0.0.1"
ospfd_options="  -A 127.0.0.1"
ospf6d_options=" -A ::1"
ripd_options="   -

[2020-01-17 08:31] ton31337 commented on #5695
can I ask you which module are you trying to load? and please show `show version` as well.

[2020-01-17 16:59] maseron opened #5705 "BGP routes flapping - new best path is flapping between router and NONE."
Hello!

I have 2 frrouter instances running bgp:
frr-7.0-01.el7.centos.x86_64 on CentOS (Router1)
and
frr-7.2-1~ubuntu18.04.1 on Ubuntu 18.04. (Router2)

**Router1** bgp configuration:
[code]

**Router2** configuration
[code]

With ipv4 all is fine, but ipv6 routes on **Router2** are flapping in huge speed (like 7 times per second), that's possible to see from debug log:
[code]

I can't understand

[2020-01-17 21:29] maseron commented on #5705
Problem was that the IPv6 subnet mask on Router1 and Router2 was different... (/112 vs /64)

[2020-01-17 21:29] #5705 closed

[2020-01-18 01:22] zyboy2000 commented on #5665
Thanks you.  I'm looking forward to this BUG solving.

[2020-01-19 07:24] ton31337 commented on #4983
@netfreak98 are you able to test this from the master branch?

[2020-01-20 10:26] jean-christophe-manciot opened #5709 "FTBFS: dh_install: warning: frr-doc missing files: doc/user/_build/texinfo/*.png"
Ubuntu 20.04
all build dependencies are satisfied, including libgrpc++-dev and libyang-dev
git tag: frr-7.2.1

Building with (I'm aware that I should also have modified ```debian/rules``` below ```dh_auto_configure -- \``` with the configure options outlined below):
[code]
leads to:
[code]
Indeed:
[code]

[2020-01-20 10:42] pguibert6WIND commented on #5652
@zyboy2000 , for older kernels, you shoudl try with vrf netns.

[2020-01-20 14:39] ton31337 commented on #2683
@ecbaldwin is this still an issue with this behavior?

[2020-01-20 14:46] #2927 closed

[2020-01-20 14:46] #3012 closed

[2020-01-20 15:08] ton31337 commented on #3141
@foosinn is this still an issue with latest releases as well?

[2020-01-20 16:31] foosinn commented on #3141
@ton31337: i will have a look over the next few days. thanks!

[2020-01-21 03:42] sudoconf opened #5712 "Transmission calculation Problem of BFD"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried

[2020-01-21 12:39] bbs2web opened #5714 "FRR 7.3-dev - Reproducible Zebra crash when BGP exchanges prefixes"
Hi,

We're running FRR 7.3-dev-20191226-00-gd7cce42cc as part of VyOS 1.3 rolling (202001190217) which results in BGP dying when establishing a peering session to a specific router. It is able to sustain the session when it's the only one and all others operate concurrently without problems. We can reproduce the problem if we start any other peering session, after having started the problematic on

[2020-01-21 13:21] rzalamena commented on #5712
Hi @sudoconf , I think you are right.

There are at least two parts of the RFC that tells us to select the larger value between those two values:

1) RFC 5880, Section 6.8.4, Calculating the Detection Time:

[code]

2) RFC 5880, Section 6.8.7, Transmitting BFD Control Packets:

[code]

I had the impression that `remote.MinRequiredRx` mandated the minimum transmission rate, but I guess I am wrong.

[2020-01-21 14:11] kotuk opened #5715 "FRR 7.2 reset connection unable update config via vtysh and/or telnet"
**Versions**
 - OS Kernel: Ubuntu 18.04
 - FRR Version 7.2 installed from repository

When i tried to add rpki via vtysh and before write write command i got been dropped out and log is:
2020/01/21 13:49:51 BGP: Vty connection from 127.0.0.1
BGP: Received signal 11 at 1579614688 (si_addr 0x2, PC 0x55c5a93ecc13); aborting...
Program counter: /usr/lib/frr/bgpd(bgp_table_range_lookup+0x63)[0x55c5a93e

[2020-01-21 15:24] bbs2web commented on #5714
Additional debug information when running with 'debug zebra nht detailed':
[code]

[2020-01-21 16:14] ton31337 commented on #5033
@kotuk is this compiled version or deb package?

[2020-01-21 16:15] ton31337 commented on #5715
@kotuk 7.2.1 is baked and will be available soon, please try it then, this is fixed there.

[2020-01-21 16:26] kotuk commented on #5033
deb package from frr apt repository

[2020-01-21 16:27] kotuk commented on #5715
ok, will wait in frr apt repository

[2020-01-21 16:36] sworleys commented on #5714
this looks nexthop groups related. I will take a look, but would appreciate if someone could help me by getting this down to a simpler repro.

[2020-01-21 20:06] ton31337 commented on #5033
I've just tried with your config and with a previous config which is given as an example how to reproduce the issue. No success. That's what I have with 7.2 from deb.frrouting.org:
[code]

[2020-01-21 20:08] sworleys commented on #5714
any chance you could get me a core file for this one? If so, be sure to compile frr with optimization level 0 `-O0`

[2020-01-21 20:11] sworleys commented on #5714
a log with `debug zebra rib detailed` would also be helpful.

[2020-01-21 20:43] ton31337 commented on #2374
@chrisg-euronet-space I'm sorry, but I can't clearly understand the problem you described. Did you mean that you configure `neighbor X.X.X.X route-map Y out` and it does not appear in the running config or what actually?

[2020-01-21 21:23] bbs2web commented on #5714
Hi,

I haven't ever compiled FRR myself but can certainly try if it's necessary. I'm still able to reproduce the issue consistently after simplifying the configuration. Is there possibly somewhere where I could reference creating the core dump file?

Disabled mpls, rpf, unloaded mpls kernel modules and set peers to exclusively use ipv4. Herewith the configuration:
[code]

Herewith the log after en

[2020-01-21 21:44] sworleys commented on #5714
oh sorry it looked like you were building from source base on the issue description.

you can generate the core file without building from source.

https://stackoverflow.com/questions/17965/how-to-generate-a-core-dump-in-linux-on-a-segmentation-fault

where did you get that version of FRR from? I need to know the specific hash the last commit was so I can match up the source's with the core file.

[2020-01-21 22:18] sworleys commented on #5714
could you get me a `show ip ro` when its in a stable state as well? (assuming it can get into a stable state)

It looks like the one causing the crash is the only multipath route you are getting from bgp.

No idea why its crashing because that should work fine... so maybe its something specific about the route.

[2020-01-21 23:17] bbs2web commented on #5714
I'm running VyOS nightlies which comprises of a minimal debian 10 image and FRR from the 26th of December 2019. I see numerous commits since then pertaining to next hop and fixes pertaining to zebra crashes (https://github.com/FRRouting/frr/commits/master) .

Herewith the routing table from the problematic peer which loads when it's the only one running:
[frr_show_ip_route.log](https://github.com/

[2020-01-22 09:35] kotuk commented on #5033
1st. i've used frr-rpki version.
2nd. i've have no error after fixing config today
from:
ip as-path access-list GSN-Incoming permit ^123455_
ip as-path access-list SBTB-Incoming permit ^12345_
ip as-path access-list Private-AS permit 6451[2-9]
ip as-path access-list Private-AS permit 645[2-9][0-9]
ip as-path access-list Private-AS permit 64[6-9][0-9][0-9]
ip as-path access-list Private-AS permit 6

[2020-01-22 09:41] ton31337 commented on #5033
So, the issue still persists with RPKI version? Because the /etc/frr/daemons you pasted was without RPKI module.

[2020-01-22 11:11] kotuk commented on #5033
version was frr-rpki, but rpki module at that time been deactivated

[2020-01-22 11:21] ton31337 commented on #5033
To get some conclusion here: is this still an issue or not? :)

[2020-01-22 11:32] kotuk commented on #5033
after changing config issue been resolved

[2020-01-22 11:40] #5033 closed

[2020-01-22 12:28] santoshdoke opened #5718 "Interface validation failures when issuing "interface VlanXYZ" command"
When issuing interface command, a validation error is seen intermittently.  This is on FRR 7.2 stable version + fix from https://github.com/FRRouting/frr/pull/5513.

# interface Vlan1301
% Configuration failed: validation error.

#zebra[40]: lib_interface_destroy: only inactive interfaces can be deleted
#zebra[40]: [EC 100663331] nb_callback_configuration: error processing configuration change: er

[2020-01-22 17:49] eqvinox commented on #5709
This "smells" like `./configure`/`dh_auto_configure` didn't pick up your sphinx installation... can you post the output from configure to check that?

[2020-01-22 17:50] eqvinox commented on #5304
Yup, fixed in 7.2.1, closing.

[2020-01-22 17:50] #5304 closed

[2020-01-22 19:14] #5308 closed

[2020-01-22 20:02] bbs2web commented on #5714
Many thanks for your time, testing on FRR v7.4-dev with commits up until the 19th of January resolves the problem.

Still don't know how to generate a core dump but I'll run with that in the VyOS community.

[2020-01-22 20:02] #5714 closed

[2020-01-22 20:05] sworleys commented on #5714
glad to hear!

Yea I had a suspicion that https://github.com/FRRouting/frr/pull/5688/commits/1897a8fc81708f8f8188e5381aa2fa121a487b09

might of fixed it.

[2020-01-22 20:55] rampxxxx commented on #5695
regarding version it's branch master , origin/stable/7.2 , as git log tells

None of the official modules has been tested.

But as far as function frrmod_load  in 'lib/module.c'  uses dlopen with
"RTLD_NOW | RTLD_GLOBAL" I suppose that the problem is that the module
doesn't have a symbol that the daemon using '-M module' waits to have.

So I think it's just a matter of check for existence of the .

[2020-01-23 09:14] jean-christophe-manciot commented on #5709
I get the same result from my manual configure and the one executed from ```debian/rules```:
[code]
Full configure log:
- [first manual configure](https://github.com/FRRouting/frr/files/4102183/manual_configure.log.txt)
- [debian/rules configure](https://github.com/FRRouting/frr/files/4102186/debian_rules_configure.log.txt)

[2020-01-23 13:02] eqvinox commented on #5709
I guess the "smell" was wrong - can you please post the entire log?

[2020-01-23 13:04] eqvinox commented on #5695
Unfortunately the `cannot open shared object file: No such file or directory` message comes directly from the system dynamic linker, not from FRR — we can't really do anything about this.

[2020-01-23 13:06] eqvinox commented on #5695
You can use the `LD_DEBUG` options documented in http://man7.org/linux/man-pages/man8/ld.so.8.html to get more information on problems like this.

[2020-01-23 14:30] marcquark commented on #2480
I'd like to dig this up and report that i'm seeing the exact same behaviour in a pfSense environment. I was looking at cost calculations today because some routes were acting funny.

Started scratching my head because if the default reference-bandwidth value is 100 Mbps, why do my 1 Gbps links have a cost of 100? And 10 Gbps links have a cost of 10, 4 Gbps links have 25.

It looks like the default

[2020-01-24 11:08] ton31337 commented on #2906
where we are with this?

[2020-01-24 11:22] ton31337 commented on #2
this issue looks like a mess due to wrong references..

[2020-01-24 11:25] ton31337 commented on #755
I hope it's fixed in the latest versions. @RidgebackZulu are you able to test this?

[2020-01-24 11:26] ton31337 commented on #987
@patrick7 how about the latest releases?

[2020-01-24 11:33] ton31337 commented on #1340
this is fixed. closing.

[2020-01-24 11:33] #1340 closed

[2020-01-24 11:34] ton31337 commented on #1164
@terryfcc is this still an issue with the latest releases?

[2020-01-24 11:39] ton31337 commented on #1851
@polychaeta autoclose in 1week.

[2020-01-24 11:39] ton31337 commented on #1835
closing?

[2020-01-24 11:41] ton31337 commented on #1771
@auranext could you try this with the latest release?

[2020-01-24 11:51] ton31337 commented on #1708
@polychaeta autoclose in 1week.

[2020-01-24 12:03] ton31337 commented on #2131
is this valid with the latest releases?

[2020-01-24 12:04] ton31337 commented on #1344
duplicate of https://github.com/FRRouting/frr/issues/2131. closing.

[2020-01-24 12:04] #1344 closed

[2020-01-24 12:15] ton31337 commented on #1570
@tmartiro @tigranmartirosyan is this still an issue with the latest releases?

[2020-01-24 12:18] ton31337 commented on #117
I think this is not relevant because VRF_UKNOWN is already UINT32_MAX which is more than the initial expectation for this issue. @louberger or do we need to update this issue?

[2020-01-24 12:41] jean-christophe-manciot opened #5726 "FTBFS: various compilation errors including /usr/include/pcreposix.h:101:3: error: conflicting types for ‘regex_t’"
Ubuntu 20.04
all build dependencies are satisfied, including libgrpc++-dev and libyang-dev
git tag: frr-7.2.1

Compiling with:
[code]
leads to:
[code]
Full build log: [frr_7.2.1-20.04_amd64.build.log](https://github.com/FRRouting/frr/files/4108451/frr_7.2.1-20.04_amd64.build.log)

[2020-01-24 12:46] jean-christophe-manciot commented on #5726
Exact same issue with ```frr-7.4-dev```.

[2020-01-24 13:06] jean-christophe-manciot commented on #5709
I have modified the build process to have the same configure options with ```debian/rules```:
[code]
leads to the same issue as posted [here](https://github.com/FRRouting/frr/issues/5726#issue-554714882) which is a build with **make** instead of **debuild**.

[2020-01-24 13:09] jean-christophe-manciot commented on #5709
Full build log is: [frr_7.2.1+20.04_amd64.build.log](https://github.com/FRRouting/frr/files/4108555/frr_7.2.1%2B20.04_amd64.build.log)

[2020-01-24 15:05] saschaarthur commented on #5113
Hello,

7.2.1 is now released and the issue is still there. Traffic is still flooded between the parties :(.
[code]

setting "learning" on the vxlan100 fixes the issue as a workaround, but still this needs to be solved...

[2020-01-24 19:54] subsecond commented on #1851
@ton31337 I tested with the latest Debian release (7.2) and still do not see any prefix information:

[code]

What exact version do you want me to test? I currently do not have the capacity to build from source.

[2020-01-24 19:54] polychaeta commented on #1851
This issue will no longer be automatically closed.

[2020-01-25 15:25] Uttiponken commented on #5110
@pjdruddy Do you have any status or timeline/roadmap for your implementation of RFC7432?

[2020-01-27 10:53] Merlin83b commented on #2350
Any updated on this?  I also can't see it listed on the feature request page as @donaldsharp posted 18 months ago.

[2020-01-27 16:33] pjdruddy commented on #5110
@Uttiponken wotking on it now - would expect ho have PRs out in the next couple of months.

[2020-01-27 18:24] santoshdoke commented on #5718
After removing the running-config changes in if_update_to_new_vrf() function, lib/if.c, this issue is no longer seen (the below code under HACK comment was removed).  I see that the running-config does show correct VRF binding, even after removing this code. But, not sure what else would break by removing this change. Any inputs/suggestions?

/*
	 * HACK: Change the interface VRF in the running co

[2020-01-27 18:43] ton31337 commented on #4928
@NetTinkerer did you try `disable-connected-check`?

[2020-01-27 18:45] ton31337 commented on #1578
@polychaeta autoclose in 1week.

[2020-01-27 19:25] tigranmartirosyan commented on #1570
Haven't tried it yet with latest release. You may close the ticket. In case of some issue related to this I will file a new PR.
thanks

[2020-01-27 19:26] #1570 closed

[2020-01-27 19:58] liuxyon opened #5732 "how i get all prefixes from upstream?"
i am using frr 7.2.  upstreams is using bird.  an upstream send  600653 ipv6 prefixes to me, but my frr only show get 78883 prefixes.

 i want to know how i can get all prefixes route tables from upstream?

[2020-01-28 09:29] #4983 closed

[2020-01-28 09:32] ton31337 commented on #5732
please show the following outputs:

[code]

[2020-01-28 09:33] ton31337 commented on #5732
by the way, is this related to bgp or any other routing daemon?

[2020-01-28 10:41] liuxyon commented on #5732
show running-config
Building configuration...

Current configuration:
!
frr version 7.2
frr defaults traditional
hostname de.xiaoyu.net
log file /etc/frr/frr.log
service integrated-vtysh-config
!
router bgp 59703
 bgp router-id 91.220.53.165
 no bgp default ipv4-unicast
 neighbor 10.11.0.2 remote-as 65105
 neighbor 10.11.0.2 description "my local"
 neighbor 10.11.0.2 update-source 10.11.0.1
 neigh

[2020-01-28 10:46] liuxyon commented on #5732
I think there is a BGP problem. When I change to the bird program test, I can get the complete route from the upstream.

I'm guessing whether frr only gets the optimized route from upstream, instead of getting all the routes from upstream to local?

[2020-01-28 11:01] ton31337 commented on #5732
Could you enable `soft-reconfiguration inbound` for `2a0c:3b70:7b01:5::1` to see what is filtered by `ipv6in` prefix-list or `A01` route-map? By the way, did you try without any filters?

[2020-01-28 14:11] bbs2web opened #5733 "ldpd 100% CPU utilisation"
Similar to issue https://github.com/FRRouting/frr/issues/4876, ldpd randomly starts running at 100% CPU utilisation.

We are running FRR v7.4-dev with all commits up until the 20th of January 2020, I observe no new commits to ldpd since then.

We do not have any dynamic interfaces, only vlan sub interfaces off a single ethernet interface.

[x] Did you check if this is a duplicate issue?
[x] Did yo

[2020-01-28 14:22] donaldsharp commented on #5733
what's the output of `show thread cpu` for ldpd?

[2020-01-28 15:06] #1768 closed

[2020-01-28 16:08] pguibert6WIND commented on #117
not sure it is relevant too to change this.

do you want to gain memory because of vrf bitmaps ?

[2020-01-28 19:23] marcioelias opened #5738 "PBR on loopback"
There is a way to set PBR on the interface loopback, in order to match all dynamically created interfaces?

Example: Dynamic created VLAN's that must go throw PBR.

Or I need to create all VLAN's then set PBR to all?

[2020-01-29 07:03] bbs2web commented on #5733
Waiting for the issue to re-occur, will provide feedback when it does...

[2020-01-29 07:26] der-andrew opened #5741 "breaking configuration ospfd"
**Describe the bug**
In short: run configuration is broken after start.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. frr.conf by himself:
[code]
2. Start daemons.
3. Enter to vtysh and invoke `show run`.
[code]
4. BUT. Its a magi

[2020-01-29 08:05] ton31337 commented on #1401
duplicate of https://github.com/FRRouting/frr/issues/5665

[2020-01-29 08:05] #1401 closed

[2020-01-29 08:33] ton31337 commented on #1877
seems fixed by using `vtysh -u`.

[2020-01-29 08:33] #1877 closed

[2020-01-29 08:36] ton31337 commented on #1835
@polychaeta autoclose in 1week.

[2020-01-29 08:37] #1725 closed

[2020-01-29 08:43] ton31337 commented on #2296
[code]
Do we need to just handle `end` properly and do not print that it's `Command not allowed: enable`?

[2020-01-29 08:43] ton31337 commented on #1967
@polychaeta autoclose in 1week.

[2020-01-29 12:38] liuxyon commented on #5732
i have try deleted `ipv6in` prefix-list or `A01` route-map in without any filters. It does n’t make much difference.

i think frr has the  command" addpath-tx-all-paths" for downstream.  what's command do this for upstream?

show bgp nei 2a0c:3b70:7b01:5::1
BGP neighbor is 2a0c:3b70:7b01:5::1, remote AS 57057, local AS 59703, external link
 Description: tunnelbroker.ch
  BGP version 4, remote rout

[2020-01-29 12:51] ne-vlezay80 opened #5742 "Support Cryoto Key Routing from Wireguard"
How is the idea to implement work with CKR in wireguard using BGP or make a protocol for exchanging public keys?

[2020-01-29 12:55] ne-vlezay80 opened #5743 "Yggdrasil network integration"
Haw to is idea integration yggdrasil network info FRR: https://github.com/yggdrasil-network/yggdrasil-go

[2020-01-30 01:04] qlyoung commented on #5743
Looks like a neat project!

[2020-01-30 01:04] #5743 closed

[2020-01-30 01:07] qlyoung commented on #5742
@ne-vlezay80 if you want to chat about project ideas, concepts for novel networking ideas, etc. please use the mailing list or our public Slack channel, this issue tracker is not the appropriate forum.

[2020-01-30 01:07] #5742 closed

[2020-01-30 16:04] julianmsanchez commented on #5714
Confirmed fixed in VyOS rolling-202001270217 and probably next releases.

[2020-01-31 11:51] #1708 closed

[2020-01-31 16:42] sworleys commented on #5738
I don't believe so.

You would need to specify them.

Idk what your goal is but an option you might could do is to put all the interfaces you want to use in a separate VRF.

and then in pbr config do `set vrf BLAH` so any matches go into that vrf.

[2020-01-31 20:22] mwinter-osr commented on #5558
This bug still exists in dev/7.3 release candidate

[2020-01-31 20:24] mwinter-osr commented on #5495
Still present in dev/7.3 release candidate

[2020-02-02 22:29] liuxyon commented on #5443
Why bgp has 4 running processes,zebra has 6 running processes,Each of them consumes the same amount of memory capacity.I tested the bird software and found that they only have one bgp process, and they take up very little memory. So I think frr has too many repeated processes that consume a lot of memory, which is inefficient

[2020-02-03 10:50] mwinter-osr opened #5748 "[7.3] BGP Nexthop should be unchanged (ANVL Test BGP4 8.3 and similar IPv6 test)"
This bug is in FRR 7.3 release candidate and FRR master.

### Reference
(This is only a `SHOULD`, not a `MUST` - but it used to work in previous releases)

#### RFC4271, Sect. 5.1.3, p 27, NEXT_HOP
[code]

### Test
FRR gets 2 eBGP neighbors on the same subnet. First neighbor announces a prefix
to FRR with it's own interface address. FRR should announce this with the unchanged
nexthop to 2nd eBGP n

[2020-02-03 11:10] mshuttle76 opened #5749 "LDP: traffic directed to loopback drops with explicit-null label advertise"
Hello,
I have an issue with MPLS/LDP.
When label local advertise explicit-null (Ipv4 address-family) is active, the looback interface of my Linux box is unable to receive any kind of traffic.  If I disable the feature and a label popping is made by the last "P" router (Cisco IOS XR) the traffic flows correctly.
I performed tcpdump and I see that the traffic is coming into the eth interface with a

[2020-02-03 13:18] rwestphal commented on #5749
Did you enable MPLS forwarding on the interfaces of your Linux box (loopback included)?

Reference: http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-ubuntu1804.html#enable-mpls-forwarding

[2020-02-03 13:29] Spantik commented on #5741
It works fine when no instance id is configured. With below config I tried

Current configuration:
!
frr version 7.4-dev-MyOwnFRRVersion
frr defaults traditional
hostname dev
log file /var/log/frr/frr.log
log syslog informational
no ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
interface ens192
 ip address 192.1.2.1/24
 ip ospf area 0
 ipv6 address 192:1:2::1/120
!
interface l

[2020-02-03 13:56] donaldsharp commented on #5748
I've tried this w/ both v4 and v6 routes for `redistribute connected` as well as network statements and am not seeing this behavior.  Can I get a bit more details about the recreate?

[2020-02-03 14:28] mshuttle76 commented on #5749
Yes. Enabled on all interfaces:

root@rs01-pdgs36:~# sysctl -p
net.ipv4.ip_forward = 1
net.ipv6.conf.all.forwarding = 1
net.mpls.conf.ens4.input = 1
net.mpls.conf.ens5.input = 1
net.mpls.conf.lo.input = 1
net.mpls.platform_labels = 100000

Tcpdump shows:
14:24:42.048426 MPLS (label 0, exp 0, [S], ttl 254) IP 185.4.155.6 > 185.4.155.9: ICMP echo request, id 28965, seq 226, length 80
14:24:44.068046

[2020-02-03 15:15] rwestphal commented on #5749
Interesting. What kernel version are you using? I have someone else reporting a similar problem with explicit-null labels on kernel 4.15.

Also, please ensure that your Linux box has a route to reply to 185.4.155.6.

[2020-02-03 15:39] mshuttle76 commented on #5749
I started with 4.15 but I upgraded to 5.5.1.

**Linux rs01-pdgs36 5.5.1-050501-generic #202002011032 SMP Sat Feb 1 10:34:22 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux**

I confim I have a route to reply to 185.4.155.6. I'm using IS-IS that is working correcly.
I built FRR form source.

[2020-02-03 15:44] donaldsharp commented on #5443
@liuxyon -> I would really suggest you spend some time understanding how linux handles process space and memory

[2020-02-03 16:47] odd22 commented on #5749
Hello,

As your are running FRR on Ubuntu, you felt into the same problem I discovered with OSPF Segment Routing a while ago. Ubuntu activate by default RP filter at the kernel level to protect the PC from incorrect formatted incoming packets. In particular, the RP filter removes packets that have for destination e.g. the loopback address but that come with a different IP address that the loopback

[2020-02-03 18:45] #1578 closed

[2020-02-04 05:17] mwinter-osr commented on #5748
Here is a bit more information on this issue.

Topology:
[code]
DUT FRR is configured as follows:
[code]

R1 and R2 do NOT peer directly with each other. But both have a eBGP session with DUT

1) R1 announces 30.0.5.0/24 to DUT with a nexthop of 192.168.1.1 (it's own interface address)
2) DUT should announce 30.0.5.0/24 to R2 with a nexthop of 192.168.1.1 (the R1 Interface address) instead of it's

[2020-02-04 05:31] slankdev opened #5752 "BGP Prefix-SID unknown TLV support is broken"
https://tools.ietf.org/html/draft-ietf-idr-bgp-prefix-sid-27#section-3

In the above draft defining the specification of Prefix-SID, draft says that unknown TLVs MUST be ignore and propagated. but current implementation doesn't achieve it.

https://github.com/FRRouting/frr/blob/f36c5df2def70d2153714ac6338cfbb9dc9f7a3e/bgpd/bgp_attr.c#L2276-L2277

I sent the PR around that but that didn't fix the P

[2020-02-04 05:51] slankdev opened #5753 "BGP Prefix-SID boundary check may be broken"
I faced following problem when I write topotest for Prefix-SID type-1(label-index, already implemented).  If I send Update message with following dataformat by ExaBGP, bgpd on r1 can’t parse path-attributes correctly, and BGP connection will be flaped. (loop bgp-state IDLE <-> ACTIVE)

[code]

I guess, this problem was caused arround [this commit](https://github.com/FRRouting/frr/pull/5418/files#d

[2020-02-04 07:57] mshuttle76 commented on #5749
Hello.
thank you for you support.  Disabling RP filter all works as expected!

[2020-02-04 08:34] #5749 closed

[2020-02-04 10:26] sheepbrew opened #5756 "Stale IP addresses remains in FRR routing table after removing from interface"
[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**Describe the bug**
Connected interface's IP address remains in FRR's routing table despite being removed.
This happens only if the broadcast address is specified for the IP address for that interface.

**To Reproduce**
I have a dummy interface called `vip` with a bunch of ip addresses.

[2020-02-04 12:56] donaldsharp commented on #5748
I wrote a test case to try to show this:

https://github.com/donaldsharp/frr/tree/ebgp_same_subnet

@mwinter-osr can you please bring this up and show what I am doing wrong?

[2020-02-04 13:59] mjstapp commented on #5756
I saw correct behavior from current frr (at master); you report using frr version 7.1 - have you tried 7.2? I'll see if I can give that a try also.

[2020-02-04 14:12] apwiggins opened #5757 "babeld is not accepting commands from frr.conf"
Problem:
babeld is not accepting interface commands from frr.conf. Startup of zebrad and then babeld is throwing some EC 100663304 errors in n1_frr.log below. 

Version:
===
I'm running FRRv7.2.1 compiled from source in the CORE emulation environment. 

Attempted workarounds:
===
I see similar EC 100663304 bugs in Google searches.  As per Don Sharp's comment about ordering in staticd, I did experi

[2020-02-04 16:20] mjstapp commented on #5756
Looks like this was fixed by #5553 ; it should appear in the next 7.2.x and later releases.

[2020-02-04 16:20] #5756 closed

[2020-02-05 00:29] sheepbrew commented on #5756
Thanks for looking at this @mjstapp and also pointing out the fix.
Sorry I didn't test on the master branch.

[2020-02-05 05:05] slankdev opened #5762 "BGP Prefix-SID topotest for type-4, type-5"
- In this PR https://github.com/FRRouting/frr/pull/5653, bgpd supported additional prefix-sid path attribute's TLV types, (type-4, type-5) that is used for MP-BGP VPNv4 with SRv6 backend.
- However, now, there are no test to keep that feature, stable. So topotest to keep feature of type-4, type-5 stable is needed.
- This PR https://github.com/FRRouting/frr/pull/5755 adds Prefix-SID's basic topotes

[2020-02-05 08:04] Spantik commented on #5056
Sorry for delayed reply. Have not worked on this till now should will be picking this up next week.

[2020-02-05 08:36] #1835 closed

[2020-02-05 08:40] ton31337 commented on #5732
What do you mean downstream? If upstream is sending additional paths then you will receive them, there is no filter on this. Please show advertised routes from upstream. And to be sure, enable soft-reconfiguration inbound for that particular peer. Also, enable zebra/bgpd debug log to see what's happening there.

[2020-02-05 08:43] #1967 closed

[2020-02-05 10:50] #4628 closed

[2020-02-05 15:29] Spantik commented on #5741
@der-andrew can you please let me know content of your "/etc/frr/daemons". Have you started OSPF with -n option?

[2020-02-05 20:37] jpsenior opened #5766 "frr-reload fails to atomically reload when interface-based ospf configuration is present"
--------------

**Describe the bug**
frr-reload fails to incrementally read frr.conf when interface-based ospf configuration is present,

[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:

1) Start with simple OSPF configuration (stripped to isolate the bug properly, but otherwise functi

[2020-02-05 20:49] jpsenior commented on #5766
Update: After some testing, I do observe that if I add the `interface` stanza section above the OSPF configuration, the frr-reload operation is successful, but it exchanges one error for another.
Config:
[code]
When placing interfaces above ospf stanza, i no longer receive error messages with regard to interfaces, but config parsing still complains on log-adjacency-changes detail.  Removing log-ad

[2020-02-05 22:16] #4471 closed

[2020-02-05 23:21] jpsenior commented on #5766
This is interesting -- I explored source code of `frr-reload.py` and learned there is a series of config 'contexts' that must be present.  ospf router statements and interface statements do not create a context for frr-reload to process.

The issue here is actually usage of the 'exit' key-word in the configuration file.

If i remove 'exit' from both router ospf <process_id> vrf <vrf_name> as well

[2020-02-06 03:08] jpsenior commented on #5766
So at this point I would chalk this up to user error, but I wonder if there would be any improvement here to cause an error when reading the original configuration and throwing an error. If inappropriate use of an 'exit' command doesn't escape the correct context, frr maybe should complain the configuration file was not valid in the first place.

[2020-02-06 07:40] der-andrew commented on #5741
Sorry for long.
All options are out-of-box
[code]

[2020-02-06 15:44] Spantik commented on #5766
Fixed few multi instance issue in OSPF with PR https://github.com/FRRouting/frr/pull/5765. Can you please try with latest master and see if you still see the issue?

[2020-02-06 17:20] jpsenior commented on #5766
I reviewed the commit in PR #5765  - the issue I am having is that the data plane is perfectly fine at first config, the problem is isolated to frr-reload.py. I don't think your PR handles this scenario, the 'exit' statement seems to be a general parsing issue in the reload logic. The part that would be missing is somehow ignoring the `exit` statement in each of these config contexts. Browsing mas

[2020-02-07 03:36] kwind opened #5773 "Ospfv3 crashed when hundreds of ipv6 address on the interface"
Describe the bug
Hi, I configure five hundred ipv6 address on the interface(named ge2)， then enable ospfv3 with area 0.0.0.0.  ge2 connect to neighbour' interface(named ge3). after a while，ospfv3 crashed.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

To Reproduce
Steps to reproduce

[2020-02-07 04:55] Spantik commented on #5766
@jpsenior sure I will traige and get back on this.

[2020-02-07 04:57] jpsenior commented on #5766
@Spantik I will however test on master for us to see if the problem exists, but will need a day or two.  I'm running on Cumulus's modified FRR stack, it's non-trivial to swap it out.

[2020-02-07 06:01] ton31337 commented on #3468
@devicenull I want some more clarification on this. The problem is only when using `port`? Because I tested on my machines with 7.1 and it works (without port), that's why I'm asking to be more specific. It would be lovely if you could give me the working config, I would then implement a topotest for this case if that's the reality.

[2020-02-07 12:30] from88 opened #5774 "frr-reload fails when terminal paginate is included in frr.conf"
Hello,

After entering terminal paginate (which is for some reason disabled in 7.2.1) and after that doing `systemctl reload frr`
i'm getting errors like these:

[code]
seems that frr-reload.py starts to think that i'm adding more command. Like interface, etc.

[2020-02-07 12:55] from88 opened #5775 "FRR md5 auth fails when using multiple OSPF instances."
After using FRR 5.0.2 installed 7.2.1 and OSPF MD5 auth stopped to work with following config in Cisco and FRR sides:

Cisco Nexus Side:
[code]

FRR 7.2.1 Side:
[code]

Auth dont work and OSPF neighbour relationship doesnt form. From debug messages i got this  info:

`2020/02/06 16:51:33 OSPF[1]: [EC 134217740] interface p2p2:10.254.33.19: auth-type mismatch, local Null, rcvd Cryptographic` Seems

[2020-02-07 14:40] wtremmel opened #5777 "disable-ebgp-connected-route-check is missing from documentation"
Just a minor issue - there is no mention of "bgp disable-ebgp-connected-route-check" in the documentation.

[2020-02-07 16:01] devicenull commented on #3468
Did some testing with 7.2.1 here,

with this config, bgp to 169.254.169.254 comes up fine:

[code]

However, if I move that into a view:
[code]

FRR starts reporting ```Feb  7 15:57:50 guest bgpd[2407]: %NOTIFICATION: received from neighbor 169.254.169.254 2/3 (OPEN Message Error/Bad BGP Identifier) 4 bytes 00```

Which is a different issue then what happened before, but ultimately still broken

[2020-02-07 16:17] devicenull commented on #3468
That was a different issue (missing bgp router-id in the view).  I can't seem to reproduce this anymore

[2020-02-07 16:17] #3468 closed

[2020-02-07 18:20] liuxyon commented on #5732
downstream is my router push all routes to my other bgp router.  i can use addpath-tx-all-paths force all route to my downstream.
so RAM issuse your said not need soft-reconfiguration inbound.
https://github.com/FRRouting/frr/issues/5443

your may creat bgp seesion in here for test. web site show push to your how many routes.
tunnelbroker.ch

[2020-02-09 22:41] bbs2web commented on #5733
Took almost a week, will leave it misbehaving in case additional debug information is necessary:
[code]

[2020-02-09 22:59] donaldsharp commented on #5733
can you also grab a screenshot of `perf top -p <ldpd>` to let us know wher eit is?

[2020-02-10 05:28] Spantik commented on #5741
@der-andrew if you want to work with instance then you should start ospf with instance id option -n. This will ensure instance is created internally and will not ignore interface related configuration when you restart OSPF and reread config.

ospfd_options="  -A 127.0.0.1 -n 240"

I have fixed this issue with #5769  in latest master. If you can try with latest master and if you find issue is fixed

[2020-02-10 12:47] bbs2web commented on #5733
Travelling, sorry for the delay. Herewith the snippet:
![image](https://user-images.githubusercontent.com/1456100/74151157-34f8d100-4c14-11ea-8182-b0f864df67cc.png)

[2020-02-10 18:05] Spantik commented on #5775
Works fine on latest master will check on 7.2.

[2020-02-10 18:21] Spantik commented on #5775
With 7.2.1 also it came up fine.

dev# show version
FRRouting 7.2.1-MyOwnFRRVersion-g9beb013 (dev).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-7.2.1-1-g9beb013
Associated branch(es):
        local:(HEAD detached at upstream/stable/7.2)
        github/FRRouting/frr.git/stable/7.2
dev#

interface ens192
 ip address 192.1.2.1/24
 ip ospf 240 area 0
 ip ospf authenticatio

[2020-02-10 19:38] from88 commented on #5775
thanks, thats really strange. I'm running on Centos 7 box. And I was using this builded RPM: [FRR Centos 7.2.1 RPM](https://github.com/FRRouting/frr/releases/download/frr-7.2/frr-7.2-01.el6.x86_64.rpm) . Could you try to test this this RPM ? Also it's very strange why i was getting that` "auth-type mismatch, local Null, rcvd Cryptographic"` error.

Also exclamation mark (!) on password text should

[2020-02-10 21:40] ton31337 commented on #5715
@kotuk 7.2.1 already cooked, could you please try it?

[2020-02-11 10:45] sudhanshu2222 commented on #5554
Hi all,
Looking at the BFD code,
int bp_peer_socket(const struct bfd_session *bs)
{      ...........
	if (bs->key.ifname[0])
		device_to_bind = (const char *)bs->key.ifname;
	else if (BFD_CHECK_FLAG(bs->flags, BFD_SESS_FLAG_MH)
	    && bs->key.vrfname[0])
		device_to_bind = (const char *)bs->key.vrfname;

	frr_with_privs(&bglobal.bfdd_privs) {
		sd = vrf_socket(AF_INET, SOCK_DGRAM, PF_UNSPEC,

[2020-02-11 10:47] sudhanshu2222 commented on #5554
Hi all,
Looking at the BFD code,
int bp_peer_socket(const struct bfd_session *bs)
{ ...........
if (bs->key.ifname[0])
device_to_bind = (const char *)bs->key.ifname;
else if (BFD_CHECK_FLAG(bs->flags, BFD_SESS_FLAG_MH)
&& bs->key.vrfname[0])
device_to_bind = (const char *)bs->key.vrfname;

frr_with_privs(&bglobal.bfdd_privs) {
	sd = vrf_socket(AF_INET, SOCK_DGRAM, PF_UNSPEC,
			bs->vrf->vrf_id, de

[2020-02-11 12:35] rohitgeek opened #5791 "[FRR-EVPN]: Modifying VNI number, mapped to a tenant VRF doesn't work."
Version:
----------
 Latest FRR Master
FRR(config-vrf)# do sh ver
FRRouting 7.4-dev-MyOwnFRRVersion-g724935d (DCG-1).

Issue:
-----
If we try to change VNI number associated with a Tenant VRF, it doesn't take effect and still points to old VNI number.

**Running Configuration of FRR router with 1 tenant VRF and 1 MPBGP(EVPN) session:**

[code]

**Steps to reproduce the issue:**

[code]

 **vrf RED

[2020-02-11 13:15] rohitgeek opened #5792 "[FRR-EVPN]: Duplicate Route Distinguisher(RD) values can be configured for multiple tenant vrfs."
Version
----
Latest FRR Master:
FRRouting 7.4-dev

Issue:
-----
According to EVPN RFCs, RD values should be unique per MAC-VRF. However FRR allows to configure duplicate RD values for Tenant VRFs.

**Section 3.1**
https://tools.ietf.org/html/draft-ietf-bess-evpn-prefix-advertisement-11

`In particular, the RD is unique per MAC-VRF (or IP-VRF).`

** Section 7.9.  Route Distinguisher Assignment per

[2020-02-11 13:24] rohitgeek commented on #5605
@chiragshah6 : I agree with you. We may show "*" symbol for import RT(auto) values. For example:

[code]

[2020-02-11 15:04] #3583 closed

[2020-02-11 16:13] qlyoung commented on #5773
@kwind you encountered this during testing, correct? Or do you have a real use case to have this many addresses? I think this is a known issue with packing too much data in an OSPF packet.

[2020-02-11 16:29] #5777 closed

[2020-02-11 19:45] qlyoung commented on #5775
@from88 what happens if you disable SELinux on your centos box? That may be causing the permissions issues, assuming you're starting FRR with privs and allowing it to drop its own privileges.

[2020-02-11 20:38] from88 commented on #5775
hello, thanks, but unfortunately the SELinux is disabled..

[2020-02-12 01:54] kwind commented on #5773
Thank you for your reply. This is a real use case.

[2020-02-12 13:19] ton31337 opened #5796 "Add modify flag for aggregate-address to set default origin value"

[2020-02-12 14:24] netravnen opened #5797 "LDP: mpls ldp dual-stack transport-connection prefer [ipv4|IPv4] (no ipv6)"
**Describe the bug**

Under `mpls ldp`. When executing command `dual-stack transport-connection prefer`. Only `ipv4` and `IPv4` is listed as possible Command Line Interface tab-complete options.

[x] Did you check if this is a [duplicate issue](https://github.com/FRRouting/frr/issues?utf8=%E2%9C%93&q=dual-stack+transport-connection+prefer)?
[ ] Did you test it on the latest FRRouting/frr master br

[2020-02-12 14:30] mjstapp commented on #5797
Hmm - the behavior aligns with my understanding - and our user documentation. the issue is that v6 will only be used if available - but can be overridden with this cli.

[2020-02-12 14:35] netravnen commented on #5797
So if your doing a coin-flip with your comment. If only IPv6 transport is available. You can - in theory - override the behaviour for ldp to use IPv4 transport, only?

[2020-02-12 16:08] mjstapp commented on #5797
As the user doc says:

   preference is IPv6 by default (as specified by rfc...)

so if dual-stack is available, LDP uses ipv6 where available. this config allows you to override that. should the doc be changed - it seems pretty clear to me?

[2020-02-12 17:29] nix-power opened #5800 "Can not upgrade 7.2 to 7.2.1 in Ubuntu 18.04"
**Describe the bug**
When trying to apt-get install frr , or running apt-get upgrade frr and frr-pythontools packages
are not being upgraded. Upgrade fails with the following error:
[code]
The only way to install new version is to purge old packages and to make clean install with apt-get. This behaviour happens due to postinst script that creates system groups and if they exist, throws an error (d

[2020-02-13 00:32] netravnen opened #5804 "rpki: enable module by default"
**disclainer: not a bug report**

One big pain-point I have had with using FRRouting. Is the - somewhat - manual process of installing the dependencies for the RPKI functionality to work. This is currently not "it just works" experience when e.g. installing FRRouting on Debian 10 (Buster).

E.g. `librtr` for Debian 10 is not not yet available on `deb.frrouting.org` ([link](deb.frrouting.org/frr/po

[2020-02-13 14:53] pguibert6WIND commented on #4683
closing issue, since it works now.

[2020-02-13 14:53] #4683 closed

[2020-02-13 15:00] pguibert6WIND opened #5808 "NHRP / nflog-group configuration fails on some machines"
**description**
nhrp nflog-group  is supposed to capture traffic going in and out to the same gre interface.
for that a netlink registration message is done to register to nflog group used by iptables rule.

observation is that the registration happens badly sometimes with following:
- a log message is displayed after registration indicating that an error is returned from netlink layer.
[code]
- w

[2020-02-13 16:33] ton31337 commented on #5715
@kotuk please reopen this if this repeats after upgrade to 7.2.1.

[2020-02-13 16:33] #5715 closed

[2020-02-13 16:38] mjstapp commented on #5797
@polychaeta autoclose in 1 week

[2020-02-14 19:27] chiragshah6 commented on #5605
@rohitgeek  If you or folks at vmware has bandwidth to take up the work, I am fine with it.
Just to note `Flags: * - Kernel` might need a second look when `*` is added for the import RTs.

Tagging @srimohans as well on it for evpn item.

[2020-02-14 20:49] donaldsharp commented on #1851
Fixed by #5811

[2020-02-14 23:10] #5797 closed

[2020-02-15 11:41] koszik opened #5816 "route stays active after interface removal"
**Describe the bug**
When removing an interface directly connected routes stay in the zebra database and they get redistributed to BGP causing outages.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
ip link add test type dummy
ip link set test up
ip addr add 1.2.3.4/

[2020-02-15 12:54] donaldsharp commented on #5816
Works for me in latest:

eva# show ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,

K * 0.0.0.0/0 [0/600] via 192.168.201.1, wlp41s0, 19:08:34
K>* 0.0.0.0/0 [0/100] via 192.168.201.1, enp39s0, 19:08:34
K>* 1.1.1.1/32 [0/0]

[2020-02-16 00:18] netravnen opened #5818 "rpki: [FR] be able to run "show rpki <aut-num>""
**Feature Request**

Be able to execute `show rpki <aut-num>` to view all prefixes with ROAs for a specific ASN.

[code]

**Versions**
 - OS Kernel: `Linux debian-buster 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux`
 - FRR Version `7.2.1`

[2020-02-16 14:51] liuxyon opened #5819 "v4 session automatic restart every 4 minutes"
frr 7.2.1 ubuntu 19.10 via gre connect to upstream.

v4 session automatic restart every 4 minutes show Clearing.

log show is :
2020/02/16 22:31:47 BGP: Resetting peer (null) due to change in addpath config
2020/02/16 22:31:53 BGP: %NOTIFICATION: rcvd End-of-RIB for IPv4 Unicast from 10.20.1.1 in vrf default
2020/02/16 22:33:47 BGP: Resetting peer (null) due to change in addpath config

router bgp

[2020-02-16 17:53] liuxyon commented on #5819
I have found a workaround for the time being.  close it

[2020-02-16 17:53] #5819 closed

[2020-02-18 15:39] mshuttle76 opened #5824 "FRR as RR into 6PE architecture"
Hello,
I'm testing FRR 7.2 as RR for a IPv4 MPLS backbone.
I'm using ISIS+LDP+BGP.   In IPv4 environment all is working correctly.

I'm trying to set up 6PE using ipv6 labeled-unicast address-family but I have some problems.
The BGP session comes up  but BGP does not interpretate correctly the 6PE next-hop.

This is the BGP configuration from a 6PE device

_address-family ipv6 unicast
  network 2a

[2020-02-18 16:16] donaldsharp commented on #5816
Have you tried 7.2.1 yet to see if this fixes the issue?

[2020-02-18 16:17] donaldsharp commented on #5818
Added this request to the FR page

[2020-02-18 21:14] devicenull opened #5828 "7.2.1 no longer removes routes when interfaces go away"
After upgrading to 7.2.1, routes stay around even when the destination interface goes away:

[code]

I would expect this route to go away when the destination interface goes away (which is what happened in older versions).

In this case I'm on a CentOS7 running a 4.17 era kernel.

[2020-02-18 21:32] devicenull opened #5829 "HEAD no longer builds without rtadv"
We use this to build FRR RPMs:

```rpmbuild -bb --define "dist .el7" --define "release_rev 1234" --with cumulus --define "with_rtadv 0" redhat/frr.spec```

90446e3c3310001a7b84017fa4b237ea7914f45e works just fine with this, but 4c5122452ae496fcba0ce26883370fd86642b756 throws errors about rtadv symbols:

[code]

[2020-02-18 21:54] devicenull commented on #5829
This is an issue with stable/7.3 as well (c0038fca9b4b736a59d6ed786c12ac0c8a2909ac) although there are fewer undefined references:

<pre>
 zebra/interface.o: In function `shutdown_if':
 /root/rpmbuild/BUILD/frr-7.3-vultr/zebra/interface.c:1981: undefined reference to `rtadv_stop_ra'
 zebra/main.o: In function `sigint':
 /root/rpmbuild/BUILD/frr-7.3-vultr/zebra/main.c:148: undefined reference to `r

[2020-02-18 22:02] devicenull commented on #5828
This is still broken in 7.3, and also broken in 7.2.1 with #5184 applied.

7.4-HEAD was crashing on startup for me, so I wasn't able to test it.

We're currently working around this with explicit route flushes before removing the interface

[2020-02-18 22:20] devicenull commented on #5816
Whoops, I guess #5828 is a duplicate here... 7.2.1 is still broken, as is 7.3 as of now.

I wasn't able to get 7.4 running, will try that now

[2020-02-18 22:20] #5828 closed

[2020-02-18 22:34] sworleys commented on #5816
This is a problem with interface `delete` case specifically. Interface `down` looks to be handled correctly.

[2020-02-19 05:37] zyboy2000 commented on #5665
When is the problem expected to be solved ？Thanks

[2020-02-19 12:55] pguibert6WIND commented on #5655
fixed by https://github.com/FRRouting/frr/pull/5656

[2020-02-19 12:55] #5655 closed

[2020-02-19 12:56] pguibert6WIND commented on #5154
Hi @bisdhdh , any updates on this, please?

[2020-02-19 13:37] mjstapp commented on #5829
Should be fixed by #5830

[2020-02-19 13:38] #5796 closed

[2020-02-19 14:16] rzalamena opened #5833 "Possible BGP memory leak"
Running current `bgpd` from `master` branch I've found the following Address Sanitizer warnings:

[code]

The report that looks more harmful is the following:

[code]

Steps
-------

1. Compile FRR with ASAN
2. Start zebra and BGP
3. Configure BGP with the following

4. Setup environment to connect to a local ExaBGP instance:

5. Configure ExaBGP:

6. Run ExaBGP:

Details
---------

* OS: Ubuntu 1

[2020-02-19 14:46] devicenull opened #5835 "BGPD crash on startup"
This is new with 7.4
[code]

@donaldsharp has the configs here (I'd rather not post them all publicly)

[2020-02-19 14:58] devicenull commented on #5829
Yes, this builds cleanly on HEAD now thanks.

[2020-02-19 20:03] #5829 closed

[2020-02-19 20:28] ton31337 commented on #2374
@polychaeta autoclose in 1week.

[2020-02-20 14:43] rzalamena commented on #5835
@devicenull I'm trying to reproduce the problem, but I didn't manage to do it yet (I've tried copying your configuration line by line, batch and reading from file)...

Questions:
1. Are you using libyang 0.16 or 1.0?
2. Have you tried with libyang 1.0?
3. (clarification question) When you say 7.4 you mean `master` branch right?
4. Can you try again with some recent `master` commits? (I fixed some

[2020-02-20 14:50] bbs2web commented on #5733
Another occurrence almost exactly a week later:
`Thread statistics for ldpd:

Showing statistics for pthread main
-----------------------------------
                      CPU (user+system): Real (wall-clock):
Active   Runtime(ms)   Invoked Avg uSec Max uSecs Avg uSec Max uSecs  Type  Thread
    2          0.074        15        4        74       74       365 R     iev_ldpe->handler_read
    0

[2020-02-20 14:58] donaldsharp commented on #5733
@bbs2web do you have debug symbols installed for frr?

[2020-02-20 15:02] bbs2web commented on #5733
Our FRR installation is part of VyOS 1.3 rolling. Is there somewhere you could point me, for me to obtain steps on how to get you the information you need?

I could try reaching out to VyOS developers or try compiling it myself if necessary.

[2020-02-20 15:26] rwestphal commented on #5733
@bbs2web could you provide the output of `top -bc -n1 | grep ldp[d]`. ldpd uses a multi-process architecture so it would be useful to know which process is behaving badly.

If you could provide the ldpd log file that could be useful as well to help us identify what is triggering this problem.

[2020-02-20 15:38] rwestphal commented on #5718
@santoshdoke thanks for reporting this issue.

I have a pending optimization commit that completely ditches the `running_config_entries` hash table in favor of storing YANG user pointers directly in the `lyd_node` structure. I tend to believe this should fix this inconsistency problem that happens when we have config changes coming from both the CLI and kernel at the same time. I should open a PR

[2020-02-20 16:39] devicenull commented on #5835
0.16.

No.  I don't see packages for that here -> https://ci1.netdef.org/browse/LIBYANG-YANGRELEASE-10/artifact/shared/CentOS-7-x86_64-Packages/ ... is that generally ready atm?

Yes, this was using HEAD from yesterday.

It no longer crashes on f294fac22d152ca1a31c3d87939c3a6f58ec0ce0

[2020-02-20 16:39] #5835 closed

[2020-02-21 13:32] denwou commented on #5824
Hello,

I was about to open an issue for the exact same problem.

I tested my configuration with a Juniper/Cisco and it is working correctly.

FRR does not interpret correctly the IPv6 coded IPv4 next-hop attribute:

RTR-TELYCA-RR-PUB-01# sh bgp nexthop
Current BGP nexthop cache:
 ::ffff:6440:c403 invalid
  Last update: Fri Feb 21 14:23:18 2020

If I'm not wrong, in older FRR version, it was worki

[2020-02-22 13:33] slankdev opened #5853 "Feature Proposal: zebra SRv6 d-plane manager"
## Summary

- This issue propose new feature 'SRv6 manager' on zebra
- Zebra will be able to manage SRv6 routing configuration
	- At this time especially seg6local only
	- New resource SRv6-locator and SRv6-function are managed on zebra.
	- User story is quite simular as Cisco's [IOS-XR][srv6-iosxr], [NX-OS][srv6-nxos].

| kind       | change? | description |
| ---------- | --- | --- |
| component

[2020-02-24 14:10] cardosocristian opened #5858 "After restarting the kernel route table, FRR does not identify forwarding flags"
In some moments, when configuring a new network interface on FreeBSD, it is necessary to use the commands "/etc/rc.d/netif restart && /etc/rc.d/routing", before configuring the new interface, I stop the service of the FRR with the command "service frr stop".
When the kernel route table is restarted, when starting the FRR daemon, the system no longer identifies the forwarding flags set in the kerne

[2020-02-24 19:41] sworleys commented on #5816
Sorry for getting back late on this one, was on vacation.

I tested this on a few different git tags and it looks to be fixed in >=7.3 at least according to this scenario?

I used the exact same reproduce described at the top of this issue.

Here are the results:

[code]

I realize this disagree's with your results for 7.3 @devicenull

It could be a kernel difference though I am not sure... so I a

[2020-02-24 19:46] briantsaunders commented on #1164
I am currently experiencing this issue as well.  NHRP only becomes operational when I restart the frr service after configuring the environment.  If I specify the tunnel source in the frrouting configuration it works without having to restart the frr service.  Below are the details and the samples of a non working setup and a working setup.

**FRRouting Version and Compile Info:**
[code]
**FRRouti

[2020-02-25 06:01] magnate3 opened #5863 "fail to establish neighbors"
### In my test, the spine  fail to   establish neighbors  with two leaves:
 spine : 10.10.18.195/24
leaf1: 10.10.16.82/24
leaf2: 10.10.16.81/24
**all of they can ping with each other**

-

1. my os is as following:

 [root@host-10-10-18-195 ~]# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (AltArch)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (AltArch)"
ANSI_

[2020-02-25 06:48] Spantik commented on #5863
Could you please enable logs below and share the logs file?
debug bgp neighbor-events
debug bgp keepalives
debug bgp zebra
debug bgp update-groups
debug bgp updates

[2020-02-25 07:03] Spantik commented on #5665
@zyboy2000 will be doing this by March 2nd week.

[2020-02-25 07:59] magnate3 commented on #5863
**after  enable logs  and the log is :**
2020/02/25 13:31:11 BGP: [EC 100663299] buffer_flush_available: write error on fd 2: Bad file descriptor
2020/02/25 13:31:11 ZEBRA: client 33 says hello and bids fair to announce only ospf routes vrf=0
2020/02/25 13:31:11 ZEBRA: client 38 says hello and bids fair to announce only static routes vrf=0
2020/02/25 13:31:13 BGP: bgp_update_receive: rcvd End-of-R

[2020-02-25 10:53] Spantik commented on #5766
@jpsenior I checked with FRR4.0 and trying with exact steps you have provided. I see the issue with only exit preset in frr.conf file and we do a reload as you have rightly pointed out. Without exit we do not see this issue reported.

When I tried to save configuration with "write" command then I end up with /etc/frr/frr.conf as below.

interface ens192 vrf blue
 ip address 90.1.1.35/24
 ip ospf 2

[2020-02-25 11:18] Spantik commented on #5863
It looks like you BGP session with leaf is trying to come up, at least I can see that they are exchanging keepalive (Openconfim and established state) and then there seems to be terminating signal being sent.

2020/02/25 15:44:53 BGP: 10.10.16.82 KEEPALIVE rcvd
2020/02/25 15:44:53 BGP: 10.10.16.82 [FSM] Timer (keepalive timer expire)
2020/02/25 15:44:53 BGP: 10.10.16.82 sending KEEPALIVE
2020/02/2

[2020-02-25 16:16] qlyoung commented on #5863
What does this show:
[code]
All the daemons are being terminated, so systemd is killing them, which usually means `watchfrr` isn't getting liveness pings from daemons. Journalctl should have some more info about what's going on.

[2020-02-26 01:30] magnate3 commented on #5863
the log shows : zebra state -> dow、bgpd state -> down、ospfd state -> down、 staticd state -> down。
however,

[root@localhost ~]# systemctl status frr
● frr.service - FRRouting
   Loaded: loaded (/usr/lib/systemd/system/frr.service; enabled; vendor preset: disabled)
   **Active: active (running**) since Tue 2020-02-25 15:46:53 CST; 17h ago
     Docs: https://frrouting.readthedocs.io/en/latest/setup.

[2020-02-26 20:28] #2374 closed

[2020-02-26 22:45] nix-power opened #5869 "service frr reload not working (bgpd, zebra)"
---------------
service frr reload command is not working properly.
Debugging this i have tried to run /usr/lib/frr/frr-reload.py --test /etc/frr/frr.conf and got the following output:
`2020-02-26 17:32:16,466  INFO: Called via "Namespace(debug=False, filename='/etc/frr/frr.conf', input=None, overwrite=False, reload=False, stdout=False, test=True)"
2020-02-26 17:32:16,466  INFO: Loading Config obj

[2020-02-27 06:53] magnate3 opened #5871 "fail to save running-config"
localhost.localdomain# **show running-config**
Building configuration...

Current configuration:
!
frr version 7.3-MyOwnFRRVersion
frr defaults traditional
hostname localhost.localdomain
log file /var/log/frr/bgpd.log
!
router bgp 7576
 bgp router-id 10.10.16.81
 bgp bestpath as-path multipath-relax
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor fabric update-source 10.1

[2020-02-27 08:07] ton31337 commented on #5869
`fc00:101:101` wrong ipv6 address.

[2020-02-27 09:30] ton31337 commented on #5871
`address-family ipv4 unicast` is active by default or what do you refer here?

[2020-02-27 09:38] wdoekes commented on #5195
@ton31337

Interesting that you should say that. For Ubuntu, my tests say otherwise. I went back to Xenial, Trusty and Precise, and found PrivDrop everywhere. As for Debian, I don't see the PrivDrop anywhere. So, looks like an Ubuntu-ism, which I can trace back to at least Karmic:
[code]

Why go to all this trouble?

Well.. since this config option is widespread in use, I would argue that the fix

[2020-02-27 10:20] wdoekes commented on #5195
I was thinking something along these lines:

(Observe the `quaggauid` -> `quaggagid` mini bugfix in there as well.)

Note that I didn't test any of this. It's what I found in master using grep.

Note that frr won't be able to change chgrp syslog when it creates a new file. But logrotate will take care of setting permissions if needed on a daily basis. So I assume that this would autoheal after day

[2020-02-27 10:50] magnate3 commented on #5871
I have create vxlan interface in my host
[root@localhost ~]# ip link show type vxlan
44: vxlan10: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master br10 state UNKNOWN mode DEFAULT group default qlen 1000
    link/ether 56:9c:80:08:41:87 brd ff:ff:ff:ff:ff:ff

[2020-02-27 11:33] ton31337 commented on #5195
@wdoekes

That's only what I noticed on different machines in kitchen/vagrant/virtualbox environments.

[2020-02-27 17:48] nix-power commented on #5869
You right. It works now fine

[2020-02-27 17:48] #5869 closed

[2020-02-27 19:37] ton31337 commented on #5871
sorry, didn't get it.

[2020-02-27 21:17] sworleys commented on #5816
@devicenull I was able to repro this on current master. It requires it to be of type `veth` though.

will investigate further and try to get a fix.

[2020-02-27 21:20] donaldsharp commented on #5816
what about dummy? or a bridge then?

[2020-02-29 10:50] ton31337 commented on #5652
@polychaeta autoclose in 1week.

[2020-02-29 10:55] ton31337 commented on #5732
@liuxyon sorry, I still don't understand the problem. I need more details here. Can you share the configuration and some outputs confirming that another part is sending all those prefixes? In addition, please enable `debug bgp updates`, `debug zebra events`. You should notice something more in logs if your prefixes are dropped on incoming.

[2020-02-29 10:57] ton31337 commented on #5695
@polychaeta autoclose in 1week.

[2020-02-29 11:05] ton31337 commented on #2666
@patrick7 is this still relevant?

[2020-02-29 11:07] ton31337 commented on #2776
@bessa could you test this with 7.x releases? I bet for 7.3 to try.

[2020-02-29 11:08] ton31337 commented on #3735
is this done?

[2020-02-29 11:10] ton31337 commented on #3846
is this fixed?

[2020-02-29 11:11] ton31337 commented on #3903
@and-1 there are a number of fixes in 7.3 already regarding frr-reload.py, could you please try and check if this persists?

[2020-02-29 12:08] ton31337 commented on #3241
@dmians as I understand from your outputs those neighbors aren't directly connected. Did you try using `ebgp-multihop` command? And `disable-connected-check`?

[2020-02-29 18:10] louberger commented on #3735
actually not -- look at the last three numbers

we can track as new issue f you'd like

[2020-02-29 18:22] louberger opened #5879 "PR #5653 increased bgp memory usage by about 10-15%"
Master before #5653 (look at last three numbers)

Master with #5653

See labn-ci results in https://github.com/FRRouting/frr/pull/5653 for runs with just the PR

[2020-02-29 18:23] louberger commented on #3735
new issue is https://github.com/FRRouting/frr/issues/5879

[2020-02-29 18:23] #3735 closed

[2020-03-02 16:25] dgirardin81 opened #5883 "Kernel routes are not withdrawn upon deletion from kernel routing table"
Please see the output below.  Test route 10.77.77.0/30 is added to the kernel's VRF-TEST routing table, after which it is seen as a kernel route within FRR.  The route is then deleted from the kernel's VRF-TEST routing table, after which it is still seen as a kernel route within FRR.

[root@test-vpn-svr-101 ~]# ip r show table VRF-TEST |grep 10.77.77.0
[root@test-vpn-svr-101 ~]# vtysh

Hello, this

[2020-03-02 17:53] sworleys opened #5884 "Debugs For RFC 5549 Neighbor Creation"
**Describe the bug**
We are missing debugs for for RFC 5549 Neighbor Entry creation. There should probably be some debug lines in `if_nbr_mac_to_ipv4ll_neigh_update()` in `zebra/interface.c` and `netlink_neigh_update()` in `zebra/rt_netlink.c`

Basically, we use the code paths to create synthetic neighbor entries for `169.254.0.1` for RFC 5549.

When debugging its pretty annoying to not know when

[2020-03-02 18:19] taspelund opened #5885 "EVPN Support for IPv6 underlay"
The Linux kernel supports IPv6 underlay for VXLAN tunnels. It would be nice if EVPN also supported using a v6 underlay (v6 next-hops for EVPN prefixes).

[2020-03-02 18:23] MalteJ commented on #5885
+1

[2020-03-02 20:58] sworleys commented on #5883
Looks like we messed up when we back ported the fix to the stable branch.

let me know if that commit doesn't fix the problem.

[2020-03-03 14:07] rubenk opened #5898 "watchfrr logs warnings on first startup"
The first time I start FRR it logs a bunch of warnings:
[code]

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. (On CentOS) systemctl start
2. journalctl -S today | grep frr
3. Observe that watchfrr is trying to restart zebra and staticd, but they're not running yet

**Expected beha

[2020-03-03 16:09] donaldsharp commented on #5879
@qlyoung reports a mem leak in this code and we may. need to bring back `struct attr_extra`

[2020-03-03 16:13] sworleys commented on #5883
@polychaeta autoclose in 1 week

[2020-03-03 16:14] qlyoung commented on #5883
@sworleys which stable branch?

[2020-03-03 16:14] polychaeta commented on #5883
This issue will no longer be automatically closed.

[2020-03-03 16:21] sworleys commented on #5883
@qlyoung I fixed in the stable/7.2 branch with #5891

That is the version @dgirardin81 is using:

[2020-03-03 17:01] mjstapp opened #5903 "Zebra flag to neither import or export routes to kernel"
In the course of discussing #5886 , we brought up some questions about the way that we (zebra) handle and use kernel routes, routes that have been configured in the local OS. The example in that PR is a useful one: a KERNEL route will be used / preferred, even if we have learned that the route is not actually useful for forwarding. The consensus is that we will use local KERNEL routes, in order to

[2020-03-03 17:10] #5816 closed

[2020-03-03 21:01] jusjose24 commented on #3435
Will this happen in future at any time?

[2020-03-04 09:09] pguibert6WIND opened #5905 "EVPN issue with IPv6 overlay with IPv4 underlay"
on an EVPN back to back setup, where I import EVPN RT5 entries, I could not import received IPv6 entry in the appropriate VRF, when using upstream:

[code]
extract of traces from zebra
[code]

my underlay is an ipv4, and the imported ipv6 route has an ipv4 mapped ipv6 entry `::ffff:c0a8:6429`.

the issue is that the attempt to create entry is refused at zebra layer.

[2020-03-04 11:11] nix-power commented on #5800
Generally this problem relevean for any FRR version upgrade

[2020-03-04 13:43] dgirardin81 commented on #5883
This problem still occurs with the updated code and was reproduced using the same steps listed in the original posting.  Can you please take another look?  Thanks.

[2020-03-04 15:27] sworleys commented on #5883
It seems to be working for me?

Maybe I am missing a config you are doing?

[code]

[code]

[2020-03-04 16:31] qlyoung opened #5909 "Memory leak when parsing SRv6 attributes"
**Describe the bug**
Commit e496b4203055c50806dc7193b9762304261c4bbd introduced a memory leak here:
https://github.com/FRRouting/frr/blob/d87d4e5e0f97966e2501db7a486ea92460d4b8ca/bgpd/bgp_attr.c#L2546

Caught by LSAN under libFuzzer:
[code]

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavi

[2020-03-04 21:50] jdrews commented on #2453
Looks like the latest docs indicate that OSPF6 area support is not implemented.

http://docs.frrouting.org/en/latest/ospf6d.html
![image](https://user-images.githubusercontent.com/172766/75926221-2af37800-5e38-11ea-86e7-45667cbd3261.png)

[2020-03-04 22:07] netravnen commented on #2453
Probably a case of the docs being 'outdated'.

The FRR docs is - in certain areas - not well-maintained. Which is a
known issue. Every user of FRR is always welcome to submit a PR for
the docs to be updated.

I recommend you to double-check the latest release (FRR v7.3) and see
which commands is supported (e.g. on the CLI, execute "find area")

/from one frr user to another frr user

[2020-03-04 22:13] jdrews commented on #2453
heh. heh.

Will do! Thanks!

[2020-03-05 17:34] Spantik commented on #5665
First part of the issue is fixed with PR https://github.com/FRRouting/frr/pull/5917. Scope for route-map based default route origination is a bigger scope as there is no infrastructure to handle route-map based default route origination. Working on it.

[2020-03-05 19:05] dgirardin81 commented on #5883
After we still experienced the problem with the updated 7.2.1 code, we ended up trying the 7.3 branch and the problem was no longer occurring.  We are going to move forward with 7.3 for our needs.

[2020-03-05 21:24] #5883 closed

[2020-03-06 01:20] slankdev commented on #5909
That's correct. I didn't care this case. big thanks.
I reviewed #5920.

[2020-03-06 09:51] hashbangtech commented on #5236
I'm having same kind of problem. Ping flood by user frr to all the osp peer and consuming 100% cpu usage
![Screenshot from 2020-03-05 15-33-59](https://user-images.githubusercontent.com/28591937/76072522-21941800-5fbe-11ea-84a8-caec32b2f4d7.png)

[2020-03-06 10:50] donaldsharp opened #5921 "Add some basic pbrd testing"
pbr has no testing at all.  Add some basic testing to generate a pbr map and have it applied

[2020-03-06 11:48] topranks opened #5923 "Import routes from non-standard kernel table to BGP."
Hi,

Following up on a conversation on the frr slack about this.  I have a use case in which I wish to import kernel routes from a non standard table, bring them into BGP and announce to some external BGP neighbours.

I had hoped using the "redistribute table X" command within the BGP address family would do this, but this alone does not have the desired result.

If I add the "ip import table" com

[2020-03-06 13:29] #5909 closed

[2020-03-06 20:41] mjstapp opened #5926 "All interfaces without ipv4 treated as UNNUMBERED"
Hmm - the change made in PR3908 seems wrong to me: basically, after this, zebra treats any interface without an IPv4 address as “unnumbered”. That causes any incoming route referring to the interface to be considered ONLINK - and that leads to some strange results. As in, zebra will select and install ipv4 routes that use an interface that does not have ipv4. Is that really … something useful? I w

[2020-03-07 10:50] #5652 closed

[2020-03-07 10:57] #5695 closed

[2020-03-07 16:20] toreanderson commented on #5236
It does indeed seem to be ospfd that is doing this:

https://github.com/FRRouting/frr/blob/master/ospfd/ospf_packet.c#L4350

[2020-03-08 15:38] andamasov commented on #5733
@bbs2web can you join us on slack to discuss get your invite [here](https://slack.vyos.io) Thanks!

[2020-03-09 02:50] root00r opened #5939 "FFR bgpd is run but no send bgp packet ?"
1.I create a linux gre tunnel  , add it to vrf like this
ip tunnel add gre-5ztunfko mode gre local 172.16.180.12 remote 172.16.176.15 ttl 255
ip a add 192.168.0.1 dev gre-5ztunfko
ip link add vrf-5ztunfko type vrf table 520418715
ip link set dev gre-5ztunfko master vrf-5ztunfko
ip link set dev gre-5ztunfko up
ip link set dev vrf-5ztunfko up
ip r add default via 192.168.0.1 dev gre-5ztunfko vrf vrf

[2020-03-09 02:54] root00r commented on #5939
### show ip route vrf vrf-fhshp1wv
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,

VRF vrf-fhshp1wv:
K>* 0.0.0.0/0 [0/0] via 192.168.0.1, gre-fhshp1wv, 00:23:19
K>* 172.16.0.0/24 [0/0] is directly connected, gre-fhshp1wv, 00:29:53

[2020-03-09 03:05] root00r commented on #5939
then I add `ip nht resolve-via-default` to the vrf. but there is useless.

`host# show running-config
Building configuration...

Current configuration:
!
frr version 7.2
frr defaults traditional
hostname 172-16-180-121
log file /var/log/frr/zebra.log
no ipv6 forwarding
log file /var/log/frr/bgpd.log
!
debug bgp flowspec
debug bgp keepalives
debug bgp neighbor-events
debug bgp nht
debug bgp pbr
deb

[2020-03-09 10:00] donaldsharp commented on #5939
`bgp disable-ebgp-connected-route-check`

[2020-03-09 14:07] tweippert commented on #5178
If i get it correct, configuring vni 400 in vrf and in l2vpn evpn afi of the global bgp process mixes up L2VNI/L3VNI situations. I had the same issue while i try to carry L2/L3 over only "one" VXLAN.

Created an separated L3 VXLAN for L3 transport solves my issues.

So for your config i guess configure vni 400 only under vrf vrf400 and remove the vni 400 part on address family l2vpn evpn.

What sh

[2020-03-09 15:38] manuhalo opened #5946 "isisd does not correctly handle the removal/addition of ip addresses on an interface"
(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**Describe the bug**
Imagine a simple topology with 2 isisd nodes n connected via a p2p link, where the link interfaces are on the same subnet (say using address `12.0.0.n/24` for node `n`). The loopbacks are also IS-IS configured and giv

[2020-03-09 17:39] pguibert6WIND commented on #5923
Hi,
I think there is something wrong with zebra at least, as the tables selected entries could not be selected as it is today.
I am trying to fix it in https://github.com/FRRouting/frr/pull/5947
this is yet wip.

[2020-03-09 23:24] qlyoung commented on #5939
@root00r In the future, please wrap your logs and config blocks in 3 backtics (```), it is quite difficult to read as they are.

Try @donaldsharp's suggestion; in eBGP, by default, we will not establish the session if the peer is not considered to be directly connected, even if it is only one hop away. That command turns this behavior off. Here's the docs for it: http://docs.frrouting.org/en/lates

[2020-03-09 23:25] qlyoung commented on #5926
Cross referencing #3908 for convenience

[2020-03-10 05:36] root00r commented on #5939
`bgp disable-ebgp-connected-route-check` is valid ,I used `neighbor 192.168.0.2 disable-connected-check` is also valid . Thinks @qlyoung @donaldsharp

[2020-03-10 06:11] #5939 closed

[2020-03-10 13:17] donaldsharp opened #5956 "Make zebra debugs more vrf aware"
Add to zebra `zlog_debug` vrf awareness.  There are a bunch of places where we output the interface but not the vrf the interface is in.  It would be extremely useful to go through and add this appropriately

[2020-03-10 13:47] donaldsharp opened #5958 "Modify netlink_parse_info to use recvmmsg instead of recvmsg"
Currently we pass in to netlink_parse_info, a count variable to read as many as possible from the kernel.  Modify this function to use recvmmsg instead of recvmsg.  This is a non-blocking socket and timeouts should be 0 as well as using the MSG_WAITFORONE flag should be used.  Read in a decent number of packets from the kernel at one time and parse them correctly in order..

[2020-03-10 14:10] ndeffayet opened #5959 "Enhancement : Native Tacacs support for vtysh"
Hello,

Is it possible to add a native Tacacs support for vtysh including access control and audit ?

Thanks

Nicolas

[2020-03-10 14:13] ndeffayet opened #5960 "Enhancement : read-only mode for vtysh"
Hello,

Is it possible to add the following features to vtysh:

- Allow to get running-configuration in read-only (the goal is to fetch the configuration with Rancid but using a user with no write rights)
- View mode: All show commands are allowed but don't allow shell or configure access

Thanks

Nicolas

[2020-03-10 14:55] netravnen commented on #5960
Are u perhaps looking for information similar to [this](http://docs.frrouting.org/en/latest/basic.html#virtual-terminal-interfaces)?

[2020-03-10 15:14] pguibert6WIND commented on #5905
some traces
[code]
[code]
[code]

[2020-03-10 15:19] manuhalo commented on #5946
A few clarifications:

- If the circuit is only configured for IPv4 and not IPv6, removing the address will make the circuit "unusable" for IPv4 and eventually the adjacency will expire. However if IPv6 is enabled that will never happen, as we will always have a link-local address that makes it IPv6-usable, and hellos are only rejected if we cannot support either IPv4 or IPv6. In any case it might

[2020-03-10 15:49] Naveenaidu commented on #5884
@sworleys I would like to work on this issue. Can I please be assigned to it.

[2020-03-11 00:15] Try75 opened #5963 "SNMP trigger fails on peer state going to Established first time"
In 6.0.3, with SNMP enabled for zebra and bgpd, establishing a connection with a peer would trigger an SNMP event and our trap-handler script would insert some routes. When the peer connection was no longer Established, an SNMP trigger would fire and the trap-handler script would remove the routes.

In 7.3, the SNMP trigger for bgpEstablished does not always get fired, therefore our trap-handler s

[2020-03-11 00:25] Try75 opened #5964 "FRR deb repo removed 6.0.3 packages for Ubuntu 18.04"
The Ubuntu 18.04 FRR 6.0.3 packages in the deb repo were removed for some reason recently and broke our build process that relied on this specific versions. We have tried v 7.0, 7.1, 7.2, 7.2.1, and 7.3 and have found issues each time and have always been able to revert back to 6.0.3. We were almost through testing with 7.3 when another issue came up https://github.com/FRRouting/frr/issues/5963 th

[2020-03-11 02:02] halexan opened #5965 "Failed to connect to net-snmp by agentx"
Versions

- OS Version [CentOS 7.6]
- FRR Version [5.0.1]

1. Master agentx is enabled in snmpd.conf, systemctl status snmpd shows that “Turning on AgentX master support”. The screenshot is as follows:

<img width="472" alt="微信图片_20200311095918" src="https://user-images.githubusercontent.com/17266912/76374741-00954380-637f-11ea-8dbe-95ee96ee035d.png">

2. Agentx is enabled in ospfd.conf, systemctl

[2020-03-11 13:18] arunsesh commented on #5262
Not sure if the changes done is causing regression. On termination of bgpd (kill of bgpd process) ---  2 cease Notification messages sent to peer.

1st NOTIFICATION cease message sent with minor-code = Peer-DeConfigured.
2nd NOTIFICATION cease message sent with minor-code = Administratively Shutdown

[2020-03-11 13:32] xThaid commented on #5956
I'm wondering if I could be assigned to this issue.

[2020-03-11 13:32] donaldsharp commented on #5956
all yours @xThaid

[2020-03-11 15:06] rubenk opened #5978 "build: vrrpd should only be compiled on Linux"
Since vrrpd is only suppored on Linux, we should not try to compile it on other operating systems, which we do by default.

For instance, on OpenBSD this fails with:
[code]
Some checks will have to be added to configure.ac to prevent this.

[2020-03-11 15:09] mjstapp commented on #5978
hmm -  not supported? see https://frrouting.readthedocs.io/en/latest/vrrp.html

[2020-03-11 15:10] rubenk commented on #5978
then shouldn't we disable it at configure time?

[2020-03-11 17:05] sworleys opened #5982 "Add Mapping From Table ID to VRF"
In `zebra/rt_netlink.c`, we call `vrf_lookup_by_id()` when we get a route to find the associated vrf object for that table.

This should be improved to be a hash table mapping of Table ID to `zebra_vrf` object.

You would need to create a hash table probably in `zebra/zebra_vrf.h` that uses the `table_id` hash as a key and then update the code in `vrf_lookup_by_id()` to use this.

This should be a

[2020-03-11 17:10] mjstapp commented on #5978
Maybe that would be a clearer re-phrasing of the issue? "Only enable vrrp on linux etc." sort of thing?

[2020-03-11 17:29] donaldsharp opened #5984 "Cleanup calling is_selfroute in zebra/rt_netlink.c"
is_selfroute function should be converted to return a bool instead of an int

The calling function of is_selfroute invokes this 2 times.  Invoke it 1 time and save the value to be used as appropriate

[2020-03-11 18:43] kevinkirkup commented on #5964
Reported this issue on Slack.

[2020-03-12 02:34] proelbtn commented on #5982
I'll try it.

[2020-03-12 07:49] ton31337 commented on #5732
@polychaeta autoclose in 1week.

[2020-03-12 09:54] philfry commented on #4363
looks like it's no longer an issue in 7.2.1 and up. Thanks!

[2020-03-12 09:54] #4363 closed

[2020-03-12 10:05] rubenk commented on #5978
Sure, I adjusted the title and description. Can you reopen this?

[2020-03-12 10:15] pguibert6WIND commented on #5982
can the hash_lookup() function be avoided when vrf backend is not netns ?

[2020-03-12 13:20] idryzhov commented on #5718
Hi @rwestphal, any updates on this?

[2020-03-12 14:26] sworleys commented on #5982
sure that makes sense to me.

[2020-03-12 14:28] sworleys commented on #5982
@proelbtn you will need to a `vrf_is_backend_netns()` check or something similar in the codepath before to doing the lookup. If it is netns, you will need to continue the old way probably.

[2020-03-12 16:18] ton31337 commented on #3241
Also, you should give a try for `ip nht resolve-via-default`.

[2020-03-12 23:19] #5984 closed

[2020-03-13 02:51] zhangfengy commented on #4889
Hello.i have encountered the same question.May i ask where can i find the "frr.conf" file?and how to configure it? Thanks a lot in advance for your help.

[2020-03-13 03:03] lijun66 commented on #4889
You can create a file /etc/snmp/frr.conf.

The content:
[snmpd]
# Use a tcp socket to connect master agent
agentXSocket tcp:127.0.0.1:705

[2020-03-13 03:04] lijun66 commented on #4889
[snmpd]
agentXSocket tcp:127.0.0.1:705

[2020-03-13 04:21] paunadeu opened #5995 "bgpd: sending wrong as-path on originated networks with confederations"
Hello,
I'm having a strange behavior with this setup:

3 routers (A, B and C).

Router A it's originating a prefix on address-family ipv4 (i.e. 1.1.1.0/24), in confederation the router A have ASN 64524 and identifier 33932, and other non-related confederation peers.  (network 1.1.1.0/24)

Router B have the same ASN (64524) and the same identifier (33932) and confederation peer with 64532.

Router

[2020-03-13 06:16] ton31337 commented on #3241
@polychaeta autoclose in 1week.

[2020-03-13 06:16] ton31337 commented on #3979
@InsaneSplash could you try with this patch? https://github.com/FRRouting/frr/pull/5295

[2020-03-13 06:19] ton31337 commented on #4047
@srimohans @karamalla0406 is this still relevant? I just need to double-check before doing something.

[2020-03-13 06:21] ton31337 commented on #5075
https://rpm.frrouting.org/ in progress \o/

[2020-03-13 07:36] zhangfengy commented on #4889
Thanks for your answer. However, there still exists a problem, can you take a look?
The configuration file is attached below.
![微信图片_1](https://user-images.githubusercontent.com/34293569/76599602-5a913700-6540-11ea-9343-dff7edd8812d.jpg)
![微信图片_2](https://user-images.githubusercontent.com/34293569/76599613-5cf39100-6540-11ea-8ad1-48aaac7c1033.jpg)
![微信图片_3](https://user-images.githubusercontent.co

[2020-03-13 07:51] lijun66 commented on #4889
Add "agentXSocket    tcp:127.0.0.1:705" in snmpd.conf and restart snmpd.
By default it seems it will use unix-socket.

[2020-03-13 08:06] zhangfengy commented on #4889
Thanks for your answer.There is a new issue.
![微信图片_5](https://user-images.githubusercontent.com/34293569/76601794-a219c200-6544-11ea-86e8-c2a859f43ff3.jpg)

[2020-03-13 11:21] paunadeu commented on #5995
@ton31337
Router A: 6WIND TurboRouter 2.2.4.m1 (FRR 7.0.1)
Router B: FRR 7.2.1 from deb repo
Router C: FRR 7.2.1 from deb repo

[2020-03-13 19:57] ton31337 commented on #5995
@paunadeu for simplicity, could you show me the configuration of the FRR routers? I want to setup the lab before making sure I'm on the same page.

[2020-03-13 21:06] ton31337 commented on #5995
I just checked on my lab, this is a normal behaviour. Look at tcpdump:
[code]
You should notice `AS Path (2), length: 6, Flags [TE]: 33932 ` for outgoing UPDATE. The configuration I use is:

eBGP (192.168.1.1)
[code]
confederation peer1 (192.168.1.2):
[code]
 confederation peer2:
[code]
On the eBGP side I see:
[code]
So, everything here is according to https://tools.ietf.org/html/rfc5065. Or do yo

[2020-03-14 07:30] idryzhov commented on #5718
Hi @santoshdoke, can you, please, check if my PR #5999 fixes your issue?

[2020-03-14 20:37] kashmir5x commented on #3241
Those neighbors are iBGP (not eBGP). But, yes, the problem was that next hop was reachable via default route, not IGP or static routes. Anyway, i cannot access that environment anymore.
Thanks and close the ticket.

[2020-03-14 20:38] polychaeta commented on #3241
This issue will no longer be automatically closed.

[2020-03-14 20:40] dmians commented on #3241
Those neighbors are iBGP (not eBGP). But, yes, the problem was that next hop was reachable via default route, not IGP or static routes. Anyway, i cannot access that environment anymore.
Thanks and close the ticket.

[2020-03-14 20:40] #3241 closed

[2020-03-14 21:25] paunadeu commented on #5995
Sended more information on private.

When I have:
[code]
[code]

When I remove and leave:
[code]

[code]

Why I’m sending 64524 to DE-CIX routeserver? I should send AS33932 as my public ASN.

[2020-03-15 15:18] dmbaturin opened #6001 "ripd: "network $interfaceName" no longer works in 7.3"
In FRR 7.2 (and older versions going back to Zebra times), there were alwasy two ways to specify RIP networks:

* `router rip; network 192.0.2.0/24`
* `router rip; network eth0` — picks networks automatically from given interface.

In 7.3, `interface eth0` results in an error, when eth0 is up and has an address configured:

[code]

[2020-03-16 03:05] jpsenior commented on #5766
@Spantik Yes the 'exit' was put there manually. Thought you needed it, like we configure in the CLI.  We can close this issue if we like as user error.

[2020-03-16 03:05] #5766 closed

[2020-03-17 14:12] #5818 closed

[2020-03-17 15:31] donaldsharp commented on #5965
@halexan have you tried a newer version of FRR, 5.0.1 is 2+ years old at this point in time.

[2020-03-17 17:05] ooboyle opened #6019 "FRR sending OSPF Hello packets to neighbors out of the wrong interface"
Hello,

I have an Ubuntu 16.04 install with the latest FRR package installed as per the FRR documentation. I'm trying to set up an OSPF topology. The device has 2 Cumulus switch neighbors connected to a common network segment that are also running FRR. The Ubuntu device can see both neighbors but they are stuck in Init/DROther state. The Cumulus neighbors do not see the Ubuntu device at all. All t

[2020-03-18 01:23] ooboyle commented on #6019
To make matters move complicated, I added two TRACE rules:

sudo iptables -t raw -A PREROUTING -p 89 -j TRACE
sudo iptables -t raw -A OUTPUT -p 89 -j TRACE

 in iptables to get the following kern.log syslog info:

Mar 17 20:34:28 spem-egw01 kernel: [67141.449307] TRACE: raw:OUTPUT:policy:2 IN= OUT=vlan2000 SRC=192.168.146.68 DST=224.0.0.5 LEN=72 TOS=0x00 PREC=0xC0 TTL=1 ID=10964 PROTO=89 UID=114 G

[2020-03-18 01:23] #6019 closed

[2020-03-18 12:30] mjstapp commented on #5978
I've opened #6030 that should fix this

[2020-03-18 16:11] #5978 closed

[2020-03-18 16:23] rubenk commented on #5978
Thanks!

[2020-03-18 19:01] paulf69487623 commented on #3858
I also bumped into this.  I tried to use `bgpd -C` to validate the config I'm generating, and found that it always passed even if it reports errors.  It would be great to have the exit code reflect the actual check results.

[2020-03-18 19:02] GalaxyGorilla opened #6038 "OSPFd SR: labels not popped when ECMP is involved"
There was already an issue reported regarding ECMP in OSPF SR to @odd22 and I know there is some work going on here, e.g. a backport of ECMP support from IS-IS to support it together with OSPF SR.

I want to report a very likely related issue. So I have this route in place:
[code]
(note that the label info is missing on the second interface)

To my understanding traffic passing `eth-rt5-1` will 'p

[2020-03-18 21:20] GalaxyGorilla opened #6039 "Restarting OSPFd results in shutdown using OSPF-SR"
I have a test topology in place where I send MPLS labeled traffic into an OSPF zone, expecting the ingress node to forward the traffic according to the top label using OSPF-SR via the egress node to the final destination node. This works in general absolutely fine, what I'm testing are failover scenarios.

When I restart nodes within the OSPF zone (including the ones which are explicitely part of

[2020-03-19 00:02] donaldsharp commented on #6001
[code]

[2020-03-19 00:53] donaldsharp commented on #6001
This is the offending commit

sharpd@eva ~/frr2 ((f22b9250…)|BISECTING)> git bisect bad
f22b9250853229c93617ffdad139a4762f5f7348 is the first bad commit
commit f22b9250853229c93617ffdad139a4762f5f7348

This also breaks passive-interface, offset-list and the same commands in ripngd

[2020-03-19 05:29] dmbaturin commented on #6001
I have to admit I can't see _why_ those typedefs don't work as expected. That's because I haven't seriously looked into that part of course.

Is it easy to fix? How long do you expect the fix to take?

[2020-03-19 07:49] #5732 closed

[2020-03-19 08:27] odd22 commented on #6038
@GalaxyGorilla This is normal / expected behaviour as of today, ECMP is not supported (mention as known issue/limitatio in the OSPF-SR documentation). So, if you configure ECMP, only the first route is taken into account by SR part, leaving the others one as non SR i.e. without label.

As you mention, PR is in preparation to support ECMP which de-facto will solve this problem. I will link the PR w

[2020-03-19 09:38] GalaxyGorilla commented on #6038
Hey @odd22, what I wanted to make clear here is that _even_ the first route is not taken into account by SR in the sense that the label doesn't seem to be popped. Traffic is forwarded over `eth-rt5-1` including the label `10050`.

[2020-03-19 09:40] odd22 commented on #6039
@GalaxyGorilla Thanks to make this test. I think there is two problems. But, to be sure, can you precise if the Ingress node is responsible to push the label stack or if is done by another node, or if you just push the label that corresponds to the egress node? I you restart the egress node, it is normal that the traffic is interrupted as the OSPF network loose the destination. This the same when

[2020-03-19 09:46] odd22 commented on #6038
Well, it depends if the next hop is requesting PHP or NO-PHP. For the latter, the label is not popped. But, it could be also a side-effect of not supporting ECMP.

[2020-03-19 09:52] ton31337 commented on #3979
nobody cares, closing :)

[2020-03-19 10:13] GalaxyGorilla commented on #6038
Ah so I guess this one here is the culprit?

`segment-routing prefix 1.1.1.3/32 index 30 no-php-flag`

[2020-03-19 10:31] odd22 commented on #6038
Exactly. NO-PHP-FLAG means No Pinultimate Hop Popping Flag, so the route deliver the packet with the MPLS label and not pop it. The destination node takes over to pop the label