[2019-07-30 17:14] perkooo commented on #4745
Well for my case the problem is not on the neighbor, but when switching the BGP peer from one server to another server (same IP but the BGP session needs to reconnect).

[2019-07-30 17:30] qlyoung commented on #4745
I think the configs I posted handle that? As I understand it as far as your local box is concerned, your remote peer goes down, then comes back up after a while? IE no config change on the box whose connect timers you want to change?

[2019-07-30 18:06] perkooo commented on #4745
The config you posted with  "--enable-datacenter", but would prefer not to build the package from source.
The neighbor parameter will only apply for neighbor reconnection.

[2019-07-30 18:07] qlyoung commented on #4745
I feel I am missing something - isn't that what you wanted?

[2019-07-30 18:10] perkooo commented on #4745
Sorry I was talking about the time for a BGP session to be "Established".
It stay on "Active" during a while, until this "retry timer" of 120 goes to 0 secondes left.

[2019-07-30 18:11] qlyoung commented on #4745
Yes. That is the connect timer, which can be configured to a lower value using the `neighbor ... timers connect (1-65535)` command I posted.

[2019-07-30 18:28] perkooo commented on #4745
I tried again this parameter, if I set like :
`neighbor FOO 3 10`
This will affect the following :
`Configured hold time is 10, keepalive interval is 3 seconds`
But it does not affect this :
`BGP Connect Retry Timer in Secondes: 120`

[2019-07-30 18:43] qlyoung commented on #4745
It does for me:
[code]
I also don't see the typo `Secondes` in our codebase - did you copy paste that or type it out manuall?

[2019-07-30 18:49] perkooo commented on #4745
Great I was using the "neighbor x.x.x.x timer y z" instead of "neighbor x.x.x.x timers connect y"
It's working perfectly now :)
_(Yes was on another computer, it's **Seconds** not Secondes)_
Thanks a lot !

[2019-07-31 16:47] #4682 closed

[2019-07-31 16:57] denwou opened #4759 "Update message error BGP LU with Juniper"
**Describe the bug**

I'm trying to use FRR as a Route Reflector within a IPv4 MPLS core with BGP LU. FRR RR configured with iBGP IPv4 LU sessions with a Juniper branded PE. The PE close the sessions because of an UPDATE Message Error/Invalid Network Field. This error occurs while the Juniper PE is parsing the BGP update message received from the FRR RR

[x] Did you check if this is a duplicate is

[2019-07-31 19:39] qlyoung commented on #4759
Can you provide us with a pcap? Need to verify that we're not the ones sending garbage packets here.

[2019-08-01 06:16] vijaykug opened #4761 "Static route tag value should be per nexthop for ECMP"
-**Describe the bug**
Configured static route with 2 ECMP nexthop with different tag value , but route always shows last configure tag value

ex :-
**Configure static route with 2 nexthop with different tag**
ipv6 route 8001::1/128 2201::1:1:2 tag 2
ipv6 route 8001::1/128 2301::1:1:2 tag 1

**IP route shows tag 1 ( which is last configure nexthop)**

R1_BGP(config)# do show ipv6 route 8001::1/128

[2019-08-01 07:31] #4734 closed

[2019-08-01 08:26] denwou commented on #4759
Hi,

You'll find the pcap attached.

FYI, I tried a BGP IPv4 LU session between the Juniper and a Cisco platform and it is working.

[bgp_ipv4_lu.zip](https://github.com/FRRouting/frr/files/3455632/bgp_ipv4_lu.zip)

[2019-08-01 13:17] achernavin22 opened #4762 "Setting update-source/ebgp-multihop for existing BGP router leaves neighborship in Active state"
**Describe the bug**
If you configure `update-source` and `ebgp-multihop` for an existing BGP router, it gets stuck in Active state.

- [x] Did you check if this is a duplicate issue?
- [ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a BGP router
[code]
2. Set `update-source` and `ebgp-multihop` for the BGP router
[code

[2019-08-01 13:19] bogdanovr commented on #4673
@strizhechenko, yes, RKN blacklist

[2019-08-01 16:49] vijaykug commented on #4762
Have Similar issue  sometime back , please refer below bug

[FRRouting/frr] Ebgp neighbor stuck in active state if multihop cli given before the update-source  (#3264)

[2019-08-01 21:05] qlyoung commented on #4759
So looking at the pcap, the session is negotiated without the Multiple Labels capability (8), so we are using the following format for label triplets:
[code]
Which is precisely what I see FRR sending:

![Screen Shot 2019-08-01 at 4 57 14 PM](https://user-images.githubusercontent.com/6827003/62327116-c0cbbc80-b47d-11e9-9cd0-a5ac32ce73e0.png)

0x2e = 46 for the total length, minus 24 bits of label g

[2019-08-02 05:29] bisdhdh commented on #4762
This issue is already fixed by https://github.com/bisdhdh/frr/commit/30eb2cf77aac337220ca3337fc0653eb723f8063

[2019-08-02 05:34] bisdhdh commented on #4761
I will be working on this. Please assign it to me.

[2019-08-02 07:30] achernavin22 commented on #4762
Please refer to the Expected behavior. If configure in one pass, `multihop cli given before the update-source` doesn't affect and the connection is established. The problem can be reproduced only if you configure the same config in two passes.

[2019-08-02 10:44] denwou commented on #4759
Hello,

Thanks for your answer. You'll find attached a pcap with Juniper and Cisco BGP IPv4 LU.

I saw some diffrencies:
- Cisco uses Entropy Labels but not sure if related with my issue
- Cisco UPDATE message the NLRI length is 11 bytes vs FRR 7 bytes
- Cisco UPDATE message the NLRI includes a (NLRI path id). Maybe because of the add path but not sure

You'll propably find more explanations than

[2019-08-02 14:14] pogojotz commented on #4673
I would like to try and implement the solution proposed by @donaldsharp using an RB tree but I cannot assign the issue to myself.

[2019-08-02 14:32] donaldsharp commented on #4673
@pogojotz -> I don't think anyone is working on this.  Give it a shot.

[2019-08-02 15:34] qlyoung commented on #4759
Yeah, I think this is the problem. We exchanged the addpath capability for LU so we should be prefixing the path identifier before the label triplet. This is a bug.

Thanks for your report, we'll try to get this fixed before next release and backported to 7.1.

[2019-08-02 15:40] ruben-herold commented on #4237
I have setup two vyos router and one is origination default.
All runs fine with this patches  since more then 40 minutes so it fixes the problems.

[2019-08-02 18:23] pogojotz commented on #4673
@bogdanovr: Is it possible for you to test my PR with your configuration? Feedback would be greatly appreciated.

[2019-08-03 08:07] omidit opened #4780 "bug : show running does not show is-is configuration in frr 7 (stable)"
hi, I configure isis, but I do not see any configuration in show running-config and it doesn't work, Also, I don't see any error when I write commands. what's wrong? could you please help me?
frr version (v7.0 stable)
ubuntu 16.04 ( 5.1.0 kenerl version )

[2019-08-03 14:00] netravnen opened #4782 "Feature Reqest : HSRP (RFC 2281)"
Feature Request : HSRP Support ([RFC 2281](https://tools.ietf.org/html/rfc2281))

[2019-08-04 19:33] JohnHay opened #4783 "isisd: problem with 3way handshake after interface change and restart"
**To reproduce**:
* Configure ISIS between `R1` and `R2` on a higher numbered interface, for instance `swp3`. (I used `is-type level-2-only` and `isis network point-to-point`)
 * On `R1` add or remove the ISIS configuration on a smaller numbered interface, for instance `swp2` and save the config. A `show isis neighbor` on both `R1` and `R2` should show that swp3 is `Up`.
* Restart frr on `R1`.
* O

[2019-08-05 04:35] bisdhdh commented on #4762
@vijaykug  Could you please verify the behaviour as mention  by achernavin22 ?

[2019-08-05 05:46] strizhechenko commented on #4673
@bogdanovr you can use workaround: use `redistribute kernel` instead of `redistribute static` and filter routes by `match ip next-hop type blackhole` in route-map. You will have no need to keep all routes/prefix-lists in configs, restart will be quick. The only drawback is that you need to manage all this routes. I use dedicated route table for this purpose, it's much easier to implement synchroni

[2019-08-05 13:04] yaniv297 opened #4784 "How to make OSPFv2 automatically make MPLS encapsulation?"
So, we have the setup in [this picture](https://i.imgur.com/LPuJDLW.png). Currently it's working fine, just as intended:
VNF0 sends ping to VNF4. VNF1 adds MPLS encapsulation with label, VNF2 swaps labels, VNF3 removes it and sends without MPLS label to VNF4. VNF4 answers the ping, VNF3 re-adds a new label, VNF2 swaps it again, VNF1 removes it and finally VNF0 receives the original ping reply.

Ou

[2019-08-05 15:34] qlyoung commented on #4782
Do note that we already have support for [VRRP](http://docs.frrouting.org/en/latest/vrrp.html) which provides the same functionality.

[2019-08-05 16:26] mjstapp commented on #4784
Hi,
you wrote "OSPFv2 should be able to automatically learn and configure itself for MPLS" - but I'm not certain that's true. FRR does not support mpls-te / rsvp-te. Some of the routing protocols have some support for their specific TE extensions, but there is no TE control plane. Have you considered using LDP with OSPF - that is supported.

[2019-08-05 18:54] qlyoung commented on #4780
Can you give some more details on the full process you're going through? Full vtysh and shell session logs please. I tried a few ISIS configs and they worked for me.

[2019-08-05 18:57] rwestphal commented on #4780
@omidit are you starting isisd with the `--tcli` option? That could explain the problem.

[2019-08-06 08:29] denwou commented on #4759
Hello,

Thank you for your answer, nwo I just have to wait :)

[2019-08-06 09:06] mruprich commented on #4663
Note: the same behaviour is visible with hmac-sha-256 authentication. I can file a separate bug for this if you want.

[2019-08-06 11:30] pogojotz commented on #4673
I tested with 130048 entries in `staticd.conf` by executing `vtysh -c "write term"`
On the master the command took 2m42s:

<details>
<summary>perf record</summary>

[code]

</details>

With the fix in place 0m1s

<details>
<summary>perf record</summary>

[code]

</details>

[2019-08-06 12:05] ton31337 commented on #4692
fixed.

[2019-08-06 12:26] #4237 closed

[2019-08-06 12:53] eqvinox opened #4788 "libyang super slow with large configs"
[code]

[code]

so apparently `lyd_diff` chugs up 3/4 of the 10.5s it takes to start `ripd` with 2000 `network` statements...

[2019-08-06 13:58] #4673 closed

[2019-08-06 14:30] rwestphal commented on #4788
Thanks for the report. It would be interesting to do the same tests using a more recent libyang, since lots of performance improvements were made since v0.16.105.

But overall the root of the problem is that we need to do a full configuration transaction for each command, which imposes a significant overhead. If you start ripd with the `--tcli` option, the startup configuration will be processed i

[2019-08-06 14:35] yaniv297 commented on #4784
Hey, thanks for your reply!
We understand FRR supporst Segment Route. According to the documentation it seems that the Opaque module is supported, and (as seen in [this picture](https://i.imgur.com/aplssQx.jpg)) it seems to support MPLS-TE and automatic signaling.
Are we wrong?
Thank you

[2019-08-06 14:41] mjstapp commented on #4784
Yes, I'm sorry to say that some of the features you're interested in are not supported (yet) by FRR. There is some preliminary work that has been done to support some parts of SR, and as I described yesterday, there is some support for some of the information that could be used by MPLS-TE/RSVP-TE. So there is some partial support, but we do not yet have complete support for either of those traffic

[2019-08-06 15:21] eqvinox commented on #4761
After discussing this on the weekly call, it's not clear to us how per-nexthop tags would work or what they're useful for, so step 1 here is to get more info on the actual use case.

Separately, there is a CLI issue here because it _looks like_ you can set tags per nexthop, but you actually can't.  Maybe the commands should print a warning or something (e.g. when a new nexthop is added and the tag

[2019-08-06 18:21] Spantik commented on #4788
We did some profiling for staticd (we did add libyang interface for static) with 1000 routes with 2 nexthops. With one each route if we commit then it takes more than 30 seconds and static is always 100% where as if we go for 5K then it never converges. We tried to profile and attached the screen shot. Now we are trying to do with transactional  commit for 1000 static routes and see how it works.

[2019-08-06 18:43] donaldsharp commented on #4788
1 - staticd recently had some atrocious behavior with zebra interactions for a large number of routes.  Please make sure that you are up to date with that
2 - While I appreciate wanting to help find/fix performance issues.  None of us can do anything to help here if you are showing us graphs for code we don't have access to.   Please upstream the code and we can help here.

[2019-08-06 20:17] #3264 closed

[2019-08-06 20:17] ton31337 commented on #4762
should be fixed in stable 6 as well already.

[2019-08-06 20:29] qlyoung commented on #4759
I was able to reproduce the same behavior (including session teardown caused by bad UPDATE) on a pure FRR <-> FRR setup as well.

[2019-08-06 20:40] Spantik commented on #4788
We are working on using the group commit and once that is done we will upstream the code for code changes that we have done for static.

[2019-08-06 21:52] qlyoung commented on #4759
@denwou - if you know how to build from source, the patch in #4793 fixes this on my setup. If you want to confirm it for me on yours that would be helpful.

[2019-08-07 07:15] achernavin22 commented on #4762
I tested this patch and it doesn't solve the issue if you configure in two passes as described in the steps to reproduce.

[2019-08-07 07:35] vijaykug commented on #3264
Verification logs :-
R2_BGP(config)# router bgp 2
R2_BGP(config-router)#  neighbor 220.1.1.1 remote-as 3
R2_BGP(config-router)#
R2_BGP(config-router)#
R2_BGP(config-router)#
R2_BGP(config-router)# do show bgp summary

IPv4 Unicast Summary:
BGP router identifier 115.115.115.115, local AS number 2 vrf-id 0
BGP table version 0
RIB entries 0, using 0 bytes of memory
Peers 1, using 21 KiB of memory

Ne

[2019-08-07 10:02] netravnen opened #4796 "Feature Reqest : CARP"

[2019-08-07 14:38] netfreak98 opened #4798 "BGP EVPN wrong next-hop in kernel"
Used OS: Debian 10 (On all ends)
Used FRR Version: 7.1 (via deb repo)

I don't know if this is a bug. My plan was to use BGP EVPN for VXLAN via a multihop BGP session. On my exporting router I changed the VPN next-hop to the public IP address of it.

The route-map and the BGP configuration for this looks like the following:

Router 1:
[code]
[code]

Router 2:
[code]
[code]

On the other machine it

[2019-08-07 15:08] qlyoung commented on #4796
Since you already added this to the feature requests wiki page, I'm closing this to keep our issue noise down.

[2019-08-07 15:09] qlyoung commented on #4782
Since you already added this to the feature request wiki page I'm closing these to keep our issue noise down.

[2019-08-07 15:09] #4782 closed

[2019-08-07 15:09] #4796 closed

[2019-08-07 15:24] mselvaraj-vmw opened #4799 "Install routes into kernel based on the command line settings(-n)"
Install routes into kernel based on the  new command line settings(-n)  in zebra

Some Routers/Switches  have requirement to not to install the routes into kernel by default.
Currently  zebra programs the FIB into kernel by default.
This issue is created to  provide the command-line option in zebra to install/ not install the routes into kernel.
Expected behavior:
This command line option(-n) has

[2019-08-07 16:13] qlyoung commented on #4686
@wtremmel - awesome, if you want to link it here that would be great!

[2019-08-08 07:46] wtremmel commented on #4686
@qlyoung - sure, I am currently working on the release of my lab setup:
https://bitbucket.org/decix-academy/dockerbgp/
Documentation is not complete yet, but feel free to link to it.

[2019-08-08 12:00] donaldsharp commented on #4799
The long term way we would like to handle this is to have different data plane modules that can be plugged into FRR.  In this case I see the linux kernel data plane module would need to be continued to be worked on.

[2019-08-08 12:01] donaldsharp opened #4804 "Our CI system tells us that we have debian build issues"
Every CI build is generating this warning:

[code]

[2019-08-08 12:03] donaldsharp commented on #4788
This issue is being discussed over here as well:

https://github.com/CESNET/libyang/issues/834

We are being asked about our use case of this function.

[2019-08-08 15:10] rwestphal opened #4805 ""show mpls table" should display MPLS LSPs learned from the kernel"
Similar to "show ip route", which displays routes learned from the kernel, "show mpls table" should display MPLS LSPs learned from the kernel as well.

Further, the Label Manager should reserve the labels learned from the kernel to prevent conflicts.

[2019-08-09 17:15] omidit commented on #4780
Thanks for reply. I’m not starting isisd with the —tcli options. Actually,I implemented and added some features such as gre, nat , ... to frr 7 . so  I needed to add few node like gre_node, nat_node,... to frr and i wrote some functions for showing their commands in show running config. By now, show running-config is working correctly for these features. Is it possible that it affected on isis sho

[2019-08-10 00:48] #4621 closed

[2019-08-10 05:22] haran090 commented on #1325
@JuergenKammer I'm facing the same problem you described. Do you happen to remember what options fixed your problem? Thanks.

[2019-08-11 10:29] schadom opened #4814 "`show bgp summary` mixes up IPv4 and IPv6 neighbors"
Is this output expected? Running 7.1 on Debian 10 from official `deb.frrouting.org` mirror.

	core2# show ver
	FRRouting 7.1 (core2).
	Copyright 1996-2005 Kunihiro Ishiguro, et al.
	configured with:
	    '--build=x86_64-linux-gnu' '--prefix=/usr' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--sysconfdir=/etc' '--localstatedir=/var' '--disable-si

[2019-08-11 12:23] schadom opened #4818 "802.1Q Vlan Sub-Interfaces"
Any plans for supporting 802.1Q Vlan Sub-Interfaces?

[2019-08-11 15:10] schadom commented on #1513
Please add support for short forms of include/exclude/section/begin aswell, eg.:

# show run | i interface
# show run | inc interface
# show run | ex interface
# show run | sec interface
etc.

[2019-08-11 15:27] ton31337 commented on #4814
Did you activate all those IPv6 neighbors under address-family ipv6?

[2019-08-11 15:47] donaldsharp commented on #830
We would love for someone in the community to step up and make this a priority

[2019-08-11 15:48] schadom commented on #4814
Yes.

[2019-08-11 15:51] ton31337 commented on #4814
Can you show me the `show running`?

[2019-08-11 16:00] donaldsharp commented on #4818
@schadom -> Can you be a bit more specific about the behavior you'd like to see?

[2019-08-11 16:19] schadom commented on #4814
!
   address-family ipv4 unicast
    neighbor 185.210.224.254 route-reflector-client
    neighbor 185.210.224.241 soft-reconfiguration inbound
    neighbor 185.210.224.241 maximum-prefix 10 90 restart 10
   exit-address-family
   !
   address-family ipv6 unicast
    neighbor 2a0b:5cc0:0:ffff::254 activate
    neighbor 2a0b:5cc0:0:ffff::254 route-reflector-client
    neighbor 2a02:28e8:2:15::1 acti

[2019-08-11 16:23] schadom commented on #4814
Just figured out that a `no neighbor <ipv6> ...` in address-family ipv4 unicast seems to be required. What the actual fuck...

   address-family ipv4 unicast
    no neighbor 2a02:28e8:2:15::1 activate
    no neighbor 2a0b:5cc0:0:ffaa::241 activate
    no neighbor 2a0b:5cc0:0:ffff::254 activate

...

[2019-08-11 16:48] ton31337 commented on #4814
Why do you assert that is fuck? You can advertise ipv4 family routes over ipv6 session for instance using a single BGP session.

[2019-08-11 16:48] #4814 closed

[2019-08-11 16:57] schadom commented on #4814
Sorry my fault, forgot to add `no bgp default ipv4-unicast`.   Thanks

[2019-08-11 17:45] schadom opened #4819 "vtysh: unable to set `banner motd`"
core2(config)# banner motd file /etc/frr/motd
	core2(config)#

not working.  would be nice to have the possibility to set the motd via CLI instead of using a filename.

[2019-08-11 21:33] schadom commented on #2350
Any updates on this?  We also only see IPv4 Peers by using BGP4-MIB.

[2019-08-11 21:35] schadom commented on #4818
Yes, it would be very nice to have tagged Vlan (802.1Q) support in vtysh.  Ideally with subinterfaces (like for example `interface eno1.123` for Vlan 123).

[2019-08-12 08:48] vijaykug commented on #4761
Scenario where I have observed this issue:-

Setup :- -   2 router setup R1 and R2 , have IBGP session,
R1------IBGP------R2

Have static route S1 on R1 configured with 2 ECMP nexthop N1 and N2
Nexthop N1 configured with  tag 1 and nexthop N2 configured tag 2

1)	My requirement is to install route S1 with nexthop N1 in router R2  (IBGP will send original configured next hop to peer), for that have

[2019-08-12 11:28] denwou commented on #4759
Hello,

I confirm it's working for me.

Thank you.

[2019-08-12 12:51] #4759 closed

[2019-08-12 13:00] mjstapp commented on #4753
Closing - mpls/rsvp-te is not supported; related doc bug #4791

[2019-08-12 13:00] #4753 closed

[2019-08-12 13:01] mjstapp commented on #4784
Closing - rsvp-te is not supported; related doc PR #4791

[2019-08-12 13:01] #4784 closed

[2019-08-12 15:36] edipascale opened #4824 "bgp labeled-unicast: missing option to force label allocation for neighbor"
In attempt to test a "seamless MPLS" scenario using bgp-lu I came across the following issue.
I'm wondering whether a) that's indeed an issue (i.e. it's not due to a mis-configuration or a misunderstanding), and b) what would be needed to address this.

### Topology:
[code]

### The issue:
Routes get installed correctly but pings between CEs 8 and 6 do not work. On a closer inspection, one can see

[2019-08-12 16:11] lucize opened #4825 "IS-IS wireguard mtu crash"
**Describe the bug**

setting `ip router isis` on wireguard interfaces with lower mtu crashes the daemon
starting frr even if `lsp-mtu` is set in `router isis tag` is not possible
you have to redefine isis in the tunnel interface after isisd is started

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr

[2019-08-12 17:54] pythonxian opened #4826 "BGP unnumbered issue - Could not finish the TCP handshake"
Hi Guys,

Needs some help on getting around the BGP unnumbered issue. I think I have my configuration done right but the BGP peers are not even able to finish the TCP handshake with the link local address.

Test topology:
SP02 -port 96 ------------------------ RA01 - port 100

Network gear:
SP02, RA01 - Arista switch running Sonic
FRR version -  7.01
Linux - 4.9.0-8-2-amd64 #1 SMP Debian 4.9.110-3

[2019-08-12 18:25] qlyoung commented on #4819
http://docs.frrouting.org/en/latest/vtysh.html#vty-shell

This is intentional. As for accepting a string from the command line, I don't see why we couldn't do that.

[2019-08-12 18:46] schadom opened #4827 "FRR 7.1: Configuring RPKI will cause the BGP configuration to be lost after a service restart"
**Version:**  7.1 (from deb.frrouting.org)
**OS:**  Debian 10 (Buster)

**Description:**
frr will loose the bgp related config upon restart of the service if RPKI is configured

**Steps to reproduce:**
- Install frr and frr-rpki-rtrlib from deb
- Enable the RPKI module via `bgpd_options=" ...  -M rpki"` in `/etc/frr/daemons`
- Configure BGP via vtysh (eg. `conf t > router bgp 65000 > network 10.0.

[2019-08-12 20:29] netfreak98 commented on #4827
I facing the same issue. My workaround is to copy the RPKI config from the frr.conf, delete it, restart the service and configure it again via "configure terminal".

[2019-08-12 20:30] netfreak98 commented on #4798
Hi, is there any update on this? :)

[2019-08-13 14:02] qlyoung commented on #4827
https://github.com/FRRouting/frr/blob/3e31782374460a37f02bfa48dc7e48266c7cd238/bgpd/bgp_rpki.c#L605

We are doing a looped sleep on the main thread waiting for some config to complete. Must have been missed in code review. Thanks for bringing this to our attention.

[2019-08-13 15:10] eqvinox commented on #4818
We don't create any interfaces, just create them in kernel by whatever means your system has.

=> doc update?

[2019-08-13 15:23] schadom commented on #4818
Thanks @eqvinox for clarifying this. For somebody coming from Cisco-world used to Cisco-ish CLI it's weird to see an `interface` command which actually does not do what it's intended to do, which is configuring interfaces.  Why not just remove the `ip address` and `ipv6 address` subcommands from vtysh `interface' context?

[2019-08-13 15:37] qlyoung opened #4829 "ebgp-multihop removed when ebgp peer added to peer-group"
As reported by @visakha-erina:

When a peer group is created on an already configured eBGP neighbor,
`ebgp-multihop` command is removed automatically.

To reproduce:
Create a e-BGP sessions over a loopback interface, enable ebgp
multi-hop. Now create a peer group on the same neighbor. Observe
that ebgp multi-hop config command is being deleted automatically.
[code]

Root-Cause: ebgp multihop TTL i

[2019-08-13 15:45] pogojotz opened #4830 "Makeinfo still crashes on OpenBSD"
My CI run failed:
https://ci1.netdef.org/browse/FRR-FRRPULLREQ-CI011BUILD-8601/log

[code]

@mwinter-osr is informed

[2019-08-13 16:04] mir1218 opened #4831 "[7.1] No NAT support"
I don't find any NAT support in the code 7.1, ( never used other codes though). I feel without NAT capabilities router  is useless. Am I missing something here ??

[2019-08-13 16:37] vivek-cumulus commented on #4798
The VxLAN tunnel destination and the next hop have to match currently. I can't quite see how they can be different and still have everything working.

[2019-08-13 16:44] netfreak98 commented on #4798
Do you need some more information? I really like to see this working :D

[2019-08-13 16:46] eqvinox commented on #4831
NAT is a function of the forwarding plane, e.g. the Linux kernel.

FRR provides the control plane, it only concerns itself with calculating and installing routes into the kernel.

[2019-08-13 16:46] #4831 closed

[2019-08-13 16:54] eqvinox commented on #4804
confirmed fixed, warning's gone from recent builds

[2019-08-13 16:54] #4804 closed

[2019-08-13 18:11] rzalamena opened #4833 "CI System failures on ARM8"
Recently the CI system runs for `master` branch have consistenly failed for ARM8. This problem hasn't showed up in PRs because it is architecture specific.

If you visit the plan page for `master` branch where more tests are run you can see the failures:
https://ci1.netdef.org/browse/FRR-FRR/

@mwinter-osr bisected and found the commit culprid to be the RCU commit.

The CI system seems to agree wi

[2019-08-13 19:01] qlyoung commented on #4830
This isn't an FRR bug and I don't feel particularly inspired to work around bugs in a coreutil.

@mwinter-osr, let's just turn off building info pages on OpenBSD 6.

[2019-08-13 23:50] mwinter-osr commented on #4830
Yes, my issue and not a FRR issue. We had makeinfo turned off for a long time as makeinfo always crashed. I've recently upgraded to OpenBSD 6.5 and it looked like the newer version of makeinfo worked, so I turned it back on.
I was wrong... still random crashes.

Makeinfo is now skipped again on OpenBSD 6.5

For anyone trying to compile and use makeinfo, just try again if it fails. It works most of

[2019-08-13 23:50] #4830 closed

[2019-08-14 13:25] netravnen commented on #4818
"FRR provides the control plane, it only concerns itself with calculating and installing routes into the kernel." [(1)][0] imo describes frr very well.

[0]: https://github.com/FRRouting/frr/issues/4831#issuecomment-520914228

[2019-08-14 13:30] netravnen commented on #4818
GNU Linux (or FRR) should not ever be compared to Cisco IOS. Their history and initial purpose for coming into this world has different roots, which imo should hardly be comparable.

[2019-08-14 20:24] xvzf opened #4838 "(help wanted) Outgoing traffic has the wrong source IP"
Hi there,

I have a BGP session established via frrouting and want to use the received default route for outgoing traffic. There is a dummy interface with an announced IPand I can connect to the machine and everything is fine.

However, if I try to access external services from the machine, the source IP is not the one of the dummy interface but the one of the transfer net.

How can I achieve that

[2019-08-14 20:54] qlyoung commented on #4838
Well, for one thing, this route-map isn't doing anything:
[code]
I think you want `ip rotocol bgp route-map correct_src`.

Take a look at the doc example here and see if it helps:
http://docs.frrouting.org/en/latest/zebra.html#clicmd-setsrcADDRESS

[2019-08-14 22:07] xvzf commented on #4838
Okay, thanks @qlyoung that was missing :-)

Now I am at the point were routed traffic to directly connected subnets is also affected by this rule

[2019-08-15 00:45] lucize commented on #2889
@AdrianBan ended up using the standalone daemon https://github.com/rzalamena/bfdd for it to compile with musl I had to comment `#include <linux/ipv6.h>` in `bfd_packet.c` and the typo `#define BFD_SRCPORTINIT 49142` to  `#define BFD_SRCPORTINIT 49152` from `bfd.h`
ospfd seems to react to changes

[2019-08-15 10:05] SorryGames opened #4839 "Any way to remove EIGRP route"
I use FRR in Cumulus Linux. Current version is 4.0 with patches.

To workaround one trouble in EIGRP I'm using script to restart FRR. On one hand it helps me to remove inactive routes. But it will be better to remove these routes by vtysh command. How can I do it?

My attempt is to delete route using linux cli. I have trying some ways and got nothing in result.

[2019-08-15 23:42] #4838 closed

[2019-08-16 03:06] batmancn opened #4840 "[BUG] [FRR-SNMP] SNMP trap message with wrong peer status"
Same of email: https://mail.google.com/mail/u/0/?zx=lcnql5wgf1pf#sent/KtbxLzflhTXGvfDsGRjhNfvgfksdJMRNVB

Hi all,

I'm working on sonic-frr, which is just frr. I enable frr-snmp, and follow this (http://docs.frrouting.org/en/latest/snmp.html) to get trap, this is my configuration:
[code]

Then I up/down bgp peer use these command:
[code]

This is trap message I got, I got 2 messages, you could see

[2019-08-17 13:03] gtg625n commented on #4715
Good afternoon Quentin,

Resuming, I did the following: instead of using a VM with CentOS, I used instead a LXC container with Ubuntu 18.04.

Everything went fine afterwards (after the installation of FRR, and the re-configuration of the EIGRP process on the FRR router). The EIGRP relationship went up, with the neighbor CSR1000v router.

As we can see:
 ubuntu-bionic-1# sh ip eigrp neigh

EIGRP ne

[2019-08-17 14:43] ndeffayet opened #4843 "Null route is not working on FreeBSD"
Null route for IPv4 and IPv6 is not working on FreeBSD.

**How to reproduce**

a) Using Null0 method

[code]

`# netstat -rn | grep 192.168.0.0`
=> No route :(

In logs:
`Aug 17 14:23:38 router zebra[2109]: [EC 4043309147] rtm_write: 192.168.0.0.0/255.255.255.0: gate == NULL and no gateway found for ifindex 0`

b) Using blackhole method

[code]

`# netstat -rn | grep 192.168.0.0`
=> No route :(

I

[2019-08-17 21:28] ndeffayet commented on #4738
FRR version 7.1
FreeBSD 11.2

In a full FRR 7.1 configuration (without any Quagga router), sometimes the IPv6 routes are not exchanged in OSPFv6 for an unknown reason. The problem is random, a reboot may solve the issue as restarting daemons have no impact.
This issue was never existing with Quagga 1.2.4.

I use as exemple the loopback address of each router.

router-five loopback is 1000:2000:300

[2019-08-17 22:07] AdrianBan opened #4844 "vrrpd: Teadming interfaces with VRRP not working"
Trying to create a VRRP process for one of my VLANs. The main interface is a teaming interface named po2. Has 3 Intel i350 interfaces connected under po2. If I want to add VRRP process under a VLAN of this interface, name po2.80, I'm getting some errors.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Create a teamin

[2019-08-17 22:53] #4844 closed

[2019-08-18 05:32] jhiggins-NZ opened #4845 "NHRP - Spoke does not encode Resolution-Reply when shortcut is installed"
**Issue**

- NHRP shortcut route appears to stop NHRP encoding a Resolution-Reply message, in response to a NHRP Resolution-Request.
- This leaves NHRP in a state where only one Spoke has a direct tunnel path, but the other instead forwards via the Hub.

The key seems to be here:
- When the remote Spoke IP can be resolved to an egress interface (gre1), we do not get an NHRP resolution reply encode

[2019-08-18 05:35] jhiggins-NZ commented on #4845
@fabled hoping you might be able to take a look  :)

[2019-08-18 18:02] workeberies commented on #2864
Hello!
Faced a similar problem in the opnsense distribution. I see it has been solved for a long time and no progress so far.
I really need this functionality and I would like to ask when will there be at least some progress?

I used gobgp to achieve the goal and bird and everywhere I get this error.

@ton31337

[2019-08-19 10:11] ton31337 commented on #4826
I had something similar between Cumulus and Nexus 7k. Have you tried using `ebgp-multihop` for that session?

[2019-08-19 10:13] ton31337 commented on #3308
related https://github.com/FRRouting/frr/pull/4821

[2019-08-19 10:16] ton31337 commented on #4450
@piotrekko could you tell us how to simply reproduce this?

[2019-08-19 10:16] #4450 closed

[2019-08-19 10:46] fabled commented on #4845
NHRP follows BGP routes for the resolution requests and replies. And looking at the route tables there is something off in the BGP.

I think the BGP router is not advertising the 172.32.0.0/24 prefix for the GRE subnet? This probably makes Spokes to not be able to talk to other spokes via the hub.

Additionally - the general idea of using iBGP has been that the Hubs advertise all nhrp prefixes to

[2019-08-19 13:57] #4827 closed

[2019-08-19 14:25] qlyoung commented on #4715
Fair enough 😄

[2019-08-19 14:25] #4715 closed

[2019-08-19 19:57] jhiggins-NZ commented on #4845
Thank you for taking a look.
I noted your configuration method and applied this.
- Hub is no longer announcing /32s via "redistribute nhrp"
- Hub now announces 172.31.0.0/24 network, encompassing the GRE subnet.

However it looks like four lookups are happening now.

[code]

[2019-08-20 06:52] chendan6 commented on #3520
@odd22 Hi, Olivier,I am also interested in BGP-LS, I would really appreciate it if you could share your code. Thank you!

[2019-08-20 13:28] liuxyon opened #4856 "RPKI for Bind two ASN"
if some prefixes bind two ASN or more ASN in RPKI, then frr v7.1 will think that they are all invalid.

test ip eg:
so 2404:f4c0:f200::/44 bind two ASN  1395,139589
peering send the 2404:f4c0:f202::/47  with AS139589 to me, i am using deny rpki invalid, now frr think it is invalid deny all.

[2019-08-20 15:20] donaldsharp commented on #4839
The version of FRR in CL in eigrp is missing a large number of commits from upstream.  If you want to use EIGRP I would suggest upgrading to a newer version of FRR

[2019-08-20 15:20] #4839 closed

[2019-08-20 15:24] donaldsharp commented on #4856
@mroethke -> Is this a legal state?

[2019-08-20 15:29] mroethke commented on #4856
So you are saying there should be two ROAs for `2404:f4c0:f200::/44` one with AS `1395` and one with `139589` and validation returns invalid for `2404:f4c0:f202::/47` with AS `139589`?

can you execute `show rpki prefix 2404:f4c0:f202::/47` and post the output?

[2019-08-20 15:35] mroethke commented on #4856
@donaldsharp
Invalid is a legal state, but the result is wrong if the ROAs exist as mentioned.

Is that what you mean?

[2019-08-20 16:00] sworleys opened #4859 "RCU Sweeper Using a lot of Cycles"
The new `RCU Sweeper` pthread seems to be using a lot of cycles despite not being used anywhere yet.

I have attached a perf flame graph. The data was collected with `sharpd` installing `200,000 x32 ECMP` routes.

@mjstapp @donaldsharp @eqvinox

[zebra_master_flame.zip](https://github.com/FRRouting/frr/files/3521524/zebra_master_flame.zip)

[2019-08-20 16:09] liuxyon commented on #4856
https://bgp.he.net/AS139589#_prefixes6
show 2404:f4c0:f202::/47  is normal RPKI ROA.  it is use AS139589 Announce should is allowed.

I am here to give an example of a problem, I think if the prefixes has multiple ASNs, how to deal with it?

[2019-08-20 16:21] liuxyon commented on #4856
`show rpki prefix 2404:f4c0:f202::/47
Prefix                                   Prefix Length  Origin-AS
changeme# show rpki prefix 2404:f4c0:f202::/44
Prefix                                   Prefix Length  Origin-AS
changeme# show rpki prefix 2404:f4c0:f200::/44
Prefix                                   Prefix Length  Origin-AS
`

[2019-08-20 17:32] mroethke commented on #4856
rpki does not care from how many AS one announces a prefix. Each route announcement will be evaluated individually based on the prefix, its length and the origin AS. Each announcement must of course be covered by a ROA.

However your command shows that there are no ROAs covering the prefix in your rpki prefix table. Which is what I suspected, because depending on the rpki cache server I use don't

[2019-08-20 18:34] sworleys commented on #4840
Can you post your `/etc/snmp/snmpd.conf` ?

[2019-08-20 18:38] liuxyon commented on #4856
yes, i fix the notfound config is work. but why no show RPKI?

[2019-08-20 19:08] mroethke commented on #4856
Sorry, I don't understand what you are asking.

[2019-08-20 19:48] liuxyon commented on #4856
show rpki prefix 2404:f4c0:f202::/47
Prefix Prefix Length Origin-AS

[2019-08-21 10:06] mroethke commented on #4856
It is most likely a problem with the rpki cache server.

I am testing with [ripe-validator 2](https://github.com/RIPE-NCC/rpki-validator), [3](https://github.com/RIPE-NCC/rpki-validator-3) and [routinator](https://github.com/NLnetLabs/routinator). The later did not have that prefix either yesterday. Today it does, after a restart.

[2019-08-21 12:25] achernavin22 commented on #4762
When you configure a BGP router, `10.100.200.1` is considered as `connected` next-hop.
[code]
When you set update-source/ebgp-multihop after this, `10.100.200.1` is no longer connected and the next-hop table should be re-evaluated. But that is not done for FRR 6.0
[code]
This commit fixes the problem in FRR 7.1: https://github.com/FRRouting/frr/commit/906b54ddba69293eb38430c241548aad8c273eae
[code

[2019-08-21 13:24] ton31337 commented on #4668
Will do this week, hope so ;-)

[2019-08-21 14:24] yaniv297 opened #4862 "Opaque LSA is learned, but not automatically configured"
Hey, we are creating the setup [in this picture](https://i.imgur.com/LPuJDLW.png). We have succeeded in creating MPLS encapsulation with manually configured labels (300-305). Now we want the labels to be automatically assigned.
This is an example of [our configuration file] for VNF1.(https://github.com/FRRouting/frr/files/3525694/vnf1_config_new.txt)

When we examine the results, it seems that the

[2019-08-21 15:28] qlyoung commented on #4862
https://github.com/FRRouting/frr/issues/4726#issuecomment-514671916

[code]

[2019-08-21 18:34] liuxyon commented on #4856
maybe it is bug. It is added repeatedly, and it cannot be deleted using the command.

`changeme# conf t
changeme(config)# rpki
changeme(config-rpki)# no rpki tcp cache rpki-validator.realmv6.org 8282 pref 1
% Unknown command: no rpki tcp cache rpki-validator.realmv6.org 8282 pref 1
changeme(config-rpki)# no rpki tcp cache 210.173.170.254 323 pref 1
% Unknown command: no rpki tcp cache 210.173.170.

[2019-08-21 18:53] #4565 closed

[2019-08-21 19:25] donaldsharp opened #4865 "CI tests are failing due to missing files?"
FreeRangeRouting\nbamboo_planRepository_1_repositoryUrl=https://github.com/FRRouting/frr.git\nbamboo_XXXci_script_verbose=YES\nbamboo_capability_system_jdk_JDK_1_8=/usr/lib/jvm/java-8-openjdk-amd64/jre\nbamboo_github_merge_sha=a7e52bd7b66b354967f4de71273ac2599c2a1157\n
error	21-Aug-2019 09:49:56	/bin/bash: ci/topotests/clean_packages.sh: No such file or directory
simple	21-Aug-2019 09:49:56	Failin

[2019-08-22 07:52] omidit commented on #4780
Finally, I understood whats happened.  I removed some part of codes in lib/northbound_cli.c into func nb_cli_apply_changes () in FRR 5.0 because something was wrong and it did not work. so when I want to use FRR 7.0. I remove these codes and it affected on show running-config isis.

[2019-08-22 07:53] #4780 closed

[2019-08-22 09:16] AdrianBan commented on #4825
Hi,

I've notice the same bug when I'm trying to set IS-IS router on tunnel interface:

[code]

The backtrace I've attached here.
[FRR-ISIS crash.txt](https://github.com/FRRouting/frr/files/3529292/FRR-ISIS.crash.txt)

Kind regards,
Adrian

[2019-08-22 09:55] mroethke commented on #4856
the command to remove a cache is `no rpki cache $hostname $port preference $preference`

It is expected that you are able to add the same cache server repeatedly, you should not be able to add several caches with the same preference. I'm looking into it.

Please use ``` instead of ` for multi line output next time. It is much more readable that way because it preserves newlines.

[2019-08-22 09:57] batmancn opened #4867 "[FRR] [syslog] How to dump log of bgpd"
Hi all,

I'm using FRR, I found zebra, staticd could dump log, but bgpd could not

I start bgpd like this:
root@NX-ZWYC-M1F202-A16-HW6865-A-INT-212:/# /usr/lib/frr/bgpd -A 127.0.0.1 -M snmp --log stdout --log-level debug

There is only this log:
2019/08/22 07:21:43 BGP: bgpd 7.0.1-sonic starting: vty@2605, bgp@<all>:179

Then I up/down peer, there is no log

[2019-08-22 11:09] fabled commented on #4845
Yes, there's still something weird. And the `0.0.0.0/32` prefix looks weird.

Could you post full logs with `debug nhrp all ` enabled?

Please also share the full config with bgp config, and potential other `redistribute` commands.

You still need the bgp redistribution to nhrp on spokes.

[2019-08-22 13:13] odd22 commented on #4862
Hello,

I look partially to your setup (I can't access to google drive from my office), I saw some mis-configuration in your testbed.

First, as mention in ospf SR documentation (http://docs.frrouting.org/en/latest/ospfd.html#segment-routing) and in my comment to issue #4726, you need to setup at least a loopback interface. Once done, you need to add a prefix-sid to the ip address assigned to this

[2019-08-22 13:31] liuxyon commented on #4856
``no rpki cache rpki-validator.realmv6.org 8282 pref 3`
`Could not remove cache 3 because it is the last cache``
`show rpki cache-connection`
`Connected to group 3`
`rpki tcp cache rpki-validator.realmv6.org 8282 pref 3`
One of the remaining ones cannot be deleted

[2019-08-22 15:38] mroethke commented on #4856
This is fixed by #4869
Meanwhile you can execute `rpki stop` in enable mode before removing the last cache

[2019-08-22 17:37] liuxyon commented on #4856
Similar problem, can't delete prepend

[code]

[2019-08-22 18:47] qlyoung commented on #4867
What peer? Unless you manually configured bgpd through vtysh after running it as above, there are no peers because bgpd has no config file (you would need to pass `-f /etc/frr/frr.conf` to load the config).

Needs more info.

[2019-08-23 03:13] #4867 closed

[2019-08-23 07:47] anspectrum opened #4872 "End-to-End MPLS Not Working On Docker Container"
Hello,
I've following setup:
Host machine is Ubuntu 16.04 LTS (Linux OS 4.15.0-58-generic #64~16.04.1-Ubuntu SMP Wed Aug 7 14:10:35 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux). Installed docker on it (  Version:          18.09.7). Also have GNS3 simulator (2.1.21).

Pulled FRR image from Docker (docker pull frrouting/frr)
MPLS modules (mpls_iptunnel mpls_router) are enabled on host machine. Also enab

[2019-08-23 07:53] AdrianBan opened #4873 "ospfd: after frr/system reboot, OSPF doesn't keep ip opsf network point-to-point command"
Hi,

I've notice that each time when I'm rebooting/restarting the FRR there is an issue with IPIP tunnels and OSPF: they are moving back to BROADCAST even if I'm setting "ip ospf network point-to-point" command and then save the config.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

[2019-08-23 09:09] manuhalo commented on #4825
I was looking at this and it's tricky. In the northbound world, configuration is done in 4 steps: validate (check for consistency errors etc.), prepare (allocate resources), abort (in case the prepare phase failed), and finally apply. By the time we get to the apply we should never fail.

Now, in the case of `ip router isis area-tag`, we were missing an MTU check in the "validate" step, so I went

[2019-08-23 14:26] dgirardin81 opened #4876 "ldpd 100% CPU utilization"
**Describe the bug**
Seemingly randomly, ldpd will begin consuming 100% CPU.  We investigated to determine the date/time when the CPU utilization spike began by reviewing historical sysstat data, and it matches up with this error in the logs from ldpd:  "tcp_new: getpeername: Transport endpoint is not connected"

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a dupl

[2019-08-23 14:32] dgirardin81 commented on #4876
[ldpd_strace.txt](https://github.com/FRRouting/frr/files/3534948/ldpd_strace.txt)

I executed "strace -fF -p PID" against the PID of the ldpd process, and have attached a snippet of the output here for review.  I am more than willing to open up a screen sharing session into our environment to assist with capturing more data if needed.

[2019-08-25 21:58] qlyoung commented on #2585
https://github.com/FRRouting/frr/pull/4082

[2019-08-25 21:58] #2585 closed

[2019-08-26 06:58] AdrianBan commented on #4876
Hi,

Do you have dynamic interfaces which are created and deleted from system? When I've discovered this bug #4007 and this #4644 in the past. Could be related?

Kind regards,
Adrian

[2019-08-26 08:26] AdrianBan commented on #4818
Hi,

Few years ago I was starting to write a separate daemon, something like named layer2d for quagga, which was only based on creating layer 2 interfaces (802.1q, IPIP tunnels, GRE, VXLAN etc). I dropped the idea because of lack of time and also I've started only for Linux based distros.
In my opinion, if we want to implement such commands, they should be added in a totally different daemon and n

[2019-08-26 13:19] mroethke commented on #4856
That is not rpki related, please open a separate issue or maybe ask on Slack.

[2019-08-26 15:37] lucize opened #4882 "ospfd is not working on same way as Quagga"
---------------

**Describe the bug**
The same as bug ospf6d #4738 not all routes are installed into kernel by frr vs quagga, some of them are listed as inactive

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:

ospf routing in ipsec-vt

[2019-08-27 06:45] lucize commented on #4882
forgot to mention that every link to other peer is made by two tunnels using different physical path

[2019-08-27 09:53] SorryGames commented on #4839
Hello, @donaldsharp
Thanks for the reply.
According to Release Notes on frrouting.org there weren't any known fixes for EIGRP. In your words since the 4.0 version there are some insignificant changes in EIGRP? I have already tried install the latest FRR version on Debian 8. When I was starting EIGRP process, the error message appeared. In that way I have returned to 4.0 FRR in CL.

Regards,
Matvey

[2019-08-27 11:32] pogojotz commented on #3053
This issue should now be fixed in master with the merge of #4812. @jpmondet can you verify this with your setup?

[2019-08-27 15:13] mwinter-osr commented on #4865
Current logs show all passing without error. Can you verify URL? Or was this partially rerun ("Re-run failed jobs" which overwrite the logs) ?

[2019-08-27 16:31] lijun66 opened #4889 "agentx can't work"
Hello,

I try to use frr with snmp support for monitoring purpose. Actually I can't configure agentx or smux peer even if I compile it with --enable-snmp=agent like described here:

https://frrouting.org/user-guide/AgentX-configuration.html

xxx(config)# agentx
% [ZEBR] Unknown command: agentx

screenshot
[](https://github.com/lijun66/screenshot/blob/master/screenshot.jpg?raw=true)

FRR Version 7.

[2019-08-27 16:33] lijun66 commented on #4889
![image](https://github.com/lijun66/screenshot/blob/master/screenshot.jpg?raw=true)

[2019-08-27 16:36] AdrianBan commented on #4825
Hi,

I've found also another crash in ISIS when you don't define the router isis TAG and if you want to add ip router isis TAG under an interface, daemon is crashing.

Kind regards,
Adrian

[2019-08-28 02:17] lijun66 commented on #4889
Thank you very much for answering my question! I can configure it now. But it seems that the agent can't connect to master agent successfully. Could you give me some advice?

![image](https://github.com/lijun66/screenshot/blob/master/screenshot1.jpg?raw=true)
![image](https://github.com/lijun66/screenshot/blob/master/screenshot2.jpg?raw=true)
![image](https://github.com/lijun66/screenshot/blob/mas

[2019-08-28 02:27] anspectrum commented on #4872
I've also checked this issue on latest released Alpine Linux and the behavior remains the same i.e., labelled packets can't get through.

[2019-08-28 02:46] mkbt commented on #4872
I vaguely remember having a similar issue with MPLS inside containers.

And I think Donald directed me to the topotests in
https://github.com/FRRouting/frr/blob/master/tests/topotests

This has some of the flags
https://github.com/FRRouting/frr/blob/master/tests/topotests/bgp_l3vpn_to_bgp_direct/customize.py

https://github.com/i-maravic/MPLS-Linux and Linux VRF txt was the
other thing I followed.

[2019-08-28 02:50] mkbt commented on #4872
Just looking closer at what you said, are you sure are not more veth's
that need MPLS enabled on in /proc/sys/net/mpls/conf/ ?

On Wed, 28 Aug 2019 at 12:46, Mark Tees <marktees@gmail.com> wrote:

--
Regards,

Mark Tees

[2019-08-28 06:05] jpmondet commented on #3053
Awesome @pogojotz ! I'll try this and give you a feedback asap :D

[2019-08-28 08:30] anspectrum commented on #4872
@mkbt  Thanks for reading and replying.
During my testing I've also created containers with "--privileged" flag and once I spawn them I can see that new vethxxxxxxxx interfaces are created on host machine. Then I enabled mpls processing in container (/proc/sys/net/mpls/conf/vethxxxxx/input) as we all on the host machine but still its not working. Although when I capture traffic on those vethxxxxx

[2019-08-28 08:56] manuhalo commented on #4825
Hi Adrian,
could you open a separate issue for this and detail the steps to reproduce it?
Thanks!
E.

[2019-08-28 11:33] AdrianBan commented on #4825
Hi @manuhalo,

I think is related to the same issue. For example if I'm setting the lsp-mtu to 1440 I can add the command ip route isis TAG to the interface.
But if the daemon is crashing and even you have lsp-mtu 1440 in the configuration, first the daemon is loading the interface configuration and it will not read the lsp-mtu 1440. Of course you will have a default lsp-mtu of 1497 which will cra

[2019-08-28 15:34] AdrianBan commented on #4069
Hi,

I've tried few source debugging and I'm still confusing why the R01 is receiving the route like this:

[code]

Is clear that the problem is with router with PATH TYPE 4. Other routes clearly have the cost correctly calculated, only those are received with cost 110 on both areas: backbone and NSSA.
Which shouldn't be the case, the preferred path should be BACKBONE.

Kind regards,
Adrian

[2019-08-28 17:23] ak503 opened #4895 "nhrp "ip nhrp map" in config"
Hello!

have two problems:
1:
if  i set `ip nhrp map 1.1.1.1 local` to config,  then `no ip nhrp map 1.1.1.1` not work

2:
if  i set `ip nhrp map 1.1.1.1 2.2.2.2` then disable and enable gre interface i not see my map in config

[2019-08-29 05:41] liuxyon opened #4898 "frr7.1 stop work"
i can't start frr bgp , i can login vtysh, but bgp not work.  i try restart system still not work.
Ubuntu 19.04 (GNU/Linux 5.2.9-050209-lowlatency x86_64)

systemctl status frr
● frr.service - FRRouting
   Loaded: loaded (/lib/systemd/system/frr.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2019-08-29 12:47:01 CST; 50min ago
     Docs: https://frrouting.readthedoc

[2019-08-29 05:54] liuxyon commented on #4898
systemctl status frr
● frr.service - FRRouting
   Loaded: loaded (/lib/systemd/system/frr.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2019-08-29 13:49:10 CST; 3min 41s ago
     Docs: https://frrouting.readthedocs.io/en/latest/setup.html
  Process: 766 ExecStart=/usr/lib/frr/frrinit.sh start (code=exited, status=0/SUCCESS)
    Tasks: 11 (limit: 2310)
   Memory: 2

[2019-08-29 07:40] AdrianBan commented on #4069
Hi,

I'm still trying to understand where OSPF is calculating the cost for the routes. Reading the OSPFv2 specifications:

[code]

the routes from backbone (intra-area) should be preferred over the  the inter-area.
Maybe somebody can give me a hint were to look in the code.

Kind regard,
Adrian

[2019-08-29 09:44] lijun66 commented on #4889
I found the cause. I didn't configure frr.conf.

[2019-08-29 09:44] #4889 closed

[2019-08-29 13:11] anspectrum commented on #4872
After much hit and trial and searching information, the FRR is working perfectly now. Here is what I did (for others to be benefited)

Need to enable MPLS processing in Docker container Kernel:
[code]
After enabling it execute `sysctl -p`

VRF Interface Addition on FRR CLI
[code]
FIB Entries in Linux for proper working of VRF
((Got this from **Andrea Dainese** from **http://www.routereflector.com/

[2019-08-29 13:11] #4872 closed

[2019-08-29 16:33] qlyoung commented on #4898
[code]
You either haven't configured bgp, or bgpd isn't reading the config file for some reason. Do you have any bgp config present in the config file?

[2019-08-29 16:33] qlyoung commented on #4865
@polychaeta autoclose in 3 days

[2019-08-29 16:34] qlyoung commented on #4882
@odd22 any ideas here?

[2019-08-29 17:04] odd22 commented on #4882
@qlyoung not really.

@lucize can you send us a complete schema with IP configuration ? and the zebra configuration on both quagga and ospf ? It is hard to analysis due to the presence of tunnel between the router. Can you also highlight which routes are missing compared to Quagga ?

In your setup, do you try to replace a Quagga instance by an FRR one or try to mix FRR and Quagga router ?

[2019-08-29 17:18] lucize commented on #4882
@odd22
Missing routes are the inactive ones from `sh ip route ospf` attached in the text file, I've mixed to test quagga behaviour and from the start quagga activated the 0.0.0.0, that one frr will never install in the routing table
Initially everything was frr with fortigate in the middle (as an HQ), frr being the end points, but during network dysfunctionality in random times users complained of

[2019-08-29 17:55] jpmondet commented on #3053
This is perfect, it works flawlessly for me, thanks a lot @pogojotz ! :1st_place_medal:

We can close this issue ! :smile:

[2019-08-29 17:55] #3053 closed

[2019-08-29 23:10] aderumier opened #4904 "frr 7.1: vm mobility: frr missing arp and ip is moved after 20s"
Hi,

I'm currently testing vm migration between 2 hypervisor, using symetric setup.

After the vm migration, just after resume (the tap interface is online), the mac address is correctly move instant, qemu is sending 5 arp request (first arp request 50ms after resume, with 100ms between each request, last arp request after 500ms).

It seem that frr totally miss them, and don't move ip.  After 20-3

[2019-08-30 06:45] aderumier opened #4905 "frr 7.1: import connected routes from vrf in default not working anymore (ok in frr 6.0.2)"
Hi,

I'm trying to import connected routes (evpn subnets) from a vrf to the default vrf, it was working fine on 6.0.2, but not on 7.1. (can reproduce 100%)

debian buster, kernel 5.0, 7.1-1~deb10u1 (from frr repo)  && 6.0.2-2 (from debian buster repo)

frr.conf
[code]

[code]
192.168.0.0/24  && 192.168.1.0/24  are evpn subnet in vrf1,
and imported in default vrf

on frr 6.0.3
[code]

on frr 7.1
[c

[2019-08-30 07:41] aderumier commented on #4905
Hi just build the last stable/7.1,
frr_7.1-20190829-02-g6ba76bbc1-0_amd64.deb

and and seem to be fixed
[code]
(with a bonus, a /32 imported from evpn, so I don't even need to redistributed the connected routes)

[frr_7.1.20190829-02-g6ba76bbc1.log](https://github.com/FRRouting/frr/files/3558823/frr_7.1.20190829-02-g6ba76bbc1.log)

[2019-08-30 09:57] RAJRHC opened #4906 "BFD used in the VRF failed"
---- 213.1.1.2                       213.1.1.1
 CE ----------------------------PE
  --------------------- em2.400 vrf

FRRouting 7.1-MyOwnFRRVersion

---------------------------------------
**Expected behavior**
look at the topology，PE use the em2.400 interface which in the vrf to established the BGP whit CE，the BGP session is up，I need BGP bfd to detect the session.But i failed.
The PE and CE are

[2019-08-30 12:12] odd22 commented on #4882
OK. If I correctly understand, all routes are present in FRR compared to Quagga, but some are mark as invalid.

So, can you check at the Linux Kernel level the route status by giving us the result of 'ip route' command with FRR and then Quagga to look at the difference? And then, make a try once BFD deactivated with FRR?

You mention that, when FRR mark inactive some routes, you need to reset ospf

[2019-08-30 12:48] rzalamena commented on #4906
Hi @RAJRHC ,

Thank you for your detailed bug report. From the VRF CLI error messages I think your problem has been already fixed.

Unfortunatelly a bunch of VRF and single-hop/VRF fixes were added to recent `master` branch and did not make into 7.1. Would you mind to test your setup on `master`? Or you could wait another month for the new version/branch 7.2 or 8.0.

I can mention a few fixes from

[2019-08-30 13:37] lucize commented on #4882
@odd22

so I made a virtual machine directly connected to fortigate
if frr is running on the interface bridged to fortigate, then I receive all the routes
if I make an ipsec tunnel using vti interfaces (libreswan) and run ospf on the vti  (tunnel) interface I have only partial routes active

the frr config

[code]
attached are the ip route results from directly connected and from vti interface
[vt

[2019-08-30 14:01] odd22 commented on #4882
@lucize

Good progress. Normally, FRR is agnostic of interface type (direct, veth, bridge ...). I never test FRR on IPsec tunnel, only on GRE tunnel.

So, in order to determine where is the problem, can you check if there is a difference between received LSA when FRR is directly connected and through the IP sec tunnel? 'show ip ospf database router' will be sufficient, but, a wireshark capture (af

[2019-08-30 14:21] lucize commented on #4882
@odd22
the mtu on vti is the same as fortigate tunnel interface (default on ipsec 1438), if is not, they will complain and no routes will come
I can't run wireshark right now, the test image is an openwrt one and wireshark is not available (I made one but is huge and I'm trying to make it lighter and not ready yet)
I've attached the `show ip ospf database router`
[direct_database.txt](https://gith

[2019-08-30 15:14] odd22 commented on #4882
There is not too much difference about the database. From LSA advertised by 10.60.17.2, there is one more link with vti interface and one more LSA advertised by 192.168.87.1 with 3 links. So, the database seems more complete with vti while it is in the direct scenario where you got all routes.

For MTU, there is a special ospf command at the interface level to disable the MTU mismatch: "ip ospf mt

[2019-08-30 15:35] lucize commented on #4882
@odd22
so I've added `ip ospf mtu-ignore` on frr with no change
and I made a `tcpdump -s 0 -i vti-vti0 -w vti.pcap` before I restarted ipsec
[vti.zip](https://github.com/FRRouting/frr/files/3560584/vti.zip)

[2019-08-30 16:35] qlyoung commented on #4862
@polychaeta autoclose in 3 days

[2019-08-30 21:32] liuxyon commented on #4898
some numbers has changed.

`frr version 7.1
frr defaults traditional
hostname de.yu.net
log stdout
rpki
  rpki polling_period 1000
  rpki timeout 10
  rpki initial-synchronisation-timeout 30
  rpki cache 127.0.0.1 8282 preference 1
  exit
service integrated-vtysh-config
!
router bgp 9753
 bgp always-compare-med
 no bgp default ipv4-unicast
 bgp bestpath as-path confed
 bgp bestpath med confed
 nei

[2019-08-30 21:36] liuxyon commented on #4898
I manually re-entered the configuration to run, but after failing the system, it still fails to work.

[2019-08-30 22:19] liuxyon commented on #4898
2019/08/31 05:56:43 BGP: [EC 100663313] SLOW COMMAND: command took 31005ms (cpu time 1ms): exit
2019/08/31 05:56:43 BGP: [EC 100663313] SLOW THREAD: task vtysh_read (7fd3bf3dc390) ran for 31007ms (cpu time 2ms)
2019/08/31 06:07:31 BGP: Computing addpath IDs for addpath type All
2019/08/31 06:07:31 BGP: Resetting peer 2602:fed2:7010:d::3 due to change in addpath config
2019/08/31 06:07:32 BGP: [EC

[2019-08-31 00:27] liuxyon commented on #4898
2019/08/31 07:58:12 BGP: [EC 33554505] 2001:67c:12a0:8008::1 unrecognized capability code: 71 - ignored
2019/08/31 07:58:22 BGP: %NOTIFICATION: rcvd End-of-RIB for IPv6 Unicast from 2001:67c:12a0:8007::1 in vrf default
2019/08/31 08:00:08 BGP: [EC 33554505] 2001:67c:12a0:8008::1 unrecognized capability code: 71 - ignored
2019/08/31 08:00:17 BGP: %NOTIFICATION: rcvd End-of-RIB for IPv6 Unicast from

[2019-08-31 11:23] jhiggins-NZ commented on #4845
Yes I will get that for you.

Its nothing terribly exciting

Spoke

[code]

Hub

[code]

Do you mean redistribute NHRP to BGP on Spokes ?

If possible, can you share a working configuration you have?

My setup is currently:
- VM gets DHCP address & GW (default Kernel route)
- IPSec w GRE forms with Hub
- NHRP Registers to Hub
- BGP connects (active) with Hub (dynamic neighbours)
- Ping 2nd Spoke t

[2019-08-31 13:55] RAJRHC commented on #4906
kindly thanks. I‘ll try this and wait for the new version.

[2019-08-31 18:13] humble-mind commented on #2796
We had the same problem here, u guys could help with how to use PR #4516? i have copy those files, lib/lib_errors.c, lib/lib_errors.h, lib/thread.c and put them into /lib with write permission?

We are using FRR version 6.0.3 with debian 9.5.

[2019-08-31 19:41] liuxyon commented on #4898
i try use these commands then it is can running.
rpki stop
rpki start
systemctl stop frr
systemctl start frr

[2019-08-31 19:52] humble-mind opened #4911 "CPU usage grows when i enter vtysh"
Im having the same problem there is describe here https://github.com/FRRouting/frr/issues/2796#

I would like to ask help for how i can fix this, i dont know how to use those scripts that are on https://github.com/FRRouting/frr/pull/4516/files

Could someone help me with that?

Thanks,

FRR Version 6.0.2, Debian 9.5

-

[2019-09-01 16:34] #4865 closed

[2019-09-01 19:12] qlyoung commented on #4898
So we can close this one?

[2019-09-02 02:20] qlyoung commented on #4911
First, if you want quicker help (as you indicated by commenting on the PR that fixed this issue), in the future I suggest you use the mailing list or join our slack channel instead of filing a duplicate issue.

Second, the way you use patches for C programs is to compile the program with the patch and use the resulting binary. In other words, you need to upgrade. Since you're on debian this should

[2019-09-02 02:28] humble-mind commented on #4911
sorry about the duplicate thing, im using a debian 9.5, so i must only do those two commands?

[2019-09-02 02:28] qlyoung commented on #4911
Do you know how to install Debian packages?

[2019-09-02 02:29] humble-mind commented on #4911
dpkg -i right?

[2019-09-02 02:31] qlyoung commented on #4911
Not really no. Please join our slack channel [here](https://join.slack.com/t/frrouting/shared_invite/enQtNjM1MTkzMDQ0Mzg2LTNjMjBlMDczM2UxYzFlNzczYmMwZDgxNzg0ODU1NDU5YzI3ZDVhMzZjNjY1MjlmYjdjMjRjMDRkNjFiMzA1MjQ)

[2019-09-02 02:31] #4911 closed

[2019-09-02 02:34] qlyoung commented on #4898
@polychaeta autoclose tomorrow

[2019-09-02 02:35] qlyoung commented on #4898
@polychaeta autoclose in 1 day

[2019-09-02 02:59] humble-mind commented on #2796
Thanks for the suport Qlyoung!! u are the man!!!

[2019-09-02 04:03] liuxyon commented on #4898
i think it is has issuse.

[2019-09-02 04:03] polychaeta commented on #4898
This issue will no longer be automatically closed.

[2019-09-02 04:07] liuxyon opened #4914 "Unknown command: no set as-path prepend last-as 1"
i can't delet the set as-path prepend last-as 1 and set as-path prepend 9753 use "no" command.

conf t
route-map AS29632 permit 30
Unknown command: no set as-path prepend last-as 1

[2019-09-02 08:57] RAJRHC commented on #4906
Hi，@rzalamena
I‘ve tested the master，it's ok，BFD used in the VRF sucessed.

[2019-09-02 08:57] #4906 closed

[2019-09-02 11:34] yaniv297 opened #4915 "Where can I obtain complete, working configuration file with SR/MPLS enabled?"
Hey, we've been trying for a while to complete a working setup with Segment Routing (using the ospf), specifically with the MPLS labels being automatically learned and assigned by the ospf. [This is the basic setup](https://i.imgur.com/LPuJDLW.png) we're trying to create.
I'm wondering, did anybody achieve this? And if so, can anybody please send me the correct configuration file? We've been searc

[2019-09-02 12:24] ton31337 commented on #4914
Hi @liuxyon,

this is already fixed in the master, 7.1, 7.0 and 6.0. Could you confirm that?

[2019-09-02 12:25] aderumier commented on #4904
seem to be same bug I have reported last year
https://github.com/FRRouting/frr/issues/2129

I think it was fixed, but it's not.

my test case is a simple ping from a vm1(192.168.0.1) on host1/vxlan5 (brige vnet1) to a vm2 (192.168.1.3) on host2/vxlan6 (bridge vnet2), with symetric anycast gateway and a l3 vni on vxlan4000.

when I live migrate the vm2 from host2 to host3, I have this behaviour.

I

[2019-09-02 13:08] ton31337 commented on #4905
@aderumier so all good so far in 7.1?

[2019-09-02 14:30] odd22 commented on #4915
Hi,

Complete configuration for OSPF Segment-Routing could be found in the OSPF documentation, Segment Routing section http://docs.frrouting.org/en/latest/ospfd.html#segment-routing and in the developer documentation here http://docs.frrouting.org/projects/dev-guide/en/latest/ospf-sr.html. You could also have a look to the topotest for OSPF Segment -Routing here: https://github.com/FRRouting/frr/t

[2019-09-02 14:37] aderumier commented on #4905
Yes, on last stable/7.1 branch , no problem.
I have bisected it,   it has been fixed by https://github.com/FRRouting/frr/commit/d2853dfe66604dbd616e0ea9b0b575f309df091d

[2019-09-02 15:17] aderumier commented on #4904
Ok, I have finally found the correct solution.
arp_accept need to be enable on the bridge, to correctly update the neighbord when vm is sending gratuitous arp !

echo 1 > /proc/sys/net/ipv4/conf/vnet2/arp_accept

cumulus ifupdown2 have a conf variable for this
https://github.com/CumulusNetworks/ifupdown2/commit/8b57a467ca8c0794f35477187cf4d15edbeb5aa6

I think it could be great to document this so

[2019-09-02 15:22] eqvinox commented on #4859
@sworleys can you rerun your test with `libcap` enabled?

[2019-09-02 16:35] #4862 closed

[2019-09-03 03:56] liuxyon commented on #4914
i am using frr 7.1 now, but it is still not fixed.

[2019-09-03 03:59] liuxyon commented on #4898
i think  maybe should rpki has bugs, so it is need stop rpki and retart bgp.

[2019-09-03 14:43] Alexis-ROYER opened #4921 "Debian packaging fails when cloned as a submodule"
**Describe the bug**
When frr.git is used as a submodule, the debian packaging procedure fails.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Within an existing git workspace, add frr.git as a submodule:
[code]
2. Follow the proce

[2019-09-03 15:06] #3308 closed

[2019-09-03 15:06] eqvinox commented on #4921
I think this is an issue in `dpkg-source`.  Also note that to build from git you need to run `./configure` first because it auto-generates the changelog.

[2019-09-03 15:11] ton31337 commented on #4914
I've just tested on 7.1 - it works fine for me. How did you install 7.1? From package or from the git stable/7.1 branch?

[2019-09-03 15:29] riw777 commented on #4738
My guess is this is related to the router-id command not "taking" -- you say this is random -- what we need is some way to correlate the problem with some environmental change, such as the router-id not being reported in the config. I don't see any other reason for SPF not to run correctly on FR/R given your configs, etc.

[2019-09-03 15:29] qlyoung commented on #4856
We're about 3 questions removed from the original issue here, I'm closing this.

[2019-09-03 15:29] #4856 closed

[2019-09-03 15:32] qlyoung commented on #4898
Okay, please open a more specific issue if you have any usable information.

[2019-09-03 15:32] #4898 closed

[2019-09-03 15:34] qlyoung commented on #4876
@dgirardin81 This should be fixed in 7.1 and beyond. If you are still seeing the issue after an upgrade please reopen this.

[2019-09-04 08:13] ton31337 commented on #4914
@polychaeta autoclose in 2 days

[2019-09-04 10:40] NetTinkerer opened #4928 "unable to establish peer to dhcp provided default gateway"
We use FRR/BGP on our ubtunu 18.04 hosts to advertise an anycast address to Cisco switches.
[code]
The peer ip is the same ip as the dhcp provided default gateway address. FRR is unable to establish a neighbourship.

[code]
I tracked down a method to solve it though
I think systemd-networkd adds a host route for the default gateway to the routing table

[code]
The moment I do

[code]

the peer is

[2019-09-04 15:27] EasyNetDev opened #4931 "isisd: not loading interface configuration if the MTU of interface is less than 1497"
Hi,

After the patch for fixing the bug #4825 , now the daemon is loading and is not crashing anymore, but I've faced another issue: is not loading the interface configuration if you have an MTU less than 1497, even the process has lsp-mtu 1440.

(put "x" in "[ ]" if you already tried following)
[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master

[2019-09-04 15:45] donaldsharp commented on #4928
[code]

[2019-09-04 15:46] donaldsharp commented on #4928
kernel routes are not considered for usability in nexthop resolution in frr:
[code]

[2019-09-04 17:43] qlyoung commented on #1864
Given that this was caused by route oscillation, and it's not unusual to have excessive netlink traffic in such scenarios, I think we can safely close it at this time.

[2019-09-04 17:43] #1864 closed

[2019-09-04 21:18] InsaneSplash commented on #3979
I was just wondering if the reporting of this error is correct? Running only a V6 peer as a test, produces an error of what I think is FRR trying to classify the peer as V4.

[code]

Sep  4 23:12:35 sinewave bgpd[24815]: [EC 33554454] 2c0f:f2a0:1::1 [Error] Update packet error **(wrong prefix length 48 for afi 1)**

In terms of the AFI classifications, 1 is IPv4 and 2 is IPv6.
As we know V4 doesn'

[2019-09-05 23:12] rwestphal commented on #4788
Status update: it was discovered that `lyd_diff()` scales relatively well in normal circumstances (e.g. it takes 0.75 ms to compare two data trees with 5000 nodes each). But things are different when the `lyd_node` structures given as input are created using the `lyd_dup_withsiblings()` function (which is the case in the FRR northbound). When that happens, the performance of `lyd_diff()` downgrade

[2019-09-06 00:02] nikos-github opened #4940 "BGP sends invalid IPv6 nexthop in MP_REACH_NLRI if link-local i/f address is missing"
**Describe the bug**
BGP sends invalid IPv6 nexthop (all 0s) in MP_REACH_NLRI if link-local i/f address is missing. This is causing the BGP session to continuously flap.

[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:
1. Configure an IPv6 eBGP neighbor over a directly connected physic

[2019-09-06 08:13] #4914 closed

[2019-09-06 09:56] ykondratov opened #4942 "gRPC documentation or example"
Hi!

Not an issue, but a question. Is documention for gRPC Nothbound plugin published somewhere?

At least some examples of usage

Thanks in advance

[2019-09-06 19:20] donaldsharp commented on #4478
What's the status here? I've seen this again.  This should be fixed

[2019-09-06 19:42] mwinter-osr commented on #4478
This was fixed for libyang packages, but seems I missed it for RPKI packages.
Fix applied.

(Disclaimer: There doesn't seem to be a "perfect" fix. In case of a failure on the package install, I just wait 60secs and then try one more time - assuming that the background job is done after 60s. I could increase the number of attempts or the wait time if this still happens).

[2019-09-06 20:54] ericwaynedavis commented on #4825
Hi @manuhalo

I am running into the inverse of the original problem in that if I increase the MTU of my interface beyond 1500 bytes the ISIS daemon hello packets are not getting out the interface.

In the following output, you can see that isisd is sending hello packets that are three bytes smaller (8997) than the interface MTU (9000). The output of tcpdump on that interface shows only received he

[2019-09-06 22:05] donaldsharp opened #4946 "Test bgp-ecmp-topo2 is frequently failing"
Full logs:

https://ci1.netdef.org/browse/FRR-FRR-TOPOU1804-2530

The logs seem to indicate we have a v6 LL address in our ecmp path, while the test is not looking for any non global v6 addr:

build	06-Sep-2019 13:15:18	B>* 1::/64 [20/0] via fd00:0:0:1::1, r3-r2-eth64, 00:00:25
build	06-Sep-2019 13:15:18	  *               via fd00:0:0:2::1, r3-r2-eth65, 00:00:25
build	06-Sep-2019 13:15:18	  *

[2019-09-08 07:08] liuxyon commented on #4914
https://deb.frrouting.org/

use it install Debian 10 (buster) in ubuntu 19.0.4 5.2.x kernel

[2019-09-08 07:20] liuxyon commented on #4898
it happen can't normal work when each time restart system, then use  systemctl stop frr and systemctl start frr just is work.

[2019-09-09 06:26] CarrJohn822 commented on #1708
you have to run the vtysh as root

[2019-09-09 08:48] manuhalo commented on #4931
The issue is that when you load the configuration through `vtysh -b -d isisd` it is processed line by line rather than as a whole. The northbound library has a simple mechanism to statically declare the relative priority of callbacks in a configuration commit, but this only helps when the configuration is applied as a whole, which is not the case here.

The good news is that if instead of forcing

[2019-09-09 11:36] ashish12pant commented on #4946
I executed scripts multiple times locally on both ubuntu-18 and ubuntu-16, i am not able to reproduce this issue. I suspect this to be an infra issue.

By any change, Is there any specific configuration in the build system while running the tests.

[2019-09-09 16:17] Starbicycle opened #4953 "Please help me build latest release, thank you."
Hi guys,

when i try to run the make example from your website, i get an interrupt at this pointer:

retried it two times with similar result, not sure if should change the BGP BMP feature to solve it.

git suffix: -ge14168b
git branches: local:master, github/frrouting/frr.git/master
Dateien lib/gitversion.h.tmp und lib/gitversion.h sind identisch.
  CC       bgpd/bgp_bmp.lo
In file included from

[2019-09-09 16:20] Starbicycle commented on #4953
Ok, i see, i run into this:

https://github.com/FRRouting/frr/pull/4952/commits/df9e8ae7229ef7a07f57f2d77e0e5c8eb0729702

[2019-09-09 18:02] ton31337 commented on #4953
will be fixed by https://github.com/FRRouting/frr/pull/4952

[2019-09-09 19:27] #4953 closed

[2019-09-09 19:31] qlyoung commented on #4942
There are no docs, but we are aware of this and are working on them. There is info (including code examples) in the first PR comment: https://github.com/FRRouting/frr/pull/4082

Please be advised that gRPC is not ready for production use at this time because there are latent thread synchronization issues that need to be resolved first. Consequently, I'm closing this issue since we don't technicall

[2019-09-09 19:31] #4942 closed

[2019-09-09 19:36] qlyoung commented on #4915
@polychaeta autoclose in 1 day

[2019-09-10 09:35] yaniv297 opened #4956 "Two MPLS Configuration Questions"
We are trying to create [this setup](https://i.imgur.com/0mxLsGn.png) with Segment Routing and MPLS Encapsulation. We have two questions about configuration:

1. In our IP Route, we currently see the following line:
192.168.0.2  encap mpls  12100 via 10.10.10.9 dev ens8 proto 188 metric 20
Which means MPLS Encapsulation is present. However, we see only one label is sent - instead of seeing label s

[2019-09-10 13:06] jpchIC opened #4957 "[7.1] PIM-SM assert msg: Frr/Cisco interoperability"
Hi,
Assert messages from Cisco 4300 are rejected by Frr in the function pim_assert_recv when checking the current size:

[code]

According to the capture below, the Cisco assert message is 2 bytes longer than the Frrouting one.

![pb_assert](https://user-images.githubusercontent.com/49238045/64612432-1461ec00-d3d4-11e9-81d7-b30f2350a447.png)

According to the RFC 4601/7761 Frrouting assert message

[2019-09-10 14:30] donaldsharp commented on #4957
Can you upload the two captured pcap's?  I'd like to investigate this where I can look at the data in wireshark.

Question -> IF FRR has the correct encode/decode what is the expectation here?  Have you opened a case with Cisco?

[2019-09-10 17:23] qlyoung commented on #4956
Cf.
https://github.com/FRRouting/frr/issues/4862
https://github.com/FRRouting/frr/issues/4784
https://github.com/FRRouting/frr/issues/4753
https://github.com/FRRouting/frr/issues/4726
https://github.com/FRRouting/frr/issues/4915

[2019-09-10 18:21] #4957 closed

[2019-09-10 19:36] #4915 closed

[2019-09-11 07:52] yaniv297 commented on #4956
@qlyoung
Hey, those questions are different than the old ones. We've made some progress. I know I've been opening a few issues - because we still can't get it to work, and we need advice.
But this issue is different. We've actually made MPLS work, but only with one label and not label stacking. Also we've never asked about LER/LSR before.
Thanks!

[2019-09-11 12:35] Alexis-ROYER opened #4965 "[PIM] Confusing documentation for `ip pim sm` command"
**Bug description**

The [online documentation](http://docs.frrouting.org/en/latest/pim.html#clicmd-ippimsm) for `ip pim sm` command is confusing.

As labeled, we understand this sentence as following: the use of the `ip pim sm` command prevents from receiving IGMP reports on the interface,
while, AFAIK, this command *has* to be activated on the interface in order to receive and proceed IGMP repor

[2019-09-11 15:27] rzalamena opened #4967 "bgp_aggregate-address_route-map test improvement"
## The Problem

Recently there were some tests failures related with the `bgp_aggregate-address_route-map` tests. The lines that caused the failure were:

[code]

The error message caused by the lines above are unclear:

[code]

That message is actually trying to tell us that `IPv4 Unicast` key doesn't exist in `output['192.168.255.1']['addressFamilyInfo']['IPv4 Unicast']`.

I've seen this problem

[2019-09-11 17:36] gtg625n commented on #1006
Good evening guys,

Probably linked to that issue: I am running a FRR, directly connected to a CSR1000v (from Cisco).
The EIGRP neighborship is established well between them. However, the FRR does not learn the routes from its CSR peer EIGRP that are external (learned from the BGP process). The other way around works well, that is to say, the CSR learns well the EIGRP routes from the FRR and redis

[2019-09-11 17:37] gtg625n commented on #1006
Thank you in advance.

[2019-09-11 17:38] gtg625n commented on #1006
Ah, and the version of the FRR is:
frr version 7.2-dev-MyOwnFRRVersion
frr defaults traditional

[2019-09-12 05:49] ton31337 commented on #4967
I'll rewrite this test using your recommendations :+1:

[2019-09-13 09:42] Alexis-ROYER commented on #4965
For sure, I will :-)

I see two options to get this done:
- option#1: either we track the origin of the sentence in order to understand the actual meaning of it,
- option#2: or we change or remove it without further investigations from our understanding.

@donaldsharp: Let me know which one is the best.

[2019-09-13 09:43] Alexis-ROYER commented on #4965
I start tracking the origin of this sentence (option#1).
It seems it comes from the initial commit [e3c1296cb4](https://github.com/FRRouting/frr/commit/e3c1296cb4#diff-6776a738ea203664100f0147dd1f14f7) from @qlyoung on 2018/01/30.
I don't know however whether @qlyoung you did write this documentation from scratch,
or whether it was picked from another source?
In the latter case, can we track furth

[2019-09-13 18:03] #4967 closed

[2019-09-14 11:54] donaldsharp opened #4982 "pthread_join crash in ci system?"
I see this crash:

[code]

[2019-09-14 12:00] donaldsharp commented on #4965
The intent was to clearly delineate `ip pim` that is used to setup pim neighbors with `ip igmp` which allows the reception of igmp reports on the interface that is all

[2019-09-16 09:28] netfreak98 opened #4983 "[Feature Request] Implement max prefix limit for outgoing annoucements"
Hi,

as it is already implemented in BIRD, is it also planned to implement an export limit for bgp sessions in FRR? :) This feature would help to reduce full tables annouced ^^

For BIRD it looks like the following for example:

[code]

Thanks!

Joey

[2019-09-16 10:17] Alexis-ROYER commented on #4965
Got it :-)

I've started [PR#4984](https://github.com/FRRouting/frr/pull/4984), but left it as a draft PR until I can check it is ok with documentation generation.
Unfortunately, I have not succeeded in so yet.

When I type `make doc/help`, I get:

When I type `make doc/user/htlm`, I get:

Did I miss a `./configure` option?

[2019-09-16 14:56] #4668 closed

[2019-09-16 15:04] qlyoung commented on #4965
What you want is
[code]
But your change is fine to my eyes.

[2019-09-16 21:05] disaster123 opened #4989 "linux routing table does not contain correct src ip from bgp"
**Versions**
 - OS Kernel: Linux 4.9
 - FRR Version 7.1

I need a routing table entry like this;
[code]

but frr only generates them like this from bgp:
[code]

i tried putting 37.228.152.3/32 on a dummy or lo device but this did not help. Currently it's on a dummy0 device.

frr.conf:
[code]

I also tried something like this:
[code]

but even this did not help.

[2019-09-17 12:38] guidov22 opened #4994 "SNMP with integrated configuration"
Hello,
agentx is not working.

FRR version is:
FRRouting 7.1 (frr-test-a).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--enable-systemd' '--enable-sharpd' '--enable-snmp' '--enable-multipath=8' '--enable-config-rollbacks' '--enable-exampledir=/usr/share/doc/frr/examples/' '--localstatedir=/var/opt/frr' '--sbindir=/usr/lib/frr' '--sysconfdir=/etc/frr' '--enable-multipath=64'

[2019-09-17 12:39] donaldsharp commented on #4994
can you show us the contents of our `/etc/frr/daemons` file?

[2019-09-17 12:50] guidov22 commented on #4994
here the contents:

zebra=yes
bgpd=yes
ospfd=yes
ospf6d=yes
ripd=yes
ripngd=yes
isisd=yes
pimd=yes
ldpd=yes
nhrpd=yes
eigrpd=yes
babeld=yes
sharpd=yes
staticd=yes
pbrd=yes
bfdd=yes
fabricd=yes

#
# If this option is set the /etc/init.d/frr script automatically loads
# the config via "vtysh -b" when the servers are started.
# Check /etc/pam.d/frr if you intend to use "vtysh"!
#
vtysh_enable=yes
zeb

[2019-09-17 12:59] donaldsharp commented on #4994
Add `-M snmp` to your daemon_options line for the daemons you want snmp working on.

[2019-09-17 13:03] guidov22 commented on #4994
Can all the daemons be snmp enabled or only zebra, bgp ospf and rip ?

Thanks and regards

[2019-09-17 13:07] perkooo commented on #4397
Any update for someone who had been able to solve this issue ?
Having the same error while upgrading from Quagga to FRRouting.
`ZEBRA: [EC 100663304] ERROR: No such command on config line 16: ip route 10.x.x.x/24 lo`

[2019-09-17 13:20] eqvinox commented on #4921
Closing since this is very likely a Debian tooling bug, not a FRR bug.

[2019-09-17 13:20] #4921 closed

[2019-09-17 13:33] guidov22 commented on #4994
Hello,
done …
it seems to work now …

but doing
r00t@frr-test-a:~$ snmpwalk -c %nast1a%0 -v2c localhost .1.3.6.1.2.1.14.1.1
iso.3.6.1.2.1.14.1.1 = No Such Object available on this agent at this OID
r00t@frr-test-a:~$

is there a mib tree ? I cannot find it … I only find ospf tree on example to enable snmp

thanks and regards

[2019-09-17 14:26] eqvinox commented on #4873
duplicate of #3930, closing.  (PR #4995 should fix this, for any discussion please go to #3930.)

[2019-09-17 14:26] #4873 closed

[2019-09-17 14:47] mwinter-osr opened #4997 "[dev/7.2] BGP IPv4 Notification wrong in case of Invalid NEXT_HOP Attribute (ANVL-BGP4-15.25)"
Tested with dev/7.2 at sha ad1fb8e40 and found with ANVL
Relates to RFC4271, Sect. 6.3, p 33, UPDATE message error handling

In case of a BGP NEXT_HOP attribute with an incorrect value, FRR is supposed to send a notification and include "Corresponding type, length and value field of the NEXT_HOP Attribute"
in the notification data.

Notification is seen, but no data inside the notification.

This

[2019-09-17 14:53] mashemat opened #4998 "BGP config does expose netwrok to neighbor in FRR and router plugin"
Hi everyone,

I am going to use FRR with VPP through router plugin. I am almost confident that router plugin  in VPP is working. I try to have an small bgp configuration as follows:

![bgp_scenario](https://user-images.githubusercontent.com/22297328/65059598-23442380-d92b-11e9-8f66-92af0842cc59.png)

Here it is the configuration of node A:
[code]
Here it is the configuration of node B:
[code]
in n

[2019-09-17 15:23] donaldsharp commented on #4989
discussed this morning on #general frr slack.

`ip protocol bgp route-map FOO`

Where the FOO routemap sets the src appropriately

[2019-09-17 15:23] #4989 closed

[2019-09-17 15:30] qlyoung commented on #4397
@strizhechenko at this point we have verified this isn't a bug with FRR, rather a configuration issue with either your build or your system. If you would like more help I suggest you join our slack channel (https://frrouting.org/#participate).

[2019-09-17 15:30] #4397 closed

[2019-09-17 15:33] disaster123 commented on #4989
Thx

[2019-09-17 15:39] mwinter-osr commented on #4997
As pointed out by Donald on the call, PR #4941 might fix it.
Will verify

[2019-09-17 15:48] louberger opened #5000 "Master leaking memory after merge with #4810"
Here's the valgrind and summary info:

7.28.1    7.0.0.130 Memory leak on exit, 11 errors                 0      1
7.28.2    7.0.0.130 Leaked type: Thread stats : 4 * 72 blocks      0      1
7.28.3    7.0.0.130 Leaked type: Thread Poll Info : 4 * 8192       0      1
7.28.4    7.0.0.130 Leaked type: Thread master : 8 * (variably     0      1
7.28.5    7.0.0.130 Leaked type: Thread : 5 * 168 blocks

[2019-09-17 23:07] #3266 closed

[2019-09-17 23:21] #5000 closed

[2019-09-18 07:48] Alexis-ROYER commented on #4965
OK thanks.

[2019-09-18 08:13] ak503 commented on #4998
Hello! may by it is need?
[code]

[2019-09-18 09:55] mashemat commented on #4998
Thanks Dmitrii for your reply. I noticed that this configuration even does not work without VPP. So, there should be something wrong in it. When I apply your modification it complain about indicating the remote-as.

[2019-09-18 10:16] ak503 commented on #4998
"When I apply your modification it complain about indicating the remote-as"
 Yes, it was part of config. full:
A:
[code]
B:
[code]

[2019-09-18 12:32] netfreak98 commented on #4798
Hi, could you please have a look at this? I'd like to use EVPN for some projects and it is requiered to get this working first :)

[2019-09-18 13:26] mashemat commented on #4998
Thanks Dmitrii, this one works for me when I am not using VPP. But still I have problem with VPP. Does BGP makes multicast packet.  VPP on node B drops the packet. I have the following in my VPP trace:

00:11:56:265478: af-packet-input
  af_packet: hw_if_index 1 next-index 4
    tpacket2_hdr:
      status 0x20000081 len 118 snaplen 118 mac 66 net 80
      sec 0x5d822f8e nsec 0x1a20a35f vlan 0 vlan

[2019-09-18 16:10] donaldsharp opened #5007 "Labels have their own idependenty proto types from route_types.h"
Currently labels are tracked to an owner based upon a different proto enum than what is generated for route_types.h.  This is a bug waiting to happen ( see #5006 ) and will continue to be so.

We need to find a way to combine this knowledge so that we can track this from one source of truth

[2019-09-18 18:51] karamalla0406 opened #5010 ""show bgp l2vpn evpn neighbors 52.1.1.1 advertised-routes json" command results in BGP daemon crash"
"show bgp l2vpn evpn neighbors 52.1.1.1 advertised-routes json" results in BGP deamon restart.

Following is the back trace:
------------------------------
[code]
(put "x" in "[ ]" if you already tried following)

FRR Version:
[code]
Configuration:
---------------
[code]

[2019-09-18 19:49] qlyoung commented on #4998
FRR is working here. Sounds like your issue lies in VPP.

@polychaeta autoclose in 1 day

[2019-09-18 19:50] #4965 closed

[2019-09-19 09:22] shengslin opened #5016 "How to prevent routes learned from BGP neighbors from being sent to the kernel route table"
Networking：
[code]
I want to use FRR（bgp protocol） to separate the control plane and the data forwarding plane. The control plane is a set of redundant route reflectors, so they do not need zebra to deliver the received routes to the kernel routing table.
As shown in the networking diagram above, the actual data traffic is between Router1 and Route2, and not to RR1 and RR2.

So I configured zebra

[2019-09-19 10:46] donaldsharp commented on #5016
!
route-map NO_INSTALL deny 10
 match ipv6 address ACCESS
!
route-map NO_INSTALL deny 5
 match ip address ACCESS
!
!
ip protocol bgp route-map NO_INSTALL
!
ipv6 protocol bgp route-map NO_INSTALL

[2019-09-19 15:01] jadinm opened #5018 "Recursive Next Hop not updated for static routes"
**Bug description**

When Zebra notifies Staticd that the recursive nexthop should change (in my case, because a route with a longer prefix exists), nothing happens.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. Create a router with (at least) two outgoing inter

[2019-09-19 18:57] mjstapp opened #5020 "topotests: bgp_l3vpn_to_bgp_vrf test issues with linux kernel 5"
running an ubuntu 18 LTS vm, where the kernel was auto-upgraded to 5.0.0-29-generic I see a couple of problems with the l3vpn vrf test:

1. output difference from `ip addr show vrf xxx` between kernel 4.18 and kernel 5.0, in the interface name. this breaks some of the regex tests in the suite:

[code]
note the `@if2` , compared to:

[code]

2. the tcp_l3mdev_accept setting, based on kernel version

[2019-09-19 18:59] donaldsharp commented on #5020
this is iproute2 changes.  We should talk to them about it.

[2019-09-19 19:00] mjstapp commented on #5020
looked like the same version of iproute2 - at least the version reported by `dpkg` is the same

[2019-09-19 19:49] #4998 closed

[2019-09-19 21:29] dsahern commented on #5020
r1-eth4 is a veth device? if it has a peer then IFLA_LINK is returned from the kernel and iproute2 displays it.

[2019-09-20 00:36] nikos-github commented on #4997
@mwinter-osr @donaldsharp Can we please get a pcap for the testcase to understand what has been sent?

[2019-09-20 05:49] shengslin opened #5023 "When zebra uses the "--vrfwnetns" option, the kernel does not have a route installed."
I am testing FRR support for netnamespace, which is another good user isolation technology besides vrf.

I found that zebra's "--vrfwnetns" configuration option can implement vrf based on netnamespace, so I configured /etc/frr/daemons as follows.
[code]

The FRR configuration is as follows:
[code]

net namespace  configuration is as follows:
[code]
After configuring the "--vrfwnetns" option, I fou

[2019-09-20 12:01] donaldsharp opened #5025 "BGP VNC is crashing in our Address Sanitizer tests"
error	19-Sep-2019 14:14:22	r4: Daemon bgpd not running
error	19-Sep-2019 14:14:23
error	19-Sep-2019 14:14:23	From frr r4 bgpd log file:
error	19-Sep-2019 14:14:23	2019/09/19 14:13:54 BGP: vty[??]@> enable
error	19-Sep-2019 14:14:23	2019/09/19 14:13:54 BGP: vty[??]@# show bgp ipv4 vpn
error	19-Sep-2019 14:14:23	2019/09/19 14:13:54 BGP: vty[??]@> enable
error	19-Sep-2019 14:14:23	2019/09/19 14:13:54

[2019-09-20 12:09] donaldsharp opened #5026 "Address Sanitizer tests are not picking up a bgp crash"
When looking at successful CI runs, I noticed that the address sanitizer test run is seeing bgp crashes but it is not picking up on this fact and failing the test.  This should be rectified.

[2019-09-20 13:58] #4997 closed

[2019-09-20 21:23] cloudtoad opened #5032 "show startup-config from vtysh returns nothing"
Version:  commit 8790f6719 on Debian 10 (buster)
`
debian# show version
FRRouting 7.2-dev (debian).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--prefix=/usr' '--enable-exampledir=/usr/share/doc/frr/examples/' '--localstatedir=/var/run/frr' '--sbindir=/usr/lib/frr' '--sysconfdir=/etc/frr' '--enable-multipath=64' '--enable-user=frr' '--enable-group=frr' '--enable-vty-group=f

[2019-09-20 21:49] felartu opened #5033 "Fresh install of FRR fails with bgp cluster-id configuration: buffer_flush_available: write error on fd 2: Bad file descriptor"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried

[2019-09-21 03:44] cabsil22 commented on #2889
@lucize using your comment I was able to compile BFD from that git link, but just replacing the current BFD in FRR with that one doesn't work.  I'm a bit of a newbie, and sorry for that, but can you tell me what the next step is after compiling to get this to work with ospf?

I am having similar problems with OSPF and BFD being slow to respond to link downs.

[2019-09-22 08:28] ton31337 commented on #2864
@workeberies @BitSums could you guys please tell me how do you test this capability? I would love to test it locally before pushing and write a test for this capability as well.

[2019-09-22 09:17] lucize commented on #2889
@cabsil22 so, just disable bfd config in frr and use bfd like in this examples (the json and the init) https://github.com/openwrt/packages/tree/master/net/bfdd/files
the init is openwrt adapted but I think you can understand how to run it

[2019-09-22 09:20] lucize commented on #2889
if you need more explicit example

[code]

[2019-09-22 11:04] Rockvere commented on #2864
@ton31337

Hey.
I recently encountered the same problem on FRR 7.2.
I tried to address the white address with **bird 1.6.3** on **ubuntu 18.04**, config:

nano /etc/bird/bird.conf

[code]

[2019-09-22 11:13] ton31337 commented on #2864
What do you mean here _white_?

[2019-09-22 11:15] Rockvere commented on #2864
It's about the IP address - white.

[2019-09-22 13:53] ton31337 commented on #2864
that’s fine, how many prefixes do you have in those lists?

[2019-09-22 15:15] Rockvere commented on #2864
![51](https://user-images.githubusercontent.com/55654633/65390118-cf32a800-dd4b-11e9-85de-b3c47717d97a.png)

[2019-09-22 17:13] louberger commented on #5025
seen by running valgrind:

==7313== Conditional jump or move depends on uninitialised value(s)
==7313==    at 0x181F9F: subgroup_announce_check (bgp_route.c:1555)
==7313==    by 0x1A112B: subgroup_announce_table (bgp_updgrp_adv.c:641)
==7313==    by 0x1A1340: subgroup_announce_route (bgp_updgrp_adv.c:704)
==7313==    by 0x1A13E3: subgroup_coalesce_timer (bgp_updgrp_adv.c:331)
==7313==    by 0x4EBA

[2019-09-22 18:30] Rockvere commented on #2864
On 6.0.2 a similar problem.

[2019-09-22 18:44] ton31337 commented on #2864
version doesn’t matter at all because it’s not implemented

[2019-09-23 07:30] ton31337 commented on #2864
@Rockvere can you join FRR slack channel?

[2019-09-23 12:23] louberger commented on #5025
liiks like extra->label is not initialized is same issue for both valgrind reports

[2019-09-23 12:51] indigo423 opened #5035 "Unable to build Alpine based Docker image"
I've tried to build the Alpine based Docker images but I the script fails with the error message:

[code]

Here is what I did:

[code]

The command building the Alpine packages fails

[code]

I've added a `-v` which gives an output which I've posted to [pastebin](https://pastebin.com/GtbYnkhd). There is a suspicious error message:

There is a suspicious error message:

[code]

Any hints on how to

[2019-09-24 13:48] donaldsharp commented on #5025
Adding valgrind to topotests as suggested immediately above just makes all topotests unhappy.  The simple patch above needs to be more complicated. :(

[2019-09-24 13:58] donaldsharp commented on #5025
sharpd@eva ~/frr> git log --oneline 506fc1ad8ff..a6ffcbdca63
a6ffcbdca Merge pull request #4740 from opensourcerouting/omgwtfbbq
4937287fb (origin/pr/4740) lib: fix prefix_copy() for clang-SA
4d5cf6bc4 lib: fix misplaced brace in typesafe lists
9c3a21713 lib: use some more transparent unions for prefixes
1315d74de lib: fix prefix_cmp() return values

[2019-09-24 13:59] donaldsharp commented on #5025
@eqvinox -> can you take a look at this?

[2019-09-24 14:38] #3930 closed

[2019-09-24 15:27] pguibert6WIND commented on #5023
@shengslin , next hop tracking should be enabled against default route in the vrf test.
[code]

perhaps there is something else.
I need to take more time on this issue.

[2019-09-24 15:35] mjstapp opened #5049 "topotests: tcp_l3mdev_accept issue with linux kernel 5"
running an ubuntu 18.4 LTS vm, where the kernel was auto-upgraded to 5.0.0-29-generic, I see a problem that appears to be related to the tcp_l3mdev_accept setting. in the `bgp_l3vpn_to_bgp_vrf` topotest, this appears on router ce4, the router with no default instance. I could only get ce4's peer up by using the "bad" tcp_l3mdev_accept setting of "1"  - for that one router in the topology.

[2019-09-24 15:41] mjstapp commented on #5020
@rwestphal I've split the l3mdev question out into #5049 so it can be worked on independently. at least for me, I only had to adjust the setting for specific nodes in the topology.

[2019-09-24 18:01] sworleys commented on #5018
I was indeed able to reproduce this on `7.1` but it seems to be fixed with current master.

Another way to repro is to delete/add the address on the interface, causing the deletion/creation of the connected route and triggering nexthop tracking.

[2019-09-24 18:30] sworleys commented on #5018
Looks to have been fixed with #4602 and will be in `7.2` release.

[2019-09-25 01:12] mwinter-osr opened #5054 "[7.2] BGP Aggregate broken"
Commit cde3c2b breaks BGP Aggregation. This breaks various RFC compliance tests

[code]

(I'll try to add more details in the next day)

[2019-09-25 04:50] ton31337 commented on #5054
👀

[2019-09-25 06:43] ton31337 commented on #5054
I will look into this once have more details what's broken there. Furthermore, I see that we need more and more RFC-like tests to avoid breaking existing stuff. This is not the first time I see.

[2019-09-25 07:02] #5035 closed

[2019-09-25 07:40] Julian-younger commented on #4563
hi,@rwestphal
  I have met the same problem with bsahoo20,  I am using FRR7.2（0d867a06656b7398d0） code base and have cross compile in Ubuntu-12.04 for a target (ARM)，my gcc version is 4.7.3,and I am using the compile option -std=gnu99,but the frr_interface_info's member nodes[] is still not correct, Could you give me some more suggestions,thanks a lot.

[2019-09-25 12:30] acharaj opened #5056 "OSPF Redistribute Internal Only"
Hi,

I noticed that "ospf redistribute" command in bgp config file redistributes all the subnets to bgp; even the external ones it learnt from bgp (using "redistribute bgp" command in ospf config file). As per cisco implementation https://www.cisco.com/c/en/us/support/docs/ip/border-gateway-protocol-bgp/5242-bgp-ospf-redis.html, by default, only internal subnets are redistributed in bgp.

Redistri

[2019-09-25 13:16] donaldsharp commented on #5056
currently we have no methodology to do what you want via a simple `redistribute ospf internal` command.  You would need to set a tag on redistribution into ospf and then match it on the other side to deny.

[2019-09-25 13:56] rwestphal commented on #4563
@Julian-younger weird, gcc 4.7.3 certainly supports C99 flexible arrays.

Please build FRR using `make V=1` and show us all options being passed to the compiler.

[2019-09-25 22:32] mwinter-osr commented on #5054
Here are some more details of one of the tests failing (there seem to be different test breaking based on this commit, but I've only analyzed one so far).

Based on "RFC4271, Sect. 4.3, p 17, UPDATE Message Format"
[code]

FRR Config:
[code]

1) The neighbor `192.168.1.1` sends a BGP update with route `30.0.5.128/25'
2) The neighbor `192.168.1.1` sends another BGP update with route `30.0.5.192/26`

[2019-09-26 02:44] Julian-younger commented on #4563
@rwestphal Thank you for your reply，all options passed to the compiler is here:

depbase=`echo ripd/ripd.o | sed 's|[^/]*$|.deps/&|;s|\.o$||'`;\
	/home/usr/bin/arm-linux-gcc -std=gnu99 -DHAVE_CONFIG_H -DSYSCONFDIR=\"/etc/frr/\" -DCONFDATE=20190926 -I. -I..  -I.. -I../include -I../lib -I. -I./include -I./lib   -I/workbench/3rd/inc -I/usr/local/include        -g -O2 -fno-omit-frame-pointer -funwind-

[2019-09-26 07:58] ton31337 commented on #5054
@mwinter-osr what am I doing wrong here? I can't replicate it in master and dev/7.2 as well.

![issue_5054](https://user-images.githubusercontent.com/3352707/65669537-6b122b80-e04c-11e9-8953-c715c0c35704.gif)

[2019-09-26 10:04] den1s opened #5065 "maximum-prefix not work correctly"
**Versions**
 - OS Kernel: Linux CentOS
 - FRR Version 7.0

**Additional context**
When neighbor send prefixes over maximum-prefix limit session will be restarted.

Configuration:
neighbor XXX.XXX.XXX.XXX maximum-prefix 600000

Session down with message "Idle (PfxCt)" and restarted right away

[2019-09-26 10:06] ton31337 commented on #5065
@den1s that's the normal behavior, what do you expect using this command?

[2019-09-26 10:17] den1s commented on #5065
@ton31337 Thx for answer.
IMHO:
I think session need down. Not restart always.
from official docs: "Sets a maximum number of prefixes we can receive from a given peer. If this number is exceeded, the BGP session will be destroyed"
If need restart session it other syntax:
neighbor XXX.XXX.XXX.XXX maximum-prefix 600000 restart interval

[2019-09-26 10:44] ton31337 commented on #5065
let me check the code

[2019-09-26 11:30] mwinter-osr commented on #5054
I'm not using FRR to FRR. But did you compare the pcap from your setup to the one I provided?

I'll see if I can hack some quick demo together of the issue, but give me a few hours...

[2019-09-26 13:10] ton31337 commented on #5054
In FRR-to-FRR setup I see that `192.168.0.1` which is spine1 in an gif above sends information like:

[code]
I could try to install GNS3 and try to simulate the same with Cisco to see how it works.

[2019-09-26 13:49] donaldsharp commented on #5054
@mwinter-osr -> the bad.pcap does not have any ATOMIC AGGREGATE information in the packets captured at all.  Please recheck and ensure you are giving us good information.

[2019-09-26 13:56] donaldsharp commented on #5054
[recreate.pcapng.gz](https://github.com/FRRouting/frr/files/3658092/recreate.pcapng.gz)

Here's my recreate.  I have A  ----- B ------ C
A announcing
30.0.5.1/32
C is announcing
30.0.5.2/32
B has the:
router bgp 500
 neighbor 192.168.209.1 remote-as external
 neighbor 192.168.209.1 ebgp-multihop 255
 neighbor 192.168.210.1 remote-as external
 !
 address-family ipv4 unicast
  network 192.168.9.0/24

[2019-09-26 14:22] donaldsharp commented on #5054
@mwinter-osr -> Your configuration shown does not display the route-map definition at all.  Does your setup have it?

I see the same thing now in my test when I do not have a route-map summary-only created.
My understanding of route-maps is a route-map referenced without any actual route-map is an implicit deny so the aggregate is not going to be created.  Do you need to add the `route-map summary

[2019-09-26 20:25] pogojotz commented on #4833
@donaldsharp I have continued your thought experiment from the merge and I would like to share my findings here in the hope, that someone more capable then me can find a solution or workaround.

I extended the `rcu_bump()` function as follows:
[code]
Which at a shutdown of zebra led to the following log:
[code]

`MTYPE_RCU_NEXT` is defined in `DEFINE_MTYPE_STATIC(LIB, RCU_NEXT,      "RCU sequence

[2019-09-26 20:33] pogojotz commented on #4833
Just for completeness of my report, the disassembly of the function looks like this:
[code]
As you can see, different relocation types are used, whether I use `MTYPE_RCU_NEXT` or `&_mt_RCU_NEXT`, but the interpretation is far beyond me.

[2019-09-27 01:04] mwinter-osr opened #5072 "[7.2] LDP label withdraw errors"
Multiple LDP compliance tests fail at the stage of withdrawing the labels.

Not sure what exactly is going on, but in the bad case, looking at the `ldpd.log`, the messages for the `LDP: zebra[in]: route delete 172.16.12.0/24 nexthop 192.168.2.1 ifindex 0 (static)` are missing.

Bisect identified the following as the bad commit:
[code]

[2019-09-27 05:18] srujanabandari opened #5074 "Libyang errors while starting frr ospfd process"
I have compiled frr-7.1 and libyang-1.0.r3 for openwrt arm.
While starting the ospfd process, I am getting following libyang errors.
[code]

[2019-09-27 05:32] space88man opened #5075 "RFE: 7.1 RPM packaging for EL7, EL8"
RFE:  7.1 RPM packages for EL7 and (now) EL8

Thank you.

[2019-09-27 19:00] lkrishnamoor commented on #5010
Fix is part of larger diff: https://github.com/FRRouting/frr/pull/5078

[2019-09-29 08:14] shengslin commented on #5023
@pguibert6WIND ，hello，Is there any solution to this problem?

I think the above method should not be the solution to this problem.

[2019-10-01 00:15] cfra commented on #4783
@JohnHay your suggested behavior seemed quite sensible to me at first. However, carefully reading RFC 5303 again, I was unable to find anything resembling the behavior you describe.

However, I believe, I found an inconsistency between my implementation and RFC 5303 which explains the problem you observe:

We would only set/update the extended neighbor circuit id if we received an IIH while in thr

[2019-10-01 01:41] rwestphal commented on #4563
The gcc flags above look good to me. I have no idea why this problem is happening. It's either a bug on your cross-compiler or we're relying on undefined behavior (less likely). I should do more investigation on this later.

If you can't upgrade your toolchain, please try the workaround below:
[code]

This isn't beautiful but should at least make FRR work in your platform.

[2019-10-01 01:52] rwestphal commented on #5074
Hi @srujanabandari,

The first set of errors indicate that there's something wrong with your libyang installation, but those errors are harmless. I'd suggest you to reinstall libyang if you want to get rid of them (uninstall first, remove all possible leftovers then install it again).

The second set of errors is related to #4563. Could you tell us which cross-compiler you're using and its version

[2019-10-01 09:50] srujanabandari commented on #5074
Hi @rwestphal ,

Thank you very much for the response.
For the second set of errors:
I was compiling FRR for :
--host="arm-openwrt-linux" --build="x86_64-linux-gnu"
I tried the workaround you suggested and the corresponding errors were solved and the ospfd process has started.

But for the first set of errors,  though I uninstalled and installed the libyang, I am still seeing the following while s

[2019-10-01 13:00] #4783 closed

[2019-10-01 14:35] rwestphal commented on #5074
Good to know the workaround worked for you. Please inform your specific GCC version (e.g. using `arm-linux-gcc -v`) to help us identify if this problem is specific to old ARM cross-compilers.

Looks like libyang is trying to load its extensions twice, which doesn't make much sense.

Could you share the steps you used to build and install libyang? Also, please provide the output of `grep PLUGINS_DI

[2019-10-02 04:21] srimohans commented on #5056
Santosh From Vmware will work on this. Will assign to this to him once github id issue is resolved.

[2019-10-02 04:27] Spantik commented on #5056
@acharaj Can you please provide scripts and sample topology you mentioned?

[2019-10-02 09:57] acharaj commented on #5056
Thanks for the quick follow-up.

You can run the Python script in the attached archive. The script will create the network shown in the network.pdf file (also present in the attached archive). You need a machine with Mininet (running with Python 3) and FRRouting (if you need such a VM, please let me know). Zebra, bgpd, ospfd, and ospf6d config files for for each daemon are also present in the [Arc

[2019-10-02 10:51] ton31337 commented on #5065
![issue_5065](https://user-images.githubusercontent.com/3352707/66038726-9c429e00-e51b-11e9-82b2-bd04ec6ad434.gif)

[2019-10-02 14:04] den1s commented on #5065
Yes, it looks exactly like that. if there are a lot of prefixes this leads to a load

[2019-10-02 14:14] #5054 closed

[2019-10-02 16:30] #5072 closed

[2019-10-03 07:07] pguibert6WIND opened #5100 "Route Reflector Scenario / questions about route RR server redundancy"
**Describe the bug**
I have a scenario with 4 devices:
1 DUT peered with 2 route reflector servers.
each route reflector server peers in EBGP with a 4th device that announces an entry.
[code]

The route announced by R4 is seen on R1. Actually 2 entries are available in global RIB, and 2 entries in VRF RIB.
[code]
If I shutdown the RS1 (in my case R3, which is elected by R1 as best path), then the

[2019-10-03 07:36] pguibert6WIND commented on #5100
*general question*
is this scenario valid ( for RR server redundancy) ? which solution more could I use?
* issue with multipath case*
it looks like there is at lease one issue with multipath, that is to say that if R1 receives two entries with different nexthop, even if BGP VRF has multipath enabled, it looks like that none of the BGP entries are injected into ZEBRA.
* issue with 2 entries that ar

[2019-10-03 07:49] pguibert6WIND commented on #5100
[https://gist.github.com/pguibert6WIND/cd98889ce2ffc6fee74e1d9bd0a5cc12](url)

use git am < <file> to add it to your frr distrib

[2019-10-03 08:15] perkooo opened #5101 "OSPF issue with routes"
**Version** :  7.1-1 on Debian 10 (buster)

**Describe the Problem**

I'm trying to migrate from Quagga to FRRouting, everything is working correctly except with OSPF.
I have 1 router with 2 areas, it has been established with the other router and have exchanged their routes.
Once established, I can't join their internal IP (10.1.1.2).
The only difference I can see with Quagga (which is working) i

[2019-10-03 09:28] srujanabandari commented on #5074
Hi @rwestphal,

1) The gcc version is
gcc version 4.8.3 (OpenWrt/Linaro GCC 4.8-2014.04 r48067)

2) I am using libyang from openwrt packages [https://git.openwrt.org/feed/packages.git](url)
It includes the patches from [here](https://github.com/openwrt/packages/tree/master/libs/libyang/patches)
I am compiling the libyang along with FRR as part of openwrt package.
[code]

[2019-10-03 14:03] perkooo commented on #5101
I tried with only 1 GRE interface, now I have same route with only 1 interfaces but still can't connect.
I have another log in staticd.conf :
`2019/10/03 13:51:21 STATIC: Static Route using lo interface not installed because the interface does not exist in specified vrf`

My staticd.conf is :
`ip route 10.8.8.0/24 lo`
This configuration in Quagga was in zebra.conf but it has been moved to staticd.

[2019-10-04 14:00] #5101 closed

[2019-10-04 14:01] perkooo commented on #5101
Got help on Slack, closing issue.
The explanation for the error log message for staticd.log is because I don't use the integrated and staticd is started before zebra. Once zebra has started, then it works perfectly.

[2019-10-04 14:32] farisey-ru commented on #5074
Hi @srujanabandari,

I got the same on:
arch: mipsel
gcc: 5.5.0
libyang: debian/libyang-0.16.105-1-2-g5e856b48
frr: frr-7.1-dev-2739-g9898a2fb3

I investigated the issue and concluded that frr really loads yang modules at least twice.
Please, see frr:lib/yang.c, void yang_init(void):
650: ly_native_ctx = yang_ctx_new_setup(); -> ....->ly_load_plugins().....
656: yang_translator_init(); -> ly_trans

[2019-10-04 15:11] farisey-ru commented on #5074
But may be I'm wrong and a toolchain brokes something. SIGSEGV is raised in ospfd, gdb shows strange things and suspicious link troubles (referring to .data.mtypes) are noted. I should learn memory subsystem of frr deeper.

[2019-10-06 19:26] anspectrum opened #5110 "FRR EVPN Without Creating VXLAN---Possible ?"
Hi,
So far every implementation of EVPN on FRR platform is centric at VXLAN / VNI interfaces. EVPN does not necessarily have to be implemented along with VXLAN all the time.

Are there any future plans to incorporate plain layer-2 frame learning through BGP control plane?

[2019-10-07 11:46] pguibert6WIND commented on #5110
You seem to talk about ability to support mpls encapsulation, for instance ?
More than this, was your question including scalabilities concerns ( use an other method to encapsulate your packets - like ovs vxlan -) ?

as far as I know, there is on an old ticket a certain list of issues that have been listed regarding the work effort for leveraging mpls.

[2019-10-07 11:53] pguibert6WIND commented on #5023
Hi @shengslin ,

[code]
what I could see is that the route to 172.16.20.32 does not exist.
so that is why the routes are not installed in vrf test.
[code]

I look at your configuration. I have a doubt on where the 172.16.20.32 IP is. Is it on the main core instance ? If yes, then you want to perform vrf route leak mechanisms, and you should use a BGP L3VPN configuration. For that purpose, VRF rout

[2019-10-07 11:54] anspectrum commented on #5110
@pguibert6WIND, mpls encapsulation is already available with recent Linux kernels. I am not seeking any other encapsulating method as that will be Data Plane.
I am just curious about MAC Address learning through BGP control plane (EVPN) as other mainstream vendors have implemented it.

[2019-10-07 11:57] pguibert6WIND commented on #5016
two options should be useful with BGP. You should use the -n one if you want to run BGP without having to inject routes in kernel from RR
[code]

[2019-10-07 11:59] pguibert6WIND commented on #4928
one possibility would be that you use an hook in your dhcp client script so that you can use FRR to configure your route, instead of the kernel.

[2019-10-07 15:42] saschaarthur opened #5113 "FRR EVPN traffic problem"
Hello,

im running in trouble with my frr evpn. Working since days maybe even weeks on get it running properly.

My Setup is quite simple, all i want as an evpn between my hosts as well as the vms running on the hosts. Followed this tutorial: https://vincent.bernat.ch/en/blog/2017-vxlan-bgp-evpn

heres my setup (3 hosts, 1 rr)

[code]

[code]

now what i did is assigning my hosts the interfaces li

[2019-10-07 16:03] saschaarthur commented on #5113
running on:
- ubuntu 18.04 LTS
- 4.15.0-60-generic

if it matters..

[2019-10-07 16:26] qlyoung commented on #4982
Should have been fixed by #4810

[2019-10-07 16:26] #4982 closed

[2019-10-07 16:28] qlyoung commented on #4956
Please feel free to ask on slack or the mailing list. This issue tracker is not for support with network configuration. It is for reporting bugs or doc issues.

I am closing this as nobody is going to respond here.

[2019-10-07 16:28] #4956 closed

[2019-10-07 16:29] #5018 closed

[2019-10-07 16:52] saschaarthur commented on #5113
was hinted here http://docs.frrouting.org/en/latest/overview.html#supported-protocols-vs-platform to use 4.18.

upgraded the kernel to 4.18 -> same result

[2019-10-07 17:06] ndeffayet commented on #4738
But in all cases I have router-id set at the root of configuration (visible with sh run in vtysh).

Why ospf6d use a router-id at the root and not inside router ospf6 on same way than ospfd ?

How debug this issue ?

[2019-10-07 17:24] ndeffayet commented on #4738
Another issue not existing in Quagga:

Deamons are started in the following order: zebra, staticd, ospf6d, ospf6d. When killing ospf6d and restarting it, ospf6d complain:
`route-map "ipv6-redist-connect" not found, suppress redistributing`
`route-map "ipv6-redist-static" not found, suppress redistributing`

In router ospf6 section are visible with sh run in vtysh.
[code]

In vtysh:
conf t
router o

[2019-10-07 18:05] ddutt commented on #5113
Sascha,

Before we decide this is an FRR issue, could you please also attach the output of the MAC tables and ip neighbor tables on host1 and host2, when the problem is happening (i.e. host3 is also receiving the packets)?

[2019-10-07 18:21] saschaarthur commented on #5113
what mac tables exactly brctl showmacs?

[2019-10-07 18:44] saschaarthur commented on #5113
# host1
[code]

# host2
[code]

# host3
[code]

[2019-10-08 07:35] adamx77 commented on #4711
Just an update. We found the issue. We had to ensure that the Openvpn process was not running. We first allowed the routes to be pushed to the kernel via BGP, and THEN we started the OpenVPN process. The tunnel routes did not override the kernel routes which is the result that we wanted. Hope this helps someone in the future.

Regards,
Adam

[2019-10-08 12:27] tobzsc commented on #5075
Generally, it would be nice to see a centos/rhel/fedora repository just like for debian based distributions. I think especially in the enterprise sector companies are using rhel based distros.

[2019-10-08 15:40] mwinter-osr commented on #5075
Somehow publishing the 7.1 packages on github got missed. I'm going to add the EL6/EL7 images.
EL8 is not yet tested - how to get this added soon

[2019-10-08 17:06] rzalamena commented on #4946
Please let us know if there more issues here, otherwise lets close this issue.

@polychaeta autoclose in 1 week

[2019-10-08 18:08] saschaarthur commented on #5113
Hello,

It seems to be really an frr issue.

Thanks a lot for helping me out with some expertise @nikolay

he wrote:

verified this by adding executing the "bridge fdb show dev vxlan100 | grep dst" command its really missing the macs there.

Setting learning on the vxlan100 solves the issue. So the issue really seems to be in frr.

[2019-10-08 21:55] rzalamena commented on #3873
Is this still an issue? What does the handler of the write callback do with the return value?

Here is how it looks now after the northbound migration:

*   https://github.com/FRRouting/frr/blob/master/eigrpd/eigrp_cli.c#L851
*   https://github.com/FRRouting/frr/blob/master/eigrpd/eigrp_cli.c#L877

Otherwise lets just close this issue.

@polychaeta autoclose in 1 week

[2019-10-09 04:13] ddutt commented on #5113
I spent a bunch of time debugging the problem with Nikolay and Sascha. Its not clear whether the issue is with the kernel or with FRR. Its certainly has something to do with the interaction between the two. There are several problems I encountered comparing Sascha's setup with say the setup on a Cumulus Linux router.

We did use ifupdown2 (1.2.7 from Debian Sid's repository), and it didn't change

[2019-10-09 04:14] ddutt commented on #5113
To add to the previous message. Setting learning on the VXLAN device solves the problem because each node learns the MAC address of the remote entities via learning, not via EVPN advertisements.

That the throughput is low because of flooding is correct.

[2019-10-09 04:34] ddutt commented on #5113
I looked at the output of the bridge FDB on both Cumulus and Sascha's setup, and it looks like a similar set of entries are present on both setups.

Here's the output on Sascha's setup:
[code]

And here's the output on a Cumulus setup:
[code]

[2019-10-09 04:35] ddutt commented on #5113
So, is there an FRR patch that addresses this issue that's not in FRR 7.1, but is in the Cumulus version of FRR?

[2019-10-09 06:38] tobzsc commented on #5075
Thank you. Are therey any plans for a rhel repository? This would optimize the installation for rhel and its derivates. Just like the debian repo. :)

[2019-10-09 08:40] saschaarthur commented on #5113
Thanks a lot so far..

   1.

   In Sascha's setup, the bridge has just the VXLAN port and nothing else.
   This makes the bridge, the SVI and the VXLAN device take on the same MAC
   address as the VXLAN device's MAC. This causes the kernel to store only one
   of the MACs, that associated with the VXLAN device

I can confirm that even when i add vms to the hosts bridge they still have
trouble to

[2019-10-09 16:23] rwestphal commented on #5074
Thanks. It seems all users affected by that flexible-array bug are using old GCC 4.x ARM cross-compilers, which supports my belief that a compiler bug is causing the problem.

It seems the OpenWRT guys backported the libyang user types changes done on libyang 1.x to libyang 0.16-r3. I have no idea why they did this, but this is most likely the cause of the warnings you saw. I'd suggest you to rebu

[2019-10-09 19:00] chiragshah6 commented on #5113
@ddutt  Based on the frr logs you've captured, frr (zebra) drops the MAC update because the port is not part of the bridge.

It seems from the origin client-host (VTEP) locally learned MAC and IP of the hsot are not learnt via FRR (zebra/bgp). Thus type-2 updates are not originated to other clients.

From the initial frr configuration from host and rr,  `advertise-all-vni` is enabled.
Is neighbor-

[2019-10-09 23:45] mwinter-osr commented on #5026
Was a stupid bug on the CI system... (It was all coded, but not enabled)

CI system updated. Failing on Address Sanitizer crashes in PRs is still disabled, but enabled in the main FRR plan.
Once the main plan runs clean, I'll enable the check in the PRs as well

[2019-10-10 00:19] mwinter-osr commented on #5075
RPM Packages on 7.1 releaase for CentOS 6 & 7 are now online.
We will probably not plan to release 7.1 for CentOS 8, but rather look at supporting CentOS 8 for upcoming releases

On repository: It is the plan to do this, but nobody got along to get it done (There are also changes in the RPM packages coming up, potentially cleaning them up and getting them ready to be included in CentOS/RedHat offi

[2019-10-10 01:43] donaldsharp opened #5133 "New BFD code is failing in our Address Sanitizer"
Can we get this cleaned up?

error	09-Oct-2019 18:04:54	r2: bfdd triggered an exception by AddressSanitizer
error	09-Oct-2019 18:04:54	ERROR: AddressSanitizer: heap-use-after-free on address 0x611000039dc0 at pc 0x00000042065c bp 0x7fff1871a330 sp 0x7fff1871a320
error	09-Oct-2019 18:04:54	READ of size 8 at 0x611000039dc0 thread T0
error	09-Oct-2019 18:04:54	    #0 0x42065b in bfd_vrf_look_by_sessi

[2019-10-10 07:13] pguibert6WIND commented on #5133
maybe https://github.com/FRRouting/frr/pull/5135 should help

[2019-10-11 11:24] #5025 closed

[2019-10-11 14:28] christian-simmen opened #5140 "Missing dependency: mpfr3 not available in Alpine:edge"
Trying to build Docker Alpine image gives the following errror:

[code]
According to https://pkgs.alpinelinux.org/packages?name=mpfr3&branch=edge&repo=main mpfr3 is not available in edge branch anymore.

---------------

**Describe the bug**
Missing dependency

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRout

[2019-10-11 23:02] LaurentDumont commented on #353
I'm trying to run 6 OSPF FRR instances that are daisy-chained for some "fun". Is there any documentation regarding setting up the FRR/Zebra daemons and start the OSPF daemon for each namespaces?

I'm playing around with the "-N" option for the moment. This is on Ubuntu 19.04 running the 7.x.x packages.

[2019-10-13 05:51] anspectrum commented on #5110
bump.

[2019-10-13 19:49] pguibert6WIND commented on #5110
Hi,
sorry for delay,
- plain layer 2 = you mean some improved mechanism to tight layer2 with EVPN, like proxy ARP, GARP ?
Having this , I think is the step +1  to reach with EVPN.

[2019-10-14 05:49] aderumier commented on #5113
If it can help, I have wrote documentation for proxmox hypervisor here: (debian + ifupdown2)

https://git.proxmox.com/?p=pve-docs.git;a=blob;f=vxlan-and-evpn.adoc;h=9cd55fc2d9690d26e7d4426dda486bb9a67b4d25;hb=HEAD

[2019-10-14 08:48] AdrianBan commented on #2889
Hi all,

This weekend I've rebuild the latest FRR. I've notice some improvements on OSPF + P2P + BFD, but is still not working 100%.
Example:

R01:
[code]
R10:
[code]
Dropping the tunnel connectivity on R10:
[code]
Checking the status of OSPF neighbor on R10:
[code]

So no info. Bring up the connectivity on R10:
[code]
Checking the OSPF neighbor:
[code]

Status Unknown. Dropping again the tunnel t

[2019-10-14 09:45] shengslin commented on #5016
@pguibert6WIND
Thank you for your guidance.

[2019-10-14 09:51] shengslin commented on #5023
@pguibert6WIND
Thank you for your help.
The reason of the problem is that the next hop is unreachable, and by default, precise routing is required.

[2019-10-14 11:22] saschaarthur commented on #5113
Hello @aderumier

Thanks for your link !

Your configs suggested for frr seems exactly matching my configs here in the thread, so i skip those ..

If i get your configuration right then the interresting part here is in line 304 up to 362. Since were running here (for simiplicity) 1 vxlan its this one:

[code]

and for this is i have multiple questions:

if i understood this setup correct:

- your

[2019-10-14 13:28] dineshkumarkamalakannan opened #5146 "BFD state machine transition is not competed in single hop mode"
Looks like when BFD is configured for a VRF, on latest dev/7.2 code, I dont see BFD state doing to "INIT" state on receiving "INIT" message from BGP peer. Instead FRR are just sending "DOWN".

---------------

**Describe the bug**
According to state machine of BFD,

![download](https://user-images.githubusercontent.com/44966258/66754664-20017080-eeb4-11e9-9ce3-2ec5d39d598d.png)

FRR should be send

[2019-10-14 13:41] thilse opened #5147 "Blackhole route on FreeBSD IPv6 (since version FRR5) not installed in kernel table"
Blackhole routes are not installed in the freebsd kernel table
Os Version: FreeBSD 11.3-RELEASE-p3); customized kernel (Generic + IPSEC).
I tried this with frr5, frr6,frr7 and with frr master (frr-7.1-dev-809-gf043157c5). (It is working in frr3)

---------------

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRo

[2019-10-14 16:53] ddutt commented on #5113
Yes Sascha, your issue is that FRR is just not picking up the MAC addresses to advertise. Its flagging them as "permanent" and ignoring them.

[2019-10-14 18:29] rzalamena commented on #5146
I can confirm the issue, it seems we need to backport some of the VRF fixes from @pguibert6WIND . I'll try to include them in PR #5149 , otherwise feel free to open another PR with the fixes (if I take too long).

[2019-10-14 20:34] rzalamena commented on #5146
I just tried 7.2 with #4564 commits and it doesn't fix the issue. The topology tests works normally, the problem seems to happen when you manually type the configurations.

We have to investigate this issue a bit more.

[2019-10-14 21:27] rzalamena commented on #5146
@dineshkumarkamalakannan I managed to fix my problem by setting the following `sysctl`:

[code]

I would also check for `net.ipv4.ip_forward = 1`.

Does this helps?

[2019-10-14 22:15] lucize commented on #4882
@odd22 @qlyoung I've made several tests and I have some more news
I've tested all versions up until 6.0.2, the vti interface is working fine with ospf until version 4.0.1

examples of syslog

up until 4.0.1
[code]

5.0.2

[code]

6.0.2 is the same as 5.0.2

I've also attached the pcap files for every version
[vti_ospf.zip](https://github.com/FRRouting/frr/files/3726596/vti_ospf.zip)

[2019-10-15 01:20] donaldsharp commented on #5133
This is fixed

[2019-10-15 01:20] #5133 closed

[2019-10-15 01:21] donaldsharp commented on #5026
@mwinter-osr -> I just looked at the Address Sanitizer runs and see no crashes or anything that it should be picking up on.  Can you please enable this now?

[2019-10-15 01:28] lucize commented on #4882
@odd22 @qlyoung
after more testing I found out that the last working commit is aed7cc626d4056f6850d906c2c73abf45934a875 followed by the nonworking 6d1ac638f69edd04bbde181530d7457b101576b0

[2019-10-15 01:40] rzalamena commented on #5026
@donaldsharp `dev/7.2` will probably show up in the addressSanitizer check radar for PRs.

Here is my today's PR ( #5149 ) for BFD results:
https://ci1.netdef.org/browse/FRR-FRRPULLREQ-ASANTOPO-9225

Should we backport the fixes for that branch? It is also possible that older branches might also be affected.

[2019-10-15 04:51] dineshkumarkamalakannan commented on #5146
it works with the above workaround thats a lot.

[2019-10-15 05:47] anspectrum commented on #5110
With plain layer 2, I meant like VPLS. Take from one Ethernet interface (not VXLAN interface) and transport it over to the other end. But unlike VPLS MAC learning be done using BGP (EVPN).
Simply speaking compliance to RFC 7432 (which does not talk about VXLAN).

[2019-10-15 11:20] netfreak98 commented on #4798
@vivek-cumulus Hi :) Did anyone had time to have a look at it?

[2019-10-15 11:51] pguibert6WIND opened #5154 "EVPN proxy ARP"
*Description*

Draft [0] proposes a way to address ARP/NDP messages reduction by using proxy ARP.
Neigh_suppress can already be used to reduce arp messages transiting through the vxlan bridge port.
The feature here should address some complements:
a- handle ARP/NDP requests ( and reply if possible/needed)
b- send gratuitous ARPs/NDiscNotify

First thought would be:

-  to implement b) as part of Z

[2019-10-15 12:03] pguibert6WIND commented on #5110
This said, I have a doubt on applying rfc7432 to VPLS.

You probably mean moving from VPLS architecture to RFC7432 architecture with BGP, ie BGP MPLS support for BGP EPVN.

Just to be sure it is part of feature request, and not maintenance issue.
This should be tracked in feature request page.

[2019-10-15 12:03] #5023 closed

[2019-10-15 16:16] Andlui9 opened #5159 "OSPF problem between two routers"
I am having problem between two routers that have installed Frr 7.1-1~deb9u1.

On router 2 I have the IPoE server service up and running, and with the following conf:

ospf router
 ospf router-id XX.ZZZ.Y.82
 redistribute kernel
 redistribute connected
 redistribute static
 network 10.0.192.0/30 area 0.0.0.2
 network 10.128.0.0/30 area 0.0.0.0
 network XX.ZZZ.Y.80 / 30 area 0.0.0.0

And on router

[2019-10-15 16:36] lucize commented on #5159
related https://github.com/FRRouting/frr/issues/4882 try to revert the offending commit, see if it helps, or if it compiles

[2019-10-15 17:06] #4946 closed

[2019-10-15 17:30] Andlui9 commented on #5159
Hi,

When trying to revert (with the command "git revert aed7cc6"), I get the following error:

error: could not revert aed7cc626... ospfd: Forward reference ospf area config
hint: after resolving the conflicts, mark the corrected paths
hint: with 'git add <paths>' or 'git rm <paths>'
hint: and commit the result with 'git commit'

[2019-10-15 17:39] rzalamena commented on #5146
I've got some useful clues from @louberger in today's meeting: we need to set that `sysctl` in two conditions:

1.  When the daemon doesn't create sockets `BIND`ed to VRFs (this is `bfdd` case which I'm fixing)
2.  When the kernel version is between 4.14 and 4.18 (there is a bug and upgrading might help)

Enabling that `sysctl` causes VRF sockets to receive packets from any VRF, so it is a potenti

[2019-10-15 18:01] rzalamena commented on #5146
I produced a branch with the fix, however it still doesn't work without that `sysctl`. I tried it with kernels version 4.15 and 5.0 (linux-generic and linux-generic-hwe respectively from Ubuntu 18.04.3).

Here is the link for those who want to try:
https://github.com/opensourcerouting/frr/commits/72-bfdd-vrf-socket

[2019-10-15 19:20] saschaarthur commented on #5113
Thanks @ddutt , fully with you.. how we going to solve this? except putting the brigde to learning which is a nice workaround but on mid to long term this sucks..

Also were hoping thate @aderumier would say some words about this cause he jumped in with some configs..

[2019-10-15 19:49] #4833 closed

[2019-10-15 20:25] mjstapp commented on #5146
Hi @rzalamena - just a possible data point: I've seen the vrf binding problem with kernel 5.0; we had some conversation about it in the context of some of the vrf topotests. so both 4.15 and 5.0 might be examples of versions that need the extra `sysctl`. can you try with the 4.18 kernels that have been around - I thought my ubuntu 18 and 19 vms were offering them?

[2019-10-15 20:38] lucize commented on #5159
this is the problematic one, or from this one is starting https://github.com/FRRouting/frr/commit/67f1e3aa18a5b7356a3ea91e5188aff814d4a6ac, I'll try it also

[2019-10-15 21:20] Andlui9 commented on #5159
I tried here, now the problem is with another file:

error: could not revert 67f1e3aa1... Merge pull request #1434 from dslicenc/zebra-nexthop-cm8192
hint: after resolving the conflicts, mark the corrected paths
hint: with 'git add <paths>' or 'git rm <paths>'
hint: and commit the result with 'git commit'

[2019-10-15 21:21] lucize commented on #5159
look at and edit

[code]

[2019-10-15 21:35] Andlui9 commented on #5159
not really compiled gave error

[2019-10-15 21:42] lucize commented on #5159
@Andlui9 so for now try this
checkout the 4.0.1, revert the commit and add this patch

[code]

with this I have all the routes active, I'll try also the 5.x branch

[2019-10-15 21:55] #3873 closed

[2019-10-16 00:03] Andlui9 commented on #5159
Dear friend, I really have no affinity with git, and I believe I am unable to apply all the steps you have suggested to me. Can you exactly share the sequence of commands you used?

[2019-10-16 07:23] netfreak98 commented on #3942
Hi,

this problem still persists in version 7.1.. can you please check? I don't like to restart FRR every week.. Only BGP for some peers, EVPN and OSPF is used..

[code]

[2019-10-16 07:24] netfreak98 commented on #3942
[code]
[code]

[2019-10-16 11:14] ton31337 commented on #5065
@den1s fixed in latest builds and backported to stable/7.0.

[2019-10-16 11:14] #5065 closed

[2019-10-16 12:16] karltehgreat opened #5166 "Support for adjusting MSS on interface"
Hello!

I have been looking at FRR as a potential replacement for a Cisco based router. While trying FRR out in my lab environment i Figured that FRR does not currently have any method of adjusting MSS. Cisco devices commonly have this feature.

`ip tcp adjust-mss <500-1460>`

Is there any plan to implement this feature?
For more information on MSS/MTU see the following link
[https://networkdirect

[2019-10-16 12:25] donaldsharp commented on #5166
We currently do not have any way to adjust the mss from within FRR itself.  To do this use the `net.ipv4.tcp_base_mss`, `net.ipv4.route.min_adv_mss` and `net.ipv4.tcp_min_snd_mss` sysctl's.

[2019-10-16 12:45] karltehgreat commented on #5166
Thank you for a quick response @donaldsharp . I will look into your suggested solution.

[2019-10-16 14:43] #5166 closed

[2019-10-16 16:28] devicenull opened #5170 "getrusage is called an excessive number of times"
As I was testing with the writev patch in #5114, I noticed that bgpd calls getrusage a very large number of times:

Just doing strace for 5s, I end up with these syscall counts:
[code]

This was generated with:
<pre>
timeout 5s bash -c 'strace -p `pgrep bgpd`  -ff 2>&1' > stats
cat stats | awk '{print $3}' | cut -d '(' -f 1 | sort | uniq -c | sort -nk1
</pre>

If I'm understanding https://github.c

[2019-10-16 17:27] Andlui9 commented on #5159
ok, now the commands didn't present any problems, but I couldn't create the debian 9 installable package. I'm following this guide:
https://github.com/FRRouting/frr/blob/master/doc/developer/packaging-debian.rst

[2019-10-16 17:31] lucize commented on #5159
maybe copy the debian folder from master or something newer ?

[2019-10-16 17:33] seanfulton commented on #4535
I have having this problem on frr-7.0-01.el6.x86_64.

It is quite serious because it is happening on multiple hosts with our default route.

We have two BGP border routers and use RIP internally. When the default switches from one router to another, the default route is marked inactive and left in the routing table. Even though there is a perfectly good default route being broadcast.

Any suggesti

[2019-10-16 17:37] seanfulton commented on #4535
R   0.0.0.0/0 [120/2] via 10.10.2.254 inactive, 06:53:00
R>* 10.0.0.9/32 [120/2] via 10.10.2.2, bond1, 00:42:50
R>* 10.0.0.10/32 [120/2] via 10.10.2.2, bond1, 00:42:50
R>* 10.0.3.0/24 [120/2] via 10.10.2.34, bond1, 00:10:24

It sits forever ...

[2019-10-16 17:55] sworleys commented on #4535
@seanfulton I am a little confused. The routes you just shared not being removed are RIPD routes.

The problem in this issue resolves around Kernel routes not being removed from the rib after flushing the link address.

Are you sure the issue you are seeing is related to that?

[2019-10-16 17:58] seanfulton commented on #4535
You are right. I noticed that after I pasted it in. Any thoughts on why this is happening? Should I open a new ticket? The behavior is almost exactly the same.

[2019-10-16 17:59] sworleys commented on #4535
Yea open a new ticket but link this one in it just in case. It might be related but we will need some more info on your configs and other routes on the hosts.

[2019-10-16 18:00] seanfulton commented on #4535
Will do. Thanks!
sean

[2019-10-16 19:26] Andlui9 commented on #5159
I had already tried that, but I was unsuccessful.

[2019-10-16 19:31] lucize commented on #5159
the just try manual compile and replace the binary files

[2019-10-16 20:00] seanfulton opened #5174 "RIP routes marked inactive and not being replaced"
We are using FRR RPM  frr-7.0-01.el6.x86_64 on CENTOS 6. We've used Quagga up until about a month ago with no problems but upgraded to FRR. Since then we've noticed that machines will randomly lose their default route. When I examine the routing table, I'll see the default route marked as a RIP route but inactive.

This seems similar to: https://github.com/FRRouting/frr/issues/4535

About our netw

[2019-10-16 20:27] seanfulton commented on #5174
More info. I found that this 0.0.0.0 -> 10.10.1.254 is not coming from the router but from three of our ubuntu nodes (running FRR 7.1):
nj34.onecount.net> sh ip ro
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,

K>* 0.0.0.0/0 [0/0]

[2019-10-16 20:37] seanfulton commented on #5174
I took the default routes of netplan.yaml in nj34 and ran netplan apply. The kernel routes above stayed in the routing table. I deleted both with ip route del 0.0.0.0/0.

I then ran netstat -nr | grep 0.0.0.0 several times and watched the default route get acquired from different machines in my network. Until it stopped and there was no more default route. Curious, I logged into zebra and did a sh

[2019-10-16 21:00] cardosocristian opened #5177 "Alert after entering static route in zebra"
OS: FreeBSD 12.0
FRR version: 7.1

After entering a static route in FRR, when I will reboot the service is generating the following alert
Checking staticd.conf
[code]
It didn't affect me directly, but I think it would be interesting to correct the alert

Current configuration:
[code]

[2019-10-16 21:01] donaldsharp commented on #5177
start zebra before staticd.  How are you starting FRR?

[2019-10-16 21:02] cardosocristian commented on #5177
I use the command /usr/local/etc/rc.d/frr restart

[2019-10-16 21:28] gertaax opened #5178 "FRR L3vpn BGP Evpn viaVxlan showing inactive routes"
Hello,

We are running FRR on Fedora 30 and linux kernel 5.2.18-200.fc30.x86_64. We are testing BGP Evpn L3vpn with VXLAN. The BGP sessions are established, the routes are installed in the vrf table but showing as inactive.

VRF vrf400:
B   10.30.30.0/24 [200/0] via 10.166.66.2, br400 inactive onlink

Both FRRs are connected in the same subnet. BGP is set up to use the ip address on the interface

[2019-10-17 07:06] lucize commented on #5174
can you reproduce it ?
I think is a Zebra issue, if you can try the 4.0.1 branch and revert like https://github.com/FRRouting/frr/issues/5159#issuecomment-542542213, I didn't have time to revert and make it work for 5,6,7

[2019-10-17 13:40] garyx commented on #2621
Has there been any progress on EVPN Multi-Homing?

[2019-10-17 13:42] donaldsharp commented on #2621
It is being worked on.  I do not have a timeline at this point in time.

[2019-10-17 18:34] qlyoung commented on #5170
Fixed by #5171

[2019-10-17 18:34] #5170 closed

[2019-10-17 18:41] #5140 closed

[2019-10-17 18:50] jhiggins-NZ commented on #4845
@donaldsharp would you have capacity to look into this?

Currently this is a blocker to forming bi-directional (DMVPN) tunnels in FRR.

[2019-10-17 21:16] pautiina commented on #5177
Some time I'm also have this message.

[2019-10-17 21:22] pautiina commented on #5147
https://github.com/FRRouting/frr/issues/4843

[2019-10-17 22:43] lucize commented on #5159
@Andlui9 good news, hope so, it turns out that for me, only this commit is the culprit, and is easy to revert

[code]
on stable 7.1 the patch would be like this
[code]

[2019-10-17 22:57] lucize commented on #4882
so for stable 7.1 this seems to be the fix (partial revert)

[code]

[2019-10-18 10:23] faicker opened #5191 "show advertised-routes problem with Router-Reflector and addpath"
**Describe the bug**
Router-Reflector environment，addpath is enabled in the RR router.
cmd `show ip bgp neighbors IBGP-PEER-IP advertised-routes` result is not completed, it does not show the multipath routes. cmd `show ip bgp` result is right with the multipath routes. The ibgp peer router received all the routes.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a d

[2019-10-18 11:52] Andlui9 commented on #5159
that's very good man! apparently it's working here! and I was able to apply the patch directly to the package that is in the debian repositories! more than 20 minutes and it's working! Thank you very much for your help!

[2019-10-18 12:34] lucize commented on #5159
for 7.2 or master you can find the https://github.com/FRRouting/frr/pull/5185 patch

[2019-10-18 12:59] lucize commented on #5178
maybe this problem is also for vxlan https://github.com/FRRouting/frr/issues/4882

[2019-10-18 16:39] #4882 closed

[2019-10-18 20:55] lucize opened #5194 "release files for 7.2"
The release Assets for 7.2 have changed ?
Will we have the file format for 7.2 like 7.1 ?
We would like to have a predictable filename and format for automating the download of new releases (mainly frr-7.x.tar.xz)

Thank you!

[2019-10-18 21:54] qlyoung commented on #5194
Being worked on, we've hit a couple roadblocks with this release and it was published a bit prematurely. Sorry about that.

[2019-10-19 18:39] simos commented on #457
I am new to frr.

There can be different channels in the snap store, such as `6.0/stable`, `7.0/stable`, 7.1/stable`, etc.
If the user starts with `6.0/stable`, then to upgrade to a newer version, then must do the following,

[code]

That is, the default `frr` will be a cadence version and any new versions will have to be installed manually by switching channel. Such a thing is always manual.

Hav

[2019-10-20 21:11] zerkms opened #5195 "Default /var/log/frr directory permissions for syslog"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
A clear and concise description of what the bug is.

After you just install the frr package

[2019-10-21 08:50] ton31337 commented on #5195
Could you show your `/etc/rsyslog.conf`? And additionally please show your `show running-config`.

[2019-10-21 08:54] zerkms commented on #5195
It's whatever comes with the very default ubuntu on aws. I will be able to provide it tomorrow while I'm back in the office. But again - no files have been modified, it's just an ubuntu in aws from the scratch + an frr package installed, no other actions are made on the filesystem.

[2019-10-21 08:57] ton31337 commented on #5191
To avoid confusion please write simple test cases on how to reproduce this behavior.

[2019-10-21 09:04] zerkms commented on #5195
Yep, those are official canonical cloud images. If you don't find it yourself I will post it tomorrow, sorry.

[2019-10-21 15:12] sworleys commented on #4535
Fixed in master with #5184

[2019-10-21 15:14] #4535 closed

[2019-10-21 15:35] qlyoung commented on #5194
Source tarballs uploaded.

[2019-10-21 15:35] #5194 closed

[2019-10-21 16:02] jdrouvroy opened #5201 "MTU issue on GRE tunnels when bgpd daemon is running"
**Describe the bug**

First of all, i'll explain my topology.
I have 3 sites with 2 routers per site (In fact we have 9 sites but in this case only 3 sites are required to understand my problem).
Orange router is the main per site (default gateway for server), and the grey one is backup router (via VRRP protocol)
On the figure, each green links are IPSEC VPN tunnels mounted with StrongSwan.
In tho

[2019-10-21 16:03] jdrouvroy commented on #5201
![image](https://user-images.githubusercontent.com/40271438/67222183-171d1b80-f42d-11e9-8ffa-f032a84b6280.png)

[2019-10-21 19:57] jbitenc commented on #2661
It seems, there's gonna be long wait for the feature. Any update would be highly appreciated, though.

[2019-10-21 20:14] qlyoung opened #5205 "VRRP assumes interfaces have link locals"
**Describe the bug**
VRRP won't start a virtual router unless it has at least 2 addresses on its interface. This was originally a stupid check to make sure there was some address other than a link local on the interface. But when you don't have link locals this ends up making VRRP unusable if you only have address on your interface.

[x] Did you check if this is a duplicate issue?
[x] Did you test

[2019-10-21 22:12] ghasemnaddaf commented on #5205
👍  thx for opening this.

[2019-10-22 00:14] zerkms commented on #5195
[code]

[code]

[2019-10-22 07:18] utkarsh17singh opened #5206 "RTC implementation in MP-BGP"
Hi,
Could anyone in the community help with pointers on Route Target Constraints (RTC) implementation in MP-BGP(what ongoing development is going on or is planned to happen in this regard and overall road map for this implementation).
Thanks ,
Utkarsh Singh

[2019-10-22 10:46] ton31337 commented on #5195
This happens because of:

[code]

After rsyslog starts it drops privileges to syslog user/group.

In Debian9 or Ubuntu 16, etc, PrivDropToUser does not exist in /etc/rsyslog.conf. So the best way would be commenting on those options in /etc/rsyslog.conf if you have an option.

[2019-10-22 12:47] ton31337 commented on #5010
@karamalla0406 I see this is already fixed?

[2019-10-22 12:54] rohitgeek commented on #4826
I had to install below package on FRR and then just a copy pasted above config between 2 FRR routers brought up BGP sessions:

"apt install -y iproute libc-ares2"

```R1(config-route-map)# do sh bgp summary```
[code]

[2019-10-22 13:16] ton31337 commented on #4895
@ak503 I tested and I have such results:
[code]
Which version do you use? Actually `no nhrp map <A.B.C.D|X:X::X:X>` works as expected.

[2019-10-22 13:18] ton31337 commented on #4876
@polychaeta autoclose in 2 days

[2019-10-22 13:23] ton31337 commented on #4826
@polychaeta autoclose in 2days

[2019-10-22 13:27] ton31337 commented on #4711
@adamx77 great that you found the root cause! :)

[2019-10-22 13:27] ton31337 commented on #4711
@polychaeta autoclose in 1day

[2019-10-22 13:38] ton31337 commented on #4460
I think this was already implemented? @n3wtype could you check it master or 7.2?

[2019-10-22 15:14] qlyoung commented on #5174
@seanfulton can you possibly try to recreate this on a later version of Centos? We don't really do regression testing for 6 anymore given that it's more or less EOL at this point.

[2019-10-22 15:18] Spantik commented on #5177
I will take a look at it.

[2019-10-22 15:19] qlyoung commented on #5191
+1 to @ton31337, please give us some more info on how to repro this - example output would be helpful too. `show bgp vrf all sum`, a topology diagram / basic setup, etc.

[2019-10-22 15:29] louberger commented on #5201
FRR doesn't control interface MTU -- take a look that your interface and tunnel mtus are set properly at the os level.  You find additional info useful at https://www.google.com/search?q=gre+over+ipsec+set+tunnel+mtu

[2019-10-22 17:04] cabsil22 commented on #2889
@lucize even with the BFDD daemon from https://github.com/rzalamena/bfdd, I am having trouble with OSPF not getting the updated peer status.   I can see the BFDD daemon  flag the peer as down, but OSPF does not react. Is there a step that I missed?

My routing config is simple:

Current configuration:
!
frr version 7.1
frr defaults traditional
log syslog informational
no ip forwarding
no ipv6 forw

[2019-10-22 19:14] gertaax commented on #5178
I have used static routes toward VTEPs and I do see the next-hops as below:

fedora-frr2# show evpn next-hops vni all

VNI 500 #Next-Hops 1

IP              RMAC
10.55.55.21     52:54:00:ff:62:69

But I dont not see any type 2 route, which I think thats the issue:

fedora-frr2# show bgp l2vpn evpn route type macip
No EVPN prefixes (of requested type) exist
fedora-frr2#

Still the routes into vrf a

[2019-10-22 19:39] lucize commented on #2889
can you activate  `log-adjacency-changes detail` in router ospf ? you should see some ospf action even when you restart bfdd daemon

for me when bfd can't chat in time is like this

[code]

[2019-10-23 06:48] p3rtinax opened #5211 "Openwrt binary not installed"
Hi,

I've followed this guide http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-openwrt.html

and build was successful, but frr does not work!
starting frr gives me :

root@openwrt:/# service frr start
cannot start bgpd: daemon binary not installed
cannot start ripd: daemon binary not installed
cannot start ospfd: daemon binary not installed
cannot start isisd: daemon binary

[2019-10-23 08:22] #5211 closed

[2019-10-23 12:48] ton31337 commented on #4714
@santoshdoke sorry, but I can't reproduce this with 7, 7.1 and even with the master. Could you check if this already solved?

[2019-10-23 13:28] #4711 closed

[2019-10-23 14:47] lucasalvatore1 opened #5215 "Route install failed"
**Describe the bug**
BGP routes received from upstream peer are not installed into the kernel.  Routes exist in the BGP table, but nothing in the kernel / nht.  bgpd.log shows logs such as:

[code]

**Versions**
[code]

Ubuntu 16.04.6 LTS
Kernel 4.14.95

[x] Did you check if this is a duplicate issue?
Seems like similar issues reported in #4471 &  #2713
[x ] Did you test it on the latest FRRouting

[2019-10-23 16:55] karamalla0406 commented on #5010
I don't see this issue with the latest build. closing it.

[2019-10-23 16:55] #5010 closed

[2019-10-23 23:37] sworleys commented on #5215
Decoded the netlink message and it looks OK I think. Censored your IP.

I will try and test on my box later.

[code]

[2019-10-24 13:18] #4876 closed

[2019-10-24 13:23] #4826 closed

[2019-10-24 15:25] ak503 commented on #4716
in [7.2] i have next:
[code]
[code]

 `Nexthop interface cannot be Null0, reject or blackhole` it's deprecated message?
Need:
"Nexthop interface cannot be ~~*Null0*~~, reject or blackhole"
?

[2019-10-24 15:44] ton31337 commented on #456
@polychaeta autoclose in 1day

[2019-10-25 05:21] lihongguang commented on #5159
1. Loopback interfaces with a /32 or /128 address is normal.
2. In addition,  dhcpv6 client will get a /128 address directly from DHCPv6  server.

To apply the patch directly to the package，routes from redistribute connect  may fail in this situation.

[2019-10-25 07:37] bisdhdh commented on #5215
Please verify if path MTU discovery is enabled on that tunnel interface

* Currrent value:
sysctl net.ipv4.ip_no_pmtu_disc
* Set it to 1:
sysctl -w net.ipv4.ip_no_pmtu_disc=1
* Check:
sysctl net.ipv4.ip_no_pmtu_disc

[2019-10-25 10:19] bisdhdh commented on #5201
@jdrouvroy Please verify if path MTU discovery is enabled on that tunnel interface

Currrent value:
sysctl net.ipv4.ip_no_pmtu_disc
Set it to 1:
sysctl -w net.ipv4.ip_no_pmtu_disc=1
Check:
sysctl net.ipv4.ip_no_pmtu_disc

[2019-10-25 12:00] jdrouvroy commented on #5201
Hi @bisdhdh,

Thank you for your reply.
I disabled path MTU discovery on each routers, but same issue :(

[2019-10-25 12:32] louberger commented on #5201
What's your up to you on the GRE interface?

----------
On October 25, 2019 8:00:45 AM jdrouvroy <notifications@github.com> wrote:

[2019-10-25 13:01] jdrouvroy commented on #5201
Hi @louberger,

I'm sorry but i did not understand your question ^^

[2019-10-25 13:25] den1s commented on #5065
Thank you very match!

[2019-10-25 15:44] #456 closed

[2019-10-25 18:02] #4895 closed

[2019-10-25 18:03] #4829 closed

[2019-10-27 20:33] ton31337 commented on #965
Seems this is not relevant.

[2019-10-27 20:33] #965 closed

[2019-10-27 20:35] ton31337 commented on #992
@devicenull is this still relevant?

[2019-10-27 20:38] ton31337 commented on #1629
Already fixed by the above commit.

[2019-10-27 20:38] #1629 closed

[2019-10-28 09:34] mashemat opened #5236 "OSPF and ICMP echo request/reply"
Hello all,

I tried to capture the OSPF packets when I have only two nodes as the following:

A(192.168.1.1) <----> B(192.168.1.2)

I see some ICMP echo request/reply. I am wondering to know these messages are generated by OSPF daemon in FRR.

Thanks,

[2019-10-28 13:07] rzalamena commented on #2702
Looks like we have something now. Unless there are more suggestions or issues lets close this.

@polychaeta autoclose in 1 week

[2019-10-28 13:48] ton31337 commented on #1504
seems not relevant.
@polychaeta autoclose in 1week

[2019-10-28 15:21] devicenull commented on #992
No, this appears to have been resolved at some point.

[2019-10-28 15:21] #992 closed

[2019-10-28 15:33] devicenull commented on #3942
@netfreak98 If you have the ability to recompile, give this patch a shot: [jemalloc.txt](https://github.com/FRRouting/frr/files/3779408/jemalloc.txt) .  Make sure to use `./configure --with-jemalloc` to enable the change.

We used to have issues with frr seemingly leaking memory that were solved by jemalloc - YMMV, I haven't tried without jemalloc in quite some time.   We don't use debian, so I ca

[2019-10-28 18:26] rzalamena opened #5238 "bgpd: sender side AS path loop detection"
It seems that `bgpd` has code to do some simple sender-side AS path loop detection, however it is not being compiled neither has official knob to enable it (basically looks like dead code).

The initial code was introduced 17 years ago:
https://github.com/FRRouting/frr/commit/718e3744195351130f4ce7dbe0613f4b3e23df93#diff-59dc5522fb6d14db849ca4f1ef25f51eR618

And its only usage is here:
https://git

[2019-10-28 19:03] ton31337 commented on #1780
@bodleytunes still relevant? can we close this?

[2019-10-28 19:05] bodleytunes commented on #1780
Hi,
You can close, yep.
Cheers,
Jon.

On Mon, 28 Oct 2019 at 19:03, Donatas Abraitis <notifications@github.com>
wrote:

[2019-10-28 19:06] #1780 closed

[2019-10-28 19:37] donaldsharp opened #5239 "ldp-vpls-topo1 test is acting inconsistently"
This test has a function:
[code]

(I have added the tgen.mininet_cli()) code to look at the output.

show_l2vpn_vc.ref for r1 is this:
[code]

When I run the test and pause immediately after the peer_link_enable -> false and show the output:

[code]

If I wait 15-30 seconds after the command being issued it transitions to a status `down` state.

The test is not waiting any time.  In a recent PR of

[2019-10-29 09:32] jdrouvroy commented on #5201
up @louberger ;)

[2019-10-29 13:47] rwestphal commented on #5239
I could reproduce this problem here using PR #5226. Will take a closer look now.

[2019-10-29 15:15] donaldsharp commented on #5238
this sounds reasonable but should be a command to turn on this behavior

[2019-10-29 20:13] jdrouvroy commented on #5201
Sorry @qlyoung, didn't see edited post

### So, before ping, i run on site 7 orange router this commands (MTU is set to 1476 for this GRE interface :

10.55.0.69 via 10.255.0.73 dev tunnel18 src 10.255.0.74 uid 0
    cache

7: tunnel18@NONE: <POINTOPOINT,NOARP,UP,LOWER_UP> mtu 1476 qdisc noqueue state UNKNOWN group default qlen 1000
    link/gre 10.56.255.4 peer 10.58.95.4
    inet 10.255.0.74/30

[2019-10-30 03:51] #5205 closed

[2019-10-30 16:05] jdrouvroy commented on #5201
Hello,

We made more tests this morning and i bring you interesting things.

In order to make the problem more understandable, let's considere this case :
We would like to ping GRE interface via GRE tunnel between Site 2 and site 8 tunnels

Reminder :
10.255.0.98 is the site 2 router's gre ip to site 8
10.255.0.97 is the site 8 router's gre ip to site 2
GRE tunnel in encapsulated in VPN IPSEC tunn

[2019-10-30 18:39] cardosocristian opened #5252 "Zebra generating unexpected return logs"
After starting FRR services and closing bgp sessions, the zebra service starts generating unexpected syslog error log

FRR Version: 7.1
OS: FreeBSD 12.0-RELEASE-p11

error generated:
[code]
Occurs when enabling syslog logging in configuration.

Follow config below
[code]

[2019-10-30 23:47] #2369 closed

[2019-10-31 06:36] #5238 closed

[2019-10-31 06:58] ton31337 commented on #2184
Probably fixed as Donald says. If not, let's reopen on demand.

[2019-10-31 06:58] #2184 closed

[2019-10-31 08:01] EricVS commented on #1758
Hi,
I'm encountering the same issue in our cluster but adding `vtysh_enable=yes` does not solve it for me.  We're running FRR 4.0, provided by Cumulus.
Kind regards,
Eric V.

[2019-10-31 11:26] rzalamena commented on #2889
Have you guys tried this new PR #5258 ? If not, please try it and let us know.

[2019-10-31 17:54] lucize commented on #2889
@rzalamena
so it seems to work, I've tested against a fortigate, enabling and disabling bfd on fortigate ipsec ospf interface, and every action on fortigate triggered ospf

[code]

the libyang error is related to a patch in openwrt

don't know if this is a problem, setting an interval in frr, if I remember, would adjust the remote timers also, now I see that they are different

[code]

[2019-10-31 21:53] AdrianBan commented on #2889
Hi,

Thanks for the patch! I will give a try also.

Kind regards,
Adrian

[2019-11-01 01:36] arunsesh opened #5262 "bgpd not sending NOTIFICATION (cease/Peer De-configured) message when neighbor unconfigured"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
When a neighbor is unconfigured/removed,  BGPD (speaker) is properly closing TCP connection

[2019-11-01 16:09] rzalamena commented on #2889
The code to fix this issue was merged for `master` and `stable/7.2`. If there are still issues or notes, please let us know.

@polychaeta autoclose in 1 week

[2019-11-01 22:57] edecaen commented on #2303
I have a similar issue for connected interfaces and it's more than cosmetic, it doesn't work correctly.

On gateway A, there are 2 networks x:y:0:346 and x:y:0:2375
--------------------------------------------------------------

gw-:a:# show run
router ospf6
 ospf6 router-id A.A.A.A
 redistribute connected
 interface vlan346 area 0.0.0.0

On gateway B, there is network x:y:0:346
------------------

[2019-11-02 17:59] lucize commented on #5236
never seen something like that

[2019-11-03 09:02] ajackson79 opened #5271 "MVPN Support"
I'm not seeing any Mulicast VPN support documentation listed. Does Frrouting support any of the various profiles?

[2019-11-03 20:14] ton31337 commented on #4762
@achernavin22 could you please paste your full config? And additionally `show ip nht`, `show ip route`. Because I can't yet replicate this in master, 7.x, and stable/6.0.

This is not valid. `fd >= 0` means that no point sending notification if peer is actually in down state.

Session is reset after changing ebgp-multihop even with stable/6.0.

[2019-11-04 13:07] #2702 closed

[2019-11-04 13:48] #1504 closed

[2019-11-04 15:27] amodmish commented on #5262
There are implementation which does not allow [no] neighbor and instead execute neighbor shutdown first and post that [no] neighbor commands would be allowed. Would it be good to follow that ?

[2019-11-04 15:40] ton31337 commented on #5262
if you shutdown the neighbor prior how will it receive de-configure message?

[2019-11-04 16:58] ron5t commented on #4375
hello, any update on this?  i get the same error but with an older 3.x kernel

[2019-11-04 17:32] slankdev opened #5277 "BGP attribute PREFIX_SID, fetch error (Can't skip unsupported sub-type)"
## TL;TR

- Today's latest bgpd supports [BGP PREFIX_SID](https://tools.ietf.org/html/draft-ietf-idr-bgp-prefix-sid-27), the implementation is placed on [here](https://github.com/FRRouting/frr/blob/e536181ef0452380a3ac26ccccf58e68a3b485eb/bgpd/bgp_attr.c#L2146-L2238).
- More deeper, bgpd supports following sub-types, (type1, type2, typ3)
  - type1: BGP_PREFIX_SID_LABEL_INDEX
  - type2: BGP_PREFIX_

[2019-11-04 18:49] javcasalc opened #5279 "OSPF: No Network LSA info"
Hi

I'm testing OSPF between FRR and Cisco (IOS-XE 16.09.01) with this pretty simple config:
[code]
Right now, I only have one ospf router running, frr it's the only router, so it's the DR in eth1.

Why is there no Net LSA info in the ospf database?? Why FRR does not generate a LSA type2/network?
[code]

Thanks,
J.

[2019-11-05 06:18] #5279 closed

[2019-11-05 06:18] javcasalc commented on #5279
sorry, there are no more OSPF routers on eth1 subnet, so it's ok no LSA type network will be generated

[2019-11-05 06:59] bisdhdh commented on #5154
Hi,
We are in the mid of scoping of the work effort and present first-cut of it in the FRR meeting in couple of weeks.
Please assign this feature to @vishaldhingra and myself @bisdhdh in-order to avoid duplicate efforts.

[2019-11-05 07:46] ton31337 commented on #3905
@polychaeta autoclose in 1day.

[2019-11-05 09:28] achernavin22 commented on #4762
I'm sorry I don't have that environment now to test this and show you the output. But I can describe the problem.

For FRR 6.0:
1. Geven an empty config (only interfaces and routes are configured):
[code]
2. Configure a BGP router (do not specify `ebgp-multihop` and `update-source` here):
[code]
3. Set `update-source` for that BGP router (be sure to `exit`):
[code]
4. Set `ebgp-multihop` for that

[2019-11-05 09:57] bisdhdh opened #5282 "Notification Message Support for BGP Graceful Restart"
This is feature request to implement RFC-8538.

The BGP Graceful Restart mechanism defined in RFC 4724 limits the usage of BGP Graceful Restart to BGP messages other than BGP NOTIFICATION messages.  This document updates RFC 4724 by defining an extension that permits the Graceful Restart procedures to be performed when the BGP speaker receives a BGP NOTIFICATION message or the Hold Time expires.

[2019-11-05 10:00] bisdhdh commented on #5282
Please assign it to myself (@bisdhdh). I am implementing this RFC due to my personal interest.
I am done with the design, will float it for review in a couple of weeks.

[2019-11-05 12:45] edecaen commented on #2303
Should I file a new bug or continue to send details on this bug report ?

Prefix x:y:0:412::/64 is missing from ospf6 routing table but present multiple times in ospf6 database
------------------------------------------------------------------------------------------------------

gw-C# show ipv6 ospf6 database self-originated
[...]
Age: 3600 Type: AS-External
Link State ID: 0.0.0.7
Advertising Rou

[2019-11-05 14:11] seanfulton commented on #5174
I can confirm this is happening on centos 7, frr 7.2. Same exact behavior;

[2019-11-05 16:08] pguibert6WIND commented on #5154
Hi @bisdhdh
good news, then.
you should add in loop @AnuradhaKaruppiah  Nsoni, and Vivek from Cumulus that have their own implementation of neighbor manager ( because it is a separate daemon).

[2019-11-05 16:17] donaldsharp commented on #5271
We do not support this currently.  Added as a feature request

[2019-11-05 16:21] #5271 closed

[2019-11-05 16:36] #5239 closed

[2019-11-05 19:42] seanfulton commented on #5174
R   0.0.0.0/0 [120/2] via 10.10.1.254 inactive, 01:30:53
R>* 10.0.0.9/32 [120/2] via 10.10.2.2, bond1, 00:25:34
R>* 10.0.0.10/32 [120/2] via 10.10.2.2, bond1, 00:25:34
R>* 10.0.3.0/24 [120/2] via 10.10.2.34, bond1, 04:08:13
C>* 10.10.1.0/24 is directly connected, bond0, 04:48:08
R>* 10.10.1.254/32 [120/2] via 10.10.2.1, bond1, 04:47:55
C>* 10.10.2.0/24 is directly connected, bond1, 04:48:08
R>* 10

[2019-11-05 21:03] ton31337 commented on #1384
looks solved.
@polychaeta autoclose in 1day.

[2019-11-06 04:47] #4762 closed

[2019-11-06 07:46] #3905 closed

[2019-11-06 09:33] xaisng commented on #5236
@mashemat :Can you please share more details about interface/link type and mask used for the ip address.

[2019-11-06 09:44] mashemat commented on #5236
Thanks for your reply. The interfaces are the two 10GE on two different VMs on ESXi. Here it is part of the capturing:

16:44:01.189771 STP 802.1w, Rapid STP, Flags [Learn, Forward], bridge-id 87d0.00:de:fb:7c:2e:c1.808a, length 43
16:44:03.189719 STP 802.1w, Rapid STP, Flags [Learn, Forward], bridge-id 87d0.00:de:fb:7c:2e:c1.808a, length 43
16:44:05.180216 STP 802.1w, Rapid STP, Flags [Learn, For

[2019-11-06 09:53] adamx77 opened #5289 "BGP Routes not removed from Kernel Routing Table."
Hi.

We are experiencing issues where BGP routes that stop being advertised to us by our clients are not removed from the server's (ubuntu 18) kernel routing table. This is causing loops and for our failover solutions at sites to not work correctly.

We have multiple namespaces/vrfs running on the server hosting the different environments. Has anyone else experienced such issues? Would appreciate

[2019-11-06 10:30] jdrouvroy commented on #5201
Hi,

Does someone have idea about that ?
We want to put it into production but this problem prevents us from doing it.

Thanks for help ;)

[2019-11-06 17:48] Andlui9 opened #5290 "Problem in OSPF Summarization"
Hello!

I updated a server of mine that was running Quagga, and to my surprise my summarization setup didn't work anymore. Follow my conf, is that wrong? (Quagga works normally).

router ospf
 redistribute kernel route-map RM-v4-OSPF-OUT
 redistribute connected
 redistribute static
 passive-interface default
 no passive-interface enp5s0f0.51
 network 172.16.220.4/30 area 0.0.0.0
 network 100.100.8

[2019-11-06 19:35] ton31337 commented on #5033
@felartu I can't replicate this, sorry. Could you explain more in detail how this could be repeated? Full configuration and the order or so.

[2019-11-06 19:47] ton31337 commented on #4905
@aderumier can we close this?

[2019-11-06 19:51] ton31337 commented on #4207
@skydevil56 could you show `show running-config`?

[2019-11-06 21:03] #1384 closed

[2019-11-07 02:02] korsen31 opened #5291 "Issues redistributing into BGP"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
Routes from OSPF and Kernel are not being redistributed into BGP consistently.  Empirically,

[2019-11-07 08:25] Spantik commented on #5290
Can you please give us complete topology info and what kind of routes that you are trying to summarise? I will try to replicate the issue.

[2019-11-07 15:50] Spantik commented on #5290
I tried it locally and route summarisation is not working for external routes. Command area 0.0.0.3 range <prefix> is working on ABR for summarising routes to area 0 from ABR but not working on ASBR.

[2019-11-07 16:47] greenvilleassociates commented on #1497
actually you have to update your /etc/hosts file with the hostname you want to use in your quagga configuration file... if the IP address matches and the name matches the
vtysh.conf hostname command will be accepted. Reboot your machine after changing the hostname,

In other words vtysh.conf in the /etc/quagga/ directory
will have
hostname myhost.greenvilleassociates.com

And so will your

/etc/ho

[2019-11-07 17:03] donaldsharp commented on #5291
Please upgrade to 7.2 and try.  We've fixed a couple of issues with redistribution since 7.1

[2019-11-07 17:53] sworleys commented on #5289
We are gonna need a bit more info here.

What version of FRR are you running?
Can you provide us your config?

Are the routes being removed from the server's bgp table and zebra rib? (some show commands would be nice).

[2019-11-07 23:07] slankdev commented on #5277
This is solved. so I close it. Thank you for supporting!

[2019-11-07 23:07] #5277 closed

[2019-11-08 01:54] abrahambinu83 opened #5297 "pimd not sending prune message in some scenario"
Dear All,
            We are using  frr-7.0 and found one issue in pimd.  Could you  please help to check our understanding is correct ?

Topology:

![pim_topo](https://user-images.githubusercontent.com/12030458/68443317-85742300-020e-11ea-83f0-f63ab65b4ba9.png)

Test Steps:

**Scenario-1 (works as expected):**
   1.  Send IGMPv3 IS_INCLUDE Report form (S,G) from PC#1 and check (S,G) entry is prog

[2019-11-08 06:43] Spantik commented on #5290
This is enhancement request. Code for this is not present to support the same. Please refer to document below. I will work in this to provide the support.

http://docs.frrouting.org/en/latest/ospfd.html

Summarize intra area paths from specified area into one Type-3 summary-LSA announced to other areas. This command can be used only in ABR and ONLY router-LSAs (Type-1) and network-LSAs (Type-2) (i

[2019-11-08 10:50] ton31337 commented on #5016
Seems clarified, closing 👍

[2019-11-08 10:50] #5016 closed

[2019-11-08 16:09] #2889 closed

[2019-11-08 18:19] ton31337 commented on #2089
@amanshaikh75 could you check if this is already solved by https://github.com/FRRouting/frr/pull/2647/commits/d54600fa83f0a151ee1eddcd81998348e7995fee?

[2019-11-08 19:54] ton31337 commented on #721
it was fixed by above commit.

[2019-11-08 19:54] #721 closed

[2019-11-08 20:24] ton31337 commented on #1892
@liuxyon was this solved?

[2019-11-08 20:30] amanshaikh75 commented on #2089
@ton31337 - probably, but without checking I cannot be sure. Unfortunately, currently I am not working on the project which led me to this issue. Given that, it's perhaps best to close this issue for now.

[2019-11-08 20:46] #2089 closed

[2019-11-09 08:39] sarav511 commented on #5297
When the oif list becomes empty, join desired has to become false which should trigger S,G prune. check if we are missing pim_upstream_update_join_desired in the ifchannel delete when we shut the interface.
That should generate the prune(as part of transition from joined state to notJoined state) when last remaining interface is taken off the oil.

[2019-11-09 13:27] eqvinox opened #5304 "[Debian #944392] FRR manpage file collision"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=944392

The vrrpd man page collides with the man page from standalone `vrrpd` on Debian.  As noted by mail:

On Sat, Nov 09, 2019 at 03:33:05AM +0100, Andreas Beckmann wrote:

[...]

Thanks for catching this.  vrrpd is one of FRR's "protocol" daemons,
installed to /usr/lib/frr/ (hence the binary isn't colliding), but
obviously the manpage doesn't h

[2019-11-10 16:21] ton31337 commented on #3768
@jllorente @akshaygattani is this still valid even with Arista 4.21.6M release? Did you have a chance to test it?

[2019-11-10 20:49] ton31337 commented on #3193
I have an already working branch, will push it next week.

[2019-11-11 03:38] abrahambinu83 commented on #5297
Dear Sara,
     In scenario-2, pim_upstream_update_join_desired  is not triggering PRUNE because,   ch->ifjoin_state is still JOIN ,so pim_upstream_evaluate_join_desired  returns 1.

pim_upstream_update_join_desired ->   pim_upstream_evaluate_join_desired -> pim_upstream_evaluate_join_desired_interface->pim_macro_chisin_joins_or_include-> pim_macro_chisin_joins ->  downstream_jpstate_isjoined-> **

[2019-11-11 06:16] sarav511 commented on #5297
@abrahambinu83
With your patch,
there could be a scenario where there could still be ifchannel and no channel oil in SGRPt case. This might break the scenario. I would suggest not to work around with ref count.

Is ifchannel delete happening as part of interface down?
If this is the last interface deleted, update join desired must become false.
in the all interface loop, none of the ifp should be

[2019-11-11 09:58] adamx77 commented on #5289
Hi.

It says it's running version 7.2.
Although this is also mentioned: This is a git build of frr-7.1-dev-547-ge712856d8
Running on Ubuntu 18.04 server.

We have our devices at site connecting to our vpn concentrator tunnels. In a nutshell our routers advertise the networks at site to the concentrator and these networks are also tunneled because of that.
Our router will directly connect to the cl

[2019-11-11 14:02] ak503 opened #5308 "[7.2] bfd with VRF"
Hello!

bfd now not workin with vrf

host1(192.168.1.2)  <--> host2(192.168.1.1)

host1
[code]

host2
[code]

host2:
[code]
[code]

[2019-11-11 15:04] Andlui9 commented on #5159
Olá! Agora o problema aconteceu em outro caso, estava migrando o quagga para o Frr e percebi que entre o roteador Debian + Frr e os mikrotiks, esta funcionando normalmente o ospf, porém entre esse roteador Debian + Frr e outro roteador Debian + Frr as rotas ficam "inactive". Olha só:

# show ip route 10.3.4.106

Routing entry for 10.3.4.106/32
  Known via "ospf", distance 110, metric 130
  Last up

[2019-11-11 17:24] aderumier commented on #5113
@saschaarthur
Hi, sorry , I don't have seen your message.
I never have tested to ping the ip of bridges, because I'm using anycast ips on my setup. (each bridge is the gateway of the vms of this bridge, so vm live migration can work across hosts).

I'll try to take time next week, to try to reproduce your problem.

[2019-11-11 19:14] #4045 closed

[2019-11-11 19:45] #4940 closed

[2019-11-11 19:53] ton31337 commented on #4799
just for reference, related https://github.com/FRRouting/frr/pull/5235

[2019-11-11 20:38] pguibert6WIND commented on #5289
Hi,
I use frr 7.0 based branch, and did not encounter issue with netns.
So, I bet on a recent regression, but not sure of that since I did not use 7.2 build in that mode yet.

[2019-11-11 22:27] nikos-github commented on #4940
Why are we closing this? https://github.com/FRRouting/frr/pull/4941 is not fixing the issue.

[2019-11-12 05:11] ton31337 commented on #4940
What is missing still?

[2019-11-12 07:56] adamx77 commented on #5289
I have also encountered a reverse issue, where if our device becomes unavailable for some reason, and the tunneled routes which were coming from the device get removed from the kernel, it does not get removed in FRR and is still advertised to the client even though they are supposed to become inactive.

[2019-11-12 09:42] k0ste opened #5317 "debug rpki: Unknown command"
frr 7.2:

![image](https://user-images.githubusercontent.com/7759548/68660220-5392f180-056b-11ea-9bd2-0b7ebbbd4f10.png)

[2019-11-12 09:51] pguibert6WIND opened #5318 "[pimd] error when configuring pim over a vrf interface"
an error message occurs when configuring pim over a vrf interface.
please look at below attached configuration.

shell:
[code]
vtysh ( after having launched zebra and pim)
[code]

following error message:
[code]

[2019-11-12 11:40] jahanielahe opened #5319 "Compile ospfd error on Freebsd"
Hi,
I can't compile the frr service on freebsd..

[ ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?

I expect ospf to compile without a problem.

 - OS Kernel: [FreeBSD] [12.1]
 - FRR Version [1.1]
 - GCC Version [4.9]

I would like enable ospfd on frr, Therefore, I added --enable-ospfd on Makefile.onestep.

Content of Makefile.onestep

[2019-11-12 11:43] donaldsharp commented on #5319
see #5313 it should be in the code base here shortly

[2019-11-12 11:44] donaldsharp commented on #5318
set titi up then you won't get this issue

[2019-11-12 13:28] mroethke commented on #5317
Did you load the rpki module?

[2019-11-12 15:10] donaldsharp commented on #5319
Fixed via 5313

[2019-11-12 15:10] #5319 closed

[2019-11-12 16:39] #4819 closed

[2019-11-12 18:25] sarav511 commented on #5318
@pguibert6WIND
Looks like this is not your titi interface but pimreg (vif index 0).

[2019-11-12 20:11] #3193 closed

[2019-11-12 21:06] chiragshah6 opened #5322 "BGP EVPN prefix filter show commands options do not work for IPv6 prefix/prefixlen"
- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**BGP EVPN type-5 prefix filters in show commands are not working**

As part of PR #4850 newly introduce prefix f

[2019-11-12 21:07] chiragshah6 commented on #5322
@lkrishnamoor Can you please take a look?
@srimohans FYI.

[2019-11-12 22:12] chiragshah6 opened #5325 "BGP EVPN show commands JSON output format changed"
The PR #4850 introduces new filters in show commands for EVPN type-5. As part of the review comment, the json format has changed. The anticipation was the new format applies to newly introduce clis and existing clis continue to follow old json format until all the command options migrate to new JSON format.

Following existing cli options under 'show bgp l2vpn evpn route ...` started showing up ne

[2019-11-12 22:13] chiragshah6 commented on #5325
@lkrishnamoor  can you please take a look, let me know if you need more info.
@srimohans FYI.

[2019-11-12 22:40] srimohans commented on #5325
@chiragshah6 Does this completely reverts the old Fix ?  We should not do that. If it is failing some old scripts, then I think we should keep both old and new key words/formats.

Let me know.

[2019-11-12 23:16] chiragshah6 commented on #5325
@srimohans  This is an issue filed based on what is seen with PR #4850 changes. The goal of the PR is to introduce new prefix route filter options. One of the comment was to change to JSON output format for the new options. We can certainly keep the new JSON format for new CLIs.
 But the PR has changed the some of the existing CLIs JSON format as well. That is not uniform and we must keep existing

[2019-11-12 23:57] srimohans commented on #5325
@chiragshah6 If you read all the comments, the decisions was to fix even the existing CLIs. The change is not only about the new CLIs introduced. That is the reason why this was fixed for all. Fixing it in all CLIs is uniform. If we don't want to fail the scripts for the existing CLIs, we can keep both new and old format (we did this for other CLIs) in the CLI json output.

I posted my earlier mes

[2019-11-13 01:07] chiragshah6 commented on #5325
@srimohans  I think my call is either move the existing CLIs all options to new format or keep the old way.
In this case, "show bgp l2vpn evpn route <options>"  Certain option follow old format and part of the options follow new format.  My case is that is not consistent.
If the comments were made to original PR to move all existing CLIs new format then Why some of the clis left out ?
This issue c

[2019-11-13 02:00] srimohans commented on #5325
The idea is to move all existing CLIs to new format. We will fix show bgp l2vpn route to move it to new format so that all the CLIs are consistent.

[2019-11-13 02:01] srimohans commented on #5325
@lkrishnamoor Could you please get the fix ready to address the consistent issue ?

[2019-11-13 03:15] srimohans commented on #5206
Hi Utkarsh,

There is no support in FRR for RTC. This comes up in various discussions once in a while, but no strong plans for implementing this in FRR stack yet.

If you are looking for pointers for RTC (outside FRR), then lot of documentation is available from Cisco and other vendors on this. IETF RFC 4684 specifically talks about RTC. Below document from Cisco is a good place to start as well.

[2019-11-13 08:11] k0ste commented on #5317
*read doc about this*

Nope. I think this must be handled, instead returning "unknown command".

[2019-11-13 15:08] ton31337 opened #5329 "iBGP routes are not reflected to clients with addpath-tx-all-paths after new neighbor is added"
TL;DR;

New routes are not sent to route reflector clients without restart or clear ip bgp.

I confirmed this is the issue. Topotest is here: https://github.com/donaldsharp/frr/commit/4f5d565c58b34d58e7b3bffdcdcd82ee4a65e838

[2019-11-13 18:20] lucize opened #5331 "Bus error on mediatek mips"
cross compile 7.2 branch will fail to work on ramips target with output "Bus error" on any daemon or vtysh
previous 7.1 and 7.3-dev are working, where should I try to look for changes ?
x86/x86_64 cross compiled for musl are working

[2019-11-13 19:19] Jafaral commented on #5304
If nobody has objection I'm going to go ahead and make the change suggested by @eqvinox above.  Note that the proposed change affects all daemon man pages and not only vrrpd.

One thing to consider is: should we make this change universal, and not only a debian specific thing ?

[2019-11-13 20:11] qlyoung commented on #5331
What is ramips?

[2019-11-13 20:40] lucize commented on #5331
is kernel target for mt7621 and alike

[2019-11-13 22:08] edecaen opened #5333 "Inconsistancy between ospf6 database, ospf6 routes and kernel routes"
Randomly, ospf6 database entry doesn't appear in opsf6 route and kernel route.

On gateway A, there are 2 networks x:y:0:346 and x:y:0:2375
--------------------------------------------------------------

gw-:a:# show run
router ospf6
 ospf6 router-id A.A.A.A
 redistribute connected
 interface vlan346 area 0.0.0.0

On gateway B, there is 1 network x:y:0:346
-----------------------------------------

[2019-11-14 04:37] #5331 closed

[2019-11-14 06:21] rohitgeek opened #5339 "In multi-vrf scenario, static route for route-leaking between two VRFs accepts self IP address as next-hop."
**There are multiple CLI issues in FRR for multi-vrf.**
 **FRR version**: **7.0**

 RED_B has a connected interface Lo100

[code]

Trying to configure a leaking route in vrf RED_A.

[code]

This is a CLI parsing error in user defined VRFs. When tried in default vrf, it works fine and CLI
gives an error.
[code]

---------------------------------------------
1. Next-hop interface (ens224.2501) belon

[2019-11-14 06:45] rohitgeek opened #5340 "Redundant keyword (vrf)in show interface command, resulting in an error."
Version: FRRouting 7.1

[code]

Also add Json support for below CLIs.
[code]

[2019-11-14 09:51] gromit1811 opened #5343 "OSPF: Multi instance support broken"
In current FRR Git master (a6ac9df8eaed9a27c5a7711d354e2ba39d8bcb02), OSPF multi instance support seems to be broken. In 7.2, it seems to work (I've not yet done a lot with it, but at least you can instantiate 2 OSPFs properly).

master:
[code]
Note that "router ospf 2" complains that instance 2 isn't running even though I started it. "show ip ospf" tells us why: There are 2 instances 1 running, e

[2019-11-14 13:20] Tualua opened #5344 "libyang errors when compiling for openwrt"
Hello!

I'm trying to build frr for openwrt 18.06.5 using http://docs.frrouting.org/projects/dev-guide/en/latest/building-frr-for-openwrt.html

Error is:

    checking for LIBYANG (libyang >= 0.16.7)... no
    configure: error: libyang (>= 0.16.7) was not found on your system.
    Makefile:389: recipe for target '/home/user/openwrt/build_dir/target-mipsel_24kc_musl/frr-ce746edebb88320af871d6e4bc42

[2019-11-14 13:21] donaldsharp commented on #5344
What version of libyang is installed?

[2019-11-14 13:44] Tualua commented on #5344
apt list --installed|grep libyang

    WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

    libyang-dev/now 0.16.105-1 amd64 [installed,local]
    libyang0.16/now 0.16.105-1 amd64 [installed,local]

[2019-11-14 13:46] donaldsharp commented on #5344
@rwestphal any thoughts here?

[2019-11-14 15:41] rwestphal commented on #5344
@Tualua this error indicates that libyang isn't correctly installed in your OpenWRT box.

Please provide the output of the following command: `pkg-config --exists --print-errors libyang`

[2019-11-14 16:53] utkarsh17singh commented on #5206
Thank you Mohana.
     On Wednesday, November 13, 2019, 8:45:46 AM GMT+5:30, Sri Mohana Singamsetty <notifications@github.com> wrote:

Hi Utkarsh,

There is no support in FRR for RTC. This comes up in various discussions once in a while, but no strong plans for implementing this in FRR stack yet.

If you are looking for pointers for RTC (outside FRR), then lot of documentation is available from Ci

[2019-11-14 18:05] ton31337 commented on #5340
We have already a pull request (https://github.com/FRRouting/frr/pull/5301) which removes VRF option for this functionality at all.

[2019-11-15 09:50] gromit1811 commented on #5343
Commit 44ad6e4127ee50fc2a14804159b062ac1910723f is the guilty one:
[code]

@pguibert6WIND: Seems your commit had unintended consequences. I've not actually tried this yet, but the call to `ospf_get_instance()` should probably be restored for those cases where instance != 0.

[2019-11-15 14:31] rzalamena commented on #5308
Hi @ak503 ,

I haven't tried to run VRF with that kernel version, but I've tried with 4.15, 4.18 and 5.0. Before we go any further, I would like to ask you a bit more of information.

Here is how it is working for me.

Linux configuration:
[code]

FRR configuration:

[code]

BFD show output:

[code]

Checklist:
*   Did you set the VRF pseudo interface UP?
*   Have you set `udp` version of `l3mdev_

[2019-11-15 19:32] lucize commented on #5331
@qlyoung I think this should go in 7.2 4d8ebeddc56f49aa0b4d7cec506cab14320e1bb4

[2019-11-16 02:17] piotrjurkiewicz commented on #3460
The bug is still present in version 7.2, but the logged error messages have changed:

[code]

[2019-11-16 02:58] lucize commented on #5344
update libyang from master(1.0-r4), it should work, also use the frr from master, I've update it ot 7.2, also take a look at the pending PR (fix for mips)

[2019-11-16 03:00] lucize commented on #5344
I wanted to drop the build instructions as it is now in master, but the PR was closed

[2019-11-16 07:01] ton31337 commented on #5329
Will be fixed by https://github.com/FRRouting/frr/pull/5354

[2019-11-17 03:46] qlyoung commented on #5344
@lucize what are you referring to?

[2019-11-17 03:57] lucize commented on #5344
#5080 regarding to build instructions you mean ?

[2019-11-17 13:32] seanfulton commented on #5174
What do you want me to do do here? This is becoming very problemmatic for us. Its happening on CENTOS 6, CENTOS 7 UBUNTU 18.04 on the 7.2 versions.

[2019-11-17 15:51] alekskomp commented on #1401
UP
is this fixed?

[2019-11-18 05:03] qlyoung opened #5358 "pimd crashes due to npd on null oif"
**Describe the bug**
pimd crashes on a null pointer dereference

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
- start pimd `/usr/lib/frr/pimd --log stdout`
- drop into vtysh and enter the following
[code]

wait 10 seconds or so

[code]

On line 392, `oif` is null so `oif->info` is a npd

**Expected behavior**
pimd

[2019-11-18 13:44] jdrouvroy commented on #5201
Hello,

I did tests with quagga and it's works on my case.
Thanks to everyone helped on this case.

[2019-11-18 15:22] donaldsharp commented on #5358
we probably should not accept 0.0.0.0 as a RP value at the very least

[2019-11-18 15:37] donaldsharp commented on #5358
What is the output of `show ip route 0.0.0.0` for you?
I am not getting the same behavior:
[code]

[2019-11-18 18:29] ton31337 commented on #4714
@polychaeta autoclose in 1week.

[2019-11-18 18:39] ton31337 commented on #4905
@polychaeta autoclose in 1 week.

[2019-11-18 18:41] ton31337 commented on #4068
@rzalamena was it fixed by https://github.com/FRRouting/frr/pull/4294? can we close this?

[2019-11-18 18:42] aderumier commented on #4905
yes, sorry.

I'm closing it

[2019-11-18 18:42] #4905 closed

[2019-11-18 18:42] polychaeta commented on #4905
This issue will no longer be automatically closed.

[2019-11-18 18:45] #4068 closed

[2019-11-18 18:48] ton31337 commented on #896
@donaldsharp @devicenull was this fixed or still relevant?

[2019-11-18 19:02] ton31337 commented on #1602
@nevzorofff can you try this with the latest version?

[2019-11-18 19:43] #5358 closed

[2019-11-18 20:28] qlyoung commented on #5201
Yeah, still no idea what the problem is here. Only thing we can think of is that your BGP updates might be triggering (kernel) PTMUD, which then adjusts your link MTU. FRR generally produces larger BGP updates than Quagga, as a consequence of improved advertisement efficiency, so that might explain why it works for you under Quagga. I'm not aware of any channels in BGP that could directly (i.e., a

[2019-11-18 20:28] #5201 closed

[2019-11-18 20:43] ton31337 commented on #126
@qlyoung just tried what you said, can't reproduce :/

[2019-11-19 02:29] lkrishnamoor commented on #5322
@chiragshah6 @srimohans PR is uploaded

[2019-11-19 06:42] #5329 closed

[2019-11-19 09:05] tylerlinp opened #5369 "zebra crashes when removing vrf"
After updating frr to 7.2(`514f508`) in SONiC, zebra crashes when removing vrf. I think there should be two bugs.

1. In the process of deleting, cleanup all rib dest in this vrf immediately, but some dest may be referenced by fpm work queue that scheduling by timer.
2. In comparing nexthops, including vrf, but vrf is get from ifindex if it exists, after interface changed master, deleting route wo

[2019-11-19 12:01] hkbakke opened #5370 "no passive-interface removed from config if defined before passive-interface default in config file"
I noticed that my configuration managed frr gateway (using saltstack) was not talking ospf properly after every restart and diagnosed the problem to be caused by ordering of the `passive-interface` arguments in router ospf. The frr daemons started OK, but all the `no passive-interface` clauses had been removed, even though they clearly exists in the config. If doing a `systemctl reload frr.service

[2019-11-19 12:59] v00lk opened #5373 "bgpd: RR with add-path doesn't advertise all paths in IPv4 Labeled unicast scenario"
**Describe the bug**
I am using FRR built from master branch as a route reflector.
I was trying to use IPV4_LABELED_UNICAST sessions with ADD_PATH capability. Only one path PATH is advertised.
At the same time add-path capability was successfully negotiated. I can see this in neighbor information and I can see `Addpath Path ID: 0` in MP_REACH_NLRI updates.

My topology is quite simple.
Two routers

[2019-11-19 13:01] ton31337 commented on #5322
should be fixed by https://github.com/FRRouting/frr/pull/5364

[2019-11-19 13:01] #5322 closed

[2019-11-19 13:12] donaldsharp commented on #5373
We put a commit in place the last couple of days that addressed something very very simliiar to this.

See d4a0d83bfde0e0834

It's been double committed to 7.2 as of a few minutes ago as well.  Please try with this code

[2019-11-19 13:12] donaldsharp commented on #5373
[code]

[2019-11-19 13:18] v00lk commented on #5373
Yep, I saw that patch and I've already tested it. Unfortunately it didn't work as expected. (I mean behavior described in my report has not changed)

[2019-11-19 13:30] ak503 opened #5376 "zebra CPU High Load"
hello!
i get next:
[code]

step:
1 run zebra
2 `ip link add vrf1 type vrf table 17001`
3 `ip link del dev vrf1`
4 `vtysh -c "configure" -c "no interface vrf1"`

strace out:
[code]

It master and 7.2

7.1 is ok

[2019-11-19 14:14] vascojcm commented on #5308
hi, I'm having the exact same issue.
I have a session with a 3rd party vendor device active.
However with 2 devices running the same ubuntu 18.04 version, with the same kernel version and same frr 7.2 stable version I'm always getting the BFD state as down.

Router1:
 router bgp 65000 vrf vrfx
neighbor 10.150.105.129 bfd
 neighbor 10.2.20.180 bfd

Router1# show ip bgp vrf vrfx sum
IPv4 Unicast Sum

[2019-11-19 14:39] Manikandaprab opened #5378 "FRR supported versions"
Could you please provide the information from which FRR older version is available for support/maintainability?
Example: FRR 4.0.0 is not supported anymore from community.

[2019-11-19 15:57] sworleys commented on #5378
http://docs.frrouting.org/projects/dev-guide/en/latest/workflow.html#development-release-cycle

This is the closest I could find to a definitive statement on that.

[code]

[2019-11-19 16:03] qlyoung commented on #5378
Yeah, this is something we've been meaning to do for a long time.

[2019-11-19 16:07] rzalamena commented on #5308
Hi @vascojcm ,

I'm using Ubuntu 18.04.3 and with the proper installation configuration it works for me on all 3 availables Ubuntu kernels (4.15, 4.18 and 5.0).

My fully updated Ubuntu doesn't have the kernel 4.14.

Your packet capture shows that sometimes you are using VLAN and some don't (check out the packet sizes):

![bfd-bug-report-1](https://user-images.githubusercontent.com/205063/69160044

[2019-11-19 16:31] vascojcm commented on #5308
Hi @rzalamena ,

**My kernel is the default one that comes with Ubuntu 18.04.03 (4.15.0-62-generic)**

Your packet capture shows that sometimes you are using VLAN and some don't (check out the packet sizes):
**-> You see that because the packets are duplicated since I did a `tcpdump -i any` capture. So ones you see with the .1Q tag and the others without.**

Are you using sysctl net.ipv4.udp_l3mde

[2019-11-19 16:35] #443 closed

[2019-11-19 16:39] #5262 closed

[2019-11-19 17:45] sarav511 commented on #5297
check if this patch solves your issue..
https://github.com/FRRouting/frr/pull/5355/commits/11913c322be9ebb1f2a99806f182125d7036af7f

[2019-11-19 18:57] chipitsine opened #5380 "configure does not check for sphinx"
**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[ x] Did you check if this is a duplicate issue?
[ x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Steps to reproduce the behavior:

install frr without sphinx installed. sphinx absense should be detected during "configure", however it does not

[2019-11-19 18:59] donaldsharp commented on #5376
if I run the `conf` and `no interface vrf1` by running vtysh and then entering it, there is no hang in zebra.
If I run the command `vtysh -c "conf" -c "no interface vrf1"` zebra enters the poll loop.

This is a bug in lib/vty.c or vtysh/vtysh.c.

[2019-11-20 00:05] jaredmauch opened #5382 "7.2 - BMP doesn't connect outbound when using IP address destination"
**Describe the bug**
BMP station does not appear configured while config shows it there.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**
Configure BMP
[code]
**Expected behavior**
Able to see configured BMP IP addresses and current state
Able to see what ACL is config

[2019-11-20 02:16] Spantik commented on #5343
This seems to be broken in master while it works in 7.2. Can someone please assign this bug to me?

[2019-11-20 10:44] smarcosmarco opened #5386 "VRRP with unique MAC address"
I was waiting for the official release of VRRP into FRR to replace Keepalived, but I've noticed now that it uses macvlan

"_In macvlan, a single interface has multiple IP and MAC._"

In virtual switch (as VMware) this is allowed only with **promiscuous mode** with a **big impact on infrastructure performance**.

Is it possible to implement VRRP with unique MAC address?

[2019-11-20 12:35] #5376 closed

[2019-11-20 12:57] ton31337 commented on #126
@polychaeta autoclose in 1week.

[2019-11-20 18:55] rzalamena opened #5390 "VRF implementation limitation"
## Problem

The current FRR VRF implementation seems to have issues when having multiple sockets listening on different VRFs on the same address/port.

This problem was found on issue #5308 when you have BFD trying to listen in multiple VRFs at the same time. In this case it is not possible to have UDP sockets of different VRFs listening to the same address:port (which is address=`INADDR_ANY` and