[2017-07-04 15:13] eqvinox commented on #670
@eqvinox will cherry-pick fix

[2017-07-04 15:15] mwinter-osr commented on #729
Please add a new issues if issues found. Fix is committed into git.

[2017-07-04 15:15] #729 closed

[2017-07-04 15:28] eqvinox commented on #766
added "next" milestone indicating this needs to be fixed before next release off master as discussed on call

[2017-07-04 15:31] mwinter-osr commented on #772
Resolved. Was some bad testbeds which caused the problem. Needed more cleaning between testruns (which is done)

[2017-07-04 15:31] #772 closed

[2017-07-04 15:33] eqvinox commented on #776
discussed on call: if it's just changing the #define in the code (i.e. 2-line diff), it should go in 3.0

[2017-07-04 21:24] qlyoung commented on #670
fixed in 3.0 per f92f83be

[2017-07-04 21:24] #670 closed

[2017-07-06 15:40] eqvinox commented on #606
code done, needs testing
https://github.com/opensourcerouting/frr/tree/table-hash

[2017-07-06 20:32] jonlangemak opened #782 "Centos 6 install instructions - service definition files missing"
The init files referenced in the install guide dont seem to exist...
[code]
From reading through some issues on this repo it seems like things were moving to a single init file which Im assuming what `frr.init` is.  Any direction on how to use this?  I tried copying it over and enabling it but havent had much luck.

[2017-07-06 22:20] mwinter-osr commented on #782
Sorry, yes, outdated instructions. I'll update them. Give me a day...

As an alternative, you could build it as a package yourself and install the rpm (see instructions in redhat subdirectory)

[2017-07-07 01:37] mwinter-osr commented on #457
Update from the snapcraft forum (https://forum.snapcraft.io/t/enhancement-needed-disabling-automatic-refresh-for-snap-from-store/707)

Feel free to join the discussion at the snapcraft forum and provide your feedback.
Exact timeframe when this is implemented is not yet known, but I expect it sometime soon with an upgrade on the `snapd` package

[2017-07-07 16:42] jonlangemak commented on #782
Ok - just wanted to make sure I wasnt crazy.  I sorted out the install by picking pieces out of the other install guides.

A couple of other questions though...

The doc says your slack is public and open but it appears you need to have an e-mail from a certain domain to join so it looks like its locked down.  Is that intentional?

Is there a getting started guide that talks about how to use this

[2017-07-07 16:43] donaldsharp commented on #782
@jonlangemak slack is weird in that you have to get generalized permission before it will let you join.  Send me your email in a pm or to 'sharpd@cumulusnetworks.com' and I'll get you in.

[2017-07-11 09:42] mwinter-osr commented on #782
Update for 2.0 submitted.
Still outstanding updates for 3.0 and master

[2017-07-11 12:56] louberger opened #792 "master leaking memory"
bgpd: showing active allocations in memory group libfrr
bgpd: memstats:  Graph Node                    :      1 *         32
bgpd: memstats:  Graph                         :      1 *          8
bgpd: memstats:  Command Tokens                :      1 *         72
bgpd: memstats:  Link Node                     :      8 *         24
bgpd: memstats:  Link List                     :      2 *         40

[2017-07-11 13:01] louberger commented on #792
config:
`
hostname H192.1.1.4
password zebra
#enable password zebra
log stdout notifications
log monitor notifications
log commands
debug bgp
debug bgp allow-martians

line vty
exec-timeout 1000
exit

router bgp 64512

    # Must set a router-id if no zebra (default 0.0.0.0)
    bgp router-id 192.1.1.4

    neighbor 192.1.1.1 remote-as 64512
    neighbor 192.1.1.1 port 4181
    neighbor 192.1.1.1

[2017-07-11 13:52] eqvinox commented on #792
for reference: it's a _still reachable_, not a _leak_. missing cleanup, not an actual memory leak.

[2017-07-11 14:12] eqvinox commented on #792
fixed in #793.  there will be a `bgpd: memstats: Link List : 1 * 40` still remaining, which is from `pthread_once` in `lib/thread.c` => @qlyoung

[2017-07-11 14:22] qlyoung commented on #792
On it

[2017-07-11 15:06] donaldsharp commented on #407
We should look at it this week
`This time for real`

[2017-07-11 15:07] blakedotfr commented on #766
Interesting...
I'm curious as to the motivation for this.
In JunOS for example, both SAFIs are specifically disallowed so that on a given neighbor, you'll very clearly either learn all the routes with a labeled next-hop, or not (but never both).  Interop should thus be carefully considered (though I can't speak definitively as to IOS/IOS-XE/IOS-XR or other vendors' behavior here).

Rosen offers so

[2017-07-11 15:09] donaldsharp commented on #560
Anyone can look at this issue.  We believe this is a fairly important issue so if anyone wants to take a stab at it, please feel free

[2017-07-11 15:11] #761 closed

[2017-07-11 15:18] donaldsharp commented on #776
Let's use 16 as the max label depth at the moment.  If we learn something new from IETF then we can change it.  Most deployments don't ahve more than 3-4 labels max.  So we should have some sufficient head room

[2017-07-11 15:35] donaldsharp commented on #766
1) We are concerned about removing functionality
   -> this was not anywhere but development
   -> this code was broken for both being enabled at the same time.

Possible use cases:
1) Interopability between different vendors
2) Migration scenario, moving from a classic setup to a mpls setup.

We need to figure out why this could be used.

This is a new feature and should be designed for how it sh

[2017-07-12 01:46] mwinter-osr commented on #782
Pull Requests for fixes submitted.

[2017-07-12 12:34] blakedotfr commented on #766
Thanks for clarifying, Don.  I'd be interested to discover if there's a potential use case for this new feature that couldn't also be fulfilled by simply configuring one session/interface for unicast & another for labeled SAFIs & applying the desired policies accordingly. i.e. are there any vendors that allow this "labeled-&-unlabeled-SAFIs-on-single-session" behavior?

[2017-07-12 12:35] donaldsharp commented on #766
Yes there are a few and we are trying to figure out what the end usage was supposed to be.  As I understand it, relevant parties will be at IETF in a week or so for more discussion.

[2017-07-12 12:36] blakedotfr commented on #766
awesome :-)

[2017-07-12 15:43] ak503 commented on #560
I'm trying to do it.
My path is this:
1. I refuse the pseudo-interfaces that appear when renaming or deleting a real interface
2. I add the ifname field to the nexthop-structure and fill it in
3. I look not only at ifindex, but also on ifname

It works well for me

[2017-07-13 06:16] saga1015 opened #811 "OSPF v2 support Multi-Instance Extensions?"
Hello:
Will frr support ospf multi-instance function?

[2017-07-13 08:56] k0ste commented on #811
Yep. See #340.

[2017-07-13 21:09] jech opened #816 "Unable to redistribute RIPng into Babel"
I'm trying to set up an edge router for our Babel network.  The router speaks RIPng on interface eth0, and Babel on interfaces eth1 through eth4.

It appears that I'm unable to redistribute the routes learned over RIPng into Babel.  The RIPng process is learning a bunch of IPv6 routes:

       Network      Next Hop                      Via     Metric Tag Time
    R(n) ::/0
                      fe

[2017-07-14 10:38] lucize commented on #765
@donaldsharp
so I tried to migrate to ospf and it warned me about metric mismatch the router had 9000 the server had 1500 (ospf was't working) after changing the MTU on the server interface ospf started working

but now I have this on  eigrp:

[code]

PROC OUT EOT: NENastavujem metriku maybe this was telling about MTU mismatch

regards

[2017-07-14 13:28] donaldsharp commented on #765
@lucize that crash is fixed in #818 Should be in the code base in the next couple of days

[2017-07-14 13:40] #816 closed

[2017-07-14 14:24] lucize commented on #765
thank a lot, it seems that is working
maybe a translate for the MTU message so others could see if there is a mismatch ?
for the moment I don't have redistribution on frr side
I will close this
regards

[2017-07-14 14:24] #765 closed

[2017-07-14 14:25] donaldsharp commented on #765
@lucize the cleanup of eigrp messages is on my long term list of things to do.

[2017-07-14 14:27] lucize commented on #765
I'll fork and make a PR after I scan the source
regards

[2017-07-14 14:58] louberger opened #819 "ut master"

[2017-07-14 15:24] lucize opened #821 "EIGRP: stream_putw: Attempt to put out of bounds"
@donaldsharp I enjoyed it for short
after full reconfiguration on the entire network back to eigrp, on restart I get this:

[code]

regards

[2017-07-14 15:25] donaldsharp commented on #821
@lucize :(  I see this too and started on a fix last night.  It's not ready yet

[2017-07-14 15:36] lucize commented on #821
although is starting sometimes..

[2017-07-14 16:18] #606 closed

[2017-07-15 15:46] patrick7 opened #823 "Add | include and | section"
There should be a feature like | include and | section on cisco.

[2017-07-15 18:19] donaldsharp commented on #823
@patrick7 Have you tried doing this:

vtysh -c "<command>" | ....

for section you can do this:

vtysh -c "show run" | grep -A 30 "router bgp"

[2017-07-15 18:20] patrick7 commented on #823
@donaldsharp I'm aware of this possibility. It should be possible from within vtysh.

[2017-07-15 19:21] patrick7 opened #824 "Init for debian stretch"
The init script provided does not work with debian stretch (it hangs and gets terminated by systemd).
There should be real systemd unit files.

[2017-07-17 14:09] pguibert6WIND opened #825 "frr/master :crash vnc at startup"
compilation with enable-cumulus:

==== crash seen:

Program received signal SIGSEGV, Segmentation fault.
hash_get (hash=0x0, data=data@entry=0x7fffffffcf30, alloc_func=alloc_func@entry=0x0) at hash.c:160
160		key = (*hash->hash_key)(data);
(gdb) bt
#0  hash_get (hash=0x0, data=data@entry=0x7fffffffcf30, alloc_func=alloc_func@entry=0x0) at hash.c:160
#1  0x00007ffff7b84bca in route_node_get (table=

[2017-07-17 14:33] eqvinox commented on #825
very likely (99,999%) caused by https://github.com/FRRouting/frr/pull/794
maybe VNC is doing something weird with table initialisation...

first: did you do `make clean` for the entire code and recompile?

[2017-07-17 15:51] pguibert6WIND commented on #825
I reconfigured with enable-cumulus
I did not make make clean.
i will recheck

[2017-07-17 16:34] eqvinox commented on #825
problem is that in:
[code]
These two fields are not allocated with `route_table_init_with_delegate()`, instead it just does this in `bgp_rfapi_cfg_new()`:
[code]
=> the new `hash` field in the `route_table` will be NULL => SEGV

The "correct" solution would be to change from
[code]
to
[code]
and use `route_table_init_with_delegate` (+ `route_table_finish()` to free)

(I tried to find such uses of

[2017-07-18 00:15] qlyoung commented on #824
There are [systemd unit files](https://github.com/FRRouting/frr/blob/master/tools/frr.service).

[2017-07-18 00:15] #824 closed

[2017-07-18 00:16] qlyoung commented on #823
This is a great idea, if you want to code it up we'd certainly take it!

[2017-07-18 00:25] mwinter-osr commented on #824
The bug sounds to me like the issue I fixed as part of the redhat package where watchquagga never signals the finish of the startup if not built with the HAVE_CUMULUS
(see https://github.com/FRRouting/frr/pull/378/commits/36d85ca8e302d803e864854af1b64b24b1ce78b4 - but this should be merged for several weeks)

Can you confirm the specific branch and git sha you are trying to build?

On the systemd

[2017-07-18 01:53] mwinter-osr commented on #782
Closing - assumed fixed. Please open new case if there are still issues remaining

[2017-07-18 01:53] #782 closed

[2017-07-18 01:54] mwinter-osr commented on #354
Closing - old issue and fixed some time ago for RPMs

[2017-07-18 01:54] #354 closed

[2017-07-18 01:55] mwinter-osr commented on #318
Fixed some time ago.

[2017-07-18 01:55] #318 closed

[2017-07-18 01:56] mwinter-osr commented on #320
Fixed with RPM Pull Request for all branches some time ago

[2017-07-18 01:56] #320 closed

[2017-07-18 03:40] qlyoung commented on #653
Looks to be fixed by #652.
[code]

[2017-07-18 03:41] #653 closed

[2017-07-18 05:08] mwinter-osr opened #829 "RIP/RIPng complain about valid debug config at startup"
(This happens on master. stable/2.0 and stable/3.0 work correctly)

RIPd and RIPngd both complain on the valid `debug rip zebra` (and `debug ripng zebra`) at startup (error seen on stderr output)

ripd:

	*** Error occurred processing line 3, below:
	debug rip zebra

ripngd:

	*** Error occurred processing line 3, below:
	debug ripng zebra

The debug commands are still accepted despite the error (

[2017-07-18 10:15] #811 closed

[2017-07-18 11:16] SandroRaV opened #830 "No default-information originate command in OSPFv3/OSPF6"
It looks like the OSPFv3/OSPF6 default-information originate command is not implemented. In OSPFv2 the command exists. I think this commands should exist in both?

A workaround is to redistribute a IPv6 static default route into OSPF6

[2017-07-18 11:26] SandroRaV opened #831 "Solution for disabling bgp enforce-first-as per session"
Was unable to find a way to enable bgp enforce-first-as for BGP and then disable it only on some sessions.

We use this to connect to some IXP Route Servers.

In Brocade Netiron it looks like this:

router bgp
enforce-first-as

addr ipv4 uni
neighbor x.x.x.x enforce-first-as disable

Is there any way to implement this?

[2017-07-18 12:56] SandroRaV opened #832 "Strange sorting in Configuration"
I have added some lines to the Frr config mainly in the BGP part. I have checked them in the running config and was a bit confused by the sort order of it.

In v4 I see lots of config in an order that makes sense like:

neighbor x.x.x.251 remote-as 1234
neighbor x.x.x.251 peer-group PG1
neighbor x.x.x.251 description 'Route Server1'
neighbor x.x.x.252 remote-as 1234
neighbor x.x.x.252 peer-group P

[2017-07-18 14:50] rwestphal commented on #407
I have a one-liner here that should solve the problem for all BSDs, except OpenBSD and Solaris. I'll give more details later.

[2017-07-18 15:06] #819 closed

[2017-07-18 15:07] qlyoung commented on #819
details might be nice : )

closed

[2017-07-18 15:10] qlyoung commented on #825
@louberger want to take a look at this?

[2017-07-18 15:14] qlyoung commented on #831
Daniel to take a look

[2017-07-18 15:16] qlyoung commented on #832
Daniel to take a look

[2017-07-18 16:46] rwestphal commented on #407
So, it turns out that the standard way to fetch interface speed in *BSD is by using the routing socket API.

Here's the one-liner I mentioned before:
[code]

The only problem is that, on OpenBSD and Solaris, we use two different interfaces to communicate with the kernel:
* ioctl on startup to fetch all interfaces/routes;
* AF_ROUTE to detect runtime changes (e.g. interface up/down events, address

[2017-07-18 22:37] louberger commented on #825
sure - will try early next week if not before

On 7/18/2017 5:10 PM, Quentin Young wrote:

[2017-07-19 08:21] tigranmartirosyan commented on #752
How to reproduce
==============

1. Create a new vm on a host machine
2. When asked for a network interface pick "virtio" and put it in any of the available bridges
3. After vm installation is complete install frr on both host and guest machines
4. Make sure Ipv6 address is assigned on vm and on "vnet" interface on the host
5. Take the "vnet" interface for the guest out of the bridge on the host(b

[2017-07-20 20:53] qlyoung opened #840 "Module CLI is not correctly reflected in vtysh"
Just making a note to add it to the list of vtysh stuff we have to fix

[2017-07-21 01:15] mwinter-osr opened #841 "LDPd crash in RB Tree rbe_insert_color()"
Debug information is from master branch at dceb5f8 (July 20). However the bug exists at least since f30a732 (June 26), but not on or before bade23d (June 2)
Bug does not exist on 2.0 or 3.0

LDPd crashes in ANVL Compliance Test ANVL-LDP-28.12

From the LDP log:

	2017/07/20 18:04:01 LDP: msg[out]: initialization: lsr-id 192.168.1.1
	2017/07/20 18:04:01 LDP: kalive[out]: keepalive: lsr-id 192.168.1

[2017-07-22 07:45] jhiggins-NZ commented on #823
Super useful enhancement. :)

[2017-07-24 03:19] mwinter-osr opened #843 "OSPFd Crash at end of compliance test ANVL-OSPF-6.7"
This happens in master as of July 20 (Git sha dceb5f8), but was still ok as of June 26 (git sha f30a732)

OSPFd.log:

	2017/07/21 22:15:26 OSPF: SPF: calculation timer scheduled
	2017/07/21 22:15:26 OSPF: SPF: calculation timer is already scheduled: 0x1fb0aa0
	2017/07/21 22:15:26 OSPF: LSA[Type1,id(192.168.0.101),ar(192.168.0.101)]: Install router-LSA to Area 0.0.0.1
	2017/07/21 22:15:26 OSPF: osp

[2017-07-24 03:35] mwinter-osr commented on #843
Trying to run a bisect and getting more information

[2017-07-24 06:49] mwinter-osr commented on #843
Bad commit:
commit 52c62ab89461fac53ef2bdfcc6946c735bfd9951
Author: Jafar Al-Gharaibeh <jafar@atcorp.com>
Date:   Thu Aug 27 16:51:42 2009 +0100

    ospfd: Bring in some OSPF useful changes that were lost during Quagga fork

      Several changes were made from the original patch to resolve conflicts
      and also to fix various issues that were discovered during testing. Below
      is the orig

[2017-07-24 08:03] mwinter-osr commented on #843
Traceback details from gdb session (based on Git sha dceb5f8)

	Program received signal SIGSEGV, Segmentation fault.
	0x00000000004133ef in ospf_vl_shutdown (vl_data=0x824780)
		at ospf_interface.c:910
	910		oi->address->u.prefix4.s_addr = 0;
	(gdb) bt
	#0  0x00000000004133ef in ospf_vl_shutdown (vl_data=0x824780) at ospf_interface.c:910
	#1  0x0000000000414e90 in ospf_vl_shut_unapproved (ospf=osp

[2017-07-24 12:16] dwalton76 commented on #841
I am able to reproduce this on one of our internal tests (tests.nclu.bond_and_vrr_test.VrrNcluTest.test06_bond_lacp_bypass) as well
[code]

[2017-07-24 14:34] Jafaral commented on #843
Thanks @mwinter-osr , will dig into it.

[2017-07-24 17:37] devicenull opened #844 "BGP sends updates that are too big"
I've run into an issue where BIRD and Wireshark both report that FRR is sending BGP updates that are too big (over 4096 bytes)

I've attached a pcap showing one of these updates:
[invalid_packets.zip](https://github.com/FRRouting/frr/files/1170655/invalid_packets.zip)

this also contains part of the debugging log:

2017/07/24 17:19:08 BGP: u44:s44 send UPDATE len 4100 numpfx 505

per slack:
dwalto

[2017-07-24 17:42] devicenull commented on #844
This looks to be specific to `neighbor pg-HOST addpath-tx-all-paths`.  If I remove that from my configuration, I do not experience this issue.

[2017-07-24 19:34] devicenull opened #846 "attribute-unchanged gets automatically applied to individual peers when applied with a peer-group"
[code]

Why does the "neighbor 10.0.0.1 attribute-unchanged" line get inserted here?  I do not see this happening for any other attributes when they're set via a peer-group.

[2017-07-25 03:43] rwestphal commented on #841
@dwalton76 could you check if #848 fixes the problem for you?

[2017-07-25 13:07] dwalton76 opened #852 "ospf6d crash in ospf6_abr_examin_summary loop"
ospf6_abr_examin_summary -> ospf6_route_add -> ospf6_top_brouter_hook_add -> ospf6_abr_examin_brouter -> ospf6_abr_examin_summary ...repeat...repeat...repeat

[code]

Am doing a bisect to narrow down when this was introduced.

[2017-07-25 13:30] odd22 opened #853 "Missing developer documentation"
Hi,

There is missing developer documentation in FRR. In PR #805 I try to update an old Zebra hacking document, but that seems too old to be publish.

The main problem is how to start writing a such documentation ? First, it is too huge and to complicated to be written by only one person. Second, we need a dedicated space (e.g. a new doc project inside FRRouting) to collectively write such documen

[2017-07-25 14:16] eqvinox commented on #840
reverse case is actually waaaaaaay worse, modules not present during build can't add vtysh commands, thus making their CLI inaccessible from vtysh

[2017-07-25 14:24] #829 closed

[2017-07-25 14:57] dwalton76 commented on #841
@rwestphal yep this fixes the crash for me

[2017-07-25 15:06] donaldsharp commented on #407
We are left with openbsd after this patch to get the speed from.  This is not that major of a concern because openbsd is not a big platform.

[2017-07-25 15:07] #407 closed

[2017-07-25 15:09] donaldsharp commented on #560
PR #812 needs some final testing and to be updated for merging

[2017-07-25 15:11] #841 closed

[2017-07-25 15:13] donaldsharp commented on #843
@Jafaral should be able to fix this one

[2017-07-25 15:13] eqvinox opened #855 "OpenBSD interface speed / API update"
need to switch APIs used on OpenBSD to get interface speed
(larger change than NetBSD/FreeBSD due to API)

[2017-07-25 15:14] donaldsharp commented on #844
Hypothesis -> We are not taking the lenght of the add-path id into account when building packets

[2017-07-25 15:15] donaldsharp commented on #846
Seems like a config printing bug.  We should just be inheriting the peer group

[2017-07-25 15:19] donaldsharp commented on #852
This bug( and several others ) points to the generic concern of ospfv3 having some serious issues that need to be addressed

[2017-07-25 15:27] donaldsharp commented on #853
@eqvinox - People should start documenting the code, right in the header files themselves.
@qlyoung - If people write a new api for lib, it must be documented.  @qlyoung to document this in COMMUNITY.md.  Additionally people should start and continue writing documentation for features in doc/

[2017-07-25 19:42] qlyoung commented on #853
#842

[2017-07-25 20:40] dwalton76 opened #858 "ldp config issues"
Two issues with the following config:
[code]

1 - We should have `exit-address-family` at the end of the `address-family ipv4` section to be consistent with the bgp config for AFI/SAFIs
[code]

2 - vtysh -m cannot properly ID the mpls ldp config, the "end" string is in the wrong place
[code]

frr-reload.py depends on `vtysh -m`...so reload is broken if LDP is configured

[2017-07-25 20:41] dwalton76 commented on #766
Can we close this?

[2017-07-25 20:50] dwalton76 commented on #831
We have a knob (off by default) to configure this globally for all peers `bgp enforce-first-as` but we do not have a way to disable it on a peer-by-peer basis.

[2017-07-25 22:39] dwalton76 commented on #832
I took a look, the sorting is based on peer-group first and then within the peer-group the members are sorted by IP or interface name...and then at the end non peer-group peers are displayed.  So in your case x.x.x.251 comes before x.x.x.177 because x.x.x.177 isn't in a peer-group.

It would be a non-trivial change to alter the way we sort the neighbors...it would be easy to implement I just worry

[2017-07-26 16:44] kylebevans commented on #638
Hi everyone,

I am willing to help with packaging, getting frr into repos, or discussions about direction.  My experience is mostly using Red Hat in the enterprise.  We are using quagga in production as part of a virtual router and firewall.  I have experience with packaging as part of a CI build pipeline.

[2017-07-26 19:00] rwestphal commented on #858
[code]

[2017-07-27 20:52] #846 closed

[2017-07-27 20:52] #844 closed

[2017-07-27 20:55] eqvinox opened #872 "AF_ETHERNET vs. EVPN confusion"
lib/prefix.h has: (shortened)
[code]

This hints that prefix_eth is used for AF_ETHERNET. However, `prefix_same` in lib/prefix.c does:
[code]

This is probably wrong; an EVPN address is not AF_ETHERNET.

NB: it's possible that EVPN is using AF_ETHERNET incorrectly to begin with. AF_ETHERNET needs to use a 48-bit MAC address and nothing else as address, because AF_ETHERNET is a system header refere

[2017-07-28 00:15] ne-vlezay80 commented on #396
Tell me please, and then what does this option do:
net.mpls.maxloop_inkernel = 16
As I understand it, it increases the number of labels in the mpps stack?

[2017-07-28 10:23] ne-vlezay80 opened #875 "OpenBSD buid failed"
# make
make  all-recursive
Making all in lib
git suffix: -g7e4c462
git branches: local:master, github/frrouting/frr.git/master
cp: unknown option -- v
usage: cp [-fip] [-R [-H | -L | -P]] source target
       cp [-fip] [-R [-H | -L | -P]] source ... directory
*** Error 1 in lib (Makefile:1237 'gitversion.h': { test -f gitversion.h && diff -s -q gitversion.h.tmp gitversion.h; } || cp -v gitversion.

[2017-07-28 10:35] ne-vlezay80 opened #876 "OpenBSD PIM build failed"
Build the compile on openbsd:
pim_iface.c: In function 'pim_if_add_vif':
pim_iface.c:1013: error: 'VIFF_REGISTER' undeclared (first use in this function)
pim_iface.c:1013: error: (Each undeclared identifier is reported only once
pim_iface.c:1013: error: for each function it appears in.)
gmake[2]: *** [Makefile:684: pim_iface.o] Error 1
gmake[2]: Leaving directory '/usr/src/frr/pimd'
gmake[1]: ***

[2017-07-28 11:49] mTaleqani opened #877 "Ping and traceroute not working in vtysh"
Ping and Traceroute are existed in vtysh but not working !

[code]

[2017-07-28 11:51] donaldsharp commented on #876
ci@ci020 pimd $ find /usr/include -name '*.h' -print | xargs grep VIFF_REGISTER
/usr/include/netinet/ip_mroute.h:#define        VIFF_REGISTER   0x4             /* used for PIM Register encap/decap */
ci@ci020 pimd $ uname -a
OpenBSD ci020.my.domain 6.0 GENERIC#2148 amd64
ci@ci020 pimd $

On 6.0 /usr/include/netinet/ip_mroute.h is there and has VIFF_REGISTER.  Do you have a ip_mroute.h?

[2017-07-28 12:26] rzalamena commented on #876
PIM support was removed from OpenBSD on new releases, and in fact it was never enabled in kernel. You might have a chance to get it running on older releases with a modified kernel configuration.

If your multicast setup does not require all multicast routing features, then you might want to try a multicast proxy.

[2017-07-28 12:39] rzalamena commented on #875
OpenBSD's 'cp' command does not support the parameter '-v' ( here is the most recent try to include it: https://marc.info/?l=openbsd-tech&m=149839240200836&w=2 ). The fast fix is to remove '-v' from cp commands when running on OpenBSD.

[2017-07-28 12:52] rwestphal commented on #875
Yes... this is a known problem when you build FRR on OpenBSD from the git repo.

I usually just remove the `-v` parameter from lib/Makefile as Rafael suggested and run gmake again.

@rzalamena: this patch was merged by tedu@ for what I can see, so this problem shouldn't happen on the latest snapshots an future releases. Not sure if this problem is worth fixing or not.

[2017-07-28 15:41] ne-vlezay80 opened #878 "OpenBSD is a multithreaded MPLS"
Мне один пользователь с linux.org.ru сказал, что в OpenBSD есть многометочный MPLS, и за него отвечает следующея настройка:
 net.mpls.maxloop_inkernel = 16
Мне интересно, за что это настройка отвечает в OpenBSD?
Я также пробывал на маршрут присваевать несколько меток, но почиму-то на маршрут присваевается только последняя метка?

[2017-07-29 12:13] ne-vlezay80 opened #879 "labeled bgp in ipv6"
Скажите, будет ли разрабатываться поддержка labeled bgp для ipv6? В коде я нашёл такие строки:

https://pastebin.com/raw/6cHdyfQh

[2017-07-29 16:11] ne-vlezay80 opened #880 "Carrier-of-Carriers VPNs / CSC"
Можно ли FRRouting использовать для построения CSC VPN на базе MPLS?
https://www.juniper.net/documentation/en_US/junos/topics/concept/vpn-carrier-of-carriers-vpns.html

И пойдёт ли для этого linux или openbsd?

[2017-07-31 12:55] donaldsharp commented on #876
So the bug really is that we should have a configure.ac option that turns off building of PIM for openbsd 6.1 and later, correct?

[2017-07-31 12:56] donaldsharp commented on #878
Translation:
To me, one user with linux.org.ru told me that in OpenBSD there is a multithreaded MPLS, and the following setting meets:
Net.mpls.maxloop_inkernel = 16
I wonder what this setting is in OpenBSD?
I also went to the route to assign several labels, but by the way, on the route, only the last label is assigned?

[2017-07-31 12:58] donaldsharp commented on #879
Translation:
Tell me, will there be support for labeled bgp for ipv6? In the code I found such lines:

[2017-07-31 12:59] donaldsharp commented on #880
Translation:
Can FRRouting be used to construct a CSC VPN based on MPLS?
Https://www.juniper.net/documentation/en_US/junos/topics/concept/vpn-carrier-of-carriers-vpns.html

And will there be linux or openbsd for this?

[2017-07-31 16:21] rzalamena commented on #878
The `net.mpls.maxloop_inkernel` was a protection to avoid loops on outgoing packets, but it removed since 5.9. I think they probably forgot to remove the sysctl. (ref: http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/sys/netmpls/mpls_output.c.diff?r1=1.25&r2=1.26&f=h )

OpenBSD developers are still working to get a mp-friendly network stack and the previously mentioned sysctl has nothing to do with it

[2017-08-01 15:06] donaldsharp commented on #872
@vivek-cumulus is looking at this issue at this moment

[2017-08-01 15:15] donaldsharp commented on #876
Jafar to Turn off pimd on openbsd for those versions that do not have PIM.  @mwinter-osr to enable a new open-bsd in the CI system when it becomes available.

[2017-08-01 15:18] #877 closed

[2017-08-01 15:21] donaldsharp commented on #879
This should work on code off of master, please open a new bug if you find an issue with this

[2017-08-01 15:21] #879 closed

[2017-08-01 15:22] donaldsharp commented on #880
This is not currently available

[2017-08-01 15:22] #880 closed

[2017-08-01 15:42] donaldsharp commented on #268
Easy to implement, but very few people would benefit from this change.

[2017-08-01 15:42] #268 closed

[2017-08-01 15:45] donaldsharp commented on #279
Added to Feature Request Wiki

[2017-08-01 15:45] #279 closed

[2017-08-01 15:45] rwestphal commented on #655
Resolved by #874.

[2017-08-01 15:45] #655 closed

[2017-08-01 15:46] rwestphal commented on #641
Resolved by #874.

[2017-08-01 15:46] #641 closed

[2017-08-01 15:48] #283 closed

[2017-08-01 15:49] donaldsharp commented on #303
Added to Feature Request Page

[2017-08-01 15:49] #303 closed

[2017-08-01 15:57] donaldsharp commented on #325
Added to Feature Request Wiki page

[2017-08-01 15:57] #325 closed

[2017-08-01 15:59] qlyoung commented on #326
i'll do that

[2017-08-01 15:59] #327 closed

[2017-08-01 16:02] #361 closed

[2017-08-01 18:57] Jafaral commented on #843
#887 should fix this. @mwinter-osr please let me know if this is not the case!

[2017-08-01 18:58] Jafaral commented on #843
oops... pressed close and comment when I only want to "comment"  :)

[2017-08-01 19:07] #832 closed

[2017-08-01 19:28] mTaleqani opened #888 "EIGRPd crashes when receives eigrp external route"
EIGRPd crashes when it receives an external eigrp route.
in an example i redistributed ospf routes in a cisco router to EIGRP and then frr eigrpd crashes when it catches the route. the following outputs are printed when eigrp crashes :

[code]

[2017-08-01 20:05] jech opened #889 "Babel doc and babeld.conf.sample are incorrect about redistribution"
Babeld.conf.sample contains lines such as

    redistribute static

However, this no longer appears to work, you must now say something like

    redistribute ipv6 static

The documentation is also incorrect.

[2017-08-01 20:08] devicenull opened #890 "BGP slow with a large number of peers"
I'm using FRR (built off HEAD awhile ago, so should be f7ba7b3b2bb8fd7ce84c563a9f6c4c6a11527529) to reflect a full table at a number of hosts.

In this case, I have about 350 hosts, each with a v4 and v6 BGP session. I also have two sessions to upstream routers.  The routes come in via the routers, and get reflected out to the hosts.  This ends up being about 700 sessions in total.

Note that the

[2017-08-01 20:49] devicenull commented on #890
As a test, I removed the code that changes TCP_CORK with this

[code]

It didn't really change a whole lot, that load just went elsewhere instead.  It does reduce the number of syscalls by 2 per bgp_write though, which I suppose is significant with a high number of peers

![nocork](https://user-images.githubusercontent.com/58017/28846385-407c3d18-76d9-11e7-9eb5-d6d4905bd576.png)

[2017-08-02 11:59] #875 closed

[2017-08-02 11:59] #889 closed

[2017-08-02 18:31] eqvinox opened #896 "BGP: addpath-tx-all-paths churns significantly in bgp_adj_out_set_subgroup()"
reported by @devicenull on fulltable (630k v4, 40k v6), 350×2 peers:

![mid](https://user-images.githubusercontent.com/1715611/28888553-47ccec00-77c1-11e7-9b37-ff86ac4a20c4.png)

without addpath-tx:

![no-addpath](https://user-images.githubusercontent.com/1715611/28888563-535f8c44-77c1-11e7-9b24-8454e7c80622.png)

=> some level of churn is to be expected, but we need to check whether this is doing

[2017-08-02 18:33] eqvinox commented on #890
=> confirmed addressed (i.e. convergence time improves a ton) by #895

[2017-08-02 18:34] eqvinox commented on #843
confirmed fixed as noted in https://github.com/FRRouting/frr/pull/887#issuecomment-319523540

=> closing

[2017-08-02 18:34] #843 closed

[2017-08-02 18:37] eqvinox commented on #825
fixed by 0ae6124f4807560736ba3ad3b8ce3cb8085e03ce, closing

[2017-08-02 18:37] #825 closed

[2017-08-02 20:43] lucize commented on #888
try this
https://github.com/donaldsharp/frr/commit/f7ea6a2a4d26f7c75a35b29aeacf05aac38a7f44
for me is working

[2017-08-02 20:57] donaldsharp commented on #888
I did not submit that as a Pull Request for several reasons:

1) It ignores multicast on startup( not sure that we handle that properly now in any event ).
2) I was still seeing issues in my test setup even with these changes.  Thats not say that it doesn't make things better.

I also had asked Donnie to take a look at it as well.

[2017-08-02 21:11] lucize commented on #888
I don't get the RIP routes redistributed in eigrp but for the moment I consider it a good and useful start

[2017-08-03 06:27] saga1015 opened #898 "OSPF Muilt-Instances network command problem"
when i run ospf multi-instances
conf t
router ospf 1
run network *.*.*.*/24 area 0
The network command is not supported in multi-instance ospf
how to solve it

[2017-08-03 06:28] k0ste commented on #898
See #340.

[2017-08-03 20:34] mwinter-osr opened #902 "ISIS unittest breaks solaris build"
Solaris does not have a fmemopen()

The recent ISIS changes (Pull Request #854 ) uses this in the unittests (`make check`) and fails:

	[...]
	  CCLD     bgpd/test_mp_attr
	  CC       bgpd/test_mpath.o
	  CCLD     bgpd/test_mpath
	  CC       isisd/isisd_test_fuzz_isis_tlv-test_fuzz_isis_tlv.o
	In file included from isisd/test_fuzz_isis_tlv.c:1:0:
	isisd/test_fuzz_isis_tlv_tests.h: In function ‘run

[2017-08-04 09:37] eqvinox opened #904 "powl() in hash stats code, redux"
the hash stats code still uses powl(), even though in a non-critical location

this causes the following warning when cross-compiling to uclibc:
[code]
...no idea why uclibc is missing the prototype there, math.h is included.
...either way this should really just be an integer multiply.

[2017-08-04 10:11] eqvinox opened #905 "bgp safi confusion in bgp_open"
clang 4.0.1 complains:
[code]

[2017-08-04 12:13] cfra commented on #902
Given that the test does not test any platform specific code but only the self contained IS-IS parser, I would suggest to skip the test on Solaris.

If you could provide me with the output of <pre>$ python

[2017-08-04 14:34] rwestphal commented on #905
Fixed by #908.

[2017-08-04 14:34] #905 closed

[2017-08-04 14:59] #890 closed

[2017-08-04 16:35] #904 closed

[2017-08-05 03:45] #821 closed

[2017-08-06 02:15] eqvinox commented on #898
Should be addressed by PR #912 — if you don't have instance 1 running, it will now print a warning message `command ignored as it targets an instance that is not running`

You need to start an additional ospfd process with `ospfd -n 1`

[2017-08-06 02:16] eqvinox commented on #340
PR #912 will now print a warning in this situation

[2017-08-08 14:35] eqvinox commented on #878
closing, nothing to do for us here...

[2017-08-08 14:35] #878 closed

[2017-08-08 14:35] eqvinox commented on #876
addressed by #891 - unfortunately it's just not possible, so the fix is to say so...

[2017-08-08 14:35] #876 closed

[2017-08-08 14:42] eqvinox commented on #853
demo rst/sphinx docs:
https://github.com/FRRouting/frr/pull/929/commits/962f5bdaa68cced5a0ba8ad8ce94f3d235380eef
html output after running through sphinx:
https://aurora.nox.tf/tmp/frr-doc/

[2017-08-08 14:49] eqvinox commented on #390
closing, nothing for us to do here (and the bug is really stale)

[2017-08-08 14:49] #390 closed

[2017-08-08 15:08] #888 closed

[2017-08-08 15:11] donaldsharp commented on #896
do we know how many paths are being sent to us?  @devicenull can we get a 'show ip bgp summ' and a 'show bgp ipv6 uni sum` output?

[2017-08-08 15:11] #898 closed

[2017-08-08 15:59] devicenull commented on #896
Based on our current networking setup, there's really only going to be a single path per route.

[2017-08-08 17:39] #560 closed

[2017-08-08 17:58] #792 closed

[2017-08-08 21:02] devicenull opened #933 "Allow overriding the ASN of peer-group members"
I just ran into this check:

https://github.com/FRRouting/frr/blob/d1783281630a888a61a24299ae73c973588ff481/bgpd/bgp_vty.c#L2566

This is fairly unusual behavior, I am not aware of any other BGP implementation that has this restriction.

One big use case here is if you're connected to an IX, and have a number of BGP sessions up to other IX members.

You'd have a config like this:

[code]

which gi

[2017-08-09 13:41] imanasadi opened #936 "Cisco does not learn IS-IS route advertisement from FRR"
Dear All

We have setup a testbed for testing IS-IS compatibility between Cisco and a FRR router (ran on FreeBSD).
The problem is both routers can recognize each other as an IS-IS neighbor and FRR learn the advertised routes from Cisco, but Cisco does not.
It seams in this scenario the FRR does not send IS-IS CSNP packets.
Cisco Router tested with other Cisco device and it's OK. FRR Router tested

[2017-08-09 13:43] donaldsharp commented on #936
@imanasadi A bunch of isis fixes/changes have gone into master recently what version of FRR are you using?

[2017-08-09 14:44] mwinter-osr commented on #936
@imanasadi Can you please post the relevant ISIS config for both sides and the specific versions?
(Git sha preferred for FRR and is it classic IOS or IOS-XR or ... on the other side?)

Would like to try reproducing this issue.

[2017-08-09 14:48] devicenull commented on #933
This actually works fine, you just need to omit remote-as in the peer-group

[2017-08-09 14:48] #933 closed

[2017-08-09 15:01] devicenull opened #937 "Segfault with ipv6 prefix-list"
Start with an empty config (well, I have integrated-configs enabled, but I think that's unrelated).  I have bgpd and zebra running
[code]

vtysh: error reading from zebra: Success (0)Warning: closing connection to zebra because of an I/O error!
vtysh: error reading from bgpd: Success (0)Warning: closing connection to bgpd because of an I/O error!

That's because both daemons crashed:
[code]

[2017-08-09 17:25] lunn opened #943 "EIGRP: Assertion `successors' failed in file eigrp_fsm.c, line 361, function eigrp_fsm_event_nq_fcn"
I have a simple setup with a chain of six nodes running EIGRP, using the CORE network simulator. I reliably get an assertion failure when i start the simulation and the nodes start talking to each other.

![screenshot_2017-08-09_12-15-32](https://user-images.githubusercontent.com/1658412/29134526-85d74eec-7cfc-11e7-816b-6050d3a80dce.png)

n4 reliably fails thus:

2017/08/09 11:53:19 EIGRP: Process

[2017-08-09 18:32] #507 closed

[2017-08-10 00:23] diivious commented on #888
its crashing because the TLV code is not processing, or either  purging,  the external route from the packet.  In eigrp_update and eigrp_query, find the code and add the following:
               if (type == EIGRP_TLV_IPv4_INT) {
                    <bunch of code>
		} else if (type == EIGRP_TLV_IPv4_EXT) {
		    /* DVSL: for now, dont crash on externals. just eat them
		     * until i rewrite all

[2017-08-10 10:37] lucize commented on #888
so I tested the else statement, I think that in the correct place and I get this:

[code]

[2017-08-10 10:52] mTaleqani opened #945 "EIGRP Does not form neighborship"
In the current master version, EIGRPd does not work. in fact it does not send eigrp hello at all and hence no neighborship establishment happens !

[2017-08-10 11:02] mTaleqani opened #946 "OSPF Does not form neighborship"
in the current master version, ospfd not establishing neighborship. i configured ospfd with no process-number as shown bellow :

[code]
but not sending ospf hello packets and hence not establishing neighborship in this way.

also i tried configuring ospfd with process-number but it killed ospfd process as it is shown bellow :

![image](https://user-images.githubusercontent.com/24407965/29167747-df

[2017-08-10 12:06] diivious commented on #945
I am successfully using the latest code - i had to disable firewalls to get the peers to form.  Can you shed more light on your issue?

[2017-08-10 12:23] jbonor opened #947 "Memory wasting in zebra by non used MPLS FEC's"
This code snippet from bgp_route.c make zebra daemon to allocate a MTYPE_FEC structure, a route node, a hash bucket, a list and a list node for every prefix and that's with only one client. With a full BGP table in a 32 bits platform that's >100M (>300M on 64bits) wasted because I do not have any address family that supports labels enabled on any peer.

[code]

[2017-08-10 13:58] mTaleqani commented on #945
using centos 6 and iptables is stopped. this is the configuration i have done :

[code]
i have no problems with previous master versions but by the new updates for master version, i just wanted to test if the previous issues have solved or not and seeing eigrpd not working at all.
i tested the current master  with centos 6 and 7 but no success. i see no eigrpd hellos being send.

[2017-08-10 14:28] diivious commented on #888
Hard to say without seeing your code - but the first thing that jumps out is:

     EIGRP: &(struct stream): 0x1b83ec0, **size: 65536**, getp: 8914, endp: 8914

The fact the packet things is 64K is wonky, because EIGRP does not send packets larger than MTU...

[2017-08-10 14:49] lunn commented on #945
I've seen something similar. Sometimes it sends one hello on each interface, and then no more. Other times it works. Seems like a race condition or bad usage of the timer API.

Because of #943, the daemon often does not run more than 10 seconds, so i'm prioritizing that problem first...

[2017-08-10 15:30] diivious commented on #945
I am on CentOS7 and and did:
     systemctl stop firewalld
     systemctl disable firewalld

And was able to get peers up.  But once that was working, and i got past the external route crash, I saw something odd with neighbors - it would crash when doing a "show ip eigrp nei" due to the hold timer being NULL.  I was re-writing the TLV code, but will pause and spend some time and see if i can sort

[2017-08-10 16:27] lucize commented on #888
just blindly added
[code]
the main interface has 9000 MTU, there are some wireguard interfaces as well with 1420 MTU

[2017-08-10 16:45] louberger opened #949 "master: bgpd show running doesn't show new lines"
when telnetted into the daemon, show running new line formatting is broken:

router&nbsp;bgp&nbsp;64512
&nbsp;bgp&nbsp;router-id&nbsp;192.1.1.4
&nbsp;neighbor&nbsp;192.1.1.1&nbsp;remote-as&nbsp;64512
&nbsp;neighbor&nbsp;192.1.1.1&nbsp;description&nbsp;192.1.1.1
&nbsp;neighbor&nbsp;192.1.1.1&nbsp;port&nbsp;4181
&nbsp;neighbor&nbsp;192.1.1.1&nbsp;update-source&nbsp;192.1.1.4
&nbsp;neighbor&nbsp;192.

[2017-08-10 17:21] lunn commented on #943
As is often the case, i think there are multiple issues here. I've not got to the bottom of this yet, but....

There is an entry in the table node eigrp_topology_get_successor() is searching, but the EIGRP_NEIGHBOR_ENTRY_SUCCESSOR_FLAG flag is not set. The flag was sent when the entry was created in eigrp_update_receive(), however the metric is getting set to EIGRP_MAX_METRIC. This appears to mean

[2017-08-10 17:41] diivious commented on #888
Yes, that the correct change.   For the hack i provided;

	while (s->endp > s->getp) {
		type = stream_getw(s);
		if (type == EIGRP_TLV_IPv4_INT) {
                     <code>
		}
	}

The original issue is the code pulled the type. when it was not INT, it looped back and pulled the next 16bit - in this case it was the "L"ength from the EXT TLV.  The change i made was to purge the bytes from the bu

[2017-08-10 18:11] Novotnyv opened #951 "NHRP fails to register to Cisco NHS"
Running frr master 043abefe with this config(daemons: zebra, nhrpd, eigrpd):
[code]
against Cisco 2811, IOS ver.  15.1(4)M10 with this config:
[code]
The registration request is rejected:

Aug 10 15:10:34.213: Tunnel1: GRE/IP (PS) to decaps 192.168.16.144->192.168.16.110 (tbl=0,"default" len=120 ttl=64)
Aug 10 15:10:34.213: Tunnel1: GRE decapsulated NHRP packet (linktype=74, len=92)
Aug 10 15:10:3

[2017-08-10 18:16] mTaleqani commented on #945
no firewall nor iptables are running. but got no success. i ran tcpdump and saw no eigrp hellos received by frr although pretty sure cisco router sends eigrp hello (frr and cisco can ping each other).  so i guess not frr problem (i think sth filtering hello packets !!)
but it is weird because when i install frr master version 1 august 2017, it works with no problem but got problem with today's frr

[2017-08-10 18:28] lunn commented on #945
Donnie

See:
https://github.com/FRRouting/frr/pull/952
There could be other instances where the timer is accessed without first checking exists.

[2017-08-10 18:51] lucize commented on #888
I've filtered only the rip packets, attached the dump with crash and the dump without the else statement, the dump is in raw format
as in #945 eigrp is restarting itself, I also think that the 1 august/31 july worked better

[eigrp-dump.zip](https://github.com/FRRouting/frr/files/1215995/eigrp-dump.zip)

[2017-08-11 01:30] lucize opened #958 "Crosscompile master on LEDE/Openwrt"
version 2 worked without problems no needed to manually pass anything to configure related to target arch, but now I'm trying to update and the first issue was with
`configure: error: cross-compilation is only possible with builddir separate from srcdir.  create a separate directory and run as .../path-to-frr/configure.`
made a dir and ran configure from that dir passing `--host="$(GNU_TARGET_NAME

[2017-08-11 08:55] eqvinox commented on #958
HOST_CPPFLAGS="$(TARGET_CPPLAGS)"
HOST_CFLAGS="$(TARGET_CFLAGS)"
HOST_LDFLAGS="$(TARGET_LDFLAGS)"

This are the wrong way around, the HOST_* variables are used for building on the build host. I should probably rename them to BUILD_* to match the autoconf naming scheme.

=>
CFLAGS="${TARGET_CFLAGS}"
HOST_CFLAGS="${BUILD_CFLAGS}"

HOST_* is used to compile auxiliary tools that are executed as compil

[2017-08-11 09:01] eqvinox commented on #949
`afi_header_vty_out()` is breaking API boundaries pretty hard
(writing to stdout directly in vtysh, writing directly to the vty buffer for telnet sessions)

needs to be simplified to just use vty_out()

[2017-08-11 11:45] lucize commented on #958
adding
[code]
cc will not complain anymore about `cc1: note: someone does not honour COPTS correctly, passed 0 times`

the config is like this:
[code]
but the hosttools keep complaining

[code]

should I look int to configure.ac ?

[code]
do I need `build_clippy`  ? because this one is failing

regards

[2017-08-11 13:47] eqvinox commented on #958
Yes, you need `clippy`.  Can you post `hosttools/config.log`?

[2017-08-11 13:48] eqvinox commented on #958
it's probably using the wrong C compiler:
[code]
unless the system you are compiling on is actually amd64 openwrt?

[2017-08-11 13:49] eqvinox commented on #958
try un-setting the `CC` environment variable before running configure

[2017-08-11 13:56] lucize commented on #958
I'm compiling on x86_64 for x86_64 musl
attached the build/config.log and build/hosttools/config.log

[buil-config.log.txt](https://github.com/FRRouting/frr/files/1218042/buil-config.log.txt)
[hosttools.config.log.txt](https://github.com/FRRouting/frr/files/1218043/hosttools.config.log.txt)

[2017-08-11 13:58] eqvinox commented on #958
ok, it's mixing up the CC for the 2 different targets

root / build:
- target = x86_64-openwrt-musl
- CC = x86_64-openwrt-linux-musl-gcc
- CFLAGS, LDFLAGS = whatever OpenWRT needs

hosttools:
- target = x86_64-glibc
- CC = x86_64-pc-linux-gnu-gcc
- CFLAGS, LDFLAGS = **NOT** OpenWRT, just normal

[2017-08-11 14:01] lucize commented on #958
yes, but from where should I control the hosttools ? configure is doing it, should configure.ac be patched somehow ?

[2017-08-11 14:03] eqvinox commented on #958
i think the bug is that i forgot `CC` in `configure.ac` line 40

=> this is why i said "try un-setting the `CC` variable"

if you don't have the `CC` variable set, it should auto-detect the correct compiler to use
(i'll post a patch to fix this)

[2017-08-11 14:04] eqvinox commented on #958
it should work with this:
[code]

[2017-08-11 14:10] lucize commented on #958
no is failing at
[code]
[hosttools.config.log.txt](https://github.com/FRRouting/frr/files/1218083/hosttools.config.log.txt)

[2017-08-11 14:12] eqvinox commented on #958
no, it isn't, that's a normal autoconf test.

please try with `CC=""` and report back

[2017-08-11 14:13] eqvinox commented on #958
actually... it's failing because you don't have a json library installed
[code]

[2017-08-11 14:14] lucize commented on #958
yes I tried the CC=""
the on screen configure log is better
but, can't use the json from the build environment ?

[2017-08-11 14:15] lucize commented on #958
I see it now

[code]

[2017-08-11 14:16] lucize commented on #958
there's no way I can point the location for that ?

[2017-08-11 14:18] eqvinox commented on #958
actually... json isn't even needed in `hosttools` :( ... it's just running the same checks... this is a bit of a mess >_>

[2017-08-11 14:20] eqvinox commented on #958
it's trying to find json from the host because it is compiling a tool for the host, so json for openwrt-musl doesn't help...

you could try this:
[code]

[2017-08-11 14:24] lucize commented on #958
progress :)

`configure: error: could not find python-config or pkg-config python, please install Python development files from libpython-dev or similar
`
the host has only the minimal tools installed i'm not sure if the buildbots have or not the `libpython-dev` installed

[2017-08-11 14:28] eqvinox commented on #958
libpython-dev *is* needed on the host... FRR uses a custom mixed python+C tool to pre-process source files

best thing to do here is probably include the output from this preprocessing, so you don't have to run it... i can work on that, but that's not gonna be done today :/

(you do **not** need libpython-dev on the OpenWRT target, it's only used during compile...)

[2017-08-11 14:30] eqvinox commented on #958
btw, the `3.0-rc1` release does not have this yet, so it should still work...

[2017-08-11 14:31] lucize commented on #958
installed libpython-dev on the host but is still complaining
the hosttools:
[code]
the build-config doesn't ask for it

I was looking to test eigrp more, on x86 and mips

[2017-08-11 14:32] eqvinox commented on #958
hrm, can you post the `hosttools/config.log` again? not sure why it's not finding libpython-dev there...

[2017-08-11 14:33] lucize commented on #958
sure
[hosttools.config.log.txt](https://github.com/FRRouting/frr/files/1218163/hosttools.config.log.txt)

[2017-08-11 14:34] lucize commented on #958
[code]

[2017-08-11 15:05] eqvinox commented on #958
argh, the problem is 3 more variables:
`PKG_CONFIG_LIBDIR` `PKG_CONFIG_PATH` `PKG_CONFIG`
you could try setting all 3 to "" like CC

(i probably need to rework the entire "hosttools" thing...)

[2017-08-11 15:20] lucize commented on #958
[code]
it is failing again but with those unset build config will not find the

[code]
anyway is better than yesterday when I wasn't sure about how to make the package and erased checks from configure.ac

[hosttools.config.log.txt](https://github.com/FRRouting/frr/files/1218301/hosttools.config.log.txt)

[2017-08-11 15:30] #949 closed

[2017-08-11 16:26] eqvinox commented on #958
sorry for the delay, had to get some other stuff done...

another change for configure.ac:
[code]

(because c-ares is only needed for nhrpd... so it can be disabled for `hosttools`)

[2017-08-11 16:29] eqvinox commented on #946
Second problem (crash) is fixed by PR #957

Not sure what the first problem is with not establishing neighbors...

[2017-08-11 16:38] devicenull opened #962 "netlink local constants inconsistent with _MAX leading to SEGV"
[code]

I have a single bridge here:
[code]

[2017-08-11 17:03] eqvinox commented on #962
ignore the 2 references here, i confused #962 and #937

[2017-08-11 17:49] lucize commented on #958
sorry, I didn't wrote clearer, python is failing for `hosttools `and `cares` for general build, not hosttools. If I unset any one of the `PKG_CONFIG or PKG_CONFIG_PATH` it would fail with `checking for CARES... no`

[2017-08-11 18:41] #937 closed

[2017-08-11 19:00] donaldsharp commented on #962
This is not the prefix list trie corruption crash

[2017-08-11 19:27] devicenull opened #965 "vtysh: 'show bgp' is confusing"
The `show bgp` command is quite confusing, it never seems to show any output:
[code]

Even if there are valid IPv4 routes:
[code]

I'd suggest removing it, unless it's supposed to do something other then what `show bgp ipv4` does.

[2017-08-11 20:39] sidheshdivekar29 opened #966 ""Vty password is not set" error in presence of /etc/frr/zebra.conf"
Following is the config I copied from sample config.
I restarted the frr service using "sudo systemctl restart frr".
But the zebra is unable to get the
frr$ sudo cat /etc/frr/zebra.conf
hostname Router
password zebra
enable password zebra
frr$

I tried killing zebra from starting it again manually.
sudo kill -9 <zebra-pid> and "sudo /usr/lib/frr/zebra -s 90000000 --daemon -A 127.0.0.1".
But that d

[2017-08-11 22:39] lucize commented on #958
I tried a make on 3.0-rc1 c47b10cae1e0a623589692d6bd8793c2a17ed29a  and is failing at:

[code]

Regards

[2017-08-12 02:44] mwinter-osr commented on #958
@lucize Not sure how far you are involved in OpenWRT, but would be interested to work with you on getting OpenWRT added to the CI system ( https://ci1.netdef.org ) after this is all resolved (and would welcome some doc about building it on OpenWRT and/or LEDE to be included in the git)

[2017-08-12 06:45] lucize commented on #958
@mwinter-osr I will gladly help!
Building it would be straightforward like any other packet on OpenWRT/LEDE: [here](https://lede-project.org/docs/guide-developer/compile_packages_for_lede_with_the_sdk)
Anyway, once accepted in master it will be built by buildbots and available from snapshots or future releases, of course I'm speaking about the release version.
I could make a copy paste instruction

[2017-08-12 07:34] imanasadi commented on #936
@donaldsharp we use frr 2.0 from BSD Router Project 1.80
https://sourceforge.net/projects/bsdrp/files/BSD_Router_Project/1.80/

[2017-08-12 09:56] imanasadi commented on #936
@mwinter-osr
Cisco IOS version: Cisco IOS Software, 2800 Software (C2800NM-ADVENTERPRISEK9_IVS-M), Version 12.4(4)T1, RELEASE SOFTWARE (fc4)
FRR version: frr 2.0 from BSD Router Project 1.80
Cisco config:
******************************************************************************************************
********************************************************************************************

[2017-08-12 15:53] jean-christophe-manciot opened #967 "hardening-wrapper is deprecated"
Please use another tool: it is still present in the build dependencies and is not available in Debian official repositories anymore.

[2017-08-12 18:10] mTaleqani opened #968 "EIGRP keeps cycling adjacency"
After installing latest version of frr master, i encountered strange things. that is no routing protocols which uses Multicast, do not work any more (except BGP which uses unicast to establish neighborship).
this is the configuration of eigrpd and ospfd configured in frr master latest version  :

[code]
when running eigrpd and ospfd, they just do not join multicast group and hence no neighbprship

[2017-08-12 18:17] rwestphal commented on #968
Yes, since commit 689f5a8c84b95dbd31ecab481f8f2977965fe741 the zserv.api file is being created with root ownership, so the client daemons can't communicate with zebra. I should take a look at this in the next few hours unless someone fixes it first.

[2017-08-12 19:15] rwestphal commented on #968
@mTaleqani could you try #969 and see if it solves the problem for you?

[2017-08-12 21:32] ne-vlezay80 commented on #776
А почему тогда при попытке изменить #define MPLS_MAX_LABELS 2 на #define MPLS_MAX_LABELS 10 приводит к тому, что в ядро отправляется 10.1.1.1 labels 100/200/0?

[2017-08-12 21:36] mTaleqani commented on #968
@rwestphal --> yes it is working now. but for eigrpd, it keeps reseting eigrp neighborship for ever !!

![image](https://user-images.githubusercontent.com/24407965/29244379-e6ccd5c4-7fcb-11e7-9103-28be1b80c19a.png)

[2017-08-13 02:19] lucize commented on #958
this fixes zebra/if_netlink.c

[code]
and for:
[code]

this patch fixes it:
[code]

[2017-08-13 12:40] di5s1 opened #970 "agentx / snmp support"
Hello,

I try to use frr with snmp support for monitoring purpose. Actually I can't configure agentx or smux peer even if I compile it with --enable-snmp=agent like described here:

https://frrouting.org/user-guide/AgentX-configuration.html

I tried it with vtysh => vtysh allow agentx but zebra says no

tmsxxxx(config)# agentx
% [ZEBR] Unknown command: agentx
tmsxxxx(config)# router ospf
tmsxxxx(c

[2017-08-13 12:44] lucize commented on #958
v3.0-rc1 runtested on LEDE x86_64 r4696-df3295f50e https://github.com/lucize/packages-1/commit/4544b77625f801c5236ce50f2f032bfb99e8a881
Regards

[2017-08-13 17:06] lucize commented on #958
another issue regarding vtysh and more not being found despite more being present (as a busybox symlink to less)
 https://github.com/openwrt-routing/packages/issues/299#issuecomment-322051246

[2017-08-13 18:16] di5s1 commented on #970
sorry, I guess I found the problem.

In my daemons.conf the parameters "-M snmp" had been missing for zebra, bgpd and ospfd.

Are these parameters automatically attached as soon as ./configure contains --enable-snmp=xxx ?

[2017-08-14 00:11] mwinter-osr opened #971 "Unittests (make check) on amd64 fails (sometimes) (Suspected Parallel build issues)"
The building of frr master fails on amd64 most of the times (on CI), but not clearly predictable.
I suspect the issue not to be arm, but the parallel build. The ARM64 are 4-core systems and
parallel build is used.

This only happens during the `make check`.  Failure:

	make[3]: Leaving directory '/home/ci/cibuild.434/debpkg/frr-test/vtysh'
	Making check in doc
	make[3]: Entering directory '/home/c

[2017-08-14 05:53] omidit opened #973 "is the IS-IS Fast-Flooding of LSPs feature supported in FRRouting ?"

[2017-08-14 07:20] mwinter-osr opened #974 "ISIS always link fragments fix needed for 3.0"
Fix from Pull Request #961 needs to be committed to stable/3.0 as well.
master branch is fixed, but 3.0-rc1 still has the same issue is ISIS fragments.

Assigned to Chris as ISIS code has changed too much for a simple merge.

[2017-08-14 07:49] imanasadi commented on #936
@donaldsharp  @mwinter-osr
We ran again the test on master branch over Ubuntu 16 and the result is same as frr 2.0.

[2017-08-14 08:55] cfra commented on #974
Submitted as PR #975. Please verify :)

[2017-08-14 09:27] mwinter-osr commented on #974
Fix verified. Thanks. Issue can be closed after the PR is merged

[2017-08-14 12:38] eqvinox commented on #971
It's not a missing dependency, it's a duplicate dependency which causes the file to be built twice at the same time. It's one of the problems I've been stomping out while moving to non-recursive make; I'll go look at it in more detail.

[2017-08-14 13:11] imanasadi commented on #936
@donaldsharp @mwinter-osr
It's solved. the problem is that "metric style" in Cisco and Frr are mismatched. In Cisco, default metric style is narrow and in Frr is Wide.

[2017-08-14 13:11] #936 closed

[2017-08-14 14:55] qlyoung commented on #970
No, you must still manually enable it in `daemons.conf`.

[2017-08-14 15:28] #974 closed

[2017-08-14 21:03] devicenull opened #977 "bgpd: show run doesn't show peer-group prefix-lists"
Start with this:

[code]

Now add a prefix-list to that neighbor:
[code]

Now check the config:
[code]

So, the prefix-list isn't being shown for the neighbor, however it is actually applied:

[code]

Drove me crazy while trying to figure out why my prefix-list seemingly wasn't being applied, and frr-reload will constantly try to reapply this change.

[2017-08-15 00:19] mwinter-osr commented on #967
I believe this refers to PR #758 (Debian Packages). It's used there, but I can't find it in other locations.
I'll add this to the PR to resolve before merge.
Please provide more details if you think it's relevant somewhere else as well (old debian package structure will go away as soon as the PR #758 is merged, so it may not make sense to fix it there anymore)

[2017-08-15 03:04] mwinter-osr opened #980 "isisd: Missing routes/corrupted LSDB with large complex networks"
This seems to happen with ISIS topologies of more than approx 6000 routes and > 3000 routers.

The issue seems to be timing related - if `debug isis snp-packets` is configured, then everything works fine.

Output without the debug:

	osr-perf3# show ip route summ
	Route Source         Routes               FIB  (vrf Default-IP-Routing-Table)
	kernel               1                    1
	connected

[2017-08-15 03:05] mwinter-osr commented on #980
Christian is working on this and has the information and testbed to reproduce the issue.

[2017-08-15 05:47] mwinter-osr opened #981 "ospfd crash in Compliance Test ANVL-OSPF-5.1"
(Thanks to @chiragshah6 for notifying me about it)

This is in master branch as of sha 7e4f56d (2017/08/17)

OSPFd crashing during compliance test OSPF 5.1 (OSPFv2):

	OSPF: ospf_process_stubs(): after examining links:  Network vertex 192.168.3.101  distance 100 flags 0
	OSPF: parent 192.168.0.101 backlink 1 nexthop 0.0.0.0  interface eth4:192.168.3.101
	OSPF: ospf_spf_calculate Router vertex 192.

[2017-08-15 09:12] #977 closed

[2017-08-15 11:02] jean-christophe-manciot commented on #967
[code]

hardening-wrapper has no sources on debian official repository for the latest stretch release: https://packages.debian.org/source/stretch/hardening-wrapper

[2017-08-15 11:50] eqvinox commented on #872
Fixed in #822, closing

[2017-08-15 11:50] #872 closed

[2017-08-15 11:55] eqvinox commented on #968
renamed issue because the original multicast problem is solved => now an EIGRP problem

[2017-08-15 11:56] eqvinox commented on #946
multicast problem, fixed in #969

[2017-08-15 11:56] #946 closed

[2017-08-15 11:57] eqvinox commented on #945
multicast joins were getting lost due to zapi socket permission problem, fixed in #969

[2017-08-15 11:57] #945 closed

[2017-08-15 11:58] eqvinox commented on #962
our local definitions of some netlink constants wreak havoc when they're larger than the (kernel-header-provided) _MAX value

=> Vivek said he'd work on it

[2017-08-15 12:00] eqvinox commented on #966
Do you have an `/etc/frr/frr.conf`? If yes, try deleting it and restarting zebra.

(`/etc/frr/frr.conf` is the integrated config for all daemons, if it is there, it must be loaded with vtysh and the daemons will ignore their separate config files)

[2017-08-15 12:07] eqvinox commented on #616
probably fixed by #919, please reopen this bug if the problem still exists on current master

[2017-08-15 12:07] #616 closed

[2017-08-15 12:30] eqvinox commented on #981
Probably broken by memory leak fixes in #957 or #870
@chiragshah6 can you look at this?
There's an XFREE somewhere that does not match the XMALLOC on the MTYPE used

[2017-08-15 14:56] chiragshah6 commented on #981
Hello Martin I have generated a PR #985 to address this issue. This was introduce due to commit 97a69b318c3057e1535a53fe3cf7b893cf837a81.

[2017-08-15 15:12] donaldsharp commented on #943
@riw777 to take a look it

[2017-08-15 15:15] donaldsharp commented on #951
@fabled Is this the behavior we want?

[2017-08-15 15:15] donaldsharp commented on #958
@eqvinox `Needs to rework clippy to be less weird`

[2017-08-15 15:17] donaldsharp commented on #962
@vivek-cumulus said he was going to work that issue

[2017-08-15 15:23] donaldsharp commented on #965
show bgp defaults to v6.  Change display to signal this is a v6 table display as well as show that the  command is deprecated please use....

[2017-08-15 15:29] donaldsharp commented on #973
@omidit can you point us at a RFC, we are not sure exactly that you are talking about.

[2017-08-15 15:49] donaldsharp commented on #362
We believe this was fixed a week or so ago.  Please check again, if no response in 1 week we'll close

[2017-08-15 15:50] donaldsharp commented on #364
Added to the Feature Request Wiki

[2017-08-15 15:50] #364 closed

[2017-08-15 15:53] donaldsharp commented on #396
This problem has been fixed in Linux and this issue has not been fixed in *BSD.

[2017-08-15 15:53] #396 closed

[2017-08-15 15:54] donaldsharp commented on #421
labeled ipv6 unicast now works

[2017-08-15 15:54] #421 closed

[2017-08-15 16:00] #459 closed

[2017-08-15 17:04] devicenull opened #986 "ip as-path-access-list regex validation"
I incorrectly assumed that as-path access-lists support sequence numbers:
[code]

This resulted in some very annoying to debug behavior.  Is it possible to do some basic validation of as-path regexes, to ensure that it's even possible for them to work?

For example, is there any real reason that letters should occur within an as-path regex?

[2017-08-15 17:39] patrick7 opened #987 "Remove IPv6 routes on service stop"
The init script only removes IPv4 routes installed by zebra. It should call "ip -6 route flush proto zebra" too.

[2017-08-15 17:59] sidheshdivekar29 commented on #966
Thanks that worked.

[2017-08-15 18:07] #966 closed

[2017-08-15 19:02] fabled commented on #951
Sounds like Cisco bug. Locally handled packets should be accepted with hop count set to zero. The wording is such that only packets that are to be forwarded and hop count equals zero are dropped.

Seems my original opennhrp code keeps the default hop count, and that's why it works. The intention of using zero hop count for registration request is that frr/quagga nhrpd supports detection of the NHS

[2017-08-15 19:44] lunn commented on #943
Here is the patch i ended up with. But see the comment after the --- marker.
Ah, this also depends on another patch which did a globe:
s/EIGRP_MAX_METRIC/EIGRP_METRIC_UNREACHABLE/g

[code]

[2017-08-15 20:43] devicenull opened #988 "bgpd: sh bgp ipv[4|6] statistics json doesn't return json"
I can tab-complete my way to json here, but it doesn't appear to be supported

[code]

[2017-08-16 02:41] donaldsharp commented on #943
@lunn take a look at this branch: https://github.com/donaldsharp/frr/tree/eigrp_cleanup

I've started cleaning up the code so it's more readable.  I would think this does not fix anything.

I'll talk w/ @dslicenc in the morning about this.  He was more familiar than me with this part of the EIGRP state machine

[2017-08-16 03:30] mwinter-osr commented on #981
Confirmed fixed and merged. Thanks.

[2017-08-16 03:30] #981 closed

[2017-08-16 05:04] omidit commented on #973
i don't know about RFC .but i know that The IS-IS Fast-Flooding of LSPs Using the fast-flood Command feature in Cisco improves Intermediate System-to-Intermediate System (IS-IS) convergence time when new link-state packets (LSPs) are generated in the network and shortest path first (SPF) is triggered by the new LSPs.Follow the link below:
https://www.cisco.com/c/en/us/td/docs/ios/12_0s/feature/gui

[2017-08-16 12:04] donaldsharp commented on #943
@lunn This could be a sender issue, can you attach a pcap file for debugging?  In any event would you like to join us on slack for easier discussion?  If so send an email to sharpd at cumulusnetworks.com and I'll get you an invite.

[2017-08-16 12:17] donaldsharp commented on #973
@omidit please use the "lsp-gen-interval [<level-1|level-2>] (1-120)" command to set faster sends of data.  The default appears to be 30 seconds

[2017-08-16 12:17] #973 closed

[2017-08-16 12:26] donaldsharp commented on #987
@patrick7 I'm seeing v6 route removal when I do a `systemctl frr stop` and the `ip route flush proto XXX` is run.  Question:  Is the zebra keyword setup appropriately?

[2017-08-16 12:47] Novotnyv commented on #951
Yes, that also works.

[2017-08-16 13:27] devicenull opened #991 "bgpd: show bgp ipv6 statistics incorrect percentages"
[code]

This looks like it's calculating v6 statistics using v4 settings?  I'd suggest doing the calculations based on /32s and /48s instead.

[2017-08-16 14:44] lunn commented on #943
The RFC suggests such an update can be sent, it indicates the route is unreachable.

I traced this back to what was actually sending the update. It was part of the startup process, indicating to a neighbour it should clear out old state. This can also happen in eigrp_update_receive(), look at the code by /* Filtering */

If i remember correctly, Martin Winter did some work to allow you to build to

[2017-08-16 15:07] omidit commented on #973
thank you

[2017-08-16 15:46] devicenull opened #992 "bgpd sends routes to zebra even when filtered"
I have a table-map that's supposed to be preventing zebra from learning routes.  It appears to work correctly (`sh ip route` indicates that zebra does not know about the routes), however zebra still appears to be creating 'Route nodes' for them.  The only real issue here is that Zebra ends up using extra memory, this doesn't cause any other problems.

[code]

[code]

[2017-08-16 17:21] devicenull opened #993 "`show bgp view fulltable ipv4 regexp` not view aware"
`# show bgp view fulltable ipv4 regexp 2914$ json`

This seems to run the lookup against the default view, regardless of what you specify on the command line.

Seems like it's not even passing the bgp instance into bgp_show_regexp: https://github.com/FRRouting/frr/blob/695bb8f0d144def36295bd5af8b14fbf064b97b8/bgpd/bgp_route.c#L9010

[2017-08-16 18:46] rburkholder commented on #967
If it helps any, I figured out how to build the packages a different way which bypasses this problem:
http://blog.raymond.burkholder.net/index.php?/archives/791-Building-Free-Range-Routing-on-Debian-Stretch-as-a-Package.html

[2017-08-16 19:51] ne-vlezay80 commented on #362
Сделал:
ne-vlezay80(config)# ip route 10.194.1.0/24 servers
ne-vlezay80(config)#

Но, в списке маршрут не появился:
ne-vlezay80# sh ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, P - PIM, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel,

S>* 0.0.0.0/0 [1/0] via 10.247.0.1, ic-br0
S>* 10.194.0.0/21 [1/0] is direct

[2017-08-16 21:47] ne-vlezay80 opened #995 "ospfd does not see neighbor"
Схема сети:
192.168.122.1 - первый роутер
192.194.122.2 - второй роутер

Настройки на первом роутере:
router ospf
 ospf router-id 0.0.0.25
 network 192.168.122.0/24 area 0
!
Настройки второго роутера:
router ospf
 ospf router-id 0.0.0.1
 redistribute connected
 redistribute static
 network 192.168.122.0/24 area 0.0.0.0
!
Вопрос: почему первый роутер второй видет, а второй первый нет?

Первый роуте

[2017-08-16 22:59] ne-vlezay80 commented on #995
Самое интересное, когда я создал VLAN, то OSPF каким то образом заработал. Это также касается и других протоколов, таких как eigrp.
Всю делал на виртуалках. Виртуалки запущенны через libvirt.

https://www.linux.org.ru/forum/admin/13617547

[2017-08-16 23:17] ne-vlezay80 opened #997 "ospfd does not send routes to zebra"
Вывод:
ne-vlezay80# sh ip ospf route
============ OSPF network routing table ============
N    10.0.0.0/24           [10] area: 0.0.0.0
                           directly attached to t0
N    192.168.122.0/24      [11] area: 0.0.0.0
                           via 10.0.0.2, t0

============ OSPF router routing table =============
R    0.0.0.1               [10] area: 0.0.0.0, ASBR

[2017-08-17 06:58] mwinter-osr commented on #971
Reopening issue - seems to be not yet properly fixed.

Issue happened now on ARMv7 in build of FRR sha 74218b2
See https://ci1.netdef.org/browse/FRR-FRR-445

	../lib/clippy ../python/clidef.py lib/cli/test_cli.c > lib/cli/test_cli_clippy.c.tmp
	gcc -std=gnu11 -DHAVE_CONFIG_H  -DSYSCONFDIR=\"/etc/frr/\" -I. -I..  -I.. -I.. -I../lib -I../lib -I../tests/helpers/c -I../tests/helpers/c -O   -g -Os -fno

[2017-08-17 11:36] dslicenc commented on #995
This can happen if there is unidirectional traffic.  Could you ping the unicast address to check reachability, as well as run tcpdump on both switches looking for the ospf packets inbound?

[2017-08-17 11:37] ne-vlezay80 commented on #995
ping мужду роутерами проходит нормально.

[2017-08-17 14:10] donaldsharp commented on #943
@lunn - https://github.com/FRRouting/frr/pull/1000  This should improve behavior somewhat.  Things are still wrong though.  The FIFO is actually being used as a FILO in some places which makes it wrong still.  I'll work on that next ( hopefully this evening )

[2017-08-17 14:10] donaldsharp commented on #968
https://github.com/FRRouting/frr/pull/1000

@mTaleqani  This might fix the issue.  There are still other issues that need to be addressed, we are sending packets out of order in some cases.  I'll work on that next.

[2017-08-17 14:48] #951 closed

[2017-08-17 22:43] ne-vlezay80 opened #1004 "zebra: increasing label stack depth"
Изменил в:
zebra/zebra_mpls.h:
#define MPLS_MAX_LABELS 2
на
#define MPLS_MAX_LABELS 4

При попытке создать маршрут, получаю следующее:
ne-vlezay80(config)# ip route 1.1.1.2/32 192.168.1.3 label 100/200/311/400

Однако в ядре:
1.1.1.2  encap mpls  100/200/0/129 via 192.168.1.3 dev test0 proto static metric 20

Скажите пожалуйста, что ещё в коде надо изменить, чтобы увиличить колличество меток, кото

[2017-08-18 00:05] rwestphal commented on #1004
You probably need to update your Linux kernel. Take a look at these links:
https://patchwork.diac24.net/patch/2305/
https://lists.frrouting.org/pipermail/dev/2017-April/000575.html
https://www.spinics.net/lists/netdev/msg427881.html

[2017-08-18 00:40] devicenull opened #1005 "`clear bgp` help is wrong"
[code]
The descriptions for everything from the A.B.C.D line to view seems to be incorrect

[2017-08-18 07:36] mTaleqani commented on #968
@donaldsharp EIGRP Neighborship Cycling problem is fixed.
Thanks.

[2017-08-18 07:46] mTaleqani opened #1006 "EIGRP Does not Learn EIGRP External Route"
i did redistribute ospf routes into eigrp in a cisco router that has an EIGRP adjacency with FRR, although cisco sent eigrp external routes in an update packet and frr acked the updates, but the external routes are not shown in frr.

[2017-08-18 10:22] donaldsharp commented on #1006
@mTaleqani Just another issue that needs to be fixed :)  On my list of stuff to do eventually

[2017-08-18 10:49] #968 closed

[2017-08-18 11:02] ne-vlezay80 commented on #1004
The kernel is updated to 4.12.6.

[2017-08-18 19:03] donaldsharp commented on #943
@lunn -> check out #1010 it improves the sending of reliable packets

[2017-08-18 19:28] lucize commented on #1006
I'm testing on new Ubuntu 17.04 and it crashes quite quickly with

[code]

[2017-08-18 19:29] donaldsharp commented on #1006
@lucize is this with PR #1010 or not?

[2017-08-18 19:33] lucize commented on #1006
sorry, I didn't verified the PR, it was a git clone
I'll build it right now

[2017-08-18 19:54] lucize commented on #1006
still

[code]

[2017-08-19 18:44] donaldsharp commented on #1006
@mTaleqani @lucize let's try #1011

[2017-08-19 21:02] diivious commented on #1006
There is a fair bit of work needed for EIGRP to support external routes. #1011 only fixes the crash issue by essentially "discarding" the external routes.

[2017-08-19 21:13] donaldsharp commented on #1006
Yes #1011 fixes the crash not the external route issue

[2017-08-19 21:44] diivious commented on #1006
by the way - just looked, and the change to discard externals is not in eigrp_update/query.c
So at L259 if you get  EIGRP_TLV_IPv4_EXT, you will crash still...

[2017-08-19 22:20] lucize commented on #1006
the crash is gone, eigrp routes are in, no external, but hey..

[code]

[2017-08-20 06:49] mTaleqani commented on #1006
For me it is still crashing when eigrp external route is received.

Tests are done on frr master.
[code]

[2017-08-20 09:06] lucize commented on #1006
try to add #1014
git pull origin pull/1014/head

[2017-08-20 10:25] donaldsharp commented on #1006
I've pushed in #1014 let us know if this fixes the crash

[2017-08-20 10:45] mTaleqani commented on #1006
by using #1014 , no eigrpd crash happens but still no eigrp external routes learned.

[2017-08-20 11:22] donaldsharp commented on #1006
@mTaleqani yep, we are working on handling of external routes, hopefully within a week.

[2017-08-21 08:20] tokarenkos commented on #995
Скорей всего не ходит\фильтруется Multicast между маршрутизаторами

[2017-08-21 11:37] dslicenc commented on #995
"Most likely does not go \ filtered Multicast between routers"

Are the well-known multicast range also filtered? (224.0.0.0-224.0.0.255)
OSPF uses 224.0.0.5 (all OSPF routers) and 224.0.0.6 (all OSPF DR routers) for neighbor establishment.

[2017-08-21 12:22] #1005 closed

[2017-08-22 13:24] eqvinox commented on #519
moved to https://github.com/FRRouting/frr/wiki/Feature-Requests

[2017-08-22 13:24] #519 closed

[2017-08-22 13:24] eqvinox commented on #504
moved to https://github.com/FRRouting/frr/wiki/Feature-Requests

[2017-08-22 13:24] #504 closed

[2017-08-22 14:24] donaldsharp commented on #943
I have just built a 8 node line r1 - r2 - r3 - r4 - r5 - r6 - r7 - r8 and am not seeing this crash
robot# show ip route
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, P - PIM, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel,

E>* 192.168.3.0/24 [0/0] via 193.1.7.2, r8-eth1
E>* 193.1.1.0/26 [0/0] via 193.1.7.2, r8-eth1
E>*

[2017-08-22 14:24] #943 closed

[2017-08-22 15:20] donaldsharp commented on #997
Can we get a config and log files associated with this issue?

[2017-08-22 19:26] devicenull opened #1027 "`sh bgp sum` only ipv4 + ipv6"
Notably, if you have EVPN sessions configured, they will not show up in `sh bgp sum`.  I'm not sure if this is intentional or not.

`sh bgp l2vpn evpn sum` displays them just fine.

[2017-08-22 20:51] rwestphal commented on #1004
Should be addressed by #1028. Could you give it a try?

[2017-08-22 20:51] devicenull opened #1029 "evpn: Allow setting next-hop address"
I have some machines that are dual homed, with two connections we'll call public and private.

They run BGP over the public network for connectivity to the outside world.  I'm setting up bgp evpn over the private network to create some isolated tunnels.

The issue I'm running into is that evpn appears to be choosing the next-hop address based on the router-id.  In my configurations, this is set to

[2017-08-23 13:55] eqvinox commented on #362
Can you please add output of:
- `show interfaces` in FRR
- `ip addr list` in system

[2017-08-23 14:57] eqvinox commented on #484
moved to https://github.com/FRRouting/frr/wiki/Feature-Requests

[2017-08-23 14:57] #484 closed

[2017-08-23 15:12] eqvinox commented on #962
simple solution: just include our own copies of the relevant linux kernel header files

[2017-08-23 17:52] cfra opened #1032 "isisd: show isis output misformatted for multipath"
<pre>192.168.101.0/24     IP TE        20     SimRtr11             enp0s20f0
                                         SimRtr13             enp0s20f0
                                         SimRtr0              enp0s20f0
                                         SimRtr21             enp0s20f0
                                         SimRtr28             enp0s20f0

[2017-08-23 17:57] cfra opened #1033 "isisd: improve performance of show commands or put them into separate thread"
For larger networks (observed with 3k nodes and 7k routes), some IS-IS show commands, e.g.  `show isis topology` take quite some time to run to completion.

This is problematic because it currently might delay transmission of IIH PDUs, leading to adjacency flaps if short hold-times are used. While using longer hold-times and BFD would be somewhat of a mitigation, convergence after a failure which

[2017-08-23 19:00] cfra opened #1036 "vtysh/zebra: weird command handling for `show ip route su`"
<pre>osr-perf4# show ip route su    <- ? was pressed here
  summary         Summary of all routes
  supernets-only  Show supernet entries only
osr-perf4# show ip route su      <- return was pressed here
Route Source         Routes               FIB  (vrf Default-IP-Routing-Table)
kernel               1                    1
connected            6                    2
------
Totals               7

[2017-08-23 19:05] cfra commented on #980
Got full 7072 routes with master-2017-08-23 when I started frr while ixia was already running. Still investigating for other sequences and for stable/3.0

[2017-08-23 19:34] alliedtech commented on #651
Here I share my configuration. I made it against a juniper and the same thing happens to me. I see the routes of the juniper vrf arrive but the juniper does not see the frr. Will they have a date for this feature?

Juniper
root> show bgp neighbor 10.247.255.59
Peer: 10.247.255.59+179 AS 65535 Local: 10.247.255.51+62604 AS 65535
  Type: Internal    State: Established    Flags: <Sync>
  Last State:

[2017-08-23 20:46] devicenull commented on #1029
This is accomplished by setting the 'local' address when you create the vxlan interface... for example:

````ip link add 599c8121c9f37 type vxlan id 128476 nolearning port 4789 4789 local 10.0.0.1````

Would change this so the next hops are set to 10.0.0.1, rather then whatever the "default" IP of the machine ends up being.

[2017-08-23 20:46] #1029 closed

[2017-08-24 12:58] #319 closed

[2017-08-24 12:58] #437 closed

[2017-08-24 12:58] #453 closed

[2017-08-24 12:58] #543 closed

[2017-08-24 12:58] #971 closed

[2017-08-24 12:58] #991 closed

[2017-08-24 13:29] rburkholder opened #1039 "' #define MULTIPATH_NUM 256' error with gcc 7.2.0 build on git master"
# gcc --version
gcc (Debian 7.2.0-1) 7.2.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

on Debian Buster:

libtool: compile:  gcc -std=gnu11 -DHAVE_CONFIG_H -DSYSCONFDIR=\"/etc/frr/\" -DCONFDATE=20170824 -I. -I. -I./lib -I. -I./lib -Werror -g

[2017-08-24 13:30] rwestphal commented on #1039
Thanks for the bug report.

This has already been fixed by #1038. Please update your repository and try building FRR again.

[2017-08-24 14:01] #1039 closed

[2017-08-24 14:18] #1004 closed

[2017-08-24 16:55] rwestphal commented on #776
Addressed by #1028. Thanks everyone.

[2017-08-24 16:55] #776 closed

[2017-08-24 16:56] rwestphal commented on #530
Addressed by #1028. Thanks everyone.

[2017-08-24 16:56] #530 closed

[2017-08-25 23:54] eqvinox opened #1048 "remove extraneous dependencies from install docs"
just for note taking: we don't need the following anymore:
- gmake (except on Solaris; BSD/POSIX make is sufficient)
- dejagnu
- gawk (except for the Debian package foo)
- openssl (why was this ever on the list?)

[2017-08-25 23:59] eqvinox commented on #1048
also, libexecinfo is "strongly recommended" on freebsd9 & openbsd6
(no backtraces otherwise)

[2017-08-26 01:52] mwinter-osr opened #1050 "ISIS IPv6: Not passing unrecognized TLV values (ANVL ISISv6 2.18)"
IS-IS requires that any codes in a received PDU that are not recognized are ignored and passed through unchanged

Reference: `RFC 1195 S3.1 P15 Exchange of routing information`

This used to work, but the recent changes to ISIS breaks it partially. Just running this simple test on it's own still works correctly, but running another tests (ISISV6-2.14) before this one, causes it to fail and not pas

[2017-08-26 17:01] louberger opened #1052 "VPN route not always propagated to peer in LabN BGPD CI test"
First seen on pull request #1023. as stated there, the speculation is that this was actually introduced by PR   #939 .

Topology is CE4<--(bgp unicast safi)-->PE/GW2<--(vpn safi)-->NVA0<--(vpn safi) -->PE/GW3<--(unicast safi) -->CE5

o Scenario:
1. Add 10 static routes CE4
2. Add VNC route NVA0
3. Confirm NVA0 sees GW2 imported CE4 routes (over vpn safi) and CE5 sees 10 unicast routes
4. Withdraw

[2017-08-26 17:34] louberger commented on #1052
feels like a timer / list race condition.  Attached valgrind reported losses are the same (I think) each time the failure occurs...
[bgpd-2017-08-25-09-17-17.127.0.0.132.valgrind.txt](https://github.com/FRRouting/frr/files/1253850/bgpd-2017-08-25-09-17-17.127.0.0.132.valgrind.txt)

[2017-08-26 18:02] louberger opened #1053 "bgpd connection collision doesn't resolve itself"
seen on master (d9e5b009554f99230be1eee62daf098403c3cadf) with 8 node full mesh (vpn safi only)

Node 1:

node 2:

[2017-08-27 13:14] louberger opened #1055 "Build system: Parallel make occasionally fails with clippy related error"
LabN CI builds using make -j <2*#cores> on an 8 core machine

Periodically seeing make failures along the lines of

from: 2017-08-26-16:00:08

from: 2017-08-25-18:30:09

from: 2017-08-23-12:40:07

from: 2017-08-22-16:10:08

[2017-08-27 16:57] eqvinox commented on #1055
none of these have sufficient information for me to tell exactly what's going wrong, i'd need more output (specifically, farther up where the "sub-make"s are started). However,

- 1st and 4th are very likely cross-directory dependency problems which will (and can only) be fixed when the move to non-recursive is complete. The problem is very simple; bgpd is depending on clippy, which is in lib/, an

[2017-08-27 17:20] #1036 closed

[2017-08-27 21:54] louberger commented on #1055
Almost full make output...
[make-2017-08-26-16_00_08.out.txt](https://github.com/FRRouting/frr/files/1254741/make-2017-08-26-16_00_08.out.txt)

[2017-08-27 22:04] ne-vlezay80 opened #1057 "MPLS в FreeBSD"
Собственно, вопрос в том, откуда у Вас информация о том, что во FreeBSD добавленна или добавляется поддержка MPLS? У меня есть информация о том, что в FreeBSD MPLS не разрабатывается. Если Вам так нужен MPLS в FreeBSD, я предлагаю написать питицию разработчикам FreeBSD на charge.org.

[2017-08-28 00:21] eqvinox commented on #1057
FreeBSD MPLS support is already listed on https://github.com/FRRouting/frr/wiki/Feature-Requests

If you want to try and find someone to write the code for it, please go ahead. We will be happy to accept a pull request with the appropriate changes.

[2017-08-28 00:21] #1057 closed

[2017-08-28 01:04] louberger commented on #1052
Able to reproduce this about 7% of the time on master (c3f779dc1). (18 out of 244)

After 163 runs unable to reproduce on master prior to pull request #939 merge (commit 57a553fd9)

[2017-08-28 01:23] eqvinox commented on #1055
That's not from the second run though, there's no "File truncated" error in there. This is probably from the 1st run you pasted; there I'm reasonably sure it's due to cross-directory-dependencies.

[2017-08-28 01:24] eqvinox commented on #1055
Right, the timestamp is actually the same as the 1st run. The one where I need more output to be able to say anything is the one dated `2017-08-25-18:30:09`

[2017-08-28 02:50] louberger commented on #1055
Well that should be enough, but here's the 2nd one...
[make-2017-08-25-18_30_09.txt](https://github.com/FRRouting/frr/files/1254984/make-2017-08-25-18_30_09.txt)

[2017-08-28 04:11] eqvinox opened #1061 "zebra fails to recognize its own routes after crash"
- configure static route in zebra
- kill zebra
- restart it

=>
[code]

[2017-08-28 04:23] eqvinox commented on #1061
it's trying (and failing) to delete the route:
[code]

[2017-08-28 13:41] lucize opened #1062 "all routing daemons are stopped after a crash"
using only frr.conf as a config file  (with dpkg-buildpackage default options) if one daemon crashes the others will be stopped also
had a recent crash on eigrp after ~3 days of uptime and after the crash rip would not work anymore
it only tries to restart once more

[code]

[2017-08-28 14:09] ne-vlezay80 commented on #362
ne-vlezay80# sh interface
Interface eth0 is up, line protocol is up
  Link ups:       0    last: (never)
  Link downs:     0    last: (never)
  PTM status: disabled
  vrf: Default-IP-Routing-Table
  index 2 metric 0 mtu 9000 speed 4294967295
  flags: <UP,BROADCAST,RUNNING,MULTICAST>
  Type: Ethernet
  HWaddr: 52:54:00:5d:81:90
  Interface Type Other
  Master (bridge) ifindex 4
Interface eth1 is up

[2017-08-28 14:40] ne-vlezay80 opened #1063 "vrf в netns"
Дело в том, что vrf который есть в операционной системе linux, имеет баг при работе с ipv6, это касается того, что если перезагрузить роутер, хосты с ipv6 тогда станут недоступны. Почему бы не реализовать vrf на базе network namespaces? Дело в том, что network namespaces является полноценным сетевым стеком, так что там можно запускать даже MPLS. А также в network namespaces можно запускать разные

[2017-08-28 14:51] devicenull opened #1064 "`show bgp l2vpn evpn json` doesn't work"
I don't seem to get any output when I specify json, but the normal route list works fine:

<pre>
# show bgp l2vpn evpn json
No prefixes displayed, 0 exist
# show bgp l2vpn evpn
Route Distinguisher: ip 172.20.3.176:1

*> [3]:[0]:[32]:[172.20.3.176]
                    172.20.3.176                           0 64515 i
Route Distinguisher: ip 172.20.3.176:1

*> [3]:[0]:[32]:[172.20.3.170]

[2017-08-28 22:18] cfra commented on #1050
Good catch. Since the commit identified by git bisect is relatively small, I think I might have been able to identify and fix the cause. Could you verify whether the issue still occurs on https://github.com/opensourcerouting/frr/tree/isisd-fix-confusion-purge ?

[2017-08-28 22:37] #326 closed

[2017-08-29 03:09] mwinter-osr commented on #1050
Yes, issue is fixed in the specified git tree.
Running a full ISIS check to see if there are any side effects - will have the results for this in the morning. Please get a PR with the fix submitted.

[2017-08-29 10:10] jhiggins-NZ opened #1068 "Enhancement - Logical interface & vrf creation via Zebra"
Foreword:
- I know its unlikely to happen, but just to add to https://github.com/FRRouting/frr/wiki/Feature-Requests in case it ever does.
.
.
Enhancement:
- As a user I would like to create VRFs, Tunnels, Loopbacks, Sub-interfaces, VLAN interfaces / BVIs & VLANs / Bridges etc, from the CLI.
- This would then be reliably signalled to Linux kernel via netlink.
- Upon configuration being saved, it w

[2017-08-29 11:28] louberger commented on #1052
I think the issue is STAILQ_INSERT_TAIL being called for a wg from within  the *same* queue handler callback (bgp_process_wq) - see pull for how avoided, but root cause is still to be fixed.

[2017-08-29 11:45] k0ste commented on #1068
I think about it more than 5 years :)
ppp, 802.3ad is also will be in demand.

I against this. Because not all live in debian world. For example [netctl](https://github.com/k0ste/ansible-role-netctl) or [network-scripts](https://github.com/k0ste/ansible-role-network-scripts) is profile-based network manager.
I think `frr` should manage all type of ip links and save his configuration in zebra.conf.

[2017-08-29 15:16] donaldsharp commented on #1052
Lou has a proposed fix and is testing it.  Once it reaches `good enough` a PR will be submitted(#1067).

The safe walking is the issue.

We need to make sure that RN doesn't show up on multiple work queues. and we need to look at FOREACH_STAIL_SAFE is handled properly in workqueue.c

[2017-08-29 15:19] donaldsharp commented on #1053
@rwestphal is also seeing this issue.  was able to bisect to offending commit, attempting to figure out if this problem exposed the issue or if it is a pre-existing condition. (PR #895 is the suspect)

[2017-08-29 15:23] donaldsharp commented on #1062
@lucize what tool are you using to start/stop the scripts as that this affects what to look at to fix.

I suspect he is using systemd and we've hit the limit of restarts

[2017-08-29 15:24] donaldsharp commented on #1063
The thing is that vrf, which is in the linux operating system, has a bug when working with ipv6, this means that if you reboot the router, hosts with ipv6 will then become inaccessible. Why not implement vrf based network namespaces? The point is that network namespaces are a full-fledged network stack so that even MPLS can run there. And also in network namespaces you can run different applicatio

[2017-08-29 15:24] cfra commented on #1050
Opened PR #1072

[2017-08-29 15:25] donaldsharp commented on #1063
Then let's fix the bug in v6 handling in the linux kernel.  Additionally there is already a bug open to allow netns to act as vrf's.

[2017-08-29 15:25] #1063 closed

[2017-08-29 15:25] donaldsharp commented on #1064
This is fixed in #998

[2017-08-29 15:26] donaldsharp commented on #1068
If someone wants to implement this that would be fine.

[2017-08-29 15:28] donaldsharp commented on #1068
Additionally this would be a fairly major project that would need work across all platforms.  Feature request added to the wiki

[2017-08-29 15:28] #1068 closed

[2017-08-29 15:43] lucize commented on #1062
is an ubuntu 17.04, cloned the repo, edited debian/control file to eliminate the obsolete dependencies and after that

[code]

the <daemon>.conf files are ignored so I used frr.conf (`vtysh# wr`)
on centos 6 the ripd daemon is still alive after eigrpd crash, but I think that watchfrr is only restarting eigrp

[2017-08-29 15:47] donaldsharp commented on #980
This has been a long-standing issue, should we just document this as opposed to making this a 3.0 release gating issue?

[2017-08-29 15:50] lucize commented on #1062
by the way, I can quickly crash it

[code]
if I have this

[code]
but is seems that is taking time (highest uptime was 3 days) with

[code]

I change it to /24 because I had a weird  loop with /8, the loop was seen only today so I don't know how to reproduce it

[2017-08-29 15:55] lucize commented on #1062
Yes, is complaining that is restarting too quickly

[2017-08-29 15:57] donaldsharp commented on #1052
Donald to look at workqueue stuff

[2017-08-29 17:19] donaldsharp commented on #1052
The workqueue is only used in 2 places besides bgp:
1) The metaqueue processing in zebra_rib.c.  There is a guard to only allow 1 item on the queue ever
2) lsp processing in zebra_mpls.c.  There is a guard to not allow more than 1 lsp on the list at a time.

I believe we are good from the workqueue perspective.

[2017-08-29 18:04] eqvinox commented on #1064
#998 merged, closing

[2017-08-29 18:04] #1064 closed

[2017-08-29 23:54] mwinter-osr commented on #902
Response to `platform.uname()`:

    ('SunOS', 'ci010', '5.11', 'omnios-f79e06d', 'i86pc', 'i386')

[2017-08-30 02:31] mwinter-osr commented on #1055
Here is another parallel build issue:

	29-Aug-2017 19:24:47	libtool: link: gcc -std=gnu11 -g -Os -fno-omit-frame-pointer -funwind-tables -Wall -Wextra -Wmissing-prototypes -Wmissing-declarations -Wpointer-arith -Wbad-function-cast -Wwrite-strings -Wno-unused-result -Wno-unused-parameter -Wno-missing-field-initializers -pthread -rdynamic -o lib/.libs/test_table lib/test_table.o  ../lib/.libs/libfr

[2017-08-30 19:03] devicenull opened #1082 "unreachable routes being learned"
I upgraded our frr installs to HEAD as of like 3 hours ago, and they all started learning this route from the kernel:

    unreachable ::/96 dev lo  metric 1024  error -113
    K>* ::/96 [0/1024] is directly connected, lo

Did something break where unreachable routes are now being learned as valid?

[2017-08-30 19:30] donaldsharp commented on #1082
what does `ip route show` return for us in this situation?

[2017-08-30 20:36] devicenull commented on #1082
That's the K>* line there

[code]

[2017-08-30 21:39] donaldsharp commented on #1082
Sorry I wasn't specific enough.  This is what zebra thinks the kernel table looks like.  I'd like to see what the kernel thinks it's routing table looks like.  Hence the request for `ip route show`.  From the unix cli issue that command?

[2017-08-30 22:41] devicenull commented on #1082
That's the first line there ;)

    # ip -6 route | grep 96
    unreachable ::/96 dev lo  metric 1024  error -113

[2017-08-31 20:28] cfra commented on #1050
PR merged, so closing this.

[2017-08-31 20:28] #1050 closed

[2017-08-31 20:53] cfra commented on #902
https://github.com/opensourcerouting/frr/tree/isisd-fix-solaris-tests can you verify if the issue is fixed on this branch?

[2017-08-31 22:59] cfra commented on #1032
Opened PR #1088 for this.

[2017-08-31 23:28] #947 closed

[2017-08-31 23:47] #1082 closed

[2017-09-01 00:57] mwinter-osr commented on #902
Not yet fixed. Error is unchanged.
Providing access details for test system to Chris by email

[2017-09-01 11:49] #1032 closed

[2017-09-01 14:23] dwalton76 opened #1091 "zebra: static routes to Null0 not installed"
I have these statics configured
[code]

but none are installed
[code]

I then configure one with lowercase `null0` instead of `Null0`
[code]
it gets converted to blackhole
[code]

and is installed
[code]

[2017-09-01 20:29] ajayslele opened #1094 "Zebra FIB push interface documentation mentions non-existent --fpm_format command-line option"
Zebra FIB push interface documentation [0] mentions --fpm_format command-line option for zebra which does not seem to exist (anymore?)

I can see options --enable-fpm and --enable-protobuf while running ./configure

$/usr/lib/frr/zebra -h
Usage: zebra [OPTION...]

Daemon which manages kernel routing table management and
redistribution between different routing protocols.

  -h, --help         Disp

[2017-09-01 22:35] ajayslele commented on #1094
Ok this option exists in stable/2.0 but seems to have got removed from stable/3.0 which I was using by https://github.com/FRRouting/frr/commit/4f8ea50c0d97e8f339b40d95ce428f4ffd66ba76

[2017-09-01 23:09] rwestphal commented on #1094
Thanks for the bug report, we need to update the documentation.

Please try this:
[code]

You need to specify the FPM module when starting zebra and provide the desired route format as a parameter (:format).

[2017-09-02 00:09] cfra commented on #902
I have updated the isisd-fix-solaris-tests branch on our git. I think it is working correctly on all platforms now. Can you run the full CI including solaris against it? When it passes, I'll open a pull request.

[2017-09-02 06:54] mwinter-osr commented on #902
Confirmed fixed. Thanks. Please open PR

[2017-09-05 08:21] tigranmartirosyan opened #1101 "bgpd: unremovable neighbors"
Hi

we faced some strange thing with Cumulus Quagga, and suspect same problem can be in the FRR and would like to fix for the FRR actually,
but not sure how to reproduce / collect info.

There is one bgp neighbor which is not possible to delete

`pmx2-lc(config-router)# no neighbor 169.254.3.158
`

this command passes without any error, but neighbor stays in the config
[code]

That neighbor is not

[2017-09-05 12:12] donaldsharp commented on #1101
@dwalton76 I thought you had fixed this already?

[2017-09-05 14:07] tigranmartirosyan commented on #1101
No, it is not fixed yet. We cannot reproduce this problem on our dev environment. 3 days ago we had such kind of problem for one of our customer. We did not restart the quagga daemon to collect more  information regarding this issue.
What information should I collect to better troubleshoot the source of the issue ?
Could you also suggest me in which part of the source code should I look at ?

[2017-09-05 15:07] donaldsharp commented on #1094
We need to have a 2.0 and 3.0 user guides that are separate( one for each line of development )

[2017-09-05 15:12] donaldsharp opened #1103 "large-community regex crash"
Applying a large-community regex causes bgp to crash when it attempts to a `lcom->str` value that points at an invalid pointer.
[code]

[2017-09-05 15:16] donaldsharp commented on #1103
asan as a possible way to test this out?  We will work with Nigel to get this installed on the system.

[2017-09-05 15:34] eqvinox opened #1104 "warn about metric value ranges"
we need a warning on the *combined* condition of "route-map is used in protocol XYZ" and "route-map contains metric value not supported by protocol"

=> needs to trigger on both activation of a existing route-map in a protocol, but also on adding a new metric statement in a route-map that is in use

[2017-09-05 15:55] donaldsharp opened #1106 "Add contrib directory"
Add contrib directory and some documentation about it's use at your own risk

[2017-09-05 16:01] donaldsharp commented on #1106
licensing -> gpl or mit ( compatible with current gpl ).  Exclude contrib from source tarballs?

[2017-09-05 16:19] #1053 closed

[2017-09-05 16:54] #1091 closed

[2017-09-05 17:06] dwalton76 opened #1107 "ripd: build broken in ripd/rip_routemap.c"
[code]

[2017-09-05 17:07] dwalton76 commented on #1107
came in via https://github.com/FRRouting/frr/commit/6a74c5f9db107b7c71705a691b82830a658a91fb

[2017-09-05 18:27] #1107 closed

[2017-09-05 21:10] aaronjwood opened #1109 "Static build fix from another repo"
Is this repo the successor of https://github.com/CumulusNetworks/quagga? I have https://github.com/CumulusNetworks/quagga/pull/30 open and noticed that the other PR on that repo mentions using frr instead https://github.com/CumulusNetworks/quagga/pull/25#issuecomment-287656537

If this is where I should be submitting my patch are people open to this change?

[2017-09-05 21:14] donaldsharp commented on #1109
please submit the PR to FRR.  I missed the notification to the cumulus repo.  We do not do any work there anymore.

[2017-09-05 21:28] aaronjwood commented on #1109
Thanks, will do!

[2017-09-05 21:52] aaronjwood commented on #1109
Static builds seem to work fine here. Guess there's no need for a patch :)

[2017-09-05 21:52] #1109 closed

[2017-09-06 00:57] #1061 closed

[2017-09-06 04:06] ajayslele commented on #1094
@rwestphal @donaldsharp Thx for your comments. Will use the -M option when using the 3.0 train. Agree that it will be helpful to maintain different versions of user-guides for the different trains. If this is available, I will be happy to submit updated doc for 3.0 train for this ticket

[2017-09-06 17:07] dwalton76 opened #1112 "zebra: same IP on multiple interfaces is broken"
We used to have this behavior
[code]

but today not all of the paths make it into zebra
[code]

I did a bisect, this broke via https://github.com/FRRouting/frr/pull/1090/commits/a3d18ce6b0810ad91e3d99bcb86e56cb6d6903a0

[2017-09-07 01:26] nkukard commented on #1103
Below asan output....

[code]

[2017-09-07 01:29] nkukard commented on #1103
![screenshot_20170907_012125](https://user-images.githubusercontent.com/2354782/30141582-ea960118-936b-11e7-9812-a28049a14be6.png)

[2017-09-07 07:29] paolss opened #1114 "UPDATE Message Error/Attribute Length Error"
Hi

Today some as used really long as-path and crashed alll ibgp connections
Is there possible to implement as-path len filter on frr ?
017/09/07 07:47:27 BGP: %NOTIFICATION: received from neighbor 192.168.0.1 3/5 (UPDATE Message Error/Attribute Length Error) 3298 bytes 50 02 0c de 02 ff 00 00 0c b9 00 00 00 ae 00 04 00 3e 00 04 00 3e 00 04 00 35 00 04
00 35 00 04 00 35 00 04 00 35 00 04 00 35 00

[2017-09-07 07:44] oleg-umnik commented on #1114
Got this on rather ancient Quagga today.

[2017-09-07 07:46] paolss commented on #1114
I'v  got this on
FRRouting (version 3.1-dev)

show version
FRRouting 3.1-dev (BGP).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
     '--disable-ripd' '--disable-ripngd' '--disable-ospfd' '--disable-ospf6d' '--disable-eigrpd' '--disable-babeld' '--disable-pimd' '--disable-isisd'

[2017-09-07 07:47] paolss commented on #1114
And the problem is that all ibgp sessions goes down then

[2017-09-07 08:51] oleg-umnik commented on #1114
Looks like really huge AS4 prepend by AS262197. UPDATE was received from IP-transit provider (eBGP), but choke iBGP peers.

(Be patient while loading) https://stat.ripe.net/data/bgplay/data.json?resource=AS262197&starttime=1504760781&rrcs=1

See also: https://lists.quagga.net/pipermail/quagga-users/2009-May/010593.html

[2017-09-07 09:30] eqvinox opened #1115 "systemd service file watchdog setting needs to depend on --enable-systemd"
The WatchdocSec setting in redhat/frr.service and tools/frr.service needs to depend on the --enable-systemd configure option (or be disabled by default)

Can be done by making this an AC_SUBST var and preprocessing as `frr.service.in`

[2017-09-07 11:11] eqvinox commented on #1103
the warnings about shifts are correct an we ought to fix that, but they're unlikely to be the origin of the use-after-free.

[2017-09-07 11:24] donaldsharp commented on #1103
I am going to cherry-ick 02cd9458d6de1c86f8cd1f6f08406348d2994486 into 3.0.  Then I will look at the other issues.

[2017-09-07 13:25] louberger opened #1117 "bgpd: route map changes not propagated to existing static network (ipv4 unicast tested)"
1.  add route map, e.g.

2. advertise static network, e.g.

3. modify route map, e.g.,

4. add new static network, e.g.

5. wait some time (minutes)

6. see that only new static net is impacted by route map change

[2017-09-07 13:33] louberger opened #1119 "bgp: VNC code doesn't import/export regular or large communities"
VNC code wasn't updated when large communities were added so doesn't do the right thing with them (ecommunities works).

Regular communities are also not propagated, need to check RFC if this is proper behavior.

[2017-09-07 14:22] dwalton76 opened #1121 "pimd: igmp reports not processed"
Something in https://github.com/FRRouting/frr/pull/1044 broke igmp, the LHR no longer shows any groups as joined.

[2017-09-07 14:26] louberger opened #1123 "bgp: vnc encoding of encap tlvs needs to be updated to latest draft"
bgp_encap_tlv was written against draft-rosen-idr-tunnel-encaps. draft is now at draft-ietf-idr-tunnel-encaps-07 , notably the format of the Remote Endpoint Sub-TLV  has changed where the AS number is placed.  Also verify that net to host / host to net order is preserved.

[2017-09-07 14:50] donaldsharp commented on #1121
https://github.com/FRRouting/frr/pull/1044/commits/e691f179b6c6fc26536e68958f19ff6983a03274 causes the regression

[2017-09-07 16:11] lucize commented on #958
@eqvinox can you have a look at python dependencies on clippy ? If I set the path manually on configure.ac is working, but if it can work without python dev on host would be awesome
I backported eigrp to 3.0 but (it does compile but has other dependencies in tree) but I think I would have better spent my time on clippy

[2017-09-07 16:59] donaldsharp commented on #1103
@nkukard let us know if the fix from @eqvinox solves this issue like we think it does

[2017-09-07 18:04] #1121 closed

[2017-09-07 19:19] #1112 closed

[2017-09-07 19:41] patrick7 opened #1130 "Strange behavior if bgp port is already used"
After I entered the BGP config into FRR, "show run" didn't show anything BGP related.

This was caused by bird blocking port 179. There should be a message from vtysh. I think just send the configuration to devnull if the BGP port already is used is a bad idea.

[2017-09-07 20:10] devicenull opened #1131 "bgp_debug_update very expensive"
I was testing bgp with ~400 peers and loading a full v4+v6 table.  I generated a [flame graph](https://github.com/FRRouting/frr/files/1285995/bgpd.zip), and weirdly it seems that bgp_debug_update is using a bunch of CPU.

The graph seems to indicate that it's also doing some kind of TCP communication whenever this get's called.

It's possible I'm misreading this, any ideas?

[2017-09-07 20:11] devicenull commented on #1131
If it helps, I pulled this from perf script:

bgpd 10204 [001] 878614.523558:   10101010 cpu-clock:
            7fff81381619 iov_iter_init+0x80007f002029 ([kernel.kallsyms])
            7fff81237b57 __vfs_write+0x80007f0020a7 ([kernel.kallsyms])
            7fff81237c51 vfs_write+0x80007f0020c1 ([kernel.kallsyms])
            7fff81239386 sys_write+0x80007f002056 ([kernel.kallsyms])
            7f

[2017-09-07 20:42] devicenull commented on #1131
And this graph is after I patched bgp_debug_update to just return 0 without doing anything:

[nodebug.zip](https://github.com/FRRouting/frr/files/1286045/nodebug.zip)

In my environment, without this patch bgpd does it's initial convergence in 203s.  With bgp_debug_update disabled, it happens in 189s

[2017-09-07 20:52] devicenull commented on #1130
I've run into this a few times myself

[2017-09-07 21:06] qlyoung commented on #1130
The configuration should show if bgpd is running. I suspect the scenario is that bgpd dies because it cannot bind to the port, in which case there should be a message in the log file. Can you check?

[2017-09-08 00:14] donaldsharp opened #1135 "ospfv3 is failing in topotests"
Address Sanitizer is returning this: ```2017/09/07 17:05:58 OSPF6: SPF: Scheduled in 0 msec

r2: ospf6d triggered an exception by AddressSanitizer
ERROR: AddressSanitizer: heap-use-after-free on address 0x61000000d070 at pc 0x00000042e8ca bp 0x7ffeafa44df0 sp 0x7ffeafa44de0
READ of size 4 at 0x61000000d070 thread T0
    #0 0x42e8c9 in ospf6_intra_brouter_calculation ospf6d/ospf6_intra.c:1559
    #

[2017-09-08 00:51] nkukard opened #1136 "Running bgpd manually and using vtysh -b -n throws an error"
Using 3.0-rc1 and running bgpd manually, then running vtysh -b -n gives the below error
[code]

[2017-09-08 01:10] nkukard commented on #1136
Here is my frr.service file...
[code]

Here is my daemon config file...
[code]

I killed bgpd once started and ran it manually with...
[code]

Here is the top part of my frr.conf file...
[code]

[2017-09-08 07:19] nkukard commented on #1103
Confirmed fixed with #1116

[2017-09-08 11:19] eqvinox commented on #1103
*closing*

[2017-09-08 11:19] #1103 closed

[2017-09-08 11:27] subsecond opened #1138 "Multiple "no log monitor" lines in "show run""
Using the latest version in branch stable/3.0 we see several lines with `no log monitor` when issuing `show run`:

[code]

This line only shows up once when looking at `/etc/frr/frr.conf`:

[code]

[2017-09-08 11:57] donaldsharp commented on #1114
Proposed Patch:

https://github.com/donaldsharp/frr/commits/bgp_aspath

If you are affected by this issue, please give it a try.

[2017-09-08 12:03] ashleytayles opened #1139 "OSPFv3 not working on VPN interfaces"
Hi all,

I have a VPN between two Ubuntu Servers (16.04.03) that I route over. I have OSPFv2 set up just fine, however OSPFv3 absolutely refuses to send hello packets.

The topology;
TAYLES-RTR-LON1 <------- VPN over WWW -------> TAYLES-RTR-FRA1

Ifconfig output:
[code]
[code]

Proof of connectivity:
[code]

tcpdump shows OSPFv2 hello, but no OSPFv3 hello.

[code]
[code]

The configuration:
[code]

[2017-09-08 12:25] donaldsharp commented on #1139
@ashleytayles -> OSPFv3 assumes that the Interface in question has a link local address:
[code]
else it will never bring up the interface for usage.  From the above output I do not see a LL address for the interface.

[2017-09-08 12:33] eqvinox commented on #1139
@ashleytayles your configuration is in violation of RFC 4291 section 2.1:
https://tools.ietf.org/html/rfc4291#section-2.1
[code]

Please add an IPv6 link-local address and it should work just fine. If it still doesn't, please reopen this issue :)

[2017-09-08 12:33] #1139 closed

[2017-09-08 12:36] nkukard opened #1140 "No documentation exists for large community support"
I'm busy working on this

[2017-09-08 13:02] ashleytayles commented on #1139
Thanks guys, I was unaware of this requirement and used to physical interfaces EUI'ing the link locals! Thank you for your time and knowledge.

[2017-09-08 13:12] eqvinox commented on #1055
make-2017-08-25-18_30_09.txt

[code]

This is not a clippy error, it's flex/bison-related. I'll look into it, but I may need the `Makefile` generated on your system (a lot of this shit is specific autoconf/automake versions & can even depend on other completely unrelated packages installed.)

[code]
Same here, something in general seems to be buggy...

[2017-09-08 13:22] eqvinox commented on #1055
So, for all of the issues @louberger reported I'm 99% sure it's resulting from the fact that clippy is built independently, which can only be fixed when bgpd is included into the non-recursive build, which is somewhat annoying/complicated to do due to the VNC_RFP_LIB build monkeying.

The issue reported by @mwinter-osr is _not_ explained by that though...

[2017-09-08 13:26] devicenull commented on #1131
So, I was completely wrong here.  The incorrect version of perf was installed, so all the stack traces generated here were corrupt

[2017-09-08 13:26] #1131 closed

[2017-09-08 16:23] nkukard commented on #1106
The other option mentioned was a frr-contrib repository

[2017-09-08 16:33] donaldsharp commented on #1055
[frr_3.1-dev_amd64.build.txt](https://github.com/FRRouting/frr/files/1288528/frr_3.1-dev_amd64.build.txt)
I'm occassionally seeing the same issue that @mwinter-osr is seeing:
[code]

I've attached full build log.

[2017-09-08 16:42] eqvinox commented on #1055
this is the same as Lou is seeing. Basically, any issues with any of the following files is a known problem:
- lib/command_graph*
- lib/command_lex*
- lib/command_parse*
- lib/graph*
- lib/memory*
- lib/vector*

Martin is seeing a problem in tests/, that's a weird different problem.

[2017-09-08 19:05] donaldsharp commented on #1055
Our build servers have 40 cpu's so I was running sbuild -j40.  Modifying the j factor to -j2 allowed it to build today.  So definately a parallel build issue

[2017-09-08 20:30] subsecond opened #1146 "Warning: unrecognized options "--enable-tcp-zebra""
When building from branch stable/3.0 on Ubuntu 16.04 as per [setup instructions](https://github.com/FRRouting/frr/blob/stable/3.0/doc/Building_FRR_on_Ubuntu1604.md) one will get a warning that the option `--enable-tcp-zebra` is unknown.

Can we just remove that parameter from the configure options in the setup instructions?

[code]

[2017-09-08 20:35] subsecond opened #1147 "Warning: comparison between signed and unsigned int expression"
When building from branch stable/3.0 on Ubuntu 16.04 as per [setup instructions](https://github.com/FRRouting/frr/blob/stable/3.0/doc/Building_FRR_on_Ubuntu1604.md) and running `make` one will get the following warning:

[code]

The same warning will lead to build failure when running `debuild -us -uc` for example:

[code]

[2017-09-08 20:38] subsecond opened #1148 "Warning: implicit declaration of function "access_list_init""
When building from branch stable/3.0 on Ubuntu 16.04 as per [setup instructions](https://github.com/FRRouting/frr/blob/stable/3.0/doc/Building_FRR_on_Ubuntu1604.md) and running `make` one will get the following warning:

[code]

The same warning will potentially lead to a build failure when running `debuild -us -uc` for example.

[2017-09-08 21:02] qlyoung commented on #1147
This is a known issue (#84) and fixed in master. I cherry-picked the fix to stable/3.0 just now. Please verify that it works.

[2017-09-08 21:06] qlyoung commented on #1148
#626, now cherry-picked to stable/3.0. Please verify fix.

[2017-09-08 21:23] louberger opened #1150 "cli help/error: there is no indication how many number of parameters may be provided when the "..." cli syntax is used"
for example, there should be some indication to the user how many AS's can be specified for "set as-path prepend (1-4294967295)...,

The error when too many are specified is also misleading (says  command unknown vs too many arguments)

[2017-09-08 21:29] subsecond commented on #1147
Tested using latest stable/3.0 (commit 53227da0beb10a3d964694c6d6b68f98d066caa3):
No more warnings. Setup instructions as well as `debuild -us -uc` now work as expected.

[2017-09-08 21:29] #1147 closed

[2017-09-08 21:29] subsecond commented on #1148
Tested using latest stable/3.0 (commit 53227da0beb10a3d964694c6d6b68f98d066caa3):
No more warnings. Setup instructions as well as `debuild -us -uc` now work as expected.

[2017-09-08 21:29] #1148 closed

[2017-09-08 21:42] subsecond opened #1151 ""ping" and "traceroute" not working inside vtysh on branch stable/3.0"
When building from branch stable/3.0 on Ubuntu 16.04 as per [setup instructions](https://github.com/FRRouting/frr/blob/stable/3.0/doc/Building_FRR_on_Ubuntu1604.md), commands like `ping` or `traceroute` do not work from inside vtysh.

[code]

This has been fixed in 84d5286a9f0e66a6f8264a33818ec173db5ceee7. Suggesting to cherry-pick this commit to stable/3.0.

[2017-09-08 21:54] subsecond commented on #1146
The option `--enable-tcp-zebra` potentially became obsolete with 01c9f294213188570ff569097bca5cd4643ceacd

[2017-09-09 18:16] donaldsharp commented on #1151
This is 137a1684e0f0c95f0d2024206cd511379ee37edc I will cherry-pick it here shortly.

[2017-09-09 18:21] #1151 closed

[2017-09-09 19:29] subsecond commented on #1151
Hereby confirming that `ping` now works from inside vtysh, thank you!

[code]

`traceroute` however is still not working:

[code]

Should we reopen this issue or create a new one?

[2017-09-10 13:17] x-way commented on #1114
To prevent the oversized UPDATEs from spreading via your IBGP peerings you can use an as-path filter like this:
[code]
The bug itself was introduced in commit 0b2aa3a0, thus basically all Quagga/FRR versions released since 2007 are affected:
Quagga: 0.99.10 - 0.99.24.1, 1.0.*, 1.1.0, 1.1.1, 1.2.0, 1.2.1
FRR: 2.0, 3.0-rc1, 3.1-dev

See also: https://lists.quagga.net/pipermail/quagga-dev/2017-Septem

[2017-09-10 15:12] tigranmartirosyan commented on #1101
Could you please assign ticket to me. I am trying to reproduce problem on our dev environment.

[2017-09-11 09:03] #1140 closed

[2017-09-11 09:05] #1114 closed

[2017-09-11 12:57] SandroRaV opened #1155 "Error reading from ospf6d -> added Prefix list"
Got the following error after configuring a ipv6 prefix-list in FRR.

Prefix-list:
ipv6 prefix-list PL6-FILTER-BOGONS seq 20 deny 3ffe::/16 le 128

Error:
vtysh: error reading from ospf6d: Success (0)Warning: closing connection to ospf6d because of an I/O error!
r1(config)# exit
Warning: closing connection to zebra because of an I/O error!
Warning: closing connection to ospfd because of an I/O err

[2017-09-12 13:04] rwestphal commented on #1146
@subsecond thanks for the bug report.

I fixed the documentation on stable/3.0. If you still need the functionality provided by --enable-tcp-zebra, please take a look at this commit (from master): 689f5a8c84b95dbd3

[2017-09-12 13:07] subsecond commented on #1146
Perfect, thank you!

[2017-09-12 13:07] #1146 closed

[2017-09-12 14:50] terryfcc opened #1164 "nhrpd needs to be restarted after being configured from vtysh."
To make mgre working, I have been manually creating the gre interfaces using "iproute2".
Then I use "vtysh" to configure nhrp.
But the gre tunnel wouldn't come up at this point.
It takes a restart of the nhrpd to work (with the configs saved via "wr").

I have been restarting the "frr" service alltogher, but an alternative is to kill the nhrpd daemon, and let frrwatchdog to pick it up and start it

[2017-09-12 15:12] donaldsharp commented on #1130
bgp should die and report errors to log file in this scenario.

[2017-09-12 16:02] donaldsharp commented on #766
Current behavior is what we are planning on keeping

[2017-09-12 16:02] #766 closed

[2017-09-12 20:06] donaldsharp opened #1166 "BGP Steady State performance issues at scale"
~1200 peers with a bgp feed consisting of normal route add/withdrawals happening.  `Perf top` is attached
![perf top](https://user-images.githubusercontent.com/10601296/30345716-2e4e8d3c-97d4-11e7-952a-317ca52a87b8.png)

`show threads cpu`:
[code]

[2017-09-12 20:07] donaldsharp commented on #1166
`top` output is this ```varies between 5-20% of a core
[code]

[2017-09-12 20:08] donaldsharp commented on #1166
I personally think @qlyoung bgp thread patch (#1145) will address some of these issues.

[2017-09-12 20:12] devicenull commented on #1166
I've noticed slow performance during initial convergence as well.

This is all from shortly after startup, during the middle of convergence:
<pre>
# show thread cpu
Thread statistics for zebra:

Showing statistics for pthread main
------------------------------------
                      CPU (user+system): Real (wall-clock):
Active   Runtime(ms)   Invoked Avg uSec Max uSecs Avg uSec Max uSecs  Ty

[2017-09-12 20:32] mwinter-osr opened #1167 ""show version" json output extension"
Current `show version` of FRR only gives simple text output.

[code]

Adding a new extension `show version json` would make it easier for automated scripts to adapt to new features.

Full details as seen above from normal build (ie split into fields with version and configure command) would be nice in json output, but having a simple numeric version is essential for the version checks)

[2017-09-13 02:43] mwinter-osr commented on #1135
Somehow forgot to enforce the Address Sanitizer Tests. They were run, but the results were ignored.
Please someone ping me after this is fixed and merged to enable them, so future PRs breaking this get flagged.

[2017-09-13 02:49] mwinter-osr commented on #1135
Address Sanitizer was ok on Master until June 30. The first merge which broke it was Git sha 8186327f
 and there are multiple breakages since then. Some of these errors are in 3.0 as well and probably need to be addressed or at least evaluated before the release

[2017-09-13 14:59] igorcamilovic opened #1172 "EIGRP routes not installed/removed in Linux routing table, but present in EIGRP application"
There was an issue with this, said its fixed but not tested...well I have tested it, and it does not work.

I use Linux on one side and Cisco on another, basic configuration with one network statement and thats all.
When I add a network on Cisco, or remove it, it is always present in EIGRP application, but only sometimes it is present in Linux routing table.
I need this to be fixed urgently, so I

[2017-09-13 15:03] donaldsharp commented on #1172
@igorcamilovic I'm available to work in real time to help debug this issue if you want to on FRR slack.  If you are interested please send me an email 'sharpd at cumulusnetworks.com' with your email and I'll get you an invite.

In the meantime:

`show run`
`show ip eigrp topo`
`show ip route`
is a good place to start

[2017-09-14 08:52] igorcamilovic commented on #1172
Thanks @donaldsharp

Ive checked everything again and it is zebra to blame. Zebras routing table is not updated on new route event.
When I add/remove a network from Cisco EIGRP configuration, EIGRP process on Linux learns new information, but zebra does not.
Ive found a new bug and that is EIGRP crashed after testing which you can read below.

Let me show you an example.

Cisco config - IP address

[2017-09-14 14:22] terryfcc opened #1177 "bgp neighbor stuck in "Active" when configured in vrf"
I'm trying to bring up a BGP session between two hosts via a VRF called RED (table id 10).
OS is CentOS 7.3 with Linux Kernel  4.9.47
iproute2 version is "iproute2-ss161212"

VRFs are created via iproute2.

And I have got the folowing error message in the log.

2017/09/14 21:22:15 BGP: 192.168.23.204 Binding to interface RED
2017/09/14 21:22:15 BGP: 192.168.23.204 [Event] Connect start to 192.168.

[2017-09-14 18:23] devicenull opened #1181 "ospf6 always says "SPF algorithm has not been run$""
This comes from https://github.com/FRRouting/frr/blob/b3c18264e4494b37743ac586eb05d4c54cf080ac/ospf6d/ospf6_top.c#L825 but it seems like ts_spf never gets set for ospf6: https://github.com/FRRouting/frr/search?utf8=%E2%9C%93&q=ts_spf&type=

[code]

[2017-09-14 19:14] devicenull opened #1182 "`show ipv6 ospf6 linkstate` malformed argument"
[code]

https://github.com/FRRouting/frr/blob/27c5d4de93cb8e8f0012ec3af889a3a0d97b7f5d/ospf6d/ospf6d.c#L1088

Is idx_ipv4 supposed to be 5?

[2017-09-14 22:17] #1167 closed

[2017-09-15 02:00] terryfcc commented on #1177
I have fixed the issue after putting in the below command in bash

`
sysctl -w net.ipv4.tcp_l3mdev_accept=1
`
More details can be found on this page: https://www.mjmwired.net/kernel/Documentation/networking/vrf.txt

[2017-09-15 05:35] qlyoung commented on #1177
this should probably go in our docs

[2017-09-15 15:05] pguibert6WIND opened #1185 "network evpn rt5 command displays bad when show running-config"
leaf-11# conf t
leaf-11(config)# router bgp
leaf-11(config-router)# address-family l2vpn evpn
leaf-11(config-router-af)# network 4.3.2.1/32 rd 1:1 ethtag FOO label
BAR esi 00:11:22:33:44:55:66:77:88:99 gwip 5.4.3.2 routermac
01:02:03:04:05:06
leaf-11(config-router-af)#

Additionally once we enter the above network line and we do a show run
we get this:

 address-family l2vpn evpn
 network [5]:[0][

[2017-09-16 16:51] patrick7 commented on #1130
@donaldsharp Agree. But also vtysh should return any hint that bgpd is not running.

[code]

[2017-09-16 17:15] patrick7 opened #1189 "Error when saving config in "conf t""
There's an error if the config is written out of the config-mode:

[code]

The error does not appear when not in config mode:

[code]

[2017-09-16 17:27] patrick7 commented on #970
How to do if the frr.conf is used instead of single daemon config files?

[2017-09-16 23:09] patrick7 opened #1190 "SNMP (Agentx) does not show all peers"
The snmpbulkwalk command shows 45 IPv4 BGP sessions:
[code]

But FRR is showing 47:
`Total number of neighbors 47`

The missing 2 peers:
[code]
(the IPs are anonymized)

[2017-09-17 00:16] #1181 closed

[2017-09-17 00:16] #1182 closed

[2017-09-17 00:17] rwestphal commented on #1182
Fixed by #1183.

[2017-09-17 00:17] rwestphal commented on #1181
Fixed by #1183.

[2017-09-17 22:33] patrick7 opened #1191 "Large communities not in JSON"
Large communities are not displayed in the JSON format:

[code]

[2017-09-18 16:42] qlyoung commented on #1189
This has been fixed in master per #718. I take it you are running 3.0?

[2017-09-18 16:43] patrick7 commented on #1189
I'm running v3.0RC2

[2017-09-18 18:17] dwalton76 opened #1196 ""Last update" for static routes is off"
[code]
Last update is 37 weeks ago, but I rebooted my switch 3 days ago.  Note that 37w1d18h was Jan 1.

[2017-09-19 11:54] omidit opened #1198 "Is vpls(RFC 4761 and RFC 4762) supported in frr?"

[2017-09-19 12:27] omidit opened #1199 "is the BGP/MPLS IP Virtual Private Networks ( RFC 4364) – supported in frr?"

[2017-09-19 13:36] patrick7 commented on #1190
If I query for the correct OID, it's there. But snmpwalk does not show it.

[2017-09-19 15:09] donaldsharp commented on #1136
We still properly load the config with a 'vtysh -b -n' we just display an error message when attempting to shut down.

[2017-09-19 15:10] donaldsharp commented on #1138
I'll back port this today

[2017-09-19 15:17] mwinter-osr commented on #1135
3.0 issue: https://ci1.netdef.org/browse/FRR-FRR4-ASANTOPO-119

[2017-09-19 15:30] rwestphal commented on #1198
Yes, but as of now OpenBSD is the only OS that support VPLS in the kernel (there's also an ongoing effort to implement pseudowires in the Linux kernel).

There's a (slightly outdated) VPLS configuration example here: https://github.com/FRRouting/frr/blob/master/doc/ldpd-basic-test-setup.md

[2017-09-19 15:33] vjardin6WIND opened #1203 "Enhancement - Support BGP flowspec"
Track the support of BGP flowspec.

It should be made of 2 parts:
   - bgpd,
   - zebra: support filtering backends (iptables, eBPF, pf, etc.)

[2017-09-19 15:38] qlyoung commented on #1189
cherry-picked into `stable/3.0`, reopen if you see this again

[2017-09-19 15:39] #1189 closed

[2017-09-19 15:52] #1198 closed

[2017-09-19 15:56] donaldsharp commented on #1199
We have a partial implementation.  You can add v4 and v6 neighbors, and you can configure static advertisements( using the add command ).  Developers can also integrate with RFAPI.  Contact @louberger if you want to discuss more.

[2017-09-19 15:56] #1199 closed

[2017-09-19 17:23] donaldsharp commented on #1203
This has been added to the Feature Request page.  Closing

[2017-09-19 17:23] #1203 closed

[2017-09-19 19:48] stannous commented on #1190
Can I see the output of:    vtysh -c 'show ip bgp  summ'   from the router running frr?   (as well as the output of snmpwalk on the BGP4-MIB::bgpPeerRemoteAs table.  I suspect that these missing peers are in the same AS as the router.  (Feel free to send this output to stannous@cumulusnetworks.com).

Sam Tannous
Cumulus Networks

[2017-09-19 19:56] omidit opened #1206 "What is a virtual network service (VNC) in frr? I did not understand when I read his guide . Can I use its vnc for l3vpn(MPLS Layer 3 VPNs)?"

[2017-09-19 20:05] patrick7 commented on #1190
Hi Sam

Sent per E-Mail.

Best regards
Patrick

[2017-09-19 20:11] omidit opened #1207 "Is the Virtual Routing/Forwarding (Full VRF) supported for mpls vpn in frr?"
to Is the Virtual Routing/Forwarding (full VRF) supported for mpls vpn in frr?

[2017-09-19 20:49] kaminek commented on #1198
we are currentely working on it in the linux kernel see:
https://www.mail-archive.com/netdev@vger.kernel.org/msg184110.html

[2017-09-20 06:18] omidit commented on #1198
thanks for the reply. @kaminek: now, I upgrade kernel Linux to support the vpls just follow the link., right or no?
 https://github.com/eqvinox/vpls-linux-kernel

[2017-09-20 08:11] omidit commented on #1198
@rwestphal: thanks for the reply. is the vpls command-line  supported in frr?

[2017-09-20 12:13] donaldsharp commented on #1138
9a7aa8be43d3ec65f239f1740f86dbc1923824c6 cherry-picked into stable/3.0

[2017-09-20 12:14] #1138 closed

[2017-09-20 12:14] #980 closed

[2017-09-20 12:45] #1177 closed

[2017-09-20 12:46] donaldsharp commented on #1166
PR #1208, I believe addresses one small performance issue noted by the above.  I've asked @devicenull to take a look at it when he has a chance.

[2017-09-20 13:04] rwestphal commented on #1191
Fixed by #1205.

[2017-09-20 13:04] #1191 closed

[2017-09-20 13:26] #1196 closed

[2017-09-20 15:41] donaldsharp commented on #1135
I would like to recommend that this be removed from the 3.0 milestone.  As that there is no way this is not a long standing issue that I would say even exists back in 2.0 and further back into Quagga itself.  @mwinter-osr thoughts?

[2017-09-20 20:03] patrick7 commented on #1190
I think I found the root cause.
I start with an empty config:

[code]
While I was inserting the config, a "watch" with snmpbulkwalk was running on the second screen. As soon as I put the peer 146.48.78.8 into the peer group, both AS34549 peers disappeared.

Any ideas?

[2017-09-21 12:44] subsecond opened #1214 "Cherry-pick sysctl documentation into stable/3.0"
Commit 1ec4697626ef87763cc01c6ce4f6cfe095053e09 includes a lot of sysctl settings that may or may not need tuning, depending on the setup.

I suggest that we cherry-pick said commit into stable/3.0 as a reference and add a pointer to that document in all the installation instructions.

[2017-09-21 12:56] donaldsharp commented on #1214
I have cherry-picked 1ec4697 into stable/3.0.

[2017-09-21 12:56] #1214 closed

[2017-09-21 15:01] donaldsharp opened #1216 "show bgp statistics returns data that is not understandable"
v4:
[code]

[2017-09-21 21:27] rwestphal opened #1218 "ospf6d weirdness with 89+ adjacencies"
This one is interesting. When ospf6d establishes 88 adjacencies, everything is ok and works normally. But if one more adjacency is established (totalling 89), then ospf6d starts consuming 100% of the CPU and weird things happen (e.g. flapping adjacencies).

Using netgen it's possible to reproduce this problem using two routers connected back-to-back with 89 parallel links:

[code]

The same proble

[2017-09-22 01:49] mwinter-osr opened #1219 "BGP Collision Detection on IPv6 unreliable"
(This is found with test ANVL-BGPPLUS-27.6 on frr-3.0-rc2)

Reference: RFC 4271, Sect. 6.8, p 35, Connection collision detection

The collision detection in FRR is unreliable and it is occasional possible to open 2 BGP sessions from the same neighbor to FRR. It failed in 1 out of 4 tests for me.

See attached pcap's and bgpd logs of good and bad cases.

[BGP_collision_fail.pcap.zip](https://github

[2017-09-22 16:10] dwalton76 opened #1220 "ipv6 static route not restored on interface bounce"
We start with
[code]

and then `ifdown swp2` , prior to PR #1092 we would see
[code]

but after PR #1092 we see
[code]

but when we bring the interface up again the static route is not installed in the RIB
[code]

[2017-09-22 16:56] qlyoung commented on #1219
Does this work in master?

[2017-09-22 19:07] rwestphal opened #1221 "zebra taking forever to start with 5k interfaces"
In the last Technical Meeting Vincent mentioned that zebra has performance issues when running on a system with 5k+ interfaces, so I decided to check this out.

Using netgen, I created a topology with a single router with 5k stub interfaces, each with one IPv4 and one IPv6 address. Testing shows that zebra gets stuck inside the `kernel_init()` function for dozens of minutes until with dies with th

[2017-09-22 19:46] dwalton76 opened #1223 "'ospfd is not running' is not multi-instance ospf aware"
[code]
is causing our multi-instance ospf tests to fail

[2017-09-22 20:05] dwalton76 opened #1224 "eigrpd crash"
We can reproduce this with our internal `tests.l3.quagga_cfg_cli_crawler_test.TestFrrCLI.test_bgp_address_family_config` test

[code]

will bisect to see when this was introduced

[2017-09-22 20:06] dwalton76 commented on #1224
[eigrpd.29079.1506109757.core.gz](https://github.com/FRRouting/frr/files/1325704/eigrpd.29079.1506109757.core.gz)

[2017-09-22 20:21] rwestphal opened #1225 "isisd issue with redistributed routes"
If we redistribute 41464 routes to isisd, something weird happens and it stops working properly (e.g. it doesn't announce any route to zebra). When we redistribute "only" 41463 routes everything is ok.

netgen topology used to reproduce the problem:
[code]

[2017-09-22 22:19] mwinter-osr opened #1228 "Memory Leaks in OSPFv2"
This is on 3.0-rc2, found with Address Sanitizer:

### ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 4600 byte(s) in 115 object(s) allocated from:
    #0 0x7fb2ac3d279a in __interceptor_calloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x9879a)
    #1 0x52b2dd in qcalloc /home/anvl/frr-3.0-rc2/lib/memory.c:63
    #2 0x4c9a64 in list_new /home/anvl/frr-3.0-rc2/lib/linklist.c:33

[2017-09-22 22:24] mwinter-osr opened #1229 "Memory Leaks in OSPFv3"
This is on 3.0-rc2, found with Address Sanitizer:

### ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 5632 byte(s) in 88 object(s) allocated from:
    #0 0x7f334126f79a in __interceptor_calloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x9879a)
    #1 0x4d4958 in qcalloc /home/anvl/frr-3.0-rc2/lib/memory.c:63
    #2 0x4d3faf in vrf_bitmap_init /home/anvl/frr-3.0-rc2/lib/vrf.c:331

[2017-09-23 11:37] omidit opened #1230 "Bug Report: ISIS Multi-Level Advertisement"
We ran a scenario with 3 Router, (a Frr and 2 Cisco ) in below scenario:

The configuration of each router is as below:
//////////////////////////
R1:
version 15.1
!
hostname R1
!
ip source-route
!
ip cef

interface Loopback0
 ip address 1.1.1.1 255.255.255.255
 ip router isis test
 isis circuit-type level-2-only
!
interface GigabitEthernet0/0
 no ip address
 shutdown
 speed auto
!
interface Gigab

[2017-09-23 16:06] rwestphal commented on #1230
Hi @omidit, thanks for the bug report.

This might have been solved by #1176. Could you update your FRR router with the latest version from master and repeat the test?

[2017-09-23 16:13] rwestphal commented on #1225
Fixed by #1226, thanks Chris!

[2017-09-23 16:13] #1225 closed

[2017-09-24 04:01] ericpulvino opened #1232 "Bug Report: EIGRP missing from /usr/lib/frr/frr route flushing procedures"
EIGRP missing from /usr/lib/frr/frr route flushing procedures.

Lines 545-553
[code]

[2017-09-24 04:12] ericpulvino opened #1233 "Bug: Route Cleanup fails on Ubuntu 16.04"
Removing routes on "systemctl stop frr" by protocol name is not supported by default on Ubuntu. FRR does not install additional protocols into /etc/iproute2/rt_proto (/etc/iproute2/rt_proto.d/ directory does not exist in Ubuntu 16.04). I understand this would occur on other versions of Ubuntu as well at least back to 12.04.

Per /usr/lib/frr/frr, Lines 545-553:
[code]
Messages like the below are s

[2017-09-24 12:55] omidit commented on #1230
Hi, @rwestphal, thanks for the reply.
yes, I'm updating FRR to version FRRouting 3.1-dev-MyOwnFRRVersion-gc84ed87 (R8)(2017 Sep. 24). Again the same bug was observed.

[2017-09-24 13:55] omidit opened #1234 "IS-IS:is the Route leaking (RFC 2966 ) supported in frr ? do its feature will be supported in the future?"

[2017-09-24 13:57] rwestphal commented on #1135
Fixed by #1217.

[2017-09-24 13:57] #1135 closed

[2017-09-25 17:15] pguibert6WIND opened #1241 "encode VNI label for EVPN RT-2 and EVPN RT-5 on the full 24 bit field"
As per https://tools.ietf.org/html/draft-ietf-bess-evpn-overlay-04#5.1.3
, in EVPN, an MPLS label is distributed by the egress PE, via the EVPN
control plane MAC Advertisement and Ethernet AD per EVI, is used to carry
the VNI. The entire 24-bit field is used to encode the VNI value.
Moreover, it becomes possible to send RT2 without the second label value.

actions to take ( proposed):
- check for

[2017-09-25 18:10] cfra commented on #1234
FRR's isisd does not support route leaking at the moment. As IS-IS is usually run as a flat topology with a single L1 area or a single L2 domain in the deployments we are currently developing for, it is also not on the roadmap.

Patches would be accepted though.

[2017-09-25 18:11] #1234 closed

[2017-09-25 23:22] donaldsharp commented on #1232
PR #1244

[2017-09-25 23:22] donaldsharp commented on #1233
PR #1244

[2017-09-26 02:06] rwestphal commented on #1219
I'm having a hard time to track down this one. I'm inclined to say that this is not a bug, but for now I can't say for sure.

The unpredictable test results comes from the fact that, under some circumstances, bgpd will process a TCP SYN packet before a BGP Keepalive that was sent a few milliseconds before. When this happens, bgpd takes a different code path which also closes the redundant TCP conn

[2017-09-26 06:16] omidit commented on #1234
@cfra: thanks for your answer.

[2017-09-26 10:25] di5s1 opened #1246 "bgpd crash while showing .... json"
Hi,

I was testing some route reflector functionalities,
Unfortunately bgpd crashes, if I call

show ip bgp ipv4 vpn neighbors neigh-ip-address routes  json

ep 26 12:37:43 xxxhostnamexxx watchfrr[23380]: watchfrr 3.1-dev watching [zebra bgpd ospfd ldpd]
Sep 26 12:37:43 xxxhostnamexxx watchfrr[23380]: bgpd state -> up : connect succeeded
Sep 26 12:37:44 xxxhostnamexxx bgpd[23357]: couldn't delete

[2017-09-26 14:04] rwestphal commented on #1230
I reproduced your topology here using netgen and found the same issue.

When RT8 is an IOS router, it advertises RT4's loopback to RT1:
[code]

The same doesn't happen when RT8 is a FRR router:
[code]

I can't say for sure that this is a bug as I'm no expert in IS-IS (far from that), but this is certainly odd.

Here the topology I used:
[code]

[2017-09-26 15:07] donaldsharp commented on #1206
@louberger Can you help us out here with this question?

[2017-09-26 15:08] donaldsharp commented on #1207
mpls vpn is not fully supported yet in FRR, so we have not verified VRF support in it.  We would love to have someone contribute time and effort to bring this code up to speed

[2017-09-26 15:11] donaldsharp commented on #1216
PEBKAC

[2017-09-26 15:11] #1216 closed

[2017-09-26 15:14] donaldsharp commented on #1218
We believe that we are receiving multiple router lsa's for the same router( different lsid's )  We are not properly gluing the two router lsa's together and our backlink check is failing because of this.

[2017-09-26 18:02] louberger commented on #1206
I'll try.

On 9/26/2017 11:07 AM, Donald Sharp wrote:

[2017-09-26 18:08] louberger commented on #1206
@omidit are you familiar with the NVO3 architecture?  VNC implements an NVA architecture.  Please see https://frrouting.org/user-guide/VNC-and-VNC_002dGW.html#VNC-and-VNC_002dGW .

FRR also does include limited L3VPN capabilities.  What are you trying to do?  Are you trying to use FRR as a developer or user?

[2017-09-26 18:21] louberger commented on #1207
VRF support is not fully integrated when used for on-box forwarding. 
(It has been extensively tested in controller based configurations, but
I don't think that's the question.) Note that full VRF support is listed
on https://github.com/FRRouting/frr/wiki/Feature-Requests and was
previously discussed under #1199.

On 9/26/2017 11:08 AM, Donald Sharp wrote:

[2017-09-26 19:41] vjardin6WIND commented on #1221
This comment is correct; but for most of the usage, the daemons are started without interfaces then the main issue is to sustain the load when interfaces are added during runtime.

A perf record of
   perf record -p $(pidof zebra) sh it1.sh or it2.sh
with the following scripts:

it1.sh:1:N=250
it1.sh:2:for i in $(seq 1 $N); do
it1.sh:3:	ip link add mv$i link ntfp1 type macvlan mode bridge
it1.sh:4

[2017-09-26 23:30] mwinter-osr opened #1251 "Memory Leaks in ISIS"
This is on 3.0-rc2, found with Address Sanitizer:

## On IPv4 operation:

### ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 168 byte(s) in 8 object(s) allocated from:
    #0 0x7f417e046602 in malloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x98602)
    #1 0x4cf8c2 in qmalloc /home/anvl/frr-3.0-rc2/lib/memory.c:58
    #2 0x43111b in tlvs_to_adj_area_addrs /home/anvl/frr-3.0-rc2/is

[2017-09-26 23:31] mwinter-osr opened #1252 "Memory Leaks in RIPngd"
This is on 3.0-rc2, found with Address Sanitizer:

### ERROR: LeakSanitizer: detected memory leaks

#### Direct leak of 96 byte(s) in 1 object(s) allocated from:
    #0 0x7fe5445d679a in __interceptor_calloc (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x9879a)
    #1 0x4865fb in qcalloc /home/anvl/frr-3.0-rc2/lib/memory.c:63
    #2 0x44952c in route_node_create /home/anvl/frr-3.0-rc2/lib/table.c:491

[2017-09-26 23:44] mwinter-osr opened #1253 "LDPd: heap-use-after-free at exit"
This is on 3.0-rc2, found with Address Sanitizer:

This issue ONLY happens at exit of LDPd (when it gets a kill signal), so it might be minor and can potentially be ignored.

## ldpd -L process

### ERROR: AddressSanitizer: heap-use-after-free on address 0x631000024828 at pc 0x0000004d800c bp 0x7fff92d65600 sp 0x7fff92d655f0

#### READ of size 8 at 0x631000024828 thread T0
    #0 0x4d800b in ibuf_

[2017-09-27 07:31] cryptronic opened #1256 "Build failed after merge #1069"
Merge #1069 brakes build of pimd

pimd/pim_rp.c: In function ‘pim_rp_find_match_group’:
pimd/pim_rp.c:245:10: error: ‘bp’ may be used uninitialized in this function [-Werror=maybe-uninitialized]
    if (bp->prefixlen < p->prefixlen) {
        ~~^~~~~~~~~~~

After reverting this particular merge build is working again

[2017-09-27 11:58] donaldsharp commented on #1256
https://github.com/FRRouting/frr/pull/1257

[2017-09-27 12:12] rwestphal commented on #1220
Fixed by #1240.

[2017-09-27 12:12] #1220 closed

[2017-09-27 12:20] #1224 closed

[2017-09-27 12:26] donaldsharp opened #1258 "BGP IPv6 multihop & vendor specific capability 131"
Running 3.0-rc2

This box is configured to a peer with a 3rd parth ASR9000 and cannot keep the session up.  ~30k routes and we reset the session with the following errors:

[code]

Single hop BGP sessions appears to work, multiphop sessions do not stay up.
[v6multihop131b.pcap.gz](https://github.com/FRRouting/frr/files/1337062/v6multihop131b.pcap.gz)

[2017-09-27 19:10] stannous commented on #1190
Hi Patrick,

I think this might be caused by the way the snmp code looks at the bgp peers.  The peer group code was added after the snmp code so it's likely the loop over peers needs to be modified.  I've opened a ticket to track this CM-18192.  Thanks for reporting this.

https://tickets.cumulusnetworks.com/browse/CM-18192

--Sam

[2017-09-27 19:27] #988 closed

[2017-09-28 13:03] dwalton76 commented on #1101
@tigranmartirosyan can you send me the steps on how to reproduce this one?

[2017-09-28 13:03] #993 closed

[2017-09-28 13:44] dwalton76 commented on #1258
@donaldsharp can you get the "show ip bgp neighbor" output for that neighbor?  It should have a hex dump of the packet we RXed that caused us to send a NOTIFICATION.

[2017-09-28 13:48] dwalton76 commented on #1258
`deb bgp neighbor-events` may also show something

[2017-09-28 14:04] dwalton76 commented on #1117
I tried this out and it only breaks when `--enable-bgp-vnc=yes` is used.  I don't know the VNC code at all so assigning this to @louberger

[2017-09-28 14:09] #1256 closed

[2017-09-28 14:48] djh00t commented on #1258
`deb bgp neighbor-events` Logs Attached
[frr.log](https://github.com/FRRouting/frr/files/1341289/frr.log)
`show ip bgp neighbor` Output attached.
[showipv6bgpneigh.txt](https://github.com/FRRouting/frr/files/1341302/showipv6bgpneigh.txt)

[2017-09-28 14:51] donaldsharp commented on #1246
I am able to recreate this with this added to the config
[code]

Now on the other side issue a 'show bgp ipv4 vpn json` command

[2017-09-28 14:54] donaldsharp commented on #1246
[code]

[2017-09-28 15:08] donaldsharp commented on #1258
Interesting bit from showipv6bgpneigh.txt ```  Last reset 00:00:01, due to NOTIFICATION sent (UPDATE Message Error/Malformed Attribute List)
  Message received that caused BGP to send a NOTIFICATION:
    FFFFFFFF FFFFFFFF FFFFFFFF FFFFFFFF
    004E0200 00003740 01010040 020A0202
    000004C5 000002CA C00708FA 67B2E011
    2B4C0140 0600800E 15000201 10200180
    00010000 00000000 00003002 0200
  Ex

[2017-09-28 16:06] tigranmartirosyan commented on #1101
@dwalton76 we are still in process to reproduce the problem on our dev environment. The problem is still actual as it was noticed by our customer a couple of time during last 2 weeks.  I will update this topic when I have some news.

[2017-09-28 16:21] tigranmartirosyan commented on #1101
So it is happening but can't constantly reproduce. Hope to find the right trigger next week. Will keep you posted. Kind of ghost bug.

[2017-09-28 17:19] dwalton76 commented on #1258
k if you take that and format it like so
[code]

you can use wiresharks text2pcap to build a .pcap file
[code]

[bgp_packet.pcap.gz](https://github.com/FRRouting/frr/files/1341741/bgp_packet.pcap.gz)

[2017-09-28 17:19] dwalton76 commented on #1258
![bgp_packet](https://user-images.githubusercontent.com/468309/30980603-a1d6911e-a44f-11e7-9e65-cfeacb02ba29.png)

So it is a MP_REACH_NLRI for ipv6 unicast but doesn't list in any prefixes

[2017-09-28 17:25] dwalton76 commented on #1258
For a second I thought the other side was trying to send us End-of-RIB but MP_UNREACH_NLRI is used for that.
[code]

We could potentially just log (instead of sending a NOTIFICATION) UPDATEs with empty NLRI like this but the other side shouldn't be sending this in the first place.

[2017-09-28 17:33] dwalton76 commented on #1101
gotcha, thanks @tigranmartirosyan

[2017-09-28 17:34] dwalton76 commented on #1258
btw kudos to this person for blogging about their ccie studies 7 years ago where they had to decode a bgp hex dump
http://ccie-in-3-months.blogspot.com/2010/08/decoding-ripe-experiment.html

[2017-09-29 01:27] mwinter-osr opened #1268 "compile warning in lexer for missing prototypes"
This is seen in 3.0 and master - need fix for both (Debian Package by default won't build with warnings - compiled with "all warnings being treated as errors"

	command_lex.c:1753:5: error: no previous prototype for 'cmd_yyget_column' [-Werror=missing-prototypes]
	 int cmd_yyget_column  (yyscan_t yyscanner)
		 ^
	command_lex.c:1829:6: error: no previous prototype for 'cmd_yyset_column' [-Werror=mi

[2017-09-29 01:41] mwinter-osr commented on #1268
Just noticed, that this is NOT a problem on Ubuntu 16.04 or Debian 8 (with flex 2.6.0), but happens on Ubuntu 14.04 and 12.04 (Ubuntu 14.04 uses flex 2.5.35)

[2017-09-29 02:08] mwinter-osr commented on #1268
The issue seems to be in flex producing different command_lex.h files.

With flex 2.6.0, the prototype section looks like this (part of command_lex.h):

	/* Accessor methods to globals.
	   These are made visible to non-reentrant scanners for convenience. */

	int cmd_yylex_destroy (yyscan_t yyscanner );

	int cmd_yyget_debug (yyscan_t yyscanner );

	void cmd_yyset_debug (int debug_flag ,yyscan_t

[2017-09-29 03:01] mwinter-osr commented on #1268
Ignore this issue. Just going to disable -werror on build with Ubuntu 14.04 or 12.04 to allow building anyway
If someone disagrees, then reopen the issue

[2017-09-29 03:01] #1268 closed

[2017-09-29 12:04] ne-vlezay80 opened #1269 "Скажите, будет ли в эту программу добавленна возможность работы на операционной системе Microsoft Windows 2000/XP/7/8/10?"

[2017-09-29 12:05] donaldsharp commented on #1269
Tell me if this program will add the ability to work on the Microsoft Windows 2000 / XP / 7/8/10 operating system

[2017-09-29 12:06] donaldsharp commented on #1269
I am not aware of anyone working towards this functionality.  Having said that, we would welcome patches as that it would show decencies in our program and improve our code quality

[2017-09-29 12:06] #1269 closed

[2017-09-29 19:14] devicenull opened #1273 "`do exit` results in IO errors"
[code]

I'd expect `do exit` to exit out of vtysh too (if it's going to close all the daemon sessions)

[2017-09-29 20:24] patrick7 opened #1274 "Removing/Adding interface from/to VRF breaks BGP"
As soon as I add or remove an interface from/to a VRF, all BGP session are crashing (even if there's no BGP session running over that interface)

[code]

[2017-09-29 21:34] qlyoung commented on #1273
https://github.com/FRRouting/frr/pull/748

At one point I plumbed this in depth and learned the reason why vtysh does not itself exit. As I recall there was a good reason for not doing so, but I don't remember what it is now :(

[2017-09-30 09:57] omidit commented on #1206
@louberger: thanks for the reply.
We are the development team that before we worked on Quagga. now we switch to FRR for development. we glad that you help us for developing MPLS VPN in FRR.

[2017-09-30 10:23] omidit commented on #1207
@donaldsharp: thanks for the reply.
Yes, We want to implement MPLS VPN. for that reason, I'm questioned about MPLS VPN. we glad that you help us for implementing MPLS VPN.

[2017-09-30 11:36] ne-vlezay80 opened #1275 "Не сохраняется конфигурация(The configuration is not saved)"
При попытке сохранить конфигурацию, получаем пустые файлы. Хотя, при использовании integrated-vtysh-config сохраняет всё нормально. В чём проблема?

[2017-10-02 13:32] louberger commented on #1027
So the fix is to add evpn to show bgp sum, right?

[2017-10-02 16:30] dwalton76 commented on #1027
No what was decided on one of the Tuesday calls was that 'show bgp summ' should display ipv4 unicast and ipv6 unicast only.  FWIW I'm not a huge fan of this because no other `show bgp ...` command has this behavior of showing these two AFI/SAFIs.

[2017-10-02 17:12] donaldsharp commented on #1258
Current discussion in slack centers around whether or not to just ignore this issue or continue reseting the connection.  @riw777 found some old rfc that does specify that you can send a REACH_NLRI and no prefixes as a way to signal end of rib.

@djh00t Two questions:  Is the ASR 9k we are connecting to running a very old version of BGP?  Does the reception of about 30k v6 routes sound about right

[2017-10-02 20:19] #1223 closed

[2017-10-02 23:07] djh00t commented on #1258
I'm unsure what version of IOS-XR the 3rd party is using, I have reached out to them for more information.

30k routes is about what I would expect yes.

[2017-10-03 06:11] omidit opened #1279 "report bug : configuration bgp"
This command line (redistribute route)does not exist under commend router bgp.

[2017-10-03 12:14] donaldsharp commented on #1279
@omidit this is indeed working:
[code]

[2017-10-03 12:14] #1279 closed

[2017-10-03 12:16] donaldsharp commented on #1275
When trying to save the configuration, we get empty files. Although, using integrated-vtysh-config saves everything normally. What's the problem?

[2017-10-03 12:17] donaldsharp commented on #1275
I am not seeing this behavior:
``dell-s6000-02(config)# no service integrated-vtysh-config
dell-s6000-02(config)# end
dell-s6000-02# wr mem
Note: this version of vtysh never writes vtysh.conf
Building Configuration...
Configuration saved to /etc/frr/zebra.conf
Configuration saved to /etc/frr/ospfd-1.conf
Configuration saved to /etc/frr/ospfd-2.conf
Configuration saved to /etc/frr/ospfd-3.conf
Conf

[2017-10-03 15:22] donaldsharp commented on #1274
@patrick7 can you show us a config and the interface that you are moving plus before and after 'show int'? and 'show bgp summ'?

[2017-10-03 15:25] qlyoung commented on #1273
Unless you have a case where this is really impacting ease of use I'm going to close this, as there's no loss of functionality here. If you want to immediately exit out of vtysh, I would suggest ^D which kills it immediately regardless of what node you're in.

[2017-10-03 15:25] #1273 closed

[2017-10-04 00:18] donaldsharp commented on #1228
None of these look earth shattering, All look like memory leaks on shutdown.  I recommend we pull the 3.0 tag

[2017-10-04 06:20] omidit commented on #1279
@donaldsharp: thanks for the reply.
No, I mean the command line below.
R1(config)#router bgp 2
R1(config-router)#?
  address-family       Enter Address Family command mode
  aggregate-address    Configure BGP aggregate entries
  auto-summary         Enable automatic network number summarization
  bgp                  BGP specific commands
  default              Set a command to its defaults
  defa

[2017-10-04 15:29] wmclendon opened #1285 "Build on Ubuntu 16, systemctl reload frr fails"
hello,

I followed the process for building on Ubuntu 16.04 and install was successful, however 'systemctl reload frr.service' fails and in status log says the following:

frr-reload.py[2401]:     from ipaddr import IPv6Address, IPNetwork
frr-reload.py[2401]: ImportError: No module named ipaddr

I have installed both pip and pip3, and pip installed ipaddr for both, and if I enter python or python3

[2017-10-04 18:08] wmclendon commented on #1285
well I solved my own problem it looks like.  posting here for posterity, and hopefully install docs get updated --

seems I had to do 'apt-get install python-ipaddr'.  No idea why thats different than pip installing, but here we are.  After that I can do 'systemctl reload frr.service' without issues.

[2017-10-04 18:14] wmclendon commented on #1285
@donaldsharp I will be happy to do that....if I knew how.  I'm a git novice in that regard.  if you can point me in the right direction or documentation process how to open a doc PR I will be happy to do so.

[2017-10-04 18:21] donaldsharp commented on #1285
`git clone https://github.com/frrouting/frr`
`cd frr ; git remote add wmclendon https://github.com/wmclendon/frr`
`git checkout -b doc_fixes origin/master`
<edit stuff in doc/XXX> directory>
`git add -u`
`git commit`
`git push wmclendon doc_fixes`
<open a PR from https://github.com/frrouting/frr>

The Community.md file gives some feedback on how to properly sign-off and what is considered appropri

[2017-10-04 18:28] wmclendon commented on #1285
hi Donald.

Thanks for that info.  I seemed to have figured out slightly different way to do it.  I created a fork, pulled it, committed changes to documentation file, commited and pushed to my repo, and then opened PR against that.  Not sure if that's 'best' but seems to have worked.  PR is open with change.

I did not look at that Community.md file...let me see what it says I guess may have to f

[2017-10-04 18:31] donaldsharp commented on #1285
Yes, the PR needs to be fixed to have this subject line:

`<directory>: <short statement>`

<stuff that is changed

Signed-off-by: ...

[2017-10-05 17:12] patrick7 commented on #1274
show interfaces before:
[code]
adding the interface to VRF:
[code]

show interfaces after:
[code]

[2017-10-05 17:18] patrick7 commented on #1274
I think I found the reason. FRR uses the IP of dummy1 as router ID and as soon as I delete the interface FRR needs to use anoter router ID.

[2017-10-06 11:54] louberger commented on #1052
This issue has been fixed.

[2017-10-06 11:54] #1052 closed

[2017-10-06 20:02] devicenull opened #1302 "bgpd: Can't show l2vpn information for a VRF"
<pre>
# sh bgp vrf private
  <cr>
  A.B.C.D               Network in the BGP routing table to display
  A.B.C.D/M             IPv4 prefix
  X:X::X:X              Network in the BGP routing table to display
  X:X::X:X/M            IPv6 prefix
  cidr-only             Display only routes with non-natural netmasks
  community             Display routes matching the communities
  community-list

[2017-10-07 17:09] louberger opened #1306 "LDP: doesn't have a manual section"
It would be good to document LDP configuration and cli commands.

[2017-10-08 23:43] vjardin6WIND commented on #1253
scan-build does emit some warning about it too:
  https://ci1.netdef.org/browse/FRR-FRRPULLREQ-1848/artifact/shared/static_analysis/report-127548.html#EndPath
  https://ci1.netdef.org/browse/FRR-FRRPULLREQ-1848/artifact/shared/static_analysis/report-f149e0.html#EndPath

void msgbuf_clear(struct msgbuf *msgbuf)
int  imsg_get_fd(struct imsgbuf *ibuf)

OpenBSD code of imsg is ~ the same,
  https://gi

[2017-10-09 12:31] rwestphal commented on #1306
Assigning to myself...

Writing a manual section for ldpd is on my to-do list for a while already. For now, if you need help to configure ldpd, you might want to take a look at the OpenBSD's ldpd(8) man page: https://man.openbsd.org/ldpd.conf.5

The configuration options are mostly the same but in a different form.

[2017-10-09 12:43] rwestphal commented on #1253
These warnings from libutil are false alarms.

scan-build has issues analyzing loops like this:
[code]

It's incapable to realize that TAILQ_FIRST() returns different elements every time it's called, so we get these "Use-after-free" warnings. Nothing to worry about. Adding one assert in lib/imsg.c and lib/imsg-buffer.c like I did in #1303 should silence the warnings.

Regarding this heap-use-after

[2017-10-09 23:30] mwinter-osr commented on #1115
Currently the frr.service is only used for systems with systemd and on any distro with systemd, the code is always built with `--enable-systemd` on redhat or debian systems.
Please clarify when/how this could be built without `--enable-systemd` and still use systemd for start/stop

[2017-10-10 06:20] mwinter-osr commented on #967
Fix for this is integrated in the work-in-progress for FRR 3.0 Debian Package. Any requests to backport this to FRR 2.0 Debian package?

(Fix was inspired by the same modification by Christian Hammers on the Quagga Package 0.99.22-4)

Changes to address this issue can be seen here: https://github.com/opensourcerouting/frr/commit/7a7151e98ef0351a0e904e4456052a244012a936

Pull Request for Debian Pac

[2017-10-10 14:26] vjardin6WIND commented on #1253
You are right, it is a different issue! Thanks Renato.

Even if the code is correct, it helps to add such assert() to calm down scan-build. Having close to 0 Warning will allow to enforce good quality. So, any new issues won't be diluted into a noise a scan-build's warning.

Just 1 concern: since OpenBSD does support clang too now, it would be nice to get the same patch within OpenBSD's libutil in

[2017-10-10 15:09] #1285 closed

[2017-10-10 15:10] donaldsharp commented on #1302
Working as intended.  @louberger submitted #1313 to dissallow evening configuring bgp in this manner

[2017-10-10 15:10] #1302 closed

[2017-10-10 15:34] devicenull opened #1321 "zebra: RFC6106 (RDNSS) support"
It would be nice if zebra supported sending recursive dns servers in it's IPv6 router advertisements.

https://tools.ietf.org/html/rfc6106

[2017-10-10 16:57] #1253 closed

[2017-10-10 18:49] rwestphal commented on #1253
@vjardin6WIND I agree, we should do our best to fix/silence as much SA warnings as we can. Regarding OpenBSD's libutil, yes, I'll talk to some fellow developers and see if we can fix the warnings in there as well.

[2017-10-11 01:12] mwinter-osr commented on #967
Fixed in stable/3.0 (3.0-rc3) with the updated Debian Package. Will be addressed in master with a merge of the package scripts.
Not going to backport to 2.0 unless someone actually needs this (Please open new issue if this is needed).

[2017-10-11 01:12] #967 closed

[2017-10-11 18:58] sidheshdivekar29 opened #1325 "vty "Connection closed by foreign host" repeatedly"
Hi,

Am seeing that vtysh connection is continuously closed.
This happens only when frr service is run using "sudo systemctl start frr.service".
If I just bringup the bgpd daemon I don't see this issue very often,
eventually it does time out.
Sometimes it also says that "vty password is not set" but eventually connects.
I have zebra and bgp running as daemon.
Am running on 16.04.1 ubuntu.
Is this

[2017-10-11 22:45] mwinter-osr opened #1326 "OSPFv2 crash in FRR 3.0 rc3"
OSPFv2 crashes during the protocol compliance checks. Crash is not always at the same time, but it crashed all 4 of my testruns.

Here are the (4) different Tracebacks from ospfd.log:

Testbed 1 & 4:

	2017/10/10 18:34:12 OSPF: Scheduling ABR task
	2017/10/10 18:34:12 OSPF: Scheduling ABR task
	2017/10/10 18:34:12 OSPF: Scheduling ABR task
	2017/10/10 18:34:12 OSPF: Assertion `(node)->data != ((vo

[2017-10-11 23:41] off-on opened #1327 ""router bgp" % There is no matched command."
Hi. I'm trying to start using FRR as BGP vrf-lite router on ubuntu server 16.04 LTS.
The problem is I have manged to get no "router bgp" command in FRR.

I have git-cloned FRR package according to https://github.com/FRRouting/frr/blob/master/doc/Building_FRR_on_Ubuntu1604.md
I have updated kernel  to the 4.9.51 build wich seems to support vrfs better then 4.4. Server has been rebooted, (lowlatency

[2017-10-11 23:52] donaldsharp commented on #1327
[code]
You need to specify a ASN to use.

Once you have configured a ASN, 'router bgp' by itself is accepted

[2017-10-11 23:55] off-on commented on #1327
Thank you, I tried without success:

LabHost(config)# router bgp 12345
% [ZEBRA] Unknown command: router bgp 12345

[2017-10-12 00:01] donaldsharp commented on #1327
@off-on -> Are you using port 2605? .... no
[code]

To configure bgp via telnet, I would recommend telneting to port 2605.  zebra is 2601

Alternatively I would suggest that you use vtysh to configure.  It autoconnects to all running daemons and will make sure the command is sent to all interested parties

[2017-10-12 00:13] off-on commented on #1327
Oh thanks! I works with 2605! Shells look quite similar. I can't say from which guide I have taken the specific zebra port. With vtysh I currently get:
[code]
Donald, could you please be so kind to point me
to vtysh gudie and
to BGP multi-vrf configuration guide,
because all I have managed to find is forum's dscussion of EVPN address families etc, or culmulus guide for switches' shell.

[2017-10-12 00:20] mwinter-osr commented on #1327
Curious, why are you not using `vtysh` to configure? No need to know the ports...

[2017-10-12 00:25] mwinter-osr commented on #1325
It looks to me like zebra takes longer than expected to start.

Can you do a `sudo systemctl status frr` ?

And could you please give us the output of `zebra -v` (which returns version and build options)

[2017-10-12 00:33] off-on commented on #1327
vtysh doesn't connect to any deaemon instead of to connect to all of them as I've read it should.
'man vtysh' and googling vtysh or quagga doc doesn't help me a lot.

[2017-10-12 00:34] mwinter-osr commented on #1326
Further testing points to the most likely issue to be commit:
7994210 ospfd: Free memory associated with ospf instance startup
(This commit fails and any earlier commits have [so far] not yet failed)

Running the 3.0-rc3 with Address Sanitizer enabled produces a *heap-use-after-free* error:

### ERROR: AddressSanitizer: heap-use-after-free on address 0x60400000f750 at pc 0x00000046feb5 bp 0x7ffc84

[2017-10-12 00:45] off-on commented on #1327
I was wrong calling it without 'sudo'.  vtysh does not report insufficient permissions on my setup. it does connect by "sudo vtysh". thank you.

[2017-10-12 00:46] mwinter-osr commented on #1326
Looks to me like commit `7994210 ospfd: Free memory associated with ospf instance startup` broke it.

It inserts a the `list_delete` in line 545 (ospfd.c) frees the data structure, but then a few lines later (line 605) tries to access the freed data again `ospf_discard_from_db(ospf, ospf->lsdb, lsa)`

[2017-10-12 00:57] #1327 closed

[2017-10-12 01:00] mwinter-osr commented on #1326
Issue resolved by reverting the commit.
See revert git sha 31e818a

[2017-10-12 05:56] sidheshdivekar29 commented on #1325
Below are the outputs you requested.

~/workspace/$ sudo systemctl status frr
\u25cf frr.service - Cumulus Linux FRR
   Loaded: loaded (/etc/systemd/system/frr.service; enabled; vendor preset: enabled)
   Active: active (running) since Wed 2017-10-11 22:52:18 PDT; 37s ago
  Process: 6780 ExecStop=/usr/lib/frr/frr stop (code=exited, status=0/SUCCESS)
  Process: 13551 ExecStart=/usr/lib/frr/frr star

[2017-10-13 07:50] subsecond commented on #831
+1 for IXP route servers: One would want to have `enforce-first-as` on the peer-group for a specific Internet Exchange but `neighbor x.x.x.x enforce-first-as disable` for the route servers as they usually remove themselves from the AS-path.

[2017-10-13 07:50] subsecond commented on #823
+1, really missing this on a daily basis.

[2017-10-16 08:40] patrick7 opened #1328 "Debian stretch binary missing"
Debian 8 is oldstable....

[2017-10-16 08:51] #1274 closed, assigned to nobody

[2017-10-16 09:01] patrick7 commented on #1328
Unfortunately I'm not familiar with that. But I'll be happy to test the new packages :-)

[2017-10-16 10:54] mwinter-osr commented on #1328
Added a pull request which should fix this. But need to get testing part added to CI before merge.
PullReq: https://github.com/FRRouting/frr/pull/1329

For building, it should be the same steps as Debian 8

If you have a test machine and would appreciate some manual testing (and giving feedback), then feel free to use package in attached ZIP. But please be aware that these are TEST ONLY.
[debian9.

[2017-10-16 14:58] f0o commented on #509
Any news on this?

It's quite annoying not to see what you're actually advertising and merely hoping the config is right ;)

[2017-10-16 15:58] f0o commented on #1190
Hi,

I have the same issue however only on some peers.
Can it be that neighbors in peergroups with a dash in them are omitted from SNMP?

The only peers that I'm missing are in peer-groups with dashes.
Just my 2cents

I can spin up a test-case later this week to verify this.

[2017-10-16 19:28] donaldsharp commented on #1321
I am going to add this to the feature request page.

[2017-10-16 19:29] #1321 closed

[2017-10-16 19:29] #1275 closed

[2017-10-16 19:30] #1252 closed

[2017-10-16 19:34] #1232 closed

[2017-10-16 19:34] #1246 closed

[2017-10-16 19:35] #1233 closed

[2017-10-16 19:35] #1229 closed

[2017-10-16 19:35] #1228 closed

[2017-10-16 19:36] #1221 closed

[2017-10-17 15:09] #1326 closed

[2017-10-18 20:27] sidheshdivekar29 opened #1338 "VTY status 13 while sending config over vty socket"
Hi,
Am getting following error when sending config over vty socket.
VTY status 13.

From gdb i see that bgp_redistribute_set is returning this error
when bgp_install_info_to_zebra return 0.
I have both bgp and zebra running as individual daemons.
How do i get bgp connected to zebra ?

Below is the config am trying to send.
It happens when "redistribute connected" is sent over the socket.

 configu

[2017-10-18 20:42] patrick7 commented on #1328
Was able to install them without any problems :-)

[2017-10-19 03:27] qlyoung commented on #1219
During some discussion between many parties involved, the general consensus seemed to be that this is not a bug (which I concur with). The RFC is unclear what to do in order to handle the (very odd) case of a peer connecting to us twice, and the tradeoff between the amount of code required to balance multiple connections within one logical peer and the benefit is dubious at best.

Closing as a spi

[2017-10-19 03:27] #1219 closed

[2017-10-19 17:18] patrick7 commented on #1328
How did you build the packakges? Debuild? Copying all debian/* files to the right location manually?

[2017-10-19 17:59] sidheshdivekar29 commented on #1338
I was trying vrf config in bgp but vrf was not configured.

[2017-10-19 17:59] #1338 closed

[2017-10-19 20:15] filipecifali opened #1340 "Centos7 systemd startup failure"
Me and @cristiancardoso just updated and ran into some problems today.

Using the Latest release 3.0

(https://github.com/FRRouting/frr/releases/download/frr-3.0/frr-3.0-2017101501.el7.centos.x86_64.rpm)

we got an error running after 1~3 minutes online

journalctl -u frr.service -xe returns:

Oct 19 18:03:42 router-sp-01.kinghost.net polkitd[548]: Unregistered Authentication Agent for unix-proces

[2017-10-19 23:06] mwinter-osr commented on #1340
Thanks for reporting this. I'll look into it.

Can you tell me if this was an upgrade (installing the rpm over a previous installed 2.0 version) or a clean install?

[2017-10-19 23:43] mwinter-osr commented on #1340
There seems to be 2 issues here:

1) FRR fails somehow to start or crashes immediatly
I'm unable to reproduce this issue right now. Best guess is something in the config (ie from 2.0 if it's an upgrade) which causes it to break.
Can you please look in /var/log/messages for more details and can you share your configuration files?

2) watchfrr fails to restart frr in a failed case.
I found an issue

[2017-10-20 03:01] thorvald opened #1343 "Allow VRFs for FPM"
Right now, all VRFs other than 0 are filtered from FPM. Yet the code already exists in the encoding to transport the table-id in the messages. As such, a surgical fix to ```zfpm_is_table_for_fpm``` is all that's needed to export VRFs.

We've done a straight patch for this in our own code, but we'd like to upstream the change. We see three solution paths:

1. Always enable VRFs to be sent; this cha

[2017-10-20 03:32] donaldsharp commented on #1343
From FRR's perspective turning on the passing of table-id's is a no-brainer.  Would not passing down the vrf routes be there to protect the FPM listener?  The FPM listener should be paying attention to the passed table-id.  So I see no reason to just pass the vrf tableid(option #1)

[2017-10-20 03:48] thorvald commented on #1343
Just to make sure I understand, you're saying you are in favor of option #1? That's certainly the easiest to implement :)

[2017-10-20 03:49] w-silence-w opened #1344 "Some problems when cross compile FRR"
bleow are my configure result:
FRRouting configuration
------------------------------
FRR version             : 3.1-dev
host operating system   : linux-gnueabi
source code location    : ../frr
compiler                : arm-fsl-linux-gnueabi-gcc  -march=armv7-a -mfloat-abi=hard -mfpu=neon -mtune=cortex-a7 --sysroot=/opt/fsl-qoriq/2.0/sysroots/cortexa7hf-vfp-neon-fsl-linux-gnueabi -std=gnu11
compile

[2017-10-20 11:09] filipecifali commented on #1340
Sorry for the delay, yes it was an upgrade from 2.0 to 3.0 w/o changing the config.

Reading the docs: https://github.com/FRRouting/frr/wiki/FRR-2.0-%E2%86%92-FRR-3.0-Changelog

There's no indication on what to do that I found, maybe I'm missing something, should we recreate the config on this major release?

Thanks in advance, I'll test it as soon as it's available

[2017-10-20 11:29] mwinter-osr commented on #1340
No need to recreate config. (that would be a bug).
If possible, then please post config (or send it to me as email or on slack if you don't want to make it public). This should give me enough information to do further tests.

The issue with the failed restart is found and I have a fix. Working on adding a test for this as well before posting it. But this won't fix your issue as frr should never ha

[2017-10-20 11:45] filipecifali commented on #1340
I can't seem to join the free slack channel, can you provide me an e-mail that I can send you our config? Thanks.

[2017-10-20 11:57] donaldsharp commented on #1340
@filipecifali Please send me an email at sharpd at cumulusnetworks com and I'll get you in

[2017-10-20 11:59] donaldsharp commented on #1343
Yes exactly

[2017-10-20 12:02] paolss opened #1345 "prepends are wrongly set by frr (something is multiplying all prepends set in route-maps by factor of 2)"
To reproduce:
Add route-map
insert one prepend
show ip bgp neigh a.b.c.d advert

And You will see that there are two prepends.

To comfirm:
Edit route-map
insert two prepends
show ip bgp neigh a.b.c.d advert

And You will see there are 4x prepends not two.

Also - after clearing bgp sessions bgpd is eating more and more memory after.
show memory
Memory statistics for zebra:
System allocator statis

[2017-10-20 16:15] dslicenc commented on #1345
This appears to be a cosmetic display issue.   In a brief test, the peer gets the right number of prepended AS numbers.

[2017-10-20 16:47] paolss commented on #1345
and what about the memory ? :)

[2017-10-20 16:50] dslicenc commented on #1345
Unrelated to the bug reported (duplicate as-path info).  That's all I quickly tested.

[2017-10-20 20:02] lucize commented on #1344
clippy is a bit complicated look at #958

[2017-10-20 20:17] lucize opened #1348 "eigrp loop"
can't figure it out, what should I add to config so frr won't be a loop if eigrp is running
the strange thing is that, the loop would be only for one (until now) random subnet
it will start usually after ~2 days
the server is running rip and eigrp
this is the log that I had when it started

[code]

the frr is directly connected to a cisco eigrp hub (spoke to spoke dmvpn)
frr config:

[code]

cisco

[2017-10-20 20:52] paolss commented on #1345
qool :) do i need to report another bug with mem ? eating 6G from 8G - for 3x full feed shoukd get mac 2G :)

[2017-10-21 03:00] mwinter-osr commented on #1340
RPM Fixes are in as Pull Requests for all the branches. This fixes the restart, but does NOT fix the reason for the crash or failure to start it at all.
Main Fixes:
- watchfrr config on systemd referenced init.d file which didn't exist (in /etc/frr/daemon)
- Upgrade from old package to new package failed to restart frr

Pull Request #1353 for master, Pull Request #1352 for 3.0 and Pull Request #13

[2017-10-22 00:03] patrick7 commented on #1328
Tried to build FRR according to https://github.com/FRRouting/frr/blob/stable/3.0/debianpkg/README.deb_build.md.
"mk-build-deps --install debian/control" was not able to find libjson-c2. Replacing libjson-c2 with libjson-c3 in "debian/control" fixes the issue.

[2017-10-22 00:18] patrick7 commented on #987
@donaldsharp I still see the problem on release 3.0. IPv4 routes are removed but no IPv6 routes.

How do you mean that? "ip -6 route flush proto zebra" works.

[2017-10-22 07:33] mwinter-osr commented on #1328
Seems you found the instruction in the README.deb_build.md.

The control file should specifiy libjson-c2 OR libjson-c3.
Are you telling that this didn't work in your case?

[2017-10-22 12:52] patrick7 commented on #1328
Ah, I found the issue :-)
I used the release .tar.gz, but debian/backports from 3.0 in git. So I had an outdated debian/control.

[2017-10-23 11:49] patrick7 opened #1355 "Interface config: Write description to kernel"
Feature request: It would be great if FRR would write the "description" from the interface config to the kernel

Example:

Should write the following file:

or:

[2017-10-23 13:27] rwestphal commented on #1218
Fixed by #1341, thanks @chiragshah6!

[2017-10-23 13:27] #1218 closed

[2017-10-23 22:09] mwinter-osr commented on #1340
@filipecifali Any update on config or any chance to do some debug session over some screen-sharing service (Skype/Hangout/...) ?
Would love to find out what the cause of the crash or failure to start is...  Ping me on Slack.

[2017-10-24 15:12] #1343 closed

[2017-10-24 15:18] donaldsharp commented on #1355
FRR has taken the philosophy of it is in charge of routing, not interface management.  This would be a fundamental change in this philosophy and we are a bit hesitant to switch over to doing this.

[2017-10-24 15:20] k0ste commented on #1355
@patrick7 #1068 is in Feature Requests.

[2017-10-24 19:33] donaldsharp commented on #1345
@paolss - Memory leaks suck.  Can I get an output of `show memory`? `show bgp ipv4 uni summ`? ( if you want to sanitize the neighbor details that would be fine too.

[2017-10-25 00:01] donaldsharp commented on #1345
@paolss I have recreate steps:

Add the route-map with the prepend for output for a neighbor, let's look at the show mem:
[code]
Now let's run the show command:
[code]
Now let's show memory again:
[code]

[2017-10-25 01:03] donaldsharp commented on #1345
Ok PR #1360 I believe addresses this issue. @paolss please feel free to give it a whirl if you could test it out

[2017-10-25 02:36] mwinter-osr commented on #1340
[Got the config privately from Filipe - Thanks]
Retesting with the config showed no issue so far.

Please provide the following output from the system with frr 2.0 installed:
- `rpm -q -a frr` (should show exact version of the RPM package installed - or if you built your own RPM, then please provide RPM to me)
- contents of `/etc/frr/daemons` (should show which daemons are running and how)
- If yo

[2017-10-25 16:36] lucize opened #1364 "some eigrp crashes"
after today update (Convert topology list to a table)

[code]
[code]

[code]

[code]

[code]

[2017-10-26 10:05] patrick7 commented on #1190
In my test both AS34549 were in no peer group. They have disappeared after I put the AS65517 peer in the group.

[2017-10-26 11:44] djh00t commented on #1258
Thanks guys - it would be great if you could include this fix in 3.0.

[2017-10-26 11:55] louberger opened #1368 "bgpd: -S flag is broken on 3.0 (--skip_runas)"
On 3.0 only:

fixed in master in  commit ae520fc76377db38869a3b3f880c56a0a38618b2

[2017-10-26 13:16] louberger commented on #1368
fixed in PR #1369

[2017-10-26 13:16] #1368 closed

[2017-10-26 17:12] f0o commented on #1355
@donaldsharp How does an alias differ from an IP address or even IPv6 RA's and also the `(no) shutdown`?

I think adding Aliases natively is a great thing, right now I have a very ugly shell that parses the config and sets it periodically

[2017-10-26 17:49] ppmathis commented on #1130
Had the exact same issue and was clueless why the configuration is just silently being ignored. The daemon should clearly die instead, everything else leads to confusion.

[2017-10-26 18:44] patrick7 opened #1372 "Soft reconfiguration not working for IPv4"
[code]
The same is working for IPv6

Config:
[code]

[2017-10-26 21:33] qlyoung commented on #1372
This is on 3.0, I take it?

[2017-10-26 21:48] patrick7 commented on #1372
yes, 3.0

[2017-10-27 01:56] mwinter-osr opened #1373 "MAKE DIST failing because of missing file"
This is on master (does not happen on stable/3.0)

Building the dist tar without compiling the code first gives error because of missing (clippy generated?) source file:

It can be reproduced by running (from a clean checkout of master)
1) ./bootstrap.sh
2) ./configure
3) make dist

	[...]
	../ldpd/ldp_vty_cmds.c:28:38: fatal error: ldpd/ldp_vty_cmds_clippy.c: No such file or directory
	compilatio

[2017-10-27 12:11] subsecond opened #1374 "Cherry-pick PR 978 (prefix-list out issue) to 3.0 stable"
The FRR 3.0 release has a bug when using a prefix-list out on a BGP neighbor that is a member of a peer-group.

Issue has been reported here: https://github.com/FRRouting/frr/issues/977
Fix / PR has been merged here: https://github.com/FRRouting/frr/pull/978

Please cherry-pick to 3.0 stable and re-release with the fix.

[2017-10-27 13:06] donaldsharp commented on #1374
I cherry-picked the offending commit into 3.0

[2017-10-27 13:06] #1374 closed

[2017-10-27 14:12] #962 closed

[2017-10-27 16:21] patrick7 opened #1378 "show bgp peer-group"
[code]

If a name is specified, still all peer groups are shown.

v3.0

[2017-10-27 16:30] qlyoung commented on #1130
Note that while Donald's PR does enforce the untimely demise of the daemon, if you are on 3.0 configuration will still be quietly accepted. This is a long standing behavior that has been remedied and should be present in the next release.

[2017-10-27 18:45] donaldsharp commented on #1364
https://github.com/FRRouting/frr/pull/1379

[2017-10-27 18:53] lucize commented on #1364
[code]

[2017-10-27 18:55] donaldsharp commented on #1364
I just force pushed a fix for this @lucize

[2017-10-27 19:05] lucize commented on #1364
it's building with that change, I'll let you know the outcome

[2017-10-27 19:07] lucize commented on #1364
[code]

[code]

[2017-10-27 21:53] donaldsharp commented on #1364
@lucize I've pushed another fix that cleans up these crashes

[2017-10-27 22:03] lucize commented on #1364
It started, I'll let you know if there is something else
Regards

[2017-10-27 22:04] donaldsharp commented on #1364
@lucize thanks for taking the time to help me get this working

[2017-10-27 22:04] lucize commented on #1364
I think that it is my best interest too :)

[2017-10-27 22:08] lucize commented on #1364
but that loop is nasty because if it crashes then rip is taking over, but I can't do anything about the loop, only to monitor the logs and do a restart

[2017-10-27 23:19] patrick7 opened #1380 "systemctl reload frr does not work"
OS: debian 9
FRR Version: 3.0

I'm using "no service integrated-vtysh-config".

[code]
Journalctl shows

[code]
If I enable integrated-vtysh-config:
[code]

[code]

[2017-10-28 01:41] donaldsharp commented on #1355
I've implemented this: https://github.com/FRRouting/frr/pull/1381
So currently we can accept the IFLA_IFALIAS from the kernel.

[2017-10-28 10:33] #1364 closed

[2017-10-28 10:55] donaldsharp commented on #1364
I'll look at the other bug this weekend.

[2017-10-28 22:50] donaldsharp commented on #1348
@lucize I noticed 1 issue in metric handling for the state we were in.  Additionally I've added a bit more debugging to allow me to figure out what has happened.

https://github.com/FRRouting/frr/pull/1382

[2017-10-28 23:01] lucize commented on #1348
when I updated the package I got this

[code]

I have a weird subnet that I can't access from outside, but from inside, every route is working properly, maybe that one is somehow messing with the whole route list ? the client has the same config like the others (cisco 871) or I can't spot the difference, I'll try some things on that router to see if I can figure that one out, no one from that offi

[2017-10-28 23:14] donaldsharp commented on #1348
I pushed a fix for the crash on shutdown that you posted above.  If you don't plan to shutdown anytime soon there is no need to update.  I'm thinking about the new debug logs.  Currently need to investigate if we are properly putting items onto the rij list.

[2017-10-28 23:18] lucize commented on #1348
the problem with that subnet is not related to frr, it's the same if I stop the service, it will loop in another router (subnet), but as I said, from that end to another, it will work ok, I'll let you know about other subnets

[2017-10-29 11:19] lucize commented on #1348
so I attached the log when I think it started to happen, no spoke could be accessed from frr router (10.160.1.253).
[eigrp_loop.txt](https://github.com/FRRouting/frr/files/1424962/eigrp_loop.txt)

the topology is like 2 hubs, over 30 spokes, 8 spokes and the hubs also have another tunnel to one site
the frr router is wire connected to one hub and has some test clients connected to it

before resta

[2017-10-29 11:29] lucize commented on #1348
I switched from centos to ubuntu and I don't like the way frr is started by systemd and using only frr.conf.
if eigrp crash the whole frr service will be stopped after 3 retries, can it be changed like the old way,to be started by watchfrr and every daemon to have it's own conf file and run independent ?

[2017-10-29 12:05] donaldsharp commented on #1348
Looking at the query send function we are not applying https://tools.ietf.org/html/rfc7868#section-5.4.2.3 properly for sending the query.  I need to rework the send_query function.  Looking at it now.     Also looking at the crashes.

[2017-10-29 13:54] di5s1 opened #1384 "bgp ipv4 vpn best path selection rules"
Hello,

I am not sure, if it's a bug or a feature request; but I've seen the following behaviour of bgp:

I've got two main sites (Site-Left <-> Site-Right)
On each Site I've got some L3 Switches which receive a 0.0.0.0/0 from external.
these default routes are imported into a L3VPN with the same Route-Distinguisher on both sites.

In order to reflect these routes and many more prefixes to other L

[2017-10-29 14:25] louberger commented on #1384
I suggest opening an issue on this so we can track it. I or someone else
can take a look at it when they have a chance...

Lou

On October 29, 2017 9:55:28 AM di5s1 <notifications@github.com> wrote:

[2017-10-29 15:43] donaldsharp commented on #1348
I've pushed a couple fixes for the crashes.  Still need to rethink the send_query function a bit.

[2017-10-29 15:52] lucize commented on #1348
I installed, no crash for now, can you give me a hint about this, after I remove the igrp route creation from the tunnel interface is repeating with

` EIGRP: *** sendmsg in eigrp_write failed to 224.0.0.10, id 0, off 0, len 60, interface wg0, mtu 1420: Required key not available`

[2017-10-29 15:54] lucize commented on #1348
and a crash

[code]

[2017-10-29 15:55] lucize commented on #1348
[code]

[2017-10-29 16:11] lucize commented on #1348
I allowed again the igrp ip in wireguard, now is only restarting, without a crash in the log file

[code]

[2017-10-29 18:21] patrick7 opened #1385 "Max prefix limit on peer group removes individual prefix limit"
FRR 3.0 on debian 9

Config:

[code]

If I apply a maximum-prefix limit on the peer group, "neighbor 192.0.2.1 maximum-prefix 10" disappears from the IPv4 section.

It should be possible to set a prefix limit on the peer group, but also individually on a single peer which is a peer group member.

[2017-10-30 03:05] cfra commented on #1136
Compare with my suggestion to #1209

[2017-10-30 03:43] cfra commented on #1251
Reviewing the memory leaks, they fall into three categories:
a) Addresses related to adjacencies, a fix for that has already been submitted by Donald, thanks
b) Memory allocated once on startup (wontfix)
c) Addresses stored for circuits (needs fix)

A fix for c) has been submitted as PR #1386

[2017-10-30 16:05] devicenull opened #1388 "No way to match blackhole routes in a route-map"
I'm trying to suppress importing blackhole routes from the kernel into BGP (We have a setup where some IPs are being blackholed locally, but shouldn't be sent out to the rest of the network).

As far as I can tell, there's no match option in route-maps that would let me distinguish these from other routes.

An example route can be added with: `ip route add blackhole 10.0.0.1`

[2017-10-30 18:34] subsecond commented on #1385
Just ran into the exact same issue with stable/3.0 and can confirm the behavior described.
However, if one adds the max-pref setting in the address-family *after* adding a max-pref setting to the peer-group then the individual settings persist/remain.

[2017-10-31 15:11] donaldsharp commented on #1380
non integrated config is not intended to work with reload.

https://github.com/FRRouting/frr/pull/1209

Should address the Bad File descriptor error

[2017-10-31 15:15] patrick7 commented on #1380
Thanks for checking. Will test again as soon as it's merged.

[2017-10-31 15:15] patrick7 opened #1392 "SNMP with integrated config"
How is the snmp configuration done with the integrated-config?

[2017-10-31 15:17] donaldsharp commented on #1384
1) Addpath should be blocked in vpn
2) router-id should be used after the igp metric is compared

@dwalton76 can you take a look at this when you get back?

[2017-10-31 15:20] donaldsharp commented on #1388
adding an ability to check if a nexthop is a blackhole/reject/null0 route is very reasonable.

[2017-10-31 15:21] donaldsharp commented on #1392
@patrick7 I do not understand the question.  What exactly are you trying to do?  Can you show us the commands in a non-integrated config?  From our perspective we do not think there is a difference

[2017-10-31 15:23] patrick7 commented on #1392
I'm trying to enable SNMP. The documentation states that the "agentx" command needs to be inserted in each single daemon config:

https://frrouting.org/user-guide/AgentX-configuration.html#AgentX-configuration

With integrated config there is no more one config per daemon.

[2017-10-31 15:39] #1130 closed

[2017-11-01 00:23] #1258 closed

[2017-11-01 10:48] lucize commented on #1348
so with the last merge in HEAD, without the first patch I get this

[code]
and a silent restart

[code]
with
[code]

[2017-11-01 13:17] donaldsharp commented on #1392
@patrick7 so vtysh understands that multiple daemons would like to receive the `agentx` command and will auto-send it to the union of daemons running that are interested in the `agentx` command.  It will not be a problem.

[2017-11-01 13:17] #1392 closed

[2017-11-01 13:25] patrick7 commented on #1392
@donaldsharp Why is it not possible to enable this feature over vtysh? Wouldn't it be a good idea to permit that?

[2017-11-01 13:25] donaldsharp commented on #1392
it does.. and now I am confused?  What are you actually experiencing?

[2017-11-01 13:27] patrick7 commented on #1392
@donaldsharp Last time I've tried to enable SNMP, vtysh didn't accept the "agentx" command. It was necessary to edit bgpd.conf.

[2017-11-01 13:31] donaldsharp commented on #1392
``root@dell-s6000-02 ~/frr# vtysh

Hello, this is FRRouting (version 3.1+cl3u3).
Copyright 1996-2005 Kunihiro Ishiguro, et al.

dell-s6000-02# conf t
dell-s6000-02(config)#
dell-s6000-02(config)# agentx
dell-s6000-02(config)# end
dell-s6000-02# show run bgp
Building configuration...

Current configuration:
!
frr version 3.1+cl3u3
frr defaults datacenter
hostname dell-s6000-02
agentx
!
service inte

[2017-11-01 13:49] patrick7 commented on #1392
Not working on my 3.0 machine:

[code]

[2017-11-01 17:09] donaldsharp commented on #1392
@patrick7 -> Ah this was fixed by 62ff928b37da20e which is not in 3.0

[2017-11-01 17:11] patrick7 commented on #1392
@donaldsharp OK, so should I put in "agentx" to frr.conf manually until there's a stable release with the fix?

[2017-11-01 17:11] donaldsharp commented on #1392
yes please.

[2017-11-02 09:18] fatihusta opened #1394 "FRR 3.0 Centos5 rpm build"
Hello
I'am trying build frr on centos5. I have a problem.
I followed the link for building. https://github.com/FRRouting/frr/blob/master/redhat/README.rpm_build.md

[code]

1- RANLIB and Libtool problem
[code]
I added into files;
RANLIB = ranlib
LIBTOOL = libtool
LT_INIT = libtoo

Then I tried again.
2- ltmain.sh not found
[code]
I create ltmain.sh
[code]

Then I tried again.
[code]
No any error r

[2017-11-02 13:57] devicenull commented on #1394
You probably need to upgrade some packages.. if they're out of date for CentOS 6, I can't even imagine how old they are for 5: https://github.com/FRRouting/frr/blob/master/doc/Building_FRR_on_CentOS6.md

However, CentOS 5 has been EOL since early this year, perhaps you need to upgrade your OS instead?

[2017-11-02 14:04] fatihusta commented on #1394
Thanks.
I known, Centos5 is dead.  But I must build on Centos5.  :(

[2017-11-02 14:46] nskeeper opened #1395 "OSPF can't seem to summary or range asbr lsa"

[2017-11-02 15:08] nskeeper opened #1396 "Zebra doesn't seem to install host routes into the rib table like cisco, juniper or huawei routers"
If zebra rib does not save host routes, there is a problem on the network topology below:

[code]

**R1:**
[code]

**R2:**
[code]

**Question:**
[code]

[2017-11-02 17:12] donaldsharp commented on #1396
@nskeeper I am not sure exactly what you are trying to communicate.  Can you give specific show output to help illustrate your point?

[2017-11-02 17:50] patrick7 opened #1398 ""match ipv6 address prefix-len""
There should be a possibility to match IPv6 prefix length in a route map, similar to IPv4.

[2017-11-02 19:39] ppmathis opened #1399 "BGP Route-Maps - Prefix matching ignores AFI"
The current documentation does not clearly state if a prefix of a different address family will be matched against the route-map matcher **match ip(v6) address prefix-list**. I assumed that matchers are always **AND**, so I decided to go with separate route-map entries:

[code]

Later on I discovered that I had some prefixes in my routing table which should not be there, so I played around with **

[2017-11-03 06:03] nskeeper commented on #1395
Who can tell me if ospf has this capacity?

Thanks in advance.

[2017-11-03 07:58] marek-cerny opened #1401 "OSPF - conditional route advertisement"
Hello.

I am trying to configure the following scenario:
http://packetlife.net/blog/2008/dec/12/ospf-conditional-default-route-injection/

All the commands seem to be supported in FRR, but I do not see the expected behavior. According to the linked article and other sources on this topic, route-map should ensure that default route gets advertised _when necessary prefixes are present in routing tab

[2017-11-03 13:41] sybevnao opened #1402 "MPLS on Linux - traceroute ttl propagation"
Hello,

I'm currently facing some sort of issue when playing around in a testlab with FRRouting in conjunction with MPLS. I've configured OSPF as IGP between three routers in a star topology:

Core - r1|r2

LDP is configured and working, I'm seeing the MPLS labels distributed across the entire topology. I've attached linux servers to each `r1` and `r2` and further did some testing. I noticed that

[2017-11-03 14:05] donaldsharp commented on #1398
@patrick7 just this command?  Not any of the other flavors of prefix-len matching that zebra provides?

[2017-11-03 15:04] patrick7 commented on #1398
@donaldsharp Thanks for the fast implementation! :-)
I think most of IPv4 features should be available for IPv6 in the future.

[2017-11-03 16:14] cryptronic opened #1404 "BGP next-hop incorrect parsing of hop"
Hi all,

with current version of stable/3.0 branch i get the following error while setting next-hop addresses in a route-map:

Working:
`(config-route-map)#  set ip next-hop 1.1.1.1
(config-route-map)# `

Not working:
`(config-route-map)#  set ip next-hop 1.1.1.240
% nexthop address cannot be 0.0.0.0, multicast or reserved`

[2017-11-03 23:54] mwinter-osr opened #1407 "ISIS commit sha e5973ce breaks ISIS L2 neighbor formation with ANVL"
Commit sha e5973ce "isisd: fix issue with lsp queueing logic in lsp_tick" breaks many (or all) ISIS Level 2 neighbor formation.

The tester (ANVL) doesn't receive the ISIS LSP from FRR

Look at the log, I see the following differences:

## Good:
	2017/11/03 16:40:04 ISIS: ISIS-Adj (isis-test): Sending L1 LAN IIH on eth3, length 1497
	2017/11/03 16:40:06 ISIS: ISIS-Adj (isis-test): Sending L2 LAN I

[2017-11-03 23:58] paolss opened #1408 "set comm-list - no such command error with latest frr from git"
To reproduce:
Add in config:

ip community-list expanded CK-internal-community permit 1000:.*
route-map blabla-out permit 10
match community UPSTREAMS
set comm-list CK-internal-community delete

Then wr mem
exit

kill bgpd
kill zebra

and try to start

/usr/local/sbin/zebra -u root -g root -d -A 127.0.0.1 -f /usr/local/etc/Quagga.conf
/usr/local/sbin/bgpd -u root -g root -d -A 127.0.0.1 -f /usr/lo

[2017-11-04 00:35] patrick7 commented on #1399
I think I ran into the same issue.

[2017-11-04 07:00] aihfaobh opened #1409 "Why frr command "vrf NAME" donot create an active VRF directly"

[2017-11-04 15:21] rwestphal commented on #1402
Hi Florian,

Good question. I did some investigation and found out that the problem lies in the Linux kernel.

Please check this out: https://github.com/torvalds/linux/blob/v4.13/net/mpls/af_mpls.c#L374-L376

When trying to forward a labeled packets whose TTL is invalid (0 or 1), the kernel just drops it instead of sending an `ICMP Time Exceeded` message.

If you setup a line topology with 10 Linu

[2017-11-04 16:34] patrick7 commented on #1117
I'm seeing the same issue

[2017-11-06 10:32] sybevnao commented on #1402
I think the technique to return the ICMP packets by simply sending them towards the LER on the other side is also called ICMP Tunnelling in Cisco and Juniper Routers. I'm currently considering how this could be implemented in the lines you've mentioned.

[2017-11-06 12:21] rwestphal commented on #1402
I think the steps required to implement this in the Linux kernel would be something like this:
* once the TTL of the label has expired, verify if the payload is an IP packet. This involves some guesswork as there's no "correct" way to do this. What most implementations do is to check the first nibble beyond the label stack and if its value is 4 or 6 assume the payload is an IP packet;
* if we thin

[2017-11-06 12:21] #1402 closed

[2017-11-06 15:51] JuergenKammer opened #1412 ""copy running-config startup-config" does "write terminal", not "write file""
FRR 3.0, compiled from the tar ball:

The CLI of zebra, ospfd, ospf6d, and bgpd (other daemons not checked, could be the same) do "write terminal" instead of "write memory" (or "write file", which is another alias) when given "copy running-config startup-config".
Expected: "copy running-config startup-config" does "write file".

[2017-11-06 16:07] #1398 closed

[2017-11-06 18:58] donaldsharp commented on #1404
reopening to remind me to cherry-pick the code into 3.0

[2017-11-06 22:48] pogojotz commented on #1412
Hi,
I have prepared a [fix](https://github.com/pogojotz/frr/commit/b2b9c8d6856e709b8ed223660affe072deb8a4cf).
Would be great, if someone experienced could look over it.